<template>
  <div class="containers">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 16 }">
        <div class="heightclass height3">
          <!-- 标题 -->
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">服务产品营收总览</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <!-- 仪表盘 -->
          <div class="speed-center">
            <div class="speed-left" @click="onclick1('总营收')">
              <div class="speed-echar">
                <SpeedGauge2
                  :echardata="state.chartrate"
                  :echarcolor1="state.echartcolor"
                  :echarunit="state.e03"
                />
              </div>
              <div class="speed-data">
                <div class="speed-data-item">
                  <p class="circle-icon">
                    <img
                      src="../../../../styles/platformOver/icon_GMV_01.png"
                      alt="图片"
                      class="icon_GMV"
                    />
                  </p>
                  <p>
                    <span class="circle-number">{{ state.chartcurrent }}</span
                    ><b class="circle-text1">万元</b>
                    <span class="circle-text2">当前</span>
                  </p>
                </div>
                <div class="speed-data-item">
                  <p class="circle-icon">
                    <img
                      src="../../../../styles/platformOver/icon_GMV_02.png"
                      alt="图片"
                      class="icon_GMV"
                    />
                  </p>
                  <p>
                    <span class="circle-number">{{ state.chartgoal }}</span
                    ><b class="circle-text1">万元</b>
                    <span class="circle-text2">目标</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="speed-right">
              <!-- 易购营收 -->
              <div class="first">
                <div class="first-title" @click="onclick1('易购营收')">
                  <div class="first-title-left">
                    <b class="first-square square-color1"></b>
                    <span class="first-text first-text-color1">易购营收</span>
                    <span class="first-text2"
                      >占比<b class="title-number title-number-color1"
                        >{{ state.YG_YS_R }}%</b
                      ></span
                    >
                  </div>
                  <div class="first-title-right">
                    <span class="right-text"
                      >当前累计<b class="title-number title-number-color1">{{ state.YG_YS }}</b
                      ><i>万</i></span
                    >
                    <span class="first-text2"
                      >目标<b class="title-number2">{{ state.YG_YS_TGT }}</b
                      ><i>万</i></span
                    >
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(252, 107, 87, 1)',
                      '100%': 'rgba(222, 41, 41, 1)',
                    }"
                    :percent="state.YG_YS_C"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color1"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                  <div class="first-details">
                    <div class="details-item">
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg"
                            >双非采购服务营收：<b class="details-number">{{ state.CGF_YS }}</b
                            ><i>万</i> <i>占比</i
                            ><b class="details-number caret-color">{{ state.CGF_YS_R }}%</b></span
                          >
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg"
                            >供应商端服务营收：<b class="details-number">{{ state.GYS_YS }}</b
                            ><i>万</i> <i>占比</i
                            ><b class="details-number caret-color">{{ state.GYS_YS_R }}%</b></span
                          >
                        </p>
                      </div>
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color2" />
                          <span class="details-cg"
                            >多元采购服务营收：<b class="details-number">{{ state.DY_YS }}</b
                            ><i>万</i> <i>占比</i
                            ><b class="details-number caret-color">{{ state.DY_YS_R }}%</b></span
                          >
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="caret-color2" />
                          <span class="details-cg"
                            >供应商采购服务营收：<b class="details-number">{{ state.SH_YS }}</b
                            ><i>万</i> <i>占比</i
                            ><b class="details-number caret-color">{{ state.SH_YS_R }}%</b></span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 易销营收 -->
              <div class="first second-spac">
                <div class="first-title" @click="onclick1('易销营收')">
                  <div class="first-title-left">
                    <b class="first-square square-color2"></b>
                    <span class="first-text first-text-color2">易销营收</span>
                    <span class="first-text2"
                      >占比<b class="title-number title-number-color2"
                        >{{ state.YX_YS_R }}%</b
                      ></span
                    >
                  </div>
                  <div class="first-title-right">
                    <span class="right-text"
                      >当前累计<b class="title-number title-number-color2">{{ state.YX_YS }}</b
                      ><i>万</i></span
                    >
                    <span class="first-text2"
                      >目标<b class="title-number2">{{ state.YX_YS_TGT }}</b
                      ><i>万</i></span
                    >
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(90, 162, 255, 1)',
                      '100%': 'rgba(69, 115, 230, 1)',
                    }"
                    :percent="state.YX_YS_C"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color2"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                </div>
              </div>
              <!-- 零碳营收 -->
              <div class="first">
                <div class="first-title" @click="onclick1('零碳营收')">
                  <div class="first-title-left">
                    <b class="first-square square-color3"></b>
                    <span class="first-text first-text-color3">零碳营收</span>
                    <span class="first-text2"
                      >占比<b class="title-number title-number-color3"
                        >{{ state.LT_YS_R }}%</b
                      ></span
                    >
                  </div>
                  <div class="first-title-right">
                    <span class="right-text"
                      >当前累计<b class="title-number title-number-color3">{{ state.LT_YS }}</b
                      ><i>万</i></span
                    >
                    <span class="first-text2"
                      >目标<b class="title-number2">{{ state.LT_YS_TGT }}</b
                      ><i>万</i></span
                    >
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(96, 199, 88, 1)',
                      '100%': 'rgba(36, 171, 85, 1)',
                    }"
                    :percent="state.LT_YS_C"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color3"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <!-- 图表 -->
      <a-col :md="{ span: 8 }">
        <div class="heightclass height3">
          <div class="columnar-title">
            <span>{{ gmvclick.ongmvclick }}月度趋势图</span>
          </div>
          <div class="columnar-height2">
            <StackedColumnFoldMixedChart
              :legendone="state1.chart"
              :x-axis="state1.xAxis"
              :y-axis="state1.yAxis"
              :series="state1.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass">
          <div class="columnar-title">
            <span>各部门{{ gmvclick.ongmvclick }}本年完成情况</span>
          </div>
          <div class="columnar-height">
            <StackedVerticalChart
              :legendone="state2.char"
              :x-axis="state2.xAxis"
              :y-axis="state2.yAxis"
              :series="state2.series"
              @chartClick="state2onclick"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass">
          <div class="columnar-title">
            <span>{{ gmvclick.ongmvclick }}各部门月度趋势</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state3.char"
              :x-axis="state3.xAxis"
              :y-axis="state3.yAxis"
              :series="state3.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass">
          <div class="columnar-title">
            <span>{{ gmvclick.ongmvclick }}目标及完成率——{{ gmvclick.DEPT_NAME }}</span>
          </div>
          <div class="columnar-height">
            <div class="columnar-height">
              <StackedColumnFoldMixedChart
                :legendone="state4.chart"
                :x-axis="state4.xAxis"
                :y-axis="state4.yAxis"
                :series="state4.series"
              />
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, nextTick } from 'vue';
  import {
    SpeedGauge2,
    StackedColumnFoldMixedChart,
    StackedVerticalChart,
  } from '../../echartsAssembly';
  import echartoption from './js/echartoption';
  import overserver from './js/overserver';
  import { queryAggregate } from '@/api/strategyTracking';
  const state = reactive({
    e02: '78',
    e03: '%',
    echartcolor: [
      [0.3, '#FC6B57FF'],
      [0.7, '#60C758FF'],
      [1, '#5AA2FFFF'],
    ],
    chartrate: '28',
    chartcurrent: '',
    chartgoal: '',
    LT_YS: '',
    YX_YS: '',
    YG_YS: '',
    LT_YS_TGT: '',
    YX_YS_TGT: '',
    YG_YS_TGT: '',
    LT_YS_C: '',
    YX_YS_C: '',
    YG_YS_C: '',
    LT_YS_R: '',
    YX_YS_R: '',
    YG_YS_R: '',
    CGF_YS_R: '',
    CGF_YS: '',
    GYS_YS_R: '',
    GYS_YS: '',
    DY_YS_R: '',
    DY_YS: '',
    SH_YS_R: '',
    SH_YS: '',

    ANNUAL_FINISH_RATE: 0,
    CURYEAR_PRFM: 0,
    CURYEAR_ANNUAL_TARGET_VALUE: 0,
    JC_GMV_R: 0,
    JC_GMV: 0,
    DY_GMV_R: 0,
    DY_GMV: 0,
    SH_GMV_R: 0,
    SH_GMV: 0,
  });
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const gmvclick = reactive({
    ongmvclick: '总营收',
    DEPT_NAME: '',
  });

  //保留一位有效小数
  const Xiaoshu1 = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(1);
      return datatext;
    }
  };
  const IntData = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseInt(text);
      return datatext;
    }
  };

  // 仪表盘接口 2023062110272731

  const serviceChart = () => {
    queryAggregate(overserver.parameter('YM', props.yearMonth, '2023062110272731')).then((r) => {
      const data = r.data[2023062110272731].dataMap;
      state.chartrate = data.ANNUAL_FINISH_RATE;
      state.chartcurrent = IntData(data.CURYEAR_PRFM[0]);
      state.chartgoal = IntData(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
      state.LT_YS = IntData(data.LT_YS[0]);
      state.YX_YS = IntData(data.YX_YS[0]);
      state.YG_YS = IntData(data.YG_YS[0]);
      state.LT_YS_TGT = IntData(data.LT_YS_TGT[0]);
      state.YX_YS_TGT = IntData(data.YX_YS_TGT[0]);
      state.YG_YS_TGT = IntData(data.YG_YS_TGT[0]);
      state.LT_YS_C = Xiaoshu1(data.LT_YS_C[0]);
      state.YX_YS_C = Xiaoshu1(data.YX_YS_C[0]);
      state.YG_YS_C = Xiaoshu1(data.YG_YS_C[0]);
      state.YG_YS_R = Xiaoshu1(data.YG_YS_R[0]);
      state.YX_YS_R = Xiaoshu1(data.YX_YS_R[0]);
      state.LT_YS_R = Xiaoshu1(data.LT_YS_R[0]);
    });
  };
  // 易购营收item

  const revenueYG = () => {
    queryAggregate(overserver.parameter('YM', props.yearMonth, '2023062113373731')).then((r) => {
      const data = r.data[2023062113373731].dataMap;
      state.CGF_YS = IntData(data.CGF_YS[0]);
      state.GYS_YS = IntData(data.GYS_YS[0]);
      state.DY_YS = IntData(data.DY_YS[0]);
      state.SH_YS = IntData(data.SH_YS[0]);
      state.CGF_YS_R = Xiaoshu1(data.CGF_YS_R[0]);
      state.GYS_YS_R = Xiaoshu1(data.GYS_YS_R[0]);
      state.DY_YS_R = Xiaoshu1(data.DY_YS_R[0]);
      state.SH_YS_R = Xiaoshu1(data.SH_YS_R[0]);
    });
  };
  const state1 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  const query1 = () => {
    queryAggregate(
      overserver.parameter3(
        'YM',
        props.yearMonth,
        2023062113373732,
        'PROD_TARGET_PROJ',
        gmvclick.ongmvclick,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062113373732].dataMap;
      state1.xAxis = dataMap.YM;
      state1.series = echartoption.echarts(
        dataMap.CURMONTH_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };

  const state2 = reactive({
    char: ['目标', '当前', '进度目标'],
    xAxis: [{ type: 'value', name: '万元' }],
    yAxis: [],
    series: [],
  });
  const query2 = () => {
    queryAggregate(
      overserver.parameter2(
        'YM',
        props.yearMonth,
        2023062113373733,
        'PROD_TARGET_PROJ',
        gmvclick.ongmvclick,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062113373733].dataMap;
      state2.yAxis = dataMap.DEPT_NAME;
      state2.series = echartoption.echarts01(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE,
        dataMap.CURYEAR_PRFM,
        dataMap.ANNUAL_FINISH_RATE,
        dataMap.CURYEAR_TARGET,
        dataMap.CURYEAR_CPLTRATE,
      );
      gmvclick.DEPT_NAME = dataMap.DEPT_NAME[0];
      query4();
    });
  };

  const state4 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  const query4 = () => {
    queryAggregate(
      overserver.parameter4(
        'YM',
        props.yearMonth,
        2023062113373734,
        'PROD_TARGET_PROJ',
        gmvclick.ongmvclick,
        'DEPT_NAME',
        gmvclick.DEPT_NAME,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062113373734].dataMap;
      state4.xAxis = dataMap.YM;
      state4.series = echartoption.echarts02(
        dataMap.CURMONTH_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };
  const state3 = reactive({
    char: [],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }],
    series: [],
  });
  const query3 = () => {
    queryAggregate(
      overserver.parameter3(
        'YM',
        props.yearMonth,
        2023062113373734,
        'PROD_TARGET_PROJ',
        gmvclick.ongmvclick,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062113373734].dataMap;
      const data = result.data[2023062113373734].data;
      const dateser = overserver.echartserver(dataMap.DEPT_NAME, dataMap.YM, data, 2, 3);
      state3.series = dateser.series;
      state3.char = dateser.char;
      state3.xAxis = dateser.xAxis;
    });
  };

  // 点击事件
  const onclick1 = (PROD_TARGET_PROJ) => {
    gmvclick.ongmvclick = PROD_TARGET_PROJ;
    query1();
    query2();
    query3();
  };

  const state2onclick = (params) => {
    gmvclick.DEPT_NAME = params.name;
    query4();
  };
  const gmvInitialloading = () => {
    nextTick(() => {
      serviceChart();
      revenueYG();
      query1();
      query2();
      query3();
    });
  };

  defineExpose({
    gmvInitialloading,
  });
</script>

<style lang="less" scoped>
  @import '../components/css/overstyle.less';
  .columnar-height2 {
    height: 348px;
  }
  .height3 {
    height: 408px;
  }
</style>
