<template>
  <div class="compositeField">
    <div class="compoundContent">
      <div class="add-group">
        <a-button
          v-if="editEnabled"
          type="link"
          class="filter-node-btn"
          style="justify-content: end"
          @click="addFields"
        >
          <template #icon><PlusCircleOutlined /></template>
          添加字段
        </a-button>
      </div>

      <div v-if="state.fiveList.length > 0" class="field">
        <div v-for="(item, index) in state.fiveList" :key="item.key" class="sonField">
          <fieldset>
            <legend>新增字段{{ index + 1 }}</legend>
            <div class="addIns" style="display: flex">
              <a-card size="small" style="width: 35%; flex: none">
                <a-form :model="item">
                  <a-form-item
                    label="字段名称"
                    :label-col="{ span: 5 }"
                    :wrapper-col="{ span: 21 }"
                  >
                    <a-input
                      v-model:value="item.colAli"
                      placeholder="新增字段名"
                      style="width: 270px"
                      :max-length="32"
                      :disabled="!editEnabled"
                      @change="onAliChange(item.key, $event)"
                    >
                    </a-input>
                  </a-form-item>
                  <a-form-item
                    label="字段类型"
                    :label-col="{ span: 5 }"
                    :wrapper-col="{ span: 21 }"
                  >
                    <a-select
                      v-model:value="item.columnType"
                      placeholder="请选择字段类型"
                      :allow-clear="true"
                      :disabled="!editEnabled"
                      style="width: 270px"
                    >
                      <a-select-option
                        v-for="(i, key) in state.fieldType"
                        :key="key"
                        :value="i.value"
                      >
                        {{ i.label }}
                      </a-select-option>
                    </a-select>
                  </a-form-item>
                  <a-form-item
                    v-for="(t, i) of item.itemList"
                    :key="t.key"
                    :label="`C${i + 1}`"
                    :label-col="{ span: 5 }"
                    :wrapper-col="{ span: 21 }"
                  >
                    <data-set-cascade
                      :width="270"
                      :field-type="['1', '2', '3']"
                      :default-value="[
                        t.field && t.field.tabId > 0 ? t.field.tabId : '',
                        t.field && t.field.colId > 0 ? t.field.colId : '',
                      ]"
                      :change-on-select="false"
                      @on-data-set-change="onDataSetChange(item.key, t.key, i, $event)"
                    >
                    </data-set-cascade>
                    <template v-if="editEnabled">
                      <template v-if="i == 0">
                        <PlusCircleOutlined
                          type="plus-circle"
                          class="filter-del filter-del1"
                          theme="outlined"
                          @click="addItem(item.key)"
                        />
                      </template>
                      <template v-else>
                        <MinusCircleOutlined
                          type="plus-circle"
                          class="filter-del filter-del1"
                          theme="outlined"
                          @click="deleteIns(item.key, t.key)"
                        />
                      </template>
                    </template>
                  </a-form-item>
                </a-form>
                <!-- <div style="display: flex; align-items: center; margin-bottom: 5px">
                  <span class="fieldLabel">字段名称：</span>
                  <a-input
                    v-model:value="item.colAli"
                    placeholder="新增字段名"
                    style="width: 300px"
                    :max-length="32"
                    :disabled="!editEnabled"
                    @change="onAliChange(item.key, $event)"
                  >
                  </a-input>
                </div>
                <a-row style="align-items: center; margin-bottom: 5px">
                  <span>字段类型：</span>
                  <a-select
                    v-model:value="item.columnType"
                    placeholder="请选择字段类型"
                    :allow-clear="true"
                    :disabled="!editEnabled"
                    style="width: 300px"
                  >
                    <a-select-option
                      v-for="(i, key) in state.fieldType"
                      :key="key"
                      :value="i.value"
                    >
                      {{ i.label }}
                    </a-select-option>
                  </a-select>
                </a-row>
                <a-row v-for="(t, i) in item.itemList" :key="t.key">
                  <a-col :md="12" :sm="24" style="display: flex; align-items: center">
                    <span class="fieldLabel">C{{ i + 1 }}:</span>
                    <data-set-cascade
                      :width="300"
                      :field-type="['1', '2', '3']"
                      :default-value="[
                        t.field && t.field.tabId > 0 ? t.field.tabId : '',
                        t.field && t.field.colId > 0 ? t.field.colId : '',
                      ]"
                      :change-on-select="false"
                      @on-data-set-change="onDataSetChange(item.key, t.key, i, $event)"
                    >
                    </data-set-cascade>
                    <template v-if="editEnabled">
                      <template v-if="i == 0">
                        <PlusCircleOutlined
                          type="plus-circle"
                          class="filter-del"
                          theme="outlined"
                          @click="addItem(item.key)"
                        />
                      </template>
                      <template v-else>
                        <MinusCircleOutlined
                          type="plus-circle"
                          class="filter-del"
                          theme="outlined"
                          @click="deleteIns(item.key, t.key)"
                        />
                      </template>
                    </template>
                  </a-col>
                </a-row> -->
              </a-card>
              <a-card size="small" style="width: 62%; margin-left: 10px; flex: none">
                <a-radio-group
                  v-model:value="item.expType"
                  :disabled="!editEnabled"
                  style="margin-top: 10px"
                  @change="onChange(item.key, $event)"
                >
                  <a-row>
                    <a-radio :value="1"
                      >基础模式
                      <br />
                      <a-textarea
                        v-model:value="item.colExp"
                        :disabled="!editEnabled || item.expType != 1"
                        style="width: 300px; margin-top: 10px"
                        placeholder="请输入表达式,如:(C1*C2-C3+C4)/C5"
                        :rows="3"
                        @change="onDescChange(item.key, $event)"
                      />
                    </a-radio>
                  </a-row>

                  <a-row>
                    <a-radio :value="2"
                      >自定义模式<br />
                      <div>
                        <span>规则：</span>
                        <span>(加,减,乘,除,CASE WHEN)</span>
                        <a-tooltip :title="state.sqlTip">
                          <InfoCircleOutlined class="filter-del"></InfoCircleOutlined
                        ></a-tooltip>
                      </div>
                      <a-row>
                        <a-textarea
                          :id="`textarea${index}`"
                          v-model:value="item.colExp"
                          :disabled="!editEnabled || item.expType != 2"
                          placeholder="设置新字段规则,支持SQL 语法与函数"
                          :rows="4"
                        />
                        <div class="btnAll">
                          <div
                            v-for="(v, i) in state.btns"
                            :key="i"
                            class="btn"
                            :style="{
                              cursor: item.expType != 2 ? 'no-drop' : 'pointer',
                            }"
                            @click="
                              item.expType == 2 &&
                                setBtnval(index, item.colExp, v.value, `textarea${index}`)
                            "
                            >{{ v.value }}</div
                          >
                          <a-button
                            style="margin-top: 8px"
                            type="primary"
                            :loading="state.loading"
                            :disabled="!editEnabled || item.expType != 2"
                            @click="SqlDetection(index, item.colAli, item.colExp)"
                            >SQL检测</a-button
                          >
                        </div>
                      </a-row>
                      <div
                        >示例：DAYS(TO_DATE(LEFT(<span style="color: red">t1.A_DATE</span
                        >,8),'YYYYMMDD'))-DAYS(TO_DATE(LEFT(<span style="color: red">t1.B_DATE</span
                        >,8),'YYYYMMDD'))</div
                      >
                    </a-radio>
                    <!-- <myCode @change-textarea="changeTextarea(index)" /> -->
                  </a-row>
                </a-radio-group>
              </a-card>
            </div>
            <div v-if="editEnabled" class="add-value-item">
              <div
                class="add-value-item-row"
                style="color: red; font-size: 15px"
                @click="removeField(item.key)"
              >
                <MinusCircleOutlined type="plus-circle" theme="outlined" />
                <span style="color: red; font-size: 15px; margin-left: 5px">移除新增字段</span>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { inject, nextTick, reactive, watch } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import {
    PlusCircleOutlined,
    MinusCircleOutlined,
    InfoCircleOutlined,
  } from '@ant-design/icons-vue';
  import { message as $message } from 'ant-design-vue';
  import DataSetCascade from './DataSetCascade.vue';
  import dict from '@/utils/dict.js';
  import { guid } from '@/utils/guid';
  import { getSqlInfo, getSqlParamTest } from '@/api/userAnalyze/chartConfigurations';
  interface MyData {
    arithmetic: Array<any>;
    fiveList: Array<any>;
    value: number;
    select: any;
    inputAli: any;
    inputDesc: any;
    fieldType: any;
  }
  defineOptions({
    name: 'CompositeField',
  });
  const editEnabled = inject('editEnabled');
  // const editFlag = inject('editFlag');
  const props = defineProps({
    defaultValue: { type: Array, default: () => [] },
    selectDataTables: { type: Array, default: () => [] },
  });
  const emit = defineEmits(['noticeExp', 'getTableRelationList']);
  const state = reactive<MyData>({
    fieldType: dict.getKeyValueByDictCode('fieldType'),
    arithmetic: [
      { key: '1', value: '加' },
      { key: '2', value: '减' },
      { key: '3', value: '乘' },
      { key: '4', value: '除' },
    ],
    fiveList: [],
    value: 1,
    select: {},
    inputAli: {},
    inputDesc: {},
    btns: [
      { value: '+' },
      { value: '-' },
      { value: '*' },
      { value: '/' },
      { value: '(' },
      { value: ')' },
    ],
    resultRelation: [],
    sqlTip: `常用SQL示例：
      1.计算日期相差天数：
      DAYS(TO_DATE(LEFT( T668.VERIFI_DATE,8),'YYYYMMDD')) - DAYS(TO_DATE(LEFT(T668.PROC_SCHEME_APPROVE_DATE,8),'YYYYMMDD'))
      ，其中T668.VERIFI_DATE 为表字段
      2.常用函数：LEFT、RIGHT、LENGTH、MAX、MIN  使用说明
      https://www.ibm.com/docs/en/db2/10.1.0?topic=functions-scalar
      3.CASE WHEN 示例：
      CASE
      WHEN col_1 IN ( 'a', 'b') THEN '第一类'
      WHEN col_1 IN ('a') THEN '第二类'
      ELSE'其他'
      END；

      CASE
      WHEN sex = '1' THEN '男'
      WHEN sex = '2' THEN '女'
      ELSE '其他'
      END
      `,
  });
  const setBtnval = (index, colExp, val, id) => {
    const textAreaElement = document.getElementById(id);
    const curVal = textAreaElement.value;
    const start = textAreaElement.selectionStart;
    const end = textAreaElement.selectionEnd;
    // textAreaElement.value = curVal.substring(0, start) + val + curVal.substring(end);
    state.fiveList[index].colExp = textAreaElement.value;
    state.fiveList = cloneDeep(
      state.fiveList.map((x, xIndex) => {
        if (index === xIndex) {
          x['colExp'] = curVal.substring(0, start) + val + curVal.substring(end);
        }
        return x;
      }),
    );
  };
  const getTab = (resultRelation) => {
    state.resultRelation = resultRelation;
  };
  const SqlDetection = async (index, colAli, colExp) => {
    let colExpStr = '';
    if (colExp.toUpperCase().indexOf('DISTINCT') != -1) {
      colExpStr = colExp.trim();
    } else {
      colExpStr = `(${colExp.trim()})`;
    }
    const datatableList = cloneDeep(props.selectDataTables);
    datatableList.forEach((v) => {
      v.tableColumnList = [];
      v.tableScheme = v.tableSchema;
    });
    emit('getTableRelationList');
    const params = {
      tableRelationList: state.resultRelation,
      datatableList,
      compositeColumnList: [
        {
          colExp: colExpStr,
          colAli,
        },
      ],
    };
    state.loading = true;
    const data = await getSqlInfo(params);
    if (data.data) {
      const datasource = {
        type: '5sAPI',
        config: {
          apiUrl: 'http://eplat.obei.com.cn/base-service/service/S_BE_AS_03',
          resProjectEname: 'BWDH',
          resAppEname: 'bwdh-data-yx',
          schemaProviderRegistryUrl:
            'http://eplat.obei.com.cn/xdata-standard-admin/service/S_BE_DG_2111',
        },
      };
      const params = {
        datasource,
        query: {
          sql: data.data.sqlStr,
        },
      };
      const res = await getSqlParamTest(params);
      if (res.code != 'OK') {
        state.loading = false;
        $message.error('SQL验证失败');
      } else {
        $message.success(res.data);
        state.loading = false;
      }
    } else {
      state.loading = false;
      $message.error('网络链接有误~');
    }
  };
  const onAliChange = (group, e) => {
    let val = e.target.value.replace(/[^a-zA-Z0-9\u4E00-\u9FA5]/g, '');
    if (!isNaN(val)) {
      val = '';
    }
    const index = state.fiveList.findIndex((x) => x.colAli === val);
    if (index >= 0) {
      // $message.error('命名不符合规范');
    } else {
      const temp = state.fiveList.find((x) => x.key === group);
      if (temp) {
        temp.colAli = val;
      }
      e.target.value = val;
    }
  };
  const onDescChange = (group, e) => {
    const temp = state.fiveList.find((x) => x.key === group);
    if (temp) {
      temp.colExp = e.target.value;
    }
  };
  const onSelect = (group, key, e) => {
    const select = state.select[group][key];
    if (select) {
      select.value = e;
    }
    // const temp = state.fiveList.find((x) => x.key === group);
    // console.log('32323', temp);
    // if (temp) {
    //   temp.colExp = ''
    // }
  };
  // 添加项
  const addItem = (index) => {
    const temp = state.fiveList.find((x) => x.key === index);
    if (temp) {
      if (temp.itemList.length < 5) {
        const key = guid();
        temp.itemList.push({
          key: `${key}`,
          field: {
            colCname: '',
            colId: 0,
            colName: '',
            identity: '',
            tabCname: '',
            tabId: 0,
            tabName: '',
          },
        });
        const hasOwnProperty = Object.hasOwn(state.select, index);
        if (hasOwnProperty) {
          state.select[index].push({ key, value: '1' });
        }
      } else {
        $message.error('最多支持5项');
      }
    }
  };
  // 删除项
  const deleteIns = (group, key) => {
    const temp = state.fiveList.find((x) => x.key === group);
    if (temp) {
      const index = temp.itemList.findIndex((x) => x.key === key);
      if (index > -1) {
        temp.itemList.splice(index, 1);
        state.select[group].splice(index, 1);
      }
      if (temp.itemList.length == 0) {
        const idx = state.fiveList.findIndex((x) => x.key === group);
        if (idx > -1) {
          state.fiveList.splice(idx, 1);
        }
      }
    }
    // console.log(state.fiveList);
  };
  // 添加字段
  const addFields = () => {
    if (state.fiveList.length < 5) {
      const key = guid();
      const key1 = guid();
      const key2 = guid();
      const key3 = guid();
      const key4 = guid();
      const key5 = guid();
      state.fiveList.push({
        key: `r-${key}`,
        itemList: [
          {
            key: `${key1}`,
            field: {
              colCname: '',
              colId: 0,
              colName: '',
              identity: '',
              tabCname: '',
              tabId: 0,
              tabName: '',
            },
          },
          {
            key: `${key2}`,
            field: {
              colCname: '',
              colId: 0,
              colName: '',
              identity: '',
              tabCname: '',
              tabId: 0,
              tabName: '',
            },
          },
          {
            key: `${key3}`,
            field: {
              colCname: '',
              colId: 0,
              colName: '',
              identity: '',
              tabCname: '',
              tabId: 0,
              tabName: '',
            },
          },
          {
            key: `${key4}`,
            field: {
              colCname: '',
              colId: 0,
              colName: '',
              identity: '',
              tabCname: '',
              tabId: 0,
              tabName: '',
            },
          },
          {
            key: `${key5}`,
            field: {
              colCname: '',
              colId: 0,
              colName: '',
              identity: '',
              tabCname: '',
              tabId: 0,
              tabName: '',
            },
          },
        ],
        colAli: '',
        colExp: '',
        expDesc: [],
        expType: 2,
        columnType: '',
      });
      // Object.assign(state.select,{`r-${key}`:[]})
      state.select[`r-${key}`] = [];
    } else {
      $message.error('最多支持5个字段');
    }
  };
  // 移除字段
  const removeField = (key) => {
    const index = state.fiveList.findIndex((x) => x.key === key);
    if (index > -1) {
      state.fiveList.splice(index, 1);
    }
  };
  const onChange = (key, e) => {
    const value = e.target.value;
    const node = state.fiveList.find((x) => x.key === key);
    if (node) {
      node.expType = value;
    }
    node.colExp = '';
  };
  const onDataSetChange = (groupKey, key, index, e) => {
    // console.log(e);
    if (e.length > 1) {
      if (['1', '2', '3'].includes(e[1].newType)) {
        const list = cloneDeep(state.fiveList);
        const node = list.find((x) => x.key === groupKey);
        if (node) {
          const temp = node.itemList.find((x) => x.key === key);
          if (temp) {
            temp.field = {
              colCname: e[1].cName,
              colId: e[1].id,
              identity: `C${index + 1}`,
              colName: e[1].name,
              tabCname: e[0].cName,
              tabId: e[0].id,
              tabName: e[0].name,
              newType: e[1].newType,
              colType: e[1].type,
            };
            const _str = `T${temp.field.tabId}.${temp.field.colName}\n`;
            if (node.expType == '2') {
              node.colExp = cloneDeep(node.colExp + _str);
            }
          }
        }
        state.fiveList = cloneDeep(list);
      } else {
        $message.warning('请选择数字类型字段');
      }
    }
  };
  // 获取结果
  const getResult = () => {
    const result = { code: 0, msg: '', data: null };
    const list: any = [];
    // console.log('CompositeField', state.fiveList);
    const colAliSet = new Set();
    state.fiveList.forEach((x) => {
      const temps: any = [];
      if (x.columnType == '' || x.columnType == null) {
        result.msg = '请完善新增字段类型';
      }
      let flag = false;
      x.itemList.forEach((y) => {
        if (y.field && y.field.colId > 0) {
          temps.push(y.field);
          flag = true;
        } else {
          // result.msg = '请完善未指定选项的新增字段';
        }
      });
      if (!flag) result.msg = '请完善未指定选项的新增字段';

      const expDesc: any = [];
      const select = state.select[x.key];
      select.forEach((x) => {
        expDesc.push(x.value);
      });
      if (x.colExp == '') {
        result.msg = '请完善新增字段表达式';
      }
      if (x.colAli.length <= 0) {
        result.msg = '请完善新增字段别名';
      }
      list.push({
        baseColList: temps,
        colAli: x.colAli,
        colExp: x.colExp,
        expDesc,
        expType: x.expType,
        columnType: x.columnType,
      });
      colAliSet.add(x.colAli);
    });
    if (colAliSet.size != state.fiveList.length) {
      result.msg = '新增字段存在相同别名';
    }
    if (result.msg.length === 0) {
      result.code = 1;
      result.data = list;
    }
    return result;
  };
  // 操作符转换
  const convertOp = (val) => {
    if (val === '1') {
      return '+';
    } else if (val === '2') {
      return '-';
    } else if (val === '3') {
      return '*';
    } else if (val === '4') {
      return '/';
    } else {
      return '';
    }
  };

  watch(
    () => props.defaultValue,
    (defaultValue) => {
      // console.log('compositefield.defaultValue', defaultValue);
      const selects = defaultValue as Array<any>;
      if (selects && selects.length > 0) {
        state.fiveList.length = 0;
        const cs: any = [];
        selects.forEach((x) => {
          const ts: any = [];
          const options: any = [];
          if (x.baseColList && x.baseColList.length > 0) {
            const arr = x.baseColList;
            if (x.expType === 2) {
              for (let i = 0; i < arr.length; i++) {
                const y = arr[i];
                const key = guid();
                ts.push({
                  key: `${key}`,
                  field: {
                    colCname: y.colCname,
                    colId: y.colId,
                    colName: y.colName,
                    identity: y.identity,
                    tabCname: y.tabCname,
                    tabId: y.tabId,
                    tabName: y.tabName,
                    colType: y.colType,
                  },
                });
              }
            } else {
              for (let i = 0; i < arr.length; i++) {
                const y = arr[i];
                const key = guid();
                ts.push({
                  key: `${key}`,
                  field: {
                    colCname: y.colCname,
                    colId: y.colId,
                    colName: y.colName,
                    identity: y.identity,
                    tabCname: y.tabCname,
                    tabId: y.tabId,
                    tabName: y.tabName,
                    colType: y.colType,
                  },
                });
                if (i < arr.length - 1) {
                  options.push({ key, value: x.expDesc[i] });
                }
              }
            }
          }
          const groupKey = `r-${guid()}`;
          cs.push({
            key: groupKey,
            itemList: ts,
            colAli: x.colAli,
            colExp: x.colExp,
            expType: parseInt(x.expType),
            expDesc: x.expDesc,
            columnType: x.columnType,
          });
          nextTick(() => {
            state.select[groupKey] = options;
          });
        });
        // console.log('CompositeField.default', cs);
        nextTick(() => {
          state.fiveList = cs;
        });
      }
    },
    {
      deep: true,
      immediate: true,
    },
  );
  watch(
    () => state.fiveList,
    () => {
      if (Object.keys(state.select).length > 0) {
        emit('noticeExp');
      }
    },
    { deep: true },
  );
  watch(
    () => state.select,
    () => {
      if (Object.keys(state.select).length > 0) {
        emit('noticeExp');
      }
    },
    { deep: true },
  );
  defineExpose({
    getResult,
    getTab,
  });
</script>

<style lang="less" scoped>
  .compositeField {
    .compoundContent {
      min-height: 32px;
      width: 100%;
      padding-left: 10px;
      border: 1px solid #d9d9d9;

      .add-group {
        display: flex;
        height: 32px;
        padding-right: 5px;
        justify-content: right;
        align-items: center;
      }

      .add-value-item {
        display: flex;
        justify-content: flex-end;

        .add-value-item-row {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 20px;
          cursor: pointer;
          padding-right: 5px;
          margin-right: 10px;
          margin-bottom: 5px;
        }
      }

      .field {
        overflow: hidden;
        overflow-y: scroll;
        max-height: 500px;

        .sonField {
          // height: 389px;
          margin-bottom: 10px;
          // color: #0066ff;

          .addIns {
            padding-left: 20px;

            .ant-row {
              padding: 5px 0 5px 0;
            }

            .value-entry {
              font-size: 16px;
              color: #3d3d3d;
            }

            .fieldLabel {
              font-size: 14px;
              color: #000;
              margin-right: 8px;
            }

            .filter-del {
              font-size: 20px;
              margin-left: 13px;
              color: #0066ff;
            }
            .filter-del1 {
              position: absolute;
              right: 0;
              top: 6px;
              font-size: 20px;
              margin-left: 13px;
              color: #0066ff;
            }
          }
        }
      }
    }

    .filter-node-btn {
      font-family: SourceHanSansCN-Regular;
      font-size: 14px;
      font-weight: normal;
      display: flex;
      align-items: baseline;
      margin-left: 1px;

      span {
        font-size: 20px;
      }
    }

    fieldset {
      border: 1px solid #d9d9d9;
      border-radius: 5px;
    }

    legend {
      width: auto !important;
      font-size: 14px;
      font-weight: bold;
      margin-left: 20px;
    }
  }
  /deep/ .ant-form-item {
    margin: 0;
  }
  .btnAll {
    display: flex;
    .btn {
      background: #eee;
      line-height: 30px;
      width: 30px;
      height: 30px;
      margin-top: 9px;
      margin-right: 10px;
      border-color: transparent;
      text-align: center;
      cursor: pointer;
    }
  }
</style>
