<template>
  <div>
    <a-form-item>
      <Cascader
        v-model:value="state.value"
        :disabled="!editEnabled"
        placeholder="请选择"
        :change-on-select="changeOnSelect"
        :style="state.style"
        :field-names="{ label: 'cName', value: 'id', children: 'items' }"
        :options="state.options"
        :show-search="{ filter }"
        @change="onDataSetChange"
        @mouseenter="mouseEnter"
        @mouseleave="mouseLeave"
      /> </a-form-item
  ></div>
</template>

<script setup lang="tsx">
  import { inject, nextTick, onMounted, reactive, watch } from 'vue';
  import { Cascader } from 'ant-design-vue';
  import type { ShowSearchType } from 'ant-design-vue/es/cascader';
  interface MyState {
    options: Array<any>;
    tooltip: string;
    visible: boolean;
    value: Array<any>;
    style: any;
  }
  defineOptions({
    name: 'DataSetCascade',
  });
  const dataSet = inject('dataSet', []) as Array<any>;
  const editEnabled = inject('editEnabled', true) as boolean;
  // const editFlag = inject('editFlag') as boolean;
  const compositeFields = inject('compositeFields', []) as Array<any>;
  const props = defineProps({
    changeOnSelect: {
      type: Boolean,
      default: true,
    },
    width: Number,
    allowCompositeFields: {
      // 配合this.compositeFields()方法一起使用
      type: Boolean,
      default: false,
    },
    defaultValue: Array,
    fieldType: Array, // 限定类型 1文本 2数字 3时间
    left: Boolean,
  });
  const emit = defineEmits(['onDataSetChange', 'onValueChange']);
  const state = reactive<MyState>({
    options: [],
    tooltip: '',
    visible: false,
    value: [],
    style: {
      width: '140px',
    },
    // editEnabled: this.editEnabled
  });

  const init = () => {
    if (props.width > 0) {
      state.style = {
        width: `${props.width}px`,
      };
    } else {
      state.style = {
        width: '140px',
      };
    }
  };
  const convertOptions = () => {
    const list: any = [];
    if (dataSet.value && dataSet.value != undefined) {
      dataSet.value.forEach((x) => {
        if (!(props.left && x.id == '99999999999999')) {
          const items: any = [];
          if (x && x.columnsList && x.columnsList.length > 0) {
            let temps = x.columnsList;
            if (props.fieldType && props.fieldType.length > 0) {
              temps = x.columnsList.filter((x) => props.fieldType?.includes(x.newType));
            }
            temps.forEach((y) => {
              items.push({
                name: y.columnName,
                cName: y.columnCname,
                id: y.id,
                type: y.type,
                newType: y.newType,
                items: false,
              });
            });
            list.push({
              name: x.tableName,
              cName: x.tableCname,
              id: x.id,
              type: '',
              newType: '',
              items,
            });
          }
        }
      });

      //复合字段
      if (props.allowCompositeFields) {
        // console.log(22222222111, compositeFields.value, state.value);
        const columnsList: any = [];
        compositeFields.value.forEach((x) => {
          columnsList.push({
            name: x.colExp,
            cName: x.colAli, //'composite_column',
            id: x.colAli,
            type: 'composite',
            newType:
              x.columnType == 'VARCHAR'
                ? '1'
                : x.columnType == 'DECIMAL'
                ? '2'
                : x.columnType == 'DATE'
                ? '3'
                : '1',
            items: false,
          });
        });
        if (columnsList.length > 0) {
          list.push({
            name: 'X9999999',
            cName: '新增字段',
            id: 9999999,
            type: '',
            newType: '1',
            items: columnsList,
          });
          state.value = [];
        }
      }
    }
    state.options = list;
    if (
      props?.defaultValue &&
      props?.defaultValue?.length > 0 &&
      `${props?.defaultValue[0]}` != ''
    ) {
      state.value = props.defaultValue;
    }
  };
  /**
   * 选择时触发事件，返回数组，0位置table信息，1位置字段信息
   * @param value
   * @param option
   */
  const onDataSetChange = (value, option) => {
    if (option && option != undefined) {
      state.tooltip = option.map((o) => o.cName).join('/');
      emit('onDataSetChange', option);
    } else {
      state.tooltip = '';
      emit('onDataSetChange', []);
    }
    state.value = value;
  };
  /**
   * 值发生改变时回调
   */
  const onValueChange = () => {
    emit('onValueChange', state.value);
  };
  // 移入
  const mouseEnter = () => {
    if (state.tooltip.length > 0) {
      state.visible = true;
    } else {
      state.visible = false;
    }
  };
  // 移出
  const mouseLeave = () => {
    state.visible = false;
  };
  const filter: ShowSearchType['filter'] = (inputValue, path) => {
    return path.some(
      (option) =>
        option.items === false && option.cName.toLowerCase().indexOf(inputValue.toLowerCase()) > -1,
    );
  };
  onMounted(() => {
    init();
    // convertOptions();
    // editState
  });
  watch(
    () => dataSet.value,
    (v) => {
      // 监听数据集变化，更新tooltip
      const tableIds = v.map((x) => x.id);
      if (props.allowCompositeFields) {
        //此处作用是为了回显时可选中复合字段
        tableIds.push(9999999);
      }
      if (tableIds && tableIds.length >= 0 && state.value.length > 0) {
        if (tableIds.length === 0) {
          state.value.length = 0;
        } else {
          const index = tableIds.findIndex((x) => x === state.value[0]);
          if (index < 0) {
            state.value.length = 0;
          }
        }
      } else {
        state.value.length = 0;
      }
      convertOptions();
    },
    {
      deep: true,
      immediate: true,
    },
  );
  watch(
    () => compositeFields.value,
    (v, o) => {
      nextTick(() => {
        if (state.value.length === 2) {
          const temp0 = state.value[0];
          const temp1 = state.value[1];
          const b = o.some((x) => x.colAli === temp1 && temp0 === 9999999);
          if (b) {
            state.value.pop();
          }
        }
        convertOptions();
      });
    },
    { deep: true },
  );
  watch(
    () => props.defaultValue,
    (v) => {
      // console.log(2222222, v);
      if (v.length > 0 && `${v[0]}` != '') {
        state.value = v;
      }
    },
  );
  watch(
    () => state.value,
    () => {
      // console.log('22111111211112222', v);
      onValueChange();
    },
    { deep: true, immediate: true },
  );
</script>

<style scoped></style>
