<template>
  <div ref="barChart" class="chart"></div>
</template>

<script setup lang="ts">
  import { getCurrentInstance, onBeforeUnmount, onMounted, ref, watchEffect } from 'vue';
  import obei from '@/assets/echarts-theme/obei.json';

  defineOptions({
    name: 'PieDoughnut',
    inheritAttrs: false,
  });

  const props = defineProps({
    echardata: {
      type: String,
      default() {
        return '';
      },
    },
    echarcolor: {
      type: String,
      default() {
        return '';
      },
    },
    echarcenter: {
      type: String,
      default() {
        return '';
      },
    },
  });

  const { proxy } = getCurrentInstance();
  let charts = null;
  const barChart = ref<HTMLElement>();

  const setOption = () => {
    const option = getOption();
    charts && charts.setOption(option, true);
  };

  const getOption = () => {
    return {
      backgroundColor: '#fff',
      color: ['#FC6B57', '#5AA2FF', '#60C758'],
      title: [
        {
          // text: '180万' + '\n' + '累计SKU',
          text: `{val|${dataprice.value}}{text|` + `万` + `}\n{name|` + `累计SKU` + `}`,
          top: 'center',
          left: 'center',
          textStyle: {
            rich: {
              name: {
                fontSize: 18,
                color: '#591A1A',
              },
              val: {
                fontSize: 40,
                fontWeight: 'bold',
                color: '#754800',
                padding: [10, 0],
              },
            },
          },
        },
      ],
      series: [
        {
          type: 'pie',
          radius: ['50%', '75%'],
          center: ['50%', '50%'],
          data: [
            {
              value: '30',
            },

            {
              value: '30',
            },
            {
              value: '30',
            },
          ],
          hoverAnimation: false,
          itemStyle: {
            normal: {
              borderColor: '#fff',
              borderWidth: 1,
            },
          },
          label: {
            normal: {
              show: false,
            },
          },
        },
      ],
    };
  };

  onMounted(() => {
    proxy.$echarts.registerTheme('obei', obei);
    charts = proxy.$echarts.init(barChart.value!);
    charts.clear();
    setOption();
    window.addEventListener('resize', () => {
      charts && charts.resize();
    });
  });

  onBeforeUnmount(() => {
    charts && charts.dispose();
    charts = null;
  });

  const dataprice = ref('');
  const colorprice = ref();

  watchEffect(() => {
    dataprice.value = props.echardata;
    colorprice.value = props.echarcolor;

    setOption();
  });
</script>

<style>
  .chart {
    width: 100%;
    height: 100%;
  }
</style>
