<template>
  <div class="OperationTarget">
    <div class="OperationTarget-bg">
      <a-row :gutter="[16, 10]">
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;服务结算率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="yymbYgTargetMonth01.chart"
              :x-axis="yymbYgTargetMonth01.xAxis"
              :y-axis="yymbYgTargetMonth01.yAxis"
              :series="yymbYgTargetMonth01.series"
            />
          </div>
        </a-col>
        <!-- <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;按合同约定开票回款率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="yymbYgTargetMonth02.chart"
              :x-axis="yymbYgTargetMonth02.xAxis"
              :y-axis="yymbYgTargetMonth02.yAxis"
              :series="yymbYgTargetMonth02.series"
            />
          </div>
        </a-col> -->
      </a-row>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { nextTick, reactive, watch } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import echartSeries from './js/echartSeries';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );
  const InitialCall = () => {
    getyymbYgTargetMonth01();
    getyymbYgTargetMonth02();
  };

  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterType: 'ragen',
          filterField: 'YM',
          filterValues: [`${props.yearMonth.substring(0, 4)}01`, props.yearMonth],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }

  const yymbYgTargetMonth01 = reactive({
    chart: ['结算率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '%', min: 90, max: 100 }],
    series: [],
  });
  const getyymbYgTargetMonth01 = () => {
    queryAggregate(parameter(2023042614010092)).then((result) => {
      const data = result.data[2023042614010092].dataMap;
      yymbYgTargetMonth01.xAxis = data.YM;
      yymbYgTargetMonth01.series = echartSeries.seriesData3(data.CUR_PRF, '%', '结算率');
    });
  };

  const yymbYgTargetMonth02 = reactive({
    chart: ['回款率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '%' }],
    series: [],
  });
  const getyymbYgTargetMonth02 = () => {
    queryAggregate(parameter(2023042614010093)).then((result) => {
      const data = result.data[2023042614010093].dataMap;
      yymbYgTargetMonth02.xAxis = data.YM;
      yymbYgTargetMonth02.series = echartSeries.seriesData3(data.CUR_PRF, '%', '回款率');
    });
  };
  nextTick(() => {
    InitialCall();
  });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .OperationTarget-span01 {
      background: #f5e8b9;
      color: #f5e8b9;
    }
    .OperationTarget-span02 {
      color: red;
    }
    .OperationTarget-height {
      height: 300px;
    }
  }
</style>
