<template>
  <div class="OperationTarget">
    <div class="OperationTarget-bg">
      <a-row :gutter="[16, 10]">
        <a-col :md="{ span: 6 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;新增客户数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbYgTargetMonth01.chart"
              :x-axis="gymbYgTargetMonth01.xAxis"
              :y-axis="gymbYgTargetMonth01.yAxis"
              :series="gymbYgTargetMonth01.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 6 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;新增采购端客户数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbYgTargetMonth02.chart"
              :x-axis="gymbYgTargetMonth02.xAxis"
              :y-axis="gymbYgTargetMonth02.yAxis"
              :series="gymbYgTargetMonth02.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 6 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;新增双非客户数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbYgTargetMonth03.chart"
              :x-axis="gymbYgTargetMonth03.xAxis"
              :y-axis="gymbYgTargetMonth03.yAxis"
              :series="gymbYgTargetMonth03.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 6 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;重点客户目标分解
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbYgTargetMonth04.chart"
              :x-axis="gymbYgTargetMonth04.xAxis"
              :y-axis="gymbYgTargetMonth04.yAxis"
              :series="gymbYgTargetMonth04.series"
            />
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { nextTick, reactive, watch } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import echartSeries from './js/echartSeries';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );
  const InitialCall = () => {
    getgymbYgTargetMonth01();
    getgymbYgTargetMonth02();
    getgymbYgTargetMonth03();
    getgymbYgTargetMonth04();
  };
  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterType: 'ragen',
          filterField: 'YM',
          filterValues: [`${props.yearMonth.substring(0, 4)}01`, props.yearMonth],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }
  const gymbYgTargetMonth01 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '家' }],
    series: [],
  });
  const getgymbYgTargetMonth01 = () => {
    queryAggregate(parameter(2023042614010098)).then((result) => {
      const data = result.data[2023042614010098].dataMap;
      gymbYgTargetMonth01.xAxis = data.YM;
      gymbYgTargetMonth01.series = echartSeries.seriesData1(data.CUR_PRF, '家', '实绩');
    });
  };

  const gymbYgTargetMonth02 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '家' }],
    series: [],
  });
  const getgymbYgTargetMonth02 = () => {
    queryAggregate(parameter(2023042614010099)).then((result) => {
      const data = result.data[2023042614010099].dataMap;
      gymbYgTargetMonth02.xAxis = data.YM;
      gymbYgTargetMonth02.series = echartSeries.seriesData1(data.CUR_PRF, '家', '实绩');
    });
  };

  const gymbYgTargetMonth03 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '家' }],
    series: [],
  });
  const getgymbYgTargetMonth03 = () => {
    queryAggregate(parameter(2023042614010100)).then((result) => {
      const data = result.data[2023042614010100].dataMap;
      gymbYgTargetMonth03.xAxis = data.YM;
      gymbYgTargetMonth03.series = echartSeries.seriesData1(data.CUR_PRF, '家', '实绩');
    });
  };

  const gymbYgTargetMonth04 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '家' }],
    series: [],
  });
  const getgymbYgTargetMonth04 = () => {
    queryAggregate(parameter(2023042614010101)).then((result) => {
      const data = result.data[2023042614010101].dataMap;
      gymbYgTargetMonth04.xAxis = data.YM;
      gymbYgTargetMonth04.series = echartSeries.seriesData1(data.CUR_PRF, '家', '实绩');
    });
  };
  nextTick(() => {
    InitialCall();
  });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .OperationTarget-span01 {
      background: #f5e8b9;
      color: #f5e8b9;
    }
    .OperationTarget-span02 {
      color: red;
    }
    .OperationTarget-height {
      height: 300px;
    }
  }
</style>
