<template>
  <div class="page-container">
    <div class="header">
      <QueryFilterNew
        ref="QueryFilter"
        :visible="state.show"
        :field-list="fields"
        :isadd-condition-group="false"
        :class="state.show ? null : 'showheigh'"
        @change="onConditionChange"
      >
      </QueryFilterNew>

      <div class="search">
        <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
        <a-button type="danger" style="marginleft: 5px" @click="onReset">重置</a-button>
      </div>
    </div>
    <DynamicTable
      :data-source="state.dataSource"
      :columns="columns"
      :row-selection="rowSelection"
      auto-height
      :scroll="{ x: 2000, y: 300 }"
      :loading="state.loading"
      @change="onPageChange"
    >
      <template #toolbar>
        <a-button
          v-if="$auth('PersonalTodo:batching')"
          type="primary"
          :disabled="!state.isCheckRows"
          @click="batchAllbtn"
        >
          批量处理
        </a-button>
      </template>
    </DynamicTable>

    <threadProcessingLogModel
      ref="thread"
      :data="state.clueData"
      :visible="state.ThreadProcessingLogShow"
      @cancel="modalAction"
    ></threadProcessingLogModel>
    <!-- 第二道防线整改处理 -->
    <secondCheckVisible ref="secondCheckVisibleRef" @search="onSearch"></secondCheckVisible>
    <!-- 第三道整改处理弹框 -->
    <thirdCheckVisible ref="thirdCheckVisibleRef" @search="onSearch"></thirdCheckVisible>
    <!-- 第一道防线整改处理  v-if="state.lineOfDefenseTypeFlag"-->
    <firstCheckVisible ref="firstCheckVisibleRef" @search="onSearch"></firstCheckVisible>
    <!-- 单个待办处理 -->
    <infoView ref="infovisibleRef" @search="onSearch"></infoView>
    <!-- 批量待办处理 -->
    <BatchingInfo ref="BatchingInfoRef" @search="onReset"></BatchingInfo>
    <!-- 第一道防线整改处理-批量 -->
    <div v-if="state.selectedRows.length > 0">
      <batchFirstCheckVisible
        v-if="
          state.selectedRows[0].todoLinkCode == '60' &&
          state.batchData.selectedRows[0].lineOfDefenseType == '1'
        "
        ref="batchCheckVisibleRef"
        @search="onReset"
      ></batchFirstCheckVisible>
    </div>
    <!-- 第二道防线整改处理-批量 -->
    <div v-if="state.selectedRows.length > 0">
      <batchSecondCheckVisible
        v-if="
          state.selectedRows[0].todoLinkCode == '60' &&
          state.batchData.selectedRows[0].lineOfDefenseType == '2'
        "
        ref="batchCheckVisibleRef"
        @search="onReset"
      ></batchSecondCheckVisible>
    </div>
    <!-- 第三道防线整改处理-批量 -->
    <div v-if="state.selectedRows.length > 0">
      <batchSecondCheckVisible
        v-if="
          state.selectedRows[0].todoLinkCode == '60' &&
          state.batchData.selectedRows[0].lineOfDefenseType == '3'
        "
        ref="batchCheckVisibleRef"
        @search="onReset"
      ></batchSecondCheckVisible>
    </div>
    <!-- 转交处理 -->
    <!-- <colView ref="colRef" :check-data="state.colData" @search="onSearch"></colView> -->
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, onMounted, nextTick } from 'vue';
  import dayjs from 'dayjs';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import queryFields from './query-field.js';
  import threadProcessingLogModel from './components/threadProcessingLogModel.vue';
  import {
    thirdCheckVisible,
    infoView,
    firstCheckVisible,
    secondCheckVisible,
    BatchingInfo,
  } from './components';
  import { batchFirstCheckVisible, batchSecondCheckVisible } from './batchComponents/batch';
  import { useTable } from '@/components/core/dynamic-table';
  import { getTodoList } from '@/api/supervisionGovern';
  import { QueryFilterNew } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  defineOptions({
    name: '/SupervisionGovern/personalTodo/index',
  });

  const fields = QueryFieldConvert.columnFields2QueryFields(queryFields.fieldsTwo);

  const QueryFilter = ref();
  const thread = ref();
  const thirdCheckVisibleRef = ref();
  const firstCheckVisibleRef = ref();
  const secondCheckVisibleRef = ref();
  const infovisibleRef = ref();
  // const colRef = ref();
  const BatchingInfoRef = ref();
  const batchCheckVisibleRef = ref();
  const state = reactive({
    batchData: {
      selectedRows: [],
      ids: [],
    },
    batchFlag: false, //是否批量处理
    lineOfDefenseTypeFlag: null,
    colData: {},
    canQuery: true,
    filters: [],
    filters1: [],
    show: true,
    dataSource: [],
    modelOwners: [],
    pagination: {
      current: 1,
      pageSize: 20,
    },
    clueData: {},
    ThreadProcessingLogShow: false,
    checkData: {},
    loading: false,
    isCheckRows: false,
    selectedRows: [],
    ids: [],
    linkjudge: '0', // linkjudge ：1业务、2核查
  });
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      state.filters = QueryFilter.value.getConditionResult();
      state.filters1 = QueryFilter.value.getConditionResult();
      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };
  const dateFormat = 'YYYY-MM-DD';
  const filterData = () => {
    const filters1 = JSON.parse(JSON.stringify(state.filters1));
    const filters = [];
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [];
        item.forEach((v) => {
          let obj = {};
          const val = [];
          if (v.value1 && v.type == 'date') {
            v.value1 = dayjs(v.value1).format(dateFormat);
          }
          if (v.value2 && v.type == 'date') {
            v.value2 = dayjs(v.value2).format(dateFormat);
          }
          if (v.value1) {
            val.push(v.value1);
          }
          if (v.value2) {
            val.push(v.value2);
          }
          let ctype = '';
          if (v.type === 'number') {
            ctype = '2';
          } else if (v.type === 'date') {
            ctype = '4';
          } else if (v.type === 'dict') {
            ctype = '';
          }
          let values = val;
          if (v.type === 'select') {
            values = val[0];
          }
          if (v.type === 'text' && (v.operatorValue == 'CT' || v.operatorValue == 'NCT')) {
            values = val[0];
          }
          obj = {
            columnName: v.field,
            filterType: v.operatorValue,
            columnType: ctype,
            values,
          };
          list.push(obj);
        });
        filters.push(list);
      });
    }
    return filters;
  };

  const onSearch = () => {
    let filters = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0] || [];
    loadData();
  };

  const resetQ = () => {
    const arr = [
      [
        {
          field: '',
          type: 'text',
          value1: '',
          selectCode: [],
          operatorValue: 'CT',
          operatorList: [],
          name: '',
          cName: '',
          example: null,
          columnType: '1',
          dictCode: null,
        },
      ],
    ];
    QueryFilter.value.setConditionGroups(arr);
    QueryFilter.value.clearConditionResult();
    state.filters = QueryFilter.value.getConditionResult();
  };
  const onReset = () => {
    state.batchData = {
      selectedRows: [],
      ids: [],
    };
    rowSelection.value.selectedRowKeys = [];
    state.selectedRows = [];
    state.isCheckRows = false;
    state.pagination.current = 1;
    state.filters1 = [];
    resetQ();
    loadData();
  };

  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      // console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      state.selectedRows = selectedRows;
      rowSelection.value.selectedRowKeys = selectedRowKeys;
      const modelIdArr = [];
      const todoLinkCodeArr = [];
      const rectifyStatusArr = []; //整改状态
      const lineOfDefenseTypeArr = []; //所属防线
      state.ids = [];
      if (selectedRows.length > 0) {
        selectedRows.forEach((v) => {
          modelIdArr.push(v.modelId);
          todoLinkCodeArr.push(v.todoLinkCode);
          state.ids.push(v.id);
          rectifyStatusArr.push(v.rectifyStatus);
          lineOfDefenseTypeArr.push(v.lineOfDefenseType);
        });
        state.batchData = {
          selectedRows,
          ids: state.ids,
        };
        if (
          new Set(modelIdArr).size === 1 &&
          new Set(todoLinkCodeArr).size === 1 &&
          new Set(rectifyStatusArr).size === 1 &&
          new Set(lineOfDefenseTypeArr).size === 1 &&
          (selectedRows[0].lineOfDefenseType == 1 ||
            selectedRows[0].lineOfDefenseType == 2 ||
            selectedRows[0].lineOfDefenseType == 3)
        ) {
          //同一模型+同一整改处理+同整改状态+同所属防线
          state.isCheckRows = true;
        } else {
          state.isCheckRows = false;
        }
      } else {
        state.isCheckRows = false;
      }
    },
  });

  const loadData = () => {
    state.loading = true;
    getTodoList({
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: state.filters,
    }).then((r) => {
      if (r && r.data) {
        state.dataSource = r.data.data.pageInfo.list || [];
        dynamicTableInstance?.updatePagination({
          total: r.data.data.pageInfo.total,
          current: r.data.data.pageInfo.pageNum,
          pageSize: r.data.data.pageInfo.pageSize,
        });
      }
      state.loading = false;
    });
  };

  const onPageChange = (data) => {
    state.pagination.current = data.current;
    state.pagination.pageSize = data.pageSize;
    loadData();
  };

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: 'id',
    bordered: true,
  });

  // 设置click 事件
  baseColumns[0].customRender = ({ record, value }) => {
    return (
      <a
        onClick={() => {
          dispose(record, record.recordKey);
        }}
        style="color:#1890ff;cursor: pointer"
      >
        {value}
      </a>
    );
  };
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 140,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        const actions: any = [];
        actions.push({
          label: '处理',
          style: 'color:#1890ff',
          onClick: () => {
            if (record.todoLinkCode == 60) {
              nextTick(() => {
                if (record.lineOfDefenseType == '1' && record.handleOpinion == '14') {
                  firstCheckVisibleRef.value.onChangeVisable(); //第一道打开整改处理弹框
                  firstCheckVisibleRef.value.processHandle(record);
                } else if (
                  record.lineOfDefenseType == '2' &&
                  (record.handleOpinion == '14' || record.handleOpinion == '17')
                ) {
                  secondCheckVisibleRef.value.onChangeVisable(); //第二道打开整改处理弹框
                  secondCheckVisibleRef.value.processHandle(record);
                } else {
                  thirdCheckVisibleRef.value.onChangeVisable(); //其余都走第三道-整改处理弹框
                  thirdCheckVisibleRef.value.processHandle(record);
                }
              });
            } else {
              infovisibleRef.value.onChangeVisable(); //打开处理弹框
              infovisibleRef.value.details(record); //, clueName, beforeUser, status
            }
          },
        });
        actions.push({
          label: '处理历史',
          style: 'color:#1890ff',
          onClick: () => {
            dispose(record, record.recordKey);
          },
        });
        return actions;
      },
    },
  ];
  // const colFn = (record) => {
  //   colRef.value.onChangeVisable(true);
  //   state.colData = record;
  // };
  const dispose = (record, clueName) => {
    state.clueData = record;
    state.ThreadProcessingLogShow = true;
    thread.value.details(record.modelId, clueName);
  };
  const modalAction = () => {
    state.ThreadProcessingLogShow = false;
    loadData();
  };
  const batchAllbtn = () => {
    if (state.selectedRows[0].todoLinkCode == '60') {
      //打开防线批量整改弹框
      batchCheckVisibleRef.value.onChangeVisable(); //打开处理弹框
      batchCheckVisibleRef.value.processHandle(state.batchData);
    } else {
      BatchingInfoRef.value.onChangeVisable(); //打开处理弹框
      BatchingInfoRef.value.details(state.batchData);
    }
  };
  onMounted(() => {
    // 查询数据吧
    loadData();
  });
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
    /deep/.ant-table-body {
      height: var(--winHeight);
    }
  }
  .header {
    display: flex;
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
  .aspace {
    padding-left: 10px;
  }

  .icon-title {
    margin-right: 10px;
  }

  .icon-items {
    color: #1890ff;
  }
  /deep/.ant-table-fixed-right {
    z-index: 12;
  }
</style>
