<template>
  <MergeTable
    :has-header="false"
    :data-list="state.dataList"
    :column-list="state.columnList"
    :column-groups="state.columnGroup"
    :row-merge="state.rowMerge"
    :loading="loading"
    :scroll="{ y: 300 }"
  >
  </MergeTable>
</template>

<script lang="tsx" setup>
  import { reactive, onMounted, ref } from 'vue';
  import Transformer from './transformer.js';
  import { MergeTable } from '@/components/business';
  import { getHomeWidget } from '@/api/common';
  import dict from '@/utils/dict.js';
  defineOptions({
    name: 'ClueBizDist',
    inheritAttrs: false,
  });
  const loading = ref(false);
  const state = reactive({
    dataList: [],
    columnList: [
      {
        title: '业务环节',
        dataIndex: '业务环节',
        customRender: ({ record, text }) => {
          if (text != '合计') {
            return dict.getItemText('bizIds', record['业务环节']);
          } else {
            return text;
          }
        },
      },
      {
        title: '确认问题',
        dataIndex: '当月确认问题业务笔数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '当月移交问题业务笔数',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: '累计确认问题业务笔数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '累计移交问题业务笔数',
        align: 'right',
      },
    ],
    columnGroup: [
      {
        title: '当月业务笔数',
        children: ['当月确认问题业务笔数', '当月移交问题业务笔数'],
      },
      {
        title: '当年累计业务笔数',
        children: ['累计确认问题业务笔数', '累计移交问题业务笔数'],
      },
    ],
    rowMerge: {
      title: '合计',
      titleColumn: '业务环节',
      cols: [
        {
          column: '当月确认问题业务笔数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月移交问题业务笔数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计确认问题业务笔数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计移交问题业务笔数',
          method: 'sum',
          align: 'right',
        },
      ],
    },
  });

  const parseFunc = (cname, value) => {
    return cname != '业务环节' ? parseInt(value) : value;
  };

  const setupModelData = () => {
    loading.value = true;
    const item = { id: 2022110213548576, index: 6, name: '监督问题构成分布（按业务环节）' };
    getHomeWidget({ widgetId: item.id }).then((result) => {
      state.dataList = Transformer.toTableData(result.data, parseFunc);
      loading.value = false;
    });
  };

  onMounted(() => {
    // 加载数据
    setupModelData();
    // 修正rowspan
  });
</script>
