<template>
  <MergeTable
    :has-header="false"
    :data-list="dataSource"
    :column-list="columnList"
    :scroll="{ y: 315 }"
    :loading="loading"
  >
  </MergeTable>
</template>

<script lang="tsx" setup>
  import { defineEmits, onMounted, ref } from 'vue';
  import { baseColumns, type TableColumnItem } from './columns';
  import { MergeTable } from '@/components/business';
  import { queryToDo } from '@/api/common'; //接口

  defineOptions({
    name: 'ModelDoubts',
    inheritAttrs: false,
  });
  const loading = ref(false);
  const columnList: TableColumnItem[] = [...baseColumns];
  const dataSource = ref([]);
  const emits = defineEmits(['getTotal']);
  const queryList = async () => {
    loading.value = true;
    const data = await queryToDo({ bell: 'C' });
    emits('getTotal', data.data.count);
    dataSource.value = data.data.list;
    loading.value = false;
  };

  onMounted(() => {
    queryList();
  });
</script>
