<template>
  <MergeTable
    :flag="true"
    :has-header="false"
    :data-list="state.dataList"
    :column-list="state.columnList"
    :column-groups="state.columnGroup"
    :row-merge="state.rowMerge"
    :scroll="{ y: 300 }"
    :loading="loading"
    @cellClicked="cellClicked"
  >
  </MergeTable>
</template>

<script lang="tsx" setup>
  import { reactive, onMounted, ref } from 'vue';
  import Transformer from './transformer.js';
  import { MergeTable } from '@/components/business';
  import { getHomeWidget } from '@/api/common';
  import dict from '@/utils/dict.js';
  defineOptions({
    name: 'ModelDist',
    inheritAttrs: false,
  });

  const emit = defineEmits(['cellClicked']);
  const loading = ref(false);
  const state = reactive({
    dataList: [],
    columnList: [
      {
        title: '监督领域',
        dataIndex: '业务系统',
        customRender: ({ record, text }) => {
          if (text != '合计') {
            return dict.getItemText('bizSystem', record['业务系统']);
          } else {
            return text;
          }
        },
      },
      {
        title: '模型数量',
        dataIndex: '模型数量',
        align: 'right',
      },
      {
        title: '疑点',
        dataIndex: '当月疑点记录数',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: '当月确定问题数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '当月移交问题数',
        align: 'right',
      },
      {
        title: '疑点',
        dataIndex: '累计疑点记录数',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: '累计确定问题数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '累计移交问题数',
        align: 'right',
      },
    ],
    columnGroup: [
      {
        title: '当月业务笔数',
        children: ['当月疑点记录数', '当月确定问题数', '当月移交问题数'],
      },
      {
        title: '当年累计业务笔数',
        children: ['累计疑点记录数', '累计确定问题数', '累计移交问题数'],
      },
    ],
    rowMerge: {
      title: '合计',
      titleColumn: '业务系统',
      cols: [
        {
          column: '模型数量',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月疑点记录数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月确定问题数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月移交问题数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计疑点记录数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计确定问题数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计移交问题数',
          method: 'sum',
          align: 'right',
        },
      ],
    },
  });

  const parseFunc = (cname, value) => {
    return cname != '业务系统' ? parseInt(value) : value;
  };

  const setupModelData = () => {
    loading.value = true;
    const item = { id: 2022101715438596, index: 3, name: '各业务系统模型情况' };
    getHomeWidget({ widgetId: item.id }).then((result) => {
      // 整理数据
      state.dataList = Transformer.toTableData(result.data, parseFunc);
      loading.value = false;
    });
  };
  const cellClicked = (record, column) => {
    emit('cellClicked', record, column);
  };

  onMounted(() => {
    // 加载数据
    setupModelData();
    // 修正rowspan
  });
</script>
<style lang="less" scoped>
  /deep/.ant-table-tbody .ant-table-cell > div > span {
    cursor: pointer;
  }
</style>
