<template>
  <div>
    <a-modal
      v-model:visible="infovisible"
      destroy-on-close
      width="90%"
      :footer="null"
      @ok="handleOk"
      @cancel="handleOk"
    >
      <!-- 待办关键信息 -->
      <!-- <span class="descriptions-title">关键信息</span>
      <a-divider style="margin: 10px 0" />
      <a-card :bordered="false" style="width: 100%">
        <key-information :key-data="state.keyData"></key-information>
      </a-card> -->
      <!-- 待办处理 -->
      <span class="descriptions-title">待办处理</span>
      <a-divider style="margin-top: 10px" />
      <a-card :bordered="false" style="width: 100%">
        <!-- 第一道防线处理 -->
        <firstProcess
          v-if="state.lineOfDefenseTypeFlag === '1'"
          ref="leadPushModelRef"
          :batch-flag="true"
          @handle-ok="handleOk"
          @search="handleOk"
        ></firstProcess>
        <!-- 第二道防线 -->
        <secondProcess
          v-if="state.lineOfDefenseTypeFlag === '2'"
          ref="leadPushModelRef"
          @search="handleOk"
        >
        </secondProcess>
        <!-- 第三道防线 -->
        <thirdProcess
          v-if="state.lineOfDefenseTypeFlag === '3'"
          ref="leadPushModelRef"
          @search="handleOk"
        >
        </thirdProcess>
      </a-card>
      <!--  待办信息-->
      <span class="descriptions-title">待办信息</span>
      <a-divider style="margin: 10px 0" />
      <a-card :bordered="false" style="width: 100%">
        <TodoList :batch-data="state.batchData"></TodoList>
      </a-card>

      <!-- 模型信息 -->
      <a-collapse
        v-model:activeKey="activeKey"
        expand-icon-position="left"
        :bordered="false"
        default-active-key="1"
        ghost
      >
        <span class="descriptions-title">模型信息</span>
        <a-divider style="margin: 10px 0" />
        <template #expandIcon="{ isActive }">
          <double-right-outlined class="iconActive" :rotate="!isActive ? 0 : 90" />
        </template>
        <!-- 合并 -->
        <a-collapse-panel key="1" :style="'border: 0;margin-top: -50px'">
          <!-- <a-card :bordered="false" :loading="state.modelloading" style="width: 100%"> -->
          <basic-news :model-data="state.modelData"></basic-news>
          <!-- </a-card> -->
        </a-collapse-panel>
      </a-collapse>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance, nextTick } from 'vue';
  import { message } from 'ant-design-vue';
  import TodoList from './TodoList';
  import { basicNews, firstProcess, secondProcess, thirdProcess } from './batch';
  import 'ant-design-vue/lib/button/style';
  import { getDatamodel } from '@/api/supervisionGovern';
  const { proxy } = getCurrentInstance();
  const infovisible = ref(false);
  const leadPushModelRef = ref();
  const activeKey = ref(['1']);
  const emit = defineEmits(['search']);
  const state = reactive({
    lineOfDefenseTypeFlag: null,
    modelData: {},
    cluesInformation: [],
    cueProcessingparameters: {}, // 线索处理参数
    modelInformation: {},
    loading: false,
    modelloading: false,
    id: '',
    clueName: '',
    customStyle: 'border: 0',
    modelList: false,
    roleId: [],
    bouncedShow: false,
    beforeUser: '',
    status: '',
    sid: '',
    keyData: {}, //关键信息
    todoLinkCode: '00',
    temporaryFlag: 1, //暂存标识
    temporaryData: '', //暂存的待办信息
  });
  const details = (rows) => {
    const scope = rows.selectedRows[0];
    state.batchData = rows.selectedRows;
    state.id = scope.modelId;
    information(); //获取模型信息
    state.lineOfDefenseTypeFlag = scope.lineOfDefenseType;
    nextTick(() => {
      leadPushModelRef.value.processHandle(rows);
    });
  };

  const information = () => {
    state.modelloading = true;
    const id = state.id;

    const _params = {
      filters: [
        {
          columnName: 'id',
          filterType: '=',
          values: [id],
        },
      ],
    };
    getDatamodel(_params).then((r) => {
      if (r.data.code == 'OK') {
        state.modelloading = false;
        if (r.data.data) {
          const modelData = r.data.data[0];
          const modelType = {
            static: '静态',
            dynamic: '动态',
            algorithm: '算法',
          };
          modelData.modelType = modelType[modelData.modelType];
          // 判断模上线状态
          const onlineStatus = {
            '1': '已上线',
            '0': '已下线',
            '-1': '待上线',
          };
          modelData.onlineStatus = onlineStatus[modelData.onlineStatus];

          // 判断运行状态
          const runStatus = {
            '0': '未运行',
            '1': '运行中',
            '6': '失败',
            '7': '成功',
          };
          modelData.runStatus = runStatus[modelData.runStatus];

          // 数据集分割
          if (modelData.datatableNames) {
            modelData.datatableNames = modelData.datatableNames.join('、');
          }
          // 业务用途
          if (modelData.businessPurpose) {
            modelData.businessPurpose = proxy.$dict.getItemText(
              'businessPurpose',
              modelData.businessPurpose,
            );
          }
          // 业务系统 监督领域
          if (modelData.bizSystem) {
            modelData.bizSystem = proxy.$dict.getItemText('bizSystem', modelData.bizSystem);
          }
          // 调度周期-去掉了
          // if (modelData.bizSystem) {
          //   modelData.dispatchingCycle = proxy.$dict.getItemText(
          //     'dispatchingCycle',
          //     modelData.dispatchingCycle,
          //   );
          // }

          // 监督业务对象值集转换
          if (modelData.businessObjs) {
            const result = modelData.businessObjs.replace(/\[|]/g, '');
            const results = result.split(',');
            const test = [];
            results.forEach((x) => {
              const temp = proxy.$dict.getItemText('businessObject', x);
              test.push(temp);
            });
            modelData.businessObjsStr = test.join(' ');
          }
          // 业务环节
          if (modelData.bizIds) {
            const result = modelData.bizIds.split(',');
            const test = [];
            result.forEach((x) => {
              const temp = proxy.$dict.getItemText('bizIds', x);
              test.push(temp);
            });
            modelData.bizIds = test.join('  ');
          }
          state.modelData = modelData;
        } else {
          state.modelData = {};
        }
      } else {
        state.modelloading = true;
        message.error(r.data.message);
      }
    });
  };
  const onChangeVisable = () => {
    infovisible.value = true;
  };

  const handleOk = () => {
    infovisible.value = false;
    emit('search');
  };
  defineExpose({ onChangeVisable, details });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 16px;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
  .iconActive {
    position: relative !important;
    left: 55px !important;
    top: -5px !important;
    font-size: 16px !important;
    color: rgb(24, 144, 255);
  }
  .info-text {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
