<template>
  <Tooltip placement="top">
    <template #title>
      <span>{{ state.max ? '最大化' : '还原' }}</span>
    </template>
    <FullscreenOutlined v-if="state.max == true" @click="triggerWindow" />
    <FullscreenExitOutlined v-if="state.max == false" @click="triggerWindow" />
  </Tooltip>
</template>
<script lang="ts" setup>
  import { reactive } from 'vue';
  import { FullscreenOutlined, FullscreenExitOutlined } from '@ant-design/icons-vue';
  import { Tooltip } from 'ant-design-vue';
  import { useTableContext } from '../../hooks/useTableContext';

  const table = useTableContext();
  const state = reactive({
    max: true,
  });
  function triggerWindow() {
    state.max = table.triggerMax.value;
    table.triggerWindow();
  }
</script>
