<template>
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 20 }">
        <div class="OperationTarget-bg">
          <div class="devdome">
            <div class="devdome-div">
              <p class="OperationTarget-p2">商城营业收入</p>
              <div class="OperationTarget-height">
                <SpeedGauge :echarunit="shopping01.e03" :echardata="shopping01.CURYEAR_CPLTRATE" />
              </div>
              <p class="OperationTarget-p3">目标：{{ shopping01.CURYEAR_TARGET }}万元</p>
              <p class="OperationTarget-p3">当前：{{ shopping01.CURYEAR_PRFM }}万元</p>
            </div>
            <div class="devdome-div">
              <p class="OperationTarget-p2">PSCS商城化采购额</p>
              <div class="OperationTarget-height">
                <ScoringRing
                  :echarcolor="shopping02.defcolor"
                  :echardata="shopping02.CURYEAR_CPLTRATE"
                  :echarunit="shopping02.e03"
                />
              </div>
              <p class="OperationTarget-p3">目标：{{ shopping02.CURYEAR_PRFM }}万元</p>
              <p class="OperationTarget-p3">当前累计：{{ shopping02.CURYEAR_TARGET }}万元</p>
            </div>
            <div class="devdome-div">
              <p class="OperationTarget-p2">多元+社会商城营业收入</p>
              <div class="OperationTarget-height">
                <ScoringRing
                  :echarcolor="shopping03.defcolor"
                  :echardata="shopping03.CURYEAR_CPLTRATE"
                  :echarunit="shopping03.e03"
                />
              </div>
              <p class="OperationTarget-p3">目标：{{ shopping03.CURYEAR_PRFM }}万元</p>
              <p class="OperationTarget-p3">当前累计：{{ shopping03.CURYEAR_TARGET }}万元</p>
            </div>
            <div class="devdome-div">
              <p class="OperationTarget-p2">非大宗商城点选营收</p>
              <div class="OperationTarget-height">
                <ScoringRing
                  :echarcolor="shopping04.defcolor"
                  :echardata="shopping04.CURYEAR_CPLTRATE"
                  :echarunit="shopping04.e03"
                />
              </div>
              <p class="OperationTarget-p3">目标：{{ shopping04.CURYEAR_PRFM }}万元</p>
              <p class="OperationTarget-p3">当前累计：{{ shopping04.CURYEAR_TARGET }}万元</p>
            </div>
            <div class="devdome-div">
              <p class="OperationTarget-p2">社会客户商城营业收入</p>
              <div class="OperationTarget-height">
                <ScoringRing
                  :echarcolor="shopping05.defcolor"
                  :echardata="shopping05.CURYEAR_CPLTRATE"
                  :echarunit="shopping05.e03"
                />
              </div>
              <p class="OperationTarget-p3">目标：{{ shopping05.CURYEAR_PRFM }}万元</p>
              <p class="OperationTarget-p3">当前累计：{{ shopping05.CURYEAR_TARGET }}万元</p>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-p2">商城毛利</p>
          <div class="OperationTarget-height">
            <WaterPolo
              :echarcolor="shopping06.defcolor"
              :echardata="shopping06.CURYEAR_CPLTRATE"
              :echarunit="shopping06.e03"
            />
          </div>
          <p class="OperationTarget-p3">目标：{{ shopping06.CURYEAR_PRFM }}万元</p>
          <p class="OperationTarget-p3">当前累计：{{ shopping06.CURYEAR_TARGET }}万元</p>
        </div>
      </a-col>
    </a-row>
  </div>
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 12 }">
        <div class="OperationTarget-bg">
          <div class="devdome">
            <div class="devdome-div1">
              <p class="OperationTarget-p2">商城双非客户占比</p>
              <div class="OperationTarget-height">
                <ScoringRing
                  :echarcolor="shopping07.defcolor"
                  :echardata="shopping07.CURYEAR_CPLTRATE"
                  :echarunit="shopping07.e03"
                />
              </div>
              <p class="OperationTarget-p3">目标：{{ shopping07.CURYEAR_TARGET }}%</p>
              <p class="OperationTarget-p3">当前：{{ shopping07.CURYEAR_PRFM }}%</p>
            </div>
            <div class="devdome-div1">
              <p class="OperationTarget-p2">对接运营大客户专区</p>
              <div class="OperationTarget-height">
                <ScoringRing
                  :echarcolor="shopping08.defcolor"
                  :echardata="shopping08.CURYEAR_CPLTRATE"
                  :echarunit="shopping08.e03"
                />
              </div>
              <p class="OperationTarget-p3">目标：{{ shopping08.CURYEAR_TARGET }}个</p>
              <p class="OperationTarget-p3">当前：{{ shopping08.CURYEAR_PRFM }}个</p>
            </div>
            <div class="devdome-div1">
              <p class="OperationTarget-p2">商城新增客户数</p>
              <div class="OperationTarget-height">
                <ScoringRing
                  :echarcolor="shopping09.defcolor"
                  :echardata="shopping09.CURYEAR_CPLTRATE"
                  :echarunit="shopping09.e03"
                />
              </div>
              <p class="OperationTarget-p3">目标：{{ shopping09.CURYEAR_TARGET }}家</p>
              <p class="OperationTarget-p3">当前：{{ shopping09.CURYEAR_PRFM }}家</p>
            </div>
            <div class="devdome-div1">
              <p class="OperationTarget-p2">商城新增双非客户数</p>
              <div class="OperationTarget-height">
                <ScoringRing
                  :echarcolor="shopping10.defcolor"
                  :echardata="shopping10.CURYEAR_CPLTRATE"
                  :echarunit="shopping10.e03"
                />
              </div>
              <p class="OperationTarget-p3">目标：{{ shopping10.CURYEAR_TARGET }}家</p>
              <p class="OperationTarget-p3">当前：{{ shopping10.CURYEAR_PRFM }}家</p>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 6 }">
        <div class="OperationTarget-bg">
          <div class="devdome">
            <div class="devdome-div2">
              <p class="OperationTarget-p2">平台累计SKU数</p>
              <div class="OperationTarget-height">
                <ScoringRing
                  :echarcolor="shopping11.defcolor"
                  :echardata="shopping11.CURYEAR_CPLTRATE"
                  :echarunit="shopping11.e03"
                />
              </div>
              <p class="OperationTarget-p3">目标：{{ shopping11.CURYEAR_TARGET }}万</p>
              <p class="OperationTarget-p3">当前：{{ shopping11.CURYEAR_PRFM }}万</p>
            </div>
            <div class="devdome-div2">
              <p class="OperationTarget-p2" style="font-size: 18px">年度新增SKU数(自主开发)</p>
              <div class="OperationTarget-height">
                <ScoringRing
                  :echarcolor="shopping12.defcolor"
                  :echardata="shopping12.CURYEAR_CPLTRATE"
                  :echarunit="shopping12.e03"
                />
              </div>
              <p class="OperationTarget-p3">目标：{{ shopping12.CURYEAR_TARGET }}万</p>
              <p class="OperationTarget-p3">当前：{{ shopping12.CURYEAR_PRFM }}万</p>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 3 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-p2">核心商品线建设</p>
          <div class="OperationTarget-height">
            <WaterPolo
              :echarcolor="shopping13.defcolor"
              :echardata="shopping13.CURYEAR_CPLTRATE"
              :echarunit="shopping13.e03"
            />
          </div>
          <p class="OperationTarget-p3">目标：{{ shopping13.CURYEAR_TARGET }}条</p>
          <p class="OperationTarget-p3">当前：{{ shopping13.CURYEAR_PRFM }}条</p>
        </div>
      </a-col>
      <a-col :md="{ span: 3 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-p2">场景化建设</p>
          <div class="OperationTarget-height">
            <WaterPolo
              :echarcolor="shopping14.defcolor"
              :echardata="shopping14.CURYEAR_CPLTRATE"
              :echarunit="shopping14.e03"
            />
          </div>
          <p class="OperationTarget-p3">目标：{{ shopping14.CURYEAR_TARGET }}个</p>
          <p class="OperationTarget-p3">当前：{{ shopping14.CURYEAR_PRFM }}个</p>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, nextTick } from 'vue';
  import { SpeedGauge, ScoringRing, WaterPolo } from '../../../echartsAssembly';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );
  const InitialCall = () => {
    nextTick(() => {
      query01();
      query02();
      query03();
      query04();
      query05();
      query06();
      query07();
      query08();
      query09();
      query10();
      query11();
      query12();
      query13();
      query14();
    });
  };

  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }
  //保留两位有效小数
  function Xiaoshu(text) {
    const data = text[0];
    if (data === '-' || data === '' || data === null || data === undefined) {
      return parseFloat(0).toLocaleString();
    } else {
      const datatext = parseFloat(data).toFixed(2);
      return parseFloat(datatext).toLocaleString();
    }
  }

  const shopping01 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query01 = () => {
    queryAggregate(parameter(2023051113030346)).then((result) => {
      const data = result.data[2023051113030346].dataMap;
      shopping01.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
      shopping01.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      shopping01.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
    });
  };

  const shopping02 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: '#188df0',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query02 = () => {
    queryAggregate(parameter(2023051113030331)).then((result) => {
      const data = result.data[2023051113030331].dataMap;
      shopping02.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
      shopping02.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      shopping02.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
    });
  };

  const shopping03 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: '#188df0',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query03 = () => {
    queryAggregate(parameter(2023051113030335)).then((result) => {
      const data = result.data[2023051113030335].dataMap;
      shopping03.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
      shopping03.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      shopping03.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
    });
  };

  const shopping04 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: '#188df0',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query04 = () => {
    queryAggregate(parameter(2023051113030336)).then((result) => {
      const data = result.data[2023051113030336].dataMap;
      shopping04.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
      shopping04.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      shopping04.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
    });
  };

  const shopping05 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: '#188df0',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query05 = () => {
    queryAggregate(parameter(2023051113030347)).then((result) => {
      const data = result.data[2023051113030347].dataMap;
      shopping05.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
      shopping05.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      shopping05.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
    });
  };

  const shopping06 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: ['#98d45b', '#b4e186'],
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: 0,
  });
  const query06 = () => {
    queryAggregate(parameter(2023051113030345)).then((result) => {
      const data = result.data[2023051113030345].dataMap;
      const datawcl = Xiaoshu(data.ANNUAL_FINISH_RATE);
      shopping06.CURYEAR_CPLTRATE = datawcl;
      shopping06.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
      shopping06.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_PRFM);
    });
  };

  const shopping07 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: '#F69101',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query07 = () => {
    queryAggregate(parameter(2023051113030342)).then((result) => {
      const data = result.data[2023051113030342].dataMap;
      shopping07.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
      shopping07.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      shopping07.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
    });
  };

  const shopping08 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: '#F69101',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query08 = () => {
    queryAggregate(parameter(2023051113030334)).then((result) => {
      const data = result.data[2023051113030334].dataMap;
      shopping08.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
      shopping08.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      shopping08.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
    });
  };

  const shopping09 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: '#F69101',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query09 = () => {
    queryAggregate(parameter(2023051113030343)).then((result) => {
      const data = result.data[2023051113030343].dataMap;
      shopping09.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
      shopping09.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      shopping09.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
    });
  };

  const shopping10 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: '#F69101',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query10 = () => {
    queryAggregate(parameter(2023051113030344)).then((result) => {
      const data = result.data[2023051113030344].dataMap;
      shopping10.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
      shopping10.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      shopping10.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
    });
  };

  const shopping11 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: '#98d45b',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query11 = () => {
    queryAggregate(parameter(2023051113030340)).then((result) => {
      const data = result.data[2023051113030340].dataMap;
      shopping11.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
      shopping11.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      shopping11.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
    });
  };

  const shopping12 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: '#98d45b',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query12 = () => {
    queryAggregate(parameter(2023051113030339)).then((result) => {
      const data = result.data[2023051113030339].dataMap;
      shopping12.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
      shopping12.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      shopping12.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
    });
  };

  const shopping13 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: ['#188df0', 'rgba(24,141,240,0.4)'],
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: 0,
  });
  const query13 = () => {
    queryAggregate(parameter(2023051113030337)).then((result) => {
      const data = result.data[2023051113030337].dataMap;
      const datawcl = Xiaoshu(data.ANNUAL_FINISH_RATE);
      shopping13.CURYEAR_CPLTRATE = datawcl;
      shopping13.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      shopping13.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
    });
  };

  const shopping14 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: ['#188df0', 'rgba(24,141,240,0.4)'],
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: 0,
  });
  const query14 = () => {
    queryAggregate(parameter(2023051113030332)).then((result) => {
      const data = result.data[2023051113030332].dataMap;
      const datawcl = Xiaoshu(data.ANNUAL_FINISH_RATE);
      shopping14.CURYEAR_CPLTRATE = datawcl;
      shopping14.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      shopping14.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE);
    });
  };

  // nextTick(() => {
  //   InitialCall();
  // });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
      height: 350px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .OperationTarget-p1 {
      line-height: 30px;
      font-size: 22px;
      font-weight: bold;
    }
    .OperationTarget-p2 {
      line-height: 30px;
      font-size: 20px;
      text-align: center;
    }
    .OperationTarget-p3 {
      line-height: 30px;
      font-size: 20px;
      text-align: center;
      //text-align: justify;
      //text-align-last: justify;
      margin: 0px 10px;
    }
    .OperationTarget-height {
      height: 210px;
    }
    .OperationTarget-height1 {
      height: 180px;
    }
    // 弹性布局
    .devdome {
      display: flex;
      justify-content: space-between;
    }
    .devdome-div {
      width: 19.5%;
    }
    .devdome-div1 {
      width: 24.5%;
    }
    .devdome-div2 {
      width: 49.5%;
    }
  }
</style>
