<template>
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]">
      <div class="OperationTarget-bg">
        <a-col :md="{ span: 24 }">
          <MergeTable
            :widget-id="2023052410060631"
            :has-header="false"
            :data-list="table01.dataSource"
            :column-list="table01.columns"
            :column-groups="table01.columnGroups"
            :formatter="tableStyle.formatter"
            @cellClicked="ontable01Clicked"
          />
        </a-col>
        <a-row :gutter="[16, 10]">
          <a-col :md="{ span: 8 }">
            <p class="OperationTarget-title">{{ DEPT_NAME1 }}商城营收趋势图</p>
            <div class="OperationTarget-height">
              <StackedColumnFoldMixedChart
                :legendone="mont01.chart"
                :x-axis="mont01.xAxis"
                :y-axis="mont01.yAxis"
                :series="mont01.series"
              />
            </div>
          </a-col>
          <a-col :md="{ span: 8 }">
            <p class="OperationTarget-title">{{ DEPT_NAME1 }}多元+社会营收趋势图</p>
            <div class="OperationTarget-height">
              <StackedColumnFoldMixedChart
                :legendone="mont02.chart"
                :x-axis="mont02.xAxis"
                :y-axis="mont02.yAxis"
                :series="mont02.series"
              />
            </div>
          </a-col>
          <a-col :md="{ span: 8 }">
            <p class="OperationTarget-title">{{ DEPT_NAME1 }}社会客户营收趋势图</p>
            <div class="OperationTarget-height">
              <StackedColumnFoldMixedChart
                :legendone="mont03.chart"
                :x-axis="mont03.xAxis"
                :y-axis="mont03.yAxis"
                :series="mont03.series"
              />
            </div>
          </a-col>
        </a-row>
      </div>
    </a-row>
  </div>

  <div class="OperationTarget">
    <a-row :gutter="[16, 10]">
      <div class="OperationTarget-bg">
        <a-col :md="{ span: 24 }">
          <p class="OperationTarget-title">商城毛利、商城新增客户数、商城新增双非客户数</p>
          <MergeTable
            :widget-id="2023052410060632"
            :has-header="false"
            :data-list="table02.dataSource"
            :column-list="table02.columns"
            :column-groups="table02.columnGroups"
            :formatter="tableStyle.formatter"
            @cellClicked="ontable02Clicked"
          />
        </a-col>
        <a-row :gutter="[16, 10]">
          <a-col :md="{ span: 8 }">
            <p class="OperationTarget-title">{{ DEPT_NAME2 }}商城营收趋势图</p>
            <div class="OperationTarget-height">
              <StackedColumnFoldMixedChart
                :legendone="mont04.chart"
                :x-axis="mont04.xAxis"
                :y-axis="mont04.yAxis"
                :series="mont04.series"
              />
            </div>
          </a-col>
          <a-col :md="{ span: 8 }">
            <p class="OperationTarget-title">{{ DEPT_NAME2 }}多元+社会营收趋势图</p>
            <div class="OperationTarget-height">
              <StackedColumnFoldMixedChart
                :legendone="mont05.chart"
                :x-axis="mont05.xAxis"
                :y-axis="mont05.yAxis"
                :series="mont05.series"
              />
            </div>
          </a-col>
          <a-col :md="{ span: 8 }">
            <p class="OperationTarget-title">{{ DEPT_NAME2 }}社会客户营收趋势图</p>
            <div class="OperationTarget-height">
              <StackedColumnFoldMixedChart
                :legendone="mont06.chart"
                :x-axis="mont06.xAxis"
                :y-axis="mont06.yAxis"
                :series="mont06.series"
              />
            </div>
          </a-col>
        </a-row>
      </div>
    </a-row>
  </div>

  <div class="OperationTarget">
    <a-row :gutter="[16, 10]">
      <div class="OperationTarget-bg">
        <a-col :md="{ span: 24 }">
          <p class="OperationTarget-title">核心商品线建设、年度新增SKU数（自主开发）</p>
          <MergeTable
            :widget-id="2023052410060633"
            :has-header="false"
            :data-list="table03.dataSource"
            :column-list="table03.columns"
            :column-groups="table03.columnGroups"
            :formatter="tableStyle.formatter"
            @cellClicked="ontable03Clicked"
          />
        </a-col>
        <a-row :gutter="[16, 10]">
          <a-col :md="{ span: 12 }">
            <p class="OperationTarget-title">{{ DEPT_NAME3 }}核心商品线建设趋势图</p>
            <div class="OperationTarget-height">
              <StackedColumnFoldMixedChart
                :legendone="mont07.chart"
                :x-axis="mont07.xAxis"
                :y-axis="mont07.yAxis"
                :series="mont07.series"
              />
            </div>
          </a-col>
          <a-col :md="{ span: 12 }">
            <p class="OperationTarget-title">{{ DEPT_NAME3 }}年度新增SKU数（自主开发）趋势图</p>
            <div class="OperationTarget-height">
              <StackedColumnFoldMixedChart
                :legendone="mont08.chart"
                :x-axis="mont08.xAxis"
                :y-axis="mont08.yAxis"
                :series="mont08.series"
              />
            </div>
          </a-col>
        </a-row>
      </div>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { nextTick, watch, defineExpose, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import tableStyle from './js/tableStyle';
  import { MergeTable } from '@/components/business';
  import { queryAggregate } from '@/api/strategyTracking';
  import tableFrom from '@/views/obeicockpit/obeiplatform/shopping/components/js/TableFrom';

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCallyear();
    },
  );
  const InitialCallyear = () => {
    nextTick(() => {
      query01();
      query02();
      query03();
    });
  };
  defineExpose({
    InitialCallyear,
  });

  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }
  function parameter1(usrtID, userName, userDept) {
    const cans = {
      relations: [
        {
          filterType: 'ragen',
          filterField: 'YM',
          filterValues: [`${props.yearMonth.substring(0, 4)}01`, props.yearMonth],
          widgetId: usrtID,
        },
        {
          filterField: 'PROD_NAME',
          filterValues: ['商城'],
          widgetId: usrtID,
        },
        {
          filterField: 'PROD_TARGET_PROJ',
          filterValues: [userName],
          widgetId: usrtID,
        },
        {
          filterField: 'DEPT_NAME',
          filterValues: [userDept],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }

  const table01 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '商城营收（万元）',
        children: [
          'sc_rev_curyear_prfm',
          'sc_rev_curyear_target',
          'sc_rev_curyear_cpltrate',
          'sc_rev_curyear_gap',
          'SC_REV_ANNUAL_FINISH_RATE',
        ],
      },
      {
        title: '多元+社会营收（万元）',
        children: [
          'dyshscys_curyear_prfm',
          'dyshscys_curyear_target',
          'dyshscys_curyear_cpltrate',
          'dyshscys_curyear_gap',
          'DYSHSCYS_ANNUAL_FINISH_RATE',
        ],
      },
      {
        title: '社会客户营收（万元）',
        children: [
          'shsc_rev_curyear_prfm',
          'shsc_rev_curyear_target',
          'shsc_rev_curyear_cpltrate',
          'shsc_rev_curyear_gap',
          'SHSC_REV_ANNUAL_FINISH_RATE',
        ],
      },
    ],
    columns: [
      { title: '单位', dataIndex: 'DEPT_NAME', key: 'DEPT_NAME', ellipsis: false, width: '7%' },
      {
        title: '本年实绩',
        dataIndex: 'sc_rev_curyear_prfm',
        key: 'sc_rev_curyear_prfm',
        formatter: 'rate2',
      },
      {
        title: '累计目标',
        dataIndex: 'sc_rev_curyear_target',
        key: 'sc_rev_curyear_target',
        formatter: 'rate2',
      },
      {
        title: '累计完成率',
        dataIndex: 'sc_rev_curyear_cpltrate',
        key: 'sc_rev_curyear_cpltrate',
        formatter: 'rate1',
      },
      {
        title: '缺口',
        dataIndex: 'sc_rev_curyear_gap',
        key: 'sc_rev_curyear_gap',
        formatter: 'rate1',
      },
      {
        title: '年度完成率',
        dataIndex: 'SC_REV_ANNUAL_FINISH_RATE',
        key: 'SC_REV_ANNUAL_FINISH_RATE',
        formatter: 'rate1',
      },
      {
        title: '本年实绩',
        dataIndex: 'dyshscys_curyear_prfm',
        key: 'dyshscys_curyear_prfm',
        formatter: 'rate2',
      },
      {
        title: '累计目标',
        dataIndex: 'dyshscys_curyear_target',
        key: 'dyshscys_curyear_target',
        formatter: 'rate2',
      },
      {
        title: '累计完成率',
        dataIndex: 'dyshscys_curyear_cpltrate',
        key: 'dyshscys_curyear_cpltrate',
        formatter: 'rate1',
      },
      {
        title: '缺口',
        dataIndex: 'dyshscys_curyear_gap',
        key: 'dyshscys_curyear_gap',
        formatter: 'rate2',
      },
      {
        title: '年度完成率',
        dataIndex: 'DYSHSCYS_ANNUAL_FINISH_RATE',
        key: 'DYSHSCYS_ANNUAL_FINISH_RATE',
        formatter: 'rate1',
      },
      {
        title: '本年实绩',
        dataIndex: 'shsc_rev_curyear_prfm',
        key: 'shsc_rev_curyear_prfm',
        formatter: 'rate2',
      },
      {
        title: '累计目标',
        dataIndex: 'shsc_rev_curyear_target',
        key: 'shsc_rev_curyear_target',
        formatter: 'rate2',
      },
      {
        title: '累计完成率',
        dataIndex: 'shsc_rev_curyear_cpltrate',
        key: 'shsc_rev_curyear_cpltrate',
        formatter: 'rate1',
      },
      {
        title: '缺口',
        dataIndex: 'shsc_rev_curyear_gap',
        key: 'shsc_rev_curyear_gap',
        formatter: 'rate2',
      },
      {
        title: '年度完成率',
        dataIndex: 'SHSC_REV_ANNUAL_FINISH_RATE',
        key: 'SHSC_REV_ANNUAL_FINISH_RATE',
        formatter: 'rate1',
      },
    ],
  });
  const query01 = () => {
    queryAggregate(parameter(2023052410060631)).then((result) => {
      const data = result.data[2023052410060631].dataMap;
      table01.dataSource = tableFrom.toTableData(result.data, 2023052410060631);
      DEPT_NAME1.value = data.DEPT_NAME[0];
      queryechart01();
      queryechart02();
      queryechart03();
    });
  };
  const DEPT_NAME1 = ref('');
  const ontable01Clicked = (record) => {
    DEPT_NAME1.value = record.DEPT_NAME;
    queryechart01();
    queryechart02();
    queryechart03();
  };
  const mont01 = reactive({
    chart: ['实绩', '目标'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }],
    series: [],
  });
  const queryechart01 = () => {
    queryAggregate(parameter1(2023042613301235, '商城营业收入', DEPT_NAME1.value)).then(
      (result) => {
        const data = result.data[2023042613301235].dataMap;
        mont01.series = seriesData(data.CURYEAR_TARGET, data.CURYEAR_PRFM);
        mont01.xAxis = data.YM;
      },
    );
  };
  const mont02 = reactive({
    chart: ['实绩', '目标'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }],
    series: [],
  });
  const queryechart02 = () => {
    queryAggregate(
      parameter1(2023042613301235, '多元产业、社会客户商城营业收入', DEPT_NAME1.value),
    ).then((result) => {
      const data = result.data[2023042613301235].dataMap;
      mont02.series = seriesData(data.CURYEAR_TARGET, data.CURYEAR_PRFM);
      mont02.xAxis = data.YM;
    });
  };
  const mont03 = reactive({
    chart: ['实绩', '目标'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }],
    series: [],
  });
  const queryechart03 = () => {
    queryAggregate(parameter1(2023042613301235, '社会客户商城营业收入', DEPT_NAME1.value)).then(
      (result) => {
        const data = result.data[2023042613301235].dataMap;
        mont03.series = seriesData(data.CURYEAR_TARGET, data.CURYEAR_PRFM);
        mont03.xAxis = data.YM;
      },
    );
  };

  const table02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '商城毛利（万元）',
        children: [
          'scml_curyear_prfm',
          'scml_curyear_target',
          'scml_curyear_cpltrate',
          'scml_curyear_gap',
          'SCML_ANNUAL_FINISH_RATE',
        ],
      },
      {
        title: '商城新增客户数（万元）',
        children: [
          'xzkh_curyear_prfm',
          'xzkh_curyear_target',
          'xzkh_curyear_cpltrate',
          'xzkh_curyear_gap',
          'XZKH_ANNUAL_FINISH_RATE',
        ],
      },
      {
        title: '商城新增双非客户数（万元）',
        children: [
          'xzsfkh_curyear_prfm',
          'xzsfkh_curyear_target',
          'xzsfkh_curyear_cpltrate',
          'xzsfkh_curyear_gap',
          'XZSFKH_ANNUAL_FINISH_RATE',
        ],
      },
    ],
    columns: [
      { title: '单位', dataIndex: 'DEPT_NAME', key: 'DEPT_NAME', ellipsis: false, width: '7%' },
      {
        title: '本年实绩',
        dataIndex: 'scml_curyear_prfm',
        key: 'scml_curyear_prfm',
        formatter: 'rate2',
      },
      {
        title: '累计目标',
        dataIndex: 'scml_curyear_target',
        key: 'scml_curyear_target',
        formatter: 'rate2',
      },
      {
        title: '累计完成率',
        dataIndex: 'scml_curyear_cpltrate',
        key: 'scml_curyear_cpltrate',
        formatter: 'rate1',
      },
      {
        title: '缺口',
        dataIndex: 'scml_curyear_gap',
        key: 'scml_curyear_gap',
        formatter: 'rate2',
      },
      {
        title: '年度完成率',
        dataIndex: 'SCML_ANNUAL_FINISH_RATE',
        key: 'SCML_ANNUAL_FINISH_RATE',
        formatter: 'rate1',
      },
      {
        title: '本年实绩',
        dataIndex: 'xzkh_curyear_prfm',
        key: 'xzkh_curyear_prfm',
        formatter: 'rate2',
      },
      {
        title: '累计目标',
        dataIndex: 'xzkh_curyear_target',
        key: 'xzkh_curyear_target',
        formatter: 'rate2',
      },
      {
        title: '累计完成率',
        dataIndex: 'xzkh_curyear_cpltrate',
        key: 'xzkh_curyear_cpltrate',
        formatter: 'rate1',
      },
      {
        title: '缺口',
        dataIndex: 'xzkh_curyear_gap',
        key: 'xzkh_curyear_gap',
        formatter: 'rate2',
      },
      {
        title: '年度完成率',
        dataIndex: 'XZKH_ANNUAL_FINISH_RATE',
        key: 'XZKH_ANNUAL_FINISH_RATE',
        formatter: 'rate1',
      },
      {
        title: '本年实绩',
        dataIndex: 'xzsfkh_curyear_prfm',
        key: 'xzsfkh_curyear_prfm',
        formatter: 'rate2',
      },
      {
        title: '累计目标',
        dataIndex: 'xzsfkh_curyear_target',
        key: 'xzsfkh_curyear_target',
        formatter: 'rate2',
      },
      {
        title: '累计完成率',
        dataIndex: 'xzsfkh_curyear_cpltrate',
        key: 'xzsfkh_curyear_cpltrate',
        formatter: 'rate1',
      },
      {
        title: '缺口',
        dataIndex: 'xzsfkh_curyear_gap',
        key: 'xzsfkh_curyear_gap',
        formatter: 'rate2',
      },
      {
        title: '年度完成率',
        dataIndex: 'XZSFKH_ANNUAL_FINISH_RATE',
        key: 'XZSFKH_ANNUAL_FINISH_RATE',
        formatter: 'rate1',
      },
    ],
  });
  const query02 = () => {
    queryAggregate(parameter(2023052410060632)).then((result) => {
      const data = result.data[2023052410060632].dataMap;
      table02.dataSource = tableFrom.toTableData(result.data, 2023052410060632);
      DEPT_NAME2.value = data.DEPT_NAME[0];
      queryechart04();
      queryechart05();
      queryechart06();
    });
  };
  const DEPT_NAME2 = ref('');
  const ontable02Clicked = (record) => {
    DEPT_NAME2.value = record.DEPT_NAME;
    queryechart04();
    queryechart05();
    queryechart06();
  };
  const mont04 = reactive({
    chart: ['实绩', '目标'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }],
    series: [],
  });
  const queryechart04 = () => {
    queryAggregate(parameter1(2023042613301235, '商城业务毛利', DEPT_NAME2.value)).then(
      (result) => {
        const data = result.data[2023042613301235].dataMap;
        mont04.series = seriesData(data.CURYEAR_TARGET, data.CURYEAR_PRFM);
        mont04.xAxis = data.YM;
      },
    );
  };
  const mont05 = reactive({
    chart: ['实绩', '目标'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }],
    series: [],
  });
  const queryechart05 = () => {
    queryAggregate(parameter1(2023042613301235, '商城新增客户数', DEPT_NAME2.value)).then(
      (result) => {
        const data = result.data[2023042613301235].dataMap;
        mont05.series = seriesData(data.CURYEAR_TARGET, data.CURYEAR_PRFM);
        mont05.xAxis = data.YM;
      },
    );
  };
  const mont06 = reactive({
    chart: ['实绩', '目标'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }],
    series: [],
  });
  const queryechart06 = () => {
    queryAggregate(parameter1(2023042613301235, '商城新增双非客户数', DEPT_NAME2.value)).then(
      (result) => {
        const data = result.data[2023042613301235].dataMap;
        mont06.series = seriesData(data.CURYEAR_TARGET, data.CURYEAR_PRFM);
        mont06.xAxis = data.YM;
      },
    );
  };

  const table03 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '核心商品线建设（万元）',
        children: [
          'hxspjs_curyear_prfm',
          'hxspjs_curyear_target',
          'hxspjs_curyear_cpltrate',
          'hxspjs_curyear_gap',
          'HXSPJS_ANNUAL_FINISH_RATE',
        ],
      },
      {
        title: '年度新增SKU数（万元）',
        children: [
          'zjkf_curyear_PRFM',
          'zjkf_curyear_TARGET',
          'zjkf_curyear_CPLTRATE',
          'zjkf_curyear_GAP',
          'ZJKF_ANNUAL_FINISH_RATE',
        ],
      },
    ],
    columns: [
      { title: '单位', dataIndex: 'DEPT_NAME', key: 'DEPT_NAME', ellipsis: false },
      {
        title: '本年实绩',
        dataIndex: 'hxspjs_curyear_prfm',
        key: 'hxspjs_curyear_prfm',
        formatter: 'rate2',
      },
      {
        title: '累计目标',
        dataIndex: 'hxspjs_curyear_target',
        key: 'hxspjs_curyear_target',
        formatter: 'rate2',
      },
      {
        title: '累计完成率',
        dataIndex: 'hxspjs_curyear_cpltrate',
        key: 'hxspjs_curyear_cpltrate',
        formatter: 'rate1',
      },
      {
        title: '缺口',
        dataIndex: 'hxspjs_curyear_gap',
        key: 'hxspjs_curyear_gap',
        formatter: 'rate2',
      },
      {
        title: '年度完成率',
        dataIndex: 'HXSPJS_ANNUAL_FINISH_RATE',
        key: 'HXSPJS_ANNUAL_FINISH_RATE',
        formatter: 'rate1',
      },
      {
        title: '本年实绩',
        dataIndex: 'zjkf_curyear_PRFM',
        key: 'zjkf_curyear_PRFM',
        formatter: 'rate2',
      },
      {
        title: '累计目标',
        dataIndex: 'zjkf_curyear_TARGET',
        key: 'zjkf_curyear_TARGET',
        formatter: 'rate2',
      },
      {
        title: '累计完成率',
        dataIndex: 'zjkf_curyear_CPLTRATE',
        key: 'zjkf_curyear_CPLTRATE',
        formatter: 'rate1',
      },
      {
        title: '缺口',
        dataIndex: 'zjkf_curyear_GAP',
        key: 'zjkf_curyear_GAP',
        formatter: 'rate2',
      },
      {
        title: '年度完成率',
        dataIndex: 'ZJKF_ANNUAL_FINISH_RATE',
        key: 'ZJKF_ANNUAL_FINISH_RATE',
        formatter: 'rate1',
      },
    ],
  });
  const query03 = () => {
    queryAggregate(parameter(2023052410060633)).then((result) => {
      const data = result.data[2023052410060633].dataMap;
      table03.dataSource = tableFrom.toTableData(result.data, 2023052410060633);
      DEPT_NAME2.value = data.DEPT_NAME[0];
      queryechart07();
      queryechart08();
    });
  };
  const DEPT_NAME3 = ref('');
  const ontable03Clicked = (record) => {
    DEPT_NAME3.value = record.DEPT_NAME;
    queryechart07();
    queryechart08();
  };
  const mont07 = reactive({
    chart: ['实绩', '目标'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }],
    series: [],
  });
  const queryechart07 = () => {
    queryAggregate(parameter1(2023042613301235, '核心商品线建设', DEPT_NAME2.value)).then(
      (result) => {
        const data = result.data[2023042613301235].dataMap;
        mont07.series = seriesData(data.CURYEAR_TARGET, data.CURYEAR_PRFM);
        mont07.xAxis = data.YM;
      },
    );
  };
  const mont08 = reactive({
    chart: ['实绩', '目标'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }],
    series: [],
  });
  const queryechart08 = () => {
    queryAggregate(
      parameter1(2023042613301235, '年度新增SKU数（自主开发）', DEPT_NAME2.value),
    ).then((result) => {
      const data = result.data[2023042613301235].dataMap;
      mont08.series = seriesData(data.CURYEAR_TARGET, data.CURYEAR_PRFM);
      mont08.xAxis = data.YM;
    });
  };

  //保留两位有效小数
  function Xiaoshu(text) {
    if (text === '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext).toLocaleString();
    }
  }
  function seriesData(data1, data2) {
    const series = [
      {
        name: '目标',
        type: 'bar',
        data: [],
        tooltip: {
          valueFormatter(value) {
            return `${Xiaoshu(value)}万元`;
          },
        },
        itemStyle: {
          normal: {
            barBorderRadius: [40, 40, 0, 0],
          },
        },
        barGap: 0,
        barWidth: '25px',
      },
      {
        name: '实绩',
        type: 'bar',
        data: [],
        tooltip: {
          valueFormatter(value) {
            return `${Xiaoshu(value)} 万元`;
          },
        },
        itemStyle: {
          normal: {
            barBorderRadius: [40, 40, 0, 0],
          },
        },
        barWidth: '25px',
      },
    ];
    series[0].data = data1;
    series[1].data = data2;
    return series;
  }
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin: 10px 0px;
    }
    .OperationTarget-height {
      height: 300px;
    }
  }
</style>
