<template>
  <a-drawer
    v-model:visible="visible"
    class="custom-class"
    style="color: red"
    :title="props.widget.widgetName"
    placement="right"
    width="650"
    @after-visible-change="afterVisibleChange"
  >
    <div class="radio-btn">
      <a-radio-group v-model:value="state.type" :options="state.plainOptions" @change="onChange" />
    </div>
    <div v-show="state.type == 1">
      <!-- 抛出参数 -->
      <a-collapse v-model:activeKey="state.activeKey">
        <a-collapse-panel key="1" header="鼠标单击联动">
          <div class="add-conditions">
            <a-button type="primary" size="small" @click="addNodeArr1">
              <template #icon>
                <plus-circle-outlined />
              </template>
              添加
            </a-button>
          </div>
          <div v-for="(item, index) in state.listArr1.conditions" :key="index" class="conditions">
            <a-select
              v-model:value="item.source.column"
              placeholder="添加项"
              style="width: 187px"
              @change="(val) => changeSelectFn(val, index, item)"
            >
              <a-select-option v-for="(n, i) in state.fieldList" :key="i" :value="n.columnName">
                {{ n.columnCName || n.columnName }}
              </a-select-option>
            </a-select>
            <div class="conditions-label">映射</div>
            <a-input
              v-model:value="item.linkTarget.targetAlias"
              placeholder=""
              style="width: 285px"
              @change="(val) => changeInputArr1(item, index)"
            />
            <minus-circle-outlined @click="onRemoveArr1(index)" />
          </div>
        </a-collapse-panel>
        <a-collapse-panel key="2" header="鼠标双击跳转">
          <div class="add-conditions">
            <a-button type="primary" size="small" @click="addNodeArr2">
              <template #icon>
                <plus-circle-outlined />
              </template>
              添加
            </a-button>
          </div>
          <div v-for="(item, index) in state.listArr2.conditions" :key="index" class="conditions">
            <a-select
              v-model:value="item.source.column"
              placeholder="添加项"
              style="width: 187px"
              @change="(val) => changeSelect2Fn(val, index, item)"
            >
              <a-select-option v-for="(n, i) in state.fieldList" :key="i" :value="n.columnName">
                {{ n.columnCName || n.columnName }}
              </a-select-option>
            </a-select>
            <div class="conditions-label">映射</div>
            <a-input
              v-model:value="item.linkTarget.targetAlias"
              placeholder=""
              style="width: 285px"
              @change="(val) => changeInputArr2(item, index)"
            />
            <minus-circle-outlined @click="onRemoveArr2(index)" />
          </div>
          跳转：
          <a-select
            v-model:value="state.listArr2.targetId"
            placeholder="选择看板"
            show-search
            :filter-option="false"
            set-fields-value="select"
            :allow-clear="true"
            style="width: 490px"
            @search="getSelectBoardList"
            @change="handleChange"
          >
            <a-select-option
              v-for="item in state.selectBoardListData"
              :key="item.boardId"
              :value="item.boardId"
              >{{ item.boardName }}</a-select-option
            >
          </a-select>
        </a-collapse-panel>
      </a-collapse>
    </div>
    <div v-show="state.type == 2">
      <!-- 接收参数 -->
      <div class="add-conditions">
        <a-button type="primary" size="small" @click="addNodeArr3">
          <template #icon>
            <plus-circle-outlined />
          </template>
          添加
        </a-button>
      </div>
      <div v-for="(item, index) in state.listArr3.conditions" :key="index" class="conditions">
        <a-select
          v-model:value="item.linkTarget.targetAlias"
          placeholder="添加项"
          style="width: 285px"
          option-filter-prop="children"
          show-search
          :filter-option="filterOption"
          @change="(val) => findProviderId(val, item)"
        >
          <a-select-option v-for="(n, i) in store.dimIdMap" :key="i" :value="n.value">
            {{ n.value }}
          </a-select-option>
        </a-select>
        <!-- <a-input 
          v-model:value="item.linkTarget.targetAlias"
          placeholder="输入参数"
          style="width: 285px"
          @blur="(val) => findProviderId(val, item)"
        /> -->
        <div class="conditions-label">映射</div>
        <a-select
          v-model:value="item.source.column"
          placeholder="添加项"
          style="width: 187px"
          @change="(val) => changeSelect3Fn(val, index, item)"
        >
          <a-select-option v-for="(n, i) in state.fieldList" :key="i" :value="n.columnName">
            {{ n.columnCName || n.columnName }}
          </a-select-option>
        </a-select>
        <minus-circle-outlined @click="onRemoveArr3(index)" />
      </div>
    </div>
    <div class="bottom-btn">
      <a-button style="margin-right: 10px" @click="onClose"> 取消 </a-button>
      <a-button type="primary" @click="onSubmit"> 确定 </a-button>
    </div>
  </a-drawer>
</template>

<script lang="ts" setup>
  import { reactive, watch, ref, onMounted } from 'vue';
  import { PlusCircleOutlined, MinusCircleOutlined } from '@ant-design/icons-vue';
  import { useRoute } from 'vue-router';
  import { message } from 'ant-design-vue';
  import { BoardList } from '@/api/supervisionModel';
  import { kanbanConfigStore } from '@/store/modules/kanbanConfig';
  const store = kanbanConfigStore();
  const emit = defineEmits(['boardRelationSureFn']);
  const visible = ref<boolean>(false);
  const $route = useRoute();
  const afterVisibleChange = () => {
    // console.log('visible', bool);
  };
  // starting------
  const props = defineProps({
    widgetId: String,
    widgetName: String,
    widget: {
      type: Object,
      default: () => {
        return {};
      },
    },
    // dimIdMap: {
    //   type: Array,
    //   default: () => {
    //     return [];
    //   },
    // },
    boardType: Number,
    selectedType: String,
  });
  const state = reactive({
    fieldList: [],
    visible: false,
    activeKey: ['1', '2'],
    type: 1,
    filterItem: null,
    filterItemId: null,
    plainOptions: [
      { label: '抛出参数', value: 1 },
      { label: '接收参数', value: 2 },
    ],
    listArr1: {
      // 内联
      linkType: 'provider',
      alias: '',
      type: 'linkageWidget',
      conditions: [],
      frontFlag: 1, // 1 表示抛出数据---回显使用
    },
    listArr2: {
      // 外联
      linkType: 'provider', // 抛出参数标识provider
      targetId: null, // 选择看板的boardId
      alias: '',
      type: 'jumpLink',
      conditions: [],
      frontFlag: 2, // 2 表示抛出外联数据---回显使用
    },
    listArr3: {
      // 抛出参数数据
      linkType: 'consumer', // 接收参数标识consumer
      alias: '',
      type: 'linkageWidget',
      conditions: [],
      frontFlag: 3, // 3 表示接收数据---回显使用
    },
    relations: {
      widgetId: null,
      links: [],
    },
    boardId: null,
    selectBoardListData: [],
    selectedTypeLocal: '',
  });
  onMounted(() => {
    getSelectBoardList();
  });
  watch(
    () => visible.value,
    (val) => {
      if (val) {
        state.type = 1;
      }
      if (val) {
        getFieldList();
      }
    },
  );
  watch(
    () => props.selectedType,
    (val) => {
      state.selectedTypeLocal = val;
    },
    { deep: true, immediate: true },
  );
  const filterOption = (input, option) => {
    return option.value.toLowerCase().indexOf(input.toLowerCase()) >= 0;
  };
  const getFieldList = () => {
    state.fieldList = [].concat(props.widget.config.data.rows).concat(
      props.widget.config.data.values.map((x) => {
        x.columnName = x.column;
        return x;
      }),
    );
    const pageData = JSON.parse(props.widget.config.data.pageData);
    if (pageData) {
      const filterList = pageData.filterList;
      if (filterList && filterList.length > 0) {
        filterList.forEach((x) => {
          if (x.title == '过滤') {
            x.value.forEach((y) => {
              if (!state.fieldList.find((z) => z.columnName == y.name || z.columnName == y.key)) {
                state.fieldList.push({
                  ...y,
                  columnName: y.columnName,
                  columnCName: y.sourceName,
                  id: y.sourceId,
                  key: y.sourceId,
                });
              }
            });
          }
        });
      }
    }
  };
  const setDefaultArr = (val) => {
    if (val != undefined && val.hasOwnProperty('targetId')) {
      state.listArr1.conditions = val.c1;
      state.listArr2.targetId = val.targetId;
      state.listArr2.conditions = val.c2;
      state.listArr3.conditions = val.c3;
    } else {
      state.listArr1.conditions = [];
      state.listArr2.targetId = null;
      state.listArr2.conditions = [];
      state.listArr3.conditions = [];
    }
  };
  const findProviderId = (value, item) => {
    // 放在确定再匹配
    const v = value; //.target.value;
    console.log('找到了匹配的抛出字段，得到对应id放当前linkTarget-dimId');
    const obj = store.dimIdMap.find((x) => x.value === v);
    if (obj != undefined) {
      //  说明找到了匹配的抛出字段，得到对应id放当前linkTarget-dimId
      item.linkTarget.dimId = obj.key;
      item.linkTarget.targetAlias = v;
    }
  };
  const handleChange = (value) => {
    if (value != undefined) {
      state.listArr2.targetId = value;
    } else {
      state.listArr2.targetId = null;
    }
  };

  const getSelectBoardList = (value) => {
    // 看板下拉数据
    const _params1 = {
      boardName: value, // 看板名称
      bizIds: '',
      status: '',
      createUserName: '',
      createDate: '',
      boardType: $route.query.boardType, //$route.query.page == 'home' ? 10 : props.boardType, // 首页看板10 模型看板30 普通看板20
      pageSize: 20,
    };

    BoardList(_params1).then((r) => {
      if (r.data.success === true) {
        state.selectBoardListData = r.data.data;
      } else {
        message.error(r.data.message);
      }
    });
  };
  const changeSelectFn = (val, index) => {
    // state.filterItemId = `val${index}`

    const obj = state.fieldList.find((item) => {
      return item.columnName === val;
    });
    state.listArr1.conditions[index] = {
      //vue2用的$set,v3废弃$set
      source: {
        column: obj.columnName,
        id: obj.id,
        filterType: '=',
      },
      linkTarget: {
        dimId: obj.id,
        targetAlias: `${obj.columnName}${index + 1 < 10 ? `0${index + 1}` : index + 1}`,
      },
    };
  };
  const changeSelect2Fn = (val, index) => {
    // state.filterItemId = `val${index}`

    const obj = state.fieldList.find((item) => {
      return item.columnName === val;
    });
    state.listArr2.conditions[index] = {
      source: {
        column: obj.columnName,
        id: obj.id,
        filterType: '=',
      },
      linkTarget: {
        dimId: obj.id,
        targetAlias: `${obj.columnName}${index + 1 < 10 ? `0${index + 1}` : index + 1}`,
      },
    };
  };
  const changeSelect3Fn = (val, index) => {
    const obj = state.fieldList.find((item) => {
      return item.columnName === val;
    });
    const _source = {
      column: obj.columnName,
      id: obj.id,
      filterType: '=',
    };
    state.listArr3.conditions[index].source = _source;
  };
  const changeInputArr1 = (item, index) => {
    state.listArr1.conditions.forEach((x, i) => {
      if (i != index) {
        if (x.linkTarget.targetAlias === item.linkTarget.targetAlias) {
          state.$message.warning('映射字段不能重复');
          item.linkTarget.targetAlias = '';
        }
      }
    });
  };
  const changeInputArr2 = (item, index) => {
    state.listArr1.conditions.forEach((x, i) => {
      if (i != index) {
        if (x.linkTarget.targetAlias === item.linkTarget.targetAlias) {
          state.$message.warning('映射字段不能重复');
          item.linkTarget.targetAlias = '';
        }
      }
    });
  };
  const onRemoveArr1 = (index) => {
    state.listArr1.conditions.splice(index, 1);
  };
  const addNodeArr1 = () => {
    state.listArr1.conditions.push({
      source: {
        column: '',
        id: '',
        filterType: '=',
      },
      linkTarget: {
        dimId: '',
        targetAlias: '',
      },
    });
  };
  const onRemoveArr2 = (index) => {
    state.listArr2.conditions.splice(index, 1);
  };
  const addNodeArr2 = () => {
    state.listArr2.conditions.push({
      source: {
        column: '',
        id: '',
        filterType: '=',
      },
      linkTarget: {
        dimId: '',
        targetAlias: '',
      },
    });
  };
  const onRemoveArr3 = (index) => {
    state.listArr3.conditions.splice(index, 1);
  };
  const addNodeArr3 = () => {
    state.listArr3.conditions.push({
      source: {
        column: '',
        id: '',
        filterType: '=',
      },
      linkTarget: {
        dimId: '',
        targetAlias: '',
      },
    });
  };
  const onChange = (e) => {
    state.type = e.target.value;
  };
  const onClose = () => {
    visible.value = false;
    // state.$emit("boardRelationCloseFn");//暂时注释
  };
  const onSubmit = () => {
    let flag = true;
    if (
      (state.listArr1.conditions.length > 0 || state.listArr2.conditions.length > 0) &&
      state.listArr3.conditions.length > 0
    ) {
      state.listArr1.conditions.forEach((a) => {
        state.listArr3.conditions.forEach((b) => {
          if (a.source.id === b.source.id) {
            flag = false;
            return message.warning('抛出参数不能和接收数据相同');
          }
        });
      });
      state.listArr2.conditions.forEach((a) => {
        state.listArr3.conditions.forEach((b) => {
          if (a.source.id === b.source.id) {
            flag = false;
            return message.warning('抛出参数不能和接收数据相同');
          }
        });
      });
    }
    if (flag) {
      // visible.value = false;
      // state.relations.widgetId = props.widgetId;
      // state.relations.links = [state.listArr1, state.listArr2, state.listArr3];
      // emit('boardRelationSureFn', state.relations);
      if (state.listArr3.conditions.length > 0) {
        let pass = true;
        state.listArr3.conditions.map((x) => {
          if (!x.linkTarget.targetAlias || !x.source.column) {
            pass = false;
          }
        });
        if (!pass) return message.warning('请完善接收参数');
      }
      if (state.listArr1.conditions.length > 0) {
        let pass = true;
        state.listArr1.conditions.map((x) => {
          if (!x.linkTarget.targetAlias || !x.source.column) {
            pass = false;
          }
        });
        if (!pass) return message.warning('请完善接收参数');
      }
      if (state.listArr2.conditions.length > 0) {
        let pass = true;
        state.listArr2.conditions.map((x) => {
          if (!x.linkTarget.targetAlias || !x.source.column) {
            pass = false;
          }
        });
        if (!pass) return message.warning('请完善接收参数');
      }
      const index = store.kanbanData.findIndex((x) => x.widgetId == props.widget.widgetId);
      store.kanbanData[index].relations.links = [state.listArr1, state.listArr2, state.listArr3];
      emit('boardRelationSureFn');
      visible.value = false;
    }
  };
  // end-----
  const showDrawer = () => {
    visible.value = true;
  };
  defineExpose({ showDrawer, setDefaultArr });
</script>

<style lang="less" scoped>
  .radio-btn {
    margin-bottom: 15px;
  }
  .add-conditions {
    text-align: right;
    margin-bottom: 15px;
  }
  .conditions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .bottom-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    left: 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
  }
</style>
