<template>
  <DraggableModal
    v-model:visible="myVisible"
    :title="'   '"
    :width="1000"
    :footer="null"
    destroy-on-close
    @cancel="close"
  >
    <a-textarea
      v-model:value="remark"
      :disabled="state.disabled"
      :autosize="{ minRows: 5, maxRows: 6 }"
      show-count
      :maxlength="500"
      class="items"
    />
    <div style="margin: 0 0 20px 0">
      <a-button
        size="large"
        type="primary"
        style="margin: 20px 20px 0 0"
        :loading="loading"
        :disabled="state.disabled"
        @click="save"
        >保存</a-button
      >
      <a-button size="large" :loading="loading" @click="close">取消</a-button>
    </div>
    <div v-if="state.list.length > 0" class="timeline-div">
      <a-timeline class="timeline">
        <a-timeline-item v-for="(item, index) in state.list" :key="index" class="timeline-item">
          <div class="items"> **** {{ dayjs(item.createDate).format('YYYY-MM-DD HH:mm:ss') }}</div
          ><div class="items itemInfo">{{ item.remark }}</div>
          <div style="text-align: right">
            <a-button
              type="primary"
              style="margin-right: 10px"
              :loading="loading"
              @click="onRevise(item.id, item.remark)"
              >修改</a-button
            >
            <a-button type="danger" :loading="loading" @click="onDelete(item.id)">删除</a-button>
          </div>
        </a-timeline-item>
      </a-timeline>
    </div>
    <a-modal v-model:visible="state.visibleR" title="修改" @ok="handleOk">
      <a-textarea
        v-model:value="state.remarkR"
        :autosize="{ minRows: 5, maxRows: 6 }"
        show-count
        :maxlength="500"
        class="items"
      />
    </a-modal>
  </DraggableModal>
</template>

<script lang="ts" setup>
  import { reactive, ref, watch } from 'vue';
  import dayjs from 'dayjs';
  import { message as $message } from 'ant-design-vue';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { queryRemark, saveRemark, searchAllocate } from '@/api/strategyTracking';
  import { useUserStore } from '@/store/modules/user';
  const userStore = useUserStore();

  defineOptions({ name: 'ShowModal' });
  const emit = defineEmits(['close']);
  const state = reactive({
    record: {},
    column: {},
    list: [],
    data: {},
    keyColumnName: [],
    horizontal: '',
    loading: false,
    visibleR: false,
    id: '',
    remarkR: '',
  });
  const props = defineProps({
    visible: Boolean,
    widgetId: {
      type: Number,
      default: () => {
        return null;
      },
    },
    filter: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const myVisible = ref(false);
  const remark = ref('');
  const changeInfo = (record, column) => {
    state.record = record;
    state.column = column;
  };
  const save = () => {
    if (remark.value == '') {
      $message.warning('内容不能为空！');
      return;
    }
    const params = {
      widgetId: props.widgetId,
      targetName: JSON.stringify(props.filter) === '{}' ? '' : props.filter.area,
      horizontal: state.horizontal.join(),
      vertical: '',
      remark: remark.value,
      ym: userStore.yearDate,
    };
    saveRemark(params).then((r) => {
      if (r.success) {
        close();
      }
    });
  };
  const close = () => {
    emit('close');
    remark.value = '';
  };
  const searchQ = () => {
    state.list = [];
    const params = {
      ym: userStore.yearDate,
      widgetId: props.widgetId,
      targetName: JSON.stringify(props.filter) === '{}' ? '' : props.filter.area,
    };
    queryRemark(params).then((r) => {
      state.list =
        JSON.stringify(props.filter) === '{}' ? r.data.listPrimary : r.data.listSecondary;
      state.list = state.list.filter((v) => {
        return v.horizontal == state.horizontal.join();
      });
    });
  };
  const search = async () => {
    const params = {
      widgetId: props.widgetId,
      areaName: JSON.stringify(props.filter) === '{}' ? '' : props.filter.area,
    };
    const res = await searchAllocate(params);
    if (res.data && res.data.length > 0) {
      state.data = res.data[0];
      state.keyColumnName = state.data.keyColumnName.indexOf(',')
        ? state.data.keyColumnName.split(',')
        : [state.data.keyColumnName];
      state.horizontal = [];
      state.keyColumnName.forEach((v) => {
        state.horizontal.push(state.record[v]);
      });
      state.disabled = false;
      searchQ();
    } else {
      state.data = [];
      state.disabled = true;
    }
  };
  const onDelete = async (id) => {
    state.loading = true;
    const params = {
      widgetId: props.widgetId,
      targetName: JSON.stringify(props.filter) === '{}' ? '' : props.filter.area,
      aliveFlag: 0,
      id,
    };
    const r = await saveRemark(params);
    if (r.success) {
      await searchQ();
      close();
    }
    state.loading = false;
  };
  const onRevise = (id, remark) => {
    state.visibleR = true;
    state.id = id;
    state.remarkR = remark;
  };
  const handleOk = async () => {
    state.loading = true;
    const params = {
      widgetId: props.widgetId,
      targetName: JSON.stringify(props.filter) === '{}' ? '' : props.filter.area,
      id: state.id,
      remark: state.remarkR,
      // horizontal: state.horizontal.join(),
      // vertical: '',
    };
    const r = await saveRemark(params);
    if (r.success) {
      await searchQ();
    }
    state.loading = false;
    state.visibleR = false;
    close();
  };
  watch(
    () => props.visible,
    (v) => {
      if (v) {
        search();
      }
      myVisible.value = v;
    },
  );
  defineExpose({ changeInfo });
</script>

<style scoped lang="less">
  .ellipsis {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .timeline {
    max-height: 200px;
    overflow: auto;
    .timeline-item:first-child {
      margin-top: 10px;
    }
  }
  .timeline-div {
    padding: 20px;
    border: 1px solid #ccc;
  }
  .items {
    font-size: 22px;
  }
  .itemInfo {
    color: #777;
  }
  /deep/.ant-input {
    font-size: 22px;
  }
</style>
