<template>
  <div class="page-container">
    <DynamicTable
      header-title="数据日志"
      :data-request="loadTableData"
      :columns="columns"
      auto-height
      :scroll="{ y: 300 }"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.dataIndex === 'handlerStatus'">
          <span class="seeValue" @click="showSeeModal(record)">查看</span>
        </template>
      </template>
    </DynamicTable>
    <!-- 接口返回值查看 -->
    <DataComparison
      :visible="state.infovisible"
      :compardata="state.comparData"
      @close="detailDialogClose"
    />
  </div>
</template>

<script setup lang="tsx">
  import { reactive } from 'vue';
  import { baseColumns, type TableColumnItem } from './columns';
  import DataComparison from './components/DataComparison.vue';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  import { getDataLoggingList } from '@/api/dataAdministration/datalogging';
  defineOptions({
    name: 'DataLogging',
    inheritAttrs: false,
  });
  const state = reactive({
    infovisible: false,
    comparData: {},
  });
  const detailDialogClose = () => {
    state.infovisible = false;
  };
  const [DynamicTable] = useTable({
    size: 'small',
    rowKey: 'id',
    bordered: true,
  });

  const showSeeModal = (record) => {
    state.infovisible = true;
    state.comparData = record;
  };
  const loadTableData = async (params: LoadDataParams) => {
    if (params.createTime) {
      params.createTimeFrom = params.createTime[0];
      params.createTimeTo = params.createTime[1];
      params.createTime = null;
    }
    const data = await getDataLoggingList({
      ...params,
    });
    const dsList = data.data.map((item) => {
      return {
        ...item,
      };
    });
    if (data.success) {
      return {
        list: dsList,
        pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
      };
    }
  };

  const columns: TableColumnItem[] = [...baseColumns];
</script>

<style lang="less" scoped>
  .seeValue {
    color: #1890ff;
    cursor: pointer; //鼠标变手
  }
  .page-container {
    width: 100%;
  }
</style>
