<template>
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]" class="gutter-style">
      <a-col
        v-if="props.depData != '欧冶采购'"
        :md="
          props.depData != '销售一部' &&
          props.depData != '销售二部' &&
          props.depData != '销售支持部' &&
          props.depData != '润益科技' &&
          props.depData != '市场营销部'
            ? { span: 16 }
            : { span: 24 }
        "
      >
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">易购</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in eBay.bay" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <template
                  v-if="
                    item.title == 'GMV' ||
                    item.title == '非集采营业收入' ||
                    item.title == '各项占比'
                  "
                >
                  <TemGauge
                    v-if="item.title == 'GMV'"
                    :echarcolor="state.gmvcolor"
                    :echardata="item.rate"
                  />
                  <PieWebsite
                    v-if="item.title == '各项占比'"
                    :echardata="pie.data"
                    :echarunit="item.unit"
                  />
                  <SpeedGauge
                    v-if="item.title == '非集采营业收入'"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                  />
                </template>
                <template v-else>
                  <ScoringRing
                    :echarcolor="state.defcolor"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                  />
                </template>
              </p>
              <div v-if="item.title == '各项占比'" class="text2">
                <p>多元产业&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>社会客户&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
                <p>供应商收费&nbsp;:&nbsp;{{ item.other }} {{ item.unit }}</p>
              </div>
              <div v-else class="text-GMV">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col
        v-if="
          props.depData != '销售一部' &&
          props.depData != '销售二部' &&
          props.depData != '销售支持部' &&
          props.depData != '润益科技' &&
          props.depData != '市场营销部' &&
          props.depData != '欧冶采购'
        "
        :md="{ span: 4 }"
      >
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">易销</p>
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">营业收入</p>
              <p class="gmv-style"
                ><SpeedGauge :echardata="YX.CURYEAR_CPLTRATE" :echarunit="state.e03"
              /></p>
              <div class="text-YX">
                <p>目标：{{ YX.CURYEAR_TARGET }} 万元</p>
                <p>当前： {{ YX.CURYEAR_PRFM }} 万元</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>
      <a-col
        v-if="
          props.depData != '销售一部' &&
          props.depData != '销售二部' &&
          props.depData != '销售支持部' &&
          props.depData != '润益科技' &&
          props.depData != '市场营销部' &&
          props.depData != '欧冶采购'
        "
        :md="{ span: 4 }"
      >
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">零碳</p>
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">营业收入</p>
              <p class="gmv-style"
                ><SpeedGauge :echardata="LT.CURYEAR_CPLTRATE" :echarunit="state.e03"
              /></p>
              <div class="text-YX">
                <p>目标：{{ LT.CURYEAR_TARGET }} 万元</p>
                <p>当前： {{ LT.CURYEAR_PRFM }} 万元</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>
      <a-col
        v-if="
          props.depData != '销售一部' &&
          props.depData != '销售二部' &&
          props.depData != '销售支持部' &&
          props.depData != '润益科技' &&
          props.depData != '市场营销部'
        "
        :md="{ span: 20 }"
      >
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">商城</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in Store.mall" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <template v-if="item.title == '商城营业收入'">
                  <WaterPolo :echardata="item.rate" :echarunit="state.e03" />
                </template>
                <template v-else>
                  <ScoringRing
                    :echarcolor="item.title == '商城毛利' ? state.greencolor : state.defcolor"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                /></template>
              </p>
              <div class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col
        v-if="
          props.depData != '销售一部' &&
          props.depData != '销售二部' &&
          props.depData != '销售支持部' &&
          props.depData != '润益科技' &&
          props.depData != '市场营销部'
        "
        :md="{ span: 4 }"
      >
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">云库</p>
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">营业收入</p>
              <p class="gmv-style">
                <WaterPolo :echardata="YK.CURYEAR_CPLTRATE" :echarunit="state.e03" />
              </p>
              <div class="text">
                <p>目标：{{ YK.CURYEAR_TARGET }} 万元</p>
                <p>当前：{{ YK.CURYEAR_PRFM }} 万元</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>

      <!-- 商城2 -->
      <a-col :md="{ span: 13 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">商城</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in Store2.mall" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <template v-if="item.title == '对接大客户专区分解'">
                  <WaterPolo :echardata="item.rate" :echarunit="state.e03" />
                </template>
                <template v-else>
                  <ScoringRing
                    :echarcolor="state.bluecolor"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                  />
                </template>
              </p>
              <div class="text-GMV">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>

      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">易销</p>
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">新增客户数</p>
              <p class="gmv-style">
                <SpeedGauge :echardata="state.YX_CUS_NEW_PCT" :echarunit="state.e03" />
              </p>
              <div class="text">
                <p>目标：{{ state.YX_CUS_NEW_TG }} 家</p>
                <p>当前：{{ state.YX_CUS_NEW }} 家</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>

      <a-col :md="{ span: 7 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">零碳</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in LTdata.bay" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <SpeedGauge :echardata="item.rate" :echarunit="state.e03" />
              </p>
              <div class="text-GMV">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>

      <a-col :md="{ span: 16 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">易购</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in eBay2.bay" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <template v-if="item.title == 'GMV'">
                  <TemGauge :echarcolor="state.gmvcolor" :echardata="item.rate" />
                </template>
                <template v-else>
                  <ScoringRing
                    :echarcolor="state.defcolor"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                  />
                </template>
              </p>
              <div class="text-GMV">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>

      <a-col :md="{ span: 8 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">云库</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in YKdata.bay" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <ScoringRing
                  :echarcolor="state.gmvcolor"
                  :echardata="item.rate"
                  :echarunit="state.e03"
                />
              </p>
              <div class="text-GMV">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, nextTick, defineExpose } from 'vue';
  import {
    ScoringRing,
    TemGauge,
    SpeedGauge,
    WaterPolo,
    PieWebsite,
  } from '../../../echartsAssembly';
  import { queryAggregate } from '@/api/strategyTracking';
  const state = reactive({
    YX_REV: '', //当前
    YX_REV_TG: '', //目标
    YX_REV_PCT: '', //完成率
    LT_REV: '',
    LT_REV_TG: '',
    LT_REV_PCT: '',
    YK_REV: '',
    YK_REV_PCT: '',
    YK_REV_TG: '',
    yearMonth: '',
    depData: '',
    defcolor: '#188df0',
    gmvcolor: '#fa4d5b',
    fjcolor: '#98d45b',
    greencolor: '#53c676',
    bluecolor: '#1367ca',
    e01: '0.78',
    e02: '78',
    e03: '%',
    YX_CUS_NEW: '',
    YX_CUS_NEW_PCT: '',
    YX_CUS_NEW_TG: '',
  });
  const YK = reactive({
    CURYEAR_PRFM: '',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const YX = reactive({
    CURYEAR_PRFM: '',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const LT = reactive({
    CURYEAR_PRFM: '',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });

  //保留两位有效小数
  const Xiaoshu = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext).toLocaleString();
    }
  };
  const Xiaoshus = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext);
    }
  };

  // 易购
  const eBay = reactive({
    bay: [
      { title: 'GMV', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '亿元' },
      { title: '集采+多元', goals: '20 ', current: '5,000 ', rate: '78', unit: '亿元' },
      { title: '社会客户', goals: '20', current: '5,000', rate: '78', unit: '亿元' },
      { title: '非集采营业收入', goals: '20', current: '5,000', rate: '78', unit: '万元' },
      { title: '各项占比', goals: '20', current: '5,000', rate: '78', other: '15 ', unit: '万元' },
    ],
  });
  // 商城2
  const Store2 = reactive({
    mall: [
      { title: '对接大客户专区分解', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '个' },
      { title: '商城新增客户数', goals: '20 ', current: '5,000 ', rate: '78', unit: '家' },
      { title: '商城新增双非客户数', goals: '20', current: '5,000', rate: '78', unit: '家' },
      { title: '商城双非客户占比', goals: '20', current: '5,000', rate: '78', unit: '%' },
    ],
  });
  // 零碳2
  const LTdata = reactive({
    bay: [
      { title: '新增客户数(集团内)', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '家' },
      { title: '新增客户数(双非)', goals: '20 ', current: '5,000 ', rate: '78', unit: '家' },
    ],
  });
  // 易购2
  const eBay2 = reactive({
    bay: [
      { title: '新增客户数', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '家' },
      { title: '新增采购端客户数', goals: '20 ', current: '5,000 ', rate: '78', unit: '家' },
      { title: '重点客户目标分解', goals: '20', current: '5,000', rate: '78', unit: '家' },
      { title: '易购新增双非客户数', goals: '20', current: '5,000', rate: '78', unit: '家' },
    ],
  });
  // 零碳2
  const YKdata = reactive({
    bay: [
      { title: '本年新增连接家数', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '家' },
      { title: '本年新增SKU数', goals: '20 ', current: '5,000 ', rate: '78', unit: '万' },
    ],
  });
  // 商城
  const Store = reactive({
    mall: [
      { title: '商城营业收入', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '万元' },
      { title: 'PSCS商城化采购额', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '万元' },
      {
        title: '多元+社会商城营业收入',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '万元',
      },
      {
        title: '社会客户商城营业收入',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '万元',
      },
      { title: '非大宗品类点选营收', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '万元' },
      { title: '商城毛利', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '万元' },
    ],
  });
  //饼图数据
  const pie = reactive({
    data: [
      { value: '30', name: '多元产业 ' },
      { value: '20', name: '社会客户 ' },
      { value: '15', name: '供应商收费 ' },
    ],
  });
  // 图表数据1
  const depDataBay = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
        {
          filterField: 'DEPT_NAME',
          filterValues: [state.depData],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index !== 0 && index !== 4 && index !== 5 && index !== 6) {
          // CURYEAR_PRFM  CURYEAR_ANNUAL_TARGET_VALUE  ANNUAL_FINISH_RATE
          eBay.bay[index].goals = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
          eBay.bay[index].current = Xiaoshu(data.CURYEAR_PRFM[0]);
          eBay.bay[index].rate = data.ANNUAL_FINISH_RATE[0];
        }
        if (index == 0) {
          eBay.bay[index].goals = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
          eBay.bay[index].current = Xiaoshu(data.CURYEAR_PRFM[0]);
          eBay.bay[index].rate = data.ANNUAL_FINISH_RATE[0];
        } else if (index == 4) {
          eBay.bay[index].goals = Xiaoshu(data.DY_SJ[0]);
          eBay.bay[index].current = Xiaoshu(data.SH_SJ[0]);
          eBay.bay[index].other = Xiaoshu(data.GYS_SJ[0]);
          //           DY_SJ_R 多元占比
          // ,SH_SJ_R 社会占比
          // ,GYS_SJ_R 供应商占比
          pie.data = [
            { value: Xiaoshus(data.DY_SJ_R[0]), name: '多元产业 ' },
            { value: Xiaoshus(data.SH_SJ_R[0]), name: '社会客户 ' },
            { value: Xiaoshus(data.GYS_SJ_R[0]), name: '供应商收费 ' },
          ];
        } else if (index == 5) {
          YX.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
          YX.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM[0]);
          YX.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
        } else if (index == 6) {
          LT.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM[0]);
          LT.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
          LT.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
        }
      });
    });
  };

  // 图表数据2
  const depDataStore = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
        {
          filterField: 'DEPT_NAME',
          filterValues: [state.depData],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index !== 6) {
          Store.mall[index].goals = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
          Store.mall[index].current = Xiaoshu(data.CURYEAR_PRFM[0]);
          Store.mall[index].rate = data.ANNUAL_FINISH_RATE[0];
        }
        if (index == 6) {
          YK.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM[0]);
          YK.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
          YK.CURYEAR_CPLTRATE = data.ANNUAL_FINISH_RATE[0];
        }
      });
    });
  };

  // 图表数据3
  const objectivesStores = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          Store2.mall[index].goals = Xiaoshu(data.SC_ZON_TG[0]);
          Store2.mall[index].current = Xiaoshu(data.SC_ZON[0]);
          Store2.mall[index].rate = data.SC_ZON_PCT[0];
        } else if (index == 1) {
          Store2.mall[index].goals = Xiaoshu(data.SC_NEW_TG[0]);
          Store2.mall[index].current = Xiaoshu(data.SC_NEW[0]);
          Store2.mall[index].rate = data.SC_NEW_PCT[0];
        } else if (index == 2) {
          Store2.mall[index].goals = Xiaoshu(data.SC_NON_NEW_TG[0]);
          Store2.mall[index].current = Xiaoshu(data.SC_NON_NEW[0]);
          Store2.mall[index].rate = data.SC_NON_NEW_PCT[0];
        } else if (index == 3) {
          Store2.mall[index].goals = Xiaoshu(data.SC_NON_PCT_TG[0]);
          Store2.mall[index].current = Xiaoshu(data.SC_NON_PCT[0]);
          Store2.mall[index].rate = data.SC_NON_PCT_PCT[0];
        } else if (index == 4) {
          state.YX_CUS_NEW = Xiaoshu(data.YX_CUS_NEW[0]);
          state.YX_CUS_NEW_TG = Xiaoshu(data.YX_CUS_NEW_TG[0]);
          state.YX_CUS_NEW_PCT = Xiaoshu(data.YX_CUS_NEW_PCT[0]);
        }
      });
    });
  };
  // 易购2接口
  const objectivesBay = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 1) {
          eBay2.bay[index].goals = Xiaoshu(data.YG_PUR_TG[0]);
          eBay2.bay[index].current = Xiaoshu(data.YG_PUR[0]);
          eBay2.bay[index].rate = data.YG_PUR_PCT[0];
        } else if (index == 2) {
          eBay2.bay[index].goals = Xiaoshu(data.YG_VIP_TG[0]);
          eBay2.bay[index].current = Xiaoshu(data.YG_VIP[0]);
          eBay2.bay[index].rate = data.YG_VIP_PCT[0];
        } else if (index == 3) {
          eBay2.bay[index].goals = Xiaoshu(data.YG_NON_PUR_TG[0]);
          eBay2.bay[index].current = Xiaoshu(data.YG_NON_PUR[0]);
          eBay2.bay[index].rate = data.YG_NON_PUR_PCT[0];
        }
        // else if (index == 3) {
        //   eBay.bay[index].goals = Xiaoshu(data.SC_SAT_TG[0]);
        //   eBay.bay[index].current = Xiaoshu(data.SC_SAT[0]);
        //   eBay.bay[index].rate = Xiaoshu(data.SC_SAT_PCT[0]);
        // }
      });
    });
  };
  // 云库2
  const objectiveslibrary = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          YKdata.bay[index].goals = Xiaoshu(data.YK_NEW_TG[0]);
          YKdata.bay[index].current = Xiaoshu(data.YK_NEW[0]);
          YKdata.bay[index].rate = data.YK_NEW_PCT[0];
          console.log('YKdata.bay[index].rate', YKdata.bay[index].rate);
        } else if (index == 1) {
          YKdata.bay[index].goals = Xiaoshu(data.YK_SKU_TG[0]);
          YKdata.bay[index].current = Xiaoshu(data.YK_SKU[0]);
          YKdata.bay[index].rate = data.YK_SKU_PCT[0];
          console.log('YKdata.bay[index].rate', YKdata.bay[index].rate);
        }
      });
    });
  };

  const depTargetSearch = () => {
    depDataBay('2023042513582731', 0);
    depDataBay('2023051014155833', 1);
    depDataBay('2023051014155832', 2);
    depDataBay('2023042513582732', 3);
    depDataBay('2023051014155835', 4);
    depDataBay('2023042613301232', 5);
    depDataBay('2023042613301233', 6);
    depDataStore('2023042610414031', 0);
    depDataStore('2023042610414032', 1);
    depDataStore('2023042610414033', 2);
    depDataStore('2023042610414035', 3);
    depDataStore('2023042610414034', 4);
    depDataStore('2023042610414036', 5);
    depDataStore('2023042613301231', 6);

    objectivesStores('2023042517250105', 0);
    objectivesStores('2023042517250102', 1);
    objectivesStores('2023042517250103', 2);
    objectivesStores('2023042517250104', 3);
    objectivesStores('2023042517250119', 4);

    // objectivesBay('2023042517250095', 0);
    objectivesBay('2023042517250095', 1);
    objectivesBay('2023042517250097', 2);
    objectivesBay('2023042517250096', 3);

    objectiveslibrary('2023042517250110', 0);
    objectiveslibrary('2023042517250115', 1);
  };

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.depData,
    (v) => {
      state.depData = v;
      depTargetSearch();
    },
  );
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
      depTargetSearch();
    },
  );
  defineExpose({
    depTargetSearch,
  });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .gutter-style {
      margin-bottom: 10px;
    }
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      // border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      min-height: 325px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
    }
    .OperationTarget-first {
      display: flex;
      justify-content: space-between;
    }
    .gmv-first {
      width: 200px;
      height: 180px;
      // border: 2px solid #e5e7eb;
    }
    .OperationTarget-item {
      font-family: PingFangSC-Regular;
      font-size: 18px;
      font-weight: normal;
      .gmv-title {
        text-align: center;
      }
      .gmv-style {
        width: 100%;
        height: 180px;
        // border: 2px solid #e5e7eb;
      }
      .text {
        margin-left: 15%;
      }
      .text2 {
        margin-left: -3%;
      }
      .text-GMV {
        margin-left: 10%;
      }
      .text-YX {
        height: 80px;
        margin-left: 22%;
      }
    }
  }
</style>
