<template>
  <div style="width: 100%">
    <CronEditor v-model:value.sync="sample1CronExpression" cron-syntax="quartz"></CronEditor>
    <Transfer
      :height="200"
      :columns="columns"
      :key-column="keyColumn"
      :search-column="searchColumn"
      :data-promise="getUserListPromise"
      :right-data-source="rightData"
    ></Transfer>
  </div>
</template>

<script setup lang="ts">
  import { ref } from 'vue';
  import { CronEditor, Transfer } from '@/components/business';
  import { getUserListPromise } from '@/api/system/user';

  defineOptions({
    name: 'TestCronEditor',
    inheritAttrs: false,
  });

  const sample1CronExpression = ref('36 15 L */2 *');

  const columns = [
    { title: '姓名', dataIndex: 'username' },
    { title: '工号', dataIndex: 'employeeCode' },
  ];

  const keyColumn = 'userId';
  const searchColumn = 'username';

  const rightData = [{ userId: 13, username: 'admin', employeeCode: 'admin' }];
</script>

<style scoped></style>
