<template>
  <div style="width: 100%">
    <MergeTable
      :data-list="dataList"
      :column-list="columnList"
      :column-groups="groups"
      :formatter="formatter"
      :cell-color="cellColor"
      :column-merge="columnMerge"
      :row-merge="rowMerge"
      @cellClicked="onCelllClicked"
    >
    </MergeTable>
  </div>
</template>

<script setup lang="ts">
  import { message as $message } from 'ant-design-vue';
  import { MergeTable } from '@/components/business';

  defineOptions({
    name: 'TestMergeTable2',
    inheritAttrs: false,
  });

  const dataList = [
    {
      key: '1',
      area: '华东',
      name: 'klary',
      lastsalary: 18000,
      salary: 20000,
      rate: 11.1,
      age: 36,
      phone: 18889898989,
      address: 'New York No. 1 Lake Park',
    },
    {
      key: '2',
      area: '华东',
      name: 'Jim Green',
      lastsalary: 18000,
      salary: 23000,
      rate: 27.8,
      phone: 18889898888,
      age: 42,
      address: 'London No. 1 Lake Park',
    },
    {
      key: '3',
      area: '华中',
      name: 'Jim3334 Green',
      lastsalary: 18000,
      salary: 13000,
      rate: -27.8,
      phone: 18889898888,
      age: 30,
      address: 'London No. 1 Lake Park',
    },
    {
      key: '4',
      area: '华中',
      name: 'Jim Green43435',
      lastsalary: 18000,
      salary: 15000,
      rate: -16.7,
      phone: 18889898888,
      age: 37,
      address: 'London No. 1 Lake Park',
    },
    {
      key: '5',
      area: '华南',
      name: 'Jim Green231',
      lastsalary: 18000,
      salary: 28000,
      rate: 55.6,
      phone: 18889898888,
      age: 42,
      address: 'London No. 1 Lake Park',
    },
  ];

  const columnList = [
    {
      title: '区域',
      key: 'area',
      dataIndex: 'area',
      rspans: [
        {
          start: 0,
          span: 2,
        },
        {
          start: 2,
          span: 2,
        },
        {
          start: 4,
          span: 1,
        },
      ],
    },
    {
      title: '姓名',
      dataIndex: 'name',
    },
    {
      title: '去年收入',
      dataIndex: 'lastsalary',
      emphasisColor: 'colorone',
      formatter: 'money',
    },
    {
      title: '今年收入',
      dataIndex: 'salary',
      emphasisColor: 'colorone',
      formatter: 'money',
    },
    {
      title: '年龄',
      dataIndex: 'age',
      emphasisColor: 'colortwo',
      formatter: 'age',
    },
    {
      title: '电话',
      dataIndex: 'phone',
      formatter: 'mobile',
    },
    {
      title: '地址',
      dataIndex: 'address',
      formatter: 'address',
    },
  ];

  // cellColor     GT,1000,'#7A2635'
  //               LT
  //               BTW
  //               EQ
  //               GE
  //               LE
  const cellColor = {
    colorone: [
      ['GE', 20000, 'green'],
      ['LT', 20000, 'red'],
    ],
    colortwo: [
      ['GE', 40, '#7A2635'],
      ['BTW', 35, 39, '#ffae77'],
      ['LT', 35, '#87d068'],
    ],
    colorthree: [
      ['GT', 0, 'green'],
      ['LE', 0, 'red'],
    ],
    colorfour: {
      complex: 'true',
      color: {
        5: {
          columns: ['salary', 'lastsalary'],
          expression: '{0}-{1}',
          rule: [
            ['GE', '{0}/12', 'red'],
            ['LT', '{0}/12', 'blue'],
          ],
        },
        all: {
          columns: ['salary', 'lastsalary'],
          expression: '{0}-{1}',
          rule: [
            ['GE', '{0}/12', '#7A2635'],
            ['LT', '{0}/12', '#87d068'],
          ],
        },
      },
    },
  };

  const formatter = {
    money: (text) => {
      return `${text.toLocaleString('en-US')}元`;
    },
    mobile: (text) => {
      const reg = /^(\d{3})(\d{4})(\d{4})$/;
      const matches = reg.exec(text);
      const newText = `${matches[1]} ${matches[2]} ${matches[3]}`;
      return newText;
    },
    rate2: (text) => {
      return `${text.toFixed(2)}%`;
    },
    age: (text) => {
      return `${text}岁`;
    },
    people: (text) => {
      return `共${text}人`;
    },
    address: (text) => {
      return `地址：${text}`;
    },
  };

  const rowMerge = {
    title: '合计',
    titleColumn: 'area',
    cols: [
      {
        column: 'name',
        method: 'count',
        align: 'right',
        formatter: 'people',
      },
      {
        column: 'lastsalary',
        method: 'sum',
        align: 'right',
        emphasisColor: 'colorone',
        formatter: 'money',
      },
      {
        column: 'salary',
        method: 'sum',
        align: 'right',
        emphasisColor: 'colorone',
        formatter: 'money',
      },
      {
        column: 'rate',
        emphasisColor: 'colorfour',
        formatter: 'rate2',
        method: {
          complex: true,
          operator: [
            {
              column: 'salary',
              method: 'sum',
            },
            {
              column: 'lastsalary',
              method: 'sum',
            },
          ],
          expression: '({0}-{1})/{0}*100',
        },
        align: 'left',
      },
      {
        column: 'age',
        method: 'avg',
        align: 'left',
        emphasisColor: 'colortwo',
        formatter: 'age',
      },
      {
        column: 'personalMerge',
        method: 'sum',
        align: 'right',
        emphasisColor: 'colorthree',
        formatter: 'money',
      },
    ],
  };

  const columnMerge = [
    {
      title: '涨幅',
      dataIndex: 'rate',
      mergeColumn: 'lastsalary,salary',
      after: 'salary',
      formatter: 'rate2',
      emphasisColor: 'colorfour',
      method: {
        complex: true,
        expression: '({1}-{0})/{0}*100',
      },
      align: 'left',
    },
    {
      title: '个人收入汇总',
      dataIndex: 'personalMerge',
      mergeColumn: 'lastsalary,salary',
      formatter: 'money',
      emphasisColor: 'colorone',
      method: 'sum',
      align: 'right',
    },
    {
      title: '分区汇总金额',
      dataIndex: 'mergeamount',
      mergeColumn: 'salary',
      formatter: 'money',
      emphasisColor: 'colorone',
      method: 'sum',
      align: 'right',
      rspans: [
        {
          start: 0,
          span: 2,
        },
        {
          start: 2,
          span: 2,
        },
        {
          start: 4,
          span: 1,
        },
      ],
    },
    {
      title: '平均年龄',
      dataIndex: 'avgAge',
      mergeColumn: 'age',
      formatter: 'age',
      emphasisColor: 'colortwo',
      method: 'avg',
      align: 'left',
      rspans: [
        {
          start: 0,
          span: 2,
        },
        {
          start: 2,
          span: 2,
        },
        {
          start: 4,
          span: 1,
        },
      ],
    },
    {
      title: '验证用',
      dataIndex: 'agecopy',
      mergeColumn: 'age',
      method: 'sum',
      align: 'left',
      rspans: [
        {
          start: 0,
          span: 1,
        },
        {
          start: 1,
          span: 1,
        },
        {
          start: 2,
          span: 1,
        },
        {
          start: 3,
          span: 1,
        },
        {
          start: 4,
          span: 1,
        },
      ],
    },
  ];

  const groups = [
    {
      title: '收入情况',
      children: ['lastsalary', 'salary', 'rate'],
    },
    {
      title: '基本信息',
      children: ['name', 'age', 'phone', 'address'],
    },
  ];

  const onCelllClicked = (record, column) => {
    console.log('cloumn record', column, record);
    $message.info(
      `column:${column.column.dataIndex} clicked!  value:${record[column.column.dataIndex]}!`,
    );
  };
</script>

<style scoped></style>
