<template>
  <div class="overTop">
    <div class="over-title">
      <a-row>
        <a-col :md="{ span: 6, offset: 9 }">
          <img src="../../../styles/platformOver/标题1.png" alt="图片" class="centrtitle" />
          <p class="p-style">{{ depData }}</p>
        </a-col>
        <a-col :md="{ span: 2, offset: 4 }" class="paddint_col">
          <a-select
            v-model:value="depData"
            size="middle"
            show-search
            placeholder="请选择"
            :allow-clear="true"
            class="selectStyle"
            @change="depChange"
          >
            <a-select-option
              v-for="(item, index) in state.depOptions"
              :key="index"
              :value="item"
              :label="item"
            >
              {{ item }}
            </a-select-option>
          </a-select>
        </a-col>
        <a-col :md="{ span: 2, offset: 0 }" class="paddint_col">
          <a-date-picker
            v-model:value="monthvalue"
            size="middle"
            :format="monthFormat"
            :disabled-date="disabledDate"
            picker="month"
            @change="onChange"
          />
        </a-col>
        <a-col :md="{ span: 1, offset: 0 }" class="paddint_col">
          <div class="fs_div">
            <span style="margin-left: 10px"> <FullScreen /></span>
          </div>
        </a-col>
      </a-row>
    </div>
    <div style="margin: 10px">
      <div class="parentclass-div">
        <div
          v-for="item in state.indexNav"
          :key="item"
          class="subclass-div"
          :class="[{ activeTab: deptab == item.name }]"
          @click="getActive(item.name)"
        >
          <div class="titleGMV">
            <img
              v-if="item.name == '欧贝易购'"
              src="../../../styles/platformOver/icon_yg@2x.png"
              class="title_img"
            />
            <img
              v-if="item.name == '欧贝易销'"
              src="../../../styles/platformOver/icon_yx@2x.png"
              class="title_img"
            />
            <img
              v-if="item.name == '欧贝零碳'"
              src="../../../styles/platformOver/icon_lt@2x.png"
              class="title_img"
            />
            <img
              v-if="item.name == '欧贝商城'"
              src="../../../styles/platformOver/icon_sc@2x.png"
              class="title_img"
            />
            <img
              v-if="item.name == '欧贝云库'"
              src="../../../styles/platformOver/icon_yk@2x.png"
              class="title_img"
            />
            <img
              v-if="item.name == '重点事项'"
              src="../../../styles/platformOver/icon_zdsx@2x.png"
              class="title_img"
            />
            <img
              v-if="item.name == '会议材料'"
              src="../../../styles/platformOver/icon_hycl@2x.png"
              class="title_img"
            />
            <span class="title_span">{{ item.name }}</span>
          </div>
        </div>
      </div>
      <DepartTab :year-month="conditionalmonth" :dep-data="depData" :deptab="deptab" />
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ref, onMounted, reactive } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import { message } from 'ant-design-vue';
  import DepartTab from './components/DepartTab.vue';
  import { FullScreen } from '@/layout/header/components/';
  import { queryAggregate } from '@/api/strategyTracking';
  import overserver from '@/views/obeicockpit/obeiplatform2/components/js/overserver';

  defineOptions({
    name: 'DepTop',
    inheritAttrs: false,
  });

  // 时间选择框
  const monthFormat = 'YYYYMM';
  const disabledDate = (current: Dayjs) => {
    return current && current > dayjs().endOf('day');
  };
  const begindate = new Date(new Date() - 1000 * 60 * 60 * 24);
  const year = ref(begindate.getFullYear());
  const month = ref(begindate.getMonth() + 1);
  if (month.value < 10) {
    month.value = `0${month.value}`;
  }
  const yearmonth = `${year.value}${month.value}`.toString();
  const monthvalue = ref<Dayjs>(dayjs(yearmonth, monthFormat));

  const conditionalmonth = ref('');
  function onChange(value, dateString) {
    conditionalmonth.value = dateString;
  }

  // 搜索下拉框
  const depData = ref('华南平台产品销售部');
  const state = reactive({
    depOptions: [],
    indexNav: [
      { name: '欧贝易购', show: true },
      { name: '欧贝易销', show: false },
      { name: '欧贝零碳', show: false },
      { name: '欧贝商城', show: false },
      { name: '欧贝云库', show: false },
      { name: '重点事项', show: false },
      { name: '会议材料', show: false },
    ],
  });
  const depChange = (val) => {
    depData.value = val;
  };

  const deptab = ref('欧贝易购');
  const getActive = (data) => {
    deptab.value = data;
    if (data == '重点事项' || data == '会议材料') {
      state.depOptions = [
        '平台运营中心',
        '润益科技',
        '欧冶采购',
        '销售一部',
        '销售二部',
        '产品运营部',
        '资材品类中心',
        '设备品类中心',
        '备件品类中心',
        '华南平台产品销售部',
        '华中平台产品销售部',
        '华东平台产品销售部',
        '西南平台产品销售部',
        '西北平台产品销售部',
        '东北平台产品销售部',
        '华北平台产品销售部',
        '市场营销部',
      ];
      success();
    } else {
      query();
    }
  };

  const query = () => {
    queryAggregate(overserver.parameter('PROD_NAME', deptab.value, 2023092013595931)).then(
      (result) => {
        const dataMap = result.data[2023092013595931].dataMap;
        let data = null;
        state.depOptions = dataMap.DEPT_NAME;
        for (let i = 0; i < dataMap.DEPT_NAME.length; i++) {
          if (depData.value == dataMap.DEPT_NAME[i]) {
            data = dataMap.DEPT_NAME[i];
          }
        }
        if (data == null) {
          depData.value = dataMap.DEPT_NAME[0];
        }
        success();
      },
    );
  };

  const success = () => {
    message.success({
      content: () => `业务部门：${depData.value}`,
      style: {
        marginTop: '85vh',
      },
    });
  };

  onMounted(() => {
    conditionalmonth.value = yearmonth;
    query();
  });
</script>

<style lang="less" scoped>
  .overTop {
    width: 100%;
    background: #fbfcff;
  }
  .over-title {
    width: 100%;
    height: 100px;
    background-image: url(../../../styles/platformOver/bg_title_01_部门.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .centrtitle {
    height: 30px;
    margin: 3% auto;
  }
  .selectStyle {
    height: 40px;
    width: 80%;
  }
  .pickerstyle {
    position: relative;
    left: 1160px;
    top: -78px;
  }
  .paddint_col {
    padding: 3px 0px 0px 0px;
  }
  /deep/.ant-select-selection-item {
    font-family: PangMenZhengDao;
    color: #754800;
  }
  /deep/.ant-picker-input > input {
    font-family: PangMenZhengDao;
    color: #754800;
  }

  .a_style {
    font-size: 0.9vw;
    color: #5470c6;
    text-decoration: underline;
  }
  .a_style:hover {
    color: #3fb1e3;
  }
  .a_div {
    padding-top: 3%;
    text-align: center;
  }

  .fs_div {
    padding-left: 20%;
    padding-top: 10%;
  }
  .p-style {
    font-size: 1.2vw;
    color: #7b4b00;
    font-weight: 600;
    height: 33px;
    line-height: 33px;
    text-align: center;
  }

  .parentclass-div {
    display: flex;
    justify-content: space-around;
  }

  .subclass-div {
    width: 13%;
    background: linear-gradient(180deg, #eeeeee 0%, #f8faff 100%);
    border-radius: 8px;
    height: 50px;
  }

  .activeTab {
    background: linear-gradient(180deg, #ffffff 0%, #f8faff 100%);
    box-shadow: 0px 6px 16px 0px rgba(207, 136, 13, 0.14);
    border-radius: 8px;
  }

  .titleGMV {
    line-height: 50px;
    font-size: 1.2vw;
    font-family: PangMenZhengDao;
    color: #591a1a;
    text-align: center;
  }

  .title_span {
    vertical-align: middle;
  }

  .title_img {
    display: inline;
    vertical-align: middle;
    height: 28px;
    margin-right: 5px;
  }
</style>
