<template>
  <div class="page-container">
    <DynamicTable
      header-title="数据集预览"
      :data-request="loadTableData"
      :columns="columns"
      auto-height
      :scroll="{ x: 2000, y: 300 }"
    >
    </DynamicTable>
    <!-- <dataSetInfo
        ref="DataSetInfo"
        :infovisible="state.infovisible"
        :source-title="state.sourceTitle"
        @cancel="handleDictInfoClose"
      ></dataSetInfo> -->
  </div>
</template>

<script setup lang="tsx">
  import { ref, onBeforeMount } from 'vue';
  import { omit } from 'lodash-es';
  import { useRouter } from 'vue-router';
  import { baseColumns, type TableColumnItem } from './columns';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  import {
    getDatasetList,
    getDatasetCategoryTree,
    // getDSAll,
  } from '@/api/dataAdministration/dataset';
  import { useSetManagement } from '@/store/modules/setManagement';
  const $router = useRouter();
  const store = useSetManagement();
  defineOptions({
    name: 'SetManagementList',
  });

  const [DynamicTable] = useTable({
    size: 'small',
    rowKey: 'id',
    bordered: true,
  });

  // const state = reactive({
  //   infovisible: false,
  //   sourceTitle: '',
  // });

  const loadTableData = async (params: LoadDataParams) => {
    const sendParams = omit(params, ['dataCategory', 'createTime']);
    if (params.dataCategory && params.dataCategory.length > 0) {
      sendParams.dataCategory = params.dataCategory[params.dataCategory.length - 1];
    }

    if (params.createTime) {
      sendParams.createDateStart = params.createTime[0];
      sendParams.createDateEnd = params.createTime[1];
    }

    const data = await getDatasetList({
      ...sendParams,
    });

    const dsList = data.data.map((item) => {
      return {
        ...item,
      };
    });

    return {
      list: dsList,
      pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
    };
  };

  // 初始化分类下拉数据
  const toCasaderTree = (data) => {
    const ret = {
      value: data.categoryCode,
      label: data.categoryName,
    };

    if (data.children && data.children.length > 0) {
      ret.children = [];
      data.children.forEach((item) => {
        ret.children.push(toCasaderTree(item));
      });
    }

    return ret;
  };
  // 查看编辑弹窗关闭
  // const handleDictInfoClose = () => {
  //   SupervisionGovern.setQueryFiltershow(false);
  //   state.infovisible = false;
  // };
  // getDSAll({ pageSize: 10000, pageNum: 1 }).then((r) => {
  //   const options = [] as any;
  //   r.data.forEach((item) => {
  //     options.push({
  //       label: item.sourceName,
  //       value: item.sourceName,
  //     });
  //   });
  //   baseColumns[3].formItemProps.componentProps.options = options;
  // });
  getDatasetCategoryTree({ type: '10' }).then((r) => {
    const options = [];
    r.data[0].children.forEach((item) => {
      if (item && item.categoryCode && item.categoryName) {
        options.push(toCasaderTree(item));
      }
    });
    baseColumns[0].formItemProps.componentProps.options = options;
  });
  // const info = (record) => {
  //   SupervisionGovern.setQueryFiltershow(true);
  //   const id = record.id;
  //   state.sourceTitle = record.tableCname;
  // store.setModelData(record);
  //   // DataSetInfo.value.infoId(id, record);
  // };
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 50,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        return [
          {
            label: '查看数据',
            onClick: () => {
              store.setModelData(record);
              sessionStorage.setItem('modelDataInfo', JSON.stringify(record)); //store缺陷，浏览器刷新清除，需要和本地存储结合使用
              $router.push({
                path: '/userAnalyze/DataSetInfo',
                query: {
                  passValue: record.id,
                  recordValue: JSON.stringify(record),
                  tabCustomName: record.tableCname, // tabCustomName追加参数，跳转页面名称自由
                },
              });
            },
          },
        ];
      },
    },
  ];
  //页面更改
  // const winHeight = ref(0);
  sessionStorage.removeItem('modelDataInfo');
  onBeforeMount(() => {
    // const h = document.documentElement.clientHeight;
    // winHeight.value = h - 400;
  });
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
    // /deep/.ant-table-body {
    //   height: var(--winHeight);
    // }
  }
</style>
<style lang="less">
  .ant-cascader-menus {
    height: 300px !important;
  }
  .ant-cascader-menu {
    height: 300px !important;
  }
</style>
