<template>
  <div class="box">
    <div class="container-box"
      ><a-row class="head-info">
        <a-col :span="10" class="left-box">
          <div class="left-box-content">
            <a-row class="system-account">
              <div class="head-info-avatar">
                <img alt="头像" :src="avatar" />
              </div>
              <div class="head-info-count">
                <div class="head-info-welcome">
                  {{ welcomeMessage }}
                </div>
                <!--                <div class="head-info-desc">-->
                <!--                  <p-->
                <!--                    >{{ user.deptName ? user.deptName : '暂无部门' }} |-->
                <!--                    {{ user.roleName ? user.roleName : '暂无角色' }}</p-->
                <!--                  >-->
                <!--                </div>-->
                <div class="head-info-time"
                  >上次登录时间：{{
                    user.lastLoginTime ? user.lastLoginTime : '第一次访问系统'
                  }}</div
                >
              </div></a-row
            >
            <a-row class="system-title">
              <span>欧贝数据</span>
              <span>All data here!</span>
            </a-row>
            <a-row style="height: 50px"></a-row>
          </div>
        </a-col>
        <a-col :span="13" class="right-box">
          <div class="right-box-content"></div>
        </a-col> </a-row
    ></div>
  </div>
</template>

<script lang="ts" setup>
  import { computed, onMounted, ref } from 'vue';
  import { useUserStore } from '@/store/modules/user';

  defineOptions({
    name: 'SmartDashIndex',
  });

  const welcomeMessage = ref('');
  const userStore = useUserStore();
  const user = userStore.userInfo;

  const avatar = computed(() => {
    return `static/avatar/${userStore.avatar}`;
  });

  const welcome = () => {
    const date = new Date();
    const hour = date.getHours();
    const time =
      hour < 6
        ? '早上好'
        : hour <= 11
        ? '上午好'
        : hour <= 13
        ? '中午好'
        : hour <= 18
        ? '下午好'
        : '晚上好';
    return `${time}，${userStore.userInfo.username}`;
  };

  onMounted(() => {
    welcomeMessage.value = welcome();
  });
</script>

<style lang="less" scoped>
  // @import '@/styles/theme.less';

  // .themeBgColor(box);

  .box {
    display: flex;
    padding: 12px;
    width: 100%;
    height: calc(100vh - 200px);
    flex-direction: column;
    background-color: transparent;
    .container-box {
      padding: 12px;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      display: flex;
      .head-info {
        width: 100%;
        .left-box {
          display: flex;
          justify-content: center;
          .left-box-content {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .system-account {
              padding: 50px;
              margin-bottom: 0.5rem;
              justify-content: center;
              .head-info-avatar {
                display: inline-block;
                float: left;
                margin-right: 1rem;
                img {
                  width: 5rem;
                  border-radius: 2px;
                }
              }
              .head-info-count {
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                width: 60%;
                justify-content: center;
                .head-info-welcome {
                  font-size: 18px;
                  font-weight: bold;
                  margin-bottom: 0.1rem;
                }
                .head-info-desc {
                  color: rgba(0, 0, 0, 0.45);
                  font-size: 0.8rem;
                  padding: 0.2rem 0;
                  p {
                    margin-bottom: 0;
                  }
                }
                .head-info-time {
                  color: rgba(0, 0, 0, 0.45);
                  font-size: 0.8rem;
                  padding: 0.2rem 0;
                }
              }
            }
            .system-title {
              font-size: 45px;
              color: #fabe01;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
          }
        }

        .right-box {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          .right-box-content {
            height: 80%;
            width: 80%;
            background: url('~@/assets/images/home/work.png') no-repeat center center;
            background-size: cover;
          }
        }
      }
    }
  }
</style>
