<template>
  <!-- 运营目标 -->
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]" class="gutter-style">
      <a-col :md="{ span: 24 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">会员商务中心</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in eBay.bay" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <ScoringRing
                  :echarcolor="
                    item.title == '客户满意度'
                      ? state.greencolor
                      : item.title == '平台累计客户数'
                      ? state.gmvcolor
                      : state.defcolor
                  "
                  :echardata="item.rate"
                  :echarunit="state.e03"
                />
              </p>
              <div class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
              <p v-if="item.title == '平台会员数'"
                >新增用户数&nbsp;:&nbsp;{{ item.other }} {{ item.unit }}</p
              >
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]" class="gutter-style">
      <a-col :md="{ span: 10 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">易购</p>
          <a-row :gutter="[16, 10]">
            <a-col :md="{ span: 8 }">
              <div class="OperationTarget-item">
                <p class="gmv-title">服务结算率</p>
                <p class="gmv-style">
                  <ScoringRing
                    :echarcolor="state.bluecolor"
                    :echardata="state.YG_SER_PCT"
                    :echarunit="state.e03"
                /></p>
                <div class="text">
                  <p>目标：{{ state.YG_SER_TG }} %</p>
                  <p>当前：{{ state.YG_SER }} %</p>
                </div>
              </div>
            </a-col>
            <a-col :md="{ span: 8 }">
              <div class="OperationTarget-item">
                <!-- 更改 童炜超  -->
                <!-- <p class="gmv-title">按合同约定开票回款率</p> -->
                <p class="gmv-title">易购逾期金额</p>
                <p class="gmv-style">
                  <ScoringRing
                    :echarcolor="state.bluecolor"
                    :echardata="state.YG_REC_PCT"
                    :echarunit="state.e03"
                /></p>
                <div class="text">
                  <p>目标：{{ state.YG_REC_TG }} 万元</p>
                  <p>当前：{{ state.YG_REC }} 万元</p>
                </div>
              </div>
            </a-col>
            <a-col :md="{ span: 8 }">
              <div class="OperationTarget-item">
                <p class="gmv-title">用户满意度</p>
                <p class="gmv-style">
                  <ScoringRing
                    :echarcolor="state.bluecolor"
                    :echardata="state.CUR_PCT"
                    :echarunit="state.e03"
                /></p>
                <div class="text">
                  <p>目标：{{ state.CUR_TG }} 分</p>
                  <p>当前：{{ state.CUR_PRF }} 分</p>
                </div>
              </div>
            </a-col>
          </a-row>
        </div>
      </a-col>
      <a-col :md="{ span: 14 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">商城</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in Store.mall" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <ScoringRing
                  :echarcolor="item.title == '用户满意度' ? state.greencolor : state.defcolor"
                  :echardata="item.rate"
                  :echarunit="state.e03"
                />
              </p>
              <div class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { watch, reactive, nextTick, defineExpose, onMounted } from 'vue';
  import { ScoringRing } from '../../../echartsAssembly';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const eBay = reactive({
    bay: [
      {
        title: '平台会员数',
        goals: '3,000',
        current: '2,000',
        other: '15 ',
        rate: '78',
        unit: '万',
      },
      { title: '平台累计客户数', goals: '20 ', current: '5,000 ', rate: '78', unit: '家' },
      { title: '新增客户数', goals: '20 ', current: '5,000 ', rate: '78', unit: '家' },
      { title: '客户满意度', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '分' },
      { title: '会员审核时效', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '%' },
      { title: '客服坐席及小助手', goals: '30 ', current: '20 ', rate: '78', unit: '%' },
    ],
  });

  const Store = reactive({
    mall: [
      { title: '两金周转天数', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '天' },
      {
        title: '准点到货率',
        goals: '20 ',
        current: '5,000 ',
        rate: '78',
        unit: '%',
      },
      {
        title: '存货金额',
        goals: '20 ',
        current: '5,000 ',
        rate: '78',
        unit: '万元',
      },
      {
        title: '用户满意度',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '分',
      },
    ],
  });
  const state = reactive({
    YG_SER: '',
    YG_SER_PCT: '',
    YG_SER_TG: '',
    YG_REC: '',
    YG_REC_PCT: '',
    YG_REC_TG: '',
    CUR_TG: '',
    CUR_PRF: '',
    CUR_PCT: '',
    yearMonth: '',
    defcolor: '#188df0',
    gmvcolor: '#fa4d5b',
    fjcolor: '#98d45b',
    greencolor: '#53c676',
    bluecolor: '#1367ca',
    e01: '0.78',
    e02: '78',
    e03: '%',
  });
  //保留两位有效小数
  const Xiaoshu = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext).toLocaleString();
    }
  };
  const goalsDataBay = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          eBay.bay[index].goals = Xiaoshu(data.ME_USER_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.ME_USER[0]);
          eBay.bay[index].other = Xiaoshu(data.ME_USER[0]);
          eBay.bay[index].rate = data.ME_USER_PCT[0];
        } else if (index == 1) {
          eBay.bay[index].goals = Xiaoshu(data.ME_CUS_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.ME_CUS[0]);
          eBay.bay[index].rate = data.ME_CUS_PCT[0];
        } else if (index == 2) {
          eBay.bay[index].goals = Xiaoshu(data.ME_NEW_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.ME_NEW[0]);
          eBay.bay[index].rate = data.ME_NEW_PCT[0];
        } else if (index == 3) {
          eBay.bay[index].goals = Xiaoshu(data.ME_SAT_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.ME_SAT[0]);
          eBay.bay[index].rate = data.ME_SAT_PCT[0];
        } else if (index == 4) {
          eBay.bay[index].goals = Xiaoshu(data.ME_TIM_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.ME_TIM[0]);
          eBay.bay[index].rate = data.ME_TIM_PCT[0];
        } else if (index == 5) {
          eBay.bay[index].goals = Xiaoshu(data.ME_RES_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.ME_RES[0]);
          eBay.bay[index].rate = data.ME_RES_PCT[0];
        }
      });
    });
  };
  const goalsDataStore = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          Store.mall[index].goals = Xiaoshu(data.SC_CYC_TG[0]);
          Store.mall[index].current = Xiaoshu(data.SC_CYC[0]);
          Store.mall[index].rate = data.SC_CYC_PCT[0];
        } else if (index == 1) {
          Store.mall[index].goals = Xiaoshu(data.SC_ONT_TG[0]);
          Store.mall[index].current = Xiaoshu(data.SC_ONT[0]);
          Store.mall[index].rate = data.SC_ONT_PCT[0];
        } else if (index == 2) {
          Store.mall[index].goals = Xiaoshu(data.SC_INV_TG[0]);
          Store.mall[index].current = Xiaoshu(data.SC_INV[0]);
          Store.mall[index].rate = data.SC_INV_PCT[0];
        } else if (index == 3) {
          Store.mall[index].goals = Xiaoshu(data.SC_SAT_TG[0]);
          Store.mall[index].current = Xiaoshu(data.SC_SAT[0]);
          Store.mall[index].rate = data.SC_SAT_PCT[0];
        } else if (index == 4) {
          state.YG_SER = Xiaoshu(data.YG_SER[0]);
          state.YG_SER_TG = Xiaoshu(data.YG_SER_TG[0]);
          state.YG_SER_PCT = data.YG_SER_PCT[0];
        } else if (index == 5) {
          state.YG_REC = Xiaoshu(data.YG_REC[0]);
          state.YG_REC_TG = Xiaoshu(data.YG_REC_TG[0]);
          state.YG_REC_PCT = data.YG_REC_PCT[0];
        } else if (index == 6) {
          console.log('data---hd', data);
          // CUR_TG  CUR_PRF  CUR_PCT

          state.CUR_PRF = Xiaoshu(data.CUR_PRF[0]);
          state.CUR_TG = Xiaoshu(data.CUR_TG[0]);
          state.CUR_PCT = data.CUR_PCT[0];
        }
      });
    });
  };
  const goalsSearch = () => {
    goalsDataBay('2023042517250083', 0);
    goalsDataBay('2023042517250084', 1);
    goalsDataBay('2023042517250085', 2);
    goalsDataBay('2023042517250086', 3);
    goalsDataBay('2023042517250087', 4);
    goalsDataBay('2023042517250088', 5);
    goalsDataStore('2023042517250091', 0);
    goalsDataStore('2023042517250093', 1);
    goalsDataStore('2023042517250092', 2);
    goalsDataStore('2023042517250094', 3);
    goalsDataStore('2023042517250089', 4);
    goalsDataStore('2023042517250090', 5);
    goalsDataStore('2023061212165505', 6);
  };
  defineExpose({
    goalsSearch,
  });

  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
      goalsSearch();
    },
  );
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .gutter-style {
      margin-bottom: 10px;
    }
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      // border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      min-height: 325px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
    }
    .OperationTarget-first {
      display: flex;
      justify-content: space-between;
    }
    .gmv-first {
      width: 200px;
      height: 180px;
      // border: 2px solid #e5e7eb;
    }
    .OperationTarget-item {
      font-family: PingFangSC-Regular;
      font-size: 18px;
      font-weight: normal;
      .gmv-title {
        text-align: center;
      }
      .gmv-style {
        width: 100%;
        height: 180px;
        // border: 2px solid #e5e7eb;
      }
      .text {
        margin-left: 22%;
      }
    }
  }
</style>
