<template>
  <div class="OperationTarget">
    <div class="OperationTarget-bg">
      <p class="OperationTarget-title">GMV</p>
      <a-row :gutter="[16, 10]">
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">整体GMV</span>目标及完成率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbYgTargetMonth01.chart"
              :x-axis="jymbYgTargetMonth01.xAxis"
              :y-axis="jymbYgTargetMonth01.yAxis"
              :series="jymbYgTargetMonth01.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">集采+多元</span>GMV目标及完成率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbYgTargetMonth02.chart"
              :x-axis="jymbYgTargetMonth02.xAxis"
              :y-axis="jymbYgTargetMonth02.yAxis"
              :series="jymbYgTargetMonth02.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">社会客户</span>GMV目标及完成率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbYgTargetMonth03.chart"
              :x-axis="jymbYgTargetMonth03.xAxis"
              :y-axis="jymbYgTargetMonth03.yAxis"
              :series="jymbYgTargetMonth03.series"
            />
          </div>
        </a-col>
      </a-row>
    </div>
    <div class="OperationTarget-bg">
      <p class="OperationTarget-title">营收</p>
      <a-row :gutter="[16, 10]">
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">非集采营收</span>目标及完成率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbYgTargetMonth04.chart"
              :x-axis="jymbYgTargetMonth04.xAxis"
              :y-axis="jymbYgTargetMonth04.yAxis"
              :series="jymbYgTargetMonth04.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">多元产业</span>营收
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbYgTargetMonth05.chart"
              :x-axis="jymbYgTargetMonth05.xAxis"
              :y-axis="jymbYgTargetMonth05.yAxis"
              :series="jymbYgTargetMonth05.series"
            />
          </div>
        </a-col>
        <!-- <a-col :md="{ span: 6 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">社会客户</span>营收
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbYgTargetMonth06.chart"
              :x-axis="jymbYgTargetMonth06.xAxis"
              :y-axis="jymbYgTargetMonth06.yAxis"
              :series="jymbYgTargetMonth06.series"
            />
          </div>
        </a-col> -->
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">供应商收费</span>
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbYgTargetMonth07.chart"
              :x-axis="jymbYgTargetMonth07.xAxis"
              :y-axis="jymbYgTargetMonth07.yAxis"
              :series="jymbYgTargetMonth07.series"
            />
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { nextTick, reactive, watch } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import echartSeries from './js/echartSeries';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );
  const InitialCall = () => {
    getjymbYgTargetMonth01();
    getjymbYgTargetMonth02();
    getjymbYgTargetMonth03();
    getjymbYgTargetMonth04();
    getjymbYgTargetMonth05();
    getjymbYgTargetMonth06();
    getjymbYgTargetMonth07();
  };

  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterType: 'ragen',
          filterField: 'YM',
          filterValues: [`${props.yearMonth.substring(0, 4)}01`, props.yearMonth],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }

  const jymbYgTargetMonth01 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '亿元' }, { name: '%' }],
    series: [],
  });
  const getjymbYgTargetMonth01 = () => {
    queryAggregate(parameter(2023042614010068)).then((result) => {
      const data = result.data[2023042614010068].dataMap;
      jymbYgTargetMonth01.xAxis = data.YM;
      jymbYgTargetMonth01.series = echartSeries.seriesData(
        data.YG_GMV_TG,
        data.YG_GMV,
        data.YG_GMV_PCT,
        '亿元',
      );
    });
  };

  const jymbYgTargetMonth02 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '亿元' }, { name: '%' }],
    series: [],
  });
  const getjymbYgTargetMonth02 = () => {
    queryAggregate(parameter(2023042614010069)).then((result) => {
      const data = result.data[2023042614010069].dataMap;
      jymbYgTargetMonth02.xAxis = data.YM;
      jymbYgTargetMonth02.series = echartSeries.seriesData(
        data.BW_GMV_TG,
        data.BW_GMV,
        data.BW_GMV_PCT,
        '亿元',
      );
    });
  };

  const jymbYgTargetMonth03 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '亿元' }, { name: '%' }],
    series: [],
  });
  const getjymbYgTargetMonth03 = () => {
    queryAggregate(parameter(2023042614010070)).then((result) => {
      const data = result.data[2023042614010070].dataMap;
      jymbYgTargetMonth03.xAxis = data.YM;
      jymbYgTargetMonth03.series = echartSeries.seriesData(
        data.SH_GMV_TG,
        data.SH_GMV,
        data.SH_GMV_PCT,
        '亿元',
      );
    });
  };

  const jymbYgTargetMonth04 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  const getjymbYgTargetMonth04 = () => {
    queryAggregate(parameter(2023042614010071)).then((result) => {
      const data = result.data[2023042614010071].dataMap;
      jymbYgTargetMonth04.xAxis = data.YM;
      jymbYgTargetMonth04.series = echartSeries.seriesData(
        data.YG_REV_TG,
        data.YG_REV,
        data.YG_REV_PCT,
        '万元',
      );
    });
  };

  const jymbYgTargetMonth05 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }],
    series: [],
  });
  const getjymbYgTargetMonth05 = () => {
    queryAggregate(parameter(2023042614010072)).then((result) => {
      const data = result.data[2023042614010072].dataMap;
      jymbYgTargetMonth05.xAxis = data.YM;
      jymbYgTargetMonth05.series = echartSeries.seriesData1(data.ML_REV, '万元', '实绩');
    });
  };

  const jymbYgTargetMonth06 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }],
    series: [],
  });
  const getjymbYgTargetMonth06 = () => {
    queryAggregate(parameter(2023042614010073)).then((result) => {
      const data = result.data[2023042614010073].dataMap;
      jymbYgTargetMonth06.xAxis = data.YM;
      jymbYgTargetMonth06.series = echartSeries.seriesData1(data.PR_REV, '万元', '实绩');
    });
  };

  const jymbYgTargetMonth07 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }],
    series: [],
  });
  const getjymbYgTargetMonth07 = () => {
    queryAggregate(parameter(2023042614010074)).then((result) => {
      const data = result.data[2023042614010074].dataMap;
      jymbYgTargetMonth07.xAxis = data.YM;
      jymbYgTargetMonth07.series = echartSeries.seriesData1(data.SP_REV, '万元', '实绩');
    });
  };
  nextTick(() => {
    InitialCall();
  });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .OperationTarget-span01 {
      background: #f69101;
      color: #f69101;
    }
    .OperationTarget-span02 {
      color: red;
    }
    .OperationTarget-height {
      height: 300px;
    }
  }
</style>
