<template>
  <div class="OperationTarget">
    <div class="OperationTarget-bg">
      <a-row :gutter="[16, 10]">
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;新增连接家数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbYkTargetMonth01.chart"
              :x-axis="gymbYkTargetMonth01.xAxis"
              :y-axis="gymbYkTargetMonth01.yAxis"
              :series="gymbYkTargetMonth01.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;库存方客户总数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbYkTargetMonth02.chart"
              :x-axis="gymbYkTargetMonth02.xAxis"
              :y-axis="gymbYkTargetMonth02.yAxis"
              :series="gymbYkTargetMonth02.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;库存方客户新增
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbYkTargetMonth03.chart"
              :x-axis="gymbYkTargetMonth03.xAxis"
              :y-axis="gymbYkTargetMonth03.yAxis"
              :series="gymbYkTargetMonth03.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;采购方客户总数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbYkTargetMonth04.chart"
              :x-axis="gymbYkTargetMonth04.xAxis"
              :y-axis="gymbYkTargetMonth04.yAxis"
              :series="gymbYkTargetMonth04.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;采购方客户新增
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbYkTargetMonth05.chart"
              :x-axis="gymbYkTargetMonth05.xAxis"
              :y-axis="gymbYkTargetMonth05.yAxis"
              :series="gymbYkTargetMonth05.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;本年新增SKU数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbYkTargetMonth06.chart"
              :x-axis="gymbYkTargetMonth06.xAxis"
              :y-axis="gymbYkTargetMonth06.yAxis"
              :series="gymbYkTargetMonth06.series"
            />
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { nextTick, reactive, watch } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import echartSeries from './js/echartSeries';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );
  const InitialCall = () => {
    getgymbYkTargetMonth01();
    getgymbYkTargetMonth02();
    getgymbYkTargetMonth03();
    getgymbYkTargetMonth04();
    getgymbYkTargetMonth05();
    getgymbYkTargetMonth06();
  };
  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterType: 'ragen',
          filterField: 'YM',
          filterValues: [`${props.yearMonth.substring(0, 4)}01`, props.yearMonth],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }

  const gymbYkTargetMonth01 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '家' }, { name: '%' }],
    series: [],
  });
  const getgymbYkTargetMonth01 = () => {
    queryAggregate(parameter(2023042614010111)).then((result) => {
      const data = result.data[2023042614010111].dataMap;
      gymbYkTargetMonth01.xAxis = data.YM;
      gymbYkTargetMonth01.series = echartSeries.seriesData(
        data.CUR_TG,
        data.CUR_PRF,
        data.CUR_PCT,
        '家',
      );
    });
  };

  const gymbYkTargetMonth02 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getgymbYkTargetMonth02 = () => {
    queryAggregate(parameter(2023042614010112)).then((result) => {
      const data = result.data[2023042614010112].dataMap;
      gymbYkTargetMonth02.xAxis = data.YM;
      gymbYkTargetMonth02.series = echartSeries.seriesData1(data.CUR_PRF, '', '实绩');
    });
  };

  const gymbYkTargetMonth03 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getgymbYkTargetMonth03 = () => {
    queryAggregate(parameter(2023042614010113)).then((result) => {
      const data = result.data[2023042614010113].dataMap;
      gymbYkTargetMonth03.xAxis = data.YM;
      gymbYkTargetMonth03.series = echartSeries.seriesData1(data.CUR_PRF, '', '实绩');
    });
  };

  const gymbYkTargetMonth04 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getgymbYkTargetMonth04 = () => {
    queryAggregate(parameter(2023042614010115)).then((result) => {
      const data = result.data[2023042614010115].dataMap;
      gymbYkTargetMonth04.xAxis = data.YM;
      gymbYkTargetMonth04.series = echartSeries.seriesData1(data.CUR_PRF, '', '实绩');
    });
  };

  const gymbYkTargetMonth05 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getgymbYkTargetMonth05 = () => {
    queryAggregate(parameter(2023042614010116)).then((result) => {
      const data = result.data[2023042614010116].dataMap;
      gymbYkTargetMonth05.xAxis = data.YM;
      gymbYkTargetMonth05.series = echartSeries.seriesData1(data.CUR_PRF, '', '实绩');
    });
  };

  const gymbYkTargetMonth06 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万' }, { name: '%' }],
    series: [],
  });
  const getgymbYkTargetMonth06 = () => {
    queryAggregate(parameter(2023042614010117)).then((result) => {
      const data = result.data[2023042614010117].dataMap;
      gymbYkTargetMonth06.xAxis = data.YM;
      gymbYkTargetMonth06.series = echartSeries.seriesData(
        data.CUR_TG,
        data.CUR_PRF,
        data.CUR_PCT,
        '万',
      );
    });
  };
  nextTick(() => {
    InitialCall();
  });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .OperationTarget-span01 {
      background: #f5e8b9;
      color: #f5e8b9;
    }
    .OperationTarget-span02 {
      color: red;
    }
    .OperationTarget-height {
      height: 300px;
    }
  }
</style>
