<template>
  <div class="OperationTarget">
    <div class="OperationTarget-bg">
      <a-row :gutter="[16, 10]">
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;平台会员数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="yymbHyTargetMonth01.chart"
              :x-axis="yymbHyTargetMonth01.xAxis"
              :y-axis="yymbHyTargetMonth01.yAxis"
              :series="yymbHyTargetMonth01.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;平台累计客户数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="yymbHyTargetMonth02.chart"
              :x-axis="yymbHyTargetMonth02.xAxis"
              :y-axis="yymbHyTargetMonth02.yAxis"
              :series="yymbHyTargetMonth02.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;新增客户数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="yymbHyTargetMonth03.chart"
              :x-axis="yymbHyTargetMonth03.xAxis"
              :y-axis="yymbHyTargetMonth03.yAxis"
              :series="yymbHyTargetMonth03.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;客户满意度
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="yymbHyTargetMonth04.chart"
              :x-axis="yymbHyTargetMonth04.xAxis"
              :y-axis="yymbHyTargetMonth04.yAxis"
              :series="yymbHyTargetMonth04.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;会员审核时效
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="yymbHyTargetMonth05.chart"
              :x-axis="yymbHyTargetMonth05.xAxis"
              :y-axis="yymbHyTargetMonth05.yAxis"
              :series="yymbHyTargetMonth05.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;客服坐席及小助手有效综合应答率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="yymbHyTargetMonth06.chart"
              :x-axis="yymbHyTargetMonth06.xAxis"
              :y-axis="yymbHyTargetMonth06.yAxis"
              :series="yymbHyTargetMonth06.series"
            />
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { nextTick, reactive, watch } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import echartSeries from './js/echartSeries';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );
  const InitialCall = () => {
    getyymbHyTargetMonth01();
    getyymbHyTargetMonth02();
    getyymbHyTargetMonth03();
    getyymbHyTargetMonth04();
    getyymbHyTargetMonth05();
    getyymbHyTargetMonth06();
  };

  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterType: 'ragen',
          filterField: 'YM',
          filterValues: [`${props.yearMonth.substring(0, 4)}01`, props.yearMonth],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }

  const yymbHyTargetMonth01 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万' }],
    series: [],
  });
  const getyymbHyTargetMonth01 = () => {
    queryAggregate(parameter(2023042614010086)).then((result) => {
      const data = result.data[2023042614010086].dataMap;
      yymbHyTargetMonth01.xAxis = data.YM;
      yymbHyTargetMonth01.series = echartSeries.seriesData1(data.CUR_PRF, '万', '实绩');
    });
  };

  const yymbHyTargetMonth02 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万' }],
    series: [],
  });
  const getyymbHyTargetMonth02 = () => {
    queryAggregate(parameter(2023042614010087)).then((result) => {
      const data = result.data[2023042614010087].dataMap;
      yymbHyTargetMonth02.xAxis = data.YM;
      yymbHyTargetMonth02.series = echartSeries.seriesData1(data.CUR_PRF, '万', '实绩');
    });
  };

  const yymbHyTargetMonth03 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万' }],
    series: [],
  });
  const getyymbHyTargetMonth03 = () => {
    queryAggregate(parameter(2023042614010088)).then((result) => {
      const data = result.data[2023042614010088].dataMap;
      yymbHyTargetMonth03.xAxis = data.YM;
      yymbHyTargetMonth03.series = echartSeries.seriesData1(data.CUR_PRF, '万', '实绩');
    });
  };

  const yymbHyTargetMonth04 = reactive({
    chart: ['目标', '实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万' }],
    series: [],
  });
  const getyymbHyTargetMonth04 = () => {
    queryAggregate(parameter(2023042614010089)).then((result) => {
      const data = result.data[2023042614010089].dataMap;
      yymbHyTargetMonth04.xAxis = data.YM;
      yymbHyTargetMonth04.series = echartSeries.seriesData2(data.CUR_TG, data.CUR_PRF, '万');
    });
  };

  const yymbHyTargetMonth05 = reactive({
    chart: ['审核时效'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '%', min: 90, max: 100 }],
    series: [],
  });
  const getyymbHyTargetMonth05 = () => {
    queryAggregate(parameter(2023042614010090)).then((result) => {
      const data = result.data[2023042614010090].dataMap;
      yymbHyTargetMonth05.xAxis = data.YM;
      yymbHyTargetMonth05.series = echartSeries.seriesData3(data.CUR_PRF, '%', '审核时效');
    });
  };

  const yymbHyTargetMonth06 = reactive({
    chart: ['应答率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '%', min: 85, max: 100 }],
    series: [],
  });
  const getyymbHyTargetMonth06 = () => {
    queryAggregate(parameter(2023042614010091)).then((result) => {
      const data = result.data[2023042614010091].dataMap;
      yymbHyTargetMonth06.xAxis = data.YM;
      yymbHyTargetMonth06.series = echartSeries.seriesData3(data.CUR_PRF, '%', '应答率');
    });
  };
  nextTick(() => {
    InitialCall();
  });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .OperationTarget-span01 {
      background: #f5e8b9;
      color: #f5e8b9;
    }
    .OperationTarget-span02 {
      color: red;
    }
    .OperationTarget-height {
      height: 300px;
    }
  }
</style>
