<template>
  <div class="main">
    <div class="content">
      <!--      <div class="menus">-->
      <!--        <Menus> </Menus>-->
      <!--      </div>-->
      <div class="content-t">
        <a-tabs v-model:activeKey="activeKey" centered>
          <template v-for="item in tabList" :key="item.value">
            <a-tab-pane v-if="item.value == '2'" :key="item.value">
              <template #tab>
                <a-tooltip
                  v-model:visible="deptPerTooltipVisible"
                  :overlay-style="{ maxWidth: '900px' }"
                  placement="bottom"
                  color="white"
                >
                  <template #title>
                    <a-row :gutter="20">
                      <a-col
                        v-for="group in deptGroup"
                        :key="group.value"
                        class="dept-panel"
                        :span="8"
                      >
                        <div class="dept-panel-title">{{ group.label }}</div>
                        <div style="display: flex; flex-wrap: wrap">
                          <div
                            v-for="x in group.items"
                            :key="x.value"
                            style="color: black; padding: 3px 6px; cursor: pointer"
                            @click="deptGroupClick(x)"
                            >{{ x.label }}</div
                          >
                        </div>
                      </a-col>
                    </a-row>
                  </template>
                  <span @mouseover="toolTipMouseover">{{ item.label }}</span>
                </a-tooltip>
              </template>
            </a-tab-pane>
            <a-tab-pane v-else :key="item.value" :tab="item.label"></a-tab-pane>
          </template>
          <template #rightExtra>
            <span>年</span> <a-date-picker v-model:value="year" class="year" picker="year" />
          </template>
        </a-tabs>
        <MROPer v-if="activeKey == '1'" :year="dayjs(year).format('YYYY')"></MROPer>
        <DeptPer
          v-if="activeKey == '2'"
          ref="deptPerRef"
          :org-code="deptPerOrgCode"
          :org-name="deptPerOrgName"
          :year="dayjs(year).format('YYYY')"
        ></DeptPer>
        <FTPPer v-if="activeKey == '3'"></FTPPer>
        <ANALPer v-if="activeKey == '4'" :year="dayjs(year).format('YYYY')"></ANALPer>
        <ImprovePer v-if="activeKey == '5'" :year="dayjs(year).format('YYYY')"></ImprovePer>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
  import { onMounted, ref, watch } from 'vue';
  import dayjs from 'dayjs';
  import { isEmpty } from 'lodash-es';
  import MROPer from '../homeSet/MROPer.vue';
  import DeptPer from '../homeSet/DeptPer.vue';
  import FTPPer from '../homeSet/FTPPer.vue';
  import ANALPer from '../homeSet/ANALPer.vue';
  import ImprovePer from '../homeSet/ImprovePer.vue';
  import { Menus } from './components';
  import dict from '@/utils/dict';

  defineOptions({
    name: 'DashboardWelcome',
  });

  const deptPerRef = ref();
  const deptPerOrgCode = ref('');
  const deptPerOrgName = ref('');
  const deptPerTooltipVisible = ref(false);
  const tabList = ref([
    {
      label: '公司绩效',
      value: '1',
    },
    {
      label: '部门绩效',
      value: '2',
    },
    {
      label: '激励项目',
      value: '3',
    },
    {
      label: '绩效分析',
      value: '4',
    },
    {
      label: '绩效改善',
      value: '5',
    },
  ]);
  const deptGroup = ref([
    {
      value: 'DEPT_CENTER',
      label: '中心（含子公司）',
      items: [],
    },
    {
      value: 'DEPT_REGION',
      label: '大区',
      items: [],
    },
    {
      value: 'DEPT_FUNCTIONAL',
      label: '职能部门',
      items: [],
    },
  ]);
  const toolTipMouseover = () => {
    deptPerTooltipVisible.value = true;
  };

  const deptGroupClick = (item) => {
    activeKey.value = '2';
    deptPerOrgCode.value = item.value;
    deptPerOrgName.value = item.label;
    deptPerTooltipVisible.value = false;
    setTimeout(() => {
      deptPerRef?.value.QueryDeptKpiData();
    }, 100);
  };
  const initDeptItems = () => {
    deptGroup.value.forEach((x) => {
      x.items = dict.getKeyValueByDictCode(x.value);
    });
  };

  const activeKey = ref('1');
  const year = ref();
  onMounted(() => {
    year.value = dayjs(new Date());
    initDeptItems();
  });
  watch(
    () => activeKey.value,
    (v) => {
      if (v == '2') {
        if (isEmpty(deptPerOrgCode.value)) {
          deptPerOrgCode.value = 'BWDHGA';
          deptPerOrgName.value = '资材品类中心';
        }
        setTimeout(() => {
          deptPerRef?.value.QueryDeptKpiData();
        }, 100);
      }
    },
  );
</script>

<style lang="less" scoped>
  .content-t {
    height: 100%;
  }
  .ant-tabs {
    /deep/.ant-tabs-nav {
      background: #fff;
      margin-bottom: 0;
      .ant-tabs-tab {
        font-size: 1.25vw;
        font-weight: bold;
        margin: 0 0 0 100px;
      }
    }
  }
  .main {
    height: 100%;
    overflow-y: auto;
    .content {
      height: inherit;
    }
  }
  .year {
    margin-left: 7px;
    margin-right: 7px;
    width: 90px;
  }

  .dept-panel {
    padding: 5px;
    .dept-panel-title {
      color: black;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
</style>
