<template>
  <div class="main">
    <div class="content">
      <a-spin :spinning="pageLoading">
        <div v-if="state.tabList.length > 0">
          <a-tabs v-model:activeKey="activeKey" @change="changeGoalTab">
            <a-tab-pane v-for="(item, index) in state.tabList" :key="index">
              <template #tab>
                <div :class="item.backgroundColor == '00' ? 'specialIcon' : 'normalIcon'">
                  {{ item.perfGName }}
                  <span
                    v-if="!item.incompleteFlag"
                    class="iconRed"
                    style="right: 3px; top: 7px"
                  ></span>
                </div>
              </template>
              <a-tabs
                v-model:activeKey="childActiveKey"
                class="org-tab"
                tab-position="left"
                :centered="false"
                :style="{ width: '100%', height: `${winHeight}px`, 'text-align': 'left' }"
                @change="changeChildTab"
              >
                <a-tab-pane v-for="(it, idx) in item.evaluatedOrgs" :key="idx">
                  <template #tab>
                    <span>
                      {{ it.evaluatedOrgName }}
                      <span
                        v-if="!it.incompleteFlag"
                        class="iconRed"
                        style="right: 14px; top: 12px"
                      ></span>
                    </span>
                  </template>
                  <DynamicTable
                    :data-source="state.dataSource"
                    :columns="state.columnList"
                    :loading="state.loading"
                  >
                    <template #headerCell="{ column }">
                      <template v-if="column.key !== 'fieldName' && column.isEdit">
                        <span>
                          {{ column.title }}
                          <form-outlined class="primary" @click="editColumn(column)" />
                        </span>
                      </template>
                    </template>
                  </DynamicTable>
                </a-tab-pane>
              </a-tabs>
            </a-tab-pane>
          </a-tabs>
        </div>
        <a-empty v-else class="emptys" />
      </a-spin>
    </div>
    <!-- 填报与调整 -->
    <ReportAdjustModal
      :is-visible="isShowReport"
      :code-info="codeSet"
      @search-load="searchLoad"
      @close="closeAdjustModal"
    ></ReportAdjustModal>
  </div>
</template>

<script lang="tsx" setup>
  import { onMounted, reactive, ref } from 'vue';
  import dayjs from 'dayjs';
  import { isEmpty } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import ReportAdjustModal from './realDataClass/ReportAdjustModal.vue'; //填报与调整
  import { getSetting, getTabList } from '@/api/realPerData/realPerDataView';
  import { useTable } from '@/components/core/dynamic-table';
  import dict from '@/utils/dict.js';

  defineOptions({
    name: 'RealPerDataView',
  });

  const activeKey = ref<number>(0);
  const childActiveKey = ref<number>(0);
  const [DynamicTable] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
    autoHeight: true,
    scroll: { x: 2000, y: 400 },
  });

  const state: any = reactive({
    treeData: [] as any,
    tabList: [],
    dataSource: [],
    columnList: [],
    baseColumns: [
      {
        title: '实绩指标',
        dataIndex: 'fieldName',
        width: 200,
        fixed: 'left',
        customRender({ record }) {
          const val = `${record.fieldNameCn}`;
          return record.fieldName ? (
            <div>
              <a-tooltip title={val}>{val}</a-tooltip>
            </div>
          ) : (
            ''
          );
        },
      },
      {
        title: '指标类型',
        dataIndex: 'perfGType',
        width: 100,
        fixed: 'left',
        align: 'center',
        customRender({ record }) {
          const obj = dict.getValue('COLUMN_BUS_TYPE', record?.perfGType);
          if (!isEmpty(obj)) {
            return (
              <div>
                <a-tooltip title={obj.itemText}>
                  <a-tag>{obj.itemText}</a-tag>
                </a-tooltip>
              </div>
            );
          } else {
            return '-';
          }
        },
      },
    ],
    loading: false,
    tab: {},
    treeCode: {
      orgCode: '',
      orgName: '',
    },
    monthVal: '',
  });

  // 查询归口部门下tab信息
  const pageLoading = ref(false);
  const queryTabList = async (key, childkey) => {
    pageLoading.value = true;
    const res = await getTabList();
    pageLoading.value = false;
    if (res.success) {
      state.tabList = res.data;
      activeKey.value = key;
      childActiveKey.value = childkey;
      if (res.data[0].evaluatedOrgs.length > 0) {
        loadTableData(res.data[key].evaluatedOrgs[childkey]);
      }
    } else {
      message.error(res.message);
    }
  };

  const changeGoalTab = (activeKey) => {
    childActiveKey.value = 0;
    loadTableData(state.tabList[activeKey].evaluatedOrgs[0]);
  };
  const changeChildTab = (key) => {
    loadTableData(state.tabList[activeKey.value].evaluatedOrgs[key]);
  };

  const codeSet = ref({});

  const loadTableData = async (item) => {
    state.loading = true;
    const params = {
      ruleCode: item.ruleCode,
    };
    const res = await getSetting(params);
    const date = new Date();
    const arrColumn: any = ref([]);
    if (res.data.success) {
      res.data.data.heads.forEach((v, i) => {
        arrColumn.value.push({
          title: v,
          dataIndex: v,
          align: 'center',
          width: 200,
          isEdit: i >= date.getMonth() + 1 ? false : true,
          customRender({ text, record }) {
            if (text && record.perfGType == 20) {
              if (!text.fieldTargetValue && !text.perfEvalCoreFixValue) {
                return text.fieldSourceValue.toLocaleString();
              }
            } else if (text && record.perfGType == 10) {
              return `${
                text.fieldTargetValue
                  ? text.fieldTargetValue.toLocaleString()
                  : text.fieldSourceValue.toLocaleString()
              }`;
            } else return '-';
          },
        });
      });
    }
    state.columnList = res.data.success ? [...state.baseColumns, ...arrColumn.value] : [];
    state.dataSource = res.data.success ? res.data.data?.sourceData : [];
    state.loading = false;
  };
  const isShowReport = ref<boolean>(false);
  const reportAdjust = () => {
    isShowReport.value = true;
  };
  const closeAdjustModal = () => {
    isShowReport.value = false;
  };
  const searchLoad = () => {
    queryTabList(activeKey.value, childActiveKey.value);
  };
  const editColumn = (c) => {
    if (state.dataSource.length == 0) return message.warning('当前无指标数据！');
    state.monthVal = dayjs(c.key, 'YYYYMM').format('YYYYMM');
    codeSet.value = {
      ...state.tabList[activeKey.value],
      ...state.tabList[activeKey.value].evaluatedOrgs[childActiveKey.value],
    };
    codeSet.value.monthVal = state.monthVal;
    reportAdjust();
  };

  const winHeight = ref(0);
  onMounted(() => {
    queryTabList(0, 0);
    const h = document.documentElement.clientHeight;
    winHeight.value = h - 240;
  });
</script>

<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;
    .content {
      padding: 10px 16px;
      height: inherit;
    }
  }

  .emptys {
    margin-top: 200px;
  }
  .iconRed {
    width: 8px;
    height: 8px;
    background: red;
    display: block;
    position: absolute;
    border-radius: 50%;
  }
  /deep/.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active {
    background: #eee;
  }
  .specialIcon {
    background: #ffd44a;
    padding: 7px 18px 7px 10px;
    position: relative;
  }
  .normalIcon {
    background: #e9e9e9;
    padding: 7px 18px 7px 10px;
    position: relative;
  }
  /deep/.ant-tabs-tab {
    padding: 0;
    margin: 0 0 0 2px;
  }
</style>
