<template>
  <div class="main">
    <div class="content">
      <a-row justify="space-between">
        <a-col :span="20">
          <a-select
            v-model:value="state.PerformanceType"
            style="width: 200px"
            @change="queryList(0)"
          >
            <a-select-option
              v-for="(item, index) in dict.getItemsByDictCode('QUERY_PERFORMANCE_TYPE_SELECT')"
              :key="index"
              :value="item.itemValue"
              >{{ item.itemText }}</a-select-option
            >
          </a-select>
        </a-col>
        <a-col :span="4" class="text-r">
          <a-button type="primary" danger @click="submitApproval">提交审核</a-button>
        </a-col>
      </a-row>
      <a-divider :style="{ margin: '10px 0' }" />
      <a-spin tip="Loading..." :spinning="state.mainLoading">
        <!-- 列表主体 -->
        <a-row v-if="state.dataSource.length > 0" class="main">
          <a-col :span="5" class="content-left">
            <a-checkbox-group v-model:value="state.rowSelectVal" style="width: 100%">
              <a-list item-layout="horizontal" :data-source="state.dataSource">
                <template #renderItem="{ item, index }">
                  <a-list-item>
                    <a-list-item-meta>
                      <template #avatar>
                        <a-checkbox :value="item.ruleCode"></a-checkbox>
                      </template>
                      <template #title>
                        <h2
                          :class="['pointer ellipsis-1', { link: currentIndex === index }]"
                          @click="checkInfo(item, index)"
                          >{{ item.perfGName }}</h2
                        >
                      </template>
                      <template #description>
                        <a-row justify="space-between">
                          <span>牵头部门：{{ item.superinDeptName }}</span>
                          <span>{{
                            item?.perfEvalScoreFixOpt
                              ? dict.getValue(
                                  'EMPHASIS_WORK_SELECT_TYPE',
                                  item?.perfEvalScoreFixOpt,
                                ).itemText
                              : ''
                          }}</span>
                        </a-row>
                      </template>
                    </a-list-item-meta>
                  </a-list-item>
                </template>
              </a-list>
            </a-checkbox-group>
          </a-col>
          <a-col :span="19" class="content-right">
            <a-spin tip="Loading..." :spinning="state.conLoading">
              <div v-if="currentIndex !== '' && currentIndex !== null">
                <!-- 一级填报 -->
                <FirstLevel
                  v-if="propsState.isReport"
                  :row-info="propsState.record"
                  @refesh="queryList(currentIndex)"
                ></FirstLevel>
                <!-- 二级填报 -->
                <SecondLevel
                  v-else
                  :record-info="propsState.record"
                  type="report"
                  @refesh="queryList(currentIndex)"
                ></SecondLevel>
              </div>
              <a-empty v-else :image="simpleImage" class="pt-4x" />
            </a-spin>
          </a-col>
        </a-row>
        <a-empty v-else :image="simpleImage" class="pt-4x" />
      </a-spin>
    </div>
  </div>
</template>

<script lang="ts" setup>
  import { onMounted, reactive, ref } from 'vue';
  import { Empty, notification, message } from 'ant-design-vue';
  import FirstLevel from './workClass/FirstLevel.vue';
  import SecondLevel from './workClass/SecondLevel.vue';
  import type { reportWorkType } from './components/report';
  import { queryWorkList, sumbitApproval } from '@/api/realPerData/realPerDataView';
  import dict from '@/utils/dict.js';

  defineOptions({
    name: 'WorkDataView',
  });

  const simpleImage = Empty.PRESENTED_IMAGE_SIMPLE;

  const state = reactive<reportWorkType>({
    dataSource: [{}],
    PerformanceType: 'PT-202023003',
    BASE_URL: process.env.VUE_APP_BASE_API,
    mainLoading: false,
    conLoading: false,
    rowSelectVal: [],
  });

  const propsState = reactive({
    record: {},
    isReport: true,
  });

  const queryList = async (index) => {
    state.mainLoading = true;
    const params = {
      performanceType: state.PerformanceType,
    };
    const { data } = await queryWorkList(params);

    state.dataSource = data?.data || [];
    state.mainLoading = false;

    refesh(index);
  };
  //选择指标项
  const currentIndex = ref(null);
  const checkInfo = (item, idx) => {
    if (currentIndex.value == idx) return;
    state.conLoading = true;
    currentIndex.value = idx;
    propsState.isReport = !item.evalHandleLevel || item.evalHandleLevel == '00' ? true : false;
    propsState.record = { ...item };
    state.conLoading = false;
  };
  //刷新数据逻辑处理
  const refesh = (index) => {
    currentIndex.value = index;
    const dataIdx = state.dataSource[index];
    propsState.isReport =
      !dataIdx?.evalHandleLevel || dataIdx?.evalHandleLevel == '00' ? true : false;
    propsState.record = { ...dataIdx };
  };

  //提交审核
  const submitApproval = async () => {
    try {
      if (state.rowSelectVal.length == 0) {
        throw `至少选择一条数据！`;
      }
      const params = {
        ruleCodes: state.rowSelectVal,
      };
      const { data } = await sumbitApproval(params);
      if (data.success) {
        notification['warning']({
          message: '消息提示',
          description: `${data.message}`,
        });
      } else {
        throw data.message;
      }
    } catch (e: any) {
      message.error(e);
    }
  };

  onMounted(() => {
    queryList(0);
  });
</script>
<style lang="less" scoped>
  //一键绩效项目，常规左右分栏布局
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;

    .content {
      padding: 10px 16px;
      height: inherit;

      .content-left {
        border-right: 0.0625rem solid #f1f1f1;
        padding-right: 12px;
      }

      .content-right {
        padding-left: 12px;
      }
    }
  }
  .ant-list-item {
    padding: 8px 0;
  }
</style>
