<template>
  <Grid :config-id="configId"></Grid>
</template>

<script setup lang="tsx">
  import { onBeforeMount, ref } from 'vue';
  import Grid from '@/views/manualMaintenance/general/components/Grid.vue';

  defineOptions({ name: 'DataStandardsIndex' });

  const configId = ref('');

  onBeforeMount(() => {
    const href = window.location.href;
    const hrefs = href.split('/');
    const paramsPath = hrefs[hrefs.length - 1];
    // const params = new URLSearchParams(`?${paramsPath}`);
    configId.value = paramsPath;
    console.log(2222, configId.value);
  });
</script>

<style scoped></style>
