<template>
  <div class="bjStyle">
    <a-row class="titlebag">
      <a-col :md="{ span: 6, offset: 9 }"> 采购运营管理驾驶舱</a-col>
      <a-col :md="{ span: 3, offset: 6 }">
        <a-date-picker
          v-model:value="monthvalue"
          size="large"
          class="datastyle"
          :format="monthFormat"
          :disabled-date="disabledDate"
          picker="month"
          @change="onChange"
        />
      </a-col>
    </a-row>
    <a-row class="blockstyle">
      <a-col :md="{ span: 24 }">
        <ul>
          <li
            v-for="item in indexNav"
            v-show="$auth(`${item.resources}`)"
            :key="item.name"
            class="home_navigation"
            style="width: 150px"
            :class="[{ activeTab: active == item.name }]"
            @click="getActive(item.name)"
          >
            <span style="display: none">
              {{ (item.active = $auth(`${item.resources}`)) }}
            </span>
            <span>{{ item.name }}</span>
          </li>
        </ul>
      </a-col>
    </a-row>
    <a-row class="blockstyle">
      <a-col :md="{ span: 24 }">
        <a-tabs v-model:activeKey="activeKey" type="card" centered size="large" @change="onactive">
          <a-tab-pane key="概况" tab="概况">
            <RegionalcenterPurchase ref="purchase" :conditionalmonth="active" :month="regmonth" />
          </a-tab-pane>
          <a-tab-pane key="质量" tab="质量">
            <RegionalcenterZlPage ref="zlpage" :conditionalmonth="active" :month="regmonth" />
          </a-tab-pane>
          <a-tab-pane v-if="active !== '设备品类中心'" key="成本" tab="成本">
            <RegionalcenterCbPage ref="cbpage" :conditionalmonth="active" :month="regmonth" />
          </a-tab-pane>
          <a-tab-pane key="两金" tab="两金">
            <RegionalcenterZjPage ref="zjpage" :conditionalmonth="active" :month="regmonth" />
          </a-tab-pane>
          <a-tab-pane key="效率" tab="效率">
            <RegionalcenterXlPage ref="xlpage" :conditionalmonth="active" :month="regmonth" />
          </a-tab-pane>
          <a-tab-pane v-if="active === '资材品类中心'" key="市场行情分析" tab="市场行情分析">
            <RegionalcenterSchqPage ref="schqpage" :conditionalmonth="active" :month="regmonth" />
          </a-tab-pane>
          <a-tab-pane v-if="active === '设备品类中心'" key="重点项目跟踪" tab="重点项目跟踪">
            <RegionalcenterZdxmgzPage ref="zdxmgzpage" :month="regmonth" />
          </a-tab-pane>
          <a-tab-pane key="重点工作" tab="重点工作">
            <OvervierWorkTips ref="tipspage" :conditionalmonth="active" :month="regmonth" />
          </a-tab-pane>
          <a-tab-pane key="会议材料" tab="会议材料">
            <OvervierMeetingmaterials
              v-if="activeKey === '会议材料'"
              ref="OvervieMeeting"
              :title-name="state.titleName"
            />
          </a-tab-pane>
        </a-tabs>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { ref, onMounted, reactive, nextTick } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import {
    RegionalcenterPurchase,
    RegionalcenterZlPage,
    RegionalcenterCbPage,
    RegionalcenterZjPage,
    RegionalcenterXlPage,
    OvervierWorkTips,
    OvervierMeetingmaterials,
    RegionalcenterSchqPage,
    RegionalcenterZdxmgzPage,
  } from '../modulefile';
  import { useUserStore } from '@/store/modules/user';

  defineOptions({
    name: 'regionalcenter',
    inheritAttrs: false,
  });
  const state = reactive({
    titleName: 'zcplzx',
  });
  // 时间选择器
  const userStore = useUserStore();
  const monthFormat = 'YYYYMM';
  const disabledDate = (current: Dayjs) => {
    return current && current > dayjs().endOf('day');
  };
  const begindate = new Date();
  const year = ref(begindate.getFullYear());
  const month = ref(begindate.getMonth() + 1);
  const day = ref(begindate.getDate());
  if (day.value < 15) {
    if (month.value == 1) {
      month.value = 12;
      year.value = year.value - 1;
    } else {
      month.value = month.value - 1;
    }
  }
  if (month.value < 10) {
    month.value = `0${month.value}`;
  }
  const yearmonth = `${year.value}${month.value}`.toString();
  const monthvalue = ref<Dayjs>(dayjs(yearmonth, monthFormat));

  const regmonth = ref('');
  function onChange(value, dateString) {
    regmonth.value = dateString;
    userStore.setYearDate(regmonth);
    onactiveKey();
  }

  const indexNav = reactive([
    { name: '资材品类中心', active: false, resources: `dirve:region:zcplzx` },
    { name: '备件品类中心', active: false, resources: `dirve:region:bjplzx` },
    { name: '设备品类中心', active: false, resources: `dirve:region:sbplzx` },
    { name: '华南大区', active: false, resources: `dirve:region:hndq` },
    { name: '华东大区', active: false, resources: `dirve:region:hddq` },
    { name: '华中大区', active: false, resources: `dirve:region:hzdq` },
    { name: '西南大区', active: false, resources: `dirve:region:xndq` },
    { name: '西北大区', active: false, resources: `dirve:region:xbdq` },
    { name: '华北大区', active: false, resources: `dirve:region:hbdq` },
  ]);
  const indexNavshow = reactive([
    { name: '资材品类中心', active: false, titleName: 'zcplzx' },
    { name: '备件品类中心', active: false, titleName: 'bjplzx' },
    { name: '设备品类中心', active: false, titleName: 'sbplzx' },
    { name: '华南大区', active: false, titleName: 'hndq' },
    { name: '华东大区', active: false, titleName: 'hddq' },
    { name: '华中大区', active: false, titleName: 'hzdq' },
    { name: '西南大区', active: false, titleName: 'xndq' },
    { name: '西北大区', active: false, titleName: 'xbdq' },
    { name: '华北大区', active: false, titleName: 'hbdq' },
  ]);

  const getActive = (data) => {
    active.value = data;
    for (let i = 0; i < indexNavshow.length; i++) {
      indexNavshow[i].active = false;
      if (data === indexNavshow[i].name) {
        indexNavshow[i].active = true;
        state.titleName = indexNavshow[i].titleName;
      }
    }
    onactiveKey();
  };
  const onactive = () => {
    onactiveKey();
  };

  const active = ref('');
  const indexNavShow = () => {
    let index = 0;
    for (let i = 0; i < indexNav.length; i++) {
      if (index === 0) {
        if (indexNav[i].active) {
          index = 1;
          indexNavshow[i].active = true;
          active.value = indexNav[i].name;
        }
      } else {
        indexNav[i].active = false;
      }
    }
  };

  const activeKey = ref('概况');
  const OvervieMeeting = ref();
  const purchase = ref();
  const zlpage = ref();
  const cbpage = ref();
  const zjpage = ref();
  const xlpage = ref();
  const schqpage = ref();
  const tipspage = ref();
  const zdxmgzpage = ref();

  const onactiveKey = () => {
    nextTick(() => {
      if (activeKey.value === '成本' && active.value === '设备品类中心') {
        activeKey.value = '概况';
      }
      if (activeKey.value === '市场行情分析' && active.value !== '资材品类中心') {
        activeKey.value = '概况';
      }
      if (activeKey.value === '重点项目跟踪' && active.value !== '设备品类中心') {
        activeKey.value = '概况';
      }
      switch (activeKey.value) {
        case '概况':
          purchase.value.Initialloading();
          break;
        case '质量':
          zlpage.value.Initialloading();
          break;
        case '成本':
          cbpage.value.Initialloading();
          break;
        case '两金':
          zjpage.value.Initialloading();
          break;
        case '效率':
          xlpage.value.Initialloading();
          break;
        case '市场行情分析':
          schqpage.value.InitialCall();
          break;
        case '重点工作':
          tipspage.value.select1(active.value);
          break;
        case '会议材料':
          OvervieMeeting.value.searchPDF(state.titleName);
          break;
        case '重点项目跟踪':
          zdxmgzpage.value.Initialloading();
          break;
      }
    });
  };
  onMounted(() => {
    regmonth.value = yearmonth;
    userStore.setYearDate(regmonth.value);
    nextTick(() => {
      indexNavShow();
      onactiveKey();
    });
  });
</script>

<style lang="less" scoped>
  .bjStyle {
    background: #f0f2f5;
    margin: 10px;
  }

  .titlebag {
    font-family: @font-family;
    line-height: 80px;
    color: @heading-color;
    background-color: rgba(255, 212, 74, 0.5);
    text-align: center;
    font-size: 1.6vw;
    font-weight: bold;
  }

  ul {
    display: table;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 0px;
    height: 65px;
  }

  .home_navigation {
    float: left;
    width: 150px;
    text-align: center;
    line-height: 60px;
    font-family: @font-family;
    font-size: 1.2vw;
    color: @heading-color;
    font-weight: bold;
  }

  .activeTab {
    color: #36a6fe;
    border-bottom: 3px solid #36a6fe;
  }

  .blockstyle {
    font-family: @font-family;
    background: white;
    margin: 10px 0px;
  }

  /deep/ .ant-table-tbody > tr > td {
    font-family: @font-family;
    color: @heading-color;
    font-size: 1.1vw;
    text-align: center;
    border: 1px solid #000000;
  }

  /deep/ .ant-table-thead > tr > th {
    font-family: @font-family;
    color: @heading-color;
    font-size: 1.1vw;
    font-weight: bold;
    text-align: center;
    background-color: #f5e8b9;
    border: 1px solid #000000;
  }

  /deep/ .ant-modal {
    .ant-modal-body {
      padding: 10px;
    }
    .ant-modal-title {
      font-family: @font-family;
      font-size: 1.3vw;
      font-weight: bold;
      color: @heading-color;
    }
    .ant-table-tbody > tr > td {
      font-family: @font-family;
      color: @heading-color;
      font-size: 1.1vw;
      text-align: center;
    }

    .ant-table-thead > tr > th {
      font-family: @font-family;
      color: @heading-color;
      font-size: 1.1vw;
      font-weight: bold;
      text-align: center;
      background-color: #f5e8b9;
    }
  }
  /deep/.ant-tabs-tab-btn {
    font-size: 1.1vw;
    font-weight: bold;
  }
  /deep/ .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
    background: #f5e8b9;
  }

  /deep/.sbstyle {
    cursor: pointer;
  }
</style>
