<template>
  <div>
    <a-modal
      v-model:visible="addEdiitVisible"
      :mask-closable="false"
      destroy-on-close
      :title="null"
      width="500px"
      :footer="null"
      @ok="onChangeVisable(false)"
    >
      <div>
        <a-form
          ref="auditFormRef"
          :model="state.auditForm"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 16 }"
          :rules="rules"
          @finish="onFinish"
          @finish-failed="onFinishFailed"
        >
          <a-form-item v-if="state.isAdd === 'edit'" label="编号">
            <span>{{ checkData.modelId }}</span>
          </a-form-item>
          <a-form-item label="名称" name="transferor">
            <a-input v-model:value="state.auditForm.transferor" />
          </a-form-item>
          <a-form-item label="年份" name="handleRemark">
            <a-space direction="vertical" :size="12">
              <a-date-picker
                v-model:value="state.auditForm.handleRemark"
                picker="year"
                @change="change"
              />
            </a-space>
          </a-form-item>
          <div class="sub-btn">
            <a-button
              type="primary"
              style="
                margin-right: 20px;
                border-color: transparent;
                background: #52c41a;
                color: #fff;
              "
              :loading="state.loading"
              @click="onChangeVisable(false)"
            >
              取消</a-button
            >
            <a-button
              html-type="submit"
              type="primary"
              style="background: #1890ff; color: #fff"
              :loading="state.loading"
            >
              提交</a-button
            >
          </div>
        </a-form>
      </div>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, watch } from 'vue';
  import dayjs from 'dayjs';
  import { message } from 'ant-design-vue';
  import 'ant-design-vue/lib/button/style';

  defineOptions({
    name: 'AddEdiit',
  });
  const props = defineProps({
    checkData: { type: Object, default: null },
  });
  const emit = defineEmits(['search']);
  const addEdiitVisible = ref(false);
  const auditFormRef = ref();
  const state = reactive({
    loading: false,
    isAdd: '',
    auditForm: {
      id: '',
      transferor: '',
      handleRemark: ref<Dayjs>(),
    },
  });
  watch(
    () => props.checkData,
    (val) => {
      if (addEdiitVisible.value) {
        state.auditForm.id = val.id;
        state.auditForm.transferor = '';
        state.auditForm.handleRemark = '';
      }
    },
    { deep: true },
  );
  const rules = reactive({
    transferor: [{ required: true, message: '请填写名称', trigger: 'blur' }],
    handleRemark: [{ required: true, message: '请选择年份', trigger: 'blur' }],
  });
  const onChangeVisable = (flag, isAdd) => {
    addEdiitVisible.value = flag;
    state.isAdd = isAdd;
  };
  const onFinish = () => {
    auditHandleOk();
  };
  const change = (date: dayjs | string, dateString: string) => {
    console.log(date, dateString);
  };

  const onFinishFailed = () => {};
  const auditHandleOk = () => {
    const _params = {
      ...state.auditForm,
    };
    saveLogFn(_params);
  };
  const saveLogFn = (_params) => {
    state.loading = true;
    addEdiitVisible.value = false;
    message.info('成功');
    emit('search');
  };

  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
