<template>
  <div ref="barChart" class="chart"></div>
</template>

<script setup lang="ts">
  import { ref, onMounted, onBeforeUnmount, watchEffect, getCurrentInstance, reactive } from 'vue';
  import obei from '@/assets/echarts-theme/obei.json';

  defineOptions({
    name: 'StackedPieChart',
    inheritAttrs: false,
  });

  const props = defineProps({
    legendone: {
      type: Array,
      default() {
        return [];
      },
    },
    series: {
      type: Array,
      default() {
        return [];
      },
    },
  });

  const { proxy } = getCurrentInstance();
  let charts = null;
  const barChart = ref<HTMLElement>();

  const setOption = () => {
    const option = getOption();
    charts && charts.setOption(option, true);
  };

  onMounted(() => {
    charts = proxy.$echarts.init(barChart.value!, obei);
    charts.clear();
    setOption();

    window.addEventListener('resize', () => {
      charts && charts.resize();
    });
  });

  onBeforeUnmount(() => {
    charts && charts.dispose();
    charts = null;
  });

  const getOption = () => {
    const option = {
      tooltip: {
        valueFormatter(p) {
          const text = parseFloat(parseFloat(p).toFixed(0));
          return text.toLocaleString('en-US');
        },
      },
      legend: props.legendone,
      series: props.series,
    };
    return option;
  };

  const lengend = reactive([]);
  const series = reactive([]);

  watchEffect(() => {
    lengend.length = 0;
    series.length = 0;

    lengend.push(...props.legendone);
    series.push(...props.series);

    setOption();
  });
</script>

<style>
  .chart {
    width: 100%;
    height: 100%;
  }
</style>
