<template>
  <div style="width: 100%">
    <MergeTable
      :api-method="getTotalSalaryMethod"
      :column-list="columnList"
      :formatter="formatter"
      :cell-color="cellColor"
      :column-merge="columnMerge"
      :row-merge="rowMerge"
      @cell-clicked="onCellClicked"
    >
    </MergeTable>
    <div style="width: 100%; height: 20px"></div>
    <MergeTable
      :api-method="getAreaSalaryMethod"
      :column-list="childColumns"
      :column-groups="columnGroups"
      :formatter="formatter"
      :cell-color="cellColor"
      :row-merge="childRowMerge"
      :column-merge="childColumnMerge"
      :filter="filterData"
    >
    </MergeTable>
  </div>
</template>

<script setup lang="ts">
  import { ref } from 'vue';
  import { MergeTable } from '@/components/business';

  defineOptions({
    name: 'TestMergeTable',
    inheritAttrs: false,
  });

  const columnList = [
    {
      title: '区域',
      dataIndex: 'area',
    },
    {
      title: '人数',
      dataIndex: 'count',
    },
    {
      title: '收入',
      dataIndex: 'salary',
      emphasisColor: 'colorone',
      formatter: 'money',
    },
  ];

  // cellColor     GT,1000,'#7A2635'
  //               LT
  //               BTW
  //               EQ
  //               GE
  //               LE
  const cellColor = {
    colorone: [
      ['GE', 20000, 'green'],
      ['LT', 20000, 'red'],
    ],
    colortwo: [
      ['GE', 40, '#7A2635'],
      ['BTW', 35, 39, '#ffae77'],
      ['LT', 35, '#87d068'],
    ],
    colorthree: [
      ['GT', 0, 'green'],
      ['LE', 0, 'red'],
    ],
  };

  const formatter = {
    money: (text) => {
      return `${text.toLocaleString('en-US')}元`;
    },
    mobile: (text) => {
      const reg = /^(\d{3})(\d{4})(\d{4})$/;
      const matches = reg.exec(text);
      const newText = `${matches[1]} ${matches[2]} ${matches[3]}`;
      return newText;
    },
    rate2: (text) => {
      return `${text.toFixed(2)}%`;
    },
    age: (text) => {
      return `${text}岁`;
    },
    address: (text) => {
      return `地址：${text}`;
    },
    people: (text) => {
      return `共${text}人`;
    },
  };

  const rowMerge = {
    title: '合计',
    titleColumn: 'area',
    cols: [
      {
        column: 'salary',
        method: 'sum',
        align: 'right',
        emphasisColor: 'colorone',
        formatter: 'money',
      },
      {
        column: 'count',
        method: 'sum',
        align: 'right',
      },
      {
        column: 'avgSalary',
        emphasisColor: 'colorone',
        formatter: 'money',
        method: {
          complex: true,
          operator: [
            {
              column: 'salary',
              method: 'sum',
            },
            {
              column: 'count',
              method: 'sum',
            },
          ],
          expression: '{0}/{1}',
        },
        align: 'left',
      },
    ],
  };

  const columnMerge = [
    {
      title: '平均薪资',
      dataIndex: 'avgSalary',
      mergeColumn: 'salary,count',
      after: 'salary',
      formatter: 'money',
      emphasisColor: 'colorone',
      method: {
        complex: true,
        expression: '{0}/{1}',
      },
      align: 'left',
    },
  ];

  const childColumns = [
    {
      title: '地区',
      dataIndex: 'area',
    },
    {
      title: '姓名',
      dataIndex: 'name',
      align: 'right',
    },
    {
      title: '去年薪资',
      dataIndex: 'lastsalary',
      emphasisColor: 'colorone',
      formatter: 'money',
    },
    {
      title: '薪资',
      dataIndex: 'salary',
      emphasisColor: 'colorone',
      formatter: 'money',
    },
  ];

  const childRowMerge = {
    title: '合计',
    titleColumn: 'area',
    cols: [
      {
        column: 'name',
        formatter: 'people',
        method: 'count',
        align: 'right',
      },
      {
        column: 'salary',
        emphasisColor: 'colorone',
        formatter: 'money',
        method: 'sum',
        align: 'left',
      },
    ],
  };

  const childColumnMerge = [
    {
      title: '涨幅',
      dataIndex: 'rate',
      mergeColumn: 'lastsalary,salary',
      formatter: 'rate2',
      emphasisColor: 'colorthree',
      method: {
        complex: true,
        expression: '({1}-{0})/{0}*100',
      },
      align: 'left',
    },
  ];

  const columnGroups = [
    {
      title: '收入情况',
      children: ['lastsalary', 'salary', 'rate'],
    },
  ];

  const filterData = ref({ area: '华东' });

  const onCellClicked = (record, column) => {
    console.log('cloumn record', column, record);
    // this.$message.info('column:' + column + ' clicked!  value:' + record[column] + "!");

    if (column.column.dataIndex == 'area' && record.id) {
      // this.filterData.area = record[column];
      console.log(filterData);

      filterData.value.area = record[column.column.dataIndex];
    }
  };

  const getTotalSalaryMethod = () => {
    return new Promise(function (resolve) {
      const r = {
        data: {
          success: true,
          data: [
            {
              id: 1,
              area: '华东',
              count: 20,
              salary: 280000,
            },
            {
              id: 2,
              area: '华南',
              count: 40,
              salary: 580000,
            },
            {
              id: 3,
              area: '华北',
              count: 20,
              salary: 280000,
            },
          ],
        },
      };

      resolve(r);
    });
  };
  const getAreaSalaryMethod = (params) => {
    const data = [
      {
        id: 1,
        area: '华东',
        name: 'A',
        lastsalary: 180000,
        salary: 280000,
      },
      {
        id: 2,
        area: '华东',
        name: 'B',
        lastsalary: 180000,
        salary: 280000,
      },
      {
        id: 3,
        area: '华南',
        name: 'C',
        lastsalary: 180000,
        salary: 280000,
      },
      {
        id: 4,
        area: '华南',
        name: 'D',
        lastsalary: 180000,
        salary: 280000,
      },
      {
        id: 5,
        area: '华南',
        name: 'E',
        lastsalary: 180000,
        salary: 280000,
      },
      {
        id: 6,
        area: '华北',
        name: 'F',
        lastsalary: 180000,
        salary: 280000,
      },
    ];

    return new Promise(function (resolve) {
      let resultData = [];
      if (params.area) {
        resultData = data.filter((item) => {
          return item.area == params.area;
        });
        console.log(resultData);
      } else {
        resultData = data;
      }
      const r = {
        data: {
          success: true,
          data: resultData,
        },
      };

      resolve(r);
    });
  };
</script>

<style scoped></style>
