<template>
  <div style="width: 100%">
    <a-button @click="handlerLoadData">加载数据集</a-button>
    <a-button @click="handlerShow">展开</a-button>
    <a-button @click="handlerClear">清空</a-button>
    <QueryFilterNew
      ref="conditionFilter"
      :visible="state.show"
      :isadd-condition-group="false"
      :field-list="state.fields"
      @change="onConditionChange"
    ></QueryFilterNew>
  </div>
</template>

<script setup lang="ts">
  import { ref, reactive, onMounted } from 'vue';
  import { QueryFilterNew } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';

  defineOptions({
    name: 'TestQueryFilter',
    inheritAttrs: false,
  });

  const testData = {
    id: 224,
    tableCname: '小额零星采购条件不合规',
    tableName: 'T_ADS_SRV_SMALL_PURCHASE2',
    apiName: 'D_A_BWDHCG_SMALL_PURCHASE',
    tableScheme: 'BWDHMAJYFX',
    sourceId: 79,
    sourceName: '5SAPI',
    perm: '5SAPIT_ADS_SRV_SMALL_PURCHASE2',
    isSqlView: 0,
    applicationScenario: '静态监督模型',
    governanceObject: '合同,物料',
    createUser: 'admin',
    createTime: '2022-07-20 14:22:39',
    columnsList: [
      {
        id: 1715,
        tableId: 224,
        columnCname: '拟签单价',
        columnName: 'PRESIGN_UNITPRICE',
        newType: '2',
        example: '9357.500000',
        type: 'DECIMAL',
        isPrikey: '0',
        sort: '1',
        dictId: '7',
        dictName: '值集映射',
        dictCode: 'valueMapping',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1716,
        tableId: 224,
        columnCname: '合同号',
        columnName: 'CONTR_NO',
        newType: '1',
        example: '2104HT00239',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '2',
        dictId: '7',
        dictName: '值集映射',
        dictCode: 'valueMapping',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1717,
        tableId: 224,
        columnCname: '拟签单号',
        columnName: 'PRESIGN_RECEIPT_NO',
        newType: '1',
        example: 'NQ0203390B001',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '3',
        dictId: '7',
        dictName: '值集映射',
        dictCode: 'valueMapping',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1718,
        tableId: 224,
        columnCname: '拟签行号',
        columnName: 'PRESIGN_LINE_ID',
        newType: '1',
        example: 'XJ0203390B03708975',
        type: 'VARCHAR',
        isPrikey: '1',
        sort: '4',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1719,
        tableId: 224,
        columnCname: '物料代码',
        columnName: 'MAT_CODE',
        newType: '1',
        example: 'C3326684',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '5',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1720,
        tableId: 224,
        columnCname: '物料名称',
        columnName: 'MAT_NAME',
        newType: '1',
        example: 'RW1摇板',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '6',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1721,
        tableId: 224,
        columnCname: '大类描述',
        columnName: 'BIGCLASS_DESC',
        newType: '1',
        example: '其它专用机械备件',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '7',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1722,
        tableId: 224,
        columnCname: '采购部门名称',
        columnName: 'PUR_DEPT_NAME',
        newType: '1',
        example: '梅钢备品备件部',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '8',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1723,
        tableId: 224,
        columnCname: '供应商名称',
        columnName: 'SUPPLIER_NAME',
        newType: '1',
        example: '常州宝菱重工机械有限公司',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '9',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1724,
        tableId: 224,
        columnCname: '区县名称',
        columnName: 'AREA_NAME',
        newType: '1',
        example: '梅山',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '10',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1725,
        tableId: 224,
        columnCname: '拟签金额',
        columnName: 'PRESIGN_AMT',
        newType: '2',
        example: '37430',
        type: 'DECIMAL',
        isPrikey: '0',
        sort: '11',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1726,
        tableId: 224,
        columnCname: '拟签数量',
        columnName: 'PRESIGN_QTY',
        newType: '2',
        example: '4',
        type: 'DECIMAL',
        isPrikey: '0',
        sort: '12',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1727,
        tableId: 224,
        columnCname: '拟签单创建时间',
        columnName: 'PRESIGN_RECEIPT_CRTATE_DATE',
        newType: '3',
        example: '20210329083728',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '13',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1728,
        tableId: 224,
        columnCname: '独家理由',
        columnName: 'EXCLUSIVE_REASON',
        newType: '1',
        example: '小额零星采购',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '14',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1729,
        tableId: 224,
        columnCname: '疑似问题',
        columnName: 'PROBLEM_TYPE',
        newType: '1',
        example: '非耐材类物料拟签金额大于1万',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '15',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1730,
        tableId: 224,
        columnCname: '年度累计拟签金额',
        columnName: 'ANNUAL_TOTAL_PRESIGN_AMT',
        newType: '2',
        example: '37430',
        type: 'INT',
        isPrikey: '0',
        sort: '16',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1731,
        tableId: 224,
        columnCname: '内码',
        columnName: 'INTR_CODE',
        newType: '1',
        example: ' ',
        type: 'VARCHAR',
        isPrikey: '1',
        sort: '17',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1732,
        tableId: 224,
        columnCname: '合同金额',
        columnName: 'CONTR_AMT',
        newType: '2',
        example: '37430',
        type: 'DECIMAL',
        isPrikey: '0',
        sort: '18',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1733,
        tableId: 224,
        columnCname: '合同数量',
        columnName: 'CONTR_QTY',
        newType: '2',
        example: '4.0000',
        type: 'DECIMAL',
        isPrikey: '0',
        sort: '19',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1734,
        tableId: 224,
        columnCname: '排名',
        columnName: 'RANK',
        newType: '2',
        type: 'BIGINT',
        isPrikey: '0',
        sort: '20',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1735,
        tableId: 224,
        columnCname: '采购账套代码',
        columnName: 'PUR_ACCT_CODE',
        newType: '1',
        example: 'OG',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '21',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1736,
        tableId: 224,
        columnCname: '记录创建日期',
        columnName: 'REC_CREATE_DATE',
        newType: '3',
        example: '2022-07-01',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '22',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
      {
        id: 1737,
        tableId: 224,
        columnCname: '疑似问题代码',
        columnName: 'PROBLEM_TYPE_CODE',
        newType: '1',
        example: 'P1',
        type: 'VARCHAR',
        isPrikey: '0',
        sort: '23',
        createUser: 'admin',
        createTime: 1658298160000,
        updateUser: 'admin',
        updateTime: 1658298160000,
      },
    ],
  };

  const conditionFilter = ref();

  const state = reactive({
    show: false,
    canQuery: true,
    fields: [
      // { name: "name", cName: "姓名", type: "text" },
      // { name: "title", cName: "标题", type: "text" },
      // { name: "age", cName: "年龄", type: "number" },
      // { name: "sex", cName: "性别", type: "dict", codeList: [{ label: '男', value: 1 }, { label: '女', value: 2 }] },
      // { name: "createDate", cName: "出身日期", type: "date" },
    ],
    filters: [],
  });

  const handlerLoadData = () => {
    const fields = QueryFieldConvert.columnFields2QueryFields(testData.columnsList);
    state.fields = fields;
  };

  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      const filters = conditionFilter.value.getConditionResult();
      // todo 执行查询逻辑
      console.log(filters);
      state.filters = filters;

      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };

  const handlerShow = () => {
    state.show = !state.show;
  };

  const handlerClear = () => {
    conditionFilter.value.clearConditionResult();
    const filters = conditionFilter.value.getConditionResult();
    state.filters = filters;
    console.log(filters);
  };

  onMounted(() => {
    handlerShow();
    handlerLoadData();
  });
</script>

<style scoped lang="less"></style>
