<template>
  <div class="insertContent">
    <div
      v-for="(item, index) in store.insertContent"
      :key="`configData${index}`"
      class="configData"
    >
      <span>{{ item.title }}</span>
      <div class="configLine">
        <draggable
          :id="index"
          :list="item.value"
          :group="state.group"
          chosen-class="chosenClass"
          ghost-class="ghost"
          animation="100"
          :class="`insertContent${index}`"
          :component-data="item"
          :move="DragMoveConfig"
          item-key="name"
          @end="onEnd"
        >
          <template #item="{ element }">
            <div class="item">
              <span>
                <file-outlined v-if="element.newType == 1" />
                <number-outlined v-else-if="element.newType == 2" />
                <history-outlined v-else-if="element.newType == 3" />
                <folder-outlined v-else-if="element.newType == 4" />
                {{ element.sourceName }}
              </span>
              <span v-if="element.sort"
                >(
                <span v-if="element.sort === 'ASC'">升序</span>
                <span v-if="element.sort === 'DESC'">降序</span>
                )
              </span>
              <span v-if="element.distinct"
                >(
                <span>去重</span>
                )
              </span>
              <span v-if="item.title == '纵轴' && element.aggregateType"
                >(
                <span v-if="element.aggregateType === 'SUM'">求和</span>
                <span v-if="element.aggregateType === 'AVG'">平均</span>
                <span v-if="element.aggregateType === 'MAX'">最大值</span>
                <span v-if="element.aggregateType === 'MIN'">最小值</span>
                <span v-if="element.aggregateType === 'COUNT'">计数</span>
                )
              </span>
              <template v-if="item.title == '过滤'">
                <a-dropdown>
                  <caret-down-outlined @click="(e) => e.preventDefault()" />
                  <template #overlay>
                    <a-menu>
                      <a-menu-item>
                        <span @click="dropdownFilter(element)">过滤</span>
                      </a-menu-item>
                      <a-menu-item>
                        <span @click="filterDel(element)">删除</span>
                      </a-menu-item>
                    </a-menu>
                  </template>
                </a-dropdown>
              </template>
              <template v-else>
                <!-- || t.newType !='2' -->
                <operate-menu
                  :is-y="index != 1"
                  :item-type="element.type"
                  :disabled="element.disabled"
                  @on-menu-click="onMenuClick(element, index, $event)"
                >
                  <caret-down-outlined />
                </operate-menu>
              </template>
            </div>
          </template>
        </draggable>
      </div>
      <delete-outlined @click="delAll(index)" />
    </div>
    <operate-model ref="operateDataFormatModel" @ok="onDataFormatOk"></operate-model>
    <ModelFilter
      ref="filterFields"
      :show="state.modelFilterFieldShow"
      :column="state.filterField"
      @showModel="onSelectFilter(state.filterField, $event)"
    ></ModelFilter>
  </div>
</template>

<script setup lang="ts">
  import { ref, reactive } from 'vue';
  import draggable from 'vuedraggable';
  // import { uniqBy } from 'lodash-es';
  import FieldConfig from '../dataset/FieldConfig';
  import DragMoveConfig from '../action/DragMoveConfig.ts';
  import OperateMenu from './OperateMenu.vue';
  import OperateModel from './OperateDataFormatModel.vue';
  import ModelFilter from './ModelFilter.vue';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  import common from '@/utils/commonFunc.js';
  defineOptions({
    name: ' insertContent',
  });
  const store = chartConfigurations();
  const operateDataFormatModel = ref();
  const filterFields = ref();
  const state = reactive({
    group: { name: 'itxst' },
    modelFilterFieldShow: false,
    filterField: {},
    selectFilterField: {},
    list: [],
  });

  const delAll = (index) => {
    store.insertContent[index].value.forEach((item) => {
      // 如果有新增字段则绑定上去
      if (item.type.split(',').indexOf('addField') !== -1) {
        store.navList[0].children.push(item);
      }
      // 如果有目录则绑定上去
      if (item.type.split(',').indexOf('catalogue') !== -1) {
        store.navList[1].children.push(item);
      }
    });
    store.insertContent[index].value = [];
    FieldConfig();
  };
  const onDataFormatOk = (e) => {
    if (e.D == null) {
      e.D = 2;
    }
    const index = store.insertContent[1].value.findIndex((x) => x.key === e.key);
    if (index > -1) {
      const temp = store.insertContent[1].value[index];
      store.insertContent[1].value[index] = Object.assign(temp, { dataFormat: e.dataFormat });
    }
  };
  // 过滤轴删除
  const filterDel = (item) => {
    const index = store.insertContent[2].value.findIndex((x) => x.key === item.key);
    if (index > -1) {
      store.insertContent[2].value.splice(index, 1);
      FieldConfig();
    }
  };
  const onSelectFilter = (field, params) => {
    // field:需要过滤的数据
    // params：进行过滤后的数据
    if (params != null && params != undefined) {
      // this.$set(state.selectFilterField, field.name, params);
      // 对过滤轴的数据进行绑定
      const index = store.insertContent[2].value.findIndex((x) => x.key === field.key);
      if (index > -1) {
        store.insertContent[2].value.forEach((item, index) => {
          // 获取同一条数据
          if (item.key === field.key) {
            store.insertContent[2].value[index].filters = params;
          }
        });
      }
    }
    state.modelFilterFieldShow = false;
  };
  // 获取过滤字段信息
  const getSelectFilter = () => {
    let list = [];
    const data = state.selectFilterField;
    Object.keys(data).forEach((x) => {
      list = list.concat(data[x]);
    });
    return list;
  };
  const dropdownFilter = (e) => {
    state.filterField = e;
    if (state.selectFilterField.hasOwnProperty(e.name)) {
      filterFields.value.setValues(state.selectFilterField[e.name]);
    } else {
      filterFields.value.setValues([]);
    }
    state.modelFilterFieldShow = true;
  };
  /**
   * 横纵轴字段点击事件
   * @param field
   * @param e
   */
  const onMenuClick = (field, index, e) => {
    if (e.key === 'format') {
      operateDataFormatModel.value.open(field);
    } else if (
      e.key === 'sum' ||
      e.key === 'avg' ||
      e.key === 'max' ||
      e.key === 'min' ||
      e.key === 'count'
    ) {
      const idx = store.insertContent[index].value.findIndex((x) => {
        if (x.key) {
          if (x.key === field.key) {
            return true;
          }
        }
        if (x.name) {
          if (x.name === field.name) {
            return true;
          }
        }
      });
      if (idx > -1) {
        const t = common.strChangeCase(e.key, 4);
        store.insertContent[index].value[idx].aggregateType = t;
        if (e.key != 'count') {
          // store.insertContent[index].value[idx].disabled = true;
          store.insertContent[index].value[idx].distinct = false;
        } else {
          store.insertContent[index].value[idx].disabled = false;
        }
      }
    } else if (e.key === 'asc' || e.key === 'desc') {
      const idx = store.insertContent[index].value.findIndex((x) => {
        if (x.key) {
          if (x.key === field.key) {
            return true;
          }
        }
        if (x.name) {
          if (x.name === field.name) {
            return true;
          }
        }
      });
      if (idx > -1) {
        const data = store.insertContent[index].value[idx]; // 定位到的数据
        if (data.children && data.children.length) {
          data.children.forEach((item) => {
            item.sort = common.strChangeCase(e.key, 4);
          });
          store.insertContent[index].value[idx] = data;
        }
        store.insertContent[index].value[idx].sort = common.strChangeCase(e.key, 4);
        console.log(store.insertContent[index].value[idx]);
      }
    } else if (e.key === 'distinct') {
      const idx = store.insertContent[index].value.findIndex((x) => {
        if (x.key) {
          if (x.key === field.key) {
            return true;
          }
        }
        if (x.name) {
          if (x.name === field.name) {
            return true;
          }
        }
      });
      if (idx > -1) {
        const distinct = store.insertContent[index].value[idx].distinct || false;
        store.insertContent[index].value[idx].distinct = !distinct;
      }
    } else if (e.key === 'del') {
      // 新增字段
      if (field.type === 'addField') {
        store.navList[0].children.push(field);
      }
      // 目录
      if (field.type.split(',').indexOf('catalogue') !== -1) {
        store.navList[1].children.push(field);
      }
      const idx = store.insertContent[index].value.findIndex((x) => {
        if (x.key) {
          if (x.key === field.key) {
            return true;
          }
        }
        if (x.name) {
          if (x.name === field.name) {
            return true;
          }
        }
      });
      if (idx > -1) {
        store.insertContent[index].value.splice(idx, 1);
        FieldConfig();
      }
    } else if (e.key === 'filter') {
      // 数据增加到过滤轴 目录不能过滤
      const idx = store.insertContent[index].value.findIndex((x) => {
        if (x.key) {
          if (x.key === field.key) {
            return true;
          }
        }
        if (x.name) {
          if (x.name === field.name) {
            return true;
          }
        }
      });
      if (store.insertContent[index].value[idx].type !== 'catalogue') {
        let flag = true;
        store.insertContent[2].value.forEach((item) => {
          if (item.name === store.insertContent[index].value[idx].name) {
            flag = false;
          }
        });
        if (flag) {
          store.insertContent[2].value.push(store.insertContent[index].value[idx]);
        }
        dropdownFilter(store.insertContent[index].value[idx]);
      }
    }
  };
  // 切换轴的时候删除以配置的值
  const onEnd = (el) => {
    const item = el.item.__draggable_context.element;
    // const target = el.to.__draggable_component__.componentData;
    // //横纵轴
    // if (target) {
    //   const filter = target.value.filter((x) => x.key === item.key);
    //   if (filter.length > 1) {
    //     target.value = uniqBy(target.value, 'key');
    //   }
    // }
    delete item.sort;
    delete item.aggregateType;
    delete item.dataFormat;
    delete item.distinct;
  };
</script>

<style lang="less" scoped>
  .insertContent {
    width: 100%;
    max-height: 250px;
    overflow-y: auto;

    .configData {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 8px 0;

      > span {
        display: inline-block;
        padding-right: 8px;
        // font-size: 18px;
      }

      .configLine {
        flex: 1;
        border-bottom: 1px solid #eee;
        border-radius: 8px;
        min-height: 36px;

        > div {
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
        }

        // 被拖拽的样式
        .chosenClass {
        }

        // 拖到位置的样式
        .ghost {
        }

        // 字段样式
        .item {
          display: inline-flex;
          height: 100%;
          padding: 4px 8px;
          background: rgba(80, 78, 78, 0.103);
          margin: 4px 4px;
          align-items: center;
          border-radius: 6px;
          // cursor: state.pointer;
          .anticon:first-child {
            padding-left: 0;
            padding-right: 4px !important;
            font-size: 14px;
            margin-top: -2px;
          }

          .anticon:last-child {
            padding-left: 0;
            padding-right: 4px !important;
            font-size: 14px;
            margin-left: 10px;
          }
        }
      }

      .anticon {
        font-size: 24px;
        padding-right: 0 !important;
        padding-left: 8px;
      }
    }
  }
</style>
