<template>
  <a-modal
    title="数据格式"
    :visible="state.visible"
    :destroy-on-close="true"
    :mask-closable="false"
    @ok="onDataFormatOk"
    @cancel="onDataFormatCancel"
  >
    <a-form name="basic" :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }" autocomplete="off">
      <a-form-item label="格式">
        <a-radio-group v-model:value="state.dataFormat.type">
          <a-radio v-for="(item, index) in state.types" :key="index" :value="item.key">
            {{ item.value }}
          </a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item label="小数位">
        <a-input-number
          v-model:value="state.dataFormat.D"
          class="data-format-input"
          :min="0"
          :max="10"
        />
      </a-form-item>
      <template v-if="state.dataFormat.type != 'percent'">
        <a-form-item label="单位后缀">
          <a-input v-model:value="state.dataFormat.unit" class="data-format-input" />
        </a-form-item>
        <!-- <a-form-item label="结果自动乘以100">
          <a-checkbox :checked="dataFormat.M"  @change="onMChange">结果自动乘以100</a-checkbox>
        </a-form-item>
        -->
        <a-form-item label="千分位">
          <a-checkbox :checked="state.dataFormat.U" @change="onUChange"></a-checkbox>
        </a-form-item>
      </template>
    </a-form>
  </a-modal>
</template>

<script lang="ts" setup>
  import { reactive } from 'vue';

  defineOptions({
    name: 'OperateDataFormatModel',
  });
  const state = reactive<any>({
    field: null,
    visible: false,
    types: [
      { key: 'number', value: '数字' },
      { key: 'percent', value: '百分比' },
    ],
    dataFormat: {
      type: 'number',
      D: 2,
      unit: '',
      U: false,
      M: false,
    },
  });
  const emit = defineEmits(['ok']);
  const onDataFormatOk = () => {
    state.visible = false;
    if (state.dataFormat.type === 'percent') {
      state.dataFormat.unit = '';
      state.dataFormat.M = false;
      state.dataFormat.U = false;
    }
    emit('ok', Object.assign(state.field, { dataFormat: state.dataFormat }));
  };
  const onDataFormatCancel = () => {
    state.visible = false;
  };
  const onUChange = (e) => {
    state.dataFormat.U = e.target.checked;
  };
  const open = (field: any) => {
    state.field = field;
    if (field.dataFormat != null || field.dataFormat != undefined) {
      state.dataFormat = field.dataFormat;
    } else {
      state.dataFormat = {
        type: 'number',
        D: 2,
        unit: '',
        U: false,
        M: false,
      };
    }
    state.visible = true;
  };
  defineExpose({
    open,
  });
</script>

<style scoped lang="less">
  .data-format-input {
    width: 200px;
  }
</style>
