<template>
  <div>
    <a-modal
      v-model:visible="state.visible"
      :title="props.title"
      :width="840"
      destroy-on-close
      :mask-closable="false"
      :body-style="{ 'min-height': '300px' }"
      :footer="false"
      @cancel="closeModal"
    >
      <DynamicTable :columns="columnList" :data-request="loadTableData"> </DynamicTable>
    </a-modal>
    <ReportCom
      :report-visible="state.reportVisible"
      :title="state.reportTitle"
      :record="state.record"
      @close-report="closeReportModal('1')"
    ></ReportCom>
    <!-- 审核 -->
    <UnifyAudit
      :audit-visible="state.auditVisible"
      :record="state.record"
      :type="state.auditType"
      @close-unify="closeReportModal('2')"
    ></UnifyAudit>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, useAttrs } from 'vue';
  import { isEmpty } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import ReportCom from './Report.vue';
  import UnifyAudit from './UnifyAudit.vue';
  import { useTable } from '@/components/core/dynamic-table';
  import { queryEscalationList, updateLockStatus } from '@/api/perAppraisal/apiList';
  import dict from '@/utils/dict.js';
  import { useUserStore } from '@/store/modules/user';

  defineOptions({
    name: 'perApproval',
  });

  const userInfo = useUserStore().userInfo;

  const [DynamicTable, dynamicTableInstance] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'approvalCode',
    bordered: true,
    scroll: { x: 300, y: 300 },
    showToolBar: false,
  });
  const attrs = useAttrs();
  const props = defineProps({
    title: {
      type: String,
    },
    orgVisible: { type: Boolean },
  });
  const state = reactive({
    visible: false,
    dataSource: [{ perfGName: '11' }],
    reportVisible: false,
    reportTitle: '',
    record: {},
    auditVisible: false,
    auditType: '',
  });

  const emits = defineEmits(['closeApp']);

  const columnList: TableColumnItem[] = [
    {
      title: '序号',
      dataIndex: 'reportCode',
      width: 80,
      align: 'center',
      customRender: (column) => {
        return column.index + 1;
      },
    },
    {
      title: '标题',
      dataIndex: 'title',
      width: 260,
      className: 'text-align',
    },
    {
      title: '状态',
      dataIndex: 'auditStatus',
      width: 120,
      align: 'center',
      customRender({ record }) {
        const obj = record?.auditStatus
          ? dict.getItemText('EVALE_QUARTER_REPORT_AUDIT_STATUS', record?.auditStatus)
          : null;
        if (!isEmpty(obj)) {
          return obj;
        } else {
          return '-';
        }
      },
    },
    {
      title: '操作',
      width: 160,
      dataIndex: 'ACTION',
      align: 'center',
      // fixed: 'right',
      actions: ({ record }) => {
        const actionList = [] as any;
        const auditStatusArr = ['10', '20', '30', '36'];
        const roleArr = userInfo.roleId?.split(',');
        if (record.readFlag.toString() == '2' && record.auditStatus !== '00') {
          actionList.push({
            label: '查看',
            onClick: () => {
              ApprovePerformance(record, 'check');
            },
          });
        }
        if (record.auditStatus == '00' && roleArr.includes('84')) {
          actionList.push({
            label: '上报',
            onClick: () => {
              ModifyPerformance(record);
            },
          });
        }
        if (auditStatusArr.includes(record.auditStatus) && record.readFlag == '1') {
          actionList.push({
            label: '审批',
            onClick: () => {
              ApprovePerformance(record, 'audit');
            },
          });
        }
        //2是已锁定，1是未锁定
        if (record.kpiLockStatus == '1') {
          actionList.push({
            label: '锁定',
            auth: 'rule:reportLock',
            onClick: () => {
              lockData(record, 2);
            },
          });
        } else if (record.kpiLockStatus == '2') {
          actionList.push({
            label: '解锁',
            auth: 'rule:reportLock',
            onClick: () => {
              lockData(record, 1);
            },
          });
        }
        return actionList;
      },
    },
  ];
  const loadTableData = async () => {
    console.log('===>', userInfo);

    const res = await queryEscalationList(attrs.record.orgCode);
    return {
      list: res.success ? res.data : [],
    };
  };
  const closeModal = () => {
    emits('closeApp');
  };

  //修改
  const ModifyPerformance = (row) => {
    state.reportVisible = true;
    state.reportTitle = '绩效上报修改';
    state.record = row;
  };
  const closeReportModal = (type) => {
    if (type == '1') {
      state.reportVisible = false;
    } else if (type == '2') {
      state.auditVisible = false;
    }
    dynamicTableInstance.reload();
  };
  //审核&查看
  const ApprovePerformance = (row, type) => {
    state.auditType = type;
    state.auditVisible = true;
    state.record = row;
  };
  //锁定&解锁
  const lockData = async (row, status) => {
    const params = {
      orgPerfCode: row.orgEvalCode,
      lockStatus: status,
      periodValue: row.evaluateSenPeriod,
    };
    const res = await updateLockStatus(params);
    if (res.success) {
      dynamicTableInstance.reload();
      message.success(status == '2' ? '锁定成功！' : '解锁成功！');
    } else {
      message.error(res.message);
    }
  };

  watch(
    () => props.orgVisible,
    (nV) => {
      state.visible = nV;
    },
  );
</script>
<style lang="less" scoped>
  /deep/th.text-align {
    text-align: center;
  }
</style>
