<template>
  <div>
    <a-modal
      v-model:visible="state.visible"
      :title="attrs.title"
      :mask-closable="false"
      :width="1020"
      destroy-on-close
      @cancel="closeModal"
    >
      <a-form
        ref="formRef"
        :model="state.detailInfo"
        name="basic"
        :label-col="{ span: 3 }"
        :wrapper-col="{ span: 20 }"
        autocomplete="off"
      >
        <a-form-item label="年份">
          {{ state.detailInfo.evaluateYerPeriod }}
          <span style="margin-left: 160px">
            季度：{{ state.detailInfo.evaluateSenPeriodName }}
          </span>
        </a-form-item>
        <a-form-item label="标题">
          <a-input v-model:value="state.detailInfo.title" placeholder="请输入标题" />
        </a-form-item>
        <a-form-item label="完成情况说明">
          <div style="border: 1px solid #ccc">
            <Toolbar
              style="border-bottom: 1px solid #ccc"
              :editor="editorRef"
              :default-config="toolbarConfig"
              :mode="mode"
            />
            <Editor
              v-model="state.detailInfo.comment"
              style="height: 300px; overflow-y: hidden"
              :default-config="editorConfig"
              :mode="mode"
              @on-created="(e) => handleCreated(e)"
              @on-max-length="onMaxLength"
            />
          </div>
          <div class="mt-2x">
            <a-checkbox-group v-model:value="state.detailInfo.reportClasses" style="width: 100%">
              <a-row>
                <a-col
                  v-for="item in dict.getItemsByDictCode('PERFORMANCE_REPORTING')"
                  :key="item.itemText"
                  :span="6"
                >
                  <a-checkbox :value="item.itemText">{{ item.itemValue }}</a-checkbox>
                  <fund-view-outlined class="link" @click="checkChart(item)" />
                </a-col>
              </a-row>
            </a-checkbox-group>
          </div>
        </a-form-item>
        <!--  附件 -->
        <a-form-item label=" 附件">
          <a-upload
            v-model:file-list="state.fileList"
            name="file"
            accept=".doc,.docx,.png,.jpg,.jpeg,.pdf,.xls,.xlsx,.pptx,.zip,.rar,.mp4"
            :action="`${state.BASE_URL}performance-eval/n/public/batchadd/file?fileType=171`"
            :before-upload="beforeUpload"
            @change="(info) => handleChange(info)"
          >
            <a-button> <upload-outlined></upload-outlined>文件上传 </a-button>
            <span class="error"> (支持扩展名：.doc .docx .pdf .jpg .png)</span>
          </a-upload>
        </a-form-item>
      </a-form>
      <template #footer>
        <div class="text-c">
          <a-button type="primary" ghost @click="saveInfo('00')">保存</a-button>
          <a-button type="primary" @click="saveInfo('10')">提交</a-button>
        </div>
      </template>
    </a-modal>
    <ReportModel ref="reportModel" :title="state.title"></ReportModel>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, useAttrs, ref, shallowRef } from 'vue';
  import { UploadOutlined } from '@ant-design/icons-vue';
  import { Editor, Toolbar } from '@wangeditor/editor-for-vue';
  import { cloneDeep } from 'lodash-es';
  import {
    message,
    UploadChangeParam,
    type FormInstance,
    UploadProps,
    Upload,
  } from 'ant-design-vue';
  import type { IEditorConfig } from '@wangeditor/editor'; // 编辑器配置
  import '@wangeditor/editor/dist/css/style.css'; // 引入 css
  import dict from '@/utils/dict.js';
  import { reportPerformance, queryEscalationDetail } from '@/api/perAppraisal/apiList';
  import ReportModel from '@/views/perAppraisal/perApproval/components/ReportModel.vue';

  defineOptions({
    name: 'perApprovalReport',
  });
  const attrs: any = useAttrs();
  const props = defineProps({
    reportVisible: { type: Boolean },
  });
  type stateType = {
    visible: Boolean;
    BASE_URL: any;
    subVisible: Boolean;
    infoHtml: String;
    saveLoading: Boolean;
    subLoading: Boolean;
    detailInfo: {
      evaluateYerPeriod?: String;
      evaluateSenPeriodName?: String;
      title?: String;
      comment?: String;
      auditStatus?: String;
      files?: any;
      reportClasses?: [];
    };
    fileList: any;
    title?: String;
  };
  const state = reactive<stateType>({
    visible: false,
    BASE_URL: process.env.VUE_APP_BASE_API,
    subVisible: false,
    infoHtml: '',
    saveLoading: false,
    subLoading: false,
    detailInfo: {},
    fileList: [],
    title: '',
  });

  const emits = defineEmits(['closeReport']);
  /** 表单 */
  const formRef = ref<FormInstance>();
  /** 上传文件  开始 **/
  const handleChange = (info: UploadChangeParam) => {
    if (info.file.status === 'done') {
      const fileInfo = info.fileList.map((item) => {
        if (item.status == 'done' && item?.response?.success) {
          return item.response.data;
        } else {
          return {
            fileAddress: getCaption(item.url),
            fileName: item.name,
          };
        }
      });
      state.detailInfo.files = fileInfo;
      message.success(`${info.file.name} 文件上传成功！`);
    } else if (info.file.status === 'error') {
      message.error(`${info.file.name} 文件上传失败！`);
    } else if (info.file.status === 'removed') {
      const fileInfo = info.fileList.map((item) => {
        if (item.status == 'done' && item?.response?.success) {
          return item.response.data;
        } else {
          return {
            fileAddress: getCaption(item.url),
            fileName: item.name,
          };
        }
      });
      state.detailInfo.files = fileInfo;
    }
  };
  //截取等号后的值（接口返回的文件，需要手动处理为需要的格式进行展示）
  const getCaption = (obj) => {
    const index = obj.lastIndexOf('=');
    obj = obj.substring(index + 1, obj.length);
    return obj;
  };
  const beforeUpload = (file: UploadProps['fileList'][number]) => {
    const isLt100M = file.size / 1024 / 1024 < 100;
    if (!isLt100M) {
      message.error('文件最大100M!');
    }
    return isLt100M || Upload.LIST_IGNORE;
  };
  /** 上传文件  结束 **/
  /** 富文本编辑器相关配置  开始 **/
  const mode = ref('simple');
  const editorRef = shallowRef();
  const toolbarConfig = {
    excludeKeys: [
      'header1',
      'header2',
      'header3',
      'codeBlock',
      'fullScreen',
      'insertVideo',
      'todo',
      'through',
      'clearStyle',
      'insertTable',
    ],
    insertKeys: {
      index: 1,
      keys: ['fontSize'],
    },
  };
  const editorConfig: Partial<IEditorConfig> = {
    placeholder: '请输入内容...',
    maxLength: 10000,
    MENU_CONF: {},
  };
  const onMaxLength = function (_editor: IDomEditor) {
    message.error('最多允许输入10000字符!');
  };
  editorConfig.MENU_CONF['uploadImage'] = {
    server: `${state.BASE_URL}performance-eval/n/public/batchadd/file?fileType=171`,
    fieldName: 'file',
    // maxFileSize: 1 * 1024 * 1024, // 1M
    allowedFileTypes: ['image/*'],
    timeout: 5 * 1000, // 5 秒
    onSuccess(file: File, res: any) {
      message.success(`${file.name} 上传成功`, res);
    },
    onFailed(file: File, res: any) {
      message.success(`${file.name} 上传失败`, res);
    },
    onError(file: File, err: any, res: any) {
      message.success(`${file.name} 上传出错`, err, res);
    },
    customInsert(res: any, insertFn: InsertFnType) {
      const downUrl = `${state.BASE_URL}basic/n/get/file?key=`;
      insertFn(downUrl + res.data.fileAddress, res.data.fileName, downUrl + res.data.fileAddress);
    },
  };
  const handleCreated = (editor) => {
    editorRef.value = editor; // 记录 editor 实例，重要！
  };
  /** 富文本编辑器相关配置  结束 **/

  /** 查询详情 */
  const queryDetail = async () => {
    const res = await queryEscalationDetail(attrs.record.reportCode);
    if (res.success) {
      renderModule(res.data);
      state.detailInfo = cloneDeep(res?.data);
      if (!state.detailInfo.comment) state.detailInfo.comment = '';
    } else {
      message.error(res.message);
    }
  };
  //渲染modal
  const renderModule = (record) => {
    const { files: attestationFiles } = record;
    if (attestationFiles && attestationFiles.length > 0) {
      state.fileList = attestationFiles.map((item, index) => {
        return {
          uid: index,
          name: item.fileName,
          status: 'done',
          url: `${state.BASE_URL}basic/n/get/file?key=${item.fileAddress}`,
        };
      });
    }
  };
  const closeModal = () => {
    emits('closeReport');
  };
  /** 保存草稿&提交审核 */
  const saveInfo = async (status) => {
    if (status == '10') state.detailInfo.auditStatus = '10';
    const params = {
      reportCode: attrs.record.reportCode,
      ...state.detailInfo,
    };
    const { data } = await reportPerformance(params);
    if (data.success) {
      message.success(data.message);
      closeModal();
    } else {
      message.error(data.message);
    }
  };
  //查看报表
  const reportModel = ref(null);
  const checkChart = (it) => {
    state.title = it.itemValue;
    reportModel.value.open(it.itemText, attrs.record);
  };

  watch(
    () => props.reportVisible,
    (nV) => {
      state.visible = nV;
      if (nV) queryDetail();
    },
  );
</script>
