<template>
  <div>
    <a-modal
      v-model:visible="orgVisible"
      title="绩效审核"
      :width="860"
      destroy-on-close
      @cancel="closeAudit"
    >
      <a-spin :spinning="spinning">
        <a-descriptions class="descriptions-body" :column="2" :colon="false">
          <a-descriptions-item label="年份：">
            {{ state.detailInfo.evaluateYerPeriod }}
          </a-descriptions-item>
          <a-descriptions-item label="季度：">
            {{ state.detailInfo.evaluateSenPeriodName }}
          </a-descriptions-item>
          <a-descriptions-item label="标题：" :span="3"
            >{{ state.detailInfo.title }}
          </a-descriptions-item>
          <a-descriptions-item label="正文：" :span="3">
            <div v-html="state.detailInfo.comment"></div>
          </a-descriptions-item>
          <a-descriptions-item label="绩效报告：" :span="3">
            <div>
              <span
                v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_REPORTING')"
                :key="index"
                class="link"
              >
                <span
                  v-show="isShow(item.itemText)"
                  class="pr-1x"
                  @click="checkChart(item.itemText)"
                >
                  {{ item.itemValue }}
                </span>
              </span>
            </div>
          </a-descriptions-item>
          <a-descriptions-item label="附件：" :span="3">
            <div v-for="(item, idx) in state.detailInfo.files" :key="idx" class="pr-2x">
              <a
                :href="`${state.BASE_URL}basic/n/get/file?key=${item.fileAddress}`"
                target="_blank"
                >{{ item.fileName }}</a
              >
            </div>
          </a-descriptions-item>
          <a-descriptions-item v-if="attrs.type !== 'checkReport'" label="审批履历：" :span="3">
            <a @click="viewVisible = true">查看审批履历</a>
          </a-descriptions-item>
        </a-descriptions>
      </a-spin>
      <div v-if="attrs.type == 'audit'">
        <a-divider />
      </div>
      <a-form
        v-if="attrs.type == 'audit'"
        :model="state.formState"
        name="basic"
        :label-col="{ span: 2 }"
        :wrapper-col="{ span: 20 }"
        autocomplete="off"
      >
        <a-form-item label="审核备注">
          <a-textarea
            v-model:value="state.formState.auditRemark"
            placeholder="请输入备注"
            :rows="2"
          />
        </a-form-item>
      </a-form>
      <template #footer>
        <div v-if="attrs.type == 'audit'" class="text-c">
          <a-button type="primary" ghost @click="rejectFn">驳回</a-button>
          <a-button type="primary" @click="passFun">通过</a-button>
        </div>
      </template>
    </a-modal>

    <ReportModel ref="reportModel"></ReportModel>
    <!-- 审批履历 -->
    <a-modal
      v-model:visible="viewVisible"
      title="审批履历"
      :width="800"
      destroy-on-close
      :body-style="{ 'min-height': '320px' }"
      :footer="false"
      @cancel="viewVisible = false"
    >
      <div class="custom">
        <a-row class="mb-2x customHead">
          <a-col :span="5"> 上报人员 </a-col>
          <a-col :span="4">状态 </a-col>
          <a-col :span="8"> 批注 </a-col>
          <a-col :span="6" class="text-c"> 操作时间 </a-col>
        </a-row>
        <a-row v-for="(it, idx) in state.auditList" :key="idx" class="mb-2x">
          <a-col :span="5"> {{ it.createName || '-' }} </a-col>
          <a-col :span="4">
            {{ dict.getItemText('EVALE_QUARTER_REPORT_AUDIT_STATUS', it.auditStatus) ?? '-' }}
          </a-col>
          <a-col :span="8"> {{ it.auditRemark || '-' }} </a-col>
          <a-col :span="6" class="text-c">
            {{ dayjs(it.createDate).format('YYYY.MM.DD HH:mm:ss') || '-' }}
          </a-col>
        </a-row>
        <a-empty v-if="isEmpty" :description="null" />
      </div>
    </a-modal>
  </div>
</template>
<script setup lang="ts">
  import { reactive, ref, watch, defineProps, useAttrs } from 'vue';
  import dayjs from 'dayjs';
  import { message } from 'ant-design-vue';
  import {
    queryEscalationDetail,
    rejectReport,
    passReport,
    queryAuditHistory,
  } from '@/api/perAppraisal/apiList';
  import dict from '@/utils/dict.js';
  import ReportModel from '@/views/perAppraisal/perApproval/components/ReportModel.vue';

  defineOptions({
    name: 'UnifyAudit',
  });
  const attrs: any = useAttrs();
  const emits = defineEmits(['closeUnify']);
  const props = defineProps({
    auditVisible: { type: Boolean },
  });
  const state = reactive<any>({
    detailInfo: {},
    BASE_URL: process.env.VUE_APP_BASE_API,
    formState: {
      auditRemark: '',
    },
    auditList: [],
  });
  const spinning = ref<boolean>(false);
  const orgVisible = ref(false);
  const reportModel = ref(null);
  /** 查询详情 */
  const queryDetail = async () => {
    spinning.value = true;
    const res = await queryEscalationDetail(attrs.record.reportCode);
    spinning.value = false;
    if (res.success) {
      state.detailInfo = res.data;
    } else {
      message.error(res.message);
    }
  };
  const isShow = (val) => {
    return state.detailInfo.reportClasses ? state.detailInfo.reportClasses.includes(val) : false;
  };

  const closeAudit = () => {
    emits('closeUnify');
  };
  const passFun = async () => {
    const { data } = await passReport({
      auditRemark: state.formState.auditRemark,
      reportCode: state.detailInfo.reportCode,
    });
    if (data.success) {
      closeAudit();
      message.success(data.message);
    } else {
      message.error(data.message);
    }
  };
  const rejectFn = async () => {
    const { data } = await rejectReport({
      auditRemark: state.formState.auditRemark,
      reportCode: state.detailInfo.reportCode,
    });
    if (data.success) {
      closeAudit();
      message.success(data.message);
    } else {
      message.error(data.message);
    }
  };

  //查看审批履历
  const viewVisible = ref(false);
  const isEmpty = ref(false);
  const queryHistory = async () => {
    const res = await queryAuditHistory(attrs.record.reportCode);
    if (res.success) {
      state.auditList = res?.data || [];
      isEmpty.value = res.data.length == 0 ? true : false;
    } else {
      message.error(res.message);
    }
  };

  //查看报表
  const checkChart = (type) => {
    reportModel.value.open(type, attrs.record);
  };

  watch(
    () => props.auditVisible,
    (nV) => {
      orgVisible.value = nV;
      if (nV) {
        queryDetail();
      } else {
        state.formState.auditRemark = '';
      }
    },
  );
  watch(
    () => viewVisible.value,
    (newVal, _oldVal) => {
      if (newVal) queryHistory();
    },
  );
</script>
<style lang="less" scoped>
  .custom {
    .customHead {
      background: #d0f1ff;
      padding: 6px 0;
    }
    .ant-col {
      padding: 0 4px;
    }
  }
</style>
