<template>
  <div class="GoalOverview">
    <span class="GoalOverview-title">目标总览</span>
  </div>
  <ObjectivesMontage :year-month="props.yearMonth" />
  <div class="GoalOverview">
    <span class="GoalOverview-title">目标月份跟进</span>
  </div>
  <MonthEasyMontage :year-month="props.yearMonth" />
  <div class="GoalOverview">
    <span class="GoalOverview-title">责任单位跟进</span>
  </div>
  <MonthMontage
    ref="MonthMon"
    :year-month="state.yearMonth"
    :prodname="state.prodname"
    :table-title="state.tableTitle"
  />
</template>

<script setup lang="ts">
  import { nextTick, onMounted, reactive, ref, watch } from 'vue';
  import MonthMontage from '../shopping/components/MonthMontage.vue';
  import ObjectivesMontage from './components/ObjectivesMontage.vue';
  import MonthEasyMontage from './components/MonthEasyMontage.vue';

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
    },
  );

  const MonthMon = ref();
  const state = reactive({
    yearMonth: props.yearMonth,
    prodname: '零碳',
    tableTitle: '零碳指标责任单位跟进',
  });

  onMounted(() => {
    nextTick(() => {
      MonthMon.value.InitialCall();
    });
  });
</script>

<style lang="less" scoped>
  .GoalOverview {
    width: 100%;
    margin-bottom: 10px;
    background: #fff2c9;
    .GoalOverview-title {
      font-family: @font-family;
      font-size: 30px;
      font-weight: bold;
      color: #3d3d3d;
    }
  }
</style>
