<template>
  <div>
    <!-- :on-save="handleSave"
      :on-cancel="handleCancelSave" -->
    <div class="search-box">
      <div>
        <a-input
          v-model:value="tableData.columnCname"
          placeholder="字段中文名查询"
          style="width: 270px; margin-right: 20px"
          allow-clear
        >
        </a-input>
        <a-button type="primary" @click="onNameChange">查询</a-button>
      </div>
      <div>
        <a-button type="primary" @click="onLoad">刷新</a-button>
      </div>
    </div>

    <DynamicTable
      size="small"
      bordered
      :data-source="tableData.data"
      :columns="tableColumns"
      editable-type="multiple"
      style="width: 100%"
      :scroll="{ y: 300 }"
    >
    </DynamicTable>
  </div>
</template>

<script lang="ts" setup>
  import { reactive, computed, watch } from 'vue';
  import { omit } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import { columns } from './columns';
  // import type { OnSave, OnCancel } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  // import { waitTime } from '@/utils/common';
  import { getDictNameMap } from '@/api/common';
  import {
    getDataSetTable,
    getDatasetItemList,
    getTablecolumns,
  } from '@/api/dataAdministration/dataset';
  import dict from '@/utils/dict';
  // const handleCancelSave: OnCancel = (rowKey, record, originRow) => {
  //   console.log('handleCancelSave', rowKey, record, originRow);
  // };

  // const handleSave: OnSave = async (rowKey, record, originRow) => {
  //   console.log('handleSave', rowKey, record, originRow);
  //   await waitTime(2000);
  // };

  defineOptions({
    name: 'TableRowEditor',
    inheritAttrs: false,
  });

  const props = defineProps({
    data: {
      type: Array,
      default: () => {
        return [];
      },
    },
    record: {
      type: Object,
      default: () => {
        return {};
      },
    },
    typeFild: {
      type: String,
      default: () => {
        return 'fieldType';
      },
    },
  });

  const [DynamicTable] = useTable({
    search: false,
    pagination: false,
    showToolBar: false,
    size: 'small',
    rowKey: 'columnName',
    bordered: true,
  });

  const tableData = reactive({ data: [], columnCname: '' });

  watch(
    () => props.data,
    () => {
      tableData.data = props.data;
    },
    { immediate: true, deep: true },
  );
  watch(
    () => props.typeFild,
    (v) => {
      if (v == 'HudiDataType') {
        columns[2].editFormItemProps.componentProps = ({}) => ({
          options: dict.getKeyValueByDictCode('HudiDataType'),
        });
      } else {
        columns[2].editFormItemProps.componentProps = ({}) => ({
          options: dict.getKeyValueByDictCode('fieldType'),
        });
      }
    },
    { immediate: true, deep: true },
  );
  let dictMap = [];

  getDictNameMap().then((r) => {
    dictMap = r.data.map((item) => {
      return {
        label: item.dictName,
        value: item.id,
      };
    });
  });

  columns[3].editFormItemProps.componentProps = ({}) => ({
    options: dictMap,
  });

  columns[3].customRender = () => {};

  // 设置click 事件
  columns[3].customRender = ({ record }) => {
    const index = dictMap.findIndex((item) => {
      return item.value == record.dictId;
    });

    if (index != -1) {
      return dictMap[index].label;
    } else {
      return record.dictId;
    }
  };

  const tableColumns = computed<typeof columns>(() => [
    ...columns,
    {
      title: '操作',
      align: 'center',
      width: 100,
      dataIndex: 'ACTION',
      actions: ({ record }, action) => {
        const { startEditable, cancelEditable, isEditable, getEditFormModel, validateRow } = action;
        return isEditable(record.columnName)
          ? [
              {
                label: '保存',
                onClick: async () => {
                  const result = await validateRow(record.columnName);

                  message.loading({ content: '保存中...', key: record.columnName });

                  console.log('result', result);
                  console.log('保存', getEditFormModel(record.columnName));

                  //  这个怎么保存呢？
                  const rowIndex = tableData.data.findIndex(
                    (item) => item.columnName == record.columnName,
                  );
                  if (rowIndex != -1) {
                    tableData.data[rowIndex] = {
                      ...getEditFormModel(record.columnName),
                    };
                  }

                  cancelEditable(record.columnName);
                  message.success({ content: '保存成功!', key: record.columnName, duration: 2 });
                },
              },
              {
                label: '取消',
                onClick: () => {
                  cancelEditable(record.columnName);
                },
              },
            ]
          : [
              {
                label: '编辑',
                onClick: () => {
                  startEditable(record.columnName, record);
                },
              },
            ];
      },
    },
  ]);

  const getValues = () => {
    const values = tableData.data.map((item) => {
      const newItem = omit(item, ['isPrikey', 'dictId']);
      newItem.isPrikey = item.isPrikey === true ? 1 : 0;
      if (item.dictId) {
        const index = dictMap.findIndex((t) => {
          return t.value == item.dictId;
        });

        if (index != -1) {
          newItem.dictId = dictMap[index].value;
          newItem.dictName = dictMap[index].label;
        }
      }

      return newItem;
    });

    return values;
  };
  // 刷新
  const onLoad = async () => {
    let params = {};
    let r = {};
    if (props.typeFild == 'HudiDataType') {
      params = {
        tableName: props.record.tableName,
        tableId: props.record.id,
        tableScheme: props.record.tableScheme,
      };
      r = await getTablecolumns(params);
    } else {
      params = {
        tableName: props.record.tableName,
        tableId: props.record.id,
      };
      r = await getDataSetTable(params);
    }
    if (r.data && r.success) {
      tableData.data = [];
      const data = r.data.map((item, index) => {
        return {
          columnCname: item.fieldDesc,
          columnName: item.fieldEname,
          sort: item.fieldSort ? parseInt(item.fieldSort) : 0,
          type: item.fieldType,
          isPrikey: item.isPk !== '0',
          isAdd: item.isAdd,
          dictCode: item.dictCode,
          dictId: item.dictId,
          id: item.id,
        };
      });
      tableData.data = data;
      sessionStorage.setItem('allVoList', JSON.stringify(data));
    }
  };
  const onNameChange = () => {
    //从本地比较数据查询
    tableData.data = [];
    const list = JSON.parse(sessionStorage.getItem('allVoList'));

    list &&
      list.forEach((item) => {
        if (item.columnCname.includes(tableData.columnCname)) {
          tableData.data.push(item);
        }
      });
    // getDatasetItemList(props.record.id, tableData.columnCname).then((r) => {
    //   if (r.code == 'OK') {
    //     tableData.data = r.data.columnsList != null ? r.data.columnsList : [];
    //     console.log('tableData.data', tableData.data);
    //   }
    // });
  };
  defineExpose({
    getValues,
  });
</script>

<style lang="less" scoped>
  .search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
</style>
