<template>
  <div class="range-input ant-input">
    <template v-if="inputType == 'number'">
      <InputNumber
        v-model:value="state.value[0]"
        placeholder="开始"
        :disabled="disabled"
        :size="size"
        @change="onChange"
      />
      ~
      <InputNumber
        v-model:value="state.value[1]"
        placeholder="结束"
        :disabled="disabled"
        :size="size"
        @change="onChange"
      />
    </template>
    <template v-else>
      <Input
        v-model:value="state.value[0]"
        placeholder="开始"
        :disabled="disabled"
        :size="size"
        @change="onChange"
      />
      ~
      <Input
        v-model:value="state.value[1]"
        placeholder="结束"
        :disabled="disabled"
        :size="size"
        @change="onChange"
      />
    </template>
  </div>
</template>

<script setup lang="tsx">
  /**
   * 范围输入框 []
   * 输入框类型 text 、 number
   * size 大小， 延用a-input size
   * defaultValue 默认值回显
   * disabled 启用/禁用
   */
  import { reactive, onBeforeMount } from 'vue';
  import { Input, InputNumber } from 'ant-design-vue';
  defineOptions({
    name: 'RangeInput',
  });
  const props = defineProps({
    inputType: {
      type: String,
      default: 'text', // text 、 number
    },
    size: String,
    defaultValue: Array,
    disabled: Boolean,
  });

  const emit = defineEmits(['change']);

  const state = reactive({
    value: [],
  });

  onBeforeMount(() => {
    init();
  });
  const init = () => {
    console.log('this.defaultValue', props.defaultValue);
    const defaultValue = props.defaultValue;
    if (defaultValue && defaultValue.length > 0) {
      state.value[0] = defaultValue[0];
      state.value[1] = defaultValue[1];
    } else {
      state.value[0] = '';
      state.value[1] = '';
    }
  };
  const onChange = () => {
    emit('change', state.value);
  };
</script>

<style scoped lang="less">
  .range-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /deep/.ant-input,
    /deep/.ant-input-number,
    /deep/.ant-input-number-input {
      height: unset;
      border: unset;
    }
    /deep/.ant-input {
      padding: 0 15px;
    }
  }
</style>
