<template>
  <Layout.Footer class="page_footer">
    <div class="copyright">
      Copyright
      <copyright-circle-outlined />
      <span v-html="copyright"></span>
    </div>
  </Layout.Footer>
  <div></div>
</template>

<script lang="tsx" setup>
  import { ref } from 'vue';
  import { Layout } from 'ant-design-vue';
  import { configuration } from '@/locales/config';
  const copyright = ref(configuration.copyright);
</script>

<style lang="less" scoped>
  .page_footer {
    height: 46px;

    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: rgba(0, 0, 0, 0.45);
    }

    .copyright {
      color: rgba(0, 0, 0, 0.45);
    }
  }
</style>
