<template>
  <div class="editorDom">
    <Tooltip>
      <template #title>设置指标卡</template>
      <setting-outlined @click="openEmit" />
    </Tooltip>
    <DraggableModal v-model:visible="state.visible" :width="800" title="图表预览" @ok="onOk">
      <div class="select-fields-section">
        <div class="select-fields">
          <span> 选择字段：</span>
          <Select
            v-model:value="state.selectFields"
            :allow-clear="true"
            show-search
            style="width: 150px"
            :options="tempFields"
            :field-names="{ label: 'sourceName', value: 'key' }"
            @select="handleSelect"
          >
          </Select>
        </div>
        <div class="tips">
          <info-circle-outlined />
          <span v-text="`{{}}包含的信息属于映射内容，修改可能会引起错误，请保持完整！`"></span>
        </div>
      </div>
      <div class="editor">
        <Toolbar
          style="border-bottom: 1px solid #ccc"
          :editor="editorRef"
          :default-config="toolbarConfig"
        />
        <Editor
          v-model="valueHtml"
          style="height: 70%"
          :default-config="editorConfig"
          @onCreated="handleCreated"
          @onChange="handleChange"
        />
      </div>
    </DraggableModal>
  </div>
</template>

<script setup lang="ts">
  import '@wangeditor/editor/dist/css/style.css'; // 引入 css
  import { onBeforeUnmount, ref, shallowRef, reactive, onMounted } from 'vue';
  import { Editor, Toolbar } from '@wangeditor/editor-for-vue';
  import { IDomEditor } from '@wangeditor/editor';
  import { Tooltip, Select } from 'ant-design-vue';
  import TestAction from '../action/TestAction';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  import Pubs from '@/utils/pubs.js';
  const store = chartConfigurations();
  const state = reactive({ visible: false, selectFields: '' });
  const tempFields = ref([]);

  const toolbarConfig = reactive<any>({
    toolbarKeys: [
      'bold', // 加粗
      'underline', // 下划线
      'italic', // 斜体
      'color', // 文字颜色
      'bgColor', // 背景色
      'fontSize', // 字号
      'fontFamily', // 字体
      'lineHeight', // 行高
      'bulletedList', // 无序列表
      'numberedList', // 有序列表
      'todo', // 代办
      'emotion', // 表情
      'insertLink', // 插入链接
      'insertTable', // 插入表格
      'codeBlock', // 代码块
      'divider', // 分割线
      'undo', // 撤销
      'redo', // 重做
      'justifyCenter', // 居中对齐
      'justifyJustify', // 两端对齐
      'justifyLeft', // 左对齐
      'justifyRight', // 右对齐
    ],
  });
  const editorConfig = reactive<any>({
    placeholder: '请输入内容...',
  });

  // 编辑器实例，必须用 shallowRef
  const editorRef = shallowRef<IDomEditor | undefined>();
  // 内容 HTML
  const valueHtml = ref('');
  const htmlList = [] as any;
  const initConfig = () => {
    valueHtml.value = store?.chartData?.data?.dataConfig?.option?.editorConfig?.valueHtml ?? '';
    const list = [] as any;
    store.insertContent.forEach((item, index) => {
      if (index != 2) {
        item.value.forEach((v) => {
          htmlList.push(v);
          list.push(v);
        });
      }
    });
    tempFields.value = list;
  };
  onMounted(() => {
    initConfig();
    Pubs.subscribe('clearDataSource', () => {
      state.selectFields = '';
    });
  });

  // 组件销毁时，也及时销毁编辑器
  onBeforeUnmount(() => {
    const editor = editorRef.value;
    if (editor == null) return;
    editor.destroy();
    Pubs.unsubscribe('clearDataSource');
  });

  const handleCreated = (editor) => {
    editorRef.value = editor; // 记录 editor 实例，重要！
  };
  const handleSelect = (value, option) => {
    const editor = editorRef.value;
    if (editor == null) return;
    editor.focus();
    editor.insertText(`{{${option.sourceName}}}`);
    editor.insertText(' ');
  };

  const onOk = () => {
    // console.log(editorRef.value.getHtml());
    store.editorConfig = {
      valueHtml: valueHtml.value,
      htmlList,
    };
    state.visible = false;
    TestAction();
  };
  const openEmit = () => {
    state.visible = true;
    initConfig();
  };
  const handleChange = (editor) => {
    const getSelectionText = editor.getSelectionText();
    if (getSelectionText.indexOf('$(') !== -1 || getSelectionText.indexOf(')') !== -1) {
      // editor.deselect();
      // const newSelection = {
      //   anchor: { path: [1, 0], offset: 8 },
      //   focus: { path: [1, 0], offset: 10 },
      // };
      // editor.select(newSelection);
    }
  };
</script>

<style lang="less" scoped>
  .editorDom {
    position: absolute;
    top: 4px;
    right: 5px;
    z-index: 1;
  }
  .editor {
    display: flex;
    flex-direction: column;
    height: 450px;
  }
  .select-fields-section {
    display: flex;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px 15px;
  }
  .select-fields {
    display: flex;
    align-items: center;
  }
  .tips {
    color: red;
    display: flex;
    font-size: 14px;
    margin-left: auto;
    align-items: center;

    .anticon {
      margin-right: 8px;
    }
  }
  /deep/ .w-e-panel-my-list {
    text-align: left;
  }

  /deep/ .w-e-panel-my-list li {
    //display: inline;
    cursor: pointer;
    padding: 3px 5px;
  }

  /deep/ .w-e-panel-my-list li:hover {
    background-color: #f1f1f1;
  }
</style>
