<template>
  <div class="GoalOverview">
    <div class="GoalOverview-title"><span>目标总览</span></div>
    <LibraryTarget :year-month="state.yearMonth" />
    <div class="SalesDepartment-warp">
      <div class="SalesDepartment-title">目标跟进</div>
      <TrendGkmbYk :year-month="state.yearMonth" />
      <TrendYk :year-month="state.yearMonth" />
    </div>
    <div class="SalesDepartment-warp">
      <div class="SalesDepartment-title">责任单位跟进</div>
      <MonthMontage
        ref="MonthMon"
        :year-month="state.yearMonth"
        :prodname="state.prodname"
        :table-title="state.tableTitle"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, ref, nextTick, onMounted } from 'vue';
  import MonthMontage from '../shopping/components/MonthMontage.vue';
  import TrendGkmbYk from '../goaloverview/components/TrendGkmbYk.vue';
  import TrendYk from '../goaloverview/components/TrendJymbYk.vue';
  import LibraryTarget from './componeents/LibraryTarget.vue';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
    },
  );

  const state = reactive({
    yearMonth: '',
    prodname: '云库',
    tableTitle: '责任单位跟进表格',
  });
  const MonthMon = ref();
  onMounted(() => {
    nextTick(() => {
      MonthMon.value.InitialCall();
    });
  });
</script>

<style lang="less" scoped>
  .GoalOverview {
    width: 100%;
    margin-top: -35px;
    .GoalOverview-title {
      font-family: Source Han Sans CN;
      font-size: 30px;
      font-weight: bold;
      color: #3d3d3d;
      height: 58px;
      margin: 50px 0px 15px 0px;
      background: #fff2c9;
      span {
        display: inline-block;
        margin-top: 5px;
      }
    }
    .SalesDepartment-warp {
      .SalesDepartment-title {
        background: #fff2c9;
        font-family: Source Han Sans CN;
        font-size: 30px;
        font-weight: bold;
        color: #3d3d3d;
        margin-bottom: 10px;
      }
    }
  }
</style>
