<template>
  <div class="main ph-2x">
    <vxe-grid v-bind="gridOptions" show-overflow :auto-height="true">
      <template #toolbar_tools>
        <a-button type="primary" class="mr-1x" @click="downloadList">下载</a-button>
      </template>
      <template #isSure="{ row }">
        <div v-if="row.determineFlag == 0">
          <a-button type="primary" :loading="state.bloading" @click="toConfirm(row)">确认</a-button>
        </div>
        <div v-else>{{ dict.getValue('DETERMINE_FLAG', row.determineFlag).itemText }}</div>
      </template>
    </vxe-grid>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive } from 'vue';
  import { VxeGridProps } from 'vxe-table';
  import { useRoute } from 'vue-router';
  import { message } from 'ant-design-vue';
  import { queryBonusApi, emailDownloadsApi, confirmApi } from '@/api/perAppraisal/apiList';
  import dict from '@/utils/dict.js';

  defineOptions({
    name: 'AnalysisModule',
  });

  const state = reactive({
    bloading: false,
  });
  const route = useRoute();
  const { orgEvalCode, quarter } = route.query;

  const gridOptions = reactive<VxeGridProps<RowVO>>({
    size: 'small',
    border: true,
    height: '100%',
    align: 'center',
    toolbarConfig: {
      zoom: true,
      custom: true,
      refresh: {
        queryMethod: () => {
          queryBonusList();
        },
      },
      slots: {
        tools: 'toolbar_tools',
      },
    },
    columnConfig: {
      resizable: true,
    },
    columns: [{ type: 'seq', width: 70, title: '序号', fixed: 'left' }],
    data: [],
  });

  const queryBonusList = async () => {
    gridOptions.columns.length = 1;
    gridOptions.loading = true;
    const params = {
      orgEvalCode,
      quarter,
      authDeptCode: true,
    };
    const res = await queryBonusApi(params);
    gridOptions.loading = false;
    if (res.success) {
      convertHeads(res.data.aggrHeads);
      gridOptions.data = res.data.values;
    } else {
      message.error(res.message);
    }
  };

  const convertHeads = (heads, _type) => {
    const targetArr = ['perfGName', 'superinDeptName', 'quarterBonusAllocationAmt'];
    const headsList = heads.map((item) => {
      if (targetArr.includes(item.field)) {
        return {
          ...item,
          fixed: 'left',
          width: '150',
        };
      } else if (item.field == 'determineFlag') {
        return {
          ...item,
          fixed: 'left',
          width: '150',
          slots: {
            // 使用渲染函数
            default: 'isSure',
          },
        };
      } else {
        return { ...item, width: '150' };
      }
    });
    gridOptions.columns.push(...headsList);
  };

  const downloadList = () => {
    const params = {
      orgEvalCode,
      quarter,
      authDeptCode: true,
    };
    emailDownloadsApi(params, '重点工作奖金分配');
  };

  const toConfirm = async (row) => {
    state.bloading = true;
    const params = {
      approvalCodes: [row.approvalCode],
    };
    const { data } = await confirmApi(params);
    state.bloading = false;
    if (data.success) {
      message.success(data.message);
      queryBonusList();
    } else {
      message.error(data.message);
    }
  };

  onMounted(() => {
    queryBonusList();
  });
</script>
<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;
  }
</style>
