<template>
  <div class="stylewidth">
    <a-row>
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <ul>
            <li
              v-for="item in indexNav"
              :key="item.name"
              class="home_navigation"
              style="width: 180px"
              :class="[{ activeTab: active === item.name }]"
              @click="getActive(item.name)"
            >
              <span>{{ item.name }}</span>
            </li>
          </ul>
        </div>
      </a-col>
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title">管控目标</p>
          <MergeTable
            :has-header="false"
            :column-list="columns"
            :column-groups="BMgkmb01.columnGroups"
            :data-list="BMgkmb01.dataSource"
            :formatter="TableStyle.formatter"
            :scroll="{ y: 520, x: 2500 }"
          >
          </MergeTable>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, ref, watch } from 'vue';
  import { MergeTable } from './components';
  import type { TableColumnType } from 'ant-design-vue';
  import { queryAggregate } from '@/api/strategyTracking';
  import Transformer from '@/views/obeicockpit/obeimodulefile/components/transformer';
  import TableStyle from '@/views/obeicockpit/obeimodulefile/components/tableStyle';

  defineOptions({
    name: 'ObeiDepartments01',
    inheritAttrs: false,
  });

  const props = defineProps({
    conditionalmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.conditionalmonth,
    (c) => {
      yearMonth.value = c;
      BMgkmb01dataSource();
    },
  );

  // 表联动
  const yearMonth = ref('');
  const active = ref('会员商务服务');
  const indexNav = reactive([
    { name: '会员商务服务', active: true },
    { name: '易购', active: false },
    { name: '商城', active: false },
    { name: '云库', active: false },
    { name: '零碳', active: false },
    { name: '易销', active: false },
  ]);
  const getActive = (data) => {
    active.value = data;
    for (let i = 0; i < indexNav.length; i++) {
      indexNav[i].active = false;
      if (data === indexNav[i].name) {
        indexNav[i].active = true;
      }
    }
    BMgkmb01dataSource();
  };

  type TableDataType = {
    key: string;
    name: string;
    age: number;
    address: string;
  };
  const columns: TableColumnType<TableDataType>[] = [
    { title: '目标类别', dataIndex: 'TARGET_CAT', key: 'TARGET_CAT', fixed: true, width: 100 },
    {
      title: '目标项目',
      dataIndex: 'PROD_TARGET_PROJ',
      key: 'PROD_TARGET_PROJ',
      width: '8%',
      fixed: true,
    },
    {
      title: '部门',
      dataIndex: 'DEPT_NAME',
      key: 'DEPT_NAME',
      fixed: true,
      width: '7%',
      filters: [
        { text: '平台运营中心', value: '平台运营中心' },
        { text: '润益科技', value: '润益科技' },
        { text: '欧冶采购', value: '欧冶采购' },
        { text: '销售一部', value: '销售一部' },
        { text: '销售二部', value: '销售二部' },
        { text: '销售支持部', value: '销售支持部' },
        { text: '资材品类中心', value: '资材品类中心' },
        { text: '设备品类中心', value: '设备品类中心' },
        { text: '备件品类中心', value: '备件品类中心' },
        { text: '华南平台产品销售部', value: '华南平台产品销售部' },
        { text: '华中平台产品销售部', value: '华中平台产品销售部' },
        { text: '华东平台产品销售部', value: '华东平台产品销售部' },
        { text: '西南平台产品销售部', value: '西南平台产品销售部' },
        { text: '西北平台产品销售部', value: '西北平台产品销售部' },
        { text: '东北平台产品销售部', value: '东北平台产品销售部' },
        { text: '华北平台产品销售部', value: '华北平台产品销售部' },
        { text: '市场营销部', value: '市场营销部' },
      ],
      onFilter: (value: string, record: TableDataType) => record.DEPT_NAME.indexOf(value) === 0,
    },
    { title: '单位', dataIndex: 'UNIT', key: 'UNIT', fixed: true },
    {
      title: '上年实绩',
      dataIndex: 'LASTYEAR_ANNUAL_PV',
      key: 'LASTYEAR_ANNUAL_PV',
      formatter: 'rate2',
    },
    {
      title: '目标',
      dataIndex: 'CURYEAR_ANNUAL_TARGET_VALUE',
      key: 'CURYEAR_ANNUAL_TARGET_VALUE',
      formatter: 'rate2',
    },
    {
      title: '挑战目标',
      dataIndex: 'CURYEAR_ANNUAL_CHALLENGE_TARGET_VALUE',
      key: 'CURYEAR_ANNUAL_CHALLENGE_TARGET_VALUE',
      formatter: 'rate2',
    },
    { title: '上月实绩', dataIndex: 'LASTMONTH_PRFM', key: 'LASTMONTH_PRFM', formatter: 'rate2' },
    { title: '实绩', dataIndex: 'CURMONTH_PRFM', key: 'CURMONTH_PRFM', formatter: 'rate2' },
    {
      title: '预案目标',
      dataIndex: 'CURMONTH_PLAN_TARGET',
      key: 'CURMONTH_PLAN_TARGET',
      formatter: 'rate2',
    },
    {
      title: '实际目标',
      dataIndex: 'CURMONTH_ACT_TARGET',
      key: 'CURMONTH_ACT_TARGET',
      formatter: 'rate2',
    },
    {
      title: '完成率',
      dataIndex: 'CURMONTH_CPLTRATE',
      key: 'CURMONTH_CPLTRATE',
      formatter: 'rate1',
    },
    { title: '缺口', dataIndex: 'CURMONTH_GAP', key: 'CURMONTH_GAP', formatter: 'rate2' },
    {
      title: '月度增长率',
      dataIndex: 'MONTHLY_GROWTH_RATE',
      key: 'MONTHLY_GROWTH_RATE',
      formatter: 'rate1',
    },
    { title: '实绩', dataIndex: 'CURYEAR_PRFM', key: 'CURYEAR_PRFM', formatter: 'rate2' },
    { title: '目标', dataIndex: 'CURYEAR_TARGET', key: 'CURYEAR_TARGET', formatter: 'rate2' },
    {
      title: '完成率',
      dataIndex: 'CURYEAR_CPLTRATE',
      key: 'CURYEAR_CPLTRATE',
      formatter: 'rate1',
    },
    { title: '缺口', dataIndex: 'CURYEAR_GAP', key: 'CURYEAR_GAP', formatter: 'rate2' },
    {
      title: '下月目标',
      dataIndex: 'NEXT_MONTH_TARGET',
      key: 'NEXT_MONTH_TARGET',
      formatter: 'rate2',
    },
    {
      title: '年度完成率',
      dataIndex: 'ANNUAL_FINISH_RATE',
      key: 'ANNUAL_FINISH_RATE',
      formatter: 'rate1',
    },
    { title: '归口部门', dataIndex: 'BELONG_DEPT', key: 'BELONG_DEPT', width: 120 },
  ];
  const BMgkmb01 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '本年',
        children: ['CURYEAR_ANNUAL_TARGET_VALUE', 'CURYEAR_ANNUAL_CHALLENGE_TARGET_VALUE'],
      },
      {
        title: '本月',
        children: [
          'CURMONTH_PRFM',
          'CURMONTH_PLAN_TARGET',
          'CURMONTH_ACT_TARGET',
          'CURMONTH_CPLTRATE',
          'CURMONTH_GAP',
        ],
      },
      {
        title: '本年累计',
        children: [
          'CURYEAR_PRFM',
          'CURYEAR_TARGET',
          'CURYEAR_CPLTRATE',
          'CURYEAR_GAP',
          'NEXT_MONTH_TARGET',
        ],
      },
    ],
  });
  const BMgkmb01dataSource = () => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [yearMonth.value],
          widgetId: 2023032916395782,
        },
        {
          filterField: 'PROD_NAME',
          filterValues: [active.value],
          widgetId: 2023032916395782,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      BMgkmb01.dataSource = Transformer.toTableData(result.data, 2023032916395782);
    });
  };
</script>

<style lang="less" scoped>
  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
  .titlelineheight {
    line-height: 90px;
    margin-bottom: 10px;
  }

  .titlefont {
    text-align: center;
    font-family: @font-family;
    color: @heading-color;
  }

  .titlefontpicturesettings {
    width: 100%;
    height: 100%;
  }

  .titleposition {
    z-index: 2;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
  }

  ul {
    display: table;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 0px;
    height: 65px;
  }

  .home_navigation {
    float: left;
    width: 11%;
    text-align: center;
    line-height: 60px;
    font-family: @font-family;
    font-size: 24px;
    color: @heading-color;
    font-weight: bold;
  }

  .activeTab {
    color: #36a6fe;
    border-bottom: 3px solid #36a6fe;
  }
</style>
