<template>
  <div class="stylewidth">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <ul>
            <li
              v-for="item in indexNav"
              :key="item.name"
              class="home_navigation"
              style="width: 180px"
              :class="[{ activeTab: active === item.name }]"
              @click="getActive(item.name)"
            >
              <span>{{ item.name }}</span>
            </li>
          </ul>
        </div>
      </a-col>
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title">{{ active }}</p>
          <MergeTable
            :has-header="false"
            :column-list="gkmbGMV02.columns"
            :column-groups="gkmbGMV02.columnGroups"
            :data-list="gkmbGMV02.dataSource"
            :formatter="TableStyle.formatter"
            :filter="filterData"
            :scroll="{ y: 520, x: 2500 }"
          />
        </div>
      </a-col>
      <a-col v-if="false" :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title">管控目标：GMV</p>
          <a-table
            :columns="gkmbGMV01.columns"
            :data-source="gkmbGMV01.dataSource"
            size="middle"
            :scroll="{ y: 440 }"
            :pagination="false"
            bordered
          />
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, ref, watch } from 'vue';
  import { queryAggregate } from '@/api/strategyTracking';
  import { MergeTable } from '@/components/business';
  import Transformer from '@/views/obeicockpit/obeimodulefile/components/transformer';
  import TableStyle from '@/views/obeicockpit/obeimodulefile/components/tableStyle';

  defineOptions({
    name: 'ObeiOverview01',
    inheritAttrs: false,
  });
  const props = defineProps({
    conditionalmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.conditionalmonth,
    (c) => {
      yearMonth.value = c;
      gkmbGMV02dataSource();
    },
  );

  // 表联动
  const yearMonth = ref('');
  const filterData = ref({ area: '经营目标' });
  const active = ref('经营目标');
  const indexNav = reactive([
    { name: '经营目标', active: true },
    { name: '运营目标', active: false },
    { name: '管控目标', active: false },
  ]);
  const getActive = (data) => {
    active.value = data;
    for (let i = 0; i < indexNav.length; i++) {
      indexNav[i].active = false;
      if (data === indexNav[i].name) {
        indexNav[i].active = true;
      }
    }
    filterData.value.area = data;
    gkmbGMV02dataSource();
  };

  const gkmbGMV01 = reactive({
    dataSource: [],
    columns: [
      { title: '类型', dataIndex: 'AREA_NAME', key: 'AREA_NAME' },
      { title: '采购方', dataIndex: 'AREA_NAME', key: 'AREA_NAME' },
      { title: '上月(亿)', dataIndex: 'AREA_NAME', key: 'AREA_NAME' },
      { title: '本月(亿)', dataIndex: 'AREA_NAME', key: 'AREA_NAME' },
      { title: '环比增长', dataIndex: 'AREA_NAME', key: 'AREA_NAME' },
      { title: '同比增长(21-11VS20-11)', dataIndex: 'AREA_NAME', key: 'AREA_NAME' },
      { title: '本年(亿)', dataIndex: 'AREA_NAME', key: 'AREA_NAME' },
      { title: '同比增长', dataIndex: 'AREA_NAME', key: 'AREA_NAME' },
      { title: '占比', dataIndex: 'AREA_NAME', key: 'AREA_NAME' },
    ],
  });

  const gkmbGMV02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '本年',
        children: ['CURYEAR_ANNUAL_TARGET_VALUE', 'CURYEAR_ANNUAL_CHALLENGE_TARGET_VALUE'],
      },
      {
        title: '本月',
        children: [
          'CURMONTH_PRFM',
          'CURMONTH_PLAN_TARGET',
          'CURMONTH_ACT_TARGET',
          'CURMONTH_CPLTRATE',
          'CURMONTH_GAP',
        ],
      },
      {
        title: '本年累计',
        children: [
          'CURYEAR_PRFM',
          'CURYEAR_TARGET',
          'CURYEAR_CPLTRATE',
          'CURYEAR_GAP',
          'NEXT_MONTH_TARGET',
        ],
      },
    ],
    columns: [
      {
        title: '产品',
        dataIndex: 'PROD_NAME',
        key: 'PROD_NAME',
        fixed: true,
      },
      {
        title: '目标项目',
        dataIndex: 'PROD_TARGET_PROJ',
        key: 'PROD_TARGET_PROJ',
        fixed: true,
        width: '8%',
      },
      { title: '单位', dataIndex: 'UNIT', key: 'UNIT', fixed: true },
      {
        title: '上年实绩',
        dataIndex: 'LASTYEAR_ANNUAL_PV',
        key: 'LASTYEAR_ANNUAL_PV',
        formatter: 'rate2',
      },
      {
        title: '目标',
        dataIndex: 'CURYEAR_ANNUAL_TARGET_VALUE',
        key: 'CURYEAR_ANNUAL_TARGET_VALUE',
        formatter: 'rate2',
      },
      {
        title: '挑战目标',
        dataIndex: 'CURYEAR_ANNUAL_CHALLENGE_TARGET_VALUE',
        key: 'CURYEAR_ANNUAL_CHALLENGE_TARGET_VALUE',
        formatter: 'rate2',
      },
      { title: '上月实绩', dataIndex: 'LASTMONTH_PRFM', key: 'LASTMONTH_PRFM', formatter: 'rate2' },
      { title: '实绩', dataIndex: 'CURMONTH_PRFM', key: 'CURMONTH_PRFM', formatter: 'rate2' },
      {
        title: '预案目标',
        dataIndex: 'CURMONTH_PLAN_TARGET',
        key: 'CURMONTH_PLAN_TARGET',
        formatter: 'rate2',
      },
      {
        title: '实际目标',
        dataIndex: 'CURMONTH_ACT_TARGET',
        key: 'CURMONTH_ACT_TARGET',
        formatter: 'rate2',
      },
      {
        title: '完成率',
        dataIndex: 'CURMONTH_CPLTRATE',
        key: 'CURMONTH_CPLTRATE',
        formatter: 'rate1',
      },
      { title: '缺口', dataIndex: 'CURMONTH_GAP', key: 'CURMONTH_GAP', formatter: 'rate2' },
      {
        title: '月度增长率',
        dataIndex: 'MONTHLY_GROWTH_RATE',
        key: 'MONTHLY_GROWTH_RATE',
        formatter: 'rate1',
      },
      { title: '实绩', dataIndex: 'CURYEAR_PRFM', key: 'CURYEAR_PRFM', formatter: 'rate2' },
      { title: '目标', dataIndex: 'CURYEAR_TARGET', key: 'CURYEAR_TARGET', formatter: 'rate2' },
      {
        title: '完成率',
        dataIndex: 'CURYEAR_CPLTRATE',
        key: 'CURYEAR_CPLTRATE',
        formatter: 'rate1',
      },
      { title: '缺口', dataIndex: 'CURYEAR_GAP', key: 'CURYEAR_GAP', formatter: 'rate2' },
      {
        title: '下月目标',
        dataIndex: 'NEXT_MONTH_TARGET',
        key: 'NEXT_MONTH_TARGET',
        formatter: 'rate2',
      },
      {
        title: '年度完成率',
        dataIndex: 'ANNUAL_FINISH_RATE',
        key: 'ANNUAL_FINISH_RATE',
        formatter: 'rate1',
      },
      { title: '归口部门', dataIndex: 'BELONG_DEPT', key: 'BELONG_DEPT' },
    ],
  });
  const gkmbGMV02dataSource = () => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [yearMonth.value],
          widgetId: 2023032316395782,
        },
        {
          filterField: 'TARGET_CAT',
          filterValues: [active.value],
          widgetId: 2023032316395782,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      gkmbGMV02.dataSource = Transformer.toTableData(result.data, 2023032316395782);
    });
  };
</script>

<style lang="less" scoped>
  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
  .titlelineheight {
    line-height: 90px;
    margin-bottom: 10px;
  }

  .titlefont {
    text-align: center;
    font-family: @font-family;
    color: @heading-color;
  }

  .titlefontpicturesettings {
    width: 100%;
    height: 100%;
  }

  .titleposition {
    z-index: 2;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
  }

  ul {
    display: table;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 0px;
    height: 65px;
  }

  .home_navigation {
    float: left;
    width: 11%;
    text-align: center;
    line-height: 60px;
    font-family: @font-family;
    font-size: 24px;
    color: @heading-color;
    font-weight: bold;
  }

  .activeTab {
    color: #36a6fe;
    border-bottom: 3px solid #36a6fe;
  }
</style>
