<template>
  <div class="page-container">
    <div class="header">
      <div>
        <a-form
          :model="formState"
          name="basic"
          :label-col="{ span: 10 }"
          :wrapper-col="{ span: 14 }"
          autocomplete="off"
        >
          <a-form-item label="统一社会信用代码" name="companyUniCode">
            <a-input
              v-model:value="state.params.companyUniCode"
              placeholder="请输入统一社会信用代码"
            />
          </a-form-item>
        </a-form>
      </div>
      <div class="search">
        <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
        <a-button type="danger" style="marginleft: 5px" @click="onReset">重置</a-button>
      </div>
    </div>
    <DynamicTable
      row-key="id"
      header-title="供应商信用认证查询"
      :data-source="state.dataSource"
      :columns="columns"
      :loading="state.loading"
      bordered
      auto-height
      size="small"
      :scroll="{ x: 2000, y: 300 }"
    >
    </DynamicTable>
  </div>
</template>

<script lang="ts" setup>
  import { reactive, onMounted } from 'vue';
  import { useRoute } from 'vue-router';
  import { message } from 'ant-design-vue';
  import { baseColumns } from './columns';
  import type { FormState } from '@/components/core/schema-form';
  import { getCertificate } from '@/api/supplier/index';
  import { useTable } from '@/components/core/dynamic-table';
  const route = useRoute();
  defineOptions({
    name: 'authentication',
  });
  const [DynamicTable] = useTable({
    size: 'small',
    search: false,
    rowKey: 'id',
    bordered: true,
    pagination: false,
  });
  const state = reactive({
    dataSource: [],
    loading: false,
    params: {
      companyUniCode: '',
    },
  });
  const formState = reactive<FormState>({
    companyUniCode: '',
  });
  const onSearch = () => {
    if (state.params.companyUniCode == '') {
      message.error('统一社会信用代码不能为空');
      state.dataSource = [];
    } else {
      loadTableData();
    }
  };
  const loadTableData = async () => {
    state.loading = true;
    const data = await getCertificate({
      companyUniCode: state.params.companyUniCode,
    });
    state.dataSource = data.data;
    if (data && data.data) {
      state.dataSource = data.data || [];
    } else {
      state.dataSource = [];
    }
    state.loading = false;
  };
  const onReset = () => {
    state.dataSource = [];
    state.params.companyUniCode = '';
  };
  const columns = [...baseColumns];
  onMounted(() => {
    if (route.query.companyUniCode) {
      state.params.companyUniCode = route.query.companyUniCode;
      loadTableData();
    }
  });
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  /deep/.ant-form-item-control-input {
    width: 220px;
  }
  .header {
    padding: 0 30px !important;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    .search {
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
</style>
