<template>
  <DraggableModal
    v-model:visible="myVisible"
    :title="'   '"
    :width="1000"
    :footer="null"
    destroy-on-close
    @cancel="close"
  >
    <a-tree
      v-model:expandedKeys="expandedKeys"
      v-model:selectedKeys="selectedKeys"
      v-model:checkedKeys="checkedKeys"
      checkable
      :tree-data="state.columns"
    >
    </a-tree>
    <div style="margin: 0 0 20px 0">
      <a-button
        size="large"
        type="primary"
        style="margin: 20px 20px 0 0"
        :disabled="state.data.length !== 0"
        @click="save"
        >保存</a-button
      >
      <a-button size="large" @click="close">取消</a-button>
    </div>
  </DraggableModal>
</template>

<script lang="ts" setup>
  import { reactive, ref, watch } from 'vue';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { saveAllocate } from '@/api/strategyTracking';
  defineOptions({ name: 'ShowModal' });
  const emit = defineEmits(['close']);
  const expandedKeys = ref<string[]>();
  const selectedKeys = ref<string[]>();
  const checkedKeys = ref<string[]>();
  const state = reactive({
    widgetId: '',
    columns: [],
    areaName: '',
    data: '',
  });
  const props = defineProps({
    columns: {
      type: Array,
      default: () => {
        return [];
      },
    },
  });
  const myVisible = ref(false);
  const changeInfo = (widgetId, columns, data, areaName = '') => {
    state.widgetId = widgetId;
    state.columns = columns;
    state.areaName = areaName;
    state.data = data;
    if (data.length !== 0) {
      const keyColumnName = state.data[0].keyColumnName;
      checkedKeys.value = keyColumnName.indexOf(',')
        ? keyColumnName.split(',')
        : [keyColumnName[0]];
      state.columns.forEach((v) => {
        v.disabled = true;
      });
    } else {
      checkedKeys.value = [];
      state.data = data;
      state.columns.forEach((v) => {
        v.disabled = false;
      });
    }
  };
  const close = () => {
    emit('close');
  };
  const save = async () => {
    const params = {
      widgetId: state.widgetId,
      keyColumnName: checkedKeys.value.join(','),
      areaName: state.areaName,
    };
    await saveAllocate(params);
    close();
  };

  watch(expandedKeys, () => {
    console.log('expandedKeys', expandedKeys);
  });
  watch(selectedKeys, () => {
    console.log('selectedKeys', selectedKeys);
  });
  watch(checkedKeys, () => {
    console.log('checkedKeys', checkedKeys);
  });

  watch(
    () => props.visible,
    (v) => {
      myVisible.value = v;
    },
    { immediate: true, deep: true },
  );
  defineExpose({ changeInfo });
</script>

<style scoped lang="less">
  .ellipsis {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .timeline {
    max-height: 200px;
    overflow: auto;
    .timeline-item:first-child {
      margin-top: 10px;
    }
  }
  .timeline-div {
    padding: 20px;
    border: 1px solid #ccc;
  }
  .items {
    font-size: 22px;
  }
  .itemInfo {
    color: #777;
  }
  /deep/.ant-input {
    font-size: 22px;
  }
</style>
