<template>
  <div class="box">
    <div v-show="$auth(`homeHeader:data`)" class="header margin-bottom-8">
      <TopCard> </TopCard>
    </div>
    <div class="margin-bottom-8">
      <StatisticsCard></StatisticsCard>
    </div>
    <div v-show="$auth(`homecard:actionCard`)" class="actionCard margin-bottom-8">
      <PageJump></PageJump>
    </div>
  </div>
</template>

<script lang="ts" setup>
  import { onMounted } from 'vue';
  import { TopCard, PageJump, StatisticsCard } from './components';

  defineOptions({
    name: 'DashboardWelcome',
  });

  onMounted(() => {});
</script>

<style lang="less" scoped>
  // @import '@/styles/theme.less';

  // .themeBgColor(box);

  .box {
    display: flex;
    padding: 12px;
    width: 100%;
    //height: calc(100vh - 280px);
    flex-direction: column;
    background-color: transparent;

    img {
      min-height: 0;
      flex: 1;
    }

    .ant-form {
      flex: 2;
    }
  }

  .margin-bottom-8 {
    margin: 0 0 8px 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }

  .actionCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
</style>
