<template>
  <div class="main">
    <a-row class="content">
      <a-col :span="4" class="content-left">
        <TreeList :base-info="true" @selectd="onSelect" />
      </a-col>
      <a-col :span="20" class="content-right">
        <vxe-grid ref="grid" size="small" v-bind="gridOptions" align="center" header-align="center">
          <template #toolbar_buttons>
            <a-select
              v-if="state.treeCode.orgCode == 'BWDH00'"
              v-model:value="state.PerformanceType"
              style="width: 200px"
              @change="loadData()"
            >
              <a-select-option
                v-for="(item, index) in dict.getItemsByDictCode('QUERY_PERFORMANCE_TYPE_SELECT')"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-select-option
              >
            </a-select>
          </template>
          <template #ope_default="{ row }">
            <vxe-button
              type="text"
              status="primary"
              content="审核"
              @click="auditWork(row)"
            ></vxe-button>
          </template>
        </vxe-grid>
      </a-col>
    </a-row>
    <ApproveTask
      :avisible="propsState.visible"
      :record="propsState.record"
      @close="closeModal"
    ></ApproveTask>
  </div>
</template>

<script setup lang="tsx">
  import { reactive } from 'vue';
  import { useRoute } from 'vue-router';
  import { VxeGridProps, VxeTablePropTypes } from 'vxe-table';
  import { message as $message } from 'ant-design-vue';
  import TreeList from '../../orgPerList/components/TreeList.vue';
  import ApproveTask from './components/ApproveTask.vue';
  import { queryPerformanceList } from '@/api/perAppraisal/apiList';
  import dict from '@/utils/dict';

  defineOptions({
    name: 'perWorkList',
  });
  const route = useRoute();

  const state: any = reactive({
    BASE_URL: process.env.VUE_APP_BASE_API,
    treeCode: {
      orgCode: '',
      orgName: '',
    },
    PerformanceType: 'PT-202023004',
  });

  const propsState = reactive({
    visible: false,
    record: {},
  });

  const onSelect = (_selectedKeys, info) => {
    state.treeCode.orgCode = info.selectedNodes[0].code;
    state.treeCode.orgName = info.selectedNodes[0].title;
    if (!_selectedKeys[0]) return;
    loadData();
  };

  const gridOptions = reactive<VxeGridProps<RowVO>>({
    border: true,
    height: '100%',
    resizable: true,
    toolbarConfig: {
      zoom: true,
      custom: true,
      refresh: {
        queryMethod: () => {
          loadData();
        },
      },
      slots: {
        buttons: 'toolbar_buttons',
      },
    },
    cellClassName: 'ellipsis-con',
    tooltipConfig: {
      showAll: true,
      enterable: true,
    },
    columnConfig: {
      useKey: true,
    },
    rowConfig: {
      useKey: true,
    },
    columns: [],
    data: [],
  });

  //查询列表
  const { orgCode } = route.query;
  const loadData = async () => {
    gridOptions.columns.length = 0;
    gridOptions.data.length = 0;
    gridOptions.loading = true;
    const param = {
      evaluatedOrgCode: state.treeCode.orgCode,
      orgPerformanceCode: orgCode,
      performanceType: state.treeCode.orgCode == 'BWDH00' ? state.PerformanceType : null,
    };
    const { data } = await queryPerformanceList(param);
    gridOptions.loading = false;
    if (data.success) {
      const { aggrHeads, values } = data.data;
      convertHeads(aggrHeads);
      convertData(values);
    } else {
      $message.error(data.message);
    }
  };

  const convertHeads = (heads) => {
    const htmlArr = ['description', 'unfinishedDescription', 'annotation'];
    const targetArr = [
      'yearTarget',
      'quarterTarget',
      'annotation',
      'subtaskName',
      'quarterBonus1',
      'quarterBonus2',
      'quarterBonus3',
      'quarterBonus4',
    ];
    const headsList = heads.map((item) => {
      if (htmlArr.includes(item.field)) {
        return { ...item, width: '320', type: 'html' };
      } else if (targetArr.includes(item.field)) {
        return {
          ...item,
          minWidth: '260',
        };
      } else {
        return { ...item, width: '150' };
      }
    });

    const opeate = {
      field: 'action',
      title: '操作',
      slots: { default: 'ope_default' },
      fixed: 'right',
      width: '120px',
    };
    headsList.forEach((item) => {
      Object.assign(item, {
        slots: {
          default: ({ row, column }) => {
            return <span innerHTML={row[column.field]}></span>;
          },
        },
      });
    });
    gridOptions.columns.push(...headsList, opeate);
  };

  const convertData = (data) => {
    if (data.length > 0) {
      data.forEach((item, index) => {
        if (item.perfEvalScoreFixOpt ?? '' !== '') {
          data[index].perfEvalScoreFixOpt = dict.getValue(
            'EMPHASIS_WORK_SELECT_TYPE',
            item?.perfEvalScoreFixOpt,
          ).itemText;
        }
      });
      gridOptions.data.push(...data);
    }
  };

  const auditWork = (row) => {
    propsState.visible = true;
    propsState.record = { ...row, ...state.treeCode };
  };

  const closeModal = (flag) => {
    if (flag) loadData();
    propsState.visible = false;
  };
</script>

<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;
    .content {
      padding: 0.5rem 1.25rem;
      height: inherit;
      .content-left {
        border-right: 0.0625rem solid #f1f1f1;
        padding-right: 12px;
      }
      .content-right {
        padding-left: 12px;
      }
    }
  }
  /deep/.ellipsis-con .vxe-cell {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
</style>
