<template>
  <div class="initialclass">
    <a-row :gutter="[16, 16]">
      <a-col
        v-if="
          props.depData == '东北平台产品销售部' ||
          props.depData == '华北平台产品销售部' ||
          props.depData == '华东平台产品销售部' ||
          props.depData == '华南平台产品销售部' ||
          props.depData == '华中平台产品销售部' ||
          props.depData == '西北平台产品销售部' ||
          props.depData == '西南平台产品销售部' ||
          props.depData == '销售二部' ||
          props.depData == '销售一部'
        "
        :md="{ span: 16 }"
      >
        <div class="heightclass div-height">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">GMV总览</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="devdome">
            <div class="devdome-div1" @click="onclick1('GMV总览')">
              <div class="devdome">
                <div class="devdome-div1">
                  <div class="echarts-div2">
                    <SpeedGauge2
                      :echardata="state.ANNUAL_FINISH_RATE"
                      :echarcolor1="[
                        [0.5, '#FC6B57FF'],
                        [1, '#60C758FF'],
                      ]"
                      :echarunit="state.e03"
                    />
                  </div>
                </div>
                <div class="devdome-div">
                  <div class="echarts-div2-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state.CURYEAR_ANNUAL_TARGET_VALUE }}</span>
                      <b class="circle-text1">{{ state.UNIT }}元</b>
                      <span class="circle-text2">年度目标</span>
                    </p>
                  </div>
                  <div class="echarts-div2-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state.CURYEAR_PRFM }}</span>
                      <b class="circle-text1">{{ state.UNIT }}元</b>
                      <span class="circle-text2">
                        当前累计 {{ state.MONTHLY_GROWTH_RATE }}%
                        <span class="title-number-color5">↑</span>
                      </span>
                    </p>
                  </div>
                  <div class="echarts-div2-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state.CURYEAR_TARGET }}</span>
                      <b class="circle-text1">{{ state.UNIT }}元</b>
                      <span class="circle-text2">进度目标</span>
                    </p>
                  </div>
                  <div class="echarts-div2-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state.CURYEAR_CPLTRATE }}</span>
                      <b class="circle-text1">%</b>
                      <span class="circle-text2">进度完成率</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="devdome-div">
              <div class="first">
                <div class="first-title" @click="onclick1('集采+多元')">
                  <div class="first-title-left">
                    <b class="first-square square-color1"></b>
                    <span class="first-text first-text-color1">集采+多元</span>
                  </div>
                  <div class="first-title-right">
                    <span class="right-text">
                      当前累计
                      <b class="title-number title-number-color1">{{ state.CURYEAR_PRFM1 }}</b>
                      <i>{{ state.UNIT1 }}</i>
                    </span>
                    <span class="first-text2">
                      年度目标
                      <b class="title-number2">{{ state.CURYEAR_ANNUAL_TARGET_VALUE1 }}</b>
                      <i>{{ state.UNIT1 }}</i>
                    </span>
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(252, 107, 87, 1)',
                      '100%': 'rgba(222, 41, 41, 1)',
                    }"
                    :percent="state.ANNUAL_FINISH_RATE1"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color1"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                  <div class="first-details">
                    <div class="details-item">
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg">
                            进度目标：
                            <b class="details-number">{{ state.CURYEAR_TARGET1 }}</b>
                            <i>{{ state.UNIT1 }}</i>
                          </span>
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg">
                            进度完成率：
                            <b class="details-number">{{ state.CURYEAR_CPLTRATE1 }}</b>
                            <i>%</i>
                          </span>
                        </p>
                      </div>
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color2" />
                          <span class="details-cg">
                            月度增长率：
                            <b class="details-number">{{ state.MONTHLY_GROWTH_RATE1 }}</b>
                            <i>%</i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                v-if="
                  props.depData == '东北平台产品销售部' ||
                  props.depData == '华北平台产品销售部' ||
                  props.depData == '华东平台产品销售部' ||
                  props.depData == '华南平台产品销售部' ||
                  props.depData == '华中平台产品销售部' ||
                  props.depData == '西北平台产品销售部' ||
                  props.depData == '西南平台产品销售部' ||
                  props.depData == '销售二部' ||
                  props.depData == '销售一部'
                "
                class="first"
              >
                <div class="first-title" @click="onclick1('社会客户')">
                  <div class="first-title-left">
                    <b class="first-square square-color3"></b>
                    <span class="first-text first-text-color3">社会客户</span>
                  </div>
                  <div class="first-title-right">
                    <span class="right-text">
                      当前累计
                      <b class="title-number title-number-color3">{{ state.CURYEAR_PRFM2 }}</b>
                      <i>{{ state.UNIT2 }}</i>
                    </span>
                    <span class="first-text2">
                      年度目标
                      <b class="title-number2">{{ state.CURYEAR_ANNUAL_TARGET_VALUE2 }}</b>
                      <i>{{ state.UNIT2 }}</i>
                    </span>
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(96, 199, 88, 1)',
                      '100%': 'rgba(36, 171, 85, 1)',
                    }"
                    :percent="state.ANNUAL_FINISH_RATE2"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color3">
                        <i class="progress-percent">完成率</i>{{ percent }}%
                      </span>
                    </template>
                  </a-progress>
                  <div class="first-details">
                    <div class="details-item">
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="title-number-color5" />
                          <span class="details-cg">
                            进度目标：
                            <b class="details-number">{{ state.CURYEAR_TARGET2 }}</b>
                            <i>{{ state.UNIT2 }}</i>
                          </span>
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="title-number-color5" />
                          <span class="details-cg"
                            >进度完成率：<b class="details-number">{{ state.CURYEAR_CPLTRATE2 }}</b
                            ><i>%</i>
                          </span>
                        </p>
                      </div>
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="title-number-color3" />
                          <span class="details-cg">
                            月度增长率：
                            <b class="details-number">{{ state.MONTHLY_GROWTH_RATE2 }}</b>
                            <i>%</i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col
        v-if="
          props.depData == '东北平台产品销售部' ||
          props.depData == '华北平台产品销售部' ||
          props.depData == '华东平台产品销售部' ||
          props.depData == '华南平台产品销售部' ||
          props.depData == '华中平台产品销售部' ||
          props.depData == '西北平台产品销售部' ||
          props.depData == '西南平台产品销售部' ||
          props.depData == '销售二部' ||
          props.depData == '销售一部'
        "
        :md="{ span: 8 }"
      >
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>{{ gmvclick.ongmvclick }}月度趋势图</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state1.chart"
              :x-axis="state1.xAxis"
              :y-axis="state1.yAxis"
              :series="state1.series"
            />
          </div>
        </div>
      </a-col>

      <a-col
        v-if="
          props.depData != '欧冶采购' ||
          props.depData != '平台运营中心' ||
          props.depData != '润益科技' ||
          props.depData != '市场营销部'
        "
        :md="{ span: 10 }"
      >
        <div class="heightclass div-height">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">易购营收</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="devdome">
            <div class="devdome-div1">
              <div class="echarts-div2">
                <SpeedGauge2
                  :echardata="state2.ANNUAL_FINISH_RATE"
                  :echarcolor1="[[1, '#5AA2FFFF']]"
                  :echarunit="state.e03"
                />
              </div>
            </div>
            <div class="devdome-div">
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state2.CURYEAR_ANNUAL_TARGET_VALUE }}</span>
                  <b class="circle-text1">{{ state2.UNIT }}元</b>
                  <span class="circle-text2">年度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state2.CURYEAR_PRFM }}</span>
                  <b class="circle-text1">{{ state2.UNIT }}元</b>
                  <span class="circle-text2">
                    当前累计 {{ state2.MONTHLY_GROWTH_RATE }}%
                    <span class="title-number-color5">↑</span>
                  </span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state2.CURYEAR_TARGET }}</span>
                  <b class="circle-text1">{{ state2.UNIT }}元</b>
                  <span class="circle-text2">进度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state2.CURYEAR_CPLTRATE }}</span>
                  <b class="circle-text1">%</b>
                  <span class="circle-text2">进度完成率</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col
        v-if="
          props.depData != '欧冶采购' ||
          props.depData != '平台运营中心' ||
          props.depData != '润益科技' ||
          props.depData != '市场营销部'
        "
        :md="{ span: 14 }"
      >
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>易购营收月度趋势图</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state3.chart"
              :x-axis="state3.xAxis"
              :y-axis="state3.yAxis"
              :series="state3.series"
            />
          </div>
        </div>
      </a-col>

      <a-col
        v-if="
          props.depData != '欧冶采购' ||
          props.depData != '平台运营中心' ||
          props.depData != '润益科技' ||
          props.depData != '市场营销部'
        "
        :md="{ span: 16 }"
      >
        <div class="heightclass div-height">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">新增客户数</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="devdome">
            <div class="devdome-div1" @click="onclick2('新增客户数')">
              <div class="devdome">
                <div class="devdome-div1">
                  <div class="echarts-div2">
                    <SpeedGauge2
                      :echardata="state4.ANNUAL_FINISH_RATE"
                      :echarcolor1="[
                        [0.3, '#FC6B57FF'],
                        [0.7, '#60C758FF'],
                        [1, '#5AA2FFFF'],
                      ]"
                      :echarunit="state.e03"
                    />
                  </div>
                </div>
                <div class="devdome-div">
                  <div class="echarts-div2-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state4.CURYEAR_ANNUAL_TARGET_VALUE }}</span>
                      <b class="circle-text1">{{ state4.UNIT }}</b>
                      <span class="circle-text2">年度目标</span>
                    </p>
                  </div>
                  <div class="echarts-div2-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state4.CURYEAR_PRFM }}</span>
                      <b class="circle-text1">{{ state4.UNIT }}</b>
                      <span class="circle-text2">当前累计</span>
                    </p>
                  </div>
                  <div class="echarts-div2-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state4.CURYEAR_TARGET }}</span>
                      <b class="circle-text1">{{ state4.UNIT }}</b>
                      <span class="circle-text2">进度目标</span>
                    </p>
                  </div>
                  <div class="echarts-div2-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state4.CURYEAR_CPLTRATE }}</span>
                      <b class="circle-text1">%</b>
                      <span class="circle-text2">进度完成率</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="devdome-div">
              <div class="first">
                <div class="first-title" @click="onclick2('新增采购端客户数')">
                  <div class="first-title-left">
                    <b class="first-square square-color1"></b>
                    <span class="first-text first-text-color1">新增采购端客户数</span>
                  </div>
                  <div class="first-title-right">
                    <span class="right-text">
                      当前累计
                      <b class="title-number title-number-color1">{{ state4.CURYEAR_PRFM1 }}</b>
                      <i>{{ state4.UNIT1 }}</i>
                    </span>
                    <span class="first-text2">
                      年度目标
                      <b class="title-number2">{{ state4.CURYEAR_ANNUAL_TARGET_VALUE1 }}</b>
                      <i>{{ state4.UNIT1 }}</i>
                    </span>
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(252, 107, 87, 1)',
                      '100%': 'rgba(222, 41, 41, 1)',
                    }"
                    :percent="state4.ANNUAL_FINISH_RATE1"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color1"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                  <div class="first-details">
                    <div class="details-item">
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg">
                            进度目标：
                            <b class="details-number">{{ state4.CURYEAR_TARGET1 }}</b>
                            <i>万</i>
                          </span>
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg">
                            进度完成率：
                            <b class="details-number">{{ state4.CURYEAR_CPLTRATE1 }}</b>
                            <i>%</i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="first">
                <div class="first-title" @click="onclick2('新增采购端双非客户数')">
                  <div class="first-title-left">
                    <b class="first-square square-color3"></b>
                    <span class="first-text first-text-color3">新增采购端双非客户数</span>
                  </div>
                  <div class="first-title-right">
                    <span class="right-text">
                      当前累计
                      <b class="title-number title-number-color3">{{ state4.CURYEAR_PRFM2 }}</b>
                      <i>{{ state4.UNIT2 }}</i>
                    </span>
                    <span class="first-text2">
                      年度目标
                      <b class="title-number2">{{ state4.CURYEAR_ANNUAL_TARGET_VALUE2 }}</b>
                      <i>{{ state4.UNIT2 }}</i>
                    </span>
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(96, 199, 88, 1)',
                      '100%': 'rgba(36, 171, 85, 1)',
                    }"
                    :percent="state4.ANNUAL_FINISH_RATE2"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color3"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                  <div class="first-details">
                    <div class="details-item">
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="span-color3" />
                          <span class="details-cg">
                            进度目标：
                            <b class="details-number">{{ state4.CURYEAR_TARGET2 }}</b>
                            <i>{{ state4.UNIT2 }}</i>
                          </span>
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="span-color3" />
                          <span class="details-cg">
                            进度完成率：
                            <b class="details-number">{{ state4.CURYEAR_CPLTRATE2 }}</b>
                            <i>%</i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="first">
                <div class="first-title" @click="onclick2('重点客户目标分解')">
                  <div class="first-title-left">
                    <b class="first-square square-color2"></b>
                    <span class="first-text first-text-color2">重点客户</span>
                  </div>
                  <div class="first-title-right">
                    <span class="right-text">
                      当前累计
                      <b class="title-number title-number-color2">{{ state4.CURYEAR_PRFM3 }}</b>
                      <i>{{ state4.UNIT3 }}</i>
                    </span>
                    <span class="first-text2">
                      年度目标
                      <b class="title-number2">{{ state4.CURYEAR_ANNUAL_TARGET_VALUE3 }}</b>
                      <i>{{ state4.UNIT3 }}</i>
                    </span>
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(90, 162, 255, 1)',
                      '100%': 'rgba(69, 115, 230, 1)',
                    }"
                    :percent="state4.ANNUAL_FINISH_RATE3"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color2"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                  <div class="first-details">
                    <div class="details-item">
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="span-color2" />
                          <span class="details-cg">
                            进度目标：
                            <b class="details-number">{{ state4.CURYEAR_TARGET3 }}</b>
                            <i>{{ state4.UNIT3 }}</i>
                          </span>
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="span-color2" />
                          <span class="details-cg">
                            进度完成率：
                            <b class="details-number">{{ state4.CURYEAR_CPLTRATE3 }}</b>
                            <i>%</i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col
        v-if="
          props.depData != '欧冶采购' ||
          props.depData != '平台运营中心' ||
          props.depData != '润益科技' ||
          props.depData != '市场营销部'
        "
        :md="{ span: 8 }"
      >
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>{{ gmvclick.onclick2 }}月度趋势图</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state5.chart"
              :x-axis="state5.xAxis"
              :y-axis="state5.yAxis"
              :series="state5.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, nextTick, defineExpose } from 'vue';
  import { SpeedGauge2, StackedColumnFoldMixedChart } from '../../echartsAssembly';
  import overserver from '../components/js/overserver';
  import echartoption from '../components/js/echartoption';
  import { queryAggregate } from '@/api/strategyTracking';

  defineOptions({
    name: 'EBay',
    inheritAttrs: false,
  });
  const props = defineProps({
    yearmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const ygInitialloading = () => {
    nextTick(() => {
      query();
      query1();
      query2();
      query3();
      query4();
      query5();
    });
  };
  defineExpose({
    ygInitialloading,
  });

  const gmvclick = reactive({
    ongmvclick: 'GMV总览',
    onclick2: '新增客户数',
    DEPT_NAME: '',
  });

  const state = reactive({
    e03: '%',
    ANNUAL_FINISH_RATE: '', // 年度完成率
    CURYEAR_ANNUAL_TARGET_VALUE: '', //年度目标
    CURYEAR_PRFM: '', //当前累计
    MONTHLY_GROWTH_RATE: '', // 月度增长率
    CURYEAR_TARGET: '', //进度目标
    CURYEAR_CPLTRATE: '', //进度完成率
    UNIT: '', //单位

    // 集采+多元
    ANNUAL_FINISH_RATE1: '', // 年度完成率
    CURYEAR_ANNUAL_TARGET_VALUE1: '', // 年度目标
    CURYEAR_PRFM1: '', //当前累计
    MONTHLY_GROWTH_RATE1: '', //月度增长率
    CURYEAR_TARGET1: '', // 进度目标
    CURYEAR_CPLTRATE1: '', // 进度完成率
    UNIT1: '', //单位

    // 社会客户
    ANNUAL_FINISH_RATE2: '', // 年度完成率
    CURYEAR_ANNUAL_TARGET_VALUE2: '', // 年度目标
    CURYEAR_PRFM2: '', //当前累计
    MONTHLY_GROWTH_RATE2: '', //月度增长率
    CURYEAR_TARGET2: '', // 进度目标
    CURYEAR_CPLTRATE2: '', // 进度完成率
    UNIT2: '', //单位
  });
  const query = () => {
    queryAggregate(
      overserver.parameter2('YM', props.yearmonth, '2023091314575731', 'DEPT_NAME', props.depData),
    ).then((r) => {
      const dataMap = r.data[2023091314575731].dataMap;
      state.ANNUAL_FINISH_RATE = overserver.XiaoText(dataMap.ANNUAL_FINISH_RATE[0]);
      state.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText1(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      state.CURYEAR_PRFM = overserver.MonText1(dataMap.CURYEAR_PRFM[0]);
      state.MONTHLY_GROWTH_RATE = overserver.XiaoText(dataMap.MONTHLY_GROWTH_RATE[0]);
      state.CURYEAR_TARGET = overserver.MonText1(dataMap.CURYEAR_TARGET[0]);
      state.CURYEAR_CPLTRATE = overserver.XiaoText(dataMap.CURYEAR_CPLTRATE[0]);
      state.UNIT = dataMap.UNIT[0];
    });
    queryAggregate(
      overserver.parameter5(
        'YM',
        props.yearmonth,
        '2023091314575732',
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        '集采+多元',
      ),
    ).then((r) => {
      const dataMap = r.data[2023091314575732].dataMap;
      state.ANNUAL_FINISH_RATE1 = overserver.XiaoText(dataMap.ANNUAL_FINISH_RATE[0]);
      state.CURYEAR_ANNUAL_TARGET_VALUE1 = overserver.MonText1(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      state.CURYEAR_PRFM1 = overserver.MonText1(dataMap.CURYEAR_PRFM[0]);
      state.MONTHLY_GROWTH_RATE1 = overserver.XiaoText(dataMap.MONTHLY_GROWTH_RATE[0]);
      state.CURYEAR_TARGET1 = overserver.MonText1(dataMap.CURYEAR_TARGET[0]);
      state.CURYEAR_CPLTRATE1 = overserver.XiaoText(dataMap.CURYEAR_CPLTRATE[0]);
      state.UNIT1 = dataMap.UNIT[0];
    });
    queryAggregate(
      overserver.parameter5(
        'YM',
        props.yearmonth,
        '2023091314575732',
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        '社会客户',
      ),
    ).then((r) => {
      const dataMap = r.data[2023091314575732].dataMap;
      state.ANNUAL_FINISH_RATE2 = overserver.XiaoText(dataMap.ANNUAL_FINISH_RATE[0]);
      state.CURYEAR_ANNUAL_TARGET_VALUE2 = overserver.MonText1(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      state.CURYEAR_PRFM2 = overserver.MonText1(dataMap.CURYEAR_PRFM[0]);
      state.MONTHLY_GROWTH_RATE2 = overserver.XiaoText(dataMap.MONTHLY_GROWTH_RATE[0]);
      state.CURYEAR_TARGET2 = overserver.MonText1(dataMap.CURYEAR_TARGET[0]);
      state.CURYEAR_CPLTRATE2 = overserver.XiaoText(dataMap.CURYEAR_CPLTRATE[0]);
      state.UNIT2 = dataMap.UNIT[0];
    });
  };

  const state1 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '' }, { name: '%' }],
    series: [],
  });
  const query1 = () => {
    queryAggregate(
      overserver.parameter4(
        'YM',
        props.yearmonth,
        2023091314575733,
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        gmvclick.ongmvclick,
      ),
    ).then((result) => {
      const dataMap = result.data[2023091314575733].dataMap;
      state1.xAxis = dataMap.YM;
      state1.yAxis[0].name = dataMap.UNIT[0];
      state1.series = echartoption.echarts(
        dataMap.CURMONTH_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };

  const state2 = reactive({
    ANNUAL_FINISH_RATE: '', // 年度完成率
    CURYEAR_ANNUAL_TARGET_VALUE: '', // 年度目标
    CURYEAR_PRFM: '', // 当前累计
    MONTHLY_GROWTH_RATE: '', //月度增长率
    CURYEAR_TARGET: '', // 进度目标
    CURYEAR_CPLTRATE: '', // 进度完成率
    UNIT: '', // 单位
  });
  const query2 = () => {
    queryAggregate(
      overserver.parameter2('YM', props.yearmonth, '2023091314575734', 'DEPT_NAME', props.depData),
    ).then((r) => {
      const dataMap = r.data[2023091314575734].dataMap;
      state2.ANNUAL_FINISH_RATE = overserver.XiaoText(dataMap.ANNUAL_FINISH_RATE[0]);
      state2.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText1(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      state2.CURYEAR_PRFM = overserver.MonText1(dataMap.CURYEAR_PRFM[0]);
      state2.MONTHLY_GROWTH_RATE = overserver.XiaoText(dataMap.MONTHLY_GROWTH_RATE[0]);
      state2.CURYEAR_TARGET = overserver.MonText1(dataMap.CURYEAR_TARGET[0]);
      state2.CURYEAR_CPLTRATE = overserver.XiaoText(dataMap.CURYEAR_CPLTRATE[0]);
      state2.UNIT = dataMap.UNIT[0];
    });
  };

  const state3 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '' }, { name: '%' }],
    series: [],
  });
  const query3 = () => {
    queryAggregate(
      overserver.parameter3('YM', props.yearmonth, 2023091314575735, 'DEPT_NAME', props.depData),
    ).then((result) => {
      const dataMap = result.data[2023091314575735].dataMap;
      state3.xAxis = dataMap.YM;
      state3.yAxis[0].name = dataMap.UNIT[0];
      state3.series = echartoption.echarts(
        dataMap.CURMONTH_PLAN_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };

  const state4 = reactive({
    ANNUAL_FINISH_RATE: '', // 年度完成率
    CURYEAR_ANNUAL_TARGET_VALUE: '', // 年度目标
    CURYEAR_PRFM: '', // 当前累计
    CURYEAR_TARGET: '', // 进度目标
    CURYEAR_CPLTRATE: '', // 进度完成率
    UNIT: '', // 单位

    // 新增采购端客户数
    ANNUAL_FINISH_RATE1: '', // 年度完成率
    CURYEAR_ANNUAL_TARGET_VALUE1: '', // 年度目标
    CURYEAR_PRFM1: '', // 当前累计
    CURYEAR_TARGET1: '', // 进度目标
    CURYEAR_CPLTRATE1: '', // 进度完成率
    UNIT1: '', // 单位

    // 新增采购端双非客户数
    ANNUAL_FINISH_RATE2: '', // 年度完成率
    CURYEAR_ANNUAL_TARGET_VALUE2: '', // 年度目标
    CURYEAR_PRFM2: '', // 当前累计
    CURYEAR_TARGET2: '', // 进度目标
    CURYEAR_CPLTRATE2: '', // 进度完成率
    UNIT2: '', // 单位

    // 重点客户
    ANNUAL_FINISH_RATE3: '', // 年度完成率
    CURYEAR_ANNUAL_TARGET_VALUE3: '', // 年度目标
    CURYEAR_PRFM3: '', // 当前累计
    CURYEAR_TARGET3: '', // 进度目标
    CURYEAR_CPLTRATE3: '', // 进度完成率
    UNIT3: '', // 单位
  });
  const query4 = () => {
    queryAggregate(
      overserver.parameter2('YM', props.yearmonth, '2023091314575736', 'DEPT_NAME', props.depData),
    ).then((r) => {
      const dataMap = r.data[2023091314575736].dataMap;
      state4.ANNUAL_FINISH_RATE = overserver.XiaoText(dataMap.ANNUAL_FINISH_RATE[0]);
      state4.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      state4.CURYEAR_PRFM = overserver.MonText(dataMap.CURYEAR_PRFM[0]);
      state4.CURYEAR_TARGET = overserver.MonText(dataMap.CURYEAR_TARGET[0]);
      state4.CURYEAR_CPLTRATE = overserver.XiaoText(dataMap.CURYEAR_CPLTRATE[0]);
      state4.UNIT = dataMap.UNIT[0];
    });
    queryAggregate(
      overserver.parameter5(
        'YM',
        props.yearmonth,
        '2023091314575737',
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        '新增采购端客户数',
      ),
    ).then((r) => {
      const dataMap = r.data[2023091314575737].dataMap;
      state4.ANNUAL_FINISH_RATE1 = overserver.XiaoText(dataMap.ANNUAL_FINISH_RATE[0]);
      state4.CURYEAR_ANNUAL_TARGET_VALUE1 = overserver.MonText(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      state4.CURYEAR_PRFM1 = overserver.MonText(dataMap.CURYEAR_PRFM[0]);
      state4.CURYEAR_TARGET1 = overserver.MonText(dataMap.CURYEAR_TARGET[0]);
      state4.CURYEAR_CPLTRATE1 = overserver.XiaoText(dataMap.CURYEAR_CPLTRATE[0]);
      state4.UNIT1 = dataMap.UNIT[0];
    });
    queryAggregate(
      overserver.parameter5(
        'YM',
        props.yearmonth,
        '2023091314575737',
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        '新增采购端双非客户数',
      ),
    ).then((r) => {
      const dataMap = r.data[2023091314575737].dataMap;
      state4.ANNUAL_FINISH_RATE2 = overserver.XiaoText(dataMap.ANNUAL_FINISH_RATE[0]);
      state4.CURYEAR_ANNUAL_TARGET_VALUE2 = overserver.MonText(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      state4.CURYEAR_PRFM2 = overserver.MonText(dataMap.CURYEAR_PRFM[0]);
      state4.CURYEAR_TARGET2 = overserver.MonText(dataMap.CURYEAR_TARGET[0]);
      state4.CURYEAR_CPLTRATE2 = overserver.XiaoText(dataMap.CURYEAR_CPLTRATE[0]);
      state4.UNIT2 = dataMap.UNIT[0];
    });
    queryAggregate(
      overserver.parameter5(
        'YM',
        props.yearmonth,
        '2023091314575737',
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        '重点客户目标分解',
      ),
    ).then((r) => {
      const dataMap = r.data[2023091314575737].dataMap;
      state4.ANNUAL_FINISH_RATE3 = overserver.XiaoText(dataMap.ANNUAL_FINISH_RATE[0]);
      state4.CURYEAR_ANNUAL_TARGET_VALUE3 = overserver.MonText(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      state4.CURYEAR_PRFM3 = overserver.MonText(dataMap.CURYEAR_PRFM[0]);
      state4.CURYEAR_TARGET3 = overserver.MonText(dataMap.CURYEAR_TARGET[0]);
      state4.CURYEAR_CPLTRATE3 = overserver.XiaoText(dataMap.CURYEAR_CPLTRATE[0]);
      state4.UNIT3 = dataMap.UNIT[0];
    });
  };

  const state5 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '' }, { name: '%' }],
    series: [],
  });
  const query5 = () => {
    queryAggregate(
      overserver.parameter4(
        'YM',
        props.yearmonth,
        2023091314575738,
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        gmvclick.onclick2,
      ),
    ).then((result) => {
      const dataMap = result.data[2023091314575738].dataMap;
      state5.xAxis = dataMap.YM;
      state5.yAxis[0].name = dataMap.UNIT[0];
      state5.series = echartoption.echarts(
        dataMap.CURMONTH_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };

  // 点击事件
  const onclick1 = (PROD_TARGET_PROJ) => {
    gmvclick.ongmvclick = PROD_TARGET_PROJ;
    query1();
  };
  const onclick2 = (PROD_TARGET_PROJ) => {
    gmvclick.onclick2 = PROD_TARGET_PROJ;
    query5();
  };
</script>

<style lang="less" scoped>
  @import '../components/css/overstyle.less';

  // 弹性布局
  .devdome {
    display: flex;
    justify-content: space-between;
  }
  .devdome-div {
    margin-top: 20px;
    margin-right: 20px;
    width: 45%;
    height: 320px;
  }
  .devdome-div1 {
    width: 55%;
    height: 340px;
  }
  .devdome-1-div {
    width: 50%;
    height: 50px;
    display: flex;
    margin-left: 15%;
  }
  .devdome-div1-div1 {
    height: 220px;
  }
  .devdome-div1-div2 {
    height: 50px;
    margin-bottom: 15px;
  }
  .first-height {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .div-height {
    height: 400px;
  }

  .echarts-div2 {
    height: 340px;
  }
  .echarts-div2-div {
    display: flex;
    margin: 15px auto;
    padding-left: 15%;
  }
</style>
