<template>
  <div>
    <OvervierMeetingmaterials ref="OvervieMeeting" :title-name="state.titleName" />
  </div>
</template>
<script setup lang="ts">
  import { reactive, nextTick, ref } from 'vue';
  import { OvervierMeetingmaterials } from '../../../strategyTracking/modulefile';
  defineOptions({
    name: 'MeetingMaterials',
    inheritAttrs: false,
  });
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const state = reactive({
    titleName: '',
  });

  const depTitle = reactive([
    { name: '平台运营中心', titleName: 'obptyyzx' },
    { name: '润益科技', titleName: 'obrykj' },
    { name: '欧冶采购', titleName: 'oboycg' },
    { name: '销售一部', titleName: 'obxsyb' },
    { name: '销售二部', titleName: 'obxseb' },
    { name: '产品运营部', titleName: 'obcpyyb' },
    { name: '资材品类中心', titleName: 'obzcplzx' },
    { name: '设备品类中心', titleName: 'obsbplzx' },
    { name: '备件品类中心', titleName: 'obsbplzx' },
    { name: '华南平台产品销售部', titleName: 'obhnptcpxsb' },
    { name: '华中平台产品销售部', titleName: 'obhzptcpxsb' },
    { name: '华东平台产品销售部', titleName: 'obhdptcpxsb' },
    { name: '西南平台产品销售部', titleName: 'obxnptcpxsb' },
    { name: '西北平台产品销售部', titleName: 'obxbptcpxsb' },
    { name: '东北平台产品销售部', titleName: 'obdbptcpxsb' },
    { name: '华北平台产品销售部', titleName: 'obhbptcpxsb' },
    { name: '市场营销部', titleName: 'obscyx' },
  ]);
  const depChange = () => {
    depTitle.forEach((i) => {
      if (i.name == props.depData) {
        state.titleName = i.titleName;
      }
    });
    OvervieMeeting.value.searchPDF(state.titleName);
  };
  const OvervieMeeting = ref();
  const meetingAll = () => {
    nextTick(() => {
      depChange();
    });
  };
  defineExpose({
    meetingAll,
  });
</script>
<style lang="less" scoped></style>
