<template>
  <div class="containers">
    <!-- 欧贝零碳 -->
    <a-row :gutter="[16, 10]">
      <a-col
        v-if="
          props.depData == '东北平台产品销售部' ||
          props.depData == '华东平台产品销售部' ||
          props.depData == '华南平台产品销售部' ||
          props.depData == '华中平台产品销售部' ||
          props.depData == '润益科技' ||
          props.depData == '西北平台产品销售部' ||
          props.depData == '西南平台产品销售部'
        "
        :md="{ span: 10 }"
      >
        <div class="heightclass div-height">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">零碳营收</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="devdome">
            <div class="devdome-div1">
              <div class="echarts-div2">
                <SpeedGauge2
                  :echardata="revenue.ANNUAL_FINISH_RATE"
                  :echarcolor1="state.echartcolor"
                  :echarunit="state.e03"
                />
              </div>
            </div>
            <div class="devdome-div">
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ revenue.CURYEAR_ANNUAL_TARGET_VALUE }}</span>
                  <b class="circle-text1">{{ revenue.UNIT }}元</b>
                  <span class="circle-text2">年度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ revenue.CURYEAR_PRFM }}</span>
                  <b class="circle-text1">{{ revenue.UNIT }}元</b>
                  <span class="circle-text2">
                    当前累计 {{ revenue.MONTHLY_GROWTH_RATE }}%
                    <span class="title-number-color5">↑</span>
                  </span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ revenue.CURYEAR_TARGET }}</span>
                  <b class="circle-text1">{{ revenue.UNIT }}元</b>
                  <span class="circle-text2">进度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ revenue.CURYEAR_CPLTRATE }}</span>
                  <b class="circle-text1">%</b>
                  <span class="circle-text2">进度完成率</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col
        v-if="
          props.depData == '东北平台产品销售部' ||
          props.depData == '华东平台产品销售部' ||
          props.depData == '华南平台产品销售部' ||
          props.depData == '华中平台产品销售部' ||
          props.depData == '润益科技' ||
          props.depData == '西北平台产品销售部' ||
          props.depData == '西南平台产品销售部'
        "
        :md="{ span: 14 }"
      >
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>零碳营收月度趋势图</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="revenue.chart"
              :x-axis="revenue.xAxis"
              :y-axis="revenue.yAxis"
              :series="revenue.series"
            />
          </div>
        </div>
      </a-col>
      <a-col v-if="props.depData == '润益科技'" :md="{ span: 10 }">
        <div class="heightclass div-height">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">新增客户数</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="devdome">
            <div class="devdome-div1">
              <div class="echarts-div2">
                <SpeedGauge2
                  :echardata="customers.ANNUAL_FINISH_RATE"
                  :echarcolor1="state.echartcolor2"
                  :echarunit="state.e03"
                />
              </div>
            </div>
            <div class="devdome-div">
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ customers.CURYEAR_ANNUAL_TARGET_VALUE }}</span>
                  <b class="circle-text1">{{ customers.UNIT }}</b>
                  <span class="circle-text2">年度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ customers.CURYEAR_PRFM }}</span>
                  <b class="circle-text1">{{ customers.UNIT }}</b>
                  <span class="circle-text2">当前累计</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ customers.CURYEAR_TARGET }}</span>
                  <b class="circle-text1">{{ customers.UNIT }}</b>
                  <span class="circle-text2">进度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ customers.CURYEAR_CPLTRATE }}</span>
                  <b class="circle-text1">%</b>
                  <span class="circle-text2">进度完成率</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col v-if="props.depData == '润益科技'" :md="{ span: 14 }">
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>新增客户数月度趋势图</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="customers.chart"
              :x-axis="customers.xAxis"
              :y-axis="customers.yAxis"
              :series="customers.series"
            />
          </div>
        </div>
      </a-col>
      <a-col v-if="props.depData == '润益科技'" :md="{ span: 10 }">
        <div class="heightclass div-height">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">累计客户</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="devdome">
            <div class="devdome-div1">
              <div class="echarts-div2">
                <SpeedGauge2
                  :echardata="customers2.ANNUAL_FINISH_RATE"
                  :echarcolor1="state.echartcolor1"
                  :echarunit="state.e03"
                />
              </div>
            </div>
            <div class="devdome-div">
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ customers2.CURYEAR_ANNUAL_TARGET_VALUE }}</span>
                  <b class="circle-text1">{{ customers2.UNIT }}</b>
                  <span class="circle-text2">年度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ customers2.CURYEAR_PRFM }}</span>
                  <b class="circle-text1">{{ customers2.UNIT }}</b>
                  <span class="circle-text2">当前累计</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ customers2.CURYEAR_TARGET }}</span>
                  <b class="circle-text1">{{ customers2.UNIT }}</b>
                  <span class="circle-text2">进度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ customers2.CURYEAR_CPLTRATE }}</span>
                  <b class="circle-text1">%</b>
                  <span class="circle-text2">进度完成率</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col v-if="props.depData == '润益科技'" :md="{ span: 14 }">
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>累计客户数月度趋势图</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="customers2.chart"
              :x-axis="customers2.xAxis"
              :y-axis="customers2.yAxis"
              :series="customers2.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>
<script setup lang="ts">
  import { reactive, nextTick } from 'vue';
  import { SpeedGauge2, StackedColumnFoldMixedChart } from '../../echartsAssembly';
  import echartoption from '../components/js/echartoption';
  import overserver from '../components/js/overserver';
  import { queryAggregate } from '@/api/strategyTracking';
  defineOptions({
    name: 'ZeroCarbon',
    inheritAttrs: false,
  });
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const state = reactive({
    e02: '78',
    e03: '%',
    // echartcolor1: '#FC6B57',
    // echartcolor2: '#60C758',
    echartcolor1: [
      [0.3, '#FC6B57'],
      [0.7, '#FC6B57'],
      [1, '#FC6B57'],
    ], //红色
    echartcolor2: [
      [0.3, '#60C758'],
      [0.7, '#60C758'],
      [1, '#60C758'],
    ], //绿色
    echartcolor3: [
      [0.3, '#FC6B57FF'],
      [0.7, '#60C758FF'],
      [1, '#5AA2FFFF'],
    ],
    echartcolor: [
      [0.3, '#5AA2FFFF'],
      [0.7, '#5AA2FFFF'],
      [1, '#5AA2FFFF'],
    ],

    chartcurrent: '',
    chartrate: '28',
  });
  // 零碳营收
  const revenue = reactive({
    CURYEAR_PRFM: 0, // 当年累计
    MONTHLY_GROWTH_RATE: 0, // 月度增长率
    CURYEAR_TARGET: 0, // 当年进度目标
    CURYEAR_CPLTRATE: 0, // 当年完成率
    ANNUAL_FINISH_RATE: 0, // 年度完成率
    CURYEAR_ANNUAL_TARGET_VALUE: 0, // 年度目标
    UNIT: 0,
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });

  // 零碳营收仪表盘
  const carbonrevenue = () => {
    queryAggregate(
      overserver.parameter2('YM', props.yearMonth, '2023091409333336', 'DEPT_NAME', props.depData),
    ).then((r) => {
      const data = r.data[2023091409333336].dataMap;
      revenue.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
      revenue.CURYEAR_PRFM = overserver.MonText(data.CURYEAR_PRFM[0]);
      revenue.MONTHLY_GROWTH_RATE = overserver.MonText(data.MONTHLY_GROWTH_RATE[0]);
      revenue.CURYEAR_TARGET = overserver.MonText(data.CURYEAR_TARGET[0]);
      revenue.CURYEAR_CPLTRATE = overserver.XiaoText(data.CURYEAR_CPLTRATE[0]);
      revenue.ANNUAL_FINISH_RATE = overserver.MonText(data.ANNUAL_FINISH_RATE[0]);
      revenue.UNIT = data.UNIT[0];
    });
  };
  // 零碳营收趋势图数据
  const carbontTend = () => {
    queryAggregate(
      overserver.parameter3('YM', props.yearMonth, 2023091409333337, 'DEPT_NAME', props.depData),
    ).then((result) => {
      const dataMap = result.data[2023091409333337].dataMap;
      revenue.xAxis = dataMap.YM;
      revenue.series = echartoption.echarts(
        dataMap.CURMONTH_PLAN_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };
  // 新增客户数
  const customers = reactive({
    CURYEAR_ANNUAL_TARGET_VALUE: 0, // 年度目标
    CURYEAR_PRFM: 0, // 当年累计
    MONTHLY_GROWTH_RATE: 0, // 月度增长率
    CURYEAR_TARGET: 0, // 当年进度目标
    CURYEAR_CPLTRATE: 0, // 当年完成率
    ANNUAL_FINISH_RATE: 0, // 年度完成率
    UNIT: 0,
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  // 新增客户数仪表盘
  const newCustomers = () => {
    queryAggregate(
      overserver.parameter2('YM', props.yearMonth, '2023091409333338', 'DEPT_NAME', props.depData),
    ).then((r) => {
      const data = r.data[2023091409333338].dataMap;
      customers.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText(
        data.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      customers.CURYEAR_PRFM = overserver.MonText(data.CURYEAR_PRFM[0]);
      customers.CURYEAR_TARGET = overserver.MonText(data.CURYEAR_TARGET[0]);
      customers.CURYEAR_CPLTRATE = overserver.XiaoText(data.CURYEAR_CPLTRATE[0]);
      customers.ANNUAL_FINISH_RATE = overserver.MonText(data.ANNUAL_FINISH_RATE[0]);
      customers.UNIT = data.UNIT[0];
    });
  };
  // 新增客户数趋势图数据
  const newCustomersTend = () => {
    queryAggregate(
      overserver.parameter3('YM', props.yearMonth, 2023091409333340, 'DEPT_NAME', props.depData),
    ).then((result) => {
      const dataMap = result.data[2023091409333340].dataMap;
      customers.xAxis = dataMap.YM;
      customers.series = echartoption.echarts(
        dataMap.CURMONTH_PLAN_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };
  // 累计客户数
  const customers2 = reactive({
    CURYEAR_ANNUAL_TARGET_VALUE: 0, // 年度目标
    CURYEAR_PRFM: 0, // 当年累计
    MONTHLY_GROWTH_RATE: 0, // 月度增长率
    CURYEAR_TARGET: 0, // 当年进度目标
    CURYEAR_CPLTRATE: 0, // 当年完成率
    ANNUAL_FINISH_RATE: 0, // 年度完成率
    UNIT: 0,
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  // 累计客户数仪表盘
  const accumulatedCustomers = () => {
    queryAggregate(
      overserver.parameter2('YM', props.yearMonth, '2023091409333333', 'DEPT_NAME', props.depData),
    ).then((r) => {
      const data = r.data[2023091409333333].dataMap;
      customers2.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText(
        data.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      customers2.CURYEAR_PRFM = overserver.MonText(data.CURYEAR_PRFM[0]);
      customers2.CURYEAR_TARGET = overserver.MonText(data.CURYEAR_TARGET[0]);
      customers2.CURYEAR_CPLTRATE = overserver.XiaoText(data.CURYEAR_CPLTRATE[0]);
      customers2.ANNUAL_FINISH_RATE = overserver.MonText(data.ANNUAL_FINISH_RATE[0]);
      customers2.UNIT = data.UNIT[0];
    });
  };
  // 累计客户数趋势图数据
  const accumulatedTend = () => {
    queryAggregate(
      overserver.parameter3('YM', props.yearMonth, 2023091409333334, 'DEPT_NAME', props.depData),
    ).then((result) => {
      const dataMap = result.data[2023091409333334].dataMap;
      customers2.xAxis = dataMap.YM;
      customers2.series = echartoption.echarts(
        dataMap.CURMONTH_PLAN_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };
  const carbonAll = () => {
    nextTick(() => {
      carbonrevenue();
      carbontTend();
      newCustomers();
      newCustomersTend();
      accumulatedCustomers();
      accumulatedTend();
    });
  };

  defineExpose({
    carbonAll,
  });
</script>
<style lang="less" scoped>
  @import '../components/css/overstyle.less';
  // 弹性布局
  .devdome {
    display: flex;
    justify-content: space-between;
  }
  .devdome-div {
    margin-top: 20px;
    margin-right: 20px;
    width: 45%;
    height: 320px;
  }
  .devdome-div1 {
    width: 55%;
    height: 340px;
  }

  .div-height {
    height: 400px;
  }

  .echarts-div2 {
    height: 340px;
  }
  .echarts-div2-div {
    display: flex;
    margin: 15px auto;
    padding-left: 15%;
  }
</style>
