<template>
  <div>
    <a-modal
      v-model:visible="state.roleVisible"
      title="已选择用户"
      width="45%"
      destroy-on-close
      :footer="null"
      @ok="onClose"
      @cancel="onClose"
    >
      <a-table
        :columns="columns"
        :data-source="props.batchdata"
        bordered
        :pagination="false"
        :scroll="{ y: 300 }"
        @resize-column="handleResizeColumn"
      >
      </a-table>
      <div class="select-multiple"
        ><span><b class="select-b">*</b>选择角色：</span
        ><a-select
          v-model:value="selsectValue"
          mode="multiple"
          style="width: 50%"
          show-search
          placeholder="请选择所属角色"
          :filter-option="filterOption"
          @change="handleChange"
        >
          <a-select-option
            v-for="(op, oindex) in state.option"
            :key="oindex"
            :value="op.value"
            :title="op.label"
            >{{ op.label }}
          </a-select-option>
        </a-select></div
      >
      <div class="button">
        <a-button type="primary" class="onSubmit" @click="onSubmit">保存</a-button>
        <a-button @click="onClose">取消</a-button>
      </div>
    </a-modal>
  </div>
</template>
<script setup lang="tsx">
  import { reactive, ref, watch, nextTick, onMounted } from 'vue';
  import { message } from 'ant-design-vue';
  import { getRoleListPage } from '@/api/system/role';
  import { addList, bulkSpecifyUserRole } from '@/api/system/user';
  defineOptions({
    name: 'BatchRole',
  });
  const columns = [
    {
      title: '用户名',
      dataIndex: 'username',
      key: 'username',
      width: '13%',
      resizable: true,
      ellipsis: true,
    },
    {
      title: '工号',
      dataIndex: 'employeeCode',
      key: 'employeeCode',
      width: '13%',
      resizable: true,
      ellipsis: true,
    },
    {
      title: '所属部门',
      dataIndex: 'deptName',
      key: 'deptName',
      width: '25%',
      ellipsis: true,
      resizable: true,
    },
    {
      title: '所属角色',
      dataIndex: 'roleName',
      key: 'roleName',
      ellipsis: true,
      resizable: true,
    },
  ];
  const props = defineProps({
    viewVisible: Boolean,
    batchdata: {
      type: Array,
      default: () => {
        return [];
      },
    },
    flag: String,
  });
  const handleResizeColumn = (w, col) => {
    col.width = w;
  };
  const state = reactive({
    roleVisible: false,
    option: [],
    labelValue: [],
    data: [
      {
        key: '1',
        name: 'John Brown',
        age: 32,
        address: 'New York No. 1 Lake Park, New York No. 1 Lake Park',
      },
      {
        key: '2',
        name: 'Jim Green',
        age: 42,
        address: 'London No. 2 Lake Park, London No. 2 Lake Park',
      },
      {
        key: '3',
        name: 'Joe Black',
        age: 32,
        address: 'Sidney No. 1 Lake Park, Sidney No. 1 Lake Park',
      },
    ],
  });
  const emits = defineEmits(['ok']);
  const onClose = () => {
    state.roleVisible = false;
    emits('ok');
  };
  const handleChange = (value) => {
    state.labelValue = value;
  };
  const selsectValue = ref([]);
  // 角色数据
  const selsectData = () => {
    getRoleListPage({ pageNum: 1, pageSize: 10000 }).then((r) => {
      state.option = r.rows.map((n) => ({ label: n.roleName, value: n.roleId }));
    });
  };
  // 保存
  const onSubmit = () => {
    if (state.labelValue.length != 0) {
      const params = [];
      props.batchdata.forEach((i) => {
        const obj = {
          userId: i.userId,
          roleIds: state.labelValue,
        };
        params.push(obj);
      });
      if (props.flag == 0) {
        addList(params).then((r) => {
          onClose();
          message.success('角色修改成功');
          // if (r.success) {
          //   onClose();
          // } else {
          //   message.error(r.message);
          // }
        });
      } else {
        bulkSpecifyUserRole(params).then(() => {
          onClose();
          message.success('角色指定成功');
        });
      }
    } else {
      message.error('请选择角色');
    }
  };
  const filterOption = (input: string, option: any) => {
    return option.title.toLowerCase().indexOf(input.toLowerCase()) >= 0;
  };

  watch(
    () => props.viewVisible,
    (v) => {
      state.roleVisible = v;
      nextTick(() => {
        if (v) {
          selsectValue.value = [];
          selsectData();
        }
      });
    },
  );
</script>
<style lang="less" scoped>
  .select-multiple {
    margin: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    .select-b {
      color: red;
      margin-right: 5px;
    }
  }
  .button {
    text-align: center;
  }
  .onSubmit {
    margin-right: 20px;
  }
</style>
