<template>
  <Row :gutter="8" :wrap="true">
    <Col :span="24" class="scard">
      <a-table
        bordered
        :data-source="state.dataList"
        :pagination="false"
        :columns="state.columnList"
        :loading="state.loading"
        :scroll="{ y: 400 }"
      >
      </a-table>
    </Col>
    <Col :span="24" class="scard">
      <a-table
        bordered
        :data-source="state.dataList1"
        :pagination="false"
        :columns="state.columnList1"
        :loading="state.loading1"
        :scroll="{ y: 400 }"
      >
      </a-table>
    </Col>
    <Col :span="24" class="scard">
      <a-table
        bordered
        :data-source="state.dataList2"
        :pagination="false"
        :columns="state.columnList2"
        :loading="state.loading2"
        :scroll="{ y: 400 }"
      >
      </a-table>
    </Col>
    <Col :span="24" class="scard">
      <a-table
        bordered
        :data-source="state.dataList3"
        :pagination="false"
        :columns="state.columnList3"
        :loading="state.loading3"
        :scroll="{ y: 400 }"
      >
      </a-table>
    </Col>
  </Row>
</template>

<script setup lang="tsx">
  import { ref, reactive, onMounted, watch } from 'vue';
  import { Row, Col } from 'ant-design-vue';
  // import { MergeTable } from '@/components/business';
  import {
    getUnitTable,
    getDeptTable,
    getPersonTable,
    getSupervisionModelTable,
  } from '@/api/dataAdministration/repeatSupervise';
  defineOptions({
    name: 'repeatSupervise',
    inheritAttrs: false,
  });

  const state = reactive({
    loading: false,
    dataList: [],
    columnList: [
      { title: '单位名称', dataIndex: 'dimension', width: 300, ellipsis: true },
      {
        title: '自建模型数量',
        dataIndex: 'selfBuiltModelQty',
        ellipsis: true,
        align: 'center',
      },
      {
        title: '自建模型精准率',
        dataIndex: 'selfBuiltModelAccuracy',
        align: 'center',
        ellipsis: true,
      },
      {
        title: '自建模型输出疑点核查及时率',
        dataIndex: 'selfBuiltModelDoubtAccuracy',
        align: 'center',
        ellipsis: true,
        width: 220,
      },
      {
        title: '推送疑点自查回复及时率',
        dataIndex: 'doubtReplyAccuracy',
        align: 'center',
        width: 200,
        ellipsis: true,
      },
      {
        title: '问题整改及时率',
        dataIndex: 'problemRectificationAccuracy',
        align: 'center',
        ellipsis: true,
      },
      {
        title: '自建模型记录推送率',
        dataIndex: 'selfBuiltModelPushAccuracy',
        align: 'center',
      },
      {
        title: '自建模型处理完成率',
        dataIndex: 'selfBuiltModelDisposeAccuracy',
        align: 'center',
      },
      {
        title: '记录处理平均消耗天数',
        dataIndex: 'processRecordsAverageDays',
        align: 'center',
        ellipsis: true,
      },
      {
        title: '无需推送比例',
        dataIndex: 'withoutPushProportion',
        align: 'center',
        width: 120,
        ellipsis: true,
      },
    ],
    loading1: false,
    dataList1: [],
    columnList1: [
      { title: '部门名称', dataIndex: 'dimension', width: 300, ellipsis: true },
      {
        title: '自建模型数量',
        dataIndex: 'selfBuiltModelQty',
        ellipsis: true,
        align: 'center',
      },
      {
        title: '自建模型精准率',
        dataIndex: 'selfBuiltModelAccuracy',
        align: 'center',
        ellipsis: true,
      },
      {
        title: '自建模型输出疑点核查及时率',
        dataIndex: 'selfBuiltModelDoubtAccuracy',
        align: 'center',
        ellipsis: true,
        width: 220,
      },
      {
        title: '推送疑点自查回复及时率',
        dataIndex: 'doubtReplyAccuracy',
        align: 'center',
        width: 200,
        ellipsis: true,
      },
      {
        title: '问题整改及时率',
        dataIndex: 'problemRectificationAccuracy',
        align: 'center',
        ellipsis: true,
      },
      {
        title: '自建模型记录推送率',
        dataIndex: 'selfBuiltModelPushAccuracy',
        align: 'center',
      },
      {
        title: '自建模型处理完成率',
        dataIndex: 'selfBuiltModelDisposeAccuracy',
        align: 'center',
      },
      {
        title: '记录处理平均消耗天数',
        dataIndex: 'processRecordsAverageDays',
        align: 'center',
        ellipsis: true,
      },
      {
        title: '无需推送比例',
        dataIndex: 'withoutPushProportion',
        align: 'center',
        width: 120,
        ellipsis: true,
      },
    ],
    loading2: false,
    dataList2: [],
    columnList2: [
      { title: '人员', dataIndex: 'dimension', width: 300, ellipsis: true },
      {
        title: '自建模型数量',
        dataIndex: 'selfBuiltModelQty',
        ellipsis: true,
        align: 'center',
      },
      {
        title: '自建模型精准率',
        dataIndex: 'selfBuiltModelAccuracy',
        align: 'center',
        ellipsis: true,
      },
      {
        title: '自建模型输出疑点核查及时率',
        dataIndex: 'selfBuiltModelDoubtAccuracy',
        align: 'center',
        ellipsis: true,
        width: 220,
      },
      {
        title: '推送疑点自查回复及时率',
        dataIndex: 'doubtReplyAccuracy',
        align: 'center',
        width: 200,
        ellipsis: true,
      },
      {
        title: '问题整改及时率',
        dataIndex: 'problemRectificationAccuracy',
        align: 'center',
        ellipsis: true,
      },
      {
        title: '自建模型记录推送率',
        dataIndex: 'selfBuiltModelPushAccuracy',
        align: 'center',
      },
      {
        title: '自建模型处理完成率',
        dataIndex: 'selfBuiltModelDisposeAccuracy',
        align: 'center',
      },
      {
        title: '记录处理平均消耗天数',
        dataIndex: 'processRecordsAverageDays',
        align: 'center',
        ellipsis: true,
      },
      {
        title: '无需推送比例',
        dataIndex: 'withoutPushProportion',
        align: 'center',
        width: 120,
        ellipsis: true,
      },
    ],
    loading3: false,
    dataList3: [],
    columnList3: [
      { title: '模型名称', dataIndex: 'dimension', width: 300 },
      {
        title: '自建模型数量',
        dataIndex: 'selfBuiltModelQty',
        ellipsis: true,
        align: 'center',
      },
      {
        title: '自建模型精准率',
        dataIndex: 'selfBuiltModelAccuracy',
        align: 'center',
        ellipsis: true,
      },
      {
        title: '自建模型输出疑点核查及时率',
        dataIndex: 'selfBuiltModelDoubtAccuracy',
        align: 'center',
        ellipsis: true,
        width: 220,
      },
      {
        title: '推送疑点自查回复及时率',
        dataIndex: 'doubtReplyAccuracy',
        align: 'center',
        width: 200,
        ellipsis: true,
      },
      {
        title: '问题整改及时率',
        dataIndex: 'problemRectificationAccuracy',
        align: 'center',
        ellipsis: true,
      },
      {
        title: '自建模型记录推送率',
        dataIndex: 'selfBuiltModelPushAccuracy',
        align: 'center',
      },
      {
        title: '自建模型处理完成率',
        dataIndex: 'selfBuiltModelDisposeAccuracy',
        align: 'center',
      },
      {
        title: '记录处理平均消耗天数',
        dataIndex: 'processRecordsAverageDays',
        align: 'center',
        ellipsis: true,
      },
      {
        title: '无需推送比例',
        dataIndex: 'withoutPushProportion',
        align: 'center',
        width: 120,
        ellipsis: true,
      },
    ],
  });
  onMounted(() => {
    state.loading = true;
    state.loading1 = true;
    state.loading2 = true;
    state.loading3 = true;
    getUnitTable().then((r) => {
      state.loading = false;
      if (r.success) {
        state.dataList = r.data;
      }
    });
    getDeptTable().then((r) => {
      state.loading1 = false;
      if (r.success) {
        state.dataList1 = r.data;
      }
    });
    getPersonTable().then((r) => {
      state.loading2 = false;
      if (r.success) {
        state.dataList2 = r.data;
      }
    });
    getSupervisionModelTable().then((r) => {
      state.loading3 = false;
      if (r.success) {
        state.dataList3 = r.data;
      }
    });
  });
</script>
<style lang="less" scoped>
  .scard {
    width: 100%;
    padding: 0 5px;
    margin: 5px 0px;
    height: 100%;
  }
</style>
