<template>
  <div class="container" :style="{ backgroundImage: `url('${state.bgSrc}')` }">
    <div class="content">
      <div class="top">
        <div>
          <img alt="logo" class="logo" src="~@/assets/images/logo.png" />
        </div>
        <div class="header">
          <span class="title">{{ systemName }}</span>
        </div>
        <div class="desc"></div>
      </div>
      <div class="login main-content">
        <a-form layout="horizontal" :model="state.formInline" @submit.prevent="handleSubmit">
          <a-form-item>
            <a-input
              v-model:value="state.formInline.username"
              size="large"
              placeholder="请输入账户名/工号"
            >
              <template #prefix><user-outlined type="user" /></template>
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-input
              v-model:value="state.formInline.password"
              size="large"
              type="password"
              placeholder="请输入密码"
              autocomplete="new-password"
            >
              <template #prefix><lock-outlined type="user" /></template>
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-button type="primary" html-type="submit" size="large" :loading="state.loading" block>
              登录
            </a-button>
          </a-form-item>
        </a-form>
      </div>
    </div>
    <div class="footer myfooter">
      <div class="copyright">
        Copyright
        <copyright-circle-outlined />
        <span v-html="copyright"></span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ref, reactive } from 'vue';
  import { UserOutlined, LockOutlined } from '@ant-design/icons-vue';
  import { useRoute, useRouter } from 'vue-router';
  import { message, Modal } from 'ant-design-vue';
  import { useUserStore } from '@/store/modules/user';
  import { configuration } from '@/locales/config';

  import { to } from '@/utils/awaitTo';
  import bg1 from '@/assets/images/bg.jpeg';
  import bg2 from '@/assets/images/bg2.jpg';

  const state = reactive({
    loading: false,
    formInline: {
      username: '',
      password: '',
    },
    bgSrc: bg1,
  });

  const systemName = ref('大数据穿透式在线监督平台');
  if (process.env.NODE_ENV === 'smartdash') {
    systemName.value = '欧贝数据，All data here！';
    state.bgSrc = bg2;
  }
  const copyright = ref(configuration.copyright);

  const route = useRoute();
  const router = useRouter();

  const userStore = useUserStore();

  const handleSubmit = async () => {
    const { username, password } = state.formInline;
    if (username.trim() == '' || password.trim() == '') {
      return message.warning('用户名或密码不能为空！');
    }

    message.loading('登录中...', 0);
    state.loading = true;
    // console.log(state.formInline);
    // params.password = md5(password)

    const [err] = await to(userStore.login(state.formInline));
    if (err) {
      console.log('hello', err);
      Modal.error({
        title: () => '提示',
        content: () => err.message,
      });
    } else {
      message.success('登录成功！');
      setTimeout(() => {
        router.replace((route.query.redirect as string) ?? '/');
      });
    }
    state.loading = false;
    message.destroy();
  };
</script>

<style lang="less" scoped>
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    max-width: 100%;
    //background: #f0f2f5 url('~@/assets/images/bg.jpeg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .content {
      padding: 32px 0;
      flex: 1;
      @media (min-width: 768px) {
        padding: 80px 0 10px;
      }
      .top {
        text-align: center;
        .header {
          margin-top: 10px;
          height: 50px;
          line-height: 50px;
          a {
            text-decoration: none;
          }
          .title {
            font-size: 50px;
            color: #fff;
            font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 600;
            position: relative;
            top: 6px;
          }
        }
        .logo {
          height: 40px;
          margin: 0 auto;
        }
        .desc {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.45);
          margin-top: 12px;
          margin-bottom: 70px;
        }
      }
      .main-content {
        width: 368px;
        margin: 0 auto;
        @media screen and (max-width: 576px) {
          width: 95%;
        }
        @media screen and (max-width: 320px) {
          .captcha-button {
            font-size: 14px;
          }
        }
      }
      .login {
        color: #fff;
        .icon {
          font-size: 24px;
          color: #fff;
          margin-left: 16px;
          vertical-align: middle;
          cursor: pointer;
          transition: color 0.3s;

          &:hover {
            color: #1890ff;
          }
        }
      }
    }
  }
  .ant-tabs-tab {
    color: #fff !important;
  }
  .myfooter {
    .copyright {
      color: #fff !important;
    }
  }

  .footer {
    padding: 0 16px;
    margin: 24px 0;
    text-align: center;

    .copyright {
      color: #fff;
      font-size: 14px;
      i {
        font-size: 0.8rem !important;
      }
    }
    .light {
      color: #fff;
    }
    .dark {
      color: rgba(0, 0, 0, 0.45);
    }

    &a {
      text-decoration: none;
    }
  }
</style>
