<template>
  <div class="page-container">
    <SchemaForm
      ref="queryFormRef"
      class="bg-white dark:bg-black mb-6px !pt-24px pr-24px grid-form-container"
      v-bind="formProps"
      @submit="search"
    >
    </SchemaForm>
    <div class="vxe-container bg-white dark:bg-black">
      <div class="toolbar">
        <Button v-if="$auth('manualMaintenance:general:add')" type="primary" @click="openModal">
          <PlusOutlined />
          新增
        </Button>
        <a-upload
          v-model:file-list="state.fileList"
          name="file"
          :action="state.actionUrl"
          :headers="state.headers"
          :show-upload-list="false"
          :data="state.uploadData"
          :max-count="1"
          :before-upload="beforeUpload"
          @change="handleChange"
        >
          <Button v-if="$auth('manualMaintenance:general:import')" type="primary"> 导入</Button>
        </a-upload>
        <Button
          v-if="$auth('manualMaintenance:general:export')"
          :loading="loading.export"
          @click="exportHandle"
        >
          导出
        </Button>
        <Button :loading="loading.load" @click="refresh"> 刷新</Button>
        <Button
          v-if="$auth('manualMaintenance:general:edit')"
          :loading="loading.save"
          @click="save"
        >
          保存
        </Button>
        <Button v-if="$auth('manualMaintenance:general:del')" :loading="loading.del" @click="del">
          删除
        </Button>
      </div>
      <vxe-grid ref="grid" v-bind="gridOptions" :height="tableHeight" :loading="loading.load">
        <template #pager>
          <!--使用 pager 插槽-->
          <vxe-pager
            v-model:current-page="state.currentPage"
            v-model:page-size="state.pageSize"
            :layouts="[
              'Sizes',
              'PrevJump',
              'PrevPage',
              'Number',
              'NextPage',
              'NextJump',
              'FullJump',
              'Total',
            ]"
            :page-sizes="[20, 50, 100, 200, 500]"
            :total="state.total"
            @page-change="handlePageChange"
          >
          </vxe-pager>
        </template>
        <template
          v-for="(item, index) in gridColumnSlots"
          #[item.config.flag]="{ row }"
          :key="index"
        >
          <component
            :is="item.config.tag"
            :key="index"
            v-bind="item.config"
            v-on="convertEvents(item, row, $message)"
            v-html="item.config.content"
          ></component>
        </template>
      </vxe-grid>
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { computed, onMounted, reactive, ref, nextTick, onUnmounted } from 'vue';
  import { debounce, isEmpty, isNil, toUpper } from 'lodash-es';
  import { QuestionCircleOutlined } from '@ant-design/icons-vue';
  import dayjs from 'dayjs';
  import { message as $message } from 'ant-design-vue/lib/components';
  import { Button, DatePicker, Input, Modal, Select, Upload } from 'ant-design-vue';
  import type { VxeGridProps } from 'vxe-table';
  import type { SchemaFormInstance } from '@/components/core/schema-form';
  import SchemaForm from '@/components/core/schema-form/src/schema-form.vue';
  import {
    delTableData,
    exportTableData,
    getTableConfig,
    saveTableData,
  } from '@/api/dataAdministration/form';
  import { useFormModal } from '@/hooks/useModal/useFormModal';
  import dict from '@/utils/dict';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { Storage } from '@/utils/Storage';
  import { useTabsViewStore } from '@/store/modules/tabsView';

  defineOptions({ name: 'ManualMaintenanceGeneralGrid' });

  const props = defineProps({
    configId: {
      type: String,
      default: '',
    },
  });
  const grid = ref('');
  const columns = reactive<any>([
    { type: 'checkbox', width: 50 },
    { type: 'seq', width: 50 },
  ]);
  const tableHeight = ref(400);
  const tabs = useTabsViewStore();

  const searchSchemas = reactive<any>([]);

  const formSchemas = reactive<any>([]);
  const gridColumnSlots = reactive<any>([]);

  const queryFormRef = ref<SchemaFormInstance>();
  const loading = reactive({
    save: false,
    del: false,
    load: false,
    export: false,
  });
  const rows = reactive<any>([]);
  const state = reactive({
    fileList: [],
    actionUrl: `${process.env.VUE_APP_BASE_API}p/tableConfig/import/data`,
    // actionUrl: `http://localhost:9090/obei-data-supervision/p/import/material`,
    headers: {
      Authorization: Storage.get(ACCESS_TOKEN_KEY),
      Authentication: Storage.get(ACCESS_TOKEN_KEY),
    },
    uploadData: {
      id: props.configId,
    },
    total: 0,
    currentPage: 1,
    pageSize: 100,
    formRules: {},
  });
  const [showModal] = useFormModal();

  const openModal = async () => {
    await showModal<any>({
      modalProps: {
        title: `新增`,
        width: '50%',
        onFinish: async (values) => {
          grid?.value.insert(values);
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: formSchemas,
      },
    });
  };

  const formProps = computed(() => {
    return {
      schemas: searchSchemas,
      labelWidth: 120,
      actionColOptions: { span: 24 },
      autoAdvancedLine: 1,
    };
  });

  const exportHandle = async () => {
    loading.export = true;
    await exportTableData(params(), `${tabs.getCurrentTab?.meta.title}.xlsx`);
    loading.export = false;
  };
  const gridOptions = reactive<VxeGridProps<any>>({
    border: true,
    showOverflow: true,
    keepSource: true,
    // rowConfig: {
    //   height: 34,
    // },
    resizable: true,
    headerRowClassName: 'my-header',
    cellClassName: 'my-cell',
    toolbarConfig: {
      custom: false,
    },
    columns,
    data: rows,
    editConfig: {
      trigger: 'click',
      mode: 'cell',
    },
    editRules: {},
  });
  const handlePageChange: VxePagerEvents.PageChange = ({ currentPage, pageSize }) => {
    state.currentPage = currentPage;
    state.pageSize = pageSize;
    loadForm();
  };

  const save = debounce(async () => {
    const errMap = await grid?.value.fullValidate(true);
    if (errMap) {
      console.log('grid?.value.fullValidate', errMap);
    } else {
      loading.save = true;
      const { tableData } = grid?.value.getTableData();
      // console.log(222, tableData);
      const temps: any = [];
      tableData.forEach((item) => {
        // Object.keys(item).forEach((key) => {
        //   const col = columns.find((x) => x.columnName === key);
        //   if (!isNil(col) && col.columnType === 'DatePicker' && !isEmpty(col.queryType)) {
        //     item[key] = dayjs(item[key]).format(toUpper(col.queryType));
        //   }
        // });
        temps.push(item);
      });
      await saveTableData(props.configId, temps);

      await loadForm();

      loading.save = false;
    }
  }, 500);
  const del = async () => {
    const rows = grid?.value.getCheckboxRecords(false);
    if (rows.length > 0) {
      Modal.confirm({
        title: '您确定要删除吗？',
        icon: <QuestionCircleOutlined />,
        centered: true,
        onOk: async () => {
          const ids: any = [];
          rows.forEach((x) => {
            if (Object.hasOwn(x, 'ID') && !isNil(x.ID)) {
              ids.push(x.ID);
            }
          });
          if (ids.length > 0) {
            loading.del = true;
            const r = await delTableData(props.configId, ids);
            if (r.success) {
              grid?.value.remove(rows);
            }
            loading.del = false;
          } else {
            grid?.value.remove(rows);
          }
        },
      });
    }
  };
  const refresh = () => {
    loadForm();
  };
  const search = async () => {
    loadForm();
  };

  const params = () => {
    const filters: any = [];
    const values: any = queryFormRef.value?.formModel;
    if (!isNil(values)) {
      Object.keys(values).forEach((key) => {
        const column = columns.find((c) => c.columnName === key);
        if (!isNil(column)) {
          const v = values[key];
          if (!isEmpty(v)) {
            let vs: any = [];
            let columnType = '';
            if (column.columnType === 'DatePicker') {
              if (!isEmpty(v)) {
                vs = [dayjs(v).format(toUpper(column.queryType))];
              }
              columnType = '3';
            } else {
              vs = [v];
            }
            filters.push({
              columnName: key,
              filterType: column.columnType === 'text' ? 'like' : '=',
              columnType,
              values: vs,
            });
          }
        }
      });
    }
    return { id: props.configId, filters, pageSize: state.pageSize, pageNum: state.currentPage };
  };

  const beforeUpload = (file) => {
    let flag = true;
    const FileExt = file.name.replace(/.+\./, '');
    if (['xlsx', 'xls'].indexOf(FileExt.toLowerCase()) === -1) {
      $message.warning('请上传后缀名为.xls, .xlsx的文件！');
      flag = false;
      return Upload.LIST_IGNORE;
    }
    return flag;
  };

  const handleChange = (info) => {
    if (info.fileList && info.fileList.length > 0 && info.fileList[0].response) {
      if (info.fileList[0].response.code == 'OK' && info.fileList[0].response.success) {
        $message.success('导入成功');
      } else {
        $message.error(info.fileList[0].response.message || '导入失败');
      }
    }
  };
  const convertVxeType = (column: any) => {
    let type = '$input';
    const props: any = {};
    let options: any = [];
    if (column.columnType === 'InputTextArea') {
      type = 'textarea';
    } else if (column.columnType === 'InputNumber') {
      type = '$input';
      props.type = 'number';
      // } else if (columnType === 'Select') {
      //   type = 'date';
      // } else if (columnType === 'Checkbox') {
      //   type = 'date';
    } else if (column.columnType === 'DatePicker') {
      type = '$input';
      props.valueFormat = column.converter; //没啥用
      props.labelFormat = column.converter;
      props.type = convertColDateType(column);
    } else if (column.columnType === 'Select') {
      type = '$select';
      props.clearable = true;
      options = dict.getKeyValueByDictCode(column.dictCode);
    }
    return { type, props, options };
  };

  const convertColDateType = (column: any) => {
    let type = 'date';
    if (column.converter === 'yyyyMM') {
      type = 'month';
    } else if (column.converter === 'yyyy') {
      type = 'year';
    }
    return type;
  };

  const convertQueryDateType = (column: any) => {
    let type = 'date';
    if (column.queryType === 'yyyyMM') {
      type = 'month';
    } else if (column.queryType === 'yyyy') {
      type = 'year';
    }
    return type;
  };

  const buildFormItem = (column: any) => {
    const item = Object.assign({}, column, {
      field: column.columnName,
      label: column.columnCname,
      component: ({ formModel, field }) => {
        return <Input v-model={formModel[field]} placeholder="请输入" />;
      },
      colProps: {
        span: 12,
      },
      required: column.required === '1',
    });
    if (item.columnType === 'DatePicker') {
      const type = convertColDateType(item);
      if (item.converter != 'yyyyMM') {
        item.converter === 'yyyyMMdd';
      }
      item.component = ({ formModel, field }) => {
        if (item.queryMustInput == '1' && isNil(formModel[field])) {
          formModel[field] = dayjs().subtract(1, type);
        }
        return (
          <DatePicker v-model={formModel[field]} picker={type} format={toUpper(item.converter)} />
        );
      };
    } else if (item.columnType === 'InputTextArea') {
      item.component = ({ formModel, field }) => {
        return <a-textarea v-model={formModel[field]} />;
      };
    } else if (item.columnType === 'Select') {
      const items = dict.getItemsByDictCode(item.dictCode);
      item.component = ({ formModel, field }) => {
        return (
          <Select
            v-model={formModel[field]}
            options={items}
            fieldNames={{ label: 'itemText', value: 'itemValue' }}
            allowClear
          />
        );
      };
    }
    return item;
  };

  const buildSearchFormItem = (column: any) => {
    const item = Object.assign({}, column, {
      field: column.columnName,
      label: column.columnCname,
      component: ({ formModel, field }) => {
        return <Input v-model={formModel[field]} placeholder="请输入" />;
      },
      colProps: {
        span: 6,
      },
    });
    delete item.required;
    if (item.columnType === 'DatePicker') {
      const type = convertQueryDateType(item);
      if (item.queryType != 'yyyyMM') {
        item.queryType === 'yyyyMMdd';
      }
      item.component = ({ formModel, field }) => {
        if (item.queryMustInput == '1' && isNil(formModel[field])) {
          formModel[field] = dayjs().subtract(1, type);
        }
        return (
          <DatePicker v-model={formModel[field]} picker={type} format={toUpper(item.queryType)} />
        );
      };
    } else if (item.columnType === 'InputTextArea') {
      item.component = ({ formModel, field }) => {
        return <a-textarea v-model={formModel[field]} />;
      };
    } else if (item.columnType === 'Select') {
      const items = dict.getItemsByDictCode(item.dictCode);
      item.component = ({ formModel, field }) => {
        return (
          <Select
            v-model={formModel[field]}
            allowClear
            options={items}
            fieldNames={{ label: 'itemText', value: 'itemValue' }}
          />
        );
      };
    }
    return item;
  };
  const loadForm = async () => {
    loading.load = true;
    const r = await getTableConfig(params());
    columns.length = 2;
    formSchemas.length = 0;
    searchSchemas.length = 0;
    gridColumnSlots.length = 0;
    rows.length = 0;
    await grid?.value.reloadData([]);
    if (r.success) {
      r.data.modelsDetailHeads.forEach((x) => {
        if (
          x.columnName != 'ID' &&
          x.columnName != 'UPDATE_BY' &&
          x.columnName != 'UPDATE_TIME' &&
          x.columnName != 'CREATE_BY' &&
          x.columnName != 'CREATE_TIME'
        ) {
          const formItem = buildFormItem(x);
          formSchemas.push(formItem);

          if (Object.hasOwn(x, 'isQuery') && x.isQuery === '1') {
            const searchFormItem = buildSearchFormItem(x);
            searchSchemas.push(searchFormItem);
          }

          const { type, props, options } = convertVxeType(x);
          const render = { name: type, props, enabled: x.isReadOnly === '0', options };
          Object.assign(x, {
            field: x.columnName,
            title: x.columnCname,
            editRender: render,
          });
          if (x.columnType === 'DatePicker') {
            x.formatter = ({ cellValue }) => {
              return !isNil(cellValue) && !isEmpty(cellValue)
                ? dayjs(cellValue).format(toUpper(x.converter))
                : '';
            };
          }
          //格式化
          if (Object.hasOwn(x, 'dictCode') && !isEmpty(x['dictCode'])) {
            x.formatter = ({ cellValue }) => {
              const obj = dict.getValue(x['dictCode'], cellValue);
              // console.log(11111111, obj);
              if (!isEmpty(obj)) {
                return obj.itemText;
              } else {
                return '-';
              }
            };
          }
          //表格列宽度
          if (null != x.fieldLength && x.fieldLength > 0) {
            Object.assign(x, {
              width: x.fieldLength,
            });
          }
          //表格列配置
          if (!isEmpty(x.config)) {
            const extJson = JSON.parse(x.config);
            const config = extJson.vxeColumnConfig;
            const temp = {};
            if (!isNil(config) && Object.hasOwn(config, 'slots')) {
              const slots = {};
              Object.keys(config.slots).forEach((key) => {
                Object.assign(slots, {
                  [`${key}`]: `${config.slots[key].config.flag}`,
                });
                gridColumnSlots.push(config.slots[key]);
              });
              Object.assign(temp, { slots });
            }
            Object.assign(x, temp);
          }
          columns.push(x);

          if (x.required === '1') {
            Object.assign(state.formRules, {
              [`${x.columnName}`]: [{ required: true, message: `${x.columnCname}必须填写` }],
            });
          }
        }
      });
      r.data.modelList.forEach((x) => {
        rows.push(x);
      });
      state.total = r.total;

      //表格配置
      convertVxeTableConfig(r);
    }
    loading.load = false;
    await nextTick();
    redoHeight();
  };


  const convertEvents = (item, row, message) => {
    const temp = {};
    Object.keys(item.events).forEach((x) => {
      temp[x] = eval(item.events[x]);
    });
    return temp;
  };

  const convertVxeTableConfig = (r) => {
    const extJson = JSON.parse(r.data.onlCgformHead?.extConfigJson);
    const ve = extJson.vxeTableConfig;
    if (!isNil(ve)) {
      //行编辑是否可行
      if (Object.keys(ve.editConfig).includes('beforeEditMethod')) {
        ve.editConfig.beforeEditMethod = eval(ve.editConfig.beforeEditMethod);
      }

      //校验规则
      const vs = ve.validRules;
      if (!isNil(vs)) {
        Object.keys(vs).forEach((x) => {
          vs[x].forEach((y) => {
            if (Object.hasOwn(y, 'validator')) {
              y.validator = eval(y.validator);
            }
          });
        });
      }
      Object.assign(vs, state.formRules);

      //注册操作列
      if (!isNil(ve.slots)) {
        if (
          !isNil(ve.slots.operateColumn) &&
          !isNil(ve.slots.operateColumn.slots) &&
          !isNil(ve.slots.operateColumn.slots.defaultSlots)
        ) {
          const opColumn = Object.assign({}, ve.slots.operateColumn);

          const ops = ve.slots.operateColumn.slots.defaultSlots;
          opColumn.slots.default = ({ row }) => {
            if (isActiveStatus(row)) {
              return (
                <vxe-button
                  type={ops[1].type}
                  icon={ops[1].icon}
                  onClick={eval(ops[1].onClick)}
                ></vxe-button>
              );
            } else {
              return (
                <vxe-button
                  type={ops[0].type}
                  icon={ops[0].icon}
                  onClick={eval(ops[0].onClick)}
                ></vxe-button>
              );
            }
          };
          delete opColumn.slots.defaultSlots;
          columns.push(opColumn);
        }
      }

      Object.assign(gridOptions, ve, { editRules: vs });
      console.log(1111, gridOptions, gridColumnSlots);
    }
  };
  const isActiveStatus = (row) => {
    const $table = grid?.value;
    if ($table) {
      return $table.isEditByRow(row);
    }
  };

  const redoHeight = () => {
    nextTick(() => {
      const layoutHeight = document.getElementsByClassName('ant-layout-content')[0]?.clientHeight;
      const tabsHeight = document.getElementsByClassName('tabs')[0]?.clientHeight;
      const gridFormContainerHeight =
        document.getElementsByClassName('grid-form-container')[0]?.clientHeight;
      const toolbarHeight = document.getElementsByClassName('toolbar')[0]?.clientHeight;

      tableHeight.value =
        layoutHeight - tabsHeight - gridFormContainerHeight - toolbarHeight - 32 || 400;
    });
  };
  onMounted(async () => {
    await loadForm().then(() => {
      //第二次调用是为了加载查询条件
      refresh();
    });
    await nextTick();
    redoHeight();
    window.addEventListener('resize', redoHeight);
  });

  onUnmounted(() => {
    window.removeEventListener('resize', redoHeight);
  });
</script>

<style scoped lang="less">
  .page-container {
    .vxe-container {
      padding: 10px;
    }

    /deep/ .ant-form-item {
      margin: 0 0 12px;
    }

    .toolbar {
      text-align: right;

      button {
        margin-left: 10px;
      }
    }

    ///deep/.my-header {
    //  height: 34px !important;
    //  .vxe-header--column {
    //    padding: 6px 0;
    //    font-weight: 500;
    //  }
    //}
    ///deep/.my-cell {
    //  .vxe-default-input {
    //    height: 25px !important;
    //  }
    //}
  }
</style>
