<template>
  <a-row v-if="props.conditionalmonth !== '设备品类中心'" :gutter="[16, 10]">
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 500px">
        <p class="title"
          >重要物料抽检计划完成率<edit-outlined
            clsss="editOut"
            @click="showV(2023042613587111, zl01.columns, props.conditionalmonth)"
        /></p>
        <MergeTable
          :filter="filterData"
          :widget-id="2023042613587111"
          :has-header="false"
          :data-list="zl01.dataSource"
          :column-list="zl01.columns"
          :column-groups="zl01.columnGroups"
          :formatter="tableStyle.formatter"
          :cell-color="regionalTableStyle.cellColor"
          :scroll="{ y: 340 }"
          @cellClicked="onzl01Clicked"
          @cutomHeaderRow="zl01OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <div class="blockstyle" style="height: 500px">
        <p class="title">{{ zl01.BUS_DEPT_NAME }}趋势图</p>
        <div style="height: 440px">
          <StackedColumnFoldMixedChart
            ref="echartresize1"
            :legendone="zlechart01.chart"
            :x-axis="zlechart01.xAxis"
            :y-axis="zlechart01.yAxis"
            :series="zlechart01.series"
          />
        </div>
      </div>
    </a-col>
  </a-row>
  <a-row v-if="props.conditionalmonth !== '设备品类中心'" :gutter="[16, 10]">
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 500px">
        <p class="title"
          >重要物料抽检一次合格率<edit-outlined
            clsss="editOut"
            @click="showV(2023042415381160, zl02.columns, props.conditionalmonth)"
        /></p>
        <MergeTable
          :widget-id="2023042415381160"
          :filter="filterData"
          :has-header="false"
          :data-list="zl02.dataSource"
          :column-list="zl02.columns"
          :column-groups="zl02.columnGroups"
          :formatter="tableStyle.formatter"
          :cell-color="regionalTableStyle.cellColor"
          :scroll="{ y: 340 }"
          @cellClicked="onzl02Clicked"
          @cutomHeaderRow="zl02OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <div class="blockstyle" style="height: 500px">
        <p class="title">{{ zl02.BUS_DEPT_NAME }}趋势图</p>
        <div style="height: 440px">
          <StackedColumnFoldMixedChart
            ref="echartresize2"
            :legendone="zlechart02.chart"
            :x-axis="zlechart02.xAxis"
            :y-axis="zlechart02.yAxis"
            :series="zlechart02.series"
          />
        </div>
      </div>
    </a-col>
  </a-row>
  <a-row :gutter="[16, 10]">
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 500px">
        <p class="title"
          >质量异议30天处理率<edit-outlined
            clsss="editOut"
            @click="showV(2023042713581111, zl03.columns, props.conditionalmonth)"
        /></p>
        <MergeTable
          :widget-id="2023042713581111"
          :filter="filterData"
          :has-header="false"
          :data-list="zl03.dataSource"
          :column-list="zl03.columns"
          :column-groups="zl03.columnGroups"
          :formatter="tableStyle.formatter"
          :cell-color="regionalTableStyle.cellColor"
          :scroll="{ y: 280 }"
          @cellClicked="onzl03Clicked"
          @cutomHeaderRow="zl03OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <div class="blockstyle" style="height: 500px">
        <p class="title">{{ zl03.BUS_DEPT_NAME }}趋势图</p>
        <div style="height: 440px">
          <StackedColumnFoldMixedChart
            ref="echartresize3"
            :legendone="zlechart03.chart"
            :x-axis="zlechart03.xAxis"
            :y-axis="zlechart03.yAxis"
            :series="zlechart03.series"
          />
        </div>
      </div>
    </a-col>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="blockstyle sbstyle" style="height: 500px">
          <p class="title">
            用户提出质量异议情况
            <edit-outlined
              clsss="editOut"
              @click="showV(2023053117101113, zl04.columns, props.conditionalmonth)"
          /></p>
          <MergeTable
            :widget-id="2023053117101113"
            :filter="filterData"
            :has-header="false"
            :data-list="zl04.dataSource"
            :column-list="zl04.columns"
            :column-groups="zl04.columnGroups"
            :formatter="tableStyle.formatter"
            :scroll="{ y: 340 }"
            @cutomHeaderRow="zl04OnClickModal"
          />
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </a-row>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart } from '../echartsmodal';
  import { MergeTable } from '@/components/business';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import { queryAggregate, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import TransCharts from '@/views/strategyTracking/modulefile/components/transCharts';
  import regionalTableStyle from '@/views/strategyTracking/modulefile/components/regionalTableStyle';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  import dataType from '@/views/strategyTracking/businesstracking/overviewpage/js/dataType';
  import { useUserStore } from '@/store/modules/user';
  const userStore = useUserStore();
  defineOptions({
    name: 'RegionalcenterZlPage',
    inheritAttrs: false,
  });
  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const filterData = ref({});
  const props = defineProps({
    conditionalmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    month: {
      type: String,
      default: () => {
        return '';
      },
    },
  });

  const Initialloading = () => {
    nextTick(() => {
      filterData.value.area = props.conditionalmonth;
      zl01dataSource();
      zl02dataSource();
      zl04dataSource();
      zl03dataSource();
    });
  };
  defineExpose({
    Initialloading,
  });

  const zl01 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月',
        children: ['CURMONTH_TOTAL', 'CURMONTH_NOT_NUM', 'CURMONTH_PRFM'],
      },
      {
        title: '累计',
        children: ['CURYEAR_TOTAL', 'CURYEAR_NOT_NUM', 'CURYEAR_PRFM'],
      },
    ],
    columns: [
      {
        title: '部门',
        dataIndex: 'BUS_DEPT_NAME',
        key: 'BUS_DEPT_NAME',
        width: '15%',
        ellipsis: false,
      },
      {
        title: '目标',
        dataIndex: 'INDICATOR_MONTHLY_TARGET',
        key: 'INDICATOR_MONTHLY_TARGET',
        formatter: 'rate3',
      },
      { title: '上月完成率', dataIndex: 'UP_MONTH_PRFM', key: 'UP_MONTH_PRFM', formatter: 'rate3' },
      { title: '应检数', dataIndex: 'CURMONTH_TOTAL', key: 'CURMONTH_TOTAL', formatter: 'rate5' },
      {
        title: '未检数',
        dataIndex: 'CURMONTH_NOT_NUM',
        key: 'CURMONTH_NOT_NUM',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'CURMONTH_PRFM',
        key: 'CURMONTH_PRFM',
        formatter: 'rate3',
        mergeColumn: 'INDICATOR_MONTHLY_TARGET,CURMONTH_PRFM',
        emphasisColor: 'colorzl01one',
        after: 'CURMONTH_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      { title: '应检数', dataIndex: 'CURYEAR_TOTAL', key: 'CURYEAR_TOTAL', formatter: 'rate5' },
      { title: '未检数', dataIndex: 'CURYEAR_NOT_NUM', key: 'CURYEAR_NOT_NUM', formatter: 'rate5' },
      {
        title: '完成率',
        dataIndex: 'CURYEAR_PRFM',
        key: 'CURYEAR_PRFM',
        formatter: 'rate3',
        mergeColumn: 'INDICATOR_MONTHLY_TARGET,CURYEAR_PRFM',
        emphasisColor: 'colorzl01two',
        after: 'CURYEAR_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
    BUS_DEPT_NAME: '',
  });
  const zl01OnClickModal = (callback) => {
    callback('重要物料抽检计划完成率');
  };
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      zl01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    zl01.columnKeyList = res2.data;
  };
  const zl01dataSource = async () => {
    await search1(2023042613587111, props.conditionalmonth);
    queryAggregate(
      dataType.parameter2(
        'BIG_ZONE_NAME',
        props.conditionalmonth,
        2023042613587111,
        'YM',
        props.month,
      ),
    ).then((result) => {
      const dataMap = result.data['2023042613587111'].dataMap;
      zl01.dataSource = Transformer.toTableData3(
        result.data,
        '2023042613587111',
        zl01.keyColumnNameList,
        zl01.columnKeyList,
      );
      zl01.BUS_DEPT_NAME = dataMap.BUS_DEPT_NAME[dataMap.BUS_DEPT_NAME.length - 1];
      getzlechart01();
    });
  };
  const onzl01Clicked = (record) => {
    zl01.BUS_DEPT_NAME = record.BUS_DEPT_NAME;
    getzlechart01();
  };
  const zlechart01 = reactive({
    chart: ['目标', '实绩'],
    xAxis: [],
    yAxis: [{ min: 50, max: 100 }],
    series: [],
  });
  const echartresize1 = ref();
  const getzlechart01 = () => {
    queryAggregate(
      dataType.parameter4(
        'YM',
        props.month,
        2023042613587112,
        'BIG_ZONE_NAME',
        props.conditionalmonth,
        'BUS_DEPT_NAME',
        zl01.BUS_DEPT_NAME,
      ),
    ).then((result) => {
      const dataMap = result.data[2023042613587112].dataMap;
      console.log(dataMap);
      zlechart01.xAxis = dataMap.YM;
      zlechart01.series = TransCharts.echartsSeries1(
        dataMap.INDICATOR_MONTHLY_TARGET,
        dataMap.CURMONTH_PRFM,
      );
    });
    echartresize1.value.Refresh();
  };

  const zl02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月',
        children: [
          'CURMONTH_FIRST_CHK_TOTAL',
          'CURMONTH_FIRST_CHK_UNQUALIFIED_NUM',
          'CURMONTH_FIRST_CHK_QUALIFIED_RATE',
        ],
      },
      {
        title: '累计',
        children: [
          'CURYEAR_FIRST_CHK_TOTAL',
          'CURYEAR_FIRST_CHK_UNQUALIFIED_NUM',
          'CURYEAR_FIRST_CHK_QUALIFIED_RATE',
        ],
      },
    ],
    columns: [
      {
        title: '部门',
        dataIndex: 'BUS_DEPT_NAME',
        key: 'BUS_DEPT_NAME',
        width: '15%',
        ellipsis: false,
      },
      {
        title: '目标',
        dataIndex: 'INDICATOR_MONTHLY_TARGET',
        key: 'INDICATOR_MONTHLY_TARGET',
        formatter: 'rate3',
      },
      {
        title: '上月合格率',
        dataIndex: 'UP_MONTH_FIRST_CHK_QUALIFIED_RATE',
        key: 'UP_MONTH_FIRST_CHK_QUALIFIED_RATE',
        formatter: 'rate3',
      },
      {
        title: '检验总数',
        dataIndex: 'CURMONTH_FIRST_CHK_TOTAL',
        key: 'CURMONTH_FIRST_CHK_TOTAL',
        formatter: 'rate5',
      },
      {
        title: '不合格数',
        dataIndex: 'CURMONTH_FIRST_CHK_UNQUALIFIED_NUM',
        key: 'CURMONTH_FIRST_CHK_UNQUALIFIED_NUM',
        formatter: 'rate5',
      },
      {
        title: '合格率',
        dataIndex: 'CURMONTH_FIRST_CHK_QUALIFIED_RATE',
        key: 'CURMONTH_FIRST_CHK_QUALIFIED_RATE',
        formatter: 'rate3',
        mergeColumn: 'INDICATOR_MONTHLY_TARGET,CURMONTH_FIRST_CHK_QUALIFIED_RATE',
        emphasisColor: 'colorzl02one',
        after: 'CURMONTH_FIRST_CHK_QUALIFIED_RATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '检验总数',
        dataIndex: 'CURYEAR_FIRST_CHK_TOTAL',
        key: 'CURYEAR_FIRST_CHK_TOTAL',
        formatter: 'rate5',
      },
      {
        title: '不合格数',
        dataIndex: 'CURYEAR_FIRST_CHK_UNQUALIFIED_NUM',
        key: 'CURYEAR_FIRST_CHK_UNQUALIFIED_NUM',
        formatter: 'rate5',
      },
      {
        title: '合格率',
        dataIndex: 'CURYEAR_FIRST_CHK_QUALIFIED_RATE',
        key: 'CURYEAR_FIRST_CHK_QUALIFIED_RATE',
        formatter: 'rate3',
        mergeColumn: 'INDICATOR_MONTHLY_TARGET,CURYEAR_FIRST_CHK_QUALIFIED_RATE',
        emphasisColor: 'colorzl02two',
        after: 'CURYEAR_FIRST_CHK_QUALIFIED_RATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
    BUS_DEPT_NAME: '',
  });
  const zl02OnClickModal = (callback) => {
    callback('重要物料抽检一次合格率');
  };
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      zl02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    zl02.columnKeyList = res2.data;
  };
  const zl02dataSource = async () => {
    await search2(2023042415381160, props.conditionalmonth);
    queryAggregate(
      dataType.parameter2('AREA_NAME', props.conditionalmonth, 2023042415381160, 'YM', props.month),
    ).then((result) => {
      const dataMap = result.data['2023042415381160'].dataMap;
      zl02.dataSource = Transformer.toTableData3(
        result.data,
        '2023042415381160',
        zl02.keyColumnNameList,
        zl02.columnKeyList,
      );
      zl02.BUS_DEPT_NAME = dataMap.BUS_DEPT_NAME[dataMap.BUS_DEPT_NAME.length - 1];
      getzlechart02();
    });
  };
  const onzl02Clicked = (record) => {
    zl02.BUS_DEPT_NAME = record.BUS_DEPT_NAME;
    getzlechart02();
  };
  const zlechart02 = reactive({
    chart: ['目标', '实绩'],
    xAxis: [],
    yAxis: [{ min: 90, max: 100 }],
    series: [],
  });
  const echartresize2 = ref();
  const getzlechart02 = () => {
    queryAggregate(
      dataType.parameter4(
        'YM',
        props.month,
        2023042415571260,
        'AREA_NAME',
        props.conditionalmonth,
        'BUS_DEPT_NAME',
        zl02.BUS_DEPT_NAME,
      ),
    ).then((result) => {
      const dataMap = result.data[2023042415571260].dataMap;
      zlechart02.xAxis = dataMap.YM;
      zlechart02.series = TransCharts.echartsSeries1(
        dataMap.INDICATOR_MONTHLY_TARGET,
        dataMap.CURMONTH_FIRST_CHK_QUALIFIED_RATE,
      );
    });
    echartresize2.value.Refresh();
  };

  const zl03 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月',
        children: ['CURMONTH_TOTAL', 'CURMONTH_NUM', 'CURMONTH_AMT', 'CURMONTH_PRFM'],
      },
      {
        title: '累计',
        children: ['CURYEAR_TOTAL', 'CURYEAR_NUM', 'CURYEAR_AMT', 'CURYEAR_PRFM'],
      },
    ],
    columns: [
      { title: '部门', dataIndex: 'BUS_DEPT_NAME', key: 'BUS_DEPT_NAME', ellipsis: false },
      {
        title: '目标',
        dataIndex: 'INDICATOR_MONTHLY_TARGET',
        key: 'INDICATOR_MONTHLY_TARGET',
        formatter: 'rate3',
      },
      {
        title: '上月异议30天处理率',
        dataIndex: 'UP_MONTH_PRFM',
        key: 'UP_MONTH_PRFM',
        formatter: 'rate3',
      },
      { title: '发生数', dataIndex: 'CURMONTH_TOTAL', key: 'CURMONTH_TOTAL', formatter: 'rate5' },
      { title: '处理数', dataIndex: 'CURMONTH_NUM', key: 'CURMONTH_NUM', formatter: 'rate5' },
      { title: '涉及金额', dataIndex: 'CURMONTH_AMT', key: 'CURMONTH_AMT', formatter: 'rate5' },
      {
        title: '异议30天处理率',
        dataIndex: 'CURMONTH_PRFM',
        key: 'CURMONTH_PRFM',
        formatter: 'rate3',
        mergeColumn: 'INDICATOR_MONTHLY_TARGET,CURMONTH_PRFM',
        emphasisColor: 'colorzl03one',
        after: 'CURMONTH_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      { title: '发生数', dataIndex: 'CURYEAR_TOTAL', key: 'CURYEAR_TOTAL', formatter: 'rate5' },
      { title: '处理数', dataIndex: 'CURYEAR_NUM', key: 'CURYEAR_NUM', formatter: 'rate5' },
      { title: '涉及金额', dataIndex: 'CURYEAR_AMT', key: 'CURYEAR_AMT', formatter: 'rate5' },
      {
        title: '异议30天处理率',
        dataIndex: 'CURYEAR_PRFM',
        key: 'CURYEAR_PRFM',
        formatter: 'rate3',
        mergeColumn: 'INDICATOR_MONTHLY_TARGET,CURYEAR_PRFM',
        emphasisColor: 'colorzl03two',
        after: 'CURYEAR_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
    BUS_DEPT_NAME: '',
  });
  const search3 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      zl03.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    zl03.columnKeyList = res2.data;
  };
  const zl03dataSource = async () => {
    await search3(2023042713581111, props.conditionalmonth);
    queryAggregate(
      dataType.parameter2(
        'BIG_ZONE_NAME',
        props.conditionalmonth,
        2023042713581111,
        'YM',
        props.month,
      ),
    ).then((result) => {
      const dataMap = result.data['2023042713581111'].dataMap;
      zl03.dataSource = Transformer.toTableData3(
        result.data,
        '2023042713581111',
        zl03.keyColumnNameList,
        zl03.columnKeyList,
      );
      zl03.BUS_DEPT_NAME = dataMap.BUS_DEPT_NAME[dataMap.BUS_DEPT_NAME.length - 1];
      getzlechart03();
    });
  };
  const zl03OnClickModal = (callback) => {
    callback('质量异议30天处理率');
  };
  const onzl03Clicked = (record) => {
    zl03.BUS_DEPT_NAME = record.BUS_DEPT_NAME;
    getzlechart03();
  };
  const zlechart03 = reactive({
    chart: ['目标', '实绩'],
    xAxis: [],
    yAxis: [{ min: 90, max: 100 }],
    series: [],
  });
  const echartresize3 = ref();
  const getzlechart03 = () => {
    queryAggregate(
      dataType.parameter4(
        'YM',
        props.month,
        2023042713581112,
        'BIG_ZONE_NAME',
        props.conditionalmonth,
        'BUS_DEPT_NAME',
        zl03.BUS_DEPT_NAME,
      ),
    ).then((result) => {
      const dataMap = result.data[2023042713581112].dataMap;
      zlechart03.xAxis = dataMap.YM;
      zlechart03.series = TransCharts.echartsSeries1(
        dataMap.INDICATOR_MONTHLY_TARGET,
        dataMap.CURMONTH_PRFM,
      );
    });
    echartresize3.value.Refresh();
  };

  const zl04 = reactive({
    dataSource: [],
    columns: [
      { title: '提出单位', dataIndex: 'BUS_DEPT_NAME', key: 'BUS_DEPT_NAME', ellipsis: false },
      { title: '异议单号', dataIndex: 'QLTY_DISSENT_LIST_NO', key: 'QLTY_DISSENT_LIST_NO' },
      { title: '物料名称', dataIndex: 'MAT_NAME', key: 'MAT_NAME' },
      { title: '异议原因', dataIndex: 'DISSENT_REASON', key: 'DISSENT_REASON', width: '20%' },
      {
        title: '异议金额',
        dataIndex: 'QLTY_DISSENT_AMT',
        key: 'QLTY_DISSENT_AMT',
        formatter: 'rate5',
      },
      { title: '供应商', dataIndex: 'SUPPLIER_NAME', key: 'SUPPLIER_NAME' },
      { title: '处理方式', dataIndex: 'PROC_MODE_NAME', key: 'PROC_MODE_NAME' },
      { title: '目前状态', dataIndex: 'QLTY_DISSENT_STATUS_NAME', key: 'QLTY_DISSENT_STATUS_NAME' },
      { title: '审批日期', dataIndex: 'APPROVE_DATE', key: 'APPROVE_DATE' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const zl04OnClickModal = (callback) => {
    callback('用户提出质量异议情况');
  };
  const search4 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      zl04.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    zl04.columnKeyList = res2.data;
  };
  const zl04dataSource = async () => {
    await search4(2023053117101113, props.conditionalmonth);
    queryAggregate(
      dataType.parameter2(
        'BIG_ZONE_NAME',
        props.conditionalmonth,
        2023053117101113,
        'YM',
        props.month,
      ),
    ).then((result) => {
      zl04.dataSource = Transformer.toTableData3(
        result.data,
        '2023053117101113',
        zl04.keyColumnNameList,
        zl04.columnKeyList,
      );
    });
  };

  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
</script>

<style lang="less" scoped>
  .blockstyle {
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .title {
    font-family: @font-family;
    font-size: 1.3vw;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
</style>
