<template>
  <div>
    <EBay
      v-if="indexNav[0].show"
      ref="ebaypage"
      :yearmonth="props.yearMonth"
      :dep-data="props.depData"
    />
    <EasySell
      v-if="indexNav[1].show"
      ref="easysell"
      :year-month="props.yearMonth"
      :dep-data="props.depData"
    />
    <ZeroCarbon
      v-if="indexNav[2].show"
      ref="zerocarbon"
      :year-month="props.yearMonth"
      :dep-data="props.depData"
    />
    <MallCenter
      v-if="indexNav[3].show"
      ref="mallstor"
      :year-month="props.yearMonth"
      :dep-data="props.depData"
    />
    <CloudLibrary
      v-if="indexNav[4].show"
      ref="cloudlibrary"
      :yearmonth="props.yearMonth"
      :dep-data="props.depData"
    />
    <Priorities
      v-if="indexNav[5].show"
      ref="priorities"
      :overmonth="props.yearMonth"
      :conditionalmonth="'欧贝业务部门' + props.depData"
    />
    <MeetingMaterials
      v-if="indexNav[6].show"
      ref="meeting"
      :yearmonth="props.yearMonth"
      :dep-data="props.depData"
    />
  </div>
</template>

<script setup lang="ts">
  import { watch, reactive, nextTick, ref } from 'vue';
  import {
    EBay,
    MallCenter,
    ZeroCarbon,
    EasySell,
    CloudLibrary,
    MeetingMaterials,
  } from '../alldepartment';

  import Priorities from './publicpage/Priorities.vue';

  defineOptions({
    name: 'DepartTab',
    inheritAttrs: false,
  });

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
    deptab: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      queryclick();
    },
  );
  watch(
    () => props.depData,
    () => {
      queryclick();
    },
  );
  watch(
    () => props.deptab,
    (c) => {
      getActive(c);
      queryclick();
    },
  );

  const indexNav = reactive([
    { name: '欧贝易购', show: true },
    { name: '欧贝易销', show: false },
    { name: '欧贝零碳', show: false },
    { name: '欧贝商城', show: false },
    { name: '欧贝云库', show: false },
    { name: '重点事项', show: false },
    { name: '会议材料', show: false },
  ]);

  const getActive = (data) => {
    for (let i = 0; i < indexNav.length; i++) {
      if (indexNav[i].name == data) {
        indexNav[i].show = true;
      } else {
        indexNav[i].show = false;
      }
    }
  };

  const ebaypage = ref();
  const mallstor = ref();
  const cloudlibrary = ref();
  const zerocarbon = ref();
  const easysell = ref();
  const priorities = ref();
  const meeting = ref();
  const queryclick = () => {
    nextTick(() => {
      if (props.deptab == '欧贝易购') {
        ebaypage.value.ygInitialloading();
      } else if (props.deptab == '欧贝易销') {
        easysell.value.easysellAll();
      } else if (props.deptab == '欧贝零碳') {
        zerocarbon.value.carbonAll();
      } else if (props.deptab == '欧贝商城') {
        mallstor.value.mallCenter();
      } else if (props.deptab == '欧贝云库') {
        cloudlibrary.value.ykInitialloading();
      } else if (props.deptab == '重点事项') {
        priorities.value.select1();
      } else if (props.deptab == '会议材料') {
        meeting.value.meetingAll();
      }
    });
  };
</script>

<style lang="less" scoped></style>
