<template>
  <div class="menus-panel">
    <a-row justify="space-around">
      <a-col v-for="(item, index) in state.menusImages" :key="index" class="menu-item" :span="4">
        <div v-if="$auth(item.auth)" class="menu-item-button" @click="onMenuClick(item.url)"
          ><img :src="`${baseUrl}static/images/home/${item.img}`" /><span>{{
            item.title
          }}</span></div
        >
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, ref } from 'vue';
  import { useRouter } from 'vue-router';
  import { isEmpty } from 'lodash-es';
  import { message } from 'ant-design-vue';
  defineOptions({
    name: 'Menus',
  });
  const router = useRouter();
  const baseUrl = ref(`${process.env.BASE_URL}`);
  const state = reactive<any>({
    menusImages: [
      // {
      //   img: '1.png',
      //   url: '/goalManage/def/index',
      //   auth: 'rule:targetMGT',
      //   title: '目标管理',
      // },
      {
        img: '1.png',
        url: '/orgPerList/perList',
        auth: 'rule:performanceMGT',
        title: '绩效方案',
      },
      {
        img: '2.png',
        url: '',
        auth: 'rule:trackMGT',
        title: '绩效档案',
      },

      {
        img: '3.png',
        url: '/realPerList/realPerData/realPerDataView',
        auth: 'rule:realPerformanceMGT',
        title: '绩效填报',
      },
      {
        img: '4.png',
        url: '/perAppraisal',
        auth: 'rule:assessmentMGT',
        title: '绩效考核',
      },

      // {
      //   img: '6.png',
      //   url: '/perScreen',
      //   auth: 'rule:dialogueMGT',
      //   title: '绩效对话会',
      // },
    ],
  });
  const onMenuClick = (url) => {
    if (!isEmpty(url)) {
      router.push(url);
    } else {
      message.warn('未配置菜单路径');
    }
  };
</script>

<style scoped lang="less">
  .menus-panel {
    border: 1px solid #e8eaec;
    background-color: #fff;
    .menu-item {
      display: flex;
      align-items: center;
      justify-content: center;
      .menu-item-button {
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        img {
          width: 60px;
          cursor: pointer;
          margin-bottom: 10px;
        }
        span {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
</style>
