<template>
  <div class="page-container">
    <DynamicTable
      ref="baseProduction"
      row-key="id"
      header-title="指标家族物料维护表"
      :data-request="loadTableData"
      auto-height
      :columns="columns"
      bordered
      size="small"
      :scroll="{ y: 300 }"
      editable-type="multiple"
    >
      <template #toolbar>
        <a-button
          type="primary"
          :disabled="!$auth('materialMaintenance:exportByConditions')"
          @click="exportListLocal"
        >
          根据条件导出
        </a-button>
        <a-button
          type="primary"
          :disabled="!$auth('materialMaintenance:exportAll')"
          @click="exportAllLocal"
        >
          导出所有
        </a-button>
        <a-upload
          v-model:file-list="state.fileList"
          name="file"
          :action="state.actionUrl"
          :headers="state.headers"
          :show-upload-list="false"
          :max-count="1"
          :before-upload="beforeUpload"
          @change="handleChange"
        >
          <a-button type="primary" :disabled="!$auth('materialMaintenance:upload')">
            导入
          </a-button>
        </a-upload>
      </template>
    </DynamicTable>
  </div>
</template>

<script lang="ts" setup>
  import { reactive } from 'vue';
  import dayjs from 'dayjs';
  import { message as $message, Upload } from 'ant-design-vue';
  import { baseColumns, type TableColumnItem } from './columns';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/useFormModal';
  import { Storage } from '@/utils/Storage';
  import { ACCESS_DICT_ALL_KEY, ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import {
    getMaterialMaintenanceListPage,
    updateMaterialMaintenance,
    exportList,
    exportAll,
  } from '@/api/manualMaintenance/materialMaintenance';

  defineOptions({
    name: 'ManualMaintenanceBaseProduction',
  });

  const fontColor = '#1890ff';
  const [DynamicTable, dynamicTableInstance] = useTable();

  const state = reactive({
    fileList: [],
    actionUrl: `${process.env.VUE_APP_BASE_API}p/import/material`,
    headers: {
      Authorization: Storage.get(ACCESS_TOKEN_KEY),
      Authentication: Storage.get(ACCESS_TOKEN_KEY),
    },
    queryInfo: {},
  });

  const loadTableData = async (params: LoadDataParams) => {
    const data = await getMaterialMaintenanceListPage({
      ...params,
    });
    state.queryInfo = params;

    if (data?.success && data?.code === 'OK') {
      const codeValue = Storage.get(ACCESS_DICT_ALL_KEY);
      const MANUAL_AREA = codeValue
        ?.find((x) => x.dictCode === 'MANUAL_AREA')
        ?.itemDtoList?.map((x, index) => {
          return {
            label: x[`itemText`],
            value: x[`itemValue`],
            key: index,
          };
        });

      data.data.map((x) => {
        x['baseValue'] = MANUAL_AREA?.find((y) => y.value === x.base)?.label;
        if (x['updateDate']) {
          x['updateDateValue'] = dayjs(x['updateDate']).format('YYYY-MM-DD HH:mm:ss');
        }
        return x;
      });
      return {
        list: data.data,
        pagination: { total: data.total, page: params.pageNum, size: params.pageSize },
      };
    } else {
      $message.error(data?.message || '查询失败');
    }
  };

  const beforeUpload = (file) => {
    let flag = true;
    const FileExt = file.name.replace(/.+\./, '');
    if (['xlsx', 'xls'].indexOf(FileExt.toLowerCase()) === -1) {
      $message.warning('请上传后缀名为.xls, .xlsx的文件！');
      flag = false;
      return Upload.LIST_IGNORE;
    }
    return flag;
  };

  const handleChange = (info) => {
    console.log(info, '==========info=========');
    if (info.fileList && info.fileList.length > 0 && info.fileList[0].response) {
      if (info.fileList[0].response.code == 'OK' && info.fileList[0].response.success) {
        $message.success('导入成功');
      } else {
        $message.error(info.fileList[0].response.message || '导入失败');
      }
    }
  };

  const exportListLocal = () => {
    exportList(state.queryInfo, '填报物料导出.xls');
  };

  const exportAllLocal = () => {
    exportAll({}, '填报物料导出.xls');
  };

  const handleSave = async (rowKey, record, _originRow, callback) => {
    const { success, code, message } = await updateMaterialMaintenance({
      id: rowKey,
      costCode: record?.costCode?.join('、') ?? '',
      codeType: record.codeType,
      codeName: record?.codeName?.join('、') ?? '',
    });
    if (success && code === 'OK') {
      $message.success('保存物料成功');
      callback();
    } else {
      $message.error(message || '保存物料失败');
    }
  };

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 160,
      dataIndex: 'ACTION',
      hideInSearch: true,
      align: 'center',
      fixed: 'right',
      actions: ({ record }, action) => {
        const { startEditable, cancelEditable, isEditable, getEditFormModel } = action;
        return isEditable(record.id)
          ? [
              {
                label: '保存',
                auth: 'materialMaintenance:save',
                actionType: 'icon',
                icon: 'SaveOutlined',
                style: `color:${fontColor}`,
                onClick: async () => {
                  handleSave(
                    record.id,
                    getEditFormModel(record.id),
                    getEditFormModel(record.id),
                    () => {
                      record.costCode = getEditFormModel(record.id).costCode?.join('、');
                      record.codeName = getEditFormModel(record.id).codeName?.join('、');
                      record.codeType = getEditFormModel(record.id).codeType;
                      cancelEditable(record.id);
                      dynamicTableInstance?.reload();
                    },
                  );
                },
              },
              {
                label: '取消',
                auth: 'materialMaintenance:cancel',
                actionType: 'icon',
                icon: 'RedoOutlined',
                style: `color:${fontColor}`,
                onClick: () => {
                  record.costCode = record.costCode?.join('、');
                  record.codeName = record.codeName?.join('、');
                  cancelEditable(record.id);
                },
              },
            ]
          : [
              {
                label: '编辑',
                auth: 'materialMaintenance:update',
                actionType: 'icon',
                icon: 'EditOutlined',
                style: `color:${fontColor}`,
                onClick: () => {
                  record.costCode = record.costCode?.split('、');
                  record.codeName = record.codeName?.split('、');
                  startEditable(record.id, record);
                },
              },
            ];
      },
    },
  ];
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  /deep/.anticon-caret-right {
    width: 14px;
    height: 14px;
    margin-left: -5px;
  }
  /deep/.anticon-caret-left {
    width: 14px;
    height: 14px;
    margin-left: -6px;
  }
  /deep/.tag-input {
    overflow: auto !important;
  }
</style>
