<template>
  <div>
    <!-- 整改信息 -->
    <a-descriptions :column="3" class="textItem">
      <a-descriptions-item label="问题整改人员">
        <span> {{ props.keyData.handleUsername || '-' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="整改录入时间">
        <span> {{ props.keyData.createDate || '-' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="经济效益">
        <span> {{ props.keyData.economicBenefits || '-' }}万元</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="整改内容">
        <span> {{ props.keyData.rectificationContent || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="整改措施">
        <span> {{ props.keyData.rectificationMeasures || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="追责问责情况">
        <span> {{ props.keyData.accountabilitySituation || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="社会效益">
        <span> {{ props.keyData.socialBenefit || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="备注">
        <span> {{ props.keyData.remark || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>
  </div>
</template>

<script setup lang="tsx">
  const props = defineProps({
    keyData: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
</script>
<style scoped>
  .textItem {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 200px;
  }
</style>
