<template>
  <div class="page-container">
    <div class="header">
      <QueryFilterNew
        ref="QueryFilter"
        :visible="true"
        :field-list="fields"
        :isadd-condition-group="false"
        @change="onConditionChange"
      >
      </QueryFilterNew>

      <div class="search">
        <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
        <a-button type="danger" style="marginleft: 5px" @click="onReset">重置</a-button>
      </div>
    </div>
    <DynamicTable
      :data-source="state.dataSource"
      :columns="columns"
      :row-selection="rowSelection"
      auto-height
      :scroll="{ x: 2500, y: 300 }"
      :loading="state.loading"
      @change="onPageChange"
    >
      <template #toolbar>
        <a-button style="margin-left: 10px" type="primary" @click="exportExcel">导出Excel</a-button>
      </template>
    </DynamicTable>
    <!-- 填报 -->
    <RectificationFilling
      ref="RectificationFillingRef"
      :form-flag="state.formFlag"
      @search="onSearch"
    ></RectificationFilling>
    <!-- 转交 -->
    <pushInventModal ref="pushInventModalRef" @search="onSearch"></pushInventModal>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, onMounted } from 'vue';
  import { ExclamationCircleOutlined } from '@ant-design/icons-vue';
  import dayjs from 'dayjs';
  import { Modal } from 'ant-design-vue';
  import pushInventModal from '../questionInventory/components/pushInventModal.vue';
  import queryFields from './query-field.js';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import RectificationFilling from './components/RectificationFilling.vue';
  import { QueryFilterNew } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  import { useTable } from '@/components/core/dynamic-table';
  import { getQueryList, getPersonDealWithExport } from '@/api/supervisionGovern/questionInventory';

  defineOptions({
    name: 'SupervisionGovern/questionTodo/index',
    inheritAttrs: false,
  });
  const pushInventModalRef = ref();
  const fields = QueryFieldConvert.columnFields2QueryFields(queryFields.fieldsTwo);
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'clueId',
    bordered: true,
    search: false,
  });
  const QueryFilter = ref();
  const RectificationFillingRef = ref();
  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      rowSelection.value.selectedRowKeys = selectedRowKeys;
    },
  });
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      state.filters = QueryFilter.value.getConditionResult();
      state.filters1 = QueryFilter.value.getConditionResult();
      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };
  const state = reactive({
    canQuery: true,
    dataSource: [],
    filters: [],
    filters1: [],
    formFlag: false,
    pagination: {
      current: 1,
      pageSize: 20,
    },
  });
  const exportExcel = async () => {
    let filters = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0] || [];
    Modal.confirm({
      title: '确定要导出问题整改个人待办页面的数据吗?',
      icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: async () => {
        await getPersonDealWithExport({ filters: state.filters }, '问题整改个人待办.xlsx');
      },
    });
  };
  const onReset = () => {
    rowSelection.value.selectedRowKeys = [];
    state.selectedRows = [];
    state.pagination.current = 1;
    state.pagination.pageSize = 20;
    const arr = [
      [
        {
          field: '',
          type: 'text',
          value1: '',
          selectCode: [],
          operatorValue: 'CT',
          operatorList: [],
          name: '',
          cName: '',
          example: null,
          columnType: '1',
          dictCode: null,
        },
      ],
    ];
    QueryFilter.value.setConditionGroups(arr);
    QueryFilter.value.clearConditionResult();
    state.filters = QueryFilter.value.getConditionResult();
    state.filters1 = [];
    loadData();
  };
  const onSearch = () => {
    let filters = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0] || [];
    loadData();
  };
  const loadData = () => {
    state.loading = true;
    getQueryList({
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: state.filters,
    }).then((r) => {
      if (r.code == 'OK') {
        state.dataSource = r.data || [];
        dynamicTableInstance?.updatePagination({
          total: r.total,
          current: r.pageNum,
          pageSize: r.pageSize,
        });
      }
      state.loading = false;
    });
  };
  const dateFormat = 'YYYY-MM-DD';
  const filterData = () => {
    const filters1 = JSON.parse(JSON.stringify(state.filters1));
    const filters = [];
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [];
        item.forEach((v) => {
          let obj = {};
          const val = [];
          if (v.value1 && v.type == 'date') {
            v.value1 = dayjs(v.value1).format(dateFormat);
          }
          if (v.value2 && v.type == 'date') {
            v.value2 = dayjs(v.value2).format(dateFormat);
          }
          if (v.value1) {
            val.push(v.value1);
          }
          if (v.value2) {
            val.push(v.value2);
          }
          let ctype = '';
          if (v.type === 'number') {
            ctype = '2';
          } else if (v.type === 'date') {
            ctype = '4';
          } else if (v.type === 'dict') {
            ctype = '';
          }
          let values = val;
          if (v.type === 'select' || v.type === 'tree') {
            values = val[0];
          }
          if (v.type === 'text' && (v.operatorValue == 'CT' || v.operatorValue == 'NCT')) {
            values = val[0];
          }
          obj = {
            columnName: v.field,
            filterType: v.operatorValue,
            columnType: ctype,
            values,
          };
          list.push(obj);
        });
        filters.push(list);
      });
    }
    return filters;
  };

  const onPageChange = (data) => {
    state.pagination.current = data.current;
    state.pagination.pageSize = data.pageSize;
    loadData();
  };
  const editInventFn = (record) => {
    state.formFlag = true;
    let title = '';
    if (record.handleOpinion == '40' || record.handleOpinion == '50') {
      title = '问题验收';
    } else if (record.handleOpinion == '20' && record.status == '20') {
      title = '审核问题整改详情';
    } else if (
      (record.handleOpinion == '20' && record.status == '40') ||
      (record.handleOpinion == '20' && record.status == '32')
    ) {
      title = '问题责任人填报';
    } else if (record.handleOpinion == '30') {
      title = '整改人员填报';
    }
    RectificationFillingRef.value.onChangeVisable(record, title);
  };
  const getInventoryDeleteFn = (record) => {
    pushInventModalRef.value.onChangeVisable(record, '转交问题', '30');
  };
  onMounted(() => {
    loadData();
  });
  // 设置click 事件
  baseColumns[1].customRender = ({ record, value }) => {
    return (
      <a
        onClick={() => {
          state.formFlag = false;
          RectificationFillingRef.value.onChangeVisable(record, '问题详情');
        }}
        style="color:#1890ff;cursor: pointer"
      >
        {value}
      </a>
    );
  };
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 150,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        const actions: any = [];
        if (record.status == '30' || record.status == '31') {
          //已整改待验收不可转交
          actions.push({
            label: '不可转交',
            actionType: 'icon',
            icon: 'SendOutlined',
          });
        } else {
          actions.push({
            label: '转交',
            actionType: 'icon',
            icon: 'SendOutlined',
            style: 'color:#1890ff;',
            onClick: () => getInventoryDeleteFn(record),
          });
        }
        actions.push({
          label: '处理',
          actionType: 'icon',
          icon: 'ClockCircleOutlined',
          style: 'color:#1890ff;',
          onClick: () => editInventFn(record),
        });
        return actions;
      },
    },
  ];
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  .header {
    display: flex;
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
</style>
