<template>
  <div class="initialclass">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 13 }">
        <div class="heightclass div-height">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">GMV总览</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="devdome">
            <div class="devdome-div1" @click="onclick1('GMV总览')">
              <div class="devdome-div1-div1">
                <SpeedGauge2
                  :echardata="state.ANNUAL_FINISH_RATE"
                  :echarcolor1="state.echartcolor"
                  :echarunit="state.e03"
                />
              </div>
              <div class="devdome-div1-div2">
                <div class="devdome">
                  <div class="devdome-1-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state.CURYEAR_PRFM }}</span>
                      <b class="circle-text1">亿元</b>
                      <span class="circle-text2">当前</span>
                    </p>
                  </div>
                  <div class="devdome-1-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state.CURYEAR_ANNUAL_TARGET_VALUE }}</span>
                      <b class="circle-text1">亿元</b>
                      <span class="circle-text2">目标</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="devdome-div">
              <div class="first-title first-height" @click="onclick1('集采')">
                <div>
                  <b class="first-square square-color1"></b>
                  <span class="first-text first-text-color1">集采</span>
                </div>
                <div>
                  <p class="first-title-div2-p">
                    占比
                    <b class="first-title-div2-p-span title-number-color1">
                      {{ state.JC_GMV_R }}%
                    </b>
                    &nbsp;&nbsp;&nbsp; 当前累计
                    <b class="first-title-div2-p-span title-number-color1"> {{ state.JC_GMV }} </b
                    >亿
                  </p>
                </div>
              </div>
              <div class="first-title first-height" @click="onclick1('多元')">
                <div>
                  <b class="first-square square-color3"></b>
                  <span class="first-text first-text-color3">多元</span>
                </div>
                <div>
                  <p class="first-title-div2-p">
                    占比
                    <b class="first-title-div2-p-span title-number-color3">
                      {{ state.DY_GMV_R }}%
                    </b>
                    &nbsp;&nbsp;&nbsp; 当前累计
                    <b class="first-title-div2-p-span title-number-color3"> {{ state.DY_GMV }} </b
                    >亿
                  </p>
                </div>
              </div>
              <div class="first-title first-height" @click="onclick1('社会客户')">
                <div>
                  <b class="first-square square-color2"></b>
                  <span class="first-text first-text-color2">社会客户</span>
                </div>
                <div>
                  <p class="first-title-div2-p">
                    占比
                    <b class="first-title-div2-p-span title-number-color2">
                      {{ state.SH_GMV_R }}%
                    </b>
                    &nbsp;&nbsp;&nbsp; 当前累计
                    <b class="first-title-div2-p-span title-number-color2"> {{ state.SH_GMV }}</b
                    >亿
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 11 }">
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>{{ gmvclick.ongmvclick }}月度趋势图</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state1.chart"
              :x-axis="state1.xAxis"
              :y-axis="state1.yAxis"
              :series="state1.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>各部门{{ gmvclick.ongmvclick }}本年完成情况</span>
          </div>
          <div class="columnar-height">
            <StackedVerticalChart
              :legendone="state2.char"
              :x-axis="state2.xAxis"
              :y-axis="state2.yAxis"
              :series="state2.series"
              @chartClick="state2onclick"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>{{ gmvclick.ongmvclick }}各部门月度趋势</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state3.char"
              :x-axis="state3.xAxis"
              :y-axis="state3.yAxis"
              :series="state3.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>{{ gmvclick.ongmvclick }}目标及完成率——{{ gmvclick.DEPT_NAME }}</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state4.char"
              :x-axis="state4.xAxis"
              :y-axis="state4.yAxis"
              :series="state4.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive } from 'vue';
  import {
    SpeedGauge2,
    StackedColumnFoldMixedChart,
    StackedVerticalChart,
  } from '../../echartsAssembly';
  import overserver from './js/overserver';
  import echartoption from './js/echartoption';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const gmvInitialloading = () => {
    nextTick(() => {
      query();
      query1();
      query2();
      query3();
    });
  };

  defineExpose({
    gmvInitialloading,
  });
  const gmvclick = reactive({
    ongmvclick: 'GMV总览',
    DEPT_NAME: '',
  });

  const state = reactive({
    e03: '%',
    echartcolor: [
      [0.3, '#FC6B57FF'],
      [0.7, '#60C758FF'],
      [1, '#5AA2FFFF'],
    ],
    ANNUAL_FINISH_RATE: 0,
    CURYEAR_PRFM: 0,
    CURYEAR_ANNUAL_TARGET_VALUE: 0,
    JC_GMV_R: 0,
    JC_GMV: 0,
    DY_GMV_R: 0,
    DY_GMV: 0,
    SH_GMV_R: 0,
    SH_GMV: 0,
  });
  const query = () => {
    queryAggregate(overserver.parameter('YM', props.yearmonth, 2023062013212131)).then((result) => {
      const dataMap = result.data[2023062013212131].dataMap;
      state.ANNUAL_FINISH_RATE = dataMap.ANNUAL_FINISH_RATE[0];
      state.CURYEAR_PRFM = overserver.MonText1(dataMap.CURYEAR_PRFM[0]);
      state.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText1(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      state.JC_GMV_R = overserver.XiaoText(dataMap.JC_GMV_R[0]);
      state.JC_GMV = overserver.MonText1(dataMap.JC_GMV[0]);
      state.DY_GMV_R = overserver.XiaoText(dataMap.DY_GMV_R[0]);
      state.DY_GMV = overserver.MonText1(dataMap.DY_GMV[0]);
      state.SH_GMV_R = overserver.XiaoText(dataMap.SH_GMV_R[0]);
      state.SH_GMV = overserver.MonText1(dataMap.SH_GMV[0]);
    });
  };

  const state1 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [
      {
        type: 'value',
        name: '亿元',
      },
      {
        name: '%',
      },
    ],
    series: [],
  });
  const query1 = () => {
    queryAggregate(
      overserver.parameter3(
        'YM',
        props.yearmonth,
        2023062013212132,
        'PROD_TARGET_PROJ',
        gmvclick.ongmvclick,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062013212132].dataMap;
      state1.xAxis = dataMap.YM;
      state1.series = echartoption.echarts(
        dataMap.CURMONTH_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };

  const state2 = reactive({
    char: ['目标', '当前', '进度目标'],
    xAxis: [{ type: 'value', name: '亿元' }],
    yAxis: [],
    series: [],
  });
  const query2 = () => {
    queryAggregate(
      overserver.parameter2(
        'YM',
        props.yearmonth,
        2023062013212133,
        'PROD_TARGET_PROJ',
        gmvclick.ongmvclick,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062013212133].dataMap;
      state2.yAxis = dataMap.DEPT_NAME;
      state2.series = echartoption.echarts01(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE,
        dataMap.CURYEAR_PRFM,
        dataMap.ANNUAL_FINISH_RATE,
        dataMap.CURYEAR_TARGET,
        dataMap.CURYEAR_CPLTRATE,
      );
      gmvclick.DEPT_NAME = dataMap.DEPT_NAME[0];
      query4();
    });
  };

  const state3 = reactive({
    char: [],
    xAxis: [],
    yAxis: [{ type: 'value', name: '亿元' }],
    series: [],
  });
  const query3 = () => {
    queryAggregate(
      overserver.parameter3(
        'YM',
        props.yearmonth,
        2023062013212134,
        'PROD_TARGET_PROJ',
        gmvclick.ongmvclick,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062013212134].dataMap;
      const data = result.data[2023062013212134].data;
      const dateser = overserver.echartserver(dataMap.DEPT_NAME, dataMap.YM, data, 2, 3);
      state3.series = dateser.series;
      state3.char = dateser.char;
      state3.xAxis = dateser.xAxis;
    });
  };

  const state4 = reactive({
    char: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [
      {
        type: 'value',
        name: '亿元',
      },
      {
        name: '%',
      },
    ],
    series: [],
  });
  const query4 = () => {
    queryAggregate(
      overserver.parameter4(
        'YM',
        props.yearmonth,
        2023062013212135,
        'PROD_TARGET_PROJ',
        gmvclick.ongmvclick,
        'DEPT_NAME',
        gmvclick.DEPT_NAME,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062013212135].dataMap;
      state4.xAxis = dataMap.YM;
      state4.series = echartoption.echarts02(
        dataMap.CURMONTH_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };

  // 点击事件
  const onclick1 = (PROD_TARGET_PROJ) => {
    gmvclick.ongmvclick = PROD_TARGET_PROJ;
    query1();
    query2();
    query3();
  };

  const state2onclick = (params) => {
    gmvclick.DEPT_NAME = params.name;
    query4();
  };
</script>

<style lang="less" scoped>
  @import '../components/css/overstyle.less';

  // 弹性布局
  .devdome {
    display: flex;
    justify-content: space-between;
  }
  .devdome-div {
    margin-top: 20px;
    width: 40%;
    height: 320px;
  }
  .devdome-div1 {
    width: 60%;
    height: 340px;
  }
  .devdome-1-div {
    width: 50%;
    height: 50px;
    display: flex;
    margin-left: 8%;
  }
  .devdome-div1-div1 {
    height: 270px;
  }
  .devdome-div1-div2 {
    height: 50px;
  }
  .first-height {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .div-height {
    height: 380px;
  }
</style>
