<template>
  <div>
    <!-- 整改进展填报==第三个图 -->
    <a-form
      ref="businessFormRef"
      :model="state.businessForm"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 16 }"
      :rules="rules1"
      :footer="null"
      @finish="onFinish1"
      @finish-failed="onFinishFailed1"
    >
      <a-form-item label="整改工作内容及进展情况：" name="rectificationContent" class="mb-20">
        <a-textarea
          v-model:value="state.businessForm.rectificationContent"
          show-count
          :maxlength="1000"
          allow-clear
          placeholder="请输入1000字符以内"
        />
      </a-form-item>
      <a-form-item label="整改进展说明材料">
        <div class="dropbox">
          <a-upload-dragger
            v-model:fileList="state.fileList"
            name="file"
            :action="`${state.BASE_URL}p/clue/dealWithFileUpload`"
            :before-upload="beforeUpload"
            :headers="state.headers"
            accept=".zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png"
            @change="normFile"
            @preview="onPreview"
          >
            <p class="ant-upload-drag-icon">
              <ArrowUpOutlined></ArrowUpOutlined>
            </p>
            <p class="ant-upload-text">点击或将文件拖拽到这里上传</p>
            <p class="ant-upload-hint"
              >支持扩展名：.zip .rar .doc .docx .pdf .xls .xlsx .jpg .jpeg .png</p
            >
          </a-upload-dragger>
        </div>
      </a-form-item>
      <a-form-item label="进展情况备注" name="handRemark" class="mb-20">
        <a-textarea
          v-model:value="state.businessForm.handRemark"
          show-count
          allow-clear
          placeholder="请输入100字符以内"
          :maxlength="100"
        />
      </a-form-item>

      <div class="sub-btn">
        <a-button
          type="primary"
          style="background: #1890ff; color: #fff"
          :loading="state.loading"
          html-type="submit"
          >保存并提交</a-button
        >
      </div>
    </a-form>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance } from 'vue';
  import { ArrowUpOutlined } from '@ant-design/icons-vue';
  import { message, Upload } from 'ant-design-vue';
  import { downloadJson } from '@/utils/request';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { Storage } from '@/utils/Storage';
  import { handClue } from '@/api/supervisionGovern/Inspection';
  const emit = defineEmits(['close']);
  const { proxy } = getCurrentInstance();
  const businessFormRef = ref();
  const state = reactive({
    loading: false,
    businessForm: {
      rectificationContent: '',
      handRemark: '',
      todoLink: '',
      clueId: '',
      problemDetailCode: '',
    },
    BASE_URL: process.env.VUE_APP_BASE_API, // url
    headers: {}, // 上传头
    fileList: [], // 上传的文件列表
    itemTextList: proxy.$dict.getItemsByDictCode('handlingOpinionsjijian'),
    checkTransferSelect: false,
    todoLinkCode: '',
    rectificationList: [],
    allUsers: [],
    responsibleDeptData: [],
    title: '',
  });
  const rules1 = reactive({
    rectificationContent: [{ required: true, message: '请输入整改工作内容及进展情况' }],
  });

  // 提交
  const onFinish1 = () => {
    const _params = {
      ...state.businessForm,
      handleAttachments: state.fileList
        ? state.fileList.map((item) => {
            return item.response.data;
          })
        : [],
    };

    state.loading = true;
    handClue(_params).then((res) => {
      state.loading = false;
      if (res.code == 'OK') {
        message.success('保存成功');
        emit('close');
      } else {
        message.error(res.message);
      }
    });
  };
  const onFinishFailed1 = () => {
    console.log('表单校验未通过');
  };

  const processHandle = (val) => {
    state.businessForm.todoLink = val.todoLink;
    state.businessForm.clueId = val.clueId;
    state.businessForm.problemDetailCode = val.problemDetailCode;
  };
  // 文件预览
  const onPreview = (file) => {
    const url = file.response.data;
    // 文件下载
    downloadJson(
      'p/clue/file/downLoad',
      {
        filePathName: url,
      },
      file.name,
    ).then(() => {});
  };
  // 请求拦截
  const beforeUpload = (file, fileList) => {
    let flag = true;
    const config = { Authentication: '' };
    const FileExt = file.name.replace(/.+\./, '');
    if (
      ['jpg', 'jpeg', 'png', 'zip', 'rar', 'pdf', 'doc', 'docx', 'xlsx', 'xls'].indexOf(
        FileExt.toLowerCase(),
      ) === -1
    ) {
      message.warning(
        '请上传后缀名为.zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png的文件！',
      );
      return Upload.LIST_IGNORE;
    }
    // 有 token就带上
    if (Storage.get(ACCESS_TOKEN_KEY)) {
      config.Authentication = Storage.get(ACCESS_TOKEN_KEY);
    } else {
      // 没有就别上传
      flag = false;
    }
    state.headers = JSON.parse(JSON.stringify(config));
    // 上传三次就禁止上传了
    if (fileList.length + state.fileList.length > 3) {
      file.status = 'beforeUploadReject';
      flag = false;
    }
    return flag;
  };
  // 文件改变调用
  const normFile = (e) => {
    if (Array.isArray(e)) {
      return e;
    }
    if (e.fileList.length <= 3) {
      state.fileList = e.fileList;
    }
    // 如果大于3条，只保留前三条
    if (e.fileList.length > 3) {
      e.fileList = e.fileList.splice(3, 1);
      message.error('最多只能上传3个文件');
    }
    // 列表绑定
    return e && e.fileList;
  };

  defineExpose({ processHandle });
</script>

<style lang="less" scoped>
  .ant-form-explain {
    color: #f5222d;
    font-size: 14px !important;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
</style>
