<template>
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]" class="gutter-style">
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">易购</p>
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">易购营收</p>
              <p class="gmv-style"
                ><SpeedGauge :echardata="categoryYG.CUR_PCT" :echarunit="state.e03"
              /></p>
              <div class="text">
                <p>目标：{{ categoryYG.CUR_TG }} 亿元</p>
                <p>当前： {{ categoryYG.CUR_PRF }} 亿元</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>
      <a-col :md="{ span: 16 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">商城</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in eBay.bay" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <template v-if="item.title == '商城总营收'">
                  <SpeedGauge :echardata="item.rate" :echarunit="state.e03" />
                </template>
                <template v-else>
                  <ScoringRing
                    :echarcolor="state.bluecolor"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                  />
                </template>
              </p>
              <div class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} 亿元</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} 亿元</p>
                <p v-if="item.title == '各项占比'">供应商收费&nbsp;:&nbsp;{{ item.other }} 亿元</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">云库</p>
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">营业收入</p>
              <p class="gmv-style"
                ><SpeedGauge :echardata="categoryYK.CUR_PCT" :echarunit="state.e03"
              /></p>
              <div class="text">
                <p>目标：{{ categoryYK.CUR_TG }} 亿元</p>
                <p>当前： {{ categoryYK.CUR_PRF }} 亿元</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>

      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">易购</p>
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">新增客户</p>
              <p class="gmv-style">
                <WaterPolo :echardata="categoryYG2.CUR_PCT" :echarunit="state.e03" />
              </p>
              <div class="text">
                <p>目标：{{ categoryYG2.CUR_TG }} 亿元</p>
                <p>当前： {{ categoryYG2.CUR_PRF }} 亿元</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">商城</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in Store.mall" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <template v-if="item.title == '核心商品线建设'">
                  <WaterPolo :echardata="item.rate" :echarunit="state.e03" />
                </template>
                <template v-else>
                  <ScoringRing
                    :echarcolor="state.greencolor"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                /></template>
              </p>
              <div class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} 亿元</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} 亿元</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 6 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">云库</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in Stores.mall" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <template v-if="item.title == '核心商品线建设'">
                  <WaterPolo :echardata="item.rate" :echarunit="state.e03" />
                </template>
                <template v-else>
                  <ScoringRing
                    :echarcolor="state.greencolor"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                /></template>
              </p>
              <div class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} 亿元</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} 亿元</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">零碳</p>
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">营业收入</p>
              <p class="gmv-style">
                <WaterPolo :echardata="categoryLT.CUR_PCT" :echarunit="state.e03" />
              </p>
              <div class="text">
                <p>目标：{{ categoryLT.CUR_TG }} 亿元</p>
                <p>当前： {{ categoryLT.CUR_PRF }} 亿元</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, nextTick, defineExpose } from 'vue';
  import { ScoringRing, SpeedGauge, WaterPolo } from '../../../echartsAssembly';
  import { queryAggregate } from '@/api/strategyTracking';
  const state = reactive({
    LT_REV: '',
    LT_REV_TG: '',
    LT_REV_PCT: '',
    YK_REV: '',
    YK_REV_PCT: '',
    YK_REV_TG: '',
    yearMonth: '',
    defcolor: '#188df0',
    gmvcolor: '#fa4d5b',
    fjcolor: '#98d45b',
    greencolor: '#53c676',
    bluecolor: '#1367ca',
    e01: '0.78',
    e02: '78',
    e03: '%',
    depData: '',
  });

  //保留两位有效小数
  const Xiaoshu = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext).toLocaleString();
    }
  };

  // 易购
  const eBay = reactive({
    bay: [
      { title: '商城总营收', goals: '3,000 亿元', current: '2,000 亿元', rate: '78' },
      { title: '多元+社会营收', goals: '20 亿元', current: '5,000 万元', rate: '78' },
      { title: '社会客户营收', goals: '20 亿元', current: '5,000 万元', rate: '78' },
      {
        title: '非大宗商城点选营收',
        goals: '3,000 亿元',
        current: '2,000 亿元',
        rate: '78',
      },
      {
        title: '业务毛利',
        goals: '3,000 亿元',
        current: '2,000 亿元',
        rate: '78',
      },
    ],
  });
  // 商城
  const Store = reactive({
    mall: [
      { title: '平台新增SKU', goals: '3,000 亿元', current: '2,000 亿元', rate: '78' },
      {
        title: '核心商品线建设',
        goals: '20 亿元',
        current: '5,000 万元',
        rate: '78',
      },
      {
        title: '欧贝商城场景化专区SKU',
        goals: '20 亿元',
        current: '5,000 万元',
        rate: '78',
      },
    ],
  });
  const Stores = reactive({
    mall: [
      {
        title: '本年新增连接家数',
        goals: '3,000 亿元',
        current: '2,000 亿元',
        rate: '78',
      },
      {
        title: '本年新增SKU数',
        goals: '30 亿元',
        current: '20 亿元',
        rate: '78',
      },
    ],
  });
  const categoryYK = reactive({
    CUR_PCT: '',
    CUR_PRF: '',
    CUR_TG: '',
  });
  const categoryYG = reactive({
    CUR_PCT: '',
    CUR_PRF: '',
    CUR_TG: '',
  });
  const categoryYG2 = reactive({
    CUR_PCT: '',
    CUR_PRF: '',
    CUR_TG: '',
  });
  const categoryLT = reactive({
    CUR_PCT: '',
    CUR_PRF: '',
    CUR_TG: '',
  });
  // 图表数据1
  const categoryBay = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
        {
          filterField: 'DEPT_NAME',
          filterValues: [state.depData],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index != 5 && index !== 6) {
          eBay.bay[index].goals = Xiaoshu(data.CUR_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.CUR_PRF[0]);
          eBay.bay[index].rate = Xiaoshu(data.CUR_PCT[0]);
        }
        if (index == 5) {
          categoryYG.CUR_PRF = Xiaoshu(data.CUR_PRF[0]);
          categoryYG.CUR_TG = Xiaoshu(data.CUR_TG[0]);
          categoryYG.CUR_PCT = Xiaoshu(data.CUR_PCT[0]);
        } else if (index == 6) {
          categoryYK.CUR_PRF = Xiaoshu(data.CUR_PRF[0]);
          categoryYK.CUR_TG = Xiaoshu(data.CUR_TG[0]);
          categoryYK.CUR_PCT = Xiaoshu(data.CUR_PCT[0]);
        }
      });
    });
  };
  // 图表数据2
  const categoryStore = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
        {
          filterField: 'DEPT_NAME',
          filterValues: [state.depData],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 10) {
          categoryYG2.CUR_PRF = Xiaoshu(data.CUR_PRF[0]);
          categoryYG2.CUR_TG = Xiaoshu(data.CUR_TG[0]);
          categoryYG2.CUR_PCT = Xiaoshu(data.CUR_PCT[0]);
        } else if (index == 0 || index == 1 || index == 2) {
          Store.mall[index].goals = Xiaoshu(data.CUR_TG[0]);
          Store.mall[index].current = Xiaoshu(data.CUR_PRF[0]);
          Store.mall[index].rate = Xiaoshu(data.CUR_PCT[0]);
        } else if (index == 4 || index == 5) {
          Stores.mall[index].goals = Xiaoshu(data.CUR_TG[0]);
          Stores.mall[index].current = Xiaoshu(data.CUR_PRF[0]);
          Stores.mall[index].rate = Xiaoshu(data.CUR_PCT[0]);
        } else if (index == 6) {
          categoryLT.CUR_PRF = Xiaoshu(data.CUR_PRF[0]);
          categoryLT.CUR_TG = Xiaoshu(data.CUR_TG[0]);
          categoryLT.CUR_PCT = Xiaoshu(data.CUR_PCT[0]);
        }
      });
    });
  };
  const categoryStores = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
        {
          filterField: 'DEPT_NAME',
          filterValues: [state.depData],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        Stores.mall[index].goals = Xiaoshu(data.CUR_TG[0]);
        Stores.mall[index].current = Xiaoshu(data.CUR_PRF[0]);
        Stores.mall[index].rate = Xiaoshu(data.CUR_PCT[0]);
      });
    });
  };
  // 品类中心接口
  const categorySearch = () => {
    categoryBay('2023042710380070', 0);
    categoryBay('2023042710380071', 1);
    categoryBay('2023042710380072', 2); //接口写的：平台驾驶舱品类总览社会营收  设计图写的：社会客户营收
    categoryBay('2023042710380073', 3);
    categoryBay('2023042710380074', 4);
    categoryBay('2023042710380068', 5);
    categoryBay('2023042710380080', 6);
    categoryStore('2023042710380069', 10);
    categoryStore('2023042710380075', 0);
    categoryStore('2023042710380076', 1);
    categoryStore('2023042710380077', 2);
    categoryStores('2023042710380078', 0);
    categoryStores('2023042710380079', 1);
    categoryStore('2023042710380081', 6);
  };

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  defineExpose({
    categorySearch,
  });
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
      categorySearch();
    },
  );
  watch(
    () => props.depData,
    (v) => {
      state.depData = v;
      categorySearch();
    },
  );
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .gutter-style {
      margin-bottom: 10px;
    }
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      // border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      min-height: 325px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
    }
    .OperationTarget-first {
      display: flex;
      justify-content: space-between;
    }
    .gmv-first {
      width: 200px;
      height: 180px;
      // border: 2px solid #e5e7eb;
    }
    .OperationTarget-item {
      font-family: PingFangSC-Regular;
      font-size: 18px;
      font-weight: normal;
      .gmv-title {
        text-align: center;
      }
      .gmv-style {
        width: 100%;
        height: 180px;
        // border: 2px solid #e5e7eb;
      }
      .text {
        text-align: center;
      }
    }
  }
</style>
