<template>
  <div>
    <DynamicTable header-title="物料对照" :data-request="loadTableData" :columns="columns">
      <template #toolbar>
        <a-upload
          v-model:file-list="state.fileList"
          name="file"
          :action="state.actionUrl"
          :headers="state.headers"
          :before-upload="beforeUpload"
          :max-count="1"
          :show-upload-list="false"
          @change="handleChange"
        >
          <a-button type="primary"> 上传CSV </a-button>
        </a-upload>
        <!-- <a-button type="primary"> 导出CSV </a-button> -->
      </template>
    </DynamicTable>
    <a-modal
      v-model:visible="myVisible"
      :width="800"
      destroy-on-close
      :footer="null"
      @cancel="close"
    >
      <template #title>
        <div class="title">
          示例展示10条，共查询到数据：<span style="color: red">{{ '9999' }} </span>条
        </div>
      </template>
      <a-table
        :data-source="myData.dataSource"
        :columns="myData.columns"
        bordered
        :loading="myData.loading"
        :pagination="false"
      />
    </a-modal>
    <a-modal v-model:visible="downVis" destroy-on-close @ok="handleOk">
      <a-radio-group v-model:value="state.downType">
        <a-radio value="全量数据">全量数据</a-radio>
        <a-radio value="精准数据">精准数据</a-radio>
      </a-radio-group>
    </a-modal>
  </div>
</template>

<script lang="tsx" setup>
  import { ref, reactive } from 'vue';
  import { message } from 'ant-design-vue/lib/components';
  import { Upload } from 'ant-design-vue';
  import { baseColumns } from './columns';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { Storage } from '@/utils/Storage';
  import { useTable } from '@/components/core/dynamic-table';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { queryList, comparisonDelet, comparisonRun } from '@/api/algorithmService/index';

  defineOptions({
    name: 'MaterialComparison',
  });
  const myVisible = ref(false);
  const downVis = ref(false);
  const state = reactive({
    pagination: {
      current: 1,
      pageSize: 20,
    },
    fileList: [],
    headers: {
      Authorization: Storage.get(ACCESS_TOKEN_KEY),
      Authentication: Storage.get(ACCESS_TOKEN_KEY),
    },
    actionUrl: `${process.env.VUE_APP_BASE_API}p/material/comparison/save`,
    BASE_URL: process.env.VUE_APP_BASE_API, // url
    BASE_URLS: '', // 新url
    downType: '全量数据',
    record: {},
  });
  const myData = reactive({
    dataSource: [],
    columns: [],
    loading: false,
  });
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'id',
    bordered: true,
    scroll: { x: 2000 },
  });

  const loadTableData = async (params: LoadDataParams) => {
    let fileGenerationStartTime = '';
    let fileGenerationEndTime = '';
    if (params.extend1) {
      fileGenerationStartTime = params.extend1[0];
      fileGenerationEndTime = params.extend1[1];
    }
    const data = await queryList({
      ...params,
      fileGenerationStartTime,
      fileGenerationEndTime,
      extend1: '',
    });
    return {
      list: data.data,
      pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
    };
  };
  const handleChange = (info) => {
    if (info.file.status == 'done') {
      message.success('上传成功');
      dynamicTableInstance?.reload();
    }
  };
  const beforeUpload = (file) => {
    let flag = true;
    const FileExt = file.name.replace(/.+\./, '');
    if (['csv'].indexOf(FileExt.toLowerCase()) === -1) {
      message.warning('请上传后缀名为.csv的文件！');
      flag = false;
      return Upload.LIST_IGNORE;
    }
    return flag;
  };
  const close = () => {
    myVisible.value = false;
  };
  // 运行
  const runClick = async (record) => {
    const params = {
      taskCode: record.taskCode,
      uploadPath: record.uploadPath,
    };
    await comparisonRun(params);
    dynamicTableInstance?.reload();
  };
  const downModal = (record) => {
    downVis.value = true;
    state.record = record;
    state.downType = '全量数据';
  };
  const handleOk = () => {
    if (state.downType == '全量数据') {
      onPreview(state.record.downloadPath);
    } else {
      onPreview(state.record.preciseDownloadPath);
    }
  };
  // 下载
  const onPreview = (key) => {
    // 分割url
    // const url = file?.response?.data.fileAddress || file.response.data;
    // state.fileURL = file.response.data.fileAddress;
    if (state.BASE_URL == 'https://bsp.obei.com.cn/obei-data-supervision/') {
      state.BASE_URLS = state.BASE_URL.replace('obei-data-supervision', 'obei-gateway');
    } else {
      state.BASE_URLS = state.BASE_URL.split('/')
        .filter((item) => item != 'obei-data-supervision')
        .join('/');
    }
    const urls = `${state.BASE_URLS}basic/n/get/file?key=${key}`;
    window.open(urls);
    downVis.value = false;
  };
  // 删除
  const delRowConfirm = async (id) => {
    const dis = [];
    dis.push(id);
    await comparisonDelet(dis).finally(dynamicTableInstance?.reload);
  };
  const columns = [
    ...baseColumns,
    {
      title: '操作',
      width: 100,
      dataIndex: 'ACTION',
      hideInSearch: true,
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => [
        {
          label: '运行',
          actionType: 'icon',
          icon: 'PlayCircleOutlined',
          style: 'color:#1890ff',
          ifShow: record.taskStatus != 20,
          onClick: () => runClick(record),
        },
        {
          label: '运行',
          actionType: 'icon',
          ifShow: record.taskStatus == 20,
          icon: 'PlayCircleOutlined',
        },
        {
          label: '下载',
          actionType: 'icon',
          icon: 'DownloadOutlined',
          style: 'color:#1890ff',
          ifShow: record.taskStatus == 30,
          onClick: () => downModal(record),
        },
        {
          label: '下载',
          actionType: 'icon',
          icon: 'DownloadOutlined',
          ifShow: record.taskStatus != 30,
        },
        {
          label: '删除',
          actionType: 'icon',
          icon: 'DeleteOutlined',
          style: 'color:#1890ff',
          popConfirm: {
            title: '你确定要删除吗？',
            onConfirm: () => delRowConfirm(record.id),
          },
        },
      ],
    },
  ];
</script>
