<template>
  <div class="initialclass">
    <a-row :gutter="[16, 16]">
      <a-col
        v-if="
          props.depData == '备件品类中心' ||
          props.depData == '东北平台产品销售部' ||
          props.depData == '华东平台产品销售部' ||
          props.depData == '华南平台产品销售部' ||
          props.depData == '华中平台产品销售部' ||
          props.depData == '欧冶采购' ||
          props.depData == '设备品类中心' ||
          props.depData == '西北平台产品销售部' ||
          props.depData == '西南平台产品销售部' ||
          props.depData == '资材品类中心'
        "
        :md="{ span: 10 }"
      >
        <div class="heightclass div-height">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">云库营收</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="devdome">
            <div class="devdome-div1">
              <div class="echarts-div2">
                <SpeedGauge2
                  :echardata="state.ANNUAL_FINISH_RATE"
                  :echarcolor1="[
                    [0.5, '#FC6B57FF'],
                    [1, '#60C758FF'],
                  ]"
                  :echarunit="state.e03"
                />
              </div>
            </div>
            <div class="devdome-div">
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state.CURYEAR_ANNUAL_TARGET_VALUE }}</span>
                  <b class="circle-text1">{{ state.UNIT }}元</b>
                  <span class="circle-text2">年度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state.CURYEAR_PRFM }}</span>
                  <b class="circle-text1">{{ state.UNIT }}元</b>
                  <span class="circle-text2">
                    当前累计 {{ state.MONTHLY_GROWTH_RATE }}%
                    <span class="title-number-color5">↑</span>
                  </span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state.CURYEAR_TARGET }}</span>
                  <b class="circle-text1">{{ state.UNIT }}元</b>
                  <span class="circle-text2">进度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state.CURYEAR_CPLTRATE }}</span>
                  <b class="circle-text1">%</b>
                  <span class="circle-text2">进度完成率</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col
        v-if="
          props.depData == '备件品类中心' ||
          props.depData == '东北平台产品销售部' ||
          props.depData == '华东平台产品销售部' ||
          props.depData == '华南平台产品销售部' ||
          props.depData == '华中平台产品销售部' ||
          props.depData == '欧冶采购' ||
          props.depData == '设备品类中心' ||
          props.depData == '西北平台产品销售部' ||
          props.depData == '西南平台产品销售部' ||
          props.depData == '资材品类中心'
        "
        :md="{ span: 14 }"
      >
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>云库营收月度趋势图</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state1.chart"
              :x-axis="state1.xAxis"
              :y-axis="state1.yAxis"
              :series="state1.series"
            />
          </div>
        </div>
      </a-col>

      <a-col
        v-if="
          props.depData == '备件品类中心' ||
          props.depData == '东北平台产品销售部' ||
          props.depData == '华北平台产品销售部' ||
          props.depData == '华东平台产品销售部' ||
          props.depData == '华南平台产品销售部' ||
          props.depData == '华中平台产品销售部' ||
          props.depData == '欧冶采购' ||
          props.depData == '设备品类中心' ||
          props.depData == '西北平台产品销售部' ||
          props.depData == '西南平台产品销售部' ||
          props.depData == '资材品类中心'
        "
        :md="{ span: 10 }"
      >
        <div class="heightclass div-height">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">新增连接家数</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="devdome">
            <div class="devdome-div1">
              <div class="echarts-div2">
                <SpeedGauge2
                  :echardata="state.ANNUAL_FINISH_RATE1"
                  :echarcolor1="[
                    [0.5, '#FC6B57FF'],
                    [1, '#60C758FF'],
                  ]"
                  :echarunit="state.e03"
                />
              </div>
            </div>
            <div class="devdome-div">
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state.CURYEAR_ANNUAL_TARGET_VALUE1 }}</span>
                  <b class="circle-text1">{{ state.UNIT1 }}</b>
                  <span class="circle-text2">年度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state.CURYEAR_PRFM1 }}</span>
                  <b class="circle-text1">{{ state.UNIT1 }}</b>
                  <span class="circle-text2">当前累计</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state.CURYEAR_TARGET1 }}</span>
                  <b class="circle-text1">{{ state.UNIT1 }}</b>
                  <span class="circle-text2">进度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state.CURYEAR_CPLTRATE1 }}</span>
                  <b class="circle-text1">%</b>
                  <span class="circle-text2">进度完成率</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col
        v-if="
          props.depData == '备件品类中心' ||
          props.depData == '东北平台产品销售部' ||
          props.depData == '华北平台产品销售部' ||
          props.depData == '华东平台产品销售部' ||
          props.depData == '华南平台产品销售部' ||
          props.depData == '华中平台产品销售部' ||
          props.depData == '欧冶采购' ||
          props.depData == '设备品类中心' ||
          props.depData == '西北平台产品销售部' ||
          props.depData == '西南平台产品销售部' ||
          props.depData == '资材品类中心'
        "
        :md="{ span: 14 }"
      >
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>新增连接家数月度趋势图</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state1.chart1"
              :x-axis="state1.xAxis1"
              :y-axis="state1.yAxis1"
              :series="state1.series1"
            />
          </div>
        </div>
      </a-col>

      <a-col
        v-if="
          props.depData == '备件品类中心' ||
          props.depData == '东北平台产品销售部' ||
          props.depData == '华北平台产品销售部' ||
          props.depData == '华东平台产品销售部' ||
          props.depData == '华南平台产品销售部' ||
          props.depData == '华中平台产品销售部' ||
          props.depData == '欧冶采购' ||
          props.depData == '设备品类中心' ||
          props.depData == '西北平台产品销售部' ||
          props.depData == '西南平台产品销售部' ||
          props.depData == '资材品类中心'
        "
        :md="{ span: 10 }"
      >
        <div class="heightclass div-height">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">新增SKU数</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="devdome">
            <div class="devdome-div1">
              <div class="echarts-div2">
                <SpeedGauge2
                  :echardata="state.ANNUAL_FINISH_RATE2"
                  :echarcolor1="[
                    [0.5, '#FC6B57FF'],
                    [1, '#60C758FF'],
                  ]"
                  :echarunit="state.e03"
                />
              </div>
            </div>
            <div class="devdome-div">
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state.CURYEAR_ANNUAL_TARGET_VALUE2 }}</span>
                  <b class="circle-text1">{{ state.UNIT2 }}</b>
                  <span class="circle-text2">年度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state.CURYEAR_PRFM2 }}</span>
                  <b class="circle-text1">{{ state.UNIT2 }}</b>
                  <span class="circle-text2">当前累计</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state.CURYEAR_TARGET2 }}</span>
                  <b class="circle-text1">{{ state.UNIT2 }}</b>
                  <span class="circle-text2">进度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ state.CURYEAR_CPLTRATE2 }}</span>
                  <b class="circle-text1">%</b>
                  <span class="circle-text2">进度完成率</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col
        v-if="
          props.depData == '备件品类中心' ||
          props.depData == '东北平台产品销售部' ||
          props.depData == '华北平台产品销售部' ||
          props.depData == '华东平台产品销售部' ||
          props.depData == '华南平台产品销售部' ||
          props.depData == '华中平台产品销售部' ||
          props.depData == '欧冶采购' ||
          props.depData == '设备品类中心' ||
          props.depData == '西北平台产品销售部' ||
          props.depData == '西南平台产品销售部' ||
          props.depData == '资材品类中心'
        "
        :md="{ span: 14 }"
      >
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>新增SKU月度趋势图</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state1.chart2"
              :x-axis="state1.xAxis2"
              :y-axis="state1.yAxis2"
              :series="state1.series2"
            />
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, nextTick, defineExpose } from 'vue';
  import { SpeedGauge2, StackedColumnFoldMixedChart } from '../../echartsAssembly';
  import overserver from '../components/js/overserver';
  import echartoption from '../components/js/echartoption';
  import { queryAggregate } from '@/api/strategyTracking';

  defineOptions({
    name: 'CloudLibrary',
    inheritAttrs: false,
  });
  const props = defineProps({
    yearmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const ykInitialloading = () => {
    nextTick(() => {
      query();
      query1();
    });
  };
  defineExpose({
    ykInitialloading,
  });

  const state = reactive({
    e03: '%',
    //云库营收
    ANNUAL_FINISH_RATE: '', // 年度完成率
    CURYEAR_ANNUAL_TARGET_VALUE: '', // 年度目标
    CURYEAR_PRFM: '', // 当前累计
    MONTHLY_GROWTH_RATE: '', //月度增长率
    CURYEAR_TARGET: '', // 进度目标
    CURYEAR_CPLTRATE: '', // 进度完成率
    UNIT: '', // 单位
    // 新增连接家数
    ANNUAL_FINISH_RATE1: '', // 年度完成率
    CURYEAR_ANNUAL_TARGET_VALUE1: '', // 年度目标
    CURYEAR_PRFM1: '', // 当前累计
    CURYEAR_TARGET1: '', // 进度目标
    CURYEAR_CPLTRATE1: '', // 进度完成率
    UNIT1: '', // 单位
    // 新增SKU数
    ANNUAL_FINISH_RATE2: '', // 年度完成率
    CURYEAR_ANNUAL_TARGET_VALUE2: '', // 年度目标
    CURYEAR_PRFM2: '', // 当前累计
    CURYEAR_TARGET2: '', // 进度目标
    CURYEAR_CPLTRATE2: '', // 进度完成率
    UNIT2: '', // 单位
  });
  const query = () => {
    queryAggregate(
      overserver.parameter5(
        'YM',
        props.yearmonth,
        '2023091510003333',
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        '营业收入',
      ),
    ).then((r) => {
      const dataMap = r.data[2023091510003333].dataMap;
      console.log(dataMap);
      state.ANNUAL_FINISH_RATE = overserver.XiaoText(dataMap.ANNUAL_FINISH_RATE[0]);
      state.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText1(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      state.CURYEAR_PRFM = overserver.MonText1(dataMap.CURYEAR_PRFM[0]);
      state.MONTHLY_GROWTH_RATE = overserver.XiaoText(dataMap.MONTHLY_GROWTH_RATE[0]);
      state.CURYEAR_TARGET = overserver.MonText1(dataMap.CURYEAR_TARGET[0]);
      state.CURYEAR_CPLTRATE = overserver.XiaoText(dataMap.CURYEAR_CPLTRATE[0]);
      state.UNIT = dataMap.UNIT[0];
    });

    queryAggregate(
      overserver.parameter5(
        'YM',
        props.yearmonth,
        '2023091510003333',
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        '云库新增连接家数',
      ),
    ).then((r) => {
      const dataMap = r.data[2023091510003333].dataMap;
      state.ANNUAL_FINISH_RATE1 = overserver.XiaoText(dataMap.ANNUAL_FINISH_RATE[0]);
      state.CURYEAR_ANNUAL_TARGET_VALUE1 = overserver.MonText1(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      state.CURYEAR_PRFM1 = overserver.MonText1(dataMap.CURYEAR_PRFM[0]);
      state.CURYEAR_TARGET1 = overserver.MonText1(dataMap.CURYEAR_TARGET[0]);
      state.CURYEAR_CPLTRATE1 = overserver.XiaoText(dataMap.CURYEAR_CPLTRATE[0]);
      state.UNIT1 = dataMap.UNIT[0];
    });

    queryAggregate(
      overserver.parameter5(
        'YM',
        props.yearmonth,
        '2023091510003333',
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        '本年新增SKU数',
      ),
    ).then((r) => {
      const dataMap = r.data[2023091510003333].dataMap;
      state.ANNUAL_FINISH_RATE2 = overserver.XiaoText(dataMap.ANNUAL_FINISH_RATE[0]);
      state.CURYEAR_ANNUAL_TARGET_VALUE2 = overserver.MonText1(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      state.CURYEAR_PRFM2 = overserver.MonText1(dataMap.CURYEAR_PRFM[0]);
      state.CURYEAR_TARGET2 = overserver.MonText1(dataMap.CURYEAR_TARGET[0]);
      state.CURYEAR_CPLTRATE2 = overserver.XiaoText(dataMap.CURYEAR_CPLTRATE[0]);
      state.UNIT2 = dataMap.UNIT[0];
    });
  };

  const state1 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '' }, { name: '%' }],
    series: [],

    chart1: ['目标', '实绩', '完成率'],
    xAxis1: [],
    yAxis1: [{ type: 'value', name: '' }, { name: '%' }],
    series1: [],

    chart2: ['目标', '实绩', '完成率'],
    xAxis2: [],
    yAxis2: [{ type: 'value', name: '' }, { name: '%' }],
    series2: [],
  });
  const query1 = () => {
    queryAggregate(
      overserver.parameter4(
        'YM',
        props.yearmonth,
        2023091510004444,
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        '营业收入',
      ),
    ).then((result) => {
      const dataMap = result.data[2023091510004444].dataMap;
      state1.xAxis = dataMap.YM;
      state1.yAxis[0].name = dataMap.UNIT[0];
      state1.series = echartoption.echarts(
        dataMap.CURMONTH_PLAN_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });

    queryAggregate(
      overserver.parameter4(
        'YM',
        props.yearmonth,
        2023091510004444,
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        '云库新增连接家数',
      ),
    ).then((result) => {
      const dataMap = result.data[2023091510004444].dataMap;
      state1.xAxis1 = dataMap.YM;
      state1.yAxis1[0].name = dataMap.UNIT[0];
      state1.series1 = echartoption.echarts(
        dataMap.CURMONTH_PLAN_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });

    queryAggregate(
      overserver.parameter4(
        'YM',
        props.yearmonth,
        2023091510004444,
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        '本年新增SKU数',
      ),
    ).then((result) => {
      const dataMap = result.data[2023091510004444].dataMap;
      state1.xAxis2 = dataMap.YM;
      state1.yAxis2[0].name = dataMap.UNIT[0];
      state1.series2 = echartoption.echarts(
        dataMap.CURMONTH_PLAN_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };
</script>

<style lang="less" scoped>
  @import '../components/css/overstyle.less';

  // 弹性布局
  .devdome {
    display: flex;
    justify-content: space-between;
  }
  .devdome-div {
    margin-top: 20px;
    margin-right: 20px;
    width: 45%;
    height: 320px;
  }
  .devdome-div1 {
    width: 55%;
    height: 340px;
  }
  .devdome-1-div {
    width: 50%;
    height: 50px;
    display: flex;
    margin-left: 5%;
  }
  .devdome-div1-div1 {
    height: 220px;
  }
  .devdome-div1-div2 {
    height: 50px;
    margin-bottom: 15px;
  }
  .first-height {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .div-height {
    height: 400px;
  }

  .echarts-div2 {
    height: 340px;
  }
  .echarts-div2-div {
    display: flex;
    margin: 15px auto;
    padding-left: 15%;
  }
</style>
