<template>
  <div class="containers">
    <!-- 欧贝商城 -->
    <a-row
      v-if="
        props.depData == '备件品类中心' ||
        props.depData == '东北平台产品销售部' ||
        props.depData == '华北平台产品销售部' ||
        props.depData == '华东平台产品销售部' ||
        props.depData == '华南平台产品销售部' ||
        props.depData == '华中平台产品销售部' ||
        props.depData == '欧冶采购' ||
        props.depData == '设备品类中心' ||
        props.depData == '西北平台产品销售部' ||
        props.depData == '西南平台产品销售部' ||
        props.depData == '资材品类中心'
      "
      :gutter="[16, 10]"
    >
      <a-col :md="{ span: 16 }">
        <div class="heightclass div-height">
          <!-- 标题 -->
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">商城营收</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <!-- 仪表盘 -->
          <div class="speed-center speed-height3">
            <div class="speed-left" @click="titleChange('商城营业收入')">
              <div class="speed-echar4">
                <SpeedGauge2
                  :echardata="revenue.ANNUAL_FINISH_RATE"
                  :echarcolor1="state.echartcolor"
                  :echarunit="state.unit"
                />
              </div>
              <div class="speed-data-SC">
                <div class="speed-data-item">
                  <p class="circle-icon">
                    <img
                      src="../../../../styles/platformOver/icon_GMV_01.png"
                      alt="图片"
                      class="icon_GMV"
                    />
                  </p>
                  <p>
                    <span class="circle-number">{{ revenue.CURYEAR_ANNUAL_TARGET_VALUE }}</span
                    ><b class="circle-text1">{{ revenue.UNIT }}</b>
                    <span class="circle-text2">年度目标</span>
                  </p>
                </div>
                <div class="speed-data-item">
                  <p class="circle-icon">
                    <img
                      src="../../../../styles/platformOver/icon_GMV_02.png"
                      alt="图片"
                      class="icon_GMV"
                    />
                  </p>
                  <p>
                    <span class="circle-number">{{ revenue.CURYEAR_PRFM }}</span
                    ><b class="circle-text1">{{ revenue.UNIT }}</b>
                    <span class="circle-text2">当前累计&nbsp; &nbsp;</span>
                    <span class="circle-text3">
                      {{ revenue.MONTHLY_GROWTH_RATE }}%
                      <span class="title-number-color5">↑</span>
                    </span>
                  </p>
                </div>
              </div>
              <div class="speed-data-SC speed-data5">
                <div class="speed-data-item speed-data-item2">
                  <p class="circle-icon">
                    <img
                      src="../../../../styles/platformOver/icon_GMV_01.png"
                      alt="图片"
                      class="icon_GMV"
                    />
                  </p>
                  <p>
                    <span class="circle-number">{{ revenue.CURYEAR_TARGET }}</span
                    ><b class="circle-text1">{{ revenue.UNIT }}</b>
                    <span class="circle-text2">进度目标</span>
                  </p>
                </div>
                <div class="speed-data-item">
                  <p class="circle-icon">
                    <img
                      src="../../../../styles/platformOver/icon_GMV_02.png"
                      alt="图片"
                      class="icon_GMV"
                    />
                  </p>
                  <p>
                    <span class="circle-number">{{ revenue.CURYEAR_CPLTRATE }}</span
                    ><b class="circle-text1">%</b>
                    <span class="circle-text2">进度完成率</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="speed-right speed-right-margin">
              <!-- PSCS商城化采购额 -->
              <div class="first">
                <div class="first-title">
                  <div class="first-title-left" @click="titleChange('PSCS商城化采购额')">
                    <b class="first-square square-color1"></b>
                    <span class="first-text first-text-color1">PSCS商城化采购额</span>
                  </div>
                  <div class="first-title-right">
                    <span class="right-text"
                      >当前累计<b class="title-number title-number-color1">{{
                        quota.CURYEAR_PRFM
                      }}</b
                      ><i>{{ quota.UNIT }}</i></span
                    >
                    <span class="first-text2"
                      >年度目标<b class="title-number2">{{ quota.CURYEAR_ANNUAL_TARGET_VALUE }}</b
                      ><i>{{ quota.UNIT }}</i></span
                    >
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(252, 107, 87, 1)',
                      '100%': 'rgba(222, 41, 41, 1)',
                    }"
                    :percent="quota.ANNUAL_FINISH_RATE"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color1"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                  <div class="first-details">
                    <div class="details-item">
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg">
                            进度目标：<b class="details-number">{{ quota.CURYEAR_TARGET }}</b>
                            <i>{{ quota.UNIT }}</i>
                          </span>
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg"
                            >进度完成率：<b class="details-number">{{ quota.CURYEAR_CPLTRATE }}</b
                            ><i>%</i>
                          </span>
                        </p>
                      </div>
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color2" />
                          <span class="details-cg"
                            >月度增长率：<b class="details-number">{{
                              quota.MONTHLY_GROWTH_RATE
                            }}</b
                            ><i>%</i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 多元+社会 -->
              <div class="first">
                <div class="first-title">
                  <div
                    class="first-title-left"
                    @click="titleChange('多元产业、社会客户商城营业收入')"
                  >
                    <b class="first-square square-color3"></b>
                    <span class="first-text first-text-color3">多元+社会</span>
                  </div>
                  <div class="first-title-right">
                    <span class="right-text"
                      >当前累计<b class="title-number title-number-color3">{{
                        multielement.CURYEAR_PRFM
                      }}</b
                      ><i>{{ multielement.UNIT }}</i></span
                    >
                    <span class="first-text2"
                      >年度目标<b class="title-number2">{{
                        multielement.CURYEAR_ANNUAL_TARGET_VALUE
                      }}</b
                      ><i>{{ multielement.UNIT }}</i></span
                    >
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(96, 199, 88, 1)',
                      '100%': 'rgba(36, 171, 85, 1)',
                    }"
                    :percent="multielement.ANNUAL_FINISH_RATE"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color3"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                  <div class="first-details">
                    <div class="details-item">
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg"
                            >进度目标：<b class="details-number">{{
                              multielement.CURYEAR_TARGET
                            }}</b
                            ><i>{{ multielement.UNIT }}</i>
                          </span>
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg"
                            >进度完成率：<b class="details-number">{{
                              multielement.CURYEAR_CPLTRATE
                            }}</b
                            ><i>%</i>
                          </span>
                        </p>
                      </div>
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color2" />
                          <span class="details-cg"
                            >月度增长率：<b class="details-number">{{
                              multielement.MONTHLY_GROWTH_RATE
                            }}</b
                            ><i>%</i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 社会客户 -->
              <div class="first second-spac">
                <div class="first-title">
                  <div class="first-title-left" @click="titleChange('社会客户商城营业收入')">
                    <b class="first-square square-color2"></b>
                    <span class="first-text first-text-color2">社会客户</span>
                  </div>
                  <div class="first-title-right">
                    <span class="right-text"
                      >当前累计<b class="title-number title-number-color2">{{
                        socialclients.CURYEAR_PRFM
                      }}</b
                      ><i>{{ socialclients.UNIT }}</i></span
                    >
                    <span class="first-text2"
                      >年度目标<b class="title-number2">{{
                        socialclients.CURYEAR_ANNUAL_TARGET_VALUE
                      }}</b
                      ><i>{{ socialclients.UNIT }}</i></span
                    >
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(90, 162, 255, 1)',
                      '100%': 'rgba(69, 115, 230, 1)',
                    }"
                    :percent="socialclients.ANNUAL_FINISH_RATE"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color2"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                  <div class="first-details">
                    <div class="details-item">
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg"
                            >进度目标：<b class="details-number">{{
                              socialclients.CURYEAR_TARGET
                            }}</b
                            ><i>{{ socialclients.UNIT }}</i></span
                          >
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg"
                            >进度完成率：<b class="details-number">{{
                              socialclients.CURYEAR_CPLTRATE
                            }}</b
                            ><i>%</i>
                          </span>
                        </p>
                      </div>
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color2" />
                          <span class="details-cg"
                            >月度增长率：<b class="details-number">{{
                              socialclients.MONTHLY_GROWTH_RATE
                            }}</b
                            ><i>%</i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 其中非大宗商城点选 -->
              <div class="first second-spac">
                <!-- <div class="first-title" @click="onclick1('其中非大宗商城点选')"> -->
                <div class="first-title">
                  <div class="first-title-left" @click="titleChange('非大宗品类点选营收')">
                    <b class="first-square square-color4"></b>
                    <span class="first-text first-text-color4">其中非大宗商城点选</span>
                  </div>
                  <div class="first-title-right">
                    <span class="right-text"
                      >当前累计<b class="title-number title-number-color4">{{
                        category.CURYEAR_PRFM
                      }}</b
                      ><i>{{ category.UNIT }}</i></span
                    >
                    <span class="first-text2"
                      >年度目标<b class="title-number2">{{
                        category.CURYEAR_ANNUAL_TARGET_VALUE
                      }}</b
                      ><i>{{ category.UNIT }}</i></span
                    >
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(255, 236, 176, 1)',
                      '100%': 'rgba(255, 212, 74, 1)',
                    }"
                    :percent="category.ANNUAL_FINISH_RATE"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color4"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                  <div class="first-details">
                    <div class="details-item">
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg"
                            >进度目标：<b class="details-number">{{ category.CURYEAR_TARGET }}</b
                            ><i>{{ category.UNIT }}</i>
                          </span>
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg"
                            >进度完成率：<b class="details-number">{{
                              category.CURYEAR_CPLTRATE
                            }}</b
                            ><i>%</i>
                          </span>
                        </p>
                      </div>
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color2" />
                          <span class="details-cg"
                            >月度增长率：<b class="details-number">{{
                              category.MONTHLY_GROWTH_RATE
                            }}</b
                            ><i>%</i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>{{ titleClick.value1 }}月度趋势图</span>
          </div>
          <div class="columnar-height2">
            <StackedColumnFoldMixedChart
              :legendone="revenue.chart"
              :x-axis="revenue.xAxis"
              :y-axis="revenue.yAxis"
              :series="revenue.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="heightclass div-height1">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">商城毛利</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="devdome">
            <div class="devdome-div1">
              <div class="echarts-div2">
                <SpeedGauge2
                  :echardata="gross.ANNUAL_FINISH_RATE"
                  :echarcolor1="state.echartcolor"
                  :echarunit="state.unit"
                />
              </div>
            </div>
            <div class="devdome-div">
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ gross.CURYEAR_ANNUAL_TARGET_VALUE }}</span>
                  <b class="circle-text1">{{ gross.UNIT[0] }}</b>
                  <span class="circle-text2">年度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ gross.CURYEAR_PRFM }}</span>
                  <b class="circle-text1">{{ gross.UNIT }}</b>
                  <span class="circle-text2">
                    当前累计 {{ gross.MONTHLY_GROWTH_RATE }}%
                    <span class="title-number-color5">↑</span>
                  </span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ gross.CURYEAR_TARGET }}</span>
                  <b class="circle-text1">{{ gross.UNIT }}元</b>
                  <span class="circle-text2">进度目标</span>
                </p>
              </div>
              <div class="echarts-div2-div">
                <p class="circle-icon">
                  <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                </p>
                &nbsp;&nbsp;
                <p>
                  <span class="circle-number">{{ revenue.CURYEAR_CPLTRATE }}</span>
                  <b class="circle-text1">%</b>
                  <span class="circle-text2">进度完成率</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 14 }">
        <div class="heightclass div-height1">
          <div class="columnar-title">
            <span>商城毛利月度趋势图</span>
          </div>
          <div class="columnar-height3">
            <StackedColumnFoldMixedChart
              :legendone="gross.chart"
              :x-axis="gross.xAxis"
              :y-axis="gross.yAxis"
              :series="gross.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 16 }">
        <div class="heightclass div-height1">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">商城客户数</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="devdome">
            <div class="devdome-div1">
              <div class="devdome">
                <div class="devdome-div1">
                  <div class="echarts-div2">
                    <SpeedGauge2
                      :echardata="customers1.ANNUAL_FINISH_RATE"
                      :echarcolor1="[
                        [0.3, '#FC6B57FF'],
                        [0.7, '#60C758FF'],
                        [1, '#5AA2FFFF'],
                      ]"
                      :echarunit="state.unit"
                    />
                  </div>
                </div>
                <div class="devdome-div">
                  <div class="echarts-div2-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">
                        {{ customers1.CURYEAR_ANNUAL_TARGET_VALUE }}
                      </span>
                      <b class="circle-text1">{{ customers1.UNIT }}</b>
                      <span class="circle-text2">年度目标</span>
                    </p>
                  </div>
                  <div class="echarts-div2-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ customers1.CURYEAR_PRFM }}</span>
                      <b class="circle-text1">{{ customers1.UNIT }}</b>
                      <span class="circle-text2">当前累计</span>
                    </p>
                  </div>
                  <div class="echarts-div2-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ customers1.CURYEAR_TARGET }}</span>
                      <b class="circle-text1">{{ customers1.UNIT }}</b>
                      <span class="circle-text2">进度目标</span>
                    </p>
                  </div>
                  <div class="echarts-div2-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ customers1.CURYEAR_CPLTRATE }}</span>
                      <b class="circle-text1">%</b>
                      <span class="circle-text2">进度完成率</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="devdome-div">
              <div class="first">
                <div class="first-title" @click="titleChange2('商城新增客户数')">
                  <div class="first-title-left">
                    <b class="first-square square-color1"></b>
                    <span class="first-text first-text-color1">商城新增客户数</span>
                  </div>
                  <div class="first-title-right">
                    <span class="right-text">
                      当前累计
                      <b class="title-number title-number-color1">{{ doublenon.CURYEAR_PRFM }}</b>
                      <i>{{ doublenon.UNIT }}</i>
                    </span>
                    <span class="first-text2">
                      年度目标
                      <b class="title-number2">{{ doublenon.CURYEAR_ANNUAL_TARGET_VALUE }}</b>
                      <i>{{ doublenon.UNIT }}</i>
                    </span>
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(252, 107, 87, 1)',
                      '100%': 'rgba(222, 41, 41, 1)',
                    }"
                    :percent="customers.ANNUAL_FINISH_RATE"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color1"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                  <div class="first-details">
                    <div class="details-item">
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg">
                            进度目标：
                            <b class="details-number">{{ customers.CURYEAR_TARGET }}</b>
                            <i>{{ customers.UNIT }}</i>
                          </span>
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="caret-color" />
                          <span class="details-cg">
                            进度完成率：
                            <b class="details-number">{{ customers.CURYEAR_CPLTRATE }}</b>
                            <i>%</i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="first">
                <div class="first-title" @click="titleChange2('商城新增双非客户数')">
                  <div class="first-title-left">
                    <b class="first-square square-color3"></b>
                    <span class="first-text first-text-color3">商城新增双非客户数</span>
                  </div>
                  <div class="first-title-right">
                    <span class="right-text">
                      当前累计
                      <b class="title-number title-number-color3">{{ doublenon.CURYEAR_PRFM }}</b>
                      <i>{{ doublenon.UNIT }}</i>
                    </span>
                    <span class="first-text2">
                      年度目标
                      <b class="title-number2">{{ doublenon.CURYEAR_ANNUAL_TARGET_VALUE }}</b>
                      <i>{{ doublenon.UNIT }}</i>
                    </span>
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(96, 199, 88, 1)',
                      '100%': 'rgba(36, 171, 85, 1)',
                    }"
                    :percent="doublenon.ANNUAL_FINISH_RATE"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color3"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                  <div class="first-details">
                    <div class="details-item">
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="span-color3" />
                          <span class="details-cg">
                            进度目标：
                            <b class="details-number">{{ doublenon.CURYEAR_TARGET }}</b>
                            <i>{{ doublenon.UNIT }}</i>
                          </span>
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="span-color3" />
                          <span class="details-cg">
                            进度完成率：
                            <b class="details-number">{{ doublenon.CURYEAR_CPLTRATE }}</b>
                            <i>%</i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="first">
                <div class="first-title" @click="titleChange2('商城双非客户金额占比')">
                  <div class="first-title-left">
                    <b class="first-square square-color2"></b>
                    <span class="first-text first-text-color2">商城双非客户金额占比</span>
                  </div>
                  <div class="first-title-right">
                    <span class="right-text">
                      当前累计
                      <b class="title-number title-number-color2">{{ amount.CURYEAR_PRFM }}</b>
                      <i>{{ amount.UNIT }}</i>
                    </span>
                    <span class="first-text2">
                      年度目标
                      <b class="title-number2">{{ amount.CURYEAR_ANNUAL_TARGET_VALUE }}</b>
                      <i>{{ amount.UNIT }}</i>
                    </span>
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(90, 162, 255, 1)',
                      '100%': 'rgba(69, 115, 230, 1)',
                    }"
                    :percent="amount.ANNUAL_FINISH_RATE"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color2"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                  <div class="first-details">
                    <div class="details-item">
                      <div class="details-item-text">
                        <p class="details-width">
                          <caret-right-outlined class="span-color2" />
                          <span class="details-cg">
                            进度目标：
                            <b class="details-number">{{ amount.CURYEAR_TARGET }}</b>
                            <i>{{ amount.UNIT }}</i>
                          </span>
                        </p>
                        <p class="details-width">
                          <caret-right-outlined class="span-color2" />
                          <span class="details-cg">
                            进度完成率：
                            <b class="details-number">{{ amount.CURYEAR_CPLTRATE }}</b>
                            <i>%</i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass div-height1">
          <div class="columnar-title">
            <span>{{ titleClick.value2 }}月度趋势图</span>
          </div>
          <div class="columnar-height3">
            <StackedColumnFoldMixedChart
              :legendone="customers.chart"
              :x-axis="customers.xAxis"
              :y-axis="customers.yAxis"
              :series="customers.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, nextTick } from 'vue';
  import { SpeedGauge2, StackedColumnFoldMixedChart } from '../../echartsAssembly';
  import echartoption from '../components/js/echartoption';
  import overserver from '../components/js/overserver';
  import { queryAggregate } from '@/api/strategyTracking';
  defineOptions({
    name: 'MallCenter',
    inheritAttrs: false,
  });
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });

  const state = reactive({
    e02: '78',
    unit: '%',
    echartcolor2: '#60C758',
    echartcolor: [
      [0.3, '#FC6B57FF'],
      [0.7, '#60C758FF'],
      [1, '#5AA2FFFF'],
    ],
    echartcolor3: [
      [0.5, '#60C758FF'],
      [1, '#5AA2FFFF'],
    ],
  });
  // 商城营收
  const revenue = reactive({
    CURYEAR_ANNUAL_TARGET_VALUE: 0, // 年度目标
    CURYEAR_PRFM: 0, // 当年累计
    MONTHLY_GROWTH_RATE: 0, // 月度增长率
    CURYEAR_TARGET: 0, // 当年进度目标
    CURYEAR_CPLTRATE: 0, // 当年完成率
    ANNUAL_FINISH_RATE: 0, // 年度完成率
    UNIT: 0,
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  // PSCS商城化采购额
  const quota = reactive({
    CURYEAR_ANNUAL_TARGET_VALUE: 0, // 年度目标
    CURYEAR_PRFM: 0, // 当年累计
    MONTHLY_GROWTH_RATE: 0, // 月度增长率
    CURYEAR_TARGET: 0, // 当年进度目标
    CURYEAR_CPLTRATE: 0, // 当年完成率
    ANNUAL_FINISH_RATE: 0, // 年度完成率
    UNIT: 0,
  });
  // 多元产业、社会客户商城营业收入(多元+社会)
  const multielement = reactive({
    CURYEAR_ANNUAL_TARGET_VALUE: 0, // 年度目标
    CURYEAR_PRFM: 0, // 当年累计
    MONTHLY_GROWTH_RATE: 0, // 月度增长率
    CURYEAR_TARGET: 0, // 当年进度目标
    CURYEAR_CPLTRATE: 0, // 当年完成率
    ANNUAL_FINISH_RATE: 0, // 年度完成率
    UNIT: 0,
  });
  // 社会客户商城营业收入(社会客户)
  const socialclients = reactive({
    CURYEAR_ANNUAL_TARGET_VALUE: 0, // 年度目标
    CURYEAR_PRFM: 0, // 当年累计
    MONTHLY_GROWTH_RATE: 0, // 月度增长率
    CURYEAR_TARGET: 0, // 当年进度目标
    CURYEAR_CPLTRATE: 0, // 当年完成率
    ANNUAL_FINISH_RATE: 0, // 年度完成率
    UNIT: 0,
  });
  // 非大宗品类点选营收
  const category = reactive({
    CURYEAR_ANNUAL_TARGET_VALUE: 0, // 年度目标
    CURYEAR_PRFM: 0, // 当年累计
    MONTHLY_GROWTH_RATE: 0, // 月度增长率
    CURYEAR_TARGET: 0, // 当年进度目标
    CURYEAR_CPLTRATE: 0, // 当年完成率
    ANNUAL_FINISH_RATE: 0, // 年度完成率
    UNIT: 0,
  });
  // 商城毛利
  const gross = reactive({
    CURYEAR_ANNUAL_TARGET_VALUE: 0, // 年度目标
    CURYEAR_PRFM: 0, // 当年累计
    MONTHLY_GROWTH_RATE: 0, // 月度增长率
    CURYEAR_TARGET: 0, // 当年进度目标
    CURYEAR_CPLTRATE: 0, // 当年完成率
    ANNUAL_FINISH_RATE: 0, // 年度完成率
    UNIT: 0,
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  // 商城新增客户
  const customers = reactive({
    CURYEAR_ANNUAL_TARGET_VALUE: 0, // 年度目标
    CURYEAR_PRFM: 0, // 当年累计
    MONTHLY_GROWTH_RATE: 0, // 月度增长率
    CURYEAR_TARGET: 0, // 当年进度目标
    CURYEAR_CPLTRATE: 0, // 当年完成率
    ANNUAL_FINISH_RATE: 0, // 年度完成率
    UNIT: 0,
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });

  // 商城客户总数
  const customers1 = reactive({
    ANNUAL_FINISH_RATE: '', // 年度完成率
    CURYEAR_ANNUAL_TARGET_VALUE: '', // 年度目标
    CURYEAR_PRFM: '', // 当前累计
    CURYEAR_TARGET: '', // 进度目标
    CURYEAR_CPLTRATE: '', // 进度完成率
    UNIT: '', // 单位
  });

  // 商城新增双非客户数
  const doublenon = reactive({
    CURYEAR_ANNUAL_TARGET_VALUE: 0, // 年度目标
    CURYEAR_PRFM: 0, // 当年累计
    MONTHLY_GROWTH_RATE: 0, // 月度增长率
    CURYEAR_TARGET: 0, // 当年进度目标
    CURYEAR_CPLTRATE: 0, // 当年完成率
    ANNUAL_FINISH_RATE: 0, // 年度完成率
    UNIT: 0,
  });
  // 商城双非客户金额占比
  const amount = reactive({
    CURYEAR_ANNUAL_TARGET_VALUE: 0,
    CURYEAR_PRFM: 0,
    MONTHLY_GROWTH_RATE: 0,
    CURYEAR_TARGET: 0,
    CURYEAR_CPLTRATE: 0,
    ANNUAL_FINISH_RATE: 0,
    UNIT: 0,
  });
  // 标题点击传参联动
  const titleClick = reactive({
    value1: '商城营业收入',
    value2: '商城新增客户数',
  });
  const titleChange = (title) => {
    titleClick.value1 = title;
    trendChart1();
  };
  const titleChange2 = (title) => {
    titleClick.value2 = title;
    trendChart3();
  };
  // 仪表盘数据
  const mallDashboard = (PRODname) => {
    queryAggregate(
      overserver.parameter5(
        'YM',
        props.yearMonth,
        '2023091510001111',
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        PRODname,
      ),
    ).then((r) => {
      const data = r.data[2023091510001111].dataMap;
      if (PRODname == '商城营业收入') {
        revenue.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText1(
          data.CURYEAR_ANNUAL_TARGET_VALUE[0],
        );
        revenue.CURYEAR_PRFM = overserver.MonText1(data.CURYEAR_PRFM[0]);
        revenue.MONTHLY_GROWTH_RATE = overserver.XiaoText(data.MONTHLY_GROWTH_RATE[0]);
        revenue.CURYEAR_TARGET = overserver.MonText1(data.CURYEAR_TARGET[0]);
        revenue.CURYEAR_CPLTRATE = overserver.XiaoText(data.CURYEAR_CPLTRATE[0]);
        revenue.ANNUAL_FINISH_RATE = overserver.MonText1(data.ANNUAL_FINISH_RATE[0]);
        revenue.UNIT = data.UNIT[0];
      } else if (PRODname == '商城业务毛利') {
        gross.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
        gross.CURYEAR_PRFM = overserver.MonText(data.CURYEAR_PRFM[0]);
        gross.MONTHLY_GROWTH_RATE = overserver.XiaoText(data.MONTHLY_GROWTH_RATE[0]);
        gross.CURYEAR_TARGET = overserver.MonText(data.CURYEAR_TARGET[0]);
        gross.CURYEAR_CPLTRATE = overserver.XiaoText(data.CURYEAR_CPLTRATE[0]);
        gross.ANNUAL_FINISH_RATE = overserver.MonText(data.ANNUAL_FINISH_RATE[0]);
        gross.UNIT = data.UNIT[0];
      } else if (PRODname == '商城客户总数') {
        customers1.ANNUAL_FINISH_RATE = overserver.XiaoText(data.ANNUAL_FINISH_RATE[0]);
        customers1.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText(
          data.CURYEAR_ANNUAL_TARGET_VALUE[0],
        );
        customers1.CURYEAR_PRFM = overserver.MonText(data.CURYEAR_PRFM[0]);
        customers1.CURYEAR_TARGET = overserver.MonText(data.CURYEAR_TARGET[0]);
        customers1.CURYEAR_CPLTRATE = overserver.XiaoText(data.CURYEAR_CPLTRATE[0]);
        customers1.UNIT = data.UNIT[0];
      } else if (PRODname == '商城新增客户数') {
        customers.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText(
          data.CURYEAR_ANNUAL_TARGET_VALUE[0],
        );
        customers.CURYEAR_PRFM = overserver.MonText(data.CURYEAR_PRFM[0]);
        // customers.MONTHLY_GROWTH_RATE = overserver.MonText1(data.MONTHLY_GROWTH_RATE[0]);
        customers.CURYEAR_TARGET = overserver.MonText(data.CURYEAR_TARGET[0]);
        customers.CURYEAR_CPLTRATE = overserver.XiaoText(data.CURYEAR_CPLTRATE[0]);
        customers.ANNUAL_FINISH_RATE = overserver.MonText(data.ANNUAL_FINISH_RATE[0]);
        customers.UNIT = data.UNIT[0];
      } else if (PRODname == 'PSCS商城化采购额') {
        quota.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText1(
          data.CURYEAR_ANNUAL_TARGET_VALUE[0],
        );
        quota.CURYEAR_PRFM = overserver.MonText1(data.CURYEAR_PRFM[0]);
        quota.MONTHLY_GROWTH_RATE = overserver.XiaoText(data.MONTHLY_GROWTH_RATE[0]);
        quota.CURYEAR_TARGET = overserver.MonText1(data.CURYEAR_TARGET[0]);
        quota.CURYEAR_CPLTRATE = overserver.XiaoText(data.CURYEAR_CPLTRATE[0]);
        quota.ANNUAL_FINISH_RATE = overserver.XiaoText(data.ANNUAL_FINISH_RATE[0]);
        quota.UNIT = data.UNIT[0];
      } else if (PRODname == '多元产业、社会客户商城营业收入') {
        multielement.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText1(
          data.CURYEAR_ANNUAL_TARGET_VALUE[0],
        );
        multielement.CURYEAR_PRFM = overserver.MonText1(data.CURYEAR_PRFM[0]);
        multielement.MONTHLY_GROWTH_RATE = overserver.XiaoText(data.MONTHLY_GROWTH_RATE[0]);
        multielement.CURYEAR_TARGET = overserver.MonText1(data.CURYEAR_TARGET[0]);
        multielement.CURYEAR_CPLTRATE = overserver.XiaoText(data.CURYEAR_CPLTRATE[0]);
        multielement.ANNUAL_FINISH_RATE = overserver.XiaoText(data.ANNUAL_FINISH_RATE[0]);
        multielement.UNIT = data.UNIT[0];
      } else if (PRODname == '社会客户商城营业收入') {
        socialclients.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText1(
          data.CURYEAR_ANNUAL_TARGET_VALUE[0],
        );
        socialclients.CURYEAR_PRFM = overserver.MonText1(data.CURYEAR_PRFM[0]);
        socialclients.MONTHLY_GROWTH_RATE = overserver.XiaoText(data.MONTHLY_GROWTH_RATE[0]);
        socialclients.CURYEAR_TARGET = overserver.MonText1(data.CURYEAR_TARGET[0]);
        socialclients.CURYEAR_CPLTRATE = overserver.XiaoText(data.CURYEAR_CPLTRATE[0]);
        socialclients.ANNUAL_FINISH_RATE = overserver.XiaoText(data.ANNUAL_FINISH_RATE[0]);
        socialclients.UNIT = data.UNIT[0];
      } else if (PRODname == '非大宗品类点选营收') {
        category.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText1(
          data.CURYEAR_ANNUAL_TARGET_VALUE[0],
        );
        category.CURYEAR_PRFM = overserver.MonText1(data.CURYEAR_PRFM[0]);
        category.MONTHLY_GROWTH_RATE = overserver.XiaoText(data.MONTHLY_GROWTH_RATE[0]);
        category.CURYEAR_TARGET = overserver.MonText1(data.CURYEAR_TARGET[0]);
        category.CURYEAR_CPLTRATE = overserver.XiaoText(data.CURYEAR_CPLTRATE[0]);
        category.ANNUAL_FINISH_RATE = overserver.XiaoText(data.ANNUAL_FINISH_RATE[0]);
        category.UNIT = data.UNIT[0];
      } else if (PRODname == '商城新增双非客户数') {
        doublenon.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText(
          data.CURYEAR_ANNUAL_TARGET_VALUE[0],
        );
        doublenon.CURYEAR_PRFM = overserver.MonText(data.CURYEAR_PRFM[0]);
        // doublenon.MONTHLY_GROWTH_RATE = overserver.MonText1(data.MONTHLY_GROWTH_RATE[0]);
        doublenon.CURYEAR_TARGET = overserver.MonText(data.CURYEAR_TARGET[0]);
        doublenon.CURYEAR_CPLTRATE = overserver.XiaoText(data.CURYEAR_CPLTRATE[0]);
        doublenon.ANNUAL_FINISH_RATE = overserver.XiaoText(data.ANNUAL_FINISH_RATE[0]);
        doublenon.UNIT = data.UNIT[0];
      } else if (PRODname == '商城双非客户金额占比') {
        amount.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText(
          data.CURYEAR_ANNUAL_TARGET_VALUE[0],
        );
        amount.CURYEAR_PRFM = overserver.MonText(data.CURYEAR_PRFM[0]);
        // amount.MONTHLY_GROWTH_RATE = overserver.MonText1(data.MONTHLY_GROWTH_RATE[0]);
        amount.CURYEAR_TARGET = overserver.MonText(data.CURYEAR_TARGET[0]);
        amount.CURYEAR_CPLTRATE = overserver.XiaoText(data.CURYEAR_CPLTRATE[0]);
        amount.ANNUAL_FINISH_RATE = overserver.XiaoText(data.ANNUAL_FINISH_RATE[0]);
        amount.UNIT = data.UNIT[0];
      }
    });
  };
  // 趋势图数据
  // 2023091510002222
  const trendChart1 = () => {
    queryAggregate(
      overserver.parameter4(
        'YM',
        props.yearMonth,
        2023091510002222,
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        titleClick.value1,
      ),
    ).then((result) => {
      const dataMap = result.data[2023091510002222].dataMap;
      revenue.xAxis = dataMap.YM;
      revenue.series = echartoption.echarts(
        dataMap.CURMONTH_PLAN_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };
  const trendChart2 = () => {
    queryAggregate(
      overserver.parameter4(
        'YM',
        props.yearMonth,
        2023091510002222,
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        '商城业务毛利',
      ),
    ).then((result) => {
      const dataMap = result.data[2023091510002222].dataMap;
      gross.xAxis = dataMap.YM;
      gross.series = echartoption.echarts(
        dataMap.CURMONTH_PLAN_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };
  const trendChart3 = () => {
    queryAggregate(
      overserver.parameter4(
        'YM',
        props.yearMonth,
        2023091510002222,
        'DEPT_NAME',
        props.depData,
        'PROD_TARGET_PROJ',
        titleClick.value2,
      ),
    ).then((result) => {
      const dataMap = result.data[2023091510002222].dataMap;
      customers.xAxis = dataMap.YM;
      customers.series = echartoption.echarts(
        dataMap.CURMONTH_PLAN_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };

  const mallCenter = () => {
    nextTick(() => {
      mallDashboard('商城营业收入');
      mallDashboard('商城业务毛利');
      mallDashboard('商城新增客户数');
      mallDashboard('PSCS商城化采购额');
      mallDashboard('多元产业、社会客户商城营业收入');
      mallDashboard('社会客户商城营业收入');
      mallDashboard('非大宗品类点选营收');
      mallDashboard('商城新增双非客户数');
      mallDashboard('商城双非客户金额占比');
      mallDashboard('商城客户总数');
      trendChart1();
      trendChart2();
      trendChart3();
    });
  };

  defineExpose({
    mallCenter,
  });
</script>

<style lang="less" scoped>
  @import '../components/css/overstyle.less';
  .columnar-height2 {
    height: 620px;
  }

  .speed-height {
    min-height: 385px;
  }
  .speed-height3 {
    height: 450px;
  }
  .speed-echar4 {
    height: 430px;
  }

  .speed-right-margin {
    margin-top: 2%;
  }
  /deep/.ant-progress-text {
    margin-right: 10px;
  }
  .div-height {
    min-height: 700px;
    margin-bottom: 15px;
  }

  .first-bottom {
    margin-bottom: 30px;
  }

  // 弹性布局
  .devdome {
    display: flex;
    justify-content: space-between;
  }
  .devdome-div {
    margin-top: 20px;
    margin-right: 20px;
    width: 45%;
    height: 320px;
  }
  .devdome-div1 {
    width: 55%;
    height: 340px;
  }
  .devdome-1-div {
    width: 50%;
    height: 50px;
    display: flex;
    margin-left: 15%;
  }
  .devdome-div1-div1 {
    height: 220px;
  }
  .devdome-div1-div2 {
    height: 50px;
    margin-bottom: 15px;
  }
  .first-height {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .div-height1 {
    height: 400px;
  }

  .echarts-div2 {
    height: 340px;
  }
  .echarts-div2-div {
    display: flex;
    margin: 15px auto;
    padding-left: 15%;
  }
  .speed-data-SC {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: -25px 0px 10px 80px;
  }
  .speed-data4 {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .speed-data5 {
    margin-top: 50px;
    margin-bottom: 0px;
  }
</style>
