<template>
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]">
      <div class="OperationTarget-bg">
        <a-row :gutter="[16, 10]">
          <a-col :md="{ span: 14 }">
            <MergeTable
              :widget-id="2023052515484931"
              :has-header="false"
              :data-list="table01.dataSource"
              :column-list="table01.columns"
              :column-groups="table01.columnGroups"
              :formatter="tableStyle.formatter"
              :scroll="{ x: 1700, y: 400 }"
              @cellClicked="ontable01Clicked"
            />
          </a-col>
          <a-col :md="{ span: 10 }">
            <p class="OperationTarget-title"
              ><span class="color-red">{{ PROD_TARGET_PROJ1 }}</span
              >{{ DEPT_NAME1 }}趋势图</p
            >
            <div class="OperationTarget-height">
              <StackedColumnFoldMixedChart
                :legendone="props.tableTitle == '会员商务中心指标' ? mont01.chart2 : mont01.chart"
                :x-axis="mont01.xAxis"
                :y-axis="mont01.yAxis"
                :series="props.tableTitle == '会员商务中心指标' ? mont01.series2 : mont01.series"
              />
            </div>
          </a-col>
        </a-row>
      </div>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, nextTick, ref, defineExpose } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import tableStyle from './js/tableStyle';
  import tableFrom from './js/TableFrom';
  import echartsSeries from './js/echartsSeries';
  import { MergeTable } from '@/components/business';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    prodname: {
      type: String,
      default: () => {
        return '';
      },
    },
    tableTitle: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );

  const InitialCall = () => {
    nextTick(() => {
      query01();
    });
  };

  defineExpose({
    InitialCall,
  });

  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: usrtID,
        },
        {
          filterField: 'PROD_NAME',
          filterValues: [props.prodname],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }
  function parameter1(usrtID, userName, userDept) {
    const cans = {
      relations: [
        {
          filterType: 'ragen',
          filterField: 'YM',
          filterValues: [`${props.yearMonth.substring(0, 4)}01`, props.yearMonth],
          widgetId: usrtID,
        },
        {
          filterField: 'PROD_NAME',
          filterValues: [props.prodname],
          widgetId: usrtID,
        },
        {
          filterField: 'PROD_TARGET_PROJ',
          filterValues: [userName],
          widgetId: usrtID,
        },
        {
          filterField: 'DEPT_NAME',
          filterValues: [userDept],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }

  const table01 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '本月（万元）',
        children: [
          'CURMONTH_PRFM',
          'CURMONTH_PLAN_TARGET',
          'CURMONTH_ACT_TARGET',
          'CURMONTH_CPLTRATE',
          'CURMONTH_GAP',
          'NEXT_MONTH_TARGET',
        ],
      },
      {
        title: '本年（万元）',
        children: [
          'CURYEAR_PRFM',
          'CURYEAR_TARGET',
          'CURYEAR_CPLTRATE',
          'CURYEAR_GAP',
          'ANNUAL_FINISH_RATE',
        ],
      },
    ],
    columns: [
      { title: '指标', dataIndex: 'PROD_TARGET_PROJ', key: 'PROD_TARGET_PROJ', width: '10%' },
      { title: '单位', dataIndex: 'DEPT_NAME', key: 'DEPT_NAME', ellipsis: false, width: '10%' },
      {
        title: '实绩',
        dataIndex: 'CURMONTH_PRFM',
        key: 'CURMONTH_PRFM',
        formatter: 'rate2',
      },
      {
        title: '预案目标',
        dataIndex: 'CURMONTH_PLAN_TARGET',
        key: 'CURMONTH_PLAN_TARGET',
        formatter: 'rate2',
      },
      {
        title: '实绩目标',
        dataIndex: 'CURMONTH_ACT_TARGET',
        key: 'CURMONTH_ACT_TARGET',
        formatter: 'rate2',
      },
      {
        title: '完成率',
        dataIndex: 'CURMONTH_CPLTRATE',
        key: 'CURMONTH_CPLTRATE',
        formatter: 'rate1',
      },
      {
        title: '缺口',
        dataIndex: 'CURMONTH_GAP',
        key: 'CURMONTH_GAP',
        formatter: 'rate2',
      },
      {
        title: '下月目标',
        dataIndex: 'NEXT_MONTH_TARGET',
        key: 'NEXT_MONTH_TARGET',
        formatter: 'rate2',
      },
      {
        title: '实绩',
        dataIndex: 'CURYEAR_PRFM',
        key: 'CURYEAR_PRFM',
        formatter: 'rate2',
      },
      {
        title: '累计目标',
        dataIndex: 'CURYEAR_TARGET',
        key: 'CURYEAR_TARGET',
        formatter: 'rate2',
      },
      {
        title: '累计完成率',
        dataIndex: 'CURYEAR_CPLTRATE',
        key: 'CURYEAR_CPLTRATE',
        formatter: 'rate1',
      },
      {
        title: '缺口',
        dataIndex: 'CURYEAR_GAP',
        key: 'CURYEAR_GAP',
        formatter: 'rate2',
      },
      {
        title: '年度完成率',
        dataIndex: 'ANNUAL_FINISH_RATE',
        key: 'ANNUAL_FINISH_RATE',
        formatter: 'rate1',
      },
    ],
  });
  const query01 = () => {
    queryAggregate(parameter(2023052515484931)).then((result) => {
      const data = result.data[2023052515484931].dataMap;
      table01.dataSource = tableFrom.toTableData(result.data, 2023052515484931);
      DEPT_NAME1.value = data.DEPT_NAME[0];
      PROD_TARGET_PROJ1.value = data.PROD_TARGET_PROJ[0];
      queryechart01();
    });
  };
  const DEPT_NAME1 = ref('');
  const PROD_TARGET_PROJ1 = ref('');
  const ontable01Clicked = (record) => {
    DEPT_NAME1.value = record.DEPT_NAME;
    PROD_TARGET_PROJ1.value = record.PROD_TARGET_PROJ;
    queryechart01();
  };
  const mont01 = reactive({
    chart: ['实绩', '目标', '完成率'],
    chart2: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '' }, { name: '%' }],
    series: [],
    series2: [],
  });
  const queryechart01 = () => {
    queryAggregate(parameter1(2023042613301237, PROD_TARGET_PROJ1.value, DEPT_NAME1.value)).then(
      (result) => {
        const data = result.data[2023042613301237].dataMap;
        mont01.yAxis[0].name = data.UNIT[0];
        mont01.series = echartsSeries.seriesData(
          data.CURMONTH_ACT_TARGET,
          data.CURMONTH_PRFM,
          data.CURMONTH_CPLTRATE,
          data.UNIT[0],
        );
        mont01.series2 = echartsSeries.seriesData1(data.CURMONTH_PRFM, data.UNIT[0]);
        mont01.xAxis = data.YM;
      },
    );
  };
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin: 10px 0px;
    }
    .color-red {
      color: #ff0000;
    }
    .OperationTarget-height {
      height: 500px;
    }
  }
  /deep/ .ant-table-tbody > tr > td {
    font-family: @font-family;
    color: @heading-color;
    font-size: 18px;
    text-align: center;
    border: 1px solid #000000;
  }

  /deep/ .ant-table-thead > tr > th {
    font-family: @font-family;
    color: @heading-color;
    font-size: 20px;
    text-align: center;
    border: 1px solid #000000;
  }
</style>
