<template>
  <div class="main">
    <DynamicTable :columns="columns" :data-request="loadData" children-column-name="goalsFiles">
    </DynamicTable>
    <KPIReport
      :kpi-visible="state.kpiVisible"
      :title="state.title"
      :record="state.record"
      @close="state.kpiVisible = false"
    ></KPIReport>
  </div>
</template>
<script setup lang="ts">
  import { reactive } from 'vue';
  import KPIReport from './nav/KPIReport.vue';
  import { useTable } from '@/components/core/dynamic-table';
  import { queryPlanList } from '@/api/planList/planList.ts';

  defineOptions({
    name: 'planList',
  });
  const [DynamicTable, dynamicTableInstance] = useTable({
    search: false,
    pagination: false,
    autoHeight: true,
    size: 'small',
    rowKey: 'code',
    bordered: true,
  });
  const state = reactive<any>({
    BASE_URL: location.origin.endsWith('localhost:8099')
      ? `${location.origin}/proxy/`
      : process.env.VUE_APP_BASE_API,
    kpiVisible: false,
    record: {},
    title: '',
  });

  const columns = [
    {
      title: '标题',
      dataIndex: 'name',
      width: 300,
    },
    {
      title: '年份',
      dataIndex: 'yearPeriod',
      align: 'center',
      width: 120,
    },
    {
      title: '版本',
      dataIndex: 'version',
      align: 'center',
      width: 120,
    },
    {
      title: '归档时间',
      dataIndex: 'versionTime',
      align: 'center',
      width: 160,
    },
    {
      title: '操作',
      width: 240,
      dataIndex: 'ACTION',
      fixed: 'right',
      align: 'center',
      actions: ({ record }) => {
        let actionList = [] as any;
        if (record.menuFlag == '2') {
          actionList = [
            {
              label: '下载',
              onClick: () => {
                state.record = record;
                simpleDownload(`${state.BASE_URL}basic/n/get/file?key=${record.code}`, record.name);
              },
            },
          ];
        } else {
          actionList = [
            {
              label: '工业品绩效',
              onClick: () => {
                state.kpiVisible = true;
                record.type = 'kpi';
                state.record = record;
                state.title = '工业品绩效';
              },
            },
            {
              label: '各部门绩效',
              onClick: () => {
                state.kpiVisible = true;
                record.type = 'dept';
                state.record = record;
                state.title = '各部门绩效';
              },
            },
          ];
        }
        return actionList;
      },
    },
  ];

  // 请求列表数据
  const loadData = async () => {
    state.loading = true;
    const res = await queryPlanList();
    if (res.success) {
      state.dataSource = res.data;
      state.loading = false;
      return {
        list: recursionList(res.data),
        pagination: { total: res.total, page: res.pageNum, size: res.pageSize },
      };
    }
  };

  //简单下载
  const simpleDownload = (url, name) => {
    const downloadLink = document.createElement('a');
    downloadLink.href = url;
    downloadLink.download = name; // 替换为你想要的文件名称
    document.body.appendChild(downloadLink);
    downloadLink.click();
    setTimeout(() => {
      document.body.removeChild(downloadLink);
    }, 500);
  };

  //如果列表数据goalsFiles为空，则移除该字段
  const recursionList = (arr) => {
    const newArr = [];

    // 遍历原始数组
    for (let i = 0; i < arr.length; i++) {
      const item = arr[i];
      let newItem = {};

      // 检查字段goalsFiles是否为空
      if (Array.isArray(item.goalsFiles) && item.goalsFiles.length > 0) {
        // 如果goalsFiles不为空，则递归处理goalsFiles数组
        newItem = Object.assign({}, item, {
          goalsFiles: recursionList(item.goalsFiles),
        });
      } else {
        newItem = Object.assign({}, item);
        delete newItem.goalsFiles;
      }

      // 将处理后的项添加到新数组中
      newArr.push(newItem);
    }
    return newArr;
  };
</script>
<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;
  }
</style>
