<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      :title="`${state.title}项目`"
      width="1000px"
      :footer="null"
      destroy-on-close
      @ok="handleOk"
      @cancel="handleOk"
    >
      <div>
        <a-form
          ref="auditFormRef"
          :model="state.auditForm"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 16 }"
          :rules="rules"
          @finish="onFinish1"
          @finish-failed="onFinishFailed1"
        >
          <a-form-item label="项目名称" name="projectName">
            <a-input
              v-model:value="state.auditForm.projectName"
              placeholder="请输入100字符以内,不允许重复"
              :maxlength="100"
              type="text"
              @blur="projectCheckFn"
            />
          </a-form-item>
          <a-form-item label="项目类别" name="projectCategory">
            <a-radio-group v-model:value="state.auditForm.projectCategory">
              <a-form-item-rest>
                <a-radio
                  v-for="item in state.itemTextList"
                  :key="item.itemValue"
                  :value="item.itemValue"
                  >{{ item.itemText }}</a-radio
                >
              </a-form-item-rest>
            </a-radio-group>
          </a-form-item>
          <a-form-item label="项目内容" name="projectContent" style="margin-bottom: 20px">
            <a-textarea
              v-model:value="state.auditForm.projectContent"
              :maxlength="500"
              allow-clear
              show-count
              placeholder="请输入500字符以内"
            />
          </a-form-item>
          <a-form-item label="立项理由" name="reason">
            <a-textarea
              v-model:value="state.auditForm.reason"
              :maxlength="500"
              allow-clear
              show-count
              placeholder="请输入500字符以内"
            />
          </a-form-item>
          <a-form-item label="被巡察单位" name="inspectedUnits">
            <a-tree-select
              v-if="state.responsibleDeptData.length > 0"
              v-model:value="state.auditForm.inspectedUnits"
              style="width: 80%"
              :tree-data="state.responsibleDeptData"
              tree-checkable
              show-search
              allow-clear
              :height="250"
              :field-names="{ children: 'children', title: 'label', key: 'value' }"
              placeholder="请选择被巡察单位"
              tree-node-filter-prop="label"
              class="custom-tree-select"
            />
          </a-form-item>
          <a-form-item label="项目组长" name="projectTeamLeader">
            <TagInput
              v-model:value="state.auditForm.projectTeamLeader"
              style="width: 100%"
            ></TagInput>
          </a-form-item>
          <a-form-item label="项目副组长" name="projectDeputyLeader">
            <TagInput
              v-model:value="state.auditForm.projectDeputyLeader"
              style="width: 100%"
            ></TagInput>
          </a-form-item>
          <a-form-item label="项目联络员" name="projectLiaison">
            <a-select
              v-model:value="state.auditForm.projectLiaison"
              :allow-clear="true"
              show-search
              :filter-option="false"
              @search="handleUserSearch"
              @deselect="getUsersFn(null)"
            >
              <a-select-option
                v-for="item in state.allUsers"
                :key="item.userId"
                :field-names="{ label: 'username', value: 'userId' }"
                :value="`${item.username}/${item.employeeCode}`"
              >
                {{ item.username }}/{{ item.employeeCode }}
              </a-select-option>
            </a-select>
          </a-form-item>
          <a-form-item label="项目组员" name="projectMember">
            <TagInput v-model:value="state.auditForm.projectMember" style="width: 100%"></TagInput>
          </a-form-item>
          <a-form-item label="项目开始时间" name="projectStartDate">
            <a-date-picker
              v-model:value="state.auditForm.projectStartDate"
              format="YYYY-MM-DD"
              value-format="YYYY-MM-DD"
              type="date"
              placeholder="选择时间"
              style="width: 80%"
            />
          </a-form-item>
          <a-form-item label="项目结束时间" name="projectEndDate">
            <a-date-picker
              v-model:value="state.auditForm.projectEndDate"
              format="YYYY-MM-DD"
              value-format="YYYY-MM-DD"
              type="date"
              placeholder="选择时间"
              style="width: 80%"
            />
          </a-form-item>
          <a-form-item label="项目备注" name="remark">
            <a-textarea
              v-model:value="state.auditForm.remark"
              :maxlength="500"
              allow-clear
              show-count
              placeholder="请输入500字符以内"
            />
          </a-form-item>
          <div class="sub-btn">
            <a-button
              html-type="submit"
              type="primary"
              style="background: #1890ff; color: #fff"
              :loading="state.loading"
            >
              保存</a-button
            >
          </div>
          <div> </div>
        </a-form>
      </div>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import type { Rule } from 'ant-design-vue/es/form';
  import TagInput from '@/components/core/schema-form/src/components/TagInput.vue';
  import {
    getProjectSave,
    getProjectEdit,
    getProjectCheck,
  } from '@/api/supervisionGovern/questionInventory';
  import { partyOrganizations } from '@/api/supervisionGovern/Inspection';
  import { getUsersCode } from '@/api/supervisionModel';
  const { proxy } = getCurrentInstance();
  const emit = defineEmits(['search']);
  const dialogFormVisible = ref(false);

  const auditFormRef = ref();

  const state = reactive({
    title: '新增',
    itemTextList: proxy.$dict.getItemsByDictCode('PROJECT_CATEGORY'),
    loading: false,
    responsibleDeptData: [],
    allUsers: [],
    auditForm: {
      id: '',
      projectCode: '',
      projectName: '',
      projectCategory: '',
      projectContent: '',
      inspectedUnits: [],
      projectTeamLeader: [],
      projectDeputyLeader: [],
      projectMember: [],
      projectLiaison: '',
      reason: '',
      remark: '',
      projectStartDate: undefined,
      projectEndDate: undefined,
    },
    pagination: {
      pageSizeOptions: ['10', '20', '30', '40'],
      current: 1,
      pageSize: 10,
      total: 0,
      showSizeChanger: true,
      showQuickJumper: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
  });

  const processHandle = (record) => {
    // console.log('列表过来的数据', record.rectifyStatus);
    const val = cloneDeep(record);
    state.title = '编辑';
    val.inspectedUnits = val.inspectedUnits.split(',');
    val.projectTeamLeader = val.projectTeamLeader.split(',');
    val.projectDeputyLeader = val.projectDeputyLeader.split(',');
    val.projectMember = val.projectMember.split(',');
    state.auditForm = { ...val };
  };

  const handleUserSearch = (val) => {
    getUsersFn(val, 1);
  };
  const projectCheckFn = () => {
    validateName();
  };
  const validateName = async (_rule: Rule, value: String) => {
    const _params = {
      projectName: state.auditForm.projectName,
      projectCode: state.title == '编辑' ? state.auditForm.projectCode : null,
    };
    const checkResult = await getProjectCheck(_params);
    if (!checkResult.success) {
      message.error('项目名称重复，请重新输入！');
      return Promise.reject('项目名称重复，请重新输入！');
    } else {
      return Promise.resolve();
    }
  };
  const getUsersFn = (val, falg) => {
    //项目责任人-模型管理员列表
    let _params = {};
    if (falg == 1) {
      _params = {
        username: val,
      };
    } else if (falg == 2) {
      _params = {
        userId: val,
      };
    } else {
      _params = {};
    }
    getUsersCode(_params).then((r) => {
      if (r.data.code == 'OK') {
        state.allUsers = r.data.data;
      }
    });
  };
  const getResponsibleDeptFn = () => {
    partyOrganizations().then((res) => {
      if (res.code === 'OK') {
        state.responsibleDeptData = res.data;
      }
    });
    getUsersFn('');
  };
  const rules = reactive({
    projectName: [
      { required: true, message: '请输入项目名称', trigger: 'blur' },
      { validator: validateName },
    ],
    projectCategory: [{ required: true, message: '请选择项目类别' }],
    projectContent: [{ required: true, message: '请输入项目内容', trigger: 'blur' }],
    reason: [{ required: true, message: '请输入立项理由', trigger: 'blur' }],
    inspectedUnits: [{ required: true, message: '请选择被巡察单位', trigger: 'blur' }],
    projectTeamLeader: [{ required: true, message: '请输入项目组长', trigger: 'blur' }],
    projectDeputyLeader: [{ required: true, message: '请输入项目副组长', trigger: 'blur' }],
    projectLiaison: [{ required: true, message: '请输入项目联络员', trigger: 'blur' }],
    projectMember: [{ required: true, message: '请输入团队成员', trigger: 'blur' }],
    projectStartDate: [{ required: true, message: '请选择项目开始时间', trigger: 'change' }],
    projectEndDate: [{ required: true, message: '请选择项目结束时间', trigger: 'change' }],
  });

  const onChangeVisable = () => {
    dialogFormVisible.value = true;
    getResponsibleDeptFn();
  };
  const onFinish1 = () => {
    state.loading = true;
    const _params = { ...state.auditForm };
    _params.projectTeamLeader = state.auditForm.projectTeamLeader.join(',');
    _params.projectDeputyLeader = state.auditForm.projectDeputyLeader.join(',');
    _params.projectMember = state.auditForm.projectMember.join(',');
    _params.inspectedUnits = state.auditForm.inspectedUnits.join(',');
    console.log(_params);
    if (state.title == '新增') {
      getProjectSave({ ..._params, remediateTrackingType: '20' }).then((res) => {
        state.loading = false;
        if (res.code === 'OK') {
          emit('search');
          message.success('新增成功');
          handleOk(); //提交则直接关闭弹框
        }
      });
    } else {
      //编辑
      getProjectEdit(_params).then((res) => {
        state.loading = false;
        if (res.code === 'OK') {
          emit('search');
          message.success('编辑成功');
          handleOk(); //提交则直接关闭弹框
        }
      });
    }
  };
  const onFinishFailed1 = () => {};
  const handleOk = () => {
    state.title = '新增';
    state.auditForm = {
      id: '',
      projectCode: '',
      projectName: '',
      projectCategory: '',
      projectContent: '',
      inspectedUnits: [],
      projectTeamLeader: [],
      projectDeputyLeader: [],
      projectMember: [],
      projectLiaison: '',
      reason: '',
      remark: '',
      projectStartDate: undefined,
      projectEndDate: undefined,
    };
    dialogFormVisible.value = false;
  };

  defineExpose({ onChangeVisable, processHandle });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 18px;
    font-weight: 600;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
