<template>
  <div>
    <Card class="user-profile" title="">
      <template #extra>
        <Button type="primary" @click="updateProfile">
          <template #icon><EditOutlined /> </template>
          编辑资料
        </Button>

        <!-- <EditOutlined style="color: blue" /><a
          href="javascript:void(0)"
          style="color: blue"
          @click="updateProfile"
          >编辑资料</a
        > -->
      </template>
      <Row :gutter="8">
        <Col :span="6">
          <div
            style="
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            "
          >
            <div style="text-align: center"
              ><img
                style="width: 10rem; border-radius: 2px; margin: auto"
                alt="头像"
                :src="userAvatar"
            /></div>
            <Button style="margin-top: 1rem" @click="showUpdateAvatar"
              >修改头像 <template #icon><EditOutlined /></template
            ></Button>
          </div>
        </Col>
        <Col :span="12" style="font-size: 1rem">
          <p>账户：{{ user.username }}</p>
          <p :title="user.roleName">角色：{{ user.roleName ? user.roleName : '暂无角色' }}</p>
          <p>性别：{{ sex }}</p>
          <p>电话：{{ user.mobile ? user.mobile : '暂未绑定电话' }}</p>
          <p>邮箱：{{ user.email ? user.email : '暂未绑定邮箱' }}</p>
          <p>部门：{{ user.deptName ? user.deptName : '暂无部门' }}</p>
          <p>描述：{{ user.description }}</p>
        </Col>
      </Row>
    </Card>
    <div id="modalBox"><AvatarModalRender> </AvatarModalRender></div>
  </div>
</template>
<script lang="tsx" setup>
  import { computed } from 'vue';
  import { EditOutlined } from '@ant-design/icons-vue';
  import { Card, Row, Col, Button, message as $message } from 'ant-design-vue';
  import { userEditorSchemas } from './formSchemas';
  import { useUserStore } from '@/store/modules/user';
  import { updateAvatar } from '@/api/system/user';
  import { editUser } from '@/api/account';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal, useModal } from '@/hooks/useModal/index';

  defineOptions({
    name: 'accountsettings',
  });

  const userStore = useUserStore();
  const user = computed(() => userStore.userInfo);
  const userAvatar = computed(() => {
    return require(`@/assets/avatar/${user.value.avatar}`);
  });

  const sex = computed(() => {
    switch (user.value.ssex) {
      case '0':
        return '男';
      case '1':
        return '女';
      case '2':
        return '保密';
      default:
        return user.value.ssex;
    }
  });

  const obei = [
    'obei.png',
    'o1.png',
    'o2.png',
    'o3.png',
    'o4.png',
    'o5.png',
    'o6.png',
    'o7.png',
    'o8.png',
    'o9.png',
    'o10.png',
    'o11.png',
    'o12.png',
  ];

  let updating = false;

  const [AvatarModalRender, modalRef] = useModal();

  const showUpdateAvatar = () => {
    AvatarModalRender.show({
      title: '选择头像',
      width: 600,
      footer: null,
      centered: true,
      getContainer: () => {
        return document.getElementById('modalBox');
      },
      content: () => {
        const col = obei.map((item) => {
          const src = `static/avatar/${item}`;
          return (
            <Col span={6}>
              <div class="avatar-wrapper">
                <img
                  alt="点击选择"
                  src={src}
                  onClick={() => {
                    changeAvatar(item);
                  }}
                />
              </div>
            </Col>
          );
        });

        return (
          <div>
            <Row gutter={8}>{col}</Row>
          </div>
        );
      },
    });

    modalRef.top = 220;
  };

  const changeAvatar = (avatar) => {
    if (updating) {
      $message.warning('更换头像中，请勿重复点击');
      return;
    }

    updating = true;

    updateAvatar({
      username: user.value.username,
      avatar,
    })
      .then(() => {
        userStore.setAvatar(avatar);
        AvatarModalRender.hide();
        updating = false;
      })
      .catch(() => {
        $message.error('更新头像失败');
        AvatarModalRender.hide();
        updating = false;
      });
  };

  const [showModal] = useFormModal();

  const updateProfile = async () => {
    const [formRef] = await showModal<any>({
      modalProps: {
        title: `编辑个人信息`,
        width: 700,
        onFinish: async (values) => {
          values.username = user.value.username;
          values.employeeCode = user.value.employeeCode;
          values.status = user.value.status;
          values.roleId = user.value.roleId;

          editUser(values)
            .then(() => {
              const info = userStore.userInfo;
              info.email = values.email;
              info.mobile = values.mobile;
              info.ssex = values.ssex;
              info.description = values.description;

              userStore.setUserInfo(info);

              $message.info('修改用户成功');
            })
            .catch(() => {
              $message.info('修改用户失败');
            });
          // values.id = record.userId;
          // await (record.userId ? updateUser : createUser)(values);
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: userEditorSchemas,
      },
    });
    const userInfo = {
      email: user.value.email,
      mobile: user.value.mobile,
      description: user.value.description,
      ssex: user.value.ssex,
    };
    console.log('userInfo', userInfo);

    formRef?.setFieldsValue(userInfo);
  };
</script>

<style lang="less">
  .user-profile {
    .ant-card-body {
      padding: 1rem 0 !important;
      p {
        font-size: 0.9rem !important;
        line-height: 1.1rem !important;
        margin-bottom: 0.6rem !important;
      }
    }
  }

  .modalStyle {
    top: 60px;
    left: 300px;
  }
  // .update-avatar {
  //   .ant-modal-body {
  //     padding: 0 1rem 1rem 1rem !important;

  //     .avatar-wrapper {
  //       display: inline-block;

  //       img {
  //         width: 6rem;
  //         border-radius: 2px;
  //         display: inline-block;
  //         margin: 0.5rem;
  //         cursor: pointer;
  //       }
  //     }
  //   }
  // }
</style>
