<template>
  <a-dropdown :trigger="['click']">
    <slot></slot>
    <template #overlay>
      <a-menu @click="onMenuClick">
        <a-sub-menu title="汇总方式" :disabled="props.isY">
          <a-menu-item key="sum">求和</a-menu-item>
          <a-menu-item key="avg">平均</a-menu-item>
          <a-menu-item key="max">最大值</a-menu-item>
          <a-menu-item key="min">最小值</a-menu-item>
          <a-menu-item key="count">计数</a-menu-item>
        </a-sub-menu>
        <a-menu-item key="asc"> 升序 </a-menu-item>
        <a-menu-item key="desc"> 降序 </a-menu-item>
        <a-menu-item key="distinct" :disabled="props.disabled || props.itemType != 'field'">
          去重
        </a-menu-item>
        <a-menu-item key="format" :disabled="props.isY"> 数据格式 </a-menu-item>
        <a-menu-item
          v-if="props.itemType === 'field' || props.itemType === 'addField'"
          key="filter"
        >
          过滤
        </a-menu-item>
        <a-menu-item key="del"> 删除 </a-menu-item>
      </a-menu>
    </template>
  </a-dropdown>
</template>

<script lang="ts" setup>
  defineOptions({
    name: 'OperateMenu',
  });
  const props = defineProps({
    isY: {
      type: Boolean,
      default: false,
    },
    itemType: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  });
  const emit = defineEmits(['onMenuClick']);
  const onMenuClick = (e) => {
    emit('onMenuClick', e);
  };
</script>

<style scoped></style>
