<template>
  <div class="page-container">
    <div class="header">
      <div>
        <a-form
          :model="formState"
          name="basic"
          :label-col="{ span: 8 }"
          :wrapper-col="{ span: 16 }"
          autocomplete="off"
        >
          <a-form-item label="商品搜索词" name="keyword">
            <a-input v-model:value="state.params.keyword" placeholder="请输入商品搜索词" />
          </a-form-item>
        </a-form>
      </div>
      <div class="search">
        <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
        <a-button type="danger" style="marginleft: 5px" @click="onReset">重置</a-button>
      </div>
    </div>
    <DynamicTable
      header-title="商品均价智能检索"
      :data-source="state.dataSource"
      :columns="columns"
      bordered
      :loading="state.loading"
      size="small"
      auto-height
      :scroll="{ x: 2000, y: 300 }"
    >
      <template #bodyCell="{ column, record }">
        <a v-if="column.dataIndex === 'priceInfo'" style="color: blue" @click="viewModel1(record)"
          >查看</a
        >
        <a v-if="column.dataIndex === 'props'" style="color: blue" @click="viewModel2(record)"
          >查看</a
        >
        <a v-if="column.dataIndex === 'goods'" style="color: blue" @click="viewModel3(record)"
          >查看</a
        >
      </template>
    </DynamicTable>
    <price ref="Price" />
    <attributes ref="Attributes" />
    <providerList ref="ProviderList" />
  </div>
</template>

<script lang="ts" setup>
  import { reactive, onMounted, ref } from 'vue';
  import { useRoute } from 'vue-router';
  import { message } from 'ant-design-vue';
  import { baseColumns } from './columns';
  import price from './components/price.vue';
  import attributes from './components/attributes.vue';
  import providerList from './components/providerList.vue';
  import type { FormState } from '@/components/core/schema-form';
  import { getAverageprice } from '@/api/supplier/index';
  import { useTable } from '@/components/core/dynamic-table';
  const route = useRoute();
  defineOptions({
    name: 'commodity',
  });
  const Price = ref();
  const Attributes = ref();
  const ProviderList = ref();
  const [DynamicTable] = useTable({
    size: 'small',
    search: false,
    rowKey: 'goodsCode',
    bordered: true,
    pagination: false,
  });
  const state = reactive({
    dataSource: [],
    loading: false,
    params: {
      keyword: '',
    },
  });
  const formState = reactive<FormState>({
    keyword: '',
  });
  const onSearch = () => {
    if (state.params.keyword == '') {
      message.error('商品搜索词不能为空');
      state.dataSource = [];
    } else {
      loadTableData();
    }
  };
  const loadTableData = async () => {
    state.loading = true;
    const data = await getAverageprice({
      keyword: state.params.keyword,
    });
    state.dataSource = data.data;
    if (data && data.data) {
      state.dataSource = data.data || [];
    } else {
      state.dataSource = [];
    }
    state.loading = false;
  };
  const viewModel1 = (record) => {
    Price.value.onChangeVisable(record.priceInfo, record);
  };
  const viewModel2 = (record) => {
    Attributes.value.onChangeVisable(record.props, record);
  };
  const viewModel3 = (record) => {
    ProviderList.value.onChangeVisable(record);
  };
  const onReset = () => {
    state.dataSource = [];
    state.params.keyword = '';
  };
  const columns = [...baseColumns];
  onMounted(() => {
    if (route.query.keyword) {
      state.params.keyword = route.query.keyword;
      loadTableData();
    }
  });
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  /deep/.ant-form-item-control-input {
    width: 220px;
  }
  .header {
    padding: 0 30px !important;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    .search {
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
</style>
