<template>
  <div>
    <!-- 检查员核查 -->
    <div>
      <a-form
        ref="auditFormRef"
        :model="state.auditForm"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 16 }"
        :rules="rules"
        @finish="onFinish1"
        @finish-failed="onFinishFailed1"
      >
        <a-form-item label="处理审核" name="problemConfirm">
          <a-radio-group v-model:value="state.auditForm.problemConfirm">
            <a-radio value="40"> 不是问题 </a-radio>
            <a-radio value="20"> 是问题 </a-radio>
          </a-radio-group>
        </a-form-item>
        <a-form-item label="情况说明">
          <a-textarea
            v-model:value="state.auditForm.handleRemark"
            :maxlength="500"
            allow-clear
            placeholder="最大允许输入500个字符"
          />
        </a-form-item>
        <a-form-item label="材料">
          <div class="dropbox">
            <a-upload-dragger
              v-model:fileList="state.fileList"
              name="file"
              :action="`${state.BASE_URL}p/clue/dealWithFileUpload`"
              :before-upload="beforeUpload"
              :headers="state.headers"
              accept=".zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png"
              @change="normFile"
              @preview="onPreview"
            >
              <p class="ant-upload-drag-icon">
                <ArrowUpOutlined></ArrowUpOutlined>
              </p>
              <p class="ant-upload-text">点击或将文件拖拽到这里上传</p>
              <p class="ant-upload-hint"
                >支持扩展名：.zip .rar .doc .docx .pdf .xls .xlsx .jpg .jpeg .png</p
              >
            </a-upload-dragger>
          </div>
        </a-form-item>
        <div v-if="state.auditForm.problemConfirm == '20'">
          <a-form-item label="问题简述" name="proQua">
            <!-- 是问题或者驳回业务自查-则核查说明为必填项 v-decorator="['proQua',{ rules: [{ required: true, message: '请输入问题简述，最大允许30个字符' }] }]"-->
            <a-textarea
              v-model:value="state.auditForm.proQua"
              show-count
              allow-clear
              placeholder="问题定性描述，500字符以内"
              :maxlength="500"
            />
          </a-form-item>

          <a-form-item label="责任部门" required>
            <a-cascader
              v-model:value="state.resDepCodeNew"
              placeholder="请选择责任部门"
              allow-clear
              :field-names="{ label: 'text', value: 'code', children: 'children' }"
              :options="state.responsibleDeptData"
              show-search
              style="width: 300px"
              @change="changRresDep"
            >
            </a-cascader>
            <p v-show="state.resDepCodeFlag" class="ant-form-explain"> 请选择责任部门名称 </p>
          </a-form-item>
          <a-form-item label="责任人" name="resPerson">
            <a-input
              v-model:value="state.auditForm.resPerson"
              placeholder="请输入责任人，最大支持32个字符"
              :maxlength="32"
              type="text"
            />
          </a-form-item>
          <a-form-item
            v-if="state.auditForm.problemConfirm == '20'"
            label="模型组监督联络员"
            name="receiver"
          >
            <a-select
              v-model:value="state.auditForm.receiver"
              :allow-clear="true"
              show-search
              placeholder="请选择监督联络员"
              @change="handleChange"
            >
              <a-select-opt-group label="模型组监督联络员">
                <a-select-option
                  v-for="(item, index) in state.rectificationList['模型组监督联络员']"
                  :key="index"
                  :value="'模型组监督联络员' + '-' + item + '-' + index"
                >
                  {{ item }}
                </a-select-option>
              </a-select-opt-group>
            </a-select>
          </a-form-item>
        </div>
        <div class="sub-btn">
          <a-button
            html-type="submit"
            type="primary"
            style="background: #1890ff; color: #fff"
            :loading="state.loading"
            >{{
              state.auditForm.problemConfirm == '20' ? '提交模型组监督联络员' : '流程结束'
            }}</a-button
          >
        </div>
      </a-form>
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import { ArrowUpOutlined } from '@ant-design/icons-vue';
  import { message, Upload } from 'ant-design-vue';
  import { saveInspector } from '@/api/supervisionModel';
  import { getDep, getUsers } from '@/api/supervisionGovern';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { Storage } from '@/utils/Storage';
  const emit = defineEmits(['search']);

  const auditFormRef = ref();
  const state = reactive({
    transferor: '',
    handleRemark: '',
    imgVisible: false,
    imgUrl: '',
    BASE_URL: process.env.VUE_APP_BASE_API, // url
    showFlag: 1,
    temporaryLoading: false,
    loading: false,
    fileList: [], // 上传的文件列表
    headers: {}, // 上传头
    auditForm: {
      clueIds: [],
      modelId: '',
      handleRemark: '',
      recordKey: '',
      handleCommitSeqno: '',
      lineOfDefenseType: '',
      problemConfirm: '',
      receiver: '',
    },
    beforeUser: '',
    dataSource: [],
    processUser: '',
    singleRadio: false,
    rectificationList: [],
    sendUser: '',
    handleOpinion: '',
    todoLinkCode: '',
    todoTypeCode: '',
    resDepCodeNew: [],
    resDepCodeFlag: false,
    resDepCode: '', //部门id--包括二级
    resDep: '', //部门中文
  });
  const rules = reactive({
    problemConfirm: [{ required: true, message: '请选择处理意见' }],
    proQua: [{ required: true, message: '请输入问题简述', trigger: 'blur' }],
    receiver: [{ required: true, message: '请选择模型组监督联络员' }],
  });
  const processHandle = (batchData) => {
    // console.log('列表过来的数据', record.rectifyStatus);
    const val = cloneDeep(batchData.selectedRows[0]);
    state.beforeUser = val.beforeUser;
    state.sendUser = val.sendUser;
    state.auditForm.clueIds = batchData.ids;
    state.auditForm.modelId = val.modelId;
    state.auditForm.recordKey = val.recordKey;
    state.auditForm.handleCommitSeqno = val.handleCommitSeqno;
    state.todoTypeCode = val.todoTypeCode;
    state.auditForm.lineOfDefenseType = val.lineOfDefenseType;
    state.handleOpinion = val.handleOpinion;
    state.todoLinkCode = val.todoLinkCode;
    getResponsibleDeptFn();
    careOf();
  };
  const handleChange = (value) => {
    if (value) {
      state.auditForm.receiver = value && value.split('-')[1];
    } else {
      state.auditForm.receiver = '';
    }
  };
  const careOf = () => {
    getUsers({
      role: 'modelGroupBusinessPerson',
    }).then((r) => {
      if (r.data.code == 'OK') {
        state.rectificationList = r.data.data;
      } else {
        message.error(r.data.message);
      }
    });
  };
  const changRresDep = (val) => {
    state.resDepCodeNew = val;
    if (val != undefined && val.length > 0) {
      state.resDepCodeFlag = false;
      state.resDepCode = val.join(',') || '';
      if (val.length == 1) {
        //找到对应部门中文名称
        const resDep = state.responsibleDeptData.find((item) => {
          return item.code === val[0];
        });
        state.resDep = resDep.text;
      } else if (val.length == 2) {
        const resDepP = state.responsibleDeptData.find((x) => {
          return x.code === val[0];
        });
        const resDepC = resDepP.children.find((y) => {
          return y.code === val[1];
        });
        state.resDep = `${resDepP.text},${resDepC.text}`;
      }
    } else {
      state.resDepCodeFlag = true;
      state.resDep = '';
    }
  };
  // 业务自查提交
  const onFinish1 = () => {
    businessHandleOk();
  };
  const onFinishFailed1 = () => {
    console.log('表单校验未通过');
  };
  const businessHandleOk = () => {
    if (state.auditForm.problemConfirm == '20') {
      if (state.resDepCodeNew.length == 0) {
        //选择是问题则部门必选
        state.resDepCodeFlag = true;
        return false;
      } else {
        state.resDepCodeFlag = false;
        const str = state.auditForm.receiver;
        const lastIndex = str.lastIndexOf('/');
        const secondLastIndex = str.lastIndexOf('/', lastIndex - 1);
        state.auditForm.receiver = str.substring(secondLastIndex + 1);
      }
    }

    // handleOpinion16提交给模型管理员  17监督联络员
    const params = {
      ...state.auditForm,
      handleAttachments: state.fileList
        ? state.fileList.map((item) => {
            return item.response.data;
          })
        : [],
      handType: '60',
      lineOfDefenseType: '4', //唐俊 receiver: state.sendUser,
    };
    state.loading = true;
    saveInspector(params).then((res) => {
      state.loading = false;
      if (res.code === 'OK' && res.success) {
        message.success(res.data);
        //关闭父组件
        handleOk();
      } else {
        message.error(res.message);
      }
    });
  };
  const getResponsibleDeptFn = () => {
    getDep().then((res) => {
      if (res.status === 200) {
        state.responsibleDeptData = res.data.rows.children;
      }
    });
  };
  const closeFn = () => {
    auditFormRef.value.resetFields();
    state.fileList = [];
  };
  const handleOk = () => {
    closeFn();
    emit('search');
  };
  // 文件预览
  const onPreview = (file) => {
    const url = file.response.data;
    // 文件下载
    downloadJson(
      'p/clue/file/downLoad',
      {
        filePathName: url,
      },
      file.name,
    ).then(() => {});
  };
  // 请求拦截
  const beforeUpload = (file, fileList) => {
    let flag = true;
    const config = { Authentication: '' };
    const FileExt = file.name.replace(/.+\./, '');
    if (
      ['jpg', 'jpeg', 'png', 'zip', 'rar', 'pdf', 'doc', 'docx', 'xlsx', 'xls'].indexOf(
        FileExt.toLowerCase(),
      ) === -1
    ) {
      message.warning(
        '请上传后缀名为.zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png的文件！',
      );
      return Upload.LIST_IGNORE;
    }
    // 有 token就带上
    if (Storage.get(ACCESS_TOKEN_KEY)) {
      config.Authentication = Storage.get(ACCESS_TOKEN_KEY);
    } else {
      // 没有就别上传
      flag = false;
    }
    state.headers = JSON.parse(JSON.stringify(config));
    // 上传三次就禁止上传了
    if (fileList.length + state.fileList.length > 3) {
      file.status = 'beforeUploadReject';
      flag = false;
    }
    return flag;
  };
  // 文件改变调用
  const normFile = (e) => {
    if (Array.isArray(e)) {
      return e;
    }
    if (e.fileList.length <= 3) {
      state.fileList = e.fileList;
    }
    // 如果大于3条，只保留前三条
    if (e.fileList.length > 3) {
      e.fileList = e.fileList.splice(3, 1);
      message.error('最多只能上传3个文件');
    }
    // console.log('上传后的数据', e.fileList);
    // 列表绑定
    return e && e.fileList;
  };
  defineExpose({ processHandle });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 18px;
    font-weight: 600;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
