<template>
  <div>
    <template v-if="props.preview">
      <div class="plus-icon">
        <span class="title">注：看板的过滤条件为全局抛出参数</span>
      </div>
      <div id="kanBan-filter" class="kanBan-filter-preview">
        <div
          v-for="(item, index) in state.conditionGroups"
          :key="index"
          :class="['condition-group', { 'margin-group-top': index != 0 }]"
        >
          <div class="filter-content">
            <a-input
              v-model:value="item.field"
              class="field-input"
              placeholder="请输入过滤条件名称"
            ></a-input>
            <a-select
              v-model:value="item.operatorValue"
              class="operatorValue-select"
              @change="
                () => {
                  if (item.operatorValue == 'ZLB' || item.operatorValue == 'BZLB') {
                    item.value1 = [];
                  } else if (item.fieldType == '2' && item.operatorValue == 'BTW') {
                    item.value1 = '';
                    item.value2 = '';
                  } else if (item.fieldType == '3' && item.operatorValue == 'BTW') {
                    item.value1 = [];
                  } else {
                    item.value1 = '';
                  }
                }
              "
            >
              <a-select-opt-group label="请选择">
                <a-select-option
                  v-for="(op, oindex) in item.fieldType == '1'
                    ? state.operator_text
                    : item.fieldType == '2'
                    ? state.operator_number
                    : item.fieldType == '3'
                    ? state.operator_date
                    : state.operator_text"
                  :key="oindex"
                  :value="op.code"
                  >{{ op.text }}
                </a-select-option>
              </a-select-opt-group>
            </a-select>
            <template v-if="item.fieldType == '1'">
              <div class="value-input">
                <TagInput
                  v-if="item.operatorValue == 'ZLB' || item.operatorValue == 'BZLB'"
                  v-model:value="item.value1"
                  placeholder="请输入过滤条件值"
                ></TagInput>
                <a-input v-else v-model:value="item.value1" placeholder="请输入过滤条件值">
                </a-input>
              </div>
            </template>
            <template v-else-if="item.fieldType == '2'">
              <div class="value-input">
                <a-input-number
                  v-if="item.operatorValue == 'BTW'"
                  v-model:value="item.value1"
                  style="width: 47%"
                  placeholder="请输入过滤条件值"
                >
                </a-input-number>
                <span v-if="item.operatorValue == 'BTW'"> - </span>
                <a-input-number
                  v-if="item.operatorValue == 'BTW'"
                  v-model:value="item.value2"
                  style="width: 47%"
                  placeholder="请输入过滤条件值"
                >
                </a-input-number>
                <a-input-number
                  v-if="item.operatorValue != 'BTW'"
                  v-model:value="item.value1"
                  style="width: 100%"
                  placeholder="请输入过滤条件值"
                >
                </a-input-number>
              </div>
            </template>
            <template v-else-if="item.fieldType == '3'">
              <div class="value-input">
                <a-range-picker
                  v-if="item.operatorValue == 'BTW'"
                  v-model:value="item.value1"
                  style="width: 100%"
                  format="YYYY-MM-DD"
                />
                <a-date-picker
                  v-else
                  v-model:value="item.value1"
                  style="width: 100%"
                  format="YYYY-MM-DD"
                />
              </div>
            </template>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="plus-icon">
        <span class="title">注：看板的过滤条件为全局抛出参数</span>
        <a
          style="display: flex; align-items: center"
          @click="
            state.conditionGroups.push({
              field: '',
              operatorValue: 'ZLB',
              value1: '',
              value2: '',
              fieldType: '1',
            });
            scrollToBottom();
          "
          ><PlusCircleOutlined size="20"></PlusCircleOutlined
          ><span style="margin-left: 3px; color: #1890ff">添加</span></a
        >
      </div>
      <div id="kanBan-filter" class="kanBan-filter">
        <div
          v-for="(item, index) in state.conditionGroups"
          :key="index"
          :class="['condition-group', { 'margin-group-top': index != 0 }]"
        >
          <div class="filter-content">
            <a-input
              v-model:value="item.field"
              class="field-input"
              placeholder="请输入过滤条件名称"
            ></a-input>
            <a-select
              v-model:value="item.fieldType"
              class="fieldType-select"
              @change="
                (e) => {
                  if (e == '1') {
                    item.operatorValue = 'ZLB';
                  } else if (e == '2' || e == '3') {
                    item.operatorValue = 'EQ';
                  }
                  if (item.operatorValue == 'ZLB' || item.operatorValue == 'BZLB') {
                    item.value1 = [];
                  } else if (item.fieldType == '2' && item.operatorValue == 'BTW') {
                    item.value1 = '';
                    item.value2 = '';
                  } else if (item.fieldType == '3' && item.operatorValue == 'BTW') {
                    item.value1 = [];
                  } else {
                    item.value1 = '';
                  }
                }
              "
            >
              <a-select-opt-group label="请选择">
                <a-select-option v-for="(op, oindex) in state.fields" :key="oindex" :value="op.code"
                  >{{ op.text }}
                </a-select-option>
              </a-select-opt-group>
            </a-select>
            <a-select
              v-model:value="item.operatorValue"
              class="operatorValue-select"
              @change="
                () => {
                  if (item.operatorValue == 'ZLB' || item.operatorValue == 'BZLB') {
                    item.value1 = [];
                  } else if (item.fieldType == '2' && item.operatorValue == 'BTW') {
                    item.value1 = '';
                    item.value2 = '';
                  } else if (item.fieldType == '3' && item.operatorValue == 'BTW') {
                    item.value1 = [];
                  } else {
                    item.value1 = '';
                  }
                }
              "
            >
              <a-select-opt-group label="请选择">
                <a-select-option
                  v-for="(op, oindex) in item.fieldType == '1'
                    ? state.operator_text
                    : item.fieldType == '2'
                    ? state.operator_number
                    : item.fieldType == '3'
                    ? state.operator_date
                    : state.operator_text"
                  :key="oindex"
                  :value="op.code"
                  >{{ op.text }}
                </a-select-option>
              </a-select-opt-group>
            </a-select>
            <template v-if="item.fieldType == '1'">
              <div class="value-input">
                <TagInput
                  v-if="item.operatorValue == 'ZLB' || item.operatorValue == 'BZLB'"
                  v-model:value="item.value1"
                  placeholder="请输入过滤条件值"
                ></TagInput>
                <a-input v-else v-model:value="item.value1" placeholder="请输入过滤条件值">
                </a-input>
              </div>
            </template>
            <template v-else-if="item.fieldType == '2'">
              <div class="value-input">
                <a-input-number
                  v-if="item.operatorValue == 'BTW'"
                  v-model:value="item.value1"
                  style="width: 47%"
                  placeholder="请输入过滤条件值"
                >
                </a-input-number>
                <span v-if="item.operatorValue == 'BTW'"> - </span>
                <a-input-number
                  v-if="item.operatorValue == 'BTW'"
                  v-model:value="item.value2"
                  style="width: 47%"
                  placeholder="请输入过滤条件值"
                >
                </a-input-number>
                <a-input-number
                  v-if="item.operatorValue != 'BTW'"
                  v-model:value="item.value1"
                  style="width: 100%"
                  placeholder="请输入过滤条件值"
                >
                </a-input-number>
              </div>
            </template>
            <template v-else-if="item.fieldType == '3'">
              <div class="value-input">
                <a-range-picker
                  v-if="item.operatorValue == 'BTW'"
                  v-model:value="item.value1"
                  style="width: 100%"
                  format="YYYY-MM-DD"
                />
                <a-date-picker
                  v-else
                  v-model:value="item.value1"
                  style="width: 100%"
                  format="YYYY-MM-DD"
                />
              </div>
            </template>
          </div>

          <div class="minus-icon">
            <a @click="minusClick(index)"><MinusCircleOutlined size="20"></MinusCircleOutlined></a>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script setup lang="ts">
  import { reactive, nextTick, watch } from 'vue';
  import { remove, cloneDeep } from 'lodash-es';
  import dayjs from 'dayjs';
  import TagInput from '@/components/core/schema-form/src/components/TagInput.vue';
  import { kanbanConfigStore } from '@/store/modules/kanbanConfig';

  const props = defineProps({
    preview: {
      type: Boolean,
      default: false,
    },
  });

  const store = kanbanConfigStore();

  const emits = defineEmits(['delCondition', 'changeFilters']);

  const state = reactive({
    conditionGroups: [
      {
        field: '',
        operatorValue: 'ZLB',
        value1: '',
        value2: '',
        fieldType: '1',
      },
    ],
    fields: [
      { code: '1', text: '文本' },
      { code: '2', text: '数字' },
      { code: '3', text: '时间' },
    ],
    operator_text: [
      { code: 'ZLB', text: '包含' },
      { code: 'BZLB', text: '不包含' },
      { code: 'EQ', text: '等于' },
      { code: 'NEQ', text: '不等于' },
    ],
    operator_number: [
      { code: 'EQ', text: '等于' },
      { code: 'NEQ', text: '不等于' },
      { code: 'GT', text: '大于' },
      { code: 'LT', text: '小于' },
      { code: 'BTW', text: '介于' },
    ],
    operator_date: [
      { code: 'EQ', text: '等于' },
      { code: 'NEQ', text: '不等于' },
      { code: 'BTW', text: '介于' },
    ],
  });

  const minusClick = (index) => {
    if (state.conditionGroups.length == 1) {
      state.conditionGroups[0] = {
        field: '',
        operatorValue: 'ZLB',
        value1: '',
        value2: '',
        fieldType: '1',
      };
    } else {
      state.conditionGroups = remove(state.conditionGroups, (_x, rIndex) => {
        return rIndex !== index;
      });
    }
    store.searchConfig = cloneDeep(state.conditionGroups);
    emits('delCondition');
  };

  const scrollToBottom = () => {
    nextTick(() => {
      const container = document.querySelector('.kanBan-filter');
      container.scrollTop = container.scrollHeight;
    });
  };

  const setConditionValue = (conditions) => {
    conditions.forEach((it) => {
      switch (it.operatorValue) {
        case 'NA':
          it.filterType = '';
          break;
        case 'CT':
          it.filterType = 'like';
          break;
        case 'NCT':
          it.filterType = 'not like';
          break;
        case 'LS':
          it.filterType = 'left';
          break;
        case 'RS':
          it.filterType = 'right';
          break;
        case 'EQ':
          it.filterType = '=';
          break;
        case 'NEQ':
          it.filterType = '≠';
          break;
        case 'GT':
          it.filterType = '>';
          break;
        case 'LT':
          it.filterType = '<';
          break;
        case 'GE':
          it.filterType = '≥';
          break;
        case 'LE':
          it.filterType = '≤';
          break;
        case 'BTW':
          it.filterType = '[a,b]';
          break;
        case 'ZLB':
          it.filterType = 'like';
          break;
        case 'BZLB':
          it.filterType = 'not like';
          break;
        default:
          it.filterType = '';
          break;
      }
      if (it.fieldType == '3') {
        if (it.operatorValue == 'BTW') {
          if (it.value1[0] && it.value1[1]) {
            const start = dayjs(it.value1[0]).format('YYYY-MM-DD');
            const end = dayjs(it.value1[1]).format('YYYY-MM-DD');
            it.value1 = [start, end];
          }
        } else {
          if (it.value1) {
            it.value1 = dayjs(it.value1).format('YYYY-MM-DD');
          }
        }
      }
    });
  };
  const setDefaultFilterValue = (conditions) => {
    conditions.forEach((it) => {
      if (it.fieldType == '3') {
        if (it.operatorValue == 'BTW') {
          if (it.value1[0] && it.value1[1]) {
            const start = dayjs(it.value1[0]);
            const end = dayjs(it.value1[1]);
            it.value1 = [start, end];
          }
        } else {
          if (it.value1) {
            it.value1 = dayjs(it.value1);
          }
        }
      }
    });
  };

  const getFilters = () => {
    const conditionGroups = state.conditionGroups;
    setConditionValue(conditionGroups);
    return conditionGroups;
  };

  const setDefaultFilter = (filter) => {
    const newFilter = filter;
    setDefaultFilterValue(newFilter);
    state.conditionGroups = newFilter;
  };

  watch(
    () => state.conditionGroups,
    (val) => {
      store.searchConfig = state.conditionGroups;
      console.log(state.conditionGroups, 'state.conditionGroups', val, store.searchConfig);
      emits('changeFilters', state.conditionGroups);
    },
    { deep: true },
  );

  defineExpose({ getFilters, setDefaultFilter });
</script>

<style lang="less" scoped>
  .plus-icon {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      color: rgba(0, 0, 0, 0.45);
    }
    .anticon-plus-circle {
      font-size: 16px;
      color: #1890ff !important;
    }
  }
  .kanBan-filter {
    max-height: 400px;
    overflow-y: auto;
    .margin-group-top {
      margin-top: 10px;
    }
    .condition-group {
      display: flex;
      align-items: center;
      padding: 5px;
      border-bottom: 1px solid #e9e9e9;
      .minus-icon {
        font-size: 16px;
      }
      .filter-content {
        display: flex;
        flex-flow: row wrap;
        margin: 0px 10px 0px 10px;
        width: calc(100% - 40px);
        /deep/.field-input {
          width: 100%;
          margin-bottom: 10px;
        }
        /deep/.value-input {
          width: 100%;
          margin-top: 10px;
        }
        /deep/.fieldType-select {
          width: 48%;
        }
        /deep/.operatorValue-select {
          width: 48%;
          margin-left: 10px;
        }
      }
    }
  }
  .kanBan-filter-preview {
    max-height: 400px;
    overflow-y: auto;
    .margin-group-top {
      margin-top: 10px;
    }
    .condition-group {
      display: flex;
      align-items: center;
      padding: 5px;
      border-bottom: 1px solid #e9e9e9;
      .minus-icon {
        font-size: 16px;
      }
      .filter-content {
        display: flex;
        flex-flow: row wrap;
        margin: 0px 10px 0px 10px;
        width: calc(100% - 20px);
        /deep/.field-input {
          width: 65%;
        }
        /deep/.value-input {
          width: 100%;
          margin-top: 10px;
        }
        /deep/.fieldType-select {
          width: 48%;
        }
        /deep/.operatorValue-select {
          width: 31%;
          margin-left: 10px;
        }
      }
    }
  }
</style>
