<template>
  <DraggableModal
    v-model:visible="state.visible"
    destroy-on-close
    :title="record.perfGName"
    :width="900"
    :body-style="{ height: '500px', overflow: 'auto', padding: '12px 24px' }"
    @cancel="infoCancel(false)"
  >
    <SecondLevel
      ref="approveModel"
      :record-info="props.record"
      type="audit"
      @refesh="refeshList"
    ></SecondLevel>

    <template #footer>
      <a-button danger @click="reject">驳回</a-button>
      <a-button class="ml-1x" type="primary" :loading="state.subLoading" @click="submitApproval"
        >提交</a-button
      >
    </template>
  </DraggableModal>
</template>

<script setup lang="ts">
  import { reactive, watch, ref } from 'vue';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import SecondLevel from '@/views/realPerData/workClass/SecondLevel.vue';

  defineOptions({
    name: 'ApproveTask',
  });

  const emits = defineEmits(['close']);

  const props = defineProps({
    avisible: { type: Boolean },
    record: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });

  const state = reactive({
    visible: false,
  });

  const infoCancel = (flag) => {
    state.visible = false;
    emits('close', flag);
  };

  const approveModel = ref(null);

  const reject = () => {
    approveModel.value.rejectBtn();
  };
  const submitApproval = () => {
    approveModel.value.submitApproval();
  };

  const refeshList = () => {
    infoCancel(true);
  };

  watch(
    () => props.avisible,
    (_newVal, _oldVal) => {
      state.visible = _newVal;
    },
  );
</script>
