<template>
  <div>
    <DraggableModal
      :visible="visible"
      :width="900"
      :title="attrs.title"
      :body-style="{ padding: '8px 16px 0' }"
      destroy-on-close
      @cancel="handleCancel(false)"
      @ok="onOk"
    >
      <DynamicTable
        row-key="id"
        :data-request="loadTableData"
        :columns="columnList"
        bordered
        :scroll="{ y: 300 }"
        size="small"
        :row-selection="rowSelection"
      >
      </DynamicTable>
      <template #footer>
        <a-button @click="handleCancel(false)">取消</a-button>
        <a-button type="primary" :loading="loading" @click="onOk">保存</a-button>
      </template>
    </DraggableModal>
  </div>
</template>

<script setup lang="ts">
  import { ref, useAttrs, watch } from 'vue';
  import { useRoute } from 'vue-router';
  import { message } from 'ant-design-vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './RelevanceColumns'; //table列
  import { useTable, type LoadDataParams } from '@/components/core/dynamic-table';
  import { queryTargetList, saveTargetData } from '@/api/orgPerList/setUp';
  import { DraggableModal } from '@/components/core/draggable-modal';

  defineOptions({
    name: 'RelevanceModal',
  });
  const props = defineProps({
    orgVisible: { type: Boolean },
    orgInfo: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const [DynamicTable] = useTable({
    size: 'small',
    rowKey: 'perfGCode',
    bordered: true,
  });
  const attrs = useAttrs();
  const emit = defineEmits(['cancelOrgModal']);
  const route = useRoute();
  const visible = ref<boolean>(false);
  // isload入参为true时，列表重新刷新一次
  const handleCancel = (isload = false) => {
    visible.value = false;
    emit('cancelOrgModal', isload);
  };
  const rowsData = ref();
  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      rowSelection.value.selectedRowKeys = selectedRowKeys;
      rowsData.value = selectedRows;
    },
  });
  const loading = ref(false);
  const columnList: TableColumnItem[] = [...baseColumns];

  const loadTableData = async (params: LoadDataParams) => {
    const param = {
      ...params,
      evaluatedOrgCode: props.orgInfo.orgCode,
      orgPerformanceCode: route.query.orgCode,
    };
    const res = await queryTargetList(param);
    return {
      list: res.data.data,
      pagination: { total: res.data.total, page: res.data.pageNum, size: res.data.pageSize },
    };
  };

  // 弹窗确认
  const onOk = async () => {
    loading.value = true;
    const parData = rowsData.value.map((item) => {
      return {
        superinDeptCode: item.superinDeptCode,
        perfGOrgCode: item.perfGOrgCode,
        perfGType: item.perfGType,
        perfGCode: item.perfGCode,
        perfGName: item.perfGName,
      };
    });
    const orgPerformanceCode = route.query.orgCode;
    const params = {
      orgPerfGoals: [...parData],
      evaluatedOrgCode: props.orgInfo.orgCode,
      evaluatedOrgName: props.orgInfo.orgName,
      orgPerformanceCode,
    };
    const res = await saveTargetData(params);
    if (res.data.success) {
      message.success(`关联成功`);
      loading.value = false;
      visible.value = false;
      handleCancel(true);
    } else {
      loading.value = false;
      message.success(`${res.data.message}`);
    }
  };

  watch(
    () => props.orgVisible,
    (nV) => {
      visible.value = nV;
    },
  );
</script>
