<template>
  <DraggableModal
    v-model:visible="state.modalVisible"
    destroy-on-close
    title="批量调整"
    :width="900"
    @cancel="handleOk"
    @ok="handleOk"
  >
    <div class="titleHeader">
      <a-button type="primary" @click="openEdit">造一个编辑弹框</a-button>
      <div class="searchTitle"
        >年份： <a-date-picker picker="year" format="YYYY" @change="periodChange"
      /></div>
      <div class="searchTitle"
        >季度： <a-date-picker picker="year" format="YYYY" @change="periodChange"
      /></div>
    </div>
    <div v-if="state.modalVisible">
      <DynamicTable
        :columns="state.columns"
        :data-source="state.dataSource"
        :loading="state.loading"
      >
      </DynamicTable>
    </div>

    <template #footer>
      <a-button @click="handleOk">取消</a-button>
      <a-button type="primary" @click="handleOk">保存</a-button>
    </template>
  </DraggableModal>
</template>

<script setup lang="tsx">
  import { reactive, watch } from 'vue';
  import { userSchemas } from './formSchemas';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/index';

  defineOptions({
    name: 'AdjustModal',
  });
  const [DynamicTable] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'approvalCode',
    bordered: true,
    scroll: { x: 2000 },
  });
  const [showModal] = useFormModal();
  const emits = defineEmits(['close']);
  const props = defineProps({
    visible: { type: Boolean, default: () => false },
  });
  const state = reactive({
    modalVisible: false,
    dataSource: [],
    loading: false,
    columns: [
      { title: '专项 ', dataIndex: 'period1', fixed: 'left', width: 100 },
      { title: '年份', dataIndex: 'period', width: 100 },
      { title: '季度', dataIndex: 'period1', width: 100 },
      { title: '被评价单位', dataIndex: 'orgName', width: 150 },
      { title: '原总分数值', dataIndex: 'orgName1', width: 150 },
      { title: '调整值', dataIndex: 'createDate', width: 150 },
      { title: '调整后总分', dataIndex: 'createName', width: 100 },
      { title: '情况说明', dataIndex: 'auditRemark', width: 150 },
      {
        title: '操作',
        dataIndex: 'ACTION',
        width: 100,
        fixed: 'right',
        align: 'center',
        actions: ({ record }) => [
          {
            label: '编辑',
            onClick: () => {
              openEdit(record);
            },
          },
        ],
      },
    ],
  });
  watch(
    () => props.visible,
    (val) => {
      if (val) {
        state.modalVisible = val;
      }
    },
  );
  const periodChange = () => {};
  const openEdit = async (record) => {
    const [formRef] = await showModal<any>({
      modalProps: {
        title: `编辑`,
        width: 700,
        onFinish: async (values) => {
          console.log(values);
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: userSchemas,
      },
    });
    formRef?.setFieldsValue(record);
    //    formRef?.updateSchema([
    //   {
    //     field: 'name',
    //     dynamicDisabled: true,
    //   },
    // ]);
  };
  const handleOk = () => {
    state.modalVisible = false;
    emits('close');
  };
</script>

<style scoped lang="less">
  .titleHeader {
    display: flex;
  }
  .searchTitle {
    margin-left: 10px;
  }
</style>
