<template>
  <a-modal v-model:visible="state.modalVisible" title="审核表单提交" :footer="null" @ok="handleOk">
  </a-modal>
</template>

<script setup lang="tsx">
  import { ref, reactive, watch } from 'vue';

  defineOptions({
    name: 'ExamineFormModal',
  });
  const emits = defineEmits(['close']);
  const props = defineProps({
    visible: { type: Boolean, default: () => false },
  });
  const state = reactive({
    modalVisible: false,
  });
  watch(
    () => props.visible,
    (val) => {
      if (val) {
        state.modalVisible = val;
      }
    },
  );
  const handleOk = (e: MouseEvent) => {
    state.modalVisible = false;
    emits('close');
  };
</script>

<style></style>
