<template>
  <div>
    <a-tree
      v-model:expandedKeys="expandedKeys"
      v-model:selectedKeys="selectedKeys"
      :show-line="showLine"
      :tree-data="treeData"
      :height="450"
      @select="onSelect"
    >
      <template #title="{ title }">
        <span v-if="title.indexOf(searchValue) > -1">
          {{ title.substr(0, title.indexOf(searchValue)) }}
          <span style="color: #f50">{{ searchValue }}</span>
          {{ title.substr(title.indexOf(searchValue) + searchValue.length) }}
        </span>
        <span v-else>{{ title }}</span>
      </template>
    </a-tree>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, ref } from 'vue';
  import type { TreeProps } from 'ant-design-vue';
  import { queryOrgList } from '@/api/perAppraisal/apiList';

  defineOptions({ name: 'StatementTreeList' });
  const showLine = ref<boolean>(true);
  const searchValue = ref<string>('');
  const treeData = ref<TreeProps['treeData']>([]);
  const emit = defineEmits(['selectd', 'treeSelect']);

  const onSelect: TreeProps['onSelect'] = (selectedKeys, info) => {
    if (selectedKeys.length > 0) emit('selectd', selectedKeys, info);
  };
  //默认展开第一层
  const expandedKeys = ref<string[]>(['0']);
  const selectedKeys = ref<string[]>([]);
  const queryTree = async () => {
    const { data } = await queryOrgList({
      pageNum: 1,
      pageSize: 999,
    });
    data.data.forEach((v) => {
      treeData.value.push({
        title: v.orgName,
        key: v.orgCode,
      });
    });
    selectedKeys.value = [treeData.value[0].key];
    emit('selectd', [treeData.value[0].key], {});
  };
  onMounted(() => {
    queryTree();
  });
</script>

<style lang="less" scoped>
  /deep/.ant-tree-switcher {
    color: #1890ff;
  }
  .right {
    text-align: right;
  }
  .mar-content {
    margin: 8px 0;
  }
  .ellipsis {
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
</style>
