<template>
  <span style="margin-left: auto">
    <a-dropdown :trigger="['click']">
      <caret-down-outlined class="link" @click.prevent />
      <template #overlay>
        <a-menu>
          <a-menu-item v-for="(item, index) in state.option" :key="index">
            <a @click="open(item.title)">{{ item.title }}</a>
          </a-menu-item>
        </a-menu>
      </template>
      <!--新增字段-->
    </a-dropdown>
    <NewField ref="newField" :datas="store.fieldArray" :dict-data="props.data"></NewField>
  </span>
</template>

<script setup lang="ts">
  import { onMounted, reactive, ref } from 'vue';
  import { isNil } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import FieldConfig from './FieldConfig';
  import { NewField } from './components'; // 新增字段
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/index';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  const store = chartConfigurations();
  defineOptions({
    name: 'DropDown',
  });
  const props = defineProps(['data', 'type', 'parentType']);
  const newField = ref(null);
  const state = reactive({
    option: [
      { key: 'field', title: '目录' },
      { key: 'field,catalogue,addField', title: '横轴' },
      { key: 'field,addField', title: '纵轴' },
      { key: 'field,addField', title: '过滤' },
      { key: 'addField,catalogue', title: '编辑' },
      { key: 'addField,catalogue', title: '删除' },
    ],
  });
  const pageConfig = (item) => {
    const key = item.key.split(',');
    if (key.indexOf(props.data.type) !== -1) {
      //抹掉目录下字段下拉选项目录
      if (props.parentType === 'catalogue') {
        return false;
      } else {
        return true;
      }
    } else {
      return false;
    }
  };
  onMounted(() => {
    const list: any = [];
    state.option.forEach((item) => {
      if (pageConfig(item)) {
        list.push(item);
      }
    });
    state.option = list;
  });
  const open = (title) => {
    switch (title) {
      case '目录':
        listCofig();
        break;
      case '横轴':
        axisConfig(0);
        break;
      case '纵轴':
        axisConfig(1);
        break;
      case '过滤':
        axisConfig(2);
        break;
      case '编辑':
        emit();
        break;
      case '删除':
        delItem();
        break;
    }
    // 字段唯一化  删除原位置，以防克隆
    FieldConfig();
  };
  // 轴配置
  const axisConfig = (type) => {
    if (props.data.newType === 4 && !props.data.children.length) {
      message.error('目录为空，请先配置目录数据。');
      return;
    }
    if (props.data?.columnType == '10' && type == 1) {
      message.error('聚合指标不能到纵轴');
    } else {
      store.insertContent[type].value.push(props.data);
    }
    if (props.data.newType === 4) {
      delItem(store.navList[1].children);
    }
  };
  // 目录配置
  const listCofig = () => {
    if (!store.navList[1]?.children.length) {
      message.error('请先创建目录');
      return;
    }
    store.navList[1]?.children[0]?.children.push(JSON.parse(JSON.stringify(props.data)));
  };
  // 删除
  const delItem = (data = store.navList) => {
    console.log(1111111);
    data.forEach((item, index) => {
      if (!isNil(props.data.key) && item?.key === props.data.key) {
        data.splice(index, 1);
      } else if (item.children) {
        delItem(item.children);
      }
    });
  };
  const [showModal] = useFormModal();
  const emit = async () => {
    if (props.data.newType) {
      newField.value.onChangeVisable(true, props.data);
    } else if (props.data.type == 'catalogue') {
      const [formRef] = await showModal<any>({
        modalProps: {
          title: `编辑目录`,
          // 点击确定执行
          onFinish: async (values) => {
            const parmas = {
              ...props.data,
              title: values.title,
              sourceName: values.title,
              key: `catalogue_${values.title}`,
            };
            console.log(store.navList[1].children);

            store.navList[1].children = [];
            await store.navList[1].children.push(parmas);
          },
        },
        formProps: {
          labelWidth: 120,
          schemas: [
            {
              field: 'title',
              component: 'Input',
              label: '目录名称',
              rules: [{ required: true, type: 'string' }],
            },
          ],
        },
      });
      formRef?.setFieldsValue(props.data);
    }
  };
</script>

<style scoped>
  .link {
    float: right;
  }
</style>
