<template>
  <div class="page-container">
    <div class="header">
      <QueryFilterNew
        ref="QueryFilter"
        :visible="true"
        :field-list="fields"
        :isadd-condition-group="false"
        @change="onConditionChange"
      >
      </QueryFilterNew>
      <div class="search">
        <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
        <a-button type="danger" style="marginleft: 5px" @click="onReset">重置</a-button>
      </div>
    </div>
    <DynamicTable
      :data-source="state.dataSource"
      :columns="columns"
      auto-height
      :scroll="{ x: 2200, y: 300 }"
      :loading="state.loading"
      :row-selection="rowSelection"
      @change="onPageChange"
    >
      <template #toolbar>
        <a-button type="primary" @click="exportExcel">导出Excel</a-button>
        <a-button type="primary" @click="addProjectFn()"> <PlusOutlined /> 新增 </a-button>
      </template>
    </DynamicTable>
    <!-- 新增编辑项目 -->
    <addProjectModal ref="addProjectModalRef" @search="onSearch"></addProjectModal>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, onMounted, createVNode } from 'vue';
  import { PlusOutlined, ExclamationCircleOutlined } from '@ant-design/icons-vue';
  import dayjs from 'dayjs';
  import { Modal, message } from 'ant-design-vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import addProjectModal from './components/addProjectModal.vue';
  import queryFields from './query-field.js';
  import { useTable } from '@/components/core/dynamic-table';
  import { QueryFilterNew } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  import {
    getProjectList,
    getProjectExport,
    getProjectDelete,
  } from '@/api/supervisionGovern/questionInventory';
  // import {  } from '@/api/supervisionGovern/Inspection';
  defineOptions({
    name: 'SupervisionGovern/inspectionSupervision/index',
    inheritAttrs: false,
  });
  const fields = QueryFieldConvert.columnFields2QueryFields(queryFields.fieldsTwo);
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'id',
    bordered: true,
    search: false,
  });
  const QueryFilter = ref();
  const state = reactive({
    canQuery: true,
    dataSource: [],
    filters: [],
    filters1: [],
    pagination: {
      current: 1,
      pageSize: 20,
    },
  });
  const addProjectModalRef = ref();
  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      rowSelection.value.selectedRowKeys = selectedRowKeys;
    },
  });
  const exportExcel = async () => {
    let filters = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0] || [];
    Modal.confirm({
      title: '确定要导出项目列表数据吗?',
      icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: async () => {
        await getProjectExport({ filters: state.filters }, '项目列表.xlsx');
      },
    });
  };
  const onReset = () => {
    rowSelection.value.selectedRowKeys = [];
    state.selectedRows = [];
    state.isCheckRows = false;
    state.pagination.current = 1;
    state.pagination.pageSize = 20;
    const arr = [
      [
        {
          field: '',
          type: 'text',
          value1: '',
          selectCode: [],
          operatorValue: 'CT',
          operatorList: [],
          name: '',
          cName: '',
          example: null,
          columnType: '1',
          dictCode: null,
        },
      ],
    ];
    QueryFilter.value.setConditionGroups(arr);
    QueryFilter.value.clearConditionResult();
    state.filters = QueryFilter.value.getConditionResult();
    state.filters1 = [];
    loadData();
  };
  const onSearch = () => {
    let filters = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0] || [];
    loadData();
  };

  const dateFormat = 'YYYY-MM-DD';
  const filterData = () => {
    const filters1 = JSON.parse(JSON.stringify(state.filters1));
    const filters = [];
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [];
        item.forEach((v) => {
          let obj = {};
          const val = [];
          if (v.value1 && v.type == 'date') {
            v.value1 = dayjs(v.value1).format(dateFormat);
          }
          if (v.value2 && v.type == 'date') {
            v.value2 = dayjs(v.value2).format(dateFormat);
          }
          if (v.value1) {
            val.push(v.value1);
          }
          if (v.value2) {
            val.push(v.value2);
          }
          let ctype = '';
          if (v.type === 'number') {
            ctype = '2';
          } else if (v.type === 'date') {
            ctype = '4';
          } else if (v.type === 'dict') {
            ctype = '';
          }
          let values = val;
          if (v.type === 'select' || v.type === 'tree') {
            values = val[0];
          }
          if (v.type === 'text' && (v.operatorValue == 'CT' || v.operatorValue == 'NCT')) {
            values = val[0];
          }
          obj = {
            columnName: v.field,
            filterType: v.operatorValue,
            columnType: ctype,
            values,
          };
          list.push(obj);
        });
        filters.push(list);
      });
    }
    return filters;
  };
  const onPageChange = (data) => {
    state.pagination.current = data.current;
    state.pagination.pageSize = data.pageSize;
    loadData();
  };
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      state.filters = QueryFilter.value.getConditionResult();
      state.filters1 = QueryFilter.value.getConditionResult();
      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };
  const addProjectFn = () => {
    addProjectModalRef.value.onChangeVisable();
  };
  const loadData = () => {
    state.loading = true;
    getProjectList({
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: state.filters,
    }).then((r) => {
      if (r.code == 'OK') {
        state.dataSource = r.data || [];
        dynamicTableInstance?.updatePagination({
          total: r.total,
          current: r.pageNum,
          pageSize: r.pageSize,
        });
      }
      state.loading = false;
    });
  };

  const editProjectFn = (record) => {
    addProjectModalRef.value.onChangeVisable();
    addProjectModalRef.value.processHandle(record);
  };
  const getProjectDeleteFn = (record) => {
    Modal.confirm({
      title: '你确定要删除吗？数据删除后将无法进行恢复,请谨慎操作！',
      icon: createVNode(ExclamationCircleOutlined),
      onOk() {
        getProjectDelete({
          problemCode: record.problemCode,
          problemDetailCode: record.problemDetailCode,
        }).then((res) => {
          if (res.code == 'OK') {
            message.success('删除成功');
            onSearch();
          } else {
            message.success('删除失败');
          }
        });
      },
      onCancel() {
        console.log('Cancel');
      },
      class: 'test',
    });
  };
  onMounted(() => {
    loadData();
  });
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 80,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        return [
          {
            label: '编辑',
            actionType: 'icon',
            icon: 'EditOutlined',
            style: 'color:#1890ff;',
            onClick: () => editProjectFn(record),
          },
          {
            label: '删除',
            actionType: 'icon',
            icon: 'DeleteOutlined',
            style: 'color:#1890ff;',
            onClick: () => getProjectDeleteFn(record),
          },
        ];
      },
    },
  ];
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  .header {
    display: flex;
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
</style>
