<template>
  <div ref="barChart" class="chart"></div>
</template>

<script setup lang="ts">
  import { getCurrentInstance, onBeforeUnmount, onMounted, reactive, ref, watchEffect } from 'vue';
  // import * as echarts from 'echarts';
  import obei from '@/assets/echarts-theme/obei.json';

  defineOptions({
    name: 'StackedLineChart',
    inheritAttrs: false,
  });

  const props = defineProps({
    legendone: {
      type: Array,
      default() {
        return [];
      },
    },
    legendtwo: {
      type: Array,
      default() {
        return [];
      },
    },
    xAxis: {
      type: Array,
      default() {
        return [];
      },
    },
    yAxis: {
      type: Array,
      default() {
        return [];
      },
    },
    series: {
      type: Array,
      default() {
        return [];
      },
    },
  });

  const { proxy } = getCurrentInstance();
  let charts = null;
  const barChart = ref<HTMLElement>();

  const setOption = () => {
    const option = getOption();
    if (xaxisdata.length) {
      charts && charts.setOption(option, true);
    } else {
      charts && charts.setOption({});
    }
  };

  const getOption = () => {
    const option = {
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow',
        },
      },
      legend: [
        {
          data: legend,
          bottom: 'bottom',
        },
      ],
      grid: {
        left: '3%',
        right: '4%',
        bottom: '10%',
        top: '5%',
        containLabel: true,
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: xaxisdata,
      },
      yAxis: yaxisdata,
      series,
    };
    return option;
  };

  onMounted(() => {
    // proxy.$echarts.registerTheme('obei', obei);
    charts = proxy.$echarts.init(barChart.value!, obei);
    charts.clear();
    setOption();

    window.addEventListener('resize', () => {
      charts && charts.resize();
    });
  });

  onBeforeUnmount(() => {
    charts && charts.dispose();
    charts = null;
  });

  const legend = reactive([]);
  const xaxisdata = reactive([]);
  const yaxisdata = reactive([]);
  const series = reactive([]);

  watchEffect(() => {
    legend.length = 0;
    xaxisdata.length = 0;
    yaxisdata.length = 0;
    series.length = 0;

    legend.push(...props.legendone);
    xaxisdata.push(...props.xAxis);
    yaxisdata.push(...props.yAxis);
    series.push(...props.series);

    setOption();
  });
</script>

<style>
  .chart {
    width: 100%;
    height: 100%;
  }
</style>
