<template>
  <div class="DragView">
    <div>
      <p class="bold">{{ props.data.widgetName }}</p>
      <p>创建时间：{{ props.data.createDate }}</p>
      <p v-if="$route.query.toPage !== 'modal'">
        监督业务环节:
        <a-tag color="blue">
          {{ filterBizIds(props.data.bizIds) }}
        </a-tag>
      </p>
    </div>
    <div>
      <img :src="props.data.imgUrl" alt="" />
      <span>{{ props.data.updateUserName }}</span>
    </div>
    <div v-if="$route.query.toPage === 'modal'" class="action">
      <a-dropdown :trigger="['click']">
        <a class="ant-dropdown-link" @click.prevent>
          <small-dash-outlined />
        </a>
        <template #overlay>
          <a-menu>
            <a-menu-item key="0" @click="emitChart">编辑</a-menu-item>
            <a-menu-item key="1" @click="delChart">删除</a-menu-item>
          </a-menu>
        </template>
      </a-dropdown>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { getCurrentInstance } from 'vue';
  import { useRouter, useRoute } from 'vue-router';
  import { deleteWidget } from '@/api/userAnalyze/bulletinBoardList'; // api 接口
  defineOptions({
    name: 'DragView',
  });
  const { proxy } = getCurrentInstance();
  const props = defineProps(['data']);
  const emit = defineEmits(['delChart']);
  const $router = useRouter();
  const $route = useRoute();
  const emitChart = () => {
    $router.push({
      path: '/userAnalyze/ChartConfigurations',
      query: {
        widgetId: props.data.widgetId || 'init',
        toPage: 'modal',
        id: $route.query.id,
        dataSetIds: $route.query.dataSetIds,
      } as any,
    });
  };
  const filterBizIds = (val) => {
    return proxy.$dict.getItemText('bizIds', val);
  };
  const delChart = async () => {
    await deleteWidget(props.data);
    emit('delChart');
  };
</script>

<style lang="less" scoped>
  .DragView {
    min-height: 120px;
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    display: flex;
    align-items: center;
    position: relative;
    * {
      user-select: none;
      cursor: pointer;
    }

    > div:nth-child(1) {
      width: 70%;
      h2 {
        font-size: 18px;
        font-weight: bold;
        padding: 4px 0;
        padding-left: 8px;
        margin-bottom: 0;
      }
      p {
        padding: 4px 0;
        padding-left: 8px;
      }
    }
    > div:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex: 1;
      img {
        height: 18px;
      }
    }
    .action {
      position: absolute;
      top: 4px;
      right: 4px;
    }
    .bold {
      font-weight: bold;
    }
  }
</style>
