<template>
  <div class="queryCharts">
    <div>
      图表名称： <a-input v-model:value="state.widgetName" placeholder="请输入" size="small" />
    </div>
    <a-button type="primary" @click="queryData">查询</a-button>
  </div>
</template>

<script setup lang="ts">
  import { reactive } from 'vue';
  const state = reactive({ widgetName: '' });
  const emit = defineEmits(['query']);
  const queryData = () => {
    emit('query', state.widgetName);
  };
</script>

<style lang="less" scoped>
  .queryCharts {
    display: flex;
    margin: 0px 0px 16px 16px;
    justify-content: space-between;
    align-items: center;
    > div {
      flex: 1;
      display: flex;
      align-items: center;
    }
    .ant-input {
      height: 32px;
      width: 70%;
    }
  }
</style>
