<template>
  <div class="GoalOverview">
    <span class="GoalOverview-title">目标总览</span>
  </div>
  <ObjectiveShopping :year-month="state.yearMonth" />
  <div class="GoalOverview">
    <span class="GoalOverview-title">目标月份跟进</span>
  </div>
  <TrendJymbSc :year-month="state.yearMonth" />
  <TrendGkmbSc :year-month="state.yearMonth" />
  <TrendYymbSc :year-month="state.yearMonth" />
  <div class="GoalOverview">
    <span class="GoalOverview-title">责任单位跟进</span>
  </div>
  <MonthMontage
    ref="MonthMon"
    :year-month="state.yearMonth"
    :prodname="state.prodname"
    :table-title="state.tableTitle"
  />
</template>

<script setup lang="ts">
  import { reactive, watch, ref, onMounted, nextTick } from 'vue';
  import TrendJymbSc from '../goaloverview/components/TrendJymbSc.vue';
  import TrendGkmbSc from '../goaloverview/components/TrendGkmbSc.vue';
  import TrendYymbSc from '../goaloverview/components/TrendYymbSc.vue';
  import ObjectiveShopping from './components/ObjectiveShopping.vue';
  import MonthMontage from './components/MonthMontage.vue';

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
    },
  );

  const MonthMon = ref();
  const state = reactive({
    yearMonth: props.yearMonth,
    prodname: '商城',
    tableTitle: '商城指标责任单位跟进',
  });

  onMounted(() => {
    nextTick(() => {
      MonthMon.value.InitialCall();
    });
  });
</script>

<style lang="less" scoped>
  .GoalOverview {
    width: 100%;
    margin-bottom: 10px;
    background: #fff2c9;
    .GoalOverview-title {
      font-family: @font-family;
      font-size: 30px;
      font-weight: bold;
      color: #3d3d3d;
    }
  }
</style>
