<template>
  <a-modal
    ref="hide"
    v-model:visible="SupervisionGovern.modelresultView"
    destroy-on-close
    :title="state.modelName"
    width="90%"
    :footer="null"
    :dialog-style="{ top: '20px' }"
    :mask-closable="false"
    @ok="onClose"
    @cancel="onClose"
  >
    <div class="table-warp">
      <!-- 表格 -->
      <TabsTable :model-data="state.modelData" @show-tabs="showTabs"></TabsTable>
      <!-- 基础信息 -->
      <div class="BasicNews-style">
        <div class="modelFeatures"><span>基础信息</span></div>
        <!-- <a-divider /> -->
        <BasicNews :model-data="state.modelData"></BasicNews>
      </div>
      <!-- 模型特征 BasicNews-style padding-style-->
      <div :class="state.modelFeatures ? 'BasicNews-style padding-style' : null">
        <a-collapse
          v-if="state.modelFeatures"
          v-model:value="state.isOff"
          expand-icon-position="right"
          :bordered="false"
        >
          <div class="modelFeatures"><span>模型规则</span></div>
          <template #expandIcon="{ isActive }">
            <double-right-outlined class="iconActive" :rotate="!isActive ? 0 : 90" />
          </template>
          <a-collapse-panel key="1">
            <!-- 动态规则 -->
            <DynamicRules
              :footer-buttons-visible="false"
              disabled
              :model-info="state.modelData"
              :from-model-detail="true"
            ></DynamicRules>
          </a-collapse-panel>
        </a-collapse>
      </div>
      <!-- 报表信息 图表展示-->
      <div v-show="state.showView" class="BasicNews-style">
        <a-collapse expand-icon-position="right" :bordered="false">
          <div class="iconEdit-style">
            <div class="modelFeatures"><span>图表展示</span></div>
            <a-tooltip>
              <template #title>新增图表</template>
              <plus-circle-outlined class="iconEdit" @click="goConfigureModel" />
            </a-tooltip>
          </div>
          <template #expandIcon="{ isActive }">
            <double-right-outlined class="iconActive" :rotate="!isActive ? 0 : 90" />
          </template>

          <a-collapse-panel key="1" style="border: 0">
            <DataPreview :board-id="state.modelData.boardId"></DataPreview>
          </a-collapse-panel>
        </a-collapse>
        <DataPreview v-show="false" :board-id="state.modelData.boardId"></DataPreview>
      </div>
    </div>
  </a-modal>
</template>
<script setup lang="ts">
  import { reactive } from 'vue';
  import { useRouter } from 'vue-router';
  import BasicNews from '../../personalTodo/components/basicNews.vue';
  import TabsTable from './tabsTable/index.vue';
  import DataPreview from '@/views/userAnalyze/chartsView/DataPreview.vue';
  import dict from '@/utils/dict';
  import DynamicRules from '@/views/supervisionModel/components/DynamicRules.vue';
  import { useSupervisionGovern } from '@/store/modules/supervisionGovern';
  const router = useRouter();
  defineOptions({
    inheritAttrs: false,
  });
  const SupervisionGovern = useSupervisionGovern();
  const state = reactive({
    modelName: '',
    isOff: [],
    modelFeatures: false,
    modelData: {} as any,
    problemDepartment: null,
    configlist: null,
    showView: true,
  });
  // 获取数据
  const setFormValues = ({ ...modelList }) => {
    state.modelData = modelList;
    state.problemDepartment = modelList.problemDepartment;
    sessionStorage.removeItem('modelName');
    state.modelName = state.modelData.modelName;
    const modelw = {
      modelName: state.modelName,
      modelId: state.modelData.id,
      // sendTargetUsers: state.modelData.sendTargetUsers,
    };
    sessionStorage.setItem('modelName', JSON.stringify(modelw)); // wff模型看板编辑用到
    if (state.modelData.modelConfig != undefined && state.modelData.modelConfig != null) {
      state.configlist = state.modelData.modelConfig;
    }
    // 判断模型类型
    if (modelList.modelType === 'static') {
      state.modelData.modelType = '静态';
      state.modelFeatures = false;
    } else if (modelList.modelType === 'dynamic') {
      state.modelData.modelType = '动态';
      state.modelFeatures = true;
      state.isOff.push('1');
    } else if (modelList.modelType === 'algorithm') {
      state.modelData.modelType = '算法';
      state.modelFeatures = false;
    }
    // 判断模上线状态
    state.modelData.onlineStatus = dict.getItemText('ONLINE_STATUS', modelList.onlineStatus);
    // 判断运行状态
    state.modelData.runStatus = dict.getItemText('RUN_STATUS', modelList.runStatus);
    // 数据集分割
    if (modelList.datatableNames) {
      state.modelData.datatableNames = modelList.datatableNames.join('、');
    }
    // 业务用途
    if (modelList.businessPurpose) {
      state.modelData.businessPurpose = dict.getItemText(
        'businessPurpose',
        modelList.businessPurpose,
      );
    }
    // 监督领域
    if (modelList.bizSystem) {
      state.modelData.bizSystem = dict.getItemText('bizSystem', modelList.bizSystem);
    }
    // 调度周期

    // 监督业务对象值集转换
    if (modelList.businessObjs) {
      state.modelData.businessObjsStr = dict.getItemText('businessObject', modelList.businessObjs);
    }
    // 业务环节
    if (modelList.bizIds) {
      state.modelData.bizIds = dict.getItemText('bizIds', modelList.bizIds);
    }
    // 业务主键
    if (modelList.modelConfig) {
      const configData = modelList.modelConfig;
      if (configData.tablePrimaryKeyList.length > 0) {
        const sourceKey = configData.tablePrimaryKeyList[0].primaryKeyList;
        const isKey = [];
        if (sourceKey) {
          sourceKey.forEach((item) => {
            isKey.push(item.columnCName);
          });
          state.modelData.isPrimaryKey = isKey.join('  ');
        }
      }
    }
    // 结果推送人
    if (modelList.sendTargetUserDto) {
      const roleUsers = modelList.sendTargetUserDto;
      const roleIds = roleUsers.roleIds;
      const userIds = roleUsers.userIds;
      const roles = [];
      let allusers = [];
      modelList.sends.forEach((t) => {
        // 匹配相应的角色
        roleIds.forEach((j) => {
          if (t.roleId === j) {
            roles.push(t.roleName);
          }
        });
        // 获取所有人员
        if (t.users) {
          t.users.forEach((tt) => {
            allusers.push(tt);
          });
        }
      });
      // 用户去重
      allusers = JSON.parse(JSON.stringify(new Set(allusers)));
      // 获取所有人员
      const users = [];
      allusers.forEach((t) => {
        userIds.forEach((j) => {
          if (t.userId === j) {
            users.push(t.username);
          }
        });
      });

      return (state.modelData.sendTargetUsers = [
        ...roles,
        ...JSON.parse(JSON.stringify(new Set(users))),
      ].join());
    }
    // 模型产生方式
    if (modelList.generationMethod) {
      state.modelData.generationMethod = dict.getItemText(
        'generationMethod',
        modelList.generationMethod,
      );
    }
  };
  const emits = defineEmits(['ok']);

  const onClose = () => {
    state.isOff.length = 0;
    state.modelFeatures = false;
    emits('ok');
  };
  const showTabs = (flag) => {
    state.showView = flag;
  };
  // 图标编辑
  const goConfigureModel = () => {
    const modelConfig = state.modelData.modelConfig; // 模型的数据集
    const dataSetIds = [] as any;
    modelConfig.datatableList.forEach((item) => {
      dataSetIds.push(item.tableId * 1);
    });
    const dataSetIdsSrt = dataSetIds.join();
    router.push({
      path: '/userAnalyze/kanbanConfigTabs',
      query: {
        boardId: state.modelData.boardId || 'init',
        toPage: 'modal',
        modelName: state.modelData.modelName,
        id: state.modelData.id,
        dataSetIds: dataSetIdsSrt,
        boardType: '30', // 首页看板10 模型看板30 普通看板20
      } as any,
    });
    SupervisionGovern.setVisible(false);
  };
  defineExpose({
    setFormValues,
    showTabs,
  });
</script>

<style lang="less" scoped>
  .modelShow {
    width: 95%;
    margin: 0 auto;
  }
  .cradList {
    text-align: center;
  }
  .BasicNews-style {
    border: 2px solid #f0f2f5;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .padding-style {
    padding-bottom: 10px;
  }

  .modelFeatures {
    background: #e4e4e4;
    font-size: 16px;
    color: #000;
    span {
      margin-left: 10px;
    }
  }

  /deep/.ant-modal-body {
    padding: 0 !important;
  }

  /deep/.ant-collapse {
    background: #fff;
    border: none;
    border-bottom: 1px solid #e9e9e9;
    .ant-collapse-item {
      border: none;
    }
  }
  /deep/.ant-collapse-borderless {
    border: none;
    background: #fff;
  }
  /deep/.ant-collapse-header {
    font-family: SourceHanSansCN-Regular;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
    color: #fff;
    padding-left: 24px !important;
  }

  /deep/.ant-collapse-content-box {
    padding: 0 8px !important;
  }

  /deep/.ant-collapse-content {
    color: #000 !important;
  }

  .collapseView {
    font-family: SourceHanSansCN-Regular;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0px;

    b {
      color: red;
    }

    .title {
      width: 160px;
      text-align: right;
    }

    // 特征筛选
    .featuresScreen {
      margin-top: 6px;

      > .title {
        font-family: SourceHanSansCN-Regular;
        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
        letter-spacing: 0px;
        color: rgba(0, 0, 0, 0.85);
      }

      > p:nth-child(2) {
        margin-top: 41px;
      }

      > p {
        padding-left: 65px;

        .ant-input {
          width: 545.59px;
          height: 38.07px;
        }
      }

      .sortTerm,
      .satisfyTerm {
        margin-top: 29px;
        display: flex;

        .termDom {
          border-radius: 2px;
          border: 1px solid #eee;
          flex: 1;
          padding: 35px;

          .term {
            display: flex;
            align-items: center;
            padding: 6px 0;

            .ant-select {
              min-width: 75px;
              margin-left: 15px;
            }

            .ant-select:nth-child(1),
            .ant-select:nth-child(4) {
              min-width: 187px;
            }

            .ant-radio-group {
              margin-left: 15px;
            }

            .anticon {
              color: #6f6f6f;
              font-size: 24px;
              margin-left: 15px;
            }
          }
        }
      }
    }
  }

  .iconActive {
    position: relative !important;
    left: 65px !important;
    top: -22px !important;
    font-size: 18px !important;
    height: 27px;
    color: rgb(24, 144, 255);
    margin-bottom: 5px;
  }

  .iconActive.iconActivetwo {
    top: -22px !important;
  }
  .iconEdit-style {
    display: flex;
    align-items: center;
    background: #e4e4e4;
    .iconEdit {
      margin-left: 60px;
      color: rgb(24, 144, 255);
      font-size: 18px !important;
    }
  }
</style>
