<template>
  <div class="main">
    <div class="content">
      <a-row type="flex" justify="space-around" align="middle">
        <a-col :span="9" class="text-danger font-xl ellipsis-1">
          <span>{{ state.currentTitle }}</span>
        </a-col>
        <a-col :span="6" class="text-c">
          <span class="font-xl lh32">{{ CurrentTime }}</span>
        </a-col>
        <a-col :span="9" class="text-r">
          季度：
          <a-select
            v-model:value="state.quarter"
            style="width: 130px"
            class="text-l"
            placeholder="请选择季度"
            @change="queryList()"
          >
            <a-select-option
              v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_QUARTERLY_TYPE')"
              :key="index"
              :value="item.itemValue"
              >{{ item.itemText }}</a-select-option
            >
          </a-select>
        </a-col>
      </a-row>
      <a-divider :style="{ margin: '10px 0' }" />

      <swiper
        ref="eSwiper"
        class="swiper"
        :modules="modules"
        :centered-slides="true"
        :slides-per-view="5"
        :space-between="20"
        :scrollbar="{
          draggable: true,
          dragSize: 160,
        }"
        navigation
        @swiper="onSwiper"
        @slide-change="onSlideChange"
      >
        <swiper-slide
          v-for="(item, idx) in state.dataList"
          :key="idx"
          v-slot="{ isActive }"
          class="swiper-slide pb-2x"
        >
          <div class="text-c">
            <router-link
              :to="`/PDFShow?showIdx=${idx}&quarter=${item.quarter}`"
              target="_blank"
              :class="[isActive ? 'text-danger' : '']"
            >
              <img
                :class="[isActive ? 'active' : '']"
                :src="`${state.BASE_URL}basic/n/get/file?key=${item.thumbnail.fileAddress}`"
              />
              <div class="text-c pt-1x ellipsis-1">{{ item.dialogueMeetingTheme }}</div>
              <div class="text-c">({{ item.deptName }})</div>
            </router-link>
          </div>
        </swiper-slide>
      </swiper>
      <!-- <a-divider :style="{ margin: '10px 0', background: '#666' }" /> -->
      <a-row class="col-list">
        <a-col :span="8" :class="['ph-1x']">
          <a-row
            v-for="(item, index) in state.dataList.slice(0, state.col)"
            :key="index"
            :class="[index == state.currentIdx ? 'text-danger' : '', 'col-item']"
            @click="switchItem(index)"
          >
            <a-col :span="15" class="ellipsis-1">
              <span class="gray font-index">{{ index + 1 }}</span
              >&nbsp;&nbsp;{{ item.dialogueMeetingTheme }}
            </a-col>
            <a-col :span="6" class="ellipsis-1" :title="item.deptName">
              {{ item.deptName }}
            </a-col>
            <a-col :span="2" class="text-r"> {{ item.expectedTime }}' </a-col>
          </a-row>
        </a-col>
        <a-col :span="8" :class="['ph-1x']">
          <a-row
            v-for="(item, index) in state.dataList.slice(state.col, state.col * 2)"
            :key="index"
            :class="[index + state.col == state.currentIdx ? 'text-danger' : '', 'col-item']"
            @click="switchItem(index + state.col)"
          >
            <a-col :span="15" class="ellipsis-1">
              <span class="gray font-index">{{ index + state.col + 1 }}</span
              >&nbsp;&nbsp;{{ item.dialogueMeetingTheme }}
            </a-col>
            <a-col :span="6" class="ellipsis-1" :title="item.deptName">
              {{ item.deptName }}
            </a-col>
            <a-col :span="2" class="text-r"> {{ item.expectedTime }}' </a-col>
          </a-row>
        </a-col>
        <a-col :span="8" :class="['ph-1x']">
          <a-row
            v-for="(item, index) in state.dataList.slice(state.col * 2, state.col * 3)"
            :key="index"
            :class="[index + state.col * 2 == state.currentIdx ? 'text-danger' : '', 'col-item']"
            @click="switchItem(index + state.col * 2)"
          >
            <a-col :span="15" class="ellipsis-1">
              <span class="gray font-index">{{ index + state.col * 2 + 1 }}</span
              >&nbsp;&nbsp;{{ item.dialogueMeetingTheme }}
            </a-col>
            <a-col :span="6" class="ellipsis-1" :title="item.deptName">
              {{ item.deptName }}
            </a-col>
            <a-col :span="2" class="text-r"> {{ item.expectedTime }}' </a-col>
          </a-row>
        </a-col>
      </a-row>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { reactive, onMounted, ref } from 'vue';
  import { Navigation, Scrollbar } from 'swiper/modules';
  import { Swiper, SwiperSlide } from 'swiper/vue';
  import moment from 'moment';
  import { useRoute } from 'vue-router';
  import { message } from 'ant-design-vue';
  import dict from '@/utils/dict.js';
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/scrollbar';
  import { queryMeetingList } from '@/api/meetingList';

  const eSwiper = ref(null);

  defineOptions({
    name: 'MeetingShow',
  });

  const route = useRoute();
  const { quarter } = route.query;
  const modules = [Navigation, Scrollbar];

  const state = reactive<any>({
    quarter: '',
    dataList: [],
    BASE_URL: location.origin.endsWith('localhost:8099')
      ? `${location.origin}/proxy/`
      : process.env.VUE_APP_BASE_API,
    currentIdx: 0,
    currentTitle: '',
    col: 0,
  });

  const queryList = async () => {
    const { data } = await queryMeetingList({ quarter: state.quarter || quarter });
    if (data.success) {
      state.dataList = data?.data;
      state.col = Math.ceil(state.dataList.length / 3);
      eSwiper.value.$el.swiper.slideTo(0);
      state.quarter = data?.data[0]?.quarter;
      state.currentTitle = state.dataList[state.currentIdx]?.dialogueMeetingTheme;
    } else {
      message.error(data.message);
    }
  };

  const onSwiper = (swiper) => {
    state.currentIdx = swiper.activeIndex;
  };
  const onSlideChange = (swiper) => {
    state.currentIdx = swiper.activeIndex;
    state.currentTitle = state.dataList[swiper.activeIndex]?.dialogueMeetingTheme;
  };

  const switchItem = (index) => {
    eSwiper.value.$el.swiper.slideTo(index);
  };

  const CurrentTime = ref(moment(new Date().toString().RFC_2822).format('LT'));

  onMounted(() => {
    setInterval(() => {
      CurrentTime.value = moment(new Date().toString().RFC_2822).format('LT');
    }, 1000);
    queryList();
  });
</script>
<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;
    font-size: 2.2vh;
    .content {
      height: inherit;
      padding: 10px 20px;
    }
    .font-xl {
      font-size: 2.4vh;
    }
    .font-index {
      font-size: 2.5vh;
    }
  }
  .swiper-slide img {
    height: 30vh;
    display: inline;
    &.active {
      border: 2px solid red;
    }
  }
  .col-list {
    .col-item {
      border-bottom: 1px solid #ddd;
      line-height: 35px;
      padding-top: 10px;
      cursor: pointer;
      &:hover {
        color: #40a9ff;
      }
    }
  }
  .border-red {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px 10px;
    color: red;
  }
</style>
