<template>
  <div class="main">
    <div class="content">
      <vxe-grid ref="xTable1" v-bind="gridOptions">
        <template #toolbar_buttons>
          <div>
            季度：
            <a-select
              v-model:value="queryState.quarter"
              style="width: 130px"
              placeholder="请选择季度"
            >
              <a-select-option
                v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_QUARTERLY_TYPE')"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-select-option
              >
            </a-select>
          </div>
          <div class="ml-1x">
            <a-input v-model:value="queryState.dialogueMeetingTheme" placeholder="请输入主题" />
          </div>
          <div class="ml-1x">
            <a-select
              v-model:value="queryState.dialogueMeetingType"
              style="width: 160px"
              placeholder="请选择发言类型"
            >
              <a-select-option
                v-for="(item, index) in dict.getItemsByDictCode('DIALOGUE_MEETING_TYPE')"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-select-option
              >
            </a-select>
          </div>
          <div class="ml-1x">
            <a-tree-select
              v-model:value="queryState.deptCode"
              style="width: 180px"
              show-search
              placeholder="请选择部门"
              allow-clear
              :show-checked-strategy="SHOW_ALL"
              tree-default-expand-all
              :tree-data="treeDataSel"
            >
              <template #tagRender="{ label, closable, onClose }">
                <a-tag :closable="closable" @close="onClose">
                  {{ label }}
                </a-tag>
              </template>
            </a-tree-select>
          </div>
          <a-button class="ml-1x" type="primary" @click="queryList()"> 查询</a-button>
          <a-button class="ml-1x" type="primary" danger @click="resetForm()"> 重置</a-button>
        </template>
        <template #toolbar_tools>
          <router-link :to="`/MeetingShow?quarter=${queryState.quarter}`" target="_blank">
            <a-button class="mr-1x">展示</a-button>
          </router-link>
          <!-- <a-button class="mr-1x" type="primary" @click="copyList(row)">复制</a-button> -->
          <a-button class="mr-1x" type="primary" @click="openModal()">新增</a-button>
        </template>
        <template #operate="{ row }">
          <!-- <a-button type="link" @click="copyRow(row)">复制</a-button> -->
          <a-button type="link" @click="openModal(row)">编辑</a-button>
          <a-button type="link" :loading="delLoading" @click="deleteItem(row)">删除</a-button>
        </template>
      </vxe-grid>
    </div>

    <addItem
      :visible="propState.visible"
      :title="propState.title"
      :record="propState.record"
      @close="closeModal"
    ></addItem>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, onMounted } from 'vue';
  import { VxeGridProps } from 'vxe-table';
  import { isEmpty } from 'lodash-es';
  import { TreeSelect, message } from 'ant-design-vue';
  import addItem from './nav/addItem.vue';
  import dict from '@/utils/dict.js';
  import { getDeptAllTwo } from '@/api/system/dept/index';
  import { genDeptTreeItem } from '@/api/system/dept/service';
  import { queryMeetingList, deleteMeetingItem } from '@/api/meetingList';

  defineOptions({
    name: 'MeetingSetUp',
  });

  const propState = reactive({
    visible: false,
    title: '',
    record: {},
  });

  const queryState = reactive({
    quarter: undefined,
    dialogueMeetingTheme: '',
    dialogueMeetingType: undefined,
    deptCode: undefined,
  });

  const state = reactive({
    BASE_URL: location.origin.endsWith('localhost:8099')
      ? `${location.origin}/proxy/`
      : process.env.VUE_APP_BASE_API,
  });

  const SHOW_ALL = TreeSelect.SHOW_ALL;
  const treeDataSel = ref<TreeSelectProps['treeData']>([]);
  /**查询相关组织树选择 **/
  const queryDept = async () => {
    const { rows } = (await getDeptAllTwo()) as any;
    const deptTree: API.TreeDataItem[] = [];
    for (let i = 0; i < rows.children.length; i++) {
      const temp = rows.children[i];
      deptTree.push(genDeptTreeItem(temp));
    }
    treeDataSel.value = deptTree;
  };

  const gridOptions = reactive<VxeGridProps<RowVO>>({
    size: 'small',
    border: true,
    height: '100%',
    align: 'center',
    rowClassName: ({ rowIndex }) => {
      // if (![0, 3].includes(rowIndex)) {
      //   return 'drag-row';
      // }
      // return 'undrag';
      return 'drag-row';
    },
    toolbarConfig: {
      zoom: true,
      custom: true,
      refresh: {
        queryMethod: () => {
          queryList();
        },
      },
      slots: {
        buttons: 'toolbar_buttons',
        tools: 'toolbar_tools',
      },
    },
    columnConfig: {
      resizable: true,
    },
    rowConfig: {
      useKey: true,
    },
    columns: [
      { field: 'dialogueMeetingTheme', title: '发言主题', align: 'left' },
      {
        field: 'dialogueMeetingType',
        title: '发言类型',
        formatter: ({ cellValue }) => {
          const obj = dict.getValue('DIALOGUE_MEETING_TYPE', cellValue);
          if (!isEmpty(obj)) {
            return obj.itemText;
          } else {
            return '-';
          }
        },
      },
      { field: 'deptName', title: '部门' },
      {
        field: 'dialogueMeetingFile',
        title: '会议材料',
        slots: {
          // 使用渲染函数
          default: ({ row }) => {
            return row.dialogueMeetingFile
              ? [
                  <a
                    href={`${state.BASE_URL}basic/n/get/file?key=${row.dialogueMeetingFile.fileAddress}`}
                    target="_blank"
                    class="link"
                  >
                    {row.dialogueMeetingFile.fileName}
                  </a>,
                ]
              : [];
          },
        },
      },
      {
        field: 'title',
        title: '缩略图',
        slots: {
          // 使用渲染函数
          default: ({ row }) => {
            return row.thumbnail
              ? [
                  <img
                    style="height:60px;display:inline;"
                    alt="头像"
                    src={`${state.BASE_URL}basic/n/get/file?key=${row.thumbnail.fileAddress}`}
                  />,
                ]
              : [];
          },
        },
      },
      { field: 'orderNum', title: '发言顺序' },
      { field: 'expectedTime', title: '预计用时（分钟）' },
      { title: '操作', width: 160, slots: { default: 'operate' } },
    ],
    data: [],
  });
  //新增&编辑
  const openModal = (record = {}) => {
    propState.visible = true;
    propState.record = record;
    propState.title = !isEmpty(record) ? '编辑会议材料' : '新增会议材料';
  };
  const closeModal = (flag) => {
    propState.visible = false;
    if (flag) queryList();
  };

  const queryList = async () => {
    gridOptions.loading = true;
    const { data } = await queryMeetingList(queryState);
    gridOptions.loading = false;
    if (data.success) {
      queryState.quarter = data?.data[0]?.quarter;
      gridOptions.data = data.data;
    } else {
      message.error(data.message);
    }
  };

  const resetForm = () => {
    for (const key in queryState) {
      if (key !== 'quarter') {
        queryState[key] = key == 'dialogueMeetingTheme' ? '' : undefined;
      }
    }
    queryList();
  };

  const delLoading = ref(false);
  const deleteItem = async (row) => {
    delLoading.value = true;
    const { data } = await deleteMeetingItem(row.dialogueMeetingCode);
    if (data.success) {
      message.success(data.message);
      queryList();
    } else {
      message.error(data.message);
    }
    delLoading.value = false;
  };

  onMounted(() => {
    queryDept();
    queryList();
  });
</script>

<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;
    .content {
      height: inherit;
      padding: 10px 20px;
    }
  }
</style>
