<template>
  <div class="main">
    <div ref="pdfHeader" class="fix-header">
      <a-row type="flex" justify="space-around" align="middle">
        <a-col :span="12" offset="6" class="text-c font-xxl">
          <span>{{ CurrentTime }}</span>
          <span v-if="pageState.countdownHtml !== ''" class="ph-1x">|</span>
          <span
            v-if="pageState.countdownHtml !== ''"
            :class="[
              'status',
              state.status == 1
                ? 'warning'
                : state.status == 2
                ? 'danger'
                : state.status == 3
                ? 'danger-an'
                : '',
            ]"
          >
            <warning-outlined v-if="state.status == 2" />
            <exclamation-circle-outlined v-if="state.status == 1" />
            {{ pageState.countdownHtml }}
          </span>
        </a-col>
        <a-col :span="6" class="text-r">
          <span class="close-x ml-2x pointer" @click="closeWindow()">X</span>
        </a-col>
      </a-row>
    </div>
    <div>
      <div style="height: 100%">
        <pdf-preview :pdf-url="state.pdfUrl" @to-next="toNext()"></pdf-preview>
        <router-link
          v-if="+showIdx + 1 < state.dataList.length && pageState.nextFile"
          class="red-border fix-footer font-xl ellipsis-3"
          :to="`/PDFShow?showIdx=${+showIdx + 1}&quarter=${quarter}`"
        >
          {{ state.dataList[showIdx]?.dialogueMeetingTheme }}
        </router-link>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { reactive, onMounted, ref, watch, nextTick } from 'vue';
  import { useRoute } from 'vue-router';
  import moment from 'moment';
  import { message } from 'ant-design-vue';
  import pdfPreview from './nav/PDFPreview.vue';
  import { queryMeetingList } from '@/api/meetingList';
  defineOptions({
    name: 'PDFShow',
  });

  const route = useRoute();
  const { showIdx, quarter } = route.query;
  const pageState = reactive({
    countdown: 0,
    countdownHtml: '',
    disabled: false,
    nextFile: false,
    topHeight: 0,
  });

  const state = reactive<any>({
    dataList: [],
    BASE_URL: location.origin.endsWith('localhost:8099')
      ? `${location.origin}/proxy/`
      : process.env.VUE_APP_BASE_API,
    pdfUrl: '',
    status: 1,
  });

  const pdfHeader = ref(null);
  const queryList = async () => {
    const { data } = await queryMeetingList({ quarter });
    if (data.success) {
      state.dataList = data?.data;
      state.pdfUrl = `${state.BASE_URL}basic/n/get/file?key=${
        state.dataList[parseInt(showIdx)]?.dialogueMeetingFile.fileAddress
      }`;
      if (state.dataList[parseInt(showIdx)]?.expectedTime) {
        pageState.countdown = state.dataList[parseInt(showIdx)]?.expectedTime * 60;
        countdownFun();
      }
      // nextTick(() => {
      //   const height = pdfHeader.value.offsetHeight;
      //   pageState.topHeight = height;
      // });
    } else {
      message.error(data.message);
    }
  };

  //倒计时
  const countdownFun = () => {
    const interval = setInterval(() => {
      pageState.countdown--;
      let minutes = Math.floor(pageState.countdown / 60);
      let seconds = Math.floor(pageState.countdown % 60);
      minutes = minutes < 10 ? `0${minutes}` : minutes;
      seconds = seconds < 10 ? `0${seconds}` : seconds;
      state.status =
        pageState.countdown > 30 && pageState.countdown < 60
          ? 1
          : pageState.countdown > 0 && pageState.countdown <= 30
          ? 2
          : pageState.countdown == 0
          ? 3
          : 0;
      pageState.countdownHtml = `${minutes}分${seconds}秒`;

      if (pageState.countdown === 0) {
        clearInterval(interval);
      }
    }, 1000);
  };
  //当前时间
  const CurrentTime = ref(moment(new Date().toString().RFC2822).format('LT'));

  //关闭当前窗口
  const closeWindow = () => {
    window.close();
  };

  const toNext = () => {
    pageState.nextFile = true;
  };

  watch(
    () => route.query.showIdx,
    (newVal, oldVal) => {
      if (newVal !== oldVal) window.location.reload();
    },
  );

  onMounted(() => {
    setInterval(() => {
      CurrentTime.value = moment(new Date().toString().RFC2822).format('LT');
    }, 1000);
    queryList();
  });
</script>
<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    font-size: 2.2vh;
    .font-xl {
      font-size: 2.4vh;
    }
    .font-xxl {
      font-size: 2.6vh;
    }
  }
  .fix-header {
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 99;
    width: 100%;
    .ant-row {
      padding: 5px 10px;
    }
  }
  .fix-footer {
    position: fixed;
    bottom: 50px;
    z-index: 999;
    right: 50px;
    background: white;
    cursor: pointer;
    max-width: 20vw;
  }
  .span-border {
    border: 1px solid #3f3f3f;
    border-radius: 2px;
    padding: 5px 10px;
  }
  .red-border {
    color: red;
    border: 1px solid red;
    border-radius: 2px;
    padding: 4px 10px;
  }
  .border-red {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 4px 10px;
    color: red;
  }
  .disabled {
    color: #ccc;
  }
  .close-x {
    background: #ddd;
    border-radius: 2px;
    padding: 4px 10px;
    color: #333;
    display: inline-block;
    &:hover {
      background: #ccc;
    }
  }
  .status {
    padding: 2px 6px;
    border-radius: 4px;
    color: #3d3d3d;
    &.warning {
      background: orange;
      width: 140px;
    }
    &.danger {
      background: red;
      color: #fff;
    }
    &.danger-an {
      background: red;
      color: #fff;
      display: inline-block;
      animation: bounce 3s linear infinite; //动画效果
    }
  }
  @keyframes bounce {
    0% {
      opacity: 0.5;
      transform: scale(0.9);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0.5;
      transform: scale(0.9);
    }
  }
</style>
