<template>
  <a-modal
    :visible="visible"
    :body-style="{ padding: '12px' }"
    title="数据表授权"
    width="1100px"
    :mask-closable="false"
    ok-text="保存"
    destroy-on-close
    @ok="handleOk"
    @cancel="handleCancel"
  >
    <Transfer
      ref="dataTransfer"
      :height="350"
      :left-columns="leftColumns"
      :right-columns="rightColumns"
      :key-column="keyColumn"
      :search-column="searchColumn"
      :data-promise="queryConfigList"
      :ex-params="comParams"
      :right-data-source="rightData"
    ></Transfer>
  </a-modal>
</template>

<script setup lang="tsx">
  import { ref, watch } from 'vue';
  import { message } from 'ant-design-vue';
  import Transfer from './Transfer.vue';
  import { queryConfigList, saveConfigList } from '@/api/system/dept';
  const props = defineProps({
    isShow: {
      type: Boolean,
      default: false,
    },
    rowData: {
      type: Object,
      default: () => {
        return {
          Id: '',
        };
      },
    },
  });
  const emit = defineEmits(['closeModal']);
  const visible = ref(false);
  const dataTransfer = ref();
  //展示列头
  const leftColumns = [{ title: '全部数据表', dataIndex: 'tableCname' }];
  const rightColumns = [
    { title: 'ID', width: 80, align: 'center', dataIndex: 'id' },
    { title: '已选数据表', width: 120, dataIndex: 'tableCname' },
    { title: '配置所属表规则', width: 160, align: 'center', dataIndex: 'test' },
    { title: '数据表权限继承自', width: 160, align: 'center', dataIndex: 'permissionInheritance' },
    { title: '操作', width: 120, align: 'center', dataIndex: 'operation' },
  ];
  const keyColumn = 'id';
  //搜索内容
  const searchColumn = 'tableCname';
  //已选数据
  const rightData = ref([]);
  const comParams = {
    condition: 0,
  };
  const chooseList = async () => {
    comParams[props.rowData.type == 'user' ? 'userId' : 'roleId'] = props.rowData.Id;
    const params = {
      pageSize: 9999,
      pageNum: 1,
      tableCName: '',
      ...comParams,
      userRoleIds: props.rowData.roleId,
    };
    params.condition = 1;
    const data = await queryConfigList(params);
    rightData.value = data.data;
  };
  //保存数据表配置
  const handleOk = async () => {
    //处理入参为特定格式
    const rData = dataTransfer.value.getValues();
    let dataArr = [];
    dataArr = rData.filter((item) => {
      return item.dataSource != 'role';
    });
    dataArr = dataArr.map((item) => {
      return { datatableId: item.id, filtersId: item.filtersId };
    });
    const params = {
      ruleType: props.rowData.type,
      ruleId: props.rowData.Id,
      datatableConfig: dataArr,
    };
    const data = await saveConfigList(params);
    if (data.success) {
      message.success('配置成功！');
      handleCancel();
    } else {
      message.error(`${data.message}`);
    }
  };
  const handleCancel = () => {
    visible.value = false;
    emit('closeModal');
  };
  watch(
    () => props.isShow,
    (nV) => {
      if (!nV) return;
      chooseList();
      visible.value = nV;
    },
  );
</script>
