<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      :title="state.title"
      width="700px"
      :footer="null"
      destroy-on-close
      @ok="handleOk"
      @cancel="handleOk"
    >
      <a-form
        ref="formRef"
        :model="state.auditForm"
        :label-col="{ span: 4 }"
        :wrapper-col="{ span: 19 }"
        :rules="rules"
        @finish="onFinish1"
        @finish-failed="onFinishFailed1"
      >
        <a-form-item label="问题整改部门" name="projectDeptCode">
          <a-cascader
            v-model:value="state.auditForm.projectDeptCode"
            placeholder="请选择问题整改部门"
            allow-clear
            :field-names="{ label: 'text', value: 'code', children: 'children' }"
            :options="state.responsibleDeptData"
            show-search
            style="width: 100%"
            @change="changRresDep"
          >
          </a-cascader>
        </a-form-item>
        <a-form-item label="问题整改人员" name="handleUsername">
          <a-select
            v-model:value="state.auditForm.handleUsername"
            :allow-clear="true"
            show-search
            :filter-option="false"
            placeholder="请选择问题整改人员"
            :loading="state.allUsers.length == 0"
            @search="handleUserSearch"
            @deselect="getUsersFn(null)"
            @change="(val) => changeUserFn(val)"
          >
            <a-select-option
              v-for="x in state.allUsers"
              :key="x.userId"
              :field-names="{ label: 'username', value: 'userId' }"
              :value="`${x.userId}-${x.username}`"
            >
              <span role="img" class="" :aria-label="x.username">{{ x.username }}</span>
              /
              <span class="select-usercode">{{ x.employeeCode }}</span>
            </a-select-option>
          </a-select>
        </a-form-item>
        <div class="sub-btn">
          <a-button
            type="primary"
            style="background: #1890ff; color: #fff"
            :loading="state.loading"
            html-type="submit"
            >确认</a-button
          >
        </div>
      </a-form>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref } from 'vue';
  import { message } from 'ant-design-vue';
  import { getDep } from '@/api/supervisionGovern';
  import { getInventoryPush, getHandClue } from '@/api/supervisionGovern/questionInventory';
  import { getUsersCode } from '@/api/supervisionModel';
  const dialogFormVisible = ref(false);
  const emit = defineEmits(['search']);
  const state = reactive({
    auditForm: {
      projectCode: '',
      problemCode: '',
      handleUsername: '',
      handleUsernameId: '',
      projectDeptCode: [],
      problemDeptName: '',
      problemDeptCode: '',
      pushType: '10',
    },
    allUsers: [],
    responsibleDeptData: [],
    loading: false,
    title: '',
    handType: '',
    clueId: '',
  });
  const rules = reactive({
    projectDeptCode: [{ required: true, message: '请选择问题整改部门' }],
    handleUsername: [{ required: true, message: '请选择问题整改人员' }],
  });
  const onFinish1 = () => {
    state.loading = true;
    state.auditForm.problemDeptCode = state.auditForm.projectDeptCode.join(',');
    const _params = {
      ...state.auditForm,
      handType: state.handType,
      handleOpinion: state.handType == '30' ? '10' : state.handType,
      id: state.clueId,
    };
    console.log(_params);
    if (state.handType == '30') {
      getHandClue(_params).then((res) => {
        state.loading = false;
        if (res.code == 'OK') {
          message.success('转交成功');
          handleOk();
          emit('search');
        } else {
          message.error(res.message);
        }
      });
    } else {
      getInventoryPush(_params).then((res) => {
        state.loading = false;
        if (res.code == 'OK') {
          message.success('推送成功');
          handleOk();
          emit('search');
        }
      });
    }
  };
  const onFinishFailed1 = () => {};
  const getResponsibleDeptFn = () => {
    getDep().then((res) => {
      if (res.status === 200) {
        state.responsibleDeptData = res.data.rows.children;
      }
    });
  };
  const changRresDep = (val) => {
    if (val != undefined && val.length == 2) {
      const resDepP = state.responsibleDeptData.find((x) => {
        return x.code === val[0];
      });
      const resDepC = resDepP.children.find((y) => {
        return y.code === val[1];
      });
      state.auditForm.problemDeptName = `${resDepP.text}/${resDepC.text}`;
    } else {
      handleOk();
    }
    getUsersFn(val[1], 2);
  };
  const changeUserFn = (val) => {
    if (val != undefined) {
      const _p = val.split('-');
      state.auditForm.handleUsername = _p[1];
      state.auditForm.handleUsernameId = _p[0];
    } else {
      state.auditForm.handleUsername = '';
      state.auditForm.handleUsernameId = '';
    }
  };
  const getUsersFn = (val, flag) => {
    //项目责任人-模型管理员列表
    state.allUsers = [];
    let _params = {};
    if (flag == 1) {
      _params = {
        username: val,
        deptCode: state.auditForm.projectDeptCode.length == 2 && state.auditForm.projectDeptCode[1],
      };
    } else {
      _params = {
        deptCode: val,
      };
    }

    getUsersCode(_params).then((r) => {
      if (r.data.code == 'OK') {
        state.allUsers = r.data.data;
      }
    });
  };
  const handleUserSearch = (val) => {
    getUsersFn(val, 1);
  };
  const onChangeVisable = (record, title, handType) => {
    state.title = title;
    getResponsibleDeptFn();
    state.auditForm.projectCode = record.projectCode;
    state.auditForm.problemCode = record.problemCode;
    state.handType = handType;
    state.clueId = record.clueId;
    dialogFormVisible.value = true;
  };
  const handleOk = () => {
    state.auditForm.problemDeptCode = '';
    state.auditForm.problemDeptName = '';
    state.auditForm.projectDeptCode = [];
    state.auditForm.handleUsername = '';
    state.auditForm.handleUsernameId = '';

    dialogFormVisible.value = false;
  };
  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
