<template>
  <div class="overTop">
    <a-row class="over-title">
      <a-col :md="{ span: 5, offset: 10 }">
        <img src="../../../styles/platformOver/标题1.png" alt="图片" class="centrtitle" />
      </a-col>
      <a-col :md="{ span: 2, offset: 7 }" class="paddint_col">
        <a-date-picker
          v-model:value="monthvalue"
          class="datastyle"
          :format="monthFormat"
          :disabled-date="disabledDate"
          picker="month"
          @change="onChange"
        />
      </a-col>
    </a-row>
    <ObeiOverview01 :conditionalmonth="conditionalmonth" />
  </div>
</template>

<script setup lang="ts">
  import { ref, onMounted } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import { ObeiOverview01 } from '../obeimodulefile';
  defineOptions({
    name: 'ObeiOverview',
    inheritAttrs: false,
  });

  const monthFormat = 'YYYYMM';
  const disabledDate = (current: Dayjs) => {
    return current && current > dayjs().endOf('day');
  };
  const begindate = new Date(new Date() - 1000 * 60 * 60 * 24);
  const year = ref(begindate.getFullYear());
  const month = ref(begindate.getMonth() + 1);
  if (month.value < 10) {
    month.value = `0${month.value}`;
  }
  const yearmonth = `${year.value}${month.value}`.toString();
  const monthvalue = ref<Dayjs>(dayjs(yearmonth, monthFormat));

  const conditionalmonth = ref('');
  function onChange(value, dateString) {
    conditionalmonth.value = dateString;
    // console.log('Formatted Selected Time: ', dateString);
  }

  onMounted(() => {
    conditionalmonth.value = yearmonth;
  });
</script>

<style lang="less" scoped>
  .overTop {
    width: 100%;
    background: #fbfcff;
    .over-title {
      width: 100%;
      height: 96px;
      background-image: url(../../../styles/platformOver/bg_title_01.png);
      background-size: cover;
      .centrtitle {
        height: 30px;
        margin: 8% 4%;
      }
      .selectStyle {
        height: 40px;
        width: 150px;
      }
      .pickerstyle {
        position: relative;
        left: 1160px;
        top: -78px;
      }
      .paddint_col {
        padding: 10px 0px 0px 0px;
      }
      /deep/.ant-select-selection-item {
        font-family: PangMenZhengDao;
        color: #754800;
      }
      /deep/.ant-picker-input > input {
        font-family: PangMenZhengDao;
        color: #754800;
      }
    }
  }
</style>
