<template>
  <div class="main ph-3x">
    <a-list class="demo-loadmore-list" item-layout="horizontal" :data-source="state.dataList">
      <template #renderItem="{ item }">
        <a-list-item>
          <a-list-item-meta>
            <template #title>
              <a class="bold font-l" @click="viewDetails(item)">{{ item.messageTitle }}</a>
            </template>
            <template #description>
              <div class="ellipsis-1">{{ item.messageContent }}</div>
            </template>
          </a-list-item-meta>
          <div>{{ item.createdDate }}</div>
        </a-list-item>
      </template>
    </a-list>
    <a-pagination
      v-model:current="pages.pageNum"
      v-model:page-size="pages.pageSize"
      class="text-r"
      :total="state.total"
      :show-total="() => `共 ${state.total} 条`"
      show-size-changer
      @change="changePage"
    />
    <a-modal
      v-model:visible="state.visible"
      :mask-closable="false"
      :title="state.info.title"
      width="600px"
      :footer="null"
    >
      <div v-html="state.info.content"> </div>
      <a :href="state.info.link" target="_blank">{{ state.info.link }}</a>
      <div class="text-r pt-2x">{{ state.info.createdDate }}</div>
    </a-modal>
  </div>
</template>
<script setup lang="ts">
  import { onMounted, reactive } from 'vue';
  import { useRoute } from 'vue-router';
  import { message } from 'ant-design-vue';
  import { queryNoticeList, getOneMessage, getReadMessage } from '@/api/perAppraisal/apiList';
  defineOptions({
    name: 'NoticeList',
  });

  const route = useRoute();
  const { code, readFlag } = route.query;
  const state = reactive<any>({
    info: {},
    dataList: [],
    total: 0,
  });
  const pages = reactive<any>({
    pageNum: 1,
    pageSize: 10,
  });
  const queryNotice = async () => {
    const { data } = await queryNoticeList(pages);
    if (data.success) {
      state.dataList = data?.data;
      state.total = data?.total;
    } else {
      message.error(data.message);
    }
  };

  const changePage = (_page, pageSize) => {
    pages.pageSize = pageSize;
    queryNotice();
  };

  const viewDetails = (item) => {
    state.visible = true;
    state.info = item;
    state.info.content = item.messageContent.replace(/\n/g, '<br>');
    if (item.readFlag == '10') {
      markRead();
    }
  };

  const queryCode = async () => {
    const res = await getOneMessage(code);
    if (res.success) {
      viewDetails(res?.data);
    } else {
      message.error(res.message);
    }
  };

  //标记已读
  const markRead = async () => {
    const res = await getReadMessage(code);
    if (res.success) {
      queryNotice();
    } else {
      message.error(res.message);
    }
  };

  onMounted(() => {
    queryNotice();
    if (code) {
      queryCode();
    }
  });
</script>
<style lang="less" scoped>
  .main {
    height: 100%;
    overflow-y: auto;
    background: #fff;
  }
</style>
