<template>
  <draggable
    item-key="name"
    :list="props.data"
    :group="state.group"
    chosen-class="chosenClass"
    animation="300"
    :move="DragMoveConfig"
    :class="props.type"
    @end="onEnd"
  >
    <template #item="{ element }">
      <div :class="element.newType == 4 ? 'list item' : 'item'">
        <div class="item-pre">
          <file-outlined v-if="element.newType == 1" />
          <number-outlined v-else-if="element.newType == 2" />
          <history-outlined v-else-if="element.newType == 3" />
          <folder-outlined v-else-if="element.newType == 4" />
          <a-tooltip v-if="element.type == 'field'">
            <template #title>T{{ element.tableId }}.{{ element.sourceName }}</template>
            <div class="item-style">T{{ element.tableId }}.{{ element.sourceName }}</div>
          </a-tooltip>
          <div v-else class="item-style"> {{ element.sourceName }}</div>
          <DropDown
            v-if="element.parentType != 'catalogue'"
            :data="element"
            :parent-type="element.parentType"
            :type="props.type"
          ></DropDown>
        </div>

        <drag-item
          v-if="!!element.children"
          :data="element.children"
          :type="element.type"
        ></drag-item>
      </div>
    </template>
  </draggable>
</template>

<script setup lang="ts">
  import { reactive } from 'vue';
  import draggable from 'vuedraggable';
  import { message as $message } from 'ant-design-vue';
  import DragMoveConfig from '../action/DragMoveConfig';
  import { DropDown } from './components';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  const store = chartConfigurations();
  defineOptions({
    name: 'DragItem',
  });
  const props = defineProps(['data', 'type']);
  const state = reactive({
    group: {
      name: 'itxst',
    },
  }) as any;
  const onEnd = (el) => {
    const index = el.to.id;
    if (index) {
      store.insertContent[index].value.forEach((t, i) => {
        const position = { number: 0, index: -1 };
        store.insertContent[index].value.forEach((tt) => {
          if (t.name === tt.name) {
            position.number++;
            position.index = i;
          }
        });
        if (position.number == 2) {
          store.insertContent[index].value.splice(position.index, 1);
        }
      });
    }
    const fromItem = el.from.className.split(',');
    if (fromItem.indexOf('text') != -1) {
      if (index == 1) {
        $message.info('文本字段不建议拖入此处，有执行失败的可能。');
      }
    }
  };
</script>

<style lang="less" scoped>
  .list {
    flex-direction: column;
  }
  .item-pre {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .item {
    margin: 4px 0 4px 8px;
    cursor: pointer;
    display: flex;
    .anticon {
      margin-right: 6px;
    }
    .item-style {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .chosenClass {
    background: #eee;
  }
</style>
