<template>
  <div class="QueryField">
    <a-input v-model:value="state.value" placeholder="请输入……" size="small" @change="change" />
  </div>
</template>

<script setup lang="ts">
  import { reactive } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import FieldConfig from './FieldConfig';
  import navData from './navData';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  const store = chartConfigurations();
  const props = defineProps(['fieldArray']);
  const state = reactive({ value: '', list: [] });
  const change = () => {
    state.list = props.fieldArray.filter((item) => {
      return item.sourceName.indexOf(state.value) != -1;
    });
    const temp = cloneDeep(navData);
    temp[0] = store.navList[0];
    temp[1] = store.navList[1];
    store.navListConfig(JSON.parse(JSON.stringify(temp)), state.list);
    FieldConfig();
  };
</script>

<style lang="less" scoped>
  .QueryField {
    margin-left: 4px;
    margin-bottom: 4px;
  }
</style>
