<template>
  <div ref="barChart" class="chart"></div>
</template>

<script setup lang="ts">
  import { getCurrentInstance, onBeforeUnmount, onMounted, ref, watchEffect } from 'vue';
  import { number } from 'echarts';
  import obei from '@/assets/echarts-theme/obei.json';

  defineOptions({
    name: 'SpeedGauge2',
    inheritAttrs: false,
  });

  const props = defineProps({
    echardata: {
      type: String,
      default() {
        return '';
      },
    },
    echarcolor: {
      type: String,
      default() {
        return '';
      },
    },
    echarcolor1: {
      type: Array,
      default() {
        return [];
      },
    },
    echarunit: {
      type: String,
      default() {
        return '';
      },
    },
    echarcenter: {
      type: String,
      default() {
        return '';
      },
    },
  });

  const { proxy } = getCurrentInstance();
  let charts = null;
  const barChart = ref<HTMLElement>();

  const setOption = () => {
    const option = getOption();
    charts && charts.setOption(option, true);
  };

  const getOption = () => {
    return {
      series: [
        {
          type: 'gauge',
          radius: '100%',
          min: 0,
          max: 180,
          pointer: {
            itemStyle: {
              color: 'inherit',
            },
          },
          // 调整整体位置
          axisLine: {
            lineStyle: {
              width: props.echarcolor == '' ? 30 : 18,
              color: props.echarcolor1,
            },
          },
          axisTick: {
            show: false,
          },
          splitLine: {
            length: 0,
            lineStyle: {
              width: 2,
              color: '#A3A0ABFF',
            },
          },
          axisLabel: {
            distance: props.echarcolor == '' ? 30 : 15,
            color: '#A3A0ABFF',
            fontSize: props.echarcolor == '' ? 10 : 7,
          },
          title: {
            fontSize: 18,
            fontColor: 'inherit',
            color: 'inherit',
            paddingTop: 10,
            offsetCenter: [0, '70%'],
          },
          anchor: {
            show: false,
            showAbove: true,
            itemStyle: {
              borderWidth: 10,
              color: 'inherit',
            },
          },
          detail: {
            valueAnimation: true,
            formatter(p) {
              return formatNum(p) + unitprice.value;
            },
            color: 'inherit',
            fontSize: props.echarcolor == '' ? 30 : 15,
            offsetCenter: [0, '50%'],
          },
          data: [
            {
              value: formatNum(dataprice.value),
              name: '完成率',
            },
          ],
        },
        {
          name: '红线圈',
          type: 'gauge',
          radius: props.echarcolor == '' ? '55%' : '50%', // 半径
          splitNumber: 10,
          axisLine: {
            lineStyle: {
              color: [
                [1, '#EF6E4D'], //外环基础色
                [1, '#EF6E4D'],
              ],
              width: 1.6, // 线条宽度
            },
          },
          axisLabel: {
            show: false,
          },
          axisTick: {
            show: false,
          },
          splitLine: {
            show: false,
          },
          itemStyle: {
            show: false,
          },
          detail: {
            show: false,
            formatter(value) {
              return `${value * 100}%`;
            },
            offsetCenter: [0, 0],
            textStyle: {
              fontSize: '32',
              fontWeight: '600',
              color: '#c9c9c9',
            },
          },
          title: {
            offsetCenter: [0, '100%'],
          },
          pointer: {
            show: false,
            length: '5%',
            width: 20, //指针粗细
          },
        },
      ],
    };
  };
  const formatNum = (strNum) => {
    if (strNum === 'NaN' || strNum === '' || strNum === null || strNum === undefined) {
      return 0;
    } else {
      return parseInt(strNum);
    }
  };

  onMounted(() => {
    proxy.$echarts.registerTheme('obei', obei);
    charts = proxy.$echarts.init(barChart.value!);
    charts.clear();
    setOption();
    window.addEventListener('resize', () => {
      charts && charts.resize();
    });
  });

  onBeforeUnmount(() => {
    charts && charts.dispose();
    charts = null;
  });

  const dataprice = ref('');
  const colorprice = ref();
  const unitprice = ref('');

  watchEffect(() => {
    dataprice.value = props.echardata;
    colorprice.value = props.echarcolor;
    unitprice.value = props.echarunit;

    setOption();
  });
</script>

<style>
  .chart {
    width: 100%;
    height: 100%;
  }
</style>
