<template>
  <div ref="barChart" class="chart"></div>
</template>

<script setup lang="ts">
  import { getCurrentInstance, onBeforeUnmount, onMounted, ref, watchEffect, reactive } from 'vue';
  import 'echarts-liquidfill';
  import obei from '@/assets/echarts-theme/obei.json';

  defineOptions({
    name: 'WaterPolo',
    inheritAttrs: false,
  });

  const props = defineProps({
    echardata: {
      type: String,
      default() {
        return '';
      },
    },
    echarcolor: {
      type: Array,
      default: () => ['#00AFFF', 'rgba(224,242,255,0.4)'],
    },
    echarunit: {
      type: String,
      default() {
        return '';
      },
    },
  });

  const { proxy } = getCurrentInstance();
  let charts = null;
  const barChart = ref<HTMLElement>();

  const setOption = () => {
    const option = getOption();
    charts && charts.setOption(option, true);
  };

  const getOption = () => {
    return {
      backgroundColor: 'transparent', // 画布背景色
      series: [
        {
          type: 'liquidFill',
          radius: '77%',
          itemStyle: {
            normal: {
              color: colorprice.colors[0],
              opacity: 0.8,
              shadowColor: colorprice.colors[0],
              shadowBlur: 20,
            },
          },
          backgroundStyle: {
            shadowColor: colorprice.colors[1],
            shadowBlur: 20,
          },
          data: [dataprice.value], //控制水球荡漾
          label: {
            fontSize: 20,
            color: colorprice.colors[0],
            insideColor: '#ffffff',
            formatter(params) {
              return `${parseFloat((params.value * 100).toFixed(2))}${unitprice.value}`;
            },
          },
          outline: {
            show: false,
          },
        },
        {
          type: 'pie',
          z: 1,
          center: ['50%', '50%'],
          radius: ['79%', '80.5%'], // 控制外圈圆的粗细
          hoverAnimation: false,
          data: [
            {
              name: '',
              value: 500,
              labelLine: {
                show: false,
              },
              itemStyle: {
                color: colorprice.colors[0],
              },
              emphasis: {
                labelLine: {
                  show: false,
                },
                itemStyle: {
                  color: colorprice.colors[0],
                },
              },
            },
          ],
        },
      ],
    };
  };

  onMounted(() => {
    proxy.$echarts.registerTheme('obei', obei);
    charts = proxy.$echarts.init(barChart.value!);
    charts.clear();
    setOption();
    window.addEventListener('resize', () => {
      charts && charts.resize();
    });
  });

  onBeforeUnmount(() => {
    charts && charts.dispose();
    charts = null;
  });

  const dataprice = ref('');
  const colorprice = reactive({
    colors: [],
  });
  const unitprice = ref('');

  watchEffect(() => {
    dataprice.value = props.echardata * 0.01;
    colorprice.colors = props.echarcolor;
    unitprice.value = props.echarunit;

    setOption();
  });
</script>

<style>
  .chart {
    width: 100%;
    height: 100%;
  }
</style>
