<template>
  <div class="kanbanConfig">
    <NavList
      ref="nav"
      :preview="state.preview"
      :board-data="state.boardData"
      @kanBan-filter-search="kanBanFilterSearch"
      @kanBan-filter-change="kanBanFilterChange"
    ></NavList>
    <Kanban ref="kanbanRef" :preview="state.preview"></Kanban>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, ref, reactive, computed, nextTick } from 'vue';
  import { useRoute, useRouter } from 'vue-router';
  import NavList from './navList/Index.vue';
  import Kanban from './kanban/Index.vue';
  import { getBoardData } from '@/api/userAnalyze/kanbanConfig'; // api 接口
  import { kanbanConfigStore } from '@/store/modules/kanbanConfig';
  const store = kanbanConfigStore();
  defineOptions({
    name: 'kanbanConfig',
  });
  const $router = useRouter();
  const props = defineProps(['boardId']);
  const $route = useRoute();
  const state = reactive({
    preview: computed(() => {
      return $route.query.preview;
    }),
    boardData: [],
  });
  onMounted(() => {
    store.$reset();

    queryBoard();
  });
  const kanBanFilterSearch = ({ widgetId, queryFilter }) => {
    nextTick(() => {
      kanbanRef?.value?.kanBanFilterSearch({ widgetId, queryFilter });
    });
  };
  const kanBanFilterChange = (queryFilter) => {
    nextTick(() => {
      kanbanRef?.value?.kanBanFilterChange(queryFilter);
    });
  };
  const kanbanRef = ref();
  const nav = ref();
  const queryBoard = async () => {
    if ($route.query.boardId || props.boardId) {
      let data: any;
      nav.value.queryList();
      if ($route.query.boardId === 'init') {
        store.boardData = {};
      } else {
        data = await getBoardData({ boardId: $route.query.boardId || props.boardId });
        // 调用完看板配置信息后再调用获取列表，保持数据同步
        if (data && data?.code === 'OK' && data?.data) {
          store.kanbanData =
            data?.data?.layout?.widgets.map((item) => {
              // 王朗：实属无用，为了保证旧版数据
              return { ...item, i: item.widgetId };
            }) || [];
          store.boardData = data.data;
          state.boardData = data.data;
        }
      }
    } else {
      $router.go(-1);
    }
  };
</script>

<style lang="less" scoped>
  .kanbanConfig {
    background: #fff;
    height: 100%;
    display: flex;
    .navList {
      width: 20%;
      min-width: 330px;
    }
    .kanban {
      flex: 1;
    }
  }
</style>
