<template>
  <MergeTable
    :has-header="false"
    :data-list="state.dataList"
    :column-list="state.columnList"
    :column-groups="state.columnGroup"
    :row-merge="state.rowMerge"
    :loading="loading"
    :scroll="{ y: 300 }"
  >
  </MergeTable>
</template>

<script lang="tsx" setup>
  import { reactive, onMounted, ref } from 'vue';
  import Transformer from './transformer.js';
  import { MergeTable } from '@/components/business';
  import { getClueDeptDist } from '@/api/common';

  defineOptions({
    name: 'ClueDeptDist',
    inheritAttrs: false,
  });
  const loading = ref(false);
  const state = reactive({
    dataList: [],
    columnList: [
      { title: '责任单位', dataIndex: 'level1DeptName', align: 'left', width: 150 },
      {
        title: '责任部门',
        dataIndex: 'level2DeptName',
        align: 'left',
      },
      {
        title: '确认问题',
        dataIndex: 'currentMonthCpNum',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: 'currentMonthTpNum',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: 'confirmedProblems',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: 'transferProblems',
        align: 'right',
      },
    ],
    columnGroup: [
      {
        title: '当月业务笔数',
        children: ['currentMonthCpNum', 'currentMonthTpNum'],
      },
      {
        title: '当年累计业务笔数',
        children: ['confirmedProblems', 'transferProblems'],
      },
    ],
    rowMerge: {
      title: '合计',
      titleColumn: 'level1DeptName',
      cols: [
        {
          column: 'currentMonthCpNum',
          method: 'sum',
          align: 'right',
        },
        {
          column: 'currentMonthTpNum',
          method: 'sum',
          align: 'right',
        },
        {
          column: 'confirmedProblems',
          method: 'sum',
          align: 'right',
        },
        {
          column: 'transferProblems',
          method: 'sum',
          align: 'right',
        },
      ],
    },
  });

  const setupModelData = () => {
    loading.value = true;
    getClueDeptDist().then((result) => {
      state.dataList = result.data;
      state.columnList[0].rspans = Transformer.genRowSpans(state.dataList, 'level1DeptName');
      loading.value = false;
    });
  };

  onMounted(() => {
    // 加载数据
    setupModelData();
    // 修正rowspan
  });
</script>
