<template>
  <div class="overTop">
    <div class="over-title">
      <a-row>
        <a-col :md="{ span: 5, offset: 10 }">
          <img src="../../../styles/platformOver/标题1.png" alt="图片" class="centrtitle" />
        </a-col>
        <a-col :md="{ span: 2, offset: 4 }" class="paddint_col">
          <div class="a_div">
            <a
              href="https://bsp.obei.com.cn/obei-gateway/basic/n/get/file?key=bi/eval/attachment/jsc/jsc01.pdf"
              target="_blank"
              class="a_style"
              >会议材料</a
            >
          </div>
        </a-col>
        <a-col :md="{ span: 2, offset: 0 }" class="paddint_col">
          <a-date-picker
            v-model:value="monthvalue"
            size="middle"
            :format="monthFormat"
            :disabled-date="disabledDate"
            picker="month"
            @change="onChange"
          />
        </a-col>
        <a-col :md="{ span: 1, offset: 0 }" class="paddint_col">
          <div class="fs_div">
            <span style="margin-left: 10px"> <FullScreen /></span>
          </div>
        </a-col>
      </a-row>
    </div>
    <OverTab :year-month="conditionalmonth" />
  </div>
</template>

<script setup lang="ts">
  import { ref, onMounted } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import OverTab from './components/OverTab.vue';
  import { FullScreen } from '@/layout/header/components/';

  defineOptions({
    name: 'OverTop',
    inheritAttrs: false,
  });

  // 时间选择框
  const monthFormat = 'YYYYMM';
  const disabledDate = (current: Dayjs) => {
    return current && current > dayjs().endOf('day');
  };
  const begindate = new Date(new Date() - 1000 * 60 * 60 * 24);
  const year = ref(begindate.getFullYear());
  const month = ref(begindate.getMonth() + 1);
  if (month.value < 10) {
    month.value = `0${month.value}`;
  }
  const yearmonth = `${year.value}${month.value}`.toString();
  const monthvalue = ref<Dayjs>(dayjs(yearmonth, monthFormat));

  const conditionalmonth = ref('');
  function onChange(value, dateString) {
    conditionalmonth.value = dateString;
  }

  onMounted(() => {
    conditionalmonth.value = yearmonth;
  });
</script>

<style lang="less" scoped>
  .overTop {
    width: 100%;
    background: #fbfcff;
  }
  .over-title {
    width: 100%;
    height: 96px;
    background-image: url(../../../styles/platformOver/bg_title_01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .centrtitle {
    height: 30px;
    margin: 8% 5%;
  }
  .selectStyle {
    height: 40px;
    width: 150px;
  }
  .pickerstyle {
    position: relative;
    left: 1160px;
    top: -78px;
  }
  .paddint_col {
    padding: 10px 0px 0px 0px;
  }
  /deep/.ant-select-selection-item {
    font-family: PangMenZhengDao;
    color: #754800;
  }
  /deep/.ant-picker-input > input {
    font-family: PangMenZhengDao;
    color: #754800;
  }

  .a_style {
    font-size: 0.9vw;
    color: #5470c6;
    text-decoration: underline;
  }
  .a_style:hover {
    color: #3fb1e3;
  }
  .a_div {
    padding-top: 3%;
    text-align: center;
  }

  .fs_div {
    padding-left: 20%;
    padding-top: 10%;
  }
</style>
