<template>
  <div ref="bspTable" class="bspTable">
    <h3 ref="h3Dom">{{ props.title }}</h3>
    <MergeTable
      ref="tableDom"
      :data-list="state.dataSource"
      :bordered="true"
      :scroll="state.scrollXY"
      :columns-list="state.columns"
      :pagination="false"
      change="onPageChange"
      :auto-height="false"
    >
    </MergeTable>
  </div>
</template>
<script setup lang="tsx">
  import { onMounted, reactive, watch, ref } from 'vue';
  import { MergeTable } from '@/components/business';
  import Pubs from '@/utils/pubs.js';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  import dict from '@/utils/dict.js';
  const store = chartConfigurations();
  defineOptions({
    name: 'BspMergeTable',
    inheritAttrs: false,
  });

  const emit = defineEmits([
    'dblclickLink',
    'chartClick',
    'chartZrClick',
    'chartDblclick',
    'updateOption',
  ]);

  const props = defineProps({
    config: {
      type: Object,
      default: () => {},
    },
    data: {
      type: Object,
      default: () => {},
    },
    filter: {
      type: Object,
      default: () => {},
    },
    title: {
      type: String,
      default: '',
    },
  });

  const state = reactive({
    receiver: null, // 接收参数
    dataSource: [],
    columns: [],
    scrollXY: {
      x: 0,
      y: 100,
    },
    bordered: false,
    tableHeaderHeight: 0,
  });
  watch(
    () => state.receiver,
    (v) => {
      Pubs.unsubscribe(v.key);
      Pubs.subscribe(v.key, function (msg, data) {
        // 更新关联图表
        emit('updateOption', v, data);
      });
    },
  );

  onMounted(() => {
    initTable();
    Pubs.publish('onChartMounted', {});
    resize();
  });
  // 设置监听参数
  const setReceiver = (receiver) => {
    console.log('进来呀', receiver);
    state.receiver = receiver;
  };
  const initTable = () => {
    // 绑定数据
    const dataSource = [] as any;
    // 绑定表头
    const columns = [] as any;
    if (props?.data && props?.data?.columnList) {
      props?.data?.columnList?.forEach((item) => {
        columns.push({
          title: item.cName,
          dataIndex: item.name,
          dictCode: item.dictCode || null,
          customCell: (record, rowIndex, column) => {
            const obj = {
              rowSpan: {} as any,
            };
            // 图表是否合并
            const merge = props?.data?.dataConfig?.option?.merge;
            if (merge) {
              obj.rowSpan = customRenderConfig(
                record,
                rowIndex,
                column,
                state.dataSource,
                item.name,
              );
            } else {
              obj.rowSpan = 1;
            }
            return obj;
          },
          customRender: ({ record, value, index, column }) => {
            return (
              <a
                onClick={(el) => rowClick.click(record, value, index, el, column)}
                onDblclick={() => rowClick.dblclick}
                onContextmenu={(el) => rowClick.contextmenu(record, value, index, el, column)}
              >
                {store.formatterTable(value, item.cName, store.insertContent)}
              </a>
            );
          },
        });
      });
    }

    if (props?.data && props?.data?.data) {
      props?.data?.data?.forEach((item) => {
        const newData = {};
        item.forEach((iItem, iIndex) => {
          // newData[columns[iIndex].dataIndex] = iItem;
          if (columns[iIndex].dictCode != null) {
            //值集映射
            const obj = dict.getValue(columns[iIndex].dictCode, newData[columns[iIndex].dataIndex]);
            newData[columns[iIndex].dataIndex] = obj == undefined ? iItem : obj.itemText;
          } //newData[columns[iIndex].dataIndex]
        });
        dataSource.push(newData);
      });
    }
    state.dataSource = dataSource;
    state.columns = columns;
  };
  // 合并单元格
  const customRenderConfig = (record, rowIndex, column, data, name) => {
    const arr = [] as any; //数据栈
    // 进行数据深沉解析
    data.forEach((item, index) => {
      if (
        arr.length != 0 &&
        item[name] === arr[arr.length - 1][arr[arr.length - 1].length - 1].name
      ) {
        arr[arr.length - 1].push({ name: item[name], index, number: 0 });
      } else {
        arr.push([{ name: item[name], index }]);
      }
    });
    // 此刻arr 为二维数组 ，对进入的数据进行解刨后绑定数据的数量
    arr.forEach((item, index) => {
      arr[index][0].number = item.length;
    });
    // 小蝌蚪找妈妈
    let number = 1;
    arr.forEach((item) => {
      item.forEach((t) => {
        if (t.index == rowIndex) {
          number = t.number;
        }
      });
    });
    return number;
  };
  const rowClick = {
    click: (record, value, index, el, column) => {
      const params = { record, index, value, column, type: 'table', columns: state.columns };
      Object.assign(params, { ext: props.data });
      emit('chartClick', params);
    },
    dblclick: () => {
      emit('dblclickLink');
    },
    contextmenu: (record, value, index, e, column) => {
      e.preventDefault();
      const params = { record, index, value, column, type: 'table', columns: state.columns };
      Object.assign(params, { ext: props.data });
      emit('chartDblclick', e, params);
    },
  };
  const bspTable = ref();
  const h3Dom = ref();
  const tableDom = ref();
  const resize = () => {
    state.scrollXY = {
      x: bspTable.value.clientWidth - 20,
      y: bspTable.value.clientHeight - h3Dom.value.clientHeight - 120,
    };
  };
  defineExpose({ resize, setReceiver });
</script>
<style lang="less" scoped>
  .bspTable {
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex: 1;
    h3 {
      text-align: center;
      font-size: 18px;
      color: #464646;
      font-weight: 600;
      margin-bottom: 0;
    }
    /deep/.ant-table-thead > tr > th {
      text-align: center !important;
    }
    // /deep/.ant-table-body {
    // max-height: inherit !important;
    // }
  }
</style>
