<template>
  <DraggableModal
    v-model:visible="state.modalVisible"
    destroy-on-close
    :title="`${props.codeInfo.perfGName}${
      props.codeInfo.perfGOrgCode
        ? '(' + dict.getItemText('INDICATOR_UNIT', props.codeInfo.perfGOrgCode) + ')'
        : ''
    }`"
    :width="1000"
    :body-style="{
      'max-height': '460px',
      'min-height': '320px',
      overflow: 'auto',
      padding: '8px 12px 20px',
    }"
    :footer="state.confirmStatus == '2' ? null : undefined"
    @cancel="handleCancel"
  >
    <a-spin :indicator="indicator" :spinning="state.loading">
      <DynamicTable
        :header-title="`${dayjs(props.codeInfo.monthVal).format('YYYY年MM月')}`"
        :columns="columnsList"
        :data-source="state.dataSource"
      >
        <template #bodyCell="{ column, record }">
          <template
            v-if="
              column.key === 'fieldValue' && record.fieldType == '10' && state.confirmStatus == '1'
            "
          >
            <a-input-number
              v-model:value="record.fieldValue"
              placeholder="请输入数值"
              style="width: 150px"
            />
          </template>
        </template>
      </DynamicTable>
      <a-row class="mt-3x">
        <a-col :span="2" class="text-r"> 上传附件： </a-col>
        <a-col :span="16">
          <a-upload
            v-model:file-list="state.fileLists"
            name="file"
            :disabled="state.confirmStatus == '2'"
            accept=".doc,.docx,.png,.jpg,.jpeg,.pdf,.xls,.xlsx,.pptx,.zip,.rar,.mp4"
            :action="`${state.BASE_URL}performance-eval/n/public/batchadd/file?fileType=171`"
            :before-upload="beforeUpload"
            @change="(info) => handleChange(info)"
          >
            <a-button> <upload-outlined></upload-outlined>文件上传 </a-button>
            <span class="error"> (支持扩展名：.doc .docx .pdf .jpg .png)</span>
          </a-upload>
        </a-col>
      </a-row>
      <a-row class="mt-3x">
        <a-col :span="2" class="text-r"> 备注： </a-col>
        <a-col :span="16">
          <a-textarea
            v-model:value="state.description"
            :disabled="state.confirmStatus == '2'"
            placeholder="请输入备注"
            :rows="3"
          />
        </a-col>
      </a-row>
    </a-spin>
    <template #footer>
      <a-button @click="handleCancel">取消</a-button>
      <a-button type="primary" :loading="state.subLoading" @click="submitApproval">保存</a-button>
    </template>
  </DraggableModal>
</template>

<script setup lang="tsx">
  import { reactive, watch, h } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import { UploadOutlined, LoadingOutlined } from '@ant-design/icons-vue';
  import {
    message,
    UploadChangeParam,
    type FormInstance,
    UploadProps,
    Upload,
  } from 'ant-design-vue';
  import { baseColumns, type TableColumnItem } from '../components/columns'; //table列
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { useTable } from '@/components/core/dynamic-table';
  import { queryAdjust, saveAuditInfo } from '@/api/perAppraisal/apiList';
  import dict from '@/utils/dict.js';

  defineOptions({
    name: 'ReportAdjustModal',
  });
  const [DynamicTable] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'approvalCode',
    bordered: true,
    scroll: { x: 300, y: 300 },
  });
  const emits = defineEmits(['close', 'searchLoad']);
  const props = defineProps({
    isVisible: {
      type: Boolean,
      default: () => false,
    },
    codeInfo: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });

  const indicator = h(LoadingOutlined, {
    style: {
      fontSize: '24px',
    },
    spin: true,
  });
  const columnsList: TableColumnItem[] = baseColumns;
  type stateType = {
    modalVisible: Boolean;
    dataSource: [];
    loading: Boolean;
    subLoading: Boolean;
    description: String;
    isDisplay: Boolean;
    BASE_URL: String;
    fileLists: any;
    attestationFiles: any;
    confirmStatus?: String;
  };
  const state = reactive<stateType>({
    modalVisible: false,
    dataSource: [],
    loading: false,
    subLoading: false,
    description: '',
    isDisplay: true,
    BASE_URL: process.env.VUE_APP_BASE_API,
    fileLists: [],
    attestationFiles: [],
    confirmStatus: '',
  });

  /** 上传文件  开始 **/
  const handleChange = (info: UploadChangeParam) => {
    console.log(info);

    if (info.file.status === 'done' || info.file.status === 'removed') {
      const fileInfo = info.fileList.map((item) => {
        if (item.status == 'done' && item?.response?.success) {
          return item.response.data;
        } else {
          return {
            fileAddress: getCaption(item.url),
            fileName: item.name,
          };
        }
      });
      state.attestationFiles = fileInfo;
      if (info.file.status === 'done') {
        message.success(`${info.file.name} 文件上传成功！`);
      }
    } else if (info.file.status === 'error') {
      message.error(`${info.file.name} 文件上传失败！`);
    }
  };
  //截取等号后的值（接口返回的文件，需要手动处理为需要的格式进行展示）
  const getCaption = (obj) => {
    const index = obj.lastIndexOf('=');
    obj = obj.substring(index + 1, obj.length);
    return obj;
  };
  const beforeUpload = (file: UploadProps['fileList'][number]) => {
    const isLt100M = file.size / 1024 / 1024 < 100;
    if (!isLt100M) {
      message.error('文件最大100M!');
    }
    return isLt100M || Upload.LIST_IGNORE;
  };
  /** 上传文件  结束 **/

  // 查询填报数据
  const queryList = async () => {
    state.loading = true;
    const params = {
      evaluatedOrgCode: props.codeInfo.evaluatedOrgCode,
      monthPeriod: props.codeInfo.monthVal,
      ruleCode: props.codeInfo.ruleCode,
      performanceType: 'PT-202023001',
    };
    const { data } = await queryAdjust(params);
    state.loading = false;
    if (data.success) {
      state.dataSource = data.data?.scoreDataDtos;
      renderModule(data.data);
      state.description = data.data?.inputRemark;
      state.confirmStatus = data.data?.confirmStatus;
    } else {
      message.error(data.message);
    }
  };
  // 渲染数据
  const renderModule = (record) => {
    const attestationFilesArr = record?.attestationFiles;
    state.attestationFiles = attestationFilesArr;
    if (attestationFilesArr && attestationFilesArr.length > 0) {
      state.fileLists = attestationFilesArr.map((item, index) => {
        return {
          uid: index,
          name: item.fileName,
          status: 'done',
          url: `${state.BASE_URL}basic/n/get/file?key=${item.fileAddress}`,
        };
      });
    }
  };

  /** 公共入参 **/
  const commonParams = () => {
    const parDta = state.dataSource.map((item: any) => {
      return {
        fieldName: item.fieldName,
        fieldSourceValue: item.fieldValue,
        columnType: item.fieldType,
      };
    });

    return {
      sourceDataFiledVos: [...parDta],
      period: props.codeInfo.monthVal,
      ruleCode: props.codeInfo.ruleCode,
      approvalType: props.codeInfo.performanceType,
      inputRemark: state.description,
      orgName: props.codeInfo.evaluatedOrgName,
      attestationFiles: state.attestationFiles,
    };
  };
  /** 保存并提交审核，定性填报增加level流转入参 **/
  const submitApproval = async (_e: MouseEvent) => {
    const { data } = await saveAuditInfo(commonParams());
    if (data.success) {
      handleCancel();
      //保存成功，刷新列表
      emits('searchLoad');
      message.success(data.message);
    } else {
      message.error(data.message);
    }
  };
  const handleCancel = () => {
    state.modalVisible = false;
    emits('close');
  };

  watch(
    () => props.isVisible,
    (nV, _oV) => {
      state.modalVisible = nV;
      if (nV) {
        queryList();
      } else {
        state.fileLists = [];
        state.attestationFiles = [];
        state.description = '';
      }
    },
  );
</script>
