<template>
  <div :class="['navList', state.isCollapsed ? 'navList-collapsed' : '']">
    <div
      class="action"
      :style="{ 'justify-content': props.preview ? 'unset !important' : 'space-between' }"
    >
      <a-button
        v-if="state.isCollapsed"
        type="primary"
        @click="
          () => {
            state.isCollapsed = !state.isCollapsed;
          }
        "
        ><MenuUnfoldOutlined v-if="state.isCollapsed" /> <MenuFoldOutlined v-else />
      </a-button>
      <a-button
        v-else
        type="primary"
        @click="
          () => {
            state.isCollapsed = !state.isCollapsed;
          }
        "
        ><MenuUnfoldOutlined v-if="state.isCollapsed" /> <MenuFoldOutlined v-else />
      </a-button>
      <div v-if="props.preview && !state.isCollapsed" style="margin-left: 20px; font-size: 18px"
        >看板过滤条件</div
      >
      <a-button
        v-show="!state.isCollapsed && !props.preview"
        type="primary"
        danger
        @click="saveKanban"
        >保存看板</a-button
      >
      <a-button v-show="!state.isCollapsed && !props.preview" type="primary" @click="empty"
        >清空看板</a-button
      >
      <a-button
        v-show="!state.isCollapsed && !props.preview"
        v-if="$route.query.toPage === 'modal'"
        type="primary"
        @click="() => jumpChart()"
      >
        新建图表
      </a-button>
    </div>
    <div v-if="!state.isCollapsed && !props.preview">
      <a-tabs v-model:activeKey="state.radioValue" :centered="true" size="small">
        <a-tab-pane key="10">
          <template #tab>
            <span>
              <bar-chart-outlined />
              图表库
            </span>
          </template>
        </a-tab-pane>
        <a-tab-pane key="20">
          <template #tab>
            <span>
              <filter-outlined />
              过滤条件
            </span>
          </template>
        </a-tab-pane>
      </a-tabs>
      <!-- <a-radio-group v-model:value="state.radioValue" style="" button-style="solid">
        <a-radio-button value="10">图表库</a-radio-button>
        <a-radio-button value="20">过滤条件</a-radio-button>
      </a-radio-group> -->
    </div>
    <QueryFilterNew
      v-show="!state.isCollapsed && state.radioValue == '20'"
      ref="queryFilterRef"
      class="kanban-class"
      :preview="props.preview"
      @del-condition="search"
      @change-filters="changeFilters"
    ></QueryFilterNew>
    <div
      v-show="!state.isCollapsed && state.radioValue == '20'"
      style="text-align: right; margin-top: 10px"
    >
      <a-button
        v-if="!props.preview"
        style="margin-right: 20px"
        :loading="state.saveSearchLoading"
        type="primary"
        @click="saveSearch"
        >保存查询条件</a-button
      >
      <a-button type="primary" @click="search">查询</a-button>
      <a-button v-if="!props.preview" style="margin-left: 20px" @click="resetvalue">重置</a-button>
      <a-button v-if="props.preview" style="margin-left: 20px" @click="resetvalue">重置</a-button>
    </div>
    <QueryCharts
      v-show="!state.isCollapsed && state.radioValue == '10'"
      @query="queryList"
    ></QueryCharts>
    <DragNav v-show="!state.isCollapsed && state.radioValue == '10'" :list="state.list"></DragNav>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, ref, onMounted, onUnmounted, nextTick } from 'vue';
  import { useRouter, useRoute } from 'vue-router';
  import { uniqBy, differenceBy, cloneDeep } from 'lodash-es';
  import { message as $message } from 'ant-design-vue';
  import QueryCharts from './QueryCharts.vue';
  import DragNav from './DragNav.vue';
  import QueryFilterNew from './components/QueryFilter.vue';
  import { getWidgetList, saveBoard } from '@/api/userAnalyze/kanbanConfig'; // api 接口
  import { kanbanConfigStore } from '@/store/modules/kanbanConfig';
  import Pubs from '@/utils/pubs.js';
  const store = kanbanConfigStore();
  const $router = useRouter();
  const $route = useRoute();
  const queryFilterRef = ref();
  const props = defineProps(['preview', 'boardData']);
  const state = reactive({
    list: [],
    isCollapsed: false,
    radioValue: '10',
    fields: [],
    saveSearchLoading: false,
  });
  const emits = defineEmits(['kanBanFilterSearch', 'kanBanFilterChange']);
  onMounted(() => {
    if (props.preview) {
      state.isCollapsed = true;
      state.radioValue = '20';
    }
  });
  watch(
    () => props?.boardData,
    () => {
      if (props.preview) {
        nextTick(() => {
          const filter = props?.boardData?.layout?.filters;
          if (filter && filter.length > 0) {
            queryFilterRef?.value?.setDefaultFilter(filter);
          }
        });
      }
    },
    { deep: true, immediate: true },
  );
  onUnmounted(() => {
    store.searchConfig = [];
    state.fields = [];
  });
  const queryList = async (widgetName = '') => {
    // 默认进来是自主分析页面
    let params = {
      // status: '10',
      type: '10',
      usePage: false,
      widgetName,
    } as any;
    // 兼容模型列表过来的数据
    if ($route.query.toPage === 'modal') {
      params = { dataModelId: $route.query.id, type: '20', widgetName: '' };
    }
    const data = await getWidgetList(params);
    if (data.code === 'OK') {
      state.list = JSON.parse(JSON.stringify(data.data));
    }
  };
  defineExpose({ queryList });

  const empty = () => {
    store.kanbanData = [];
    store.dimIdMap = [];
    store.updataDataList = [];
    store.dragNavList.forEach((item) => {
      item.disabledFlag = true;
    });
  };
  const saveKanban = () => {
    store.boardData.layout = { ...store.boardData.layout, widgets: store.kanbanData };
    //  兼容模型，如果过来的数据是没有看板的那么创建看板
    if ($route.query.boardId === 'init') {
      store.boardData.boardId = null;
      store.boardData.boardType = '30';
      store.boardData.boardName = $route.query.modelName;
      store.boardData.modelId = $route.query.id;
    }
    saveBoard(store.boardData).then(() => {
      // 保存后返回上一个页面
      // $router.go(-1);
    });
  };
  const jumpChart = (widgetId) => {
    $router.push({
      path: '/userAnalyze/ChartConfigurations',
      query: {
        widgetId: widgetId || 'init',
        toPage: 'modal',
        id: $route.query.id,
        dataSetIds: $route.query.dataSetIds,
      } as any,
    });
  };
  const search = async () => {
    await nextTick();
    const queryFilter = queryFilterRef.value.getFilters();
    if (queryFilter?.find((x) => !x.field)) return $message.warning('请输入过滤条件名称');
    // if (queryFilter?.find((x) => !x.value1)) return $message.warning('请完善过滤条件');
    if (queryFilter?.length > uniqBy(queryFilter, 'field')?.length) {
      const dif = differenceBy(queryFilter, uniqBy(queryFilter, 'field'));
      return $message.warning(`过滤条件名称为(${dif.map((x: any) => x.field)?.join('、')})有重复`);
    }

    if (store.kanbanData && store.kanbanData.length > 0) {
      store.kanbanData.forEach((x) => {
        const index = store.kanbanData.findIndex((y) => y.widgetId == x.widgetId);
        if (store.kanbanData[index].relations.filterLinks) {
          store.kanbanData[index].relations.filterLinks = store.kanbanData[
            index
          ].relations.filterLinks.filter((z) =>
            queryFilter.map((y) => y.field).includes(z.leftSelectedValue),
          );
          if (
            store.kanbanData[index].relations.filterLinks?.find((z) =>
              queryFilter.map((y) => y.field).includes(z.leftSelectedValue),
            )
          ) {
            emits('kanBanFilterSearch', { widgetId: x.widgetId, queryFilter });
          }
        }
      });
    }
  };
  const changeFilters = (queryFilter) => {
    if (store.kanbanData && store.kanbanData.length > 0) {
      store.kanbanData.forEach((x) => {
        const index = store.kanbanData.findIndex((y) => y.widgetId == x.widgetId);
        if (store.kanbanData[index].relations.filterLinks) {
          store.kanbanData[index].relations.filterLinks = store.kanbanData[
            index
          ].relations.filterLinks.filter((z) =>
            queryFilter.map((y) => y.field).includes(z.leftSelectedValue),
          );
        }
      });
    }
    emits('kanBanFilterChange', queryFilter);
  };
  // const reset = () => {
  //   const arr = [
  //     {
  //       field: '',
  //       operatorValue: 'ZLB',
  //       value1: '',
  //       value2: '',
  //       fieldType: '1',
  //     },
  //   ];
  //   queryFilterRef.value.setDefaultFilter(arr);
  //   // queryFilterRef.value.clearConditionResult();
  //   store.searchConfig = [];
  //   if (store.kanbanData && store.kanbanData.length > 0) {
  //     store.kanbanData.forEach((x) => {
  //       if (x?.relations?.filterLinks) {
  //         Pubs.publish(`${x.widgetId}_kanBan_filter_search`, []);
  //       }
  //     });
  //   }
  // };
  const resetvalue = () => {
    const queryFilter = queryFilterRef.value.getFilters();
    queryFilter.forEach((x) => {
      x.value1 = '';
      x.value2 = '';
    });
    queryFilterRef?.value?.setDefaultFilter(queryFilter);
    nextTick(() => {
      if (store.kanbanData && store.kanbanData.length > 0) {
        store.kanbanData.forEach((x) => {
          const index = store.kanbanData.findIndex((y) => y.widgetId == x.widgetId);
          if (
            store.kanbanData[index].relations.filterLinks?.find((z) =>
              queryFilter.map((y) => y.field).includes(z.leftSelectedValue),
            )
          ) {
            emits('kanBanFilterSearch', { widgetId: x.widgetId, queryFilter });
          }
        });
      }
    });
  };
  const saveSearch = () => {
    const queryFilter = queryFilterRef.value.getFilters();
    if (queryFilter?.find((x) => !x.field)) return $message.warning('请输入过滤条件名称');
    if (queryFilter?.length > uniqBy(queryFilter, 'field')?.length) {
      const dif = differenceBy(queryFilter, uniqBy(queryFilter, 'field'));
      return $message.warning(`过滤条件名称为(${dif.map((x: any) => x.field)?.join('、')})有重复`);
    }
    state.saveSearchLoading = true;
    store.boardData.layout = {
      ...store.boardData.layout,
      widgets: store.kanbanData,
      filters: queryFilter,
    };
    //  兼容模型，如果过来的数据是没有看板的那么创建看板
    if ($route.query.boardId === 'init') {
      store.boardData.boardId = null;
      store.boardData.boardType = '30';
      store.boardData.boardName = $route.query.modelName;
      store.boardData.modelId = $route.query.id;
    }
    saveBoard(store.boardData)
      .then(() => {
        // 保存后返回上一个页面
        // $router.go(-1);
      })
      .finally(() => {
        state.saveSearchLoading = false;
      });
  };
  watch(
    () => state.radioValue,
    () => {
      if (state.radioValue == '20') {
        const filter = store?.boardData?.layout?.filters;
        if (filter && filter.length > 0) {
          nextTick(() => {
            queryFilterRef?.value?.setDefaultFilter(filter);
          });
        }
      }
    },
    { deep: true, immediate: true },
  );
  watch(
    () => store?.boardData,
    () => {
      const filter = store?.boardData?.layout?.filters;
      if (filter && filter.length > 0) {
        store.searchConfig = cloneDeep(filter);
      }
    },
    { deep: true, immediate: true },
  );
</script>

<style lang="less" scoped>
  .navList {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition-property: width;
    transition-duration: 0.5s;
    .action {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
    }
    /deep/.rule-item {
      border: 1px solid #e9e9e9;
      flex-flow: row wrap;
      margin-top: 5px;
      .rel-op {
        display: none;
      }
      .rule-item-field {
        margin: 0px 3px 0px 10px;
        width: 54%;
      }
      .rule-item-op {
        width: 27.5%;
        min-width: 84px;
      }
      .rule-item-value {
        width: 85%;
        line-height: 48px;
        margin-left: 20px;
        .ant-picker-range {
          width: 100%;
        }
      }
    }
  }
  .navList-collapsed {
    width: 52px !important;
    min-width: unset !important;
    transition-property: width;
    transition-duration: 0.5s;
  }
  /deep/.con-adder-btn {
    span:nth-child(2) {
      display: none;
    }
  }
</style>
