<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      :title="`${
        state.type === 'add'
          ? '新增'
          : state.type === 'edit'
          ? '编辑'
          : state.type === 'copy'
          ? '复制'
          : ''
      }模型组`"
      width="95%"
      :footer="null"
      destroy-on-close
      @cancel="handleOk"
    >
      <a-spin :spinning="state.spinning">
        <a-form
          ref="auditFormRef"
          :model="state.auditForm"
          :label-col="{ span: 2 }"
          :wrapper-col="{ span: 21 }"
          :rules="state.rules"
          :loading="true"
        >
          <a-form-item label="模型组名称" name="modelGroupName">
            <a-input
              v-model:value="state.auditForm.modelGroupName"
              placeholder="请输入50字符以内,不允许重复"
              type="text"
              :maxlength="50"
            />
          </a-form-item>
          <a-form-item label="模型组字段" name="modelGroupField">
            <a-card style="max-height: 360px; overflow: scroll">
              <!-- 无效:gutter="[0, 10]" -->
              <a-row align="middle">
                <a-col :span="10" class="colCName-add">
                  <a-row align="middle">
                    <a-col :span="4"> 字段中文名: </a-col>
                    <a-col :span="18">
                      <a-input
                        v-model:value="state.auditForm.listArr0.colCName"
                        class="colCName-addinput"
                        placeholder="支持50字以内中文名,不可重复"
                        type="text"
                        :maxlength="50"
                        :disabled="state.type === 'edit'"
                        @change="matchName(state.auditForm.listArr0.colCName)"
                      />
                    </a-col>
                  </a-row>
                </a-col>
                <a-col :span="1" class="colCName-add colCName-addright">
                  <a-button
                    type="primary"
                    size="small"
                    :disabled="state.type === 'edit'"
                    @click="addNodeArr"
                  >
                    <template #icon>
                      <plus-circle-outlined />
                    </template>
                    添加
                  </a-button>
                </a-col>
                <a-col
                  v-for="(item, index) in state.auditForm.listArr"
                  :key="index"
                  :span="11"
                  class="colCName-del"
                >
                  <a-row align="middle" class="mt-10">
                    <a-col :span="22">
                      <a-row align="middle">
                        <a-col :span="4"> 字段中文名: </a-col>
                        <a-col :span="18">
                          <a-input
                            v-model:value="item.colCName"
                            placeholder="支持50字以内中文名,不可重复"
                            type="text"
                            :maxlength="50"
                            :disabled="state.type === 'edit'"
                            @change="matchName(item.colCName)"
                          />
                        </a-col>
                      </a-row>
                    </a-col>
                    <a-col :span="2">
                      <a-button
                        size="small"
                        type="text"
                        :disabled="state.type === 'edit'"
                        @click="delNodeArr(index)"
                      >
                        <template #icon>
                          <MinusCircleOutlined />
                        </template>
                        移除
                      </a-button>
                    </a-col>
                  </a-row>
                </a-col>
              </a-row>
            </a-card>
          </a-form-item>
          <a-form-item label="排序字段">
            <a-select
              v-model:value="state.auditForm.sortColumns"
              placeholder="选择排序字段"
              show-search
              filter-option
              set-fields-value="select"
              field
              :allow-clear="true"
              style="width: 500px"
              @change="
                () => {
                  if (state.auditForm.listArr0.colCName == state.auditForm.sortColumns) {
                    state.auditForm.listArr0['sort'] = '10';
                  } else {
                    delete state.auditForm.listArr0['sort'];
                  }
                  state.auditForm.listArr.forEach((x) => {
                    if (x.colCName == state.auditForm.sortColumns) {
                      x['sort'] = '10';
                    } else {
                      delete x['sort'];
                    }
                  });
                }
              "
            >
              <a-select-option
                v-for="item in state.sortColumns"
                :key="item.colCName"
                :value="item.colCName"
                >{{ item.colCName }}</a-select-option
              >
            </a-select>
          </a-form-item>
          <a-form-item label="选择模型" name="modelList">
            <a-select
              v-model:value="state.auditForm.modelList"
              placeholder="选择模型"
              show-search
              :filter-option="false"
              mode="multiple"
              set-fields-value="select"
              field
              :allow-clear="true"
              style="width: 500px"
              @search="handleModelSearch"
              @deselect="selectedModelClear"
              @change="
                (e) => {
                  state.modelListOrigin
                    .filter((x) => state.auditForm.modelList.includes(x.modelName))
                    ?.map((x) => state.modelListOriginSelected.push(x));
                  addDataSource(e);
                }
              "
            >
              <a-select-option
                v-for="item in state.modelListOrigin"
                :key="item.modelId"
                :value="item.modelName"
                >{{ item.modelName }}</a-select-option
              >
            </a-select>
          </a-form-item>
          <a-form-item name="modelGroupConfig">
            <a-card class="modelGroupConfig">
              <vxe-grid ref="vxeGridRef" v-bind="state.gridOptions">
                <template #concatCols_default="{ row, index }">
                  <a-select
                    v-model:value="row.concatCols"
                    placeholder="请选择"
                    show-search
                    mode="tags"
                    :max-tag-count="1"
                    :max-tag-text-length="1"
                    set-fields-value="select"
                    field
                    @change="
                      (e) => {
                        row.selectedConcatCols = uniqBy(
                          row.modelFields.filter((x) => e.includes(x.colCName)),
                          (item) => item.colName,
                        );
                        if (vxeGridRef.value) {
                          vxeGridRef.value.validate();
                        }
                      }
                    "
                  >
                    <template #dropdownRender="{ menuNode: menu }">
                      <v-nodes :vnodes="menu" />
                      <a-divider style="margin: 4px 0" />
                      <div
                        style="padding: 4px 8px; cursor: pointer"
                        @mousedown="(e) => e.preventDefault()"
                      >
                        <a-button type="link" @click="selectAllFields(row, index)">全选</a-button>
                        <a-button type="link" @click="reverSeclearFields(row, index)"
                          >反选</a-button
                        >
                      </div>
                    </template>
                    <a-select-option
                      v-for="item in row.modelFields"
                      :key="item.colName"
                      :value="item.colCName"
                    >
                      {{ item.colCName }}
                    </a-select-option>
                  </a-select>
                </template>
              </vxe-grid>
            </a-card>
          </a-form-item>
          <a-form-item label="模型组管理员" name="sendTargetUsers">
            <a-select
              v-model:value="state.auditForm.sendTargetUsers"
              placeholder="选择模型管理员"
              show-search
              :filter-option="false"
              set-fields-value="select"
              :allow-clear="true"
              style="width: 500px"
              editable-type="cell"
              @search="handleUserSearch"
              @deselect="selectedUsersClear"
              @change="
                (e) => {
                  state.auditForm.targetUsernames = state.allUsers.find(
                    (x) => x.userId == e,
                  )?.username;
                }
              "
            >
              <a-select-option
                v-for="item in state.allUsers"
                :key="item.userId"
                :field-names="{ label: 'username', value: 'userId' }"
                :value="item.userId"
              >
                <span role="img" class="" :aria-label="item.username">{{ item.username }}</span>
                /
                <span class="select-usercode">{{ item.employeeCode }}</span>
              </a-select-option>
            </a-select>
          </a-form-item>
          <a-form-item label="运行周期" name="cronExpression">
            <CronEditor
              v-model:value.sync="state.auditForm.cronExpression"
              cron-syntax="quartz"
            ></CronEditor>
          </a-form-item>
        </a-form>
        <div class="sub-btn">
          <a-button @click="clearFormFn"> 清空 </a-button>
          <a-button
            style="margin-left: 10px"
            type="primary"
            :loading="state.loading"
            @click="seveFn"
          >
            保存
          </a-button>
        </div>
      </a-spin>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, computed } from 'vue';
  import { debounce, cloneDeep, uniqBy, remove } from 'lodash-es';
  import { message as $message } from 'ant-design-vue';
  import { CronEditor } from '@/components/business';
  import {
    getUsableDataModel,
    saveModelGroup,
    updateModelGroup,
    checkModelGroupName,
  } from '@/api/modelGroup';
  import { getUsersCode } from '@/api/supervisionModel';

  const emits = defineEmits(['ok']);
  const VNodes = (_, { attrs }) => {
    return attrs.vnodes;
  };
  const dialogFormVisible = ref(false);
  const auditFormRef = ref();
  const vxeGridRef = ref();
  const state = reactive({
    loading: false,
    modelListOrigin: [],
    modelListOriginSelected: [],
    cronExpression: '',
    auditForm: {
      modelList: [],
      modelGroupName: '',
      handleRemark: '',
      conditions: [],
      listArr0: {
        colCName: '',
        colName: '',
      },
      listArr: [],
      sendTargetUsers: '',
      cronExpression: '',
      sortColumns: '',
    },
    allUsers: [],
    dataSource: [],
    columns: computed(() => {
      const list: any = [];
      // const { colCName, colName } = state.auditForm.listArr0;
      const { colCName } = state.auditForm.listArr0;
      // if (colCName && colName) {
      if (colCName) {
        list.push({
          title: colCName,
          field: colCName,
          align: 'center',
          width: 200,
          slots: {
            default: ({ row }) => {
              return (
                <a-select
                  v-model:value={row[colCName]}
                  placeholder="请选择"
                  show-search
                  set-fields-value="select"
                  field
                  onChange={() => {
                    if (vxeGridRef.value) {
                      vxeGridRef.value.validate();
                    }
                  }}
                >
                  {row.modelFields.map((item) => {
                    return (
                      <a-select-option key={item.modelId} value={item.colCName}>
                        {item.colCName}
                      </a-select-option>
                    );
                  })}
                </a-select>
              );
            },
          },
        });
      }
      if (state.auditForm.listArr && state.auditForm.listArr.length > 0) {
        state.auditForm.listArr.map((x) => {
          const { colCName } = x;
          if (colCName) {
            list.push({
              title: colCName,
              field: colCName,
              align: 'center',
              width: 200,
              slots: {
                default: ({ row }) => {
                  return (
                    <a-select
                      v-model:value={row[colCName]}
                      placeholder="请选择"
                      show-search
                      set-fields-value="select"
                      field
                      onChange={() => {
                        if (vxeGridRef.value) {
                          vxeGridRef.value.validate();
                        }
                      }}
                    >
                      {row.modelFields.map((item) => {
                        return (
                          <a-select-option key={item.modelId} value={item.colCName}>
                            {item.colCName}
                          </a-select-option>
                        );
                      })}
                    </a-select>
                  );
                },
              },
            });
          }
        });
      }
      list.unshift({
        title: '模型名称',
        field: 'modelName',
        align: 'center',
        width: 200,
        fixed: 'left',
        showOverflow: true,
      });
      list.push({
        title: '模型详情',
        field: 'concatCols',
        align: 'center',
        fixed: 'right',
        width: 200,
        slots: {
          default: 'concatCols_default',
          // default: ({ row }) => {
          //   return (
          //     <a-select
          //       v-model:value={row.concatCols}
          //       placeholder="请选择"
          //       show-search
          //       mode="tags"
          //       maxTagCount={1}
          //       maxTagTextLength={1}
          //       set-fields-value="select"
          //       field
          //       disabled={state.type === 'edit'}
          //       onChange={(e) => {
          //         row.selectedConcatCols = uniqBy(
          //           row.modelFields.filter((x) => e.includes(x.colCName)),
          //           (item: any) => item.colName,
          //         );
          //         if (vxeGridRef.value) {
          //           vxeGridRef.value.validate();
          //         }
          //       }}
          //     >
          //       {row.modelFields.map((item) => {
          //         return (
          //           <a-select-option key={item.colName} value={item.colCName}>
          //             {item.colCName}
          //           </a-select-option>
          //         );
          //       })}
          //     </a-select>
          //   );
          // },
        },
      });
      return list;
    }),
    rules: {
      modelGroupName: [
        {
          required: true,
          validator: async (_rule, value) => {
            if (!value) {
              return Promise.reject('请输入模型组名称');
            }
            let flag = true;
            if (value) {
              const params = { modelName: value };
              if (state.auditForm.id) {
                params['id'] = state.auditForm.id;
              }
              const res = await checkModelGroupName(params);
              flag = res.data;
            }
            if (!flag) {
              return Promise.reject('已存在该模型组名称');
            } else {
              return Promise.resolve();
            }
          },
          trigger: 'blur',
        },
      ],
      modelGroupField: [
        {
          // required: true,
          validator: () => {
            // auditForm.listArr0.colName
            const list = [state.auditForm.listArr0].concat(state.auditForm.listArr);
            // const colNameUniqList = uniqBy(list, 'colName');
            const colCNameUniqList = uniqBy(list, 'colCName');
            // const isEn = list.find((x) => !/^[A-Za-z_]+$/gi.test(x.colName));
            const isZn = list.find((x) => !/^[\u4e00-\u9fa5]+$/.test(x.colCName));
            if (list.find((x) => !x.colCName)) {
              return Promise.reject('请选择模型组字段');
            } else if (list.length !== colCNameUniqList.length) {
              return Promise.reject('字段中文名有重复');
            } else if (isZn) {
              return Promise.reject('字段中文名只能是中文');
            } else {
              return Promise.resolve();
            }
          },
          trigger: 'change',
        },
      ],
      modelList: [{ required: true, message: '请选择模型', trigger: 'change' }],
      sendTargetUsers: [{ required: true, message: '请选择模型组管理员', trigger: 'change' }],
      cronExpression: [{ required: true, message: '请选择运行周期', trigger: 'change' }],
      modelGroupConfig: [
        {
          required: true,
          validator: () => {
            if (state.dataSource.length === 0) {
              return Promise.reject('请选择模型组字段');
            } else {
              return Promise.resolve();
            }
          },
          trigger: 'change',
        },
      ],
    },
    gridOptions: {
      border: true,
      showOverflow: true,
      rowConfig: {
        height: 34,
      },
      // height: 300,
      maxHeight: 500,
      headerRowClassName: 'my-header',
      cellClassName: 'my-cell',
      toolbarConfig: {
        custom: false,
      },
      columns: computed(() => {
        return state.columns;
      }),
      data: computed(() => {
        return state.dataSource;
      }),
      editRules: computed(() => {
        const res = {};
        state.columns.map((x) => {
          res[x.field] = [{ required: true, message: `请选择${x.title}`, trigger: 'change' }];
        });
        return res;
      }),
      editConfig: {
        trigger: 'click',
        mode: 'row',
        showStatus: true,
      },
    },
    type: '',
    oldRecord: {},
    spinning: false,
    sortColumns: computed(() => {
      const arr = cloneDeep(state.auditForm.listArr);
      if (state.auditForm.listArr0.colCName) {
        arr.unshift(state.auditForm.listArr0);
      }
      return arr;
    }),
  });
  // 全选
  const selectAllFields = (row) => {
    row.concatCols = row.modelFields.map((item) => {
      return item.colCName;
    });
    row.selectedConcatCols = row.modelFields.filter((x) => x.colCName);
  };
  // 反选
  const reverSeclearFields = (row) => {
    const list = row.concatCols;
    const arr = row.modelFields.filter((item) => !list.some((ele) => ele === item.colCName));
    row.concatCols = arr.map((item) => {
      return item.colCName;
    });
    row.selectedConcatCols = arr.filter((x) => x.colCName);
    // console.log(arr, row);
  };
  // 获取模型组管理员列表
  const loadUsersByName = debounce(async (val, flag) => {
    state.allUsers = [];
    let _params = {};
    if (flag == 1) {
      _params = {
        username: val,
      };
    } else if (flag == 2) {
      _params = {
        userId: val,
      };
    } else {
      _params = {};
    }
    await getUsersCode(_params).then((r) => {
      if (r.data.code == 'OK') {
        state.allUsers = r.data.data;
      }
    });
  }, 500);

  const handleUserSearch = (val) => {
    loadUsersByName(val, 1);
  };

  const selectedUsersClear = () => {
    loadUsersByName(null, null);
  };

  // 添加模型组字段
  const addNodeArr = () => {
    state.auditForm.listArr.push({
      handleRemark: '',
    });
  };

  // 移除模型组字段
  const delNodeArr = (index) => {
    state.auditForm.listArr.splice(index, 1);
  };

  // 清除
  const clearFormFn = () => {
    state.auditForm = {
      modelList: [],
      modelGroupName: '',
      handleRemark: '',
      conditions: [],
      listArr0: {
        colCName: '',
        colName: '',
      },
      listArr: [],
      sendTargetUsers: '',
      cronExpression: '',
    };
    auditFormRef.value?.clearValidate();
  };

  // 保存、更新、复制
  const seveFn = async () => {
    const errMsg = await vxeGridRef.value.validate(true);
    if (errMsg) {
      const keys = Object.keys(errMsg);
      if (keys && keys.length > 0) {
        vxeGridRef.value.scrollToColumn(keys[0]);
      }
    }
    const valid = await auditFormRef.value.validate();
    if (valid && !errMsg) {
      state.loading = true;
      const tableData = cloneDeep(vxeGridRef.value?.getTableData()?.tableData);
      const formData = cloneDeep(state.auditForm);
      const list = [formData.listArr0]?.concat(formData.listArr ?? []);
      const addParams = {};
      const updateParams = {};
      addParams['cronExpression'] = formData.cronExpression;
      addParams['modelGroupName'] = formData.modelGroupName;
      addParams['sendTargetUsers'] = formData.sendTargetUsers;
      addParams['targetUsernames'] = formData.targetUsernames;
      addParams['modelNames'] = tableData.map((x) => x.modelName)?.join();
      addParams['modelGroupConfig'] = tableData.map((x) => {
        const item = {
          modelName: x.modelName,
          modelId: x.modelId,
          hudiTableName: x.hudiTableName,
          concatCols: x.selectedConcatCols,
          colsMapping: list.map((y) => {
            return {
              groupColName: y.colName,
              groupColCName: y.colCName,
              colName: x.modelFields.find((z) => z.colCName == x[y.colCName])?.colName,
              colCName: x[y.colCName],
              colType: x.modelFields.find((z) => z.colCName == x[y.colCName])?.colType,
            };
          }),
        };

        return item;
      });
      addParams['modelGroupField'] = list;

      if (state.type === 'edit') {
        const formData = cloneDeep(state.auditForm);
        const list = [formData.listArr0]?.concat(formData.listArr ?? []);
        updateParams['id'] = state.auditForm.id;
        updateParams['modelGroupCode'] = state.auditForm.modelGroupCode;
        if (state.oldRecord.cronExpression !== state.auditForm.cronExpression) {
          updateParams['cronExpression'] = state.auditForm.cronExpression;
        }
        if (state.oldRecord.modelGroupName !== state.auditForm.modelGroupName) {
          updateParams['modelGroupName'] = state.auditForm.modelGroupName;
        }
        if (state.oldRecord.sendTargetUsers != state.auditForm.sendTargetUsers) {
          updateParams['sendTargetUsers'] = state.auditForm.sendTargetUsers;
        }
        if (state.oldRecord.targetUsernames !== state.auditForm.targetUsernames) {
          updateParams['targetUsernames'] = state.auditForm.targetUsernames;
        }
        updateParams['modelNames'] = tableData.map((x) => x.modelName)?.join();
        updateParams['modelGroupConfig'] = tableData.map((x) => {
          const item = {
            modelName: x.modelName,
            modelId: x.modelId,
            hudiTableName: x.hudiTableName,
            concatCols: x.selectedConcatCols,
            colsMapping: list.map((y) => {
              return {
                groupColName: y.colName,
                groupColCName: y.colCName,
                colName: x.modelFields.find((z) => z.colCName == x[y.colCName])?.colName,
                colCName: x[y.colCName],
                colType: x.modelFields.find((z) => z.colCName == x[y.colCName])?.colType,
              };
            }),
          };

          return item;
        });
        updateParams['modelGroupField'] = list;
      }

      const { code, success, message } = ['edit'].includes(state.type)
        ? await updateModelGroup(updateParams).finally(() => {
            state.loading = false;
          })
        : ['add', 'copy'].includes(state.type)
        ? await saveModelGroup(addParams).finally(() => {
            state.loading = false;
          })
        : { code: '', success: false, message: '无该方法' };
      if (code === 'OK' && success) {
        $message.success(
          `${
            state.type === 'add'
              ? '新增'
              : state.type === 'edit'
              ? '编辑'
              : state.type === 'copy'
              ? '复制'
              : ''
          }模型组成功`,
        );
        handleOk();
      } else {
        $message.error(
          message ||
            `${
              state.type === 'add'
                ? '新增'
                : state.type === 'edit'
                ? '编辑'
                : state.type === 'copy'
                ? '复制'
                : ''
            }模型组失败`,
        );
      }
    }
  };

  const getUsableDataModelLocal = debounce(async (val) => {
    const { code, success, data, message } = await getUsableDataModel({
      modelName: val,
      pageNum: 1,
      pageSize: 50,
    });
    if (code === 'OK' && success) {
      state.modelListOrigin = data ?? [];
    } else {
      $message.error(message || '查询模型失败');
    }
  }, 500);

  const handleModelSearch = (val) => {
    getUsableDataModelLocal(val);
  };

  const selectedModelClear = () => {
    getUsableDataModelLocal('');
  };

  // 初始化弹窗
  const onChangeVisable = async (item, type) => {
    dialogFormVisible.value = true;
    state.spinning = true;
    state.type = type;

    // 查询模型列表
    const { code, success, data, message } = await getUsableDataModel({
      modelName: '',
      pageNum: 1,
      pageSize: 50,
    });
    if (code === 'OK' && success) {
      state.modelListOrigin = data ?? [];
      state.modelListOriginSelected = data ?? [];
    } else {
      $message.error(message || '查询模型失败');
    }
    if (item) {
      const modelNames = item.modelNames.split(',');
      for (const name of modelNames) {
        // 查询模型列表
        const { code, success, data, message } = await getUsableDataModel({
          modelName: name,
          pageNum: 1,
          pageSize: 50,
        });
        if (code === 'OK' && success) {
          if (data && data[0]) {
            if (!state.modelListOrigin.find((x) => x.modelName == name)) {
              state.modelListOrigin.unshift({
                ...data[0],
              });
            }
            if (!state.modelListOriginSelected.find((x) => x.modelName == name)) {
              state.modelListOriginSelected.unshift({
                ...data[0],
              });
            }
          } else {
            state.modelListOrigin.unshift({
              modelId: name,
              modelName: name,
            });
            state.modelListOriginSelected.unshift({
              modelId: name,
              modelName: name,
            });
          }
        } else {
          $message.error(message || '查询模型失败');
        }
      }
    }
    // 查询模型组管理员
    await loadUsersByName(item ? item.targetUsernames : state.auditForm.sendTargetUsers, 1);

    if (item) {
      // 复制、编辑赋值
      state.oldRecord = cloneDeep(item);
      const record = cloneDeep(item);
      const fields = JSON.parse(record.modelGroupField ?? '[]');
      state.auditForm = {
        ...record,
        sendTargetUsers: Number(record.sendTargetUsers),
        modelList: state.modelListOriginSelected
          ?.filter((x) => record?.modelNames?.split(',')?.includes(x?.modelName))
          ?.map((x) => x?.modelName),
        modelGroupConfig: JSON.parse(record.modelGroupConfig ?? '[]'),
        listArr0: fields && fields.length > 0 ? fields[0] : { colName: '', colCName: '' },
        listArr: fields && fields.length > 0 ? fields.slice(1, fields.length) : [],
      };
      state.auditForm.sortColumns = fields.find((x) => x.sort == '10')?.colCName;
      state.dataSource = state.auditForm.modelList.map((x) => {
        const model = state.modelListOriginSelected.find((z) => z.modelName == x);
        const params = {
          modelName: x,
          modelId: model.modelId || '',
          modelFields: model.modelFields || [],
          hudiTableName: model?.hudiTableName || '',
          concatCols: [],
          selectedConcatCols: [],
        };
        if (state.auditForm.modelGroupConfig && state.auditForm.modelGroupConfig.length > 0) {
          state.auditForm.modelGroupConfig.map((y) => {
            if (x == y.modelName) {
              params.concatCols = y.concatCols.map((z) => z.colCName);
              params.selectedConcatCols = y.concatCols;
              y.colsMapping.map((z) => {
                params[z.groupColCName] = z.colCName;
              });
            }
          });
        }
        return params;
      });
      // addDataSource(state.auditForm.modelList);
    }
    state.spinning = false;
  };
  const handleOk = () => {
    emits('ok');
    dialogFormVisible.value = false;
  };

  const addDataSource = (e) => {
    let res: any = [];
    state.auditForm.modelList.map((x) => {
      const detail = state.modelListOriginSelected.find((y) => y.modelName == x);
      res.push({
        modelName: detail.modelName,
        modelId: detail.modelId,
        modelFields: detail.modelFields,
        hudiTableName: detail.hudiTableName,
      });
    });
    const { colCName } = state.auditForm.listArr0;
    if (colCName) {
      res = res.map((x) => {
        const has = x.modelFields.find((y) => y.colCName == colCName);
        if (has) {
          x[colCName] = colCName;
        } else {
          x[colCName] = '';
        }
        return x;
      });
    }
    if (state.auditForm.listArr && state.auditForm.listArr.length > 0) {
      state.auditForm.listArr.map((x) => {
        const { colCName } = x;
        if (colCName) {
          res = res.map((y) => {
            const has = y.modelFields.find((z) => z.colCName == colCName);
            if (has) {
              y[colCName] = colCName;
            } else {
              y[colCName] = '';
            }
            return y;
          });
        }
      });
    }
    if (state.auditForm.modelGroupConfig && state.auditForm.modelGroupConfig.length > 0) {
      res = res.map((x) => {
        state.auditForm.modelGroupConfig.map((y) => {
          if (x.modelName == y.modelName) {
            x.concatCols = y.concatCols.map((z) => z.colCName);
            x.selectedConcatCols = y.concatCols;
            y.colsMapping.map((z) => {
              x[z.groupColName] = z.colCName;
            });
          }
        });
        return x;
      });
    }
    if (state.dataSource.length > e.length) {
      // 如果有删除的就删除
      const delNames: Array<any> = [];
      state.dataSource.forEach((x) => {
        if (!e.includes(x.modelName)) {
          delNames.push(x.modelName);
        }
      });
      if (delNames.length > 0) {
        state.dataSource = remove(state.dataSource, (x: any) => {
          return !delNames.includes(x.modelName);
        });
      }
    } else if (state.dataSource.length < e.length) {
      // 如果有新增的就新增
      state.dataSource.push(res[res.length - 1]);
    }
  };
  const matchName = (name) => {
    // 更新
    state.dataSource = state.dataSource.map((x) => {
      const has = x.modelFields.find((y) => y.colCName == name);
      if (has) {
        x[name] = name;
      } else {
        x[name] = '';
      }
      return x;
    });
  };
  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .add-conditions {
    text-align: right;
    margin-bottom: 15px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .sub-btn {
    margin-left: 45%;
    margin-top: 20px;
  }
  /deep/.vxe-body--row {
    .ant-select-selection-overflow-item:first-child {
      width: 90px;
    }
  }
  /deep/.vxe-table--render-default .vxe-body--column.col--valid-error .vxe-cell--valid {
    width: 180px;
    position: unset;
    bottom: calc(100% + 4px);
    left: 50%;
    transform: translateX(5%);
    text-align: left;
    pointer-events: none;
    background: unset;
    z-index: 4;
  }
  /deep/.vxe-table--render-default
    .vxe-body--column.col--valid-error
    .vxe-cell--valid
    .vxe-cell--valid-msg {
    display: inline-block;
    border-radius: unset;
    padding: unset;
    color: #f56c6c;
    background-color: unset;
    pointer-events: auto;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  /deep/.vxe-table--ignore-clear .vxe-select--panel .size--small {
    z-index: 9999999999999 !important;
  }
  /deep/.col--valid-error {
    .ant-select-selector {
      border: 1px solid #f56c6c;
    }
    // width: 800px;
  }
  /deep/.vxe-table--fixed-left-wrapper {
    z-index: 2 !important;
    height: calc(100% - 7px) !important;
  }
  /deep/.vxe-table--fixed-right-wrapper {
    z-index: 2 !important;
    height: calc(100% - 7px) !important;
  }

  .modelGroupConfig {
    margin-left: 9.5%;
  }
  .colCName-del {
    margin-right: 20px;
  }
  .colCName-add {
    margin-top: 10px;
  }
  .colCName-addright {
    margin-right: 1.5%;
  }
  .colCName-addinput {
    width: 101%;
  }
</style>
