<template>
  <div>
    <a-modal
      v-model:visible="state.modalVisible"
      title="下载范围选择"
      :mask-closable="false"
      width="800px"
      :confirm-loading="state.confirmLoading"
      :z-index="1005"
      @ok="handleOk"
      @cancel="cancel"
    >
      <a-radio-group v-model:value="state.selectDownRadio">
        <a-radio :value="1" :style="state.radioStyle"> 全部 </a-radio>
        <div>
          <!-- <a-radio :value="2" :style="state.radioStyle"> 已筛选的数据</a-radio> -->
        </div>
        <a-radio :value="3" :style="state.radioStyle">自定义筛选</a-radio>
      </a-radio-group>
      <div style="position: relative; top: -15px; left: 20px">
        <QueryFilter
          ref="conditionFilter"
          :visible="true"
          :field-list="props.fieldList"
          :isadd-condition-group="false"
          :class="'showheigh'"
          @change="onConditionChange"
        ></QueryFilter>
      </div>
      <div class="tips">
        注：点击确定到文件下载中心查看文件；<br />
        因下载的文件表字段受到数据权限控制，每个人生成的文件数据会有差异
      </div>
    </a-modal>
    <a-modal v-model:visible="state.downloadVisible" :z-index="1010" :title="null" :footer="null">
      <p>点击确定到数据中心下载文件</p>
      <a-button style="margin-left: 85%" type="primary" @click="handleOkTip"> 确定 </a-button>
    </a-modal>
  </div>
</template>
<script setup lang="ts">
  import { reactive, watch, ref } from 'vue';
  import { useRouter } from 'vue-router';
  import { message as $message } from 'ant-design-vue';
  import { QueryFilter } from '@/components/business';
  import { getModelGroupSqlApi, postHdfs } from '@/api/supervisionModel';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  const emits = defineEmits(['close']);
  const props = defineProps({
    visible: { type: Boolean, default: () => false },
    dataModelId: { type: Number, default: () => null },
    modelName: { type: String, default: () => '' },
    fieldList: { type: Array, default: () => [] },
  });
  const conditionFilter = ref();
  const state = reactive({
    confirmLoading: false,
    modalVisible: false,
    downloadVisible: false,
    selectDownRadio: 1,
    fields: [],
    modelConfig: [],
    filters: [],
    ModelConfigfilters: [],
    radioStyle: {
      display: 'inline-block',
      height: '45px',
      lineHeight: '30px',
    },
  });
  watch(
    () => props.visible,
    (val) => {
      if (val) {
        state.modalVisible = val;
        state.ModelConfigfilters = JSON.parse(localStorage.getItem('listFilters')) || [];
      }
    },
    {
      deep: true,
    },
  );

  const searchSqlFn = () => {
    if (state.selectDownRadio == 3 && state.filters.length == 0) {
      $message.warning('请选择条件再点击下载');
      return false;
    }
    // if (state.filters.length == 0) {
    //   $message.warning('请选择条件再点击下载');
    //   return false;
    // }
    const params = {
      connectedTable: true, //表示是监督执纪需要多表联查
      pageSize: null,
      pageNum: null,
      dataModelId: props.dataModelId,
      filters: state.selectDownRadio == 3 ? state.filters : state.ModelConfigfilters,
      // filters: state.filters,
    };
    state.confirmLoading = true;
    getModelGroupSqlApi(params).then((r) => {
      if (r.data.code == 'OK') {
        const Sql = r.data.data;
        const parms = {
          fileName: props.modelName,
          querySql: Sql,
          applicationId: props.dataModelId,
        };
        postHdfs(parms).then((res) => {
          state.confirmLoading = false;
          if (res.data.code == 'OK' && res.data.success == true) {
            state.downloadVisible = true;
          } else {
            $message.error(res.data.message);
          }
        });
      } else {
        state.confirmLoading = false;
        $message.error(r.data.message);
      }
    });
  };
  // 确认
  const handleOk = async () => {
    searchSqlFn();
  };
  const router = useRouter();
  const handleOkTip = () => {
    state.downloadVisible = state.confirmLoading = false;
    state.modalVisible = false;
    emits('close', 'link');

    setTimeout(() => {
      router.push({
        path: '/dataAdministration/downloadcenter/DownloadCenter',
      });
    }, 200);
  };
  // 关闭
  const cancel = () => {
    state.modalVisible = false;
    emits('close');
  };

  const onConditionChange = () => {
    const filters = conditionFilter.value.getConditionResult();
    const filtersMap = FilterData(filters);
    state.filters = QueryFieldConvert.setConditionValue(filtersMap)[0] || [];
    // console.log('组装的数据', filters, state.filters);
  };
  const FilterData = (arr) => {
    const filters1 = JSON.parse(JSON.stringify(arr));
    const filters = [];
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [];
        item.forEach((v) => {
          let obj = {};
          let val = [];
          // 查询条件子集转化
          if (v.dictCode && v.value1) {
            val = v.value1;
            v.columnType = 1;
          }
          if (v.value1 && v.columnType == 3) {
            v.value1 = dayjs(v.value1).format(dateFormat);
          }
          if (v.value2 && v.columnType == 3) {
            v.value2 = dayjs(v.value2).format(dateFormat);
          }
          if (v.value1 && v.dictCode == null) {
            if (v.columnType == 1) {
              val = v.value1;
            } else {
              val.push(v.value1);
            }
          }
          if (v.value2) {
            val.push(v.value2);
          }
          obj = {
            columnName: v.field,
            filterType: v.operatorValue,
            columnType: v.columnType,
            values: val,
            queryType: v.queryType,
          };
          list.push(obj);
        });
        filters.push(list);
      });
    }
    return filters;
  };
</script>
<style lang="less" scoped>
  .showheigh {
    height: 0px !important;
  }
  .tips {
    color: #999;
    padding-left: 30px;
  }
</style>
