<template>
  <div>
    <a-modal
      v-model:visible="state.modalVisible"
      title="确认推送范围选择 "
      :mask-closable="false"
      width="800px"
      :confirm-loading="state.confirmLoading"
      :z-index="1005"
      @ok="handleOk"
      @cancel="cancel"
    >
      <a-radio-group v-model:value="state.selectDownRadio">
        <a-radio :value="1" :style="state.radioStyle" :disabled="selectTotal == 0">
          按勾选：<h2 class="tip">{{ selectTotal }}</h2> 条
          <div class="tips"> 按照勾选的待办进行推送 </div></a-radio
        >
        <div>
          <a-radio :value="2" :style="state.radioStyle">
            按已筛选的数据：<h2 class="tip">{{ total }}</h2> 条<br />
            <div class="tips">
              按照列表当前查询条件查询的结果进行推送,<br />
              未加筛选条件时是全部数据
            </div>
          </a-radio>
        </div>
      </a-radio-group>
      <template #footer>
        <a-button key="back" @click="cancel">取消</a-button>
        <a-button key="submit" type="primary" :loading="state.confirmLoading" @click="handleOk"
          >推送</a-button
        >
      </template>
    </a-modal>
  </div>
</template>
<script setup lang="ts">
  import { reactive, watch } from 'vue';
  import { message, Modal } from 'ant-design-vue';
  import { BatchPush } from '@/api/supervisionModel';
  const emits = defineEmits(['close']);
  const props = defineProps({
    visible: { type: Boolean, default: () => false },
    total: { type: Number, default: () => 0 },
    selectTotal: { type: Number, default: () => 0 },
    dataModelId: { type: Number, default: () => null },
    recordKeys: { type: Array, default: () => [] },
  });
  const state = reactive({
    confirmLoading: false,
    modalVisible: false,
    selectDownRadio: 1,
    radioStyle: {
      display: 'inline-block',
      height: '40px',
      lineHeight: '20px',
    },
  });
  watch(
    () => props.visible,
    (val) => {
      if (val) {
        state.modalVisible = val;
        if (props.selectTotal == 0) {
          state.selectDownRadio = 2;
        }
      }
    },
    {
      deep: true,
    },
  );

  const filtersPushFn = () => {
    let _filter = null;
    if (state.selectDownRadio == 1) {
      _filter = [
        {
          columnName: '_hoodie_record_key',
          filterType: '=',
          columnType: '1',
          values: props.recordKeys,
        },
      ];
    } else if (state.selectDownRadio == 2) {
      _filter = JSON.parse(localStorage.getItem('listFilters')) || [];
    }
    const _params = {
      filters: _filter,
      modelId: props.dataModelId,
    };
    state.confirmLoading = true;
    BatchPush(_params)
      .then((res) => {
        state.confirmLoading = false;
        if (res.code === 'OK') {
          let secondsToGo = 4;
          const modal = Modal.info({
            title: '提示',
            content: `推送任务后台处理中，稍后可刷新进行查看~`,
            mask: false,
          });
          const interval = setInterval(() => {
            secondsToGo -= 1;
          }, 1000);
          setTimeout(() => {
            clearInterval(interval);
            modal.destroy();
          }, secondsToGo * 1000);
          state.modalVisible = false;
          state.selectDownRadio = 1;
          emits('close', 'successPush');
        } else {
          message.error('推送失败，请稍后重试！');
        }
      })
      .catch(() => {
        state.confirmLoading = false;
      });
  };
  // 确认
  const handleOk = () => {
    filtersPushFn(); //推送
  };

  // 关闭
  const cancel = () => {
    state.modalVisible = false;
    state.selectDownRadio = 1;
    emits('close', '');
  };
</script>
<style lang="less" scoped>
  .showheigh {
    height: 0px !important;
  }
  .tips {
    color: #999;
    padding-left: 30px;
  }
  .tip {
    color: #ff4d4f;
    display: inline;
    font-weight: 700;
  }
</style>
