<template>
  <Popover placement="bottomRight" :overlay-style="{ width: '20%' }">
    <template #content>
      <div class="infoContent">
        <p @click="goInfoDetails">查看全部 >></p>
      </div>
    </template>
    <template #title>
      <Tabs default-active-key="1" @change="callback">
        <Tabs.TabPane key="1">
          <template #tab>
            <span> 新增疑点业务 </span>
            <span v-if="state.countX > 0">({{ state.countX }})</span>
          </template>
          <Table
            :columns="state.columns"
            :data-source="state.dataSource"
            size="small"
            :pagination="false"
            :scroll="{ y: 200 }"
          >
            <template #bodyCell="{ column, record }">
              <span
                v-if="column.dataIndex === 'title'"
                class="titles"
                @click="handleClickRow(record)"
                >{{ record.title }}</span
              >
            </template>
          </Table>
        </Tabs.TabPane>
      </Tabs>
    </template>
    <template v-if="state.countX > 0"
      ><Badge dot> <BellOutlined /></Badge
    ></template>
    <template v-else>
      <BellOutlined />
    </template>
  </Popover>
</template>

<script lang="ts" setup>
  import { nextTick, onMounted, reactive } from 'vue';
  import { useRouter } from 'vue-router';
  import { BellOutlined } from '@ant-design/icons-vue';
  import { Popover, Tabs, Table, Badge } from 'ant-design-vue';
  import { getUnreadPrompt, updateNotifyStatus } from '@/api/supervisionGovern';
  defineOptions({
    name: 'Notice',
  });
  const router = useRouter();
  const state = reactive<any>({
    columns: [
      {
        colSpan: 0,
        dataIndex: 'title',
        width: 100,
      },
      {
        dataIndex: 'createTime',
        colSpan: 0,
        width: 100,
      },
    ],
    dataSource: [],
    countX: 0,
    visible: false,
  });

  const callback = (key) => {
    if (key === '1') {
      getNotReadC();
    }
  };

  const goInfoDetails = () => {
    // router.push('/SupervisionGovern/infoAll/InfoAll');
    router.push('/SupervisionGovern/InfoAll');
  };
  // 获取未读线索消息
  const getNotReadC = async () => {
    const params = {
      bell: 'C',
    };
    const res = await getUnreadPrompt({ ...params });
    if (res.code === 'OK') {
      const data = res.data;
      state.dataSource = data.list;
      nextTick(() => {
        state.countX = data.count;
      });
    }
  };

  const handleClickRow = (record) => {
    if (state.countX > 0) {
      state.countX--;
    }
    getNotifyStatus(record);
    const records = record.clueJumpObj;
    router.push({ path: '/SupervisionGovern/modelresult', query: records });
  };
  //通知消息已读未读
  const getNotifyStatus = (record) => {
    const params = {
      id: record.id,
      notifyNum: 'one',
    };
    updateNotifyStatus(params);
  };

  onMounted(() => {
    getNotReadC();
  });
</script>

<style scoped lang="less">
  .ant-popover-title .info-title {
    display: flex;
    padding: 0px 20px 0px 20px;
    cursor: pointer; //鼠标变手

    p {
      width: 33.33%;
    }
  }

  .infoContent {
    display: flex;
    justify-content: flex-end;
  }
  .titles {
    color: #409eff;
  }

  .infoContent p:hover {
    cursor: pointer; //鼠标变手
    color: #409eff; //链接变颜色
  }

  .push-info {
    font-size: 24px;
    vertical-align: middle;
  }

  /deep/.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    cursor: pointer !important; //鼠标变手
  }

  //调整body行属性
  /deep/ .ant-table-tbody > tr > td {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
  }

  a {
    color: #000;
    outline: none;
    text-decoration: none;
  }

  .ant-badge {
    color: unset;
  }
</style>
