<template>
  <div>
    <a-modal
      v-model:visible="infovisible"
      destroy-on-close
      width="90%"
      :footer="null"
      @ok="handleOk"
      @cancel="handleOk"
    >
      <!-- 待办关键信息 -->
      <span class="descriptions-title">关键信息</span>
      <a-divider style="margin: 10px 0" />
      <a-card :bordered="false" style="width: 100%">
        <key-information :key-data="state.keyData"></key-information>
      </a-card>
      <!-- 待办处理 -->
      <span class="descriptions-title">待办处理</span>
      <a-divider style="margin: 10px 0" />
      <a-card :bordered="false" style="width: 100%">
        <!-- 第一道防线处理 -->
        <firstProcess
          v-if="state.lineOfDefenseTypeFlag === '1'"
          ref="leadPushModelRef"
          @handle-ok="handleOk"
          @search="handleOk"
        ></firstProcess>
        <!-- 第二道防线 -->
        <secondProcess
          v-if="state.lineOfDefenseTypeFlag === '2'"
          ref="leadPushModelRef"
          @search="handleOk"
        >
        </secondProcess>
        <!-- 第三道防线 -->
        <thirdProcess
          v-if="state.lineOfDefenseTypeFlag === '3'"
          ref="leadPushModelRef"
          @search="handleOk"
        >
        </thirdProcess>
      </a-card>
      <!--  待办信息-->
      <span class="descriptions-title">待办信息</span>
      <a-divider style="margin: 10px 0" />
      <a-card :bordered="false" :loading="state.loading" style="width: 100%" class="info">
        <!-- 空状态 -->
        <a-empty v-if="state.cluesInformation.length == 0" />
        <a-descriptions :column="3" style="overflow: hidden; overflow-y: scroll; max-height: 200px">
          <a-descriptions-item
            v-for="item in state.cluesInformation"
            :key="item.index"
            :label="item.columnCname"
          >
            <span class="info-text" :title="item.columnValue"> {{ item.columnValue }}</span>
          </a-descriptions-item>
        </a-descriptions>
      </a-card>
      <!-- 模型信息 -->
      <a-collapse
        v-model:activeKey="activeKey"
        expand-icon-position="left"
        :bordered="false"
        default-active-key="1"
        ghost
      >
        <span class="descriptions-title">模型信息</span>
        <a-divider style="margin: 10px 0" />
        <template #expandIcon="{ isActive }">
          <double-right-outlined class="iconActive" :rotate="!isActive ? 0 : 90" />
        </template>
        <!-- 合并 -->
        <a-collapse-panel key="1" :style="'border: 0;margin-top: -50px'">
          <!-- <a-card :bordered="false" :loading="state.modelloading" style="width: 100%"> -->
          <basic-news :model-data="state.modelData"></basic-news>
          <!-- </a-card> -->
        </a-collapse-panel>
      </a-collapse>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance, nextTick } from 'vue';
  import { message } from 'ant-design-vue';

  import { keyInformation, thirdProcess, basicNews, firstProcess, secondProcess } from './index';
  import 'ant-design-vue/lib/button/style';
  import { getTodoHistory, getDetailById, getDatamodel } from '@/api/supervisionGovern';
  const { proxy } = getCurrentInstance();
  const infovisible = ref(false);
  const leadPushModelRef = ref();
  const activeKey = ref(['1']);
  const emit = defineEmits(['search']);
  const state = reactive({
    lineOfDefenseTypeFlag: null,
    modelData: {},
    cluesInformation: [],
    cueProcessingparameters: {}, // 线索处理参数
    modelInformation: {},
    loading: false,
    modelloading: false,
    id: '',
    clueName: '',
    customStyle: 'border: 0',
    modelList: false,
    roleId: [],
    bouncedShow: false,
    beforeUser: '',
    status: '',
    sid: '',
    keyData: {}, //关键信息
    todoLinkCode: '00',
    temporaryFlag: 1, //暂存标识
    temporaryData: '', //暂存的待办信息
  });
  const details = (scope) => {
    // console.log('scope', scope);
    state.beforeUser = scope.beforeUser;
    state.status = scope.auditStatus;
    state.id = scope.modelId;
    state.sid = scope.id; //待办编号
    state.clueName = scope.recordKey;
    cluesinformation(); //待办信息
    information(); //获取模型信息

    getKeyinfoFn(); //获取关键信息
    state.temporaryFlag = scope.temporaryFlag;
    state.temporaryData = scope.temporaryData;
    state.todoLinkCode = scope.todoLinkCode; //待办关键信息-处理建议是否显示+只有检查人员显示处理建议
    state.bouncedShow = true; //显示待办处理
    if (scope.lineOfDefenseType) {
      state.lineOfDefenseTypeFlag = scope.lineOfDefenseType;
    } else {
      //老数据则走第三道防线
      state.lineOfDefenseTypeFlag = '3';
    }
    nextTick(() => {
      leadPushModelRef.value.processHandle(scope);
    });
  };
  const getKeyinfoFn = () => {
    const params = {
      id: state.id,
      sid: state.sid,
    };
    getTodoHistory(params).then((res) => {
      state.keyData = {}; //可能会有为null的数据
      if (res.data.code == 'OK') {
        if (res.data.data != null) {
          state.keyData = res.data.data;
        }
      }
    });
  };
  const information = () => {
    state.modelloading = true;
    const id = state.id;

    const _params = {
      filters: [
        {
          columnName: 'id',
          filterType: '=',
          values: [id],
        },
      ],
    };
    getDatamodel(_params).then((r) => {
      if (r.data.code == 'OK') {
        state.modelloading = false;
        if (r.data.data) {
          const modelData = r.data.data[0];
          const modelType = {
            static: '静态',
            dynamic: '动态',
            algorithm: '算法',
          };
          modelData.modelType = modelType[modelData.modelType];
          // 判断模上线状态
          const onlineStatus = {
            '1': '已上线',
            '0': '已下线',
            '-1': '待上线',
          };
          modelData.onlineStatus = onlineStatus[modelData.onlineStatus];

          // 判断运行状态
          const runStatus = {
            '0': '未运行',
            '1': '运行中',
            '6': '失败',
            '7': '成功',
          };
          modelData.runStatus = runStatus[modelData.runStatus];

          // 数据集分割
          if (modelData.datatableNames) {
            modelData.datatableNames = modelData.datatableNames.join('、');
          }
          // 业务用途
          if (modelData.businessPurpose) {
            modelData.businessPurpose = proxy.$dict.getItemText(
              'businessPurpose',
              modelData.businessPurpose,
            );
          }
          // 业务系统 监督领域
          if (modelData.bizSystem) {
            modelData.bizSystem = proxy.$dict.getItemText('bizSystem', modelData.bizSystem);
          }
          // 调度周期-去掉了
          // if (modelData.bizSystem) {
          //   modelData.dispatchingCycle = proxy.$dict.getItemText(
          //     'dispatchingCycle',
          //     modelData.dispatchingCycle,
          //   );
          // }

          // 监督业务对象值集转换
          if (modelData.businessObjs) {
            const result = modelData.businessObjs.replace(/\[|]/g, '');
            const results = result.split(',');
            const test = [];
            results.forEach((x) => {
              const temp = proxy.$dict.getItemText('businessObject', x);
              test.push(temp);
            });
            modelData.businessObjsStr = test.join(' ');
          }
          // 业务环节
          if (modelData.bizIds) {
            const result = modelData.bizIds.split(',');
            const test = [];
            result.forEach((x) => {
              const temp = proxy.$dict.getItemText('bizIds', x);
              test.push(temp);
            });
            modelData.bizIds = test.join('  ');
          }
          state.modelData = modelData;
        } else {
          state.modelData = {};
        }
      } else {
        state.modelloading = true;
        message.error(r.data.message);
      }
    });
  };
  const cluesinformation = () => {
    state.loading = true;
    const clueName = state.clueName;
    const params = {
      dataModelId: state.id,
      pageNum: 1,
      pageSize: 1,
      total: 1,
      queryHistoryTime: 0,
      connectedTable: true,
      connectedTableType: 1,
      filters: [
        {
          columnName: '_hoodie_record_key',
          filterType: '=',
          values: [clueName],
        },
      ],
    };
    getDetailById(params).then((r) => {
      if (r.data.success === true) {
        state.loading = false;
        const modelList = r.data.data.modelsDetailHeads;
        // state.modelInformation = r.data.data.modelList[0]
        if (r.data.data.modelList.length > 0) {
          const modelInfo = r.data.data.modelList[0];
          const index = modelList.findIndex((x) => x.columnName === '_hoodie_commit_seqno');
          if (index > -1) {
            const temps = modelList.slice(0, index);
            state.cluesInformation = temps;
          }
          state.cluesInformation.map((item) => {
            item.columnValue = modelInfo[item.columnName];
            return item;
          });
        }
      } else {
        state.modelList = true;
        state.loading = true;
        message.error(r.data.message);
      }
    });
  };
  const onChangeVisable = () => {
    infovisible.value = true;
  };

  const handleOk = () => {
    infovisible.value = false;
    emit('search');
  };
  defineExpose({ onChangeVisable, details });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 16px;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
  .iconActive {
    position: relative !important;
    left: 55px !important;
    top: -5px !important;
    font-size: 16px !important;
    color: rgb(24, 144, 255);
  }
  .info-text {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
