<template>
  <div>
    <DraggableModal
      v-model:visible="myVisible"
      title="审核"
      :width="500"
      :footer="null"
      destroy-on-close
      @cancel="cancelUpdate"
    >
      <a-form
        :model="formState"
        name="basic"
        :label-col="{ span: 6 }"
        :wrapper-col="{ span: 16 }"
        autocomplete="off"
        @finish="onFinish"
        @finish-failed="onFinishFailed"
      >
        <a-form-item label="指标项"> {{ state.baseInfo?.fieldNameCn }} </a-form-item>
        <a-form-item label="季度"> {{ quarter }} </a-form-item>
        <a-form-item label="季度得分"> {{ state.baseInfo?.fieldSourceValue }} </a-form-item>
        <a-form-item label="得分调整">
          {{ state.baseInfo?.perfEvalScoreFixOpt }}
          {{ state.baseInfo?.perfEvalScoreFixValue }}
        </a-form-item>
        <a-form-item label="得分理由"> {{ state.baseInfo?.description }} </a-form-item>
        <a-form-item
          label="审核意见"
          name="auditStatus"
          :rules="[{ required: true, message: '请选择审核意见' }]"
        >
          <a-radio-group
            v-model:value="formState.auditStatus"
            :disabled="isAudit"
            style="margin-left: 10px"
          >
            <a-radio :value="'1'"> 通过 </a-radio>
            <a-radio :value="'2'"> 驳回 </a-radio>
          </a-radio-group>
        </a-form-item>
        <a-form-item label="审核备注">
          <a-textarea v-model:value="formState.auditRemark" :disabled="isAudit" allow-clear />
        </a-form-item>
        <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
          <a-button @click="cancelUpdate">取消</a-button>
          <a-button
            type="primary"
            style="margin-left: 20px"
            :loading="state.submitLoading"
            :disabled="isAudit"
            html-type="submit"
            >保存</a-button
          >
        </a-form-item>
      </a-form>
    </DraggableModal>
  </div>
</template>

<script lang="tsx" setup>
  import { computed, reactive, ref } from 'vue';
  import { SureAdjust } from '@/api/perAppraisal/apiList';
  import { DraggableModal } from '@/components/core/draggable-modal';

  defineOptions({
    name: 'perApListAutid',
  });
  interface FormState {
    auditStatus?: string | number;
    auditRemark?: string;
  }
  const formState = reactive<FormState>({
    auditStatus: '',
    auditRemark: '',
  });
  type stateType = {
    submitLoading: boolean;
    baseInfo: {
      fieldNameCn?: string;
      fieldSourceValue?: string;
      perfEvalScoreFixOpt?: string;
      perfEvalScoreFixValue?: string;
      description?: string;
      period?: string;
      ruleCode?: string;
      auditStatus?: string;
    };
  };
  const state = reactive<stateType>({
    submitLoading: false,
    baseInfo: {},
  });
  const emit = defineEmits(['search']);
  const myVisible = ref(false);

  const onFinish = async (_values: any) => {
    state.submitLoading = true;
    const params = {
      approvalType: 'SCORE-202023001',
      period: state.baseInfo.period,
      ruleCode: state.baseInfo.ruleCode,
      ...formState,
    };
    const { data } = await SureAdjust(params);
    if (data.success) {
      myVisible.value = false;
      emit('search');
    }
    state.submitLoading = false;
  };
  const onFinishFailed = (errorInfo: any) => {
    console.log('Failed:', errorInfo);
  };
  const quarter = computed(() => {
    switch (state.baseInfo.period) {
      case '1':
        return '一季度';
      case '2':
        return '二季度';
      case '3':
        return '三季度';
      default:
        return '四季度';
    }
  });
  const isAudit = computed(() => {
    return state.baseInfo.auditStatus == '1' ? true : false;
  });

  const changModal = (record, flag) => {
    state.baseInfo = record;
    myVisible.value = flag;
  };
  const cancelUpdate = () => {
    myVisible.value = false;
    emit('search');
  };
  defineExpose({ changModal });
</script>

<style scoped lang="less"></style>
