<template>
  <div class="main">
    <a-row class="content">
      <a-col v-if="roleType == '2'" :span="4" class="content-left">
        <TreeList :base-info="true" @selectd="onSelect" />
      </a-col>
      <a-col :span="roleType == '2' ? 20 : 24" class="content-right">
        <div v-if="roleType == '2'">
          <!-- 得分调整 -->
          <a-row class="mv-2x">
            <a-col :span="20">
              <a-form layout="inline" :model="state.formState" v-bind="formItemLayout">
                <a-form-item label="季度">
                  <a-select
                    v-model:value="state.quarterPeriod"
                    style="width: 120px"
                    @change="(value) => datechange(value)"
                  >
                    <a-select-option
                      v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_QUARTERLY_TYPE')"
                      :key="index"
                      :value="item.itemValue"
                      >{{ item.itemText }}</a-select-option
                    >
                  </a-select>
                </a-form-item>
                <a-form-item
                  v-if="state.treeCode.orgCode !== 'BWDH00' && state.dataSource.adjustListDtoList"
                  class="pl-1x"
                  style="font-weight: bold"
                >
                  <div style="width: 100px"
                    >得分：{{ state.dataSource.deptWeightScore }}
                  </div></a-form-item
                >
                <a-form-item
                  v-if="state.treeCode.orgCode !== 'BWDH00' && state.dataSource.adjustListDtoList"
                  label="部门加扣分"
                >
                  <a-input
                    v-model:value="state.dataSource.deptPerfEvalScoreFixValue"
                    placeholder="请输值例如: +5、-2"
                    allow-clear
                    :disabled="
                      state.dataSource.approvalHandleLevel !== '00' &&
                      state.dataSource.approvalHandleLevel
                    "
                    @change="setTotalScore"
                  />
                </a-form-item>
                <a-form-item
                  v-if="state.treeCode.orgCode !== 'BWDH00' && state.dataSource.adjustListDtoList"
                  label="加扣分理由"
                >
                  <a-input
                    v-model:value="state.dataSource.deptDescription"
                    allow-clear
                    :disabled="
                      state.dataSource.approvalHandleLevel !== '00' &&
                      state.dataSource.approvalHandleLevel
                    "
                    placeholder="请输入加扣分理由"
                  />
                </a-form-item>
              </a-form>
            </a-col>
            <a-col
              v-if="state.treeCode.orgCode !== 'BWDH00' && state.dataSource.adjustListDtoList"
              :span="4"
              class="text-r"
            >
              <a-button type="primary" ghost @click="Refresh">刷新</a-button>
              <a-button
                v-if="state.quarterPeriod == curQuarter[0]"
                type="primary"
                class="ml-1x"
                :loading="state.saveLoading"
                @click="saveAudit"
              >
                保存
              </a-button>
            </a-col>
          </a-row>
          <!-- 指标列表 -->
          <DynamicTable :columns="state.scoreColumnList" :data-request="loadTableData">
            <template #bodyCell="{ column, record, index }">
              <!-- 目标名称 -->
              <template v-if="column.key === 'perfGName'">
                <span class="link" @click="checkTargetInfo(record)">{{ record.perfGName }}</span>
              </template>
              <!-- 调整得分 -->
              <template v-if="column.key === 'perfEvalScoreFixValue'">
                <a-input
                  v-model:value="record.perfEvalScoreFixValue"
                  placeholder="请输值例如: +5、-2"
                  allow-clear
                  :disabled="record.approvalHandleLevel !== '00' && record.approvalHandleLevel"
                  @change="(e) => setEvents(e, index)"
                />
              </template>
              <!-- 调整说明 -->
              <template v-if="column.key === 'description'">
                <a-textarea
                  v-model:value="record.description"
                  placeholder="请输入调整说明"
                  allow-clear
                  :disabled="record.approvalHandleLevel !== '00' && record.approvalHandleLevel"
                  :rows="2"
                />
              </template>
              <!-- 本季度实绩 -->
              <template
                v-if="column.key === 'quarterAchievements' && state.treeCode.orgCode !== 'BWDH00'"
              >
                <span
                  :class="record.quarterScore >= 100 ? 'pointer' : 'link-error'"
                  @click="viewScoreExplain(record)"
                  >{{ record.quarterAchievements }}</span
                >
              </template>
            </template>
          </DynamicTable>
        </div>
        <!-- 绩效填报人员 -->
        <div v-else-if="roleType == '1'">
          <!-- 指标列表 -->
          <DynamicTable :columns="state.baseRoleColumns" :data-request="loadTableData">
            <template #toolbar>
              <div>
                季度：
                <a-select
                  v-model:value="state.quarterPeriod"
                  style="width: 140px"
                  @change="(value) => datechange(value)"
                >
                  <a-select-option
                    v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_QUARTERLY_TYPE')"
                    :key="index"
                    :value="item.itemValue"
                    >{{ item.itemText }}</a-select-option
                  >
                </a-select>
              </div>
            </template>
            <template #bodyCell="{ column, record }">
              <!-- 目标名称 -->
              <template v-if="column.key === 'perfGName'">
                <span class="link" @click="checkTargetInfo(record)">{{ record.perfGName }}</span>
              </template>
            </template>
          </DynamicTable>
        </div>
      </a-col>
    </a-row>
    <!-- 情况说明 -->
    <a-modal
      v-model:visible="explainVisible"
      title="情况说明"
      :width="560"
      destroy-on-close
      :body-style="{ 'min-height': '200px', padding: '8px 20px' }"
      ok-text="保存"
      @cancel="explainVisible = false"
      @ok="saveExplain"
    >
      <div class="pb-1x">情况说明：</div>
      <div>
        <a-textarea v-model:value="state.explain" placeholder="请输入情况说明" :rows="6" />
      </div>
    </a-modal>
    <!-- 点击本季度实绩查看情况说明 -->
    <a-modal
      v-model:visible="viewExplainVisible"
      :title="null"
      :width="560"
      destroy-on-close
      :body-style="{ 'min-height': '240px', padding: '40px 20px' }"
      :footer="null"
      @cancel="viewExplainVisible = false"
    >
      <a-descriptions>
        <a-descriptions-item label="情况说明">{{ state.explain }}</a-descriptions-item>
      </a-descriptions>
    </a-modal>
    <IndexBaseInfo
      :org-visible="state.infoView"
      :record="state.baseInfo"
      title="指标详情"
      @close="closeInfoView"
    ></IndexBaseInfo>
  </div>
</template>

<script lang="tsx" setup>
  import { reactive, ref } from 'vue';
  import { useRoute } from 'vue-router';
  import { message } from 'ant-design-vue';
  import TreeList from '../../orgPerList/components/TreeList.vue';
  import IndexBaseInfo from './IndexBaseInfo.vue';
  import { scoreColumns, MoreColumns, ViewMoreColumns } from './components/columns'; //table列
  import { useTable, type LoadDataParams, type TableColumn } from '@/components/core/dynamic-table';
  import {
    queryQuarterly,
    queryScoreList,
    queryExplainList,
    submitScoreList,
    refreScoreList,
    modifyExplain,
  } from '@/api/perAppraisal/apiList';
  import dict from '@/utils/dict.js';

  defineOptions({
    name: 'perApList',
  });
  const route = useRoute();
  const { type: roleType } = route.query;
  const activeKey = ref(0);
  //基本页面样式配置
  const formItemLayout = {
    labelCol: { span: 8 },
    wrapperCol: { span: 16 },
  };
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'ruleCode',
    bordered: true,
    search: false,
    pagination: false,
    showToolBar: roleType == '1' ? true : false,
    autoHeight: true,
  });
  const state: any = reactive({
    treeData: [] as any,
    treeCode: {
      orgCode: '',
      orgName: '',
    },
    baseInfo: {},
    formState: {
      perfEvalScoreFixValue: '',
      description: '',
    },
    saveLoading: false,
    dataSource: [],
    quarterPeriod: '',
    scoreColumnList: [...scoreColumns, ...MoreColumns],
    baseRoleColumns: [
      ...scoreColumns,
      ...ViewMoreColumns,
      {
        title: '情况说明',
        dataIndex: 'scoreExplain',
        width: 200,
      },
      {
        title: '操作',
        width: 120,
        dataIndex: 'ACTION',
        align: 'center',
        fixed: 'right',
        actions: ({ record }) => {
          const actionList = [] as any;
          actionList.push({
            label: '情况说明',
            // auth: 'rule:expAndScriptSave',
            onClick: () => {
              checkRemark(record);
            },
          });
          return actionList;
        },
      },
    ], //通用列表
    rowInfo: {},
    explain: '',
    infoView: false,
  });
  //选择季度
  const datechange = (_value) => {
    dynamicTableInstance.reload();
  };

  const onSelect = (_selectedKeys, { selectedNodes }) => {
    state.treeCode.orgCode = selectedNodes[0].code;
    state.treeCode.orgName = selectedNodes[0].title;
    if (!_selectedKeys[0]) return;
    state.scoreColumnList =
      state.treeCode.orgCode == 'BWDH00' ? [...scoreColumns] : [...scoreColumns, ...MoreColumns];

    //每次默认切换部门时季度信息从列表获取，自主切换季度不考虑
    state.quarterPeriod = '';
    dynamicTableInstance.reload();
  };

  const { orgCode } = route.query;
  // 查询列表数据并渲染
  const curQuarter: any = []; //存储当前季度，[0]是默认当前季度，不可复用
  const queryParams = () => {
    const { period: yearPeriod } = route.query;
    return {
      orgCode: state.treeCode.orgCode,
      orgPerformanceCode: orgCode,
      period: state.quarterPeriod,
      yearPeriod,
    };
  };
  const loadTableData = async () => {
    if (roleType == '2') {
      if (!state.treeCode.orgCode) return;
      const { data } = await queryScoreList(queryParams());
      state.dataSource = data.success ? data?.data : [];
    } else {
      const { data } = await queryExplainList(queryParams());
      state.dataSource = data.success ? data?.data : [];
    }
    //如果列表返回存在月份，那么就使用列表月份渲染
    if (state.dataSource.period) {
      state.quarterPeriod = state.dataSource.period;
      curQuarter.push(state.dataSource.period);
    }
    state.baseInfo = {};
    return {
      list: state.dataSource?.adjustListDtoList || [],
    };
  };
  // 查询指标详情
  const checkTargetInfo = async (record) => {
    try {
      const { ruleCode } = record;
      const res = await queryQuarterly(ruleCode);
      if (res.success) {
        state.baseInfo = res.data;
        setTimeout(() => {
          activeKey.value = 0;
        }, 200);
        state.infoView = true;
      } else {
        throw new ReferenceError(res.message);
      }
    } catch (e) {
      if (e instanceof ReferenceError) {
        state.baseInfo = {};
        message.error(e.message);
      }
    }
  };
  // 校验输入的值是否是数值
  const setTotalScore = (e) => {
    const isFigure = isNaN(e.target.value);
    if (isFigure && e.target.value.length > 1) {
      state.dataSource.deptPerfEvalScoreFixValue = '';
      return message.error('请输入正确数值！');
    }
  };
  const setEvents = (e, index) => {
    const isFigure = isNaN(e.target.value);
    if (isFigure && e.target.value.length > 1) {
      state.dataSource.adjustListDtoList[index].perfEvalScoreFixValue = '';
      return message.error('请输入正确数值！');
    }
  };

  // 公共入参
  const { period: yearPeriod, orgCode: orgPerformanceCode } = route.query;
  const commonParams = () => {
    const scoreList = state.dataSource.adjustListDtoList.map((item) => {
      return {
        apiCode: item.apiCode,
        description: item.description,
        fieldName: item.ruleCode,
        fieldNameCn: item.perfGName,
        fieldSourceValue: item.quarterScore,
        perfEvalScoreFixValue: item.perfEvalScoreFixValue,
        ruleCode: item.ruleCode,
      };
    });
    return {
      deptScore: {
        orgPerformanceCode,
        deptCode: state.treeCode.orgCode,
        deptName: state.treeCode.orgName,
        description: state.dataSource.deptDescription,
        fieldSourceValue: state.dataSource.deptScore,
        perfEvalScoreFixValue: state.dataSource.deptPerfEvalScoreFixValue,
      },
      adjustOrgPerfScoreVos: scoreList,
      period: state.quarterPeriod,
      yearPeriod,
    };
  };

  //提交
  const saveAudit = async () => {
    state.saveLoading = true;
    const { data } = await submitScoreList(commonParams());
    state.saveLoading = false;
    if (data.success) {
      message.success(data.message);
      dynamicTableInstance.reload();
    } else {
      message.error(data.message);
    }
  };
  const Refresh = async () => {
    const params = {
      orgCode: state.treeCode.orgCode,
      orgPerformanceCode,
      yearPeriod,
    };
    const { data } = await refreScoreList(params);

    if (data.success) {
      message.success(data.message);
      dynamicTableInstance.reload();
    } else {
      message.error(data.message);
    }
  };

  const explainVisible = ref(false);
  const checkRemark = (row) => {
    state.rowInfo = row;
    explainVisible.value = true;
    state.explain = row.scoreExplain;
  };
  const saveExplain = async () => {
    const params = {
      period: state.rowInfo.period,
      ruleCode: state.rowInfo.ruleCode,
      scoreExplain: state.explain,
    };
    const res = await modifyExplain(params);
    if (res.success) {
      message.success('保存成功！');
      dynamicTableInstance.reload();
      explainVisible.value = false;
    } else {
      message.error(res.message);
    }
  };
  //查看说明
  const viewExplainVisible = ref(false);
  const viewScoreExplain = (record) => {
    const { scoreExplain } = record;
    viewExplainVisible.value = true;
    state.explain = scoreExplain;
  };

  const closeInfoView = () => {
    state.infoView = false;
  };
</script>

<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;
    .content {
      padding: 0.5rem 1.25rem;
      height: inherit;
      .content-left {
        border-right: 0.0625rem solid #f1f1f1;
        padding-right: 12px;
      }
      .content-right {
        padding-left: 12px;
      }
    }
  }
  /deep/.ant-table.ant-table-small {
    font-size: 16px;
  }
</style>
