<template>
  <div>
    <a-modal
      v-model:visible="state.visible"
      :title="attrs.title"
      :width="980"
      :body-style="{
        'min-height': '340px',
      }"
      destroy-on-close
      :footer="null"
      @cancel="closeModal"
    >
      <a-spin :spinning="spinning">
        <a-collapse :expand-icon-position="expandIconPosition">
          <a-collapse-panel key="1">
            <template #header>
              <div>
                <span class="bold">
                  {{ props.record?.perfGName }}（{{
                    props.record?.perfGOrgCode
                      ? dict.getItemText('INDICATOR_UNIT', props.record?.perfGOrgCode)
                      : '-'
                  }}）
                </span>
                <span class="gray"> #{{ props.record?.ruleCode }} </span>
              </div>
            </template>
            <a-descriptions size="middle" :column="{ xxl: 4, xl: 4, lg: 4, md: 3, sm: 2, xs: 1 }">
              <a-descriptions-item label="指标类别">{{
                props.record.perfGCategory
                  ? dict.getItemText('INDICATOR_CATEGORY', props.record.perfGCategory)
                  : '-'
              }}</a-descriptions-item>
              <a-descriptions-item label="指标类型">{{
                props.record.perfGType
                  ? dict.getItemText('INDICATOR_TYPE', props.record.perfGType)
                  : '-'
              }}</a-descriptions-item>
              <a-descriptions-item label="评价周期">{{
                props.record.evaluatePeriod
                  ? dict.getItemText('EVALUATION_PERIOD', props.record.evaluatePeriod)
                  : '-'
              }}</a-descriptions-item>
              <a-descriptions-item label="权重">{{
                props.record.score ? `${props.record.score}%` : props.record.score
              }}</a-descriptions-item>
              <a-descriptions-item label="归口管理部门">{{
                props.record.orgPerformanceName || '-'
              }}</a-descriptions-item>
              <a-descriptions-item label="年度目标" :span="3"
                >{{
                  props.record.yearTarget
                    ? props.record.yearTarget.toLocaleString()
                    : props.record.yearTarget
                }}
              </a-descriptions-item>
              <a-descriptions-item label="实绩公式描述" :span="4">{{
                props.record.eneityResultFuncDesc || '-'
              }}</a-descriptions-item>
              <a-descriptions-item label="计分方式描述" :span="4">{{
                props.record.eneityScoreFuncDesc || '-'
              }}</a-descriptions-item>
            </a-descriptions>
          </a-collapse-panel>
        </a-collapse>

        <a-tabs v-model:activeKey="activeKey" size="middle">
          <a-tab-pane
            v-for="(item, index) in props.record?.quarterDetails"
            :key="index"
            :tab="item.quarterName"
          >
            <a-descriptions size="small" :column="{ xxl: 4, xl: 4, lg: 4, md: 4, sm: 2, xs: 2 }">
              <a-descriptions-item label="季度目标">{{ item.quarterTarget }}</a-descriptions-item>
              <a-descriptions-item label="季度实绩">{{
                item.quarterAchievements
              }}</a-descriptions-item>
              <a-descriptions-item v-if="roleType == '2'" label="季度得分">{{
                item.quarterScore
              }}</a-descriptions-item>
              <a-descriptions-item v-if="roleType == '2'" label="权重得分">{{
                item.quarterGoalScore
              }}</a-descriptions-item>
            </a-descriptions>
            <!-- 实绩明细 -->
            <h4 class="p-x">实绩明细</h4>
            <a-table
              :data-source="item?.performanceSettingMaps?.sourceData || []"
              :columns="columnLists(item?.performanceSettingMaps?.heads)"
              size="small"
              class="mb-2x"
              bordered
              :pagination="false"
            >
              <template #headerCell="{ column }">
                <template v-if="column.dataIndex !== 'fieldNameCn'">
                  <span>
                    {{ column.title }}
                    <fund-view-outlined class="primary" @click="viewColumn(column, index)" />
                  </span>
                </template>
              </template>
            </a-table>
            <a-row v-if="roleType == '2'" :gutter="24">
              <!-- 调整记录 -->
              <a-col :span="24">
                <a-divider orientation="left" style="margin-top: 0">调整记录</a-divider>
                <a-row v-for="(it, idx) in item.scoreApprovalDetails" :key="idx">
                  <a-col :span="5"> {{ it.createName || '-' }} </a-col>
                  <a-col :span="6">
                    调整 {{ it.perfEvalScoreFixOpt + it.perfEvalScoreFixValue }}
                  </a-col>
                  <a-col :span="8"> {{ it.description || '-' }} </a-col>
                  <a-col :span="3" class="text-c">
                    {{ dayjs(it.createDate).format('YYYY.MM.DD') || '-' }}
                  </a-col>
                </a-row>
              </a-col>
            </a-row>
          </a-tab-pane>
        </a-tabs>
      </a-spin>
    </a-modal>
    <!-- 查看备注 -->
    <a-modal
      v-model:visible="viewVisible"
      :width="560"
      destroy-on-close
      :body-style="{ 'min-height': '300px', padding: '8px 20px' }"
      :footer="false"
      @cancel="viewVisible = false"
    >
      <a-divider orientation="left" orientation-margin="0px" :plain="true">备注信息</a-divider>
      <a-row style="min-height: 100px">
        {{ state.remark }}
      </a-row>
      <a-divider orientation="left" orientation-margin="0px" :plain="true">附件</a-divider>
      <div v-for="(item, idx) in state.attestationFiles" :key="idx">
        <a
          class="link"
          :href="`${state.BASE_URL}basic/n/get/file?key=${item.fileAddress}`"
          target="_blank"
          >{{ item.fileName }}</a
        >
      </div>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, watch, useAttrs, ref } from 'vue';
  import dayjs from 'dayjs';
  import { useRoute } from 'vue-router';
  import { message, type CollapseProps } from 'ant-design-vue';
  import dict from '@/utils/dict.js';

  defineOptions({
    name: 'IndexBaseInfo',
  });
  const attrs = useAttrs();
  const props = defineProps({
    orgVisible: { type: Boolean },
    record: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const state = reactive({
    visible: false,
    BASE_URL: process.env.VUE_APP_BASE_API,
    remark: '',
    attestationFiles: [],
  });
  const route = useRoute();
  const { type: roleType } = route.query;
  const activeKey = ref(0);

  const emits = defineEmits(['close']);

  const expandIconPosition = ref<CollapseProps['expandIconPosition']>('right');

  const columnLists = (heads) => {
    const baseColumns: TableColumn[] = [
      {
        title: '数据项',
        dataIndex: 'fieldNameCn',
        width: 200,
      },
    ];
    if (!heads) return baseColumns;
    heads.forEach((v) => {
      baseColumns.push({
        title: v,
        dataIndex: v,
        width: 200,
        align: 'center',
        customRender: ({ text }) => {
          return (
            <div class="flex">
              <div>{text?.fieldSourceValue.toLocaleString() ?? '-'}</div>
            </div>
          );
        },
      });
    });
    return baseColumns;
  };

  //查看备注信息,判断当前是否存在备注
  const viewVisible = ref(false);
  const viewColumn = (col, index) => {
    const remarkData = props.record?.quarterDetails[index].performanceSettingMaps.annotations;
    for (let i = 0; i < remarkData.length; i++) {
      const keyA = Object.keys(remarkData[i]);
      if (keyA == col.dataIndex) {
        state.remark = remarkData[i][col.dataIndex].annotation;
        state.attestationFiles = remarkData[i][col.dataIndex].files;
      }
    }
    if (state.remark || state.attestationFiles) {
      viewVisible.value = true;
    } else {
      message.warning(`当前并无备注和附件信息查看！`);
    }
  };
  const closeModal = () => {
    emits('close');
  };

  const spinning = ref(false);
  watch(
    () => props.orgVisible,
    (nV) => {
      if (nV) {
        state.visible = nV;
        spinning.value = true;
        activeKey.value = 0;
      }
      setTimeout(() => {
        spinning.value = false;
      }, 1000);
    },
  );
</script>

<style lang="less" scoped>
  /deep/.ant-descriptions-header {
    margin-bottom: 12px;
  }
</style>
