<template>
  <div class="page-container">
    <DynamicTable
      header-title="数据集管理"
      :data-request="loadTableData"
      :columns="columns"
      auto-height
      :scroll="{ x: 2200, y: 300 }"
      :row-selection="rowSelection"
    >
      <template #toolbar>
        <a-button type="primary" @click="openDataSetModal({})"> <PlusOutlined /> 新增 </a-button>
        <a-button
          type="danger"
          :disabled="!isCheckRows"
          @click="delRowConfirm(rowSelection.selectedRowKeys)"
        >
          <DeleteOutlined /> 删除
        </a-button>
      </template>
    </DynamicTable>
    <RuleList :is-show="visible" :row-data="rowData" @cancel-list-modal="cancelListModal" />
    <UsedDetail ref="usedDetailRef"></UsedDetail>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, computed, nextTick } from 'vue';
  import { omit } from 'lodash-es';
  import { PlusOutlined, DeleteOutlined, ExclamationCircleOutlined } from '@ant-design/icons-vue';
  import { Modal, message } from 'ant-design-vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { datasetSchemas } from './formSchemas';
  import RuleList from './components/RuleList.vue';
  import UsedDetail from './components/UsedDetail.vue';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import type { Rule } from 'ant-design-vue/es/form';
  import { useTable } from '@/components/core/dynamic-table';
  import {
    checkDatasetNames,
    getDatasetList,
    getDatasetCategoryTree,
    getDSAll,
    getDatasetRawInfo,
    getDatasetItemList,
    deleteDataset,
    updateDataset,
    createDataset,
    getTablecolumns,
  } from '@/api/dataAdministration/dataset';

  import { useFormModal } from '@/hooks/useModal/index';
  import dict from '@/utils/dict';

  defineOptions({
    name: 'SetManagement',
    inheritAttrs: false,
  });

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'id',
    bordered: true,
  });
  const [showModal] = useFormModal();

  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      rowSelection.value.selectedRowKeys = selectedRowKeys;
    },
  });

  // 是否勾选了表格行
  const isCheckRows = computed(() => rowSelection.value.selectedRowKeys.length);

  const sourceList = reactive({
    list: [],
    allVoList: [],
  });

  const categoryList = reactive({
    list: [],
    flatList: [],
  });

  const curForm = reactive({
    form: null,
  });

  const formModelData = async (formModel) => {
    if (
      formModel &&
      formModel.tableName &&
      formModel.sourceName == '数据湖' &&
      formModel.tableScheme
    ) {
      const params = {
        tableName: formModel.tableName,
        tableScheme: formModel.tableScheme,
      };
      const r = await getTablecolumns(params);
      const data = r.data.map((item, index) => {
        return {
          id: index + 1,
          columnCname: item.fieldDesc,
          columnName: item.fieldEname,
          sort: item.fieldSort ? parseInt(item.fieldSort) : 0,
          type: item.fieldType,
          isPrikey: item.isPk === '1',
        };
      });
      if (curForm.form) {
        curForm.form?.updateSchema([
          {
            field: 'voList',
            componentProps: {
              data,
              typeFild: 'HudiDataType',
            },
          },
        ]);
      }
    }
  };

  const openDataSetModal = async (record: Partial<TableListItem> = {}) => {
    //  绑定一个OnChange
    if (JSON.stringify(record) == '{}') {
      //新增则清空字段信息
      curForm.form?.updateSchema([
        {
          field: 'voList',
          componentProps: {
            data: [],
          },
        },
      ]);
    }
    datasetSchemas[2].componentProps = ({ formModel }) => ({
      //编辑
      onChange() {
        if (formModel && formModel.tableName && formModel.sourceName != '数据湖') {
          // 获取数据清单
          getDatasetRawInfo(formModel.tableName).then((r) => {
            const data = r.data.map((item, index) => {
              return {
                id: index + 1,
                columnCname: item.fieldDesc,
                columnName: item.fieldEname,
                sort: item.fieldSort ? parseInt(item.fieldSort) : 0,
                type: item.fieldType,
                isPrikey: item.isPk === '1',
              };
            });
            if (curForm.form) {
              curForm.form?.updateSchema([
                {
                  field: 'voList',
                  componentProps: {
                    data,
                    typeFild: 'fieldType',
                  },
                },
              ]);
            }
          });
        }
        formModelData(formModel);
      },
    });
    datasetSchemas[0].componentProps = ({ formModel }) => ({
      //编辑
      onChange(e, op) {
        formModel.sourceName = op.label;
        formModel.tableName = '';
        formModel.tableScheme = '';
        const logicalPartition =
          op.label == '数据湖'
            ? dict.getItemsByDictCode('hiveLogical')
            : dict.getItemsByDictCode('logicalPartition');
        const options = logicalPartition.map((item, index) => {
          return {
            label: item[`itemText`],
            value: item[`itemText`],
            key: index,
          };
        });
        formRef?.updateSchema([
          {
            field: 'tableScheme',
            componentProps: {
              options,
            },
          },
        ]);
      },
    });
    datasetSchemas[5].componentProps = ({ formModel }) => ({
      //编辑
      async onChange(e, op) {
        formModelData(formModel);
      },
    });
    // 校验数据集英文名
    const validateName = async (_rule: Rule, value: String) => {
      const checkResult = await checkDatasetNames({ tableName: value, id: record.id });
      if (!checkResult.success) {
        return Promise.reject('英文名称不能重复');
      } else {
        return Promise.resolve();
      }
    };
    // 校验数据集中文名
    const validateCName = async (_rule: Rule, value: String) => {
      const checkResults = await checkDatasetNames({ tableCname: value, id: record.id });
      if (!checkResults.success) {
        return Promise.reject('数据集名称不能重复');
      } else {
        return Promise.resolve();
      }
    };
    datasetSchemas[2].rules.forEach((x) => {
      if (x.validator != '' && x.validator != null) {
        x.validator = null;
      }
    });
    datasetSchemas[1].rules.forEach((y) => {
      if (y.validator != '' && y.validator != null) {
        y.validator = null;
      }
    });
    datasetSchemas[2].rules.push({
      //必须用push才管用？？？？
      validator: validateName,
    });
    datasetSchemas[1].rules.push({
      validator: validateCName,
    });
    const [formRef] = await showModal<any>({
      modalProps: {
        title: `${record.id ? '编辑' : '新增'}数据集`,
        width: '100%',
        onFinish: async (values) => {
          values.id = record.id;
          //  获取字段细节对象
          const itemsRef = formRef?.compRefMap.get('voList')!; //获取查询后的数据---要和全部数据比较更新源数据，再判断有无设置主键
          const index = sourceList.list.findIndex((item) => item.value == values.sourceId);
          if (index != -1) {
            values.sourceName = sourceList.list[index].label;
          }
          if (values.governanceObject) {
            values.governanceObject = values.governanceObject.join(',');
          }
          const params = {
            ...omit(values, ['dataCategory'], ['record.id']),
            dataCategory: values.dataCategory[values.dataCategory.length - 1],
            voList: [...itemsRef.getValues()],
          };
          let flag = true;
          params.voList.forEach((v) => {
            if (!v.columnCname) {
              flag = false;
            }
          });
          if (!flag) {
            message.error('请输入表格中文名!');
            throw Error('请输入表格中文名!');
          }
          const res = await (record.id ? updateDataset : createDataset)(params);
          if (!res.success) {
            message.error(res.message);
            throw Error(res.message);
          } else {
            message.success(record.id ? '更新成功' : '创建成功');
          }
          dynamicTableInstance?.reload();
        },
      },
      formProps: {
        labelWidth: 130,
        schemas: datasetSchemas,
      },
    });
    // 记录一下
    curForm.form = formRef;

    // const logicalPartition = dict.getItemsByDictCode('logicalPartition');
    // const optionsPartition = logicalPartition.map((item, index) => {
    //   return {
    //     label: item[`itemText`],
    //     value: item[`itemText`],
    //     key: index,
    //   };
    // });

    const businessObjectData = dict.getItemsByDictCode('businessObject');
    const options = businessObjectData.map((item, index) => {
      return {
        label: item[`itemText`],
        value: item[`itemText`],
        key: index,
      };
    });

    formRef?.updateSchema([
      {
        field: 'governanceObject',
        componentProps: {
          options,
        },
      },
      // {
      //   field: 'tableScheme',
      //   componentProps: {
      //     options: optionsPartition,
      //   },
      // },
    ]);

    // 初始化数据源下拉列表
    setDSList(formRef);

    // 初始化数据源下拉列表 编辑态下调整dataCategory 对应字段
    setCategory(formRef, record);

    // 获取数据集字段详情
    if (record.id) {
      setDatasetItemList(formRef, record.id, record);
    } else {
      sessionStorage.removeItem('allVoList');
    }

    formRef?.setFieldsValue(omit(record, ['dataCategory', 'governanceObject']));
    if (record.governanceObject) {
      if (Array.isArray(record.governanceObject)) {
        formRef?.setFieldsValue({ governanceObject: record.governanceObject });
      } else {
        formRef?.setFieldsValue({ governanceObject: record.governanceObject.split(',') });
      }
    }

    if (record.sourceName === '智能算法') {
      nextTick(() => {
        formRef?.setFieldsValue({
          sourceName: '智能算法',
        });
      });
    }
  };

  const setCategory = (formRef, record) => {
    // 初始化数据分类  如果是编辑还需要对齐数据
    getDatasetCategoryTree({ type: '10' }).then((r) => {
      const options = [];
      r.data.forEach((item) => {
        options.push(toCasaderTree(item));
      });

      categoryList.list = options;
      categoryList.flatList = [];
      for (let i = 0; i < options.length; i++) {
        categoryList.flatList.push(...categoryToFlat(options[i], []));
      }

      formRef?.updateSchema([
        {
          field: 'dataCategory',
          componentProps: {
            options,
          },
        },
      ]);

      // 对齐数据分类 重新设置值
      if (record.id && record.dataCategory) {
        for (let i = 0; i < categoryList.flatList.length; i++) {
          if (record.dataCategory == categoryList.flatList[i].value) {
            console.log(categoryList.flatList[i].fullValue);
            formRef?.setFieldsValue({ dataCategory: categoryList.flatList[i].fullValue });
            break;
          }
        }
      }
    });
  };

  // 将分类拉平，便于查询，匹配
  const categoryToFlat = (category, parents = []) => {
    const categories = [];
    const parentValue = [...parents, category.value];
    categories.push({
      value: category.value,
      fullValue: parentValue,
      label: category.label,
    });

    if (category.children) {
      for (let i = 0; i < category.children.length; i++) {
        categories.push(...categoryToFlat(category.children[i], parentValue));
      }
    }
    return categories;
  };

  const setDSList = (formRef) => {
    getDSAll().then((r) => {
      const options = [];
      r.data
        .filter((x) => x.type === '0')
        .forEach((item, index) => {
          options.push({
            label: item.sourceName,
            value: item.id,
            key: index,
          });
        });

      sourceList.list = options;

      formRef?.updateSchema([
        {
          field: 'sourceId',
          componentProps: {
            options,
          },
        },
      ]);
    });
  };

  const setDatasetItemList = (formRef, id, record) => {
    getDatasetItemList(id, '').then((r) => {
      let dataTable: any = [];
      if (r.data.columnsList != undefined) {
        dataTable = r.data.columnsList;
      }
      dataTable.forEach((item) => {
        item.isPrikey = item.isPrikey !== '0';
      });
      sourceList.allVoList = dataTable;
      sessionStorage.setItem('allVoList', JSON.stringify(sourceList.allVoList));
      formRef?.updateSchema([
        {
          field: 'voList',
          componentProps: {
            data: dataTable,
            record,
            typeFild: record.sourceName == '数据湖' ? 'HudiDataType' : 'fieldType',
          },
        },
      ]);
    });
  };

  const delRowConfirm = async (datasetId) => {
    if (Array.isArray(datasetId)) {
      Modal.confirm({
        title: '确定要删除所选的数据集吗?',
        icon: <ExclamationCircleOutlined />,
        centered: true,
        onOk: async () => {
          await deleteDataset(datasetId).finally(dynamicTableInstance?.reload);
        },
      });
    } else {
      await deleteDataset([datasetId]).finally(dynamicTableInstance?.reload);
    }
  };

  const loadTableData = async (params: LoadDataParams) => {
    const sendParams = omit(params, ['dataCategory', 'createTime']);
    if (params.dataCategory && params.dataCategory.length > 0) {
      sendParams.dataCategory = params.dataCategory[params.dataCategory.length - 1];
    }

    if (params.columnCnames) {
      sendParams.columnCnames = [params.columnCnames];
    }
    if (params.createTime) {
      sendParams.createDateStart = params.createTime[0];
      sendParams.createDateEnd = params.createTime[1];
    }

    const data = await getDatasetList({
      ...sendParams,
    });

    const dsList = data.data.map((item) => {
      return {
        ...item,
      };
    });

    return {
      list: dsList,
      pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
    };
  };

  // 初始化分类下拉数据
  const toCasaderTree = (data) => {
    const ret = {
      value: data.categoryCode,
      label: data.categoryName,
    };

    if (data.children && data.children.length > 0) {
      ret.children = [];
      data.children.forEach((item) => {
        ret.children.push(toCasaderTree(item));
      });
    }
    return ret;
  };

  getDatasetCategoryTree({ type: '10' }).then((r) => {
    const options = [];
    // r.data.forEach((item) => {//数据集分类第一层去除
    r.data[0].children.forEach((item) => {
      if (item && item.categoryCode && item.categoryName) {
        options.push(toCasaderTree(item));
      }
    });
    baseColumns[0].formItemProps.componentProps.options = options;
  });

  const onRowClicked = (record) => {
    openDataSetModal(record);
  };

  // 设置click 事件
  baseColumns[1].customRender = ({ record }) => {
    return (
      <span
        onClick={() => {
          onRowClicked(record);
        }}
        style="color:#1890ff"
      >
        <a-tooltip title={record.tableCname} placement="topLeft">
          {record.tableCname}
        </a-tooltip>
      </span>
    );
  };
  const usedDetailRef = ref();
  const onUsedClicked = (record) => {
    nextTick(() => {
      usedDetailRef.value.onChangeVisable(record);
    });
  };
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 150,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        if (record.type === undefined || record.type !== '1') {
          return [
            // {
            //   label: '编辑',
            //   auth: {
            //     perm: 'dataset:update',
            //     // effect: 'disable',
            //   },
            //   onClick: () => openDataSetModal(record),
            // },
            {
              label: '删除',
              auth: 'dataset:delete',
              popConfirm: {
                title: '你确定要删除吗？',
                onConfirm: () => delRowConfirm(record.id),
              },
            },
            {
              label: '表被使用情况',
              onClick: () => onUsedClicked(record),
            },
            {
              label: '表授权规则',
              auth: {
                perm: 'dataset:rule',
              },
              onClick: () => openRuleModal(record),
            },
          ];
        } else {
          return [];
        }
      },
    },
  ];

  const visible = ref<boolean>(false);
  const rowData = ref();
  //为选择的数据表配置规则
  const openRuleModal = (record) => {
    visible.value = true;
    rowData.value = record;
  };
  const cancelListModal = () => {
    visible.value = false;
  };
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  /deep/.ant-table.ant-table-small .ant-table-tbody > tr.ant-table-row > td .ant-btn {
    padding: 0 5px;
  }
  /deep/.ant-table-wrapper .ant-table .ant-btn {
    margin-right: 0;
  }
</style>
