<template>
  <a-tooltip>
    <template #title>{{ props.value }}</template>
    {{ props.value }}
  </a-tooltip>
</template>
<script lang="ts" setup>
  defineOptions({
    name: 'StringView',
    inheritAttrs: false,
  });
  const props = defineProps({
    value: [Array, Object, String, Number],
  });
</script>
