<template>
  <div class="ChartConfigurations">
    <div class="left">
      <NameConfig></NameConfig>
      <DataSet ref="dataSetDom"></DataSet>
    </div>
    <div class="center">
      <InsertContent></InsertContent>
      <Action></Action>
      <ChartConfigLine></ChartConfigLine>
      <Paging v-if="store?.page?.chartType == 'table'"></Paging>
    </div>
    <div class="right">
      <ChartBaseConfig />
    </div>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, ref } from 'vue';
  import { useRoute, useRouter } from 'vue-router';
  import { isNil } from 'lodash-es';
  import DataSet from './dataset/Index.vue';
  import InsertContent from './insertContent/Index.vue'; // 数据配置
  import ChartConfigLine from './chartConfigLine/Index.vue'; // 图表容器
  import ChartBaseConfig from './chartSet/index.vue'; // 图表右侧配置
  import Action from './action/Index.vue'; // 操作
  import Paging from './Paging.vue'; // 分页
  import NameConfig from './NameConfig.vue'; // 名称配置
  import initQueryEchar from './action/InitQueryEchar';
  import { dashboardWidget } from '@/api/userAnalyze/chartConfigurations'; // api 接口
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  import { getSupervisionModel } from '@/api/supervisionModel';
  defineOptions({
    name: 'ChartConfigurations',
  });
  const $router = useRouter();
  const $route = useRoute();
  const store = chartConfigurations();
  const dataSetDom = ref(null) as any;
  onMounted(async () => {
    store.$reset();
    await queryWidget();
  });

  const queryWidget = async () => {
    if ($route.query.widgetId) {
      store.chartData = {
        loading: true, // error 无数据
        data: {}, // 获取到的数据
        page: {
          pageNum: 1,
          pageSize: 10,
          total: 0,
          pageCount: 1,
        },
      };
      // 模型过来的初始化图表，表示新建
      if ($route.query.widgetId === 'init') {
        const modelId = $route.query.id;
        // 模型列表
        store.pageData.datasetIds = $route.query.dataSetIds.split(',').map((item) => {
          return item * 1;
        });
        store.datasets = $route.query.dataSetIds.split(',');
        // 调用执行
        dataSetDom.value.checkDatasetChange(store.pageData.datasetIds);
        store.chartData.loading = 'error';
        const modelResult = await getSupervisionModel({
          pageNum: 1,
          pageSize: 10,
          filters: [
            {
              columnName: 'id',
              filterType: '=',
              columnType: '',
              values: [modelId],
            },
          ],
        });
        if (modelResult.success && modelResult.data.length > 0) {
          const modelConfig = JSON.parse(modelResult.data[0].modelConfig);
          //模型过来的，添加默认勾选关联字段
          if (!isNil(modelConfig.tableRelationList)) {
            store.setSqlParams({
              datatableList: modelConfig.datatableList,
              tableRelationList: modelConfig.tableRelationList,
            });
          }
        }
      } else {
        await dashboardWidget($route.query.widgetId)
          .then((data) => {
            if (data.code === 'OK') {
              data.data.datasetIds = data.data.datasetIds ? data.data.datasetIds.split(',') : [];
              store.pageConfig(data.data);
              store.insertContentConfig(JSON.parse(data.data.data.pageData));
              store.sourceName = JSON.parse(data.data.data.pageData).sourceName
                ? JSON.parse(data.data.data.pageData).sourceName
                : '5S通用查询配置';
              dataSetDom.value.checkDatasetChange(data.data.datasetIds);

              store.chartData.page.pageSize = data.data.data.page.pageSize;
              if (data.data.chartType) {
                initQueryEchar(data.data.chartType); // 初始化获取图表
              } else {
                store.chartData.loading = 'error';
              }
            } else {
              store.chartData.loading = 'error';
            }
          })
          .catch(() => {
            store.chartData.loading = 'error';
          });
      }
    } else {
      $router.go(-1);
    }
  };
</script>

<style lang="less" scoped>
  .ChartConfigurations {
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;

    //* {
    //  user-select: none;
    //}

    .left {
      width: 16%;
      height: 100%;
      display: flex;
      flex-direction: column;
      min-width: 220px;
    }

    .center {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0 8px;
      overflow: hidden;
    }

    .right {
      width: 20%;
      height: 100%;
      overflow: auto;
      min-width: 220px;
    }
  }
</style>
