<template>
  <div class="paging">
    <!-- 共有{{ store.chartData.page.total }}条数据，{{ store.chartData.page.pageNum }}/{{
      store.chartData.page.pageCount
    }}页 {{ store.chartData.page.pageSize }} 条 -->
    <a-pagination
      :show-total="(total) => `共有${total}条数据 `"
      :page-size="store.chartData.page.pageSize"
      :current="store.chartData.page.pageNum"
      :total="store.chartData.page.total"
      show-size-changer
      size="small"
      :page-size-options="['10', '100', '200', '300', '400', '500']"
      @change="configPage"
      @show-size-Change="showSizeChange"
    />
  </div>
</template>

<script setup lang="ts">
  import { reactive } from 'vue';
  import TestAction from './action/TestAction';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  defineOptions({
    name: 'paging',
  });

  const state = reactive({
    changePageSize: false,
  });

  const store = chartConfigurations();
  const configPage = (pageNum, pageSize) => {
    if (!state.changePageSize) {
      store.chartData.page.pageNum = pageNum;
      store.chartData.page.pageSize = pageSize;
      TestAction(true);
    }
  };
  const showSizeChange = (_current, size) => {
    state.changePageSize = true;
    store.chartData.page.pageNum = 1;
    store.chartData.page.pageSize = size;
    TestAction(false, (valid) => {
      if (valid) {
        state.changePageSize = false;
      }
    });
  };
</script>

<style lang="less" scoped>
  .paging {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
</style>
