<template>
  <div class="chartsView">
    <Drilling :config="state.data.config"></Drilling>
    <DbView
      ref="dbViewRef"
      :config="state.data.config"
      :db-data="state.dbData"
      :chart-config="state.chartConfig"
      @query="queryChatrData"
    ></DbView>
    <a-empty v-if="state.status == 0" description="数据有误" />
    <a-spin v-else-if="state.status == 1" />
    <Chart
      v-else-if="state.status == 2"
      ref="chartDom"
      :chart-type="state.data.chartType"
      :title="state.data.title"
      :data="state.data.data"
      :page-data="state.data.pageData"
      :config="state.data.config"
      :widget-id="props.widgetId"
      class="Chart"
      @dblclick-link="dblclickLink"
      @chart-click="chartClick"
      @db-check="dbCheck"
      @header-cell-click="headerCellClick"
    >
    </Chart>
    <Paging
      v-if="
        state?.data?.chartType == 'table' &&
        state.page.show &&
        Object.keys(state.data.data).length > 0
      "
      :page="state.page"
      :chart-config="state.chartConfig"
      @query="queryChatrData"
    ></Paging>
    <slot name="btn"></slot>

    <DraggableModal
      v-if="state.visible2"
      v-model:visible="state.visible2"
      title=""
      width="90%"
      destroy-on-close
      :footer="null"
      fullscreen
      wrap-class-name="kanban-wrapClassName"
    >
      <div class="chartsView">
        <Drilling :config="state.data.config"></Drilling>
        <DbView
          ref="dbViewRef"
          :config="state.data.config"
          :db-data="state.dbData"
          :chart-config="state.chartConfig"
          @query="queryChatrData"
        ></DbView>
        <a-empty v-if="state.status == 0" description="数据有误" />
        <a-spin v-else-if="state.status == 1" />
        <Chart
          v-else-if="state.status == 2"
          ref="chartDom"
          :chart-type="state.data.chartType"
          :title="state.data.title"
          :data="state.data.data"
          :page-data="state.data.pageData"
          :config="state.data.config"
          :widget-id="props.widgetId"
          class="Chart"
          @dblclick-link="dblclickLink"
          @chart-click="chartClick"
          @db-check="dbCheck"
          @header-cell-click="headerCellClick"
        >
        </Chart>
        <Paging
          v-if="
            state?.data?.chartType == 'table' &&
            state.page.show &&
            Object.keys(state.data.data).length > 0
          "
          :page="state.page"
          :chart-config="state.chartConfig"
          @query="queryChatrData"
        ></Paging>
        <slot name="btn"></slot>
      </div>
    </DraggableModal>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, ref, watch, onBeforeUnmount, nextTick } from 'vue';
  import { useRoute } from 'vue-router';
  import { cloneDeep, debounce, remove } from 'lodash-es';
  import dayjs from 'dayjs';
  import { message as $message } from 'ant-design-vue';
  import DbView from './DbView.vue';
  import Drilling from './Drilling.vue';
  import Paging from './Paging.vue';
  import { judgeNeedReset } from './resetLinkage';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import Chart from '@/views/userAnalyze/components/index.vue';
  import { dashboardWidget, getAggregateData } from '@/api/userAnalyze/kanbanConfig'; // api 接口
  import { kanbanConfigStore } from '@/store/modules/kanbanConfig';
  import Pubs from '@/utils/pubs.js';
  const store = kanbanConfigStore();
  const route = useRoute();
  // 图表查看窗口
  defineOptions({
    name: 'chartsView',
  });
  const props = defineProps({
    widgetId: { type: String },
    relations: { type: Object },
  });
  const state = reactive({
    status: 1, // 0失败 1 进行中 2 成功
    data: {
      title: '',
      data: {},
      config: {},
      chartType: '',
      pageData: {},
    },
    dbData: {},
    chartConfig: {},
    page: {
      pageNum: 1,
      pageSize: 10,
      total: 0,
      pageCount: 1,
      show: true,
    },
    queryParams: {},
    queried: false,
    searchConfig: [],
    kanBanFilter: [],
    kanbanData: [],
    needKanBanFilter: true,
    visible2: false,
  });
  const chartDom = ref();
  onMounted(() => {
    querydata(true);
    Pubs.subscribe('resetLinkage', function (msg, item) {
      // 判断是否需要还原数据
      if (!judgeNeedReset(item, state?.queryParams?.data)) return;
      queryChatrData(state?.queryParams?.data);
    });
    Pubs.subscribe('resetKanBanFilter', function (_msg, item) {
      if (item.widgetId == props.widgetId) {
        state.needKanBanFilter = false;
        querydata();
      }
    });
  });

  onBeforeUnmount(() => {
    Pubs.unsubscribe('resetLinkage');
    Pubs.unsubscribe('resetKanBanFilter');
  });
  const resize = () => {
    chartDom?.value?.resize();
  };
  const setReceiver = (receiver) => {
    chartDom?.value?.setReceiver(receiver);
  };
  const emit = defineEmits(['chartItme', 'chartClick', 'dblclickLink']);
  watch(
    () => props.widgetId,
    () => {
      querydata();
    },
  );
  watch(
    () => store.searchConfig,
    (val) => {
      state.kanBanFilter = cloneDeep(val);
    },
    { deep: true, immediate: true },
  );
  watch(
    () => store.kanbanData,
    (val) => {
      state.kanbanData = cloneDeep(val);
    },
    { deep: true, immediate: true },
  );
  const querydata = async (first) => {
    state.status = 1;
    const data = await dashboardWidget({ widgetId: props.widgetId }); //获取图表最新配置信息
    if (data.code === 'OK') {
      if (first) state.queryParams = cloneDeep(data);
      queryChatrData(data.data); //拿最新配置信息换取图表数据
      state.chartConfig = data.data;
      emit('chartItme', data.data);
    } else {
      state.status = 0;
    }
  };
  const queryChatrData = (data, callback?) => {
    // console.log('匹配参数', data);
    state.status = 1;
    if (!data) {
      state.status = 0;
      return;
    }
    const params = {
      datasetId: data.data.datasetId,
      reload: false,
      chartType: data.chartType,
      config: data.data,
    };
    if (route.query.modelFlag == 'true') {
      // modelFlag代表从模型点击跳转过来的
      const _temp = JSON.parse(route.query.params);
      _temp.forEach((x) => {
        // 循环传过来的键值对
        const y = props.relations.links.find((x) => x.linkType == 'consumer'); // 当前图表的接收字段的集合

        if (y && y != undefined && y.conditions && y.conditions.length > 0) {
          y.conditions.forEach((w) => {
            if (w.linkTarget.targetAlias === x.targetAlias) {
              // 和接收字段进行匹配，如果匹配到就把当前source的column得到-再去filters里面匹配对应的把values值噻进去
              let flag = false;
              const newFilter = data.data.filters.map((i) => {
                if (i.columnName === w.source.column) {
                  // 找到对应filters的字段名
                  i.values = [x.val];
                  flag = true;
                }
                return i;
              });
              if (!flag) {
                const columns: Array<any> = [];
                const pageData = JSON.parse(data.data?.pageData || '""');
                if (pageData) {
                  pageData?.filterList?.forEach((filter) => {
                    filter?.value?.forEach((value) => {
                      columns.push(value);
                    });
                  });
                }
                const column = columns?.find((column) => column?.sourceName == x?.targetAlias);
                if (column) {
                  newFilter.push({
                    columnCName: column.cName,
                    columnCname: column.cName,
                    columnName: column.name,
                    custom: null,
                    filterType: '=',
                    id: column.sourceId,
                    sort: null,
                    columnType: column.sourceType,
                    values: [x.val],
                  });
                }
              }
              params.config.filters = newFilter;
            }
          });
        }
      });
    }
    if (state.needKanBanFilter && state.kanBanFilter && state.kanBanFilter.length > 0) {
      const kanbanData = state.kanbanData.find((x) => x.widgetId == props.widgetId);
      if (kanbanData) {
        const filterLinks = kanbanData?.relations?.filterLinks;
        if (filterLinks && filterLinks.length > 0) {
          const fields = filterLinks?.map((x) => x.leftSelectedValue);
          if (fields && fields.length > 0) {
            const filters = state.kanBanFilter.filter((x) => fields.includes(x.field));
            if (filters && filters.length > 0) {
              const columns: Array<any> = [];
              const pageData = JSON.parse(data.data?.pageData || '""');
              if (pageData) {
                pageData?.filterList?.forEach((filter) => {
                  filter?.value?.forEach((value) => {
                    columns.push(value);
                  });
                });
              }
              filters.forEach((x) => {
                const filterLink = filterLinks.find((y) => y.leftSelectedValue == x.field);
                const column = columns.find(
                  (y) =>
                    y.name == filterLink.rightSelectedValue ||
                    y.key == filterLink.rightSelectedValue,
                );
                const filter = {
                  columnCName: column.cName,
                  columnCname: column.cName,
                  columnName: column.name || column.key,
                  custom: null,
                  filterType: x.filterType,
                  id: column.sourceId,
                  sort: null,
                  columnType: column.sourceType,
                  values: x.value1 ? [x.value1] : [],
                };

                if (x.fieldType == '1' || x.fieldType == '3') {
                  if (x.value1 instanceof Array) {
                    filter.values = x.value1 ? x.value1 : [];
                  } else {
                    filter.values = x.value1 ? [x.value1] : [];
                  }
                }

                if (x.fieldType == '2') {
                  if (x.operatorValue == 'BTW') {
                    filter.values =
                      (x.value1 || x.value1 == '0') && (x.value2 || x.value2 == '0')
                        ? [x.value1, x.value2]
                        : [];
                  } else {
                    filter.values = x.value1 ? [x.value1] : [];
                  }
                }
                params.config.filters.push(filter);
              });
            }
          }
        }
      }
    }
    if (params.config.filters && params.config.filters.length > 0) {
      const columns: Array<any> = [];
      const pageData = JSON.parse(data.data?.pageData || '""');
      if (pageData) {
        pageData?.filterList?.forEach((filter) => {
          filter?.value?.forEach((value) => {
            columns.push(value);
          });
        });
      }
      params.config.filters.forEach((x) => {
        const column = columns?.find((column) => column?.name == x?.columnName);
        if (column?.sourceType) x['columnType'] = column?.sourceType;
      });
    }
    if (data.chartType != 'table') {
      delete params.config.page;
    }
    getAggregateData(params)
      .then((res) => {
        // console.log(data, '加载数据了', res, data?.data?.page);
        if (res.code === 'OK') {
          if (!res?.success) {
            state.status = 0;
            state.page.total = 0;
            state.page.show = false;
            return $message.error(res?.message || '数据预览失败：数据为空');
          }
          chartDataConfig(res.data, data);
          state.page = {
            ...state.page,
            pageNum: data?.data?.page?.pageNum ?? 1,
            pageSize: data?.data?.page?.pageSize ?? 10,
            total: res.total,
            pageCount: data?.data?.page?.pageNum,
          };
          if (res.total <= 10) {
            state.page.show = false;
          } else {
            state.page.show = true;
          }
          state.status = 2;
        } else {
          state.status = 0;
        }
      })
      .catch(() => {
        state.status = 0;
      })
      .finally(() => {
        state.needKanBanFilter = true;
        if (callback) callback(true);
      });
  };
  const updateChart = debounce((data) => {
    console.log('调用接口多次呢？');

    //更新图表，配置条件查询联动的数据信息
    data.data.config.data.relations = data.data.relations;
    queryChatrData(data.data.config);
  }, 100);
  const chartDataConfig = (data, params) => {
    state.data = {
      title: params.widgetName,
      data,
      config: params.data,
      chartType: params.chartType,
      pageData: params.data.pageData ? JSON.parse(params.data.pageData) : {},
    };
  };
  const dbViewRef = ref();
  const dbCheck = (el, filters) => {
    state.dbData = { el, filters };
    dbViewRef.value.dataPotion(el);
  };
  const chartClick = (el) => {
    emit('chartClick', el);
  };
  const dblclickLink = (el) => {
    emit('dblclickLink', el);
  };
  const headerCellClick = (widgetId) => {
    if (widgetId == props.widgetId) {
      state.visible2 = true;
      nextTick(() => {
        resize();
      });
    }
  };
  const kanBanFilterSearch = (filter) => {
    state.kanBanFilter = filter;
    state.needKanBanFilter = true;
    querydata();
  };
  defineExpose({ resize, setReceiver, updateChart, kanBanFilterSearch });
</script>

<style lang="less" scoped>
  .chartsView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
    /deep/.ant-empty-description {
      color: #9f9f9f;
    }
    .Chart {
      flex: 1;
    }
  }
</style>

<style lang="less">
  .kanban-wrapClassName {
    .ant-modal-close {
      top: -6px !important;
    }
  }
</style>
