<template>
  <div>
    <!-- 业务自查  -->
    <LiaisonReview
      v-if="state.todoLinkCode == '00' || state.todoLinkCode == '150'"
      ref="processRef"
      @search="close"
    ></LiaisonReview>
    <!-- 监督联络员审核+含驳回业务自查 -->
    <BusinessProcess
      v-if="state.todoLinkCode == '80' || state.todoLinkCode == '90'"
      ref="processRef"
      @search="close"
    ></BusinessProcess>
    <!-- 纪检核查  -->
    <DisciplineInspectionHand
      v-if="state.todoLinkCode == '20'"
      ref="processRef"
      @search="close"
    ></DisciplineInspectionHand>
    <!--  模型管理员处理审核 -->
    <ReviewedByInspectors
      v-if="state.todoLinkCode == '50'"
      ref="processRef"
      @search="close"
    ></ReviewedByInspectors>
    <!-- 核查人员处理审核-->
    <VerificationProcessing
      v-if="state.todoLinkCode == '10'"
      ref="processRef"
      @search="close"
    ></VerificationProcessing>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, nextTick } from 'vue';
  import 'ant-design-vue/lib/button/style';

  import {
    BusinessProcess,
    LiaisonReview,
    ReviewedByInspectors,
    DisciplineInspectionHand,
    VerificationProcessing,
  } from './index';

  const emit = defineEmits(['handleOk', 'search']);

  // 处理页面
  // const BusinessProcessRef = ref(); //监督联络员审核+含驳回业务自查
  // const LiaisonReviewRef = ref(); //业务自查
  // const ReviewedByInspectorsRef = ref(); // 模型管理员处理审核
  // const DisciplineInspectionHandRef = ref(); //纪检核查
  // const VerificationProcessingRef = ref(); //核查人员处理审核
  const processRef = ref(); //核查人员处理审核
  const state = reactive({
    todoLinkCode: '',
  });

  const processHandle = (record) => {
    state.todoLinkCode = record.todoLinkCode;
    nextTick(() => {
      processRef.value.processHandle(record);
      // if (record.todoLinkCode == '00' || record.todoLinkCode == '150') {
      //   //00=业务自查
      //   LiaisonReviewRef.value.processHandle(record);
      // } else if (record.todoLinkCode == '80' || record.todoLinkCode == '90') {
      //   //监督联络员审核+含驳回业务自查
      //   BusinessProcessRef.value.processHandle(record);
      // } else if (record.todoLinkCode == '10') {
      //   //核查人员处理审核
      //   VerificationProcessingRef.value.processHandle(record);
      //   //审计检查调责任部门接口
      //   // getResponsibleDeptFn();
      // } else if (record.todoLinkCode == '50') {
      //   //模型管理员处理审核
      //   ReviewedByInspectorsRef.value.processHandle(record);
      // } else if (record.todoLinkCode == '20') {
      //   //纪检研判
      //   DisciplineInspectionHandRef.value.processHandle(record);
      // }
    });
  };

  const close = () => {
    emit('search');
  };
  defineExpose({ processHandle });
</script>
<style lang="less" scoped>
  /deep/.ant-modal {
    width: 50% !important;
  }

  /deep/.ant-form-item {
    margin-bottom: 2rem !important;
  }

  .dotted-box {
    margin-left: 13.5%;
    width: 391px;
    height: 54px;
    border: 1px dashed #eee;
    border-radius: 2px;
    display: flex;
    align-content: center;
  }
  .ant-form-explain {
    color: #f5222d;
    font-size: 14px !important;
  }
  .deliver {
    position: relative;
    .asterisk {
      position: absolute;
      top: 36%;
      left: 16.5%;
      color: #f5222d;
    }
  }
  /deep/.anticon.anticon-paper-clip {
    margin-left: 15px !important;
  }
  // /deep/.ant-upload-list-item-card-actions {
  //   left: 0;
  // }
  /deep/.ant-upload {
    color: rgba(0, 0, 0, 0.4);
  }
  /deep/.ant-upload-list-item-name {
    width: 90% !important;
    margin-left: 10px !important;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
