<template>
  <div>
    <!-- 模型管理员处理审核-->
    <a-form
      ref="businessFormRef"
      :model="state.businessForm"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 16 }"
      :rules="rules1"
      :footer="null"
      @finish="onFinish1"
      @finish-failed="onFinishFailed1"
    >
      <a-form-item label="整改内容" name="rectificationContent" class="mb-20">
        <a-textarea
          v-model:value="state.businessForm.rectificationContent"
          show-count
          :maxlength="500"
          allow-clear
          placeholder="请输入500字符以内"
        />
      </a-form-item>
      <a-form-item label="整改措施" name="rectificationMeasures" class="mb-20">
        <a-textarea
          v-model:value="state.businessForm.rectificationMeasures"
          show-count
          :maxlength="500"
          allow-clear
          placeholder="请输入500字符以内"
        />
      </a-form-item>
      <a-form-item label="整改材料">
        <div class="dropbox">
          <a-upload-dragger
            v-model:fileList="state.fileList"
            name="file"
            :action="`${state.BASE_URL}p/clue/dealWithFileUpload`"
            :before-upload="beforeUpload"
            :headers="state.headers"
            accept=".zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png"
            @change="normFile"
            @preview="onPreview"
          >
            <p class="ant-upload-drag-icon">
              <ArrowUpOutlined></ArrowUpOutlined>
            </p>
            <p class="ant-upload-text">点击或将文件拖拽到这里上传</p>
            <p class="ant-upload-hint"
              >支持扩展名：.zip .rar .doc .docx .pdf .xls .xlsx .jpg .jpeg .png</p
            >
          </a-upload-dragger>
        </div>
      </a-form-item>

      <a-form-item label="经济效益" name="economicBenefits">
        <a-input-number
          v-model:value="state.businessForm.economicBenefits"
          style="width: 100%"
          allow-clear
          placeholder="请输入数值"
          addon-after="万元"
        />
      </a-form-item>
      <a-form-item label="社会效益" name="socialBenefit" class="mb-20">
        <a-textarea
          v-model:value="state.businessForm.socialBenefit"
          show-count
          allow-clear
          placeholder="请输入500字符以内"
          :maxlength="500"
        />
      </a-form-item>
      <a-form-item label="追责问责情况" name="accountabilitySituation" class="mb-20">
        <a-textarea
          v-model:value="state.businessForm.accountabilitySituation"
          show-count
          allow-clear
          placeholder="请输入500字符以内"
          :maxlength="500"
        />
      </a-form-item>
      <a-form-item
        v-if="state.status != '10' && state.status != '25'"
        label="验收部门"
        name="projectDeptCode"
      >
        <a-cascader
          v-model:value="state.businessForm.projectDeptCode"
          placeholder="请选择验收部门"
          allow-clear
          :field-names="{ label: 'text', value: 'code', children: 'children' }"
          :options="state.responsibleDeptData"
          show-search
          style="width: 100%"
          @change="changRresDep"
        >
        </a-cascader>
      </a-form-item>
      <!-- state.status == '10' 表示整改人员提交 人员取上一处理人-->
      <a-form-item
        v-if="state.status != '10' && state.status != '25'"
        label="验收人员"
        name="handleUsername"
        :rules="{
          required: true,
          message: '请选择验收人员',
        }"
      >
        <a-select
          v-model:value="state.businessForm.handleUsername"
          :allow-clear="true"
          show-search
          :filter-option="false"
          placeholder="请选择验收人员"
          :loading="state.allUsers.length == 0"
          @search="handleUserSearch"
          @deselect="getUsersFn(null)"
          @change="(val) => changeUserFn(val)"
        >
          <a-select-option
            v-for="x in state.allUsers"
            :key="x.userId"
            :field-names="{ label: 'username', value: 'userId' }"
            :value="`${x.userId}-${x.username}`"
          >
            <span role="img" class="" :aria-label="x.username">{{ x.username }}</span>
            /
            <span class="select-usercode">{{ x.employeeCode }}</span>
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label="备注" name="remark" class="mb-20">
        <a-textarea
          v-model:value="state.businessForm.remark"
          show-count
          allow-clear
          placeholder="请输入500字符以内"
          :maxlength="500"
        />
      </a-form-item>

      <div class="sub-btn">
        <a-button
          type="primary"
          style="background: #1890ff; color: #fff"
          :loading="state.loading"
          html-type="submit"
          >保存</a-button
        >
      </div>
    </a-form>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance } from 'vue';
  import { ArrowUpOutlined } from '@ant-design/icons-vue';
  import { message, Upload } from 'ant-design-vue';
  import { downloadJson } from '@/utils/request';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { Storage } from '@/utils/Storage';
  import { getDep } from '@/api/supervisionGovern';
  import { getUsersCode } from '@/api/supervisionModel';
  import { getInventoryPush, getHandClue } from '@/api/supervisionGovern/questionInventory';
  const emit = defineEmits(['close']);
  const { proxy } = getCurrentInstance();
  const businessFormRef = ref();
  const state = reactive({
    loading: false,
    businessForm: {
      projectCode: '',
      problemCode: '',
      rectificationContent: '',
      accountabilitySituation: '',
      economicBenefits: '',
      socialBenefit: '',
      rectificationMeasures: '',
      remark: '',
      projectDeptCode: [],
      deptName: '',
      deptCode: '',
      handleUsername: '',
      handleUsernameId: '',
      pushType: '10',
      handType: '20',
      handleOpinion: '',
      id: '',
    },
    BASE_URL: process.env.VUE_APP_BASE_API, // url
    headers: {}, // 上传头
    fileList: [], // 上传的文件列表
    itemTextList: proxy.$dict.getItemsByDictCode('handlingOpinionsjijian'),
    checkTransferSelect: false,
    todoLinkCode: '',
    rectificationList: [],
    allUsers: [],
    responsibleDeptData: [],
    title: '',
    status: '',
  });
  const rules1 = reactive({
    rectificationContent: [{ required: true, message: '请输入整改内容' }],
    rectificationMeasures: [{ required: true, message: '请输入问题简述' }],
    projectDeptCode: [{ required: true, message: '请选择验收部门' }],
    handleUsername: [{ required: true, message: '请选择验收人员' }],
  });

  // 提交
  const onFinish1 = () => {
    state.businessForm.deptCode = state.businessForm.projectDeptCode.join(',');
    state.businessForm.handleOpinion =
      state.status == '40' || state.status == '10' || state.status == '25' ? '20' : '60';
    state.businessForm.handType = state.status == '10' || state.status == '25' ? '30' : '20';
    const _params = {
      ...state.businessForm,
      handleAttachments: state.fileList
        ? state.fileList.map((item) => {
            return item.response.data;
          })
        : [],
    };

    state.loading = true;
    if (state.status == '40' || state.status == '10' || state.status == '25') {
      //走填报整改接口，其他走直接处理==推送
      getHandClue(_params).then((res) => {
        state.loading = false;
        if (res.code == 'OK') {
          message.success('保存成功');
          emit('close');
        } else {
          message.error(res.message);
        }
      });
    } else {
      getInventoryPush(_params).then((res) => {
        state.loading = false;
        if (res.code == 'OK') {
          message.success('保存成功');
          emit('close');
        } else {
          message.error(res.message);
        }
      });
    }
  };
  const onFinishFailed1 = () => {
    console.log('表单校验未通过');
  };

  const processHandle = (val, title) => {
    // console.log('列表传过来的数据', val);
    if (val.status == '10' || val.status == '25') {
      //则取上一处理人
      state.businessForm.handleUsername = val.problemPerson;
      state.businessForm.handleUsernameId = val.problemPersonId;
    }
    state.title = title;
    state.status = val.status;
    state.businessForm.id = val.clueId;
    state.businessForm.projectCode = val.projectCode;
    state.businessForm.problemCode = val.problemCode;

    getResponsibleDeptFn();
  };
  const getResponsibleDeptFn = () => {
    getDep().then((res) => {
      if (res.status === 200) {
        state.responsibleDeptData = res.data.rows.children;
      }
    });
  };
  const changRresDep = (val) => {
    if (val != undefined && val.length == 2) {
      const resDepP = state.responsibleDeptData.find((x) => {
        return x.code === val[0];
      });
      const resDepC = resDepP.children.find((y) => {
        return y.code === val[1];
      });
      state.businessForm.deptName = `${resDepP.text}/${resDepC.text}`;
    } else {
      handleOk();
    }
    getUsersFn(val[1]);
  };
  const changeUserFn = (val) => {
    if (val != undefined) {
      const _p = val.split('-');
      state.businessForm.handleUsername = _p[1];
      state.businessForm.handleUsernameId = _p[0];
    } else {
      state.businessForm.handleUsername = '';
      state.businessForm.handleUsernameId = '';
    }
  };
  const getUsersFn = (val, flag) => {
    //项目责任人-模型管理员列表
    state.allUsers = [];
    let _params = {};
    if (flag == 1) {
      _params = {
        username: val,
        deptCode:
          state.businessForm.projectDeptCode.length == 2 && state.businessForm.projectDeptCode[1],
      };
    } else {
      _params = {
        deptCode: val,
      };
    }

    getUsersCode(_params).then((r) => {
      if (r.data.code == 'OK') {
        state.allUsers = r.data.data;
      }
    });
  };
  const handleUserSearch = (val) => {
    getUsersFn(val, 1);
  };
  // 文件预览
  const onPreview = (file) => {
    const url = file.response.data;
    // 文件下载
    downloadJson(
      'p/clue/file/downLoad',
      {
        filePathName: url,
      },
      file.name,
    ).then(() => {});
  };
  // 请求拦截
  const beforeUpload = (file, fileList) => {
    let flag = true;
    const config = { Authentication: '' };
    const FileExt = file.name.replace(/.+\./, '');
    if (
      ['jpg', 'jpeg', 'png', 'zip', 'rar', 'pdf', 'doc', 'docx', 'xlsx', 'xls'].indexOf(
        FileExt.toLowerCase(),
      ) === -1
    ) {
      message.warning(
        '请上传后缀名为.zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png的文件！',
      );
      return Upload.LIST_IGNORE;
    }
    // 有 token就带上
    if (Storage.get(ACCESS_TOKEN_KEY)) {
      config.Authentication = Storage.get(ACCESS_TOKEN_KEY);
    } else {
      // 没有就别上传
      flag = false;
    }
    state.headers = JSON.parse(JSON.stringify(config));
    // 上传三次就禁止上传了
    if (fileList.length + state.fileList.length > 3) {
      file.status = 'beforeUploadReject';
      flag = false;
    }
    return flag;
  };
  // 文件改变调用
  const normFile = (e) => {
    if (Array.isArray(e)) {
      return e;
    }
    if (e.fileList.length <= 3) {
      state.fileList = e.fileList;
    }
    // 如果大于3条，只保留前三条
    if (e.fileList.length > 3) {
      e.fileList = e.fileList.splice(3, 1);
      message.error('最多只能上传3个文件');
    }
    // 列表绑定
    return e && e.fileList;
  };

  defineExpose({ processHandle });
</script>

<style lang="less" scoped>
  .ant-form-explain {
    color: #f5222d;
    font-size: 14px !important;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
</style>
