<template>
  <div>
    <!-- 处理日志 -->
    <a-table
      :columns="state.columns"
      :data-source="state.dataSource"
      :pagination="false"
      :scroll="{ y: 300 }"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <a
            v-for="(item, index) in record.attrsList"
            :key="index"
            :title="item.realFileName"
            @click="filePreview(item)"
          >
            {{ item.showName }}
            <a-divider v-if="index < record.attrsList.length - 1" type="vertical" />
          </a>
        </template>
      </template>
    </a-table>
    <!-- 展示图片 -->
    <a-image
      :width="200"
      :style="{ display: 'none' }"
      :preview="{
        visible,
        onVisibleChange: setVisible,
      }"
      :src="state.imgUrl"
    />
  </div>
</template>

<script setup lang="ts">
  import { ref, reactive } from 'vue';
  import { downIng, downloadJson } from '@/utils/request';
  import { getLog } from '@/api/supervisionGovern/questionInventory';
  import dict from '@/utils/dict.js';
  const state = reactive({
    dataSource: [],
    pagination: {
      pageSizeOptions: ['10', '20', '30', '40', '100'],
      defaultCurrent: 1,
      defaultPageSize: 100,
      total: 0,
      showQuickJumper: true,
      showSizeChanger: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
    imgUrl: '',
    record: {},
    columns: [
      {
        title: '处理时间',
        dataIndex: 'createDate',
        key: 'createDate',
        width: 180,
        ellipsis: true,
      },
      {
        title: '环节',
        dataIndex: 'todoLink',
        key: 'todoLink',
        width: 150,
        ellipsis: true,
        customRender: ({ record }) => {
          return dict.getItemText('PROBLEM_RECTIFICATION_STATUS', record.todoLink);
        },
      },
      {
        title: '操作人',
        dataIndex: 'handleUsername',
        key: 'handleUsername',
        width: 150,
        ellipsis: true,
      },
      {
        title: '处理结果',
        dataIndex: 'auditStatus',
        key: 'auditStatus',
        width: 100,
        customRender: ({ record }) => {
          return dict.getItemText('RECTIFICATION_TODO_LINK', record.auditStatus) || '-';
        },
      },
      {
        title: '情况说明',
        dataIndex: 'remark',
        key: 'remark',
        width: 300,
        ellipsis: true,
      },
      {
        title: '材料',
        key: 'action',
      },
    ],
  });
  const visible = ref<boolean>(false);
  const setVisible = (value): void => {
    visible.value = value;
  };
  const filePreview = (data) => {
    const url = `p/clue/file/downLoad`;
    // 如果有base64就是图片没有就需要下载 wl
    if (data.base64) {
      downIng(url, { filePathName: data.realFileName }, data.realFileName).then((res) => {
        state.imgUrl = res.target.result;
        setImgVisible(true);
      });
    } else {
      // 文件下载
      downloadJson(
        'p/clue/file/downLoad',
        {
          filePathName: data.realFileName,
        },
        data.realFileName,
      ).then(() => {});
    }
  };
  // 查看图片
  const setImgVisible = () => {
    setVisible(true);
  };
  // 分页操作
  const pagingChange = (selectedRowKeys) => {
    state.pagination.defaultPageSize = selectedRowKeys.pageSize;
    state.pagination.defaultCurrent = selectedRowKeys.current;
    getLogList(state.record);
  };
  // 获取日志
  const getLogList = (data) => {
    if (data.clueId != null) {
      state.record = data;
      const params = {
        pageNum: state.pagination.defaultCurrent ? state.pagination.defaultCurrent : 1,
        pageSize: state.pagination.defaultPageSize ? state.pagination.defaultPageSize : 10,
        clueId: data.clueId,
      };
      getLog(params).then((res) => {
        if (res.code === 'OK') {
          state.pagination.total = res.total;
          state.dataSource = res.data;
        }
      });
    }
  };
  defineExpose({
    getLogList,
  });
</script>

<style></style>
