<template>
  <div class="page-container">
    <div class="header">
      <QueryFilterNew
        ref="QueryFilter"
        :visible="state.show"
        :field-list="fields"
        :isadd-condition-group="false"
        :class="state.show ? null : 'showheigh'"
        @change="onConditionChange"
      ></QueryFilterNew>
      <div class="notifyWay">
        <div v-if="$auth('modellistnew:subscribe')" class="notify-Way3">
          <b> 是否订阅：</b>
          <a-radio-group v-model:value="state.notifyWay3" @change="changeGroup3">
            <a-radio :value="1">是</a-radio>
            <a-radio :value="0">否</a-radio>
          </a-radio-group>
        </div>
        <a-checkbox-group v-model:value="state.notifyWay" @change="changeGroup">
          <b> 业务用途：</b>
          <a-checkbox value="1">疑点模型</a-checkbox>
          <a-checkbox value="2">分析模型</a-checkbox>
        </a-checkbox-group>
        <a-checkbox-group
          v-model:value="state.notifyWay2"
          class="notify-Way2"
          @change="changeGroup2"
        >
          <b> 上线状态：</b>
          <a-checkbox value="1">已上线</a-checkbox>
          <a-checkbox value="0">已下线</a-checkbox>
        </a-checkbox-group>
      </div>

      <div class="search">
        <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
        <a-button type="danger" style="margin-left: 5px" @click="onReset">重置</a-button>
      </div>
    </div>
    <DynamicTable
      :data-source="state.dataSource"
      :columns="columns"
      :row-selection="rowSelection"
      auto-height
      :scroll="{ x: 2000, y: 300 }"
      :loading="state.loading"
      :show-refresh-setting="false"
      @change="onPageChange"
    >
      <template #toolbar>
        <a-button
          v-if="$auth('modellistnew:exportSelect')"
          type="primary"
          @click="exportSelectExcel"
          >导出当前列表</a-button
        >
        <a-button v-if="$auth('modellistnew:export')" type="primary" @click="exportExcel"
          >导出全部数据</a-button
        >
        <a-button v-if="$auth('model:addDatamodel')" type="primary" @click="openAddModal()">
          <PlusOutlined /> 添加模型
        </a-button>
        <a-button
          v-if="$auth('ModellistNew:cloud-upload')"
          type="primary"
          :disabled="!isCheckRows"
          @click="bathOnLine(rowSelection.selectedRowKeys, 1)"
        >
          批量上线
        </a-button>
        <a-button
          v-if="$auth('ModellistNew:cloud-download')"
          type="primary"
          :disabled="!isCheckRows"
          @click="bathOnLine(rowSelection.selectedRowKeys, 0)"
        >
          批量下线
        </a-button>
        <a-button
          v-if="$auth('ModellistNew:delete')"
          type="primary"
          :disabled="!isCheckRows"
          @click="bathDels(rowSelection.selectedRowKeys)"
        >
          批量删除
        </a-button>
        <a-button
          v-if="$auth('modellistnew:purpose')"
          type="primary"
          :disabled="!isCheckRows"
          @click="changePurpose(rowSelection.selectedRowKeys, 2)"
        >
          切换成分析模型
        </a-button>
        <a-button
          v-if="$auth('modellistnew:purposes')"
          type="primary"
          :disabled="!isCheckRows"
          @click="changePurpose(rowSelection.selectedRowKeys, 1)"
        >
          切换成疑点模型
        </a-button>
      </template>
    </DynamicTable>
    <DraggableModal
      v-model:visible="modelDialog.visible"
      :title="state.isEdit ? '编辑模型' : '新增模型'"
      :width="900"
      destroy-on-close
      :footer="null"
      fullscreen
      wrap-class-name="model-wrapClassName"
      @cancel="draggableModalClose"
      @ok="draggableModalClose"
    >
      <ModelForm
        ref="modelForm"
        :visible="modelDialog.visible"
        :is-edit="state.isEdit"
        :is-copy="state.isCopy"
        :default-model-info="state.modelInfo"
        @close-model="handleModelDialogClose"
      ></ModelForm>
    </DraggableModal>
    <!--查看模型-->
    <model-view ref="modelViewRef" :view-visible="VieMshow" @ok="handleViewClose"></model-view>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, onMounted, computed, nextTick, createVNode } from 'vue';
  import { ExclamationCircleOutlined } from '@ant-design/icons-vue';
  import { cloneDeep, isNil } from 'lodash-es';
  import dayjs from 'dayjs';
  import { Modal, message } from 'ant-design-vue';
  import { baseColumns } from './columns';
  import queryFields from './query-field.js';

  import { DraggableModal } from '@/components/core/draggable-modal';
  import ModelView from '@/views/supervisionGovern/modelresult/modelresultView/index.vue';
  import { useTable } from '@/components/core/dynamic-table';
  import { useSupervisionGovern } from '@/store/modules/supervisionGovern';
  import {
    getSupervisionModel,
    getAllUsers,
    downloadModelList,
    onlineStatus,
    updateModel,
    calcModel,
    bathOnlineStatus,
    bathDel,
    bathUpdateModel,
    getAllRoleUsers,
    getUsersAdmin,
    getSubscribe,
  } from '@/api/supervisionModel';

  import { QueryFilterNew } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  import ModelForm from '@/views/supervisionModel/ModelForm.vue';

  defineOptions({
    name: '/supervisionModel/ModellistNew',
  });
  const dateFormat = 'YYYY-MM-DD';
  const fields = QueryFieldConvert.columnFields2QueryFields(queryFields.fieldsTwo);
  const modelForm = ref(null);
  const modelViewRef = ref();
  const QueryFilter = ref();

  const SupervisionGovern = useSupervisionGovern();
  const modelDialog = reactive({
    visible: false,
  });
  const state = reactive<any>({
    canQuery: true,
    filters: [],
    filters1: [],
    show: true,
    loading: false,
    isEdit: true,
    isCopy: false,
    dataSource: [],
    modelOwners: [],
    pagination: {
      current: 1,
      pageSize: 20,
    },
    modelInfo: {},
    sends: [],
    viewVisible: false,
    notifyWay: [''],
    notifyWay2: [''],
    notifyWay3: 0,
    notifyfilters: [],
    notifyfilters2: [],
    notifyfilters3: [],
    loadDataParms: {},
  });

  const exportSelectExcel = async () => {
    Modal.confirm({
      title: '确定要导出当前模型管理列表吗?',
      icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: async () => {
        await downloadModelList(
          { modelName: '', filters: getFilters(), pageNum: null, pageSize: null },
          '当前模型管理列表.xlsx',
        );
      },
    });
  };
  const exportExcel = async () => {
    Modal.confirm({
      title: '确定要导出模型管理列表吗?',
      icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: async () => {
        await downloadModelList(
          { modelName: '', pageNum: null, pageSize: null },
          '模型管理列表.xlsx',
        );
      },
    });
  };

  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      state.filters = QueryFilter.value.getConditionResult();
      state.filters1 = QueryFilter.value.getConditionResult();
      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };

  const filterData = () => {
    const filters: any = [];
    if (!isNil(state.filters)) {
      const filters1 = JSON.parse(JSON.stringify(state.filters1));
      if (filters1 && filters1.length > 0) {
        filters1.forEach((item) => {
          const list: any = [];
          item.forEach((v) => {
            let obj = {};
            const val: any = [];
            if (v.value1 && v.type == 'date') {
              v.value1 = dayjs(v.value1).format(dateFormat);
            }
            if (v.value2 && v.type == 'date') {
              v.value2 = dayjs(v.value2).format(dateFormat);
            }
            if (v.value1) {
              val.push(v.value1);
            }
            if (v.value2) {
              val.push(v.value2);
            }
            let ctype = '';
            if (v.type === 'number') {
              ctype = '2';
            } else if (v.type === 'date') {
              ctype = '4';
            } else if (v.type === 'dict') {
              ctype = '';
            }
            let values = val;
            if (v.type === 'select') {
              values = val[0];
            }
            if (v.type === 'text' && (v.operatorValue == 'CT' || v.operatorValue == 'NCT')) {
              values = val[0];
            }
            obj = {
              columnName: v.field,
              filterType: v.operatorValue,
              columnType: ctype,
              values,
            };
            list.push(obj);
          });
          filters.push(list);
        });
      }
    }

    return filters;
  };
  const changeGroup = (val) => {
    state.notifyWay = val;
  };
  const changeGroup2 = (val) => {
    state.notifyWay2 = val;
  };
  const changeGroup3 = (val) => {
    state.notifyWay3 = val.target.value;
  };
  // 疑点模型
  const businessSearch = () => {
    const filters = [
      {
        columnName: 'businessPurpose',
        filterType: '=',
        columnType: '',
        values: state.notifyWay,
      },
    ];
    return filters;
  };
  // 新增上下线查询
  const onlineSearch = () => {
    const filters = [
      {
        columnName: 'onlineStatus',
        filterType: '=',
        columnType: '',
        values: state.notifyWay2,
      },
    ];
    return filters;
  };
  // 是否订阅
  const subscribe = () => {
    const filters = [
      {
        columnName: 'isSubscribe',
        filterType: '=',
        columnType: '',
        values: state.notifyWay3,
      },
    ];
    return filters;
  };

  const onSearch = () => {
    let filters: any = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0];
    state.notifyfilters = businessSearch();
    state.notifyfilters2 = onlineSearch();
    state.notifyfilters3 = subscribe();

    state.pagination.current = 1;
    loadData();
  };

  const handleModelDialogClose = () => {
    modelDialog.visible = false;
    loadData();
  };
  const resetQ = () => {
    const arr = [
      [
        {
          field: '',
          type: 'text',
          value1: '',
          selectCode: [],
          operatorValue: 'CT',
          operatorList: [],
          name: '',
          cName: '',
          example: null,
          columnType: '1',
          dictCode: null,
        },
      ],
    ];
    QueryFilter.value.setConditionGroups(arr);
    QueryFilter.value.clearConditionResult();
    state.filters = QueryFilter.value.getConditionResult();
  };
  const onReset = () => {
    state.filters1 = [];
    state.pagination.current = 1;
    state.notifyfilters = undefined;
    state.notifyWay = [''];
    state.notifyfilters2 = undefined;
    state.notifyWay2 = [''];
    state.notifyfilters3 = undefined;
    state.notifyWay3 = null;
    resetQ();
    loadData();
  };

  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows) => {
      console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      rowSelection.value.selectedRowKeys = selectedRowKeys;
    },
  });
  const getFilters = () => {
    const filters = state.filters || [];
    if (state.notifyWay[0]) {
      filters.push(state.notifyfilters[0]);
    }
    if (state.notifyWay2[0]) {
      filters.push(state.notifyfilters2[0]);
    }
    if (state.notifyWay3) {
      filters.push(state.notifyfilters3[0]);
    }
    return filters;
  };

  // 是否勾选了表格行
  const isCheckRows = computed(() => rowSelection.value.selectedRowKeys.length);

  const loadData = () => {
    state.loading = true;

    state.loadDataParms = {
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: getFilters(),
    };

    getSupervisionModel(state.loadDataParms).then((r) => {
      if (r.code === 'OK' && r.data) {
        state.dataSource = r.data;
        rowSelection.value.selectedRowKeys.length = 0;
        dynamicTableInstance?.updatePagination({
          total: r.total,
          current: r.pageNum,
          pageSize: r.pageSize,
        });
      } else {
        state.dataSource = [];
        dynamicTableInstance?.updatePagination({
          total: 0,
          current: 1,
          pageSize: 10,
        });
      }
      state.loading = false;
    });
  };

  const onPageChange = (data) => {
    state.pagination.current = data.current;
    state.pagination.pageSize = data.pageSize;
    loadData();
  };

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: 'id',
    bordered: true,
  });
  const VieMshow = computed(() => SupervisionGovern.modelresultView);

  const onRowClicked = async (record: any) => {
    state.viewVisible = true;
    SupervisionGovern.setVisible(true);
    SupervisionGovern.setModelData(record);
    const r = await getAllRoleUsers();
    state.sends = r.data;
    record.sends = state.sends;

    const model = cloneDeep(record);
    if (model.modelConfig != undefined) {
      const config = JSON.parse(model.modelConfig);
      model.modelConfig = config;
    }
    modelViewRef.value.setFormValues(model);
  };

  const handleViewClose = () => {
    SupervisionGovern.setVisible(false);
    state.viewVisible = false;
  };
  // 设置click 事件
  baseColumns[0].customRender = ({ record, value }) => {
    return (
      <span
        onClick={() => {
          onRowClicked(record);
        }}
        style="color:#1890ff;cursor: pointer"
      >
        <a-tooltip title={value} placement="topLeft">
          {value}
        </a-tooltip>
      </span>
    );
  };

  // 调整对应列的render;
  // baseColumns[11].customRender = ({ value }) => {
  //   const user = state.modelOwners.find((x) => x.userId == parseInt(value));
  //   return user != undefined ? user.username : '';
  // };

  const columns = [
    ...baseColumns,
    {
      title: '操作',
      width: 200,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        const actions: any = [];

        actions.push({
          label: '编辑',
          actionType: 'icon',
          icon: 'EditOutlined',
          style: 'color:#1890ff;',
          auth: 'ModellistNew:edit',
          onClick: () => {
            edit(record);
          },
        });
        if (record.onlineStatus != 1) {
          actions.push({
            label: '删除',
            actionType: 'icon',
            icon: 'DeleteOutlined',
            style: 'color:#1890ff;',
            auth: 'ModellistNew:delete',
            onClick: () => {
              del(record.id);
            },
          });
        } else {
          actions.push({
            label: '删除',
            actionType: 'icon',
            icon: 'DeleteOutlined',
            auth: 'ModellistNew:delete',
          });
        }
        if (record.onlineStatus == 0 || record.onlineStatus == -1) {
          // if (record.isTestModel == 10) {
          //   actions.push({
          //     actionType: 'icon',
          //     icon: 'CloudUploadOutlined',
          //     auth: 'ModellistNew:cloud-upload',
          //     effect: 'disable',
          //   });
          // } else {
          actions.push({
            label: '上线',
            actionType: 'icon',
            icon: 'CloudUploadOutlined',
            style: 'color:#1890ff;',
            auth: 'ModellistNew:cloud-upload',
            popConfirm: {
              title: '您确定要上线吗？',
              onConfirm: () => {
                onLine(record.id);
              },
            },
          });
          // }
        }

        if (record.onlineStatus == 1) {
          actions.push({
            label: '下线',
            actionType: 'icon',
            icon: 'CloudDownloadOutlined',
            style: 'color:#1890ff;',
            auth: 'ModellistNew:cloud-download',
            popConfirm: {
              title: '您确定要下线吗？',
              onConfirm: () => {
                offLine(record.id);
              },
            },
          });
        }
        if (record.isSubscribe == 0 || record.isSubscribe == 1) {
          if (record.isSubscribe == 1) {
            actions.push({
              label: '取消订阅',
              actionType: 'icon',
              icon: 'FileExclamationOutlined',
              style: 'color:#1890ff;',
              auth: 'ModellistNew:subscribe-download',
              popConfirm: {
                title: '您确定要取消订阅吗？',
                onConfirm: () => {
                  offsubscribe(record.id);
                },
              },
            });
          } else {
            actions.push({
              label: '订阅',
              actionType: 'icon',
              icon: 'BookOutlined',
              style: 'color:#1890ff;',
              auth: 'ModellistNew:subscribe-upload',
              popConfirm: {
                title: '您确定要订阅吗？',
                onConfirm: () => {
                  onsubscribe(record.id);
                },
              },
            });
          }
        }

        actions.push({
          label: '复制',
          actionType: 'icon',
          icon: 'CopyOutlined',
          style: 'color:#1890ff;',
          onClick: () => {
            copyItem(record);
          },
        });
        if (record.isTestModel == '10') {
          actions.push({
            label: '计算',
            actionType: 'icon',
            icon: 'ReloadOutlined',
            auth: 'ModellistNew:reload',
            style: 'color:#1890ff;',
            onClick: () => {
              calculation(record.id);
            },
          });
        } else {
          if (record.onlineStatus == 1) {
            actions.push({
              label: '计算',
              actionType: 'icon',
              icon: 'ReloadOutlined',
              auth: 'ModellistNew:reload',
              style: 'color:#1890ff;',
              onClick: () => {
                calculation(record.id);
              },
            });
          } else {
            actions.push({
              actionType: 'icon',
              icon: 'ReloadOutlined',
              auth: 'ModellistNew:reload',
              effect: 'disable',
            });
          }
        }
        return actions;
      },
    },
  ];

  const openAddModal = () => {
    state.isEdit = false;
    state.isCopy = false;
    state.modelInfo = {};
    modelDialog.visible = true;
  };
  const draggableModalClose = () => {
    state.modelInfo = {};
  };
  const edit = (record) => {
    state.isEdit = true;
    state.isCopy = false;
    modelDialog.visible = true;
    nextTick(() => {
      state.modelInfo = record;
    });
  };
  const onLine = (val) => {
    doOnlineStatus(val, 1);
  };

  const offLine = (val) => {
    doOnlineStatus(val, 0);
  };

  /**
   * 复制
   * @param recode
   */
  const copyItem = (record) => {
    modelDialog.visible = true;
    nextTick(() => {
      record.id = undefined;
      state.modelInfo = { ...record, onlineStatus: -1 };
      state.isEdit = false;
      state.isCopy = true;
    });

    // state.loading = true;
    // copyModel(val).then((r) => {
    //   state.loading = false;
    //   if (r.code === 'OK') {
    //     loadData();
    //   } else {
    //     message.error(r.data.message);
    //   }
    // });
  };

  /**
   * 上下线
   * @param val
   * @param flag
   */
  const doOnlineStatus = (val: number, flag: number) => {
    const us = getCurrentUser();
    const params: any = {
      onlineStatus: flag,
      id: val,
      updateUser: us.username,
    };

    state.loading = true;
    onlineStatus({ ...params }).then((r) => {
      state.loading = false;
      if (r.success) {
        loadData();
      } else {
        message.error(r.message);
      }
    });
  };
  const del = (val) => {
    Modal.confirm({
      title: '你确定要删除吗？数据删除后将无法进行恢复,请谨慎操作！',
      icon: createVNode(ExclamationCircleOutlined),
      onOk() {
        const params: any = {
          delFlag: 1,
          id: val,
        };
        state.loading = true;
        updateModel({ ...params }).then((r) => {
          state.loading = false;
          if (r.code === 'OK') {
            loadData();
          } else {
            message.error(r.message);
          }
        });
      },
      onCancel() {
        console.log('Cancel');
      },
      class: 'test',
    });
  };
  const bathDels = (ids: Array<number>) => {
    if (ids.length > 0) {
      const arr = state.dataSource.filter((x) => ids.indexOf(x.id) > -1 && x.onlineStatus === 1);
      if (arr.length > 0) {
        message.warning('勾选数据中存在已上线');
        return;
      }
      state.loading = true;
      bathDel(ids.join()).then((r) => {
        state.loading = false;
        if (r.code === 'OK') {
          loadData();
        } else {
          message.error(r.data.message);
        }
      });
    } else {
      message.warning('请选择数据');
    }
  };
  const changePurpose = (ids, purpose) => {
    if (ids.length > 0) {
      const params: any = {
        ids: ids.join(),
        businessPurpose: purpose,
      };
      state.loading = true;
      bathUpdateModel(params).then((r) => {
        state.loading = false;
        if (r.code === 'OK') {
          loadData();
        } else {
          message.error(r.data.message);
        }
      });
    } else {
      message.warning('请选择数据');
    }
  };

  const calculation = (val) => {
    state.loading = true;
    calcModel(val).then((r) => {
      state.loading = false;
      if (r.code === 'OK') {
        loadData();
      } else {
        message.error(r.data.message);
      }
    });
  };
  const bathOnLine = (selections: Array<number>, status: number) => {
    if (selections.length > 0) {
      if (status === 1) {
        const arr = state.dataSource.filter(
          (x) => selections.indexOf(x.id) > -1 && x.onlineStatus === 1,
        );
        if (arr.length > 0) {
          message.warning('勾选数据中存在已上线');
          return;
        }
      } else {
        const arr = state.dataSource.filter(
          (x) => selections.indexOf(x.id) > -1 && x.onlineStatus === 0,
        );
        if (arr.length > 0) {
          message.warning('勾选数据中存在已下线');
          return;
        }
      }

      const params: any = {
        ids: selections.join(),
        onlineStatus: status,
        updataUser: getCurrentUser().username,
      };
      state.loading = true;
      try {
        bathOnlineStatus(params).then((r) => {
          state.loading = false;
          if (r.code === 'OK') {
            loadData();
          } else {
            message.error(r.data.message);
          }
        });
      } catch (e) {
        state.loading = false;
        message.error('操作失败');
      }
    } else {
      message.warning('请选择数据');
    }
  };

  const getCurrentUser = () => {
    const user = JSON.parse(window.sessionStorage.getItem('ACCESS_USER_INFO_KEY'));
    if (user == null || user == undefined || user.value == null || user.value == undefined) {
      throw '获取用户信息失败';
    }
    if (user.value.roleName.indexOf('公司领导') != -1) {
      state.notifyWay = ['1'];
      state.notifyWay2 = ['1'];
    }
    // user.value.roleName.forEach((v)=>{

    // })
    return user.value;
  };
  // 订阅
  const subscribeIs = (id, val) => {
    const params = {
      modelId: id,
      isSubscribe: val,
    };
    state.loading = true;
    getSubscribe(params).then((r) => {
      state.loading = false;
      if (r.data.success) {
        message.success('订阅成功');
        loadData();
      }
    });
  };
  const onsubscribe = (val) => {
    subscribeIs(val, 1);
  };

  const offsubscribe = (val) => {
    subscribeIs(val, 0);
  };
  onMounted(() => {
    // 获得所有的用户 用于查询
    getAllUsers().then((r) => {
      const itemList: any = [];
      r.forEach((v) => {
        const obj = {
          itemText: v.username,
          itemValue: v.userId,
        };
        itemList.push(obj);
      });
      // fields[10].itemDtoList = itemList;
      state.modelOwners = [...r];
    });
    getUsersAdmin({}).then((r) => {
      const userDaata = [];
      if (r.data.data) {
        r.data.data.forEach((v) => {
          const obj = {
            itemText: v.username,
            itemValue: v.username,
          };
          userDaata.push(obj);
        });
        fields.forEach((v) => {
          if (v.name === 'targetUsernames') {
            v.itemDtoList = userDaata;
          }
        });
      }
    });
    // 查询数据吧
    getCurrentUser();
    onSearch();
    // loadData();
  });
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  .header {
    background: #fff;
    margin-bottom: 6px;
    display: flex;
    position: relative;
    .notifyWay {
      display: flex;
      position: absolute;
      top: 10px;
      left: 50px;
    }
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
  .aspace {
    padding-left: 10px;
  }

  .icon-title {
    margin-right: 10px;
  }

  .icon-items {
    color: #1890ff;
  }
  .notify-Way2 {
    margin-left: 50px;
  }
  .notify-Way3 {
    margin-right: 50px;
  }

  /deep/.ant-table-fixed-right {
    z-index: 12;
  }
  /deep/ .rules-group-container {
    margin: 40px 0px 10px 0px;
  }
</style>

<style lang="less">
  .model-wrapClassName {
    .ant-modal-body {
      padding: 12px;
    }
  }
</style>
