<template>
  <div style="width: 100%">
    <a-row>
      <a-col :span="24" class="blockstyle">
        <a-row>
          <a-col :md="24" style="font-size: 22px">
            <a-radio-group v-model:value="mode" :style="{ marginBottom: '8px' }">
              <a-radio-button value="1" style="font-size: 19px">拟关闭事项</a-radio-button>
              <a-radio-button value="2" style="font-size: 19px">继续跟踪事项</a-radio-button>
              <a-radio-button value="3" style="font-size: 19px">已关闭事项</a-radio-button>
              <a-radio-button
                v-if="$auth('dirve:overview:meeting:add')"
                value="4"
                style="font-size: 19px"
                >新增事项</a-radio-button
              >
            </a-radio-group>
          </a-col>
        </a-row>
        <a-table
          :columns="columns"
          :data-source="model.dataSource"
          size="middle"
          :scroll="{ y: 600 }"
          :pagination="false"
          bordered
          style="margin-bottom: 50px"
        >
          <template v-if="$auth('dirve:overview:meeting:operate')" #bodyCell="{ column, record }">
            <template v-if="column.dataIndex === 'action'">
              <span style="color: #2eabff" @click="showModal(record)">修改</span>
            </template>
          </template>
        </a-table>
      </a-col>
      <div ref="yourModal">
        <a-modal
          v-model:visible="visible"
          v-model:title="title"
          width="60%"
          :footer="null"
          :get-container="() => $refs.yourModal"
        >
          <a-form :model="formState">
            <a-row>
              <a-col :span="12">
                <a-form-item
                  label="事项选择"
                  has-feedback
                  :label-col="labelCol"
                  :wrapper-col="wrapperCol"
                  v-bind="validateInfos.type"
                >
                  <a-select v-model:value="formState.type" placeholder="Please select a country">
                    <a-select-option value="1">拟关闭事项</a-select-option>
                    <a-select-option value="2">继续跟踪事项</a-select-option>
                    <a-select-option value="3">已关闭事项</a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
              <a-col :span="12">
                <a-form-item
                  label="责任单位"
                  :label-col="labelCol"
                  :wrapper-col="wrapperCol"
                  v-bind="validateInfos.liabilityUnit"
                >
                  <a-input v-model:value="formState.liabilityUnit" />
                </a-form-item>
              </a-col>
              <a-col :span="12">
                <a-form-item
                  label="提出日期"
                  :label-col="labelCol"
                  :wrapper-col="wrapperCol"
                  v-bind="validateInfos.poseDate"
                >
                  <a-date-picker
                    v-model:value="formState.poseDate"
                    value-format="YYYYMM"
                    picker="month"
                  />
                </a-form-item>
              </a-col>
              <a-col :span="12">
                <a-form-item label="事项描述" :label-col="labelCol" :wrapper-col="wrapperCol">
                  <a-textarea v-model:value="formState.eventDescription" auto-size />
                </a-form-item>
              </a-col>
              <a-col :span="12">
                <a-form-item label="本月进展情况" :label-col="labelCol" :wrapper-col="wrapperCol">
                  <a-textarea v-model:value="formState.progressInstant" auto-size />
                </a-form-item>
              </a-col>
              <a-col :span="24">
                <a-form-item :wrapper-col="{ wrapperCol, offset: 20 }">
                  <a-button type="primary" @click.prevent="onSubmit">保存</a-button>
                  <a-button style="margin-left: 10px" @click="cancel">取消</a-button>
                </a-form-item>
              </a-col>
            </a-row>
          </a-form>
        </a-modal>
      </div>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, ref, watch } from 'vue';
  import { Form, message } from 'ant-design-vue';
  import { query1, query2 } from '@/api/strategyTracking';

  defineOptions({
    name: 'OvervierMinutes',
    inheritAttrs: false,
  });
  // 模态框
  const visible = ref<boolean>(false);
  const title = ref('新增事项');
  const showModal = (record) => {
    title.value = '新增事项';
    if (record === '') {
      resetFields();
    } else {
      title.value = '修改事项';
      formState.id = record.id.toString();
      formState.type = record.type.toString();
      formState.liabilityUnit = record.liabilityUnit;
      formState.poseDate = record.poseDate;
      formState.eventDescription = record.eventDescription;
      formState.progressInstant = record.progressInstant;
    }
    visible.value = true;
  };

  //表格
  const model = reactive({
    dataSource: [],
  });
  const columns = [
    {
      title: '序号',
      width: '4%',
      customRender: (column) => {
        return column.index + 1;
      },
    },
    { title: '提出日期', dataIndex: 'poseDate', key: 'poseDate', width: '6%' },
    { title: '责任单位', dataIndex: 'liabilityUnit', key: 'liabilityUnit', width: '8%' },
    { title: '事项描述', dataIndex: 'eventDescription', key: 'eventDescription', align: 'left' },
    { title: '本月进展情况', dataIndex: 'progressInstant', key: 'progressInstant', align: 'left' },
    {
      title: '状态',
      width: '6%',
      dataIndex: 'type',
      key: 'type',
      customRender: (text) => {
        if (text.value == '1') {
          return '拟关闭';
        } else if (text.value == '2') {
          return '进行中';
        } else if (text.value == '3') {
          return '已关闭';
        }
      },
    },
    {
      title: '操作',
      dataIndex: 'action',
      width: '6%',
      scopedSlots: { customRender: 'action' },
    },
  ];

  // from表单
  const labelCol = {
    xs: { span: 24 },
    sm: { span: 4 }, //控制label的框的长度
  };
  const wrapperCol = {
    xs: { span: 24 },
    sm: { span: 18 }, //控制文本框的长度
  };
  const useForm = Form.useForm;
  const formState = reactive({
    id: '',
    type: '',
    liabilityUnit: '',
    poseDate: '',
    eventDescription: '',
    progressInstant: '',
  });
  const rulesRef = reactive({
    type: [
      {
        required: true,
        message: '不能为空！',
      },
    ],
    liabilityUnit: [
      {
        required: true,
        message: '不能为空！',
      },
    ],
    poseDate: [
      {
        required: true,
        message: '不能为空！',
      },
    ],
  });
  const { resetFields, validate, validateInfos } = useForm(formState, rulesRef, {});

  const mode = ref('1');
  watch(
    () => mode.value,
    (c) => {
      if (c === '4') {
        resetFields();
        visible.value = true;
      } else {
        modeldataSource(c);
      }
    },
  );
  // 查询
  const modeldataSource = (c) => {
    query2({ type: c }).then((result) => {
      model.dataSource = [];
      const data = result.data;
      for (let i = 0; i < data.length; i++) {
        model.dataSource.push(data[i]);
      }
    });
  };
  // 保存和修改
  const onSubmit = () => {
    validate().then(() => {
      query1(formState).then((r) => {
        if (r.code == 'OK') {
          message.success('保存成功');
          modeldataSource(mode.value);
          resetFields();
        } else {
          message.error('保存失败！');
        }
      });
    });
  };
  // 取消
  const cancel = () => {
    resetFields();
    visible.value = false;
  };
  onMounted(() => {
    modeldataSource('1');
  });
</script>

<style lang="less" scoped>
  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
</style>
