<template>
  <div style="width: 100%">
    <a-row :gutter="10">
      <a-col :span="9">
        <div class="bgclass">
          <p class="p_style_1">采购规模</p>
          <a-row :gutter="10">
            <a-col :span="12">
              <p class="nrstyle">资材备件（全口径）</p>
              <div style="height: 130px">
                <ScoringRing :echardata="ANNUAL_BDGT_FINISH_RATE" />
              </div>
              <hr />
              <p class="nrstyle">年度预算：{{ ANNUAL_BDGT_AMT }}万元</p>
              <p class="nrstyle">本月实绩：{{ INV_AMT }}万元</p>
              <p class="nrstyle">累计实绩：{{ YEAR_ARRIVAL_AMT }}万元</p>
            </a-col>
            <a-col :span="12">
              <p class="nrstyle">工程设备（按合同）</p>
              <div style="height: 130px">
                <ScoringRing :echardata="RATE" />
              </div>
              <hr />
              <p class="nrstyle">年度预算：{{ INDICATOR_PROGRESS_TARGET }}万元</p>
              <p class="nrstyle">本月实绩：{{ MONTH_CONTR_AMT }}万元</p>
              <p class="nrstyle">累计实绩：{{ YEAR_TOTAL_CONTR_AMT }}万元</p>
            </a-col>
          </a-row>
        </div>
      </a-col>
      <a-col :span="5">
        <div class="bgclass">
          <p class="p_style_1">吨钢资材备件成本</p>
          <div class="height1">
            <StackedColumnFoldMixedChart
              :x-axis="setoverviewoHZ01.xAxis"
              :y-axis="setoverviewoHZ01.yAxis"
              :series="setoverviewoHZ01.series"
            />
          </div>
          <p class="nrstyle_1">
            年度目标：{{ setoverviewoHZ01.TON_STEEL_COST_TARGET_DECOMPOSE }}元/吨
          </p>
          <p class="nrstyle_1"> 本年累计：{{ setoverviewoHZ01.YEAR_TOTAL_STEEL_COST }}元/吨 </p>
        </div>
      </a-col>
      <a-col :span="5">
        <div class="bgclass">
          <p class="p_style_1">资材备件采购价差实绩</p>
          <div class="height1">
            <StackedColumnFoldMixedChart
              :x-axis="setoverviewoHZ02.xAxis"
              :y-axis="setoverviewoHZ02.yAxis"
              :series="setoverviewoHZ02.series"
            />
          </div>
          <p class="nrstyle_1"> 年度目标：{{ setoverviewoHZ02.YEAR_TARGET }}万元 </p>
          <p class="nrstyle_1"> 本年累计：{{ setoverviewoHZ02.MONTH_PUR_CUTDOWN_AMT }}万元 </p>
        </div>
      </a-col>
      <a-col :span="5">
        <div class="bgclass">
          <p class="p_style_1">资材备件期末库存</p>
          <div class="height1">
            <StackedColumnFoldMixedChart
              :x-axis="setoverviewoHZ03.xAxis"
              :y-axis="setoverviewoHZ03.yAxis"
              :series="setoverviewoHZ03.series"
            />
          </div>
          <p class="nrstyle_1"> 年度目标：{{ setoverviewoHZ03.TARGE_AMT }}万元 </p>
          <p class="nrstyle_1"> 期末库存：{{ setoverviewoHZ03.INV_AMT }}万元 </p>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { nextTick, reactive, ref, watch } from 'vue';
  import { ScoringRing, StackedColumnFoldMixedChart } from '../../componentfile';
  import datatype from './js/dataType';
  import echartsStyle from './js/echartsStyle';
  import mergetableStyle from './js/mergetableStyle';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearmonth,
    () => {
      nextTick(() => {
        query1();
        query2();
        query3();
        query4();
        query5();
      });
    },
  );

  const INV_AMT = ref(0);
  const ANNUAL_BDGT_FINISH_RATE = ref(0);
  const YEAR_ARRIVAL_AMT = ref(0);
  const ANNUAL_BDGT_AMT = ref(0);
  // 采购规模资材备件（全口径）
  const query1 = () => {
    queryAggregate(datatype.parameter('ARRIVAL_YM', props.yearmonth, 2020072515215942)).then(
      (result) => {
        const data = result.data[2020072515215942].dataMap;
        INV_AMT.value = datatype.MonText(data.MONTH_ARRIVAL_AMT[0]);
        ANNUAL_BDGT_FINISH_RATE.value = datatype.XiaoText(data.ANNUAL_BDGT_FINISH_RATE[0]);
        YEAR_ARRIVAL_AMT.value = datatype.MonText(data.YEAR_ARRIVAL_AMT[0]);
        ANNUAL_BDGT_AMT.value = datatype.MonText(data.ANNUAL_BDGT_AMT[0]);
      },
    );
  };

  const RATE = ref(0);
  const MONTH_CONTR_AMT = ref(0);
  const YEAR_TOTAL_CONTR_AMT = ref(0);
  const INDICATOR_PROGRESS_TARGET = ref(0);
  const query2 = () => {
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2022072512134596)).then((result) => {
      const data = result.data[2022072512134596].dataMap;
      YEAR_TOTAL_CONTR_AMT.value = datatype.MonText(data.YEAR_TOTAL_CONTR_AMT[0]);
      RATE.value = datatype.XiaoText(data.RATE[0]);
      MONTH_CONTR_AMT.value = datatype.MonText(data.MONTH_CONTR_AMT[0]);
      INDICATOR_PROGRESS_TARGET.value = datatype.MonText(data.INDICATOR_PROGRESS_TARGET[0]);
    });
  };

  const setoverviewoHZ01 = reactive({
    chart: ['吨钢成本目标', '吨钢成本'],
    xAxis: [],
    yAxis: [{ min: 200 }],
    series: [],
    YEAR_TOTAL_STEEL_COST: 0,
    TON_STEEL_COST_TARGET_DECOMPOSE: 0,
  });
  const query3 = () => {
    queryAggregate(datatype.parameter1('PUR_YM', props.yearmonth, 2023031616395783)).then(
      (result) => {
        const data = result.data[2023031616395783].dataMap;
        setoverviewoHZ01.xAxis = mergetableStyle.toChartxAxis();
        setoverviewoHZ01.series = echartsStyle.echarts01(
          mergetableStyle.toChartSeries(data.TON_STEEL_COST_TARGET_DECOMPOSE),
          mergetableStyle.toChartSeries(data.MONTH_STEEL_COST),
        );
        setoverviewoHZ01.YEAR_TOTAL_STEEL_COST = datatype.XiaoText(
          data.YEAR_TOTAL_STEEL_COST[data.YEAR_TOTAL_STEEL_COST.length - 1],
        );
        setoverviewoHZ01.TON_STEEL_COST_TARGET_DECOMPOSE = datatype.XiaoText(
          data.TON_STEEL_COST_TARGET_DECOMPOSE[0],
        );
      },
    );
  };

  const setoverviewoHZ02 = reactive({
    chart: ['损益口径(不含锌锡)', '锌锡', '合计'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
    MONTH_PUR_CUTDOWN_AMT: 0,
    YEAR_TARGET: 0,
  });
  const query4 = () => {
    queryAggregate(datatype.parameter1('PUR_YM', props.yearmonth, 2022072613298561)).then(
      (result) => {
        const data = result.data[2022072613298561].dataMap;
        setoverviewoHZ02.xAxis = mergetableStyle.toChartxAxis();
        setoverviewoHZ02.series = echartsStyle.echarts02(
          mergetableStyle.toChartSeries(data.SYKJBHXX_AMT),
          mergetableStyle.toChartSeries(data.XX_AMT),
          mergetableStyle.toChartSeries(data.TOTAL_AMT),
        );
      },
    );
    queryAggregate(datatype.parameter('PUR_YM', props.yearmonth, 2022080816187854)).then((r) => {
      const data = r.data[2022080816187854].dataMap;
      setoverviewoHZ02.MONTH_PUR_CUTDOWN_AMT = datatype.MonText(data.MONTH_PUR_CUTDOWN_AMT[0]);
      setoverviewoHZ02.YEAR_TARGET = datatype.MonText(data.YEAR_TARGET[0]);
    });
  };

  const setoverviewoHZ03 = reactive({
    chart: ['钢铁基地', '欧冶工业品', '季度目标'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
    INV_AMT: 0,
    TARGE_AMT: 0,
  });
  const query5 = () => {
    queryAggregate(datatype.parameter1('YM', props.yearmonth, 2023030816395782)).then((result) => {
      const data = result.data[2023030816395782].dataMap;
      setoverviewoHZ03.xAxis = mergetableStyle.toChartxAxis();
      setoverviewoHZ03.series = echartsStyle.echarts03(
        mergetableStyle.toChartSeries(data.GT_AMT),
        mergetableStyle.toChartSeries(data.OG_AMT),
        mergetableStyle.toChartSeries(data.TARGET_AMT),
      );
    });
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023031016395783)).then((r) => {
      const data = r.data[2023031016395783].dataMap;
      setoverviewoHZ03.INV_AMT = datatype.MonText(data.INV_AMT[0]);
      setoverviewoHZ03.TARGE_AMT = datatype.MonText(data.TARGE_AMT[0]);
    });
  };
</script>

<style lang="less" scoped>
  .bgclass {
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    height: 325px;
  }

  .p_style_1 {
    font-size: 22px;
    color: @heading-color;
    line-height: 30px;
    padding-left: 15px;
    font-weight: bold;
  }

  .bjonetwo {
    width: 90%;
    height: 130px;
    margin: 5% 0% 5% 5%;
  }

  .fontsizestyle {
    line-height: 60px;
    margin-bottom: 10px;
  }

  .nrstyle {
    font-size: 18px;
    text-indent: 15px;
    margin-top: 10px;
  }
  .nrstyle_1 {
    font-size: 22px;
    text-indent: 15px;
    margin-top: 10px;
  }

  .height1 {
    height: 180px;
  }
</style>
