<template>
  <div style="width: 100%">
    <!--  锚点定位  -->
    <div style="position: absolute; right: 1%; z-index: 99; float: left; bottom: 80px">
      <a-back-top :target="targetFn">
        <template #prefix>
          <vertical-align-top-outlined />
        </template>
      </a-back-top>
    </div>
    <OverviewSummary
      v-if="navigation[0].active"
      ref="HzPage"
      :yearmonth="props.overmonth"
      :desensitization="props.desensitization"
    />
    <OverviewGkPage
      v-if="navigation[1].active"
      ref="GkPage"
      :yearmonth="props.overmonth"
      :desensitization="props.desensitization"
    />
    <OverviewZlPage
      v-if="navigation[2].active"
      ref="ZlPage"
      :yearmonth="props.overmonth"
      :desensitization="props.desensitization"
    />
    <OverviewCbPage
      v-if="navigation[3].active"
      ref="CbPage"
      :yearmonth="props.overmonth"
      :desensitization="props.desensitization"
    />
    <OverviewKcPage
      v-if="navigation[4].active"
      ref="KcPage"
      :yearmonth="props.overmonth"
      :desensitization="props.desensitization"
    />
    <OverviewZjPzge
      v-show="props.desensitization != '脱敏'"
      v-if="navigation[5].active"
      ref="ZjPzge"
      :yearmonth="props.overmonth"
      :desensitization="props.desensitization"
    />
    <OverviewXlModule
      v-if="navigation[6].active"
      ref="OvervXlModule"
      :overmonth="props.overmonth"
      :desensitization="props.desensitization"
    />
    <OverviewBicarbon
      v-if="navigation[7].active"
      ref="OvervBicarbon"
      :overmonth="props.overmonth"
      :desensitization="props.desensitization"
    />
    <OverviewGiveServiceto
      v-if="navigation[8].active"
      ref="OvervServic"
      :overmonth="props.overmonth"
    />
    <OverviewBasicManagementModule
      v-if="navigation[9].active"
      ref="OvervManagement"
      :overmonth="props.overmonth"
      :desensitization="props.desensitization"
    />
    <OverviewLogistics
      v-if="navigation[10].active"
      ref="WlPage"
      :yearmonth="props.overmonth"
      :desensitization="props.desensitization"
    />
    <OverviewMeetingMinutes v-show="props.desensitization != '脱敏'" v-if="navigation[11].active" />
    <OvervierWorkTips
      v-if="navigation[12].active"
      v-show="props.desensitization != '脱敏'"
      ref="OvervierWork"
      :conditionalmonth="'总览'"
      :overmonth="props.overmonth"
    />
    <OvervierMeetingmaterials
      v-if="navigation[13].active"
      v-show="props.desensitization != '脱敏'"
      ref="OvervieMeeting"
      :title-name="'Overvie'"
    />
  </div>
</template>

<script setup lang="ts">
  import { reactive, ref, nextTick, watch } from 'vue';
  import OvervierMeetingmaterials from './Overviermaterials.vue';
  import OvervierWorkTips from './OvervierWork.vue';
  import OverviewMeetingMinutes from './OvervierMinutes.vue';
  import OverviewBasicManagementModule from './OverviewBasicManagement.vue';
  import OverviewGiveServiceto from './OverviewGiveService.vue';
  import OverviewXlModule from './OverviewXl.vue';
  import OverviewBicarbon from './OverviewBicarbons.vue';
  import OverviewGkPage from './OverviewGkPage.vue';
  import OverviewZlPage from './OverviewZlPage.vue';
  import OverviewCbPage from './OverviewCbPage.vue';
  import OverviewKcPage from './OverviewKcPage.vue';
  import OverviewZjPzge from './OverviewZjPzge.vue';
  import OverviewSummary from './OverviewSummary.vue';
  // import SummaryPage from './SummaryPage.vue';
  import OverviewLogistics from './OverviewLogistics.vue';
  const props = defineProps({
    overmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    desensitization: {
      type: String,
      default: () => {
        return '';
      },
    },
    depdata: {
      type: String,
      default: () => {
        return '';
      },
    },
  });

  const navigation = reactive([
    { name: '总览', active: true },
    { name: '概况', active: false },
    { name: '质量', active: false },
    { name: '成本', active: false },
    { name: '库存', active: false },
    { name: '资金', active: false },
    { name: '效率', active: false },
    { name: '双碳', active: false },
    { name: '服务', active: false },
    { name: '管理', active: false },
    { name: '物流', active: false },
    { name: '决定事项', active: false },
    { name: '工作提示', active: false },
    { name: '会议材料', active: false },
  ]);

  const getActive = (data) => {
    indexNav.activeKey = data;
    for (let i = 0; i < navigation.length; i++) {
      navigation[i].active = false;
      if (data === navigation[i].name) {
        navigation[i].active = true;
      }
    }
    ValueChange();
  };

  const targetFn = () => {
    // console.log(document.querySelector('.tabs-view-content'));
    return document.querySelector('.tabs-view-content');
  };

  const indexNav = reactive({
    activeKey: '总览',
  });
  const OvervieMeeting = ref();
  const OvervierWork = ref();
  const OvervManagement = ref();
  const OvervServic = ref();
  const OvervBicarbon = ref();
  const OvervXlModule = ref();
  const GkPage = ref();
  const ZlPage = ref();
  const CbPage = ref();
  const KcPage = ref();
  const ZjPzge = ref();
  const WlPage = ref();
  const HzPage = ref();

  const ValueChange = () => {
    nextTick(() => {
      const val = indexNav.activeKey;
      if (val == '总览') {
        HzPage.value.hzInitialloading();
      } else if (val == '会议材料') {
        OvervieMeeting.value.searchPDF('Overvie');
      } else if (val == '工作提示') {
        OvervierWork.value.select1('总览');
      } else if (val == '管理') {
        OvervManagement.value.manageSearch();
      } else if (val == '服务') {
        OvervServic.value.ServiceSearch();
      } else if (val == '双碳') {
        OvervBicarbon.value.bicarSearch();
      } else if (val == '效率') {
        OvervXlModule.value.xlSerch();
      } else if (val == '概况') {
        GkPage.value.gkInitialloading();
      } else if (val == '质量') {
        ZlPage.value.zlInitialloading();
      } else if (val == '成本') {
        CbPage.value.cbInitialloading();
      } else if (val == '库存') {
        KcPage.value.kcInitialloading();
      } else if (val == '资金') {
        ZjPzge.value.zjInitialloading();
      } else if (val == '物流') {
        WlPage.value.wlInitialloading();
      }
    });
  };

  watch(
    () => props.overmonth,
    () => {
      ValueChange();
    },
  );
  watch(
    () => props.depdata,
    (c) => {
      getActive(c);
    },
  );
</script>

<style lang="less" scoped>
  .activeTab {
    background: #f5e8b9;
    color: #36a6fe;
    border-bottom: 3px solid #36a6fe;
  }
  .home_navigation {
    font-size: 24px;
    font-weight: bold;
    color: #000c17;
  }
</style>
