<template>
  <a-modal
    v-model:visible="state.show"
    title="密码修改"
    destroy-on-close
    :keyboard="false"
    :mask-closable="false"
    :closable="false"
    @cancel="cancelUpdatePassword"
    @ok="handleUpdatePassword"
  >
    <a-form ref="formRef" :model="formState">
      <a-form-item
        label="旧密码"
        :label-col="state.labelCol"
        :wrapper-col="state.wrapperCol"
        name="oldPassword"
        :validate-trigger="'blur'"
        :rules="[{ required: true, message: '请输入旧密码' }, { validator: handleOldPassword }]"
      >
        <a-input
          v-model:value="formState.oldPassword"
          type="password"
          autocomplete="false"
          placeholder="请输入旧密码"
        ></a-input>
      </a-form-item>
      <a-popover placement="rightTop" trigger="click" :visible="state.passwordLevelChecked">
        <template #content>
          <div :style="{ width: '240px' }">
            <div :class="['update-password', passwordLevelClass]"
              >强度：<span>{{ passwordLevelName }}</span></div
            >
            <a-progress
              :percent="state.percent"
              :show-info="false"
              :stroke-color="passwordLevelColor"
            />
            <div style="margin-top: 10px">
              <span>请至少输入 6 个字符。请不要使用容易被猜到的密码。</span>
            </div>
          </div>
        </template>
        <a-form-item
          label="新密码"
          :label-col="state.labelCol"
          :wrapper-col="state.wrapperCol"
          name="password"
          :validate-trigger="['change', 'blur']"
          :rules="[
            { required: true, message: '至少6位密码，区分大小写' },
            { validator: handlePasswordLevel },
          ]"
        >
          <a-input
            v-model:value="formState.password"
            type="password"
            autocomplete="false"
            placeholder="至少6位密码，区分大小写"
          ></a-input>
        </a-form-item>
      </a-popover>
      <a-form-item
        label="再次确认"
        :label-col="state.labelCol"
        :wrapper-col="state.wrapperCol"
        name="password2"
        :validate-trigger="['change', 'blur']"
        :rules="[
          { required: true, message: '至少6位密码，区分大小写' },
          { validator: handlePasswordCheck },
        ]"
      >
        <a-input
          v-model:value="formState.password2"
          type="password"
          autocomplete="false"
          placeholder="确认密码"
        ></a-input>
      </a-form-item>
    </a-form>
  </a-modal>
</template>

<script lang="ts" setup>
  import { computed, reactive, ref } from 'vue';
  import { FormInstance } from 'ant-design-vue';
  import { checkPassword, updateUserPassword } from '@/api/system/user';
  defineOptions({ name: 'UpdatePassword' });
  const levelNames = {
    0: '低',
    1: '低',
    2: '中',
    3: '强',
  };
  const levelClass = {
    0: 'error',
    1: 'error',
    2: 'warning',
    3: 'success',
  };
  const levelColor = {
    0: '#ff0000',
    1: '#ff0000',
    2: '#ff7e05',
    3: '#52c41a',
  };
  interface FormState {
    oldPassword: string;
    password: string;
    password2: string;
  }
  const props = defineProps({
    user: {
      required: true,
      type: Object,
    },
  });
  const emit = defineEmits(['success']);

  const formRef = ref<FormInstance>();
  const formState = reactive<FormState>({
    oldPassword: '',
    password: '',
    password2: '',
  });
  const state = reactive<any>({
    show: false,
    passwordLevelChecked: false,
    labelCol: { span: 4 },
    wrapperCol: { span: 18 },
    passwordLevel: 0,
    percent: 10,
    progressColor: '#FF0000',
    oldPwdStatus: '',
    oldPwdHelp: '',
  });

  const cancelUpdatePassword = () => {
    state.show = false;
  };

  const handleUpdatePassword = async () => {
    await formRef.value.validateFields();
    const newPassword = formState.password;
    updateUserPassword({
      password: newPassword,
      username: props.user.username,
    }).then(() => {
      state.passwordLevelChecked = false;
      state.show = false;
      emit('success');
    });
  };
  const handleOldPassword = async (rule, value) => {
    if (typeof value !== 'undefined' && value.trim().length) {
      const r = await checkPassword({ password: value, username: props.user.employeeCode });
      if (!r) {
        return Promise.reject('旧密码不正确');
      }
    }
    return Promise.resolve();
  };
  const handlePasswordCheck = (rule, value) => {
    const password = formState.password;
    if (value === undefined) {
      return Promise.reject('请输入密码');
    }
    if (value && password && value.trim() !== password.trim()) {
      return Promise.reject('两次密码不一致');
    }
    return Promise.resolve();
  };
  const handlePasswordLevel = (rule, value) => {
    let level = 0;
    // 判断这个字符串中有没有数字
    if (/[0-9]/.test(value)) {
      level++;
    }
    // 判断字符串中有没有字母
    if (/[a-zA-Z]/.test(value)) {
      level++;
    }
    // 判断字符串中有没有特殊符号
    if (/[^0-9a-zA-Z_]/.test(value)) {
      level++;
    }
    state.passwordLevel = level;
    state.percent = level * 30;
    if (level >= 2) {
      if (level >= 3) {
        state.percent = 100;
      }
      return Promise.resolve();
    } else {
      if (level === 0) {
        state.percent = 10;
      }
      return Promise.reject('密码强度不够');
    }
  };

  const passwordLevelClass = computed(() => {
    return levelClass[state.passwordLevel];
  });
  const passwordLevelName = computed(() => {
    return levelNames[state.passwordLevel];
  });
  const passwordLevelColor = computed(() => {
    return levelColor[state.passwordLevel];
  });

  const open = () => {
    state.show = true;
  };

  defineExpose({
    open,
  });
</script>

<style scoped lang="less"></style>
