<template>
  <div class="page-container">
    <DynamicTable
      header-title="用户管理"
      :data-request="loadTableData"
      auto-height
      :columns="columns"
      :scroll="{ x: 2000, y: 300 }"
      :row-selection="rowSelection"
    >
      <template v-if="isCheckRows" #title>
        <Alert class="w-full" type="info" show-icon>
          <template #message>
            已选 {{ isCheckRows }} 项
            <a-button type="link" @click="rowSelection.selectedRowKeys = []">取消选择</a-button>
          </template>
        </Alert>
      </template>
      <template #toolbar>
        <a-button v-if="$auth('user:add')" type="primary" @click="openUserModal({})">
          <PlusOutlined /> 新增
        </a-button>
        <a-button
          v-if="$auth('user:reset')"
          type="primary"
          :disabled="!isCheckRows"
          @click="resetPwdConfirm(rowSelection.selectedRowKeys)"
        >
          <ReloadOutlined /> 重置密码
        </a-button>
        <a-button
          v-if="$auth('user:delete')"
          type="danger"
          :disabled="!isCheckRows"
          @click="delRowConfirm(rowSelection.selectedRowKeys)"
        >
          <DeleteOutlined /> 删除
        </a-button>
      </template>
    </DynamicTable>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, computed } from 'vue';
  import {
    PlusOutlined,
    DeleteOutlined,
    ExclamationCircleOutlined,
    ReloadOutlined,
  } from '@ant-design/icons-vue';
  import { Modal, Alert, message } from 'ant-design-vue';
  import { userSchemas } from './formSchemas';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import type { TreeDataItem } from '@/core/permission/utils';
  import { useTable } from '@/components/core/dynamic-table';
  import {
    deleteUsers,
    getUserList,
    getUserDetail,
    createUser,
    updateUser,
    resetPasswords,
  } from '@/api/system/user';
  import { useFormModal } from '@/hooks/useModal/index';
  import { getDeptAll, queryDept } from '@/api/system/dept';

  defineOptions({
    name: 'SystemUser',
  });

  const fontColor = '#1890ff';
  interface State {
    expandedKeys: number[];
    departmentIds: number[];
    deptTree: TreeDataItem[];
    userData: any[];
  }

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'userId',
    bordered: true,
  });
  const [showModal] = useFormModal();

  const state = reactive<State>({
    expandedKeys: [],
    departmentIds: [],
    deptTree: [],
    userData: [],
  });

  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      rowSelection.value.selectedRowKeys = selectedRowKeys;
    },
  });

  // 是否勾选了表格行
  const isCheckRows = computed(() => rowSelection.value.selectedRowKeys.length);

  /**
   * @description 打开用户弹窗
   */
  const openUserModal = async (record: Partial<TableListItem> = {}) => {
    await fetchDeptList(); // 加载一下部门获取

    const [formRef] = await showModal<any>({
      modalProps: {
        title: `${record.userId ? '编辑' : '新增'}用户`,
        width: 700,
        bodyStyle: { height: '480px', overflowY: 'scroll' },
        onFinish: async (values) => {
          values.id = record.userId;
          values.deptIds = values.deptIds.checked;
          const res = await (record.userId ? updateUser : createUser)(values);
          if (res && !res.success) return message.error(res.message);
          dynamicTableInstance?.reload();
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: userSchemas,
      },
    });

    formRef?.updateSchema([
      {
        field: 'deptId',
        componentProps: {
          treeData: state.deptTree,
        },
      },
      {
        field: 'deptIds',
        componentProps: {
          treeData: state.deptTree,
        },
      },
    ]);

    if (record?.userId) {
      /** 渲染已选中的部门数据 **/
      const res = await queryDept(record.userId);
      const userIds = res?.rows?.children ? getUserId(res.rows.children) : [];
      arrUserId.value = [];

      const userinfo = await getUserDetail(record?.employeeCode as string);
      const roles = userinfo.roleId ? userinfo.roleId.split(',') : [];

      formRef?.setFieldsValue({
        ...record,
        roles: roles.map((n) => parseInt(n)),
        deptIds: { checked: userIds },
      });

      const updateSchema = [
        { field: 'username', dynamicDisabled: true },
        { field: 'employeeCode', dynamicDisabled: true },
      ];
      formRef?.updateSchema(updateSchema);
    }
  };
  // 获取所有配置的部门权限的id
  const arrUserId: any = ref([]);
  const getUserId = (data) => {
    for (let i = 0; i < data.length; i++) {
      arrUserId.value.push(parseInt(data[i].id));
      if (data[i].hasChildren) {
        getUserId(data[i].children);
      }
    }
    return arrUserId.value;
  };

  /** 获取部门列表 **/
  const fetchDeptList = async () => {
    const dept = (await getDeptAll()) as any;

    const deptTree: TreeDataItem[] = [];
    for (let i = 0; i < dept.rows.children.length; i++) {
      deptTree.push(genDeptTreeItem(dept.rows.children[i]));
    }

    state.deptTree = deptTree;
  };

  const genDeptTreeItem = (item): TreeDataItem => {
    const children: TreeDataItem[] = [];

    if (item.children) {
      for (let i = 0; i < item.children.length; i++) {
        children.push(genDeptTreeItem(item.children[i]));
      }
    }

    return {
      key: parseInt(item.id),
      title: item.title,
      value: parseInt(item.id),
      children: children.length ? children : null,
    };
  };
  /**
   * @description 表格删除行
   */
  const delRowConfirm = async (userId: number | number[]) => {
    if (Array.isArray(userId)) {
      Modal.confirm({
        title: '确定要删除所选的用户吗?',
        icon: <ExclamationCircleOutlined />,
        centered: true,
        onOk: async () => {
          await deleteUsers(userId).finally(dynamicTableInstance?.reload);
        },
      });
    } else {
      await deleteUsers([userId]).finally(dynamicTableInstance?.reload);
    }
  };
  const resetPwdConfirm = async (userIds: number[]) => {
    if (userIds.length > 0) {
      const usernames = state.userData
        .filter((f) => {
          return rowSelection.value.selectedRowKeys.indexOf(f.userId) > -1;
        })
        .map((m) => {
          return m.employeeCode;
        });
      Modal.confirm({
        title: '默认密码@!Obei1234,确定要重置密码吗?',
        icon: <ExclamationCircleOutlined />,
        centered: true,
        onOk: async () => {
          await resetPasswords(usernames).finally(dynamicTableInstance?.reload);
        },
      });
    } else {
      message.warn('请选择记录');
    }
  };

  const loadTableData = async (params: LoadDataParams) => {
    const data = await getUserList({
      ...params,
    });
    rowSelection.value.selectedRowKeys = [];
    state.userData = data.data;

    return {
      list: data.data,
      pagination: { total: data.total, page: params.pageNum, size: params.pageSize },
    };
    // return data;
  };

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 100,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => [
        {
          label: '编辑',
          auth: {
            perm: 'user:update',
            effect: 'disable',
          },
          onClick: () => openUserModal(record),
        },
        {
          label: '删除',
          auth: 'user:delete',
          popConfirm: {
            title: '你确定要删除吗？',
            onConfirm: () => delRowConfirm(record.userId),
          },
        },
        {
          label: '数据表配置',
          auth: 'user:dataConfig',
          actionType: 'icon',
          icon: 'DatabaseOutlined',
          style: `color:${fontColor}`,
          onClick: () => openUserModal(record),
        },
      ],
    },
  ];
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
</style>
