<template>
  <div class="page-container">
    <DynamicTable
      row-key="id"
      :data-request="loadTableData"
      :columns="columnList"
      bordered
      auto-height
      size="small"
    >
    </DynamicTable>
    <DraggableModal
      :visible="state.downloadVisible"
      title="下载绩效报告"
      :width="360"
      destroy-on-close
      @cancel="closeModal"
    >
      <div class="text-c"
        >季度：
        <a-select v-model:value="state.quarterPeriod" style="width: 160px">
          <a-select-option
            v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_QUARTERLY_TYPE')"
            :key="index"
            :value="item.itemValue"
            >{{ item.itemText }}</a-select-option
          >
        </a-select></div
      >
      <template #footer
        ><a-button @click="closeModal">取消</a-button>
        <a-button type="primary" @click="downloadFile">下载</a-button>
      </template>
    </DraggableModal>
    <perApproval
      :title="perApprovalTitle"
      :org-visible="state.appVisible"
      :record="state.record"
      @close-app="closeApprovalModal"
    ></perApproval>
    <!-- 激励明细情况 -->
    <a-modal
      v-model:visible="stateANAL.visible"
      :title="stateANAL.title"
      :width="1100"
      destroy-on-close
      :body-style="{ 'min-height': '240px', padding: '40px 20px' }"
      :footer="null"
      :mask-closable="false"
      @cancel="stateANAL.visible = false"
    >
      <perBonus :record="state.record" />
    </a-modal>
  </div>
</template>

<script setup lang="ts">
  import { reactive, ref } from 'vue';
  import { useRouter } from 'vue-router';
  import { message } from 'ant-design-vue';
  import perApproval from './perApproval/Index.vue';
  import { baseColumns, type TableColumnItem } from './columns'; //table列
  import perBonus from './perBonus/Index.vue';
  import { useTable, type LoadDataParams } from '@/components/core/dynamic-table';
  import { queryOrgList } from '@/api/perAppraisal/apiList';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import dict from '@/utils/dict.js';
  import { useUserStore } from '@/store/modules/user';

  defineOptions({
    name: 'perAppraisal',
  });

  const userInfo = useUserStore().userInfo;
  const router = useRouter();
  const [DynamicTable, dynamicTableInstance] = useTable({
    rowKey: 'ruleCode',
    bordered: true,
  });
  const perApprovalTitle = ref('');
  perApprovalTitle.value = userInfo.employeeCode == '100552' ? '绩效上报' : '绩效审批';
  const state = reactive({
    downloadVisible: false,
    quarterPeriod: '',
    appVisible: false,
    record: {},
  });

  const stateANAL = reactive({
    visible: false,
    title: '',
  });

  const columnList: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 550,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        let actionList = [] as any;
        //查看绩效，type  1是绩效填报人员查看，2是缪丹操作
        actionList = [
          {
            label: '查看绩效',
            auth: 'rule:generalView',
            onClick: () => {
              router.push({ path: '/perAppraisal/perApList', query: { ...record, type: '1' } });
            },
          },
          {
            label: 'KPI评价',
            auth: 'rule:seniorView',
            onClick: () => {
              router.push({ path: '/perAppraisal/perApList', query: { ...record, type: '2' } });
            },
          },
          {
            label: '重点工作',
            auth: 'rule:focusWorkBtn',
            onClick: () => {
              router.push({ path: '/perAppraisal/perWorkList', query: record });
            },
          },
          {
            label: '得分排行',
            auth: 'rule:scoreRankingBtn',
            onClick: () => {
              router.push({
                path: '/perAppraisal/perScoreList',
                query: { orgCode: record.orgCode },
              });
            },
          },
          {
            label: perApprovalTitle.value,
            auth: 'rule:reportBtn',
            onClick: () => {
              openEscalationModal(record);
            },
          },
          {
            label: '激励明细',
            auth: 'rule:BonusAllocatio',
            onClick: () => {
              state.record = record;
              stateANAL.visible = true;
            },
          },
          // {
          //   label: '重点工作邮件',
          //   onClick: () => {
          //     router.push({
          //       path: '/perAppraisal/perEmailList',
          //       query: { ...record },
          //     });
          //   },
          // },
        ];
        return actionList;
      },
    },
  ];

  const loadTableData = async (params: LoadDataParams) => {
    const { data } = await queryOrgList(params);
    if (data.success) {
      return {
        list: data.data,
        pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
      };
    }
  };
  //下载绩效报告
  const openDownloadModal = (row) => {
    message.warning('正在紧急开发中……');
    // state.downloadVisible = true;
  };
  const closeModal = () => {
    state.downloadVisible = false;
  };
  const downloadFile = () => {
    if (!state.quarterPeriod) return message.warning('请选择季度！');
  };
  //绩效上报
  const openEscalationModal = (row) => {
    state.appVisible = true;
    state.record = row;
  };
  const closeApprovalModal = () => {
    state.appVisible = false;
  };
</script>

<style lang="less" scoped>
  .disblayContent {
    height: 100%;
    background: #fff;
    padding: 0 20px;
  }

  /deep/th.text-align {
    text-align: center;
  }
  /deep/.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    text-align: left;
  }
  /deep/.ant-table.ant-table-small {
    font-size: 16px;
  }
  /deep/.ant-table.ant-table-small .ant-table-tbody > tr > td {
    // padding: 6px 8px;
  }
  /deep/.table-action {
    font-size: 18px;
  }
  /deep/.ant-btn > span {
    font-size: 16px;
  }
</style>
