<template>
  <div>
    <a-descriptions :column="4" class="textItem">
      <a-descriptions-item label="疑似问题">
        <span :title="props.keyData.problemType"> {{ props.keyData.problemType || '无' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="监督领域">
        <span> {{ filterBizSystem(props.keyData.bizSystem) }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="业务对象">
        <span> {{ filterBusinessObjs(props.keyData.businessObjs) }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="业务环节">
        <span :title="filterBizIds(props.keyData.bizIds)"> {{ filterBizIds(keyData.bizIds) }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="待办编号">
        <span :title="props.keyData.sid"> {{ props.keyData.sid }}</span>
      </a-descriptions-item>
    </a-descriptions>
  </div>
</template>

<script setup lang="tsx">
  import { getCurrentInstance } from 'vue';
  const { proxy } = getCurrentInstance();
  const props = defineProps({
    keyData: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });

  const filterBizSystem = (val) => {
    if (val != null) {
      return proxy.$dict.getItemText('bizSystem', val);
    } else {
      return false;
    }
  };
  const filterBizIds = (val) => {
    if (val != null) {
      return proxy.$dict.getItemText('bizIds', val);
    } else {
      return false;
    }
  };
  const filterBusinessObjs = (val) => {
    if (val != null) {
      return proxy.$dict.getItemText('businessObject', val);
    } else {
      return false;
    }
  };
</script>
<style scoped>
  .textItem {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 200px;
  }
</style>
