<template>
  <div style="height: 100%">
    <div style="text-align: center">平台累计客户数</div>
    <ChinaMap :chart-map-data="state.list"></ChinaMap>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive } from 'vue';
  import ChinaMap from '@/components/map/ChinaMap.vue';
  import { commafy } from '@/utils/formatter';

  const state = reactive({
    list: [],
  });
  onMounted(() => {
    state.list = [
      { key: '内蒙古', value: commafy(2321, 0) }, //commafy千分位
      { key: '浙江', value: 345 },
      { key: '江苏', value: 123 },
      { key: '新疆', value: 789789 },
      { key: '四川', value: 845 },
      { key: '贵州', value: 69789 },
      { key: '湖南', value: 74789 },
    ];
  });
</script>

<style scoped></style>
