<template>
  <div class="stylewidth">
    <ChinaMap></ChinaMap>
    <a-row class="titlebag">
      <a-col :md="{ span: 7, offset: 8 }" :sm="{ span: 7, offset: 8 }"> 欧贝平台管理驾驶舱 </a-col>
      <a-col :md="{ span: 3, offset: 1 }" class="depstyle">
        <a-select
          v-model:value="depData"
          size="large"
          show-search
          placeholder="请选择"
          class="selectStyle"
          :allow-clear="true"
          @change="depChange"
        >
          <a-select-option
            v-for="(item, index) in state.depOptions"
            :key="index"
            :value="item"
            :label="item"
          >
            {{ item }}
          </a-select-option>
        </a-select>
      </a-col>
      <a-col :md="{ span: 3, offset: 1 }">
        <a-date-picker
          v-model:value="monthvalue"
          class="datastyle"
          :format="monthFormat"
          :disabled-date="disabledDate"
          picker="month"
          @change="onChange"
        />
      </a-col>
    </a-row>
    <SalesDepartment :year-month="conditionalmonth" :dep-data="depData" />
  </div>
</template>

<script setup lang="ts">
  import { onMounted, ref, reactive } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import SalesDepartment from './salesdepartment/SalesDepartment.vue';

  defineOptions({
    name: 'SalesIndex',
    inheritAttrs: false,
  });
  // 时间选择框
  const monthFormat = 'YYYYMM';
  const disabledDate = (current: Dayjs) => {
    return current && current > dayjs().endOf('day');
  };
  const begindate = new Date(new Date() - 1000 * 60 * 60 * 24);
  const year = ref(begindate.getFullYear());
  const month = ref(begindate.getMonth() + 1);
  if (month.value < 10) {
    month.value = `0${month.value}`;
  }
  const yearmonth = `${year.value}${month.value}`.toString();
  const monthvalue = ref<Dayjs>(dayjs(yearmonth, monthFormat));

  const conditionalmonth = ref('');
  function onChange(value, dateString) {
    conditionalmonth.value = dateString;
  }
  const depData = ref('');
  const state = reactive({
    // depData: '东北平台产品销售部',
    depOptions: [
      '东北平台产品销售部',
      '华东大区',
      '华中大区',
      '华北大区(唐山站)',
      '华南大区',
      // '市场营销部',
      // '平台运营中心',
      '欧冶采购',
      // '润益科技',
      '西北大区',
      '西南大区',
      '销售一部',
      '销售二部',
      '销售支持部',
      '资材品类中心',
      '备件品类中心',
      '设备品类中心',
    ],
  });
  const depChange = (val) => {
    // state.depData = val;
    depData.value = val;
  };

  onMounted(() => {
    conditionalmonth.value = yearmonth;
    depData.value = '华南大区';
  });
</script>

<style lang="less" scoped>
  .stylewidth {
    width: 100%;
  }
  .titlebag {
    font-family: @font-family;
    line-height: 80px;
    color: @heading-color;
    background-color: rgba(255, 212, 74, 0.5);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .depstyle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  // .title-size {
  //   font-size: 32px;
  // }
  .datastyle {
    height: 40px;
    top: -5px;
  }
  .selectStyle {
    height: 40px;
    width: 200px;
  }
</style>
