<template>
  <div class="page-container">
    <div class="header">
      <QueryFilterNew
        ref="QueryFilter"
        :visible="state.show"
        :field-list="fields"
        :isadd-condition-group="false"
        :class="state.show ? null : 'showheigh'"
        @change="onConditionChange"
      ></QueryFilterNew>
      <a-checkbox-group v-model:value="state.notifyWay" class="notifyWay" @change="changeGroup">
        <b> 业务用途：</b>
        <a-checkbox value="1">疑点模型</a-checkbox>
        <a-checkbox value="2">分析模型</a-checkbox>
      </a-checkbox-group>
      <div class="search">
        <a-button
          v-if="$auth('HistoryLists:exportSelect')"
          type="primary"
          @click="exportSelectExcel"
          >导出当前列表</a-button
        >
        <a-button
          v-if="$auth('HistoryLists:export')"
          style="margin-left: 10px"
          type="primary"
          @click="exportExcel"
          >导出Excel</a-button
        >
        <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
        <a-button type="danger" @click="onReset">重置</a-button>
      </div>
    </div>
    <DynamicTable
      :loading="state.loading"
      :data-source="state.dataSource"
      :columns="columns"
      auto-height
      :row-selection="rowSelection"
      :scroll="{ x: 2000, y: 300 }"
      @change="onPageChange"
    >
    </DynamicTable>
    <threadProcessingLogModel
      ref="thread"
      :data="state.clueData"
      :visible="state.ThreadProcessingLogShow"
      @ok="modalAction"
      @cancel="modalAction"
    ></threadProcessingLogModel>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, onMounted, watch } from 'vue';
  import { ExclamationCircleOutlined } from '@ant-design/icons-vue';
  import { useRoute } from 'vue-router';
  import dayjs from 'dayjs';
  import { Modal } from 'ant-design-vue';
  import threadProcessingLogModel from '../personalTodo/components/threadProcessingLogModel.vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import queryFields from './query-field.js';
  import { useTable } from '@/components/core/dynamic-table';
  import {
    getSupervisionGovern,
    getAllUsers,
    downloadModelListForModel,
    getDept,
  } from '@/api/supervisionGovern/toDoHistory';
  import { QueryFilterNew } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';

  defineOptions({
    name: 'SupervisionGovern',
  });

  const fields = QueryFieldConvert.columnFields2QueryFields(queryFields.fieldsTwo);

  const QueryFilter = ref();
  const thread = ref();

  const state = reactive({
    loading: false,
    canQuery: true,
    filters: [] as any,
    filters1: [],
    show: true,
    dataSource: [],
    modelOwners: [],
    jumpSource: '',
    pagination: {
      current: 1,
      pageSize: 20,
    },
    clueData: [],
    ThreadProcessingLogShow: false,
    notifyWay: [''],
    notifyfilters: [],
  });
  const router = useRoute();
  // 导出名称更改
  const changeNames = () => {
    let pageName = '';
    if (state.jumpSource == 'doubtfulPoint') {
      pageName = '疑点业务笔数处理记录.xlsx';
    } else if (state.jumpSource == 'variationalProblem') {
      pageName = '确认问题业务笔数处理记录.xlsx';
    } else if (state.jumpSource == 'handoverProblem') {
      pageName = '移交问题业务笔数处理记录.xlsx';
    } else {
      pageName = '当前处理页面列表.xlsx';
    }
    return pageName;
  };

  const exportSelectExcel = async () => {
    Modal.confirm({
      title: '确定要导出当前处理页面列表吗?',
      icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: async () => {
        await downloadModelListForModel(
          { jumpSource: state.jumpSource, filters: getFilters() },
          changeNames(),
        );
      },
    });
  };
  const exportExcel = async () => {
    Modal.confirm({
      title: '确定要导出处理页面列表吗?',
      icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: async () => {
        await downloadModelListForModel({ jumpSource: state.jumpSource }, '处理页面列表.xlsx');
      },
    });
  };
  //列表请求
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      state.filters = QueryFilter.value.getConditionResult();
      state.filters1 = QueryFilter.value.getConditionResult();
      // 防止频繁请求
      // setTimeout(function () {
      state.canQuery = true;
      // }, 500);
    }
  };
  const dateFormat = 'YYYY-MM-DD';
  const filterData = () => {
    const filters = [];
    const filters1 = JSON.parse(JSON.stringify(state.filters1));
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [] as any;
        item.forEach((v: any) => {
          let obj = {} as any;
          const val = [] as any;
          if (v.value1 && v.type == 'date') {
            v.value1 = dayjs(v.value1).format(dateFormat);
          }
          if (v.value2 && v.type == 'date') {
            v.value2 = dayjs(v.value2).format(dateFormat);
          }
          if (v.value1) {
            val.push(v.value1);
          }
          if (v.value2) {
            val.push(v.value2);
          }
          let ctype = '';
          if (v.type === 'number') {
            ctype = '2';
          } else if (v.type === 'date') {
            ctype = '4';
          } else if (v.type === 'dict') {
            ctype = '';
          }
          let values = val;
          if (v.type === 'select') {
            values = val[0];
          }
          if (v.type === 'text' && (v.operatorValue == 'CT' || v.operatorValue == 'NCT')) {
            values = val[0];
          }
          if (v.type === 'tree') {
            values = val[0].join('/');
          }
          obj = {
            columnName: v.field,
            filterType: v.operatorValue,
            columnType: ctype,
            values,
          };
          list.push(obj);
        });
        filters.push(list);
      });
    }
    return filters;
  };
  const getFilters = () => {
    const filters = state.filters || [];
    if (state.notifyWay[0]) {
      filters.push(state.notifyfilters[0]);
    }

    return filters;
  };
  const loadData = () => {
    state.loading = true;

    getSupervisionGovern({
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: getFilters(),
      jumpSource: state.jumpSource,
    }).then((r) => {
      state.loading = false;
      if (r.code == 'OK') {
        if (r && r.data && r.data.pageInfo.list.length == 0 && state.pagination.current != 1) {
          state.pagination.current = 1;
          loadData(); // 重新获取数据
        }
        if (r && r.data.pageInfo.list) {
          state.dataSource = r.data.pageInfo.list || [];
          dynamicTableInstance?.updatePagination({
            total: r.data.pageInfo.total,
            current: r.data.pageInfo.pageNum,
            pageSize: r.data.pageInfo.pageSize,
          });
        }
      } else {
        state.dataSource = [];
        dynamicTableInstance?.updatePagination({
          total: 0,
          current: 1,
          pageSize: 20,
        });
      }
    });
  };
  const onSearch = () => {
    const filters = filterData();
    state.notifyfilters = businessSearch();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0];
    loadData();
  };
  const resetQ = () => {
    const arr = [
      [
        {
          field: '',
          type: 'text',
          value1: '',
          selectCode: [],
          operatorValue: 'CT',
          operatorList: [],
          name: '',
          cName: '',
          example: null,
          columnType: '1',
          dictCode: null,
        },
      ],
    ];
    QueryFilter.value.setConditionGroups(arr);
    QueryFilter.value.clearConditionResult();
    state.filters = QueryFilter.value.getConditionResult();
  };

  const onReset = () => {
    state.pagination.current = 1;
    state.filters1 = [];
    state.notifyfilters = undefined;
    state.notifyWay = [''];
    resetQ();
    loadData();
  };

  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      rowSelection.value.selectedRowKeys = selectedRowKeys;
    },
  });

  const onPageChange = (data) => {
    state.pagination.current = data.current;
    state.pagination.pageSize = data.pageSize;
    loadData();
  };

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: 'id',
    bordered: true,
  });

  // 设置click 事件
  baseColumns[0].customRender = ({ record, value }) => {
    return (
      <a
        onClick={() => {
          dispose(record, record.recordKey);
        }}
        style="color:#1890ff"
      >
        {value}
      </a>
    );
  };

  // 调整对应列的render;
  // baseColumns[6].customRender = ({ value }) => {
  //   const users = value.split(',');
  //   const usersData = users.map(Number);
  //   const test = [];
  //   for (let i = 0; i < state.modelOwners.length; i++) {
  //     for (let j = 0; j < usersData.length; j++) {
  //       if (usersData[j] === state.modelOwners[i].userId) {
  //         test.push(state.modelOwners[i].username);
  //       }
  //     }
  //   }
  //   const lookLength = 3;
  //   return (
  //     <div>
  //       {test.map((i, index) => {
  //         if (index < lookLength) {
  //           return <a-tooltip title={test.join(',')}>{i}</a-tooltip>;
  //         }
  //       })}
  //     </div>
  //   );
  // };

  const columns: TableColumnItem[] = [...baseColumns];

  const dispose = (record, clueName) => {
    state.clueData = record;
    state.ThreadProcessingLogShow = true;
    thread.value.details(record.modelId, clueName);
  };
  const modalAction = () => {
    state.ThreadProcessingLogShow = false;
    loadData();
  };
  // 责任单位数据
  const getCompany = async () => {
    const r = await getDept();
    r.data.rows.children.forEach((v) => {
      v.value = v.code;
      v.key = v.code;
      if (v.children && v.children.length > 0) {
        v.children.forEach((j) => {
          j.title = `${v.title}/${j.title}`;
          j.value = `${v.code}/${j.code}`;
          j.key = `${v.code}/${j.code}`;
        });
      }
    });
    fields.forEach((v) => {
      if (v.name === 'resDepCode') {
        v.itemDtoList = r.data.rows.children;
      }
    });
  };
  const getAllUsersFn = () => {
    getAllUsers().then((r) => {
      const itemList = [];
      r.forEach((v) => {
        const obj = {
          itemText: v.username,
          itemValue: v.userId,
        };
        itemList.push(obj);
      });
      fields.forEach((v) => {
        if (v.name === 'sendTargetUsers') {
          v.itemDtoList = itemList;
        }
      });
      state.modelOwners = [...r];
    });
  };
  const changeGroup = (val) => {
    state.notifyWay = val;
  };
  // 疑点模型
  const businessSearch = () => {
    const filters = [
      {
        columnName: 'businessPurpose',
        filterType: '=',
        columnType: '',
        values: state.notifyWay,
      },
    ];
    //  [
    //   { columnName: 'businessPurpose', filterType: '=', columnType: '', values: ['1'] },
    // ];

    return filters;
  };
  onMounted(() => {
    // 获得所有的用户 用于查询
    getAllUsersFn(); //模型管理员
    getCompany(); //部门列表
    // 查询数据吧
    loadData();
  });

  watch(
    () => router,
    (val) => {
      if (val.query.activeKey) {
        state.filters = [
          {
            columnName: 'createTime',
            filterType: val.query.activeKey == 1 ? '>' : '<',
            columnType: '4',
            values: [`${new Date().getFullYear()}-01-01T00:00:00.772Z`], //日期-必填
          },
        ];
        if (val.fullPath != '/' && val.query.title === '确认问题业务笔数') {
          state.jumpSource = 'variationalProblem';
          loadData();
        } else if (val.fullPath != '/' && val.query.title === '移交问题业务笔数') {
          state.jumpSource = 'handoverProblem';
          loadData();
        } else if (val.fullPath != '/' && val.query.title === '疑点业务笔数') {
          state.jumpSource = 'doubtfulPoint';
          loadData();
        }
      } else if (val.fullPath != '/' && val.query.modelName != undefined) {
        const values =
          val.query.modelName.indexOf(',') > -1
            ? val.query.modelName.split(',')
            : [val.query.modelName];
        state.filters = [
          {
            columnName: 'modelName',
            filterType: '=',
            columnType: '',
            values,
          },
        ];
        loadData();
      } else {
        state.jumpSource = '';
      }
    },
    { immediate: true },
  );
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  .header {
    display: flex;
    position: relative;
    .notifyWay {
      position: absolute;
      top: 10px;
      left: 50px;
    }
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
  .aspace {
    padding-left: 10px;
  }

  .icon-title {
    margin-right: 10px;
  }

  .icon-items {
    color: #1890ff;
  }
  /deep/.ant-table-fixed-right {
    z-index: 12;
  }
  /deep/ .rules-group-container {
    margin: 40px 0px 10px 0px;
  }
</style>
