<template>
  <div class="page-container">
    <div class="header">
      <QueryFilterNew
        ref="QueryFilter"
        :visible="state.show"
        :field-list="fields"
        :isadd-condition-group="false"
        :class="state.show ? null : 'showheigh'"
        @change="onConditionChange"
      ></QueryFilterNew>
      <div class="search">
        <!-- <a-button
          v-if="$auth('HistoryLists:exportSelect')"
          type="primary"
          @click="exportSelectExcel"
          >导出当前列表</a-button
        > -->
        <a-button
          v-if="$auth('HistoryLists:export')"
          style="margin-left: 10px"
          type="primary"
          @click="exportExcel"
          >导出Excel</a-button
        >
        <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
        <a-button type="danger" @click="onReset">重置</a-button>
      </div>
    </div>
    <DynamicTable
      :loading="state.loading"
      :data-source="state.dataSource"
      :columns="columns"
      auto-height
      :row-selection="rowSelection"
      :scroll="{ x: 2000, y: 300 }"
      @change="onPageChange"
    >
    </DynamicTable>
    <ProcessingLogModel
      ref="thread"
      :visible="state.ThreadProcessingLogShow"
      @ok="modalAction"
      @cancel="modalAction"
    ></ProcessingLogModel>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, onMounted } from 'vue';
  // import { useRoute } from 'vue-router';
  import dayjs from 'dayjs';
  import { ExclamationCircleOutlined } from '@ant-design/icons-vue';
  import { Modal } from 'ant-design-vue';
  import ProcessingLogModel from '../modelGroupTodo/components/ProcessingLogModel.vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './modelGroupColumns';
  import queryFields from './modelGroupQueryField.js';
  import { useTable } from '@/components/core/dynamic-table';
  import { getModelGroupHistory, downloadModelList } from '@/api/supervisionGovern/toDoHistory';
  import { QueryFilterNew } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  // import { getUsersAdmin } from '@/api/supervisionModel';
  defineOptions({
    name: '/SupervisionGovern/toDoHistory/modelGroupHistoryLists',
  });

  const fields = QueryFieldConvert.columnFields2QueryFields(queryFields.fieldsTwo);

  const QueryFilter = ref();
  const thread = ref();
  const dateFormat = 'YYYY-MM-DD';
  const state = reactive({
    loading: false,
    canQuery: true,
    filters: [] as any,
    filters1: [],
    show: true,
    dataSource: [],
    modelOwners: [],
    jumpSource: '',
    pagination: {
      current: 1,
      pageSize: 20,
    },
    clueData: [],
    ThreadProcessingLogShow: false,
  });
  // const router = useRoute();

  // const exportSelectExcel = async () => {
  //   downloadModelList(
  //     { jumpSource: state.jumpSource, filters: state.filters },
  //     '当前处理页面列表.xlsx',
  //   );
  // };
  const exportExcel = async () => {
    Modal.confirm({
      title: '确定要导出模型组处理页面列表吗?',
      icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: async () => {
        await downloadModelList({ filters: state.filters }, '模型组处理页面列表.xls');
      },
    });
  };
  //列表请求
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      state.filters = QueryFilter.value.getConditionResult();
      state.filters1 = QueryFilter.value.getConditionResult();
      // 防止频繁请求
      // setTimeout(function () {
      state.canQuery = true;
      // }, 100);
    }
  };

  const filterData = () => {
    const filters = [];
    const filters1 = JSON.parse(JSON.stringify(state.filters1));
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [] as any;
        item.forEach((v: any) => {
          let obj = {} as any;
          const val = [] as any;
          if (v.value1 && v.type == 'date') {
            v.value1 = dayjs(v.value1).format(dateFormat);
          }
          if (v.value2 && v.type == 'date') {
            v.value2 = dayjs(v.value2).format(dateFormat);
          }
          if (v.value1) {
            val.push(v.value1);
          }
          if (v.value2) {
            val.push(v.value2);
          }
          let ctype = '';
          if (v.type === 'number') {
            ctype = '2';
          } else if (v.type === 'date') {
            ctype = '4';
          } else if (v.type === 'dict') {
            ctype = '';
          }
          let values = val;
          if (v.type === 'select' || v.type === 'tree') {
            values = val[0];
          }
          if (v.type === 'text' && (v.operatorValue == 'CT' || v.operatorValue == 'NCT')) {
            values = val[0];
          }
          obj = {
            columnName: v.field,
            filterType: v.operatorValue,
            columnType: ctype,
            values,
          };
          list.push(obj);
        });
        filters.push(list);
      });
    }
    return filters;
  };
  const loadData = () => {
    state.loading = true;
    const filters = state.filters || [];

    getModelGroupHistory({
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters,
      jumpSource: state.jumpSource,
    }).then((r) => {
      state.loading = false;
      if (r.code == 'OK') {
        if (r && r.data && r.data.list.length == 0 && state.pagination.current != 1) {
          state.pagination.current = 1;
          loadData(); // 重新获取数据
        }
        if (r && r.data.list) {
          state.dataSource = r.data.list || [];
          dynamicTableInstance?.updatePagination({
            total: r.data.total,
            current: r.data.pageNum,
            pageSize: r.data.pageSize,
          });
        }
      } else {
        state.dataSource = [];
        dynamicTableInstance?.updatePagination({
          total: 0,
          current: 1,
          pageSize: 20,
        });
      }
    });
  };
  const onSearch = () => {
    const filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0];
    loadData();
  };
  const resetQ = () => {
    const arr = [
      [
        {
          field: '',
          type: 'text',
          value1: '',
          selectCode: [],
          operatorValue: 'CT',
          operatorList: [],
          name: '',
          cName: '',
          example: null,
          columnType: '1',
          dictCode: null,
        },
      ],
    ];
    QueryFilter.value.setConditionGroups(arr);
    QueryFilter.value.clearConditionResult();
    state.filters = QueryFilter.value.getConditionResult();
  };

  const onReset = () => {
    state.pagination.current = 1;
    state.filters1 = [];
    resetQ();
    loadData();
  };

  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      rowSelection.value.selectedRowKeys = selectedRowKeys;
    },
  });

  const onPageChange = (data) => {
    state.pagination.current = data.current;
    state.pagination.pageSize = data.pageSize;
    loadData();
  };

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: 'id',
    bordered: true,
  });

  // 设置click 事件
  baseColumns[0].customRender = ({ record, value }) => {
    return (
      <a
        onClick={() => {
          dispose(record, record.recordKey);
        }}
        style="color:#1890ff"
      >
        {value}
      </a>
    );
  };

  // 调整对应列的render;
  // baseColumns[6].customRender = ({ value }) => {
  //   const users = value.split(',');
  //   const usersData = users.map(Number);
  //   const test = [];
  //   for (let i = 0; i < state.modelOwners.length; i++) {
  //     for (let j = 0; j < usersData.length; j++) {
  //       if (usersData[j] === state.modelOwners[i].userId) {
  //         test.push(state.modelOwners[i].username);
  //       }
  //     }
  //   }
  //   const lookLength = 3;
  //   return (
  //     <div>
  //       {test.map((i, index) => {
  //         if (index < lookLength) {
  //           return <a-tooltip title={test.join(',')}>{i}</a-tooltip>;
  //         }
  //       })}
  //     </div>
  //   );
  // };

  const columns: TableColumnItem[] = [...baseColumns];

  const dispose = (record) => {
    state.clueData = record;
    state.ThreadProcessingLogShow = true;
    thread.value.details(record);
  };
  const modalAction = () => {
    state.ThreadProcessingLogShow = false;
    // loadData();
  };
  onMounted(() => {
    // 查询数据吧
    loadData();
    // getUsersAdmin({}).then((r) => {
    //   const userDaata = [];
    //   if (r.data.data) {
    //     r.data.data.forEach((v) => {
    //       const obj = {
    //         itemText: v.username,
    //         itemValue: v.username,
    //       };
    //       userDaata.push(obj);
    //     });
    //     fields.forEach((v) => {
    //       if (v.name === 'targetUsernames') {
    //         v.itemDtoList = userDaata;
    //       }
    //     });
    //   }
    // });
  });

  // watch(
  //   () => router,
  //   (val) => {
  //     if (val.query.activeKey) {
  //       state.filters = [
  //         {
  //           columnName: 'createTime',
  //           filterType: val.query.activeKey == 1 ? 'thisYear' : 'previousYears',
  //           columnType: '4',
  //           values: ['2023-04-05T09:00:26.772Z', '2023-04-26T09:00:26.772Z'], //没作用的日期但是必填
  //         },
  //       ];
  //       if (val.fullPath != '/' && val.query.title === '确认问题业务笔数') {
  //         state.jumpSource = 'variationalProblem';
  //         loadData();
  //       } else if (val.fullPath != '/' && val.query.title === '移交问题业务笔数') {
  //         state.jumpSource = 'handoverProblem';
  //         loadData();
  //       } else if (val.fullPath != '/' && val.query.title === '疑点业务笔数') {
  //         state.jumpSource = 'doubtfulPoint';
  //         loadData();
  //       }
  //     } else if (val.fullPath != '/' && val.query.modelName != undefined) {
  //       const values =
  //         val.query.modelName.indexOf(',') > -1
  //           ? val.query.modelName.split(',')
  //           : [val.query.modelName];
  //       state.filters = [
  //         {
  //           columnName: 'modelName',
  //           filterType: '=',
  //           columnType: '',
  //           values,
  //         },
  //       ];
  //       loadData();
  //     } else {
  //       state.jumpSource = '';
  //     }
  //   },
  //   { immediate: true },
  // );
</script>
<style lang="less">
  .page-container {
    width: 100%;
  }
  .header {
    display: flex;
    position: relative;
    .notifyWay {
      position: absolute;
      top: 10px;
      left: 50px;
    }
    .search {
      display: flex;

      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
  .aspace {
    padding-left: 10px;
  }

  .icon-title {
    margin-right: 10px;
  }

  .icon-items {
    color: #1890ff;
  }
  /deep/.ant-table-fixed-right {
    z-index: 12;
  }
  /deep/.ant-tooltip {
    max-width: 500px !important;
  }
  .overlayClassName {
    max-width: 40%;
  }
</style>
