<template>
  <div>
    <a-form ref="formRef" :model="modelInfo" :label-col="labelCol" :wrapper-col="wrapperCol">
      <a-row>
        <a-col :span="24" style="margin-left: 1.4%">
          <a-form-item
            label="数据集"
            :label-col="colConfig1.labelCol"
            :wrapper-col="colConfig1.wrapperCol"
            :rules="[{ required: true, message: '请选择数据集' }]"
          >
            <a-select
              v-model:value="myData.datatableIds"
              :allow-clear="true"
              mode="multiple"
              show-search
              class="datatableNames2 datatableNames6"
              :disabled="props.disabled || props.isEdit"
              :filter-option="filterOption"
              @select="selectDataSet"
              @change="changeDataSet"
              @deselect="deSelectDataSet"
            >
              <a-select-option
                v-for="(s, index) in myData.dataSet"
                :key="s.id"
                :title="s.datatableNames"
                >{{ index + 1 + '.' + s.datatableNames }}
              </a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
        <!-- <a-col :span="10">
          <a-form-item
            label="问题归属部门分类字段"
            :label-col="colConfig1.labelCol"
            :wrapper-col="colConfig1.wrapperCol"
          >
            <a-select
              v-model:value="myData.problemDepartment"
              :allow-clear="true"
              show-search
              class="datatableNames1"
              :filter-option="filterOption"
              :disabled="props.disabled || props.isEdit"
            >
              <template v-for="item in myData.sourceTables">
                <a-select-option
                  v-for="t in item.columnsList"
                  :key="`${item.tableName}-${t.columnName}`"
                  :title="t.columnCname"
                  :value="`${item.tableName}-${t.columnName}`"
                  >{{ item.tableCname }}>{{ t.columnCname }}
                </a-select-option>
              </template>
            </a-select>
          </a-form-item>
        </a-col> -->
      </a-row>
      <a-row>
        <a-col v-if="myData.sourceTables.length >= 2" style="margin-left: 1.4%" :span="24">
          <a-form-item
            label="数据集关联关系"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
            :rules="[{ required: true, message: '请选择关联关系' }]"
          >
            <!-- <div style="display: flex; flex-wrap: wrap; width: 100%; justify-content: flex-start"> -->
            <div
              v-for="(item, index) of myData.tableJoinDataLocal.defaultLinks"
              :key="index"
              class="datatableNames2"
              :style="{
                display: 'flex',
                'align-items': 'center',
                'line-height': '36px',
                width: '100%',
              }"
            >
              <Cascader
                v-model:value="item.srcField.selected"
                placeholder="请选择"
                :field-names="{ label: 'cnName', value: 'name', children: 'fieldsCopy' }"
                :options="myData.tableJoinDataLocal.nodes"
                :show-search="{ filter }"
                :disabled="props.disabled || props.isEdit"
                @change="
                  (value) => {
                    item.srcField.selected = value;
                    const table = myData?.tableJoinDataLocal?.nodes?.find(
                      (x) => x.name == value[0],
                    );
                    const column = table?.fieldsCopy?.find((x) => x.name == value[1]);
                    item.srcField.cnName = column?.cnName;
                    item.srcField.example = column?.example;
                    item.srcField.id = column?.id;
                    item.srcField.isPrikey = column?.isPrikey;
                    item.srcField.name = column?.name;
                    item.srcField.newType = column?.newType;
                    item.srcField.sort = column?.sort;
                    item.srcField.schema = table?.schema;
                    item.srcField.tableCname = table?.cnName;
                    item.srcField.tableId = table?.id;
                    item.srcField.tableName = table?.name;
                  }
                "
              />
              <span style="margin: 0px 10px">=</span>
              <Cascader
                v-model:value="item.dstField.selected"
                placeholder="请选择"
                :field-names="{ label: 'cnName', value: 'name', children: 'fieldsCopy' }"
                :options="myData.tableJoinDataLocal.nodes"
                :show-search="{ filter }"
                :disabled="props.disabled || props.isEdit"
                @change="
                  (value) => {
                    item.dstField.selected = value;
                    const table = myData?.tableJoinDataLocal?.nodes?.find(
                      (x) => x.name == value[0],
                    );
                    const column = table?.fieldsCopy?.find((x) => x.name == value[1]);
                    item.dstField.cnName = column?.cnName;
                    item.dstField.example = column?.example;
                    item.dstField.id = column?.id;
                    item.dstField.isPrikey = column?.isPrikey;
                    item.dstField.name = column?.name;
                    item.dstField.newType = column?.newType;
                    item.dstField.sort = column?.sort;
                    item.dstField.schema = table?.schema;
                    item.dstField.tableCname = table?.cnName;
                    item.dstField.tableId = table?.id;
                    item.dstField.tableName = table?.name;
                  }
                "
              />
              <minus-circle-outlined
                :style="{
                  margin: '0px 10px',
                  cursor: index === 0 || props.disabled || props.isEdit ? 'no-drop' : 'pointer',
                  color: index === 0 || props.disabled || props.isEdit ? 'gray' : '#1890ff',
                }"
                @click="
                  index !== 0 && !props.disabled && !props.isEdit && removeTableJoinDataLocal(index)
                "
              />
              <div
                v-if="index === 0"
                :style="{
                  'min-width': '55px',
                  cursor: props.disabled || props.isEdit ? 'no-drop' : 'pointer',
                  color: props.disabled || props.isEdit ? 'gray' : '#1890ff',
                }"
                @click="
                  () => {
                    index === 0 && !props.disabled && !props.isEdit && insertTableJoinDataLocal();
                  }
                "
              >
                <plus-circle-outlined />
                <span style="margin-left: 5px">添加</span>
              </div>
              <div v-else style="min-width: 55px"></div>
            </div>
            <!-- </div> -->
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col v-if="myData.sourceTables.length > 0" style="margin-left: 1.4%" :span="24">
          <a-form-item
            label="数据集字段选择"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
            :rules="[{ required: true, message: '请选择关联字段' }]"
            ><a-card size="small" class="datatableNames2">
              <a-row :gutter="8">
                <a-col
                  v-for="item of myData.tableJoinDataLocal.nodes"
                  :key="item.id"
                  style="margin-right: 30px"
                  :span="6"
                >
                  <a-card size="small">
                    <template #title>
                      <insert-row-above-outlined style="color: #1890ff; margin-right: 10px" />
                      <span :title="`${item.cnName}`">{{ `${item.cnName}` }}</span>
                    </template>
                    <template #extra>
                      <eye-outlined
                        style="color: #1890ff; margin-left: 10px; cursor: pointer"
                        @click="showDetailDialog(item.id)"
                      />
                    </template>
                    <div style="display: flex; align-items: center">
                      <a-checkbox
                        v-model:checked="item.checkedAll"
                        style="margin-right: 10px"
                        :disabled="
                          props.disabled || (props.isEdit && props.modelInfo.onlineStatus == 1)
                        "
                        @change="
                          () => {
                            item.fields.forEach((column) => {
                              column.checked = item.checkedAll;
                            });
                            item.fieldsCopy.forEach((column) => {
                              column.checked = item.checkedAll;
                            });
                          }
                        "
                      />
                      <a-input
                        v-model:value="item.searchKey"
                        placeholder="请输入搜索关键词"
                        :disabled="
                          props.disabled || (props.isEdit && props.modelInfo.onlineStatus == 1)
                        "
                        @change="
                          () => {
                            if (item.searchKey) {
                              item.fields = cloneDeep(
                                item.fieldsCopy.filter(
                                  (x) =>
                                    x.cnName.indexOf(item.searchKey) > -1 ||
                                    x.name.indexOf(item.searchKey) > -1,
                                ),
                              );
                            } else {
                              item.fields = cloneDeep(item.fieldsCopy);
                            }
                          }
                        "
                      >
                        <template #addonAfter>
                          <search-outlined />
                        </template>
                      </a-input>
                    </div>
                    <div class="divider" />
                    <div style="max-height: 155px; overflow-y: auto">
                      <div
                        v-for="column of item.fields"
                        :key="column.id"
                        style="display: flex; align-items: center"
                      >
                        <a-checkbox
                          v-model:checked="column.checked"
                          style="margin-right: 10px"
                          :disabled="
                            props.disabled || (props.isEdit && props.modelInfo.onlineStatus == 1)
                          "
                          @change="
                            () => {
                              if (
                                item.fields.filter((x) => x.checked).length !== item.fields.length
                              ) {
                                item.checkedAll = false;
                              } else {
                                item.checkedAll = true;
                              }
                              item.fieldsCopy.forEach((x) => {
                                if (x.id == column.id) {
                                  x.checked = column.checked;
                                }
                              });
                            }
                          "
                        />
                        <span
                          :title="`${column.cnName}`"
                          style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis"
                          >{{ column.cnName }}</span
                        >
                      </div>
                    </div>
                  </a-card>
                </a-col>
              </a-row>
            </a-card>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col style="margin-left: 1.4%" :span="24">
          <a-form-item
            label="新增字段"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
          >
            <composite-field
              ref="compositeFields"
              class="datatableNames2"
              :select-data-tables="myData.selectDataTables"
              :default-value="
                props.modelInfo && props.modelInfo.modelConfig
                  ? props.modelInfo.modelConfig.compositeColumnList
                  : []
              "
              @notice-exp="getCompositeConditions"
              @getTableRelationList="getTableRelationList"
            ></composite-field>
          </a-form-item>
        </a-col>
      </a-row>
      <!-- <a-row>
        <a-col :md="21" :sm="24">
          <a-form-item
            label="新增字段"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
          >
            <CompositeFieldNew
              ref="compositeFieldsNew"
              class="datatableNames"
              :select-data-tables="myData.selectDataTables"
              :default-value="
                props.modelInfo && props.modelInfo.modelConfig
                  ? props.modelInfo.modelConfig.customColumnList
                  : []
              "
              @notice-exp="getCompositeFieldsNew"
              @getTableRelationList="getTableRelationList"
            ></CompositeFieldNew>
          </a-form-item>
        </a-col>
      </a-row> -->
      <!-- <div class="divider" /> -->
      <a-row>
        <a-col style="margin-left: 1.4%" :span="24">
          <a-form-item
            label="过滤条件"
            class="dynamicRules-compositeConditions"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
            :rules="[{ required: true, message: '请选择过滤字段' }]"
          >
            <filter-content
              ref="filtersContent"
              class="datatableNames5"
              :composite-conditions="myData.compositeConditions"
              :max-tag-count="8"
              :default-conditions="
                props.modelInfo && props.modelInfo.modelConfig
                  ? props.modelInfo.modelConfig.conditionFilter
                  : null
              "
            >
            </filter-content>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col style="margin-left: 1.4%" :span="24">
          <a-form-item
            label="排序条件"
            class="dynamicRules-sortingConditions"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
          >
            <sorting-condition
              ref="sortingConditions"
              class="datatableNames2"
              :default-value="
                props.modelInfo && props.modelInfo.modelConfig
                  ? props.modelInfo.modelConfig.orderConditionList
                  : []
              "
            ></sorting-condition>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col :md="21" :sm="24">
          <div class="tryRun">
            <a-button type="danger" class="testRun" @click="preShowResult"> 试运行 </a-button></div
          >
        </a-col>
      </a-row>
      <div v-if="props.footerButtonsVisible">
        <div
          v-if="
            props.isEdit &&
            Object.hasOwn(props.modelInfo, 'onlineStatus') &&
            props.modelInfo.onlineStatus != 1
          "
          class="warning"
        >
          <!-- <span>注：变更模型规则，历史数据将被清除！！！</span> -->
        </div>
        <div class="steps-action">
          <!-- <a-button @click="preStep"> 上一步 </a-button> -->
          <a-button
            type="primary"
            style="margin-left: 10px"
            :loading="myData.loading"
            @click="save"
          >
            完成
          </a-button>
          <a-button style="margin-left: 10px" @click="closeModel"> 关闭弹窗 </a-button></div
        >
      </div>
    </a-form>
    <div id="modalBox">
      <Modal
        v-if="state.dialog.visible"
        v-model:visible="state.dialog.visible"
        destroy-on-close
        :title="state.dialog.title"
        :mask-closable="false"
        width="100%"
        :footer="null"
        wrap-class-name="table-detail-special1"
        @cancel="state.dialog.visible = false"
      >
        <PreviewSource ref="previewSource"></PreviewSource>
      </Modal>
    </div>

    <!-- 查看弹框 -->
    <Modal
      v-model:visible="state.eyeVisible"
      :title="`预览\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0共计${state.total}条`"
      width="900px"
      cancel-text="取消"
      ok-text="确定"
      @ok="state.eyeVisible = false"
    >
      <Table
        :ok-button-props="{}"
        :columns="state.showColumns"
        :data-source="state.dataSource"
        :loading="state.loading"
        :pagination="false"
        :row-key="
          () => {
            return Math.random() * 10000000;
          }
        "
        :scroll="{ x: 800, y: 300 }"
      ></Table>
    </Modal>
  </div>
</template>

<script setup lang="ts">
  import { computed, nextTick, onMounted, provide, reactive, ref, watch } from 'vue';
  import { debounce, cloneDeep, remove, groupBy, uniq } from 'lodash-es';
  import {
    FormInstance,
    message,
    message as $message,
    Cascader,
    Modal,
    Table,
  } from 'ant-design-vue';
  import PreviewSource from './PreviewSource.vue';
  import type { ShowSearchType } from 'ant-design-vue/es/cascader';
  import CompositeField from '@/components/business/dynamicRuleSection/CompositeField.vue';
  // import CompositeFieldNew from '@/components/business/dynamicRuleSection/CompositeFieldNew.vue';
  import FilterContent from '@/components/business/dynamicRuleSection/FiltersContent.vue';
  import SortingCondition from '@/components/business/dynamicRuleSection/SortingConditions.vue';
  import {
    addModel,
    getDataSetItemById,
    getDataSetItemByIds,
    updateModel,
  } from '@/api/supervisionModel';
  import { getDatasetList, getDatasetPreview } from '@/api/dataAdministration/dataset';
  import TableJoin from '@/components/business/x6editor/TableJoin.vue';
  // import { useTable } from '@/components/core/dynamic-table';
  import { useModal } from '@/hooks';

  defineOptions({
    name: 'DynamicRules',
  });
  interface MyData {
    compositeConditions: Array<any>;
    allUsers: Array<any>;
    dataSet: Array<any>;
    dataColumns: Array<any>;
    tableJoinData: Array<any>;
    sourceTables: Array<any>; // 数据集
    tablePrimaryKeyList: Array<any>;
    dataTableDefaultSelect: Array<any>;
    selectDataTables: Array<any>;
    problemSelectData: Array<any>;
    datatableIds: Array<any>;
    datatableNames: Array<any>;
    problemDepartment: string;
    loading: boolean;
    dataSetChange: boolean;
    tableJoinDataLocal: Array<any>;
  }
  const myData = reactive<MyData>({
    compositeConditions: [],
    allUsers: [],
    dataSet: [],
    dataColumns: [],
    tableJoinData: [],
    sourceTables: [], // 数据集
    tablePrimaryKeyList: [],
    dataTableDefaultSelect: [],
    selectDataTables: [],
    problemSelectData: [],
    datatableIds: [],
    datatableNames: [],
    problemDepartment: '',
    loading: false,
    dataSetChange: false,
    tableJoinDataLocal: [],
  });
  provide(
    'editEnabled',
    computed(() => {
      if (props.disabled) {
        return false;
      } else {
        console.log('props.modelInfo', props.modelInfo);

        if (props.modelInfo && Object.hasOwn(props.modelInfo, 'onlineStatus')) {
          if (props.isCopy) {
            return true;
          } else {
            const onlineStatus = props.modelInfo.onlineStatus;
            return onlineStatus != 1;
          }
        } else {
          return true;
        }
      }
    }),
  );
  provide(
    'dataSet',
    computed(() => {
      return myData.sourceTables;
    }),
  );

  const fieldsRelation = ref(null);
  const compositeFields = ref(null);
  const compositeFieldsNew = ref(null);
  const filtersContent = ref(null);
  const sortingConditions = ref(null);
  const formRef = ref<FormInstance>();
  const colConfig = reactive({
    labelCol: { span: 2 },
    wrapperCol: { span: 20, offset: 0 },
  });
  const colConfig1 = reactive({
    labelCol: { span: 2 },
    wrapperCol: { span: 20, offset: 0 },
  });
  const props = defineProps({
    labelCol: Object,
    wrapperCol: Object,
    modelType: {
      type: String,
      default: 'static',
    },
    isTestModel: {
      type: String,
      default: '20',
    },
    defaultModelInfo: {
      type: Object,
      default: () => {},
      required: false,
    },
    disabled: {
      type: Boolean,
      default: false,
      required: false,
    },
    isCopy: {
      type: Boolean,
      default: false,
    },
    isEdit: {
      type: Boolean,
      default: false,
      required: false,
    },
    fromModelDetail: {
      type: Boolean,
      default: false,
    },
    footerButtonsVisible: {
      type: Boolean,
      default: true,
      required: false,
    },
    modelInfo: {
      type: Object,
      default: () => {},
      required: false,
    },
  });
  const emit = defineEmits(['preStep', 'onSuccess', 'closeModel', 'validate']);

  const state = reactive({
    eyeVisible: false,
    showColumns: [],
    dataSource: [],
    total: 0,
    loading: false,
    dialog: {
      visible: false,
      title: '执行日志',
    },
  });
  const showDetailDialog = (id) => {
    state.eyeVisible = true;
    state.loading = true;
    const params = { pageSize: 10, pageNum: 1, id };

    getDatasetPreview({ ...params })
      .then((r) => {
        const columns: any = [];
        if (r.success) {
          r.data.modelsDetailHeads.forEach((item) => {
            columns.push({
              title: item.columnCname,
              dataIndex: item.columnName,
              key: item.columnName,
              width: 150,
              ellipsis: true,
            });
          });
          state.showColumns = [...columns];

          state.dataSource = [...r.data.modelList];
          state.total = r.total;
        } else {
          $message.error('数据异常！');
        }
        state.loading = false;
      })
      .catch(() => {
        state.loading = false;
      });
  };

  const filter: ShowSearchType['filter'] = (inputValue, path) => {
    return path.some(
      (option) =>
        !option.fieldsCopy && option.cnName.toLowerCase().indexOf(inputValue.toLowerCase()) > -1,
    );
  };

  const removeTableJoinDataLocal = (index) => {
    myData.tableJoinDataLocal.defaultLinks = remove(
      myData.tableJoinDataLocal.defaultLinks,
      (_x, linkIndex) => {
        return index !== linkIndex;
      },
    );
  };

  const insertTableJoinDataLocal = () => {
    if (myData.tableJoinDataLocal.defaultLinks.length < myData.sourceTables.length * 3) {
      myData.tableJoinDataLocal.defaultLinks.push({
        srcField: {
          id: '',
          name: '',
          cnName: '',
          isPrikey: '',
          example: '',
          newType: '',
          tableCname: '',
          tableId: '',
          tableName: '',
          sort: '',
          schema: '',
          selected: [],
        },
        dstField: {
          id: '',
          name: '',
          cnName: '',
          isPrikey: '',
          example: '',
          newType: '',
          tableCname: '',
          tableId: '',
          tableName: '',
          sort: '',
          schema: '',
          selected: [],
        },
      });
    } else {
      $message.warning(`最多可添加数据源数量乘3的关联关系（${myData.sourceTables.length * 3}个）`);
      return;
    }
  };

  // 获取关联字段 必须
  const getTableRelationField = () => {
    const list: any = [];
    const data = myData.tableJoinDataLocal;
    if (data.defaultLinks.find((x) => !x.srcField.id || !x.dstField.id)) {
      return [];
    }
    data.defaultLinks.forEach((x) => {
      list.push({
        joinType: 1,
        leftColCname: x.srcField.cnName,
        leftColId: x.srcField.id,
        leftColName: x.srcField.name,
        leftTabCname: x.srcField.tableCname,
        leftTabId: x.srcField.tableId,
        leftTabName: x.srcField.tableName,
        leftTableScheme: x.srcField.schema,
        rightColCname: x.dstField.cnName,
        rightColId: x.dstField.id,
        rightColName: x.dstField.name,
        rightTabCname: x.dstField.tableCname,
        rightTabId: x.dstField.tableId,
        rightTabName: x.dstField.tableName,
        rightTableScheme: x.dstField.schema,
      });
    });
    return list;
  };
  const getTableRelationList = () => {
    // 关联字段
    let resultRelation = getTableRelationField();
    if (myData.sourceTables.length > 1 && resultRelation.length === 0) {
      throw new Error('请选择关联字段');
    }
    if (resultRelation.length === 0) {
      resultRelation = [];
      resultRelation.push({
        leftTabCname: myData.sourceTables[0].tableCname,
        leftTabId: myData.sourceTables[0].id,
        leftTabName: myData.sourceTables[0].tableName,
        leftTableScheme: myData.sourceTables[0].tableScheme,
      });
    }
    compositeFields.value.getTab(resultRelation);
  };
  const [ModalRender] = useModal();
  const previewSource = ref();
  const preShowResult = () => {
    try {
      const p = cloneDeep(getParams());
      state.dialog.visible = true;
      nextTick(() => {
        previewSource.value.openByParam(p);
      });
    } catch (e: any) {
      message.error(e.message);
    }
  };
  const getCompositeConditions = () => {
    // console.log('触发了');
    const r = getCompositeFieldInfo();
    if (r.code === 1) {
      nextTick(() => {
        myData.compositeConditions = r.data;
      });
    }
  };
  // 获取复核字段
  const getCompositeFieldInfo = () => {
    console.log('compositeFields.value.getResult()', compositeFields.value.getResult());

    return compositeFields.value.getResult();
  };
  const getCompositeFieldsNew = () => {
    const r = getFiltersContent();
    if (r.code === 1) {
      nextTick(() => {
        myData.customColumnList = r.data;
      });
    }
  };
  // 获取新增字段
  const getCustomColumnList = () => {
    return compositeFieldsNew.value.getResult();
  };
  // 获取过滤字段
  const getFiltersContent = () => {
    return filtersContent.value.getResult();
  };
  //获取排序字段
  const getSortingConditions = () => {
    return sortingConditions.value.getResult();
  };
  // 获取请求入参
  const getParams = () => {
    const params: any = {};
    // 选择数据集 必须
    const resultDataTable = cloneDeep(myData.selectDataTables);
    if (resultDataTable.length == 0) {
      throw new Error('请选择数据集');
    }
    params.datatableList = resultDataTable;
    // 关联字段
    const resultRelation = cloneDeep(getTableRelationField());
    if (myData.sourceTables.length > 1 && resultRelation.length === 0) {
      throw new Error('请选择关联字段');
    } else {
      const groupByList = groupBy(resultRelation, (x) => {
        return `${x.leftTabName},${x.rightTabName}-${x.rightTabName},${x.leftTabName}`;
      });
      for (const [key] of Object.entries(groupByList)) {
        let count = 0;
        const key1 = key.split('-')[0];
        const key2 = key.split('-')[1];
        count += groupByList[key].length;
        if (groupByList[`${key2}-${key1}`]) {
          count += groupByList[`${key2}-${key1}`].length;
        }
        if (count > 3) {
          throw new Error('两表之间的关联关系最多选3个字段');
        }
      }

      if (myData.sourceTables.length > 1) {
        const temp: Array<any> = [];
        const groupByList1 = groupBy(resultRelation, (x) => {
          return x.leftTabName;
        });
        const groupByList2 = groupBy(resultRelation, (x) => {
          return x.rightTabName;
        });
        const keys1 = Object.keys(groupByList1);
        const keys2 = Object.keys(groupByList2);
        if (uniq(temp.concat(keys1).concat(keys2)).length < myData.sourceTables.length) {
          throw new Error('请完善数据集关联关系');
        }
      }
    }
    if (resultRelation.length === 0) {
      resultRelation.push({
        leftTabCname: myData.sourceTables[0].tableCname,
        leftTabId: myData.sourceTables[0].id,
        leftTabName: myData.sourceTables[0].tableName,
        leftTableScheme: myData.sourceTables[0].tableScheme,
      });
    }
    params.tableRelationList = cloneDeep(resultRelation);
    // 业务主键 必须
    params.tablePrimaryKeyList = cloneDeep(myData.tablePrimaryKeyList);
    params.problemDepartment = myData.problemDepartment;
    // 复合字段
    const resultCompositeField = cloneDeep(getCompositeFieldInfo());
    if (resultCompositeField.code != 1) {
      throw new Error(resultCompositeField.msg);
    }
    params.compositeColumnList = resultCompositeField.data;

    // //新增字段
    // const customColumnList = cloneDeep(getCustomColumnList());
    // if (customColumnList.code != 1) {
    //   throw new Error(customColumnList.msg);
    // }
    // params.customColumnList = customColumnList.data;

    const resultFiltersContent = cloneDeep(getFiltersContent());
    if (resultFiltersContent.code != 1) {
      throw new Error(resultFiltersContent.msg);
    }
    params.conditionFilter = resultFiltersContent.data;

    const resultSort = cloneDeep(getSortingConditions());
    if (resultSort.code != 1) {
      throw new Error(resultSort.msg);
    }
    params.orderConditionList = resultSort.data;

    // console.log(2222, params);
    return params;
  };
  const preStep = () => {
    emit('preStep');
  };
  const closeModel = () => {
    emit('closeModel');
  };
  const save = debounce(async () => {
    emit('validate', null, async (e) => {
      if (e) {
        try {
          await formRef.value.validateFields();
          const data = cloneDeep(getParams());
          // console.log(props.modelInfo);

          await postParams(
            Object.assign(cloneDeep(props.modelInfo), {
              modelConfig: data,
              problemDepartmentField: myData.problemDepartment,
            }),
          );
        } catch (e: any) {
          if (e.errorFields && e.errorFields != undefined) {
            message.error(e.errorFields[0].errors);
          } else {
            message.error(e.message);
          }
        }
      }
    });
  }, 500);
  const postParams = async (modelInfos) => {
    const modelInfo = cloneDeep(modelInfos) as API.ModelInfo;
    if (
      modelInfo.cronExpression == undefined ||
      modelInfo.cronExpression === '' ||
      modelInfo.cronExpression == null
    ) {
      modelInfo.cronExpression = '0 0 4 3 */1 ?';
    }
    const params: any = {
      cronExpression: modelInfo.cronExpression,
      bizIds: modelInfo.bizIds,
      businessObjs: modelInfo.businessObjs,
      modelType: modelInfo.modelType,
      isTestModel: modelInfo.isTestModel,
      modelName: modelInfo.modelName,
      description: modelInfo.description,
      // createUser: modelInfo.updateUser,
      modelConfig: modelInfo.modelConfig,
      sendTargetUsers: modelInfo.sendTargetUsers,
      targetUsernames: modelInfo.targetUsernames,
      businessPurpose: modelInfo.businessPurpose,
      problemDepartment: modelInfo.problemDepartmentField,
      bizSystem: modelInfo.bizSystem,
      lineOfDefenseType: modelInfo.lineOfDefenseType,
      modelBelongUnit: modelInfo.modelBelongUnit,
      modelBelongDept: modelInfo.modelBelongDept,
      generationMethod: modelInfo.generationMethod,
      belongUnit: modelInfo.belongUnit,
    };

    myData.loading = true;
    if (modelInfo.id != undefined) {
      Object.assign(params, {
        id: modelInfo.id,
        // belongUnit: modelInfo.belongUnit,
      });
      // delete params.modelConfig;
      // delete params.createUser;
      // delete params.sendTargetUsers;
      updateModel({ ...params })
        .then((r) => {
          if (r.code === 'OK') {
            emit('onSuccess');
          } else {
            message.error(r.message);
          }
        })
        .finally(() => {
          myData.loading = false;
        });
    } else {
      addModel({ ...params })
        .then((r) => {
          if (r.code === 'OK') {
            emit('onSuccess');
          } else {
            message.error(r.message);
          }
        })
        .finally(() => {
          myData.loading = false;
        });
    }
  };
  const filterOption = (input, option) => {
    return option.title.toLowerCase().indexOf(input.toLowerCase()) >= 0;
  };
  const changeDataSet = (val) => {
    if (val.length > 3) {
      val.pop();
      return;
    }
    myData.problemDepartment = '';
    myData.datatableIds = val;
    if (val.length === 0) {
      myData.sourceTables.length = 0;
      myData.selectDataTables.length = 0;
    }
    sortingConditions.value.clearSort(myData.datatableIds);
  };
  const deSelectDataSet = (val) => {
    const index = myData.tablePrimaryKeyList.findIndex((x) => x.tableId === val);
    if (index > -1) {
      myData.tablePrimaryKeyList.splice(index, 1);
    }
  };
  const selectDataSet = async (val) => {
    myData.dataSetChange = true;
    myData.dataColumns = [];
    myData.problemSelectData = [];
    myData.tablePrimaryKeyList = [];
    const r = await getDataSetItemById(val);
    if (r.code === 'OK') {
      if (r.data.columnsList) {
        if (myData.sourceTables.length < 3) {
          const index = myData.sourceTables.findIndex((x) => x.id === val);
          if (index > -1) {
            myData.sourceTables.splice(index, 1);
          }
          myData.sourceTables.push(r.data);
          myData.problemSelectData = myData.sourceTables;
        }
      } else {
        message.error('columnsList为空');
        myData.dataTableDefaultSelect.pop();
      }
    }
    myData.sourceTables.forEach((item) => {
      let primaryKeyList: any = {};
      const temps: any = [];
      item.columnsList.forEach((x) => {
        if (x.isPrikey === '1') {
          const obj: any = {};
          obj.columnCName = x.columnCname;
          obj.columnId = x.id;
          obj.columnName = x.columnName;
          obj.columnType = x.type;
          temps.push(obj);
        }
        x.checked = true;
      });
      item.searchKey = '';
      item.checkedAll = true;
      item.columnsListCopy = cloneDeep(item.columnsList);
      primaryKeyList = Object.assign(
        { primaryKeyList: temps },
        { tableId: item.id },
        { tableName: item.tableName },
      );
      myData.tablePrimaryKeyList.push(primaryKeyList);
    });
  };
  const sourceList = async () => {
    const params: any = {
      pageSize: 999,
      pageNum: 1,
    };
    // 数据集
    const r: any = await getDatasetList({
      ...params,
    });
    if (r.code === 'OK') {
      for (let i = 0; i < r.data.length; i++) {
        r.data[i].datatableNames = `${r.data[i].tableCname}(${r.data[i].tableName})`;
      }
      myData.dataSet = r.data;
    }
  };
  const onSelectFields = (op) => {
    const list: any = [];
    op.forEach((x) => {
      const temps: any = [];
      x.data.forEach((y) => {
        if (y.checked) {
          temps.push({
            example: y.example,
            isPrimaryKey: y.isPrikey,
            tableColumnCName: y.cnName,
            tableColumnId: y.id,
            tableColumnName: y.name,
            tableColumnType: y.type,
          });
        }
      });
      list.push({
        tableAlias: '',
        tableCName: x.cnName,
        tableId: x.key,
        tableName: x.name,
        tableSchema: x.schema,
        tableColumnList: temps,
      });
    });
    myData.selectDataTables = list;
  };
  const buildTableJoinData = (tables) => {
    const rs: any = { nodes: [], links: [], defaultLinks: [] };
    if (tables && tables != undefined && tables.length > 0) {
      const config = props.modelInfo.modelConfig;
      for (let i = 0; i < tables.length; i++) {
        const items: any = [];
        if (tables[i].columnsList.length > 0) {
          tables[i].columnsList.forEach((x) => {
            items.push({
              name: x.columnName,
              cnName: x.columnCname,
              type: x.type,
              id: x.id,
              dictId: x.dictId,
              dictName: x.dictName,
              dictCode: x.dictCode,
              isPrikey: x.isPrikey,
              newType: x.newType,
              example: x.example,
              sort: x.sort,
            });
          });
        }
        // 默认勾选列
        const selectFields: any = [];
        if (config && config.datatableList.length > 0) {
          const table = config.datatableList.find((x) => x.tableId === myData.sourceTables[i].id);
          if (table != null && table.tableColumnList.length > 0) {
            table.tableColumnList.forEach((x) => {
              const field = getFieldByIdFromDataSet(myData.sourceTables[i].id, x.tableColumnId);
              if (field != null) {
                selectFields.push(field);
              }
            });
          }
        }

        rs.nodes.push({
          name: tables[i].tableName,
          cnName: tables[i].tableCname,
          fields: items.map((x) => {
            if (props.disabled || props.isEdit || props.isCopy || props.fromModelDetail) {
              const ids = selectFields.map((x) => x.id);
              if (ids.includes(x.id)) {
                x.checked = true;
              } else {
                x.checked = false;
              }
            } else {
              x.checked = true;
            }
            return x;
          }),
          fieldsCopy: cloneDeep(
            items.map((x) => {
              if (props.disabled || props.isEdit || props.isCopy || props.fromModelDetail) {
                const ids = selectFields.map((x) => x.id);
                if (ids.includes(x.id)) {
                  x.checked = true;
                } else {
                  x.checked = false;
                }
              } else {
                x.checked = true;
              }
              return x;
            }),
          ),
          type: 'table',
          schema: tables[i].tableScheme,
          id: tables[i].id,
          defaultSelectFields:
            props.disabled || props.isEdit || props.isCopy || props.fromModelDetail
              ? selectFields
              : items.map((x) => {
                  x.checked = false;
                  return x;
                }),
          searchKey: '',
          checkedAll:
            props.disabled || props.isEdit || props.isCopy || props.fromModelDetail
              ? items.length === selectFields.length
              : false,
        });
        if (i !== tables.length - 1) {
          const temp1 = tables[i].columnsList[0];
          const temp2 = tables[i + 1].columnsList[0];
          rs.links.push({
            srcField: {
              id: temp1.id,
              name: temp1.columnName,
              cnName: temp1.columnCname,
              isPrikey: temp1.isPrikey,
              example: temp1.example,
              newType: temp1.newType,
              tableCname: tables[i].tableCname,
              tableId: tables[i].id,
              tableName: tables[i].tableName,
              sort: temp1.sort,
              schema: tables[i].tableScheme,
              selected: [tables[i].tableName, temp1.columnName],
            },
            dstField: {
              id: temp2.id,
              name: temp2.columnName,
              cnName: temp2.columnCname,
              isPrikey: temp2.isPrikey,
              example: temp2.example,
              newType: temp2.newType,
              tableCname: tables[i + 1].tableCname,
              tableId: tables[i + 1].id,
              tableName: tables[i + 1].tableName,
              sort: temp2.sort,
              schema: tables[i + 1].tableScheme,
              selected: [tables[i + 1].tableName, temp2.columnName],
            },
          });
        }
      }
      // 默认指定连线（关联字段）
      const defaultLinks: any = [];
      if (!myData.dataSetChange && config && config.tableRelationList.length > 0) {
        config.tableRelationList.forEach((x) => {
          const left = getFieldByIdFromDataSet(x.leftTabId, x.leftColId);
          const right = getFieldByIdFromDataSet(x.rightTabId, x.rightColId);
          if (left != null && right != null) {
            defaultLinks.push({ srcField: left, dstField: right });
          }
        });
      }
      rs.defaultLinks = defaultLinks;
    }
    // myData.tableJoinData = rs;

    if (rs.defaultLinks.length == 0) {
      // insertTableJoinDataLocal();
      rs.defaultLinks.push({
        srcField: {
          id: '',
          name: '',
          cnName: '',
          isPrikey: '',
          example: '',
          newType: '',
          tableCname: '',
          tableId: '',
          tableName: '',
          sort: '',
          schema: '',
          selected: [],
        },
        dstField: {
          id: '',
          name: '',
          cnName: '',
          isPrikey: '',
          example: '',
          newType: '',
          tableCname: '',
          tableId: '',
          tableName: '',
          sort: '',
          schema: '',
          selected: [],
        },
      });
    }
    // console.log(1111111, rs);
    return rs;
  };
  const repairTables = () => {
    if (myData.datatableIds != undefined && myData.datatableIds.length > 0) {
      myData.sourceTables = myData.sourceTables.filter(
        (x) => myData.datatableIds.indexOf(x.id) > -1,
      );
    }
    // console.log(11111, myData.sourceTables);
  };
  const loadData = async () => {
    await sourceList();
  };
  /**
   * 从dataSet获取字段信息
   * @param tableId
   * @param columnId
   */
  const getFieldByIdFromDataSet = (tableId, columnId) => {
    if (myData.sourceTables.length > 0) {
      const table = myData.sourceTables.find((x) => x.id === tableId);
      if (table != null && table.columnsList.length > 0) {
        const field = table.columnsList.find((x) => x.id === columnId);
        if (field != null) {
          return {
            id: field.id,
            name: field.columnName,
            cnName: field.columnCname,
            isPrikey: field.isPrikey,
            example: field.example,
            newType: field.newType,
            type: field.type,
            tableCname: table.tableCname,
            tableId: table.id,
            tableName: table.tableName,
            sort: field.sort,
            schema: table.tableScheme,
            checked: true,
            selected: [table.tableName, field.columnName],
          };
        }
      }
    }
    return null;
  };
  const dataSetDefault = async (ids) => {
    await getDataSetItemByIds(ids).then((r) => {
      if (r.code === 'OK' && r.data.length > 0) {
        r.data.forEach((x) => {
          const index = myData.sourceTables.findIndex((y) => y.id === x.id);
          if (index > -1) {
            myData.sourceTables.splice(index, 1);
          }
          myData.sourceTables.push(x);
        });

        const list: any = [];
        let primaryKeyList: any = {};
        myData.sourceTables.forEach((item) => {
          const temps: any = [];
          item.columnsList.forEach((x) => {
            if (x.columnName.indexOf('DEPT') > -1) {
              const obj: any = {};
              obj.tableCname = `${item.tableCname}/${x.columnCname}`;
              obj.columnCname = x.columnCname;
              obj.id = x.id;
              obj.columnName = `${item.tableName}-${x.columnName}`;
              obj.tableId = item.id;
              list.push(obj);
            }

            if (x.isPrikey === '1') {
              const obj: any = {};
              obj.columnCName = x.columnCname;
              obj.columnId = x.id;
              obj.columnName = x.columnName;
              obj.columnType = x.type;
              temps.push(obj);
            }
            primaryKeyList = Object.assign(
              { primaryKeyList: temps },
              { tableId: item.id },
              { tableName: item.tableName },
            );

            x.checked = true;
          });
          item.columnsListCopy = cloneDeep(item.columnsList);
          item.searchKey = '';
          item.checkedAll = true;
          const index = myData.tablePrimaryKeyList.findIndex((y) => y.tableId === item.id);
          if (index < 0) {
            myData.tablePrimaryKeyList.push(primaryKeyList);
          }
        });
        myData.problemSelectData = list;

        // console.log(212222, myData.tablePrimaryKeyList);
      }
    });
  };
  const renderModel = (model) => {
    // console.log('renderModel', model);
    renderModelConfig(model.modelConfig);

    //问题部门分类字段
    if (Object.hasOwn(model, 'problemDepartment') && model.problemDepartment != undefined) {
      myData.problemDepartment = model.problemDepartment;
    }
  };
  const renderModelConfig = async (config) => {
    //数据集
    const dataTableDefaultSelect: any = [];
    if (Object.hasOwn(config, 'datatableList') && config.datatableList.length > 0) {
      config.datatableList.forEach((x) => {
        dataTableDefaultSelect.push(x.tableId);
      });
    }
    if (dataTableDefaultSelect.length > 0) {
      await dataSetDefault(dataTableDefaultSelect.join());
    }
    nextTick(() => {
      myData.datatableIds = dataTableDefaultSelect;
    });

    // 过滤字段处理复合字段条件
    if (Object.hasOwn(config, 'conditionFilter') && config.conditionFilter != undefined) {
      config.conditionFilter.condiList.forEach((x) => {
        x.condiList.forEach((y) => {
          y.condiList.forEach((t) => {
            if (t.leftTabId === 9999999 && t.leftTabName === 'X9999999') {
              t.leftColId = t.extendCol1;
            }
          });
        });
      });
    }
  };
  onMounted(async () => {
    await loadData();
    if (props.isEdit || props.isCopy || props.fromModelDetail) {
      renderModel(props.modelInfo);
    }
  });
  watch(
    () => myData.datatableIds,
    () => {
      repairTables();
    },
    { immediate: true, deep: true },
  );
  watch(
    () => myData.tableJoinData,
    () => {
      myData.tableJoinDataLocal = cloneDeep(myData.tableJoinData);
    },
    { immediate: true, deep: true },
  );
  watch(
    () => myData.tableJoinDataLocal,
    () => {
      if (myData?.tableJoinDataLocal?.nodes) {
        onSelectFields(
          myData?.tableJoinDataLocal?.nodes.map((x) => {
            return {
              cnName: x.cnName,
              data: x.fieldsCopy,
              key: x.id,
              name: x.name,
              schema: x.schema,
            };
          }),
        );
      }
    },
    { immediate: true, deep: true },
  );
  myData.tableJoinData = computed(() => {
    // console.log('myData.tableJoinData', buildTableJoinData(myData.sourceTables));
    return buildTableJoinData(myData.sourceTables);
  });
</script>

<style scoped lang="less">
  .relationNews {
    display: flex;

    b {
      color: red;
    }

    .title {
      width: 160px;
      text-align: right;
    }

    .ant-table-wrapper {
      flex: 1;
      margin-left: 10px;
    }

    .testRun {
      background: red;
      color: #fff;
      margin-left: auto;
    }
  }

  .warning {
    padding: 10px 100px;
    color: red;
    font-size: 24px;
  }
  .divider {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .message-main {
    width: 100%;
  }

  .table-col .ant-col {
    margin-left: 20% !important;
  }

  .table-col {
    //调整head行属性
    /deep/ .ant-table-thead > tr > th {
      padding: 0px;
      //  background: #fff;
      height: 30px !important;
    }

    //调整body行属性
    /deep/ .ant-table-tbody > tr > td {
      padding: 0px;
      height: 30px !important;
    }
  }

  .table-show {
    display: flex;
    justify-content: space-between;
  }

  /deep/ .ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }

  .selectInput1 {
    width: 100%;
  }

  .tryRun {
    width: 95%;
    text-align: right;

    .testRun {
      color: #fff !important;
      background: #ff0000 !important;
    }
  }

  .dy-row {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

    .dy-row-label-item {
      color: #000;
      width: 17%;
      padding-right: 17px;
      text-align: right;
      // font-size: 0.875rem;
      // font-family: SimSun, sans-serif;
    }

    .dy-row-label {
      width: 15%;
      padding-right: 10px;
      text-align: right;
      color: #000;
      .required {
        // margin-right: 0.25rem;
        color: #f5222d;
        // color: #ccc;
        font-size: 0.875rem;
        font-family: SimSun, sans-serif;
      }
      .required-color {
        color: #888;
        font-size: 0.875rem;
        font-family: SimSun, sans-serif;
      }
    }

    .dy-row-content {
      width: 85%;
    }
  }

  .ant-select {
    width: 100%;
  }

  .row-label {
    overflow: hidden;

    /deep/.ant-form-item-label {
      display: flex;
      justify-content: flex-end;
      line-height: 20px;

      label {
        white-space: normal;
        text-align: right;
        // padding-right: 6px;
        margin-left: 25px;
        margin-right: 10px;

        &:after {
          content: none !important; //解决上面的样式label后面会有空格
        }
      }
    }
  }
  .steps-action {
    display: flex;
    justify-content: center;
  }
  /deep/.sorting-conditions {
    margin-left: 3%;
  }
  /deep/.filter-group-empty {
    margin-left: unset !important;
  }
  .datatableNames {
    padding-left: 3%;
  }
  .datatableNames1 {
    padding-left: 4%;
  }
  /deep/.datatableNames1 {
    .ant-select-selection-overflow-item {
      max-width: 350px !important;
    }
  }
  .datatableNames2 {
    margin-left: 1.5%;
  }
  .datatableNames5 {
    margin-left: unset;
    padding-left: 1.5% !important;
  }
  .datatableNames6.ant-select {
    width: 98.5% !important;
  }
</style>

<style lang="less">
  .dynamicRules-sortingConditions,
  .dynamicRules-compositeConditions {
    .ant-cascader {
      width: auto !important;
      min-width: 200px !important;
      max-width: 100% !important;
    }
  }
</style>
