<template>
  <div>
    <a-row :gutter="[16, 10]" class="gutter-style">
      <a-col :md="{ span: 24 }">
        <div class="Followup-bg">
          <div class="Followup-item">
            <div v-for="(item, index) in cloudLibrary" :key="index">
              <div class="Followup-title"
                ><span class="Followup-line"></span>
                <p class="Followup-text"
                  ><span class="Followup-color">{{ item.title }}</span
                  ><span>{{ item.text }}</span></p
                >
              </div>
              <div class="Followup-center"> {{ item.title }}</div>
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch } from 'vue';

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    trend: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const cloudLibrary = [
    { title: '营收', text: '目标及完成率' },
    { title: '云库新增连接家数', text: '目标及完成率' },
    { title: '累计SKU数', text: '目标及完成率' },
  ];
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
    },
  );

  const state = reactive({
    yearMonth: '',
  });
</script>

<style lang="less" scoped>
  .GoalOverview {
    width: 100%;
    margin-top: -35px;
    .Followup-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      min-height: 350px;
      .Followup-item {
        display: flex;
        justify-content: space-between;
      }
      .Followup-title {
        display: flex;
        margin-bottom: 10px;
        .Followup-line {
          // display: inline-block;
          width: 14px;
          height: 20px;
          border-radius: 5px;
          background: #ffecb0;
        }
        .Followup-text {
          font-family: 思源黑体;
          font-size: 22px;
          font-weight: bold;
          line-height: 22px;
          letter-spacing: 0px;
          margin-left: 5px;
        }
        .Followup-color {
          color: #ff0000;
          margin-right: 5px;
        }
      }
      .Followup-center {
        width: 500px;
        height: 300px;
        border: 2px solid #e5e7eb;
      }
    }
  }
</style>
