<template>
  <div>
    <a-descriptions :column="3" class="textItem">
      <a-descriptions-item label="项目编号">
        <span> {{ props.keyData.projectCode || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目名称">
        <span> {{ props.keyData.projectName || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目部门">
        <span> {{ props.keyData.projectDeptName || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目负责人">
        <span> {{ props.keyData.projectPerson || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="团队成员">
        <span> {{ props.keyData.projectMember || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目开始时间">
        <span> {{ props.keyData.projectStartDate || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目完成时间">
        <span> {{ props.keyData.projectEndDate || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="创建人">
        <span> {{ props.keyData.createName }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="创建时间">
        <span> {{ props.keyData.createDate || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="立项理由">
        <span> {{ props.keyData.reason || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目内容">
        <span> {{ props.keyData.projectContent || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="备注">
        <span> {{ props.keyData.remark || '' }}</span>
      </a-descriptions-item>
    </a-descriptions>
  </div>
</template>

<script setup lang="tsx">
  import { getCurrentInstance } from 'vue';
  const { proxy } = getCurrentInstance();
  const props = defineProps({
    keyData: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
</script>
<style scoped>
  .textItem {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 200px;
  }
</style>
