<template>
  <div>
    <a-tabs v-model:activeKey="activeKey" centered @change="changeTabList">
      <a-tab-pane
        v-for="item in dict.getItemsByDictCode('HOMEPAGE_PERF_ANALYSIS')"
        :key="item.itemValue"
        :tab="item.itemText"
      ></a-tab-pane>
      <template #rightExtra>
        <a-button type="primary" danger @click="stateANAL.visible = true">绩效分析</a-button>
      </template>
    </a-tabs>
    <div class="p-1x">
      <a-row v-show="spinning" :gutter="12" class="spinning"> <a-spin /></a-row>
      <template v-if="activeKey !== 'HOMEPAGE_OVERVIEW'">
        <a-row :gutter="12">
          <a-col
            v-for="item in state.detailList"
            :key="item.itemValue + item.prType"
            :span="24"
            class="mb-1x"
          >
            <a-row :gutter="8">
              <a-col :span="12">
                <a-card :bordered="false">
                  <ANTable
                    :header-title="`${item.itemText}`"
                    :columns="item.heads"
                    :data-source="item.values"
                    :loading="state.loading"
                  >
                  </ANTable>
                </a-card>
              </a-col>
              <a-col :span="12">
                <a-card :bordered="false">
                  <div
                    :id="`barChart${item.itemValue}${item.prType}`"
                    :style="{ width: '100%', height: '300px' }"
                  ></div>
                  <a-textarea
                    v-model:value="item.remark"
                    :disabled="!$auth('home:rule:performanceRemark')"
                    @blur="widgetAnnoModify(item.itemValue, item.prType)"
                  ></a-textarea>
                </a-card>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
      </template>
      <!-- 概况 -->
      <template v-else>
        <a-row :gutter="12">
          <a-col :span="24" class="mb-1x">
            <a-row :gutter="8">
              <a-col :span="12">
                <a-card :bordered="false">
                  <vxe-grid
                    ref="grid"
                    size="small"
                    :loading="state.loadingKPI"
                    v-bind="gridOptionsKPI"
                    align="center"
                    header-align="center"
                  >
                  </vxe-grid>
                </a-card>
              </a-col>
              <a-col :span="12">
                <a-card :bordered="false">
                  <vxe-grid
                    ref="grid"
                    size="small"
                    show-footer
                    :loading="state.loadingDept"
                    v-bind="gridOptionsDept"
                    align="center"
                    header-align="center"
                  >
                  </vxe-grid>
                </a-card>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
        <a-row :gutter="12">
          <a-col :span="24" class="mb-1x">
            <a-textarea
              v-model:value="state.gypOverview"
              :disabled="!$auth('home:rule:performanceRemark')"
              @blur="widgetAnnoModify('gyp-overview', '')"
            ></a-textarea>
          </a-col>
        </a-row>
      </template>
    </div>
  </div>
  <!-- 点击本季度实绩查看情况说明 -->
  <a-modal
    v-model:visible="viewExplain.visible"
    :title="viewExplain.title"
    :width="860"
    :z-index="10006"
    destroy-on-close
    :body-style="{ 'min-height': '240px', padding: '40px 20px' }"
    :footer="null"
    @cancel="viewExplain.visible = false"
  >
    <a-table
      :data-source="viewExplain.dataSource"
      :columns="viewExplain.columns"
      :scroll="{ y: 400 }"
      :pagination="false"
    />
  </a-modal>
  <!-- 绩效分析 -->
  <a-modal
    v-model:visible="stateANAL.visible"
    :title="stateANAL.title"
    :width="1000"
    :z-index="10006"
    destroy-on-close
    :mask-closable="false"
    :body-style="{ 'min-height': '240px', padding: '40px 20px' }"
    :footer="null"
    @cancel="stateANAL.visible = false"
  >
    <AnalysisModule :year="dayjs(year).format('YYYY')" />
  </a-modal>
</template>
<script setup lang="tsx">
  import { onMounted, reactive, ref, watch } from 'vue';
  import * as echarts from 'echarts';
  import dayjs from 'dayjs';
  import {
    cloneDeep,
    concat,
    divide,
    multiply,
    ceil,
    tail,
    isEmpty,
    isNil,
    debounce,
    add,
    toNumber,
  } from 'lodash-es';
  import { message as $message } from 'ant-design-vue';
  import AnalysisModule from './ANALClass/AnalysisModule';
  import type { VxeGridProps } from 'vxe-table';
  import { useTable } from '@/components/core/dynamic-table';
  import {
    queryAnalysisGoalActualList,
    queryAnalysisList,
    queryAnalysisPTList,
    queryAnalysisView,
    queryLogisticsGoals,
    queryLogisticsGoalsSourceData,
    querySituationView,
    widgetAnnotationModify,
    widgetAnnotationQuery,
    querySituation,
    queryAllSituation,
  } from '@/api/home/apiList';
  import dict from '@/utils/dict.js';
  import { formatterNum } from '@/utils/formatter';

  defineOptions({
    name: 'ANALPer',
  });
  const props = defineProps({
    year: {
      type: String,
      default: () => {
        return dayjs(new Date()).format('YYYY');
      },
    },
  });
  const viewExplain = reactive({
    visible: false,
    title: '',
    dataSource: [],
    columns: [],
  });

  const stateANAL = reactive({
    visible: false,
    title: '',
  });
  const activeKey = ref();
  const spinning = ref(false);
  const [ANTable] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
    scroll: { y: 250 },
    showMaxSetting: true,
  });
  const state = reactive<any>({
    platformColumns: [],
    dataSource: [],
    loading: false,
    purchaseColumns: [],
    detailList: [],
    columnsKPI: [{ type: 'seq', width: 50, title: '序号' }],
    dataKPI: [],
    loadingKPI: false,
    columnsDept: [],
    dataDept: [],
    loadingDept: false,
    gypOverview: '',
  });

  const widgetAnnoModify = debounce((code, flag) => {
    let remark = '';
    if (code === 'gyp-overview') {
      remark = state.gypOverview;
    } else {
      let item = state.detailList.find((x) => x.itemValue === code);
      if (!isNil(flag)) {
        item = state.detailList.find((x) => x.itemValue === code && x.prType == flag);
        code = `${code}-${flag}`;
      }
      remark = item.remark;
    }
    if (!isEmpty(code)) {
      widgetAnnotationModify({ bizCode: `${activeKey.value}-${code}`, inputRemark: remark });
    }
  }, 500);
  const QueryKpiData = async (code) => {
    if (!activeKey.value && !code) return;
    const { data } = await queryAnalysisList({ perfGCode: code, year: props.year });
    if (data.success && data.data) {
      const heads: any = [];
      data.data.heads.forEach((x) => {
        const c = { title: x.description, dataIndex: x.columnName, ellipsis: true, width: 120 };
        heads.push(c);
      });
      data.data.heads = heads;
      return data.data;
    }
  };
  const QueryGoalActualData = async (code) => {
    if (!activeKey.value && !code) return;
    const { data } = await queryAnalysisGoalActualList({ perfGCode: code, year: props.year });
    if (data.success && data.data) {
      const heads: any = [];
      data.data.heads.forEach((x) => {
        const c = { title: x.description, dataIndex: x.columnName, ellipsis: true, width: 120 };
        heads.push(c);
      });
      data.data.heads = heads;
      return data.data;
    }
  };

  const QueryPlatKpiData = async (code, prType) => {
    if (!activeKey.value && !code) return;
    const { data } = await queryAnalysisPTList({ perfGCode: code, prType, year: props.year });
    if (data.success && data.data) {
      const heads: any = [];
      data.data.heads.forEach((x) => {
        let c = { title: x.description, dataIndex: x.columnName, ellipsis: true, width: 120 };
        if (x.columnName == 'finishedRate') {
          c = Object.assign(c, {
            customRender: ({ value }) => {
              const v = formatter100(value);
              return `${v}%`;
            },
          });
        }
        heads.push(c);
      });
      data.data.heads = heads;
      return data.data;
    }
  };
  const QueryLogisticsGoalsData = async () => {
    if (!activeKey.value) return;
    const { data } = await queryLogisticsGoals();
    if (data.success && data.data) {
      const heads: any = [];
      data.data.heads.forEach((x) => {
        let c = { title: x.description, dataIndex: x.columnName, ellipsis: true, width: 120 };
        if (x.columnName == 'finishedRate') {
          c = Object.assign(c, {
            customRender: ({ value }) => {
              const v = formatter100(value);
              return `${v}%`;
            },
          });
        }
        heads.push(c);
      });
      data.data.heads = heads;
      return data.data;
    }
  };
  const convertData = async (list) => {
    spinning.value = true;
    const idx = list.findIndex((x) => x.itemValue == 'A01000175');
    if (idx >= 0) {
      const ptList: any = [];
      for (let i = 1; i < 4; i++) {
        const item = cloneDeep(list[idx]);
        let prTypeText = '';
        if (i == 1) {
          prTypeText = '（易购，万元）';
        } else if (i == 2) {
          prTypeText = '（易销，万元）';
        } else if (i == 3) {
          prTypeText = '（零碳，万元）';
        }
        item.prType = i;
        item.itemText = item.itemText + prTypeText;
        ptList.push(item);
      }
      list = concat(ptList, tail(list));
    }

    for (let i = 0; i < list.length; i++) {
      const key = list[i]?.itemValue;
      if (key == 'A01000175') {
        //平台营收
        const dataList = await QueryPlatKpiData(key, list[i]?.prType);
        list[i] = { ...list[i], ...dataList };
      } else if (
        key == 'A01000151' ||
        (activeKey.value == 'HOMEPAGE_REVENUE' && key == 'A01000157') ||
        key == 'A01000103' ||
        key == 'A01000099'
      ) {
        //物流对外营收  设备准点交付率 理采购毛利
        const dataList = await QueryGoalActualData(key);
        list[i] = { ...list[i], ...dataList };
      } else if (key == 'A01000065') {
        const dataList = await QueryLogisticsGoalsData();
        list[i] = { ...list[i], ...dataList };
        queryLogisticsGoalsSourceData().then((r) => {
          renderLogisticsGoalsSourceData({ ...list[i], ...r.data });
        });
      } else {
        const dataList = await QueryKpiData(key);
        if (key == 'A01000066') {
          //易购社会客户GMV
          dataList?.heads.forEach((x) => {
            if (x.dataIndex == 'finishedRate') {
              x.title = '当季完成率(%)';
            }
          });
          dataList?.values.forEach((x) => {
            const d = formatter100(divide(x.quarterPerf, x.quarterGoal));
            x.finishedRate = d;
          });
        } else {
          dataList?.values.forEach((x) => {
            const d = formatter100(x.finishedRate);
            x.finishedRate = `${d}%`;
          });
        }
        list[i] = { ...list[i], ...dataList };
      }
    }
    state.detailList = list;
    for (let i = 0; i < state.detailList.length; i++) {
      const item = state.detailList[i];
      if (item.itemValue != 'A01000065') {
        buildGeneralList(item);
      }
      let qCode = item.itemValue;
      if (!isNil(item.prType)) {
        qCode = `${qCode}-${item.prType}`;
      }
      widgetAnnotationQuery(`${activeKey.value}-${qCode}`).then((r) => {
        if (r.success) {
          item.remark = r.data;
        }
      });
    }
    spinning.value = false;
  };

  const formatter100 = (v) => {
    return ceil(multiply(v, 100), 2);
  };
  const renderLogisticsGoalsSourceData = (item) => {
    if (Object.hasOwn(item, 'values') && Object.hasOwn(item, 'heads')) {
      let xVal = [];
      const exal: any = [];
      xVal =
        item?.values.length > 0
          ? item.values.map((x) => {
              return x.evaluatedOrgName;
            })
          : [];
      for (let j = 0; j < item?.heads.length; j++) {
        const h = item.heads[j];
        if (h.columnName != 'evaluatedOrgName') {
          const type = h.columnName == 'quarterTarget' ? 'line' : 'bar';
          exal.push({
            name: h.description,
            type,
            barMaxWidth: '60px',
            stack: type == 'bar' ? 'Ad' : '',
            data:
              item?.values.length > 0
                ? item.values.map((x) => {
                    return x[item.heads[j].columnName];
                  })
                : [],
          });
        }
      }

      setTimeout(() => {
        initChart(`barChart${item.itemValue}${item.prType}`, item.itemText, xVal, exal);
      }, 500);
    }
  };

  // 组装图表数据
  const buildGeneralList = (item) => {
    if (Object.hasOwn(item, 'values') && Object.hasOwn(item, 'heads')) {
      let xVal: any = [];
      const exal: any = [];
      if (
        item.itemValue == 'A01000151' ||
        (activeKey.value == 'HOMEPAGE_REVENUE' && item.itemValue == 'A01000157') ||
        item.itemValue == 'A01000103' ||
        item.itemValue == 'A01000099'
      ) {
        xVal =
          item?.heads.length > 0
            ? item.heads
                .filter((x) => x.dataIndex != 'evaluatedOrgName' && x.dataIndex != 'sum')
                .map((x) => {
                  return x.title;
                })
            : [];
        for (let j = 0; j < item?.values.length; j++) {
          const x = item.values[j];
          exal.push({
            name: x.evaluatedOrgName,
            type: 'line',
            barMaxWidth: '60px',
            data:
              item?.heads.length > 0
                ? item.heads
                    .filter((h) => h.dataIndex != 'evaluatedOrgName' && h.dataIndex != 'sum')
                    .map((h) => {
                      return x[h.dataIndex];
                    })
                : [],
          });
        }
      } else if (item.itemValue == 'A01000172') {
        //吨钢
        const tValues: any = [];
        const dgArr = ['BWDHN', 'BWDHO', 'BWDHP', 'BWDHQ'];
        item?.values.forEach((v) => {
          if (dgArr.includes(v.evaluatedOrgCode)) {
            const tg = v.quarterGoal.replaceAll('：', ':').split('\n');
            const tp = v.quarterPerf.replaceAll('：', ':').split('\n'); //实绩
            if (!isEmpty(tg)) {
              for (let i = 0; i < tg.length; i++) {
                const tgs = tg[i].split(':');
                const tps = tp[i].split(':');
                xVal.push(tgs[0]);
                tValues.push({
                  evaluatedOrgName: tgs[0],
                  quarterGoal: tgs[1],
                  quarterPerf: tps[1],
                });
              }
            }
          } else {
            xVal.push(v.evaluatedOrgName);
            tValues.push(v);
          }
        });
        for (let j = 0; j < item?.heads.length; j++) {
          const c = item.heads[j].dataIndex;
          if (['quarterGoal', 'quarterPerf'].includes(c)) {
            exal.push({
              name: item.heads[j].title,
              type: 'bar',
              barMaxWidth: '60px',
              data:
                tValues.length > 0
                  ? tValues.map((x) => {
                      return c == 'quarterGoal'
                        ? `${x.quarterGoal}`.replace('%', '') || 0
                        : `${x.quarterPerf}`.replace('%', '') || 0;
                    })
                  : [],
            });
          }
        }
      } else {
        xVal =
          item?.values.length > 0
            ? item.values.map((x) => {
                return x.evaluatedOrgName;
              })
            : [];
        if (item.itemValue == 'A01000066') {
          for (let j = 0; j < item?.heads.length; j++) {
            if (['finishedRate', 'quarterPerf'].includes(item.heads[j].dataIndex)) {
              const type = item.heads[j].dataIndex === 'finishedRate' ? 'bar' : 'line';
              exal.push({
                name: item.heads[j].title,
                type,
                barMaxWidth: '60px',
                data:
                  item?.values.length > 0
                    ? item.values.map((x) => {
                        return x[item.heads[j].dataIndex];
                      })
                    : [],
              });
            }
          }
        } else if (item.itemValue == 'A01000173') {
          for (let j = 0; j < item?.heads.length; j++) {
            if (['quarterGoal', 'quarterPerf'].includes(item.heads[j].dataIndex)) {
              exal.push({
                name: item.heads[j].title,
                type: 'bar',
                barMaxWidth: '60px',
                data:
                  item?.values.length > 0
                    ? item.values.map((x) => {
                        if (x.evaluatedOrgCode == 'BWDHGA') {
                          const gs = `${x.quarterGoal}`.replace('%', '').split('/');
                          const ps = `${x.quarterPerf}`.replace('%', '').split('/');

                          return item.heads[j].dataIndex == 'quarterGoal'
                            ? add(toNumber(gs[0].trim()), toNumber(gs[1].trim()))
                            : add(toNumber(ps[0].trim()), toNumber(ps[1].trim()));
                        } else {
                          return item.heads[j].dataIndex == 'quarterGoal'
                            ? `${x.quarterGoal}`.replace('%', '') || 0
                            : `${x.quarterPerf}`.replace('%', '') || 0;
                        }
                      })
                    : [],
              });
            }
          }
        } else {
          for (let j = 0; j < item?.heads.length; j++) {
            if (['quarterGoal', 'quarterPerf'].includes(item.heads[j].dataIndex)) {
              exal.push({
                name: item.heads[j].title,
                type: 'bar',
                barMaxWidth: '60px',
                data:
                  item?.values.length > 0
                    ? item.values.map((x) => {
                        return item.heads[j].dataIndex == 'quarterGoal'
                          ? `${x.quarterGoal}`.replace('%', '') || 0
                          : `${x.quarterPerf}`.replace('%', '') || 0;
                      })
                    : [],
              });
            }
          }
        }
      }
      console.log(332, xVal, exal);
      setTimeout(() => {
        initChart(`barChart${item.itemValue}${item.prType}`, item.itemText, xVal, exal);
      }, 500);
    }
  };
  const changeTabList = async (val) => {
    switch (val) {
      //营收
      case 'HOMEPAGE_REVENUE': {
        convertData(dict.getItemsByDictCode('HOMEPAGE_REVENUE'));
        break;
      }
      //利润
      case 'HOMEPAGE_PROFIT':
        convertData(dict.getItemsByDictCode('HOMEPAGE_PROFIT'));
        break;
      //质量
      case 'HOMEPAGE_QUALITY':
        convertData(dict.getItemsByDictCode('HOMEPAGE_QUALITY'));
        break;
      //成本
      case 'HOMEPAGE_COST':
        convertData(dict.getItemsByDictCode('HOMEPAGE_COST'));
        break;
      //效率
      case 'HOMEPAGE_EFFICIENCY':
        convertData(dict.getItemsByDictCode('HOMEPAGE_EFFICIENCY'));
        break;
      //效率
      case 'HOMEPAGE_OVERVIEW':
        queryOverView('kpi');
        queryOverView('dept');
        break;
    }
  };

  const commongridOptions = {
    border: true,
    height: '500',
    resizable: true,
    columnConfig: {
      useKey: true,
    },
    rowConfig: {
      useKey: true,
    },
    headerRowClassName: 'my-header',
    cellClassName: 'my-cell',
  };
  const gridOptionsKPI = reactive<VxeGridProps<any>>({
    ...commongridOptions,
    toolbarConfig: {
      zoom: true,
      custom: true,
      refresh: {
        queryMethod: () => {
          queryOverView('kpi');
        },
      },
    },
    columns: state.columnsKPI,
    data: state.dataKPI,
  });

  const gridOptionsDept = reactive<VxeGridProps<any>>({
    ...commongridOptions,
    toolbarConfig: {
      zoom: true,
      custom: true,
      refresh: {
        queryMethod: () => {
          queryOverView('dept');
        },
      },
    },
    columns: state.columnsDept,
    data: state.dataDept,
    footerMethod({ columns, data }) {
      return [
        columns.map((column, columnIndex) => {
          if (columnIndex === 0) {
            return '合计';
          }
          if (['ruleNum', 'unfinishedNum'].includes(column.field)) {
            return sumNum(data, column.field);
          }
          return '';
        }),
      ];
    },
  });
  //重置基本信息
  const reset = (type) => {
    if (type == 'kpi') {
      state.columnsKPI.splice(1, state.columnsKPI.length - 1);
      state.dataKPI.length = 0;
    } else {
      state.columnsDept.length = 0;
      state.dataDept.length = 0;
    }
  };
  const queryOverView = async (type) => {
    reset(type);
    if (type == 'kpi') {
      state.loadingKPI = true;
      widgetAnnotationQuery(`${activeKey.value}-gyp-overview`).then((r) => {
        state.gypOverview = r.data;
      });
    } else {
      state.loadingDept = true;
    }
    const param = {
      year: props.year,
    };
    const { data } =
      type == 'kpi' ? await queryAnalysisView(param) : await querySituationView(param);

    if (type == 'kpi') {
      state.loadingKPI = false;
    } else {
      state.loadingDept = false;
    }
    if (data.success) {
      const { aggrHeads, values } = data.data;
      convertHeads(aggrHeads, type);
      convertDataKPI(values, type);
    } else {
      $message.error(data.message);
    }
  };

  const convertHeads = (heads, type) => {
    heads[0].children.forEach((x) => {
      const htmlarr = ['finishedDesc', 'unfinishedNum'];
      if (htmlarr.includes(x.field)) {
        if (type == 'kpi') {
          Object.assign(x, {
            type: 'html',
            slots: {
              default: ({ row }) => {
                if (row.finishedDesc == '1') {
                  return <span class="circle success-circle"></span>;
                } else {
                  return <span class="circle error-circle"></span>;
                }
              },
            },
          });
        } else if (type == 'dept') {
          Object.assign(x, {
            type: 'html',
            sortable: true,
            slots: {
              default: ({ row }) => {
                if (row.unfinishedNum > 0) {
                  return (
                    <span class="red1" onClick={() => loadUnFinishedData(row)}>
                      {row.unfinishedNum}
                    </span>
                  );
                } else {
                  return <span class="red0">{row.unfinishedNum}</span>;
                }
              },
              footer: ({ column, items }) => {
                console.log(1111, column, items);
                return (
                  <span class="cursor-pointer" onClick={() => loadUnFinishedAllData()}>
                    {items[2]}
                  </span>
                );
              },
            },
          });
        }
      }
      if (x.field === 'perfGOrgCode') {
        Object.assign(x, {
          formatter: ({ cellValue }) => {
            const obj = dict.getValue('INDICATOR_UNIT', cellValue);
            if (!isEmpty(obj)) {
              return obj.itemText;
            } else {
              return '-';
            }
          },
        });
      }
    });
    if (type == 'kpi') {
      state.columnsKPI.push(...heads);
    } else {
      state.columnsDept.push(...heads);
    }
  };

  const convertDataKPI = (data, type) => {
    if (data.length > 0) {
      if (type == 'kpi') {
        state.dataKPI.push(...data);
      } else {
        state.dataDept.push(...data);
      }
    }
  };
  const loadUnFinishedAllData = async () => {
    viewExplain.visible = true;
    viewExplain.title = '所有未完成指标';
    const r = await queryAllSituation(props.year);
    if (r.success) {
      const ts: any = [];
      r.data.heads.forEach((x) => {
        if (x.columnName == 'perfGName') {
          ts.push({
            title: x.description,
            dataIndex: x.columnName,
            customRender: ({ record }) => {
              const obj = dict.getValue('INDICATOR_UNIT', record.perfGOrgCode);
              if (!isEmpty(obj)) {
                return `${record.perfGName} (${obj.itemText})`;
              } else {
                return record.perfGName;
              }
            },
          });
        } else if (
          x.columnName == 'yearTarget' ||
          x.columnName == 'qGoalValue' ||
          x.columnName == 'qActualValue'
        ) {
          ts.push({
            title: x.description,
            dataIndex: x.columnName,
            customRender: ({ text, record }) => {
              if (record.perfGOrgCode == 'IU-202023001') {
                const t = formatterNum(text, 2);
                return `${t}%`;
              } else {
                return formatterNum(text, 2);
              }
            },
          });
        } else {
          ts.push({ title: x.description, dataIndex: x.columnName });
        }
      });
      viewExplain.dataSource = r.data.values;
      viewExplain.columns = ts;
    } else {
      viewExplain.dataSource = [];
      viewExplain.columns = [];
    }
  };
  const loadUnFinishedData = async (data) => {
    viewExplain.visible = true;
    viewExplain.title = data.evaluatedOrgName;

    const r = await querySituation({ year: props.year, orgCode: data.evaluatedOrgCode });
    if (r.success) {
      const ts: any = [];
      r.data.heads.forEach((x) => {
        if (x.columnName == 'perfGName') {
          ts.push({
            title: x.description,
            dataIndex: x.columnName,
            customRender: ({ record }) => {
              const obj = dict.getValue('INDICATOR_UNIT', record.perfGOrgCode);
              if (!isEmpty(obj)) {
                return `${record.perfGName} (${obj.itemText})`;
              } else {
                return record.perfGName;
              }
            },
          });
        } else if (
          x.columnName == 'yearTarget' ||
          x.columnName == 'qGoalValue' ||
          x.columnName == 'qActualValue'
        ) {
          ts.push({
            title: x.description,
            dataIndex: x.columnName,
            customRender: ({ text, record }) => {
              if (record.perfGOrgCode == 'IU-202023001') {
                const t = formatterNum(text, 2);
                return `${t}%`;
              } else {
                return formatterNum(text, 2);
              }
            },
          });
        } else {
          ts.push({ title: x.description, dataIndex: x.columnName });
        }
      });
      viewExplain.dataSource = r.data.values;
      viewExplain.columns = ts;
    } else {
      viewExplain.dataSource = [];
      viewExplain.columns = [];
    }
    console.log(2222, data);
  };
  const sumNum = (list: [], field: string) => {
    let count = 0;
    list.forEach((item) => {
      count += field == 'unfinishedNum' ? Number(item['unfinishedNum']) : Number(item[field]);
    });
    return count;
  };

  /*** 柱状图公共配置 */
  const commonOption = () => {
    return {
      title: {
        text: 'World Population',
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow',
        },
      },
      legend: {
        right: '20',
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true,
      },
      yAxis: {
        type: 'value',
        boundaryGap: [0, 0.01],
      },
    };
  };
  const initChart = (id, title, xVal, serVal) => {
    // 把配置和数据放这里
    const chartDom = document.getElementById(id)!;
    const myChart = echarts.init(chartDom);

    const option = {
      ...commonOption(),
      title: {
        text: title,
      },
      xAxis: {
        type: 'category',
        data: xVal,
      },
      series: serVal,
    };

    option && myChart.setOption(option);
  };
  onMounted(() => {
    activeKey.value = dict.getItemsByDictCode('HOMEPAGE_PERF_ANALYSIS')[0]?.itemValue || '';
    changeTabList(activeKey.value);
  });

  watch(
    () => props.year,
    (_v) => {
      changeTabList(activeKey.value);
    },
  );
</script>
<style lang="less" scoped>
  .ant-tabs {
    /deep/.ant-tabs-nav {
      background: #f9f9f9;
      margin-bottom: 0;
      padding: 0 10px;
      .ant-tabs-tab {
        font-size: 1.2vw;
      }
    }
  }
  .ant-card {
    min-height: 380px;
  }
  .spinning {
    position: absolute;
    z-index: 999;
    margin-top: 100px;
    display: flex;
    width: 98%;
    justify-content: center;
  }
  /deep/.circle {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    left: 50%;
    margin-left: 45%;
  }
  /deep/.success-circle {
    background: #9cc464;
  }
  /deep/.error-circle {
    background: #f9dd4a;
  }
  /deep/.my-header {
    .vxe-cell--title {
      font-size: 1.2vw;
      font-weight: normal;
    }
  }
  /deep/.my-cell {
    .vxe-cell--label {
      font-size: 1.2vw;
    }
  }

  /deep/.red0 {
    color: #606266;
  }
  /deep/.red1 {
    color: red;
    cursor: pointer;
  }
  /deep/.cursor-pointer {
    cursor: pointer;
  }

  /deep/.ant-modal-body {
    padding: 20px;
  }
  textarea.ant-input {
    font-size: 16px;
  }
  /deep/.my-header .vxe-cell--title {
    font-weight: bold;
    font-size: 1vw;
  }
  /deep/.my-cell .vxe-cell--label {
    font-size: 1vw;
  }
  /deep/.title {
    font-size: 1vw;
  }
  /deep/.ant-table.ant-table-small {
    font-size: 1vw;
  }
  /deep/.vxe-table--render-default.border--full .vxe-table--header-wrapper,
  /deep/.ant-table-thead > tr > th {
    background-color: #d6d6d6;
  }

  /deep/.ant-table-tbody > tr > td {
    border-bottom: 1px solid #c3c3c3;
  }
  /deep/
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > thead
    > tr
    > th,
  /deep/
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > tbody
    > tr
    > td {
    border-right: 1px solid #c3c3c3;
  }
  /deep/.ant-table.ant-table-bordered > .ant-table-container {
    border-left: 1px solid #c3c3c3;
  }
  /deep/.vxe-table--render-default.border--full .vxe-body--column,
  /deep/.vxe-table--render-default.border--full .vxe-footer--column,
  /deep/.vxe-table--render-default.border--full .vxe-header--column {
    background-image: linear-gradient(#c3c3c3, #c3c3c3), linear-gradient(#c3c3c3, #c3c3c3);
  }
  /deep/.vxe-table--render-default .vxe-table--footer-wrapper {
    border-top: 1px solid #c3c3c3;
  }
  /deep/.vxe-table--render-default .vxe-table--border-line {
    border: 1px solid #c3c3c3;
  }
</style>
