<template>
  <div class="section-panel">
    <!--    <a-tabs v-model:activeKey="activeKey" centered @change="changeTabs">-->
    <!--      <a-tab-pane v-for="item in deptTablist" :key="item.code" :tab="item.title"></a-tab-pane>-->
    <!--    </a-tabs>-->
    <!--    <div class="dept-panel">-->
    <!--      <div v-for="item in state.deptGroup" :key="item.value" class="dept-item">-->
    <!--        <a-tooltip placement="bottomLeft" color="white">-->
    <!--          <template #title>-->
    <!--            <div style="display: flex; flex-wrap: wrap">-->
    <!--              <div-->
    <!--                v-for="x in item.items"-->
    <!--                :key="x.value"-->
    <!--                style="color: black; padding: 3px 6px; cursor: pointer"-->
    <!--                @click="deptGroupClick(x)"-->
    <!--                >{{ x.label }}</div-->
    <!--              >-->
    <!--            </div>-->
    <!--          </template>-->
    <!--          <span>{{ item.label }}</span>-->
    <!--        </a-tooltip>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="p-1x">
      <a-row :gutter="10">
        <a-col :span="17">
          <a-card :bordered="false">
            <DeptTable
              v-if="state.DeptKpiColumns.length !== 0"
              :header-title="`${props.orgName}绩效明细`"
              :columns="state.DeptKpiColumns"
              :data-source="state.dataSource"
              :loading="state.loading"
            >
            </DeptTable>
          </a-card>
        </a-col>
        <a-col :span="7">
          <a-card :bordered="false">
            <div id="perChart" :style="{ width: '100%', height: '380px' }"></div>
          </a-card>
        </a-col>
      </a-row>
    </div>
  </div>
  <!-- 点击本季度实绩查看情况说明 -->
  <a-modal
    v-model:visible="viewExplainVisible"
    :title="null"
    :width="560"
    destroy-on-close
    :body-style="{ 'min-height': '240px', padding: '40px 20px' }"
    :footer="null"
    @cancel="viewExplainVisible = false"
  >
    <a-descriptions>
      <a-descriptions-item label="情况说明">{{ state.explain }}</a-descriptions-item>
    </a-descriptions>
  </a-modal>
</template>
<script setup lang="tsx">
  import { onMounted, reactive, ref, watch } from 'vue';
  import * as echarts from 'echarts';
  import { isEmpty } from 'lodash-es';
  import dayjs from 'dayjs';
  import { useTable } from '@/components/core/dynamic-table';
  import { queryDeptKpiList } from '@/api/home/apiList';
  import { getDeptAll } from '@/api/system/dept/index';
  import dict from '@/utils/dict';
  import { getCurrentQuarter } from '@/utils/dateUtil';
  import { Storage } from '@/utils/Storage';

  defineOptions({
    name: 'DeptPer',
  });
  const activeKey = ref();
  const tableKey = 'HOME-DEPTPER';
  const [DeptTable] = useTable({
    uniqueKey: tableKey,
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
    showIndex: true,
    showMaxSetting: true,
    autoHeight: true,
    cacheColumnsConfig: true,
  });
  const state = reactive<any>({
    DeptKpiColumns: [],
    dataSource: [],
    loading: false,
    TaskColumns: [],
    tabTitle: '',
    chartData: [],
    indicatorArr: [],
    seriesData: [],
    seriesBaseData: [],
    explain: '',
    deptGroup: [
      {
        value: 'DEPT_CENTER',
        label: '中心（含子公司）',
        items: [],
      },
      {
        value: 'DEPT_REGION',
        label: '大区',
        items: [],
      },
      {
        value: 'DEPT_FUNCTIONAL',
        label: '职能部门',
        items: [],
      },
    ],
    currentDeptGroup: null,
  });
  const props = defineProps({
    year: {
      type: String,
      default: () => {
        return dayjs(new Date()).format('YYYY');
      },
    },
    orgCode: {
      type: String,
      default: 'BWDHGA', //资材品类中心
    },
    orgName: {
      type: String,
      default: '', //资材品类中心
    },
  });
  const deptGroupClick = (item) => {
    activeKey.value = item.value;
    state.tabTitle.title = item.label;
    QueryDeptKpiData();
  };
  const QueryDeptKpiData = async () => {
    // if (!activeKey.value) return;
    if (!props.orgCode) return;
    const currQField = getCurQuarterGoalScoreField();
    const currQPerfField = getCurQuarterPerfField();

    const { data } = await queryDeptKpiList({ orgCode: props.orgCode, year: props.year });
    let values: any = [];
    if (data.success && data.data) {
      // scrollFlag.value = { y: document.body.clientHeight - 430 };
      const heads: any = [];
      const cs = Storage.get(tableKey);
      console.log(1111, cs);
      if (cs) {
        cs.forEach((c) => {
          heads.push(c);
        });
      } else {
        data.data.heads.forEach((x) => {
          const c = { title: x.description, dataIndex: x.columnName, width: 60 };

          const perGoalArr = [
            'qOneGoalScore',
            'qTwoGoalScore',
            'qThreeGoalScore',
            'qFourGoalScore',
            'finishedRate',
            'perfGCategory',
            'perfGOrgCode',
          ];
          if (perGoalArr.includes(x.columnName) || x.description.endsWith('月份实绩')) {
            //有季度实绩
            Object.assign(c, {
              hideInTable: true,
            });
          }

          if (x.columnName === 'perfGName') {
            Object.assign(c, {
              width: 80,
              fixed: 'left',
              customRender: ({ record }) => {
                const obj = dict.getValue('INDICATOR_UNIT', record.perfGOrgCode);
                if (!isEmpty(obj)) {
                  return `${record.perfGName} (${obj.itemText})`;
                } else {
                  return record.perfGName;
                }
              },
            });
          }
          if (x.columnName === 'perfGOrgCode') {
            Object.assign(c, {
              align: 'center',
              // width: '6%',
              customRender: ({ record }) => {
                const obj = dict.getValue('INDICATOR_UNIT', record.perfGOrgCode);
                if (!isEmpty(obj)) {
                  return obj.itemText;
                } else {
                  return '-';
                }
              },
            });
          }

          if (x.columnName === 'timePeriod') {
            Object.assign(c, {
              align: 'center',
              // width: '6%',
              customRender: ({ record }) => {
                const obj = dict.getValue('TIME_PERIOD', record.timePeriod);
                if (!isEmpty(obj)) {
                  return obj.itemText;
                } else {
                  return '-';
                }
              },
            });
          }

          const perArr = ['qOnePerf', 'qTwoPerf', 'qThreePerf', 'qFourPerf'];
          if (perArr.includes(x.columnName)) {
            //有季度实绩
            Object.assign(c, {
              customRender: ({ record, value, column }) => {
                const newValue = value ? value.replace(/\n/g, '<br>') : value;
                return (column.key === 'qOnePerf' && record['qOneGoalScore'] < 100) ||
                  (column.key === 'qTwoPerf' && record['qTwoGoalScore'] < 100) ||
                  (column.key === 'qThreePerf' && record['qThreeGoalScore'] < 100) ||
                  (column.key === 'qFourPerf' && record['qFourGoalScore'] < 100) ? (
                  <span
                    style={{
                      color: 'red',
                      cursor: 'pointer',
                      'font-weight': column.key == currQPerfField ? 'bold' : 'normal',
                    }}
                    onClick={() => viewRemark(record, column.key)}
                    innerHTML={newValue}
                  ></span>
                ) : (
                  <span
                    style={{
                      cursor: 'pointer',
                      'font-weight': column.key == currQPerfField ? 'bold' : 'normal',
                    }}
                    onClick={() => viewRemark(record, column.key)}
                    innerHTML={newValue}
                  ></span>
                );
              },
            });
          }

          const wrapField = ['yearTarget1', 'qOneGoal', 'qSedGoal', 'qThirdGoal', 'qFourthGoal'];
          if (wrapField.includes(x.columnName)) {
            //有季度实绩
            Object.assign(c, {
              customRender: ({ value }) => {
                const newValue = value ? value.replace(/\n/g, '<br>') : value;
                return <div innerHTML={newValue}></div>;
              },
            });
          }
          heads.push(c);
        });
      }
      state.DeptKpiColumns = heads;
      values = data.data?.values;
      state.dataSource = values;
    } else {
      state.dataSource = [];
    }
    state.chartData = values?.map((item) => {
      return {
        finishedRate:
          !isEmpty(currQField) && Object.hasOwn(item, currQField) ? item[currQField] : 0,
        perfGName: item.perfGName,
      };
    });
    return {
      list: values || [],
    };
  };
  //查看备注
  const viewExplainVisible = ref(false);
  const viewRemark = (record, key) => {
    const { qOneRemark, qTwoRemark, qThreeRemark, qFourRemark } = record;
    viewExplainVisible.value = true;
    switch (key) {
      case 'qOnePerf':
        state.explain = qOneRemark;
        break;
      case 'qTwoPerf':
        state.explain = qTwoRemark;
        break;
      case 'qThreePerf':
        state.explain = qThreeRemark;
        break;
      case 'qFourPerf':
        state.explain = qFourRemark;
        break;

      default:
        break;
    }
  };
  const deptTablist = ref();
  const queryDept = async () => {
    const { rows } = (await getDeptAll()) as any;
    const FirstDeptList = rows.children[0].children;
    deptTablist.value = FirstDeptList;
    //默认选择第一项,并获取第一项的标题，用于table标题赋值
    activeKey.value = FirstDeptList[0].code;
    state.tabTitle = FirstDeptList[0];
    // dynamicTableInstance.reload();
    QueryDeptKpiData();
  };
  const getCurQuarterGoalScoreField = () => {
    const r = getCurrentQuarter();
    if (r === '1') {
      return 'qOneGoalScore';
    } else if (r === '2') {
      return 'qTwoGoalScore';
    } else if (r === '3') {
      return 'qThreeGoalScore';
    } else if (r === '4') {
      return 'qFourGoalScore';
    } else {
      return ``;
    }
  };
  const getCurQuarterPerfField = () => {
    const r = getCurrentQuarter();
    if (r === '1') {
      return 'qOnePerf';
    } else if (r === '2') {
      return 'qTwoPerf';
    } else if (r === '3') {
      return 'qThreePerf';
    } else if (r === '4') {
      return 'qFourPerf';
    } else {
      return ``;
    }
  };
  const changeTabs = (ac) => {
    state.DeptKpiColumns.length = 0;
    state.tabTitle = deptTablist.value.filter((item) => {
      if (item.code == ac) return item.title;
    })[0];
    QueryDeptKpiData();
    // dynamicTableInstance.reload();
  };
  //雷达图
  const initChart = () => {
    // 把配置和数据放这里
    const chartDom = document.getElementById('perChart')!;
    const myChart = echarts.init(chartDom);

    const option = {
      color: ['#428BD4'],
      title: {
        text: '完成情况',
      },
      // tooltip: {
      //   trigger: 'item',
      //   formatter(params) {
      //     let relVal = params.name;
      //     for (let i = 0; i < params.data.value.length; i++) {
      //       relVal += `<br/>${state.indicatorArr[i].name} : ${params.data.value[i]} ` + `%`;
      //     }
      //     return relVal;
      //   },
      // },
      radar: {
        // shape: 'circle',
        radius: '60%',
        center: ['50%', '60%'],
        indicator: state.indicatorArr,
        axisName: {
          color: 'black',
        },
        splitLine: {
          show: false,
        },
        splitArea: {
          show: false,
        },
        // axisLine: {
        //   show: false,
        // },
      },
      series: [
        {
          name: '基础数据',
          type: 'radar',
          data: state.seriesBaseData,
          symbol: 'none',
        },
        {
          name: '实绩数据',
          type: 'radar',
          data: state.seriesData,
          // lineStyle: {
          //   type: [0, 1],
          // },
        },
      ],
    };

    option && myChart.setOption(option);
  };
  const refresh = (newVal) => {
    state.indicatorArr =
      newVal.length > 0
        ? newVal.map((item) => {
            return { name: item.perfGName, max: 100 };
          })
        : [{}, {}, {}, {}, {}];
    const defaultArr: any = [];
    const maxArr: any = [];
    for (let i = 0; i < newVal.length; i++) {
      defaultArr.push('80');
      maxArr.push('100');
    }
    state.seriesBaseData =
      newVal.length > 0
        ? [
            {
              value: defaultArr,
              symbol: 'circle',
              symbolSize: 1,
              lineStyle: {
                // type: [5, 10],
                color: '#faad14',
              },
            },
            {
              value: maxArr,
              lineStyle: {
                // type: [0, 1],
                color: '#52c41a',
              },
            },
          ]
        : [{}, {}, {}, {}, {}];
    state.seriesData =
      newVal.length > 0
        ? [
            {
              value: newVal.map((item) => {
                if (item.finishedRate < 80) {
                  item.finishedRate = 80;
                }
                return item.finishedRate > 120 ? 120 : item.finishedRate;
              }),
              name: '完成率',
              lineStyle: {
                // color: 'rgba(66,139,212, 6.9)',
                type: [0, 1],
              },
              // itemStyle: {
              //   borderType: 'solid',
              //   color: null,
              //   borderColor: 'rgba(66,139,212, 6.9)',
              //   borderWidth: 2,
              // },
              // areaStyle: {
              //   color: new echarts.graphic.RadialGradient(0.1, 0.6, 1, [
              //     {
              //       color: 'rgba(119, 234, 223, 0.1)',
              //       offset: 0,
              //     },
              //     {
              //       color: 'rgba(66,139,212, 6.9)',
              //       offset: 1,
              //     },
              //   ]),
              // },
            },
          ]
        : [{}, {}, {}, {}, {}];
    initChart();
  };

  watch(
    () => state.chartData,
    (newVal, _oldVal) => {
      refresh(newVal);
    },
    { deep: true },
  );
  onMounted(() => {
    // queryDept();
  });
  watch(
    () => props.year,
    (v) => {
      // queryDept();
      // dynamicTableInstance.reload();

      QueryDeptKpiData();
    },
  );

  defineExpose({ QueryDeptKpiData });
</script>
<style lang="less" scoped>
  .section-panel {
    height: 90%;
    .p-1x {
      height: 100%;
      div {
        height: 100%;
        /deep/.ant-card-body {
          height: 100%;
        }
      }
    }
    .dept-panel {
      display: flex;
      margin-top: 8px;
      justify-content: center;
      background-color: white;
      .dept-item {
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
        font-size: 16px;
        font-weight: bold;

        .dept-item-children {
          display: flex !important;
        }
      }
    }
  }
  .ant-tabs {
    /deep/.ant-tabs-nav {
      background: #f9f9f9;
      margin-bottom: 0;
      padding: 0 10px;
    }
  }
  .ant-card {
    min-height: 420px;
  }
  /deep/.title {
    font-size: 1.2vw;
  }
  /deep/.ant-table.ant-table-small {
    font-size: 1vw;
  }
  /deep/.ant-table-thead {
    font-size: 1vw;
  }
  /deep/.ant-table-thead > tr > th {
    background-color: #d6d6d6;
  }
  /deep/.ant-table-tbody > tr > td {
    border-bottom: 1px solid #c3c3c3;
  }
  /deep/
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > thead
    > tr
    > th,
  /deep/
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > tbody
    > tr
    > td {
    border-right: 1px solid #c3c3c3;
  }
  /deep/.ant-table.ant-table-bordered > .ant-table-container {
    border-left: 1px solid #c3c3c3;
  }
</style>
