<template>
  <div class="p-1x">
    <a-row v-show="state.loading" :gutter="12" class="spinning"> <a-spin /></a-row>
    <a-row v-if="state.taskData.length > 0" :gutter="8" class="content-r">
      <a-col :span="6" class="selection-panel">
        <div
          v-for="(r, index) in state.taskData"
          :key="index"
          class="selection"
          @click="selectItem(r)"
        >
          <div class="content-card-header">
            <a-tooltip>
              <template #title>{{ r.perfGName }}</template>
              <span class="title">{{ r.perfGName }}</span>
            </a-tooltip>
          </div>
          <div class="dept">
            <div class="dept-row">
              <div class="dept-row-label">牵头部门：</div>
              <div>{{ r.superinDeptName }}</div>
              <div class="dept-name-right" :title="r.finishedStatusLabel">{{
                r.finishedStatusLabel
              }}</div></div
            >
          </div>
        </div>
      </a-col>
      <a-col :span="18">
        <div class="item-content">
          <div class="content-card-con">
            <div class="content-row">
              <div class="content-row-header">季度目标</div>
              <div
                v-if="state.currentItem"
                class="content-row-con"
                v-html="state.currentItem[curQuarterTarget]"
              >
              </div>
            </div>
            <div class="content-row">
              <div class="content-row-header">完成情况说明</div>
              <div
                v-if="state.currentItem"
                class="content-row-con"
                v-html="state.currentItem.finishedDescription"
              >
              </div>
            </div>
            <div class="content-row">
              <div class="content-row-header">未完成原因分析</div>
              <div
                v-if="state.currentItem"
                class="content-row-con"
                v-html="state.currentItem.unfinishedDescription"
              >
              </div>
            </div>
          </div>
          <div
            v-if="
              state.currentItem.finishedStatusLabel &&
              state.currentItem.finishedStatusLabel.length > 1
            "
            class="content-status"
          >
            <span
              v-if="state.currentItem.finishedStatusLabel == '完成'"
              class="content-status-green"
              >{{ state.currentItem.finishedStatusLabel }}</span
            >
            <span v-else class="content-status-yellow">{{
              state.currentItem.finishedStatusLabel
            }}</span>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>
<script setup lang="tsx">
  import { computed, onMounted, reactive } from 'vue';
  import { queryDeptWorkList } from '@/api/home/apiList';
  import { getCurrentQuarter } from '@/utils/dateUtil';

  defineOptions({
    name: 'FTPPer',
  });
  const state = reactive<any>({
    loading: false,
    taskData: [],
    currentItem: null,
  });

  const getCurQuarterTarget = () => {
    const r = getCurrentQuarter();
    return `quarter${r}Target`;
  };
  const curQuarterTarget = computed(() => {
    return getCurQuarterTarget();
  });
  const selectItem = (item) => {
    state.currentItem = item;
  };
  const QueryWorkData = async () => {
    state.loading = true;
    const res = await queryDeptWorkList();
    if (res.success) {
      state.taskData = res.data.values;
      state.currentItem = res.data.values[0];
    } else {
      state.taskData = [];
    }
    state.loading = false;
  };

  onMounted(() => {
    QueryWorkData();
  });
</script>
<style lang="less" scoped>
  .ant-tabs {
    /deep/.ant-tabs-nav {
      background: #f9f9f9;
      margin-bottom: 0;
      padding: 0 10px;
    }
  }
  .ant-card {
    min-height: 420px;
  }
  .p-1x {
    height: 90%;
    .spinning {
      position: absolute;
      z-index: 999;
      margin-top: 100px;
      display: flex;
      width: 98%;
      justify-content: center;
    }
    .content-r {
      height: 100%;
    }
    .selection-panel {
      overflow-y: auto;
      height: 100%;
    }
    .selection,
    .item-content {
      background-color: white;
      overflow-y: auto;
      padding: 10px;
    }
    .selection {
      border-bottom: 1px solid #ddd;
      cursor: pointer;
    }
    .item-content {
      height: 100%;
    }
    .content-status {
      float: right;
      font-size: 18px;
      font-weight: bold;
    }
    .content-status-green {
      color: olivedrab;
    }
    .content-status-yellow {
      color: orange;
    }
    .content-card-header {
      display: flex;
      align-items: center;
      .title {
        font-weight: bold;
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .dept {
      .dept-row {
        height: 22px;
        font-size: 12px;
        display: flex;
        align-items: flex-end;
        .dept-row-label {
          width: 60px;
        }
        .dept-name-right {
          margin-left: auto;
          font-size: 14px;
          font-weight: bold;
          text-align: right;
          color: red;
        }
      }
    }
    .content-card-con {
      padding: 0 10px;
      position: absolute;
      .content-row {
        margin-bottom: 10px;
        .content-row-header {
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 10px;
        }
        .content-row-con {
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 16px;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
</style>
