<template>
  <div class="section-panel">
    <div class="save-btn">
      <Button v-if="$auth('home:rule:performanceRemark')" type="primary" @click="saveHandler"
        >保存</Button
      >
    </div>
    <div class="editor">
      <Toolbar
        style="border-bottom: 1px solid #ccc"
        :editor="editorRef"
        :default-config="toolbarConfig"
        :mode="mode"
      />
      <Editor
        v-model="state.detailInfo.comment"
        style="overflow-y: hidden"
        :default-config="{
          ...editorConfig,
          ...{ readOnly: !$auth('home:rule:performanceRemark') },
        }"
        :mode="mode"
        @on-created="(e) => handleCreated(e)"
      />
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { onBeforeUnmount, onMounted, reactive, ref, shallowRef } from 'vue';
  import { Editor, Toolbar } from '@wangeditor/editor-for-vue';
  import { message } from 'ant-design-vue';
  import type { IEditorConfig } from '@wangeditor/editor';
  import type { IToolbarConfig } from '@wangeditor/core/dist/core/src/config/interface';
  import '@wangeditor/editor/dist/css/style.css';
  import { debounce } from 'lodash-es';
  import { annotationModify, annotationQuery } from '@/api/home/apiList';
  import Button from '@/components/basic/button/button.vue';
  defineOptions({
    name: 'ImprovePer',
  });
  const mode = ref('default');
  const editorRef = shallowRef();
  const editorConfig: Partial<IEditorConfig> = {
    placeholder: '请输入内容...',
    MENU_CONF: {},
  };
  const toolbarConfig: Partial<IToolbarConfig> = {
    excludeKeys: [
      'headerSelect',
      'blockquote',
      'codeBlock',
      'fullScreen',
      'group-video',
      'emotion',
      'todo',
      'through',
      'clearStyle',
    ],
  };

  const state = reactive({
    visible: false,
    BASE_URL: process.env.VUE_APP_BASE_API,
    subVisible: false,
    infoHtml: '',
    saveLoading: false,
    subLoading: false,
    detailInfo: {},
    fileList: [],
    title: '',
  });
  editorConfig.MENU_CONF['uploadImage'] = {
    server: `${state.BASE_URL}performance-eval/n/public/batchadd/file?fileType=171`,
    fieldName: 'file',
    // maxFileSize: 1 * 1024 * 1024, // 1M
    allowedFileTypes: ['image/*'],
    timeout: 5 * 1000, // 5 秒
    onSuccess(file: File, res: any) {
      message.success(`${file.name} 上传成功`, res);
    },
    onFailed(file: File, res: any) {
      message.success(`${file.name} 上传失败`, res);
    },
    onError(file: File, err: any, res: any) {
      message.success(`${file.name} 上传出错`, err, res);
    },
    customInsert(res: any, insertFn) {
      const downUrl = `${state.BASE_URL}basic/n/get/file?key=`;
      insertFn(downUrl + res.data.fileAddress, res.data.fileName, downUrl + res.data.fileAddress);
    },
  };
  const handleCreated = (editor) => {
    editorRef.value = editor; // 记录 editor 实例，重要！
  };
  const saveHandler = debounce(() => {
    annotationModify({ inputRemark: state.detailInfo.comment }).then((r) => {
      if (r.success) {
        message.success('保存成功');
      } else {
        message.warn(r.message);
      }
    });
  }, 500);
  const query = () => {
    annotationQuery().then((r) => {
      if (r.success) {
        state.detailInfo.comment = r.data;
      } else {
        message.warn(r.message);
      }
    });
  };

  onMounted(() => {
    query();
    // editorRef.value.disabled()
  });
  onBeforeUnmount(() => {
    const editor = editorRef.value;
    if (editor == null) return;

    editor.destroy();
  });
</script>

<style scoped lang="less">
  .section-panel {
    padding: 8px;
    height: 85%;
    .editor {
      height: 98%;
      /deep/.w-e-toolbar {
        .w-e-bar-item:first-child {
          button {
            background: #1890ff;
            border-color: #1890ff;
            color: #fff;
            border-radius: 3px;
          }
        }
      }
      /deep/.w-e-text-container {
        height: 98% !important;
      }
    }
  }
  .save-btn {
    float: right;
    width: 75px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
</style>
