<template>
  <div class="section-panel">
    <div class="per-cards">
      <a-row :gutter="8">
        <a-col v-for="item in state.cards" :key="item.title" :span="state.colSpans">
          <gauge-chart-card :card-info="item"></gauge-chart-card>
        </a-col>
      </a-row>
    </div>
    <div class="p-1x">
      <a-row :gutter="12">
        <a-col :span="24">
          <a-card :bordered="false">
            <KPITable
              header-title="工业品KPI绩效明细"
              :columns="state.KpiColumns"
              :data-request="queryKpiData"
              :loading="state.loading"
              :show-tool-bar="false"
            >
            </KPITable>
          </a-card>
        </a-col>
      </a-row>
    </div>
    <div class="per-contents">
      <a-row v-masonry :gutter="8" transition-duration="0.2s">
        <a-col v-for="(r, index) in state.taskData" :key="index" v-masonry-tile :span="12">
          <content-card
            :title="r.perfGName"
            :content="r.subtaskName"
            :dept="r.superinDeptName"
            :description="r.finishedDescription"
          ></content-card>
        </a-col>
      </a-row>
    </div>
  </div>
  <!-- 点击本季度实绩查看情况说明 -->
  <a-modal
    v-model:visible="viewExplainVisible"
    :title="null"
    :width="560"
    destroy-on-close
    :body-style="{ 'min-height': '240px', padding: '40px 20px' }"
    :footer="null"
    @cancel="viewExplainVisible = false"
  >
    <a-descriptions>
      <a-descriptions-item label="情况说明">{{ state.explain }}</a-descriptions-item>
    </a-descriptions>
  </a-modal>
</template>

<script setup lang="tsx">
  import { onMounted, reactive, ref, watch } from 'vue';
  import { isEmpty, isNumber, multiply } from 'lodash-es';
  import dayjs from 'dayjs';
  import GaugeChartCard from './components/GaugeChartCard';
  import ContentCard from './components/ContentCard';
  import { queryKpiList, queryPriorityList } from '@/api/home/apiList';
  import dict from '@/utils/dict';
  import { useTable } from '@/components/core/dynamic-table';
  import { getCurrentQuarter } from '@/utils/dateUtil';
  import { formatterNum } from '@/utils/formatter';

  defineOptions({
    name: 'MROPer',
  });
  const props = defineProps({
    year: {
      type: String,
      default: () => {
        return dayjs(new Date()).format('YYYY');
      },
    },
  });
  //查看备注
  const viewExplainVisible = ref(false);
  const state = reactive({
    KpiColumns: [],
    loading: false,
    cards: [],
    colSpans: 3,
    taskData: [],
  });
  const [KPITable, DynamicTableInstance] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
  });
  const viewRemark = (record, key) => {
    const { qOneRemark, qTwoRemark, qThreeRemark, qFourRemark } = record;
    viewExplainVisible.value = true;
    switch (key) {
      case 'qOnePerf':
        state.explain = qOneRemark;
        break;
      case 'qTwoPerf':
        state.explain = qTwoRemark;
        break;
      case 'qThreePerf':
        state.explain = qThreeRemark;
        break;
      case 'qFourPerf':
        state.explain = qFourRemark;
        break;

      default:
        break;
    }
  };
  const getCurQuarter = () => {
    const r = getCurrentQuarter();
    return `quarter${r}`;
  };
  const queryKpiData = async () => {
    const quarter = getCurQuarter();
    const result = await queryKpiList({ year: props.year });
    let values: any = [];
    if (result.success) {
      const cards: any = [];
      const heads: any = [];
      result.data?.heads.forEach((x) => {
        const c = {
          title: x.description,
          dataIndex: x.columnName,
          align: 'center',
          ellipsis: true,
          width: 120,
        };
        if (x.columnName === 'perfGCategory') {
          Object.assign(c, {
            customRender: ({ record }) => {
              const obj = dict.getValue('INDICATOR_CATEGORY', record.perfGCategory);
              if (!isEmpty(obj)) {
                return obj.itemText;
              } else {
                return '-';
              }
            },
          });
        }
        if (x.columnName === 'timePeriod') {
          Object.assign(c, {
            align: 'center',
            customRender: ({ record }) => {
              const obj = dict.getValue('TIME_PERIOD', record.timePeriod);
              if (!isEmpty(obj)) {
                return obj.itemText;
              } else {
                return '-';
              }
            },
          });
        }
        if (x.columnName === 'perfGOrgCode') {
          Object.assign(c, {
            customRender: ({ record }) => {
              const obj = dict.getValue('INDICATOR_UNIT', record.perfGOrgCode);
              if (!isEmpty(obj)) {
                return obj.itemText;
              } else {
                return '-';
              }
            },
          });
        }
        if (x.columnName === 'finishedRate') {
          Object.assign(c, {
            customRender: ({ record, column }) => {
              if (isNumber(record.finishedRate)) {
                let v = multiply(record.finishedRate, 100);
                v = formatterNum(v, 2);
                if (record.quarterfinishedStatus == 0) {
                  return (
                    <span
                      style="cursor: pointer;color:red"
                      onClick={() => viewRemark(record, column.key)}
                    >
                      {v}%
                    </span>
                  );
                } else {
                  return `${v}%`;
                }
              } else {
                return `0%`;
              }
            },
          });
        }
        heads.push(c);
        state.KpiColumns = heads;
      });
      result.data?.values.forEach((x) => {
        let perfGCategoryName = '';
        if (Object.hasOwn(x, 'perfGOrgCode')) {
          const obj = dict.getValue('INDICATOR_UNIT', x.perfGOrgCode);
          if (!isEmpty(obj)) {
            perfGCategoryName = obj.itemText;
          }
        }
        const temp = {
          title: x.perfGName,
          unit: perfGCategoryName,
          value: x.finishedRate * 100,
          rows: [
            {
              key: '年度目标',
              value: x.yearTarget,
            },
            {
              key: '累计实绩',
              value: Object.hasOwn(x, `${quarter}`) ? x[quarter].replace('%', '') : 0,
            },
          ],
        };
        cards.push(temp);
      });
      state.cards = cards;
      values = result.data?.values;
    }
    return {
      list: values || [],
    };
  };
  //查询工业品战略任务
  const QueryTaskData = async () => {
    const result = await queryPriorityList({});
    if (result.success) {
      // state.taskData = chunk(result.data.values, 2);
      state.taskData = result.data.values;
    }
  };

  onMounted(() => {
    queryKpiData();
    QueryTaskData();
  });
  watch(
    () => props.year,
    (v) => {
      queryKpiData();
      QueryTaskData();
      DynamicTableInstance.reload();
    },
  );
</script>

<style lang="less" scoped>
  .section-panel {
    .per-cards {
      padding: 8px;
    }
    .p-1x {
      padding: 0 8px;
      margin-bottom: 8px;
    }
    .per-contents {
      padding: 0 8px;
      /deep/.ant-col {
        margin-bottom: 8px;
      }
    }
  }
  /deep/.ant-table.ant-table-small {
    font-size: 1vw;
  }
  /deep/.ant-table-thead {
    font-size: 1vw;
  }
  /deep/.ant-table-thead > tr > th {
    background-color: #d6d6d6;
  }
  /deep/.ant-table-tbody > tr > td {
    border-bottom: 1px solid #c3c3c3;
  }
  /deep/
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th,
  /deep/
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > tbody
    > tr
    > td {
    border-right: 1px solid #c3c3c3;
  }

  /deep/.ant-table.ant-table-bordered > .ant-table-container {
    border-left: 1px solid #c3c3c3;
  }
</style>
