<template>
  <div class="filter-condition">
    <!--    左字段:width="190"style="min-width: 190px"-->
    <a-form-item>
      <data-set-cascade
        :change-on-select="false"
        :allow-composite-fields="true"
        :default-value="[
          state.selectResult.leftTable ? state.selectResult.leftTable.id : '',
          state.selectResult.leftField ? state.selectResult.leftField.id : '',
        ]"
        :width="190"
        :left="true"
        @on-data-set-change="onLeftSelectField"
        @on-value-change="refreshInputValue"
      ></data-set-cascade>
    </a-form-item>

    <!--    操作符-->
    <a-form-item
      :style="{
        'margin-right': state.inputType == '3' ? '16px' : 'unset',
      }"
    >
      <a-select
        :disabled="!editEnabled"
        :value="state.selectResult.comparison + ''"
        class="filter-condition-operator-rel"
        option-label-prop="label"
        @change="onComparisonChange"
      >
        <a-select-option
          v-for="item in state.comparisons"
          :key="item.key"
          :value="item.key"
          :label="item.value"
        >
          {{ item.value }}
        </a-select-option>
      </a-select>
    </a-form-item>

    <!--    时间选项-->
    <a-form-item
      v-if="
        state.inputType == '3' &&
        ['1', '2', '3', '4', '5', '6'].includes(String(state.selectResult.comparison))
      "
    >
      <a-select
        :key="state.count"
        v-model:value="state.selectResult.dateOperator"
        :disabled="!editEnabled"
        style="width: 100px; margin-right: 8px"
        @change="onComparisonChange1"
      >
        <a-select-opt-group label="绝对值">
          <a-select-option
            v-for="item in state.comparisonsRelative"
            :key="item.key"
            :value="item.key"
            :label="item.value"
            :disabled="item.disabled"
          >
            {{ item.value }}
          </a-select-option>
        </a-select-opt-group>
        <a-select-opt-group label="相对值">
          <a-select-option
            v-for="item in state.comparisonsAbsolute"
            :key="item.key"
            :value="item.key"
            :label="item.value"
            :disabled="item.disabled"
          >
            {{ item.value }}
          </a-select-option>
        </a-select-opt-group>
      </a-select>
    </a-form-item>

    <!--    表字段-->
    <a-form-item v-if="state.inputType != '3'">
      <Switch
        checked-children="表字段"
        :disabled="
          !editEnabled ||
          state.selectResult.comparison === '10' ||
          state.selectResult.comparison === '11'
        "
        style="min-width: 70px; margin-left: 15px"
        class="filter-condition-field-switch"
        un-checked-children="表字段"
        :checked="state.showField"
        @change="onShowField"
      />
    </a-form-item>

    <!--    右字段-->
    <a-form-item>
      <template v-if="state.showField">
        <data-set-cascade
          :change-on-select="false"
          :default-value="[
            state.selectResult.rightTable ? state.selectResult.rightTable.id : '',
            state.selectResult.rightField ? state.selectResult.rightField.id : '',
          ]"
          :width="190"
          @on-data-set-change="onRightSelectField"
        ></data-set-cascade>
      </template>
      <template v-else>
        <template v-if="state.inputType == '2'">
          <template v-if="state.selectResult.comparison == '9'">
            <range-input
              :disabled="
                !editEnabled ||
                state.selectResult.comparison == '10' ||
                state.selectResult.comparison == '11'
              "
              input-type="number"
              :default-value="state.selectResult.inputValue"
              class="filter-condition-operator"
              @change="onInputChange"
            ></range-input>
          </template>
          <template v-else-if="state.selectResult.comparison == '12'">
            <a-input
              v-if="!state.inputValue"
              v-model:value="state.inputValue"
              :disabled="!editEnabled"
              class="filter-condition-operator-input"
              placeholder="请输入例如：RIGHT(T1.contract_no,4)"
              @focus="
                () => {
                  if (state.selectResult.comparison == '12' && !state.inputValue) {
                    state.inputValue = `${state.selectResult.leftField.name}`;
                    state.selectResult.inputValue = `${state.selectResult.leftField.name}`;
                  }
                }
              "
            ></a-input>
            <a-tooltip
              v-else
              placement="top"
              destroy-tooltip-on-hide
              arrow-point-at-center
              overlay-class-name="overlayClassName"
            >
              <template #title>
                {{ state.inputValue }}
              </template>
              <a-input
                v-model:value="state.inputValue"
                :disabled="!editEnabled"
                class="filter-condition-operator-input"
                placeholder="请输入例如：RIGHT(T1.contract_no,4)"
                @focus="
                  () => {
                    if (state.selectResult.comparison == '12' && !state.inputValue) {
                      state.inputValue = `${state.selectResult.leftField.name}`;
                      state.selectResult.inputValue = `${state.selectResult.leftField.name}`;
                    }
                  }
                "
              ></a-input>
            </a-tooltip>
          </template>
          <template v-else>
            <InputNumber
              v-model:value="state.inputValue"
              :disabled="
                !editEnabled ||
                state.selectResult.comparison == '10' ||
                state.selectResult.comparison == '11'
              "
              class="filter-condition-operator"
            />
          </template>
        </template>
        <template v-else-if="state.inputType == '3'">
          <template v-if="state.selectResult.comparison == '12'">
            <a-input
              v-if="!state.inputValue"
              v-model:value="state.inputValue"
              :disabled="!editEnabled"
              placeholder="请输入例如：RIGHT(T1.contract_no,4)"
              class="filter-condition-operator-input"
              @focus="
                () => {
                  if (
                    state.inputType == '3' &&
                    state.selectResult.comparison == '12' &&
                    !state.inputValue
                  ) {
                    state.inputValue = `${state.selectResult.leftField.name}`;
                    state.selectResult.inputValue = `${state.selectResult.leftField.name}`;
                  }
                }
              "
            ></a-input>
            <a-tooltip
              v-else
              placement="top"
              destroy-tooltip-on-hide
              arrow-point-at-center
              overlay-class-name="overlayClassName"
            >
              <template #title>
                {{ state.inputValue }}
              </template>
              <a-input
                v-model:value="state.inputValue"
                :disabled="!editEnabled"
                placeholder="请输入例如：RIGHT(T1.contract_no,4)"
                class="filter-condition-operator-input"
                @focus="
                  () => {
                    if (
                      state.inputType === '3' &&
                      state.selectResult.comparison === '12' &&
                      !state.inputValue
                    ) {
                      state.inputValue = `${state.selectResult.leftField.name}`;
                      state.selectResult.inputValue = `${state.selectResult.leftField.name}`;
                    }
                  }
                "
              ></a-input>
            </a-tooltip>
          </template>
          <template v-else>
            <template v-if="state.selectResult.comparison != '9'">
              <template
                v-if="['7', '8', '10', '11'].includes(String(state.selectResult.comparison))"
              >
                <a-date-picker
                  :value="
                    state.inputValue && state.inputValue.length > 0
                      ? dayjs(state.inputValue, dateFormat)
                      : ''
                  "
                  :disabled="
                    !editEnabled ||
                    state.selectResult.comparison == '10' ||
                    state.selectResult.comparison == '11'
                  "
                  class="filter-condition-operator"
                  @change="onSimpleDateChange"
                />
              </template>
              <template v-else>
                <template v-if="state.selectResult.dateOperator == '0'">
                  <a-date-picker
                    :value="
                      state.inputValue && state.inputValue.length > 0
                        ? dayjs(state.inputValue, dateFormat)
                        : ''
                    "
                    :disabled="
                      !editEnabled ||
                      state.selectResult.comparison == '10' ||
                      state.selectResult.comparison == '11'
                    "
                    class="filter-condition-operator"
                    @change="onSimpleDateChange"
                  />
                </template>
                <template v-if="state.selectResult.dateOperator == '10'">
                  <a-input-number
                    v-model:value="state.inputValue"
                    :default-value="0"
                    :disabled="!editEnabled"
                    :precision="0"
                    :formatter="
                      (value) => {
                        return `${value >= 0 ? '+' + value : value}天`;
                      }
                    "
                  >
                    <template #addonBefore>
                      <span>今天</span>
                    </template>
                  </a-input-number>
                </template>
              </template>
            </template>
            <template v-else>
              <template v-if="state.selectResult.comparison == '9'">
                <a-range-picker
                  :value="[
                    state.selectResult.inputValue && state.selectResult.inputValue.length > 0
                      ? dayjs(state.selectResult.inputValue[0], dateFormat)
                      : '',
                    state.selectResult.inputValue && state.selectResult.inputValue.length > 0
                      ? dayjs(state.selectResult.inputValue[1], dateFormat)
                      : '',
                  ]"
                  :disabled="
                    !editEnabled ||
                    state.selectResult.comparison == '10' ||
                    state.selectResult.comparison == '11'
                  "
                  class="filter-condition-operator"
                  @change="onDateChange"
                />
              </template>
              <template v-else>
                <a-date-picker
                  :value="
                    state.inputValue && state.inputValue.length > 0
                      ? dayjs(state.inputValue, dateFormat)
                      : ''
                  "
                  :disabled="
                    !editEnabled ||
                    state.selectResult.comparison == '10' ||
                    state.selectResult.comparison == '11'
                  "
                  class="filter-condition-operator"
                  @change="onSimpleDateChange"
                />
              </template>
            </template>
          </template>
        </template>
        <template v-else>
          <template v-if="state.selectResult.comparison == '9'">
            <range-input
              :disabled="
                !editEnabled ||
                state.selectResult.comparison == '10' ||
                state.selectResult.comparison == '11'
              "
              :default-value="state.selectResult.inputValue"
              class="filter-condition-operator"
              @change="onInputChange"
            ></range-input>
          </template>
          <template v-else-if="state.selectResult.comparison == '12'">
            <a-input
              v-if="!state.inputValue"
              v-model:value="state.inputValue"
              :disabled="!editEnabled"
              class="filter-condition-operator-input"
              placeholder="请输入例如：RIGHT(T1.contract_no,4)"
              @focus="
                () => {
                  if (state.selectResult.comparison == '12' && !state.inputValue) {
                    state.inputValue = `${state.selectResult.leftField.name}`;
                    state.selectResult.inputValue = `${state.selectResult.leftField.name}`;
                  }
                }
              "
            ></a-input>
            <a-tooltip
              v-else
              placement="top"
              destroy-tooltip-on-hide
              arrow-point-at-center
              overlay-class-name="overlayClassName"
            >
              <template #title>
                {{ state.inputValue }}
              </template>
              <a-input
                v-model:value="state.inputValue"
                :disabled="!editEnabled"
                class="filter-condition-operator-input"
                placeholder="请输入例如：RIGHT(T1.contract_no,4)"
                @focus="
                  () => {
                    if (state.selectResult.comparison == '12' && !state.inputValue) {
                      state.inputValue = `${state.selectResult.leftField.name}`;
                      state.selectResult.inputValue = `${state.selectResult.leftField.name}`;
                    }
                  }
                "
              ></a-input>
            </a-tooltip>
          </template>
          <template v-else>
            <a-select
              v-if="state.selectResult.comparison == 7 || state.selectResult.comparison == 8"
              v-model:value="state.inputValue"
              class="tag-select-special"
              mode="tags"
              style="width: 100%"
              :max-tag-count="props.maxTagCount"
              :token-separators="[',']"
              :options="[]"
            ></a-select>
            <Input
              v-else
              v-model:value="state.inputValue"
              :disabled="
                !editEnabled ||
                state.selectResult.comparison == '10' ||
                state.selectResult.comparison == '11'
              "
              placeholder="输入"
              class="filter-condition-operator"
            />
          </template>
        </template>
      </template>
    </a-form-item>
    <a-tooltip
      v-if="state.selectResult.comparison == '12'"
      placement="top"
      destroy-tooltip-on-hide
      arrow-point-at-center
      overlay-class-name="overlayClassName"
    >
      <template #title>
        <p>可以在输入框中输入SQL语句中where条件，可以使用简单的函数：</p>
        <p>LENGTH函数、RIGHT函数、LEFT函数等。</p>
      </template>
      <ExclamationCircleOutlined class="filter-del cursor" />
    </a-tooltip>
    <a-tooltip
      v-if="
        state.inputType == '3' &&
        ['1', '2', '3', '4', '5', '6'].includes(String(state.selectResult.comparison))
      "
      placement="top"
      destroy-tooltip-on-hide
      arrow-point-at-center
      overlay-class-name="overlayClassName"
    >
      <template #title>
        <p>时间的值类型有：绝对值、相对值</p>
        <p class="text-indent">1. 绝对值描述了一个准确时间。</p>
        <p class="text-indent"
          >2.
          相对值描述了一个动态变化时间。例如，如果选择相对值选项为“今天”，那么筛选结果将始终显示当天00:00:00到23:59:59的内容。</p
        >
        <p class="text-indent"
          >3. 时间选择：今天、昨天、7天前、30天前、上周、上月、上两月、上一季度、上年、去年
          时后面都不展示“自定义时间xx天”；只有“自定义时间”时才出现。</p
        >
      </template>
      <ExclamationCircleOutlined class="filter-del cursor" />
    </a-tooltip>
    <MinusCircleFilled v-if="editEnabled" class="filter-del" @click="onRemove(nodeKey, groupKey)" />
  </div>
</template>

<script lang="tsx" setup>
  import { inject, onMounted, reactive, watch, nextTick, computed } from 'vue';
  import dayjs from 'dayjs';
  import { MinusCircleFilled, ExclamationCircleOutlined } from '@ant-design/icons-vue';
  import { Switch, Input, InputNumber } from 'ant-design-vue';
  import DataSetCascade from './DataSetCascade.vue';
  import RangeInput from '@/components/business/dynamicRuleSection/RangeInput.vue';
  import TagInput from '@/components/core/schema-form/src/components/TagInput.vue';

  const comparisons = [
    { key: '1', value: '大于' },
    { key: '2', value: '大于等于' },
    { key: '3', value: '小于' },
    { key: '4', value: '小于等于' },
    { key: '5', value: '等于' },
    { key: '6', value: '不等于' },
    { key: '7', value: '包含' },
    { key: '8', value: '不包含' },
    { key: '9', value: '范围' },
    { key: '10', value: '为空' },
    { key: '11', value: '不为空' },
    { key: '12', value: '函数' },
  ];
  interface MyData {
    showField: boolean;
    inputType: string;
    inputValue: string | Array<string>;
    selectResult: any;
    comparisons: any;
    // editEnabled:
  }
  defineOptions({
    name: 'FilterCondition',
  });
  const editEnabled = inject('editEnabled');
  // const editFlag = inject('editFlag');
  const emit = defineEmits(['onRemoveFilter', 'changeSelectResult']);
  const props = defineProps({
    defaultValue: Object,
    groupKey: String,
    nodeKey: String,
    maxTagCount: {
      type: Number,
      default: 3,
    },
  });
  const dateFormat = 'YYYY-MM-DD';
  const state = reactive({
    showField: false,
    inputType: '2', // 后端返回约定 1：文本类型，2：数字类型，3：时间类型，4：未知类型
    inputValue: '',
    selectResult: {
      leftField: null,
      leftTable: null,
      comparison: '1',
      rightField: null,
      rightTable: null,
      inputValue: '',
      dateOperator: '1',
    },
    comparisons,
    comparisonsRelative: computed(() => {
      const list = [
        {
          key: '0',
          value: '精确时间',
        },
      ];
      return list;
    }),
    comparisonsAbsolute: computed(() => {
      const list = [
        {
          key: '1',
          value: '今天',
        },
        {
          key: '2',
          value: '昨天',
        },
        {
          key: '3',
          value: '7天前',
        },
        {
          key: '4',
          value: '30天前',
        },
      ];
      if (!['1', '3', '2', '4', '6'].includes(String(state.selectResult.comparison))) {
        list.push(
          {
            key: '5',
            value: '上周',
          },
          {
            key: '6',
            value: '上月',
          },
          {
            key: '7',
            value: '上两月',
          },
          {
            key: '8',
            value: '上一季度',
          },
          {
            key: '9',
            value: '去年',
          },
        );
      }
      list.push({
        key: '10',
        value: '自定义时间',
      });
      return list;
    }),
    count: 0,
  });
  onMounted(() => {
    init();
  });
  const init = async () => {
    await nextTick();
    if (
      !props.defaultValue?.inputValue &&
      !props.defaultValue?.leftField &&
      !props.defaultValue?.leftTable &&
      !props.defaultValue?.rightField &&
      !props.defaultValue?.rightTable
    )
      return;
    state.selectResult = props.defaultValue;
    if (
      props.defaultValue != null &&
      props.defaultValue.leftField
      // && props.defaultValue.leftField.id > 0
    ) {
      state.inputType = state.selectResult.leftField.newType;
      if (
        state.selectResult.comparison === 9 &&
        (state.inputType === '2' || state.inputType === '3')
      ) {
        if (typeof state.selectResult.inputValue === 'string') {
          state.selectResult.inputValue = state.selectResult.inputValue.split(',');
        }
      } else if (state.selectResult.comparison == 7 || state.selectResult.comparison == 8) {
        if (typeof state.selectResult.inputValue === 'string') {
          state.selectResult.inputValue = state.selectResult.inputValue.split(',');
        }
      }
      state.inputValue = state.selectResult.inputValue;
      if (state.selectResult.rightField != null && state.selectResult.rightField.id != null) {
        state.showField = true;
      } else {
        state.showField = false;
      }
      if (state.inputType === '1') {
        state.comparisons = [
          { key: '5', value: '等于' },
          { key: '6', value: '不等于' },
          { key: '7', value: '包含' },
          { key: '8', value: '不包含' },
          { key: '10', value: '为空' },
          { key: '11', value: '不为空' },
          { key: '12', value: '函数' },
        ];
      } else {
        state.comparisons = comparisons;
      }
    } else {
      state.showField = false;
      state.inputType = '2';
    }

    // console.log('FilterCondition', state.selectResult)
  };
  /**
   * 获取拼接结果
   * code=0失败，1成功   msg=错误信息   data=返回组装数据
   */
  const getSelectInfo = () => {
    const data = state.selectResult;
    const result: any = { code: '0', msg: '', data: null };
    const msg = checkForm();
    if (msg.length <= 0) {
      // let op = this.convertComparison(data.comparison)
      const temp: any = {
        operator: data.comparison,
        leftTabId: data.leftTable.id,
        leftTabName: data.leftTable.name,
        leftTabCname: data.leftTable.cName,
        leftColId: data.leftTable.name === 'X9999999' ? 0 : data.leftField.id, //data.leftField.id,
        leftColName: data.leftField.name,
        leftColCname:
          data.leftTable.name === 'X9999999' ? 'composite_column' : data.leftField.cName,
        leftColType: state.inputType,
        rightTabId: data.rightTable ? data.rightTable.id : null,
        rightTabName: data.rightTable ? data.rightTable.name : null,
        rightTabCname: data.rightTable ? data.rightTable.cName : null,
        rightColId: data.rightField ? data.rightField.id : null,
        rightColName: data.rightField ? data.rightField.name : null,
        rightColCname: data.rightField ? data.rightField.cName : null,
        rightColType: data.rightField ? data.rightField.type : null,
        extendCol1: data.leftTable.name === 'X9999999' ? data.leftField.id : '',
      };
      if (state.inputType == '3') {
        temp['dateOperator'] = data.dateOperator;
      }
      if (
        `${data.comparison}` === '9' ||
        `${data.comparison}` == '7' ||
        `${data.comparison}` == '8'
      ) {
        temp.rightValue = data.inputValue ? data.inputValue.join() : null;
      } else {
        temp.rightValue = data.inputValue;
      }
      result.data = temp;
      result.code = 1;
    } else {
      result.msg = msg;
    }
    return result;
  };

  // 校验表单
  const checkForm = () => {
    const data = state.selectResult;
    const c = parseInt(data.comparison);
    if (!(c > 0 && c < 15)) {
      return '请选择关系条件';
    }
    if (data.leftField == null) {
      return '请选择左侧查询条件字段';
    }
    if (state.showField) {
      if (data.rightField == null) {
        return '请选择右侧查询条件字段';
      }
    } else {
      if (state.inputType == '3') {
        if (['1', '2', '3', '4', '5', '6'].includes(String(data.comparison))) {
          if (data.dateOperator == '0' || data.dateOperator == '10') {
            if (
              data.inputValue === null ||
              data.inputValue === undefined ||
              data.inputValue === ''
            ) {
              return '请输入右侧查询信息';
            }
          }
        }
        if (['7', '8', '12'].includes(String(data.comparison))) {
          if (data.inputValue === null || data.inputValue === undefined || data.inputValue === '') {
            return '请输入右侧查询信息';
          }
        }
        if (data.comparison == '9') {
          if (
            data.inputValue === null ||
            data.inputValue === undefined ||
            data.inputValue.length <= 0
          ) {
            return '请输入右侧查询信息';
          }
        }
      } else {
        if (data.comparison === '9') {
          if (
            data.inputValue === null ||
            data.inputValue === undefined ||
            data.inputValue.length <= 0
          ) {
            return '请输入右侧查询信息';
          }
        } else if (data.comparison != '10' && data.comparison != '11') {
          if (data.inputValue === null || data.inputValue === undefined || data.inputValue === '') {
            return '请输入右侧查询信息';
          }
        }
      }
    }
    return '';
  };
  // const onTextChange = (e) => {
  //   console.log(e.target.value);
  //   state.selectResult.inputValue = e.target.value;
  //   console.log(state.selectResult);
  // };
  const onInputChange = (value) => {
    if (value.length === 2 && value[0] != '' && value[1] != '') {
      state.selectResult.inputValue = value;
    }
  };
  const onRemove = (nodeKey, groupKey) => {
    emit('onRemoveFilter', nodeKey, groupKey);
  };
  const onSimpleDateChange = (date, dateString) => {
    state.inputValue = dateString;
  };
  const onDateChange = (date, dateString) => {
    console.log(dateString);
    if (dateString.length === 2) {
      state.selectResult.inputValue = dateString;
    }
  };
  const onLeftSelectField = (options) => {
    if (options && options.length > 1) {
      state.selectResult.leftTable = options[0];
      state.selectResult.leftField = options[1];
      state.inputType = options[1].newType;
      if (state.inputType === '1') {
        state.comparisons = [
          { key: '5', value: '等于' },
          { key: '6', value: '不等于' },
          { key: '7', value: '包含' },
          { key: '8', value: '不包含' },
          { key: '10', value: '为空' },
          { key: '11', value: '不为空' },
          { key: '12', value: '函数' },
        ];
        state.selectResult.comparison = '5';
      } else if (state.inputType === '3') {
        state.comparisons = comparisons;
        state.selectResult.comparison = '5';
        state.selectResult.dateOperator = '0';
      } else {
        state.comparisons = comparisons;
        state.selectResult.comparison = '1';
        state.selectResult.inputValue = undefined;
      }
    } else {
      state.selectResult.comparison = '1';
    }
    state.inputValue = '';
    state.selectResult.rightField = null;
    state.selectResult.inputValue = '';
    state.selectResult.rightTable = null;
  };

  const onRightSelectField = (options) => {
    if (options) {
      if (options.length > 1) {
        state.selectResult.rightTable = options[0];
        state.selectResult.rightField = options[1];
      }
    } else {
      state.selectResult.rightTable = null;
      state.selectResult.rightField = null;
    }
  };
  const onShowField = (checked) => {
    // console.log(checked);
    state.showField = checked;
    state.selectResult.rightField = null;
    state.selectResult.rightTable = null;
    state.selectResult.inputValue = null;
    state.inputValue = '';
    if (checked) {
      if (state.inputType === '1') {
        state.selectResult.comparison = '5';
      } else {
        state.selectResult.comparison = '1';
      }
    }
  };
  const onComparisonChange = (value) => {
    // console.log(state.selectResult.leftField);
    state.selectResult.comparison = value;
    if (
      value === '9' &&
      (state.selectResult.leftField.newType === '2' || state.selectResult.leftField.newType === '3')
    ) {
      // 自定义范围
      state.inputValue = [];
    } else {
      state.inputValue = '';
    }
    // console.log('state.inputValue', state.inputValue);
    if (value === '10' || value === '11') {
      state.showField = false;
      state.inputValue = '';
    }
    if ((value === '10' || value === '11') && state.selectResult.leftField.newType === '3') {
      state.inputValue = '';
    }
    if (value === '9' || value === '12') {
      state.selectResult.dateOperator = '';
    }
    if (['1', '2', '3', '4', '6', '5'].includes(value)) {
      state.selectResult.dateOperator = '0';
    }
    if (value === '12') {
      state.showField = false;
    }
    if (value == 7 || value == 8) {
      state.inputValue = [];
    }
    state.count += 1;
  };
  const onComparisonChange1 = (value) => {
    // console.log(state.selectResult.leftField);
    // state.selectResult.dateOperator = value;
    // if (value[1]) state.selectResult.dateOperator = value[1];
    if (value === '10' && state.selectResult.leftField.newType === '3') {
      // 自定义范围
      state.inputValue = 0;
      state.selectResult.inputValue = 0;
    } else {
      state.inputValue = '';
      state.selectResult.inputValue = '';
    }
  };

  const refreshInputValue = (v) => {
    if (v === undefined || v.length < 2) {
      state.selectResult.leftTable = null;
      state.selectResult.leftField = null;
      state.comparisons = comparisons;
      state.selectResult.comparison = '1';

      state.inputValue = '';

      state.selectResult.rightField = null;
      state.selectResult.comparison = '1';
      state.selectResult.inputValue = '';
      state.selectResult.rightTable = null;
    }
  };
  watch(
    () => state.inputValue,
    (v) => {
      state.selectResult.inputValue = v;
    },
  );
  watch(
    () => state.selectResult,
    () => {
      emit('changeSelectResult', {
        ...props.defaultValue,
        ...state.selectResult,
        key: props.nodeKey,
      });
    },
    { deep: true },
  );

  defineExpose({
    getSelectInfo,
  });
</script>

<style scoped lang="less">
  .filter-condition {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .filter-condition:has(.filter-condition-operator-input) {
    width: 100% !important;
  }

  .filter-condition-operator-rel {
    min-width: 80px !important;
    margin-left: 8px;
    margin-right: 8px;
  }

  .filter-condition-operator {
    left: 0px;
    top: 0px;
    min-width: 250px !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0px;
    color: #3d3d3d;
  }

  .filter-condition-field-switch {
    font-size: 8px;
    font-weight: normal;
    margin-right: 7px;
  }

  .filter-del {
    font-size: 20px;
    color: #999999;
    margin-left: 13px;
  }
  /deep/ .ant-form-item {
    margin: 0;
  }
  /deep/.ant-form-item:has(> .ant-form-item-control
      > .ant-form-item-control-input
      > .ant-form-item-control-input-content
      > .filter-condition-operator-input) {
    width: 100% !important;
  }
  .cursor {
    cursor: pointer;
  }
  /deep/.filter-condition-operator-input {
    width: 100% !important;
  }
  .text-indent {
    text-indent: -16px;
    padding-left: 16px;
  }
  /deep/.ant-input-number-group-wrapper {
    vertical-align: middle;
  }
</style>

<style lang="less">
  .overlayClassName {
    max-width: 480px;
    .ant-tooltip-content {
      width: 480px;
    }
  }
  .tag-select-special {
    .ant-select-selector {
      min-width: 200px;
      width: 100%;
      .ant-select-selection-overflow-item {
        width: 55px;
      }
    }
  }
</style>
