<template>
  <div>
    <SupervisionReport></SupervisionReport>
    <Row :gutter="8" :wrap="true">
      <Col v-show="$auth(`homeChats:chart3`)" :span="12" class="scard">
        <div class="scard-con" :style="{ height: 420 + 'px' }">
          <div class="title">
            <img :src="headerInfo[0].icon" />
            {{ headerInfo[0].title }}
            <a-tooltip
              title="数统计逻辑：是疑点模型、非已删除的模型、非测试类型模型的数据"
              class="tooltip-style"
            >
              <info-circle-outlined />
            </a-tooltip> </div
          ><ModelDist @cellClicked="cellClicked"></ModelDist>
        </div>
      </Col>
      <Col v-show="$auth(`homeChats:chart4`)" :span="12" class="scard">
        <div class="scard-con" :style="{ height: 420 + 'px' }">
          <div class="title">
            <img :src="headerInfo[1].icon" />
            {{ headerInfo[1].title }}
            <a-tooltip
              title="数统计逻辑：是疑点模型、非已删除的模型、非测试类型模型的数据"
              class="tooltip-style"
            >
              <info-circle-outlined />
            </a-tooltip> </div
          ><ModelDistDetail :biz-system="bizSystem"></ModelDistDetail>
        </div>
      </Col>
      <Col v-show="$auth(`homeChats:chart5`)" :span="12" class="scard">
        <div class="scard-con" :style="{ height: 420 + 'px' }">
          <div class="title">
            <img :src="headerInfo[2].icon" />
            {{ headerInfo[2].title }}
            <a-tooltip
              title="数统计逻辑：是疑点模型、非已删除的模型、非测试类型模型的数据"
              class="tooltip-style"
            >
              <info-circle-outlined />
            </a-tooltip> </div
          ><ClueDeptDist></ClueDeptDist>
        </div>
      </Col>
      <Col v-show="$auth(`homeChats:chart6`)" :span="12" class="scard">
        <div class="scard-con">
          <div class="title">
            <img :src="headerInfo[3].icon" />
            {{ headerInfo[3].title }}
            <a-tooltip
              title="数统计逻辑：是疑点模型、非已删除的模型、非测试类型模型的数据"
              class="tooltip-style"
            >
              <info-circle-outlined />
            </a-tooltip> </div
          ><ClueBizDist></ClueBizDist>
        </div>
      </Col>
      <Col v-show="$auth(`homeChats:chart7`)" :span="24" class="scard">
        <div class="title">
          <img :src="headerInfo[4].icon" />
          {{ headerInfo[4].title }}
          <a-tooltip
            title="数统计逻辑：是疑点模型、非已删除的模型、非测试类型模型的数据"
            class="tooltip-style"
          >
            <info-circle-outlined />
          </a-tooltip> </div
        ><ModelEfficiency></ModelEfficiency
      ></Col>
      <Col v-show="$auth(`homeChats:chart8`)" :span="12" class="scard">
        <div class="scard-con" :style="{ height: 430 + 'px' }">
          <div class="title">
            <img :src="headerInfo[5].icon" />
            {{ headerInfo[5].title }} ({{ workBench.toDoNum }})
          </div>
          <div class="cardContent">
            <ModelToDoList @get-total="getLengthData" />
          </div>
          <div class="cardFooter">
            <span @click="goListAll">查看全部</span>
          </div>
        </div>
      </Col>
      <Col v-show="$auth(`homeChats:chart9`)" :span="12" class="scard">
        <div class="scard-con" :style="{ height: 430 + 'px' }">
          <div class="title">
            <img :src="headerInfo[6].icon" />
            {{ headerInfo[6].title }} ({{ workBench.doubtsNum }})
          </div>
          <div class="cardContent">
            <ModelDoubts @get-total="getNumData" />
          </div>
          <div class="cardFooter">
            <span @click="goDoubtsAll">查看全部</span>
          </div>
        </div>
      </Col>
    </Row>
  </div>
</template>

<script lang="tsx" setup>
  import { ref, reactive } from 'vue';
  import { useRouter } from 'vue-router';
  import { Row, Col } from 'ant-design-vue';
  import SupervisionReport from './SupervisionReport/index.vue';
  import {
    ModelDist,
    ModelDistDetail,
    ClueDeptDist,
    ClueBizDist,
    ModelEfficiency,
    ModelToDoList,
    ModelDoubts,
  } from './statisticsTable';
  defineOptions({
    name: 'StatisticsCard',
  });
  const $router = useRouter();

  const workBench = reactive({
    toDoNum: 0,
    doubtsNum: 0,
  });
  //获取子组件数据
  const getLengthData = (val) => {
    workBench.toDoNum = val;
  };

  const getNumData = (val) => {
    workBench.doubtsNum = val;
  };

  const headerInfo = [
    { title: '监督领域模型情况汇总', icon: 'static/home/chartIcon10.png' },
    { title: '监督领域模型详情', icon: 'static/home/chartIcon11.png' },
    {
      title: '监督问题构成分布（按部门）',
      icon: 'static/home/chartIcon1.png',
    },
    {
      title: '监督问题构成分布（按业务环节）',
      icon: 'static/home/chartIcon1.png',
    },
    {
      title: '模型监督效率统计',
      icon: 'static/home/chartIcon1.png',
    },
    {
      title: '待办',
      icon: 'static/home/chartIcon6.png',
    },
    {
      title: '新增疑点业务',
      icon: 'static/home/chartIcon7.png',
    },
  ];
  //待办 查看全部跳转
  const goListAll = () => {
    $router.push('/SupervisionGovern/personalTodo');
  };
  //新增疑点业务 查看全部跳转
  const goDoubtsAll = () => {
    $router.push('/SupervisionGovern/InfoAll');
  };

  const bizSystem = ref('');
  const cellClicked = (record) => {
    console.log('父组件点击');
    if (record['业务系统'] && record['业务系统'] != '合计') {
      bizSystem.value = record['业务系统'];
    } else {
      bizSystem.value = '';
    }
  };
</script>

<style lang="less" scoped>
  .scard {
    width: 100%;
    padding: 0 5px;
    margin: 5px 0px;
    height: 100%;
    .scard-con {
      background: #fff;
      border-radius: 4px;
      padding: 4px 0;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      .cardContent {
        flex: 1;
        display: flex;
      }
      .cardFooter {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 4px;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
    }
    .title {
      background: #fff;
      border-bottom: 1px solid #eee;
      padding: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      color: #3d3d3d;
      img {
        margin: 0 8px;
        height: 24px;
      }
    }
  }

  .ant-row {
    overflow: hidden;
    display: flex;
  }
  .tooltip-style {
    margin-left: 10px;
  }
</style>
