<template>
  <div class="HomePieCard">
    <div
      v-for="(item, index) in chartSummary"
      v-show="$auth(`homeChats:chart${index}`)"
      :key="index"
      class="card"
    >
      <div class="tips">
        <p>{{ item.title }}</p>
        <p>{{ item.number }}</p>
      </div>
      <div v-if="chart[index].loading === false" class="splitLine"></div>
      <div class="chart">
        <Spin v-if="chart[index].loading === true" />
        <Empty v-else-if="chart[index].loading == 'error'" />
        <PieChart
          v-else-if="chart[index].loading === false"
          :ref="'chart_' + index"
          style="width: 100%; height: 100%"
          :chart-type="chart[index].chartType"
          :title="chart[index].title"
          :show-legend="chart[index].showLegend"
          :data="chart[index].dataDefine"
          :data-config="chart[index].dataConfig"
          :table-data="chart[index].tableData"
        >
        </PieChart>
      </div>
    </div>
  </div>
</template>

<script lang="tsx" setup>
  import { reactive, onMounted } from 'vue';
  import { Spin, Empty } from 'ant-design-vue';

  import { PieChart } from '@/components/chart';

  import { getHomeWidget } from '@/api/common';

  const chartSummary = reactive([
    { number: 0, title: '疑点业务笔数' },
    {
      number: 0,
      title: '确认问题业务笔数',
    },
    {
      number: 0,
      title: '移交问题业务笔数',
    },
  ]);

  const chart = reactive([
    {
      loading: 'error',
      chartClick: () => {},
      chartType: 'pie',
      title: '',
      dataDefine: {},
      dataConfig: {},
      tableData: {},
      showLegend: true,
    },
    {
      loading: 'error',
      chartClick: () => {},
      chartType: 'pie',
      title: '',
      dataDefine: {},
      dataConfig: {},
      tableData: {},
      showLegend: true,
    },
    {
      loading: 'error',
      chartClick: () => {},
      chartType: 'pie',
      title: '',
      dataDefine: {},
      dataConfig: {},
      tableData: {},
      showLegend: true,
    },
  ]);

  // defineOptions({
  //   name: 'TopPieChart',
  // });

  const getPieData = () => {
    chart.forEach((item) => {
      item.loading = true;
    });

    getHomeWidget({ widgetId: '2022122823015863' })
      .then((res) => {
        if (res.code === 'OK') {
          const titleList = ['累计疑点记录数', '累计确定问题数', '累计移交问题数'];
          const data = res.data;
          chart.forEach((item, index) => {
            item.loading = false;
            item.dataDefine = data.dataMap;
            item.dataConfig = JSON.parse(JSON.stringify(data.dataConfig));
            item.tableData = data;
            item.dataConfig.category = '职能部门';
            item.dataConfig.series = [{ name: titleList[index], cName: titleList[index] }];
            item.dataConfig.option = {
              chartLegend: {
                align: 'left',
                left: 'center',
                orient: 'horizontal',
                show: 'true',
                top: '330',
              },
            };
          });
        } else {
          chart.forEach((item) => {
            item.loading = 'error';
          });
        }
      })
      .catch(() => {
        chart.forEach((item) => {
          item.loading = 'error';
        });
      });
  };

  const getSummaryData = () => {
    getHomeWidget({ widgetId: '2022102816395782' }).then((r) => {
      const rdata = r.data.dataMap;
      chartSummary[0].number = rdata.累计疑点记录数[0];
      chartSummary[1].number = rdata.累计确定问题数[0];
      chartSummary[2].number = rdata.累计移交问题数[0];
    });
  };

  onMounted(() => {
    // 获取头部卡片数据
    getSummaryData();
    getPieData();
  });
</script>

<style lang="less" scoped>
  .HomePieCard {
    display: flex;
    justify-content: space-between;
    .card {
      height: 100%;
      width: 33%;
      background-color: #fff;
      border-radius: 6px;
      position: relative;
      .tips {
        position: absolute;
        top: 10%;
        left: 6%;
        font-family: SourceHanSansCN-Regular;
        font-weight: normal;
        letter-spacing: 0px;
        > p:nth-child(1) {
          font-size: 24px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.45);
        }
        > p:nth-child(2) {
          font-size: 38px;
          line-height: 38px;
          color: rgba(0, 0, 0, 0.85);
        }
      }
      .splitLine {
        width: 100%;
        height: 1px;
        background: #e8e8e8;
        position: absolute;
        bottom: 15%;
      }
      .chart {
        width: 100%;
        height: 370px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
</style>
