<template>
  <div>
    <a-modal
      v-model:visible="state.visible"
      :title="attrs.title"
      :width="1000"
      :body-style="{
        'max-height': '540px',
        overflow: 'auto',
      }"
      :mask-closable="false"
      transition-name=""
      destroy-on-close
      :footer="null"
      @cancel="closeModal"
    >
      <vxe-grid v-bind="gridOptions" :span-method="mergeRowMethod">
        <template #toolbar_tools>
          <div class="mr-1x">
            季度：
            <a-select
              v-model:value="state.quarterPeriod"
              style="width: 160px"
              placeholder="请选择季度"
              @change="queryList()"
            >
              <a-select-option
                v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_QUARTERLY_TYPE')"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-select-option
              >
            </a-select>
          </div>
        </template>
      </vxe-grid>
    </a-modal>

    <IndexBaseInfo
      :org-visible="state.infoView"
      :record="state.baseInfo"
      title="指标详情"
      @close="closeInfoView"
    ></IndexBaseInfo>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, watch, useAttrs, onMounted } from 'vue';
  import { isEmpty } from 'lodash-es';
  import { VxeGridProps, VxeTablePropTypes } from 'vxe-table';
  import { message } from 'ant-design-vue';
  import {
    queryCompanyKpi,
    queryCompanyTask,
    queryDeptKpi,
    queryDeptTask,
  } from '@/api/perPlan/apiList';
  import dict from '@/utils/dict.js';
  import IndexBaseInfo from '@/views/perAppraisal/perApList/IndexBaseInfo.vue';
  import { queryQuarterly } from '@/api/perAppraisal/apiList';

  const attrs = useAttrs();
  const emits = defineEmits(['close']);

  const props = defineProps({
    visible: { type: Boolean },
    record: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const state = reactive({
    record: {},
    type: '',
    visible: false,
    deptArr: [],
    category: [],
    quarterPeriod: '',
    infoView: false,
    baseInfo: {},
  });

  const openModal = (record, type) => {
    state.record = record;
    state.type = type;
    queryList();
  };
  //计算上个月所在季度，此季度为默认值
  const CalculateQuarters = () => {
    const currentDate = new Date();
    const lastMonth = new Date(currentDate);
    lastMonth.setMonth(currentDate.getMonth() - 1);
    const lastMonthMonth = lastMonth.getMonth();
    state.quarterPeriod = (Math.floor(lastMonthMonth / 3) + 1).toString();
  };

  const gridOptions = reactive<VxeGridProps<any>>({
    size: 'small',
    align: 'center',
    headerAlign: 'center',
    border: true,
    height: '480',
    resizable: true,
    toolbarConfig: {
      zoom: true,
      custom: true,
      refresh: {
        queryMethod: () => {
          queryList();
        },
      },
      slots: {
        tools: 'toolbar_tools',
      },
    },
    cellClassName: 'ellipsis-con',
    tooltipConfig: {
      showAll: true,
      enterable: true,
    },
    loadingConfig: {
      icon: 'vxe-icon-indicator roll',
      text: '正在拼命加载中...',
    },
    scrollX: {
      enabled: false,
    },
    scrollY: {
      enabled: false,
    },
    columnConfig: {
      useKey: true,
    },
    rowConfig: {
      useKey: true,
    },
    columns: [],
    data: [],
  });

  const closeModal = () => {
    state.visible = false;
    emits('close');
  };

  const queryList = async () => {
    gridOptions.columns.length = 0;
    gridOptions.data.length = 0;
    gridOptions.loading = true;
    const params = {
      orgEvalCode: state.record.orgCode,
      quarter: state.quarterPeriod,
    };
    const { data } =
      state.type == '1'
        ? await queryCompanyKpi(params)
        : state.type == '2'
        ? await queryCompanyTask(params)
        : state.type == '3'
        ? await queryDeptKpi(params)
        : await queryDeptTask(params);
    gridOptions.loading = false;
    if (data.success) {
      convertHeads(data.data.aggrHeads);
      gridOptions.data = data.data.values;
    } else {
      message.error(data.message);
    }
  };
  const convertHeads = (heads) => {
    const specialField = ['score', 'perfGOrgCode', 'perfEvalScoreFixOpt'];
    const longField = [
      'quarterTarget',
      'description',
      'finishedDescription',
      'unfinishedDescription',
      'auditRemarks',
      'subtaskName',
    ];

    const headsList = heads
      ? heads.map((item) => {
          if (specialField.includes(item.field)) {
            return {
              ...item,
              width: '130',
              formatter: ({ cellValue }) => {
                if (item.field == 'score') {
                  return `${cellValue}%`;
                } else if (item.field == 'perfGOrgCode') {
                  const obj = dict.getValue('INDICATOR_UNIT', cellValue);
                  return !isEmpty(obj) ? obj.itemText : '-';
                } else if (item.field == 'perfEvalScoreFixOpt') {
                  const obj = dict.getValue('EMPHASIS_WORK_SELECT_TYPE', cellValue);
                  return !isEmpty(obj) ? obj.itemText : '-';
                }
              },
            };
          } else if (item.field == 'perfGName') {
            return {
              ...item,
              width: '200',
              slots:
                state.type == '3'
                  ? {
                      default: ({ row, column }) => {
                        return (
                          <span class="link" onClick={() => checkDetail(row)}>
                            {row[column['field']]}
                          </span>
                        );
                      },
                    }
                  : {},
            };
          } else if (longField.includes(item.field)) {
            return { ...item, minWidth: '220px', type: 'html' };
          } else {
            return { ...item, minWidth: '120px', type: 'html' };
          }
        })
      : [];

    gridOptions.columns.push(...headsList);
  };

  // 通用行合并函数（将相同多列数据合并为一行）
  const mergeRowMethod: VxeTablePropTypes.SpanMethod<RowVO> = ({
    row,
    _rowIndex,
    column,
    visibleData,
  }) => {
    const fields = state.type == '3' ? ['evaluatedOrgName'] : [];
    const cellValue = row[column.field];
    if (cellValue && fields.includes(column.field)) {
      const prevRow = visibleData[_rowIndex - 1];
      let nextRow = visibleData[_rowIndex + 1];
      if (prevRow && prevRow[column.field] === cellValue) {
        return { rowspan: 0, colspan: 0 };
      } else {
        let countRowspan = 1;
        while (nextRow && nextRow[column.field] === cellValue) {
          nextRow = visibleData[++countRowspan + _rowIndex];
        }
        if (countRowspan > 1) {
          return { rowspan: countRowspan, colspan: 1 };
        }
      }
    }
  };

  const checkDetail = async (row) => {
    state.infoView = true;
    try {
      const { ruleCode } = row;
      const res = await queryQuarterly(ruleCode);
      if (res.success) {
        state.baseInfo = res.data;
      } else {
        throw new ReferenceError(res.message);
      }
    } catch (e) {
      if (e instanceof ReferenceError) {
        state.baseInfo = {};
        message.error(e.message);
      }
    }
  };

  const closeInfoView = () => {
    state.infoView = false;
  };

  watch(
    () => props.visible,
    (nV) => {
      if (nV) {
        state.visible = nV;
        CalculateQuarters();
      } else {
        state.quarterPeriod = '';
      }
    },
  );

  // onMounted(() => {
  //   CalculateQuarters();
  // });
  defineExpose({ openModal });
</script>

<style lang="less" scoped>
  /deep/.ellipsis-con .vxe-cell {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
</style>
