<template>
  <div ref="bspTable" :class="['bspTable', state.type]">
    <h3 ref="h3Dom">{{ props.title }}</h3>
    <vxe-grid
      ref="gridRef"
      v-bind="state.gridOptions"
      :header-row-style="
        () => {
          return state.echartConfig.showSummaryType == 'row' &&
            state.echartConfig.rowSummaryPosition === 'top'
            ? state.tableSize == 'small'
              ? 'max-height: 80px'
              : state.tableSize == 'medium'
              ? 'max-height: 96px'
              : state.tableSize == 'mini'
              ? 'max-height: 72px'
              : ''
            : '';
        }
      "
      :header-cell-style="
        () => {
          return state.echartConfig.showSummaryType == 'row' &&
            state.echartConfig.rowSummaryPosition === 'top'
            ? state.tableSize == 'small'
              ? 'height: 80px'
              : state.tableSize == 'medium'
              ? 'height: 96px'
              : state.tableSize == 'mini'
              ? 'height: 72px'
              : ''
            : '';
        }
      "
      @header-cell-click="headerCellClick"
    >
      <template #toolbar_tools>
        <a-dropdown :trigger="['click']">
          <a class="ant-dropdown-link" @click.prevent>
            <column-height-outlined title="密度" style="font-size: 14px; cursor: pointer" />
          </a>
          <template #overlay>
            <a-menu>
              <a-menu-item key="0">
                <a
                  @click="
                    () => {
                      state.tableSize = store.echartConfig.tableSize = 'small';
                    }
                  "
                  >默认</a
                >
              </a-menu-item>
              <a-menu-item key="1">
                <a
                  @click="
                    () => {
                      state.tableSize = store.echartConfig.tableSize = 'medium';
                    }
                  "
                  >中等</a
                >
              </a-menu-item>
              <a-menu-item key="3">
                <a
                  @click="
                    () => {
                      state.tableSize = store.echartConfig.tableSize = 'mini';
                    }
                  "
                  >紧凑</a
                >
              </a-menu-item>
            </a-menu>
          </template>
        </a-dropdown>
      </template>
      <template
        v-for="item of state.columns"
        #[`${item.field}_filter`]="{ column, $panel }"
        :key="item.field"
      >
        <div style="padding: 10px">
          <div v-for="(option, index) in column.filters" :key="index">
            <vxe-input
              v-model="option.data"
              type="text"
              placeholder="支持回车筛选"
              @keyup="keyupEvent($event, $panel)"
              @input="(e) => changeFilterEvent(e, option, $panel)"
            ></vxe-input>
          </div>
        </div>
      </template>
    </vxe-grid>
  </div>
</template>
<script setup lang="tsx">
  import { onMounted, reactive, watch, ref, onUnmounted, onBeforeMount, computed } from 'vue';
  import _ from 'lodash-es';
  import { useRoute } from 'vue-router';
  import Pubs from '@/utils/pubs.js';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  import dict from '@/utils/dict.js';
  const store = chartConfigurations();
  defineOptions({
    name: 'BspTable',
    inheritAttrs: false,
  });

  // 当前路由
  const currentRoute = useRoute();

  const emit = defineEmits([
    'dblclickLink',
    'chartClick',
    'chartZrClick',
    'chartDblclick',
    'updateOption',
    'headerCellClick',
  ]);

  const gridRef = ref();

  const props = defineProps({
    config: {
      type: Object,
      default: () => {},
    },
    data: {
      type: Object,
      default: () => {},
    },
    filter: {
      type: Object,
      default: () => {},
    },
    title: {
      type: String,
      default: '',
    },
    pageData: {
      type: Object,
      default: () => {},
    },
    widgetId: {
      type: String,
      default: '',
    },
  });

  const state = reactive({
    receiver: null, // 接收参数
    dataSource: [],
    columns: [],
    scrollXY: {
      x: 0,
      y: 100,
    },
    bordered: false,
    tableHeaderHeight: 0,
    echartConfig: computed(() => {
      return (
        props.data.dataConfig.option.echartConfig ?? {
          showSummaryType: '',
          showRowSummaryTitle: '合计',
          showColumnSummaryTitle: '合计',
          columnSummaryPosition: 'left',
          rowSummaryPosition: 'bottom',
          summaryMethods: {},
          summaryMethodsCopy: {},
          mergeColumns: [],
          tableSize: 'small',
        }
      );
    }),
    insertContent: computed(() => {
      return store.insertContent;
    }),
    summaryData: {},
    summaryDataLocal: {},
    tableSize: 'small',
    columnsSelected: [],
    gridOptions: computed(() => {
      const options = {
        border: true,
        // showOverflow: true,
        resizable: true,
        keepSource: true,
        headerRowClassName: 'my-header',
        cellClassName: 'my-cell',
        toolbarConfig: {
          enabled: false,
          custom: {
            icon: 'vxe-icon-setting',
            immediate: true,
          },
          slots: {
            tools: 'toolbar_tools',
          },
        },
        scrollX: {
          enabled:
            (store?.echartConfig?.mergeColumns && store?.echartConfig?.mergeColumns?.length > 0) ||
            (state?.echartConfig?.mergeColumns && state?.echartConfig?.mergeColumns.length > 0)
              ? false
              : true,
          gt: 0,
        },
        scrollY: {
          enabled:
            (store?.echartConfig?.mergeColumns && store?.echartConfig?.mergeColumns?.length > 0) ||
            (state?.echartConfig?.mergeColumns && state?.echartConfig?.mergeColumns.length > 0)
              ? false
              : true,
          gt: 100,
        },
        height: 'auto',
        columns: state.columns,
        data: state.dataSource,
        headerAlign: 'center',
        size: store?.echartConfig?.tableSize || state?.echartConfig?.tableSize || 'small',
        autoResize: true,
        showFooter:
          state?.echartConfig?.showSummaryType == 'row' &&
          state?.echartConfig?.rowSummaryPosition === 'bottom',
        footerMethod: ({ columns }) => {
          return [
            columns.map((column, columnIndex) => {
              if (columnIndex === 0) {
                return state?.echartConfig?.showRowSummaryTitle;
              }
              return state?.summaryDataLocal[column.field] || '--';
            }),
          ];
        },
        spanMethod: ({ row, _rowIndex, column, visibleData }) => {
          const fields =
            store?.echartConfig?.mergeColumns || state?.echartConfig?.mergeColumns || [];
          const realFields = [];
          if (store?.insertContent && store?.insertContent?.length > 0) {
            store.insertContent.map((x) => {
              if (['横轴', '纵轴'].includes(x.title)) {
                x.value.map((y) => {
                  if (fields.includes(y.columnName)) {
                    realFields.push(y.name);
                  }
                });
              }
            });
          }
          if (props?.pageData?.filterList && props?.pageData?.filterList?.length > 0) {
            props.pageData.filterList.map((x) => {
              if (['横轴', '纵轴'].includes(x.title)) {
                x.value.map((y) => {
                  if (fields.includes(y.columnName)) {
                    realFields.push(y.name);
                  }
                });
              }
            });
          }
          const cellValue = row[column?.field];
          if (cellValue && realFields?.find((x) => column?.field == x)) {
            const prevRow = visibleData[_rowIndex - 1];
            let nextRow = visibleData[_rowIndex + 1];
            if (prevRow && prevRow[column.field] === cellValue) {
              return { rowspan: 0, colspan: 0 };
            } else {
              let countRowspan = 1;
              while (nextRow && nextRow[column.field] === cellValue) {
                nextRow = visibleData[++countRowspan + _rowIndex];
              }
              if (countRowspan > 1) {
                return { rowspan: countRowspan, colspan: 1 };
              }
            }
          }
        },
      };
      return options;
    }),
    type: computed(() => {
      return currentRoute.fullPath.indexOf('/userAnalyze/ChartConfigurations') > -1
        ? 'chartConfig'
        : currentRoute.fullPath.indexOf('/userAnalyze/kanbanConfigTabs') > -1 ||
          currentRoute.fullPath.indexOf('/userAnalyze/dataPreview') > -1
        ? 'kanBanConfig'
        : 'chartConfig';
    }),
    typeEdit: computed(() => {
      return currentRoute.fullPath.indexOf('/userAnalyze/kanbanConfigTabs') > -1
        ? 'edit'
        : currentRoute.fullPath.indexOf('/userAnalyze/dataPreview') > -1
        ? 'check'
        : '';
    }),
  });
  const doSubscribe = (chartdata) => {
    Pubs.publish('updateChildData', {
      data: state.receiver,
      chart: chartdata,
    });
  };
  watch(
    () => state.receiver,
    (v) => {
      Pubs.unsubscribe(v.key);
      Pubs.subscribe(v.key, function (_msg, chartdata) {
        doSubscribe(chartdata);
      });
    },
    { deep: true },
  );
  watch(
    () => state.summaryData,
    (_nV, _oV) => {
      let dataFormats = store.insertContent?.find((z) => z.title === '纵轴')?.value;
      if (dataFormats && dataFormats.length === 0) {
        dataFormats = props.pageData.filterList?.find((z) => z.title === '纵轴')?.value;
      }
      formatData(dataFormats);
      initTable();
      if (gridRef.value) {
        gridRef.value?.refreshScroll();
      }
    },
    { deep: true },
  );
  watch(
    () => store.insertContent,
    (nV, _oV) => {
      const dataFormats = nV?.find((z) => z.title === '纵轴')?.value;
      formatData(dataFormats);
      initTable();
      if (gridRef.value) {
        gridRef.value?.refreshScroll();
      }
    },
    { deep: true },
  );
  onBeforeMount(() => {
    initTable();
  });
  onMounted(() => {
    console.log('好几次？');
    resize();
    Pubs.publish('onChartMounted', {});
  });
  const changeFilterEvent = (event, option: any, $panel: any) => {
    // 手动触发筛选
    $panel.changeOption(event, !!option.data, option);
  };
  const keyupEvent = ({ $event }, $panel) => {
    if ($event.keyCode === 13) {
      $panel.confirmFilter($event);
    }
  };
  // 设置监听参数
  const setReceiver = (receiver) => {
    state.receiver = receiver;
  };
  // 格式化合计数据
  const formatData = _.debounce((dataFormats) => {
    const keys = Object.keys(state.summaryDataLocal);
    dataFormats?.map((k) => {
      const key = k.key;
      if (keys.includes(key)) {
        const format = k.dataFormat;
        if (format) {
          if (String(state.summaryDataLocal[key])) {
            state.summaryDataLocal[key] = String(state.summaryDataLocal[key]).replaceAll(',', '');
            if (state.summaryDataLocal[key].indexOf('(') > -1) {
              state.summaryDataLocal[key] = String(state.summaryDataLocal[key]).slice(
                0,
                state.summaryDataLocal[key].indexOf('('),
              );
            }
          }
          switch (format.type) {
            case 'number':
              // 是否保留小数
              if (format.D || format.D === 0) {
                state.summaryDataLocal[key] = Number(state.summaryDataLocal[key]).toFixed(format.D);
              }
              // 是否需要千分位
              if (format.U) {
                state.summaryDataLocal[key] = (state.summaryDataLocal[key] || 0)
                  ?.toString()
                  .replace(/^-?\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','));
              }
              // 是否需要单位
              if (format.unit) {
                state.summaryDataLocal[key] = `${state.summaryDataLocal[key]}(${format?.unit})`;
              }
              break;
            case 'percent':
              // 保留小数
              state.summaryDataLocal[key] = String(state.summaryDataLocal[key]).replaceAll('%', '');
              if (format.D || format.D === 0) {
                state.summaryDataLocal[key] = `${Number(state.summaryDataLocal[key]).toFixed(
                  format.D,
                )}%`;
              }
              break;
            default:
              break;
          }
        }
      }
    });
  }, 100);

  const initTable = () => {
    // 绑定数据
    const dataSource = [] as any;
    // 绑定表头
    const columns = [] as any;

    if (props?.data && props?.data?.columnList) {
      props?.data?.columnList?.forEach((item, index) => {
        const tmp = {
          title: item.cName,
          field: item.name,
          minWidth: 120,
          dictCode: item.dictCode || null,
          filters: [{ data: '' }],
          filterMethod: ({ option, row, column }) => {
            return String(row[column.field])?.toLowerCase()?.indexOf(option.data) > -1;
          },
          slots: {
            default: ({ row: record, rowIndex: index, column }) => {
              const value = record[column.field];
              let dataFormats = store.insertContent?.find((z) => z.title === '纵轴')?.value;
              if (dataFormats && dataFormats.length === 0) {
                dataFormats = props?.pageData?.filterList?.find((z) => z.title === '纵轴')?.value;
              }
              return (
                <a
                  onClick={(el) => rowClick.click(record, value, index, el, column)}
                  onDblclick={() => rowClick.dblclick()}
                  onContextmenu={(el) => rowClick.contextmenu(record, value, index, el, column)}
                >
                  {value || value == '0'
                    ? store.formatterTable(value, item.cName, dataFormats ?? [])
                    : value}
                </a>
              );
            },
            filter: `${item.name}_filter`,
          },
        };
        // 顶部合计多级表头的初始化
        if (
          state.echartConfig.showSummaryType == 'row' &&
          state.echartConfig.rowSummaryPosition === 'top'
        ) {
          if (index === 0) {
            tmp.slots['header'] = ({ column }) => {
              return (
                <div class="special-title">
                  <span class="special-value-title">{column.title}</span>
                  <a-divider />
                  <span class="special-value">{state.echartConfig.showRowSummaryTitle}</span>
                </div>
              );
            };
          }
        }
        // 判断列是否需要合计
        if (state?.echartConfig?.showSummaryType == 'row') {
          const summaryMethods = state?.echartConfig?.summaryMethods;
          for (const [key, value] of Object.entries(summaryMethods)) {
            if (key === item.name) {
              tmp['needSummary'] = true;
              tmp['summaryMethod'] = value;
            }
          }
        }
        columns.push(tmp);
      });
    }

    if (props?.data && props.data.data) {
      const data = props.data.data;
      for (let i = 0; i < data.length; i++) {
        const newData = {};
        const item = data[i];
        item.forEach((iItem, iIndex) => {
          newData[columns[iIndex]?.field] = iItem;
          if (columns[iIndex]?.dictCode != null) {
            //值集映射
            const obj = dict.getValue(columns[iIndex].dictCode, newData[columns[iIndex].field]);
            newData[columns[iIndex].field] =
              obj == undefined ? newData[columns[iIndex].field] : obj.itemText;
          }
        });
        newData['id'] = i;
        dataSource.push(newData);
      }
    }

    // 左侧\右侧合计则在插入在列首
    if (state.echartConfig.showSummaryType === 'column') {
      if (state.echartConfig.columnSummaryPosition === 'left') {
        columns.unshift({
          title: state.echartConfig.showColumnSummaryTitle,
          field: 'leftTitle',
          width: 120,
        });
      } else {
        columns.push({
          title: state.echartConfig.showColumnSummaryTitle,
          field: 'leftTitle',
          width: 120,
        });
      }
      const tempColumns: Array<any> = [];
      store.insertContent.map((x) => {
        if (['横轴', '纵轴'].includes(x.title)) {
          x.value.map((y) => {
            if (['DECIMAL', 'INT', 'BIGINT', 'decimal', 'int', 'bigInt'].includes(y.sourceType)) {
              tempColumns.push(y.key);
            }
          });
        }
      });
      dataSource.map((z) => {
        const list: Array<any> = [];
        for (const [key, value] of Object.entries(z)) {
          if (tempColumns.includes(key)) {
            if (value || value == '0') list.push(value);
          }
        }
        let res: any = 0;
        list.map((y) => {
          res += Number(y);
        });
        z['leftTitle'] = res.toFixed(2);
      });
    }

    // 处理是否需要合计
    if (state.echartConfig.showSummaryType) {
      columns.map((x, index) => {
        if (x.summaryMethod) {
          let res: any = 0;
          const list = dataSource.map((y) => {
            return Number(y[x.field]);
          });
          switch (x.summaryMethod) {
            case 'sum': {
              // 求和
              dataSource.map((y) => {
                res += Number(y[x.field]);
              });
              break;
            }
            case 'max': {
              // 最大值
              res = Math.max(...list);
              break;
            }
            case 'min': {
              // 最小值
              res = Math.min(...list);
              break;
            }
            case 'median': {
              // 中位数
              const sortedArr = list.slice().sort((a, b) => a - b);
              const inputLength = list.length;
              const middleIndex = Math.floor(inputLength / 2);
              const oddLength = inputLength % 2 != 0;
              if (oddLength) {
                res = sortedArr[middleIndex];
              } else {
                res = (sortedArr[middleIndex] + sortedArr[middleIndex - 1]) / 2;
              }
              break;
            }
            case 'variance': {
              // 方差
              const avg = list.reduce((sum, val) => sum + val, 0) / list.length;
              const diffSquaredSum = list.reduce((acc, val) => {
                const diff = val - avg;
                return acc + diff * diff;
              }, 0);
              res = diffSquaredSum / list.length;
              break;
            }
            case 'standardDeviation': {
              // 标准差
              const n = list.length;
              const mean = list.reduce((acc, cur) => acc + cur, 0) / n;
              const diffsSquaredSum = list.reduce((acc, cur) => acc + Math.pow(cur - mean, 2), 0);
              const variance = diffsSquaredSum / n;
              res = Math.sqrt(variance);
              break;
            }
          }

          let dataFormats = store.insertContent?.find((z) => z.title === '纵轴')?.value;
          if (dataFormats && dataFormats.length === 0) {
            dataFormats = props?.pageData?.filterList?.find((z) => z.title === '纵轴')?.value;
          }
          res = store.formatterTable(String(res), x.title, dataFormats ?? []);

          state.summaryData[x.field] = res;
          state.summaryDataLocal[x.field] = res;
          if (
            state.echartConfig.showSummaryType == 'row' &&
            state.echartConfig.rowSummaryPosition === 'top'
          ) {
            x.slots.header = ({ column }) => {
              return (
                <div class="special-title">
                  <span class="special-value-title">{column.title}</span>
                  <a-divider />
                  <span class="special-value">{res}</span>
                </div>
              );
            };
          }
        } else {
          if (
            state.echartConfig.showSummaryType == 'row' &&
            state.echartConfig.rowSummaryPosition === 'top'
          ) {
            if (index !== 0) {
              x.slots.header = ({ column }) => {
                return (
                  <div class="special-title">
                    <span class="special-value-title">{column.title}</span>
                    <a-divider />
                    <span class="special-value">--</span>
                  </div>
                );
              };
            }
          }
        }
      });
    }

    // 插入序号列
    columns.unshift({ type: 'seq', width: 50, title: '序号' });

    state.columns = columns;
    state.dataSource = dataSource;
  };
  const rowClick = {
    click: (record, value, index, _el, column) => {
      const params = {
        record,
        index,
        value,
        column: {
          ...column,
          dataIndex: column.field,
          dictCode: column.dictCode,
          key: column.field,
          title: column.title,
          width: column.width,
        },
        type: 'table',
        columns: state.columns.map((x) => {
          return {
            ...x,
            dataIndex: x.field,
            dictCode: x.dictCode,
            key: x.field,
            title: x.title,
            width: x.width,
          };
        }),
      };
      Object.assign(params, { ext: props.data }, { dataIndex: column.field });
      emit('chartClick', params);
    },
    dblclick: () => {
      console.log('双击');
      emit('dblclickLink');
    },
    contextmenu: (record, value, index, e, column) => {
      e.preventDefault();
      const params = {
        record,
        index,
        value,
        column: {
          ...column,
          dataIndex: column.field,
          dictCode: column.dictCode,
          key: column.field,
          title: column.title,
          width: column.width,
        },
        type: 'table',
        columns: state.columns.map((x) => {
          return {
            ...x,
            dataIndex: x.field,
            dictCode: x.dictCode,
            key: x.field,
            title: x.title,
            width: x.width,
          };
        }),
      };
      Object.assign(params, { ext: props.data }, { dataIndex: column.field });
      emit('chartDblclick', e, params);
    },
  };
  const bspTable = ref();
  const h3Dom = ref();
  const resize = () => {
    state.scrollXY = {
      x: bspTable.value.clientWidth - 20,
      y:
        bspTable.value.clientHeight -
        h3Dom.value.clientHeight -
        (state.echartConfig.showSummaryType == 'row' ? 160 : 120),
    };
  };
  // 随着屏幕大小调节图表
  window.addEventListener('resize', resize);
  onUnmounted(() => {
    window.removeEventListener('resize', resize);
    console.log('卸载了吗？');
  });

  const headerCellClick = ({ triggerFilter, triggerSort, triggerResizable }) => {
    if (!triggerFilter && !triggerSort && !triggerResizable) {
      if (state.typeEdit === 'check') {
        emit('headerCellClick', props.widgetId);
      }
    }
  };

  defineExpose({ resize, setReceiver });
</script>
<style lang="less" scoped>
  .bspTable {
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex: 1;
    h3 {
      text-align: center;
      font-size: 18px;
      color: #464646;
      font-weight: 600;
      margin-bottom: 0;
    }
    /deep/.ant-table-thead > tr > th {
      text-align: center !important;
    }
    /deep/.ant-table-thead > tr:nth-child(2) {
      th {
        // font-weight: bold;
        text-align: left !important;
        background: #fff;
      }
    }
  }
  .kanBanConfig {
    padding-bottom: 8px;
    /deep/.vxe-grid {
      padding: 5px 10px 20px 10px;
    }
  }
  .chartConfig {
    padding: 5px;
    /deep/.vxe-grid {
      padding: 5px;
    }
  }
  /deep/.vxe-custom--wrapper {
    .vxe-button {
      border-radius: unset !important;
      border: unset !important;
      font-size: 14px !important;
    }
  }
  /deep/.ant-divider-horizontal {
    margin: unset !important;
  }
  /deep/.vxe-grid.size--small,
  .vxe-grid.size--medium,
  .vxe-grid.size--mini {
    .vxe-header--column:has(.special-title) {
      padding: unset !important;
    }
    .vxe-cell:has(.special-title) {
      .vxe-cell--title:has(.special-title) {
        height: 100%;
        width: 100%;
        .special-title {
          display: flex;
          height: 100%;
          flex-direction: column;
          width: 100%;
        }
        .special-value {
          display: flex;
          text-align: left;
          background: white;
          height: 100%;
          width: calc(100% - 0.5px);
          align-items: center;
          border-right: 1px solid #e5e7eb;
          padding-left: 9px;
        }
        .special-value-title {
          height: 100%;
          display: inline-grid;
          align-items: center;
        }
      }
    }
  }
  /deep/.vxe-grid.size--small {
    .vxe-cell:has(.special-title) {
      max-height: 80px !important;
      height: 100%;
      padding: unset !important;
    }
  }
  /deep/.vxe-grid.size--medium {
    .vxe-cell:has(.special-title) {
      max-height: 96px !important;
      height: 100%;
      padding: unset !important;
    }
  }
  /deep/.vxe-grid.size--mini {
    .vxe-cell:has(.special-title) {
      max-height: 72px !important;
      height: 100%;
      padding: unset !important;
    }
  }
</style>
