<template>
  <div class="page-container">
    <div class="page-container-table">
      <DynamicTable
        header-title="数据源管理"
        :data-request="loadTableData"
        :columns="columns"
        auto-height
        :scroll="{ x: 2000, y: 300 }"
      >
        <template #toolbar>
          <a-button type="primary" @click="openDSModal({})"> <PlusOutlined /> 新增 </a-button>
        </template>
      </DynamicTable>
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { getCurrentInstance } from 'vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { dsSchemas } from './formSchemas';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  import { getDSList, createDS, updateDS, deleteDS } from '@/api/dataAdministration/management';
  import { useFormModal } from '@/hooks/useModal/index';
  defineOptions({
    name: 'DSAdministration',
  });

  const { proxy } = getCurrentInstance();

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'id',
    bordered: true,
  });
  const [showModal] = useFormModal();

  const openDSModal = async (record: Partial<TableListItem> = {}) => {
    const [formRef] = await showModal<any>({
      modalProps: {
        title: `${record.id ? '编辑' : '新增'}数据源`,
        width: 850,
        onFinish: async (values) => {
          values.id = record.id;
          await (record.id ? updateDS : createDS)(values);
          dynamicTableInstance?.reload();
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: dsSchemas,
      },
    });

    const sourceTypes = proxy.$dict.getItemsByDictCode('sourceType');
    const options = sourceTypes.map((item, index) => {
      return {
        label: item[`itemText`],
        value: item[`itemText`],
        key: index,
      };
    });

    formRef?.updateSchema([
      {
        field: 'sourceType',
        componentProps: {
          options,
        },
      },
    ]);

    formRef?.setFieldsValue(record);
  };

  const delRowConfirm = async (id) => {
    await deleteDS(id).finally(dynamicTableInstance?.reload);
  };

  const loadTableData = async (params: LoadDataParams) => {
    console.log(params);
    const data = await getDSList({
      ...params,
    });

    const dsList = data.data.map((item) => {
      return {
        ...item,
        url: item.config.jdbcUrl ? item.config.jdbcUrl : item.config.apiUrl,
        userName: item.config.userName,
        passWord: item.config.passWord,
      };
    });
    return {
      list: dsList,
      pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
    };
  };

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 15,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        if (record.type === undefined || record.type !== '1') {
          return [
            {
              label: '编辑',
              actionType: 'icon',
              icon: 'EditOutlined',
              style: 'color:#1890ff',
              onClick: () => openDSModal(record),
            },
            {
              label: '删除',
              actionType: 'icon',
              style: 'color:#1890ff',
              icon: 'DeleteOutlined',
              popConfirm: {
                title: '你确定要删除吗？',
                onConfirm: () => delRowConfirm(record.id),
              },
            },
          ];
        } else {
          return [];
        }
      },
    },
  ];
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
</style>
