<template>
  <div class="page-container">
    <a-row class="filerow">
      <a-col :span="6" class="filecol">
        <span>时间范围：</span>
        <a-range-picker v-model:value="state.fileData" format="YYYY-MM-DD" @change="pickerChange" />
      </a-col>
    </a-row>
    <DynamicTable
      :data-source="state.dataSourceList"
      :columns="columns"
      :row-selection="rowSelection"
      auto-height
      :pagination="false"
      :scroll="{ x: 'auto' }"
      :loading="state.Listloading"
    >
      <template #toolbar>
        <a-button type="primary" :disabled="!isCheckRows" @click="batchAllbtn"> 批量下载 </a-button>
      </template>
    </DynamicTable>

    <a-modal
      v-model:visible="state.visibleList"
      :footer="null"
      :title="state.visibleTitle"
      width="90%"
      @ok="handleOk"
    >
      <div v-if="state.visibleTitle == '合同检查问题跟踪'">
        <MergeTable
          :has-header="false"
          :column-groups="stateTable.columnGroups15"
          :column-list="stateTable.columnList15"
          :data-list="stateTable.dataList"
          :scroll="{ x: 1800, y: 500 }"
        />
      </div>
      <div v-else-if="state.visibleTitle == '模型出现问题频次'">
        <MergeTable
          :has-header="false"
          :column-groups="stateTable.columnGroups16"
          :column-list="stateTable.columnList16"
          :data-list="stateTable.dataList"
          :scroll="{ x: 1800, y: 500 }"
        />
      </div>
      <div v-else-if="state.visibleTitle == '检查人效率统计'">
        <a-table
          :pagination="false"
          bordered
          :columns="stateTable.columnList17"
          :data-source="stateTable.dataList"
          :scroll="{ x: 1800, y: 500 }"
          :loading="stateTable.tableloading"
        />
      </div>
      <div v-else>
        <a-table
          :columns="stateTable.columnList"
          :data-source="stateTable.dataList"
          :pagination="false"
          bordered
          :scroll="{ x: 1800, y: 500 }"
          :ellipsis="true"
          :loading="stateTable.tableloading"
        >
        </a-table>
      </div>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, onMounted, ref, computed, nextTick } from 'vue';
  import { ExclamationCircleOutlined } from '@ant-design/icons-vue';
  import { debounce } from 'lodash-es';
  import dayjs from 'dayjs';
  import { Modal } from 'ant-design-vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { MergeTable } from '@/components/business';
  import { useTable } from '@/components/core/dynamic-table';
  import {
    monitoringResDownload,
    AllDownloads,
    Downloads,
    monitoringResDetail,
  } from '@/api/dataAdministration/downloadcenter';
  defineOptions({
    name: '/SupervisionGovern/reportDownload/index',
  });
  const state = reactive({
    lineOfDefenseTypeFlag: null,
    colData: {},
    visibleList: false,
    visibleTitle: '',
    canQuery: true,
    filters: [],
    filters1: [],
    show: true,
    dataSource: [],
    dataSourceList: [],
    modelOwners: [],
    pagination: {
      current: 1,
      pageSize: 20,
    },
    loading: false,
    Listloading: false,
    isCheckRows: false,
    selectedRows: [],
    reportList: [],
    fileData: [], //文件生成时间
  });

  const stateTable = reactive({
    tableloading: false,
    dataList: [],
    columnList: [],
    //监督模型分布情况
    columnList1: [
      { title: '防线类型', dataIndex: 'lineDefenseType', align: 'center' }, //业务系统--对接的时候改为所属防线
      {
        title: '模型总数',
        dataIndex: 'modelTotal',
        align: 'center',
      },
      {
        title: '自建模型数',
        dataIndex: 'selfModelNum',
        align: 'center',
      },
      {
        title: '疑点',
        dataIndex: 'lastMonthDoubtNum',
        align: 'center',
      },
      {
        title: '本月确定问题',
        dataIndex: 'lastMonthConfirmProblemNum',
        align: 'center',
      },
      {
        title: '本月移交问题',
        dataIndex: 'lastMonthHandoverIssuesNum',
        align: 'center',
      },
      {
        title: '累计疑点',
        dataIndex: 'yearDoubtNum',
        align: 'center',
      },
      {
        title: '累计确认问题',
        dataIndex: 'yearConfirmProblemNum',
        align: 'center',
      },
      {
        title: '累计移交问题',
        dataIndex: 'yearHandoverIssuesNum',
        align: 'center',
      },
    ],

    // 监督模型分布情况详情
    columnList2: [
      { title: '单位', dataIndex: 'unitName', width: 170, align: 'center' },
      {
        title: '模型总数',
        dataIndex: 'modelTotal',
        align: 'center',
      },
      {
        title: '本月疑点',
        dataIndex: 'lastMonthDoubtNum',
        align: 'center',
      },
      {
        title: '本月确认问题',
        dataIndex: 'lastMonthConfirmProblemNum',
        align: 'center',
      },
      {
        title: '本月移交问题',
        dataIndex: 'lastMonthHandoverIssuesNum',
        align: 'center',
      },
      {
        title: '累计疑点',
        dataIndex: 'yearDoubtNum',
        align: 'center',
      },
      {
        title: '累计确认问题',
        dataIndex: 'yearConfirmProblemNum',
        align: 'center',
      },
      {
        title: '累计移交问题',
        dataIndex: 'yearHandoverIssuesNum',
        align: 'center',
      },
    ],

    // 各部门监督模型分布情况详情
    columnList3: [
      { title: '部门', dataIndex: 'deptName', width: 170, align: 'center' },
      {
        title: '模型拥有人数',
        dataIndex: 'modelOwnerNum',
        align: 'center',
      },
      {
        title: '模型数',
        dataIndex: 'modelNum',
        align: 'center',
      },
      {
        title: '本月疑点',
        dataIndex: 'lastMonthDoubtNum',
        align: 'center',
      },
      {
        title: '本月确认问题',
        dataIndex: 'lastMonthConfirmProblemNum',
        align: 'center',
      },
      {
        title: '本月移交问题',
        dataIndex: 'lastMonthHandoverIssuesNum',
        align: 'center',
      },
      {
        title: '累计疑点',
        dataIndex: 'yearDoubtNum',
        align: 'center',
      },
      {
        title: '累计确认问题',
        dataIndex: 'yearConfirmProblemNum',
        align: 'center',
      },
      {
        title: '累计移交问题',
        dataIndex: 'yearHandoverIssuesNum',
        align: 'center',
      },
    ],

    // 部门模型拥有人情况详情
    columnList4: [
      { title: '模型拥有人', dataIndex: 'modelOwner', align: 'center' },
      {
        title: '模型名称',
        dataIndex: 'modelName',
        align: 'center',
        width: 180,
        ellipsis: true,
      },
      {
        title: '本月疑点',
        dataIndex: 'lastMonthDoubtNum',
        align: 'center',
      },
      {
        title: '本月确认问题',
        dataIndex: 'lastMonthConfirmProblemNum',
        align: 'center',
      },
      {
        title: '本月移交问题',
        dataIndex: 'lastMonthHandoverIssuesNum',
        align: 'center',
      },
      {
        title: '累计疑点',
        dataIndex: 'yearDoubtNum',
        align: 'center',
      },
      {
        title: '累计确认问题',
        dataIndex: 'yearConfirmProblemNum',
        align: 'center',
      },
      {
        title: '累计移交问题',
        dataIndex: 'yearHandoverIssuesNum',
        align: 'center',
      },
    ],

    // 监督领域模型情况汇总
    columnList5: [
      { title: '监督领域', dataIndex: 'businessSystems', align: 'center' },
      {
        title: '模型数量',
        dataIndex: 'modelNum',
        align: 'center',
      },
      {
        title: '本月疑点',
        dataIndex: 'lastMonthDoubtNum',
        align: 'center',
      },
      {
        title: '本月确认问题',
        dataIndex: 'lastMonthConfirmProblemNum',
        align: 'center',
      },
      {
        title: '本月移交问题',
        dataIndex: 'lastMonthHandoverIssuesNum',
        align: 'center',
      },
      {
        title: '累计疑点',
        dataIndex: 'yearDoubtNum',
        align: 'center',
      },
      {
        title: '累计确认问题',
        dataIndex: 'yearConfirmProblemNum',
        align: 'center',
      },
      {
        title: '累计移交问题',
        dataIndex: 'yearHandoverIssuesNum',
        align: 'center',
      },
    ],

    // 监督领域模型详情
    columnList6: [
      { title: '监督领域', dataIndex: 'businessSystems', align: 'center' },
      {
        title: '模型名称',
        dataIndex: 'modelName',
        width: 120,
        align: 'center',
      },
      {
        title: '本月疑点',
        dataIndex: 'lastMonthDoubtNum',
        align: 'center',
      },
      {
        title: '本月确认问题',
        dataIndex: 'lastMonthConfirmProblemNum',
        align: 'center',
      },
      {
        title: '本月移交问题',
        dataIndex: 'lastMonthHandoverIssuesNum',
        align: 'center',
      },
      {
        title: '累计疑点',
        dataIndex: 'yearDoubtNum',
        align: 'center',
      },
      {
        title: '累计确认问题',
        dataIndex: 'yearConfirmProblemNum',
        align: 'center',
      },
      {
        title: '累计移交问题',
        dataIndex: 'yearHandoverIssuesNum',
        align: 'center',
      },
    ],

    //  监督问题构成分布（按部门）
    columnList7: [
      { title: '责任单位', dataIndex: 'liabilityUnit', align: 'center', width: 150 },
      {
        title: '责任部门',
        dataIndex: 'liabilityDept',
        align: 'center',
      },
      {
        title: '本月确认问题',
        dataIndex: 'lastMonthConfirmProblemNum',
        align: 'center',
      },
      {
        title: '本月移交问题',
        dataIndex: 'lastMonthHandoverIssuesNum',
        align: 'center',
      },
      {
        title: '累计确认问题',
        dataIndex: 'confirmProblemNum',
        align: 'center',
      },
      {
        title: '累计移交问题',
        dataIndex: 'handoverIssuesNum',
        align: 'center',
      },
    ],

    // 	 监督问题构成分布（按业务环节）
    columnList8: [
      { title: '监督领域', dataIndex: 'businessSystems', align: 'center' },
      { title: '业务环节', dataIndex: 'businessLink', align: 'center' },
      {
        title: '本月确认问题',
        dataIndex: 'lastMonthConfirmProblemNum',
        align: 'center',
      },
      {
        title: '本月移交问题',
        dataIndex: 'lastMonthHandoverIssuesNum',
        align: 'center',
      },
      {
        title: '累计确认问题',
        dataIndex: 'confirmProblemNum',
        align: 'center',
      },
      {
        title: '累计移交问题',
        dataIndex: 'handoverIssuesNum',
        align: 'center',
      },
    ],

    //  各单位模型监督效率统计
    columnList9: [
      { title: '单位', dataIndex: 'unitName', key: 'unitName', align: 'center', width: 150 },
      { title: '部门', dataIndex: 'deptName', key: 'deptName', align: 'center' },
      {
        title: '模型管理员',
        dataIndex: 'sendTargetUsers',
        key: 'sendTargetUsers',
        align: 'center',
      },
      {
        title: '模型数量',
        dataIndex: 'modelQty',
        align: 'center',
      },
      {
        title: '本月疑点',
        dataIndex: 'lastMonthDoubtNum',
        align: 'center',
      },
      {
        title: '本月确认问题',
        dataIndex: 'lastMonthConfirmProblemNum',
        align: 'center',
      },
      {
        title: '本月移交移交问题',
        dataIndex: 'lastMonthHandoverIssuesNum',
        align: 'center',
      },
      {
        title: '累计疑点',
        dataIndex: 'doubtNum',
        align: 'center',
      },
      {
        title: '累计确认问题',
        dataIndex: 'confirmProblemNum',
        align: 'center',
      },
      {
        title: '累计移交问题',
        dataIndex: 'handoverIssuesNum',
        align: 'center',
      },
    ],
    // 明细模型监督效率
    columnList10: [
      { title: '防线', dataIndex: 'lineDefenseType', align: 'center' },
      { title: '单位', dataIndex: 'unitName', align: 'center' },
      {
        title: '模型管理员',
        dataIndex: 'sendTargetUsers',
        align: 'center',
      },
      {
        title: '模型名称',
        dataIndex: 'modelName',
        align: 'center',
      },
      {
        title: '监督领域',
        dataIndex: 'businessSystems',
        align: 'center',
      },
      {
        title: '本月疑点',
        dataIndex: 'lastMonthDoubtNum',
        align: 'center',
      },
      {
        title: '本月确认问题',
        dataIndex: 'lastMonthConfirmProblemNum',
        align: 'center',
      },
      {
        title: '本月移交移交问题',
        dataIndex: 'lastMonthHandoverIssuesNum',
        align: 'center',
      },
      {
        title: '累计疑点',
        dataIndex: 'doubtNum',
        align: 'center',
      },
      {
        title: '累计确认问题',
        dataIndex: 'confirmProblemNum',
        align: 'center',
      },
      {
        title: '累计移交问题',
        dataIndex: 'handoverIssuesNum',
        align: 'center',
      },
    ],
    // 监督再监督单位指标
    columnList11: [
      { title: '单位名称', dataIndex: 'dimension', width: 180 },
      {
        title: '自建模型数量',
        dataIndex: 'selfBuiltModelQty',
        align: 'center',
        width: 220,
      },
      {
        title: '自建模型精准率',
        dataIndex: 'selfBuiltModelAccuracy',
        align: 'center',
        width: 220,
      },
      {
        title: '自建模型输出疑点核查及时率',
        dataIndex: 'selfBuiltModelDoubtAccuracy',
        align: 'center',
        ellipsis: true,
        width: 220,
      },
      {
        title: '推送疑点自查回复及时率',
        dataIndex: 'doubtReplyAccuracy',
        align: 'center',
        width: 200,
        ellipsis: true,
      },
      {
        title: '问题整改及时率',
        dataIndex: 'problemRectificationAccuracy',
        align: 'center',
        ellipsis: true,
        width: 140,
      },
      {
        title: '自建模型记录推送率',
        dataIndex: 'selfBuiltModelPushAccuracy',
        align: 'center',
        width: 180,
      },
      {
        title: '自建模型处理完成率',
        dataIndex: 'selfBuiltModelDisposeAccuracy',
        align: 'center',
        width: 160,
      },
      {
        title: '记录处理平均消耗天数',
        dataIndex: 'processRecordsAverageDays',
        align: 'center',
        ellipsis: true,
        width: 190,
      },
      {
        title: '无需推送比例',
        dataIndex: 'withoutPushProportion',
        align: 'center',
        width: 120,
        ellipsis: true,
      },
    ],
    // 	监督再监督部门指标
    columnList12: [
      { title: '部门名称', dataIndex: 'dimension', width: 180 },
      {
        title: '自建模型数量',
        dataIndex: 'selfBuiltModelQty',
        width: 220,
        align: 'center',
      },
      {
        title: '自建模型精准率',
        dataIndex: 'selfBuiltModelAccuracy',
        align: 'center',
        width: 220,
      },
      {
        title: '自建模型输出疑点核查及时率',
        dataIndex: 'doubtReplyAccuracy',
        align: 'center',
        width: 200,
        ellipsis: true,
      },
      {
        title: '问题整改及时率',
        dataIndex: 'problemRectificationAccuracy',
        align: 'center',
        ellipsis: true,
        width: 140,
      },
      {
        title: '自建模型记录推送率',
        dataIndex: 'selfBuiltModelPushAccuracy',
        align: 'center',
        width: 180,
      },
      {
        title: '自建模型处理完成率',
        dataIndex: 'selfBuiltModelDisposeAccuracy',
        align: 'center',
        width: 160,
      },
      {
        title: '记录处理平均消耗天数',
        dataIndex: 'processRecordsAverageDays',
        align: 'center',
        ellipsis: true,
        width: 190,
      },
      {
        title: '无需推送比例',
        dataIndex: 'withoutPushProportion',
        align: 'center',
        width: 120,
        ellipsis: true,
      },
    ],
    // 	监督再监督人员指标
    columnList13: [
      { title: '人员', dataIndex: 'dimension' },
      {
        title: '自建模型数量',
        dataIndex: 'selfBuiltModelQty',
        ellipsis: true,
        width: 120,
        align: 'center',
      },
      {
        title: '自建模型精准率',
        dataIndex: 'selfBuiltModelAccuracy',
        align: 'center',
        width: 140,
        ellipsis: true,
      },
      {
        title: '自建模型输出疑点核查及时率',
        dataIndex: 'selfBuiltModelDoubtAccuracy',
        align: 'center',
        ellipsis: true,
        width: 220,
      },
      {
        title: '推送疑点自查回复及时率',
        dataIndex: 'doubtReplyAccuracy',
        align: 'center',
        width: 200,
        ellipsis: true,
      },
      {
        title: '问题整改及时率',
        dataIndex: 'problemRectificationAccuracy',
        align: 'center',
        ellipsis: true,
        width: 140,
      },
      {
        title: '自建模型记录推送率',
        dataIndex: 'selfBuiltModelPushAccuracy',
        align: 'center',
        width: 180,
      },
      {
        title: '自建模型处理完成率',
        dataIndex: 'selfBuiltModelDisposeAccuracy',
        align: 'center',
        width: 160,
      },
      {
        title: '记录处理平均消耗天数',
        dataIndex: 'processRecordsAverageDays',
        align: 'center',
        ellipsis: true,
        width: 190,
      },
      {
        title: '无需推送比例',
        dataIndex: 'withoutPushProportion',
        align: 'center',
        width: 120,
        ellipsis: true,
      },
    ],
    // 	监督再监督模型指标
    columnList14: [
      { title: '模型名称', dataIndex: 'dimension' },
      {
        title: '自建模型数量',
        dataIndex: 'selfBuiltModelQty',
        ellipsis: true,
        width: 120,
        align: 'center',
      },
      {
        title: '自建模型精准率',
        dataIndex: 'selfBuiltModelAccuracy',
        align: 'center',
        width: 140,
        ellipsis: true,
      },
      {
        title: '自建模型输出疑点核查及时率',
        dataIndex: 'selfBuiltModelDoubtAccuracy',
        align: 'center',
        ellipsis: true,
        width: 220,
      },
      {
        title: '推送疑点自查回复及时率',
        dataIndex: 'doubtReplyAccuracy',
        align: 'center',
        width: 200,
        ellipsis: true,
      },
      {
        title: '问题整改及时率',
        dataIndex: 'problemRectificationAccuracy',
        align: 'center',
        ellipsis: true,
        width: 140,
      },
      {
        title: '自建模型记录推送率',
        dataIndex: 'selfBuiltModelPushAccuracy',
        align: 'center',
        width: 180,
      },
      {
        title: '自建模型处理完成率',
        dataIndex: 'selfBuiltModelDisposeAccuracy',
        align: 'center',
        width: 160,
      },
      {
        title: '记录处理平均消耗天数',
        dataIndex: 'processRecordsAverageDays',
        align: 'center',
        ellipsis: true,
        width: 190,
      },
      {
        title: '无需推送比例',
        dataIndex: 'withoutPushProportion',
        align: 'center',
        width: 120,
        ellipsis: true,
      },
    ],
    columnGroups15: [
      {
        title: '合同数量',
        children: [
          'currentPeriodContractTotal',
          'modelGroupSuspectedProblems',
          'modelGroupConfirmedProblems',
          'greaterThanOne',
          'rectificationContract',
        ],
      },
    ],
    // 合同检查问题跟踪
    columnList15: [
      { title: '单位', dataIndex: 'unitName' },
      {
        title: '寻源业务室代码',
        dataIndex: 'deptCode',
        ellipsis: true,
        width: 120,
        align: 'center',
      },
      {
        title: '寻源业务室名称',
        dataIndex: 'deptName',
        align: 'center',
        width: 140,
        ellipsis: true,
      },
      {
        title: '当期合同总数',
        dataIndex: 'currentPeriodContractTotal',
        align: 'center',
        ellipsis: true,
        width: 180,
      },
      {
        title: '模型组疑似问题合同数',
        dataIndex: 'modelGroupSuspectedProblems',
        align: 'center',
        width: 200,
        ellipsis: true,
      },
      {
        title: '已确认是问题合同数',
        dataIndex: 'modelGroupConfirmedProblems',
        align: 'center',
        ellipsis: true,
        width: 180,
      },
      {
        title: '问题项>1的合同数',
        dataIndex: 'greaterThanOne',
        align: 'center',
        width: 180,
      },
      {
        title: '已完成整改合同数',
        dataIndex: 'rectificationContract',
        align: 'center',
        width: 160,
      },
      {
        title: '合同合格率',
        dataIndex: 'contractRate',
        align: 'center',
        ellipsis: true,
        width: 140,
      },
      {
        title: '整改完成率',
        dataIndex: 'rectificationRate',
        align: 'center',
        width: 120,
        ellipsis: true,
      },
      {
        title: '模型组精准率',
        dataIndex: 'modelGroupRate',
        align: 'center',
        width: 120,
        ellipsis: true,
      },
    ],
    columnGroups16: [
      {
        title: '模型名称(确认问题合同数)',
        children: [],
      },
    ],
    // 模型出现问题频次
    columnList16: [],
    // 检查人效率统计
    columnList17: [
      { title: '序号', dataIndex: 'num' },
      { title: '检查人', dataIndex: 'checkPeople' },
      {
        title: '模型组疑似问题合同数',
        dataIndex: 'modelGroupSuspectedProblems',
        ellipsis: true,
        align: 'center',
      },
      {
        title: '已确认是问题合同数',
        dataIndex: 'modelGroupConfirmedProblems',
        align: 'center',
        ellipsis: true,
      },
      {
        title: '模型精准率',
        dataIndex: 'modelGroupAccuracy',
        align: 'center',
        ellipsis: true,
      },
    ],
  });
  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      // console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      rowSelection.value.selectedRowKeys = selectedRowKeys;
      state.selectedRows = selectedRows;
    },
  });
  // 是否勾选了表格行
  const isCheckRows = computed(() => rowSelection.value.selectedRowKeys.length);

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: 'id',
    bordered: true,
  });

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 80,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        const actions: any = [];
        actions.push({
          label: '下载',
          style: 'color:#1890ff',
          onClick: () => Download(record),
        });
        return actions;
      },
    },
  ];
  //批量下载
  const batchAllbtn = debounce(() => {
    const record = state.selectedRows;
    const allList = [];
    record.forEach((v) => {
      const obj = {
        timeRange: v.timeRange,
        reportName: v.reportName,
      };
      allList.push(obj);
    });
    const now = dayjs(new Date()).format('YYYYMMDD');

    Modal.confirm({
      title: '确定要批量下载表集合吗?',
      icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: () => {
        AllDownloads(allList, `监督成果统计表${now}.zip`);
      },
    });
  }, 500);
  //列表下载
  const Download = (record) => {
    const params = {
      timeRange: record.timeRange,
      reportName: record.reportName,
      // exportPath: record.exportPath,
    };

    Downloads(params, `${record.reportName}.xlsx`);
  };
  const handleOk = () => {
    state.visibleList = false;
  };
  const onRowModal = (record) => {
    stateTable.tableloading = true;
    state.visibleTitle = record.reportName;
    if (record.reportName == '各单位模型监督效率统计') {
      stateTable.columnList = stateTable.columnList9;
    } else if (record.reportName == '监督问题构成分布（按业务环节）') {
      stateTable.columnList = stateTable.columnList8;
    } else if (record.reportName == '监督领域模型详情') {
      stateTable.columnList = stateTable.columnList6;
    } else if (record.reportName == '监督问题构成分布（按部门）') {
      stateTable.columnList = stateTable.columnList7;
    } else if (record.reportName == '部门模型拥有人情况详情') {
      stateTable.columnList = stateTable.columnList4;
    } else if (record.reportName == '监督领域模型情况汇总') {
      stateTable.columnList = stateTable.columnList5;
    } else if (record.reportName == '各部门监督模型分布情况详情') {
      stateTable.columnList = stateTable.columnList3;
    } else if (record.reportName == '监督模型分布情况详情') {
      stateTable.columnList = stateTable.columnList2;
    } else if (record.reportName == '监督模型分布情况') {
      stateTable.columnList = stateTable.columnList1;
    } else if (record.reportName == '明细模型监督效率') {
      stateTable.columnList = stateTable.columnList10;
    } else if (record.reportName == '监督再监督单位指标') {
      stateTable.columnList = stateTable.columnList11;
    } else if (record.reportName == '监督再监督部门指标') {
      stateTable.columnList = stateTable.columnList12;
    } else if (record.reportName == '监督再监督人员指标') {
      stateTable.columnList = stateTable.columnList13;
    } else if (record.reportName == '监督再监督模型指标') {
      stateTable.columnList = stateTable.columnList14;
    }
    state.visibleList = true;
    const params = {
      timeRange: record.timeRange,
      reportName: record.reportName,
    };
    monitoringResDetail(params).then((r) => {
      if (r.success) {
        stateTable.tableloading = false;
        if (record.reportName == '模型出现问题频次') {
          const columnList = r.data[0].heads;
          stateTable.columnList16 = [];
          stateTable.columnGroups16[0].children = [];
          columnList.forEach((v) => {
            stateTable.columnList16.push({
              title: v.description,
              dataIndex: v.columnName,
              align: 'center',
            });
            if (
              v.columnName != 'unitName' &&
              v.columnName != 'deptCode' &&
              v.columnName != 'deptName'
            ) {
              stateTable.columnGroups16[0].children.push(v.columnName);
            }
          });
          stateTable.dataList = r.data[0].values;
        } else {
          stateTable.dataList = r.data;
        }
      }
    });
  };
  // 设置click 事件
  baseColumns[1].customRender = ({ record, value }) => {
    return (
      <span
        onClick={() => {
          onRowModal(record);
        }}
        style="color:#1890ff;cursor: pointer"
      >
        <a-tooltip title={value} placement="topLeft">
          {value}
        </a-tooltip>
      </span>
    );
  };

  // 报表生成记录
  const activeChange = () => {
    state.selectedRows = [];
    rowSelection.value.selectedRowKeys = [];
    const params = {
      dates: [
        dayjs(state.fileData[0]).format('YYYY-MM-DD'),
        dayjs(state.fileData[1]).format('YYYY-MM-DD'),
      ],
    };
    state.Listloading = true;
    monitoringResDownload(params).then((r) => {
      if (r.success) {
        state.dataSourceList = r.data;
      }
      state.Listloading = false;
    });
  };

  // 文件查询
  const searchFile = debounce(() => {
    activeChange();
  }, 500);

  // 时间查询
  const pickerChange = () => {
    searchFile();
  };
  const zeroFn = (val) => {
    return val < 10 ? `0${val}` : val;
  };
  onMounted(() => {
    // 查询数据吧
    // loadData();
    searchFile();
    state.fileData = [
      dayjs().subtract(1, 'month').startOf('month'),
      dayjs().subtract(1, 'month').endOf('month'),
    ];
    // report();
  });
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
    background: #fff;
    /deep/.ant-table-body {
      height: var(--winHeight);
    }
  }

  /deep/.ant-tabs-nav-wrap {
    padding-left: 1%;
  }
  /deep/.ant-select-selection-overflow {
    max-height: 30px;
    overflow-x: auto;
  }
  .filecol {
    margin-left: 1%;
  }
  .filerow {
    padding-top: 2%;
  }
</style>
