<template>
  <div>
    <a-modal
      v-model:visible="goalVisible"
      :title="attrs.title"
      :width="760"
      destroy-on-close
      @cancel="closeModal(false)"
    >
      <a-form
        ref="formRef"
        :model="formState"
        :rules="rules"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
      >
        <a-row :gutter="24">
          <a-col :span="12">
            <a-form-item ref="perfGName" label="目标名称" name="perfGName">
              <a-input v-model:value="formState.perfGName" placeholder="请选择目标名称" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="指标类别" name="perfGCategory">
              <a-select v-model:value="formState.perfGCategory" placeholder="请选择指标类别">
                <a-select-option
                  v-for="(item, index) in dict.getItemsByDictCode('INDICATOR_CATEGORY')"
                  :key="index"
                  :value="item.itemValue"
                  >{{ item.itemText }}</a-select-option
                >
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="指标类型" required name="perfGType">
              <a-select v-model:value="formState.perfGType" placeholder="请选择指标类型">
                <a-select-option
                  v-for="(item, index) in dict.getItemsByDictCode('INDICATOR_TYPE')"
                  :key="index"
                  :value="item.itemValue"
                  >{{ item.itemText }}</a-select-option
                >
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item
              v-if="formState.perfGCategory !== 'IC-202023029'"
              label="指标单位"
              name="perfGOrgCode"
            >
              <a-select v-model:value="formState.perfGOrgCode" placeholder="请选择指指标单位">
                <a-select-option
                  v-for="(item, index) in dict.getItemsByDictCode('INDICATOR_UNIT')"
                  :key="index"
                  :value="item.itemValue"
                  >{{ item.itemText }}</a-select-option
                >
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="归口管理部门" name="superinDeptCode">
              <a-tree-select
                v-model:value="formState.superinDeptCode"
                show-search
                :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
                placeholder="请选择部门"
                allow-clear
                :show-checked-strategy="SHOW_ALL"
                tree-default-expand-all
                :tree-data="treeDataSel"
                @change="chooseDept"
              >
                <template #tagRender="{ label, closable, onClose }">
                  <a-tag :closable="closable" @close="onClose">
                    {{ label }}
                  </a-tag>
                </template>
              </a-tree-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="奖金额度" name="yearApprovedBonus">
              <a-input-number
                v-model:value="formState.yearApprovedBonus"
                placeholder="请选择奖金额度"
                addon-after="万元"
              />
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item
              label="描述"
              name="perfGDesc"
              :label-col="{ span: 4 }"
              :wrapper-col="{ span: 20 }"
              class="col-sty"
            >
              <a-textarea v-model:value="formState.perfGDesc" placeholder="请选择描述" />
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item
              label="附件"
              name="attestationFiles"
              :label-col="{ span: 4 }"
              :wrapper-col="{ span: 15 }"
              class="col-sty"
            >
              <a-upload
                v-model:file-list="state.fileList"
                name="file"
                accept=".doc,.docx,.png,.jpg,.jpeg,.pdf,.xls,.xlsx,.pptx,.zip,.rar,.mp4"
                :action="`${state.BASE_URL}performance-eval/n/public/batchadd/file?fileType=171`"
                :before-upload="beforeUpload"
                :headers="{
                  'X-Requested-With': null,
                }"
                @change="(info) => handleChange(info)"
              >
                <a-button> <upload-outlined></upload-outlined>文件上传 </a-button>

                <a-popover trigger="hover" class="ml-1x">
                  <template #content>
                    <div class="error">
                      (支持扩展名:.doc,.docx,.png,.jpg,.jpeg,.pdf,.xls,.xlsx,.pptx,.zip,.rar,.mp4)
                    </div>
                  </template>
                  <question-circle-outlined class="error" />
                </a-popover>
              </a-upload>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
      <template #footer>
        <div class="text-c">
          <a-button @click="closeModal(false)">取消</a-button>
          <a-button type="primary" @click="onSubmit">保存</a-button>
        </div>
      </template>
    </a-modal>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, useAttrs, ref, toRaw } from 'vue';
  import { isEmpty } from 'lodash-es';
  import {
    TreeSelect,
    message,
    UploadChangeParam,
    type FormInstance,
    UploadProps,
    Upload,
  } from 'ant-design-vue';
  import type { UnwrapRef } from 'vue';
  import type { Rule } from 'ant-design-vue/es/form';
  import { getDeptAll } from '@/api/system/dept/index';
  import { genDeptTreeItem } from '@/api/system/dept/service';
  import dict from '@/utils/dict.js';
  import { save, check } from '@/api/goal/definition';

  defineOptions({
    name: 'addGoal',
  });
  const attrs = useAttrs();
  const props = defineProps({
    orgVisible: { type: Boolean },
    record: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });

  const SHOW_ALL = TreeSelect.SHOW_ALL;
  const treeDataSel = ref<TreeSelectProps['treeData']>([]);

  const goalVisible = ref(false);
  const formRef = ref();
  const labelCol = { span: 8 };
  const wrapperCol = { span: 16 };
  const formState: UnwrapRef<FormState> = reactive({
    perfGName: '',
    perfGCategory: undefined,
    perfGType: undefined,
    perfGOrgCode: undefined,
    superinDeptCode: undefined,
    superinDeptName: undefined,
    yearApprovedBonus: '',
    perfGDesc: '',
    attestationFiles: [],
  });
  const state = reactive({
    BASE_URL: process.env.VUE_APP_BASE_API,
    fileList: [],
  });

  /**查询相关组织树选择 **/
  const queryDept = async () => {
    const { rows } = (await getDeptAll()) as any;
    const deptTree: API.TreeDataItem[] = [];
    for (let i = 0; i < rows.children.length; i++) {
      const temp = rows.children[i];
      deptTree.push(genDeptTreeItem(temp));
    }
    treeDataSel.value = deptTree;
  };

  const chooseDept = (_value, label, _extra) => {
    formState.superinDeptName = label[0];
  };
  /** 上传文件  开始 **/
  const handleChange = (info: UploadChangeParam) => {
    if (info.file.status === 'done' || info.file.status === 'removed') {
      const fileInfo = info.fileList.map((item) => {
        if (item.status == 'done' && item?.response?.success) {
          return item.response.data;
        } else {
          return {
            fileAddress: getCaption(item.url),
            fileName: item.name,
          };
        }
      });
      formState.attestationFiles = fileInfo;
      if (info.file.status === 'done') {
        message.success(`${info.file.name} 文件上传成功！`);
      }
    } else if (info.file.status === 'error') {
      message.error(`${info.file.name} 文件上传失败！`);
    }
  };
  //截取等号后的值（接口返回的文件，需要手动处理为需要的格式进行展示）
  const getCaption = (obj) => {
    const index = obj.lastIndexOf('=');
    obj = obj.substring(index + 1, obj.length);
    return obj;
  };
  const beforeUpload = (file: UploadProps['fileList'][number]) => {
    const isLt100M = file.size / 1024 / 1024 < 100;
    if (!isLt100M) {
      message.error('文件最大100M!');
    }
    return isLt100M || Upload.LIST_IGNORE;
  };
  /** 上传文件  结束 **/

  const emits = defineEmits(['close']);
  const closeModal = (flag) => {
    goalVisible.value = false;
    emits('close', flag);
  };

  const checkName = async () => {
    if (!formState.perfGName) {
      return Promise.reject('请输入目标名称');
    } else {
      const params: any = {
        perfGName: formState.perfGName,
        perfGCode: props.record.perfGCode,
      };
      const r: any = await check(params);
      if (!r.success || r.data != 'ok') {
        return Promise.reject('目标名称不合法或已存在');
      } else {
        return Promise.resolve();
      }
    }
  };

  const rules: Record<string, Rule[]> = {
    perfGName: [{ required: true, validator: checkName, trigger: 'blur' }],
    perfGCategory: [{ required: true, message: '请选择指标类别', trigger: 'change' }],
    perfGType: [{ required: true, message: '请选择指标类型', trigger: 'change' }],
    perfGOrgCode: [{ required: true, message: '请选择指标单位', trigger: 'change' }],
  };
  const onSubmit = () => {
    formRef.value
      .validate()
      .then(() => {
        saveGoal();
      })
      .catch((error) => {
        console.log('error', error);
      });
  };

  const saveGoal = async () => {
    const us: any = JSON.parse(localStorage.getItem('ACCESS_USER_INFO_KEY'));
    // record.pkId && (values.deptId = record.key);
    let params: any = {};

    if (!isEmpty(props.record.perfGCode)) {
      params = Object.assign(formState, {
        updateUser: us.value.employeeCode,
        updateName: us.value.username,
        perfGCode: props.record.perfGCode,
      });
    } else {
      params = Object.assign(formState, {
        createUser: us.value.employeeCode,
        createName: us.value.username,
      });
    }
    Object.keys(params).forEach((key) => {
      if (Object.is(params[key], undefined) || Object.is(params[key], null)) {
        if (key == 'attestationFiles') {
          params[key] = [];
        } else {
          params[key] = '';
        }
      }
    });
    const r = await save(params);
    if (r.success) {
      message.success(`保存成功！`);
      closeModal(true);
    } else {
      message.error(r.message);
      throw Error(r.message);
    }
  };

  const renderData = (record) => {
    for (const key in formState) {
      formState[key] = record[key];
    }
    const { attestationFiles } = record;
    if (attestationFiles && attestationFiles.length > 0) {
      state.fileList = attestationFiles.map((item, index) => {
        return {
          uid: index,
          name: item.fileName,
          status: 'done',
          url: `${state.BASE_URL}basic/n/get/file?key=${item.fileAddress}`,
        };
      });
    } else {
      state.fileList = [];
    }
  };

  watch(
    () => props.orgVisible,
    (nV) => {
      if (nV) {
        goalVisible.value = nV;
        renderData(props.record);
        queryDept();
      }
    },
  );
</script>
<style lang="less" scoped>
  /deep/.col-sty .ant-form-item-label {
    max-width: 16%;
  }
</style>
