<template>
  <div class="page-container" style="width: 100%">
    <div class="page-container-table">
      <DynamicTable
        :data-request="loadTableData"
        :columns="columns"
        :row-selection="rowSelection"
        auto-height
        :loading="state.loading"
      >
        <template #toolbar>
          <a-button v-if="$auth('goal:def:add')" type="primary" @click="openModal()">
            <PlusOutlined /> 新增
          </a-button>
          <a-button
            v-if="$auth('goal:def:del')"
            type="primary"
            :disabled="!isCheckRows"
            @click="bathDels(rowSelection.selectedRowKeys)"
          >
            <DeleteOutlined /> 删除
          </a-button>
        </template>
      </DynamicTable>
      <DetailModal
        :visible="detailDialog.visible"
        :records="detailDialog.demo"
        :title="detailDialog.title"
        :cols="detailDialog.cols"
        @close="detailDialogClose"
      ></DetailModal>
    </div>
    <addGoal
      :org-visible="state.goalVisible"
      :title="state.goalTitle"
      :record="state.record"
      @close="closeGoalModal"
    ></addGoal>
  </div>
</template>

<script lang="tsx" setup>
  import { computed, onMounted, reactive, ref } from 'vue';
  import { cloneDeep, isEmpty, isNil, omit } from 'lodash-es';
  import dayjs from 'dayjs';
  import { message, Modal } from 'ant-design-vue';
  import { TableColumnItem } from '../../system/dept/columns';
  import { baseColumns, dateFormat, TableListItem } from './columns';
  import addGoal from './addGoal.vue';
  import { genDeptTreeItem } from '@/api/system/dept/service';
  import { LoadDataParams, useTable } from '@/components/core/dynamic-table';
  import { getDeptAll } from '@/api/system/dept';
  import { queryList, removeByCode, save } from '@/api/goal/definition';
  import { DetailModal } from '@/components/business/detail';
  import dict from '@/utils/dict.js';

  defineOptions({ name: 'definition' });

  const state = reactive<any>({
    superinDeptName: '',
    filters: [],
    show: true,
    loading: false,
    pagination: {
      pageNum: 1,
      pageSize: 10,
    },
    deptTree: [],
    viewVisible: false,
    goalVisible: false,
    goalTitle: '',
    record: {},
  });

  const detailDialog = reactive<any>({
    visible: false,
    demoL: {},
    cols: 3,
    title: '',
  });

  const exportExcel = async () => {
    // downloadModelList({ modelName: '' }, '目标明细.xlsx');
  };
  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows) => {
      console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      rowSelection.value.selectedRowKeys = selectedRowKeys;
    },
  });

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'perfGCode',
    bordered: true,
    scroll: { x: 1800 },
    formProps: { autoAdvancedLine: 1 },
  });

  /**
   * 获取部门列表
   */
  const fetchDeptList = async () => {
    const dept = (await getDeptAll()) as any;

    const deptTree: API.TreeDataItem[] = [];
    if (!isEmpty(dept.rows)) {
      for (let i = 0; i < dept.rows.children.length; i++) {
        const temp = dept.rows.children[i];
        deptTree.push(genDeptTreeItem(temp));
      }
    }

    state.deptTree = deptTree;
  };

  const bathDels = (ids: Array<string>) => {
    if (ids.length > 0) {
      Modal.confirm({
        content: '你确认要删除吗？数据删除后将无法进行恢复 请谨慎操作！',
        onOk() {
          state.loading = true;
          removeByCode(ids)
            .then((r) => {
              state.loading = false;
              if (r.success) {
                state.pagination.pageNum = 1;
                dynamicTableInstance?.reload();
              } else {
                message.error(r.message);
              }
            })
            .finally(() => {
              state.loading = false;
            });
        },
        onCancel() {
          console.log('Cancel');
        },
        class: 'test',
      });
    } else {
      message.warning('请选择数据');
    }
  };
  const onRowClicked = async (record: any) => {
    // console.log(111111111, record);
    const model = cloneDeep(record);
    const pt = dict.getValue('INDICATOR_TYPE', record.perfGType);
    if (isNil(pt)) {
      message.warning('未获取到对应的集值信息');
      return;
    }
    const pc = dict.getValue('INDICATOR_CATEGORY', record.perfGCategory);
    if (isNil(pc)) {
      message.warning('未获取到对应的集值信息');
      return;
    }
    const pu = dict.getValue('INDICATOR_UNIT', record.perfGOrgCode);
    if (isNil(pu)) {
      message.warning('未获取到对应的集值信息');
      return;
    }
    const temps: any = [
      { key: '指标类别', value: pc.itemText },
      { key: '指标类型', value: pt.itemText },
      { key: '指标单位', value: pu.itemText },
      { key: '归口管理部门', value: model.superinDeptName },
      { key: '创建人', value: model.createName },
      { key: '创建时间', value: dayjs(model.createDate).format(dateFormat) },
      { key: '修改人', value: model.updateName },
      { key: '修改时间', value: dayjs(model.updateDate).format(dateFormat) },
      { key: '描述', value: model.perfGDesc },
    ];
    detailDialog.title = `#${model.perfGCode}-${model.perfGName}`;
    detailDialog.demo = temps;
    detailDialog.visible = true;
  };

  const detailDialogClose = () => {
    detailDialog.visible = false;
  };
  // 设置click 事件
  baseColumns[0].customRender = ({ record, value }) => {
    return (
      <a
        onClick={() => {
          onRowClicked(record);
        }}
        style="color:blue;"
      >
        {value}
      </a>
    );
  };

  // 调整对应列的render;
  baseColumns[5].formItemProps.componentProps = () => {
    return {
      treeData: state.deptTree,
      fieldNames: {
        label: 'title',
        value: 'value',
      },
    };
  };

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 80,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => [
        {
          label: '编辑',
          auth: {
            perm: 'goal:def:edit',
            effect: 'disable',
          },
          onClick: () => {
            openModal(record);
          },
        },
      ],
    },
  ];

  // 是否勾选了表格行
  const isCheckRows = computed(() => rowSelection.value.selectedRowKeys.length);

  const loadTableData = async (params: LoadDataParams) => {
    state.loading = true;
    const data = await queryList({
      ...params,
    }).finally(() => {
      state.loading = false;
    });
    rowSelection.value.selectedRowKeys = [];

    return {
      list: data.data,
      pagination: { total: data.total, page: params.pageNum, size: params.pageSize },
    };
  };

  //新增&编辑
  const openModal = (record = {}) => {
    state.goalVisible = true;
    state.record = record;
    state.goalTitle = !isEmpty(record) ? '编辑目标' : '新增目标';
  };
  const closeGoalModal = (flag) => {
    state.goalVisible = false;
    if (flag) dynamicTableInstance?.reload();
  };

  onMounted(() => {
    fetchDeptList();
    loadTableData(state.pagination);
  });
</script>

<style scoped lang="less">
  .header {
    display: flex;
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
  .aspace {
    padding-left: 10px;
  }

  .icon-title {
    margin-right: 10px;
  }

  .icon-items {
    color: #1890ff;
  }
  .page-container {
    /deep/.ant-table-body {
      height: var(--winHeight);
    }
  }

  /deep/.ant-table-fixed-right {
    z-index: 12;
  }
  /deep/.ant-table-thead > tr > th {
    text-align: center !important;
  }
</style>
