<template>
  <div ref="piechart" class="chart" style="width: 100%; height: 100%"></div>
</template>

<script setup lang="ts">
  import { ref, onMounted, onUnmounted, getCurrentInstance, reactive, watchEffect } from 'vue';
  import common from '@/utils/commonFunc';

  defineOptions({
    name: 'PieChart',
    inheritAttrs: false,
  });

  const props = defineProps({
    data: {
      type: Object,
      default: () => {},
    },
    dataConfig: {
      type: Object,
      default: () => {},
    },
    title: {
      type: String,
      default: '',
    },
    showLegend: {
      type: Boolean,
      default: false,
    },
  });

  const state = reactive({
    receiver: null, // 接收参数
    option: {
      title: {
        text: '',
        subtext: '',
        left: 'center',
      },
      tooltip: {
        trigger: 'item',
        formatter(params) {
          const name = params.name.split('');
          for (const index in name) {
            if (index % 36 == 0 && index != 0) {
              name.splice(index, 0, '<br/>');
            }
          }
          params.name = name.join('');
          return (
            `${params.marker + params.name}<br/><br/>` +
            `<span>${params.seriesName}：</span>${common.commafy(params.value)}`
          );
        },
      },
      legend: {
        type: 'scroll',
        data: [],
        orient: 'horizontal',
        left: 'center',
        top: 26,
      },
      series: [],
    },
  });

  const piechart = ref();

  const { proxy } = getCurrentInstance();
  let charts = null;

  const categoryColConfig = () => {
    const categoryColList = props.dataConfig.category.split('-');
    const data = [];
    // 进行匹配没一项
    for (const i in categoryColList) {
      for (const k in props.data[categoryColList[i]]) {
        if (Array.isArray(data[k])) {
          data[k].push(props.data[categoryColList[i]][k]);
        } else {
          data[k] = [];
          data[k].push(props.data[categoryColList[i]][k]);
        }
      }
    }
    // 二维数组转成一维数组字符串
    return data.map((item) => {
      return item.join('-');
    });
  };

  const setOption = () => {
    state.option.title.text = props.title;
    // 图例
    if (props.dataConfig.option && props.dataConfig.option.chartLegend) {
      for (const key in props.dataConfig.option.chartLegend) {
        if (props.dataConfig.option.chartLegend[key] && key != 'show') {
          state.option.legend[key] = props.dataConfig.option.chartLegend[key];
        } else if (key === 'show') {
          state.option.legend[key] = props.dataConfig.option.chartLegend[key];
        }
      }
    }
    // 提示窗口
    if (props.dataConfig.option && props.dataConfig.option.tooltip) {
      for (const key in props.dataConfig.option.tooltip) {
        if (props.dataConfig.option.tooltip.tooltip == '2' && key != 'show') {
          state.option.tooltip.position = function (pos, params, dom, rect, size) {
            // 鼠标在左侧时 tooltip 显示到右侧，鼠标在右侧时 tooltip 显示到左侧。
            const obj = { top: 60 };
            obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 5;
            return obj;
          };
        } else if (key === 'show') {
          state.option.tooltip[key] = props.dataConfig.option.tooltip[key];
        }
      }
    }
    const categoryCol = props.dataConfig.category;

    state.option.legend.data = [];
    state.option.series = [];

    const b = 100 / (props.dataConfig.series.length * 9 + 1);
    props.dataConfig.series.forEach((item, index) => {
      const name = item.name;
      const serie = {
        name: item.cName,
        type: 'pie',
        radius: `${50 / props.dataConfig.series.length}%`,
        data: [],
        datasetIndex: index + 1,
        center: [`${5 * b + index * 9 * b}%`, '50%'],
      };
      const categories = categoryColConfig();
      const datas = props.data[name];

      for (let i = 0; i < categories.length; i++) {
        const dataItem = {
          value: datas[i],
          name: categories[i],
        };
        serie.data.push(dataItem);
        if (props.showLegend) {
          state.option.legend.data.push(categories[i]);
        }
      }

      state.option.series.push(serie);
    });
  };

  const updateOption = () => {
    if (charts) {
      initEcharts();
    }
  };

  const initEcharts = () => {
    const chartFlag = false;

    // 图表主题
    const colorTheme = props.dataConfig.option ? props.dataConfig.option.colorTheme : '';

    charts = proxy.$echarts.init(piechart.value!, colorTheme);

    setOption();
    charts.setOption(state.option); // 渲染页面
    // 随着屏幕大小调节图表
    window.addEventListener('resize', resize);
  };

  const resize = () => {
    charts && charts.resize();
  };

  onMounted(() => {
    setOption();
    initEcharts();
  });

  onUnmounted(() => {
    window.removeEventListener('resize', resize);
  });

  watchEffect(() => {
    updateOption();
  });
</script>

<style scoped>
  .chart {
    width: 100%; /* height: 100%; */
    flex: 1;
  }
</style>
