<template> <div ref="chartDom" class="chart" style="width: 100%; height: 100%"></div></template>

<script setup lang="ts">
  import { reactive, ref, onBeforeUnmount, onMounted } from 'vue';
  import * as echarts from 'echarts';
  import { formatterNum } from '@/utils/formatter';
  import obei from '@/assets/echarts-theme/obei.json';
  defineOptions({
    name: 'Gauge',
  });
  const props = defineProps({
    config: {
      type: Object,
      default: () => {},
    },
    data: {
      type: Number,
      default: () => 0,
    },
    title: {
      type: String,
      default: '',
    },
    color: {
      type: Array,
      default: () => {
        return ['#188df0'];
      },
    },
    formatter: {
      type: Object,
      default: () => {
        return { digits: 2, part: '%' };
      },
    },
  });
  const state = reactive({
    option: null,
  });
  const chartDom = ref();
  const chart = ref();
  const init = () => {
    // echarts.registerTheme('obei', obei);
    chart.value = echarts.init(chartDom.value);
    chart.value.clear();
    chart.value.setOption(defaultOption());
  };
  const defaultOption = () => {
    return {
      color: props.color,
      series: [
        {
          type: 'gauge',
          startAngle: 90,
          endAngle: -270,
          pointer: {
            show: false,
          },
          progress: {
            show: true,
            overlap: false,
            roundCap: true,
            clip: false,
            itemStyle: {
              // color: colorprice.value,
            },
          },
          axisLine: {
            lineStyle: {
              width: 10,
            },
          },
          splitLine: {
            show: false,
            distance: 0,
            length: 10,
          },
          axisTick: {
            show: false,
          },
          axisLabel: {
            show: false,
            distance: 50,
          },
          data: [formatterNum(props.data, props.formatter?.digits)],
          title: {
            fontSize: 14,
            offsetCenter: ['0%', '0%'],
          },
          detail: {
            fontSize: 20,
            // color: colorprice.value,
            formatter(p) {
              const v = formatterNum(p, props.formatter?.digits) + props.formatter?.part;
              return `${v}`;
            },
            valueAnimation: true,
            offsetCenter: ['0%', '0%'],
          },
        },
      ],
    };
  };
  onBeforeUnmount(() => {
    chart.value.dispose();
  });
  onMounted(() => {
    init();
  });
</script>

<style scoped lang="less">
  .chart {
    width: 100%;
  }
</style>
