<template>
  <div class="GoalOverview">
    <span class="GoalOverview-title">目标月份跟进</span>
    <a-tabs
      v-if="props.trend === '经营目标'"
      v-model:activeKey="state.jymbactiveKey"
      :centered="true"
      size="large"
      :tab-bar-style="{ background: '#FFF2C9', width: '100%' }"
    >
      <a-tab-pane key="易购" tab="易购"><TrendYg :year-month="state.yearMonth" /></a-tab-pane>
      <a-tab-pane key="商城" tab="商城"><TrendSc :year-month="state.yearMonth" /></a-tab-pane>
      <a-tab-pane key="云库" tab="云库"><TrendYk :year-month="state.yearMonth" /></a-tab-pane>
      <a-tab-pane key="易销" tab="易销"><TrendYx :year-month="state.yearMonth" /></a-tab-pane>
      <a-tab-pane key="零碳" tab="零碳"><TrendLt :year-month="state.yearMonth" /></a-tab-pane>
    </a-tabs>
    <a-tabs
      v-if="props.trend === '运营目标'"
      v-model:activeKey="state.yymbactiveKey"
      :centered="true"
      size="large"
      :tab-bar-style="{ background: '#FFF2C9', width: '100%' }"
    >
      <a-tab-pane key="会员商务中心" tab="会员商务中心"
        ><TrendYymbHyswzx :year-month="state.yearMonth"
      /></a-tab-pane>
      <a-tab-pane key="易购" tab="易购"><TrendYymbYg :year-month="state.yearMonth" /></a-tab-pane>
      <a-tab-pane key="商城" tab="商城"><TrendYymbSc :year-month="state.yearMonth" /></a-tab-pane>
    </a-tabs>
    <a-tabs
      v-if="props.trend === '管控目标'"
      v-model:activeKey="state.gkmbactiveKey"
      :centered="true"
      size="large"
      :tab-bar-style="{ background: '#FFF2C9', width: '100%' }"
    >
      <a-tab-pane key="会员商务中心" tab="会员商务中心">
        <TrendGkmbHyswzx :year-month="state.yearMonth" />
      </a-tab-pane>
      <a-tab-pane key="易购" tab="易购"><TrendGkmbYg :year-month="state.yearMonth" /></a-tab-pane>
      <a-tab-pane key="商城" tab="商城"><TrendGkmbSc :year-month="state.yearMonth" /></a-tab-pane>
      <a-tab-pane key="云库" tab="云库"><TrendGkmbYk :year-month="state.yearMonth" /></a-tab-pane>
      <a-tab-pane key="易销" tab="易销"><TrendGkmbYx :year-month="state.yearMonth" /></a-tab-pane>
      <a-tab-pane key="零碳" tab="零碳"><TrendGkmbLt :year-month="state.yearMonth" /></a-tab-pane>
    </a-tabs>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch } from 'vue';
  import TrendYg from './components/TrendJymbYg.vue';
  import TrendSc from './components/TrendJymbSc.vue';
  import TrendYk from './components/TrendJymbYk.vue';
  import TrendYx from './components/TrendJymbYx.vue';
  import TrendLt from './components/TrendJymbLt.vue';
  import TrendYymbHyswzx from './components/TrendYymbHyswzx.vue';
  import TrendYymbYg from './components/TrendYymbYg.vue';
  import TrendYymbSc from './components/TrendYymbSc.vue';
  import TrendGkmbYg from './components/TrendGkmbYg.vue';
  import TrendGkmbSc from './components/TrendGkmbSc.vue';
  import TrendGkmbYk from './components/TrendGkmbYk.vue';
  import TrendGkmbYx from './components/TrendGkmbYx.vue';
  import TrendGkmbLt from './components/TrendGkmbLt.vue';
  import TrendGkmbHyswzx from './components/TrendGkmbHyswzx.vue';

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    trend: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
    },
  );

  const state = reactive({
    jymbactiveKey: '易购',
    yymbactiveKey: '会员商务中心',
    gkmbactiveKey: '会员商务中心',
    yearMonth: '',
  });
</script>

<style lang="less" scoped>
  .GoalOverview {
    width: 100%;
    margin-top: -35px;
    .GoalOverview-title {
      font-family: Source Han Sans CN;
      font-size: 30px;

      font-weight: bold;
      color: #3d3d3d;
      position: relative;
      z-index: 999;
      top: 52px;
      margin-top: -20px;
    }
  }
</style>
