<template
  ><div ref="slideVerify" class="slide-verify" onselectstart="return false;">
    <div class="slide-close" @click="slideClose"> <CloseOutlined /> </div>
    <div class="slide-header">
      <div class="comImageValidate rightValidate">
        <div class="imgTip">
          <p class="imgTip-text">完成拼图验证</p>
          <p class="refresh" @click="changeImg">
            <RedoOutlined />
            <span>换一张</span>
          </p>
        </div>
        <div ref="imgBg" class="imgBg">
          <div ref="imgBtn" class="imgBtn">
            <img
              style="-webkit-user-drag: none"
              alt=""
              :src="state.cutoutImage"
              @mousedown="sliderDown"
              @touchstart="touchStartEvent"
            />
          </div>
        </div>
        <div
          class="slide-verify-slider"
          :class="{
            'container-active': state.containerActive,
            'container-success': state.containerSuccess,
            'container-fail': state.containerFail,
          }"
        >
          <div class="slide-verify-slider-mask" :style="{ width: state.sliderMaskWidth }">
            <!-- slider -->
            <div
              class="slide-verify-slider-mask-item"
              :style="{ left: state.sliderLeft }"
              @mousedown="sliderDown"
              @touchstart="touchStartEvent"
            >
              <em class="notSel">→</em>
              <div class="slide-verify-slider-mask-item-icon"></div>
            </div>
          </div>
          <span class="slide-verify-slider-text">{{ state.sliderText }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, ref, watch } from 'vue';
  import { RedoOutlined, CloseOutlined } from '@ant-design/icons-vue';
  import { message } from 'ant-design-vue';
  import { doCheck, getCheck } from '@/api/login';
  defineOptions({
    name: 'SlideVerification',
  });
  const slideVerify = ref(null);
  const imgBg = ref(null);
  const imgBtn = ref(null);
  const emit = defineEmits(['slideClose', 'changeImg', 'verify', 'fulfilled']);
  const state = reactive<any>({
    containerActive: false, // container active class
    containerSuccess: false, // container success class
    containerFail: false, // container fail class
    isMouseDown: false,
    cutoutImage: null,
    hkinnerClass: '',
    success: true,
    originX: 0,
    originY: 0,
    trail: [],
    sliderLeft: 0, // block right offset
    sliderText: '向右滑动完成验证',
    sliderMaskWidth: 0, // mask width,
    verificationConfig: {},
  });

  const slideClose = () => {
    emit('slideClose');
  };
  const changeImg = async () => {
    const r: any = await getCheck();
    if (r.success) {
      state.verificationConfig = r.data;
      getImage();
      // emit('changeImg', state.verificationConfig);
    } else {
      message.error(r.message);
    }
  };
  const init = () => {
    bindEvents();
  };
  const handleCheck = async (params) => {
    const r: any = await doCheck(params);
    if (r && r.code === 'OK' && r.data === true) {
      state.imageVerificationVo = params;
      // emit('changeImg', state.verificationConfig);
      return true;
    } else {
      // message.error('验证失败请重试');
      await changeImg();
      return false;
    }
  };
  const getImage = () => {
    reset();
    const data = state.verificationConfig;
    state.cutoutImage = `data:image/jpg;base64,${data.cutoutImage}`;
    const shadeImage = data.shadeImage;
    imgBg.value.style.background = `#fff url("data:image/jpg;base64,${shadeImage}") no-repeat`;
    imgBtn.value.style.top = `${data.y}px`;
    imgBtn.value.style.left = 0;
    // this.hkinnerClass = '';
  };
  const bindEvents = () => {
    document.addEventListener('mousemove', (e) => {
      if (!state.isMouseDown) return false;
      const eWidth = slideVerify.value.clientWidth - 30;
      const moveX = e.clientX - state.originX;
      const moveY = e.clientY - state.originY;
      if (moveX < 0 || moveX + 38 >= eWidth) return false;
      state.sliderLeft = `${moveX}px`;
      imgBtn.value.style.left = `${moveX}px`;
      state.containerActive = true;
      state.sliderMaskWidth = `${moveX + 20}px`;
      state.trail.push(moveY);
    });
    document.addEventListener('mouseup', (e) => {
      if (!state.isMouseDown) return false;
      state.isMouseDown = false;
      if (e.clientX === state.originX) return false;
      state.containerActive = false; // remove active

      verify((result) => {
        if (result) {
          state.containerSuccess = true;
          state.success = true;
        } else {
          state.containerFail = true;
          setTimeout(() => {
            reset();
          }, 1000);
        }
      });
    });
  };
  const sliderDown = (event) => {
    if (state.success) return;
    state.originX = event.clientX;
    state.originY = event.clientY;
    state.isMouseDown = true;
  };
  const touchStartEvent = (e) => {
    if (state.success) return;
    state.originX = e.changedTouches[0].pageX;
    state.originY = e.changedTouches[0].pageY;
    state.isMouseDown = true;
  };
  const verify = async (callback) => {
    let x = imgBtn.value.style.left;
    if (x.indexOf('px') != -1) {
      x = x.substring(0, x.length - 2);
    }
    const params: any = {
      randomKey: state.verificationConfig.randomKey,
      y: state.verificationConfig.y,
      x,
    };
    const r = await handleCheck(params);
    emit('verify', r, state.imageVerificationVo, (res) => {
      callback && callback(res);
    });
  };
  const reset = () => {
    state.success = false;
    state.containerActive = false;
    state.containerSuccess = false;
    state.containerFail = false;
    state.sliderLeft = 0;
    state.sliderMaskWidth = 0;
    emit('fulfilled');
  };

  onMounted(() => {
    init();
  });

  watch(
    () => state.cutoutImage,
    (v) => {
      if (v) {
        state.success = false;
      }
    },
  );
  defineExpose({
    changeImg,
  });
</script>

<style scoped>
  .slide-verify {
    box-sizing: border-box;
    width: 328px;
    bottom: unset;
    border: 1px solid #eee;
    box-shadow: 0 0 2px 2px #eee;
    background: #fff;
    padding: 5px;
  }
  .slide-verify:after {
    content: '';
    display: block;
    position: absolute;
    /*bottom: -20px;*/
    left: 50%;
    margin-left: -20px;
    border: 10px solid;
    border-color: #fff transparent transparent;
  }
  .slide-header {
    padding: 0 10px;
  }
  .rightValidate {
    text-align: center;
  }
  .imgTip {
    padding: 4px 0px;
    display: flex;
    justify-content: space-between;
  }
  .refresh {
    color: #fe8d00;
    cursor: pointer;
  }
  .imgTip-text {
    color: #666;
  }
  .v_rightBtn {
    position: absolute;
    left: 0;
    top: 0;
    height: 33px;
    width: 40px;
    background: #ddd;
    cursor: pointer;
  }
  .imgBtn {
    width: 44px;
    height: 171px;
    position: absolute;
    left: 0;
  }
  .imgBtn img {
    z-index: 99;
    text-align: center;
  }
  .imgBg {
    position: relative;
    width: 100%;
    height: 171px;
    display: block;
    z-index: 9;
    margin-bottom: 8px;
  }
  .imgBg_2 {
    position: absolute;
    bottom: -80px;
    bottom: 35px;
    width: 150px;
    height: 60px;
    display: block;
    z-index: 9;
  }
  .imgBg_3 {
    position: absolute;
    bottom: -80px;
    bottom: 35px;
    width: 170px;
    height: 60px;
    display: block;
    z-index: 9;
  }
  .notSel {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
  }
  .slide-verify-slider {
    position: relative;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: rgba(255, 212, 74, 0.2);
    box-shadow: -8px 4px 8px 4px rgb(255 212 74 / 30%) inset;
    border-radius: 20px;
  }

  .slide-verify-slider-mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    border-radius: 20px 0 0 20px;
    /* border: 0 solid #1991fa; */
    background: #00b853;
  }

  .slide-verify-slider-mask-item {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background 0.2s linear;
    box-shadow: 0px 4px 8px 0px rgb(255 212 74 / 50%);
    border-radius: 50%;
  }

  .slide-close {
    display: flex;
    justify-content: flex-end;
  }
  .slide-verify-slider-mask-item-icon {
    position: absolute;
    top: 15px;
    left: 13px;
    width: 14px;
    height: 12px;
    background-size: 34px 471px;
  }
  .container-active .slide-verify-slider-mask-item {
    height: 40px;
    /* border: 1px solid #1991fa; */
  }

  .container-active .slide-verify-slider-mask {
    height: 40px;
    border-width: 1px;
  }

  .container-success .slide-verify-slider-mask-item {
    height: 40px;
    /* border: 1px solid #52ccba;
  background-color: #52ccba !important; */
  }

  .container-success .slide-verify-slider-mask {
    height: 40px;
    background-color: #00b853;
  }

  .container-success .slide-verify-slider-mask-item-icon {
    background-position: 0 0 !important;
  }

  .container-fail .slide-verify-slider-mask-item {
    height: 40px;
    border: 1px solid #f57a7a;
    background-color: #f57a7a !important;
  }

  .container-fail .slide-verify-slider-mask {
    height: 40px;
    border: 1px solid #f57a7a;
    background-color: #fce1e1;
  }

  .container-fail .slide-verify-slider-mask-item-icon {
    top: 14px;
    /* background-position: 0 -82px !important; */
  }

  .container-active .slide-verify-slider-text,
  .container-success .slide-verify-slider-text,
  .container-fail .slide-verify-slider-text {
    display: none;
  }
  .slide-verify-slider-text {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    line-height: 40px;
  }
</style>
