<template>
  <a-modal
    v-model:visible="myVisible"
    destroy-on-close
    title="数据对比"
    :footer="null"
    width="50%"
    @cancel="close"
  >
    <a-table bordered :pagination="false" :data-source="state.dataSource" :columns="state.columns">
    </a-table>
  </a-modal>
</template>

<script lang="ts" setup>
  import { ref, watch, reactive } from 'vue';
  defineOptions({ name: 'DataComparison' });
  const emit = defineEmits(['close']);
  const props = defineProps({
    visible: Boolean,
    compardata: { type: Object, default: () => {} },
  });
  const state = reactive({
    dataSource: [],
    content: [],
    columns: [
      {
        title: '字段名',
        dataIndex: 'logName',
        key: 'logName',
        ellipsis: true,
      },
      {
        title: '修改前',
        dataIndex: 'beforeUpdate',
        key: 'beforeUpdate',
        ellipsis: true,
      },
      {
        title: '修改后',
        dataIndex: 'afterUpdate',
        key: 'afterUpdate',
        ellipsis: true,
      },
    ],
  });
  const myVisible = ref(false);
  const close = () => {
    emit('close');
  };
  watch(
    () => props.visible,
    (v) => {
      myVisible.value = v;
      state.dataSource = [];
      if (props.compardata != 'null' && props.compardata.content != 'null') {
        state.contents = JSON.parse(props.compardata.content);
        if (state.contents.new && state.contents.new != null) {
          const new1 = state.contents.new;
          const old1 = state.contents.old;
          for (const key of Object.keys(new1)) {
            for (const old of Object.keys(old1)) {
              if (key == old) {
                const column = {
                  logName: key,
                  beforeUpdate: new1[key],
                  afterUpdate: old1[old],
                };
                state.dataSource.push(column);
              }
            }
          }
        }
      }
    },
  );
</script>

<style lang="less" scoped></style>
