<template>
  <div class="page-container">
    <div class="header">
      <QueryFilterNew
        ref="QueryFilter"
        :visible="true"
        :field-list="fields"
        :isadd-condition-group="false"
        @change="onConditionChange"
      >
      </QueryFilterNew>

      <div class="search">
        <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
        <a-button type="danger" style="marginleft: 5px" @click="onReset">重置</a-button>
      </div>
    </div>
    <DynamicTable
      :data-source="state.dataSource"
      :columns="columns"
      :row-selection="rowSelection"
      auto-height
      :scroll="{ x: 2000, y: 300 }"
      :loading="state.loading"
      @change="onPageChange"
    >
      <template #toolbar>
        <a-button type="primary" @click="exportExcel">导出Excel</a-button>
        <a-button type="primary" @click="addProjectFn()"> <PlusOutlined /> 新增 </a-button>
      </template>
    </DynamicTable>
    <!-- 新增编辑问题 -->
    <addQuestionModal ref="addQuestionModalRef" @search="onSearch"></addQuestionModal>
    <!-- 推送 -->
    <pushInventModal ref="pushInventModalRef" @search="onSearch"></pushInventModal>
    <!-- 问题详情-直接处理 -->
    <RectificationFilling
      ref="RectificationFillingRef"
      :form-flag="state.formFlag"
      @search="onSearch"
    ></RectificationFilling>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, onMounted, createVNode } from 'vue';
  import { PlusOutlined, ExclamationCircleOutlined } from '@ant-design/icons-vue';
  import dayjs from 'dayjs';
  import { Modal, message } from 'ant-design-vue';
  import RectificationFilling from '../questionTodo/components/RectificationFilling.vue';
  import queryFields from './query-field.js';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import addQuestionModal from './components/addQuestionModal.vue';
  import pushInventModal from './components/pushInventModal.vue';
  import { QueryFilterNew } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  import { useTable } from '@/components/core/dynamic-table';
  import {
    getInventoryList,
    getInventoryDelete,
    getInventoryExport,
  } from '@/api/supervisionGovern/questionInventory';
  defineOptions({
    name: 'SupervisionGovern/inspectionSupervision/index',
    inheritAttrs: false,
  });
  const pushInventModalRef = ref();
  const RectificationFillingRef = ref();
  const fields = QueryFieldConvert.columnFields2QueryFields(queryFields.fieldsTwo);
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'clueId',
    bordered: true,
    search: false,
  });
  const QueryFilter = ref();
  const addQuestionModalRef = ref();
  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      rowSelection.value.selectedRowKeys = selectedRowKeys;
    },
  });
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      state.filters = QueryFilter.value.getConditionResult();
      state.filters1 = QueryFilter.value.getConditionResult();
      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };
  const state = reactive({
    canQuery: true,
    dataSource: [],
    filters: [],
    filters1: [],
    formFlag: false,
    pagination: {
      current: 1,
      pageSize: 20,
    },
  });
  const exportExcel = async () => {
    let filters = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0] || [];
    Modal.confirm({
      title: '确定要导出问题列表吗?',
      icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: async () => {
        await getInventoryExport({ filters: state.filters }, '问题列表.xlsx');
      },
    });
  };
  const addProjectFn = () => {
    addQuestionModalRef.value.onChangeVisable();
  };
  const onReset = () => {
    rowSelection.value.selectedRowKeys = [];
    state.selectedRows = [];
    state.pagination.current = 1;
    state.pagination.pageSize = 20;
    const arr = [
      [
        {
          field: '',
          type: 'text',
          value1: '',
          selectCode: [],
          operatorValue: 'CT',
          operatorList: [],
          name: '',
          cName: '',
          example: null,
          columnType: '1',
          dictCode: null,
        },
      ],
    ];
    QueryFilter.value.setConditionGroups(arr);
    QueryFilter.value.clearConditionResult();
    state.filters = QueryFilter.value.getConditionResult();
    state.filters1 = [];
    loadData();
  };
  const onSearch = () => {
    let filters = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0] || [];
    loadData();
  };
  const loadData = () => {
    state.loading = true;
    getInventoryList({
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: state.filters,
    }).then((r) => {
      if (r.code == 'OK') {
        state.dataSource = r.data || [];
        dynamicTableInstance?.updatePagination({
          total: r.total,
          current: r.pageNum,
          pageSize: r.pageSize,
        });
      }
      state.loading = false;
    });
  };
  const dateFormat = 'YYYY-MM-DD';
  const filterData = () => {
    const filters1 = JSON.parse(JSON.stringify(state.filters1));
    const filters = [];
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [];
        item.forEach((v) => {
          let obj = {};
          const val = [];
          if (v.value1 && v.type == 'date') {
            v.value1 = dayjs(v.value1).format(dateFormat);
          }
          if (v.value2 && v.type == 'date') {
            v.value2 = dayjs(v.value2).format(dateFormat);
          }
          if (v.value1) {
            val.push(v.value1);
          }
          if (v.value2) {
            val.push(v.value2);
          }
          let ctype = '';
          if (v.type === 'number') {
            ctype = '2';
          } else if (v.type === 'date') {
            ctype = '4';
          } else if (v.type === 'dict') {
            ctype = '';
          }
          let values = val;
          if (v.type === 'select' || v.type === 'tree') {
            values = val[0];
          }
          if (v.type === 'text' && (v.operatorValue == 'CT' || v.operatorValue == 'NCT')) {
            values = val[0];
          }
          obj = {
            columnName: v.field,
            filterType: v.operatorValue,
            columnType: ctype,
            values,
          };
          list.push(obj);
        });
        filters.push(list);
      });
    }
    return filters;
  };

  const onPageChange = (data) => {
    state.pagination.current = data.current;
    state.pagination.pageSize = data.pageSize;
    loadData();
  };
  const pushInventFn = (record) => {
    pushInventModalRef.value.onChangeVisable(record, '推送问题', '20');
  };
  const editInventFn = (record) => {
    addQuestionModalRef.value.onChangeVisable(true, record);
  };
  const getInventoryDeleteFn = (record) => {
    Modal.confirm({
      title: '你确定要删除吗？数据删除后将无法进行恢复,请谨慎操作！',
      icon: createVNode(ExclamationCircleOutlined),
      onOk() {
        getInventoryDelete({ problemCode: record.problemCode }).then((res) => {
          if (res.code == 'OK') {
            message.success('删除成功');
            onSearch();
          } else {
            message.success('删除失败');
          }
        });
      },
      onCancel() {
        console.log('Cancel');
      },
      class: 'test',
    });
  };
  onMounted(() => {
    loadData();
  });
  const openRectificationFillingFn = (record, title, flag) => {
    state.formFlag = flag;
    RectificationFillingRef.value.onChangeVisable(record, title);
  };
  // 设置click 事件
  baseColumns[1].customRender = ({ record, value }) => {
    return (
      <a
        onClick={() => {
          openRectificationFillingFn(record, '问题详情', false);
        }}
        style="color:#1890ff;cursor: pointer"
      >
        {value}
      </a>
    );
  };
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 150,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        const actions: any = [];
        // record.buttonControl == '1'表示不是领导=有操作权限
        if ((record.status === null || record.status == '50') && record.buttonControl == '1') {
          //未推送或者整改已验收则可以再次推送
          actions.push(
            {
              label: '推送',
              actionType: 'icon',
              icon: 'SendOutlined',
              style: 'color:#1890ff;',
              onClick: () => pushInventFn(record),
            },
            {
              label: '直接处理',
              actionType: 'icon',
              icon: 'ClockCircleOutlined',
              style: 'color:#1890ff;',
              onClick: () => openRectificationFillingFn(record, '问题责任人填报', true),
            },
            {
              label: '编辑',
              actionType: 'icon',
              icon: 'EditOutlined',
              style: 'color:#1890ff;',
              onClick: () => editInventFn(record),
            },
            {
              label: '删除',
              actionType: 'icon',
              icon: 'DeleteOutlined',
              style: 'color:#1890ff;',
              onClick: () => getInventoryDeleteFn(record),
            },
          );
        } else {
          actions.push(
            {
              label: '不可推送',
              actionType: 'icon',
              icon: 'SendOutlined',
            },
            {
              label: '不可直接处理',
              actionType: 'icon',
              icon: 'ClockCircleOutlined',
            },
            {
              label: '不可编辑',
              actionType: 'icon',
              icon: 'EditOutlined',
            },
            {
              label: '不可删除',
              actionType: 'icon',
              icon: 'DeleteOutlined',
            },
          );
        }

        return actions;
      },
    },
  ];
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  .header {
    display: flex;
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
</style>
