<template>
  <div>
    <!-- 监督联络员审核+含驳回业务自查 -->
    <div>
      <a-form
        ref="auditFormRef"
        :model="state.auditForm"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 16 }"
        :rules="rules"
        @finish="onFinish1"
        @finish-failed="onFinishFailed1"
      >
        <!-- 监督联络员提交资料  -->
        <a-form-item label="待办编号">
          {{ state.auditForm.clueId }}
        </a-form-item>
        <a-form-item label="处理意见" name="handleOpinion">
          <a-radio-group v-model:value="state.auditForm.handleOpinion">
            <a-radio
              v-show="state.todoLinkCode == '80' || state.todoLinkCode == '90'"
              :value="'16'"
            >
              提交模型管理员
            </a-radio>
            <a-radio v-show="state.todoLinkCode == '80'" :value="'18'"> 转交业务 </a-radio>
            <a-radio v-show="state.todoLinkCode == '90' && state.todoLinkCodeFlag" :value="'18'">
              转交其他业务人员
            </a-radio>
            <a-radio v-show="state.todoLinkCode == '90'" :value="'19'"> 驳回原业务 </a-radio>
          </a-radio-group>
        </a-form-item>
        <a-form-item label="情况说明" name="handleRemark">
          <a-textarea
            v-model:value="state.auditForm.handleRemark"
            allow-clear
            placeholder="最大允许输入200个字符"
            :maxlength="200"
          />
        </a-form-item>
        <a-form-item label="材料">
          <div class="dropbox">
            <a-upload-dragger
              v-model:fileList="state.fileList"
              name="file"
              :action="`${state.BASE_URL}p/clue/dealWithFileUpload`"
              :before-upload="beforeUpload"
              :headers="state.headers"
              accept=".zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png"
              @change="normFile"
              @preview="onPreview"
            >
              <p class="ant-upload-drag-icon">
                <ArrowUpOutlined></ArrowUpOutlined>
              </p>
              <p class="ant-upload-text">点击或将文件拖拽到这里上传</p>
              <p class="ant-upload-hint"
                >支持扩展名：.zip .rar .doc .docx .pdf .xls .xlsx .jpg .jpeg .png</p
              >
            </a-upload-dragger>
          </div>
        </a-form-item>
        <a-form-item
          v-if="state.auditForm.handleOpinion == '18'"
          label="转交给业务人员"
          name="receiver"
        >
          <a-select
            v-model:value="state.auditForm.receiver"
            :allow-clear="true"
            show-search
            placeholder="请选择业务人员"
            @change="handleChange"
          >
            <a-select-opt-group label="业务组">
              <a-select-option
                v-for="(item, index) in state.rectificationList['业务人员']"
                :key="index"
                :value="'业务组' + '-' + item + '-' + index"
              >
                {{ item }}
              </a-select-option>
            </a-select-opt-group>
          </a-select>
        </a-form-item>
        <div class="sub-btn">
          <a-button
            html-type="submit"
            type="primary"
            style="background: #1890ff; color: #fff"
            :loading="state.loading"
          >
            提交</a-button
          >
        </div>
        <div> </div>
      </a-form>
    </div>
    <p style="margin-bottom: 20px" />
    <h2 style="font-size: 16px">处理日志</h2>
    <a-divider style="margin-top: 10px" />
    <ProcessingLogs ref="ProcessingLogsRef"></ProcessingLogs>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import { ArrowUpOutlined } from '@ant-design/icons-vue';
  import { message, Upload } from 'ant-design-vue';
  import ProcessingLogs from '../ProcessingLogs.vue';
  import {
    handleInspectionsSecond,
    getUsers,
    isTransmittedBusiness,
  } from '@/api/supervisionGovern';
  import { downloadJson } from '@/utils/request';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { Storage } from '@/utils/Storage';
  const { proxy } = getCurrentInstance();
  const emit = defineEmits(['search']);
  const auditFormRef = ref();
  const ProcessingLogsRef = ref();

  const state = reactive({
    transferor: '',
    handleRemark: '',
    imgVisible: false,
    imgUrl: '',
    BASE_URL: process.env.VUE_APP_BASE_API, // url
    showFlag: 1,
    temporaryLoading: false,
    loading: false,
    fileList: [], // 上传的文件列表
    headers: {}, // 上传头
    auditForm: {
      clueId: '',
      handleOpinion: '',
      modelId: '',
      handleRemark: '',
      receiver: '',
    },
    dataSource: [],
    processUser: '',
    singleRadio: false,
    rectificationList: [],
    columns: [
      {
        title: '处理时间',
        dataIndex: 'processTime',
        key: 'processTime',
        width: 180,
        ellipsis: true,
      },
      {
        title: '待办环节',
        key: 'todoLink',
        width: 150,
        customRender: ({ record }) => {
          return record.todoLink && '整改处理';
        },
      },
      {
        title: '当前处理人',
        dataIndex: 'processUser',
        key: 'processUser',
        width: 150,
        ellipsis: true,
      },
      {
        title: '下一处理人',
        dataIndex: 'nextProcessUser',
        key: 'nextProcessUser',
        width: 150,
        ellipsis: true,
      },
      {
        title: '处理结果',
        key: 'processResult',
        width: 100,
        customRender: ({ record }) => {
          return (
            record.processResult &&
            proxy.$dict.getItemText('RECTIFICATIONLOG_AUDIT_STATUS', record.processResult)
          );
        },
      },
      {
        title: '整改类型',
        dataIndex: 'nextProcessUser1',
        key: 'nextProcessUser1',
        width: 150,
        ellipsis: true,
      },
      {
        title: '整改说明',
        dataIndex: 'explain',
        key: 'explain',
        width: 300,
        ellipsis: true,
      },
      {
        title: '材料',
        key: 'action',
        width: 300,
      },
    ],
    beforeUser: '',
    sendUser: '',
    todoLinkCode: '',
    todoLinkCodeFlag: false,
    pagination: {
      pageSizeOptions: ['10', '20', '30', '40'],
      current: 1,
      pageSize: 10,
      total: 0,
      showSizeChanger: true,
      showQuickJumper: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
  });

  const processHandle = (record) => {
    // console.log('列表过来的数据', record);
    const val = cloneDeep(record);
    state.todoLinkCode = val.todoLinkCode;
    state.auditForm.clueId = val.id;
    state.auditForm.modelId = val.modelId;
    state.beforeUser = val.beforeUser;
    state.sendUser = val.sendUser;
    careOf();
    ProcessingLogsRef.value.getLogList(val); //查询处理日志
    if (state.todoLinkCode == '90') {
      //查询是否显示驳回业务人员
      isTransmittedBusinessFn();
    }
  };
  const isTransmittedBusinessFn = () => {
    isTransmittedBusiness(state.auditForm.clueId).then((r) => {
      if (r.data == 1) {
        //显示
        state.todoLinkCodeFlag = true;
      } else {
        state.todoLinkCodeFlag = false;
      }
    });
  };
  const rules = reactive({
    handleOpinion: [{ required: true, message: '请选择处理意见' }],
    handleRemark: [{ required: true, message: '请输入情况说明', trigger: 'blur' }],
    receiver: [{ required: true, message: '请选择业务人员' }],
  });
  const onFinish1 = () => {
    auditHandleOk();
  };

  const onFinishFailed1 = () => {};
  const auditHandleOk = () => {
    if (state.auditForm.handleOpinion == '18') {
      const str = state.auditForm.receiver;
      const lastIndex = str.lastIndexOf('/');
      const secondLastIndex = str.lastIndexOf('/', lastIndex - 1);
      state.auditForm.receiver = str.substring(secondLastIndex + 1);
    } else if (state.auditForm.handleOpinion == '19') {
      state.auditForm.receiver = state.beforeUser;
    } else if (state.auditForm.handleOpinion == '16') {
      state.auditForm.receiver = state.sendUser;
    }
    const _params = {
      ...state.auditForm,
      handleAttachments: state.fileList
        ? state.fileList.map((item) => {
            return item.response.data;
          })
        : [],
      lineOfDefenseType: '3',
      handType: '50',
    };

    saveLogFn(_params);
  };
  const saveLogFn = (_params) => {
    state.loading = true;
    handleInspectionsSecond(_params)
      .then((res) => {
        state.loading = false;
        if (res.data.code === 'OK') {
          message.success('提交成功');
          emit('search'); //提交则直接关闭弹框
        }
      })
      .catch(() => {
        state.loading = false;
      });
  };

  const handleChange = (value) => {
    if (value) {
      state.auditForm.receiver = value && value.split('-')[1];
    } else {
      state.auditForm.receiver = '';
    }
  };
  const careOf = () => {
    getUsers({ role: 'businessPerson' }).then((r) => {
      if (r.data.code == 'OK') {
        state.rectificationList = r.data.data; //返回业务
      } else {
        message.error(r.data.message);
      }
    });
  };
  // const closeFn = () => {
  //   auditFormRef.value.resetFields();
  //   state.fileList = [];
  // };
  // const handleOk = () => {
  //   closeFn();
  //   emit('search');
  // };
  // 文件预览
  const onPreview = (file) => {
    const url = file.response.data;
    // 文件下载
    downloadJson(
      'p/clue/file/downLoad',
      {
        filePathName: url,
      },
      file.name,
    ).then(() => {});
  };
  // 请求拦截
  const beforeUpload = (file, fileList) => {
    let flag = true;
    const config = { Authentication: '' };
    const FileExt = file.name.replace(/.+\./, '');
    if (
      ['jpg', 'jpeg', 'png', 'zip', 'rar', 'pdf', 'doc', 'docx', 'xlsx', 'xls'].indexOf(
        FileExt.toLowerCase(),
      ) === -1
    ) {
      message.warning(
        '请上传后缀名为.zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png的文件！',
      );
      return Upload.LIST_IGNORE;
    }
    // 有 token就带上
    if (Storage.get(ACCESS_TOKEN_KEY)) {
      config.Authentication = Storage.get(ACCESS_TOKEN_KEY);
    } else {
      // 没有就别上传
      flag = false;
    }
    state.headers = JSON.parse(JSON.stringify(config));
    // 上传三次就禁止上传了
    if (fileList.length + state.fileList.length > 3) {
      file.status = 'beforeUploadReject';
      flag = false;
    }
    return flag;
  };
  // 文件改变调用
  const normFile = (e) => {
    if (Array.isArray(e)) {
      return e;
    }
    if (e.fileList.length <= 3) {
      state.fileList = e.fileList;
    }
    // 如果大于3条，只保留前三条
    if (e.fileList.length > 3) {
      e.fileList = e.fileList.splice(3, 1);
      message.error('最多只能上传3个文件');
    }
    // 列表绑定
    return e && e.fileList;
  };

  defineExpose({ processHandle });
</script>
<style lang="less" scoped>
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
