<template>
  <div style="margin: 10px">
    <a-row class="titlebag">
      <a-col :md="{ span: 7, offset: 9 }"> 采购运营管理驾驶舱 </a-col>
      <a-col :md="{ span: 2, offset: 3 }">
        <a-select v-model:value="depData" class="datastyle" size="large" @change="depChange">
          <a-select-option v-for="item in state.depOptions" :key="item" :value="item">
            {{ item }}
          </a-select-option>
        </a-select>
      </a-col>
      <a-col :md="{ span: 2 }">
        <a-date-picker
          v-model:value="monthvalue"
          size="large"
          class="datastyle"
          :format="monthFormat"
          :disabled-date="disabledDate"
          picker="month"
          @change="onChange"
        />
      </a-col>
      <a-col :md="{ span: 1 }">
        <FullScreen />
      </a-col>
    </a-row>
    <TabsPage :overmonth="conditionalmonth" :depdata="depData" />
  </div>
</template>

<script setup lang="ts">
  // 时间选择框
  import { onMounted, reactive, ref } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import TabsPage from './overviewpage/TabsPage.vue';
  import { FullScreen } from '@/layout/header//components/';
  import { useUserStore } from '@/store/modules/user';

  const userStore = useUserStore();
  const monthFormat = 'YYYYMM';
  const disabledDate = (current: Dayjs) => {
    return current && current > dayjs().endOf('day');
  };
  const begindate = new Date();
  const year = ref(begindate.getFullYear());
  const month = ref(begindate.getMonth() + 1);
  const day = ref(begindate.getDate());
  if (day.value < 15) {
    if (month.value == 1) {
      month.value = 12;
      year.value = year.value - 1;
    } else {
      month.value = month.value - 1;
    }
  }
  if (month.value < 10) {
    month.value = `0${month.value}`;
  }
  const yearmonth = `${year.value}${month.value}`.toString();
  const monthvalue = ref<Dayjs>(dayjs(yearmonth, monthFormat));

  const conditionalmonth = ref('');
  function onChange(value, dateString) {
    conditionalmonth.value = dateString;
    userStore.setYearDate(conditionalmonth);
  }

  const depData = ref();
  const state = reactive({
    depOptions: [
      '总览',
      '概况',
      '质量',
      '成本',
      '库存',
      '资金',
      '效率',
      '双碳',
      '服务',
      '管理',
      '物流',
      '决定事项',
      '工作提示',
      '会议材料',
    ],
  });

  const depChange = (val) => {
    // state.depData = val;
    depData.value = val;
  };

  onMounted(() => {
    depData.value = '总览';
    conditionalmonth.value = yearmonth;
    userStore.setYearDate(conditionalmonth);
  });
</script>

<style lang="less" scoped>
  .titlebag {
    font-family: @font-family;
    line-height: 60px;
    color: @heading-color;
    background-color: rgba(255, 212, 74, 0.5);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .datastyle {
    width: 90%;
    top: -7px;
  }

  // 设置表格样式
  /deep/ .ant-table-tbody > tr > td {
    font-family: @font-family;
    color: @heading-color;
    font-size: 1.1vw;
    text-align: center;
    border: 1px solid #000000;
  }

  /deep/ .ant-table-thead > tr > th {
    font-family: @font-family;
    color: @heading-color;
    font-size: 1.1vw;
    font-weight: bold;
    text-align: center;
    background-color: #f5e8b9;
    border: 1px solid #000000;
  }
  .tabs-style {
    margin-top: 10px;
    background: #fff;
    .tabs-col {
      margin: 15px 0px 5px 0px;
    }
  }
  .blockstyle {
    font-family: @font-family;
    background: white;
    margin: 10px 0px;
  }

  /deep/ .ant-modal {
    .ant-modal-body {
      padding: 10px;
    }
    .ant-modal-title {
      font-family: @font-family;
      font-size: 1.3vw;
      font-weight: bold;
      color: @heading-color;
    }
    .ant-table-tbody > tr > td {
      font-family: @font-family;
      color: @heading-color;
      font-size: 1.1vw;
      text-align: center;
    }

    .ant-table-thead > tr > th {
      font-family: @font-family;
      color: @heading-color;
      font-size: 1.1vw;
      font-weight: bold;
      text-align: center;
      background-color: #f5e8b9;
    }
  }
</style>
