<template>
  <a-cascader
    v-model:value="casValue"
    :options="categoryTree.options"
    :show-search="{ filter, matchInputWidth: true }"
    style="width: 270px"
    placeholder="请输入"
    @change="chooseDataBase"
  />
</template>

<script lang="ts" setup>
  import { ref, onMounted, reactive, defineEmits, watch } from 'vue';
  import type { ShowSearchType } from 'ant-design-vue/es/cascader';
  import { queryDataCategory } from '@/api/download/downloadCenter';
  defineOptions({
    name: 'SearchTabs',
  });
  const props = defineProps({
    clearForm: {
      type: Boolean,
      default: false,
    },
  });
  const casValue = ref<string[]>([]);
  const categoryTree = reactive({
    options: [] as any[],
  });

  // 初始化分类下拉数据
  const toCasaderTree = (data) => {
    const ret = {
      value: data.nodeCode,
      label: data.nodeName,
      id: data.nodeId,
      children: [] as any[],
    };
    if (data.children && data.children.length > 0) {
      data.children.forEach((item) => {
        ret.children.push(toCasaderTree(item));
      });
    }
    return ret;
  };
  const treeData = () => {
    queryDataCategory({}).then((res) => {
      const data = res.data.children;
      data.forEach((item) => {
        if (item && item.nodeCode && item.nodeName) {
          categoryTree.options.push(toCasaderTree(item));
        }
      });
    });
  };
  const filter: ShowSearchType['filter'] = (inputValue, path) => {
    return path.some((option) => option.label.toLowerCase().indexOf(inputValue.toLowerCase()) > -1);
  };

  const dataInfo = ref({});
  const emit = defineEmits(['conDataID']);
  const chooseDataBase = (value, selectedOptions) => {
    dataInfo.value = selectedOptions ? selectedOptions[selectedOptions.length - 1] : null;
    emit('conDataID', dataInfo);
  };
  //监听是否清空
  watch(
    () => props.clearForm,
    (nV) => {
      if (nV) {
        casValue.value = [];
        emit('conDataID', '');
      }
    },
    { immediate: true, deep: true },
  );
  onMounted(() => {
    treeData();
  });
</script>
