<template>
  <div ref="barchart" class="echart" style="width: 100%; height: 100%"></div>
</template>

<script setup lang="ts">
  import {
    ref,
    onMounted,
    onUnmounted,
    getCurrentInstance,
    reactive,
    watch,
    watchEffect,
    nextTick,
    computed,
  } from 'vue';
  import { useRoute } from 'vue-router';
  import Pubs from '@/utils/pubs.js';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  import dict from '@/utils/dict.js';
  const store = chartConfigurations();

  defineOptions({
    name: 'PieChart',
    inheritAttrs: false,
  });
  // 当前路由
  const currentRoute = useRoute();

  const emit = defineEmits([
    'dblclickLink',
    'chartClick',
    'chartZrClick',
    'chartDblclick',
    'updateOption',
    'headerCellClick',
  ]);

  const props = defineProps({
    config: {
      type: Object,
      default: () => {},
    },
    data: {
      type: Object,
      default: () => {},
    },
    filter: {
      type: Object,
      default: () => {},
    },
    title: {
      type: String,
      default: '',
    },
    pageData: {
      type: Object,
      default: () => {},
    },
    widgetId: {
      type: String,
      default: '',
    },
  });

  const state = reactive({
    receiver: null, // 接收参数
    categoryList: [],
    option: null,
    type: computed(() => {
      return currentRoute.fullPath.indexOf('/userAnalyze/kanbanConfigTabs') > -1
        ? 'edit'
        : currentRoute.fullPath.indexOf('/userAnalyze/dataPreview') > -1
        ? 'check'
        : '';
    }),
  });
  const doSubscribe = (chartdata) => {
    Pubs.publish('updateChildData', {
      data: state.receiver,
      chart: chartdata,
    });
  };
  watch(
    () => state.receiver,
    (v) => {
      Pubs.unsubscribe(v.key);
      Pubs.subscribe(v.key, function (msg, chartdata) {
        doSubscribe(chartdata);
      });
    },
    { deep: true },
  );
  const barchart = ref();

  const { proxy } = getCurrentInstance();

  let charts = null;

  const getCategoryList = () => {
    const categoryList = [];
    console.log(props.config.rows);

    if (
      props.config &&
      props.config.rows &&
      props.config.rows.length > 0 &&
      props.data &&
      props.data.dataMap
    ) {
      for (let i = 0; i < props.data.data.length; i++) {
        const items = [];
        /**值集映射开始 */
        let obj = undefined;
        for (let j = 0; j < props.config.rows.length; j++) {
          const columnName = props.config.rows[j].columnName;
          items.push(props.data.dataMap[columnName][i]);
          for (let x = 0; x < props.data.columnList.length; x++) {
            if (props.data.columnList[x].name == columnName) {
              if (props.data.columnList[x].dictCode != null) {
                obj = dict.getValue(props.data.columnList[x].dictCode, items);
              }
            }
          }
        }
        /**值集映射结束 */
        categoryList.push(obj == undefined ? items.join('-') : obj.itemText);
      }
    }
    return categoryList;
  };

  const genSeries = () => {
    const series = [];

    if (
      props.config &&
      props.config.values &&
      props.config.values.length > 0 &&
      props.data &&
      props.data.dataMap
    ) {
      for (let i = 0; i < props.config.values.length; i++) {
        const column = props.config.values[i].column;
        const columnCName =
          props.config.values[i].columnCName || props.config.values[i].columnCname;
        const serie = {
          data: props.data.dataMap[column],
          name: columnCName,
          type: 'bar',
        };

        series.push(serie);
      }
    }
    console.log(series, 'series');

    return series;
  };

  const setOption = () => {
    const categoryList = getCategoryList();
    const series = genSeries();

    const option = {
      grid: {
        top: '25%',
        bottom: '6%',
      },
      tooltip: {
        trigger: 'item',
        formatter: (params) => {
          let dataFormats = store.insertContent?.find((z) => z.title === '纵轴')?.value;
          if (dataFormats && dataFormats.length === 0) {
            dataFormats = props.pageData.filterList?.find((z) => z.title === '纵轴')?.value;
          }
          return store.formatter(params, dataFormats);
        },
      },
      xAxis: {
        type: 'category',
        data: categoryList,
      },
      yAxis: {
        type: 'value',
      },
      series,
      legend: {
        type: 'scroll',
        top: 'bottom',
      },
    };

    if (props.title) {
      option.title = {
        text: props.title,
        left: 'center',
      };
    }
    const propsOption = props.data.dataConfig.option;
    if (propsOption) {
      // 提示窗口
      for (const key in propsOption.tooltip) {
        if (propsOption.tooltip.tooltip == '2' && key != 'show') {
          option.tooltip.position = function (pos, params, dom, rect, size) {
            // 鼠标在左侧时 tooltip 显示到右侧，鼠标在右侧时 tooltip 显示到左侧。
            const obj = { top: 60 };
            obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 5;
            return obj;
          };
        } else if (key === 'show') {
          option.tooltip[key] = propsOption.tooltip[key];
        }
      }
      // 图例
      for (const key in propsOption.chartLegend) {
        if (propsOption.chartLegend[key] && key != 'show') {
          option.legend[key] = propsOption.chartLegend[key];
        } else if (key === 'show') {
          option.legend[key] = propsOption.chartLegend[key];
        }
      }
      // 坐标轴
      for (const key in propsOption.chartAxis) {
        if (propsOption.chartAxis[key]) {
          option.yAxis[key] = propsOption.chartAxis[key];
        }
      }
    }

    state.option = option;
  };

  // 设置监听参数
  const setReceiver = (receiver) => {
    state.receiver = receiver;
  };

  const updateOption = () => {
    if (charts) {
      initEcharts();
    }
  };

  const initEcharts = () => {
    let chartFlag = false;

    // const colorTheme = props.dataConfig.option ? props.dataConfig.option.colorTheme : '';
    // charts = proxy.$echarts.init(piechart.value!, colorTheme);
    if (charts) {
      charts.dispose();
    }
    if (props?.data && props?.data?.dataConfig) {
      charts = proxy.$echarts.init(barchart.value!, props.data.dataConfig.option.colorTheme);
      if (!charts) return;
      setOption();

      charts.setOption(state.option); // 渲染页面
      // 随着屏幕大小调节图表
      window.addEventListener('resize', resize);
      charts.off('click'); // 图表渲染前销毁点击事件
      charts.off('dblclick'); // 图表渲染前销毁点击事件
      // 图表单击事件
      charts.on('click', function (params) {
        chartFlag = false;
        setTimeout(() => {
          check();
        }, 200);
        function check() {
          if (chartFlag != false) return;
          Object.assign(params, { ext: props.data });
          emit('chartClick', params);
        }
      });
      // 图表双击事件
      charts.on('dblclick', function () {
        chartFlag = true;
        emit('dblclickLink'); // 双击找到外联配置然后跳转
      });
      // 图表空白区域单击事件
      charts.getZr().on('click', function (event) {
        if (!event.target) {
          emit('chartZrClick', charts.getOption());

          if (state.type === 'check') {
            emit('headerCellClick', props.widgetId);
          }
        }
      });

      //新加上鼠标右击事件
      document.oncontextmenu = function (event) {
        event.preventDefault();
      };

      charts.on('contextmenu', function (params) {
        chartFlag = false;

        function check() {
          if (chartFlag != false) return;
          params.columns = props.data.columnList;
          params.index = params.dataIndex;
          Object.assign(params, { ext: props.data });
          emit('chartDblclick', params.event.event, params);
        }

        setTimeout(() => {
          check();
        }, 200);
      });
    }
  };

  const resize = () => {
    nextTick(() => {
      charts && charts.resize();
    });
  };

  onMounted(() => {
    initEcharts();
    Pubs.publish('onChartMounted', {});
  });

  onUnmounted(() => {
    window.removeEventListener('resize', resize);
    if (charts) {
      charts.dispose();
    }
  });

  watchEffect(() => {
    updateOption();
  });
  defineExpose({ resize, setReceiver });
</script>

<style scoped>
  .echart {
    width: 100%; /* height: 100%; */
    flex: 1;
  }
</style>
