<template>
  <div :class="{ 'full-screen': triggerMax }">
    <SchemaForm
      v-if="search"
      ref="queryFormRef"
      class="bg-white dark:bg-black mb-16px !pt-24px pr-24px"
      submit-on-reset
      v-bind="getFormProps"
      :table-instance="tableAction"
      @toggle-advanced="advanced"
      @submit="handleSubmit"
    >
      <template v-for="item of getFormSlotKeys" #[replaceFormSlotKey(item)]="data">
        <slot :name="item" v-bind="data || {}"></slot>
      </template>
    </SchemaForm>
    <div class="bg-white dark:bg-black">
      <ToolBar
        v-if="showToolBar"
        :export-file-name="exportFileName"
        :title="headerTitle"
        :title-tooltip="titleTooltip"
        :show-max-setting="showMaxSetting"
        :show-table-setting="showTableSetting"
        :show-refresh-setting="showRefreshSetting"
        :show-column-setting="showColumnSetting"
      >
        <template v-for="name of Object.keys($slots)" #[name]="data">
          <slot :name="name" v-bind="data || {}"></slot>
        </template>
      </ToolBar>
      <SchemaForm
        ref="editTableFormRef"
        no-style
        :initial-values="editFormModel"
        :show-action-button-group="false"
        :show-advanced-button="false"
        @validate="handleEditFormValidate"
      >
        <Table
          ref="tableRef"
          v-bind="getBindValues"
          :columns="innerColumns"
          :data-source="tableData"
          @change="handleTableChange"
          @resize-column="handleResizeColumn"
        >
          <template v-for="(_, slotName) of $slots" #[slotName]="slotData" :key="slotName">
            <slot :name="slotName" v-bind="slotData"></slot>
          </template>
          <template #bodyCell="slotData">
            <slot name="bodyCell" v-bind="slotData"></slot>
          </template>
        </Table>
      </SchemaForm>
    </div>
  </div>
</template>

<script lang="tsx" setup>
  import { useSlots, watch, computed } from 'vue';
  import { Table } from 'ant-design-vue';
  import {
    useTableMethods,
    createTableContext,
    useExportData2Excel,
    useTableForm,
    useTableState,
    useColumns,
    useEditable,
  } from './hooks';
  import { ToolBar } from './components';
  import { dynamicTableProps, dynamicTableEmits } from './dynamic-table';
  import { useScroll } from './hooks/useScroll';
  import type { TableActionType } from './types';
  import { SchemaForm } from '@/components/core/schema-form';
  defineOptions({
    name: 'DynamicTable',
    inheritAttrs: false,
  });

  const props = defineProps(dynamicTableProps);
  const emit = defineEmits(dynamicTableEmits);
  const slots = useSlots();

  // console.log(props, 'xxxx');
  // 表格内部状态
  const tableState = useTableState({ props, slots });
  const {
    tableRef,
    tableData,
    queryFormRef,
    editTableFormRef,
    getBindValues,
    editFormModel,
    triggerMax,
  } = tableState;
  // 表格内部方法
  const tableMethods = useTableMethods({ state: tableState, props, emit });
  const {
    setProps,
    fetchData,
    handleSubmit,
    reload,
    handleTableChange,
    handleEditFormValidate,
    redoHeight,
  } = tableMethods;
  // 控制编辑行
  const editableHooks = useEditable({ props, state: tableState });
  /** 表格scroll */

  const tableAction: TableActionType = {
    setProps,
    reload,
    fetchData,
    ...editableHooks,
  };

  // 表格列的配置描述
  const { innerColumns } = useColumns({
    props,
    slots,
    state: tableState,
    methods: tableMethods,
    tableAction,
  });

  // 搜索表单
  const { getFormProps, replaceFormSlotKey, getFormSlotKeys } = useTableForm({
    tableState,
    tableMethods,
    slots,
  });

  // 表单导出
  const exportData2ExcelHooks = useExportData2Excel({
    props,
    state: tableState,
    methods: tableMethods,
  });
  const advanced = (e) => {
    redoHeight();
    emit('toggle-advanced', e);
  };
  // 当前组件所有的状态和方法
  const instance = {
    ...props,
    ...tableState,
    ...tableMethods,
    ...editableHooks,
    ...exportData2ExcelHooks,
    emit,
  };
  watch(
    () => props.columns,
    () => {
      props.columns.forEach((item) => {
        if (item.resizable == undefined) {
          item.resizable = true;
        }
      });
    },
    { deep: true, immediate: true },
  );

  const handleResizeColumn = (w, col) => {
    col.width = w;
  };

  const { scroll, redoGetScrollY, redoGetWithoutHeaderScrollY } = useScroll({ props });
  const tableHeight = computed(() => {
    if (triggerMax.value) {
      redoGetWithoutHeaderScrollY();
    } else {
      redoGetScrollY();
    }
    return `${scroll.value.y}px`;
  });

  createTableContext(instance);

  fetchData();

  defineExpose(instance);
</script>

<style lang="less" scoped>
  :deep(.ant-table-wrapper) {
    padding: 0 6px 6px 6px;

    .ant-table {
      .ant-table-title {
        display: flex;
      }

      .ant-image:hover {
        cursor: zoom-in;
      }

      .ant-btn {
        margin-right: 10px;
      }
    }
  }

  .actions > * {
    margin-right: 10px;
  }

  .full-screen {
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    width: 100%;
    overflow: auto;
    height: 100%;
    padding: 20px 10px;
    z-index: 9999;
  }
  .full-screen {
    :deep(.ant-table-body) {
      max-height: unset !important;
    }
  }
</style>
