<template>
  <div>
    <!-- 业务自查  -->
    <LiaisonReview
      v-if="
        state.lineOfDefenseType == '2' &&
        (state.handleOpinion == '4' || state.handleOpinion == '18' || state.handleOpinion == '19')
      "
      ref="LiaisonReviewRef"
      @search="close"
    ></LiaisonReview>
    <!-- 监督联络员审核+含驳回业务自查 -->
    <BusinessProcess
      v-if="state.lineOfDefenseType == '2' && state.handleOpinion == '17'"
      ref="BusinessProcessRef"
      @search="close"
    ></BusinessProcess>
    <!-- 纪检核查  -->
    <DisciplineInspectionHand
      v-if="state.lineOfDefenseType == '2' && state.handleOpinion == '6'"
      ref="DisciplineInspectionHandRef"
      @search="close"
    ></DisciplineInspectionHand>
    <!-- 模型管理员处理审核 -->
    <VerificationProcessing
      v-if="state.lineOfDefenseType == '2' && state.handleOpinion == '16'"
      ref="VerificationProcessingRef"
      @search="close"
    ></VerificationProcessing>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, nextTick } from 'vue';
  import 'ant-design-vue/lib/button/style';

  import {
    BusinessProcess,
    LiaisonReview,
    // ReviewedByInspectors,
    DisciplineInspectionHand,
    VerificationProcessing,
  } from './index';

  const emit = defineEmits(['handleOk', 'search']);

  // 处理页面
  const BusinessProcessRef = ref(); //监督联络员审核+含驳回业务自查
  const LiaisonReviewRef = ref(); //业务自查
  // const ReviewedByInspectorsRef = ref(); // 模型管理员处理审核
  const DisciplineInspectionHandRef = ref(); //纪检核查
  const VerificationProcessingRef = ref(); //核查人员处理审核
  const state = reactive({
    todoLinkCode: '',
    lineOfDefenseType: '',
    handleOpinion: '',
  });

  const processHandle = (record) => {
    state.todoLinkCode = record.todoLinkCode;
    state.lineOfDefenseType = record.lineOfDefenseType;
    state.handleOpinion = record.handleOpinion;
    nextTick(() => {
      if (
        record.lineOfDefenseType === '2' &&
        (record.handleOpinion === '4' ||
          record.handleOpinion === '18' ||
          record.handleOpinion === '19')
      ) {
        LiaisonReviewRef.value.processHandle(record);
      } else if (record.lineOfDefenseType === '2' && record.handleOpinion === '16') {
        VerificationProcessingRef.value.processHandle(record);
      } else if (record.lineOfDefenseType === '2' && record.handleOpinion === '17') {
        BusinessProcessRef.value.processHandle(record);
      } else if (record.lineOfDefenseType === '2' && record.handleOpinion === '6') {
        DisciplineInspectionHandRef.value.processHandle(record);
      }
    });
  };

  const close = () => {
    emit('search');
  };
  defineExpose({ processHandle });
</script>
<style lang="less" scoped>
  /deep/.ant-modal {
    width: 50% !important;
  }

  /deep/.ant-form-item {
    margin-bottom: 2rem !important;
  }

  .dotted-box {
    margin-left: 13.5%;
    width: 391px;
    height: 54px;
    border: 1px dashed #eee;
    border-radius: 2px;
    display: flex;
    align-content: center;
  }
  .ant-form-explain {
    color: #f5222d;
    font-size: 14px !important;
  }
  .deliver {
    position: relative;
    .asterisk {
      position: absolute;
      top: 36%;
      left: 16.5%;
      color: #f5222d;
    }
  }
  /deep/.anticon.anticon-paper-clip {
    margin-left: 15px !important;
  }
  // /deep/.ant-upload-list-item-card-actions {
  //   left: 0;
  // }
  /deep/.ant-upload {
    color: rgba(0, 0, 0, 0.4);
  }
  /deep/.ant-upload-list-item-name {
    width: 90% !important;
    margin-left: 10px !important;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
