<template>
  <div>
    <a-row v-if="props.baseInfo">
      <a-col :span="24">年份：{{ period }}</a-col>
      <a-col :span="24" class="ellipsis-3">
        所属绩效：
        <a-tooltip placement="rightTop">
          <template #title>{{ orgName }}</template>
          {{ orgName }}
        </a-tooltip>
      </a-col>
    </a-row>
    <a-input-search
      v-model:value="searchValue"
      class="mv-1x"
      placeholder="请输入"
      @search="filter"
    />
    <a-tree
      v-model:expandedKeys="expandedKeys"
      v-model:selectedKeys="selectedKeys"
      :show-line="showLine"
      :tree-data="showTreeData"
      :height="winHeight"
      @select="onSelect"
    >
      <template #title="{ title }">
        <span v-if="title.indexOf(searchValue) > -1">
          {{ title.substr(0, title.indexOf(searchValue)) }}
          <span style="color: #f50">{{ searchValue }}</span>
          {{ title.substr(title.indexOf(searchValue) + searchValue.length) }}
        </span>
        <span v-else>{{ title }}</span>
      </template>
    </a-tree>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, ref, computed, onBeforeMount } from 'vue';
  import { useRoute } from 'vue-router';
  import { cloneDeep } from 'lodash-es';
  import type { TreeProps } from 'ant-design-vue';
  import { dept } from '@/api/orgPerList/setUp';

  defineOptions({
    name: 'TreeList',
  });
  const route = useRoute();
  const { orgName, period } = route.query;

  const props = defineProps({
    baseInfo: { type: Boolean, default: false },
  });
  const showLine = ref<boolean>(true);
  const searchValue = ref<string>('');
  const treeData = ref<TreeProps['treeData']>([]);
  const emit = defineEmits(['selectd', 'treeSelect']);

  const onSelect: TreeProps['onSelect'] = (selectedKeys, info) => {
    if (selectedKeys.length > 0) emit('selectd', selectedKeys, info);
  };
  //默认展开第一层
  const expandedKeys = ref<string[]>(['0']);
  const selectedKeys = ref<string[]>([]);
  const queryTree = () => {
    dept({}).then((res) => {
      const _treeData = res.data.rows.children as any;
      emit('treeSelect', res.data);
      treeData.value = _treeData;
      //默认选择第二层第一个，并查询
      selectedKeys.value = [res.data.rows.children[0].key];
      const selectedNodes = [{ ...res.data.rows.children[0] }];
      emit('selectd', [res.data.rows.children[0].key], { selectedNodes });
    });
  };
  const showTreeData = computed(() => {
    return filter();
  });
  const filter = () => {
    const value = searchValue.value;
    const data = cloneDeep(treeData.value);
    let tempData: any = [];
    if (`${value}`.length > 0) {
      tempData = find(data, value);
    } else {
      tempData = data;
    }
    return tempData;
  };
  const find = (nodes, query) => {
    // 判断当前节点是否包含关键字，包含则返回true，不包含则返回false
    const matchTitle = (node) => {
      if (node.title.indexOf(query) > -1) {
        return true;
      } else {
        return false;
      }
    };

    if (!(nodes && nodes.length)) {
      return [];
    }
    const collect: any = [];
    for (const node of nodes) {
      // 以下两个条件任何一个成立，当前节点都应该加入到新子节点集中
      // 1. 子孙节点中存在符合条件的，即 subs 数组中有值
      // 2. 自己本身符合条件
      const subs = find(node.children, query);
      //递归遍历最深的那个节点，拿到那个节点的子节点数组
      if (matchTitle(node)) {
        // 如果当前节点包含关键字，push存起来，且他的子节点数组为空，就设置当前节点数组为空
        collect.push({ ...node, children: subs });
      } else if (subs && subs.length) {
        node.children = subs;
        collect.push(node);
      }
    }
    return collect.length ? collect : [];
  };
  const winHeight = ref(0);
  onBeforeMount(() => {
    const h = document.documentElement.clientHeight;
    winHeight.value = h - (props.baseInfo ? 320 : 290);
  });
  onMounted(() => {
    queryTree();
  });
  defineExpose({
    treeData,
  });
</script>

<style lang="less" scoped>
  /deep/.ant-tree-switcher {
    color: #1890ff;
  }
</style>
