<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      :title="`${state.dataModelName}-自动推送设置-${state.editEnabled ? '新增' : '编辑'}`"
      width="80%"
      :footer="null"
      destroy-on-close
      @ok="handleOk"
      @cancel="handleOk"
    >
      <a-form
        ref="formRef"
        :model="state.modalInfo"
        :label-col="{ span: 3 }"
        :wrapper-col="{ span: 20 }"
      >
        <!-- <a-form-item label="规则选择" required>
          <a-radio-group v-model:value="state.modalInfo.pushEmail">
            <a-radio :value="'10'"> 系统规则 </a-radio>
            <a-radio :value="'00'"> 自定义推送 </a-radio>
          </a-radio-group>
        </a-form-item> -->
        <a-form-item label="推送条件设置" class="dynamicRules-compositeConditions">
          <a-card class="filter-box">
            <a-button type="link" class="filter-node-btn" @click="addNode()">
              <template #icon><PlusCircleOutlined /></template>
              新增匹配条件
            </a-button>
            <a-card
              v-for="(item, index) in state.filtersData"
              :key="index"
              style="margin-bottom: 10px"
            >
              <!-- :ref="filtersContent + 'index'" -->
              <filter-content
                :ref="(el) => setItemRef(el, `filtersConten_${index}`)"
                class="datatableNames5"
                :composite-conditions="null"
                :default-conditions="item.compositeConditionsLocal"
              >
              </filter-content>
              <br />
              <span class="tips">*</span> 接收人：
              <a-tree-select
                v-if="state.treeData.length > 0"
                v-model:value="item.sendTargetUsers"
                style="width: 80%"
                :tree-data="state.treeData"
                tree-checkable
                allow-clear
                :height="250"
                :field-names="{ children: 'children', title: 'label', key: 'value' }"
                placeholder="请选择接收人"
                tree-node-filter-prop="label"
                class="custom-tree-select"
              />
              <div class="filter-del-btn">
                <a-button type="primary" :loading="item.runLoading" @click="preShowResult(index)">
                  试运行
                </a-button>
                <a-button
                  v-show="state.filtersData.length > 1"
                  type="link"
                  danger
                  @click="delNode(index)"
                >
                  <template #icon><minus-circle-outlined /></template>
                  移除
                </a-button>
              </div>
            </a-card></a-card
          >
        </a-form-item>
        <a-form-item label="调度周期" class="special1" required>
          <CronEditor
            v-model:value.sync="state.modalInfo.cronExpression"
            cron-syntax="quartz"
          ></CronEditor>
        </a-form-item>
        <a-form-item label="邮件提醒模型管理员" style="margin-top: 20px">
          <a-radio-group v-model:value="state.modalInfo.pushEmail">
            <a-radio :value="'10'"> 是 </a-radio>
            <a-radio :value="'20'"> 否 </a-radio>
          </a-radio-group>
        </a-form-item>
        <div class="sub-btn">
          <a-button
            type="primary"
            style="background: #1890ff; color: #fff"
            :loading="state.loading"
            @click="savePushRules"
            >保存</a-button
          >
        </div>
      </a-form>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, provide, computed, h } from 'vue';
  import { PlusCircleOutlined } from '@ant-design/icons-vue';
  import { cloneDeep } from 'lodash-es';
  import { message, Modal } from 'ant-design-vue';
  import FilterContent from '@/components/business/dynamicRuleSection/FiltersContent.vue';
  import { CronEditor } from '@/components/business';
  import { getRecipient, getdetail } from '@/api/supervisionModel';
  import { automaticPush, automaticPushQuery } from '@/api/modelGroup';
  const dialogFormVisible = ref(false);

  const state = reactive({
    lineOfDefenseType: null,
    loading: false,
    runLoading: false,
    dataModelName: '',
    datatableColumns: [],
    pushFilters: [],
    editEnabled: true,
    conditionFilter: {
      condiList: [],
    },
    filtersData: [
      {
        filters: [],
        sendTargetUsers: [],
        compositeConditionsLocal: {},
        runLoading: false,
      },
    ],
    modalInfo: {
      modelAdminId: '',
      pushEmail: '',
      cronExpression: '',
      ruleCode: null,
    },
    treeData: [],
    dataModelId: null,
    defaultConditions: [
      {
        compositeConditionsLocal: {},
      },
    ],
    defaultFilters: [
      {
        type: 'or',
        configComponents: [
          {
            columnType: '1',
            values: ['#NULL'],
            columnCName: '处理状态',
            id: 40118,
            filterType: '=',
            columnName: 'handle_status',
          },
          {
            columnType: '1',
            values: ['20'],
            columnCName: '处理状态',
            id: 40118,
            filterType: '=',
            columnName: 'handle_status',
          },
        ],
      },
    ],
  });
  const conditions = [
    { key: '1', value: '>' },
    { key: '2', value: '≥' },
    { key: '3', value: '<' },
    { key: '4', value: '≤' },
    { key: '5', value: '=' },
    { key: '6', value: '≠' },
    { key: '7', value: 'like' },
    { key: '8', value: 'not like' },
    { key: '9', value: '[a,b]' },
    { key: '10', value: '=' },
    { key: '11', value: '≠' },
  ];
  provide(
    'dataSet',
    computed(() => {
      return state.datatableColumns;
    }),
  );
  provide(
    'editEnabled',
    computed(() => {
      return true;
    }),
  );
  const addNode = () => {
    if (state.filtersData.length == 5) {
      message.error('最多支持5项推送条件哦~');
      return false;
    }
    if (state.filtersData[state.filtersData.length - 1].sendTargetUsers.length == 0) {
      message.warning('请选择接收人~');
      return false;
    }
    state.filtersData.push({
      filters: [],
      sendTargetUsers: [],
      runLoading: false,
    });
  };
  const filtersContentRef: any = {};
  const setItemRef = (el, key) => {
    if (el) {
      filtersContentRef[key] = el;
    }
  };

  const delNode = (index) => {
    state.filtersData.splice(index, 1);
  };
  const preShowResult = (index) => {
    //试运行
    // console.log('getFiltersContent', getFiltersContent(index)?.data?.condiList);
    state.filtersData[index].runLoading = true;
    const _params = getParams(index);
    // console.log(_params);
    getdetail(_params)
      .then((r) => {
        state.filtersData[index].runLoading = false;
        if (r.data.code == 'OK') {
          Modal.success({
            title: '提示',
            content: h('div', {}, [h('p', `匹配记录：${r.data.total} 条`)]),
          });
        } else {
          message.error(r.data.message);
        }
      })
      .catch(() => {
        message.error('系统异常请稍后重试~');
        state.filtersData[index].runLoading = false;
      });
  };
  const savePushRules = () => {
    //保存
    let flag = true;
    state.filtersData.forEach((item) => {
      if (item.sendTargetUsers.length == 0) {
        message.warning('请完善推送条件设置接收人');
        flag = false;
        return;
      }
    });
    if (state.modalInfo.cronExpression == '') {
      message.warning('调度周期必填');
      return false;
    }
    if (flag) {
      state.loading = true;
      state.filtersData.forEach((item, index) => {
        const _filters = getParams(index);
        item.filters = [..._filters.pushFilters];
      });
      const _params = {
        modelCodes: state.dataModelId,
        conditionFilter: state.filtersData,
        cronExpression: state.modalInfo.cronExpression,
        ruleCode: state.modalInfo.ruleCode,
        modelAdminId: state.modalInfo.modelAdminId, //模型管理员
        pushEmail: state.modalInfo.pushEmail,
      };
      automaticPush(_params)
        .then((res) => {
          state.loading = false;
          if (res.code == 'OK') {
            handleOk();
            message.success(res.data);
          } else {
            message.error(res.message);
          }
        })
        .catch(() => {
          message.error('自动推送定时任务失败,请联系管理员!');
          state.loading = false;
        });
    }
  };
  const getParams = (index) => {
    //保存和试运行参数配置
    const filterContent = getFiltersContent(index)?.data?.condiList;
    let _params = {};
    let newRulesData = [];
    if (filterContent != undefined) {
      const rulesData = filterContent.map((x) => {
        const configComponents = x.condiList.map((y) => {
          const item = y.condiList[0];
          const res = {
            columnType: item.leftColType,
            values: item.rightValue ? [item.rightValue] : [],
            columnCName: item.leftColCname,
            columnName: item.leftColName,
            id: item.leftColId,
            filterType: conditions.find((z) => z.key == item.operator)
              ? conditions.find((z) => z.key == item.operator)?.value
              : '',
          };
          if (item.rightColName && item.rightColName == 'unit_id') {
            res['userType'] = '2';
          }
          if (item.rightColName && item.rightColName == 'unit_id_1') {
            res['userType'] = '1';
          }
          if (item.operator == '10' || item.operator == '11') {
            res['values'] = ['#NULL'];
          }
          if (item.rightTabId) {
            res['associatedField'] = item.rightColName;
          }
          return res;
        });
        return {
          type: x.relation,
          configComponents,
        };
      });
      newRulesData = rulesData.concat(state.defaultFilters);
    } else {
      newRulesData = state.defaultFilters;
    }
    _params = {
      dataModelId: state.dataModelId,
      connectedTable: true,
      pageNum: 1,
      pageSize: 1,
      pushFilters: newRulesData,
    };
    return _params;
  };
  // 获取过滤字段
  const getFiltersContent = (index) => {
    return filtersContentRef[`filtersConten_${index}`].getResult();
  };
  const getRecipientFn = (record) => {
    getRecipient({
      sendTargetUsers: record.sendTargetUsers,
      lineOfDefenseType: record.lineOfDefenseType,
      displayModelAdmin: true,
    }).then((res) => {
      if (res.code === 'OK') {
        state.treeData = res.data;
      } else {
        message.error('查询接收人失败，请稍后重试！');
      }
    });
  };
  const init = () => {
    state.editEnabled = true; //先置空
    state.loading = false;
    state.modalInfo.cronExpression = '';
    state.modalInfo.modelAdminId = '';
    state.modalInfo.pushEmail = '';
    state.datatableColumns = [];
    state.filtersData = cloneDeep([
      {
        filters: [],
        sendTargetUsers: [],
        runLoading: false,
        compositeConditionsLocal: {
          condiList: [],
          relation: '',
        },
      },
    ]);
  };
  const onChangeVisable = (record) => {
    //先查询是新增还是回显
    init(); //重置
    getRecipientFn(record); //获取接收人
    state.dataModelId = record.id;
    state.dataModelName = record.modelName;
    state.modalInfo.modelAdminId = record.sendTargetUsers;
    const _datatableColumns = JSON.parse(record.modelConfig).datatableList; //record.datatableColumns
    _datatableColumns.forEach((item) => {
      //过滤字段数据
      const tabelData = {
        id: item.tableId,
        tableCname: item.tableCName,
        tableName: item.tableName,
        columnsList: [],
      };
      item.tableColumnList.forEach((x) => {
        const list = {
          columnCname: x.tableColumnCName,
          columnName: `${item.tableAlias}_${x.tableColumnName}`,
          id: x.tableColumnId,
          newType: x.tableColumnType,
          sort: '1',
          tableId: item.tableId,
          type: x.tableColumnOriginalType,
        };
        tabelData.columnsList.push(list);
      });
      state.datatableColumns.push(tabelData); //这是条件下拉数据
    });

    // console.log('state.datatableColumns', state.datatableColumns);
    automaticPushQuery({ modelId: state.dataModelId }).then((res) => {
      if (res.code == 'OK') {
        if (res.data != null) {
          //data=null表示新增，不为null则回显
          //回显数据处理
          state.editEnabled = false;
          state.modalInfo.pushEmail = res.data.extend2;
          state.modalInfo.ruleCode = res.data.ruleCode; //编辑保存的ruleCode
          state.modalInfo.cronExpression = res.data.cronExpression;
          const filtersJson = JSON.parse(res.data.conditionFilter);

          filtersJson.forEach((item, i) => {
            state.filtersData[i] = {
              sendTargetUsers: item.sendTargetUsers,
            };
            item.filters.pop(); //删除默认两项
            const result = item.filters.map((x) => {
              const condiList = x.configComponents.map((y) => {
                const item = { relation: y.condition, condiList: [] };
                let tabData = {};
                _datatableColumns.forEach((w) => {
                  const _some = w.tableColumnList.some((z) => z.tableColumnId == y.id);
                  if (_some) {
                    tabData = {
                      leftTabName: w.tableName,
                      leftTabCname: w.tableCName,
                      leftTabId: w.tableId,
                    };
                  }
                });
                const params = {
                  leftColCname: y.columnCName,
                  leftColId: y.id,
                  leftColName: y.columnName,
                  leftColType: y.columnType,
                  operator: conditions.find((z) => z.value == y.filterType)?.key,
                  ...tabData,
                };
                if (y.values && y.values.indexOf('#NULL') > -1) {
                  params['operator'] = y.filterType == '=' ? '10' : y.filterType == '≠' ? '11' : '';
                } else {
                  params['rightValue'] = y.values[0];
                }

                if (y.associatedField) {
                  params['rightColName'] = y.associatedField;
                  params['rightColCname'] = y.rightColCname;
                  params['rightColId'] = y.rightColId;
                  params['rightColType'] = y.rightColType;
                  params['rightTabCname'] = y.rightTabCname;
                  params['rightTabId'] = y.rightTabId;
                  params['rightTabName'] = y.rightTabName;
                  params['showField'] = true;
                }
                item.condiList.push({
                  relation: y.condition,
                  condiList: { relation: y.condition, condiList: [params] },
                });
                return { relation: y.condition, condiList: [params] };
              });
              return {
                relation: x.type,
                condiList,
              };
            });
            state.filtersData[i].compositeConditionsLocal = { relation: 'and', condiList: result };
          });
        }
      }
    });
    dialogFormVisible.value = true;
  };
  const handleOk = () => {
    dialogFormVisible.value = false;
  };
  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 18px;
    font-weight: 600;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
  .datatableNames5 {
    margin-top: -20px;
    padding-left: 50px !important;
  }
  .filter-node-btn {
    font-size: 14px;
    font-weight: normal;
    display: flex;
    align-items: baseline;
    padding: 4px 0 !important;
    span {
      font-size: 20px;
    }
  }
  .filter-box {
    max-height: 500px;
    overflow: auto;
  }
  .filter-del-btn {
    display: flex;
    margin-left: 82%;
    margin-top: 20px;
  }
  /deep/.custom-tree-select .ant-select-selector {
    max-height: 200px;
    overflow: auto;
  }
  .tips {
    color: #ff4d4f;
  }
</style>
