<template>
  <div ref="echartsRef" class="echarts"></div>
</template>

<script setup lang="ts">
  import { watch, ref } from 'vue';
  import * as echarts from 'echarts';
  import mapJSON from './china.json';
  defineOptions({
    name: 'ChinaMap',
  });

  const serverPath = ref(process.env.BASE_URL);

  const props = defineProps({
    chartMapData: {
      type: Array,
      default: () => {
        return [];
      },
    },
  });
  const chart = ref();
  const echartsRef = ref('');
  watch(
    () => props.chartMapData,
    () => {
      init();
    },
  );

  const init = () => {
    chart.value = echarts.init(echartsRef?.value);

    echarts.registerMap('china', mapJSON);

    renderMap(props.chartMapData);
  };
  const renderMap = (val) => {
    const option = {
      tooltip: {
        trigger: 'item',
        padding: 0,
        showContent: false,
        backgroundColor: 'transparent', // 提示框浮层的背景颜色
        borderColor: '#C6A3A3', // 提示框浮层的边框颜色
        formatter: '',
      },
      backgroundColor: {
        type: 'linear',
        colorStops: [
          {
            offset: 0,
            color: '#FFFEFC', // 0% 处的颜色
          },
          {
            offset: 1,
            color: '#FFFEFC', // 100% 处的颜色
          },
        ],
        globalCoord: false, // 缺省为 false
      },
      visualMap: {
        min: 0,
        max: 1000,
        left: 26,
        bottom: 40,
        showLabel: !0,
        text: ['高', '低'],
        pieces: [
          {
            gt: 1000,
            label: '> 1000家',
            color: '#7f1100',
          },
          {
            gte: 800,
            lte: 1000,
            label: '800 - 1000家',
            color: '#DC4103',
          },
          {
            gte: 600,
            lte: 800,
            label: '600 - 800家',
            color: '#FF5F0C',
          },
          {
            gte: 400,
            lte: 600,
            label: '400 - 600家',
            color: '#FF8648',
          },
          {
            gte: 200,
            lt: 400,
            label: '200 - 400家',
            color: '#FFAE85',
          },
          {
            gt: 0,
            lt: 200,
            label: '200家',
            color: '#FFE5D8',
          },
        ],
        show: !0,
      },
      geo: {
        map: 'china',
        show: true,
        roam: false,
        zoom: 1.2,
        label: {
          normal: {
            show: !0,
            fontSize: '14',
            color: '#591A1A',
          },
        },
        itemStyle: {
          normal: {
            areaColor: '#FFFEFC',
            borderColor: '#C6A3A3', //线
          },
          emphasis: {
            areaColor: '#FFE5D8', //悬浮区背景
          },
        },
        tooltip: {
          trigger: 'item',
          padding: 0,
          showContent: true,
          backgroundColor: 'rgba(50,50,50,0)', // 提示框浮层的背景颜色
          borderColor: '#C6A3A3', // 提示框浮层的边框颜色
          extraCssText: 'box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);', // 去掉阴影
          formatter(params) {
            return getTipHtml(params);
            // if (typeof params.value[2] == 'undefined') {
            //   return `${params.name} : ${0}`;
            // } else {
            //   return `${params.name} : ${params.value[2]}`;
            // }
          },
        },
      },
      series: [
        {
          name: '确诊病例',
          type: 'map',
          geoIndex: 0,
          data: val,
        },
      ],
    };

    const getTipHtml = (param) => {
      const listvalue = ref();
      if (param.value > 0) {
        listvalue.value = param.value;
      } else {
        listvalue.value = 0;
      }
      let tipHtml = '';
      tipHtml = `<div style="width: 170px">
      <div style="display: flex; background-color: white; border-radius: 5px; padding: 8px">
        <div><img style="width: 50px" src="${serverPath.value}/static/chartImgs/customer.png" alt="" /></div>
        <div style="margin-left: 10px">
          <div style="color: #FF9A00;font-size: 28px;margin-top: 5px;">${listvalue.value}</div>
          <div style="color: #591A1A;font-size: 12px;margin-top: 5px;">${param.name}</div>
        </div>
      </div>
    </div>`;
      return tipHtml;
    };
    //渲染地图
    chart?.value.setOption(option);
  };
</script>

<style>
  .echarts > div:nth-child(1) {
    width: 100% !important;
    /* transform: rotate(2.5deg); */
  }
  canvas {
    width: 100% !important;
  }
  .echarts {
    width: 100%;
    height: 100%;
  }
</style>
