<template>
  <MergeTable
    :has-header="false"
    :data-list="state.dataList"
    :column-list="state.columnList"
    :column-groups="state.columnGroup"
    :loading="loading"
    :scroll="{ y: 300 }"
    :ellipsis="true"
    @cell-clicked="cellClicked"
  >
  </MergeTable>
</template>

<script lang="tsx" setup>
  import { ref, reactive, onMounted, watch } from 'vue';
  import { useRouter } from 'vue-router';
  import Transformer from '../../statisticsTable/transformer.js';
  import { MergeTable } from '@/components/business';
  import { getHomeWidget, queryAggregate } from '@/api/common';
  defineOptions({
    name: 'ModelDistDetail',
    inheritAttrs: false,
  });

  const props = defineProps({
    bizSystem: {
      type: String,
      default: '',
    },
  });

  const loading = ref(false);
  const state = reactive({
    dataList: [],
    columnList: [
      { title: '模型拥有人', dataIndex: '模型拥有人' },
      {
        title: '模型名称',
        dataIndex: '模型名称',
        align: 'left',
        width: 180,
        ellipsis: true,
      },
      {
        title: '疑点',
        dataIndex: '当月疑点记录数',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: '当月确定问题数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '当月移交问题数',
        align: 'right',
      },
      {
        title: '疑点',
        dataIndex: '累计疑点记录数',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: '累计确定问题数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '累计移交问题数',
        align: 'right',
      },
    ],
    columnGroup: [
      {
        title: '当月业务笔数',
        children: ['当月疑点记录数', '当月确定问题数', '当月移交问题数'],
      },
      {
        title: '当年累计业务笔数',
        children: ['累计疑点记录数', '累计确定问题数', '累计移交问题数'],
      },
    ],
  });

  const parseFunc = (cname, value) => {
    return value;
  };

  const setupModelData = () => {
    const item = { id: 2023042114425838, index: 4, name: '业务系统模型详情' };
    loading.value = true;
    getHomeWidget({ widgetId: item.id }).then((result) => {
      state.dataList = Transformer.toTableData(result.data, parseFunc);
      loading.value = false;
    });
  };

  const changeData = (bizSystem) => {
    const _param = JSON.parse(sessionStorage.getItem('condition'));
    const filterValues = [];
    if (_param.line != '') {
      filterValues.push(`dd.LINE_OF_DEFENSE_TYPE = '${_param['line']}'`);
    }
    if (_param.unit != '') {
      filterValues.push(`dd.unit_name = '${_param['unit']}'`);
    }
    if (_param.dept != '') {
      filterValues.push(`dd.DEPT_NAME = '${_param['dept']}'`);
    }
    const params = {
      dbType: 'MYSQL',
      relations: [
        {
          // filterField: 'model_belong_dept',
          filterType: 'homeReport',
          filterValues,
          widgetId: 2023042114425838,
        },
      ],
    };
    loading.value = true;
    queryAggregate(params).then((result) => {
      state.dataList = Transformer.toTableData(result.data['2023042114425838'], parseFunc);
      loading.value = false;
    });
  };

  watch(
    () => props.bizSystem,
    () => {
      if (props.bizSystem) {
        changeData(props.bizSystem);
      } else {
        setupModelData();
      }
    },
    {},
  );
  const router = useRouter();
  const cellClicked = (record, column) => {
    if (column.column.dataIndex == '模型名称') {
      router.push({
        path: '/SupervisionGovern/toDoHistory/historyLists',
        query: {
          title: 'modelName',
          tabCustomName: record['模型名称'],
          modelName: record['模型名称'],
        },
      });
    }
  };
  onMounted(() => {
    // 加载数据
    setupModelData();
    // 修正rowspan
  });
</script>
<style lang="less" scoped>
  /deep/.ant-table-row .ant-table-cell:nth-child(2) > div > span {
    cursor: pointer;
  }
</style>
