@import url(custom.less);

/* 滚动条凹槽的颜色，还可以设置边框属性 */
*::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

/* 滚动条的宽度 */
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* 滚动条的设置 */
*::-webkit-scrollbar-thumb {
  background-color: #ddd;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  background-clip: padding-box;
}

/* 滚动条鼠标移上去 */
*::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
.ant-card-body {
  padding: 12px;
}
/* 公共文本样式 */
.link {
  text-decoration: none;
  color: @primary;
  cursor: pointer;

  &:hover {
    color: @primary-light;
  }
}

.lh32 {
  line-height: 32px;
}

.iblock {
  display: inline-block;
}

.primary {
  color: @primary;
}
.gray {
  color: @gray;
}
.error {
  color: @error;
}

.link-error {
  cursor: pointer;
  color: @error;
}

.text-c {
  text-align: center;
}

.text-l {
  text-align: left;
}

.text-r {
  text-align: right;
}

.pointer {
  cursor: pointer;

  &:hover {
    color: @primary;
  }
}

.shadow {
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);
}
.font-xl {
  font-size: 18px;
}

.font-l {
  font-size: 16px;
}

.font-n {
  font-size: 14px;
}

.font-s {
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.nowarp {
  white-space: nowrap;
}

// 文字不换行- 显示1行 - 溢出显示...
.ellipsis-1 {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
// 文字不换行- 显示2行 - 溢出显示...
.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
// 文字不换行- 显示3行 - 溢出显示...
.ellipsis-3 {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/*** 外边距 ***/
.m-x {
  margin: @x;
}

.m-1x {
  margin: @1x;
}

.m-2x {
  margin: @2x;
}

.m-3x {
  margin: @3x;
}

.m-4x {
  margin: @4x;
}

.mv-x {
  margin-top: @x;
  margin-bottom: @x;
}

.mv-1x {
  margin-top: @1x;
  margin-bottom: @1x;
}

.mv-2x {
  margin-top: @2x;
  margin-bottom: @2x;
}

.mv-3x {
  margin-top: @3x;
  margin-bottom: @3x;
}

.mv-4x {
  margin-top: @4x;
  margin-bottom: @4x;
}

.mh-x {
  margin-left: @x;
  margin-right: @x;
}

.mh-1x {
  margin-left: @1x;
  margin-right: @1x;
}

.mh-2x {
  margin-left: @2x;
  margin-right: @2x;
}

.mh-3x {
  margin-left: @3x;
  margin-right: @3x;
}

.mh-4x {
  margin-left: @4x;
  margin-right: @4x;
}

.mt-x {
  margin-top: @x;
}

.mt-1x {
  margin-top: @1x;
}

.mt-2x {
  margin-top: @2x;
}

.mt-3x {
  margin-top: @3x;
}

.mt-4x {
  margin-top: @4x;
}

.mr-x {
  margin-right: @x;
}

.mr-1x {
  margin-right: @1x;
}

.mr-2x {
  margin-right: @2x;
}

.mr-3x {
  margin-right: @3x;
}

.mr-4x {
  margin-right: @4x;
}

.mb-x {
  margin-bottom: @x;
}

.mb-1x {
  margin-bottom: @1x;
}

.mb-2x {
  margin-bottom: @2x;
}

.mb-3x {
  margin-bottom: @3x;
}

.mb-4x {
  margin-bottom: @4x;
}

.ml-x {
  margin-left: @x;
}

.ml-1x {
  margin-left: @1x;
}

.ml-2x {
  margin-left: @2x;
}

.ml-3x {
  margin-left: @3x;
}

.ml-4x {
  margin-left: @4x;
}

.m-0 {
  margin: 0 !important;
}

.m-auto {
  margin: 0 auto !important;
}

/*** 内边距 ***/
.p-x {
  padding: @x;
}

.p-1x {
  padding: @1x;
}

.p-2x {
  padding: @2x;
}

.p-3x {
  padding: @3x;
}

.p-4x {
  padding: @4x;
}

.pv-x {
  padding-top: @x;
  padding-bottom: @x;
}

.pv-1x {
  padding-top: @1x;
  padding-bottom: @1x;
}

.pv-2x {
  padding-top: @2x;
  padding-bottom: @2x;
}

.pv-3x {
  padding-top: @3x;
  padding-bottom: @3x;
}

.pv-4x {
  padding-top: @4x;
  padding-bottom: @4x;
}

.ph-x {
  padding-left: @x;
  padding-right: @x;
}

.ph-1x {
  padding-left: @1x;
  padding-right: @1x;
}

.ph-2x {
  padding-left: @2x;
  padding-right: @2x;
}

.ph-3x {
  padding-left: @3x;
  padding-right: @3x;
}

.ph-4x {
  padding-left: @4x;
  padding-right: @4x;
}

.pt-x {
  padding-top: @x;
}

.pt-1x {
  padding-top: @1x;
}

.pt-2x {
  padding-top: @2x;
}

.pt-3x {
  padding-top: @3x;
}

.pt-4x {
  padding-top: @4x;
}

.pr-x {
  padding-right: @x;
}

.pr-1x {
  padding-right: @1x;
}

.pr-2x {
  padding-right: @2x;
}

.pr-3x {
  padding-right: @3x;
}

.pr-4x {
  padding-right: @4x;
}

.pb-x {
  padding-bottom: @x;
}

.pb-1x {
  padding-bottom: @1x;
}

.pb-2x {
  padding-bottom: @2x;
}

.pb-3x {
  padding-bottom: @3x;
}

.pb-4x {
  padding-bottom: @4x;
}

.pl-x {
  padding-left: @x;
}

.pl-1x {
  padding-left: @1x;
}

.pl-2x {
  padding-left: @2x;
}

.pl-3x {
  padding-left: @3x;
}

.pl-4x {
  padding-left: @4x;
}

.p-0 {
  padding: 0 !important;
}

//纵向布局
.flex-col {
  flex-direction: column;
}
//横向翻转布局
.flex-row-r {
  flex-direction: row-reverse;
}

/* 两边对齐弹性布局 */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 间隔相等弹性布局 */
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* 水平居中 */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 弹性布局从头排 */
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 弹性布局从尾排 */
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 弹性布局项目缩放 */
.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 0;
}

/* 弹性布局换行 */
.flex-wrap {
  flex-wrap: wrap;
}

/* 弹性布局文字不换行，溢出显示... */
.flex-1 {
  flex: 1;
  overflow: hidden;
}
//项目顶部对齐
.align-start {
  align-self: flex-start;
}
//项目尾部对齐
.align-end {
  align-self: flex-end;
}
//全屏样式
.fullSCreen {
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  width: 100%;
  overflow: auto;
  height: 100%;
  padding: 20px 10px;
  z-index: 9999;
}

/deep/.redMark {
  color: red !important;
}

.text-danger {
  color: red !important;
}
