<template>
  <div style="width: 100%">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title titlejzclass"
            >预算执行情况（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2023022016395782, cb01.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023022016395782"
            :has-header="false"
            :data-list="cb01.dataSource"
            :column-list="cb01.columns"
            :formatter="overtableStyle.formatter"
            :cell-color="overtableStyle.cellColor"
            :scroll="{ y: 450 }"
            @rowClassName="cb01RowClassName"
            @cutomHeaderRow="cb01OnClickModal"
          />
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title titlejzclass"
            >钢铁主业吨钢资材备件成本（单位：元/吨）<edit-outlined
              clsss="editOut"
              @click="showV(2023022116395782, cb02.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023022116395782"
            :has-header="false"
            :data-list="cb02.dataSource"
            :column-list="cb02.columns"
            :column-groups="cb02.columnGroups"
            :formatter="overtableStyle.formatter"
            :cell-color="overtableStyle.cellColor"
            :scroll="{ y: 450 }"
            @rowClassName="cb02RowClassName"
            @cutomHeaderRow="cb02OnClickModal"
          />
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="blockstyle sbstyle">
          <p class="title titlejzclass"
            >采购价差运行实绩（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2022072720486538, cb03.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2022072720486538"
            :has-header="false"
            :data-list="cb03.dataSource"
            :column-list="cb03.columns"
            :column-groups="cb03.columnGroups"
            :formatter="overtableStyle.formatter"
            :cell-color="overtableStyle.cellColor"
            :scroll="{ y: 450 }"
            @rowClassName="cb03RowClassName"
            @cellClicked="oncb03Clicked"
            @cutomHeaderRow="cb03OnClickModal"
          />
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 12 }">
        <div class="blockstyle">
          <p class="title titlejzclass">{{ PUR_REGION_NAME }}采购增减额（单位：万元）</p>
          <div style="height: 450px">
            <StackedColumnFoldMixedChart
              ref="echartresize1"
              :x-axis="echarcb01.xAxis"
              :y-axis="echarcb01.yAxis"
              :series="echarcb01.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 12 }">
        <div class="blockstyle">
          <p class="title titlejzclass">{{ BASE_NAME }}采购增减额（单位：万元）</p>
          <div style="height: 450px">
            <StackedColumnFoldMixedChart
              ref="echartresize2"
              :x-axis="echarcb01.xAxis1"
              :y-axis="echarcb01.yAxis1"
              :series="echarcb01.series1"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title titlejzclass"
            >采购降本三项能力（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2023022316395782, cb04.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023022316395782"
            :has-header="false"
            :data-list="cb04.dataSource"
            :column-list="cb04.columns"
            :column-groups="cb04.columnGroups"
            :formatter="overtableStyle.formatter"
            :scroll="{ y: 450 }"
            @cutomHeaderRow="cb04OnClickModal"
          />
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose" />
  </div>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../echartsmodal';
  import overtableStyle from './js/overtableStyle';
  import { MergeTable } from '@/components/business';
  import { queryAggregate, remarkCount, searchAllocate } from '@/api/strategyTracking';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  import datatype from '@/views/strategyTracking/businesstracking/overviewpage/js/dataType';
  import mergetableStyle from '@/views/strategyTracking/businesstracking/overviewpage/js/mergetableStyle';
  import { useUserStore } from '@/store/modules/user';
  const userStore = useUserStore();
  const props = defineProps({
    yearmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    desensitization: {
      type: String,
      default: () => {
        return '';
      },
    },
  });

  const echartresize1 = ref();
  const echartresize2 = ref();
  const cbInitialloading = () => {
    nextTick(() => {
      if (props.desensitization == '脱敏') {
        cb01.columns[0].dataIndex = 'TM_BIG_ZONE_NAME';
        cb01.columns[0].key = 'TM_BIG_ZONE_NAME';
        cb01.columns[1].dataIndex = 'TM_BASE_NAME';
        cb01.columns[1].key = 'TM_BASE_NAME';
        cb02.columns[0].dataIndex = 'DS_AREA_NAME';
        cb02.columns[0].key = 'DS_AREA_NAME';
        cb03.columns[0].dataIndex = 'DS_PUR_REGION_NAME';
        cb03.columns[0].key = 'DS_PUR_REGION_NAME';
        cb03.columns[1].dataIndex = 'DS_BASE_NAME';
        cb03.columns[1].key = 'DS_BASE_NAME';
        cb04.columns[0].dataIndex = 'TM_PUR_REGION_NAME';
        cb04.columns[0].key = 'TM_PUR_REGION_NAME';
      }
      query1();
      query2();
      query3();
      query6();
      echartresize1.value.Refresh();
      echartresize2.value.Refresh();
    });
  };

  defineExpose({
    cbInitialloading,
  });

  const cb01 = reactive({
    dataSource: [],
    columns: [
      {
        title: '单位',
        dataIndex: 'BIG_ZONE_NAME',
        key: 'BIG_ZONE_NAME',
        ellipsis: false,
        rspans: [
          { start: 0, span: 1 },
          { start: 1, span: 1 },
          { start: 2, span: 1 },
          { start: 3, span: 3 },
          { start: 6, span: 3 },
          { start: 9, span: 4 },
          { start: 13, span: 3 },
          { start: 16, span: 1 },
          { start: 17, span: 1 },
          { start: 18, span: 1 },
        ],
        width: 200,
      },
      { title: '钢铁基地', dataIndex: 'BASE_NAME', key: 'BASE_NAME' },
      {
        title: '月度目标',
        dataIndex: 'BDGT_AMT',
        key: 'BDGT_AMT',
        formatter: 'rate5',
      },
      {
        title: '本月实绩',
        dataIndex: 'MONTH_PUR_ACT_AMT',
        key: 'MONTH_PUR_ACT_AMT',
        formatter: 'rate5',
      },
      {
        title: '月度执行率',
        dataIndex: 'QUARTER_AMT',
        key: 'QUARTER_AMT',
        formatter: 'rate3',
        emphasisColor: 'colorcb01year',
      },
      {
        title: '年度目标',
        dataIndex: 'ANNUAL_BDGT_AMT',
        key: 'ANNUAL_BDGT_AMT',
        formatter: 'rate5',
      },
      {
        title: '本年累计实绩',
        dataIndex: 'MONTH_PUR_ACT_AMT_1',
        key: 'MONTH_PUR_ACT_AMT_1',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '年度执行率',
        dataIndex: 'QUARTER_RATE',
        key: 'QUARTER_RATE',
        formatter: 'rate3',
        mergeColumn: 'QUARTER_RATE_SORT,QUARTER_RATE',
        emphasisColor: 'colorcb01',
        after: 'QUARTER_RATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const query1 = async () => {
    await search1(2023022016395782, '');
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023022016395782)).then((result) => {
      cb01.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023022016395782',
        cb01.keyColumnNameList,
        cb01.columnKeyList,
      );
    });
  };

  const cb02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月实绩',
        children: ['MONTH_STEEL_OUTPUT', 'MONTH_STEEL_COST'],
      },
      {
        title: '累计实绩',
        children: ['YEAR_TOTAL_STEEL_OUTPUT', 'YEAR_TOTAL_STEEL_COST'],
      },
    ],
    columns: [
      { title: '生产单元', dataIndex: 'AREA_NAME', key: 'AREA_NAME', width: 200, ellipsis: false },
      {
        title: '上年度同口径吨钢标杆',
        dataIndex: 'COST_AMT',
        key: 'COST_AMT',
        formatter: 'rate5',
        width: 120,
      },
      {
        title: '上年实绩吨钢',
        dataIndex: 'TOTAL_PUR_PRFM',
        key: 'TOTAL_PUR_PRFM',
        formatter: 'rate5',
      },
      {
        title: '预算产量',
        dataIndex: 'CURYEAR_PLAN_OUTPUT',
        key: 'CURYEAR_PLAN_OUTPUT',
        formatter: 'rate5',
      },
      {
        title: '挑战目标T1',
        dataIndex: 'ANNUAL_TARGET_T1',
        key: 'ANNUAL_TARGET_T1',
        formatter: 'rate5',
      },
      {
        title: '挑战目标T2',
        dataIndex: 'ANNUAL_TARGET_T2',
        key: 'ANNUAL_TARGET_T2',
        formatter: 'rate5',
      },
      {
        title: '上月实绩吨钢成本',
        dataIndex: 'LASTMONTH_STEEL_COST',
        key: 'LASTMONTH_STEEL_COST',
        formatter: 'rate4',
      },
      {
        title: '产量',
        dataIndex: 'MONTH_STEEL_OUTPUT',
        key: 'MONTH_STEEL_OUTPUT',
        formatter: 'rate5',
      },
      {
        title: '吨钢成本',
        dataIndex: 'MONTH_STEEL_COST',
        key: 'MONTH_STEEL_COST',
        formatter: 'rate4',
        style: {
          background: '#f5e8b9',
        },
        mergeColumn: 'TON_STEEL_COST_TARGET_DECOMPOSE,MONTH_STEEL_COST',
        emphasisColor: 'colorcb02month',
        after: 'MONTH_STEEL_COST',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '产量',
        dataIndex: 'YEAR_TOTAL_STEEL_OUTPUT',
        key: 'YEAR_TOTAL_STEEL_OUTPUT',
        formatter: 'rate5',
      },
      {
        title: '吨钢成本',
        dataIndex: 'YEAR_TOTAL_STEEL_COST',
        key: 'YEAR_TOTAL_STEEL_COST',
        formatter: 'rate4',
        mergeColumn: 'YEAR_TOTAL_STEEL_COST,ANNUAL_TARGET_T1,ANNUAL_TARGET_T2',
        emphasisColor: 'colorcb02year',
        after: 'YEAR_TOTAL_STEEL_COST',
        method: {
          complex: true,
          expression: '{0}',
        },
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '与标杆比增减比例',
        dataIndex: 'AND_LASTYEAR_COMPARE_TON_STEEL_COST_DECLINE_RANGE',
        key: 'AND_LASTYEAR_COMPARE_TON_STEEL_COST_DECLINE_RANGE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const query2 = async () => {
    await search2(2023022116395782, '');
    queryAggregate(datatype.parameter('PUR_YM', props.yearmonth, 2023022116395782)).then(
      (result) => {
        cb02.dataSource = mergetableStyle.toTableData(
          result.data,
          '2023022116395782',
          cb02.keyColumnNameList,
          cb02.columnKeyList,
        );
      },
    );
  };

  const cb03 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月',
        children: ['MONTH_PUR_AMT', 'MONTH_PUR_CUTDOWN_AMT'],
      },
      {
        title: '年累计',
        children: [
          'YEAR_TOTAL_PUR_AMT',
          'YEAR_TOTAL_PUR_CUTDOWN_AMT',
          'YEAR_TOTAL_PUR_CUTDOWN_RATIO',
        ],
      },
    ],
    columns: [
      {
        title: '单位',
        dataIndex: 'PUR_REGION_NAME',
        key: 'PUR_REGION_NAME',
        ellipsis: false,
        rspans: [
          { start: 0, span: 3 },
          { start: 3, span: 4 },
          { start: 7, span: 3 },
          { start: 10, span: 3 },
          { start: 13, span: 3 },
          { start: 16, span: 1 },
          { start: 17, span: 1 },
          { start: 18, span: 1 },
          { start: 19, span: 1 },
          { start: 20, span: 1 },
          { start: 21, span: 1 },
        ],
      },
      { title: '中心/基地', dataIndex: 'BASE_NAME', key: 'BASE_NAME' },
      {
        title: '年度目标T1',
        dataIndex: 'ANNUAL_TARGET_T0',
        key: 'ANNUAL_TARGET_T0',
        formatter: 'rate5',
      },
      {
        title: '年度目标T2',
        dataIndex: 'ANNUAL_TARGET_T2',
        key: 'ANNUAL_TARGET_T2',
        formatter: 'rate5',
      },
      {
        title: '上月可比增减额',
        dataIndex: 'LASTMONTH_PUR_CUTDOWN_AMT',
        key: 'LASTMONTH_PUR_CUTDOWN_AMT',
        formatter: 'rate5',
      },
      {
        title: '采购实绩',
        dataIndex: 'MONTH_PUR_AMT',
        key: 'MONTH_PUR_AMT',
        formatter: 'rate5',
      },
      {
        title: '可比增减额',
        dataIndex: 'MONTH_PUR_CUTDOWN_AMT',
        key: 'MONTH_PUR_CUTDOWN_AMT',
        formatter: 'rate5',
      },
      {
        title: '采购实绩',
        dataIndex: 'YEAR_TOTAL_PUR_AMT',
        key: 'YEAR_TOTAL_PUR_AMT',
        formatter: 'rate5',
      },
      {
        title: '可比增减额',
        dataIndex: 'YEAR_TOTAL_PUR_CUTDOWN_AMT',
        key: 'YEAR_TOTAL_PUR_CUTDOWN_AMT',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
        mergeColumn: 'YEAR_TOTAL_PUR_CUTDOWN_AMT,PROGRESS_TARGET_T0,PROGRESS_TARGET_T2',
        emphasisColor: 'colorCB03one',
        after: 'YEAR_TOTAL_INDICATOR_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '可比增减比例',
        dataIndex: 'YEAR_TOTAL_PUR_CUTDOWN_RATIO',
        key: 'YEAR_TOTAL_PUR_CUTDOWN_RATIO',
        formatter: 'rate3',
      },
      {
        title: '年度完成率',
        dataIndex: 'ANNUAL_TARGET_FINISH_RATE',
        key: 'ANNUAL_TARGET_FINISH_RATE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const query3 = async () => {
    await search3(2022072720486538, '');
    queryAggregate(datatype.parameter('PUR_YM', props.yearmonth, 2022072720486538)).then(
      (result) => {
        const dataMap = result.data[2022072720486538].dataMap;
        cb03.dataSource = mergetableStyle.toTableData(
          result.data,
          '2022072720486538',
          cb03.keyColumnNameList,
          cb03.columnKeyList,
        );
        if (props.desensitization == '脱敏') {
          PUR_REGION_NAME.value = dataMap.DS_PUR_REGION_NAME[0];
          BASE_NAME.value = dataMap.DS_PUR_REGION_NAME[0] + dataMap.DS_BASE_NAME[0];
        } else {
          PUR_REGION_NAME.value = dataMap.PUR_REGION_NAME[0];
          BASE_NAME.value = dataMap.PUR_REGION_NAME[0] + dataMap.BASE_NAME[0];
        }
        query4(dataMap.PUR_REGION_NAME[0], dataMap.PUR_REGION_NAME[0] + dataMap.BASE_NAME[0]);
      },
    );
  };
  const PUR_REGION_NAME = ref('');
  const BASE_NAME = ref('');
  const oncb03Clicked = (record) => {
    const BASE_NAME1 = ref('');
    if (
      record.PUR_REGION_NAME === '小计' ||
      record.PUR_REGION_NAME === '锌锡' ||
      record.PUR_REGION_NAME === '合计（损益口径）' ||
      record.PUR_REGION_NAME === '宝钢股份（不含锌锡）' ||
      record.PUR_REGION_NAME === '宝钢股份损益口径'
    ) {
      if (props.desensitization == '脱敏') {
        BASE_NAME.value = record.DS_BASE_NAME;
      } else {
        BASE_NAME.value = record.BASE_NAME;
      }
      BASE_NAME1.value = record.BASE_NAME;
    } else {
      if (props.desensitization == '脱敏') {
        BASE_NAME.value = record.DS_PUR_REGION_NAME + record.DS_BASE_NAME;
      } else {
        BASE_NAME.value = record.PUR_REGION_NAME + record.BASE_NAME;
      }
      BASE_NAME1.value = record.PUR_REGION_NAME + record.BASE_NAME;
    }
    if (props.desensitization == '脱敏') {
      PUR_REGION_NAME.value = record.DS_PUR_REGION_NAME;
    } else {
      PUR_REGION_NAME.value = record.PUR_REGION_NAME;
    }
    query4(record.PUR_REGION_NAME, BASE_NAME1.value);
  };

  const echarcb01 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      {
        type: 'bar',
        data: [],
        barWidth: 30,
      },
    ],
    xAxis1: [],
    yAxis1: [{ type: 'value' }],
    series1: [
      {
        type: 'bar',
        barWidth: 30,
        data: [],
      },
    ],
  });
  const query4 = async (a, b) => {
    queryAggregate(
      datatype.parameter3('PUR_YM', props.yearmonth, 2022072613124567, 'PUR_REGION_NAME', a),
    ).then((result) => {
      echarcb01.xAxis = [];
      echarcb01.series[0].data = [];
      const dataMap = result.data['2022072613124567'].dataMap;
      echarcb01.xAxis = dataMap.PUR_YM;
      echarcb01.series[0].data = dataMap.MONTH_PUR_CUTDOWN_AMT;
    });

    queryAggregate(
      datatype.parameter3('PUR_YM', props.yearmonth, 2023031416395782, 'AREA_NAME', b),
    ).then((result) => {
      echarcb01.xAxis1 = [];
      echarcb01.series1[0].data = [];
      const dataMap = result.data['2023031416395782'].dataMap;
      echarcb01.xAxis1 = dataMap.PUR_YM;
      echarcb01.series1[0].data = dataMap.MONTH_PUR_CUTDOWN_AMT;
    });
  };

  const cb04 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: 'TCO效益',
        children: ['TCO_BENEFIT_TARGET_AMT', 'TCO_BENEFIT_TOTAL_PRFM', 'TCO_BENEFIT_CPLTRATE'],
      },
      {
        title: '跑赢市场',
        children: [
          'OUTPERFORM_MARKET_TARGET_AMT',
          'OUTPERFORM_MARKET_TOTAL_PRFM',
          'OUTPERFORM_MARKET_CPLTRATE',
        ],
      },
      {
        title: '跑赢PPI',
        children: [
          'OUTPERFORM_PPI_TARGET_AMT',
          'OUTPERFORM_PPI_TOTAL_PRFM',
          'OUTPERFORM_PPI_CPLTRATE',
        ],
      },
      {
        title: '合计',
        children: ['TARGET_AMT_SUM', 'PRFM_SUM', 'SUM_CPLTRATE'],
      },
    ],
    columns: [
      {
        title: '单位',
        dataIndex: 'PUR_REGION_NAME',
        key: 'PUR_REGION_NAME',
        width: 200,
        ellipsis: false,
      },
      {
        title: '目标',
        dataIndex: 'TCO_BENEFIT_TARGET_AMT',
        key: 'TCO_BENEFIT_TARGET_AMT',
        formatter: 'rate5',
      },
      {
        title: '累计实绩',
        dataIndex: 'TCO_BENEFIT_TOTAL_PRFM',
        key: 'TCO_BENEFIT_TOTAL_PRFM',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'TCO_BENEFIT_CPLTRATE',
        key: 'TCO_BENEFIT_CPLTRATE',
        formatter: 'rate3',
      },
      {
        title: '目标',
        dataIndex: 'OUTPERFORM_MARKET_TARGET_AMT',
        key: 'OUTPERFORM_MARKET_TARGET_AMT',
        formatter: 'rate5',
      },
      {
        title: '累计实绩',
        dataIndex: 'OUTPERFORM_MARKET_TOTAL_PRFM',
        key: 'OUTPERFORM_MARKET_TOTAL_PRFM',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'OUTPERFORM_MARKET_CPLTRATE',
        key: 'OUTPERFORM_MARKET_CPLTRATE',
        formatter: 'rate3',
      },
      {
        title: '目标',
        dataIndex: 'OUTPERFORM_PPI_TARGET_AMT',
        key: 'OUTPERFORM_PPI_TARGET_AMT',
        formatter: 'rate5',
      },
      {
        title: '累计实绩',
        dataIndex: 'OUTPERFORM_PPI_TOTAL_PRFM',
        key: 'OUTPERFORM_PPI_TOTAL_PRFM',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'OUTPERFORM_PPI_CPLTRATE',
        key: 'OUTPERFORM_PPI_CPLTRATE',
        formatter: 'rate3',
      },
      { title: '目标', dataIndex: 'TARGET_AMT_SUM', key: 'TARGET_AMT_SUM', formatter: 'rate5' },
      { title: '累计实绩', dataIndex: 'PRFM_SUM', key: 'PRFM_SUM', formatter: 'rate5' },
      { title: '完成率', dataIndex: 'SUM_CPLTRATE', key: 'SUM_CPLTRATE', formatter: 'rate3' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const query6 = async () => {
    await search4(2023022316395782, '');
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023022316395782)).then((result) => {
      cb04.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023022316395782',
        cb04.keyColumnNameList,
        cb04.columnKeyList,
      );
    });
  };

  const cb01OnClickModal = (callback) => {
    callback('预算执行情况（单位：万元）');
  };
  const cb02OnClickModal = (callback) => {
    callback('钢铁主业吨钢资材备件成本（单位：元/吨）');
  };
  const cb04OnClickModal = (callback) => {
    callback('采购降本三项能力（单位：万元）');
  };
  const cb03OnClickModal = (callback) => {
    callback('采购价差运行实绩（单位：万元）');
  };

  //行变色
  const cb01RowClassName = (record, callback) => {
    if (record.BASE_NAME === '合计' || record.BASE_NAME === '小计') {
      callback('warning-row');
    } else {
      callback('');
    }
  };
  const cb02RowClassName = (record, callback) => {
    if (
      record.AREA_NAME === '宝山基地小计' ||
      record.AREA_NAME === '宝钢股份小计' ||
      record.AREA_NAME === '合计'
    ) {
      callback('warning-row');
    } else {
      callback('');
    }
  };
  const cb03RowClassName = (record, callback) => {
    if (record.BASE_NAME === '小计' || record.BASE_NAME === '合计（损益口径）') {
      callback('warning-row');
    } else {
      callback('');
    }
  };

  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };

  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cb01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    cb01.columnKeyList = res2.data;
  };
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cb02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    cb02.columnKeyList = res2.data;
  };
  const search3 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cb03.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    cb03.columnKeyList = res2.data;
  };
  const search4 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cb04.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    cb04.columnKeyList = res2.data;
  };
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    line-height: 16px;
    letter-spacing: 0px;
  }

  .titlejzclass {
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .sbstyle {
    cursor: pointer;
  }
</style>
