<template>
  <div style="width: 100%">
    <a-row :gutter="[16, 10]">
      <a-col :span="24">
        <div class="bgclass">
          <p class="title" style="text-align: center">采购规模</p>
          <div class="devdome">
            <div style="width: 28%" class="background_shadow">
              <p class="title_1">资材备件集采</p>
              <div class="devdome">
                <div class="devdome_01">
                  <div class="value_position">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state.ANNUAL_BDGT_AMT }}</span>
                      <span class="circle-text1">万元</span>
                      <span class="circle-text2">年度预算</span>
                    </p>
                  </div>
                  <div class="value_position">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state.MONTH_ARRIVAL_AMT }}</span>
                      <span class="circle-text1">万元</span>
                      <span class="circle-text2">本月实绩</span>
                    </p>
                  </div>
                  <div class="value_position">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state.YEAR_ARRIVAL_AMT }}</span>
                      <span class="circle-text1">万元</span>
                      <span class="circle-text2">年累计</span>
                    </p>
                  </div>
                </div>
                <div class="interval_div"></div>
                <div style="width: 55%">
                  <div class="height2">
                    <SpeedGauge
                      :echardata="state.ANNUAL_BDGT_FINISH_RATE"
                      :echarunit="state.unit"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div style="width: 28%" class="background_shadow">
              <p class="title_1">工程设备代采</p>
              <div class="devdome">
                <div class="devdome_01">
                  <div class="value_position">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state2.INDICATOR_PROGRESS_TARGET }}</span>
                      <span class="circle-text1">万元</span>
                      <span class="circle-text2">年度预算</span>
                    </p>
                  </div>
                  <div class="value_position">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state2.MONTH_CONTR_AMT }}</span>
                      <span class="circle-text1">万元</span>
                      <span class="circle-text2">本月实绩</span>
                    </p>
                  </div>
                  <div class="value_position">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">{{ state2.YEAR_TOTAL_CONTR_AMT }}</span>
                      <span class="circle-text1">万元</span>
                      <span class="circle-text2">年累计</span>
                    </p>
                  </div>
                </div>
                <div class="interval_div"></div>
                <div style="width: 55%">
                  <div class="height2">
                    <SpeedGauge :echardata="state2.RATE" :echarunit="state2.unit" />
                  </div>
                </div>
              </div>
            </div>
            <div style="width: 28%" class="background_shadow">
              <div>
                <p class="title_1">商城外部业务采购</p>
                <div class="devdome">
                  <div class="devdome_01">
                    <div class="value_position">
                      <p class="circle-icon">
                        <img
                          src="../../../../styles/platformOver/icon_GMV_02.png"
                          class="icon_GMV"
                        />
                      </p>
                      &nbsp;&nbsp;
                      <p>
                        <span class="circle-number">{{ state3.YEAR_TARGET }}</span>
                        <span class="circle-text1">万元</span>
                        <span class="circle-text2">年度预算</span>
                      </p>
                    </div>
                    <div class="value_position">
                      <p class="circle-icon">
                        <img
                          src="../../../../styles/platformOver/icon_GMV_01.png"
                          class="icon_GMV"
                        />
                      </p>
                      &nbsp;&nbsp;
                      <p>
                        <span class="circle-number">{{ state3.ACT_AMT }}</span>
                        <span class="circle-text1">万元</span>
                        <span class="circle-text2">本月实绩</span>
                      </p>
                    </div>
                    <div class="value_position">
                      <p class="circle-icon">
                        <img
                          src="../../../../styles/platformOver/icon_GMV_01.png"
                          class="icon_GMV"
                        />
                      </p>
                      &nbsp;&nbsp;
                      <p>
                        <span class="circle-number">{{ state3.MONTH_ACT_AMT }}</span>
                        <span class="circle-text1">万元</span>
                        <span class="circle-text2">年累计</span>
                      </p>
                    </div>
                  </div>
                  <div class="interval_div"></div>
                  <div style="width: 55%">
                    <div class="height2">
                      <SpeedGauge
                        :echardata="state3.ANNUAL_TARGET_FINISH_RATE"
                        :echarunit="state.unit"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="width: 13%" class="background_shadow">
              <p class="title_1">采购实绩合计</p>
              <div style="padding-left: 10%">
                <div class="value_position">
                  <p class="circle-icon">
                    <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                  </p>
                  &nbsp;&nbsp;
                  <p>
                    <span class="circle-number">{{ state4.YEAR_TARGET }}</span>
                    <span class="circle-text1">万元</span>
                    <span class="circle-text2">年度预算</span>
                  </p>
                </div>
                <div class="value_position">
                  <p class="circle-icon">
                    <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                  </p>
                  &nbsp;&nbsp;
                  <p>
                    <span class="circle-number">{{ state4.ACT_AMT }}</span>
                    <span class="circle-text1">万元</span>
                    <span class="circle-text2">本月实绩</span>
                  </p>
                </div>
                <div class="value_position">
                  <p class="circle-icon">
                    <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                  </p>
                  &nbsp;&nbsp;
                  <p>
                    <span class="circle-number">{{ state4.MONTH_ACT_AMT }}</span>
                    <span class="circle-text1">万元</span>
                    <span class="circle-text2">年累计</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :span="8">
        <div class="bgclass">
          <p class="title">吨钢资材备件成本</p>
          <div class="height1">
            <StackedColumnFoldMixedChart
              ref="echartresize1"
              :x-axis="setoverviewoHZ01.xAxis"
              :y-axis="setoverviewoHZ01.yAxis"
              :series="setoverviewoHZ01.series"
            />
          </div>
          <div class="devdome">
            <div class="nrstyle_1">
              年度目标：{{ setoverviewoHZ01.TON_STEEL_COST_TARGET_DECOMPOSE }}元/吨
            </div>
            <div class="nrstyle_1">
              本年累计：{{ setoverviewoHZ01.YEAR_TOTAL_STEEL_COST }}元/吨
            </div>
          </div>
        </div>
      </a-col>
      <a-col :span="8">
        <div class="bgclass">
          <p class="title">资材备件采购价差实绩</p>
          <div class="height1">
            <StackedColumnFoldMixedChart
              ref="echartresize2"
              :x-axis="setoverviewoHZ02.xAxis"
              :y-axis="setoverviewoHZ02.yAxis"
              :series="setoverviewoHZ02.series"
            />
          </div>
          <div class="devdome">
            <div class="nrstyle_1"> 年度目标：{{ setoverviewoHZ02.YEAR_TARGET }}万元 </div>
            <div class="nrstyle_1">
              本年累计：{{ setoverviewoHZ02.MONTH_PUR_CUTDOWN_AMT }}万元
            </div>
          </div>
        </div>
      </a-col>
      <a-col :span="8">
        <div class="bgclass">
          <p class="title">资材备件期末库存</p>
          <div class="height1">
            <StackedColumnFoldMixedChart
              ref="echartresize3"
              :x-axis="setoverviewoHZ03.xAxis"
              :y-axis="setoverviewoHZ03.yAxis"
              :series="setoverviewoHZ03.series"
            />
          </div>
          <div class="devdome">
            <div class="nrstyle_1"> 年度目标：{{ setoverviewoHZ03.TARGE_AMT }}万元 </div>
            <div class="nrstyle_1"> 期末库存：{{ setoverviewoHZ03.INV_AMT }}万元 </div>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart, SpeedGauge } from '../../echartsmodal';
  import datatype from './js/dataType';
  import echartsStyle from './js/echartsStyle';
  import mergetableStyle from './js/mergetableStyle';
  import { queryAggregate } from '@/api/strategyTracking';

  defineOptions({
    name: 'OverviewSummary',
    inheritAttrs: false,
  });

  const props = defineProps({
    yearmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    desensitization: {
      type: String,
      default: () => {
        return '';
      },
    },
  });

  const echartresize1 = ref();
  const echartresize2 = ref();
  const echartresize3 = ref();
  const hzInitialloading = () => {
    nextTick(() => {
      if (props.desensitization != '脱敏') {
        query1();
      } else {
        query1TM();
      }
      query3();
      query4();
      query5();
      echartresize1.value.Refresh();
      echartresize2.value.Refresh();
      echartresize3.value.Refresh();
    });
  };

  defineExpose({
    hzInitialloading,
  });

  const state = reactive({
    ANNUAL_BDGT_AMT: '0',
    MONTH_ARRIVAL_AMT: '0',
    YEAR_ARRIVAL_AMT: '0',
    ANNUAL_BDGT_FINISH_RATE: 0,
    unit: '%',
  });
  const state2 = reactive({
    MONTH_CONTR_AMT: '0',
    INDICATOR_PROGRESS_TARGET: '0',
    YEAR_TOTAL_CONTR_AMT: '0',
    RATE: 0,
    unit: '%',
  });
  const state3 = reactive({
    MONTH_ACT_AMT: '0',
    YEAR_TARGET: '0',
    ANNUAL_TARGET_FINISH_RATE: 0,
    ACT_AMT: '0',
    unit: '%',
  });
  const state4 = reactive({
    MONTH_ACT_AMT: '0',
    YEAR_TARGET: '0',
    ACT_AMT: '0',
  });
  const query1 = () => {
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023071312165505)).then((result) => {
      const dataMap = result.data[2023071312165505].dataMap;
      state.ANNUAL_BDGT_AMT = datatype.MonText(dataMap.ANNUAL_BDGT_AMT[0]);
      state.MONTH_ARRIVAL_AMT = datatype.MonText(dataMap.MONTH_ARRIVAL_AMT[0]);
      state.YEAR_ARRIVAL_AMT = datatype.MonText(dataMap.YEAR_ARRIVAL_AMT[0]);
      state.ANNUAL_BDGT_FINISH_RATE = datatype.XiaoText(dataMap.PROGRESS_FINISH_RATE[0]);
      queryAggregate(datatype.parameter('YM', props.yearmonth, 2023071312165506)).then((result) => {
        const dataMap1 = result.data[2023071312165506].dataMap;
        state2.MONTH_CONTR_AMT = datatype.MonText(dataMap1.MONTH_CONTR_AMT[0]);
        state2.INDICATOR_PROGRESS_TARGET = datatype.MonText(dataMap1.INDICATOR_PROGRESS_TARGET[0]);
        state2.YEAR_TOTAL_CONTR_AMT = datatype.MonText(dataMap1.YEAR_TOTAL_CONTR_AMT[0]);
        state2.RATE = datatype.XiaoText(dataMap1.PROGRESS_TARGET_FINISH_RATE[0]);
        queryAggregate(datatype.parameter('YM', props.yearmonth, 2023080115592501)).then(
          (result) => {
            const dataMap2 = result.data[2023080115592501].dataMap;
            state3.MONTH_ACT_AMT = datatype.MonText(dataMap2.MONTH_ACT_AMT[0]);
            state3.YEAR_TARGET = datatype.MonText(dataMap2.YEAR_TARGET[0]);
            state3.ACT_AMT = datatype.MonText(dataMap2.ACT_AMT[0]);
            state3.ANNUAL_TARGET_FINISH_RATE = datatype.XiaoText(
              dataMap2.PROGRESS_TARGET_FINISH_RATE[0],
            );
            const data1 =
              parseFloat(dataMap2.MONTH_ACT_AMT[0]) +
              parseFloat(dataMap1.YEAR_TOTAL_CONTR_AMT[0]) +
              parseFloat(dataMap.YEAR_ARRIVAL_AMT[0]);
            const data2 =
              parseFloat(dataMap2.YEAR_TARGET[0]) +
              parseFloat(dataMap1.INDICATOR_PROGRESS_TARGET[0]) +
              parseFloat(dataMap.ANNUAL_BDGT_AMT[0]);
            const data3 =
              parseFloat(dataMap2.ACT_AMT[0]) +
              parseFloat(dataMap1.MONTH_CONTR_AMT[0]) +
              parseFloat(dataMap.MONTH_ARRIVAL_AMT[0]);
            state4.MONTH_ACT_AMT = datatype.MonText(data1);
            state4.YEAR_TARGET = datatype.MonText(data2);
            state4.ACT_AMT = datatype.MonText(data3);
          },
        );
      });
    });
  };
  const query1TM = () => {
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023071312165505)).then((result) => {
      const dataMap = result.data[2023071312165505].dataMap;
      state.ANNUAL_BDGT_AMT = '***';
      state.MONTH_ARRIVAL_AMT = '***';
      state.YEAR_ARRIVAL_AMT = '***';
      state.ANNUAL_BDGT_FINISH_RATE = datatype.XiaoText(dataMap.ANNUAL_BDGT_FINISH_RATE[0]);
    });
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023071312165506)).then((result) => {
      const dataMap1 = result.data[2023071312165506].dataMap;
      state2.MONTH_CONTR_AMT = '***';
      state2.INDICATOR_PROGRESS_TARGET = '***';
      state2.YEAR_TOTAL_CONTR_AMT = '***';
      state2.RATE = datatype.XiaoText(dataMap1.RATE[0]);
    });
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023080115592501)).then((result) => {
      const dataMap2 = result.data[2023080115592501].dataMap;
      state3.MONTH_ACT_AMT = '***';
      state3.YEAR_TARGET = '***';
      state3.ACT_AMT = '***';
      state3.ANNUAL_TARGET_FINISH_RATE = datatype.XiaoText(dataMap2.ANNUAL_TARGET_FINISH_RATE[0]);
      state4.MONTH_ACT_AMT = '***';
      state4.YEAR_TARGET = '***';
      state4.ACT_AMT = '***';
    });
  };

  const setoverviewoHZ01 = reactive({
    chart: ['吨钢成本目标', '吨钢成本'],
    xAxis: [],
    yAxis: [{ min: 200 }],
    series: [],
    YEAR_TOTAL_STEEL_COST: '0',
    TON_STEEL_COST_TARGET_DECOMPOSE: '0',
  });
  const query3 = () => {
    queryAggregate(datatype.parameter1('PUR_YM', props.yearmonth, 2023031616395783)).then(
      (result) => {
        const data = result.data[2023031616395783].dataMap;
        if (props.desensitization != '脱敏') {
          setoverviewoHZ01.TON_STEEL_COST_TARGET_DECOMPOSE = datatype.XiaoText(
            data.TON_STEEL_COST_TARGET_DECOMPOSE[data.TON_STEEL_COST_TARGET_DECOMPOSE.length - 1],
          );
          setoverviewoHZ01.YEAR_TOTAL_STEEL_COST = datatype.XiaoText(
            data.YEAR_TOTAL_STEEL_COST[data.YEAR_TOTAL_STEEL_COST.length - 1],
          );
        } else {
          setoverviewoHZ01.TON_STEEL_COST_TARGET_DECOMPOSE = '***';
          setoverviewoHZ01.YEAR_TOTAL_STEEL_COST = '***';
        }
        setoverviewoHZ01.xAxis = mergetableStyle.toChartxAxis();
        setoverviewoHZ01.series = echartsStyle.echarts01(
          mergetableStyle.toChartSeries(data.TON_STEEL_COST_TARGET_DECOMPOSE),
          mergetableStyle.toChartSeries(data.MONTH_STEEL_COST),
        );
      },
    );
  };

  const setoverviewoHZ02 = reactive({
    chart: ['损益口径(不含锌锡)', '锌锡', '合计'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
    MONTH_PUR_CUTDOWN_AMT: '0',
    YEAR_TARGET: '0',
  });
  const query4 = () => {
    queryAggregate(datatype.parameter1('PUR_YM', props.yearmonth, 2022072613298561)).then(
      (result) => {
        const data = result.data[2022072613298561].dataMap;
        setoverviewoHZ02.xAxis = mergetableStyle.toChartxAxis();
        setoverviewoHZ02.series = echartsStyle.echarts02(
          mergetableStyle.toChartSeries(data.SYKJBHXX_AMT),
          mergetableStyle.toChartSeries(data.XX_AMT),
          mergetableStyle.toChartSeries(data.TOTAL_AMT),
        );
      },
    );
    if (props.desensitization != '脱敏') {
      queryAggregate(datatype.parameter('PUR_YM', props.yearmonth, 2022080816187854)).then((r) => {
        const data = r.data[2022080816187854].dataMap;
        setoverviewoHZ02.MONTH_PUR_CUTDOWN_AMT = datatype.MonText(data.MONTH_PUR_CUTDOWN_AMT[0]);
        setoverviewoHZ02.YEAR_TARGET = datatype.MonText(data.YEAR_TARGET[0]);
      });
    } else {
      setoverviewoHZ02.MONTH_PUR_CUTDOWN_AMT = '***';
      setoverviewoHZ02.YEAR_TARGET = '***';
    }
  };

  const setoverviewoHZ03 = reactive({
    chart: ['钢铁基地', '欧冶工业品', '季度目标'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
    INV_AMT: '0',
    TARGE_AMT: '0',
  });
  const query5 = () => {
    queryAggregate(datatype.parameter1('YM', props.yearmonth, 2023030816395782)).then((result) => {
      const data = result.data[2023030816395782].dataMap;
      setoverviewoHZ03.xAxis = mergetableStyle.toChartxAxis();
      setoverviewoHZ03.series = echartsStyle.echarts03(
        mergetableStyle.toChartSeries(data.GT_AMT),
        mergetableStyle.toChartSeries(data.OG_AMT),
        mergetableStyle.toChartSeries(data.TARGET_AMT),
      );
    });
    if (props.desensitization != '脱敏') {
      queryAggregate(datatype.parameter('YM', props.yearmonth, 2023031016395783)).then((r) => {
        const data = r.data[2023031016395783].dataMap;
        setoverviewoHZ03.INV_AMT = datatype.MonText(data.INV_AMT[0]);
        setoverviewoHZ03.TARGE_AMT = datatype.MonText(data.TARGE_AMT[0]);
      });
    } else {
      setoverviewoHZ03.INV_AMT = '***';
      setoverviewoHZ03.TARGE_AMT = '***';
    }
  };
</script>

<style lang="less" scoped>
  .bgclass {
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
  }

  .background_shadow {
    background: #f6f7fa;
    box-shadow: 0px 3px 7px 0px rgba(207, 207, 207, 0.35);
    border-radius: 8px;
  }

  .value_position {
    margin-top: 10px;
    height: 60px;
    display: flex;
  }

  .devdome_01 {
    width: 45%;
    padding-left: 5%;
    margin-top: 10px;
  }

  .devdome_02 {
    width: 49%;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .interval_div {
    height: 220px;
    background: white;
    width: 5px;
  }

  .hr_style {
    border: 0;
    border-bottom: 5px solid white;
    width: 96%;
    margin-left: 2%;
  }

  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .title_1 {
    font-family: @font-family;
    font-size: 20px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 30px;
    padding: 10px;
    text-align: center;
  }

  .bjonetwo {
    width: 90%;
    height: 130px;
    margin: 5% 0% 5% 5%;
  }

  .fontsizestyle {
    line-height: 60px;
    margin-bottom: 10px;
  }

  .nrstyle {
    font-size: 18px;
    text-indent: 15px;
    margin-top: 10px;
  }
  .nrstyle_1 {
    width: 50%;
    font-size: 22px;
    text-indent: 15px;
    margin-top: 10px;
  }

  .height1 {
    height: 200px;
  }

  .height2 {
    margin-top: 10px;
    height: 220px;
  }

  // 弹性布局
  .devdome {
    display: flex;
    justify-content: space-between;
  }

  .circle-icon {
    width: 35px;
    height: 35px;
    text-align: center;
    background: rgba(251, 202, 0, 0.2);
    border-radius: 50%;
    .icon_GMV {
      position: relative;
      width: 25px;
      height: 25px;
      top: 15%;
      left: 15%;
    }
  }
  .circle-number {
    width: 85px;
    height: 28px;
    font-size: 22px;
    font-family: @font-family;
    color: #754800;
    line-height: 35px;
  }
  .circle-text1 {
    font-size: 16px;
  }
  .circle-text2 {
    display: block;
    font-size: 18px;
  }
  .first-title {
    display: flex;
    justify-content: space-between;
    font-family: @font-family;
    color: #754800;
  }
  .first-height {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -100px;
  }
  .square-color1 {
    background: #fb6a56;
  }
  .title-number-color1 {
    color: #fc6b57ff;
  }
  .square-color2 {
    background: #5aa2ffff;
  }
  .title-number-color2 {
    color: #5aa2ffff;
  }
  .first-text {
    display: inline-block;
    text-align: center;
    width: 110px;
    height: 33px;
    border-radius: 16px;
    line-height: 33px;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 10px 0px 10px;
  }
  .first-text-color1 {
    background: rgba(252, 107, 87, 0.2);
  }
  .first-text-color2 {
    background: rgba(90, 162, 255, 0.2);
  }
  .first-title-div2-p {
    height: 20px;
    font-size: 14px;
    font-family: @font-family;
    font-weight: 400;
    color: #754800;
    line-height: 20px;
    margin: 5px 0px 10px 10px;
  }
  .first-title-div2-p-span {
    height: 26px;
    font-size: 26px;
    font-family: @font-family;
  }
</style>
