<template>
  <DraggableModal
    v-model:visible="visible"
    :width="1000"
    fullscreen
    :title="props.title"
    :footer="null"
    destroy-on-close
    @cancel="close"
  >
    <div class="content-card-con">
      <div class="content-row">
        <div class="content-row-header">{{ props.row1Title }}</div>
        <div class="content-row-con" v-html="props.row1Content"> </div>
      </div>
      <div class="content-row">
        <div class="content-row-header">{{ props.row2Title }}</div>
        <div class="content-row-con" v-html="props.row2Content"> </div>
      </div>
      <div v-if="props.row3Title.length > 0" class="content-row">
        <div class="content-row-header">{{ props.row3Title }}</div>
        <div class="content-row-con" v-html="props.row3Content"> </div>
      </div>
    </div>
  </DraggableModal>
</template>

<script setup lang="tsx">
  import { ref } from 'vue';
  import { DraggableModal } from '@/components/core/draggable-modal';

  defineOptions({
    name: 'ContentModel',
  });
  const props = defineProps({
    title: {
      type: String,
      default: '',
    },
    row1Content: {
      type: String,
      default: '',
    },
    row1Title: {
      type: String,
      default: '',
    },
    row2Content: {
      type: String,
      default: '',
    },
    row2Title: {
      type: String,
      default: '',
    },
    row3Content: {
      type: String,
      default: '',
    },
    row3Title: {
      type: String,
      default: '',
    },
  });
  const visible = ref(false);
  const close = () => {
    visible.value = false;
  };

  const open = () => {
    visible.value = true;
  };

  defineExpose({ open });
</script>

<style scoped lang="less">
  .content-card-con {
    padding: 0 10px;
    .content-row {
      margin-bottom: 10px;
      .content-row-header {
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
</style>
