<template>
  <div class="content-card">
    <div class="content-card-header">
      <div class="title">{{ props.title }}</div>
      <div class="dept">
        <span class="dept-name">{{ props.dept }}</span>
        <span class="big-show"><fullscreen-outlined @click="showModal" /></span>
      </div>
    </div>
    <a-divider style="height: 1px; background-color: #cccccc" />
    <div class="content-card-con">
      <div class="content-row">
        <div class="content-row-header">任务描述</div>
        <div class="content-row-con" v-html="props.content"> </div>
      </div>
      <div class="content-row">
        <div class="content-row-header">完成情况说明</div>
        <div class="content-row-con" v-html="props.description"> </div>
      </div>
      <!--      <div class="content-footer"> 2023-7-1 </div>-->
    </div>

    <content-modal
      ref="contentModal"
      :title="props.title"
      row1-title="任务描述"
      :row1-content="props.content"
      row2-title="完成情况说明"
      :row2-content="props.description"
    ></content-modal>
  </div>
</template>

<script setup lang="tsx">
  import { ref } from 'vue';
  import ContentModal from '@/views/dashboard/homeSet/components/ContentModal.vue';

  defineOptions({
    name: 'ContentCard',
  });

  const props = defineProps({
    title: {
      type: String,
      default: '',
    },
    dept: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    content: {
      type: String,
      default: '',
    },
  });

  const contentModal = ref();

  const showModal = () => {
    contentModal.value.open();
  };
</script>

<style scoped lang="less">
  .content-card {
    padding: 10px;
    background-color: white;
    /deep/.ant-divider-horizontal {
      margin: 12px 0;
    }
    .content-card-header {
      display: flex;
      align-items: center;
      .title {
        font-weight: bold;
        font-size: 18px;
      }
      .dept {
        margin-left: auto;
        .big-show {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
    .content-card-con {
      //height: 320px;
      //overflow-y: auto;
      padding: 0 10px;
      .content-row {
        margin-bottom: 10px;
        font-size: 16px;
        .content-row-header {
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }
    .content-footer {
      text-align: right;
      padding: 5px 0;
      font-size: 12px;
    }
  }
</style>
