<template>
  <div class="content-card">
    <div class="content-card-header">
      <span class="title">{{ props.content.perfGName }}</span>
      <span class="big-show"><fullscreen-outlined @click="showModal" /></span>
    </div>
    <div class="dept">
      <div class="dept-row">
        <div class="dept-row-label">牵头部门：</div>
        <div>{{ props.content.superinDeptName }}</div></div
      >
      <div class="dept-row">
        <div class="dept-row-label">主要参与部门：</div>
        <a-tooltip>
          <template #title>{{ props.content.attendDeptNames }}</template>
          <div class="dept-content"> {{ props.content.attendDeptNames }}</div>
        </a-tooltip>
        <div class="dept-name-right" :title="props.content.finishedStatusLabel">{{
          props.content.finishedStatusLabel
        }}</div>
      </div>
    </div>
    <a-divider style="height: 1px; background-color: #cccccc" />
    <div class="content-card-con">
      <div class="content-row">
        <div class="content-row-header">季度目标</div>
        <div class="content-row-con" v-html="props.content[curQuarterTarget]"> </div>
      </div>
      <div class="content-row">
        <div class="content-row-header">完成情况说明</div>
        <div class="content-row-con" v-html="props.content.finishedDescription"> </div>
      </div>
      <div class="content-row">
        <div class="content-row-header">未完成原因分析</div>
        <div class="content-row-con" v-html="props.content.unfinishedDescription"> </div>
      </div>
      <!--      <div class="content-footer"> 2023-7-1 </div>-->
    </div>

    <content-modal
      ref="contentModal"
      :title="props.content.perfGName"
      row1-title="季度目标"
      :row1-content="props.content[curQuarterTarget]"
      row2-title="完成情况说明"
      :row2-content="props.content.finishedDescription"
      row3-title="未完成原因分析"
      :row3-content="props.content.unfinishedDescription"
    ></content-modal>
  </div>
</template>

<script setup lang="tsx">
  import { computed, ref } from 'vue';
  import ContentModal from '@/views/dashboard/homeSet/components/ContentModal.vue';
  import { getCurrentQuarter } from '@/utils/dateUtil';

  defineOptions({
    name: 'FTPContentCard',
  });

  const props = defineProps({
    content: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });

  const contentModal = ref();
  const getCurQuarterTarget = () => {
    const r = getCurrentQuarter();
    return `quarter${r}Target`;
  };
  const curQuarterTarget = computed(() => {
    return getCurQuarterTarget();
  });
  const showModal = () => {
    contentModal.value.open();
  };
</script>

<style scoped lang="less">
  .content-card {
    padding: 10px;
    background-color: white;
    /deep/.ant-divider-horizontal {
      margin: 12px 0;
    }

    .content-card-header {
      display: flex;
      align-items: center;
      .title {
        font-weight: bold;
        font-size: 16px;
      }
      .big-show {
        margin-left: auto;
        cursor: pointer;
      }
    }
    .content-card-con {
      //height: 320px;
      //overflow-y: auto;
      padding: 0 10px;
      .content-row {
        margin-bottom: 10px;
        .content-row-header {
          font-weight: bold;
          margin-bottom: 10px;
        }
        .content-row-con {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }
      }
    }
    .dept {
      .dept-row {
        height: 22px;
        font-size: 12px;
        display: flex;
        align-items: flex-end;
        .dept-row-label {
          width: 90px;
          text-align: right;
        }
        .dept-name-right {
          margin-left: auto;
          font-size: 14px;
          font-weight: bold;
          text-align: right;
        }
        .dept-content {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          flex: 1;
        }
      }
    }
  }
</style>
