<template>
  <div class="chart-card">
    <div class="card-title"
      ><a-tooltip>
        <template #title>{{ props.cardInfo.title }}</template
        >{{ props.cardInfo.title }}
      </a-tooltip></div
    >
    <gauge
      :data="props.cardInfo.value >= 0 ? props.cardInfo.value : 0"
      :formatter="{ digits: 0, part: '%' }"
    ></gauge>
    <a-divider style="height: 1px; background-color: #cccccc" />
    <div class="card-data">
      <div v-for="(item, index) in props.cardInfo.rows" :key="index" class="card-data-row">
        <a-tooltip placement="topLeft">
          <template #title>{{ item.key }}</template>
          <div class="card-data-img"
            ><img v-if="item.key == '年度目标'" :src="`${baseUrl}static/images/home/h1.png`" />
            <img v-else :src="`${baseUrl}static/images/home/h2.png`"
          /></div>
        </a-tooltip>
        <a-tooltip>
          <template #title>{{ item.value }}{{ props.cardInfo.unit }}</template>
          <div class="card-data-value"
            >{{ item.value }}<span class="unit">{{ props.cardInfo.unit }}</span></div
          >
        </a-tooltip>
      </div>
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { ref } from 'vue';
  import Gauge from '@/components/chart/Gauge.vue';

  defineOptions({ name: 'GaugeChartCard' });
  const baseUrl = ref(`${process.env.BASE_URL}`);
  const props = defineProps({
    cardInfo: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
</script>

<style lang="less" scoped>
  .chart-card {
    padding: 10px;
    font-size: 1vw;
    background-color: white;
    /deep/.ant-divider-horizontal {
      margin: 12px 0;
    }
    .card-title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
      font-weight: bold;
    }
  }
  .chart-card:hover {
    //transform: scale(1);
    transition: all 0.5s ease-in-out;
    //border: 1px solid #cccccc;
    background-color: #fff7e5;
  }
  .card-data {
    .card-data-row {
      display: flex;
      .card-data-img {
        width: 30%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 18px;
          height: 18px;
        }
      }
      .card-data-value {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        .unit {
          margin-left: 3px;
        }
      }
    }
  }
</style>
