<template>
  <div>
    <a-descriptions :column="2" class="textItem">
      <a-descriptions-item label="问题名称">
        <span> {{ props.keyData.problemName || '-' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="问题大类">
        <span> {{ filterProblemType(props.keyData.problemType) || '' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="2" class="textItem">
      <a-descriptions-item label="被巡察单位">
        <span> {{ props.keyData.inspectedUnits || '-' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="被巡察单位联系人">
        <span> {{ props.keyData.inspectedUnitsPerson || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>

    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="问题描述">
        <span> {{ props.keyData.problemContent || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>
  </div>
</template>

<script setup lang="tsx">
  import { getCurrentInstance } from 'vue';
  const { proxy } = getCurrentInstance();
  const props = defineProps({
    keyData: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const filterProblemType = (val) => {
    if (val != null) {
      return proxy.$dict.getItemText('PROBLEM_TYPE', val);
    } else {
      return false;
    }
  };
</script>
<style scoped>
  .textItem {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 200px;
  }
</style>
