<template>
  <div style="margin: 10px">
    <a-row :gutter="[10, 10]">
      <a-col v-for="item in indexNav" :key="item" :md="{ span: 4 }">
        <div
          class="home_navigation"
          :class="[{ activeTab: onclicked.active == item.name }]"
          @click="getActive(item.name)"
        >
          <div class="devdome">
            <div class="devdome-div">
              <ScoringRing
                v-if="item.name !== '平台累计客户数'"
                :echarcolor="item.defcolor"
                :echardata="item.data"
                :echarunit="onclicked.unit"
              />
              <div v-if="item.name == '平台累计客户数'" class="container">
                <img src="../../../../styles/platformOver/总览tab平台累计客户数.png" />
              </div>
            </div>
            <div class="devdome-div1">
              <p class="devdome-div1-p1">{{ item.name }}</p>
              <div v-if="item.name !== '平台累计客户数'" class="devdome-div1-p2">
                <p>
                  目标&nbsp;&nbsp;<span class="devdome-div1-span">{{ item.data1 }}</span>
                  {{ item.unit1 }}
                </p>
                <p>
                  当前&nbsp;&nbsp;<span class="devdome-div1-span">{{ item.data2 }}</span>
                  {{ item.unit1 }}
                </p>
              </div>
              <div v-if="item.name == '平台累计客户数'" class="devdome-div1-p2">
                <p>
                  当前累计&nbsp;&nbsp;<span class="devdome-div1-span">{{ item.data2 }}</span>
                  {{ item.unit1 }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
    <OverviewGmvPage v-if="indexNav[0].show" ref="gmvpage" :yearmonth="props.yearMonth" />
    <ServiceProduct v-if="indexNav[1].show" ref="Product" :year-month="props.yearMonth" />
    <MallRevenue v-if="indexNav[2].show" ref="Revenue" :year-month="props.yearMonth" />
    <OverviewMember v-if="indexNav[3].show" ref="menber" :yearmonth="props.yearMonth" />
    <Sku v-if="indexNav[4].show" ref="sku" :year-month="props.yearMonth" />
    <Customer v-if="indexNav[5].show" ref="customer" :year-month="props.yearMonth" />
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, ref, nextTick } from 'vue';
  import { ScoringRing } from '../../echartsAssembly';
  import {
    OverviewGmvPage,
    ServiceProduct,
    MallRevenue,
    OverviewMember,
    Sku,
    Customer,
  } from '../serviceproduct';
  import overserver from '../serviceproduct/js/overserver';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      query();
      queryclick();
    },
  );
  const onclicked = reactive({
    active: 'GMV',
    unit: '%',
  });

  const indexNav = reactive([
    { name: 'GMV', defcolor: '#FF7400', data: 0, data1: 0, data2: 0, unit1: '亿元', show: true },
    {
      name: '服务产品营收',
      defcolor: '#FFBF3C',
      data: 0,
      data1: 0,
      data2: 0,
      unit1: '万元',
      show: false,
    },
    {
      name: '商城总营收',
      defcolor: '#60C758',
      data: 0,
      data1: 0,
      data2: 0,
      unit1: '亿元',
      show: false,
    },
    {
      name: '平台会员数',
      defcolor: '#FC6B57',
      data: 0,
      data1: 0,
      data2: 0,
      unit1: '万',
      show: false,
    },
    {
      name: '平台累计SKU数',
      defcolor: '#5AA2FF',
      data: 0,
      data1: 0,
      data2: 0,
      unit1: '万',
      show: false,
    },
    { name: '平台累计客户数', data2: 0, unit1: '家', show: false },
  ]);

  const getActive = (data) => {
    onclicked.active = data;
    for (let i = 0; i < indexNav.length; i++) {
      if (indexNav[i].name == data) {
        indexNav[i].show = true;
      } else {
        indexNav[i].show = false;
      }
    }
    queryclick();
  };

  const gmvpage = ref();
  const Product = ref();
  const menber = ref();
  const Revenue = ref();
  const sku = ref();
  const customer = ref();
  const queryclick = () => {
    nextTick(() => {
      if (onclicked.active == 'GMV') {
        gmvpage.value.gmvInitialloading();
      } else if (onclicked.active == '服务产品营收') {
        Product.value.gmvInitialloading();
      } else if (onclicked.active == '平台会员数') {
        menber.value.menberInitialloading();
      } else if (onclicked.active == '商城总营收') {
        Revenue.value.MallRevenues();
      } else if (onclicked.active == '平台累计客户数') {
        customer.value.Customers();
      } else if (onclicked.active == '平台累计SKU数') {
        sku.value.MallRevenues();
      }
    });
  };

  const query = () => {
    for (let i = 0; i < indexNav.length; i++) {
      queryAggregate(
        overserver.parameter2(
          'YM',
          props.yearMonth,
          2023062915114799,
          'DEPT_NAME',
          indexNav[i].name,
        ),
      ).then((result) => {
        const dataMap = result.data[2023062915114799].dataMap;
        if (indexNav[i].name == '商城总营收' || indexNav[i].name == '平台会员数') {
          indexNav[i].data = dataMap.ANNUAL_FINISH_RATE[0];
          indexNav[i].data1 = overserver.MonText1(dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0]);
          indexNav[i].data2 = overserver.MonText1(dataMap.CURYEAR_PRFM[0]);
        } else {
          indexNav[i].data = dataMap.ANNUAL_FINISH_RATE[0];
          indexNav[i].data1 = overserver.MonText(dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0]);
          indexNav[i].data2 = overserver.MonText(dataMap.CURYEAR_PRFM[0]);
        }
      });
    }
  };
</script>

<style lang="less" scoped>
  .home_navigation {
    background: linear-gradient(180deg, #eeeeee 0%, #f8faff 100%);
    border-radius: 8px;
    height: 150px;
  }

  .activeTab {
    background: linear-gradient(180deg, #ffffff 0%, #f8faff 100%);
    box-shadow: 0px 6px 16px 0px rgba(207, 136, 13, 0.14);
    border-radius: 8px;
  }

  .imgclass {
    width: 120px;
    padding: 20px 0px 15px 10px;
  }

  // 弹性布局
  .devdome {
    display: flex;
    justify-content: space-between;
  }
  .devdome-div {
    width: 40%;
    height: 150px;
  }
  .devdome-div1 {
    width: 60%;
    height: 150px;
  }

  .devdome-div1-p1 {
    margin: 20px 0px 10px 0px;
    height: 24px;
    font-size: 1.3vw;
    font-family: PangMenZhengDao;
    color: #591a1a;
    line-height: 27px;
  }

  .devdome-div1-p2 {
    margin-top: 8px;
    height: 22px;
    font-size: 0.9vw;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #591a1a;
    line-height: 22px;
  }

  .devdome-div1-span {
    height: 28px;
    font-size: 1.2vw;
    font-family: Bahnschrift;
    color: #591a1a;
    line-height: 31px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
</style>
