<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      destroy-on-close
      :mask-closable="false"
      :title="'新增' + '字段'"
      width="700px"
      :footer="null"
      @ok="handleOk"
    >
      <a-form
        ref="dictFormRef"
        :model="state.dictForm"
        :label-col="{ span: 5 }"
        :rules="dictFormRules"
        :wrapper-col="{ span: 16 }"
        @finish="onFinish"
        @finish-failed="onFinishFailed"
      >
        <a-form-item
          label="字段类型"
          name="fieldType"
          :rules="[{ required: true, message: '请选择字段类型' }]"
        >
          <a-radio-group v-model:value="state.dictForm.fieldType" @change="fieldChange">
            <a-radio value="20">普通指标</a-radio>
            <a-radio value="10">聚合指标</a-radio>
          </a-radio-group>
        </a-form-item>
        <a-form-item label="字段名称" name="columnCname">
          <a-input
            v-model:value="state.dictForm.columnCname"
            :allow-clear="true"
            placeholder="请输入"
            @blur="replaceText"
          >
            <template #suffix>
              <a-tooltip title="字段名称不要包含特殊符号，否则运行时sql会报错">
                <info-circle-outlined style="color: rgba(0, 0, 0, 0.45)" />
              </a-tooltip>
            </template>
          </a-input>
        </a-form-item>
        <a-form-item label="可选字段" name="names">
          <a-select
            v-model:value="state.dictForm.names"
            show-search
            allow-clear
            mode="multiple"
            option-filter-prop="label"
            @change="userVal"
            @select="selevtVal"
          >
            <a-select-option
              v-for="d in props.datas"
              :key="d.sourceId"
              :label="d.names"
              :title="d.names"
            >
              {{ d.names }}
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="字段规则" name="text">
          <span class="infoCir">(加,减,乘,除,CASE WHEN)</span>
          <a-popover
            v-model:visible="state.visibleCircle"
            placement="rightTop"
            title="提示"
            trigger="click"
          >
            <template #content>
              <div class="contentInfo">
                <div class="contentCir">
                  <info-circle-outlined :style="{ fontSize: '30px', color: 'red' }" />
                </div>
                <div>
                  <p>目前只支持加,减,乘,除,CASE WHEN</p>
                  <p>数据表名T0中的T一定要为大写，运算符前后需要加空格</p>
                  <p>例1、T0.indicator1 + T0.indicator 2 </p>
                </div>
              </div>
            </template>
            <info-circle-outlined :style="{ fontSize: '16px', color: 'red' }" />
          </a-popover>
          <myCode ref="myCodeRef" @change-textarea="changeTextarea" />
        </a-form-item>
        <div class="sub-btn">
          <a-button
            html-type="submit"
            type="danger"
            style="margin-right: 20px"
            :loading="state.loading"
          >
            保存</a-button
          >
          <a-button type="primary" style="margin-right: 20px" @click="handleOk"> 取消</a-button>
          <a-button @click="reset"> 重置 </a-button>
        </div>
      </a-form>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, nextTick } from 'vue';
  import { isEmpty } from 'lodash-es'; // api 接口
  import { message } from 'ant-design-vue';
  import myCode from '@/components/basic/myCode/newIndex.vue';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  import { getSqlInfo, getSqlParamTest, getSourceId } from '@/api/userAnalyze/chartConfigurations';
  const dialogFormVisible = ref(false);
  const dictFormRef = ref();
  const myCodeRef = ref();
  const store = chartConfigurations();
  const emit = defineEmits(['getNewSqlParams']);
  const props = defineProps({
    dictData: { type: Object, default: null },
    datas: { type: Array, default: () => [] },
  });
  const state = reactive({
    title: '',
    loading: false,
    visibleCircle: false,
    dictForm: {
      columnCname: '',
      names: [],
      text: '',
      fieldType: '20',
    },
    data: '',
  });
  const dictFormRules = reactive({
    columnCname: [{ required: true, message: '请输入字段名称', trigger: 'blur' }],
    names: [{ required: true, message: '请输入可选字段', trigger: 'blur' }],
  });
  // 名字是否是唯一
  const nameIsOlay = (name) => {
    const filterData = store.insertContent;
    const filelds = props.datas;
    let flag = true;
    // 过滤数据进行匹配
    filterData.forEach((t) => {
      t.value.forEach((item) => {
        if (name === item.sourceName) {
          flag = false;
        }
      });
    });
    // 数据集字段进行匹配
    filelds.forEach((item) => {
      if (name === item.sourceName) {
        flag = false;
      }
    });
    // 左侧字段进行匹配
    store.navList.forEach((t) => {
      if (t.children.length > 0) {
        t.children.forEach((j) => {
          if (name === j.sourceName) {
            flag = false;
          }
        });
      }
    });
    if (state.data) {
      if (state.data.sourceName == name) {
        flag = true;
      }
    }
    return flag;
  };
  const replaceText = () => {
    if (!isEmpty(state.dictForm.columnCname))
      state.dictForm.columnCname = state.dictForm.columnCname.replace(
        /[^\a-\z\A-\Z0-9\u4E00-\u9FA5\ ]/g,
        '',
      );
  };
  const onFinish = async () => {
    if (state.dictForm.text == '') {
      message.error('请输入sql语句');
      return false;
    }
    if (!isNaN(state.dictForm.columnCname)) {
      message.error('名称请不要输入纯数字类型');
      return false;
    }
    emit('getNewSqlParams');
    const sqlParams = store.newSqlParams;
    sqlParams.datatableList.forEach((v) => {
      v.tableColumnList = [];
    });
    state.loading = true;
    // 匹配是否是唯一名字
    if (state.data == '') {
      if (!nameIsOlay(state.dictForm.columnCname)) {
        state.loading = false;
        message.error('字段名称不能与页面上数据名称相同！');
        return;
      }
    } else {
      if (
        state.data.key.trim() === state.dictForm.text.trim() &&
        state.data.title.trim() === state.dictForm.columnCname.trim()
      ) {
      } else {
        if (!nameIsOlay(state.dictForm.columnCname)) {
          state.loading = false;
          message.error('字段名称不能与页面上数据名称相同！');
          return;
        }
      }
    }
    if (!sqlParams.tableRelationList) {
      state.loading = false;
      message.error('请先进行字段关联！');
      return;
    }
    let colExpStr = '';
    if (state.dictForm.text.toUpperCase().indexOf('DISTINCT') != -1) {
      colExpStr = myCodeRef.value.sqlVal.trim();
    } else {
      colExpStr = `(${myCodeRef.value.sqlVal.trim()})`;
    }
    const params = {
      ...sqlParams,
      compositeColumnList: [
        {
          colExp: colExpStr,
          colAli: state.dictForm.columnCname,
        },
      ],
    };
    const data = await getSqlInfo(params);
    if (data.data) {
      const datasource5S = {
        type: '5sAPI',
        config: {
          apiUrl: 'http://eplat.obei.com.cn/base-service/service/S_BE_AS_03',
          resProjectEname: 'BWDH',
          resAppEname: 'bwdh-data-yx',
          schemaProviderRegistryUrl:
            'http://eplat.obei.com.cn/xdata-standard-admin/service/S_BE_DG_2111',
        },
      };
      let datasource = {};
      if (store.sourceName == '数据湖') {
        const id = sqlParams.datatableList[0].sourceId;
        const res = await getSourceId({ id });
        datasource = {
          type: 'hive',
          config: res.data.config,
        };
      } else {
        datasource = datasource5S;
      }
      // const datasource = {
      //   type: '5sAPI',
      //   config: {
      //     apiUrl: 'http://eplat.obei.com.cn/base-service/service/S_BE_AS_03',
      //     resProjectEname: 'BWDH',
      //     resAppEname: 'bwdh-data-yx',
      //     schemaProviderRegistryUrl:
      //       'http://eplat.obei.com.cn/xdata-standard-admin/service/S_BE_DG_2111',
      //   },
      // };
      const params = {
        datasource,
        query: {
          sql: data.data.sqlStr,
        },
      };
      const res = await getSqlParamTest(params);
      if (res.code != 'OK') {
        state.loading = false;
        message.error('验证失败');
      } else {
        if (state.data) {
          store.navList[0].children.forEach((v) => {
            if (v.sourceId == state.data.sourceId) {
              v.title = state.dictForm.columnCname;
              v.name = state.dictForm.columnCname;
              v.text = state.dictForm.text;
              v.key = `${state.dictForm.text}_${state.dictForm.columnCname}`;
              v.oledSourceId = state.dictForm.names;
              v.sourceName = state.dictForm.columnCname;
              v.columnName = state.dictForm.columnCname;
              v.sourceType = 'int';
              v.columnType = state.dictForm.fieldType;
              v.newType = 2;
            }
          });
        } else {
          // 新增字段整合数据
          const i = Math.floor(Math.random() * (1000000000000 - 1) + 1);
          store.navList[0].children.push({
            sourceId: i,
            oledSourceId: state.dictForm.names,
            sourceName: state.dictForm.columnCname,
            columnName: state.dictForm.columnCname,
            name: state.dictForm.columnCname,
            text: state.dictForm.text,
            contentShow: false,
            flag: '1',
            newType: 2,
            children: [],
            title: state.dictForm.columnCname,
            drag: 'true',
            type: 'addField',
            columnType: state.dictForm.fieldType,
            sourceType: 'int',
            key: `${state.dictForm.text}_${state.dictForm.columnCname}`,
          });
          console.log(state.dictForm.fieldType);
        }
        handleOk();
        state.loading = false;
      }
    } else {
      state.loading = false;
      message.error('网络链接有误~');
    }
  };
  const onFinishFailed = (errorInfo: any) => {
    console.log('Failed:', errorInfo);
  };
  const handleOk = () => {
    dictFormRef.value.resetFields();
    dialogFormVisible.value = false;
  };
  const changeTextarea = (val) => {
    state.dictForm.text = val.trim();
    myCodeRef.value.sqlVal = val; //监听sqlVal获取最新值再格式化
  };
  const onChangeVisable = (flag, data) => {
    console.log('data----------', data);
    dialogFormVisible.value = flag;
    if (data) {
      state.data = data;
      state.dictForm.columnCname = data.sourceName;
      state.dictForm.names = data.oledSourceId;
      state.dictForm.text = data.text;
      state.dictForm.fieldType = data.columnType;
      nextTick(() => {
        myCodeRef.value.setSql(data.text);
      });
    }
  };
  const userVal = (val) => {
    let obj = {};
    let str = '';
    if (val.length === 0) {
      obj = {};
      myCodeRef.value.setSql('');
    } else {
      props.datas.forEach((v) => {
        val.forEach((t) => {
          if (v.sourceId === t) {
            str += `${v.nameDian} `;
            obj[v.nameDian] = [''];
          }
        });
      });
    }
    myCodeRef.value.setEditor(obj);
  };
  const selevtVal = (val) => {
    const dom = myCodeRef.value;
    let str = '';
    props.datas.forEach((v) => {
      if (v.sourceId === val) {
        str = `${v.nameDian} `;
      }
    });
    dom.setSql(dom.sqlVal + str);
  };
  const reset = () => {
    const dom = myCodeRef.value;
    dom.setSql('');
    state.dictForm = {
      columnCname: '',
      names: [],
      text: '',
      fieldType: '20',
    };
  };
  const fieldChange = (val) => {
    state.dictForm.columnCname = '';
    state.dictForm.names = [];
    state.dictForm.text = '';
    const dom = myCodeRef.value;
    dom.setSql('');
  };

  defineExpose({ onChangeVisable, myCodeRef });
</script>

<style lang="less" scoped>
  .sub-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .ant-form-item {
    display: flex;
  }
  .contentInfo {
    display: flex;
  }
  .contentCir {
    margin-right: 18px;
    margin-top: 5%;
  }
  .infoCir {
    margin-right: 8px;
  }
</style>
