<template>
  <TableJoin ref="table" style="width: 100%" :table-data="tableData"></TableJoin>
  <ImportExcel></ImportExcel>
</template>

<script setup lang="ts">
  import { onMounted, ref } from 'vue';
  import TableData from './tableData.json';
  import { TableJoin } from '@/components/business';
  import ImportExcel from '@/components/basic/excel/src/ImportExcel.vue';

  defineOptions({
    name: 'TestTableJoin',
    inheritAttrs: false,
  });
  const tableData = ref({ nodes: [], links: [] });

  onMounted(() => {
    tableData.value = TableData;
  });
</script>

<style scoped></style>
