<template>
  <div>
    <a-descriptions size="middle">
      <a-descriptions-item label="季度">{{
        props.record.monthVal
          ? dict.getItemText('PERFORMANCE_QUARTERLY_TYPE', props.record.monthVal)
          : ''
      }}</a-descriptions-item>
      <a-descriptions-item label="牵头部门">{{
        props.record?.superinDeptName
      }}</a-descriptions-item>
      <a-descriptions-item label="主要参与部门">{{
        props.record?.evaluatedOrgName
      }}</a-descriptions-item>
      <a-descriptions-item
        v-if="props.record.performanceType !== 'PT-202023003'"
        label="年度目标"
        :span="3"
        ><div v-html="props.record?.yearEmphasisTarget"></div>
      </a-descriptions-item>
      <a-descriptions-item v-else label="季度目标" :span="3"
        ><div v-html="props.record?.qEmphasisGoal"></div>
      </a-descriptions-item>
      <a-descriptions-item label="完成状态" :span="3">{{
        props.record?.perfEvalScoreFixOpt
          ? dict.getItemText('EMPHASIS_WORK_SELECT_TYPE', props.record?.perfEvalScoreFixOpt)
          : ''
      }}</a-descriptions-item>
      <a-descriptions-item class="isty" label="鉴证性材料" :span="3">
        <span v-for="(item, idx) in props.record?.attestationFiles" :key="idx" class="mr-2x nowarp">
          <a :href="`${state.BASE_URL}basic/n/get/file?key=${item.fileAddress}`" target="_blank">{{
            item.fileName
          }}</a>
        </span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions layout="vertical" size="middle">
      <a-descriptions-item label="完成情况说明" :span="3">
        <div v-if="attrs.type == 'report'" v-html="props.record?.description"></div>
        <div v-else>
          <div style="border: 1px solid #ccc">
            <Toolbar
              style="border-bottom: 1px solid #ccc; width: 100%"
              :editor="editorRef"
              :default-config="toolbarConfig"
              :mode="mode"
            />
            <Editor
              v-model="state.formList.description"
              style="height: 310px; overflow-y: hidden"
              :default-config="editorConfig"
              :mode="mode"
              @on-created="(e) => handleCreated(e, 1)"
              @on-max-length="onMaxLength"
            />
          </div>
        </div>
      </a-descriptions-item>
      <a-descriptions-item label="未完成原因分析" :span="3">
        <div v-if="attrs.type == 'report'" v-html="props.record?.unfinishedDescription"></div>
        <div v-else>
          <div style="border: 1px solid #ccc; width: 100%">
            <Toolbar
              style="border-bottom: 1px solid #ccc"
              :editor="editorRef2"
              :default-config="toolbarConfig"
              :mode="mode"
            />
            <Editor
              v-model="state.formList.unfinishedDescription"
              style="height: 310px; overflow-y: hidden"
              :default-config="editorConfig"
              :mode="mode"
              @on-created="(e) => handleCreated(e, 2)"
              @on-max-length="onMaxLength"
            />
          </div>
        </div>
      </a-descriptions-item>
    </a-descriptions>
  </div>
</template>
<script setup lang="ts">
  import { reactive, useAttrs, shallowRef, ref, watch } from 'vue';
  import { Editor, Toolbar } from '@wangeditor/editor-for-vue';
  import { message } from 'ant-design-vue';
  import type { IEditorConfig } from '@wangeditor/editor'; // 编辑器配置
  import '@wangeditor/editor/dist/css/style.css'; // 引入 css
  import dict from '@/utils/dict.js';

  defineOptions({
    name: 'BaseInfo',
  });
  const attrs = useAttrs();
  const props = defineProps({
    record: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const state = reactive<any>({
    BASE_URL: process.env.VUE_APP_BASE_API,
    formList: {
      description: '',
      unfinishedDescription: '',
    },
  });
  /** 富文本编辑器相关配置  开始 **/
  const mode = ref('simple');
  const editorRef = shallowRef();
  const editorRef2 = shallowRef();
  const toolbarConfig = {
    excludeKeys: [
      'header1',
      'header2',
      'header3',
      'codeBlock',
      'fullScreen',
      'insertVideo',
      'clearStyle',
      'insertTable',
    ],
    insertKeys: {
      index: 1,
      keys: ['fontSize'],
    },
  };
  const editorConfig: Partial<IEditorConfig> = {
    placeholder: '请输入内容...',
    maxLength: 10000,
    MENU_CONF: {},
  };
  const onMaxLength = function (_editor: IDomEditor) {
    message.error('最多允许输入10000字符!');
  };
  editorConfig.MENU_CONF['uploadImage'] = {
    server: `${state.BASE_URL}performance-eval/n/public/batchadd/file?fileType=171`,
    fieldName: 'file',
    // maxFileSize: 1 * 1024 * 1024, // 1M
    allowedFileTypes: ['image/*'],
    timeout: 5 * 1000, // 5 秒
    onSuccess(file: File, res: any) {
      message.success(`${file.name} 上传成功`, res);
    },
    onFailed(file: File, res: any) {
      message.success(`${file.name} 上传失败`, res);
    },
    onError(file: File, err: any, res: any) {
      message.success(`${file.name} 上传出错`, err, res);
    },
    customInsert(res: any, insertFn: InsertFnType) {
      const downUrl = `${state.BASE_URL}basic/n/get/file?key=`;
      insertFn(downUrl + res.data.fileAddress, res.data.fileName, downUrl + res.data.fileAddress);
    },
  };
  const handleCreated = (editor, type) => {
    if (type == '1') {
      editorRef.value = editor; // 记录 editor 实例，重要！
    } else {
      editorRef2.value = editor; // 记录 editor 实例，重要！
    }
  };
  /** 富文本编辑器相关配置  结束 **/
  watch(
    () => props.record,
    (newVal, _oldVal) => {
      state.formList.description = newVal.description;
      state.formList.unfinishedDescription = newVal.unfinishedDescription;
    },
  );
  defineExpose({
    state,
  });
</script>
<style lang="less" scoped>
  /deep/.isty .ant-descriptions-item-container .ant-descriptions-item-content {
    display: inline-block;
  }
</style>
