<template>
  <!-- 一级填报 -->
  <div :class="{ fullSCreen: isfullSCreen }">
    <a-descriptions
      bordered
      :column="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }"
      :title="state.formList?.perfGName"
      :label-style="{ 'min-width': '120px' }"
    >
      <template #extra>
        <fullscreen-exit-outlined
          v-if="isfullSCreen"
          class="font-l pointer"
          @click="checkFullScreen"
        />
        <fullscreen-outlined v-else class="font-l pointer" @click="checkFullScreen" />
      </template>
      <a-descriptions-item label="任务名称">{{ state.formList?.perfGName }}</a-descriptions-item>
      <a-descriptions-item label="季度">{{
        state?.formList?.period
          ? dict.getItemText('PERFORMANCE_QUARTERLY_TYPE', state?.formList?.period)
          : '-'
      }}</a-descriptions-item>
      <a-descriptions-item
        v-if="rowInfo.performanceType !== 'PT-202023003'"
        label="年度目标"
        :span="2"
      >
        <span v-html="state.formList?.yearEmphasisTarget"></span>
      </a-descriptions-item>
      <a-descriptions-item v-else label="季度目标" :span="2">
        <span v-html="state.formList?.qEmphasisGoal"></span>
      </a-descriptions-item>
      <a-descriptions-item>
        <template #label><span class="error bold">*</span>目标完成情况自评</template>
        <a-row justify="space-between">
          <a-col :span="20">
            <a-select
              ref="select"
              v-model:value="state.formList.perfEvalScoreFixOpt"
              style="width: 240px"
            >
              <a-select-option
                v-for="(item, index) in dict.getItemsByDictCode('EMPHASIS_WORK_SELECT_TYPE')"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-select-option
              >
            </a-select>
          </a-col>
          <a-col :span="4" style="line-height: 32px; text-align: right">
            <a-button danger size="small" @click="propsState.visible = true">历史填报</a-button>
          </a-col>
        </a-row>
      </a-descriptions-item>
      <a-descriptions-item>
        <template #label>
          鉴证性材料
          <a-popover trigger="hover">
            <template #content>
              <div class="error">
                (支持扩展名:.doc,.docx,.png,.jpg,.jpeg,.pdf,.xls,.xlsx,.pptx,.zip,.rar,.mp4)
              </div>
            </template>
            <question-circle-outlined class="error" />
          </a-popover>
        </template>
        <a-upload
          v-model:file-list="state.formList.fileList"
          name="file"
          accept=".doc,.docx,.png,.jpg,.jpeg,.pdf,.xls,.xlsx,.pptx,.zip,.rar,.mp4"
          :action="`${state.BASE_URL}performance-eval/n/public/batchadd/file?fileType=171`"
          :before-upload="beforeUpload"
          @change="(info) => handleChange(info)"
        >
          <a-button> <upload-outlined></upload-outlined>文件上传 </a-button>
        </a-upload>
      </a-descriptions-item>
      <a-descriptions-item :span="2">
        <template #label><span class="error bold">*</span>完成情况说明</template>
        <div style="border: 1px solid #ccc">
          <Toolbar
            style="border-bottom: 1px solid #ccc"
            :editor="editorRef"
            :default-config="toolbarConfig"
            :mode="mode"
          />
          <Editor
            v-model="state.formList.description"
            style="height: 310px; overflow-y: hidden"
            :default-config="editorConfig"
            :mode="mode"
            @on-created="(e) => handleCreated(e, 1)"
            @on-max-length="onMaxLength"
          />
        </div>
      </a-descriptions-item>
      <a-descriptions-item label="未完成原因分析" :span="2">
        <div style="border: 1px solid #ccc">
          <Toolbar
            style="border-bottom: 1px solid #ccc"
            :editor="editorRef2"
            :default-config="toolbarConfig"
            :mode="mode"
          />
          <Editor
            v-model="state.formList.unfinishedDescription"
            style="height: 310px; overflow-y: hidden"
            :default-config="editorConfig"
            :mode="mode"
            @on-created="(e) => handleCreated(e, 2)"
            @on-max-length="onMaxLength"
          />
        </div>
      </a-descriptions-item>
      <a-descriptions-item v-if="rowInfo.performanceType == 'PT-202023003'" :span="2">
        <template #label><span class="error bold">*</span>奖金分配</template>
        <a-row class="part-content">
          <a-row v-for="(it, index) in state.dynamicForm" :key="index" class="mb-1x">
            <a-col :span="12" class="mr-1x">
              <a-tree-select
                v-model:value="it.orgCode"
                show-search
                :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
                placeholder="请选择部门"
                style="width: 220px"
                allow-clear
                :show-checked-strategy="SHOW_ALL"
                tree-default-expand-all
                :tree-data="treeDataSel"
                @change="(value, label, e) => chooseOrg(value, label, e, index)"
              >
              </a-tree-select>
            </a-col>
            <a-col :span="9" class="mr-1x">
              <a-input-number v-model:value="it.ratio" style="width: 160px" :min="0" :max="100">
                <template #addonAfter>%</template>
              </a-input-number>
            </a-col>
            <a-col :span="2">
              <a-button type="primary" size="small" danger ghost @click="removeRow(index)"
                >删除</a-button
              >
            </a-col>
          </a-row>
          <a-col>
            <a-button block @click="addRow"> <PlusOutlined />新增 </a-button>
          </a-col>
        </a-row>
      </a-descriptions-item>
    </a-descriptions>
    <div class="text-c mt-2x">
      <a-button type="primary" :loading="state.saveLoading" ghost @click="SaveDraftRow"
        >暂存</a-button
      >
      <a-button class="ml-1x" type="primary" @click="infoHandleOk">提交</a-button>
    </div>
  </div>

  <a-modal
    v-model:visible="propsState.visible"
    title="历史填报"
    :width="860"
    destroy-on-close
    :body-style="{ 'min-height': '240px', padding: '40px 20px' }"
    :footer="null"
    @cancel="propsState.visible = false"
  >
    <a-spin :spinning="propsState.spinning">
      <a-descriptions size="middle">
        <a-descriptions-item label="季度">
          <a-select
            v-model:value="propsState.quarterPeriod"
            style="width: 160px"
            placeholder="请选择季度"
            @change="compareReport(propsState.quarterPeriod)"
          >
            <a-select-option
              v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_QUARTERLY_TYPE')"
              :key="index"
              :value="item.itemValue"
              >{{ item.itemText }}</a-select-option
            >
          </a-select>
        </a-descriptions-item>
        <a-descriptions-item label="完成状态" :span="3">{{
          propsState.record?.perfEvalScoreFixOpt
            ? dict.getItemText('EMPHASIS_WORK_SELECT_TYPE', propsState.record?.perfEvalScoreFixOpt)
            : ''
        }}</a-descriptions-item>
        <a-descriptions-item label="完成情况说明" :span="3">
          <div v-html="propsState.record?.description"></div>
        </a-descriptions-item>
        <a-descriptions-item label="未完成情况说明" :span="3">
          <div v-html="propsState.record?.unfinishedDescription"></div>
        </a-descriptions-item>
      </a-descriptions>
    </a-spin>
  </a-modal>
</template>
<script setup lang="ts">
  import { reactive, watch, ref, shallowRef, onMounted, nextTick } from 'vue';
  import { UploadOutlined } from '@ant-design/icons-vue';
  import { cloneDeep } from 'lodash-es';
  import { Editor, Toolbar } from '@wangeditor/editor-for-vue';
  import {
    message,
    UploadChangeParam,
    UploadProps,
    Upload,
    type TreeSelectProps,
    TreeSelect,
  } from 'ant-design-vue';
  import type { IEditorConfig } from '@wangeditor/editor'; // 编辑器配置
  import '@wangeditor/editor/dist/css/style.css'; // 引入 css
  import dict from '@/utils/dict.js';
  import { getDeptAll } from '@/api/system/dept/index';
  import { saveWorkData, saveWorkDraft, queryHistoryReport } from '@/api/perAppraisal/apiList';
  import { genDeptTreeItem } from '@/api/system/dept/service';

  defineOptions({
    name: 'FirstLevel',
  });

  const emits = defineEmits(['refesh']);

  const SHOW_ALL = TreeSelect.SHOW_ALL;
  const props = defineProps({
    rowInfo: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });

  type stateT = {
    BASE_URL: any;
    formList: {
      unfinishedDescription?: string;
      description?: string;
      perfGName?: string;
      period?: string;
      perfEvalScoreFixOpt?: string;
      fileList?: any;
      fieldNameCn?: string;
      yearEmphasisTarget?: string;
      performanceType?: any;
      bonusAllocationRatios?: Array<any>;
      qEmphasisGoal?: string;
    };
    infoHtml: string;
    saveLoading: Boolean;
    subLoading: Boolean;
    dynamicForm?: any;
  };
  const state = reactive<stateT>({
    BASE_URL: location.origin.endsWith('localhost:8099')
      ? `${location.origin}/proxy/`
      : process.env.VUE_APP_BASE_API,
    formList: {},
    infoHtml: '',
    saveLoading: false,
    subLoading: false,
    dynamicForm: [
      {
        orgName: '',
        orgCode: undefined,
        ratio: '',
      },
    ],
  });

  const propsState = reactive({
    visible: false,
    quarterPeriod: '',
    record: {},
    spinning: false,
  });

  /** 上传文件  开始 **/
  const handleChange = (info: UploadChangeParam) => {
    if (info.file.status === 'done' || info.file.status === 'removed') {
      const fileInfo = info.fileList.map((item) => {
        if (item.status == 'done' && item?.response?.success) {
          return item.response.data;
        } else {
          return {
            fileAddress: getCaption(item.url),
            fileName: item.name,
          };
        }
      });
      state.formList.attestationFiles = fileInfo;
      if (info.file.status === 'done') {
        message.success(`${info.file.name} 文件上传成功！`);
      }
    } else if (info.file.status === 'error') {
      message.error(`${info.file.name} 文件上传失败！`);
    }
  };
  //截取等号后的值（接口返回的文件，需要手动处理为需要的格式进行展示）
  const getCaption = (obj) => {
    const index = obj.lastIndexOf('=');
    obj = obj.substring(index + 1, obj.length);
    return obj;
  };
  const beforeUpload = (file: UploadProps['fileList'][number]) => {
    const isLt100M = file.size / 1024 / 1024 < 100;
    if (!isLt100M) {
      message.error('文件最大100M!');
    }
    return isLt100M || Upload.LIST_IGNORE;
  };
  /** 上传文件  结束 **/

  /** 富文本编辑器相关配置  开始 **/
  const mode = ref('simple');
  const editorRef = shallowRef();
  const editorRef2 = shallowRef();
  const toolbarConfig = {
    excludeKeys: [
      'header1',
      'header2',
      'header3',
      'codeBlock',
      'fullScreen',
      'insertVideo',
      'todo',
      'through',
      'clearStyle',
      'insertTable',
    ],
    insertKeys: {
      index: 1,
      keys: ['fontSize'],
    },
  };
  const editorConfig: Partial<IEditorConfig> = {
    placeholder: '请输入内容...',
    maxLength: 10000,
    MENU_CONF: {},
  };
  const onMaxLength = function (_editor: IDomEditor) {
    message.error('最多允许输入10000字符!');
  };
  editorConfig.MENU_CONF['uploadImage'] = {
    server: `${state.BASE_URL}performance-eval/n/public/batchadd/file?fileType=171`,
    fieldName: 'file',
    // maxFileSize: 1 * 1024 * 1024, // 1M
    allowedFileTypes: ['image/*'],
    timeout: 5 * 1000, // 5 秒
    onSuccess(file: File, res: any) {
      message.success(`${file.name} 上传成功`, res);
    },
    onFailed(file: File, res: any) {
      message.success(`${file.name} 上传失败`, res);
    },
    onError(file: File, err: any, res: any) {
      message.success(`${file.name} 上传出错`, err, res);
    },
    customInsert(res: any, insertFn: InsertFnType) {
      const downUrl = `${state.BASE_URL}basic/n/get/file?key=`;
      insertFn(downUrl + res.data.fileAddress, res.data.fileName, downUrl + res.data.fileAddress);
    },
  };
  const handleCreated = (editor, type) => {
    if (type == '1') {
      editorRef.value = editor; // 记录 editor 实例，重要！
    } else {
      editorRef2.value = editor; // 记录 editor 实例，重要！
    }
  };

  /** 富文本编辑器相关配置  结束 **/
  /** 部门奖金分配  开始**/
  const treeDataSel = ref<TreeSelectProps['treeData']>([]);
  /**查询相关组织树选择
   *@genTreeNameItem 转换树格式,此处对接5s，转换的部门树均使用中文
   */
  const queryDept = async () => {
    const { rows } = (await getDeptAll()) as any;
    const deptTree: API.TreeDataItem[] = [];
    for (let i = 0; i < rows.children.length; i++) {
      const temp = rows.children[i];
      deptTree.push(genDeptTreeItem(temp));
    }
    treeDataSel.value = deptTree;
  };

  const chooseOrg = (_value, _label, _e, index) => {
    state.dynamicForm[index].orgName = _label[0];
  };
  const addRow = () => {
    for (let i = 0; i < state.dynamicForm.length; i++) {
      if (!state.dynamicForm[i].orgCode || !state.dynamicForm[i].ratio) {
        return message.error('存在部门和奖金比列为空！');
      }
    }
    state.dynamicForm.push({
      orgName: '',
      orgCode: undefined,
      ratio: '',
    });
  };
  const removeRow = (i) => {
    state.dynamicForm.splice(i, 1);
  };
  /** 部门奖金分配  结束**/

  /** 暂存重点工作填报 **/
  //校验部门奖金分配
  const validateDept = () => {
    if (!state.formList.perfEvalScoreFixOpt) {
      throw '目标完成情况自评不能为空！';
    }
    if (state.formList.description == '<p><br></p>') {
      state.formList.description = '';
    }
    if (!state.formList.description) {
      throw '完成情况说明不能为空！';
    }
    if (state.formList?.performanceType !== 'PT-202023003') return;
    if (state.dynamicForm.length == 0) {
      throw '奖金分配不能为空！';
    }
    //增加部门&奖金比列空值校验
    //增加奖金比列和必须为100校验
    let sum = 0;
    for (let i = 0; i < state.dynamicForm.length; i++) {
      if (!state.dynamicForm[i].orgCode || !state.dynamicForm[i].ratio) {
        throw '部门和奖金比列不能为空！';
      }
      sum += parseFloat(state.dynamicForm[i].ratio);
    }
    if (sum !== 100) {
      throw '奖金比列和必须为100！';
    }
  };
  //公共入参
  const commonParams = () => {
    delete state.formList?.auditStatus;
    state.formList.bonusAllocationRatios = state.dynamicForm;
    return {
      ...state.formList,
      approvalType: 'PT-202023003',
    };
  };
  const SaveDraftRow = async (_e: MouseEvent) => {
    state.saveLoading = true;
    const { data } = await saveWorkDraft(commonParams());
    if (data.success) {
      emits('refesh');
      message.success(data.message);
    } else {
      message.error(data.message);
    }
    state.saveLoading = false;
  };

  /** 提交并保存 **/
  const infoHandleOk = async () => {
    try {
      validateDept();
      state.subLoading = true;
      const params = {
        ...commonParams(),
        evalHandleLevel: '10', //此一级填报，类型不用根据角色处理入参，默认为10
      };
      const { data } = await saveWorkData(params);
      if (data.success) {
        emits('refesh');
        message.success(data.message);
      } else {
        message.error(data.message);
      }
      state.subLoading = false;
    } catch (err: any) {
      return message.error(err);
    }
  };

  //渲染modal
  const renderModule = (record) => {
    state.dynamicForm.length = 0;
    state.formList = cloneDeep(record);
    const { attestationFiles, bonusAllocationRatios, unfinishedDescription, description } = record;
    state.formList.unfinishedDescription = unfinishedDescription
      ? unfinishedDescription
      : '<p><br></p>';
    state.formList.description = description ? description : '<p><br></p>';
    if (attestationFiles && attestationFiles.length > 0) {
      state.formList.fileList = attestationFiles.map((item, index) => {
        return {
          uid: index,
          name: item.fileName,
          status: 'done',
          url: `${state.BASE_URL}basic/n/get/file?key=${item.fileAddress}`,
        };
      });
    }
    if (bonusAllocationRatios) {
      state.dynamicForm.push(...bonusAllocationRatios);
    } else {
      state.dynamicForm.push({
        orgName: '',
        orgCode: undefined,
        ratio: '',
      });
    }
  };

  const isfullSCreen = ref<boolean>(false);
  const checkFullScreen = () => {
    isfullSCreen.value = !isfullSCreen.value;
  };

  const compareReport = async (date) => {
    propsState.spinning = true;
    const params = {
      period: date ? date : Number(state.formList.period) - 1,
      ruleCode: state.formList.ruleCode,
    };
    const res = await queryHistoryReport(params);

    propsState.spinning = false;
    if (res.success) {
      propsState.record = res.data;
    } else {
      message.error(res.message);
    }
  };

  watch(
    () => props.rowInfo,
    (_newVal, _oldVal) => {
      if (_newVal.ruleCode == _oldVal?.ruleCode) return;
      queryDept();
      renderModule(props.rowInfo);
    },
    { immediate: true },
  );
  watch(
    () => propsState.visible,
    (_newVal) => {
      if (_newVal) {
        propsState.quarterPeriod = (Number(state.formList.period) - 1).toString();
        compareReport('');
      }
    },
    { immediate: true },
  );
  onMounted(() => {
    handleCreated;
  });
</script>
<style lang="less" scoped>
  .part-content {
    // border: 1px dashed #ccc;
    border-radius: 4px;
    padding: 8px;
    line-height: 32px;
    max-width: 480px;
  }
</style>
