<template>
  <div :class="{ fullSCreen: isfullSCreen }">
    <a-spin :spinning="state.loading">
      <a-row v-if="attrs.type !== 'audit'" justify="space-between">
        <a-col :span="20">
          <span class="font-l bold">{{ state.baseInfo.perfGName }}</span>
        </a-col>
        <a-col :span="4" class="text-r">
          <fullscreen-exit-outlined
            v-if="isfullSCreen"
            class="font-l pointer"
            @click="checkFullScreen"
          />
          <fullscreen-outlined v-else class="font-l pointer" @click="checkFullScreen" />
        </a-col>
      </a-row>
      <a-divider v-if="attrs.type !== 'audit'" />
      <BaseInfo ref="baseSum" :record="state.baseInfo" :type="attrs.type"></BaseInfo>
      <a-divider />
      <div class="mt-4x">
        <!-- 归口管理负责人 - 部门奖金分配 -->
        <a-form
          v-if="state.datalist?.readFlag == '1' && attrs.type == 'report'"
          name="basic"
          :label-col="{ span: 3 }"
          :wrapper-col="{ span: 15 }"
          autocomplete="off"
        >
          <a-form-item v-if="state.datalist?.performanceType == 'PT-202023003'" label="奖金分配">
            <a-row class="part-content">
              <a-row v-for="(it, index) in state.dynamicForm" :key="index" class="mb-1x">
                <a-col :span="12" class="mr-1x">
                  <a-tree-select
                    v-model:value="it.orgCode"
                    show-search
                    :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
                    placeholder="请选择部门"
                    style="width: 220px"
                    allow-clear
                    :show-checked-strategy="SHOW_ALL"
                    tree-default-expand-all
                    :tree-data="treeDataSel"
                    @change="(value, label, e) => chooseOrg(value, label, e, index)"
                  >
                  </a-tree-select>
                </a-col>
                <a-col :span="9" class="mr-1x">
                  <a-input-number v-model:value="it.ratio" style="width: 160px" :min="0" :max="100">
                    <template #addonAfter>%</template>
                  </a-input-number>
                </a-col>
                <a-col :span="2">
                  <a-button type="primary" size="small" danger ghost @click="removeRow(index)"
                    >删除</a-button
                  >
                </a-col>
              </a-row>
              <a-col>
                <a-button block @click="addRow"> <PlusOutlined />新增 </a-button>
              </a-col>
            </a-row>
          </a-form-item>

          <a-form-item label="审核备注">
            <a-textarea
              v-model:value="state.datalist.auditRemarks"
              placeholder="请输入备注"
              :rows="4"
            />
          </a-form-item>
        </a-form>
        <!-- 绩效人员奖金分配 -->
        <div
          v-else-if="
            attrs.type == 'audit' || (state.datalist?.readFlag == '2' && attrs.type == 'report')
          "
        >
          <a-row v-if="state.datalist?.performanceType == 'PT-202023003'" class="mb-1x">
            <a-col :span="3" class="text-r">奖金分配：</a-col>
            <a-col :span="21">
              <a-row v-for="(it, index) in state.datalist.bonusAllocationRatios" :key="index">
                <a-col :span="5" class="mr-1x"> {{ it.orgName }} </a-col>
                <a-col :span="4" class="mr-1x"> {{ it.ratio }}% </a-col>
              </a-row>
            </a-col>
          </a-row>
          <a-row class="mb-1x">
            <a-col :span="3" class="text-r">审核备注：</a-col>
            <a-col :span="21"> {{ state.datalist?.auditRemarks }} </a-col>
          </a-row>
          <a-form
            v-if="attrs.type == 'audit' && state.datalist?.performanceType == 'PT-202023003'"
            name="basic"
            :label-col="{ span: 3 }"
            :wrapper-col="{ span: 18 }"
            autocomplete="off"
          >
            <a-divider dashed />
            <a-form-item label="奖金额度">
              <a-input-number
                v-model:value="state.datalist.quarterBonusAllocationAmt"
                style="width: 160px"
                :min="0"
                :max="100"
                @blur="changeBonus"
              >
                <template #addonAfter>万元</template>
              </a-input-number>
              <div class="gray">
                <span class="lh32"
                  >共<span class="primary">{{ state.datalist?.yearApprovedBonus || 0 }}</span
                  >万</span
                >
                <span>
                  ，已分配金额
                  <span class="primary">{{
                    parseFloat(state.datalist?.expenditureBonus) || 0
                  }}</span>
                  万，当期分配金额
                  <span class="primary">{{ state.datalist.quarterBonusAllocationAmt || 0 }}</span
                  >万（分配比例
                  <span class="primary">{{ amountState.ratio }}%</span>），剩余奖励金额
                  <span :class="amountState.Unallocated < 0 ? 'error' : 'primary'">{{
                    amountState.Unallocated
                  }}</span>
                  万
                </span>
              </div>
            </a-form-item>
            <a-form-item label="奖金说明">
              <a-textarea
                v-model:value="state.datalist.bonusStatement"
                placeholder="请输入奖金说明"
                :rows="4"
              />
            </a-form-item>
          </a-form>
        </div>
      </div>
    </a-spin>
    <div class="text-c mt-2x">
      <div v-if="state.datalist?.readFlag == '1' && attrs.type == 'report'">
        <a-button danger @click="rejectBtn">驳回</a-button>
        <a-button class="ml-1x" type="primary" ghost @click="SaveDraft">暂存</a-button>
        <a-button class="ml-1x" type="primary" :loading="state.subLoading" @click="submitApproval"
          >提交</a-button
        >
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { reactive, ref, watch, useAttrs, defineExpose } from 'vue';
  import { message, type TreeSelectProps, TreeSelect } from 'ant-design-vue';
  import BaseInfo from './BaseInfo.vue';
  import { getDeptAll } from '@/api/system/dept/index';
  import { genDeptTreeItem } from '@/api/system/dept/service';
  import { queryWorkList, queryProportion } from '@/api/realPerData/realPerDataView';
  import { saveWorkData, SaveWorkDraft } from '@/api/perAppraisal/apiList';

  defineOptions({
    name: 'SecondLevel',
  });
  const attrs = useAttrs();

  const emits = defineEmits(['refesh']);

  const SHOW_ALL = TreeSelect.SHOW_ALL;

  const props = defineProps({
    recordInfo: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });

  const state = reactive<any>({
    BASE_URL: process.env.VUE_APP_BASE_API,
    modalVisible: false,
    treeCode: {},
    datalist: {},
    loading: false,
    infoVisible: false,
    infoHtml: '',
    rowIn: {}, //当前行信息
    dynamicForm: [
      {
        orgName: '',
        orgCode: undefined,
        ratio: '',
      },
    ],
    subLoading: false,
    baseInfo: {},
  });

  const amountState = reactive({
    Assigned: 0,
    NowAllocate: 0,
    Unallocated: 0,
    ratio: 0,
  });
  const loadTableData = async (date: null) => {
    state.loading = true;
    const params = {
      ruleCode: props.recordInfo.ruleCode,
      period: date,
    };
    const { data } = await queryWorkList(params);
    state.loading = false;
    state.baseInfo = data?.data[0];
    state.datalist = data?.data[0];
    countBonus(data?.data[0]?.bonusAllocation);
    renderData(state.datalist);
  };
  /** 回填暂存的信息 */
  const renderData = (data) => {
    //存在精度丢失问题
    amountState.ratio = parseFloat((data.bonusAllocation * 1000000) / 10000);
    state.baseInfo = { ...state.baseInfo, monthVal: data?.period };
    state.dynamicForm = data?.bonusAllocationRatios || [
      {
        orgName: '',
        orgCode: undefined,
        ratio: '',
      },
    ];
  };

  const treeDataSel = ref<TreeSelectProps['treeData']>([]);

  /**查询相关组织树选择
   *@genTreeNameItem 转换树格式,此处对接5s，转换的部门树均使用中文
   */
  const queryDept = async () => {
    const { rows } = (await getDeptAll()) as any;
    const deptTree: API.TreeDataItem[] = [];
    for (let i = 0; i < rows.children.length; i++) {
      const temp = rows.children[i];
      deptTree.push(genDeptTreeItem(temp));
    }
    treeDataSel.value = deptTree;
  };

  const chooseOrg = (_value, _label, _e, index) => {
    state.dynamicForm[index].orgName = _label[0];
  };
  const addRow = () => {
    for (let i = 0; i < state.dynamicForm.length; i++) {
      if (!state.dynamicForm[i].orgCode || !state.dynamicForm[i].ratio) {
        return message.error('存在部门和奖金比列为空！');
      }
    }
    state.dynamicForm.push({
      orgName: '',
      orgCode: undefined,
      ratio: '',
    });
  };
  const removeRow = (i) => {
    state.dynamicForm.splice(i, 1);
  };

  const baseSum = ref();

  //校验部门奖金分配
  const validateDept = () => {
    if (attrs.type == 'audit') {
      if (
        parseFloat(state.datalist?.expenditureBonus) +
          parseFloat(state.datalist.quarterBonusAllocationAmt) >
        parseFloat(state.datalist?.yearApprovedBonus)
      ) {
        throw '奖金额度超过可分配额度！';
      }
    } else {
      if (state.datalist?.performanceType !== 'PT-202023003') return;
      if (state.dynamicForm.length == 0) {
        throw '奖金分配不能为空！';
      }
      //增加部门&奖金比列空值校验
      //增加奖金比列和必须为100校验
      let sum = 0;
      for (let i = 0; i < state.dynamicForm.length; i++) {
        if (!state.dynamicForm[i].orgCode || !state.dynamicForm[i].ratio) {
          throw '部门和奖金比列不能为空！';
        }
        sum += parseFloat(state.dynamicForm[i].ratio);
      }
      if (sum !== 100) {
        throw '奖金比列和必须为100！';
      }
    }
  };
  //保存&提交的公共入参
  const comParams = () => {
    if (state.datalist.evalHandleLevel == '10') {
      state.datalist.bonusAllocationRatios = state.dynamicForm;
    }
    if (attrs.type == 'audit') {
      state.datalist = {
        ...state.datalist,
        ...baseSum.value.state.formList,
      };
    }

    return {
      ...state.datalist,
      approvalType: 'PT-202023003',
    };
  };

  // 驳回
  const rejectBtn = () => {
    saveApprove(state.datalist.evalHandleLevel == '10' ? '00' : '10');
  };
  // 保存
  const submitApproval = () => {
    try {
      validateDept();
      state.subLoading = true;
      saveApprove(state.datalist.evalHandleLevel == '10' ? '20' : '30');
    } catch (err: any) {
      return message.error(err);
    }
  };
  const saveApprove = async (level) => {
    try {
      const params = {
        ...comParams(),
        evalHandleLevel: level, //此一级填报，类型不用根据角色处理入参，默认为10
      };
      const { data } = await saveWorkData(params);
      if (data.success) {
        emits('refesh');
        message.success(data.message);
      } else {
        message.error(data.message);
      }
      state.subLoading = false;
    } catch (err: any) {
      return message.error(err);
    }
  };
  // 保存草稿
  const SaveDraft = async () => {
    const params = {
      ...comParams(),
    };
    const { data } = await SaveWorkDraft(params);
    if (data.success) {
      message.success(data.message);
    } else {
      message.error(data.message);
    }
  };
  //查询接口，获取比列，计算奖金分配金额
  const changeBonus = async (val) => {
    const params = {
      quarterBonusAllocationAmt: val.target.value,
      yearApprovedBonus: state.datalist?.yearApprovedBonus,
    };
    const { data } = await queryProportion(params);
    if (data.success) {
      amountState.ratio = (data.data * 1000000) / 10000;
    } else {
      message.error(data.message);
    }
    countBonus(val);
  };
  const countBonus = (_val) => {
    //已分配总金额
    amountState.Assigned =
      state.datalist.quarterBonusAllocationAmt + parseFloat(state.datalist?.expenditureBonus || 0);
    //剩余金额
    amountState.Unallocated =
      parseFloat(state.datalist?.yearApprovedBonus || 0) - parseFloat(amountState.Assigned);
  };
  //重置数据
  const reset = () => {
    amountState.Assigned = 0;
    amountState.Unallocated = null;
  };

  const isfullSCreen = ref<boolean>(false);
  const checkFullScreen = () => {
    isfullSCreen.value = !isfullSCreen.value;
  };

  watch(
    () => props.recordInfo,
    (_newVal, _oldVal) => {
      queryDept();
      loadTableData(null);
    },
    { immediate: true },
  );

  defineExpose({
    rejectBtn,
    submitApproval,
  });
</script>
<style lang="less" scoped>
  .part-content {
    border: 1px dashed #ccc;
    border-radius: 4px;
    padding: 8px;
    line-height: 32px;
  }
  .operate {
    display: flex;
    flex-direction: row-reverse;
  }
  /deep/.ant-descriptions-item-container .ant-descriptions-item-label {
    font-weight: bold;
    font-size: 15px;
  }
  .ant-divider-horizontal {
    margin: 8px 0 12px;
  }
</style>
