<template>
  <div class="containers">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 16 }">
        <div class="background map-height">
          <div class="ChinaMap">
            <div class="ChinaMap-title">
              <img src="../../../../styles/platformOver/标题右(1).png" alt="图片" />
              <p class="ChinaMap-text">平台累计客户数</p>
              <img src="../../../../styles/platformOver/标题右.png" alt="图片" />
            </div>
            <div class="ChinaMap-all">
              <p class="ChinaMap-p">
                <b class="ChinaMap-allnuber">{{ state.mapAll }}</b>
                <!-- <span class="ChinaMap-alltext">累计客户数</span> -->
              </p>
            </div>
            <ChinaMap :chart-map-data="state.list"></ChinaMap>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="background div-margin">
          <div class="columnar-title">
            <span>各产品客户数</span>
          </div>
          <a-row>
            <a-col v-for="(item, index) in polars.list" :key="index" :md="{ span: 12 }">
              <div class="polar-item">
                <span v-if="item.title == '易购'" class="square squarecplor1"></span>
                <span v-if="item.title == '商城'" class="square squarecplor2"></span>
                <span v-if="item.title == '零碳'" class="square squarecplor3"></span>
                <span v-if="item.title == '易销'" class="square squarecplor4"></span>
                <span v-if="item.title == '云库'" class="square squarecplor5"></span>
                <span v-if="item.title == '欧贝电子签'" class="square squarecplor6"></span>
                <p>
                  <span class="polar-title">{{ item.title }}</span>
                  <b class="polar-val">{{ item.value }}</b>
                  <span class="polar-title">家</span>
                </p>
              </div>
            </a-col>
          </a-row>
        </div>
        <div class="polar-height background div-margin">
          <div class="columnar-title">
            <span>各产品新增客户数月度趋势</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state3.char"
              :x-axis="state3.xAxis"
              :y-axis="state3.yAxis"
              :series="state3.series"
            />
          </div>
        </div>
        <div class="background div-margin">
          <div class="columnar-title">
            <span>重点客户清单</span>
          </div>
          <MergeTable
            :has-header="false"
            :data-list="state4.dataSource"
            :column-list="state4.columns"
            :scroll="{ y: 100 }"
            @cellClicked="onstate4Clicked"
          />
        </div>
        <!--        <a-row :gutter="[16, 10]">-->
        <!--          <a-col :md="{ span: 24 }">-->
        <!--            <div class="polar-style polar-height background">-->
        <!--              <div class="polar">-->
        <!--                <polar-->
        <!--                  :echardata="state.PROD_NAME"-->
        <!--                  :echarcolor="state.colorprice"-->
        <!--                  :echarnumber="state.rate"-->
        <!--                />-->
        <!--              </div>-->
        <!--              <div class="polar-right">-->
        <!--                <div v-for="(item, index) in polars.list" :key="index" class="polar-item">-->
        <!--                  <span v-if="item.title == '易购'" class="square squarecplor1"></span>-->
        <!--                  <span v-if="item.title == '商城'" class="square squarecplor2"></span>-->
        <!--                  <span v-if="item.title == '零碳'" class="square squarecplor3"></span>-->
        <!--                  <span v-if="item.title == '易销'" class="square squarecplor4"></span>-->
        <!--                  <span v-if="item.title == '云库'" class="square squarecplor5"></span>-->
        <!--                  <span v-if="item.title == '欧贝电子签'" class="square squarecplor6"></span>-->
        <!--                  <p>-->
        <!--                    <span class="polar-title">{{ item.title }}</span>-->
        <!--                    <b class="polar-val">{{ item.value }}</b>-->
        <!--                    <span class="polar-title">家</span>-->
        <!--                  </p>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </a-col>-->
        <!--        </a-row>-->
      </a-col>
    </a-row>
    <div ref="yourModal">
      <a-modal
        v-model:visible="visible"
        v-model:title="title"
        width="95%"
        :footer="null"
        style="top: 10px"
        :get-container="() => $refs.yourModal"
      >
        <MergeTable
          :has-header="false"
          :data-list="state5.dataSource"
          :column-list="state5.columns"
        />
      </a-modal>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { reactive, nextTick, ref } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../echartsAssembly';
  import overserver from './js/overserver';
  import ChinaMap from '@/components/map/ChinaMap.vue';
  import { queryAggregate, getWidget } from '@/api/strategyTracking';
  import { MergeTable } from '@/components/business';

  const state = reactive({
    list: [],
    PROD_NAME: [],
    rate: [],
    NEW_CUST_TTL: [],
    mapAll: '',
    colorprice: [
      'rgba(87, 195, 88, 1)',
      'rgb(241, 100, 199)',
      'rgba(251, 202, 0, 1)',
      'rgba(251, 106, 86, 1)',
      'rgba(90, 162, 255, 1)',
      'rgba(255, 154, 0, 1)',
    ],
  });
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const polars = reactive({
    list: [
      { title: '易购', value: '2140' },
      { title: '商城', value: '1140' },
      { title: '云库', value: '1140' },
      { title: '零碳', value: '1140' },
      { title: '易销', value: '1140' },
      { title: '欧贝电子签', value: '840' },
    ],
  });

  const IntData = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseInt(text);
      return datatext;
    }
  };

  const CustomerPolar = () => {
    queryAggregate(overserver.parameter('YM', props.yearMonth, '2023062510252531')).then((r) => {
      const dataMap = r.data[2023062510252531].dataMap;
      const data = r.data[2023062510252531].data;
      state.rate = dataMap.ANNUAL_FINISH_RATE;
      state.PROD_NAME = dataMap.PROD_NAME;
      for (let i = 0; i < data.length; i++) {
        for (let d = 0; d < data.length; d++) {
          if (polars.list[i].title == data[d][1]) {
            polars.list[i].value = IntData(data[d][2]);
          }
        }
      }
    });
  };
  const CustomerAll = () => {
    queryAggregate(overserver.parameter('YM', props.yearMonth, '2023061914240999')).then((r) => {
      const data = r.data[2023061914240999].dataMap;
      state.mapAll = IntData(data.CURYEAR_PRFM[0]);
    });
  };
  const CustomerMap = () => {
    state.list = [];
    queryAggregate(overserver.parameter('YM', props.yearMonth, '2023062510252533')).then((r) => {
      const data = r.data[2023062510252533].dataMap;
      state.list = [];
      for (let i = 0; i < data.COMPANY_REGIST_PROVINCE.length; i++) {
        state.list.push({
          name: data.COMPANY_REGIST_PROVINCE[i],
          value: parseInt(data.NEW_CUST_TTL[i]),
        });
      }
      // console.log(state.list);
    });
  };
  const state3 = reactive({
    char: [],
    xAxis: [],
    yAxis: [{ type: 'value', name: '家' }],
    series: [],
  });
  const query3 = () => {
    queryAggregate(overserver.parameter1('YM', props.yearMonth, 2023062510252532)).then(
      (result) => {
        const dataMap = result.data[2023062510252532].dataMap;
        const data = result.data[2023062510252532].data;
        const dateser = overserver.echartserver(dataMap.PROD_NAME, dataMap.YM, data, 1, 2);
        state3.series = dateser.series;
        state3.char = dateser.char;
        state3.xAxis = dateser.xAxis;
      },
    );
  };

  const state4 = reactive({
    dataSource: [],
    columns: [
      { title: '所属集团', dataIndex: 'BELONG_GROUP', key: 'BELONG_GROUP' },
      { title: '近一年走访次数', dataIndex: 'CNT', key: 'CNT' },
    ],
  });
  const query4 = async () => {
    getWidget({ widgetId: 2023091117044631 }).then((result) => {
      state4.dataSource = overserver.toTableData(result.data, '');
      // console.log(state4.dataSource);
    });
  };
  const visible = ref<boolean>(false);
  const title = ref('客户详情页');
  const onstate4Clicked = (record) => {
    query5(record.BELONG_GROUP);
    visible.value = true;
  };
  const state5 = reactive({
    dataSource: [],
    columns: [
      {
        title: '业务名称',
        dataIndex: 'BIG_ZONE_NAME',
        key: 'BIG_ZONE_NAME',
        width: '20%',
        style: {
          background: '#f5e8b9',
        },
      },
      { title: '明细', dataIndex: 'BASE_NAME', key: 'BASE_NAME', width: '33%' },
      {
        title: '业务名称',
        dataIndex: 'BIG_ZONE_NAME1',
        key: 'BIG_ZONE_NAME1',
        width: '20%',
        style: {
          background: '#f5e8b9',
        },
      },
      { title: '明细', dataIndex: 'BASE_NAME1', key: 'BASE_NAME1', width: '33%' },
    ],
  });
  const query5 = async (c) => {
    queryAggregate(overserver.parameter('BELONG_GROUP', c, '2023091209531131')).then((result) => {
      const dataMap = result.data[2023091209531131].dataMap;
      state5.dataSource = [
        {
          BIG_ZONE_NAME: '客户名称',
          BASE_NAME: dataMap.CUST_NAME[0],
          BIG_ZONE_NAME1: '一级行业分类',
          BASE_NAME1: dataMap.FIRST_INDUSTRY_CLASSIFY[0],
        },
        {
          BIG_ZONE_NAME: '客户类型',
          BASE_NAME: dataMap.CUST_TYPE[0],
          BIG_ZONE_NAME1: '合作产品',
          BASE_NAME1: dataMap.SERVICE_PROD[0],
        },
        {
          BIG_ZONE_NAME: '0级服务-区域归属',
          BASE_NAME: dataMap.ZERO_SERVICE_BELONG[0],
          BIG_ZONE_NAME1: '客户经理',
          BASE_NAME1: dataMap.CUST_MGR_NAME[0],
        },
        {
          BIG_ZONE_NAME: '销售经理-平台产品',
          BASE_NAME: dataMap.PLATFORM_PROD_SALE_MGR[0],
          BIG_ZONE_NAME1: '销售经理-商品',
          BASE_NAME1: dataMap.COMMODITY_SALE_MGR[0],
        },
        {
          BIG_ZONE_NAME: '项目经理-平台产品',
          BASE_NAME: dataMap.PLATFORM_PROD_PROJ_MGR[0],
          BIG_ZONE_NAME1: '项目经理—商品',
          BASE_NAME1: dataMap.COMMODITY_PROJ_MGR[0],
        },
        {
          BIG_ZONE_NAME: '平台服务建议及下一步计划',
          BASE_NAME: dataMap.PLATFORM_SERVICE_ADVICE_AND_NEXT_PLAN[0],
          BIG_ZONE_NAME1: '预计GMV/亿元',
          BASE_NAME1: dataMap.PREDICT_GMV[0],
        },
        {
          BIG_ZONE_NAME: '预计平台产品营收/万元',
          BASE_NAME: dataMap.PREDICT_PLATFORM_PROD_REVENUE[0],
          BIG_ZONE_NAME1: '商品服务建议及下一步计划',
          BASE_NAME1: dataMap.COMMODITY_SERVICE_ADVICE_AND_NEXT_PLAN[0],
        },
        {
          BIG_ZONE_NAME: '预计商品营收/万元',
          BASE_NAME: dataMap.PREDICT_COMMODITY_REVENUE[0],
          BIG_ZONE_NAME1: '走访客户',
          BASE_NAME1: dataMap.VISIT_CUST[0],
        },
        {
          BIG_ZONE_NAME: '走访记录内容',
          BASE_NAME: dataMap.REC_CONTENT[0],
          BIG_ZONE_NAME1: '待协调事项',
          BASE_NAME1: dataMap.WAIT_BAL_MATTER[0],
        },
        {
          BIG_ZONE_NAME: '下一步计划',
          BASE_NAME: dataMap.NEXT_PLAN[0],
          BIG_ZONE_NAME1: '走访人',
          BASE_NAME1: dataMap.CREATOR[0],
        },
        { BIG_ZONE_NAME: '走访时间', BASE_NAME: dataMap.ACT_VISIT_DATE[0] },
      ];
    });
  };

  const Customers = () => {
    nextTick(() => {
      CustomerPolar();
      query3();
      CustomerMap();
      CustomerAll();
      query4();
    });
  };

  defineExpose({
    Customers,
  });
</script>

<style lang="less" scoped>
  .containers {
    background: #fbfcff;
    width: 100%;
    margin-top: 20px;
  }
  .background {
    background: linear-gradient(180deg, #ffffff 0%, #f8faff 100%);
    box-shadow: 0px 6px 16px 0px rgba(207, 136, 13, 0.14);
    border-radius: 8px;
  }
  .map-height {
    // position: relative;
    height: 735px;
  }
  .polar-height {
    height: 366px;
  }
  .polar-style {
    display: flex;
    // justify-content: space-evenly;
  }
  .polar-right {
    margin-top: 5%;
    font-family: PingFangSC-Medium, PingFang SC;
    color: #591a1a;
  }
  .polar-title {
    font-size: 0.9vw;
    font-weight: 500;
    margin-left: 10px;
    vertical-align: middle;
  }
  .polar-item {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2% 10%;
  }
  .polar-val {
    font-size: 1.2vw;
    margin: 0px 0px 0px 10px;
    vertical-align: middle;
  }
  .polar {
    width: 60%;
    height: 360px;
  }
  .square {
    display: inline-block;
    width: 13px;
    height: 13px;
  }
  .squarecplor1 {
    background: rgba(251, 106, 86, 1);
  }
  .squarecplor2 {
    background: rgba(251, 202, 0, 1);
  }
  .squarecplor3 {
    background: rgba(87, 195, 88, 1);
  }
  .squarecplor4 {
    background: rgba(90, 162, 255, 1);
  }
  .squarecplor5 {
    background: rgba(255, 154, 0, 1);
  }
  .squarecplor6 {
    background: rgb(241, 100, 199);
  }

  .ChinaMap {
    height: 732px;
    background: #fff;
    // margin-bottom: 20px;
  }
  .ChinaMap-title {
    display: flex;
    margin: 0 0 2% 35%;
  }
  .ChinaMap-text {
    font-size: 1.3vw;
    font-family: PangMenZhengDao;
    color: #754800ff;
    line-height: 27px;
  }
  .columnar-title {
    width: 100%;
    height: 50px;
    font-size: 1.2vw;
    font-family: PangMenZhengDao;
    color: #591a1a;
    line-height: 27px;
    background-image: url(../../../../styles/platformOver/bg_title_03.png);
    background-size: 100% 50px;
    margin-bottom: 10px;
    span {
      display: inline-block;
      margin: 15px 0px 0px 20px;
    }
  }
  .ChinaMap-all {
    position: absolute;
    z-index: 2;
    width: 150px;
    top: 10%;
    left: 42%;
    font-family: PangMenZhengDao;
    color: #591a1a;
    .ChinaMap-p {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .ChinaMap-allnuber {
      font-size: 1.8vw;
    }
    .ChinaMap-alltext {
      font-size: 0.9vw;
    }
  }
  .columnar-height {
    height: 310px;
  }
  .div-margin {
    margin-bottom: 10px;
  }
  ul {
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 0px;
    height: 65px;
  }
  ul li {
    display: inline-block;
  }
  // 设置表格样式
  /deep/ .ant-table-tbody > tr > td {
    font-family: @font-family;
    color: @heading-color;
    font-size: 0.8vw;
    border: 1px solid #000000;
  }

  /deep/ .ant-table-thead > tr > th {
    font-family: @font-family;
    color: @heading-color;
    font-size: 0.8vw;
    font-weight: bold;
    background-color: rgba(251, 202, 0, 1);
    border: 1px solid #000000;
  }
  /deep/ .ant-modal {
    .ant-modal-body {
      padding: 10px;
    }

    .ant-modal-title {
      font-family: @font-family;
      font-size: 1.3vw;
      font-weight: bold;
      color: @heading-color;
    }

    .ant-table-tbody > tr > td {
      font-family: @font-family;
      color: @heading-color;
      font-size: 1.1vw;
    }

    .ant-table-thead > tr > th {
      font-family: @font-family;
      color: @heading-color;
      font-size: 1.1vw;
      background-color: rgba(251, 202, 0, 1);
      font-weight: bold;
    }
  }
</style>
