<template>
  <div class="containers">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 16 }">
        <div class="heightclass height3">
          <!-- 标题 -->
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">商城营收总览</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <!-- 仪表盘 -->
          <div class="speed-center">
            <div class="speed-left1" @click="onclick1('商城+云库营业收入')">
              <div class="speed-echar">
                <span class="speed-echar-title speedtitle-margin1">商城总营收</span>
                <SpeedGauge2
                  :echardata="state.SCAPL"
                  :echarunit="state.e03"
                  :echarcolor1="state.echarcolor1"
                />
              </div>
              <div class="speed-data2">
                <div class="speed-data-item">
                  <p class="circle-icon2">
                    <img
                      src="../../../../styles/platformOver/icon_GMV_01.png"
                      alt="图片"
                      class="icon_GMV"
                    />
                  </p>
                  <p class="speed-data3-p">
                    <span class="circle-number2"></span
                    ><b class="circle-text3">{{ state.SCcurrent }}亿元</b>
                    <span class="circle-text4">当前</span>
                  </p>
                </div>
                <div class="speed-data-item">
                  <p class="circle-icon2">
                    <img
                      src="../../../../styles/platformOver/icon_GMV_02.png"
                      alt="图片"
                      class="icon_GMV"
                    />
                  </p>
                  <p class="speed-data3-p">
                    <span class="circle-number2"></span
                    ><b class="circle-text3">{{ state.SCgoal }}亿元</b>
                    <span class="circle-text4">目标</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="speed-left2" @click="onclick1('商城业务毛利')">
              <div class="speed-echar2">
                <span class="speed-echar-title speedtitle-margin2">商城毛利</span>
                <SpeedGauge2
                  :echardata="state.grossAPL"
                  :echarunit="state.e03"
                  :echarcolor="state.echarcolor"
                  :echarcolor1="state.echarcolor2"
                />
              </div>
              <div class="speed-data3">
                <div class="speed-data-item">
                  <p class="circle-icon2">
                    <img
                      src="../../../../styles/platformOver/icon_GMV_01.png"
                      alt="图片"
                      class="icon_GMV"
                    />
                  </p>
                  <p class="speed-data3-p">
                    <span class="circle-number2">{{ state.chartcurrent }}</span
                    ><b class="circle-text3">{{ state.grosscurrent }}万元</b>
                    <span class="circle-text4">当前</span>
                  </p>
                </div>
                <div class="speed-data-item">
                  <p class="circle-icon2">
                    <img
                      src="../../../../styles/platformOver/icon_GMV_02.png"
                      alt="图片"
                      class="icon_GMV"
                    />
                  </p>
                  <p class="speed-data3-p">
                    <span class="circle-number2">{{ state.chartgoal }}</span
                    ><b class="circle-text3">{{ state.grossgoal }}万元</b>
                    <span class="circle-text4">目标</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="speed-right">
              <!-- 商城营收 -->
              <div class="first">
                <div class="first-title" @click="onclick1('商城营业收入')">
                  <div class="first-title-left">
                    <b class="first-square square-color1"></b>
                    <span class="first-text first-text-color1">商城营收</span>
                    <span class="first-text2"
                      >占比<b class="title-number title-number-color1"
                        >{{ state.storrate }}%</b
                      ></span
                    >
                  </div>
                  <div class="first-title-right">
                    <span class="right-text"
                      >当前累计<b class="title-number title-number-color1">{{
                        state.storcurrent
                      }}</b
                      ><i>亿</i></span
                    >
                    <span class="first-text2"
                      >目标<b class="title-number2">{{ state.storgoal }}</b
                      ><i>亿</i></span
                    >
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(252, 107, 87, 1)',
                      '100%': 'rgba(252, 107, 87, 1)',
                    }"
                    :percent="state.storAPL"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color1"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                </div>
                <div class="revenue-stor">
                  <div
                    v-for="(item, index) in stor.mall"
                    :key="index"
                    class="revenue-scoring"
                    @click="onclick1(item.name)"
                  >
                    <p class="revenue-title">{{ item.title }}</p>
                    <p class="scoring">
                      <ScoringRing
                        :echarcolor="'#F0C868'"
                        :echardata="item.rate"
                        :echarunit="'%'"
                      />
                    </p>
                    <div>
                      <p class="revenue-title"
                        >当前：<b class="revenue-num">{{ item.current }}</b
                        >{{ item.unit }}</p
                      >
                      <p class="revenue-title"
                        >目标：<b>{{ item.goals }}</b
                        >{{ item.unit }}</p
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- 云库营收 -->
              <div class="first second-spac">
                <div class="first-title" @click="onclick1('营业收入')">
                  <div class="first-title-left">
                    <b class="first-square square-color2"></b>
                    <span class="first-text first-text-color2">云库营收</span>
                    <span class="first-text2"
                      >占比<b class="title-number title-number-color2">{{ state.YKrate }}%</b></span
                    >
                  </div>
                  <div class="first-title-right">
                    <span class="right-text"
                      >当前累计<b class="title-number title-number-color2">{{
                        state.cloudcurrent
                      }}</b
                      ><i>万</i></span
                    >
                    <span class="first-text2"
                      >目标<b class="title-number2">{{ state.cloudgoal }}</b
                      ><i>万</i></span
                    >
                  </div>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(90, 162, 255, 1)',
                      '100%': 'rgba(69, 115, 230, 1)',
                    }"
                    :percent="state.cloudAPL"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color2"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <!-- 图表 -->
      <a-col :md="{ span: 8 }">
        <div class="heightclass height3">
          <div class="columnar-title">
            <span>{{ gmvclick.ongmvclick1 }}月度趋势</span>
          </div>
          <div class="columnar-height2">
            <StackedColumnFoldMixedChart
              :legendone="state1.chart"
              :x-axis="state1.xAxis"
              :y-axis="state1.yAxis"
              :series="state1.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass">
          <div class="columnar-title">
            <span>各部门{{ gmvclick.ongmvclick1 }}本年完成情况</span>
          </div>
          <div class="columnar-height">
            <StackedVerticalChart
              :legendone="state2.char"
              :x-axis="state2.xAxis"
              :y-axis="state2.yAxis"
              :series="state2.series"
              @chartClick="state2onclick"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass">
          <div class="columnar-title">
            <span>{{ gmvclick.ongmvclick1 }}各部门月度趋势</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state3.char"
              :x-axis="state3.xAxis"
              :y-axis="state3.yAxis"
              :series="state3.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass">
          <div class="columnar-title">
            <span>{{ gmvclick.ongmvclick1 }}目标及完成率——{{ gmvclick.DEPT_NAME }}</span>
          </div>
          <div class="columnar-height">
            <div class="columnar-height">
              <StackedColumnFoldMixedChart
                :legendone="state4.chart"
                :x-axis="state4.xAxis"
                :y-axis="state4.yAxis"
                :series="state4.series"
              />
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, nextTick, defineExpose } from 'vue';
  import {
    SpeedGauge2,
    ScoringRing,
    StackedColumnFoldMixedChart,
    StackedVerticalChart,
  } from '../../echartsAssembly';
  import overserver from './js/overserver';
  import echartoption from './js/echartoption';
  import { queryAggregate } from '@/api/strategyTracking';
  const state = reactive({
    e02: '78',
    e03: '%',
    echarcolor1: [
      [0.5, '#FC6B57FF'],
      [1, '#5AA2FFFF'],
    ],
    echarcolor: '#FF9A00FF',
    echarcolor2: [
      [0.5, '#FF9A00FF'],
      [1, '#FF9A00FF'],
    ],
    chartrate: '28',
    chartcurrent: '',
    chartgoal: '',
    SCAPL: '', //商城总营收完成率
    grossAPL: '', //商城营收完成率
    storAPL: '', //云库营收完成率
    cloudAPL: '', //毛利率完成率
    SCcurrent: '', //商城总营收当前
    SCgoal: '', //商城总营收目标
    grosscurrent: '', //毛利率当前
    grossgoal: '', //毛利率下目标
    storcurrent: '', //商城营收累计
    storgoal: '', //商城营收目标
    cloudcurrent: '', //云库营收累计
    cloudgoal: '', //云库营收目标
    storrate: '',
    YKrate: '',
  });
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  //保留一位有效小数
  const Xiaoshu1 = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(1);
      return datatext;
    }
  };
  const IntData = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseInt(text);
      return datatext;
    }
  };
  const gmvclick = reactive({
    ongmvclick: '商城+云库营业收入',
    ongmvclick1: '商城+云库营业收入',
    DEPT_NAME: '',
  });
  // 商城营收
  const stor = reactive({
    mall: [
      {
        title: 'PSCS商城化采购额',
        goals: 0,
        current: 0,
        rate: 0,
        unit: '亿',
        name: 'PSCS商城化采购额',
      },
      {
        title: '多元+社会',
        goals: 0,
        current: 0,
        rate: 0,
        unit: '亿',
        name: '多元产业、社会客户商城营业收入',
      },
      {
        title: '社会客户',
        goals: 0,
        current: 0,
        rate: 0,
        unit: '亿',
        name: '社会客户商城营业收入',
      },
      {
        title: '非大宗商城点选营收',
        goals: 0,
        current: 0,
        rate: 0,
        unit: '亿',
        name: '非大宗品类点选营收',
      },
    ],
  });

  // 仪表盘接口 2023062017254901

  const storChart = () => {
    queryAggregate(overserver.parameter('YM', props.yearMonth, '2023062017254901')).then((r) => {
      nextTick(() => {
        const data = r.data[2023062017254901].dataMap.result_json[0];
        const unescapedStr = data.replace(/\\/g, '');
        const newData = JSON.parse(unescapedStr);
        newData.forEach((item, index) => {
          if (item.PROD_TARGET_PROJ == '商城 + 云库营业收入') {
            state.SCAPL = item.CAPL;
            state.SCcurrent = overserver.MonText1(item.CURYEAR_PRFM);
            state.SCgoal = overserver.MonText1(item.CURYEAR_TARGET);
          } else if (item.PROD_TARGET_PROJ == '商城业务毛利') {
            state.grossAPL = item.CAPL;
            state.grosscurrent = IntData(item.CURYEAR_PRFM);
            state.grossgoal = IntData(item.CURYEAR_TARGET);
          } else if (item.PROD_TARGET_PROJ == '商城营业收入') {
            state.storAPL = Xiaoshu1(item.CAPL);
            state.storcurrent = overserver.MonText1(item.CURYEAR_PRFM);
            state.storgoal = overserver.MonText1(item.CURYEAR_TARGET);
          } else if (item.PROD_TARGET_PROJ == '营业收入') {
            state.cloudAPL = Xiaoshu1(item.CAPL);
            state.cloudcurrent = IntData(item.CURYEAR_PRFM);
            state.cloudgoal = IntData(item.CURYEAR_TARGET);
          } else if (index == 0 || index == 1 || index == 2) {
            if (index == 2) {
              stor.mall[3].goals = overserver.MonText1(item.CURYEAR_TARGET);
              stor.mall[3].current = overserver.MonText1(item.CURYEAR_PRFM);
              stor.mall[3].rate = Xiaoshu1(item.CAPL);
            } else {
              stor.mall[index].goals = overserver.MonText1(item.CURYEAR_TARGET);
              stor.mall[index].current = overserver.MonText1(item.CURYEAR_PRFM);
              stor.mall[index].rate = Xiaoshu1(item.CAPL);
            }
          } else {
            stor.mall[2].goals = overserver.MonText1(item.CURYEAR_TARGET);
            stor.mall[2].current = overserver.MonText1(item.CURYEAR_PRFM);
            stor.mall[2].rate = Xiaoshu1(item.CAPL);
          }
        });
      });
    });
  };
  // 易购营收item
  const storrateYK = () => {
    queryAggregate(overserver.parameter('YM', props.yearMonth, '2023070311180001')).then((r) => {
      const data = r.data[2023070311180001].dataMap;
      state.storrate = Xiaoshu1(data.SCZB[0]);
      state.YKrate = Xiaoshu1(data.YKZB[0]);
    });
  };

  const state1 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  const query1 = () => {
    queryAggregate(
      overserver.parameter3(
        'YM',
        props.yearMonth,
        2023062017254902,
        'PROD_TARGET_PROJ',
        gmvclick.ongmvclick,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062017254902].dataMap;
      state1.xAxis = dataMap.YM;
      state1.yAxis[0].name = `${dataMap.UNIT[0]}元`;
      state1.series = echartoption.echarts(
        dataMap.CURMONTH_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };

  const state2 = reactive({
    char: ['目标', '当前', '进度目标'],
    xAxis: [{ type: 'value', name: '万元' }],
    yAxis: [],
    series: [],
  });
  const query2 = () => {
    queryAggregate(
      overserver.parameter2(
        'YM',
        props.yearMonth,
        2023062017254904,
        'PROD_TARGET_PROJ',
        gmvclick.ongmvclick,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062017254904].dataMap;
      state2.yAxis = dataMap.DEPT_ABBR;
      state2.xAxis[0].name = `${dataMap.UNIT[0]}元`;
      state2.series = echartoption.echarts01(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE,
        dataMap.CURYEAR_PRFM,
        dataMap.ANNUAL_FINISH_RATE,
        dataMap.CURYEAR_TARGET,
        dataMap.CURYEAR_CPLTRATE,
      );
      gmvclick.DEPT_NAME = dataMap.DEPT_ABBR[0];
      query4();
    });
  };

  const state4 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  const query4 = () => {
    queryAggregate(
      overserver.parameter4(
        'YM',
        props.yearMonth,
        2023062017254905,
        'PROD_TARGET_PROJ',
        gmvclick.ongmvclick,
        'DEPT_ABBR',
        gmvclick.DEPT_NAME,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062017254905].dataMap;
      state4.xAxis = dataMap.YM;
      state4.yAxis[0].name = `${dataMap.UNIT[0]}元`;
      state4.series = echartoption.echarts02(
        dataMap.CURMONTH_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };
  const state3 = reactive({
    char: [],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }],
    series: [],
  });
  const query3 = () => {
    queryAggregate(
      overserver.parameter3(
        'YM',
        props.yearMonth,
        2023062017254905,
        'PROD_TARGET_PROJ',
        gmvclick.ongmvclick,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062017254905].dataMap;
      state3.yAxis[0].name = `${dataMap.UNIT[0]}元`;
      const data = result.data[2023062017254905].data;
      const dateser = overserver.echartserver(dataMap.DEPT_ABBR, dataMap.YM, data, 4, 5);
      state3.series = dateser.series;
      state3.char = dateser.char;
      state3.xAxis = dateser.xAxis;
    });
  };

  // 点击事件
  const onclick1 = (PROD_TARGET_PROJ) => {
    gmvclick.ongmvclick = PROD_TARGET_PROJ;
    if (PROD_TARGET_PROJ == '多元产业、社会客户商城营业收入') {
      gmvclick.ongmvclick1 = '集采外';
    } else if (PROD_TARGET_PROJ == '营业收入') {
      gmvclick.ongmvclick1 = '云库营收';
    } else {
      gmvclick.ongmvclick1 = PROD_TARGET_PROJ;
    }
    query1();
    query2();
    query3();
  };

  const state2onclick = (params) => {
    gmvclick.DEPT_NAME = params.name;
    query4();
  };
  const MallRevenues = () => {
    nextTick(() => {
      storChart();
      storrateYK();
      query1();
      query2();
      query3();
    });
  };

  defineExpose({
    MallRevenues,
  });
</script>

<style lang="less" scoped>
  @import '../components/css/overstyle.less';

  .speed-left2 {
    position: absolute;
    width: 15%;
    top: 30%;
    left: 25%;
    .speed-echar2 {
      height: 190px;
      width: 100%;
    }
  }
  .speed-left1 {
    width: 25%;
    .speed-echar2 {
      height: 290px;
      width: 100%;
    }
  }
  .speed-echar-title {
    display: inline-block;
    font-size: 0.9vw;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #591a1a;
    line-height: 25px;
  }
  .speedtitle-margin1 {
    position: relative;
    top: -5%;
    left: 35%;
  }
  .speedtitle-margin2 {
    position: relative;
    top: -5%;
    left: 25%;
  }
  .speed-data2 {
    width: 85%;
    display: flex;
    justify-content: space-between;
    // margin-top: -25px;
    // margin-left: 25px;
  }
  .speed-data-item {
    display: flex;
  }
  .speed-data3 {
    width: 120%;
    display: flex;
    justify-content: space-between;
    margin: 9% 0 0 -5%;
  }
  .speed-data3-p {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  .circle-icon2 {
    width: 40px;
    height: 40px;
    text-align: center;
    background: rgba(251, 202, 0, 0.2);
    border-radius: 50%;
    .icon_GMV {
      width: 24px;
      height: 24px;
      position: relative;
      top: 20%;
      left: 15%;
    }
  }
  .circle-number2 {
    font-size: 1vw;
    font-family: Bahnschrift_SemiBold;
    color: #754800;
  }
  .circle-text3 {
    font-size: 0.6vw;
  }
  .circle-text4 {
    font-size: 0.6vw;
  }
  .scoring {
    width: 200px;
    height: 100px;
  }

  .revenue-stor {
    display: flex;
    justify-content: space-between;
  }
  .revenue-scoring {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; //鼠标变手
  }
  .revenue-title {
    font-size: 0.7vw;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #9f6060;
  }
  .revenue-num {
    color: #fc6b57;
  }
  .columnar-height2 {
    height: 350px;
  }

  .height3 {
    height: 410px;
  }
</style>
