<template>
  <div class="initialclass">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 8 }">
        <div class="heightclass height-div">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">平台累计会员数</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="height-div1">
            <SpeedGauge2
              :echardata="state.ANNUAL_FINISH_RATE"
              :echarcolor1="state.echartcolor"
              :echarunit="state.e03"
            />
          </div>
          <div class="height-div2 devdome">
            <div class="devdome-1-div">
              <p class="circle-icon">
                <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
              </p>
              &nbsp;&nbsp;
              <p>
                <span class="circle-number">{{ state.CURYEAR_TOTAL_PLATFORM_MEMBER_NUM }}</span>
                <b class="circle-text1">万家</b>
                <span class="circle-text2">当前</span>
              </p>
            </div>
            <div class="devdome-1-div">
              <p class="circle-icon">
                <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
              </p>
              &nbsp;&nbsp;
              <p>
                <span class="circle-number">{{ state.CURYEAR_ANNUAL_TARGET_VALUE }}</span>
                <b class="circle-text1">万家</b>
                <span class="circle-text2">目标</span>
              </p>
            </div>
          </div>
          <div class="height-div2 devdome">
            <div class="devdome-1-div">
              <p class="circle-icon1">
                <img src="../../../../styles/platformOver/企业.png" class="icon_GMV" />
              </p>
              &nbsp;&nbsp;
              <p>
                <span class="circle-number">{{ state.CURYEAR_TOTAL_ENTERPRISE_MEMBER_NUM }}</span>
                <b class="circle-text1">万家</b>
                <span class="circle-text2">其中企业会员数</span>
              </p>
            </div>
            <div class="devdome-1-div">
              <p class="circle-icon2">
                <img src="../../../../styles/platformOver/个人.png" class="icon_GMV" />
              </p>
              &nbsp;&nbsp;
              <p>
                <span class="circle-number">{{ state.CURYEAR_TOTAL_PRIVATE_MEMBER_NUM }}</span>
                <b class="circle-text1">万个</b>
                <span class="circle-text2">其中个人会员数</span>
              </p>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 16 }">
        <div class="heightclass height-div">
          <div class="columnar-title">
            <span style="margin-left: 40px">平台会员月度新增趋势图</span>
          </div>
          <div class="echar-height">
            <StackedColumnFoldMixedChart
              :legendone="state1.char"
              :x-axis="state1.xAxis"
              :y-axis="state1.yAxis"
              :series="state1.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive } from 'vue';
  import { SpeedGauge2, StackedColumnFoldMixedChart } from '../../echartsAssembly';
  import overserver from './js/overserver';
  import echartoption from './js/echartoption';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const menberInitialloading = () => {
    nextTick(() => {
      query();
      query1();
    });
  };

  defineExpose({
    menberInitialloading,
  });

  const state = reactive({
    e03: '%',
    echartcolor: [
      [0.5, '#FF7400'],
      [1, '#5AA2FFFF'],
    ],
    ANNUAL_FINISH_RATE: 0,
    CURYEAR_ANNUAL_TARGET_VALUE: 0,
    CURYEAR_TOTAL_PLATFORM_MEMBER_NUM: 0,
    CURYEAR_TOTAL_ENTERPRISE_MEMBER_NUM: 0,
    CURYEAR_TOTAL_PRIVATE_MEMBER_NUM: 0,
  });
  const query = () => {
    queryAggregate(overserver.parameter('YM', props.yearmonth, 202306261750001)).then((result) => {
      const dataMap = result.data[202306261750001].dataMap;
      state.ANNUAL_FINISH_RATE = dataMap.ANNUAL_FINISH_RATE[0];
      state.CURYEAR_ANNUAL_TARGET_VALUE = overserver.MonText1(
        dataMap.CURYEAR_ANNUAL_TARGET_VALUE[0],
      );
      state.CURYEAR_TOTAL_PLATFORM_MEMBER_NUM = overserver.MonText1(
        dataMap.CURYEAR_TOTAL_PLATFORM_MEMBER_NUM[0],
      );
      state.CURYEAR_TOTAL_ENTERPRISE_MEMBER_NUM = overserver.MonText1(
        dataMap.CURYEAR_TOTAL_ENTERPRISE_MEMBER_NUM[0],
      );
      state.CURYEAR_TOTAL_PRIVATE_MEMBER_NUM = overserver.MonText1(
        dataMap.CURYEAR_TOTAL_PRIVATE_MEMBER_NUM[0],
      );
    });
  };

  const state1 = reactive({
    char: ['企业会员数', '个人会员数'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '家' }],
    series: [],
  });
  const query1 = () => {
    queryAggregate(overserver.parameter1('YM', props.yearmonth, 202306261750002)).then((result) => {
      const dataMap = result.data[202306261750002].dataMap;
      state1.xAxis = dataMap.YM;
      state1.series = echartoption.echarts03(
        dataMap.CURMONTH_NEWCREATED_ENTERPRISE_MEMBER_NUM,
        dataMap.CURMONTH_NEWCREATED_PRIVATE_MEMBER_NUM,
      );
    });
  };
</script>

<style lang="less" scoped>
  @import '../components/css/overstyle.less';
  .height-div {
    height: 570px;
  }
  .height-div1 {
    margin: 20px 0px 0px 0px;
    height: 350px;
  }
  .height-div2 {
    margin: -10px 0px 40px 0px;
    height: 50px;
  }

  // 弹性布局
  .devdome {
    display: flex;
    justify-content: space-between;
  }
  .devdome-1-div {
    width: 50%;
    height: 50px;
    display: flex;
    margin-left: 10%;
  }
  .circle-icon1 {
    width: 50px;
    height: 50px;
    text-align: center;
    background: @golden-1;
    border-radius: 50%;
    .icon_GMV {
      position: relative;
      top: 20%;
      left: 20%;
    }
  }
  .circle-icon2 {
    width: 50px;
    height: 50px;
    text-align: center;
    background: @blue-2;
    border-radius: 50%;
    .icon_GMV {
      position: relative;
      top: 20%;
      left: 20%;
    }
  }
  .echar-height {
    height: 500px;
  }
</style>
