<template>
  <div class="containers">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 10 }">
        <div class="heightclass div-height">
          <!-- 标题 -->
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">SKU总览</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <!-- 仪表盘 -->
          <div class="speed-center speed-height">
            <div class="speed-left" @click="onclick1('本年')">
              <div class="echart-style">
                <PieDoughnut :echardata="state.CURMONTH_PRFM_SUM" />
              </div>
              <p class="font-style">
                有价格的SKU数量：{{ state6.have_price_sku }} {{ state6.unit }}
              </p>
            </div>
            <div class="speed-right speed-right-margin">
              <!-- 商城 -->
              <div class="first">
                <div class="first-title">
                  <div class="first-title-left" @click="onclick1('商城')">
                    <b class="first-square square-color1"></b>
                    <span class="first-text first-text-color1">商城</span>
                    <span class="first-text2"
                      >占比<b class="title-number title-number-color1">{{ state.ZB_SC }}%</b></span
                    >
                  </div>
                </div>
                <div>
                  <p class="first-title-div2-p">
                    当前累计
                    <b class="first-title-div2-p-span title-number-color1">
                      {{ state.CURYEAR_PRFM_SC }} </b
                    >万个 &nbsp;&nbsp;&nbsp; 目标
                    <b class="first-title-div2-p-span title-number2">
                      {{ state.CURYEAR_ANNUAL_TARGET_VALUE_SC }} </b
                    >万个
                  </p>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(252, 107, 87, 1)',
                      '100%': 'rgba(222, 41, 41, 1)',
                    }"
                    :percent="state.RATE_SC"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color1"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                </div>
              </div>
              <!-- 云库 -->
              <div class="first">
                <div class="first-title">
                  <div class="first-title-left" @click="onclick1('云库')">
                    <b class="first-square square-color2"></b>
                    <span class="first-text first-text-color2">云库</span>
                    <span class="first-text2"
                      >占比<b class="title-number title-number-color2">{{ state.ZB_YK }}%</b></span
                    >
                  </div>
                </div>
                <div>
                  <p class="first-title-div2-p">
                    当前累计
                    <b class="first-title-div2-p-span title-number-color2">
                      {{ state.CURYEAR_PRFM_YK }} </b
                    >万个 &nbsp;&nbsp;&nbsp; 目标
                    <b class="first-title-div2-p-span title-number2">
                      {{ state.CURYEAR_ANNUAL_TARGET_VALUE_YK }} </b
                    >万个
                  </p>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(90, 162, 255, 1)',
                      '100%': 'rgba(69, 115, 230, 1)',
                    }"
                    :percent="state.RATE_YK"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color2"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                </div>
              </div>
              <!-- 易销 -->
              <div class="first">
                <div class="first-title">
                  <div class="first-title-left" @click="onclick1('易销')">
                    <b class="first-square square-color3"></b>
                    <span class="first-text first-text-color3">易销</span>
                    <span class="first-text2"
                      >占比<b class="title-number title-number-color3">{{ state.ZB_YX }}%</b></span
                    >
                  </div>
                </div>
                <div>
                  <p class="first-title-div2-p">
                    当前累计
                    <b class="first-title-div2-p-span title-number-color3">
                      {{ state.CURYEAR_PRFM_YX }} </b
                    >万个 &nbsp;&nbsp;&nbsp; 目标
                    <b class="first-title-div2-p-span title-number2">
                      {{ state.CURYEAR_ANNUAL_TARGET_VALUE_YX }} </b
                    >万个
                  </p>
                </div>
                <div class="first-item">
                  <a-progress
                    :stroke-color="{
                      '0%': 'rgba(96, 199, 88, 1)',
                      '100%': 'rgba(36, 171, 85, 1)',
                    }"
                    :percent="state.RATE_YX"
                    class="first-progress"
                  >
                    <template #format="percent">
                      <span class="progress-span span-color3"
                        ><i class="progress-percent">完成率</i>{{ percent }}%</span
                      >
                    </template>
                  </a-progress>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 7 }">
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>本年新增SKU月度趋势</span>
          </div>
          <div class="columnar-height2">
            <StackedColumnFoldMixedChart
              :legendone="state1.chart"
              :x-axis="state1.xAxis"
              :y-axis="state1.yAxis"
              :series="state1.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 7 }">
        <div class="heightclass div-height">
          <div class="columnar-title">
            <span>累计SKU月度趋势</span>
          </div>
          <div class="columnar-height2">
            <StackedColumnFoldMixedChart
              :legendone="state2.chart"
              :x-axis="state2.xAxis"
              :y-axis="state2.yAxis"
              :series="state2.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass">
          <div class="columnar-title">
            <span>{{ skuclick.onskuclick }}新增SKU各部门本年完成情况</span>
          </div>
          <div class="columnar-height">
            <StackedVerticalChart
              :legendone="state3.char"
              :x-axis="state3.xAxis"
              :y-axis="state3.yAxis"
              :series="state3.series"
              @chartClick="state3onclick"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass">
          <div class="columnar-title">
            <span>{{ skuclick.onskuclick }}新增SKU各部门月度趋势</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state4.char"
              :x-axis="state4.xAxis"
              :y-axis="state4.yAxis"
              :series="state4.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass">
          <div class="columnar-title">
            <span>{{ skuclick.onskuclick }}新增SKU目标及完成率——{{ skuclick.DEPT_NAME }}</span>
          </div>
          <div class="columnar-height">
            <StackedColumnFoldMixedChart
              :legendone="state5.char"
              :x-axis="state5.xAxis"
              :y-axis="state5.yAxis"
              :series="state5.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, nextTick } from 'vue';
  import {
    PieDoughnut,
    StackedColumnFoldMixedChart,
    StackedVerticalChart,
  } from '../../echartsAssembly';
  import echartoption from './js/echartoption';
  import overserver from './js/overserver';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const skuclick = reactive({
    onskuclick: '本年',
    DEPT_NAME: '',
  });

  const state = reactive({
    CURMONTH_PRFM_SUM: 0, // 累计SKU
    CURYEAR_PRFM_SC: 0, // 商城当前累计
    CURYEAR_ANNUAL_TARGET_VALUE_SC: 0, // 商城目标
    RATE_SC: 0, // 商城完成率
    CURYEAR_PRFM_YX: 0, // 易销当前累计
    CURYEAR_ANNUAL_TARGET_VALUE_YX: 0, // 易销目标
    RATE_YX: 0, // 易销完成率
    CURYEAR_PRFM_YK: 0, // 云库当前累计
    CURYEAR_ANNUAL_TARGET_VALUE_YK: 0, // 云库目标
    RATE_YK: 0, // 云库完成率
    ZB_SC: 0, //  商城
    ZB_YK: 0, // 云库
    ZB_YX: 0, // 易销
  });
  const query = () => {
    queryAggregate(overserver.parameter('YM', props.yearMonth, '2023062418442099')).then((r) => {
      const data = r.data[2023062418442099].dataMap;
      state.CURMONTH_PRFM_SUM = overserver.MonText(data.CURMONTH_PRFM_SUM[0]);
      state.CURYEAR_PRFM_SC = overserver.MonText(data.CURYEAR_PRFM_SC[0]);
      state.CURYEAR_ANNUAL_TARGET_VALUE_SC = overserver.MonText(
        data.CURYEAR_ANNUAL_TARGET_VALUE_SC[0],
      );
      state.RATE_SC = overserver.XiaoText(data.RATE_SC[0]);
      state.CURYEAR_PRFM_YX = overserver.MonText(data.CURYEAR_PRFM_YX[0]);
      state.CURYEAR_ANNUAL_TARGET_VALUE_YX = overserver.MonText(
        data.CURYEAR_ANNUAL_TARGET_VALUE_YX[0],
      );
      state.RATE_YX = overserver.XiaoText(data.RATE_YX[0]);
      state.CURYEAR_PRFM_YK = overserver.MonText(data.CURYEAR_PRFM_YK[0]);
      state.CURYEAR_ANNUAL_TARGET_VALUE_YK = overserver.MonText(
        data.CURYEAR_ANNUAL_TARGET_VALUE_YK[0],
      );
      state.RATE_YK = overserver.XiaoText(data.RATE_YK[0]);
      state.ZB_SC = overserver.XiaoText(data.ZB_SC[0]);
      state.ZB_YK = overserver.XiaoText(data.ZB_YK[0]);
      state.ZB_YX = overserver.XiaoText(data.ZB_YX[0]);
    });
  };

  const state1 = reactive({
    chart: ['商城本年新增SKU', '云库本年新增SKU', '易销本年新增SKU'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万个' }],
    series: [],
  });
  const query1 = () => {
    queryAggregate(overserver.parameter1('YM', props.yearMonth, 2023062419025399)).then(
      (result) => {
        const dataMap = result.data[2023062419025399].dataMap;
        state1.xAxis = dataMap.YM;
        state1.series = echartoption.echarts04(
          dataMap.CURYEAR_PRFM_SC,
          dataMap.CURYEAR_PRFM_YK,
          dataMap.CURYEAR_PRFM_YX,
        );
      },
    );
  };

  const state2 = reactive({
    chart: ['累计SKU', '商城', '云库', '易销'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万个' }],
    series: [],
  });
  const query2 = () => {
    queryAggregate(overserver.parameter1('YM', props.yearMonth, 2023062419105399)).then(
      (result) => {
        const dataMap = result.data[2023062419105399].dataMap;
        state2.xAxis = dataMap.YM;
        state2.series = echartoption.echarts05(
          dataMap.CURYEAR_PRFM_SUM,
          dataMap.CURYEAR_PRFM_SC,
          dataMap.CURYEAR_PRFM_YK,
          dataMap.CURYEAR_PRFM_YX,
        );
      },
    );
  };

  const state3 = reactive({
    char: ['目标', '当前'],
    xAxis: [{ type: 'value', name: '万个' }],
    yAxis: [],
    series: [],
  });
  const query3 = () => {
    queryAggregate(
      overserver.parameter2(
        'YM',
        props.yearMonth,
        2023062509041499,
        'PROD_NAME',
        skuclick.onskuclick,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062509041499].dataMap;
      state3.yAxis = dataMap.DEPT_NAME;
      state3.series = echartoption.echarts01(
        dataMap.CURYEAR_TARGET,
        dataMap.CURYEAR_PRFM,
        dataMap.ANNUAL_FINISH_RATE,
      );
      skuclick.DEPT_NAME = dataMap.DEPT_NAME[0];
      query5();
    });
  };

  const state4 = reactive({
    char: [],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万个' }],
    series: [],
  });
  const query4 = () => {
    queryAggregate(
      overserver.parameter3(
        'YM',
        props.yearMonth,
        2023062509303899,
        'PROD_NAME',
        skuclick.onskuclick,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062509303899].dataMap;
      const data = result.data[2023062509303899].data;
      const dateser = overserver.echartserver(dataMap.DEPT_NAME, dataMap.YM, data, 2, 3);
      state4.series = dateser.series;
      state4.char = dateser.char;
      state4.xAxis = dateser.xAxis;
    });
  };

  const state5 = reactive({
    char: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万个' }, { name: '%' }],
    series: [],
  });
  const query5 = () => {
    queryAggregate(
      overserver.parameter4(
        'YM',
        props.yearMonth,
        2023062509413899,
        'PROD_NAME',
        skuclick.onskuclick,
        'DEPT_NAME',
        skuclick.DEPT_NAME,
      ),
    ).then((result) => {
      const dataMap = result.data[2023062509413899].dataMap;
      state5.xAxis = dataMap.YM;
      state5.series = echartoption.echarts02(
        dataMap.CURMONTH_TARGET,
        dataMap.CURMONTH_PRFM,
        dataMap.CURMONTH_CPLTRATE,
      );
    });
  };

  const state6 = reactive({
    have_price_sku: 0,
    unit: '',
  });
  const query6 = () => {
    queryAggregate(overserver.parameter('YM', props.yearMonth, 2023091216090000)).then((result) => {
      const dataMap = result.data[2023091216090000].dataMap;
      state6.have_price_sku = overserver.MonText1(dataMap.have_price_sku[0]);
      state6.unit = dataMap.unit[0];
    });
  };

  // 点击事件
  const onclick1 = (PROD_TARGET_PROJ) => {
    skuclick.onskuclick = PROD_TARGET_PROJ;
    query3();
    query4();
  };
  const state3onclick = (params) => {
    skuclick.DEPT_NAME = params.name;
    query5();
  };

  const MallRevenues = () => {
    nextTick(() => {
      query();
      query1();
      query2();
      query3();
      query4();
      query6();
    });
  };

  defineExpose({
    MallRevenues,
  });
</script>

<style lang="less" scoped>
  @import '../components/css/overstyle.less';
  .columnar-height2 {
    height: 375px;
  }

  .speed-title1 {
    display: flex;
    margin: 0px 0 2% 25%;
  }
  .speed-height {
    height: 385px;
  }
  .speed-relative {
    position: relative;
  }
  .speed-right-margin {
    margin-top: 2%;
  }
  /deep/.ant-progress-text {
    margin-right: 10px;
  }
  .div-height {
    height: 425px;
  }
  .echart-style {
    height: 320px;
  }
  .font-style {
    font-size: 1vw;
    text-align: center;
  }
</style>
