<!-- tips：看板预览，路由携带看板id便可以展示看板或者props传入看板id也可以 -->
<template>
  <div class="dataPreview"
    ><grid-layout
      ref="gridlayout"
      v-model:layout="state.kanbanData"
      :col-num="12"
      :row-height="30"
      :is-draggable="false"
      :is-resizable="false"
      :vertical-compact="true"
      :use-css-transforms="false"
      style="width: 100%"
    >
      <grid-item
        v-for="(item, index) in state.kanbanData"
        :key="index"
        class="move-item"
        :x="item.x"
        :y="item.y"
        :w="item.w"
        :h="item.h"
        :i="item.widgetId"
      >
        <ChartsView :widget-id="item.widgetId" class="chartsView" :relations="item.relations">
        </ChartsView>
      </grid-item>
    </grid-layout>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive } from 'vue';
  import { useRoute } from 'vue-router';
  import ChartsView from './Index.vue';
  import { getBoardData } from '@/api/userAnalyze/kanbanConfig'; // api 接口
  defineOptions({ name: 'dataPreview' });
  onMounted(() => {
    queryBoard();
  });
  const state = reactive({ kanbanData: [] as any });
  const props = defineProps(['boardId']);
  const $route = useRoute();
  const queryBoard = async () => {
    if ($route.query.boardId || props.boardId) {
      const data = await getBoardData({ boardId: $route.query.boardId || props.boardId });
      // 调用完看板配置信息后再调用获取列表，保持数据同步
      if (data.code === 'OK' && data.data) {
        state.kanbanData =
          data?.data?.layout?.widgets.map((item) => {
            // 王朗：实属无用，为了保证旧版数据
            return { ...item, i: item.widgetId };
          }) || [];
      }
    }
  };
</script>

<style lang="less" scoped>
  .dataPreview {
    width: 100%;
    height: 100%;
    background: #fff;
    .chartsView {
      box-shadow: 0px 0px 3px 3px #dfdfdf;
      border-radius: 4px;
    }
  }
</style>
