<template>
  <div ref="dbCheck" class="dbCheck">
    <a-menu>
      <a-menu-item
        v-for="(item, index) in state.list"
        :key="item.key"
        @click="cliItem(item, index)"
      >
        {{ item.sourceName }}
      </a-menu-item>
    </a-menu>
  </div>
</template>

<script setup lang="ts">
  import { ref, watch, reactive, onBeforeMount } from 'vue';
  import { message as $message } from 'ant-design-vue';
  defineOptions({
    name: 'dbCheck',
  });
  const dbCheck: any = ref();
  const props = defineProps(['dbData', 'chartConfig', 'config']);
  const emit = defineEmits(['query']);
  const state = reactive({
    list: [] as any,
    config: props.config,
    dbData: props.dbData,
    chartConfig: props.chartConfig,
  });
  const dataPotion = (el) => {
    dbCheck.value.style.display = 'block';
    // const offDomH = el.target.offsetParent.clientHeight;
    const y = el.y;
    // if (offDomH / 2 < el.zrY) {
    //   y = el.zrY - dbCheck.value.clientHeight;
    // }
    dbCheck.value.style.top = `${y}px`;
    dbCheck.value.style.left = `${el.x}px`;
    document.addEventListener('click', () => {
      if (dbCheck?.value?.style) {
        dbCheck.value.style.display = 'none';
      }
    });
  };
  defineExpose({ dataPotion });
  const positionChange = (item) => {
    state.config.option.rinIn.children.forEach((lItem) => {
      if (lItem.key == item.key) {
        lItem.check = true;
      } else {
        lItem.check = false;
      }
    });
  };
  // 获取数据
  const queryChartData = async () => {
    // 绑定filter数据
    state.config.filters = state.config.option.filters;
    state.chartConfig.data = state.config;

    await emit('query', state.chartConfig);
  };
  const cliItem = async (item, index) => {
    const beforeData = {} as any; // 之前的数据
    state.config.option?.rinIn?.children.forEach((item, index) => {
      if (item.check) {
        beforeData.item = item;
        beforeData.index = index;
      }
    });
    const content =
      props.dbData.filters.ext.dataMap[beforeData.item.name][props.dbData.filters.index]; // 点击的内容 过滤内容

    // 上卷
    if (beforeData.index > index) {
      await rollUp(index, beforeData.index);
    } else if (beforeData.index < index) {
      // 下钻
      if (!content) {
        $message.error('数据为空,不允许下钻');
        return;
      }
      await rihIn(index, beforeData, item, content);
    } else if (beforeData.index === index) {
      // 原位置
      if (!content) {
        $message.error('数据为空,不允许下钻');
        return;
      }
      await original(index, beforeData, item, content);
    }
    await positionChange(item);
    await rowsConfig(beforeData.item); // 修改目录数据
    await queryChartData();
  };
  // 上卷
  const rollUp = (index, bIndex) => {
    state.config.option.filters.splice(index, bIndex - index + 1);
  };
  // 下钻
  const rihIn = (index, beforeData, item, content) => {
    // const filterList = state.config.option.filters;
    const newFilters = [
      {
        columnName: beforeData.item.name,
        columnCName: beforeData.item.sourceName,
        values: [content],
        filterType: '=',
      },
    ];
    beforeData.item.filters = newFilters;

    // 如果存在那么替换
    state.config.option.filters.forEach((item, index) => {
      if (beforeData.item.name === item.columnName) {
        state.config.option.filters.splice(index, 1);
      }
    });
    state.config.option.filters.push(...newFilters);
  };
  // 原位置
  const original = (index, beforeData, item, content) => {
    const filters = [
      {
        columnName: beforeData.item.name,
        columnCName: beforeData.item.sourceName,
        values: [content],
        filterType: '=',
      },
    ];
    beforeData.item.filters = filters;
    const action = { flag: false, index: 0 };
    // 彻查数据  是否存在
    state.config.option.filters.forEach((item, index) => {
      if (beforeData.item.name === item.columnName) {
        action.flag = true;
        action.index = index;
      }
    });
    // 如果存在那么清除
    if (action.flag) {
      state.config.option.filters.splice(action.index, 1);
    } else {
      state.config.option.filters.push(...filters);
    }
  };
  // 切换目录
  const rowsConfig = (beforeItem) => {
    state.config.rows.forEach((item, index) => {
      if (item.columnName == beforeItem.name) {
        state.config.option.rinIn.children.forEach((cItem) => {
          if (cItem.check) {
            state.config.rows[index] = {
              ...item,
              columnCName: cItem.sourceName,
              columnCname: cItem.sourceName,
              columnName: cItem.name,
              id: cItem.sourceId,
              values: [],
            };
          }
        });
      }
    });
  };
  watch(
    () => props.config,
    (newVal) => {
      state.config = newVal;
      state.list = [];
      if (!newVal.option?.rinIn?.children?.length) return;
      newVal.option?.rinIn?.children?.forEach((item) => {
        state.list.push(item);
      });
    },
  );
  watch(
    () => props.chartConfig,
    (newVal) => {
      state.chartConfig = newVal;
    },
  );
  watch(
    () => props.dbData,
    (newVal) => {
      state.dbData = newVal;
    },
  );

  onBeforeMount(() => {
    document.addEventListener('click', () => {});
  });
</script>

<style lang="less" scoped>
  .dbCheck {
    position: fixed;
    z-index: 3;
    display: none;
  }
</style>
