<template>
  <div class="Drilling">
    <a-breadcrumb separator=">">
      <a-breadcrumb-item
        v-for="(item, index) in state.rinIn"
        :key="index"
        :class="item.check && 'check'"
      >
        {{ item.sourceName }}
      </a-breadcrumb-item>
    </a-breadcrumb>
  </div>
</template>

<script setup lang="ts">
  import { watch, reactive } from 'vue';
  const props = defineProps(['config']);
  defineOptions({
    name: 'Drilling',
  });
  const state = reactive({
    rinIn: [],
  });
  watch(
    () => props.config,
    (newVal) => {
      state.rinIn = [];
      if (!newVal.option?.rinIn?.children?.length) return;
      state.rinIn = newVal.option.rinIn.children;
      let flag = true;
      state.rinIn.forEach((item) => {
        if (item.check) {
          flag = false;
        }
      });
      if (flag) {
        state.rinIn[0].check = true;
      }
    },
  );
</script>

<style lang="less" scoped>
  .Drilling {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 44px;
    z-index: 2;
    .ant-breadcrumb > span:last-child,
    .ant-breadcrumb > span:last-child a,
    /deep/.ant-breadcrumb {
      color: rgba(0, 0, 0, 0.452);
      cursor: context-menu;
      // color: inherit;
    }
    .check {
      color: #000 !important;
    }
  }
</style>
