<template>
  <div class="paging">
    <a-pagination
      :show-total="(total) => `共有${total}条数据 `"
      :total="props.page.total"
      show-size-changer
      size="small"
      :page-size="props.page.pageSize"
      :current="props.page.pageNum"
      @change="configPage"
      @show-size-Change="showSizeChange"
    />
  </div>
</template>

<script setup lang="ts">
  import { reactive } from 'vue';

  defineOptions({
    name: 'paging',
  });
  const props = defineProps(['page', 'chartConfig']);
  const emit = defineEmits('query');

  const state = reactive({
    changePageSize: false,
  });

  const configPage = (pageNum, pageSize) => {
    if (!state.changePageSize) {
      props.chartConfig.data.page = { pageNum, pageSize };
      emit('query', props.chartConfig);
    }
  };
  const showSizeChange = (current, size) => {
    state.changePageSize = true;
    props.chartConfig.data.page = { pageNum: 1, pageSize: size };
    emit('query', props.chartConfig, (valid) => {
      if (valid) {
        state.changePageSize = false;
      }
    });
  };
</script>

<style lang="less" scoped>
  .paging {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 96%;
  }
</style>
