<template>
  <div ref="dbCheck" class="dbCheck">
    <a-menu>
      <a-menu-item
        v-for="(item, index) in state.list"
        :key="item.key"
        @click="cliItem(item, index)"
      >
        {{ item.sourceName }}
      </a-menu-item>
    </a-menu>
  </div>
</template>

<script setup lang="ts">
  import { ref, watch, reactive, onBeforeMount } from 'vue';
  import { message as $message } from 'ant-design-vue';
  import TestAction from '../action/TestAction';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  const store = chartConfigurations();
  defineOptions({
    name: 'dbCheck',
  });
  const dbCheck: any = ref();
  const props = defineProps(['dbData']);
  const state = reactive({ list: [] as any });
  const dataPotion = (el) => {
    dbCheck.value.style.display = 'block';
    // const offDomH = el.target.offsetParent.clientHeight;
    console.log(el, 'elkkk');
    const y = el.y;
    // if (offDomH / 2 < el.y) {
    //   y = el.y - dbCheck.value.clientHeight;
    // }
    dbCheck.value.style.top = `${y}px`;
    dbCheck.value.style.left = `${el.x}px`;
    document.addEventListener('click', () => {
      if (dbCheck?.value?.style) {
        dbCheck.value.style.display = 'none';
      }
    });
  };
  const positionChange = (item) => {
    state.list.forEach((lItem) => {
      if (lItem.key == item.key) {
        lItem.check = true;
      } else {
        lItem.check = false;
      }
    });
  };
  const cliItem = async (item, index) => {
    const beforeData = {} as any; // 之前的数据
    store.chartData.config.option?.rinIn?.children.forEach((item, index) => {
      if (item.check) {
        beforeData.item = item;
        beforeData.index = index;
      }
    });
    const content =
      props.dbData.filters.ext.dataMap[beforeData.item.name][props.dbData.filters.index]; // 点击的内容 过滤内容
    // 上卷
    if (beforeData.index > index) {
      await rollUp(index, beforeData.index);
    } else if (beforeData.index < index) {
      // 下钻
      if (!content) {
        $message.error('数据为空,不允许下钻');
        return;
      }
      await rihIn(index, beforeData, item, content);
    } else if (beforeData.index === index) {
      // 原位置
      if (!content) {
        $message.error('数据为空,不允许下钻');
        return;
      }
      await original(index, beforeData, item, content);
    }
    await positionChange(item);
    await TestAction();
  };
  // 上卷
  const rollUp = (index, bIndex) => {
    store.chartData.config.option.filters.splice(index, bIndex - index + 1);
  };
  // 下钻
  const rihIn = (index, beforeData, item, content) => {
    const newFilters = [
      {
        columnName: beforeData.item.name,
        columnCName: beforeData.item.sourceName,
        id: beforeData.item.id,
        values: [content],
        filterType: '=',
      },
    ];
    beforeData.item.filters = newFilters;
    // 如果存在那么替换
    store.chartData.config.option.filters.forEach((item, index) => {
      if (beforeData.item.name === item.columnName) {
        store.chartData.config.option.filters.splice(index, 1);
      }
    });
    store.chartData.config.option.filters.push(...newFilters);
  };
  // 原位置
  const original = (index, beforeData, item, content) => {
    const filters = [
      {
        columnName: beforeData.item.name,
        columnCName: beforeData.item.sourceName,
        id: beforeData.item.id,
        values: [content],
        filterType: '=',
      },
    ];
    beforeData.item.filters = filters;
    const action = { flag: false, index: 0 };
    // 彻查数据  是否存在
    store.chartData.config.option.filters.forEach((item, index) => {
      if (beforeData.item.name === item.columnName) {
        action.flag = true;
        action.index = index;
      }
    });
    // 如果存在那么清除
    if (action.flag) {
      store.chartData.config.option.filters.splice(action.index, 1);
    } else {
      store.chartData.config.option.filters.push(...filters);
    }
  };
  watch(
    () => props.dbData,
    (newVal) => {
      const { el } = newVal;
      dataPotion(el);
    },
  );
  watch(
    () => store.chartData.config,
    (newVal) => {
      state.list = [];
      if (!newVal?.option?.rinIn?.children?.length) return;
      newVal.option?.rinIn?.children?.forEach((item) => {
        state.list.push(item);
      });
    },
  );
  onBeforeMount(() => {
    document.addEventListener('click', () => {});
  });
</script>

<style lang="less" scoped>
  .dbCheck {
    position: fixed;
    z-index: 3;
    display: none;
  }
</style>
