<template>
  <a-collapse v-model:activeKey="activeKey" :bordered="false" label-align="left">
    <!-- 单元格合并 -->
    <a-collapse-panel v-if="data.needSummary" key="1" header="单元格合并">
      <a-form :model="store.echartConfig" :label-col="{ span: 4 }" :wrapper-col="{ span: 20 }">
        <a-card
          title="合并字段选择"
          size="small"
          class="mergeColumn"
          style="height: 270px; overflow: auto"
        >
          <a-checkbox-group
            v-model:value="data.columnsSelected"
            :options="data.mergeColumns"
            @change="
              (e) => {
                store.echartConfig.mergeColumns = e;
                TestAction();
              }
            "
          >
          </a-checkbox-group>
        </a-card>
      </a-form>
    </a-collapse-panel>

    <!-- 雷达图最大值列 -->
    <a-collapse-panel v-if="store.page.chartType == 'radar'" key="2" header="雷达图最大值列">
      <a-form
        :model="store.echartConfig"
        :label-col="{ span: 7 }"
        :wrapper-col="{ span: 17 }"
        label-align="left"
      >
        <a-form-item name="select" label="最大值">
          <a-select
            v-model:value="store.echartConfig.Maximum"
            placeholder="无"
            :allow-clear="true"
            @change="TestAction"
          >
            <a-select-option
              v-for="(item, index) in store.insertContent[1].value"
              :key="index"
              :value="item.name"
            >
              <span :title="item.sourceName"> {{ item.sourceName }}</span>
            </a-select-option>
          </a-select>
        </a-form-item>
      </a-form>
    </a-collapse-panel>

    <!-- 图例 -->
    <a-collapse-panel key="3" header="图例">
      <a-form
        :model="store.echartConfig"
        :label-col="{ span: 7 }"
        :wrapper-col="{ span: 17 }"
        label-align="left"
      >
        <a-form-item label="显示图例">
          <a-switch v-model:checked="store.echartConfig.isShowLegend" @change="TestAction" />
        </a-form-item>

        <a-form-item label="纵向位置">
          <a-radio-group
            v-for="(item, index) in LocationSet.direction"
            :key="index"
            v-model:value="store.echartConfig.Longitudinal"
            @change="TestAction"
          >
            <a-radio :value="item.value">{{ item.label }}</a-radio>
          </a-radio-group>
        </a-form-item>

        <a-form-item label="横向位置">
          <a-radio-group
            v-for="(item, index) in LocationSet.point"
            :key="index"
            v-model:value="store.echartConfig.Horizontal"
            @change="TestAction"
          >
            <a-radio :value="item.value">{{ item.label }}</a-radio>
          </a-radio-group>
        </a-form-item>

        <a-form-item label="布局朝向">
          <a-radio-group
            v-for="(item, index) in LocationSet.layout"
            :key="index"
            v-model:value="store.echartConfig.layout"
            @change="TestAction"
          >
            <a-radio :value="item.value">{{ item.label }}</a-radio>
          </a-radio-group>
        </a-form-item>

        <a-form-item label="字体位置">
          <a-radio-group
            v-for="(item, index) in LocationSet.FontSize"
            :key="index"
            v-model:value="store.echartConfig.FontSize"
            @change="TestAction"
          >
            <a-radio :value="item.value">{{ item.label }}</a-radio>
          </a-radio-group>
        </a-form-item>
      </a-form>
    </a-collapse-panel>
    <!-- 数据标签 -->
    <a-collapse-panel key="4" header="数据标签">
      <a-form
        :model="store.echartConfig"
        :label-col="{ span: 7 }"
        :wrapper-col="{ span: 17 }"
        label-align="left"
      >
        <a-form-item label="显示">
          <a-switch v-model:checked="store.echartConfig.dataShow" @change="TestAction" />
        </a-form-item>

        <a-form-item label="形式">
          <a-radio-group
            v-for="(item, index) in LocationSet.DataTypes"
            :key="index"
            v-model:value="store.echartConfig.dataTypes"
            @change="TestAction"
          >
            <a-radio :value="item.value">{{ item.label }}</a-radio>
          </a-radio-group>
        </a-form-item>
      </a-form>
    </a-collapse-panel>

    <!-- 图表主题 -->
    <a-collapse-panel key="5" header="图表主题">
      <ColorTheme></ColorTheme>
    </a-collapse-panel>

    <!-- 坐标轴 -->
    <a-collapse-panel key="6" header="坐标轴">
      <a-form
        :model="store.echartConfig"
        :label-col="{ span: 7 }"
        :wrapper-col="{ span: 12 }"
        label-align="left"
      >
        <a-form-item label="最大值">
          <a-input
            v-model:value="store.echartConfig.AxisMaxNum"
            size="small"
            @change="TestAction"
          />
        </a-form-item>
        <a-form-item label="最小值">
          <a-input
            v-model:value="store.echartConfig.AxisMinimum"
            size="small"
            @change="TestAction"
          />
        </a-form-item>
        <a-form-item label="间距">
          <a-input v-model:value="store.echartConfig.AxisSpace" size="small" @change="TestAction" />
        </a-form-item>
      </a-form>
    </a-collapse-panel>

    <!-- 合计行/列 -->
    <a-collapse-panel v-if="data.needSummary" key="7" header="合计行/列">
      <a-form
        :model="store.echartConfig"
        :label-col="{ span: 4 }"
        :wrapper-col="{ span: 12 }"
        label-align="left"
      >
        <a-radio-group v-model:value="store.echartConfig.showSummaryType" @change="TestAction">
          <a-radio
            value="row"
            @click="
              () => {
                if (store.echartConfig.showSummaryType === 'row') {
                  store.echartConfig.showSummaryType = '';
                  TestAction();
                }
              }
            "
            >显示合计行</a-radio
          >
          <a-input
            v-model:value="store.echartConfig.showRowSummaryTitle"
            size="small"
            placeholder="合计标题（不填默认合计）"
            style="width: 40%; border: 0px; border-bottom: 1px solid #d9d9d9"
            @change="TestAction"
          ></a-input>
          <a-form-item class="position-style" label="位置" style="margin-left: 24px">
            <a-radio-group
              v-model:value="store.echartConfig.rowSummaryPosition"
              @change="TestAction"
            >
              <a-radio value="bottom">底部</a-radio>
              <a-radio value="top">顶部</a-radio>
            </a-radio-group>
          </a-form-item>
          <a-radio
            value="column"
            style="margin-top: 15px"
            @click="
              () => {
                if (store.echartConfig.showSummaryType === 'column') {
                  store.echartConfig.showSummaryType = '';
                  TestAction();
                }
              }
            "
            >显示合计列</a-radio
          >
          <a-input
            v-model:value="store.echartConfig.showColumnSummaryTitle"
            size="small"
            placeholder="合计标题（不填默认合计）"
            style="width: 40%; border: 0px; border-bottom: 1px solid #d9d9d9"
            @change="TestAction"
          ></a-input>
          <a-form-item class="position-style" label="位置" style="margin-left: 24px">
            <a-radio-group
              v-model:value="store.echartConfig.columnSummaryPosition"
              @change="TestAction"
            >
              <a-radio value="left">左侧</a-radio>
              <a-radio value="right">右侧</a-radio>
            </a-radio-group>
          </a-form-item>
        </a-radio-group>
        <a-form-item v-if="store.echartConfig.showSummaryType == 'row'" label="合计方式">
        </a-form-item>
        <div
          v-for="item in data.columns"
          v-if="store.echartConfig.showSummaryType == 'row'"
          :key="item.key"
          style="margin-left: 24px; display: flex; align-items: center; margin-top: 5px"
        >
          <a-col :md="6" :sm="6">
            <a-tooltip
              v-if="item.sourceName.length > 7"
              :title="item.sourceName"
              placement="topLeft"
            >
              <span style="float: right">{{ item.sourceName.slice(0, 6) }}...：</span>
            </a-tooltip>
            <span v-else style="float: right">{{ item.sourceName }}：</span>
          </a-col>
          <a-select
            v-model:value="data.echartConfig.summaryMethods[item.key]"
            :options="data.summaryMethods"
            style="width: 100px; border: 0px; border-bottom: 1px solid #d9d9d9"
            @change="
              (e) => {
                store.echartConfig.summaryMethods[item.key] = e;
                store.echartConfig.summaryMethodsCopy[item.key] = e;
                TestAction();
              }
            "
          >
          </a-select>
        </div>
      </a-form>
    </a-collapse-panel>
    <!-- 指标卡配置 -->
    <!-- <a-collapse-panel key="7" header="指标卡配置">
      <Editor></Editor>
    </a-collapse-panel> -->
  </a-collapse>
</template>

<script setup lang="ts">
  import { ref, reactive, computed, watch } from 'vue';
  import _ from 'lodash-es';
  import TestAction from '../action/TestAction';
  import ColorTheme from './ColorTheme.vue';
  import type { UnwrapRef } from 'vue';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  const store = chartConfigurations();
  defineOptions({
    name: 'ChartConfig',
  });
  const data = reactive({
    insertContent: computed(() => {
      return store.insertContent;
    }),
    needSummary: computed(() => {
      return store.page.chartType == 'table';
    }),
    columns: computed(() => {
      const list = [];
      store.insertContent.map((x) => {
        if (['横轴', '纵轴'].includes(x.title)) {
          x.value.map((y) => {
            if (['DECIMAL', 'decimal', 'int', 'bigInt', 'INT', 'BIGINT'].includes(y.sourceType)) {
              if (!data.echartConfig['summaryMethods'][y.key]) {
                data.echartConfig['summaryMethods'][y.key] = 'sum';
              }
              if (store.echartConfig['summaryMethods']) {
                store.echartConfig['summaryMethods'][y.key] =
                  data.echartConfig['summaryMethods'][y.key];
                store.echartConfig['summaryMethodsCopy'][y.key] =
                  data.echartConfig['summaryMethods'][y.key];
              }
              list.push(y);
            }
          });
        }
      });
      return list;
    }),
    mergeColumns: [],
    summaryMethods: [
      { label: '求和', value: 'sum' },
      { label: '最大值', value: 'max' },
      { label: '最小值', value: 'min' },
      { label: '中位数', value: 'median' },
      { label: '方差', value: 'variance' },
      { label: '标准差', value: 'standardDeviation' },
    ],
    echartConfig: {
      summaryMethods: {},
    },
    columnsSelected: [],
  });
  watch(
    () => store.echartConfig,
    (v) => {
      if (store.echartConfig.summaryMethodsCopy) {
        data.echartConfig.summaryMethods = _.cloneDeep(store.echartConfig.summaryMethodsCopy);
      } else {
        data.echartConfig.summaryMethods = {};
      }
      if (store.echartConfig.mergeColumns) {
        data.columnsSelected = _.cloneDeep(store.echartConfig.mergeColumns);
      } else {
        data.columnsSelected = [];
      }
    },
    { deep: true, immediate: true },
  );
  watch(
    () => store.insertContent,
    (v) => {
      if (store.insertContent[1] && store.insertContent[1].value) {
        if (store.echartConfig.Maximum) {
          if (
            !store.insertContent[1].value.find(
              (x) => x.key == store.echartConfig.Maximum || x.name == store.echartConfig.Maximum,
            )
          ) {
            delete store.echartConfig.Maximum;
          }
        }
      }
      if (store.echartConfig.mergeColumns) {
        const columns = [] as any;
        store.insertContent.map((x) => {
          columns.concat(x.value);
          x.value.map((y) => {
            columns.push(y.columnName);
          });
        });
        store.echartConfig.mergeColumns = store.echartConfig.mergeColumns.filter(
          (x) => columns.indexOf(x) > -1,
        );
      }
      data.mergeColumns = [];
      store?.insertContent?.map((x) => {
        if (['横轴', '纵轴'].includes(x.title)) {
          x.value.map((y) => {
            data.mergeColumns.push({
              value: y.columnName ?? '',
              label: y.sourceName ?? '',
            });
          });
        }
      });
    },
    { deep: true, immediate: true },
  );

  const LocationSet = reactive({
    direction: [
      {
        label: '上',
        value: '26',
      },
      {
        label: '中',
        value: 'middle',
      },
      {
        label: '下',
        value: 'bottom',
      },
    ],
    point: [
      {
        label: '左',
        value: 'left',
      },
      {
        label: '中',
        value: 'center',
      },
      {
        label: '右',
        value: 'right',
      },
    ],
    layout: [
      {
        label: '横向',
        value: 'horizontal',
      },
      {
        label: '纵向',
        value: 'vertical',
      },
    ],
    FontSize: [
      {
        label: '左',
        value: 'left',
      },
      {
        label: '右',
        value: 'right',
      },
    ],
    DataTypes: [
      {
        label: '跟随',
        value: '1',
      },
      {
        label: '非跟随',
        value: '2',
      },
    ],
  });
  interface FormState {
    isMergeCell: boolean; //合并
    Maximum: any; //最大值
    isShowLegend: boolean; //显示图例
    Longitudinal: string; //纵向位置
    Horizontal: string; //横向位置
    layout: string; //布局朝向
    FontSize: string; //字体位置
    dataShow: boolean; //显示
    dataTypes: string; //形式
    AxisMaxNum: any; //最大值
    AxisMinimum: any; //最小值
    AxisSpace: any; //间距
  }
  const FormConfig: UnwrapRef<FormState> = reactive({
    isMergeCell: false,
    Maximum: '',
    isShowLegend: true,
    Longitudinal: '26',
    Horizontal: 'center',
    layout: 'horizontal',
    FontSize: 'left',
    dataShow: true,
    dataTypes: '1',
    AxisMaxNum: null,
    AxisMinimum: null,
    AxisSpace: null,
    showRowSummaryTitle: '合计',
    showColumnSummaryTitle: '合计',
    columnSummaryPosition: 'left',
    rowSummaryPosition: 'bottom',
    showSummaryType: '',
    summaryMethods: {},
    mergeColumns: [],
  });

  const activeKey = ref(['1']);
  store.echartConfig = FormConfig;
</script>

<style lang="less" scoped>
  //当前模块折叠面板调整
  .ant-collapse > .ant-collapse-item {
    /deep/.ant-collapse-header {
      padding: 6px 8px !important;
    }
  }
  /deep/.ant-collapse-content > .ant-collapse-content-box {
    padding-bottom: 8px;
  }
  .ant-form-item {
    margin-bottom: 0;
  }
  .ant-collapse-borderless {
    background-color: #fff;
  }
  .ant-collapse-borderless > .ant-collapse-item {
    border-bottom: none;
  }
  /deep/.position-style {
    width: 100%;
    .ant-form-item-control {
      width: 100%;
    }
  }
  /deep/.mergeColumn {
    .ant-checkbox-group {
      .ant-checkbox-group-item {
        > span:nth-child(2) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 210px;
        }
      }
    }
  }
</style>
