<template>
  <div class="page-container">
    <DynamicTable
      :data-request="loadData"
      :columns="columns"
      :row-selection="rowSelection"
      auto-height
      :loading="state.loading"
    >
      <template #toolbar>
        <a-button type="primary" @click="openRoleModal({})">新增</a-button>
        <a-button
          type="primary"
          :disabled="!isCheckRows"
          @click="delRowConfirm(rowSelection.selectedRowKeys)"
          >删除</a-button
        >
      </template>
    </DynamicTable>
    <LeaderApproval
      title="统一审核"
      :org-visible="state.orgVisible"
      :org-record="state.record"
      :level="state.level"
      @close="closeModal"
    ></LeaderApproval>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, computed } from 'vue';
  import { useRouter } from 'vue-router';
  import dayjs from 'dayjs';
  import { message } from 'ant-design-vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './components/columns';
  import { formSchemas, formSchemas1 } from './components/formSchemas';
  import LeaderApproval from './LeaderApproval.vue';
  import { useTable } from '@/components/core/dynamic-table';
  import { getList, perfSave, perfDelete, BackupApi } from '@/api/orgPerList/perList';
  import { useFormModal } from '@/hooks/useModal/useFormModal';

  defineOptions({
    name: 'orgPerList',
  });
  const [showModal] = useFormModal();
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'orgCode',
    bordered: true,
    scroll: {},
  });
  const state = reactive({
    dataSource: [],
    pagination: {
      current: 1,
      pageSize: 10,
    },
    loading: false,
    orgVisible: false,
    record: {},
    level: '',
  });
  const router = useRouter();
  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[]) => {
      rowSelection.value.selectedRowKeys = selectedRowKeys;
    },
  });
  // 是否勾选了表格行
  const isCheckRows = computed(() => rowSelection.value.selectedRowKeys.length);
  const loadData = async (params: LoadDataParams) => {
    state.loading = true;
    const res = await getList({ ...params });
    state.loading = false;
    state.dataSource = res.data.data;
    return {
      list: state.dataSource || [],
      pagination: { total: res.data.total, page: res.data.pageNum, size: res.data.pageSize },
    };
  };
  const btnloading = ref(false);
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 310,
      dataIndex: 'ACTION',
      align: 'center',
      actions: ({ record }) => {
        const actions = [
          {
            label: '编辑',
            onClick: () => {
              openRoleModal(record);
            },
          },
          {
            label: '组织绩效方案',
            onClick: () => {
              router.push({ path: '/orgPerList/perSet', query: record });
            },
          },
          {
            label: '审核',
            auth: 'rule:auditRelationPerf',
            onClick: () => {
              openApprovalModal(record, '1');
            },
          },
          {
            label: '方案汇报',
            auth: 'perf:perfLeadRelationFeedback',
            onClick: () => {
              openApprovalModal(record, '2');
            },
          },
          {
            label: '归档',
            loading: btnloading.value,
            onClick: () => {
              BackupBtn(record);
            },
          },
        ];
        return actions;
      },
    },
  ];
  const openRoleModal = async (record: Partial<TableListItem>) => {
    const [formRef] = await showModal<API.UpdateRoleParams>({
      modalProps: {
        title: `${record.orgCode ? '编辑' : '新增'}`,
        width: '500px',
        onFinish: async (values) => {
          const params = {
            orgCode: values.orgCode,
            orgName: values.orgName,
            period: dayjs(values.period).year(),
          };
          const res = await perfSave(params);
          if (res.data.success) {
            dynamicTableInstance?.reload();
          } else {
            message.error(res.data.message);
            throw Error(res.data.message);
          }
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: record.orgCode ? formSchemas1 : formSchemas,
      },
    });
    if (record.orgCode) {
      formRef?.setFieldsValue({
        orgCode: record.orgCode,
        orgName: record.orgName,
        period: record.period,
      });
    }
  };
  const delRowConfirm = async (orgCodes) => {
    const params = { orgCodes };
    await perfDelete(params);
    dynamicTableInstance?.reload();
  };
  const openApprovalModal = (record, level) => {
    state.orgVisible = true;
    state.record = record;
    state.level = level;
  };
  const closeModal = () => {
    state.orgVisible = false;
  };
  //归档
  const BackupBtn = async (record) => {
    btnloading.value = true;
    const res = await BackupApi(record.orgCode);
    btnloading.value = false;
    if (res.success) {
      message.success(`归档成功！`);
    } else {
      message.error(res.message);
    }
  };
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
    /deep/.ant-table-body {
      height: var(--winHeight);
    }
  }
  .header {
    display: flex;
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
</style>
