<template>
  <div class="page-container">
    <DynamicTable
      row-key="id"
      :data-request="loadTableData"
      :columns="columnList"
      bordered
      auto-height
      size="small"
    >
    </DynamicTable>
    <a-modal
      v-model:visible="visible"
      title="绩效报告"
      :width="1100"
      destroy-on-close
      :mask-closable="false"
      :body-style="{ 'min-height': '260px' }"
      :footer="false"
      @cancel="visible = false"
    >
      <vxe-grid v-bind="gridOptions" show-overflow>
        <template #operateReport="{ row }">
          <a-button type="link" @click="checkReport(row)">查看</a-button>
        </template>
        <template #operateKpi="{ row }">
          <a-button type="link" @click="checkChart(row, 'REPORTING_001')">查看</a-button>
        </template>
        <template #operateTask="{ row }">
          <a-button type="link" @click="checkChart(row, 'REPORTING_002')">查看</a-button>
        </template>
        <template #operateScore="{ row }">
          <a-button type="link" @click="checkChart(row, 'REPORTING_005')">查看</a-button>
        </template>
        <template #operateDept="{ row }">
          <a-button type="link" @click="checkChart(row, 'REPORTING_006')">查看</a-button>
        </template>
        <template #operateWork="{ row }">
          <a-button type="link" @click="checkChart(row, 'REPORTING_007')">查看</a-button>
        </template>
        <template #operateDownload="{ row }">
          <a-button type="link" @click="exportAnnex(row)">下载</a-button>
        </template>
        <template #operate="{ row }">
          <a-button type="link" @click="exportChart(row)">批量导出</a-button>
        </template>
      </vxe-grid>
    </a-modal>

    <!-- 查看报告 -->
    <UnifyAudit
      :audit-visible="state.auditVisible"
      :record="state.reportrecord"
      type="checkReport"
      @close-unify="closeReportModal()"
    ></UnifyAudit>

    <ReportModel ref="reportModel"></ReportModel>
  </div>
</template>

<script setup lang="ts">
  import { reactive, ref } from 'vue';
  import { baseColumns, reportColumn, type TableColumnItem } from './columns'; //table列
  import { useTable, type LoadDataParams } from '@/components/core/dynamic-table';
  import { queryOrgList } from '@/api/perAppraisal/apiList';
  import { queryReportList, getBatchExport, getAnnexExport } from '@/api/perPlan/apiList';
  import UnifyAudit from '@/views/perAppraisal/perApproval/UnifyAudit.vue';
  import ReportModel from '@/views/perAppraisal/perApproval/components/ReportModel.vue';

  defineOptions({
    name: 'reportList',
  });

  const state = reactive({
    record: {},
    auditVisible: false,
    reportrecord: {},
  });
  const [DynamicTable] = useTable({
    rowKey: 'ruleCode',
    bordered: true,
    search: false,
  });

  const columnList: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 200,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        let actionList = [] as any;
        actionList = [
          {
            label: '查看',
            onClick: () => {
              viewBtn(record);
            },
          },
        ];
        return actionList;
      },
    },
  ];

  const loadTableData = async (params: LoadDataParams) => {
    const { data } = await queryOrgList(params);
    if (data.success) {
      return {
        list: data.data,
        pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
      };
    }
  };

  const gridOptions = reactive<VxeGridProps<RowVO>>({
    size: 'small',
    border: true,
    height: 400,
    align: 'center',
    toolbarConfig: {
      zoom: true,
      custom: true,
      refresh: {
        queryMethod: () => {
          queryListData();
        },
      },
    },
    columnConfig: {
      resizable: true,
    },
    columns: reportColumn,
    data: [],
  });

  const queryListData = async () => {
    gridOptions.loading = true;
    const res = await queryReportList(state.record?.orgCode);
    gridOptions.data = res.success ? res.data : [];
    gridOptions.loading = false;
  };

  const visible = ref(false);
  const viewBtn = (record) => {
    visible.value = true;
    state.record = record;
    queryListData();
  };

  //查看请示报告
  const checkReport = (row) => {
    state.reportrecord = row;
    state.auditVisible = true;
  };

  const closeReportModal = () => {
    state.auditVisible = false;
  };
  const reportModel = ref<any>(null);
  //查看报表
  const checkChart = (row, type) => {
    reportModel.value.open(type, row);
  };

  const exportAnnex = (row) => {
    getAnnexExport(row.reportCode, `${row.title}附件`);
  };
  const exportChart = (row) => {
    getBatchExport(row.reportCode, row.title);
  };
</script>

<style lang="less" scoped>
  /deep/th.text-align {
    text-align: center;
  }
</style>
