<template>
  <div class="blockstyle">
    <a-row>
      <a-col :md="24">
        <div class="title">
          <a-row style="margin-bottom: 5px">
            <a-col :span="21">月份：{{ props.overmonth }}会议提示事项</a-col>
            <a-col v-if="$auth('dirve:overview:work:edit')" v-show="bottomshow === 'zl'" :span="3">
              <a-button type="primary" size="large" style="margin-right: 10px" @click="add()">
                <template #icon><snippets-outlined /></template> 保存
              </a-button>
              <a-button type="primary" size="large" @click="update()">
                <template #icon><form-outlined /></template> 修改
              </a-button>
            </a-col>
            <a-col v-if="$auth('dirve:region:work:edit')" v-show="bottomshow === 'zx'" :span="3">
              <a-button type="primary" size="large" style="margin-right: 10px" @click="add()">
                <template #icon><snippets-outlined /></template> 保存
              </a-button>
              <a-button type="primary" size="large" @click="update()">
                <template #icon><form-outlined /></template> 修改
              </a-button>
            </a-col>
          </a-row>
          <a-textarea
            v-model:value="tipContent.content.hintContent"
            v-model:disabled="disabledshow"
            placeholder="请输入"
            auto-size
            class="textarea-style"
          />
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, ref, watch, defineExpose } from 'vue';
  import { message } from 'ant-design-vue';
  import { gztsquery01, gztsquery02 } from '@/api/strategyTracking';
  defineOptions({
    name: 'OvervierWork',
    inheritAttrs: false,
  });
  const props = defineProps({
    conditionalmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    overmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.conditionalmonth,
    () => {
      select1();
    },
  );

  const disabledshow = ref(true);
  const tipContent = reactive({
    // 本月数据
    content: {
      id: '',
      month: '',
      title: '',
      hintContent: '',
      tablName: props.conditionalmonth,
    },
    // 之前月份数据
    worktipsdata: [],
    yearMonth: '',
  });

  //保存、修改
  const add = () => {
    disabledshow.value = true;
    tipContent.content.title = `${props.overmonth}会议提示事项`;
    tipContent.content.tablName = props.conditionalmonth;
    tipContent.content.month = props.overmonth;
    gztsquery01(tipContent.content)
      .then((r) => {
        if (r.code == 'OK') {
          message.success('保存成功');
          select1();
        } else {
          message.error('保存失败！');
        }
      })
      .catch(() => {
        message.error('保存失败');
      });
  };
  //修改
  const update = () => {
    disabledshow.value = false;
  };

  const select1 = () => {
    if (props.conditionalmonth === '总览') {
      bottomshow.value = 'zl';
    } else {
      bottomshow.value = 'zx';
    }
    gztsquery02({ tablName: props.conditionalmonth, month: props.overmonth }).then((result) => {
      const data = result.data;
      if (data.length == 0) {
        tipContent.content.id = '';
        tipContent.content.hintContent = '';
      } else {
        tipContent.content.id = data[0].id;
        tipContent.content.hintContent = data[0].hintContent;
      }
    });
  };
  watch(
    () => props.overmonth,
    (c) => {
      tipContent.yearMonth = c;
      select1();
    },
  );

  const bottomshow = ref('');
  defineExpose({
    select1,
  });
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .blockstyle {
    width: 100%;
    background: white;
  }
  .textarea-style {
    width: 100%;
    font-size: 20px;
    background: rgb(255, 255, 255);
    color: #000;
  }
</style>
