<template>
  <div style="width: 100%">
    <a-row class="blockstyle">
      <a-col :md="24" class="title">
        <a-upload
          v-model:fileList="state.fileList"
          name="file"
          :action="`${state.BASE_URL}c/up/file?fileType=171`"
          :before-upload="beforeUpload"
          :headers="state.headers"
          accept=".doc, .docx, .pdf, .jpg, .png"
          @change="normFile"
          @preview="onPreview"
        >
          <!-- pdf上传 -->
          <template v-if="props.titleName == 'Overvie'">
            <a-button v-if="$auth('Overview:upload')">
              <upload-outlined></upload-outlined>
              上传
            </a-button>
          </template>
          <template v-else>
            <a-button v-if="$auth('Regionalcenter:upload')">
              <upload-outlined></upload-outlined>
              上传
            </a-button>
          </template>
        </a-upload>
        <a-button html-type="submit" type="danger" @click="pdfSaveAll"> 保存</a-button>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, onMounted, defineExpose } from 'vue';
  import { message } from 'ant-design-vue';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { pdfSave, pdfQuery } from '@/api/strategyTracking';
  import { Storage } from '@/utils/Storage';
  defineOptions({
    name: 'Overviermaterials',
    inheritAttrs: false,
  });
  const props = defineProps({
    titleName: {
      type: String,
    },
  });
  const state = reactive({
    fileList: [], // 上传的文件列表
    headers: {}, // 上传头
    BASE_URL: process.env.VUE_APP_BASE_API, // url
    BASE_URLS: '', // 新url
    fileURL: '',
  });
  // 请求拦截
  const beforeUpload = () => {
    let flag = true;
    const config = { Authentication: '', Authorization: '' };
    // 有 token就带上
    if (Storage.get(ACCESS_TOKEN_KEY)) {
      config.Authentication = Storage.get(ACCESS_TOKEN_KEY);
      config.Authorization = Storage.get(ACCESS_TOKEN_KEY);
    } else {
      // 没有就别上传
      flag = false;
    }
    state.headers = JSON.parse(JSON.stringify(config));
    return flag;
  };
  // 文件改变调用
  const normFile = (e) => {
    if (Array.isArray(e)) {
      return e;
    }
    state.fileList = e.fileList;
    console.log('上传后的数据', e.fileList);
    // 列表绑定
    return e && e.fileList;
  };
  // 文件预览
  const onPreview = (file) => {
    // 分割url
    const url = file?.response?.data.fileAddress || file.response.data;
    // state.fileURL = file.response.data.fileAddress;
    if (state.BASE_URL == 'https://bsp.obei.com.cn/obei-data-supervision/') {
      state.BASE_URLS = state.BASE_URL.replace('obei-data-supervision', 'obei-gateway');
    } else {
      state.BASE_URLS = state.BASE_URL.split('/')
        .filter((item) => item != 'obei-data-supervision')
        .join('/');
    }
    const urls = `${state.BASE_URLS}basic/n/get/file?key=${url}`;
    window.open(urls);
  };
  const pdfSaveAll = () => {
    const fileList = [];
    state.fileList.forEach((v) => {
      const obj = {
        fileAddress: v.response.data.fileAddress,
        fileName: v.name || v.fileName,
        format: v.type || v.format,
        size: v.size,
        uid: v.uid,
      };
      fileList.push(obj);
    });
    const params = {
      attestationFiles: fileList,
      businessCode: props.titleName,
    };
    pdfSave(params).then((r) => {
      if (r.success) {
        message.success('保存成功');
      }
    });
  };
  const searchPDF = (val) => {
    pdfQuery(val).then((r) => {
      state.fileList = [];
      if (r.success) {
        r.data.forEach((v) => {
          state.fileList.push({
            name: v.fileName,
            uid: v.uid,
            response: {
              data: { fileAddress: v.fileAddress },
            },
          });
        });
      }
    });
  };

  onMounted(() => {
    searchPDF(props.titleName);
  });
  defineExpose({
    searchPDF,
  });
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .HeightStyle {
    height: 450px;
  }
  // .submit-marging {
  //   margin-left: 20px;
  // }
</style>
