<template>
  <div style="width: 100%">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle">
          <p class="title">
            采购运营指标总体情况
            <edit-outlined clsss="editOut" @click="showV(2022072720235642, cgsj01.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2022072720235642"
            :has-header="false"
            :data-list="cgsj01.dataSource"
            :column-list="cgsj01.columns"
            :cell-color="overtableStyle.cellColor"
            :formatter="overtableStyle.formatter"
            :scroll="{ y: 410 }"
            @cellClicked="oncgsj01Clicked"
            @cutomHeaderRow="cgsj01OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title">
            {{ INDICATOR_SUBITEM_DESC }}（单位：{{ cgyyzbztqfqkdw }}）
            <edit-outlined
              clsss="editOut"
              @click="
                showV(2022072720235642, cgsj02.columns, INDICATOR_SUBITEM_DESC, props.yearmonth)
              "
          /></p>
          <MergeTable
            :widget-id="2022072720235642"
            :has-header="false"
            :data-list="cgsj02.dataSource"
            :column-list="cgsj02.columns"
            :cell-color="overtableStyle.cellColor"
            :scroll="{ y: 400 }"
            :filter="INDICATOR_SUBITEM_DESC"
            @cutomHeaderRow="cgsj02OnClickModal"
          />
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle">
          <p class="title">
            全口径资材备件采购实绩（单位：万元）
            <edit-outlined clsss="editOut" @click="showV(2022072909238564, cgsj03.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2022072909238564"
            :has-header="false"
            :data-list="cgsj03.dataSource"
            :column-list="cgsj03.columns"
            :column-groups="cgsj03.columnGroups"
            :formatter="overtableStyle.formatter"
            :scroll="{ y: 370 }"
            @cellClicked="oncgsj03Clicked"
            @cutomHeaderRow="cgsj03OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle" style="height: 520px">
          <p class="title">{{ ARRIVAL_AREA_NAME }}资材备件到货额（单位：万元）</p>
          <div style="height: 480px">
            <StackedLineChart
              ref="echartresize1"
              :x-axis="setCGSJ01.xAxis"
              :y-axis="setCGSJ01.yAxis"
              :series="setCGSJ01.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle">
          <p class="title">
            工程设备采购实绩（单位：万元）
            <edit-outlined clsss="editOut" @click="showV(2022072618234567, cgsj04.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2022072618234567"
            :has-header="false"
            :data-list="cgsj04.dataSource"
            :column-list="cgsj04.columns"
            :column-groups="cgsj04.columnGroups"
            :cell-color="overtableStyle.cellColor"
            :formatter="overtableStyle.formatter"
            :scroll="{ y: 365 }"
            @cellClicked="oncgsj04Clicked"
            @cutomHeaderRow="cgsj04OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title">{{ DEPT_NAME }}工程设备合同额（单位：万元）</p>
          <div style="height: 500px">
            <StackedLineChart
              ref="echartresize2"
              :x-axis="setCGSJ02.xAxis"
              :y-axis="setCGSJ02.yAxis"
              :series="setCGSJ02.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose" />
  </div>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive, ref } from 'vue';
  import { StackedLineChart } from '../../echartsmodal';
  import overtableStyle from './js/overtableStyle';
  import mergetableStyle from './js/mergetableStyle';
  import echartsStyle from './js/echartsStyle';
  import { MergeTable } from '@/components/business';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  import { queryAggregate, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import datatype from '@/views/strategyTracking/businesstracking/overviewpage/js/dataType';
  import { useUserStore } from '@/store/modules/user';

  const props = defineProps({
    yearmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    desensitization: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const echartresize1 = ref();
  const echartresize2 = ref();
  const gkInitialloading = () => {
    nextTick(() => {
      if (props.desensitization == '脱敏') {
        cgsj01.columns[1].dataIndex = 'TM_INDICATOR_SUBITEM_DESC';
        cgsj01.columns[1].key = 'TM_INDICATOR_SUBITEM_DESC';
        cgsj03.columns[0].dataIndex = 'TM_ARRIVAL_AREA_NAME';
        cgsj03.columns[0].key = 'TM_ARRIVAL_AREA_NAME';
        cgsj04.columns[0].dataIndex = 'DS_DEPT_NAME';
        cgsj04.columns[0].key = 'DS_DEPT_NAME';
      }
      query1();
      query3();
      query5();
      echartresize1.value.Refresh();
      echartresize2.value.Refresh();
    });
  };

  defineExpose({
    gkInitialloading,
  });

  const cgsj01 = reactive({
    dataSource: [],
    columns: [
      {
        title: '序号',
        customRender: ({ index }) => {
          return `${index + 1}`;
        },
        width: '7%',
      },
      {
        title: '指标分项',
        dataIndex: 'INDICATOR_SUBITEM_DESC',
        key: 'INDICATOR_SUBITEM_DESC',
        width: '25%',
        ellipsis: false,
      },
      { title: '单位', dataIndex: 'INDICATOR_UOM', key: 'INDICATOR_UOM', width: '10%' },
      {
        title: '年度目标',
        dataIndex: 'INDICATOR_ANNUAL_TARGET',
        key: 'INDICATOR_ANNUAL_TARGET',
        formatter: overtableStyle.specialFormatter1,
      },
      {
        title: '进度目标',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        key: 'INDICATOR_PROGRESS_TARGET',
        formatter: overtableStyle.specialFormatter1,
      },
      {
        title: '上月实绩',
        dataIndex: 'UP_MONTH_INDICATOR_PRFM',
        key: 'UP_MONTH_INDICATOR_PRFM',
        formatter: overtableStyle.specialFormatter2,
      },
      {
        title: '本月实绩',
        dataIndex: 'MONTH_INDICATOR_PRFM',
        key: 'MONTH_INDICATOR_PRFM',
        formatter: overtableStyle.specialFormatter2,
      },
      {
        title: '本年实绩',
        dataIndex: 'YEAR_TOTAL_INDICATOR_PRFM',
        key: 'YEAR_TOTAL_INDICATOR_PRFM',
        formatter: overtableStyle.specialFormatter2,
        mergeColumn: 'INDICATOR_PROGRESS_TARGET,YEAR_TOTAL_INDICATOR_PRFM',
        emphasisColor: 'colorGKone',
        after: 'YEAR_TOTAL_INDICATOR_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const cgsj01OnClickModal = (callback) => {
    callback(`采购运营指标总体情况`);
  };
  const oncgsj01Clicked = (record) => {
    if (props.desensitization == '脱敏') {
      INDICATOR_SUBITEM_DESC.value = record.TM_INDICATOR_SUBITEM_DESC;
    } else {
      INDICATOR_SUBITEM_DESC.value = record.INDICATOR_SUBITEM_DESC;
    }
    cgyyzbztqfqkdw.value = record.INDICATOR_UOM;
    if (
      record.INDICATOR_SUBITEM_SEQ === '04' ||
      record.INDICATOR_SUBITEM_SEQ === '05' ||
      record.INDICATOR_SUBITEM_SEQ === '06' ||
      record.INDICATOR_SUBITEM_SEQ === '09'
    ) {
      cgsj02.columns1[5].emphasisColor = 'colorGk0201';
      cgsj02.columns2[5].emphasisColor = 'colorGk0201';
      cgsj02.columns2[4].emphasisColor = 'colorGk02month01';
    } else {
      cgsj02.columns1[5].emphasisColor = 'colorGk02';
      cgsj02.columns2[5].emphasisColor = 'colorGk02';
      cgsj02.columns2[4].emphasisColor = 'colorGk02month';
    }

    if (
      cgyyzbztqfqkdw.value === '%' ||
      cgyyzbztqfqkdw.value === '元/吨' ||
      cgyyzbztqfqkdw.value === '分'
    ) {
      cb0202.value = 1;
    } else {
      cb0202.value = 2;
    }
    if (record.INDICATOR_SUBITEM_DESC === '资材备件吨钢成本') {
      cgsj02.columns[0].title = '基地';
      query2(record.INDICATOR_SUBITEM_DESC);
    } else {
      cgsj02.columns[0].title = '单位';
      query2(record.INDICATOR_SUBITEM_DESC);
    }
  };
  const query1 = async () => {
    await search1(2022072720235642, '');
    queryAggregate(datatype.parameter('PUR_YM', props.yearmonth, 2022072720235642)).then(
      (result) => {
        const dataMap = result.data[2022072720235642].dataMap;
        cgsj01.dataSource = mergetableStyle.toTableData(
          result.data,
          '2022072720235642',
          cgsj01.keyColumnNameList,
          cgsj01.columnKeyList,
        );
        if (props.desensitization == '脱敏') {
          INDICATOR_SUBITEM_DESC.value = dataMap.TM_INDICATOR_SUBITEM_DESC[0];
        } else {
          INDICATOR_SUBITEM_DESC.value = dataMap.INDICATOR_SUBITEM_DESC[0];
        }
        query2(dataMap.INDICATOR_SUBITEM_DESC[0]);
      },
    );
  };

  const INDICATOR_SUBITEM_DESC = ref('');
  const cgyyzbztqfqkdw = ref('%');
  const cb0202 = ref(1);
  const cgsj02 = reactive({
    dataSource: [],
    columns: [],
    columns1: [
      {
        title: '单位',
        dataIndex: 'PUR_REGION_NAME',
        key: 'PUR_REGION_NAME',
        width: 160,
        ellipsis: false,
      },
      {
        title: '年度目标',
        dataIndex: 'INDICATOR_ANNUAL_TARGET',
        key: 'INDICATOR_ANNUAL_TARGET',
      },
      {
        title: '进度目标',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        key: 'INDICATOR_PROGRESS_TARGET',
      },
      {
        title: '上月实绩',
        dataIndex: 'UP_MONTH_INDICATOR_PRFM',
        key: 'UP_MONTH_INDICATOR_PRFM',
      },
      {
        title: '本月实绩',
        dataIndex: 'MONTH_INDICATOR_PRFM',
        key: 'MONTH_INDICATOR_PRFM',
      },
      {
        title: '本年实绩',
        dataIndex: 'YEAR_TOTAL_INDICATOR_PRFM',
        key: 'YEAR_TOTAL_INDICATOR_PRFM',
        mergeColumn: 'INDICATOR_PROGRESS_TARGET,YEAR_TOTAL_INDICATOR_PRFM',
        emphasisColor: 'colorGk02',
        after: 'YEAR_TOTAL_INDICATOR_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    // 超期应收款比例,设备准点交付率
    columns2: [
      {
        title: '单位',
        dataIndex: 'PUR_REGION_NAME',
        key: 'PUR_REGION_NAME',
        width: 160,
        ellipsis: false,
      },
      {
        title: '年度目标',
        dataIndex: 'INDICATOR_ANNUAL_TARGET',
        key: 'INDICATOR_ANNUAL_TARGET',
      },
      {
        title: '进度目标',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        key: 'INDICATOR_PROGRESS_TARGET',
      },
      {
        title: '上月实绩',
        dataIndex: 'UP_MONTH_INDICATOR_PRFM',
        key: 'UP_MONTH_INDICATOR_PRFM',
      },
      {
        title: '本月实绩',
        dataIndex: 'MONTH_INDICATOR_PRFM',
        key: 'MONTH_INDICATOR_PRFM',
        mergeColumn: 'INDICATOR_PROGRESS_TARGET,MONTH_INDICATOR_PRFM',
        emphasisColor: 'colorGk02month',
        after: 'MONTH_INDICATOR_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '本年实绩',
        dataIndex: 'YEAR_TOTAL_INDICATOR_PRFM',
        key: 'YEAR_TOTAL_INDICATOR_PRFM',
        mergeColumn: 'INDICATOR_PROGRESS_TARGET,YEAR_TOTAL_INDICATOR_PRFM',
        emphasisColor: 'colorGk02',
        after: 'YEAR_TOTAL_INDICATOR_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const cgsj02OnClickModal = (callback) => {
    callback(`${INDICATOR_SUBITEM_DESC.value}（单位：${cgyyzbztqfqkdw.value}）`);
  };
  const cb0201 = (cname) => {
    if (props.desensitization == '脱敏') {
      if (username.value === '资材备件吨钢成本') {
        return cname == 'DS_PUR_REGION_NAME';
      } else {
        return cname == 'TM_PUR_REGION_NAME';
      }
    } else {
      return cname == 'PUR_REGION_NAME';
    }
  };
  const userID = ref();
  const username = ref();
  const query2 = async (c) => {
    username.value = c;
    if (c === '资材备件吨钢成本') {
      userID.value = '2023030216395782';
    } else {
      userID.value = '2022081614245782';
    }
    if (c === '超期应收款比率' || c === '设备准点交付率') {
      cgsj02.columns = cgsj02.columns2;
    } else {
      cgsj02.columns = cgsj02.columns1;
    }
    if (props.desensitization == '脱敏') {
      cgsj02.columns[0].dataIndex = 'TM_PUR_REGION_NAME';
      cgsj02.columns[0].key = 'TM_PUR_REGION_NAME';
      if (c === '资材备件吨钢成本') {
        cgsj02.columns[0].dataIndex = 'DS_PUR_REGION_NAME';
        cgsj02.columns[0].key = 'DS_PUR_REGION_NAME';
      }
    }
    await search2(2022081614245782, '');
    queryAggregate(
      datatype.parameter2('PUR_YM', props.yearmonth, userID.value, 'INDICATOR_SUBITEM_DESC', c),
    ).then((result) => {
      cgsj02.dataSource = mergetableStyle.toTableData1(
        result.data,
        userID.value,
        cb0202.value,
        cb0201,
        cgsj02.keyColumnNameList,
        cgsj02.columnKeyList,
      );
    });
  };

  const cgsj03 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '到货额',
        children: ['MONTH_ARRIVAL_AMT', 'YEAR_ARRIVAL_AMT'],
      },
      {
        title: '领用额',
        children: ['MONTH_ARRIVAL_AMT_DY', 'YEAR_ARRIVAL_AMT_DY'],
      },
    ],
    columns: [
      { title: '单位', dataIndex: 'ARRIVAL_AREA_NAME', key: 'ARRIVAL_AREA_NAME', ellipsis: false },
      {
        title: '年度预算',
        dataIndex: 'ANNUAL_BDGT_AMT',
        key: 'ANNUAL_BDGT_AMT',
        formatter: 'rate5',
      },
      {
        title: '本月',
        dataIndex: 'MONTH_ARRIVAL_AMT',
        key: 'MONTH_ARRIVAL_AMT',
        formatter: 'rate5',
      },
      {
        title: '年累计',
        dataIndex: 'YEAR_ARRIVAL_AMT',
        key: 'YEAR_ARRIVAL_AMT',
        formatter: 'rate5',
      },
      {
        title: '本月',
        dataIndex: 'MONTH_ARRIVAL_AMT_DY',
        key: 'MONTH_ARRIVAL_AMT_DY',
        formatter: 'rate5',
      },
      {
        title: '年累计',
        dataIndex: 'YEAR_ARRIVAL_AMT_DY',
        key: 'YEAR_ARRIVAL_AMT_DY',
        formatter: 'rate5',
      },
      {
        title: '执行率(按到货)',
        dataIndex: 'TOTAL_ARRIVAL_AMT',
        key: 'TOTAL_ARRIVAL_AMT',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const cgsj03OnClickModal = (callback) => {
    callback(`全口径资材备件采购实绩（单位：万元）`);
  };
  const query3 = async () => {
    await search3(2022072909238564, '');
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2022072909238564)).then((result) => {
      const dataMap = result.data['2022072909238564'].dataMap;
      cgsj03.dataSource = mergetableStyle.toTableData(
        result.data,
        '2022072909238564',
        cgsj03.keyColumnNameList,
        cgsj03.columnKeyList,
      );
      if (props.desensitization == '脱敏') {
        ARRIVAL_AREA_NAME.value = dataMap.TM_ARRIVAL_AREA_NAME[0];
      } else {
        ARRIVAL_AREA_NAME.value = dataMap.ARRIVAL_AREA_NAME[0];
      }
      query4(dataMap.ARRIVAL_AREA_NAME[0]);
    });
  };
  const ARRIVAL_AREA_NAME = ref('');
  const oncgsj03Clicked = (record) => {
    if (props.desensitization == '脱敏') {
      ARRIVAL_AREA_NAME.value = record.TM_ARRIVAL_AREA_NAME;
    } else {
      ARRIVAL_AREA_NAME.value = record.ARRIVAL_AREA_NAME;
    }
    query4(record.ARRIVAL_AREA_NAME);
  };

  const setCGSJ01 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const query4 = (c) => {
    queryAggregate(
      datatype.parameter3('YM', props.yearmonth, 2022072713217543, 'AREA_NAME', c),
    ).then((result) => {
      const dataMap = result.data['2022072713217543'].dataMap;
      setCGSJ01.xAxis = dataMap.YM;
      setCGSJ01.series = echartsStyle.echarts04(dataMap.MONTH_ARRIVAL_AMT);
    });
  };

  const cgsj04 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '合同额',
        children: ['MONTH_CONTR_AMT', 'YEAR_TOTAL_CONTR_AMT'],
      },
      {
        title: '到货额',
        children: ['MONTH_ARRIVAL_AMT', 'YEAR_TOTAL_ARRIVAL_AMT'],
      },
    ],
    columns: [
      { title: '单位', dataIndex: 'DEPT_NAME', key: 'DEPT_NAME', ellipsis: false },
      {
        title: '采购预算额',
        dataIndex: 'PROGRESS_TARGET',
        key: 'PROGRESS_TARGET',
        formatter: 'rate5',
      },
      {
        title: '当月',
        dataIndex: 'MONTH_CONTR_AMT',
        key: 'MONTH_CONTR_AMT',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '年累计',
        dataIndex: 'YEAR_TOTAL_CONTR_AMT',
        key: 'YEAR_TOTAL_CONTR_AMT',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '当月',
        dataIndex: 'MONTH_ARRIVAL_AMT',
        key: 'MONTH_ARRIVAL_AMT',
        formatter: 'rate5',
      },
      {
        title: '年累计',
        dataIndex: 'YEAR_TOTAL_ARRIVAL_AMT',
        key: 'YEAR_TOTAL_ARRIVAL_AMT',
        formatter: 'rate5',
      },
      {
        title: '执行率(按合同)',
        dataIndex: 'IMPLEMENTATION_RATE',
        key: 'IMPLEMENTATION_RATE',
        formatter: 'rate3',
        width: 170,
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const cgsj04OnClickModal = (callback) => {
    callback(`工程设备采购实绩（单位：万元）`);
  };
  const query5 = async () => {
    await search4(2022072618234567, '');
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2022072618234567)).then((result) => {
      const dataMap = result.data['2022072618234567'].dataMap;
      cgsj04.dataSource = mergetableStyle.toTableData(
        result.data,
        '2022072618234567',
        cgsj04.keyColumnNameList,
        cgsj04.columnKeyList,
      );
      if (props.desensitization == '脱敏') {
        DEPT_NAME.value = dataMap.DS_DEPT_NAME[0];
      } else {
        DEPT_NAME.value = dataMap.DEPT_NAME[0];
      }
      query6(dataMap.DEPT_NAME[0]);
    });
  };
  const DEPT_NAME = ref();
  const oncgsj04Clicked = (record) => {
    if (props.desensitization == '脱敏') {
      DEPT_NAME.value = record.DS_DEPT_NAME;
    } else {
      DEPT_NAME.value = record.DEPT_NAME;
    }
    query6(record.DEPT_NAME);
  };

  const setCGSJ02 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const query6 = (c) => {
    queryAggregate(
      datatype.parameter3('YM', props.yearmonth, 2022072512134586, 'DEPT_NAME', c),
    ).then((result) => {
      const dataMap = result.data['2022072512134586'].dataMap;
      setCGSJ02.xAxis = dataMap.YM;
      setCGSJ02.series = echartsStyle.echarts04(dataMap.MONTH_CONTR_AMT);
    });
  };

  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
  const userStore = useUserStore();
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cgsj01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: props.yearmonth });
    cgsj01.columnKeyList = res2.data;
  };
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cgsj02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: props.yearmonth });
    cgsj02.columnKeyList = res2.data;
  };
  const search3 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cgsj03.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: props.yearmonth });
    cgsj03.columnKeyList = res2.data;
  };
  const search4 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cgsj04.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: props.yearmonth });
    cgsj04.columnKeyList = res2.data;
  };
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
    height: 520px;
  }

  .sbstyle {
    cursor: pointer;
  }

  .tablerowbgcolor {
    background-color: #f0f2f5;
  }
</style>
