<template>
  <div style="width: 100%">
    <a-row :gutter="[16, 10]">
      <a-col :md="24">
        <div class="colBoard">
          <p class="title titlejzclass"
            >应收资材备件款帐期<edit-outlined
              clsss="editOut"
              @click="showV('2022072717005782', setLJ01.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2022072717005782"
            :has-header="false"
            :data-list="setLJ01.dataSource"
            :column-list="setLJ01.columns"
            :column-groups="setLJ01.columnGroups"
            :cell-color="overtableStyle.cellColor"
            :formatter="overtableStyle.formatter"
            :scroll="{ y: 400 }"
            @cutomHeaderRow="setLJ01OnClickModal"
          />
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="24">
        <div class="colBoard">
          <p class="title titlejzclass"
            >超期欠款排名前十多元单位（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV('2022072615354567', setLJ04.columns, '')"
          /></p>
          <div class="classgundtStyle">
            <MergeTable
              :widget-id="'2022072615354567'"
              :has-header="false"
              :data-list="setLJ04.dataSource"
              :column-list="setLJ04.columns"
              :formatter="overtableStyle.formatter"
              :scroll="{ y: 450 }"
              @cutomHeaderRow="setLJ04OnClickModal"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="12">
        <div class="colBoard">
          <p class="title titlejzclass">当月各户号资备应收款（单位：万元）</p>
          <div style="height: 500px">
            <StackedVerticalChart
              ref="echartresize1"
              :legendone="setLJ02.Chart"
              :y-axis="setLJ02.yAxis"
              :series="setLJ02.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="colBoard">
          <p class="title titlejzclass">资材备件应收款总额趋势（单位：万元）</p>
          <div style="height: 500px">
            <StackedColumnFoldMixedChart
              ref="echartresize2"
              :legendone="setLJ03.Chart"
              :x-axis="setLJ03.xAxis"
              :y-axis="setLJ03.yAxis"
              :series="setLJ03.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </div>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart, StackedVerticalChart } from '../../echartsmodal';
  import overtableStyle from './js/overtableStyle';
  import mergetableStyle from './js/mergetableStyle';
  import echartsStyle from './js/echartsStyle';
  import { MergeTable } from '@/components/business';
  import { queryAggregate, remarkCount, searchAllocate } from '@/api/strategyTracking';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  import datatype from '@/views/strategyTracking/businesstracking/overviewpage/js/dataType';
  import { useUserStore } from '@/store/modules/user';
  const userStore = useUserStore();
  const props = defineProps({
    yearmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    desensitization: {
      type: String,
      default: () => {
        return '';
      },
    },
  });

  const echartresize1 = ref();
  const echartresize2 = ref();
  const zjInitialloading = () => {
    nextTick(() => {
      if (props.desensitization == '脱敏') {
        setLJ01.columns[0].dataIndex = 'DS_VENDOR_NAME';
        setLJ01.columns[0].key = 'DS_VENDOR_NAME';
        setLJ04.columns[1].dataIndex = 'DS_VENDOR_NAME';
        setLJ04.columns[1].key = 'DS_VENDOR_NAME';
        setLJ04.columns[3].dataIndex = 'DS_DUTY_UNIT';
        setLJ04.columns[3].key = 'DS_DUTY_UNIT';
      }
      query1();
      query2();
      query3();
      query4();
      echartresize1.value.Refresh();
      echartresize2.value.Refresh();
    });
  };

  defineExpose({
    zjInitialloading,
  });

  const setLJ01 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '应收资材备件款帐期（单位：万元）',
        children: [
          'ONE_MONTH_RECEIVABLE_AMT',
          'TWO_MONTH_RECEIVABLE_AMT',
          'THREE_MONTH_RECEIVABLE_AMT',
          'FOUR_MONTH_RECEIVABLE_AMT',
          'FIVE_PIECE_MONTH_RECEIVABLE_TOTAL_AMT',
          'FIVE_PIECE_MONTH_OVER_RECEIVABLE_TOTAL_AMT',
          'AMT_SUM',
          'EXPIRE_AMT',
          'MONTH_AVG_SETTLE_AMT',
        ],
      },
    ],
    columns: [
      { title: '户号名称', dataIndex: 'VENDOR_NAME', key: 'VENDOR_NAME', width: '500px' },
      {
        title: '1个月',
        key: 'ONE_MONTH_RECEIVABLE_AMT',
        dataIndex: 'ONE_MONTH_RECEIVABLE_AMT',
        formatter: 'rate5',
      },
      {
        title: '2个月',
        key: 'TWO_MONTH_RECEIVABLE_AMT',
        dataIndex: 'TWO_MONTH_RECEIVABLE_AMT',
        formatter: 'rate5',
      },
      {
        title: '3个月',
        key: 'THREE_MONTH_RECEIVABLE_AMT',
        dataIndex: 'THREE_MONTH_RECEIVABLE_AMT',
        formatter: 'rate5',
        mergeColumn: 'THREE_MONTH_RECEIVABLE_AMT',
        emphasisColor: 'colorljtwo',
        after: 'THREE_MONTH_RECEIVABLE_AMT',
        method: {
          complex: true,
          expression: '{0}',
        },
      },
      {
        title: '4个月',
        key: 'FOUR_MONTH_RECEIVABLE_AMT',
        dataIndex: 'FOUR_MONTH_RECEIVABLE_AMT',
        formatter: 'rate5',
        mergeColumn: 'FOUR_MONTH_RECEIVABLE_AMT',
        emphasisColor: 'colorljthree',
        after: 'FOUR_MONTH_RECEIVABLE_AMT',
        method: {
          complex: true,
          expression: '{0}',
        },
      },
      {
        title: '5个月',
        key: 'FIVE_PIECE_MONTH_RECEIVABLE_TOTAL_AMT',
        dataIndex: 'FIVE_PIECE_MONTH_RECEIVABLE_TOTAL_AMT',
        formatter: 'rate5',
        mergeColumn: 'FIVE_PIECE_MONTH_RECEIVABLE_TOTAL_AMT',
        emphasisColor: 'colorljfour',
        after: 'FIVE_PIECE_MONTH_RECEIVABLE_TOTAL_AMT',
        method: {
          complex: true,
          expression: '{0}',
        },
      },
      {
        title: '5个月以上',
        key: 'FIVE_PIECE_MONTH_OVER_RECEIVABLE_TOTAL_AMT',
        dataIndex: 'FIVE_PIECE_MONTH_OVER_RECEIVABLE_TOTAL_AMT',
        formatter: 'rate5',
        mergeColumn: 'FIVE_PIECE_MONTH_OVER_RECEIVABLE_TOTAL_AMT',
        emphasisColor: 'colorljfive',
        after: 'FIVE_PIECE_MONTH_OVER_RECEIVABLE_TOTAL_AMT',
        method: {
          complex: true,
          expression: '{0}',
        },
      },
      {
        title: '合计',
        key: 'AMT_SUM',
        dataIndex: 'AMT_SUM',
        formatter: 'rate5',
      },
      {
        title: '超期金额',
        key: 'EXPIRE_AMT',
        dataIndex: 'EXPIRE_AMT',
        formatter: 'rate5',
        emphasisColor: 'colortwo',
      },
      {
        title: '月均结算额',
        key: 'MONTH_AVG_SETTLE_AMT',
        dataIndex: 'MONTH_AVG_SETTLE_AMT',
        formatter: 'rate5',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setLJ01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    setLJ01.columnKeyList = res2.data;
  };
  const query1 = async () => {
    await search1('2022072717005782', '');
    queryAggregate(datatype.parameter('DATE_YM', props.yearmonth, '2022072717005782')).then(
      (result) => {
        setLJ01.dataSource = mergetableStyle.toTableData(
          result.data,
          '2022072717005782',
          setLJ01.keyColumnNameList,
          setLJ01.columnKeyList,
        );
      },
    );
  };

  const setLJ04 = reactive({
    dataSource: [],
    columns: [
      { title: '序号', dataIndex: 'seq', key: 'seq', width: 200 },
      { title: '单位名称', dataIndex: 'VENDOR_NAME', key: 'VENDOR_NAME' },
      { title: '超期应收款', dataIndex: 'EXPIRE_AMT', key: 'EXPIRE_AMT', formatter: 'rate4' },
      { title: '责任部门', dataIndex: 'DUTY_UNIT', key: 'DUTY_UNIT' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setLJ04.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    setLJ04.columnKeyList = res2.data;
  };
  const query2 = async () => {
    await search2('2022072615354567', '');
    queryAggregate(datatype.parameter('DATE_YM', props.yearmonth, '2022072615354567')).then(
      (result) => {
        setLJ04.dataSource = mergetableStyle.toTableData(
          result.data,
          '2022072615354567',
          setLJ04.keyColumnNameList,
          setLJ04.columnKeyList,
        );
      },
    );
  };

  const setLJ02 = reactive({
    Chart: ['合计', '超期金额'],
    yAxis: [],
    xAxis: [],
    series: [],
  });
  const query3 = async () => {
    queryAggregate(datatype.parameter('DATE_YM', props.yearmonth, '2023030916395786')).then(
      (result) => {
        const dataMap = result.data['2023030916395786'].dataMap;
        setLJ02.yAxis = dataMap.VENDOR_NAME;
        setLJ02.series = echartsStyle.echarts08(dataMap.AMT_SUM, dataMap.EXPIRE_AMT);
      },
    );
  };

  const setLJ03 = reactive({
    Chart: ['应收累计', '超期金额'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const query4 = async () => {
    queryAggregate(datatype.parameter1('DATE_YM', props.yearmonth, '2022072820245782')).then(
      (result) => {
        const dataMap = result.data['2022072820245782'].dataMap;
        setLJ03.xAxis = mergetableStyle.toChartxAxis();
        setLJ03.series = echartsStyle.echarts09(
          mergetableStyle.toChartSeries(dataMap.AMT_SUM),
          mergetableStyle.toChartSeries(dataMap.EXPIRE_AMT),
        );
      },
    );
  };

  const setLJ01OnClickModal = (callback) => {
    callback('应收资材备件款帐期');
  };
  const setLJ04OnClickModal = (callback) => {
    callback('超期欠款排名前十多元单位（单位：万元）');
  };

  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
</script>

<style lang="less" scoped>
  .colBoard {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    line-height: 16px;
    letter-spacing: 0px;
  }

  .titlejzclass {
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .classgundtStyle {
    height: 500px;
  }
</style>
