<template>
  <div style="width: 100%">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle">
          <p class="title">
            收发情况
            <edit-outlined clsss="editOut" @click="showV(2023070312165505, wl02.columns, '')"
          /></p>
          <div style="height: 500px">
            <MergeTable
              :widget-id="2023070312165505"
              :has-header="false"
              :column-list="wl02.columns"
              :data-list="wl02.dataSource"
              :column-groups="wl02.columnGroups"
              :scroll="{ y: 400 }"
              :formatter="overtableStyle.formatter"
              @cutomHeaderRow="wl02OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title">
            库存情况
            <edit-outlined clsss="editOut" @click="showV(2023070412165505, wl03.columns, '')"
          /></p>
          <div style="height: 500px">
            <MergeTable
              :widget-id="2023070412165505"
              :has-header="false"
              :column-list="wl03.columns"
              :data-list="wl03.dataSource"
              :column-groups="wl03.columnGroups"
              :scroll="{ y: 360 }"
              :formatter="overtableStyle.formatter"
              @cutomHeaderRow="wl03OnClickModal"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle">
          <p class="title">
            PSCS履约情况
            <edit-outlined clsss="editOut" @click="showV(2023062609535699, wl01.columns, '')"
          /></p>
          <div style="height: 500px">
            <MergeTable
              :widget-id="2023062609535699"
              :has-header="false"
              :column-list="wl01.columns"
              :data-list="wl01.dataSource"
              :scroll="{ y: 430 }"
              :formatter="overtableStyle.formatter"
              @cellClicked="onwl01Clicked"
              @cutomHeaderRow="wl01OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title">{{ wl01.BIG_ZONE_NAME }}趋势图</p>
          <div style="height: 500px">
            <StackedColumnFoldMixedChart
              ref="echartresize1"
              :legendone="echarwl01.chart"
              :x-axis="echarwl01.xAxis"
              :y-axis="echarwl01.yAxis"
              :series="echarwl01.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title">
            长库龄情况（单位：万元）
            <edit-outlined clsss="editOut" @click="showV(2023062716002460, wl04.columns, '')"
          /></p>
          <div>
            <MergeTable
              :widget-id="2023062716002460"
              :has-header="false"
              :column-list="wl04.columns"
              :data-list="wl04.dataSource"
              :column-groups="wl04.columnGroups"
              :scroll="{ y: 400 }"
              :formatter="overtableStyle.formatter"
              @cutomHeaderRow="wl04OnClickModal"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title">
            不下发4sp
            <edit-outlined clsss="editOut" @click="showV(2023073109583899, wl05.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023073109583899"
            :has-header="false"
            :column-list="wl05.columns"
            :data-list="wl05.dataSource"
            :column-groups="wl05.columnGroups"
            :scroll="{ x: 4000, y: 400 }"
            :formatter="overtableStyle.formatter"
            @cutomHeaderRow="wl05OnClickModal"
          />
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose" />
  </div>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../echartsmodal';
  import overtableStyle from './js/overtableStyle';
  import mergetableStyle from './js/mergetableStyle';
  import { MergeTable } from '@/components/business';
  import { queryAggregate, remarkCount, searchAllocate } from '@/api/strategyTracking';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  import datatype from '@/views/strategyTracking/businesstracking/overviewpage/js/dataType';
  import echartsStyle from '@/views/strategyTracking/businesstracking/overviewpage/js/echartsStyle';
  import { useUserStore } from '@/store/modules/user';
  const userStore = useUserStore();
  const props = defineProps({
    yearmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    desensitization: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const echartresize1 = ref();
  const wlInitialloading = () => {
    nextTick(() => {
      if (props.desensitization == '脱敏') {
        wl01.columns[0].dataIndex = 'JM_BIG_ZONE_NAME';
        wl01.columns[0].key = 'JM_BIG_ZONE_NAME';
        wl01.columns[1].dataIndex = 'JM_BASE_NAME';
        wl01.columns[1].key = 'JM_BASE_NAME';
        wl02.columns[0].dataIndex = 'TM_AREA_NAME';
        wl02.columns[0].key = 'TM_AREA_NAME';
        wl03.columns[0].dataIndex = 'TM_BASE_NAME';
        wl03.columns[0].key = 'TM_BASE_NAME';
        wl04.columns[0].dataIndex = 'DS_BIG_ZONE_NAME';
        wl04.columns[0].key = 'DS_BIG_ZONE_NAME';
        wl04.columns[1].dataIndex = 'DS_BASE_NAME';
        wl04.columns[1].key = 'DS_BASE_NAME';
        wl05.columns[0].dataIndex = 'JM_LEAF_CODE';
        wl05.columns[0].key = 'JM_LEAF_CODE';
        wl05.columns[1].dataIndex = 'JM_LEAF_NAME';
        wl05.columns[1].key = 'JM_LEAF_NAME';
      }
      query1();
      query3();
      query4();
      query5();
      query6();
      echartresize1.value.Refresh();
    });
  };
  defineExpose({
    wlInitialloading,
  });

  const wl01 = reactive({
    dataSource: [],
    columns: [
      {
        title: '大区',
        dataIndex: 'BIG_ZONE_NAME',
        key: 'BIG_ZONE_NAME',
        rspans: [
          { start: 0, span: 1 },
          { start: 1, span: 4 },
          { start: 5, span: 3 },
          { start: 8, span: 4 },
          { start: 12, span: 1 },
          { start: 13, span: 3 },
          { start: 16, span: 4 },
          { start: 20, span: 1 },
        ],
      },
      { title: '地区', dataIndex: 'BASE_NAME', key: 'BASE_NAME' },
      { title: '目标', dataIndex: 'INDEX_RATE', key: 'INDEX_RATE', formatter: 'rate3' },
      {
        title: '准时履约单数',
        dataIndex: 'PUNTLTY_PRFM_GET_LIST_QTY',
        key: 'PUNTLTY_PRFM_GET_LIST_QTY',
        formatter: 'rate5',
      },
      { title: '总单数', dataIndex: 'TOTAL_NUMBER', key: 'TOTAL_NUMBER', formatter: 'rate5' },
      {
        title: '履约率',
        dataIndex: 'PERFORMANCE_RATE',
        key: 'PERFORMANCE_RATE',
        formatter: 'rate10',
      },
      {
        title: '差异',
        dataIndex: 'DIFFERENCE_VALUE',
        key: 'DIFFERENCE_VALUE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
    BIG_ZONE_NAME: '',
  });
  const query1 = async () => {
    await search1(2023062609535699, '');
    queryAggregate(datatype.parameter('PUR_YM', props.yearmonth, 2023062609535699)).then(
      (result) => {
        const dataMap = result.data[2023062609535699].dataMap;
        wl01.dataSource = mergetableStyle.toTableData(
          result.data,
          '2023062609535699',
          wl01.keyColumnNameList,
          wl01.columnKeyList,
        );
        if (props.desensitization == '脱敏') {
          wl01.BIG_ZONE_NAME = dataMap.JM_BIG_ZONE_NAME[0];
        } else {
          wl01.BIG_ZONE_NAME = dataMap.BIG_ZONE_NAME[0];
        }
        query2(dataMap.BIG_ZONE_NAME[0]);
      },
    );
  };

  const echarwl01 = reactive({
    chart: [],
    xAxis: [],
    yAxis: [{ min: 80, max: 100 }],
    series: [],
  });
  const query2 = (c) => {
    queryAggregate(
      datatype.parameter3('YM', props.yearmonth, 2023062610104399, 'DEPT_NAME', c),
    ).then((result) => {
      const dataMap = result.data['2023062610104399'].dataMap;
      const data = result.data[2023062610104399].data;
      const dateser = echartsStyle.echarts11(dataMap.BASE_NAME, dataMap.YM, data, 2, 3);
      echarwl01.series = dateser.series;
      echarwl01.chart = dateser.char;
      echarwl01.xAxis = dateser.xAxis;
    });
  };

  const wl02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '入库（万元）',
        children: ['MONTH_MAT_SPPT_STOCKIN_AMT', 'YEAR_MAT_SPPT_STOCKIN_AMT'],
      },
      {
        title: '出库当月实绩（万元）',
        children: [
          'MONTH_MAT_SPPT_STOCKOUT_DIR_AMT',
          'MONTH_MAT_SPPT_STOCKOUT_DISTRIBUTION_AMT',
          'MONTH_MAT_SPPT_STOCKOUT_SELFPICKUP_AMT',
          'MONTH_MAT_SPPT_STOCKOUT_SHIFT_AMT',
        ],
      },
      {
        title: '出库累计实绩（万元）',
        children: [
          'YEAR_MAT_SPPT_STOCKOUT_DIR_AMT',
          'YEAR_MAT_SPPT_STOCKOUT_DISTRIBUTION_AMT',
          'YEAR_MAT_SPPT_STOCKOUT_SELFPICKUP_AMT',
          'YEAR_MAT_SPPT_STOCKOUT_SHIFT_AMT',
        ],
      },
    ],
    columns: [
      { title: '地区', dataIndex: 'AREA_NAME', key: 'AREA_NAME' },
      {
        title: '月度',
        dataIndex: 'MONTH_MAT_SPPT_STOCKIN_AMT',
        key: 'MONTH_MAT_SPPT_STOCKIN_AMT',
        formatter: 'rate5',
      },
      {
        title: '年度',
        dataIndex: 'YEAR_MAT_SPPT_STOCKIN_AMT',
        key: 'YEAR_MAT_SPPT_STOCKIN_AMT',
        formatter: 'rate5',
      },
      {
        title: '直送',
        dataIndex: 'MONTH_MAT_SPPT_STOCKOUT_DIR_AMT',
        key: 'MONTH_MAT_SPPT_STOCKOUT_DIR_AMT',
        formatter: 'rate5',
      },
      {
        title: '配送',
        dataIndex: 'MONTH_MAT_SPPT_STOCKOUT_DISTRIBUTION_AMT',
        key: 'MONTH_MAT_SPPT_STOCKOUT_DISTRIBUTION_AMT',
        formatter: 'rate5',
      },
      {
        title: '自提',
        dataIndex: 'MONTH_MAT_SPPT_STOCKOUT_SELFPICKUP_AMT',
        key: 'MONTH_MAT_SPPT_STOCKOUT_SELFPICKUP_AMT',
        formatter: 'rate5',
      },
      {
        title: '移拨',
        dataIndex: 'MONTH_MAT_SPPT_STOCKOUT_SHIFT_AMT',
        key: 'MONTH_MAT_SPPT_STOCKOUT_SHIFT_AMT',
        formatter: 'rate5',
      },
      {
        title: '直送',
        dataIndex: 'YEAR_MAT_SPPT_STOCKOUT_DIR_AMT',
        key: 'YEAR_MAT_SPPT_STOCKOUT_DIR_AMT',
        formatter: 'rate5',
      },
      {
        title: '配送',
        dataIndex: 'YEAR_MAT_SPPT_STOCKOUT_DISTRIBUTION_AMT',
        key: 'YEAR_MAT_SPPT_STOCKOUT_DISTRIBUTION_AMT',
        formatter: 'rate5',
      },
      {
        title: '自提',
        dataIndex: 'YEAR_MAT_SPPT_STOCKOUT_SELFPICKUP_AMT',
        key: 'YEAR_MAT_SPPT_STOCKOUT_SELFPICKUP_AMT',
        formatter: 'rate5',
      },
      {
        title: '移拨',
        dataIndex: 'YEAR_MAT_SPPT_STOCKOUT_SHIFT_AMT',
        key: 'YEAR_MAT_SPPT_STOCKOUT_SHIFT_AMT',
        formatter: 'rate5',
      },
      {
        title: '直送率',
        dataIndex: 'MONTH_MAT_SPPT_STOCKOUT_DIR_RATE',
        key: 'MONTH_MAT_SPPT_STOCKOUT_DIR_RATE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
    BIG_ZONE_NAME: '',
  });
  const query3 = async () => {
    await search2(2023070312165505, '');
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023070312165505)).then((result) => {
      wl02.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023070312165505',
        wl02.keyColumnNameList,
        wl02.columnKeyList,
      );
    });
  };

  const wl03 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '本月库存（万元）',
        children: ['OG_INV_AMT', 'STEEL_BASE_INV_AMT', 'MULT_INV_AMT', 'TOTAL_INV_AMT'],
      },
    ],
    columns: [
      { title: '地区', dataIndex: 'BASE_NAME', key: 'BASE_NAME' },
      {
        title: '上月库存',
        dataIndex: 'LASTMONTH_INV_AMT',
        key: 'LASTMONTH_INV_AMT',
        formatter: 'rate5',
      },
      { title: 'OG库存', dataIndex: 'OG_INV_AMT', key: 'OG_INV_AMT', formatter: 'rate5' },
      {
        title: '钢铁基地',
        dataIndex: 'STEEL_BASE_INV_AMT',
        key: 'STEEL_BASE_INV_AMT',
        formatter: 'rate5',
      },
      { title: '多元单位', dataIndex: 'MULT_INV_AMT', key: 'MULT_INV_AMT', formatter: 'rate5' },
      { title: '总额', dataIndex: 'TOTAL_INV_AMT', key: 'TOTAL_INV_AMT', formatter: 'rate5' },
      {
        title: '与上月增减额',
        dataIndex: 'MONTH_MAT_SPPT_INV_MOMR_AMT',
        key: 'MONTH_MAT_SPPT_INV_MOMR_AMT',
        formatter: 'rate5',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
    BIG_ZONE_NAME: '',
  });
  const query4 = async () => {
    await search3(2023070412165505, '');
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023070412165505)).then((result) => {
      wl03.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023070412165505',
        wl03.keyColumnNameList,
        wl03.columnKeyList,
      );
    });
  };

  const wl04 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '单元',
        children: ['BIG_ZONE_NAME', 'BASE_NAME'],
      },
      {
        title: '库龄（≥10年）',
        children: [
          'INVAGING_GE_TEN_YEAR_SPPT_INV_AMT',
          'INVAGING_GE_TEN_YEAR_SPPT_INV_AMT_RATIO',
          'INVAGING_GE_TEN_YEAR_MAT_INV_AMT',
          'INVAGING_GE_TEN_YEAR_MAT_INV_AMT_RATIO',
        ],
      },
      {
        title: '库龄（5-10年）',
        children: [
          'INVAGING_FIVE_ARRIVE_TEN_YEAR_SPPT_INV_AMT',
          'INVAGING_FIVE_ARRIVE_TEN_YEAR_SPPT_INV_AMT_RATIO',
          'INVAGING_FIVE_ARRIVE_TEN_YEAR_MAT_INV_AMT',
          'INVAGING_FIVE_ARRIVE_TEN_YEAR_MAT_INV_AMT_RATIO',
        ],
      },
      {
        title: '库龄（3-5年）',
        children: [
          'INVAGING_THREE_ARRIVE_FIVE_YEAR_SPPT_INV_AMT',
          'INVAGING_THREE_ARRIVE_FIVE_YEAR_SPPT_INV_AMT_RATIO',
          'INVAGING_THREE_ARRIVE_FIVE_YEAR_MAT_INV_AMT',
          'INVAGING_THREE_ARRIVE_FIVE_YEAR_MAT_INV_AMT_RATIO',
        ],
      },
      {
        title: '库龄（≥3年）汇总',
        children: ['INVAGING_GT_THREE_YEAR_INV_AMT', 'INVAGING_GT_THREE_YEAR_INV_AMT_RATIO'],
      },
    ],
    columns: [
      {
        title: '大区',
        dataIndex: 'BIG_ZONE_NAME',
        key: 'BIG_ZONE_NAME',
        rspans: [
          { start: 0, span: 1 },
          { start: 1, span: 4 },
          { start: 5, span: 3 },
          { start: 8, span: 4 },
          { start: 12, span: 2 },
          { start: 14, span: 5 },
          { start: 19, span: 4 },
          { start: 23, span: 0 },
        ],
      },
      { title: '地区', dataIndex: 'BASE_NAME', key: 'BASE_NAME' },
      { title: '库存金额', dataIndex: 'INV_AMT', key: 'INV_AMT', formatter: 'rate5' },
      {
        title: '备件金额',
        dataIndex: 'INVAGING_GE_TEN_YEAR_SPPT_INV_AMT',
        key: 'INVAGING_GE_TEN_YEAR_SPPT_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '备件占比',
        dataIndex: 'INVAGING_GE_TEN_YEAR_SPPT_INV_AMT_RATIO',
        key: 'INVAGING_GE_TEN_YEAR_SPPT_INV_AMT_RATIO',
        formatter: 'rate3',
      },
      {
        title: '资材金额',
        dataIndex: 'INVAGING_GE_TEN_YEAR_MAT_INV_AMT',
        key: 'INVAGING_GE_TEN_YEAR_MAT_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '资材占比',
        dataIndex: 'INVAGING_GE_TEN_YEAR_MAT_INV_AMT_RATIO',
        key: 'INVAGING_GE_TEN_YEAR_MAT_INV_AMT_RATIO',
        formatter: 'rate3',
      },
      {
        title: '备件金额',
        dataIndex: 'INVAGING_FIVE_ARRIVE_TEN_YEAR_SPPT_INV_AMT',
        key: 'INVAGING_FIVE_ARRIVE_TEN_YEAR_SPPT_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '备件占比',
        dataIndex: 'INVAGING_FIVE_ARRIVE_TEN_YEAR_SPPT_INV_AMT_RATIO',
        key: 'INVAGING_FIVE_ARRIVE_TEN_YEAR_SPPT_INV_AMT_RATIO',
        formatter: 'rate3',
      },
      {
        title: '资材金额',
        dataIndex: 'INVAGING_FIVE_ARRIVE_TEN_YEAR_MAT_INV_AMT',
        key: 'INVAGING_FIVE_ARRIVE_TEN_YEAR_MAT_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '资材占比',
        dataIndex: 'INVAGING_FIVE_ARRIVE_TEN_YEAR_MAT_INV_AMT_RATIO',
        key: 'INVAGING_FIVE_ARRIVE_TEN_YEAR_MAT_INV_AMT_RATIO',
        formatter: 'rate3',
      },
      {
        title: '备件金额',
        dataIndex: 'INVAGING_THREE_ARRIVE_FIVE_YEAR_SPPT_INV_AMT',
        key: 'INVAGING_THREE_ARRIVE_FIVE_YEAR_SPPT_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '备件占比',
        dataIndex: 'INVAGING_THREE_ARRIVE_FIVE_YEAR_SPPT_INV_AMT_RATIO',
        key: 'INVAGING_THREE_ARRIVE_FIVE_YEAR_SPPT_INV_AMT_RATIO',
        formatter: 'rate3',
      },
      {
        title: '资材金额',
        dataIndex: 'INVAGING_THREE_ARRIVE_FIVE_YEAR_MAT_INV_AMT',
        key: 'INVAGING_THREE_ARRIVE_FIVE_YEAR_MAT_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '资材占比',
        dataIndex: 'INVAGING_THREE_ARRIVE_FIVE_YEAR_MAT_INV_AMT_RATIO',
        key: 'INVAGING_THREE_ARRIVE_FIVE_YEAR_MAT_INV_AMT_RATIO',
        formatter: 'rate3',
      },
      {
        title: '金额',
        dataIndex: 'INVAGING_GT_THREE_YEAR_INV_AMT',
        key: 'INVAGING_GT_THREE_YEAR_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '占比',
        dataIndex: 'INVAGING_GT_THREE_YEAR_INV_AMT_RATIO',
        key: 'INVAGING_GT_THREE_YEAR_INV_AMT_RATIO',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
    BIG_ZONE_NAME: '',
  });
  const query5 = async () => {
    await search4(2023062716002460, '');
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023062716002460)).then((result) => {
      wl04.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023062716002460',
        wl04.keyColumnNameList,
        wl04.columnKeyList,
      );
    });
  };

  const wl05 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '上海',
        children: ['SH_CNT', 'SH_AMT'],
      },
      {
        title: '武汉',
        children: ['WH_CNT', 'WH_AMT'],
      },
      {
        title: '鄂州',
        children: ['EZ_CNT', 'EZ_AMT'],
      },
      {
        title: '三门峡',
        children: ['SMX_CNT', 'SMX_AMT'],
      },
      {
        title: '马鞍山',
        children: ['MAS_CNT', 'MAS_AMT'],
      },
      {
        title: '南京',
        children: ['NJ_CNT', 'NJ_AMT'],
      },
      {
        title: '湛江',
        children: ['ZJ_CNT', 'ZJ_AMT'],
      },
      {
        title: '韶关',
        children: ['SG_CNT', 'SG_AMT'],
      },
      {
        title: '重庆',
        children: ['CQ_CNT', 'CQ_AMT'],
      },
      {
        title: '不下发汇总',
        children: ['NOT_DISTRIBUTED_CNT', 'NOT_DISTRIBUTED_AMT'],
      },
      {
        title: '领用完成总数',
        children: ['ACQUISITION_COMPLETED_CNT', 'ACQUISITION_COMPLETED_AMT'],
      },
      {
        title: '不下发占比',
        children: ['NOT_DISTRIBUTED_CNT_RATE', 'NOT_DISTRIBUTED_AMT_RATE'],
      },
    ],
    columns: [
      { title: '中类代码', dataIndex: 'LEAF_CODE', key: 'LEAF_CODE', fixed: 'left' },
      { title: '中类名称', dataIndex: 'LEAF_NAME', key: 'LEAF_NAME', fixed: 'left' },
      { title: '不下发笔数', dataIndex: 'SH_CNT', key: 'SH_CNT', formatter: 'rate5' },
      { title: '金额', dataIndex: 'SH_AMT', key: 'SH_AMT', formatter: 'rate5' },
      { title: '不下发笔数', dataIndex: 'WH_CNT', key: 'WH_CNT', formatter: 'rate5' },
      { title: '金额', dataIndex: 'WH_AMT', key: 'WH_AMT', formatter: 'rate5' },
      { title: '不下发笔数', dataIndex: 'EZ_CNT', key: 'EZ_CNT', formatter: 'rate5' },
      { title: '金额', dataIndex: 'EZ_AMT', key: 'EZ_AMT', formatter: 'rate5' },
      { title: '不下发笔数', dataIndex: 'SMX_CNT', key: 'SMX_CNT', formatter: 'rate5' },
      { title: '金额', dataIndex: 'SMX_AMT', key: 'SMX_AMT', formatter: 'rate5' },
      { title: '不下发笔数', dataIndex: 'MAS_CNT', key: 'MAS_CNT', formatter: 'rate5' },
      { title: '金额', dataIndex: 'MAS_AMT', key: 'MAS_AMT', formatter: 'rate5' },
      { title: '不下发笔数', dataIndex: 'NJ_CNT', key: 'NJ_CNT', formatter: 'rate5' },
      { title: '金额', dataIndex: 'NJ_AMT', key: 'NJ_AMT', formatter: 'rate5' },
      { title: '不下发笔数', dataIndex: 'ZJ_CNT', key: 'ZJ_CNT', formatter: 'rate5' },
      { title: '金额', dataIndex: 'ZJ_AMT', key: 'ZJ_AMT', formatter: 'rate5' },
      { title: '不下发笔数', dataIndex: 'SG_CNT', key: 'SG_CNT', formatter: 'rate5' },
      { title: '金额', dataIndex: 'SG_AMT', key: 'SG_AMT', formatter: 'rate5' },
      { title: '不下发笔数', dataIndex: 'CQ_CNT', key: 'CQ_CNT', formatter: 'rate5' },
      { title: '金额', dataIndex: 'CQ_AMT', key: 'CQ_AMT', formatter: 'rate5' },
      {
        title: '不下发笔数',
        dataIndex: 'NOT_DISTRIBUTED_CNT',
        key: 'NOT_DISTRIBUTED_CNT',
        formatter: 'rate5',
      },
      {
        title: '不下发金额',
        dataIndex: 'NOT_DISTRIBUTED_AMT',
        key: 'NOT_DISTRIBUTED_AMT',
        formatter: 'rate5',
      },
      {
        title: '领用完成笔数',
        dataIndex: 'ACQUISITION_COMPLETED_CNT',
        key: 'ACQUISITION_COMPLETED_CNT',
        formatter: 'rate5',
      },
      {
        title: '领用完成金额',
        dataIndex: 'ACQUISITION_COMPLETED_AMT',
        key: 'ACQUISITION_COMPLETED_AMT',
        formatter: 'rate5',
      },
      {
        title: '不下发占比笔数',
        dataIndex: 'NOT_DISTRIBUTED_CNT_RATE',
        key: 'NOT_DISTRIBUTED_CNT_RATE',
        formatter: 'rate3',
      },
      {
        title: '不下发占比金额',
        dataIndex: 'NOT_DISTRIBUTED_AMT_RATE',
        key: 'NOT_DISTRIBUTED_AMT_RATE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const query6 = async () => {
    await search5(2023073109583899, '');
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023073109583899)).then((result) => {
      wl05.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023073109583899',
        wl05.keyColumnNameList,
        wl05.columnKeyList,
      );
    });
  };

  // 点击事件
  const onwl01Clicked = (record) => {
    if (props.desensitization == '脱敏') {
      wl01.BIG_ZONE_NAME = record.JM_BIG_ZONE_NAME;
    } else {
      wl01.BIG_ZONE_NAME = record.BIG_ZONE_NAME;
    }
    query2(record.BIG_ZONE_NAME);
  };

  // 表头放大事件
  const wl01OnClickModal = (callback) => {
    callback('PSCS履约情况');
  };
  const wl02OnClickModal = (callback) => {
    callback('收发情况');
  };
  const wl03OnClickModal = (callback) => {
    callback('库存情况');
  };
  const wl04OnClickModal = (callback) => {
    callback('长库龄情况（单位：万元）');
  };
  const wl05OnClickModal = (callback) => {
    callback('不下发4sp');
  };

  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };

  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      wl01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    wl01.columnKeyList = res2.data;
  };
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      wl02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    wl02.columnKeyList = res2.data;
  };
  const search3 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      wl03.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    wl03.columnKeyList = res2.data;
  };
  const search4 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      wl04.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    wl04.columnKeyList = res2.data;
  };
  const search5 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      wl05.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    wl05.columnKeyList = res2.data;
  };
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .HeightStyle {
    height: 450px;
  }
</style>
