<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      :title="`${state.title}项目`"
      width="1000px"
      :footer="null"
      destroy-on-close
      @ok="handleOk"
      @cancel="handleOk"
    >
      <div>
        <a-form
          ref="auditFormRef"
          :model="state.auditForm"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 16 }"
          :rules="rules"
          @finish="onFinish1"
          @finish-failed="onFinishFailed1"
        >
          <a-form-item label="项目名称" name="projectName">
            <a-input
              v-model:value="state.auditForm.projectName"
              placeholder="请输入100字符以内,不允许重复"
              :maxlength="100"
              type="text"
              @blur="projectCheckFn"
            />
          </a-form-item>
          <a-form-item label="项目内容" name="projectContent">
            <a-textarea
              v-model:value="state.auditForm.projectContent"
              :maxlength="500"
              allow-clear
              show-count
              placeholder="请输入500字符以内"
            />
          </a-form-item>
          <a-form-item label="项目部门" name="projectDeptCode">
            <a-cascader
              v-model:value="state.auditForm.projectDeptCode"
              placeholder="请选择项目部门"
              allow-clear
              :field-names="{ label: 'text', value: 'code', children: 'children' }"
              :options="state.responsibleDeptData"
              show-search
              style="width: 80%"
              @change="changRresDep"
            >
            </a-cascader>
          </a-form-item>
          <a-form-item label="项目责任人" name="projectPerson">
            <a-select
              v-model:value="state.auditForm.projectPerson"
              :allow-clear="true"
              show-search
              :filter-option="false"
              @search="handleUserSearch"
              @deselect="getUsersFn(null)"
              @change="changeUserFn"
            >
              <a-select-option
                v-for="item in state.allUsers"
                :key="item.userId"
                :field-names="{ label: 'username', value: 'userId' }"
                :value="`${item.userId}-${item.username}`"
              >
                {{ item.username }}/{{ item.employeeCode }}
                <!-- <span role="img" class="" :aria-label="item.username">{{ item.username }}</span>
                /
                <span class="select-usercode">{{ item.employeeCode }}</span> -->
              </a-select-option>
            </a-select>
          </a-form-item>
          <a-form-item label="项目成员" name="projectMember">
            <TagInput v-model:value="state.auditForm.projectMember" style="width: 100%"></TagInput>
          </a-form-item>
          <a-form-item label="立项理由" name="reason">
            <a-textarea
              v-model:value="state.auditForm.reason"
              :maxlength="500"
              allow-clear
              show-count
              placeholder="请输入500字符以内"
            />
          </a-form-item>
          <a-form-item label="项目开始时间" name="projectStartDate">
            <a-date-picker
              v-model:value="state.auditForm.projectStartDate"
              format="YYYY-MM-DD"
              value-format="YYYY-MM-DD"
              type="date"
              placeholder="选择时间"
              style="width: 80%"
            />
          </a-form-item>
          <a-form-item label="项目结束时间" name="projectEndDate">
            <a-date-picker
              v-model:value="state.auditForm.projectEndDate"
              format="YYYY-MM-DD"
              value-format="YYYY-MM-DD"
              type="date"
              placeholder="选择时间"
              style="width: 80%"
            />
          </a-form-item>
          <a-form-item label="备注" name="remark">
            <a-textarea
              v-model:value="state.auditForm.remark"
              :maxlength="500"
              allow-clear
              show-count
              placeholder="请输入500字符以内"
            />
          </a-form-item>
          <div class="sub-btn">
            <a-button
              html-type="submit"
              type="primary"
              style="background: #1890ff; color: #fff"
              :loading="state.loading"
            >
              保存</a-button
            >
          </div>
          <div> </div>
        </a-form>
      </div>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import type { Rule } from 'ant-design-vue/es/form';
  import { getDep } from '@/api/supervisionGovern';
  import TagInput from '@/components/core/schema-form/src/components/TagInput.vue';
  import {
    getProjectSave,
    getProjectEdit,
    getProjectCheck,
  } from '@/api/supervisionGovern/questionInventory';
  import { getUsersCode } from '@/api/supervisionModel';
  const emit = defineEmits(['search']);
  const dialogFormVisible = ref(false);

  const auditFormRef = ref();

  const state = reactive({
    title: '新增',
    loading: false,
    responsibleDeptData: [],
    allUsers: [],
    auditForm: {
      id: '',
      projectCode: '',
      projectName: '',
      projectContent: '',
      projectDeptName: '',
      projectDeptCode: [],
      projectPerson: '',
      projectPersonId: '',
      projectMember: [],
      reason: '',
      remark: '',
      projectStartDate: undefined,
      projectEndDate: undefined,
    },
    pagination: {
      pageSizeOptions: ['10', '20', '30', '40'],
      current: 1,
      pageSize: 10,
      total: 0,
      showSizeChanger: true,
      showQuickJumper: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
  });

  const processHandle = (record) => {
    // console.log('列表过来的数据', record.rectifyStatus);
    const val = cloneDeep(record);
    state.title = '编辑';
    const dept = val.projectDeptCode.split(',');
    val.projectDeptCode = [dept[0], dept[1]];
    val.projectMember = val.projectMember.split(',');
    state.auditForm = { ...val };
  };
  const changeUserFn = (val) => {
    const item = val.split('-');
    state.auditForm.projectPerson = item[1];
    state.auditForm.projectPersonId = item[0];
  };
  const handleUserSearch = (val) => {
    getUsersFn(val, 1);
  };
  const projectCheckFn = (val) => {
    validateName(val);
    // console.log(val.target);
    // getProjectCheck({ projectName: val.target.value }).then((res) => {
    //   console.log(res);
    //   if (res.code != 'OK') {
    //     message.warning('项目名称重复，请重新输入！');
    //     state.auditForm.projectName = '';
    //   }
    // });
  };
  const validateName = async (_rule: Rule, value: String) => {
    const _params = {
      projectName: value,
      projectCode: state.title == '编辑' ? state.auditForm.projectCode : null,
    };
    const checkResult = await getProjectCheck(_params);
    if (!checkResult.success) {
      return Promise.reject('项目名称重复，请重新输入！');
    } else {
      return Promise.resolve();
    }
  };
  const getUsersFn = (val, falg) => {
    //项目责任人-模型管理员列表
    let _params = {};
    if (falg == 1) {
      _params = {
        username: val,
      };
    } else if (falg == 2) {
      _params = {
        userId: val,
      };
    } else {
      _params = {};
    }
    getUsersCode(_params).then((r) => {
      if (r.data.code == 'OK') {
        state.allUsers = r.data.data;
      }
    });
  };
  const getResponsibleDeptFn = () => {
    getDep().then((res) => {
      if (res.status === 200) {
        state.responsibleDeptData = res.data.rows.children;
      }
    });
    getUsersFn('');
  };
  const changRresDep = (val) => {
    if (val != undefined && val.length == 2) {
      const resDepP = state.responsibleDeptData.find((x) => {
        return x.code === val[0];
      });
      const resDepC = resDepP.children.find((y) => {
        return y.code === val[1];
      });
      state.auditForm.projectDeptName = `${resDepP.text}/${resDepC.text}`;
    } else {
      state.auditForm.projectDeptName = '';
      state.auditForm.projectDeptCode = [];
    }
  };
  const rules = reactive({
    projectName: [
      { required: true, message: '请输入项目名称', trigger: 'blur' },
      { validator: validateName },
    ],
    projectContent: [{ required: true, message: '请输入项目内容', trigger: 'blur' }],
    projectPerson: [{ required: true, message: '请输入项目责任人', trigger: 'blur' }],
    projectMember: [{ required: true, message: '请输入团队成员', trigger: 'blur' }],
    reason: [{ required: true, message: '请输入立项理由', trigger: 'blur' }],
    projectDeptCode: [{ required: true, message: '请选择项目部门' }],
    projectStartDate: [{ required: true, message: '请选择项目开始时间', trigger: 'change' }],
    projectEndDate: [{ required: true, message: '请选择项目结束时间', trigger: 'change' }],
  });

  const onChangeVisable = () => {
    dialogFormVisible.value = true;
    getResponsibleDeptFn();
  };
  const onFinish1 = () => {
    state.loading = true;
    const _params = { ...state.auditForm };
    _params.projectDeptCode = state.auditForm.projectDeptCode.join(',');
    _params.projectMember = state.auditForm.projectMember.join(',');
    if (state.title == '新增') {
      getProjectSave(_params).then((res) => {
        state.loading = false;
        if (res.code === 'OK') {
          emit('search');
          message.success('新增成功');
          handleOk(); //提交则直接关闭弹框
        }
      });
    } else {
      //编辑
      getProjectEdit(_params).then((res) => {
        state.loading = false;
        if (res.code === 'OK') {
          emit('search');
          message.success('编辑成功');
          handleOk(); //提交则直接关闭弹框
        }
      });
    }
  };
  const onFinishFailed1 = () => {};
  // 分页操作
  const handleTableChange = (pagination) => {};
  const handleOk = () => {
    state.title = '新增';
    state.auditForm = {
      id: '',
      projectCode: '',
      projectName: '',
      projectContent: '',
      projectDeptName: '',
      projectDeptCode: [],
      projectPerson: '',
      projectPersonId: '',
      projectMember: [],
      reason: '',
      remark: '',
      projectStartDate: undefined,
      projectEndDate: undefined,
    };
    dialogFormVisible.value = false;
  };

  defineExpose({ onChangeVisable, processHandle });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 18px;
    font-weight: 600;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
