<template>
  <div class="page-container" v-show="false">
    <div v-show="qiankun">
      <h1>404</h1>
      <h1>对不起，您没有该页面的权限...</h1>
      <RouterLink :to="{ path: '/', replace: true }" class="ant-btn ant-btn-primary"
        >回到首页</RouterLink
      >
    </div>
    <img src="~@/assets/avatar/obei1.png" alt="" />
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  export default defineComponent({
    name: 'NotFound',
  });
</script>

<style lang="less" scoped>
  .page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    img {
      height: 350px;
      margin-left: 50px;
    }
  }
</style>
