<template>
  <!-- 管控目标 -->
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]" class="gutter-style">
      <a-col :md="{ span: 10 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">易购</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in eBay.bay" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <WaterPolo :echardata="item.rate" :echarunit="state.e03" />
              </p>
              <div class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }} </p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>

      <a-col :md="{ span: 14 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">商城</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in Stores.mall" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <ScoringRing
                  :echarcolor="state.greencolor"
                  :echardata="item.rate"
                  :echarunit="state.e03"
                />
              </p>
              <div class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }} </p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
    </a-row>

    <a-row :gutter="[16, 10]" class="gutter-style">
      <a-col :md="{ span: 24 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">商城</p>
          <a-row :gutter="[16, 10]">
            <a-col :md="{ span: 24 }">
              <div class="OperationTarget-first">
                <div
                  v-for="(item, index) in Stores2.mall"
                  :key="index"
                  class="OperationTarget-item"
                >
                  <p class="gmv-title">{{ item.title }}</p>
                  <p class="gmv-first3">
                    <TemGauge :echarcolor="state.greencolor" :echardata="item.rate" />
                  </p>
                  <div class="text-SC">
                    <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                    <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
                  </div>
                </div>
              </div>
            </a-col>
          </a-row>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]" class="gutter-style">
      <a-col :md="{ span: 24 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">云库</p>
          <div class="OperationTarget-first">
            <div
              v-for="(item, index) in cloudlibrary.bank"
              :key="index"
              class="OperationTarget-item"
            >
              <p class="gmv-title">{{ item.title }}</p>
              <template
                v-if="item.title == '云库库存方客户总数' || item.title == '云库采购方客户总数'"
              >
                <p class="gmv-first">
                  <WaterPolo :echardata="item.rate" :echarunit="state.e03" />
                </p>
              </template>
              <template v-else>
                <p class="gmv-first">
                  <ScoringRing
                    :echarcolor="state.bluecolor"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                  />
                </p>
              </template>
              <div class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]" class="gutter-style">
      <a-col :md="{ span: 8 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">易销</p>
          <a-row :gutter="[16, 10]">
            <a-col :md="{ span: 12 }">
              <div class="OperationTarget-item">
                <p class="gmv-title">易销客户总数</p>
                <p class="gmv-style"
                  ><SpeedGauge :echardata="state.YX_CUS_TTL_PCT" :echarunit="state.e03"
                /></p>
                <div class="text-HYSWZX">
                  <p>目标：{{ state.YX_CUS_TTL_TG }} 家</p>
                  <p>当前：{{ state.YX_CUS_TTL }} 家</p>
                </div>
              </div>
            </a-col>
            <a-col :md="{ span: 12 }">
              <div class="OperationTarget-item">
                <p class="gmv-title">新增易销客户总数</p>
                <p class="gmv-style"
                  ><SpeedGauge :echardata="state.YX_CUS_NEW_PCT" :echarunit="state.e03"
                /></p>
                <div class="text-HYSWZX">
                  <p>目标：{{ state.YX_CUS_NEW_TG }} 家</p>
                  <p>当前：{{ state.YX_CUS_NEW }} 家</p>
                </div>
              </div>
            </a-col>
          </a-row>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">零碳</p>
          <a-row :gutter="[16, 10]">
            <a-col :md="{ span: 12 }">
              <div class="OperationTarget-item">
                <p class="gmv-title">新增客户总数</p>
                <p class="gmv-style"
                  ><SpeedGauge :echardata="state.LT_CUS_NEW_PCT" :echarunit="state.e03"
                /></p>
                <div class="text-HYSWZX">
                  <p>目标：{{ state.LT_CUS_NEW_TG }} 家</p>
                  <p>当前：{{ state.LT_CUS_NEW }} 家</p>
                </div>
              </div>
            </a-col>
            <a-col :md="{ span: 12 }">
              <div class="OperationTarget-item">
                <p class="gmv-title">新增报告数</p>
                <p class="gmv-style"
                  ><SpeedGauge :echardata="state.LT_REP_NEW_PCT" :echarunit="state.e03"
                /></p>
                <div class="text-HYSWZX">
                  <p>目标：{{ state.LT_REP_NEW_TG }} 份</p>
                  <p>当前：{{ state.LT_REP_NEW }} 份</p>
                </div>
              </div>
            </a-col>
          </a-row>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">会员商务中心</p>
          <a-row :gutter="[16, 10]">
            <a-col :md="{ span: 12 }">
              <div class="OperationTarget-item">
                <p class="gmv-title">欧贝电子签累计客户总数</p>
                <p class="gmv-style"
                  ><SpeedGauge :echardata="state.ME_SIG_TTL_PCT" :echarunit="state.e03"
                /></p>
                <div class="text-HYSWZX">
                  <p>目标：{{ state.ME_SIG_TTL_TG }} 家</p>
                  <p>当前：{{ state.ME_SIG_TTL }} 家</p>
                </div>
              </div>
            </a-col>
            <a-col :md="{ span: 12 }">
              <div class="OperationTarget-item">
                <p class="gmv-title">欧贝电子签新增客户数</p>
                <p class="gmv-style"
                  ><SpeedGauge :echardata="state.ME_SIG_NEW_PCT" :echarunit="state.e03"
                /></p>
                <div class="text-HYSWZX">
                  <p>目标：{{ state.ME_SIG_NEW_TG }} 家</p>
                  <p>当前：{{ state.ME_SIG_NEW }} 家</p>
                </div>
              </div>
            </a-col>
          </a-row>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, watch, nextTick, defineExpose } from 'vue';
  import { ScoringRing, TemGauge, SpeedGauge, WaterPolo } from '../../../echartsAssembly';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const Xiaoshu = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext).toLocaleString();
    }
  };
  // 云库
  const cloudlibrary = reactive({
    bank: [
      {
        title: '云库新增连接家数',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '云库库存方客户总数',
        goals: '20 ',
        current: '5,000 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '云库库存方客户新增',
        goals: '20 ',
        current: '5,000 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '云库采购方客户总数',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '云库采购方客户新增',
        goals: '3,000 ',
        current: '2,000',
        rate: '78',
        unit: '家',
      },
      {
        title: '本年新增SKU数',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '万',
      },
    ],
  });
  // 易购
  const eBay = reactive({
    bay: [
      { title: '新增采购端签约客户数', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '家' },
      { title: '易购新增双非客户数', goals: '20 ', current: '5,000 ', rate: '78', unit: '家' },
      { title: '重点客户目标分解', goals: '20 ', current: '5,000 ', rate: '78', unit: '家' },
    ],
  });
  // 商城
  const Stores = reactive({
    mall: [
      { title: '商城新增客户数', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '家' },
      { title: '商城新增双非客户数', goals: '20 ', current: '5,000 ', rate: '78', unit: '家' },
      { title: '商城双非客户数占比', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '%' },
      { title: '对接运营大客户专区', goals: '20 ', current: '5,000 ', rate: '78', unit: '个' },
      // { title: '非集采营业收入', goals: '目标：3,000 亿元', current: '当前:2,000 亿元' },
    ],
  });
  const Stores2 = reactive({
    mall: [
      { title: '平台累计SKU数', goals: '3,000 ', current: '2,000', rate: '78', unit: '万' },
      {
        title: '年度新增SKU数(自主开发)',
        goals: '20 ',
        current: '5,000 ',
        rate: '78',
        unit: '万',
      },
      { title: '核心商品线建设', goals: '20 ', current: '5,000 ', rate: '78', unit: '条' },
      { title: '场景化建设', goals: '20 ', current: '5,000 ', rate: '78', unit: '个' },
    ],
  });
  const state = reactive({
    yearMonth: '',
    defcolor: '#188df0',
    gmvcolor: '#fa4d5b',
    fjcolor: '#98d45b',
    greencolor: '#53c676',
    bluecolor: '#1367ca',
    e01: '0.78',
    e02: '78',
    e03: '%',
    ME_SIG_NEW: '',
    ME_SIG_NEW_PCT: '',
    ME_SIG_NEW_TG: '',
    ME_SIG_TTL: '',
    ME_SIG_TTL_PCT: '',
    ME_SIG_TTL_TG: '',
    LT_REP_NEW: '',
    LT_REP_NEW_PCT: '',
    LT_REP_NEW_TG: '',
    LT_CUS_NEW: '',
    LT_CUS_NEW_PCT: '',
    LT_CUS_NEW_TG: '',
    YX_CUS_NEW: '',
    YX_CUS_NEW_PCT: '',
    YX_CUS_NEW_TG: '',
    YX_CUS_TTL: '',
    YX_CUS_TTL_PCT: '',
    YX_CUS_TTL_TG: '',
  });
  // 易购接口
  const objectivesBay = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          eBay.bay[index].goals = Xiaoshu(data.YG_PUR_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.YG_PUR[0]);
          eBay.bay[index].rate = data.YG_PUR_PCT[0];
        } else if (index == 1) {
          eBay.bay[index].goals = Xiaoshu(data.YG_NON_PUR_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.YG_NON_PUR[0]);
          eBay.bay[index].rate = data.YG_NON_PUR_PCT[0];
        } else if (index == 2) {
          eBay.bay[index].goals = Xiaoshu(data.YG_VIP_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.YG_VIP[0]);
          eBay.bay[index].rate = data.YG_VIP_PCT[0];
        }
        // else if (index == 3) {
        //   eBay.bay[index].goals = Xiaoshu(data.SC_SAT_TG[0]);
        //   eBay.bay[index].current = Xiaoshu(data.SC_SAT[0]);
        //   eBay.bay[index].rate = Xiaoshu(data.SC_SAT_PCT[0]);
        // }
      });
    });
  };
  // 商城接口
  const objectivesStores = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          Stores.mall[index].goals = Xiaoshu(data.SC_NEW_TG[0]);
          Stores.mall[index].current = Xiaoshu(data.SC_NEW[0]);
          Stores.mall[index].rate = data.SC_NEW_PCT[0];
        } else if (index == 1) {
          Stores.mall[index].goals = Xiaoshu(data.SC_NON_NEW_TG[0]);
          Stores.mall[index].current = Xiaoshu(data.SC_NON_NEW[0]);
          Stores.mall[index].rate = data.SC_NON_NEW_PCT[0];
        } else if (index == 2) {
          Stores.mall[index].goals = Xiaoshu(data.SC_NON_PCT_TG[0]);
          Stores.mall[index].current = Xiaoshu(data.SC_NON_PCT[0]);
          Stores.mall[index].rate = data.SC_NON_PCT_PCT[0];
        } else if (index == 3) {
          Stores.mall[index].goals = Xiaoshu(data.SC_ZON_TG[0]);
          Stores.mall[index].current = Xiaoshu(data.SC_ZON[0]);
          Stores.mall[index].rate = data.SC_ZON_PCT[0];
        }
      });
    });
  };
  const objectivesStores2 = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          Stores2.mall[index].goals = Xiaoshu(data.SC_SKU_TG[0]);
          Stores2.mall[index].current = Xiaoshu(data.SC_SKU[0]);
          Stores2.mall[index].rate = data.SC_SKU_PCT[0];
        } else if (index == 1) {
          Stores2.mall[index].goals = Xiaoshu(data.SC_NEW_SKU_TG[0]);
          Stores2.mall[index].current = Xiaoshu(data.SC_NEW_SKU[0]);
          Stores2.mall[index].rate = data.SC_NEW_SKU_PCT[0];
        } else if (index == 2) {
          Stores2.mall[index].goals = Xiaoshu(data.SC_LIN_TG[0]);
          Stores2.mall[index].current = Xiaoshu(data.SC_LIN[0]);
          Stores2.mall[index].rate = data.SC_LIN_PCT[0];
        } else if (index == 3) {
          Stores2.mall[index].goals = Xiaoshu(data.SC_SCE_TG[0]);
          Stores2.mall[index].current = Xiaoshu(data.SC_SCE[0]);
          Stores2.mall[index].rate = data.SC_SCE_PCT[0];
        }
      });
    });
  };
  // 云库接口
  const objectiveslibrary = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          cloudlibrary.bank[index].goals = Xiaoshu(data.YK_NEW_TG[0]);
          cloudlibrary.bank[index].current = Xiaoshu(data.YK_NEW[0]);
          cloudlibrary.bank[index].rate = data.YK_NEW_PCT[0];
        } else if (index == 1) {
          cloudlibrary.bank[index].goals = Xiaoshu(data.YK_CUS_TTL_TG[0]);
          cloudlibrary.bank[index].current = Xiaoshu(data.YK_CUS_TTL[0]);
          cloudlibrary.bank[index].rate = data.YK_CUS_TTL_PCT[0];
        } else if (index == 2) {
          cloudlibrary.bank[index].goals = Xiaoshu(data.YK_CUS_NEW_TG[0]);
          cloudlibrary.bank[index].current = Xiaoshu(data.YK_CUS_NEW[0]);
          cloudlibrary.bank[index].rate = data.YK_CUS_NEW_PCT[0];
        } else if (index == 3) {
          cloudlibrary.bank[index].goals = Xiaoshu(data.YK_PR_TTL_TG[0]);
          cloudlibrary.bank[index].current = Xiaoshu(data.YK_PR_TTL[0]);
          cloudlibrary.bank[index].rate = data.YK_PR_TTL_PCT[0];
        } else if (index == 4) {
          cloudlibrary.bank[index].goals = Xiaoshu(data.YK_PR_NEW_TG[0]);
          cloudlibrary.bank[index].current = Xiaoshu(data.YK_PR_NEW[0]);
          cloudlibrary.bank[index].rate = data.YK_PR_NEW_PCT[0];
        } else if (index == 5) {
          cloudlibrary.bank[index].goals = Xiaoshu(data.YK_SKU_TG[0]);
          cloudlibrary.bank[index].current = Xiaoshu(data.YK_SKU[0]);
          cloudlibrary.bank[index].rate = data.YK_SKU_PCT[0];
        }
      });
    });
  };
  const objectivesOther = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          state.YX_CUS_TTL = Xiaoshu(data.YX_CUS_TTL[0]);
          state.YX_CUS_TTL_TG = Xiaoshu(data.YX_CUS_TTL_TG[0]);
          state.YX_CUS_TTL_PCT = Xiaoshu(data.YX_CUS_TTL_PCT[0]);
        } else if (index == 1) {
          state.YX_CUS_NEW = Xiaoshu(data.YX_CUS_NEW[0]);
          state.YX_CUS_NEW_TG = Xiaoshu(data.YX_CUS_NEW_TG[0]);
          state.YX_CUS_NEW_PCT = Xiaoshu(data.YX_CUS_NEW_PCT[0]);
        } else if (index == 2) {
          state.LT_CUS_NEW = Xiaoshu(data.LT_CUS_NEW[0]);
          state.LT_CUS_NEW_TG = Xiaoshu(data.LT_CUS_NEW_TG[0]);
          state.LT_CUS_NEW_PCT = Xiaoshu(data.LT_CUS_NEW_PCT[0]);
        } else if (index == 3) {
          state.LT_REP_NEW = Xiaoshu(data.LT_REP_NEW[0]);
          state.LT_REP_NEW_TG = Xiaoshu(data.LT_REP_NEW_TG[0]);
          state.LT_REP_NEW_PCT = Xiaoshu(data.LT_REP_NEW_PCT[0]);
        } else if (index == 4) {
          state.ME_SIG_TTL = Xiaoshu(data.ME_SIG_TTL[0]);
          state.ME_SIG_TTL_TG = Xiaoshu(data.ME_SIG_TTL_TG[0]);
          state.ME_SIG_TTL_PCT = Xiaoshu(data.ME_SIG_TTL_PCT[0]);
        } else if (index == 5) {
          state.ME_SIG_NEW = Xiaoshu(data.ME_SIG_NEW[0]);
          state.ME_SIG_NEW_TG = Xiaoshu(data.ME_SIG_NEW_TG[0]);
          state.ME_SIG_NEW_PCT = Xiaoshu(data.ME_SIG_NEW_PCT[0]);
        }
      });
    });
  };
  const objectivesSearch = () => {
    objectivesBay('2023042517250095', 0);
    objectivesBay('2023042517250096', 1);
    objectivesBay('2023042517250097', 2);
    objectivesStores('2023042517250102', 0);
    objectivesStores('2023042517250103', 1);
    objectivesStores('2023042517250104', 2);
    objectivesStores('2023042517250105', 3);
    objectivesStores2('2023042517250106', 0);
    objectivesStores2('2023042517250107', 1);
    objectivesStores2('2023042517250108', 2);
    objectivesStores2('2023042517250109', 3);
    objectiveslibrary('2023042517250110', 0);
    objectiveslibrary('2023042517250111', 1);
    objectiveslibrary('2023042517250112', 2);
    objectiveslibrary('2023042517250113', 3);
    objectiveslibrary('2023042517250114', 4);
    objectiveslibrary('2023042517250115', 5);
    objectivesOther('2023042517250116', 0);
    objectivesOther('2023042517250119', 1);
    objectivesOther('2023042517250117', 2);
    objectivesOther('2023042517250120', 3);
    objectivesOther('2023042517250123', 4); //会员商务
    objectivesOther('2023042517250124', 5);
  };
  defineExpose({
    objectivesSearch,
  });
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
      objectivesSearch();
    },
  );

  // onMounted(() => {
  //   objectivesSearch();
  // });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .gutter-style {
      margin-bottom: 10px;
    }
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      // border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      min-height: 325px;
    }

    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
    }
    .OperationTarget-first {
      display: flex;
      justify-content: space-between;
    }
    .gmv-first {
      width: 200px;
      height: 200px;
      // border: 2px solid #e5e7eb;
    }
    .gmv-first2 {
      width: 500px;
      height: 300px;
      // border: 2px solid #e5e7eb;
    }
    .gmv-first3 {
      width: 380px;
      height: 250px;
      // border: 2px solid #e5e7eb;
    }
    .OperationTarget-item {
      font-family: PingFangSC-Regular;
      font-size: 18px;
      font-weight: normal;
      .gmv-title {
        text-align: center;
      }
      .gmv-style {
        width: 100%;
        height: 180px;
        // border: 2px solid #e5e7eb;
      }
      .bg-height1 {
        height: 180px;
      }
      .bg-height2 {
        height: 300px;
      }
      .text-SC {
        padding-left: 35%;
      }
      .text-HYSWZX {
        margin-left: 50px;
      }
      .text {
        margin-left: 22%;
      }
    }
  }
</style>
