<template>
  <div class="OperationTarget">
    <div class="OperationTarget-bg">
      <a-row :gutter="[16, 10]">
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">营业收入</span>目标及完成率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbLtTargetMonth01.chart"
              :x-axis="jymbLtTargetMonth01.xAxis"
              :y-axis="jymbLtTargetMonth01.yAxis"
              :series="jymbLtTargetMonth01.series"
            />
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { nextTick, reactive, watch } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import echartSeries from './js/echartSeries';
  import { queryAggregate } from '@/api/strategyTracking';

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );

  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterType: 'ragen',
          filterField: 'YM',
          filterValues: [`${props.yearMonth.substring(0, 4)}01`, props.yearMonth],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }

  const InitialCall = () => {
    getjymbLtTargetMonth01();
  };

  const jymbLtTargetMonth01 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  const getjymbLtTargetMonth01 = () => {
    queryAggregate(parameter(2023042614010085)).then((result) => {
      const data = result.data[2023042614010085].dataMap;
      jymbLtTargetMonth01.xAxis = data.YM;
      jymbLtTargetMonth01.series = echartSeries.seriesData(
        data.LT_REV_TG,
        data.LT_REV,
        data.LT_REV_PCT,
        '万元',
      );
    });
  };

  nextTick(() => {
    InitialCall();
  });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .OperationTarget-span01 {
      background: #f5e8b9;
      color: #f5e8b9;
    }
    .OperationTarget-span02 {
      color: red;
    }
    .OperationTarget-height {
      height: 300px;
    }
  }
</style>
