<template>
  <div class="chartConfigLine">
    <Editor v-if="store.chartData.chartType === 'editor'"></Editor>
    <Drilling :config="store.chartData.config"></Drilling>
    <DbView :db-data="state.dbData"></DbView>
    <a-empty v-if="store.chartData.loading === 'error'" />
    <div v-else-if="store.chartData.loading" class="spinPage">
      <a-spin />
    </div>
    <Chart
      v-else-if="!store.chartData.loading"
      :chart-type="store.chartData.chartType"
      :title="state.title"
      :show-legend="state.showLegend"
      :data="store.chartData.data"
      :config="store.chartData.config"
      :page-data="store.chartData.pageData"
      :style="{
        height:
          store?.chartData?.config?.option?.rinIn?.children &&
          store?.chartData?.config?.option?.rinIn?.children?.length > 0
            ? 'calc(100% - 30px)'
            : '100%',
      }"
      @dbCheck="dbCheck"
    >
    </Chart>
  </div>
</template>

<script setup lang="ts">
  import { reactive } from 'vue';
  import Drilling from './Drilling.vue';
  import DbView from './DbView.vue';
  import Editor from './Editor.vue';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  import Chart from '@/views/userAnalyze/components/index.vue';
  defineOptions({
    name: 'chartConfigLine',
  });
  const store = chartConfigurations();
  const state = reactive({
    title: '',
    showLegend: true,
    dbData: {},
  });
  const dbCheck = (el, filters) => {
    state.dbData = { el, filters };
  };
</script>

<style lang="less" scoped>
  .chartConfigLine {
    flex: 1;
    border: 1px solid #eee;
    border-radius: 6px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px 3px #eee;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    // height: 400px !important;
    .spinPage {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: rgba(126, 125, 125, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      top: 0;
      left: 0;
    }
  }
</style>
