<template>
  <div class="main">
    <a-row class="content">
      <a-col :span="4" class="content-left">
        <TreeList :base-info="true" @tree-select="orgTreeData" @selectd="onSelect" />
      </a-col>
      <a-col :span="20" class="content-right">
        <DynamicTable
          row-key="id"
          :data-request="loadTableData"
          :columns="columnList"
          bordered
          auto-height
          :scroll="{ y: 300 }"
          :row-selection="rowSelection"
          size="small"
        >
          <template #headerCell="{ column }">
            <template
              v-if="
                ['orgPerformanceName', 'orgPerformanceCode'].includes(column.key) &&
                state.treeCode.orgCode == 'BWDH00'
              "
            >
              <span> 专业管理部门 </span>
            </template>
          </template>
          <template #bodyCell="{ column, text, record }">
            <template v-if="column.dataIndex == 'ruleCode'">
              <div class="link" @click="checkDetail(record)">{{ record.ruleCode || '-' }}</div>
            </template>
          </template>
          <template #toolbar>
            <a-button v-if="$auth('rule:saveRelationPerf')" type="primary" @click="modelOpen"
              >关联目标</a-button
            >
            <a-button
              v-if="$auth('rule:auditSubmitBatchRelationPerf')"
              type="primary"
              @click="initiateAudit"
              >提交审核</a-button
            >
            <a-button v-if="$auth('rule:deleteRelationPerf')" @click="deleteRowData">删除</a-button>
          </template>
        </DynamicTable>
      </a-col>
    </a-row>
    <!-- 配置公式 -->
    <set-formula
      :visible="setFormulaDialog.visible"
      :record="setFormulaDialog.record"
      :org-info="state.treeCode"
      @close="setFormulaDialogClose"
    ></set-formula>
    <!-- 查看详情 -->
    <DetailModal
      :visible="detailDialog.visible"
      :records="detailDialog.records"
      :title="detailDialog.title"
      :cols="detailDialog.cols"
      @close="detailDialogClose"
    ></DetailModal>
    <!-- 关联目标 -->
    <RelevanceModal
      title="关联目标"
      :org-visible="orgVisible"
      :org-info="state.treeCode"
      @cancel-org-modal="cancelOrgModal"
    ></RelevanceModal>
    <!-- 编辑 -->
    <EmitModal
      :visible="state.emitData.visible"
      :record="state.emitData.record"
      @close="emitClose"
    ></EmitModal>
  </div>
</template>

<script setup lang="ts">
  import { reactive, ref } from 'vue';
  import { useRoute } from 'vue-router';
  import { message } from 'ant-design-vue';
  import TreeList from '../components/TreeList.vue';
  import SetFormula from './SetFormula.vue';
  import RelevanceModal from './components/RelevanceModal.vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns'; //table列
  import EmitModal from './components/EmitModal.vue';
  import { DetailModal } from '@/components/business/detail';
  import { useTable, type LoadDataParams } from '@/components/core/dynamic-table';
  import { orgCode, deleteTargetData, batchTargetData } from '@/api/orgPerList/setUp';
  import dict from '@/utils/dict.js';
  import { genDeptTreeItem } from '@/api/system/dept/service';

  defineOptions({
    name: 'Setup',
  });
  const route = useRoute();
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'ruleCode',
    bordered: true,
  });
  const approvePar: any = ref([]);
  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], _selectedRows: TableListItem[]) => {
      rowSelection.value.selectedRowKeys = selectedRowKeys;
      approvePar.value = _selectedRows;
    },
    // 表格禁用
    // getCheckboxProps: (record: DataType) => ({
    //   disabled: record.auditStatus === '10',
    //   name: record.auditStatus,
    // }),
  });
  type configFormulaType = {
    visible: boolean;
    record: object;
  };
  const setFormulaDialog = reactive<configFormulaType>({
    visible: false,
    record: [],
  });

  const detailDialog = reactive<any>({
    visible: false,
    temps: {},
    cols: 3,
    title: '',
    visibleAudit: false,
  });
  const detailDialogClose = () => {
    detailDialog.visible = false;
    detailDialog.visibleAudit = false;
    dynamicTableInstance.reload();
  };
  //关联目标
  const orgVisible = ref(false);
  const modelOpen = () => {
    if (!state.treeCode.orgCode) return message.warning('请选择组织部门！');
    orgVisible.value = true;
  };

  const emitClose = (isload) => {
    state.emitData.visible = false;
    if (isload) dynamicTableInstance.reload();
  };
  const columnList: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 220,
      dataIndex: 'ACTION',
      fixed: 'right',
      actions: ({ record }) => {
        let actionList = [] as any;
        actionList = [
          {
            label: '编辑',
            auth: 'rule:updateRelationPerf',
            onClick: () => {
              state.emitData.record = record;
              state.emitData.visible = true;
            },
          },
        ];

        const workArr = ['PT-202023003', 'PT-202023004', 'PT-202023005', 'PT-202023006'];
        if (!workArr.includes(record.performanceType)) {
          actionList.push({
            label: '配置公式',
            auth: 'rule:expAndScriptSave',
            onClick: () => {
              onSetFormula(record);
            },
          });
        }
        return actionList;
      },
    },
  ];
  const state = reactive({
    deptTrees: [],
    treeCode: {
      orgCode: '',
      orgName: '',
    },
    emitData: {
      visible: false,
      record: {},
    },
  });
  // 调整对应列的render;
  baseColumns[5].formItemProps.componentProps = () => {
    return {
      treeData: state.deptTrees,
      fieldNames: {
        label: 'title',
        value: 'value',
      },
    };
  };
  /**  获取部门列表 **/
  const orgTreeData = (data) => {
    const deptTree: API.TreeDataItem[] = [];
    for (let i = 0; i < data.rows.children.length; i++) {
      const temp = data.rows.children[i];
      deptTree.push(genDeptTreeItem(temp));
    }
    state.deptTrees = deptTree;
  };

  const onSelect = (_selectedKeys, info) => {
    state.treeCode.orgCode = info.selectedNodes[0].code;
    state.treeCode.orgName = info.selectedNodes[0].title;
    if (_selectedKeys[0]) dynamicTableInstance.reload();
  };
  const { orgCode: orgPerformanceCode } = route.query;
  const loadTableData = async (params: LoadDataParams) => {
    if (!state.treeCode.orgCode) return;
    const param = {
      ...params,
      evaluatedOrgCode: state.treeCode.orgCode,
      orgPerformanceCode,
    };
    const { data } = await orgCode(param);
    if (data.success) {
      return {
        list: data.data,
        pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
      };
    }
  };

  const convertData = (data) => {
    // const perfGType = dict.getValue('INDICATOR_TYPE', data.perfGType);
    const perfGCategory = dict.getValue('INDICATOR_CATEGORY', data.perfGCategory);
    const performanceType = dict.getValue('PERFORMANCE_TYPE', data.performanceType);
    const timePeriod = dict.getValue('TIME_PERIOD', data.timePeriod);
    const evaluatePeriod = dict.getValue('EVALUATION_PERIOD', data.evaluatePeriod);
    const perfGOrgCode = dict.getValue('INDICATOR_UNIT', data.perfGOrgCode);
    if (data.performanceType == 'PT-202023003') {
      //如果绩效类型是重点工作则不显示不相关字段
      return [
        { key: '指标类别', value: perfGCategory?.itemText ?? '-' },
        // { key: '指标类型', value: perfGType?.itemText ?? '-' },
        { key: '绩效类型', value: performanceType?.itemText ?? '-' },
        { key: '归口管理部门', value: data.orgPerformanceName },
        { key: '年度目标', value: data.yearTarget },
        { key: '第一季度目标', value: data.qOneGoal },
        { key: '第二季度目标', value: data.qSedGoal },
        { key: '第三季度目标', value: data.qThirdGoal },
        { key: '第四季度目标', value: data.qFourthGoal },
      ];
    } else {
      return [
        { key: '指标类别', value: perfGCategory?.itemText ?? '-' },
        // { key: '指标类型', value: perfGType?.itemText ?? '-' },
        { key: '绩效类型', value: performanceType?.itemText ?? '-' },
        { key: '权重', value: data.score ? `${data.score}%` : '-' },
        { key: '归口管理部门', value: data.orgPerformanceName },
        { key: '指标单位', value: perfGOrgCode?.itemText ?? '-' },
        { key: '时间周期', value: timePeriod?.itemText ?? '-' },
        { key: '评价周期', value: evaluatePeriod?.itemText ?? '-' },
        { key: '年度目标', value: data.yearTarget },
        { key: '第一季度目标', value: data.qOneGoal },
        { key: '第二季度目标', value: data.qSedGoal },
        { key: '第三季度目标', value: data.qThirdGoal },
        { key: '第四季度目标', value: data.qFourthGoal },
        { key: '指标上限', value: data.perfGUpperLimit },
        { key: '指标下限', value: data.perfGLowerLimit },
        { key: '实绩公式描述', value: data.eneityResultFuncDesc },
        { key: '计分公式描述', value: data.eneityScoreFuncDesc },
      ];
    }
  };
  //查看详情
  const checkDetail = (record) => {
    const temps = convertData(record);
    detailDialog.title = `#${record.ruleCode} ${record.perfGName}`;
    detailDialog.records = temps;
    detailDialog.visible = true;
  };
  //删除
  const deleteRowData = async () => {
    const params = {
      ruleCodes: [...rowSelection.value.selectedRowKeys],
    };
    const { data } = await deleteTargetData(params);
    if (data.success) {
      message.success(`删除成功！`);
      dynamicTableInstance.reload();
    } else {
      message.error(`${data.message}`);
    }
  };
  //提交审核
  const initiateAudit = async () => {
    if (approvePar.value.length == 0) return message.warning('请先选择数据行！');
    const par = approvePar.value.map((item) => {
      return {
        auditStatus: item.auditStatus,
        ruleCode: item.ruleCode,
      };
    });
    const params = {
      ruleAuditVos: [...par],
    };
    const { data } = await batchTargetData(params);
    if (data.success) {
      message.success(`${data.message} `);
      rowSelection.value.selectedRowKeys = [];
      approvePar.value = [];
      dynamicTableInstance.reload();
      approvePar.value = [];
    } else {
      message.error(`${data.message}`);
    }
  };

  //配置公式
  const onSetFormula = (record: any) => {
    const timePeriod = dict.getValue('TIME_PERIOD', record.timePeriod);
    const evaluatePeriod = dict.getValue('EVALUATION_PERIOD', record.evaluatePeriod);
    // const infoPerfGType = dict.getValue('INDICATOR_TYPE', record.perfGType);
    const infoData = {
      code1: record.ruleCode,
      code2: evaluatePeriod?.itemText ?? '-',
      code3: record.perfGName,
      code4: timePeriod?.itemText ?? '-',
      code5: record.evaluatedOrgName,
      // code6: infoPerfGType?.itemText ?? '-',
    };
    setFormulaDialog.record = { ...infoData, ...record };
    setFormulaDialog.visible = true;
  };
  const setFormulaDialogClose = (isload) => {
    setFormulaDialog.visible = false;
    if (isload) dynamicTableInstance.reload();
  };
  const cancelOrgModal = (isload) => {
    orgVisible.value = false;
    if (isload) dynamicTableInstance.reload();
  };
</script>

<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;
    .content {
      padding: 0.5rem 1.25rem;
      height: inherit;
      .content-left {
        border-right: 0.0625rem solid #f1f1f1;
        padding-right: 12px;
      }
      .content-right {
        padding-left: 12px;
      }
    }
  }
  /deep/th.text-align {
    text-align: center;
  }
</style>
