<template>
  <MergeTable
    :has-header="false"
    :data-list="state.dataList"
    :column-list="state.columnList"
    :column-groups="state.columnGroup"
    :row-merge="state.rowMerge"
    :loading="loading"
    :scroll="{ y: 300 }"
    :ellipsis="true"
    @cell-clicked="cellClicked"
  >
  </MergeTable>
</template>

<script lang="tsx" setup>
  import { ref, reactive, onMounted, watch } from 'vue';
  import Transformer from '../../statisticsTable/transformer.js';
  import { MergeTable } from '@/components/business';
  import { getHomeWidget, queryAggregate } from '@/api/common';

  defineOptions({
    name: 'ModelDistDetail',
    inheritAttrs: false,
  });
  const emit = defineEmits(['cellClicked']);
  const props = defineProps({
    bizSystem: {
      type: String,
      default: '',
    },
  });

  const loading = ref(false);
  const state = reactive({
    dataList: [],
    columnList: [
      {
        title: '单位',
        dataIndex: '单位',
        width: 170,
      },
      {
        title: '模型总数',
        dataIndex: '模型总数',
        align: 'left',
      },
      {
        title: '疑点',
        dataIndex: '当月疑点记录数',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: '当月确定问题数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '当月移交问题数',
        align: 'right',
      },
      {
        title: '疑点',
        dataIndex: '累计疑点记录数',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: '累计确定问题数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '累计移交问题数',
        align: 'right',
      },
    ],
    columnGroup: [
      {
        title: '当月业务笔数',
        children: ['当月疑点记录数', '当月确定问题数', '当月移交问题数'],
      },
      {
        title: '当年累计业务笔数',
        children: ['累计疑点记录数', '累计确定问题数', '累计移交问题数'],
      },
    ],
    rowMerge: {
      title: '小计',
      titleColumn: '单位',
      cols: [
        {
          column: '模型总数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月疑点记录数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月确定问题数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月移交问题数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计疑点记录数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计确定问题数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计移交问题数',
          method: 'sum',
          align: 'right',
        },
      ],
    },
  });

  const parseFunc = (cname, value) => {
    return cname != '单位' ? parseInt(value) : value;
  };

  const setupModelData = () => {
    const item = { id: 2023042016575864, index: 4, name: '业务系统模型详情' };
    loading.value = true;
    getHomeWidget({ widgetId: item.id }).then((result) => {
      state.dataList = Transformer.toTableData(result.data, parseFunc);
      loading.value = false;
    });
  };

  const changeData = (bizSystem) => {
    const params = {
      dbType: 'MYSQL',
      relations: [
        {
          // filterField: 'line_of_defense_type',
          // filterValues: [bizSystem],
          filterType: 'homeReport',
          filterValues: [`dd.line_of_defense_type = ${bizSystem}`],
          widgetId: 2023042016575864,
        },
      ],
    };
    loading.value = true;
    queryAggregate(params).then((result) => {
      state.dataList = Transformer.toTableData(result.data['2023042016575864'], parseFunc);
      loading.value = false;
    });
  };

  watch(
    () => props.bizSystem,
    () => {
      if (props.bizSystem) {
        changeData(props.bizSystem);
      } else {
        setupModelData();
      }
    },
  );
  const cellClicked = (record, column) => {
    emit('cellClicked', record, column);
  };
  onMounted(() => {
    // 加载数据
    setupModelData();
    // 修正rowspan
  });
</script>
<style lang="less" scoped>
  /deep/.ant-table-tbody .ant-table-cell > div > span {
    cursor: pointer;
  }
</style>
