<template>
  <div>
    <a-modal
      v-model:visible="state.visible"
      :title="attrs.title"
      :width="1000"
      :body-style="{
        'max-height': '540px',
        'min-height': '320px',
        overflow: 'auto',
        padding: '12px 16px 24px',
      }"
      :mask-closable="false"
      transition-name=""
      destroy-on-close
      :footer="null"
      @cancel="closeModal"
    >
      <vxe-grid :span-method="mergeRowMethod" v-bind="gridOptions">
        <template #toolbar_buttons>
          <div v-if="props.record.type == 'dept'" class="mr-1x">
            被评价单位:
            <a-tree-select
              v-model:value="state.deptArr"
              show-search
              :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
              placeholder="请选择"
              allow-clear
              multiple
              style="width: 200px"
              :show-checked-strategy="SHOW_ALL"
              tree-default-expand-all
              :tree-data="treeDataSel"
            >
              <template #tagRender="{ label, closable, onClose }">
                <a-tag :closable="closable" @close="onClose">
                  {{ label }}
                </a-tag>
              </template>
            </a-tree-select>
          </div>
          <div v-if="props.record.type == 'dept'" class="mr-1x">
            指标类别:
            <a-select v-model:value="state.category" mode="tags" style="width: 200px">
              <a-select-option
                v-for="(item, index) in dict.getItemsByDictCode('INDICATOR_CATEGORY')"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-select-option
              >
            </a-select>
          </div>
          <vxe-button v-if="props.record.type == 'dept'" status="primary" @click="queryList"
            >查询</vxe-button
          >
          <vxe-button @click="exportList">导出</vxe-button>
        </template>
      </vxe-grid>
    </a-modal>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, useAttrs, ref } from 'vue';
  import { VxeGridProps, VxeTablePropTypes } from 'vxe-table';
  import { TreeSelect, message } from 'ant-design-vue';
  import { KPIColumns, deptColumns } from './columns';
  import {
    queryKPIList,
    queryDeptList,
    deptDownloads,
    kpiDownloads,
  } from '@/api/planList/planList.ts';
  import { getDeptAll } from '@/api/system/dept/index';
  import { genDeptTreeItem } from '@/api/system/dept/service';
  import dict from '@/utils/dict.js';

  const attrs = useAttrs();
  const SHOW_ALL = TreeSelect.SHOW_ALL;
  const treeDataSel = ref<TreeSelectProps['treeData']>([]);
  const props = defineProps({
    kpiVisible: { type: Boolean },
    record: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const state = reactive({
    visible: false,
    deptArr: [],
    category: [],
  });
  const gridOptions = reactive<VxeGridProps<any>>({
    size: 'small',
    align: 'center',
    headerAlign: 'center',
    border: true,
    height: '500',
    resizable: true,
    toolbarConfig: {
      zoom: true,
      custom: true,
      refresh: {
        queryMethod: () => {
          queryList();
        },
      },
      slots: {
        buttons: 'toolbar_buttons',
      },
    },
    loadingConfig: {
      icon: 'vxe-icon-indicator roll',
      text: '正在拼命加载中...',
    },
    scrollX: {
      enabled: false,
    },
    scrollY: {
      enabled: false,
    },
    columnConfig: {
      useKey: true,
    },
    rowConfig: {
      useKey: true,
    },
    tooltipConfig: {
      showAll: true,
      enterable: true,
    },
    columns: [],
    data: [],
  });

  // 通用行合并函数（将相同多列数据合并为一行）
  const mergeRowMethod: VxeTablePropTypes.SpanMethod<RowVO> = ({
    row,
    _rowIndex,
    column,
    visibleData,
  }) => {
    const fields = ['evaluatedOrgName'];
    const cellValue = row[column.field];
    if (cellValue && fields.includes(column.field)) {
      const prevRow = visibleData[_rowIndex - 1];
      let nextRow = visibleData[_rowIndex + 1];
      if (prevRow && prevRow[column.field] === cellValue) {
        return { rowspan: 0, colspan: 0 };
      } else {
        let countRowspan = 1;
        while (nextRow && nextRow[column.field] === cellValue) {
          nextRow = visibleData[++countRowspan + _rowIndex];
        }
        if (countRowspan > 1) {
          return { rowspan: countRowspan, colspan: 1 };
        }
      }
    }
  };

  /**查询相关组织树选择
   *@genTreeNameItem 转换树格式,此处对接5s，转换的部门树均使用中文
   */
  const queryDept = async () => {
    const { rows } = (await getDeptAll()) as any;
    const deptTree: API.TreeDataItem[] = [];
    for (let i = 0; i < rows.children.length; i++) {
      const temp = rows.children[i];
      deptTree.push(genDeptTreeItem(temp));
    }
    treeDataSel.value = deptTree;
  };

  const emits = defineEmits(['close']);
  const closeModal = () => {
    state.visible = false;
    emits('close');
  };

  const queryList = async () => {
    gridOptions.loading = true;
    const params = {
      orgEvalCode: props.record.code,
      deptCodes: state.deptArr,
      perfGCategorys: state.category,
    };
    const { data } =
      props.record.type == 'kpi' ? await queryKPIList(params) : await queryDeptList(params);
    gridOptions.loading = false;
    if (data.success) {
      gridOptions.data = data.data;
    } else {
      message.error(data.message);
    }
  };

  const exportList = () => {
    const params = {
      orgEvalCode: props.record.code,
      deptCodes: state.deptArr,
      perfGCategorys: state.category,
    };
    props.record.type == 'kpi'
      ? kpiDownloads(params, '工业品绩效')
      : deptDownloads(params, '各部门绩效');
  };

  watch(
    () => props.kpiVisible,
    (nV) => {
      if (nV) {
        state.visible = nV;
        queryList();
        gridOptions.columns = props.record.type == 'kpi' ? KPIColumns : deptColumns;
        if (props.record.type == 'dept') queryDept();
      } else {
        gridOptions.data = [];
        state.deptArr.length = 0;
        state.category.length = 0;
      }
    },
  );
</script>
