<template>
  <div class="chartColor">
    <div class="chartColor-body">
      <div
        v-for="(item, index) in state.colorList"
        :key="index"
        :class="item.check ? 'chartColor-main checkColor' : 'chartColor-main'"
        :style="{ background: item.backgroundColor }"
        @click="colorCheck(item.key, index)"
      >
        <div
          v-for="(t, i) in item.itemColor"
          :key="i"
          class="chartColor-item"
          :style="{ background: t }"
        ></div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive } from 'vue';
  import TestAction from '../action/TestAction';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  const store = chartConfigurations();
  defineOptions({
    name: 'colorTheme',
  });
  const state = reactive({
    colorList: [
      {
        itemColor: ['rgb(216, 124, 124)', 'rgb(145, 158, 139)', 'rgb(215, 171, 130)'],
        backgroundColor: 'rgb(254, 248, 239)',
        key: 'vintage',
        check: false,
      },
      {
        itemColor: ['rgb(193, 35, 43)', 'rgb(39, 114, 123)', 'rgb(252, 206, 16)'],
        backgroundColor: 'transparent',
        key: 'infographic',
        check: false,
      },
      {
        itemColor: ['rgb(221, 107, 102)', 'rgb(117, 154, 160)', 'rgb(230, 157, 135)'],
        backgroundColor: 'rgb(51, 51, 51)',
        key: 'dark',
        check: false,
      },
      {
        itemColor: ['rgb(81, 107, 145)', 'rgb(89, 196, 230)', 'rgb(237, 175, 218)'],
        backgroundColor: 'transparent',
        key: 'westeros',
        check: false,
      },
      {
        itemColor: ['rgb(78, 163, 151)', 'rgb(34, 195, 170)', 'rgb(123, 217, 165)'],
        backgroundColor: 'transparent',
        key: 'wonderland',
        check: false,
      },
      {
        itemColor: ['rgb(252, 151, 175)', 'rgb(135, 247, 207)', 'rgb(247, 244, 148)'],
        backgroundColor: 'rgb(41, 52, 65)',
        key: 'chalk',
        check: false,
      },
      {
        itemColor: ['rgb(46, 199, 201)', 'rgb(182, 162, 222)', 'rgb(90, 177, 239)'],
        backgroundColor: 'transparent',
        key: 'macarons',
        check: false,
      },
      {
        itemColor: ['rgb(193, 46, 52)', 'rgb(230, 182, 0)', 'rgb(0, 152, 217)'],
        backgroundColor: 'transparent',
        key: 'shine',
        check: false,
      },
      {
        itemColor: ['rgb(137, 52, 72)', 'rgb(217, 88, 80)', 'rgb(235, 129, 70)'],
        backgroundColor: 'rgba(242, 234, 191, 0.15)',
        key: 'essos',
        check: false,
      },
      {
        itemColor: ['rgb(63, 177, 227)', 'rgb(107, 230, 193)', 'rgb(98, 108, 145)'],
        backgroundColor: 'rgba(252, 252, 252, 0)',
        key: 'walden',
        check: false,
      },
      {
        itemColor: ['rgb(224, 31, 84)', 'rgb(0, 24, 82)', 'rgb(245, 232, 200)'],
        backgroundColor: 'transparent',
        key: 'roma',
        check: false,
      },
      {
        itemColor: ['rgb(138, 124, 168)', 'rgb(224, 152, 199)', 'rgb(143, 211, 232)'],
        backgroundColor: 'rgb(91, 92, 110)',
        key: 'purple-passion',
        check: false,
      },
    ],
  });
  onMounted(() => {
    state.colorList.forEach((item) => {
      if (item.key == store.echartConfig.colorTheme) {
        item.check = true;
      }
    });
  });
  const colorCheck = (key, i) => {
    state.colorList.forEach((item, index) => {
      if (i === index) {
        item.check = !item.check;
      } else {
        item.check = false;
      }
    });
    store.echartConfig.colorTheme = state.colorList.find((x) => x.check) ? key : undefined;
    TestAction();
  };
</script>

<style lang="less" scoped>
  .chartColor {
    .chartColor-body {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 15px;
    }
    .chartColor-main {
      width: 47%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      padding: 4px 8px;
      margin-bottom: 8px;
      .chartColor-item {
        width: 22px;
        height: 22px;
        border-radius: 5px;
      }
    }
    .chartColor-main:hover {
      background: rgba(190, 187, 187, 0.356);
      transform: scale(1.1);
    }
    .checkColor {
      transform: scale(1.1);
      box-shadow: 0 0 1px 1px rgba(190, 187, 187, 0.356);
    }
  }
</style>
