<template>
  <div>
    <a-form ref="formRef" :model="modelInfo" :label-col="labelCol" :wrapper-col="wrapperCol">
      <a-row>
        <a-col :md="12" :sm="24">
          <a-form-item
            name="modelName"
            :label-col="labelCol"
            :wrapper-col="wrapperCol"
            label="模型名称"
            :help="modelNameHelp"
            :validate-status="modelNameValidateStatus"
            :rules="[
              { required: true, message: '模型名不能为空' },
              { max: 50, message: '50字符以内' },
            ]"
          >
            <a-input
              v-model:value="modelInfo.modelName"
              class="selectInput"
              placeholder="请输入模型名称,50字符以内"
              @change="checkModelName"
            />
          </a-form-item>
        </a-col>
        <a-col :md="12" :sm="24">
          <a-form-item
            label="模型描述"
            name="description"
            :label-col="labelCol"
            :wrapper-col="wrapperCol"
            :rules="[
              { required: true, message: '模型描述不能为空' },
              { max: 500, message: '500字符以内' },
            ]"
          >
            <a-textarea
              v-model:value="modelInfo.description"
              :auto-size="{ minRows: 1, maxRows: 5 }"
              :maxlength="500"
              class="selectInput"
              placeholder="请输入描述"
              name="description"
            />
          </a-form-item>
        </a-col>
        <a-col :md="12" :sm="24">
          <a-form-item
            label="监督业务环节"
            name="bizIds"
            :label-col="labelCol"
            :wrapper-col="wrapperCol"
            :rules="[{ required: true, message: '请选择监督业务环节' }]"
          >
            <a-select
              v-model:value="modelInfo.bizIds"
              :allow-clear="true"
              show-search
              class="selectInput"
              :filter-option="filterOption"
              option-filter-prop="children"
            >
              <a-select-option v-for="c in bizIdsData" :key="c.itemValue" :title="c.itemText"
                >{{ c.itemText }}
              </a-select-option>
            </a-select>
          </a-form-item>
        </a-col>

        <a-col :md="12" :sm="24">
          <a-form-item
            label="监督业务对象"
            name="businessObjs"
            :label-col="labelCol"
            :wrapper-col="wrapperCol"
            :rules="[{ required: true, message: '请选择监督业务对象' }]"
          >
            <a-select
              v-model:value="modelInfo.businessObjs"
              :allow-clear="true"
              class="selectInput"
              show-search
              :filter-option="filterOption"
            >
              <a-select-option
                v-for="c in businessObjectData"
                :key="c.itemValue"
                :title="c.itemText"
                >{{ c.itemText }}
              </a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :md="12" :sm="24">
          <a-form-item
            label="监督领域"
            name="bizSystem"
            :label-col="labelCol"
            :wrapper-col="wrapperCol"
            :rules="[{ required: true, message: '请选择监督领域' }]"
          >
            <a-select
              v-model:value="modelInfo.bizSystem"
              :allow-clear="true"
              show-search
              class="selectInput"
              :filter-option="filterOption"
              :field-names="{ label: 'itemText', value: 'itemValue' }"
              :options="bizSystemData"
            >
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :md="12" :sm="24">
          <a-form-item
            label="模型产生方式"
            name="generationMethod"
            :label-col="labelCol"
            :wrapper-col="wrapperCol"
          >
            <a-radio-group v-model:value="modelInfo.generationMethod" :disabled="!myData.isShows">
              <a-radio :value="'10'">自建</a-radio>
              <a-radio :value="'20'">开发</a-radio>
            </a-radio-group>
          </a-form-item>
        </a-col>
      </a-row>

      <!-- <a-row>
        <a-col :md="21" :sm="24">
          <a-form-item
            label="模型业务用途"
            name="businessPurpose"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
            :rules="[{ required: true, message: '模型业务不能为空' }]"
          >
            <a-select
              v-model:value="modelInfo.businessPurpose"
              :allow-clear="true"
              class="datatableNames"
              show-search
              :filter-option="filterOption"
            >
              <a-select-option
                v-for="c in businessPurposeData"
                :key="c.itemValue"
                :title="c.itemText"
                >{{ c.itemText }}
              </a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
      </a-row> -->

      <a-row>
        <a-col :md="21" :sm="24">
          <a-form-item
            label="模型管理员"
            name="sendTargetUsers"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
            :rules="[{ required: true, message: '模型管理员不能为空' }]"
          >
            <a-select
              v-model:value="modelInfo.sendTargetUsers"
              :allow-clear="true"
              class="datatableNames"
              show-search
              :filter-option="false"
              :disabled="myData.editSendTargetUsersFlag"
              @search="handleUserSearch"
              @change="getTheUser"
              @deselect="selectedUsersClear"
            >
              <a-select-option
                v-for="item in myData.allUsers"
                :key="item.userId"
                :field-names="{ label: 'username', value: 'userId' }"
                :value="item.userId"
              >
                <span role="img" class="" :aria-label="item.username">{{ item.username }}</span>
                /
                <span class="select-usercode">{{ item.employeeCode }}</span>
              </a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :md="3" :sm="24">
          <div></div>
        </a-col>
      </a-row>
      <a-row>
        <a-col :md="21" :sm="24">
          <a-form-item
            label="数据集"
            name="datatableIds"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
            :rules="[{ required: true, message: '请选择数据集' }]"
          >
            <a-select
              v-model:value="modelInfo.datatableIds"
              :allow-clear="true"
              show-search
              :disabled="props.isEdit"
              :filter-option="filterOption"
              class="datatableNames"
              @change="selectDataSet"
            >
              <a-select-option
                v-for="(s, index) in myData.dataTable"
                :key="s.id"
                :title="s.datatableNames"
                >{{ index + 1 + '.' + s.datatableNames }}
              </a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :md="3" :sm="24">
          <a-button class="buttons" @click="preShowResult">预览</a-button>
        </a-col>
      </a-row>
      <a-row
        v-if="
          modelInfo.modelType == 'static' || (props.isEdit && modelInfo.modelType == 'algorithm')
        "
      >
        <!-- :disabled="modelInfo.modelType == 'algorithm' ? props.isEdit : false" -->
        <a-col v-if="modelInfo.modelType == 'static'" :md="21" :sm="24">
          <a-form-item
            label="数据集字段"
            name="columnCname"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
            :rules="[{ required: true, message: '数据集字段' }]"
          >
            <a-select
              v-model:value="modelInfo.columnCname"
              mode="multiple"
              class="datatableNames"
              :allow-clear="true"
              :disabled="modelInfo.onlineStatus == '1'"
            >
              <template #dropdownRender="{ menuNode: menu }">
                <v-nodes :vnodes="menu" />
                <a-divider style="margin: 4px 0" />
                <div
                  style="padding: 4px 8px; cursor: pointer"
                  @mousedown="(e) => e.preventDefault()"
                >
                  <a-button type="link" @click="selectAllFields">全选</a-button>
                  <a-button type="link" @click="reverSeclearFields">反选</a-button>
                </div>
              </template>
              <a-select-option v-for="t in myData.tableData" :key="t.id"
                >{{ t.columnCname }}
              </a-select-option>
            </a-select>
          </a-form-item>
          <!-- 模型归属单位=》更改为 监督类别 默认后端给出 -->
        </a-col>
        <a-col :md="21" :sm="24">
          <a-form-item
            label="监督类别"
            name="belongUnit"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
            :rules="[{ required: true, message: '监督类别不能为空' }]"
          >
            <a-select
              v-model:value="modelInfo.belongUnit"
              :allow-clear="true"
              class="datatableNames"
              show-search
              :disabled="allowEditing"
              :filter-option="filterOption"
            >
              <a-select-option
                v-for="c in affiliationData"
                :key="c.itemValue"
                :title="c.itemText"
                >{{ c.itemText }}</a-select-option
              >
            </a-select>
          </a-form-item>
        </a-col>
        <!-- 所属防线 -->
        <a-col :md="21" :sm="24">
          <a-form-item
            label="所属防线"
            name="lineOfDefenseType"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
            :rules="[{ required: true, message: '所属防线不能为空' }]"
          >
            <a-select
              v-model:value="modelInfo.lineOfDefenseType"
              :allow-clear="true"
              class="datatableNames"
              :disabled="allowEditing"
              show-search
              :filter-option="filterOption"
            >
              <a-select-option
                v-for="c in lineOfDefenseTypeData"
                :key="c.itemValue"
                :title="c.itemText"
                >{{ c.itemText }}</a-select-option
              >
            </a-select>
          </a-form-item>
        </a-col>
        <!-- 新增模型归属单位 -->
        <a-col :md="21" :sm="24">
          <a-form-item
            label="模型归属单位"
            name="deptData"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
            :rules="[{ required: true, message: '模型归属单位不能为空' }]"
          >
            <a-cascader
              v-model:value="modelInfo.deptData"
              placeholder="请选择责任部门"
              allow-clear
              :field-names="{ label: 'text', value: 'text', children: 'children' }"
              :options="myData.deptList"
              show-search
              :disabled="allowEditing"
              class="datatableNames"
              @change="changRresDep"
            >
            </a-cascader>
            <!-- <a-input v-model:value="modelInfo.modelBelongUnit" class="belongUnit-style" disabled /> -->
          </a-form-item>
        </a-col>
        <!-- <a-col :md="3" :sm="24"></a-col> -->
      </a-row>
      <a-row>
        <a-col :md="21" :sm="24">
          <a-form-item
            label="问题归属部门分类字段"
            name="problemDepartmentField"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
          >
            <a-select
              v-model:value="modelInfo.problemDepartment"
              :allow-clear="true"
              show-search
              :filter-option="filterOption"
              class="datatableNames"
              :disabled="myData.problemSelectData.length == 0"
            >
              <a-select-option
                v-for="t in myData.problemSelectData"
                :key="t.id"
                :title="t.columnCname"
                :value="t.columnName"
                >{{ t.columnCname }}
              </a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col :md="21" :sm="24">
          <a-form-item
            label="调度周期"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
          >
            <CronEditor
              v-model:value.sync="modelInfo.cronExpression"
              cron-syntax="quartz"
            ></CronEditor>
          </a-form-item>
        </a-col>
        <a-col :md="3" :sm="24"></a-col>
      </a-row>
      <div
        v-if="modelInfo.modelType == 'static' || modelInfo.modelType == 'algorithm'"
        class="stepsAction"
      >
        <a-button type="primary" style="margin-left: 45%" :loading="myData.loading" @click="next">
          完成
        </a-button>
        <a-button style="margin-left: 10px" @click="closeModel"> 关闭弹窗 </a-button>
      </div>
    </a-form>
    <div id="modalBox">
      <ModalRender destroy-on-close>
        <template #customSlot>
          <PreviewSource ref="previewSource"></PreviewSource>
        </template>
      </ModalRender>
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { getCurrentInstance, nextTick, onMounted, reactive, ref, watch } from 'vue';
  import { debounce, isEmpty } from 'lodash-es';
  import { FormInstance, message } from 'ant-design-vue';
  import PreviewSource from './PreviewSource.vue';
  import { CronEditor } from '@/components/business';
  import { getDeptAll } from '@/api/system/dept';
  import {
    getDataSetItemById,
    getGeneration,
    checkModifySendTargetUsers,
    getUsersCode,
    remoteCheckModelName,
    addModel,
    updateModel,
    getDetail,
  } from '@/api/supervisionModel';
  import { getDatasetList } from '@/api/dataAdministration/dataset';
  import { useModal } from '@/hooks';
  // import { useUserStore } from '@/store/modules/user';

  interface MyData {
    allUsers: Array<any>;
    dataTable: Array<any>;
    tableData: Array<any>;
    sourceTable: Array<any>; // 数据集
    tablePrimaryKeyList: Array<any>;
    problemSelectData: Array<any>;
    dataId?: number;
    currentUserSearch: string;
    loading: boolean;
    isShows: boolean;
    deptList: Array<any>;
    editSendTargetUsersFlag: boolean;
  }
  // const userStore = useUserStore();
  // const editEnabled = ref(true);
  const props = defineProps({
    labelCol: Object,
    wrapperCol: Object,
    modelType: {
      type: String,
      default: 'static',
    },
    isTestModel: {
      type: String,
      default: '20',
    },
    businessPurpose: {
      type: Number,
      default: 1,
    },
    defaultModelInfo: {
      type: Object,
      default: () => {},
      required: false,
    },
    isEdit: {
      type: Boolean,
      default: false,
      required: true,
    },
    isCopy: {
      type: Boolean,
      default: false,
    },
  });
  defineOptions({
    name: 'GeneralModel',
  });

  const emit = defineEmits(['onSuccess', 'closeModel']);
  const formRef = ref<FormInstance>();
  const VNodes = (_, { attrs }) => {
    return attrs.vnodes;
  };
  const colConfig = reactive({
    labelCol: { span: 4 },
    wrapperCol: { span: 19, offset: 0 },
  });
  const modelNameHelp = ref<string | undefined>(undefined);
  const modelNameValidateStatus = ref<string | undefined>(undefined);
  // const targetUsernames = ref('');
  const modelInfo = reactive<API.ModelInfo>({
    belongUnit: '',
    defenseNames: '',
    lineOfDefenseType: '',
    modelBelongDept: '', //部门
    modelBelongUnit: '', //单位
    deptData: [],
    bizIds: '',
    bizSystem: '',
    boardId: null,
    businessObjs: '',
    businessPurpose: 1,
    columnCname: [],
    createTime: '',
    createUser: '',
    cronDesc: '',
    cronDetail: null,
    cronExpression: '',
    datatableColumns: [],
    datatableIds: [],
    datatableNames: [],
    deptCname: '',
    description: '',
    id: undefined,
    lastRunTime: '',
    modelConfig: '',
    modelName: '',
    modelType: 'static',
    isTestModel: '',
    onlineStatus: undefined,
    problemDepartment: '',
    problemDepartmentField: '',
    pushTag: undefined,
    runStatus: undefined,
    sendTargetUserDto: null,
    sendTargetUsers: '',
    sourceId: '',
    sourceName: '',
    suspectedRecords: undefined,
    targetUsernames: '',
    updateTime: '',
    updateUser: '',
    defenseLine: '',
    affiliationData: '',
    generationMethod: '10',
  });
  const { proxy } = getCurrentInstance();
  const bizIdsData = proxy.$dict.getItemsByDictCode('bizIds');
  const bizSystemData = proxy.$dict.getItemsByDictCode('bizSystem');
  const businessObjectData = proxy.$dict.getItemsByDictCode('businessObject');
  const businessPurposeData = proxy.$dict.getItemsByDictCode('businessPurpose');
  const affiliationData = proxy.$dict.getItemsByDictCode('DEPT_TYPE');
  const lineOfDefenseTypeData = proxy.$dict.getItemsByDictCode('lineOfDefense');
  bizSystemData.forEach((x) => {
    x.itemValue = parseInt(x.itemValue);
  });
  businessPurposeData.forEach((x) => {
    x.itemValue = parseInt(x.itemValue);
  });
  affiliationData.forEach((x) => {
    x.itemValue = parseInt(x.itemValue);
  });

  const myData = reactive<MyData>({
    allUsers: [],
    dataTable: [],
    tableData: [],
    sourceTable: [], // 数据集
    tablePrimaryKeyList: [],
    problemSelectData: [],
    dataId: undefined,
    currentUserSearch: '',
    loading: false,
    isShows: false,
    editSendTargetUsersFlag: false,
  });
  // const state = reactive({
  //   defenseLine: '',
  //   affiliationData: '',
  // });

  // 模型名重复校验
  const checkModelName = () => {
    let modelName = modelInfo.modelName;
    modelName = typeof modelName === 'undefined' ? '' : modelName.trim();
    if (modelName.length > 0) {
      modelNameValidateStatus.value = 'validating';
      const params: any = { modelName };
      if (modelInfo.id != undefined) {
        params.id = modelInfo.id;
      }
      remoteCheckModelName(params).then((r) => {
        if (r.code === 'OK') {
          if (r.data) {
            modelNameValidateStatus.value = undefined;
            modelNameHelp.value = undefined;
          } else {
            modelNameValidateStatus.value = 'error';
            modelNameHelp.value = '抱歉，模型名称不能重复';
          }
        } else {
          modelNameValidateStatus.value = 'error';
          modelNameHelp.value = '请求失败';
        }
      });
    } else {
      modelNameValidateStatus.value = 'error';
      modelNameHelp.value = '模型名称不能为空';
    }
  };
  //
  const handleUserSearch = (val) => {
    loadUsersByName(val, 1);
  };
  const selectedUsersClear = () => {
    loadUsersByName(null);
  };
  const loadUsersByName = debounce((val, falg) => {
    myData.allUsers = [];
    let _params = {};
    if (falg == 1) {
      _params = {
        username: val,
      };
    } else if (falg == 2) {
      _params = {
        userId: val,
      };
    } else {
      _params = {};
    }
    getUsersCode(_params).then((r) => {
      if (r.data.code == 'OK') {
        myData.allUsers = r.data.data;
      }
    });
  }, 500);

  const selectDataSet = async (val) => {
    modelInfo.problemDepartment = '';
    modelInfo.columnCname = [];
    if (val) {
      myData.tableData = [];
      myData.problemSelectData = [];
      const id = val;
      myData.dataId = val;
      const r = await getDataSetItemById(id);
      if (r.code === 'OK') {
        const list = r.data.columnsList;
        if (list) {
          list.forEach((item) => {
            if (Object.hasOwn(item, 'columnCname')) {
              if (isEmpty(item.columnCname.trim())) {
                item.columnCname = item.columnName;
              }
              myData.tableData.push(item);
            }
          });
          myData.problemSelectData = myData.tableData;
        } else {
          modelInfo.columnCname = [];
          myData.tableData.length = 0;
        }
        myData.sourceTable = r.data;
        myData.tablePrimaryKeyList = [
          {
            tableId: myData.sourceTable.id,
            tableName: myData.sourceTable.tableName,
            primaryKeyList: [],
          },
        ];
        const primaryKeyList: any = [];
        const _list = myData.sourceTable.columnsList;
        if (props.modelType === 'static') {
          if (_list != undefined) {
            _list.forEach((item) => {
              if (item.isPrikey === '1') {
                const obj: any = {};
                obj.columnCName = item.columnCname;
                obj.columnId = item.id;
                obj.columnName = item.columnName;
                obj.columnType = item.type;
                primaryKeyList.push(obj);
              }
            });
            myData.tablePrimaryKeyList[0].primaryKeyList = primaryKeyList;
            // if (modelInfo.modelType == 'algorithm') {
            //   selectAllFields(); //算法模型默认全部数据集字段--月明说不用管算法的
            // }
          } else {
            message.error('此表没有字段列，请维护');
          }
        }
      }
    } else {
      myData.dataId = undefined;
      modelInfo.columnCname = [];
      myData.problemSelectData = [];
      myData.tableData.length = 0;
    }
  };
  // 全选
  const selectAllFields = () => {
    modelInfo.columnCname = myData.tableData.map((x) => {
      return x.id;
    });
    // const arr = new Array<number>();
    // myData.tableData.forEach((item) => {
    //   arr.push(item.id);
    // });
    // modelInfo.columnCname = arr;
  };
  // 反选
  const reverSeclearFields = () => {
    const list = modelInfo.columnCname;
    const arr = myData.tableData.filter((item) => !list.some((ele) => ele === item.id));
    const Arr = new Array<number>();
    if (arr) {
      arr.forEach((item) => {
        Arr.push(item.id);
      });
      modelInfo.columnCname = Arr;
    }
  };
  const sourceList = async () => {
    modelInfo.datatableIds = [];
    modelInfo.columnCname = [];
    myData.tableData.length = 0;
    myData.dataTable.length = 0;
    const params: any = {
      pageSize: 999,
      pageNum: 1,
    };
    if (modelInfo.modelType == 'algorithm') {
      params.sourceName = '智能算法';
    }
    // 数据集
    const r: any = await getDatasetList({
      ...params,
    });
    if (r.code === 'OK') {
      for (let i = 0; i < r.data.length; i++) {
        r.data[i].datatableNames = `${r.data[i].tableCname}(${r.data[i].tableName})`;
      }
      myData.dataTable = r.data;
      if (modelInfo.id != undefined) {
        const table = myData.dataTable.find((x) => x.datatableNames === modelInfo.datatableNames);
        modelInfo.datatableIds = table != undefined ? table.id : undefined;
        // loadUsersById(modelInfo.sendTargetUsers);
        loadUsersByName(modelInfo.sendTargetUsers, 2);
      } else if (props.isCopy) {
        generation(modelInfo.sendTargetUsers);
        loadUsersByName(modelInfo.sendTargetUsers, 2);
      } else {
        loadUsersByName('');
      }
    }
  };
  const filterOption = (input, option) => {
    if (option.title) {
      return option.title.toLowerCase().indexOf(input.toLowerCase()) >= 0;
    } else {
      return option.itemText.toLowerCase().indexOf(input.toLowerCase()) >= 0;
    }
  };

  const [ModalRender] = useModal();

  const previewSource = ref();
  const preShowResult = () => {
    if (myData.dataId != undefined) {
      ModalRender.show({
        title: '预览',
        width: 1000,
        footer: null,
        getContainer: () => {
          return document.getElementById('modalBox');
        },
      }).then(() => {
        setTimeout(() => {
          previewSource.value.openById(myData.dataId);
        }, 200);
      });
    } else {
      message.warning('请先选择数据集！');
    }
  };
  const getTheUser = (val, op) => {
    if (op) {
      const u = myData.allUsers.find((x) => x.userId === val);
      // targetUsernames.value = u.username;
      modelInfo.targetUsernames = u.username;
      modelInfo.defenseNames = u.employeeCode;
    }
    if (val) {
      defenseLineType();
      generation(val);
    }
  };
  // 监督 防线 归属
  const defenseLineType = () => {
    getDetail({ employeeCode: modelInfo.defenseNames }).then((r) => {
      // modelInfo.modelBelongUnit = r.modelBelongUnit;
      modelInfo.deptData = r.modelBelongDept != null ? [r.modelBelongUnit, r.modelBelongDept] : [];
      modelInfo.modelBelongUnit = r.modelBelongUnit;
      modelInfo.modelBelongDept = r.modelBelongDept;
      modelInfo.lineOfDefenseType = r.lineDefenseType;
      modelInfo.belongUnit = +r.belongUnit; //转换类型
    });
  };
  const closeModel = () => {
    emit('closeModel');
  };
  const next = debounce(async () => {
    if (modelNameValidateStatus.value == 'error') {
      //模型名称重复则不能保存
      message.warning('抱歉，模型名称不能重复');
      return false;
    }
    try {
      await formRef.value.validateFields();
      const us = JSON.parse(window.sessionStorage.getItem('ACCESS_USER_INFO_KEY'));
      modelInfo.createUser = us.value.username;
      modelInfo.updateUser = us.value.username;
      const datatableList: any = [];
      const table = myData.dataTable.find((x) => x.id === modelInfo.datatableIds);
      if (table && table != undefined) {
        const arr: any = {};
        arr.tableId = table.id;
        arr.tableScheme = table.tableScheme;
        arr.tableName = table.tableName;
        arr.tableCName = table.tableCname;
        arr.tableColumnList = [];
        for (let i = 0; i < myData.tableData.length; i++) {
          for (let j = 0; j < modelInfo.columnCname.length; j++) {
            const arrList: any = {};
            if (myData.tableData[i].id === modelInfo.columnCname[j]) {
              arrList.tableColumnId = myData.tableData[i].id;
              arrList.tableColumnName = myData.tableData[i].columnName;
              arrList.tableColumnCName = myData.tableData[i].columnCname;
              arrList.tableColumnType = myData.tableData[i].type;
              arr.tableColumnList.push(arrList);
            }
          }
        }
        datatableList.push(arr);
        modelInfo.datatableNames = [table.tableName];
      }
      const modelConfig = {
        datatableList,
        tablePrimaryKeyList: myData.tablePrimaryKeyList,
      };

      modelInfo.modelConfig = modelConfig;
      if (
        modelInfo.problemDepartment === '' ||
        modelInfo.problemDepartment === undefined ||
        modelInfo.problemDepartment === null
      ) {
        modelInfo.problemDepartment = '';
        modelInfo.problemDepartmentField = '';
      } else {
        modelInfo.problemDepartmentField = `${datatableList[0].tableName}-${modelInfo.problemDepartment}`;
      }

      await postParams();
    } catch (e: any) {
      if (e.errorFields && e.errorFields != undefined) {
        message.error(e.errorFields[0].errors);
      } else {
        message.error('入参有误');
      }
    }
  }, 500);

  const postParams = async () => {
    if (
      modelInfo.cronExpression === undefined ||
      modelInfo.cronExpression === '' ||
      modelInfo.cronExpression == null
    ) {
      modelInfo.cronExpression = '0 0 4 3 */1 ?';
    }
    const params: any = {
      cronExpression: modelInfo.cronExpression,
      bizIds: modelInfo.bizIds,
      businessObjs: modelInfo.businessObjs,
      // sourceId: modelInfo.sourceName,
      modelType: modelInfo.modelType,
      isTestModel: modelInfo.isTestModel,
      modelName: modelInfo.modelName,
      description: modelInfo.description,
      createUser: modelInfo.updateUser,
      modelConfig: modelInfo.modelConfig,
      sendTargetUsers: modelInfo.sendTargetUsers,
      targetUsernames: modelInfo.targetUsernames,
      businessPurpose: modelInfo.businessPurpose,
      problemDepartment: modelInfo.problemDepartmentField,
      bizSystem: modelInfo.bizSystem,
      lineOfDefenseType: modelInfo.lineOfDefenseType,
      defenseNames: modelInfo.defenseNames,
      modelBelongUnit: modelInfo.modelBelongUnit,
      modelBelongDept: modelInfo.modelBelongDept,
      generationMethod: modelInfo.generationMethod,
      belongUnit: modelInfo.belongUnit,
      columnCname: modelInfo.columnCname,
    };
    myData.loading = true;
    if (modelInfo.id != undefined) {
      Object.assign(params, {
        id: modelInfo.id,
        // belongUnit: modelInfo.belongUnit,
      });
      // if (modelInfo.modelType != 'algorithm') {//静态需要modelConfig
      //   delete params.modelConfig;
      // }
      // delete params.createUser;
      // delete params.sendTargetUsers;
      updateModel({ ...params })
        .then((r) => {
          if (r.code === 'OK') {
            emit('onSuccess');
          } else {
            message.error(r.message);
          }
        })
        .finally(() => {
          myData.loading = false;
        });
    } else {
      addModel({ ...params })
        .then((r) => {
          if (r.code === 'OK') {
            emit('onSuccess');
          } else {
            message.error(r.message);
          }
        })
        .finally(() => {
          myData.loading = false;
        });
    }
  };
  const renderModel = async (model: API.ModelInfo) => {
    modelInfo.columnCname = [];
    const modelConfig = JSON.parse(model.modelConfig);
    const tables = modelConfig.datatableList;
    const allName = `${tables[0].tableCName}(${tables[0].tableName})`;
    const tableId = tables[0].tableId;
    modelInfo.modelType = model.modelType;

    modelInfo.isTestModel = model.isTestModel;
    selectDataSet(tableId).then(() => {
      const problemDepartment = myData.problemSelectData.find((x) => {
        const problemDepartmentField = `${tables[0].tableName}-${x.columnName}`;
        return model.problemDepartment === problemDepartmentField;
      });
      modelInfo.problemDepartmentField = model.problemDepartment;
      modelInfo.problemDepartment =
        problemDepartment != undefined ? problemDepartment.columnName : undefined;
    });
    modelInfo.generationMethod = model.generationMethod;
    modelInfo.belongUnit = model.belongUnit; //监督类型
    modelInfo.bizIds = model.bizIds;
    modelInfo.lineOfDefenseType = model.lineOfDefenseType; //所属防线
    //模型所属单位
    modelInfo.deptData = [model.modelBelongUnit, model.modelBelongDept];
    modelInfo.modelBelongUnit = model.modelBelongUnit;
    modelInfo.modelBelongDept = model.modelBelongDept;
    modelInfo.boardId = model.boardId;
    modelInfo.bizSystem = model.bizSystem;
    modelInfo.businessObjs = model.businessObjs;
    modelInfo.businessPurpose = model.businessPurpose;
    modelInfo.cronDesc = model.cronDesc;
    modelInfo.cronExpression = model.cronExpression;
    modelInfo.datatableColumns = model.datatableColumns;

    modelInfo.deptCname = model.deptCname;
    modelInfo.description = model.description;
    modelInfo.id = model.id;
    modelInfo.modelConfig = modelConfig;
    modelInfo.modelName = model.modelName;
    modelInfo.onlineStatus = model.onlineStatus;
    modelInfo.pushTag = model.pushTag;
    modelInfo.runStatus = model.runStatus;
    modelInfo.sourceId = model.sourceId;
    modelInfo.sourceName = model.sourceName;
    modelInfo.suspectedRecords = model.suspectedRecords;
    modelInfo.targetUsernames = model.targetUsernames;
    modelInfo.defenseNames = model.defenseNames;
    // modelInfo.defenseLine = model.defenseLine;
    modelInfo.affiliationData = model.affiliationData;

    modelInfo.datatableNames = allName;
    modelInfo.columnCname = tables[0].tableColumnList.map((x) => {
      return x.tableColumnId;
    });
    modelInfo.sendTargetUsers = parseInt(model.sendTargetUsers);
    nextTick(() => {
      modelInfo.datatableIds = tableId;
    });
  };
  // 生产方式
  const generation = (val) => {
    getGeneration({ userId: val }).then((r) => {
      if (r.success) {
        modelInfo.generationMethod = r.data.generationMethod;
      }
    });
  };
  const changRresDep = (val) => {
    if (val && val.length == 2) {
      modelInfo.modelBelongUnit = val[0]; //单位
      modelInfo.modelBelongDept = val[1]; //部门
    } else {
      modelInfo.deptData = [];
      modelInfo.modelBelongUnit = ''; //单位
      modelInfo.modelBelongDept = '';
      message.warning('请选择二级部门');
    }
  };
  /**
   * 获取部门列表
   */
  const fetchDeptList = async () => {
    const dept = (await getDeptAll()) as any;
    myData.deptList = dept.rows.children;
  };
  const allowEditing = ref(false); //如果是时月明，admin,李静则允许修改监督类别，所属防线，模型归属单位
  // 获取当前登录人
  const getCurrentUser = () => {
    const user = JSON.parse(sessionStorage.getItem('ACCESS_USER_INFO_KEY'));
    // 新增时数据开发部的默认开发，其他均为自建模型，系统管理员可以编辑该字段
    if (!props.isEdit) {
      modelInfo.generationMethod = user.value.deptName == '数据开发部' ? '20' : '10';
    }
    const _employeeCode = user.value.employeeCode; //取工号
    const allow = ['admin', '198009', '045644'];
    if (allow.indexOf(_employeeCode) > -1) {
      fetchDeptList();
      allowEditing.value = false;
    } else {
      allowEditing.value = true;
    }
    if (user.value.roleName.indexOf('管理员') != -1) {
      myData.isShows = true;
    } else {
      myData.isShows = false;
    }
  };
  const loadData = async () => {
    await sourceList();
  };
  onMounted(() => {
    nextTick(() => {
      loadData();
      getCurrentUser();
    });
  });
  watch(
    () => props.defaultModelInfo,
    (v) => {
      if (Object.keys(v).length > 0) {
        renderModel(v as API.ModelInfo);
      }
    },
    {
      deep: true,
      immediate: true,
    },
  );
  watch(
    () => props.businessPurpose,
    (v) => {
      modelInfo.businessPurpose = v;
    },
    {
      deep: true,
      immediate: true,
    },
  );
  watch(
    () => props.modelType,
    (v) => {
      modelInfo.modelType = v;
      if (v != 'dynamic') {
        sourceList();
      }
    },
    {
      deep: true,
      immediate: true,
    },
  );
  watch(
    () => props.isTestModel,
    (v) => {
      modelInfo.isTestModel = v;
    },
    {
      deep: true,
      immediate: true,
    },
  );
  watch(
    () => props.defaultModelInfo,
    () => {
      if (JSON.stringify(props.defaultModelInfo) != '{}') {
        if (props.isEdit) {
          modelInfo.columnCname = [];

          //true编辑进来的
          //如果是编辑-调用接口判断是否可编辑模型管理员-因为存在线索未处理完的模型不允许修改模型管理员
          checkModifySendTargetUsers({
            id: props.defaultModelInfo.id,
            targetUsernames: props.defaultModelInfo.targetUsernames,
          }).then((res) => {
            if (res.code == 'OK') {
              myData.editSendTargetUsersFlag = res.data == 0 ? false : true;
            }
          });
        }
      }
    },
    {
      deep: true,
      immediate: true,
    },
  );
</script>

<style scoped lang="less">
  .selectInput {
    width: 90%;
  }
  .select-username {
    width: 100px;
    display: inline-block;
  }
  .select-usercode {
    margin-left: 5px;
    color: #666666;
  }
  .datatableNames {
    padding-left: 3%;
  }

  .buttons {
    color: #fff;
    background: #ff0000;
    margin-left: 0%;
  }

  .stepsAction {
    margin-top: 5px;
  }
  .belongUnit-style {
    width: 102%;
    margin-left: 4%;
  }
  .disabled-style {
    background: rgb(255, 255, 255);
    color: #000;
  }
</style>
