<template>
  <template v-if="myData.errVisible">
    <p class="error">{{ myData.errMsg }}</p>
  </template>
  <template v-else>
    <div class="title"
      >示例展示10条，共查询到数据：<span style="color: red">{{ myData.total }}</span
      >条</div
    >
    <a-table
      :data-source="myData.dataSource"
      :columns="myData.columns"
      :scroll="{ x: 500, y: data.height }"
      bordered
      :loading="myData.loading"
      :pagination="false"
      @resize-column="handleResizeColumn"
    />
  </template>
</template>

<script lang="tsx" setup>
  import { reactive, onMounted, nextTick } from 'vue';
  import { message } from 'ant-design-vue';
  import { getDatasetPreview } from '@/api/dataAdministration/dataset';
  import { tryRun } from '@/api/supervisionModel';
  defineOptions({
    name: 'PreviewSource',
  });
  type MyData = {
    dataSource: Array<any>;
    columns: Array<any>;
    loading: boolean;
    errVisible: boolean;
    errMsg: string;
    total: number;
  };

  const myData = reactive<MyData>({
    dataSource: [],
    columns: [],
    loading: false,
    errVisible: false,
    errMsg: '',
    total: 0,
  });

  const data = reactive({
    height: 400,
  });

  onMounted(() => {
    nextTick(() => {
      data.height = document.getElementsByClassName('ant-modal-body')[0]?.clientHeight - 224;
      console.log(
        document.getElementsByClassName('ant-modal-body')[0]?.clientHeight,
        'document.getElementsByClassName()[0]?.clientHeight',
      );
    });
  });
  const handleResizeColumn = (w, col) => {
    col.width = w;
  };
  const loadTableData = (id: number) => {
    const params: any = {};
    params.id = id;
    params.pageSize = 10;
    params.pageNum = 1;
    myData.loading = true;
    getDatasetPreview({ ...params }).then((r) => {
      if (r.code === 'OK') {
        const columns: Array<any> = [];
        r.data.modelsDetailHeads.forEach((x) => {
          columns.push({
            title: x.columnCname,
            dataIndex: x.columnName,
            key: x.columnName,
            resizable: true,
            width: 170,
            ellipsis: true,
          });
        });
        myData.columns = columns;
        myData.dataSource = r.data.modelList;
        myData.total = r.total;
      } else {
        message.error('数据异常');
      }
      myData.loading = false;
    });
  };
  const getTryRun = (params) => {
    try {
      myData.loading = true;
      tryRun(params).then((res) => {
        if (res.code === 'OK') {
          const columns: any = [];
          res.data.modelsDetailHeads.forEach((item) => {
            columns.push({
              title: item.columnCname,
              dataIndex: item.columnName,
              key: item.columnName,
              width: 170,
              ellipsis: true,
            });
          });

          myData.columns = columns;
          myData.dataSource = res.data.modelList;
          myData.loading = false;
          myData.total = res.data.tryRunNum;
        } else if (res.code === 'sqlError') {
          myData.errVisible = true;
          myData.errMsg = res.meta.errorMsg;
          myData.loading = false;
        } else {
          myData.errVisible = true;
          myData.errMsg = '运行失败，调用5sapi失败';
          myData.loading = false;
        }
      });
    } catch (e: any) {
      message.error(e.message);
    }
  };
  const openById = async (id) => {
    myData.errVisible = false;
    loadTableData(id);
  };
  const openByParam = async (param) => {
    myData.errVisible = false;
    getTryRun(param);
  };
  defineExpose({
    openById,
    openByParam,
  });
</script>

<style scoped lang="less">
  .error {
    color: red;
  }
  .title {
    margin: 10px;
    font-weight: bold;
  }
</style>
