<template>
  <div>
    <vxe-grid v-bind="gridOptions" show-overflow>
      <template #toolbar_buttons>
        <div>
          季度：
          <a-select
            v-model:value="state.quarterPeriod"
            style="width: 160px"
            placeholder="请选择季度"
            @change="queryBonusList()"
          >
            <a-select-option
              v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_QUARTERLY_TYPE')"
              :key="index"
              :value="item.itemValue"
              >{{ item.itemText }}</a-select-option
            >
          </a-select>
        </div>
      </template>
    </vxe-grid>
  </div>
</template>
<script setup lang="ts">
  import { onMounted, reactive } from 'vue';
  import { VxeGridProps } from 'vxe-table';
  import { message } from 'ant-design-vue';
  import dict from '@/utils/dict.js';
  import { queryBonusApi } from '@/api/perAppraisal/apiList';

  defineOptions({
    name: 'AnalysisModule',
  });

  const props = defineProps({
    record: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const state = reactive<any>({
    quarterPeriod: undefined,
    dept: undefined,
  });

  const sumNum = (list: any[], field: string) => {
    let count = 0;
    list.forEach((item) => {
      count += Number(item[field] || 0);
    });
    return count;
  };

  const gridOptions = reactive<VxeGridProps<RowVO>>({
    size: 'small',
    border: true,
    height: 500,
    align: 'center',
    toolbarConfig: {
      zoom: true,
      custom: true,
      refresh: {
        queryMethod: () => {
          queryBonusList();
        },
      },
      slots: {
        buttons: 'toolbar_buttons',
      },
    },
    columnConfig: {
      resizable: true,
    },
    columns: [{ type: 'seq', width: 70, title: '序号', fixed: 'left' }],
    data: [],
    showFooter: true,
    footerMethod({ columns, data }) {
      return [
        columns.map((column, columnIndex) => {
          if (columnIndex === 0) {
            return '合计';
          }
          if (!['perfGName', 'superinDeptName'].includes(column.field)) {
            return sumNum(data, column.field);
          }
          return '';
        }),
      ];
    },
  });

  const queryBonusList = async () => {
    gridOptions.columns.length = 1;
    gridOptions.loading = true;
    const params = {
      orgEvalCode: props.record.orgCode,
      quarter: state.quarterPeriod,
    };
    const res = await queryBonusApi(params);
    gridOptions.loading = false;
    if (res.success) {
      state.quarterPeriod = res.meta.quarter.toString();
      convertHeads(res.data.aggrHeads);
      gridOptions.data = res.data.values;
    } else {
      message.error(res.message);
    }
  };

  const convertHeads = (heads, type) => {
    const targetArr = ['perfGName', 'superinDeptName', 'quarterBonusAllocationAmt'];
    const headsList = heads.map((item) => {
      if (targetArr.includes(item.field)) {
        return {
          ...item,
          fixed: 'left',
          width: '150',
        };
      } else {
        return { ...item, width: '150' };
      }
    });
    gridOptions.columns.push(...headsList);
  };

  onMounted(() => {
    queryBonusList();
  });
</script>

<style lang="less" scoped>
  .ant-select-selection-item,
  .ant-select-selection-placeholder {
    white-space: normal; /* 取消省略 */
    overflow: hidden; /* 防止溢出 */
    text-overflow: ellipsis; /* 显示省略号 */
  }
</style>
