<template>
  <Row :gutter="8" :wrap="true">
    <Col :span="12" class="scard">
      <div class="scard-con" :style="{ height: 420 + 'px' }">
        <div class="title">
          <img :src="headerInfo[0].icon" />
          {{ headerInfo[0].title }}
          <a-tooltip
            title="数统计逻辑：是疑点模型、非已删除的模型、非测试类型模型的数据"
            class="tooltip-style"
          >
            <info-circle-outlined />
          </a-tooltip>
        </div>
        <LineOfDefense @cellClicked="cellClicked"></LineOfDefense>
      </div>
    </Col>
    <Col :span="12" class="scard">
      <div class="scard-con" :style="{ height: 420 + 'px' }">
        <div class="title">
          <img :src="headerInfo[1].icon" />
          {{ headerInfo[1].title }}
          <a-tooltip
            title="数统计逻辑：是疑点模型、非已删除的模型、非测试类型模型的数据"
            class="tooltip-style"
          >
            <info-circle-outlined />
          </a-tooltip> </div
        ><LineOfDefenseDetail
          :biz-system="lineOfDefense"
          @cellClicked="cellClicked"
        ></LineOfDefenseDetail>
      </div>
    </Col>
    <Col :span="12" class="scard">
      <div class="scard-con" :style="{ height: 420 + 'px' }">
        <div class="title">
          <img :src="headerInfo[2].icon" />
          {{ headerInfo[2].title }}
          <a-tooltip
            title="数统计逻辑：是疑点模型、非已删除的模型、非测试类型模型的数据"
            class="tooltip-style"
          >
            <info-circle-outlined />
          </a-tooltip>
        </div>
        <Department :biz-system="departmentCode" @cellClicked="cellClicked"></Department>
      </div>
    </Col>
    <Col :span="12" class="scard">
      <div class="scard-con" :style="{ height: 420 + 'px' }">
        <div class="title">
          <img :src="headerInfo[3].icon" />
          {{ headerInfo[3].title }}
          <a-tooltip
            title="数统计逻辑：是疑点模型、非已删除的模型、非测试类型模型的数据"
            class="tooltip-style"
          >
            <info-circle-outlined />
          </a-tooltip>
        </div>
        <DepartmentDetail :biz-system="departmentDetaliCode"></DepartmentDetail>
      </div>
    </Col>
  </Row>
</template>

<script lang="tsx" setup>
  import { ref, onMounted } from 'vue';
  import { Row, Col } from 'ant-design-vue';
  import {
    LineOfDefense,
    LineOfDefenseDetail,
    Department,
    DepartmentDetail,
  } from './components/index.ts';

  defineOptions({
    name: 'StatisticsCard',
  });
  onMounted(() => {
    const _condition = ref({
      line: '', //防线
      unit: '', //单位
      dept: '', //部门
    });
    sessionStorage.setItem('condition', JSON.stringify(_condition.value));
  });
  const headerInfo = [
    { title: '监督模型分布情况', icon: 'static/home/chartIcon10.png' },
    { title: '监督模型分布情况详情', icon: 'static/home/chartIcon11.png' },
    { title: '各部门监督模型分布情况详情', icon: 'static/home/chartIcon11.png' },
    { title: '部门模型拥有人情况详情', icon: 'static/home/chartIcon11.png' },
  ];
  const lineOfDefense = ref('');
  const departmentCode = ref('');
  const departmentDetaliCode = ref('');

  const cellClicked = (record) => {
    const condition = JSON.parse(sessionStorage.getItem('condition'));
    // 点击所属防线-查看详情
    if (record['防线类型'] && record['防线类型'] != '合计') {
      lineOfDefense.value = record['防线类型'];
      condition.line = record['防线类型'];
    } else if (record['单位'] && record['单位'] != '小计') {
      // 点击所属防线-查看详情-点击单位查询模型
      departmentCode.value = record['单位']; //部门code
      condition.unit = record['单位'];
    } else if (record['部门']) {
      // 点击所属防线-查看详情-点击单位查询模型-点击部门、
      departmentDetaliCode.value = record['部门']; //部门名称
      condition.dept = record['部门'];
    } else {
      lineOfDefense.value = '';
      condition.line = '';
      departmentCode.value = '';
      condition.unit = '';
    }

    // if (record['防线类型'] == '合计') {
    //   lineOfDefense.value = '';
    //   condition.line = '';
    // } else {
    //   lineOfDefense.value = record['防线类型'];
    //   condition.line = record['防线类型'];
    // }
    // if (record['单位'] && record['单位'] != '小计') {
    //   // 点击所属防线-查看详情-点击单位查询模型
    //   departmentCode.value = record['单位']; //部门code
    //   condition.unin = record['单位'];
    // } else if (record['单位'] && record['单位'] == '小计') {
    //   departmentCode.value = '';
    //   condition.unin = '';
    // }
    // // 点击所属防线-查看详情-点击单位查询模型-点击部门、
    // if (record['部门']) {
    //   departmentDetaliCode.value = record['部门']; //部门名称
    //   condition.dept = record['部门'];
    // }
    sessionStorage.setItem('condition', JSON.stringify(condition));
    console.log(JSON.parse(sessionStorage.getItem('condition')));
  };
</script>

<style lang="less" scoped>
  .scard {
    width: 100%;
    padding: 0 5px;
    margin: 5px 0px;
    height: 100%;
    .scard-con {
      overflow: auto;
      background: #fff;
      border-radius: 4px;
      padding: 4px 0;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      .cardContent {
        flex: 1;
        display: flex;
      }
      .cardFooter {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 4px;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
    }
    .title {
      background: #fff;
      border-bottom: 1px solid #eee;
      padding: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      color: #3d3d3d;
      img {
        margin: 0 8px;
        height: 24px;
      }
    }
  }

  .ant-row {
    overflow: hidden;
    display: flex;
  }
  .tooltip-style {
    margin-left: 10px;
  }
</style>
