<template>
  <a-modal
    v-model:visible="state.visible"
    destroy-on-close
    :title="state.reportParam.title"
    width="90%"
    :body-style="{
      'min-height': '360px',
      padding: '0px 24px 24px 24px !important',
    }"
    :mask-closable="false"
    transition-name=""
    @resize="modelResize"
    @ok="onChangeVisible(false)"
  >
    <template #footer>
      <Button v-if="state.secondRequest.backVisible" @click="back">返回</Button>
      <Button @click="onChangeVisible(false)">关闭</Button>
    </template>
    <vxe-grid
      ref="grid"
      show-footer
      :row-class-name="rowClassName"
      :span-method="mergeRowMethod"
      :loading="state.loading"
      v-bind="gridOptions"
      align="center"
      stripe
      :height="tableHeight"
      header-align="center"
      :footer-method="footerMethod"
    >
      <template #toolbar_tools>
        <Button type="primary" class="mr-1x" @click="exportExcel">导出</Button>
      </template>
    </vxe-grid>
  </a-modal>
</template>

<script setup lang="tsx">
  import { onBeforeMount, reactive, ref, watch } from 'vue';
  import { VxeGridProps, VxeTablePropTypes } from 'vxe-table';
  import { debounce, isEmpty, isNil } from 'lodash-es';
  import { message as $message, Button } from 'ant-design-vue';
  import {
    deptKpiDownloads,
    deptSumDownloads,
    emphasisTaskDownloads,
    getByQuarterAndOrgPerfCode,
    getDeptSum,
    getEmphasisStimulateTask,
    groupKpiDownloads,
    groupPriorityDownloads,
    queryGroupKpiList,
    queryWorkChart,
  } from '@/api/perAppraisal/apiList';
  import dict from '@/utils/dict';

  defineOptions({
    name: 'ReportModel',
  });
  const state = reactive<any>({
    loading: false,
    disabled: true,
    visible: false,
    type: '',
    reportParam: {},
    mergeFields: [''],
    hasColorRow: [],
    secondRequest: {
      backVisible: false,
      orgCode: '',
      oldStateType: '',
    },
  });
  const tableHeight = ref('400');
  const columns = reactive<any>([{ type: 'seq', width: 50, title: '序号' }]);
  const rows = reactive<any>([]);
  const grid = ref('');
  const onChangeVisible = (flag) => {
    state.mergeFields = [''];
    state.hasColorRow = [];
    state.visible = flag;
  };
  const open = (type: string, data: any) => {
    state.visible = true;
    state.reportParam = data;
    state.type = type;
    loadData();
  };

  const back = () => {
    state.secondRequest.backVisible = false;
    state.secondRequest.orgCode = '';
    state.type = state.secondRequest.oldStateType;
    state.secondRequest.oldStateType = '';
    loadData().then((r) => {
      grid?.value.reloadColumn(columns);
    });
  };
  const gridOptions = reactive<VxeGridProps<any>>({
    border: true,
    showOverflow: 'tooltip',
    showHeaderOverflow: 'tooltip',
    rowConfig: {
      height: 28,
    },
    scrollX: { enabled: false },
    scrollY: { enabled: false },
    resizable: true,
    headerRowClassName: 'my-header',
    footerRowClassName: 'my-footer',
    // cellClassName: 'my-cell',
    toolbarConfig: {
      zoom: true,
      custom: true,
      slots: {
        tools: 'toolbar_tools',
      },
    },
    tooltipConfig: {
      showAll: true,
      enterable: true,
    },
    columns,
    data: rows,
  });
  const modelResize = (e) => {
    console.log(111, e);
    if (e) {
      tableHeight.value = '98%';
    } else {
      tableHeight.value = '400';
    }
  };
  const exportExcel = () => {
    if (!state.type) return;
    switch (state.type) {
      case 'REPORTING_001':
        {
          //工业品绩效kpi
          const params = `orgPerfCode=${state.reportParam.orgEvalCode}&year=${state.reportParam.evaluateYerPeriod}&quarter=${state.reportParam.evaluateSenPeriod}`;
          groupKpiDownloads(params, '各部门kpi汇总');
        }
        break;
      case 'REPORTING_002':
        {
          //工业品战略任务
          groupPriorityDownloads(state.reportParam.reportCode, '工业品战略任务');
        }

        break;
      case 'REPORTING_005':
        {
          //部门汇总
          deptSumDownloads(state.reportParam.reportCode, '部门汇总');
        }
        break;
      case 'REPORTING_006':
        {
          //部门kpi
          const params = `orgPerfCode=${state.reportParam.orgEvalCode}&year=${state.reportParam.evaluateYerPeriod}&quarter=${state.reportParam.evaluateSenPeriod}`;
          deptKpiDownloads(params, '部门kpi');
        }
        break;
      case 'REPORTING_007':
        {
          //重点激励项目
          emphasisTaskDownloads(state.reportParam.reportCode, '重点激励项目');
        }
        break;
    }
  };
  const sumNum = (list: any[], field: string) => {
    let count = 0;
    list.forEach((item) => {
      count += Number(item[field]);
    });
    return `${count}`;
  };
  const footerMethod = ({ columns, data }) => {
    const rs: string[] = [];
    if (state.type === 'REPORTING_007') {
      const sums: string[] = [];
      const period = state.reportParam.evaluateSenPeriod;
      const quarterBonusField = `quarterBonus${period}`;
      columns.forEach((column, columnIndex) => {
        if (columnIndex === 1) {
          sums.push('合计');
        } else {
          let sumCell = '';
          if (
            column.field === 'yearApprovedBonus' ||
            column.field === quarterBonusField ||
            column.field === 'remainBonus'
          ) {
            sumCell = sumNum(data, column.field);
          }
          sums.push(sumCell);
        }
      });
      rs.push(sums);
    }
    return rs;
  };
  const rowCLickShow = debounce(async (row) => {
    state.secondRequest.orgCode = row.evaluatedOrgCode;
    state.secondRequest.backVisible = true;
    state.secondRequest.oldStateType = state.type;
    state.type = 'REPORTING_006';
    await loadData();
    grid?.value.reloadColumn(columns);
  }, 500);
  const loadData = async () => {
    columns.splice(1, columns.length - 1);
    rows.length = 0;
    state.mergeFields = [''];
    state.hasColorRow = [];
    if (!state.type) return;

    state.loading = true;
    switch (state.type) {
      case 'REPORTING_001':
        {
          //工业品绩效kpi
          const { data, success, message } = await queryGroupKpiList({
            orgPerfCode: state.reportParam.orgEvalCode,
            year: state.reportParam.evaluateYerPeriod,
            quarter: state.reportParam.evaluateSenPeriod,
          });
          if (success) {
            if (!isNil(data)) {
              const { heads, values } = data;
              heads.forEach((x) => {
                if (x.columnName === 'perfGOrgCode') {
                  Object.assign(x, {
                    formatter: ({ cellValue }) => {
                      const obj = dict.getValue('INDICATOR_UNIT', cellValue);
                      if (!isEmpty(obj)) {
                        return obj.itemText;
                      } else {
                        return '-';
                      }
                    },
                  });
                }
              });
              convertCol(heads);
              rows.push(...values);
            }
          } else {
            $message.error(message);
          }
          state.loading = false;
        }
        break;

      case 'REPORTING_002':
        {
          //工业品战略任务
          const { data, success, message } = await queryWorkChart(state.reportParam.reportCode);
          state.loading = false;
          if (success) {
            const { heads, values } = data;
            heads.forEach((x) => {
              if (x.columnName == 'annotation') {
                Object.assign(x, {
                  slots: {
                    default: ({ row }) => {
                      if (!isNil(row.annotation)) {
                        return <div innerHTML={row.annotation}></div>;
                      } else {
                        return '';
                      }
                    },
                  },
                });
              }
            });
            convertCol(heads);
            rows.push(...values);
          } else {
            $message.error(message);
          }
        }
        break;
      case 'REPORTING_005':
        {
          //部门汇总
          const { data, success, message } = await getDeptSum(state.reportParam.reportCode);
          state.loading = false;
          if (success) {
            const { aggrHeads, values } = data;
            if (!isNil(aggrHeads)) {
              aggrHeads[0].children.forEach((x) => {
                if (Object.hasOwn(x, 'orgKpiUri')) {
                  Object.assign(x, {
                    slots: {
                      default: ({ row, column }) => {
                        return (
                          <span class="jump" onClick={() => rowCLickShow(row)}>
                            {row[column['field']]}
                          </span>
                        );
                      },
                    },
                  });
                }
              });
              convertColDefault(aggrHeads);
            }
            rows.push(...values);
          } else {
            $message.error(message);
          }
        }
        break;
      case 'REPORTING_006':
        {
          //部门kpi
          // columns.length = 0;
          const { data, success, message } = await getByQuarterAndOrgPerfCode({
            year: state.reportParam.evaluateYerPeriod,
            quarter: state.reportParam.evaluateSenPeriod,
            orgPerfCode: state.reportParam.orgEvalCode,
            orgCode: state.secondRequest.orgCode,
          });
          state.loading = false;
          if (success) {
            const { aggrHeads, values } = data;
            if (!isNil(aggrHeads)) {
              state.mergeFields = ['evaluatedOrgName', 'deptScore', 'deptScoreFixDesc'];
              aggrHeads[0].children.forEach((x) => {
                if (x.field === 'perfGOrgCode') {
                  Object.assign(x, {
                    formatter: ({ cellValue }) => {
                      const obj = dict.getValue('INDICATOR_UNIT', cellValue);
                      if (!isEmpty(obj)) {
                        return obj.itemText;
                      } else {
                        return cellValue;
                      }
                    },
                  });
                }
                if (x.field === 'perfGCategory') {
                  Object.assign(x, {
                    formatter: ({ cellValue }) => {
                      const obj = dict.getValue('INDICATOR_CATEGORY', cellValue);
                      if (!isEmpty(obj)) {
                        return obj.itemText;
                      } else {
                        return cellValue;
                      }
                    },
                  });
                }
              });
              convertColDefault(aggrHeads);
            }
            if (!isNil(values)) {
              for (let i = 0; i < values.length; i++) {
                if (values[i].perfGName == '总分') {
                  values[i].orgOrderNum = '';
                  state.hasColorRow.push(i);
                }
                if (values[i].perfGName == '加扣分') {
                  values[i].orgOrderNum = '';
                }
              }
              rows.push(...values);
            }
          } else {
            $message.error(message);
          }
        }
        break;
      case 'REPORTING_007':
        {
          //重点激励项目
          const { data, success, message } = await getEmphasisStimulateTask(
            state.reportParam.reportCode,
          );
          state.loading = false;
          if (success) {
            const { aggrHeads, values } = data;
            aggrHeads[0].children.forEach((x) => {
              if (x.field == 'description') {
                Object.assign(x, {
                  slots: {
                    default: ({ row }) => {
                      if (!isNil(row.description)) {
                        return <div innerHTML={row.description}></div>;
                      } else {
                        return '';
                      }
                    },
                  },
                });
              }
              if (x.field == 'unfinishedDescription') {
                Object.assign(x, {
                  slots: {
                    default: ({ row }) => {
                      if (!isNil(row.unfinishedDescription)) {
                        return <div innerHTML={row.unfinishedDescription}></div>;
                      } else {
                        return '';
                      }
                    },
                  },
                });
              }
              if (x.field == 'perfEvalScoreFixOpt') {
                Object.assign(x, {
                  formatter: ({ cellValue }) => {
                    const obj = dict.getValue('EMPHASIS_WORK_SELECT_TYPE', cellValue);
                    if (!isEmpty(obj)) {
                      return obj.itemText;
                    } else {
                      return '-';
                    }
                  },
                });
              }
            });
            convertColDefault(aggrHeads);

            rows.push(...values);
          } else {
            $message.error(message);
          }
        }
        break;

      default:
        break;
    }
  };
  const jumpStyle = reactive({
    cursor: 'pointer',
    '&:hover': {
      color: 'blur',
    },
  });
  //转换table表头
  const convertCol = (heads) => {
    const allarr = heads.map((item) => {
      const temp: any = { field: item.columnName, title: item.description };
      if (Object.hasOwn(item, 'formatter')) {
        Object.assign(temp, { formatter: item.formatter });
      }
      if (Object.hasOwn(item, 'slots')) {
        Object.assign(temp, { slots: item.slots });
      }
      return temp;
    });
    columns.push(...allarr);
  };
  const rowClassName: VxeTablePropTypes.RowClassName<any> = ({ rowIndex }) => {
    if (state.hasColorRow.includes(rowIndex)) {
      return 'row-blue';
    }
    return null;
  };

  const convertColDefault = (heads) => {
    const allArr = heads.map((item) => {
      return item;
    });
    columns.push(...allArr);
  };
  const mergeRowMethod = ({ row, _rowIndex, column, visibleData }) => {
    const cellValue = row[column.field];
    if (cellValue && state.mergeFields.includes(column.field)) {
      const prevRow = visibleData[_rowIndex - 1];
      let nextRow = visibleData[_rowIndex + 1];
      if (prevRow && prevRow[column.field] === cellValue) {
        return { rowspan: 0, colspan: 0 };
      } else {
        let countRowspan = 1;
        while (nextRow && nextRow[column.field] === cellValue) {
          nextRow = visibleData[++countRowspan + _rowIndex];
        }
        if (countRowspan > 1) {
          return { rowspan: countRowspan, colspan: 1 };
        }
      }
    }
  };
  const winHeight = ref(0);

  onBeforeMount(() => {
    const h = document.documentElement.clientHeight;
    winHeight.value = h - 250;
  });
  defineExpose({ open });
</script>

<style scoped lang="less">
  /deep/.my-header {
    th {
      height: 25px !important;
    }
    .vxe-header--column {
      padding: 4px 0;
      //font-weight: 500;
    }
  }
  /deep/.my-footer {
    td {
      height: 25px !important;
    }
    .vxe-footer--column {
      padding: 4px 0;
      //font-weight: 500;
    }
  }
  ///deep/.my-cell {
  //  .vxe-default-input {
  //    height: 25px !important;
  //  }
  //}
  /deep/.vxe-table .vxe-body--row.row-blue {
    background-color: #0099ff;
    color: #fff;
  }
  /deep/.jump {
    cursor: pointer;
    &:hover {
      color: #0099ff;
      font-weight: bold;
    }
  }
</style>
