<template>
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-p1">易购</p>
          <p class="OperationTarget-p2">易购营收</p>
          <div class="OperationTarget-height">
            <!--            <SpeedGauge :echardata="trend01.CURYEAR_PRFM" :echarunit="trend01.e03" />-->
          </div>
          <p class="OperationTarget-p3">目标：{{}}亿元</p>
          <p class="OperationTarget-p3">当前：{{}}亿元</p>
        </div>
      </a-col>
      <a-col :md="{ span: 16 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-p1">商城</p>
          <div class="devdome">
            <div class="devdome-div">
              <p class="OperationTarget-p2">商城总营收</p>
              <div class="OperationTarget-height"></div>
              <p class="OperationTarget-p3">目标：{{}}亿元</p>
              <p class="OperationTarget-p3">当前：{{}}亿元</p>
            </div>
            <div class="devdome-div">
              <p class="OperationTarget-p2">多元+社会选营收</p>
              <div class="OperationTarget-height"></div>
              <p class="OperationTarget-p3">目标：亿元</p>
              <p class="OperationTarget-p3">当前累计：万元</p>
            </div>
            <div class="devdome-div">
              <p class="OperationTarget-p2">社会客户营收</p>
              <div class="OperationTarget-height"></div>
              <p class="OperationTarget-p3">目标：亿元</p>
              <p class="OperationTarget-p3">当前累计：万元</p>
            </div>
            <div class="devdome-div">
              <p class="OperationTarget-p2">非大宗商城点选营收</p>
              <div class="OperationTarget-height"></div>
              <p class="OperationTarget-p3">目标：亿元</p>
              <p class="OperationTarget-p3">当前累计：万元</p>
            </div>
            <div class="devdome-div">
              <p class="OperationTarget-p2">业务毛利</p>
              <div class="OperationTarget-height"></div>
              <p class="OperationTarget-p3">目标：亿元</p>
              <p class="OperationTarget-p3">当前累计：万元</p>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-p1">云库</p>
          <p class="OperationTarget-p2">营业收入</p>
          <div class="OperationTarget-height"></div>
          <p class="OperationTarget-p3">目标：亿元</p>
          <p class="OperationTarget-p3">当前：亿元</p>
        </div>
      </a-col>
    </a-row>
  </div>
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-p1">易购</p>
          <p class="OperationTarget-p2">易购新增客户</p>
          <div class="OperationTarget-height"></div>
          <p class="OperationTarget-p3">目标：{{}}亿元</p>
          <p class="OperationTarget-p3">当前：{{}}亿元</p>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-p1">商城</p>
          <div class="devdome">
            <div class="devdome-div1">
              <p class="OperationTarget-p2">平台新增SKU</p>
              <div class="OperationTarget-height"></div>
              <p class="OperationTarget-p3">目标：{{}}亿元</p>
              <p class="OperationTarget-p3">当前：{{}}亿元</p>
            </div>
            <div class="devdome-div1">
              <p class="OperationTarget-p2">核心商品线建设</p>
              <div class="OperationTarget-height"></div>
              <p class="OperationTarget-p3">目标：{{}}亿元</p>
              <p class="OperationTarget-p3">当前累计：{{}}万元</p>
            </div>
            <div class="devdome-div1">
              <p class="OperationTarget-p2">欧贝商城场景化专区SKU数</p>
              <div class="OperationTarget-height"></div>
              <p class="OperationTarget-p3">目标：{{}}亿元</p>
              <p class="OperationTarget-p3">当前累计：{{}}万元</p>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 6 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-p1">云库</p>
          <div class="devdome">
            <div class="devdome-div2">
              <p class="OperationTarget-p2">本年新增连接家数</p>
              <div class="OperationTarget-height"></div>
              <p class="OperationTarget-p3">目标：{{}}亿元</p>
              <p class="OperationTarget-p3">当前：{{}}万元</p>
            </div>
            <div class="devdome-div2">
              <p class="OperationTarget-p2">本年新增sku数</p>
              <div class="OperationTarget-height"></div>
              <p class="OperationTarget-p3">目标：{{}}亿元</p>
              <p class="OperationTarget-p3">当前：{{}}万元</p>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-p1">零碳</p>
          <p class="OperationTarget-p2">营业收入</p>
          <div class="OperationTarget-height"></div>
          <p class="OperationTarget-p3">目标：{{}}亿元</p>
          <p class="OperationTarget-p3">当前：{{}}亿元</p>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch } from 'vue';
  import { SpeedGauge } from '../../../echartsAssembly';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    department: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );
  watch(
    () => props.department,
    () => {
      InitialCall();
    },
  );
  const InitialCall = () => {
    monthParameter.month = props.yearMonth;
    monthParameter.department = props.department;
  };
  const monthParameter = reactive({
    month: '',
    department: '',
  });

  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [monthParameter.month],
          widgetId: usrtID,
        },
        {
          filterField: 'DEPT_NAME',
          filterValues: [monthParameter.department],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }
  //保留两位有效小数
  function Xiaoshu(text) {
    if (text === '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext).toLocaleString();
    }
  }

  const trend01 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query01 = () => {
    queryAggregate(parameter(2023042613301232)).then((result) => {
      const data = result.data[2023042613301232].dataMap;
      trend01.CURYEAR_CPLTRATE = Xiaoshu(data.CURYEAR_CPLTRATE);
      trend01.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM);
      trend01.CURYEAR_TARGET = Xiaoshu(data.CURYEAR_TARGET);
    });
  };
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
      height: 350px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .OperationTarget-p1 {
      line-height: 30px;
      font-size: 22px;
      font-weight: bold;
    }
    .OperationTarget-p2 {
      line-height: 30px;
      font-size: 20px;
      text-align: center;
    }
    .OperationTarget-p3 {
      line-height: 30px;
      font-size: 20px;
      text-align: center;
      //text-align: justify;
      //text-align-last: justify;
      margin: 0px 10px;
    }
    .OperationTarget-height {
      height: 210px;
    }
    .OperationTarget-height1 {
      height: 180px;
    }
    // 弹性布局
    .devdome {
      display: flex;
      justify-content: space-between;
    }
    .devdome-div {
      width: 19.5%;
    }
    .devdome-div1 {
      width: 33%;
    }
    .devdome-div2 {
      width: 49.5%;
    }
  }
</style>
