<template>
  <div ref="barChart" class="chart"></div>
</template>

<script setup lang="ts">
  import {
    ref,
    onBeforeUnmount,
    watchEffect,
    getCurrentInstance,
    reactive,
    defineExpose,
  } from 'vue';
  import obei from '@/assets/echarts-theme/obei.json';

  defineOptions({
    name: 'StackedRadarChart',
    inheritAttrs: false,
  });

  const props = defineProps({
    legend: {
      type: Array,
      default() {
        return [];
      },
    },
    color: {
      type: Array,
      default() {
        return [];
      },
    },
    title: {
      type: String,
      default() {
        return '';
      },
    },
    series: {
      type: Array,
      default() {
        return [];
      },
    },
    indicator: {
      type: Array,
      default() {
        return [];
      },
    },
  });

  const { proxy } = getCurrentInstance();
  let charts = null;
  const barChart = ref<HTMLElement>();

  const setOption = () => {
    const option = getOption();
    if (lengend.length) {
      charts && charts.setOption(option, true);
    } else {
      charts && charts.setOption({});
    }
  };

  const Refresh = () => {
    charts = proxy.$echarts.init(barChart.value!, obei);
    charts.clear();
    setOption();

    window.addEventListener('resize', () => {
      charts && charts.resize();
    });
  };
  defineExpose({
    Refresh,
  });

  onBeforeUnmount(() => {
    charts && charts.dispose();
    charts = null;
  });

  const getOption = () => {
    const option = {
      tooltip: {
        trigger: 'item',
      },
      title: {
        text: props.title,
        left: 'center',
        padding: [10, 0, 0, 0],
        textStyle: {
          fontFamily: 'SourceHanSansCN-Regular',
          fontSize: 24,
          fontWeight: 'bold',
          lineHeight: 24,
          letterSpacing: 0,
          color: '#000000',
        },
      },
      radar: {
        radius: '65%', // 图形大小
        splitNumber: 0,
        indicator: props.indicator,
        axisLine: {
          // (圆内的几条直线)坐标轴轴线相关设置
          lineStyle: {
            color: '#000000',
            // 坐标轴线线的颜色。
            width: 1,
            // 坐标轴线线宽。
            type: 'solid',
            // 坐标轴线线的类型。
          },
        },
      },
      color: props.color,
      legend: [
        {
          data: props.legend,
          x: 'center', // 可设定图例在左、右、居中
          y: 'bottom', // 可设定图例在上、下、居中
          padding: [0, 0, 10, 0], // 可设定图例[距上方距离，距右方距离，距下方距离，距左方距离]
        },
      ],
      series: props.series,
    };
    return option;
  };

  const lengend = reactive([]);
  const series = reactive([]);
  const color = reactive([]);
  const title = reactive([]);

  watchEffect(() => {
    lengend.length = 0;
    series.length = 0;
    color.length = 0;
    title.length = 0;

    lengend.push(...props.legend);
    series.push(...props.series);
    color.push(...props.color);
    title.push(...props.color);
    setOption();
  });
</script>

<style scoped>
  .chart {
    width: 100%;
    height: 100%;
  }
</style>
