<template>
  <div>
    <!-- 纪检核查 -->
    <a-form
      ref="inspectFormRef"
      :rules="rules3"
      :model="state.inspectForm"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 16 }"
      :footer="null"
      @finish="onFinish3"
      @finish-failed="onFinishFailed3"
    >
      <a-form-item label="待办编号">
        {{ state.inspectForm.clueId }}
      </a-form-item>
      <a-form-item label="处理意见" name="handleOpinion">
        <a-radio-group v-model:value="state.inspectForm.handleOpinion">
          <a-form-item-rest>
            <a-radio
              v-for="item in state.itemTextList"
              :key="item.itemValue"
              :value="item.itemValue"
              >{{ item.itemText }}</a-radio
            >
          </a-form-item-rest>
        </a-radio-group>
      </a-form-item>
      <a-form-item label="研判说明" name="handleRemark">
        <a-textarea
          v-model:value="state.inspectForm.handleRemark"
          placeholder="最大允许输入500个字符"
          show-count
          :maxlength="500"
          allow-clear
        />
      </a-form-item>
      <a-form-item
        v-if="state.inspectForm.handleOpinion == '60'"
        label="监督联络员"
        name="receiver"
      >
        <a-select
          v-model:value="state.inspectForm.receiver"
          :allow-clear="true"
          show-search
          class="resource-select"
          @change="transferorChange"
        >
          <a-select-option
            v-for="(item, index) in state.rectificationList['监督联络员']"
            :key="index"
            :value="'联络员' + '-' + item + '-' + index"
          >
            {{ item }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <div class="sub-btn">
        <a-button
          v-show="state.inspectForm.handleOpinion != ''"
          type="primary"
          style="background: #1890ff; color: #fff"
          :loading="state.loading"
          html-type="submit"
          >{{ state.inspectForm.handleOpinion == '30' ? '结束流程' : '提交监督联络员' }}</a-button
        >
      </div>
    </a-form>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, getCurrentInstance } from 'vue';
  import { message } from 'ant-design-vue';
  import { handleInspectionsSecond, getUsers } from '@/api/supervisionGovern';
  const emit = defineEmits(['search']);
  const { proxy } = getCurrentInstance();
  const state = reactive({
    itemTextList: proxy.$dict.getItemsByDictCode('handlingOpinionsjijian'),
    inspectForm: {
      clueId: '',
      handleOpinion: '',
      handleRemark: '',
      modelId: '',
      recordKey: '',
      handleCommitSeqno: '',
      receiver: '',
    },
    rectificationList: [],
  });
  const rules3 = reactive({
    handleOpinion: [{ required: true, message: '请输入处理意见' }],
    receiver: [{ required: true, message: '请选择监督联络员' }],
  });
  const transferorChange = (value) => {
    if (value) {
      state.inspectForm.receiver = value.split('-')[1];
    } else {
      state.inspectForm.receiver = '';
    }
  };
  const onFinish3 = () => {
    inspectHandleOk();
  };
  const onFinishFailed3 = () => {
    console.log('表单校验未通过');
  };
  const inspectHandleOk = () => {
    if (state.inspectForm.handleOpinion == '60') {
      const str = state.inspectForm.receiver;
      const lastIndex = str.lastIndexOf('/');
      const secondLastIndex = str.lastIndexOf('/', lastIndex - 1);
      state.inspectForm.receiver = str.substring(secondLastIndex + 1);
    }

    const params = {
      ...state.inspectForm,
      lineOfDefenseType: '2',
      handType: '40',
    };
    state.loading = true;
    handleInspectionsSecond(params)
      .then((r) => {
        state.loading = false;
        if (r.data.success === true) {
          message.success(r.data.data);
          //关闭父组件
          emit('search');
        } else {
          message.error(r.data.message);
        }
      })
      .catch(() => {
        state.loading = false;
        message.error(r.data.message);
      });
  };
  const processHandle = (record) => {
    // console.log('列表过来', record);
    careOf(); //查询监督联络员
    state.inspectForm.clueId = record.id;
    state.inspectForm.modelId = record.modelId;
    state.inspectForm.recordKey = record.recordKey;
    state.inspectForm.handleCommitSeqno = record.handleCommitSeqno;
  };
  const careOf = () => {
    getUsers({ role: 'rectification' }).then((r) => {
      if (r.data.code == 'OK') {
        state.rectificationList = r.data.data; //返回联络人
      } else {
        message.error(r.data.message);
      }
    });
  };
  defineExpose({ processHandle });
</script>

<style lang="less" scoped>
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
