<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      title="整改处理"
      width="1000px"
      :footer="null"
      destroy-on-close
      @ok="handleOk"
      @cancel="handleOk"
    >
      <div v-if="state.showFlag == 1">
        <a-form
          ref="auditFormRef"
          :model="state.auditForm"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 16 }"
          :rules="rules"
          @finish="onFinish1"
          @finish-failed="onFinishFailed1"
        >
          <!-- 监督联络员提交资料  -->
          <a-form-item label="待办编号">
            {{ state.auditForm.sid }}
          </a-form-item>
          <a-form-item label="整改类型" name="type">
            <a-checkbox-group v-model:value="state.auditForm.type">
              <a-checkbox
                v-for="(item, index) in state.rectifyTypeList"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-checkbox
              >
            </a-checkbox-group>
          </a-form-item>
          <a-form-item label="整改措施" name="explain">
            <a-textarea
              v-model:value="state.auditForm.explain"
              :maxlength="200"
              allow-clear
              placeholder="请输入200字符以内"
            />
          </a-form-item>
          <a-form-item label="材料">
            <div class="dropbox">
              <a-upload-dragger
                v-model:fileList="state.fileList"
                name="file"
                :action="`${state.BASE_URL}p/clue/dealWithFileUpload`"
                :before-upload="beforeUpload"
                :headers="state.headers"
                accept=".zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png"
                @change="normFile"
                @preview="onPreview"
              >
                <p class="ant-upload-drag-icon">
                  <ArrowUpOutlined></ArrowUpOutlined>
                </p>
                <p class="ant-upload-text">点击或将文件拖拽到这里上传</p>
                <p class="ant-upload-hint"
                  >支持扩展名：.zip .rar .doc .docx .pdf .xls .xlsx .jpg .jpeg .png</p
                >
              </a-upload-dragger>
            </div>
          </a-form-item>
          <a-form-item label="整改计划完成时间：" name="planCompleteTime">
            <a-date-picker
              v-model:value="state.auditForm.planCompleteTime"
              format="YYYY-MM-DD"
              value-format="YYYY-MM-DD"
              type="date"
              placeholder="选择时间"
              style="width: 100%"
            />
          </a-form-item>
          <a-form-item label="整改完成时间：" name="completeTime">
            <a-date-picker
              v-model:value="state.auditForm.completeTime"
              format="YYYY-MM-DD"
              value-format="YYYY-MM-DD"
              type="date"
              placeholder="选择时间"
              style="width: 100%"
            />
          </a-form-item>
          <div class="sub-btn">
            <a-button
              type="primary"
              style="
                margin-right: 20px;
                border-color: transparent;
                background: #52c41a;
                color: #fff;
              "
              :loading="state.temporaryLoading"
              @click="auditHandleOk(10)"
            >
              保存</a-button
            >
            <a-button
              html-type="submit"
              type="primary"
              style="background: #1890ff; color: #fff"
              :loading="state.loading"
            >
              提交模型管理员</a-button
            >
          </div>
          <div> </div>
        </a-form>
      </div>
      <!-- 模型管理员整改判定 -->
      <div v-if="state.showFlag == 2">
        <a-form
          ref="checkFormRef"
          :model="state.checkForm"
          :label-col="{ span: 5 }"
          :rules="checkFormRules"
          :wrapper-col="{ span: 16 }"
          @finish="onFinish2"
          @finish-failed="onFinishFailed2"
        >
          <a-form-item label="待办编号">
            {{ state.checkForm.sid }}
          </a-form-item>
          <a-form-item label="整改类型" name="type">
            <a-checkbox-group v-model:value="state.checkForm.type">
              <a-checkbox
                v-for="(item, index) in state.rectifyTypeList"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-checkbox
              >
            </a-checkbox-group>
          </a-form-item>
          <a-form-item label="处理意见" name="auditStatus">
            <a-radio-group v-model:value="state.checkForm.auditStatus">
              <a-radio :value="'10'"> 流程结束 </a-radio>
              <a-radio :value="'00'"> 驳回监督联络员 </a-radio>
            </a-radio-group>
          </a-form-item>
          <a-form-item label="处理说明" name="explain">
            <a-textarea
              v-model:value="state.checkForm.explain"
              :maxlength="200"
              allow-clear
              placeholder="请输入200字符以内"
            />
          </a-form-item>
          <a-form-item
            v-if="state.checkForm.auditStatus == '00'"
            label="监督联络员"
            name="nextProcessUser"
          >
            <a-select
              v-model:value="state.checkForm.nextProcessUser"
              :allow-clear="true"
              show-search
              class="resource-select"
              @change="transferorChange"
            >
              <a-select-option
                v-for="(item, index) in state.rectificationList['监督联络员']"
                :key="index"
                :value="'联络员' + '-' + item + '-' + index"
              >
                {{ item }}
              </a-select-option>
            </a-select>
          </a-form-item>
          <div class="sub-btn">
            <a-button
              html-type="submit"
              type="primary"
              style="background: #1890ff; color: #fff"
              :loading="state.loading"
            >
              提交</a-button
            >
          </div>
        </a-form>
      </div>
      <p style="margin-bottom: 20px" />
      <h2>整改日志</h2>
      <a-table
        :columns="state.columns"
        :data-source="state.dataSource"
        :pagination="state.pagination"
        :scroll="{ y: 300, x: 1200 }"
        @change="handleTableChange"
      >
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'action'">
            <a
              v-for="(item, index) in record.attachmentDtos"
              :key="index"
              :title="item.realFileName"
              @click="filePreview(item)"
            >
              {{ item.showName }}
              <a-divider v-if="index < record.attachmentDtos.length - 1" type="vertical" />
            </a>
          </template>
        </template>
      </a-table>
      <a-image
        :width="200"
        :style="{ display: 'none' }"
        :preview="{
          visible: state.imgVisible,
          onVisibleChange: setVisible,
        }"
        :src="state.imgUrl"
      />
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import { ArrowUpOutlined } from '@ant-design/icons-vue';
  import { message, Upload } from 'ant-design-vue';
  import { getLogList, saveLog, saveLogAudit, getUsers, queryNew } from '@/api/supervisionGovern';
  import { downIng, downloadJson } from '@/utils/request';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { Storage } from '@/utils/Storage';
  const { proxy } = getCurrentInstance();
  const emit = defineEmits(['search']);
  const dialogFormVisible = ref(false);
  const checkFormRef = ref();
  const auditFormRef = ref();
  const singleRadio = ref(0);
  const state = reactive({
    rectifyTypeList: proxy.$dict.getItemsByDictCode('RECTIFY_TYPE'), //整改类型
    nextProcessUser: '',
    handleRemark: '',
    imgVisible: false,
    imgUrl: '',
    BASE_URL: process.env.VUE_APP_BASE_API, // url
    showFlag: 1,
    temporaryLoading: false,
    loading: false,
    fileList: [], // 上传的文件列表
    headers: {}, // 上传头
    auditForm: {
      sid: '',
      explain: '',
      planCompleteTime: undefined,
      completeTime: undefined,
      type: [],
    },
    checkForm: {
      sid: '',
      auditStatus: '',
      explain: '',
      type: [],
      nextProcessUser: '',
    },
    dataSource: [],
    processUser: '',
    singleRadio: false,
    rectificationList: [],
    columns: [
      {
        title: '处理时间',
        dataIndex: 'processTime',
        key: 'processTime',
        width: 180,
        ellipsis: true,
      },
      {
        title: '待办环节',
        key: 'todoLink',
        width: 150,
        customRender: ({ record }) => {
          return record.todoLink && '整改处理';
        },
      },
      {
        title: '当前处理人',
        dataIndex: 'processUser',
        key: 'processUser',
        width: 150,
        ellipsis: true,
      },
      {
        title: '计划整改时间',
        dataIndex: 'planCompleteTime',
        key: 'planCompleteTime',
        width: 180,
        ellipsis: true,
      },
      {
        title: '整改完成时间',
        dataIndex: 'completeTime',
        key: 'completeTime',
        width: 180,
        ellipsis: true,
      },
      {
        title: '下一处理人',
        dataIndex: 'nextProcessUser',
        key: 'nextProcessUser',
        width: 150,
        ellipsis: true,
      },
      {
        title: '处理结果',
        key: 'processResult',
        width: 100,
        customRender: ({ record }) => {
          return (
            record.processResult &&
            proxy.$dict.getItemText('RECTIFICATIONLOG_AUDIT_STATUS', record.processResult)
          );
        },
      },
      {
        title: '整改类型',
        dataIndex: 'type',
        key: 'type',
        width: 150,
        ellipsis: true,
        customRender: ({ record }) => {
          const _type = (record.type &&
            record.type.indexOf(',') != -1 &&
            record.type.split(',')) || [record.type];
          let str = '';
          state.rectifyTypeList.forEach((i) => {
            _type &&
              _type.forEach((x) => {
                if (x == i.itemValue) {
                  str = `${str}${i.itemText},`;
                }
              });
          });
          return str;
        },
      },
      {
        title: '整改说明',
        dataIndex: 'explain',
        key: 'explain',
        width: 300,
        ellipsis: true,
      },
      {
        title: '整改材料',
        key: 'action',
        width: 300,
      },
    ],
    pagination: {
      pageSizeOptions: ['10', '20', '30', '40'],
      current: 1,
      pageSize: 10,
      total: 0,
      showSizeChanger: true,
      showQuickJumper: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
  });
  const processHandle = (record) => {
    // console.log('列表过来的数据', record.rectifyStatus);
    const val = cloneDeep(record);
    state.sendUser = val.sendUser;
    state.checkForm.auditStatus = '';
    state.auditForm.sid = state.checkForm.sid = val.id;
    if (val.todoLinkCode == '60' && val.rectifyStatus == '10') {
      //表示整改中-数据回显取日志的第一条数据
      state.showFlag = 1;
      getList('');
      queryNewFn(); //获取最新日志回显数据
    } else if (
      (val.todoLinkCode == '60' && val.rectifyStatus == '00') ||
      (val.todoLinkCode == '60' && val.rectifyStatus == '20') ||
      (val.todoLinkCode == '60' && val.rectifyStatus == '06') ||
      (val.todoLinkCode == '60' && val.rectifyStatus == '05')
    ) {
      //待整改弹框打开
      state.showFlag = 1;
      getList('');
    } else if (val.todoLinkCode == '60' && val.rectifyStatus == '30') {
      careOf(); //查询整改联络人
      state.showFlag = 2; //整改判定弹框打开
      getList('processUser'); //显示处理类型
    }
  };
  const setVisible = (value): void => {
    state.imgVisible = value;
  };
  const filePreview = (data) => {
    // 如果有base64就是图片没有就需要下载 wl
    const url = `p/clue/file/downLoad`;
    if (data.base64) {
      downIng(url, { filePathName: data.realFileName }, data.realFileName).then((res) => {
        state.imgUrl = res.target.result;
        setImgVisible(true);
      });
    } else {
      // 文件下载
      downloadJson(
        'p/clue/file/downLoad',
        {
          filePathName: data.realFileName,
        },
        data.realFileName,
      ).then(() => {});
    }
  };
  // 查看图片
  const setImgVisible = () => {
    setVisible(true);
  };
  const rules = reactive({
    explain: [{ required: true, message: '请输入整改措施', trigger: 'blur' }],
    type: [{ required: true, message: '请选择整改类型' }],
    planCompleteTime: [{ required: true, message: '请选择计划完成时间', trigger: 'change' }],
    completeTime: [{ required: true, message: '请选择完成时间', trigger: 'change' }],
  });
  const checkFormRules = reactive({
    auditStatus: [{ required: true, message: '请选择处理意见' }],
    type: [{ required: true, message: '请选择整改类型' }],
    nextProcessUser: [{ required: true, message: '请选择监督联络员' }],
  });
  const onChangeVisable = () => {
    dialogFormVisible.value = true;
  };
  const onFinish1 = () => {
    auditHandleOk(20); //10=保存 20=提交
  };

  const onFinishFailed1 = () => {
    // auditHandleOk(10); //10=保存 20=提交
  };
  const auditHandleOk = (temporaryFlag) => {
    const _params = {
      submitState: temporaryFlag, //10=保存 20=提交
      ...state.auditForm,
      nextProcessUser: state.sendUser,
      attachments: state.fileList
        ? state.fileList.map((item) => {
            return item.response.data;
          })
        : [],
    };
    _params.type = _params.type.join(',');
    // console.log(_params);
    if (temporaryFlag == 20) {
      //提交
      state.loading = true;
      saveLogFn(_params, temporaryFlag);
    } else {
      //保存
      if (
        state.auditForm.planCompleteTime == undefined ||
        state.auditForm.planCompleteTime == null
      ) {
        message.warning('计划整改时间不能为空');
        // return false;
      } else {
        state.temporaryLoading = true;
        saveLogFn(_params, temporaryFlag);
      }
    }
  };
  const saveLogFn = (_params, temporaryFlag) => {
    saveLog(_params).then((res) => {
      state.temporaryLoading = state.loading = false;
      if (res.data.code === 'OK') {
        if (temporaryFlag == 10) {
          message.success('保存成功');
          //保存不关闭弹框并且取日志最新一条数据---主要处理取id再次保存更新数据
          // getList('Echo');
          queryNewFn(); //获取最新日志回显数据
        } else {
          message.success('提交成功');
          handleOk(); //提交则直接关闭弹框
        }
      }
    });
  };
  const onFinish2 = () => {
    checkSaveFn();
  };

  const onFinishFailed2 = (errorInfo: any) => {
    console.log('Failed:', errorInfo);
  };
  const checkSaveFn = () => {
    // console.log('点击了确定', toRaw(state.checkForm));
    if (state.checkForm.auditStatus == '00') {
      const str = state.checkForm.nextProcessUser;
      const lastIndex = str.lastIndexOf('/');
      const secondLastIndex = str.lastIndexOf('/', lastIndex - 1);
      state.checkForm.nextProcessUser = str.substring(secondLastIndex + 1);
    }

    const _params = {
      ...state.checkForm,
    };
    _params.type = state.checkForm.type.join(',');
    state.loading = true;
    saveLogAudit(_params).then((res) => {
      state.loading = false;
      if (res.data.code === 'OK') {
        message.success('处理成功');
        handleOk();
      }
    });
  };
  const queryNewFn = () => {
    queryNew({ sid: state.auditForm.sid }).then((res) => {
      if (res.code == 'OK') {
        Assignment(res.data);
      }
    });
  };
  const getList = (type) => {
    getLogList({
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      sid: state.auditForm.sid,
    }).then((res) => {
      if (res.data.code === 'OK') {
        state.dataSource = res.data.data;
        state.total = res.data.total;
        if (type == 'processUser') {
          const item = state.dataSource.length > 0 && state.dataSource[0];
          state.checkForm.type =
            item.type && item.type != ''
              ? item.type.indexOf(',') != -1
                ? item.type.split(',')
                : [item.type]
              : [];
          //回显监督联络员
          // state.processUser = state.dataSource.length > 0 && state.dataSource[0].processUser;
        }
        // if (type === 'Echo') {
        //   Assignment();
        // }
      }
    });
  };
  const Assignment = (item) => {
    // const item = state.dataSource.length > 0 && state.dataSource[0];
    state.auditForm = {
      sid: state.checkForm.sid,
      rectificationId: item.rectificationId,
      explain: item.explain,
      planCompleteTime: item.planCompleteTime,
      completeTime: item.completeTime,
      attachments: item.attachmentArray,
      type:
        item.type != '' ? (item.type.indexOf(',') != -1 ? item.type.split(',') : [item.type]) : [],
    };
    const _attachments = item.attachmentArray;
    if (_attachments.length > 0) {
      state.fileList = [];
      _attachments.forEach((v) => {
        state.fileList.push({
          name: v,
          uid: v,
          response: {
            data: v,
          },
        });
      });
    }
  };
  const transferorChange = (value) => {
    if (value) {
      state.checkForm.nextProcessUser = value.split('-')[1];
    } else {
      state.checkForm.nextProcessUser = '';
    }
  };
  const careOf = () => {
    getUsers({ role: 'rectification' }).then((r) => {
      if (r.data.code == 'OK') {
        state.rectificationList = r.data.data; //返回联络人
      } else {
        message.error(r.data.message);
      }
    });
  };
  // 分页操作
  const handleTableChange = (pagination) => {
    state.pagination.current = pagination.current;
    state.pagination.pageSize = pagination.pageSize;
    getList();
  };
  const handleOk = () => {
    if (state.showFlag == 1) {
      auditFormRef.value.resetFields();
      state.auditForm.rectificationId = '';
      state.auditForm.type = [];
    } else {
      checkFormRef.value.resetFields();
      state.checkForm.type = [];
    }
    state.fileList = [];
    state.auditForm.nextProcessUser = '';
    state.handleRemark = '';
    singleRadio.value = 0;
    state.modalVisible = false;
    dialogFormVisible.value = false;
    emit('search');
  };
  // 文件预览
  const onPreview = (file) => {
    const url = file.response.data;
    // 文件下载
    downloadJson(
      'p/clue/file/downLoad',
      {
        filePathName: url,
      },
      file.name,
    ).then(() => {});
  };
  // 请求拦截
  const beforeUpload = (file, fileList) => {
    let flag = true;
    const config = { Authentication: '' };
    const FileExt = file.name.replace(/.+\./, '');
    if (
      ['jpg', 'jpeg', 'png', 'zip', 'rar', 'pdf', 'doc', 'docx', 'xlsx', 'xls'].indexOf(
        FileExt.toLowerCase(),
      ) === -1
    ) {
      message.warning(
        '请上传后缀名为.zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png的文件！',
      );
      return Upload.LIST_IGNORE;
    }
    // 有 token就带上
    if (Storage.get(ACCESS_TOKEN_KEY)) {
      config.Authentication = Storage.get(ACCESS_TOKEN_KEY);
    } else {
      // 没有就别上传
      flag = false;
    }
    state.headers = JSON.parse(JSON.stringify(config));
    // 上传3次就禁止上传了
    if (fileList.length + state.fileList.length > 3) {
      file.status = 'beforeUploadReject';
      flag = false;
    }
    return flag;
  };
  // 文件改变调用
  const normFile = (e) => {
    if (Array.isArray(e)) {
      return e;
    }
    if (e.fileList.length <= 3) {
      state.fileList = e.fileList;
    }
    // 如果大于3条，只保留前3条
    if (e.fileList.length > 3) {
      e.fileList = e.fileList.splice(3, 1);
      message.error('最多只能上传3个文件');
    }
    return e && e.fileList;
  };
  defineExpose({ onChangeVisable, processHandle });
</script>
<style lang="less" scoped>
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
