<template>
  <div class="logo">
    <img :src="logo" alt="" />
  </div>
</template>

<script setup lang="ts">
  import { onMounted, ref } from 'vue';
  import logo1 from '@/assets/images/logo1.png';
  import logo2 from '@/assets/images/logo2.png';
  defineProps({
    collapsed: {
      type: Boolean,
    },
  });
  const logo = ref('');
  const changeLogo = () => {
    const env = process.env.NODE_ENV;
    if (env === 'smartdash') {
      logo.value = logo2;
    } else {
      logo.value = logo1;
    }
  };
  onMounted(() => {
    changeLogo();
  });
</script>

<style lang="less" scoped>
  .logo {
    @apply flex overflow-hidden whitespace-nowrap items-center;

    height: 64px;
    padding-left: 5px;
    line-height: 64px;
    width: 200px;

    img {
      width: 100%;
    }

    .title {
      @apply mb-0 text-xl;
      color: @primary-color;
    }
  }
</style>
