<template>
  <div>
    <DynamicTable
      :data-source="batchData"
      :columns="columns"
      :scroll="{ x: 2000, y: 400 }"
      :loading="state.loading"
      :pagination="false"
    >
    </DynamicTable>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, watch, onMounted } from 'vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from '../columns';
  import { useTable } from '@/components/core/dynamic-table';
  const emit = defineEmits(['getLog']);
  const props = defineProps({
    batchData: { type: Object, default: () => {} },
    seeLogFlag: { type: Boolean, default: false },
  });
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: 'id',
    bordered: true,
  });
  const state = reactive({
    loading: false,
  });
  const columns: TableColumnItem[] = [...baseColumns];
  onMounted(() => {
    if (props.seeLogFlag) {
      columns.push({
        title: '操作',
        width: 80,
        dataIndex: 'ACTION',
        align: 'center',
        fixed: 'right',
        actions({ record }) {
          const actions: any = [];
          actions.push({
            label: '查看日志',
            style: 'color:#1890ff',
            onClick: () => {
              emit('getLog', record.id);
            },
          });
          return actions;
        },
      });
      console.log(columns);
    }
  });
</script>

<style></style>
