<template>
  <div>
    <DynamicTable
      row-key="id"
      :data-request="loadTableData"
      :columns="columnList"
      :search="false"
      :showToolBar="true"
      bordered
      size="small"
    ></DynamicTable>
    <a-modal
      v-model:visible="visible"
      width="1000px"
      title="查询语句"
      :footer="null"
      @ok="visible = false"
    >
      <p class="red" v-text="sqlInfo"></p>
    </a-modal>
  </div>
</template>

<script lang="ts" setup>
  import { ref } from 'vue';
  import { baseColumns, type TableColumnItem } from './columns'; //table列
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  import { queryDownloadList, Downloads } from '@/api/download/downloadCenter'; //接口

  defineOptions({
    name: 'fileCenter',
  });
  const visible = ref<boolean>(false);
  const sqlInfo = ref<string>();
  const [DynamicTable] = useTable();
  const fontColor = '#1890ff';
  const columnList: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '查询语句',
      width: 100,
      dataIndex: 'ACTION',
      align: 'center',
      hideInSearch: true,
      actions: ({ record }) => [
        {
          label: '查看',
          onClick: () => checkSQL(record),
        },
      ],
    },
    {
      title: '操作',
      width: 100,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        let actionList = [] as any;
        actionList = [
          {
            label: '下载',
            actionType: 'icon',
            icon: 'CloudDownloadOutlined',
            style: `color:${fontColor}`,
            onClick: () => goDownload(record),
          },
        ];
        return actionList;
      },
    },
  ];
  const loadTableData = async (params: LoadDataParams) => {
    const param = {
      ...params,
    };
    const data = await queryDownloadList(param);
    return {
      list: data.data,
      pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
    };
  };
  const checkSQL = (r) => {
    visible.value = true;
    sqlInfo.value = `[SQL]${r.querySql}`;
  };
  const goDownload = (r) => {
    const params = {
      fileName: r.fileName,
      exportPath: r.exportPath,
    };
    Downloads(params, `${r.fileName}.xlsx`);
  };
</script>
<style lang="less" scoped>
  .red {
    color: red;
  }
</style>
