<template>
  <div class="main">
    <a-row class="content">
      <a-col :span="state.show ? 4 : 0">
        <TreeList @selectd="onSelect" />
      </a-col>
      <a-col :span="1">
        <div class="line"></div>
        <left-outlined style="position: absolute; top: 0" @click="leftShow" />
      </a-col>
      <a-col :span="state.show ? 19 : 23">
        <DynamicTable
          header-title="重点激励项目"
          :data-request="loadTableData"
          :columns="columnStimulate"
        >
        </DynamicTable>
      </a-col>
    </a-row>
  </div>
</template>

<script lang="tsx" setup>
  import { reactive } from 'vue';
  import { columnStimulate } from '../columns.tsx';
  import { groupStimulate } from '@/api/statement/reportPresentation';
  import { useTable, type LoadDataParams } from '@/components/core/dynamic-table';
  import TreeList from '@/views/statement/components/TreeList.vue';

  defineOptions({
    name: 'Stimulate',
  });
  const state = reactive({
    orgCode: '',
    show: true,
  });
  const [DynamicTable, dynamicTableInstance] = useTable({
    search: false,
    size: 'small',
    bordered: true,
    rowKey: 'perfGCode',
    autoHeight: true,
    scroll: { x: 2000 },
  });
  const loadTableData = async (params: LoadDataParams) => {
    if (state.orgCode == '') return;
    const { data } = await groupStimulate({ orgCode: state.orgCode, ...params });
    return {
      list: data.data,
      pagination: { total: data.total, page: params.pageNum, size: params.pageSize },
    };
  };
  const onSelect = async (_selectedKeys) => {
    state.orgCode = _selectedKeys[0];
    dynamicTableInstance.reload();
  };
  const leftShow = async () => {
    state.show = !state.show;
  };
</script>

<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;
    .content {
      padding: 0.5rem 1.25rem;
      height: inherit;
      .line {
        margin: 0 40%;
        height: 100%;
        border-left: 0.0625rem solid #d8d8d8;
      }
    }
  }

  .fieldTarget {
    display: flex;
  }
</style>
