<template>
  <div
    ref="rulesGroupContainer"
    class="rules-container"
    :class="{ 'select-open': props.visible, 'select-close': !props.visible }"
  >
    <div class="rules-group-container">
      <div v-for="(group, gindex) in state.conditionGroups" :key="gindex" class="condition-group">
        <a-divider v-if="gindex > 0">或</a-divider>
        <div v-for="(item, iindex) in group" :key="item.field" class="condition">
          <div class="rule-item flex-row">
            <div class="flex-row-rel">
              <div class="row-icon">
                <MinusCircleOutlined
                  size="20"
                  @click="delCondition(gindex, iindex)"
                ></MinusCircleOutlined>
              </div>
              <div>
                <div class="rel-op">{{ iindex == 0 ? '' : '且' }}</div>
              </div>
            </div>
            <div class="rule-item-field">
              <a-select
                ref="reactSelect"
                v-model:value="item.field"
                class="width100"
                filter-option
                allow-clear
                @change="changeField(iindex, gindex)"
              >
                <a-select-option
                  v-for="field in surplusFields(gindex, item.field)"
                  :key="field.columnName"
                  :value="field.columnName"
                  >{{ field.columnCname }}
                </a-select-option>
              </a-select>
            </div>
            <!-- operator -->
            <div class="rule-item-op">
              <a-select
                v-if="item.columnType == TypeEnum.TEXT"
                v-model:value="item.operatorValue"
                class="width100"
                @change="changeOperator(item, iindex, gindex)"
              >
                <a-select-option v-for="(op, oindex) in operatorText" :key="oindex" :value="op.code"
                  >{{ op.text }}
                </a-select-option>
              </a-select>
              <a-select
                v-if="item.columnType == TypeEnum.NUMBER"
                v-model:value="item.operatorValue"
                class="width100"
                @change="changeOperator(item, iindex, gindex)"
              >
                <a-select-option
                  v-for="(op, oindex) in operatorNumber"
                  :key="oindex"
                  :value="op.code"
                  >{{ op.text }}
                </a-select-option>
              </a-select>
              <a-select
                v-if="item.columnType == TypeEnum.DATE"
                v-model:value="item.operatorValue"
                class="width100"
                @change="changeOperator(item, iindex, gindex)"
              >
                <a-select-option v-for="(op, oindex) in operatorDate" :key="oindex" :value="op.code"
                  >{{ op.text }}
                </a-select-option>
              </a-select>
              <a-select
                v-if="item.columnType == TypeEnum.DICT || item.columnType == TypeEnum.TREE"
                v-model:value="item.operatorValue"
                class="width100"
                @change="changeOperator(item, iindex, gindex)"
              >
                <a-select-option v-for="(op, oindex) in operatorDict" :key="oindex" :value="op.code"
                  >{{ op.text }}
                </a-select-option>
              </a-select>
            </div>
            <!-- 值  注意要根据operator来决定是一个值还是两个值 大部分都是一个值，只有当不是date且为介于的情况下，要两个值，
            然后特殊的情况是 dict 和 date 需要特殊组件
            特别是介于-->
            <div class="rule-item-value">
              <!-- <a-select v-if="item.columnType == 'dict'" v-model="item.codeValue" :max-tag-count="1"
                :max-tag-placeholder="maxTagPlaceholder" :multiple="item.operatorValue == 'IN' ? true : false"
                :allowClear="item.operatorValue == 'IN' ? true : false" class="width100">
                <a-select-option v-for="(field, findex) in item.codeList" :value="field.value" :key="findex">{{
                    field.label
                }}</a-select-option>
              </a-select>
              <a-checkbox-group
                v-if="item.columnType == TypeEnum.DICT"
                v-model:value="item.selectCode"
                name="checkboxgroup"
                class="check-group left-margin-4"
                :options="item.codeList"
                @change="changeValue(item, iindex, gindex)"
              />-->
              <div v-if="item.columnType == TypeEnum.TEXT" class="left-margin-4">
                <a-input
                  v-model:value.trim="item.value1"
                  type="text"
                  class="width100"
                  @change="changeValue(item, iindex, gindex)"
                />
              </div>
              <div
                v-else-if="item.columnType == TypeEnum.NUMBER && item.operatorValue == 'RANGE'"
                class="flex left-margin-4 width200"
              >
                <div class="ant-calendar-picker range-number">
                  <div class="ant-calendar-picker-input ant-input">
                    <a-input
                      v-model:value.trim="item.value1"
                      placeholder="开始"
                      type="number"
                      class="ant-calendar-range-picker-input"
                      @change="changeValue(item, iindex, gindex)"
                    />
                    <span class="ant-calendar-range-picker-separator"> ~ </span>
                    <a-input
                      v-model:value.trim="item.value2"
                      placeholder="结束"
                      type="number"
                      class="ant-calendar-range-picker-input"
                      @change="changeValue(item, iindex, gindex)"
                    />
                  </div>
                </div>
              </div>
              <div v-else-if="item.columnType == TypeEnum.NUMBER" class="flex left-margin-4">
                <a-input
                  v-model:value.trim="item.value1"
                  class="width100"
                  type="number"
                  @change="changeValue(item, iindex, gindex)"
                />
              </div>
              <div v-else-if="item.columnType == TypeEnum.DATE" class="left-margin-4">
                <a-range-picker
                  v-if="item.operatorValue == 'RANGE'"
                  v-model:value="item.selectCode"
                  class="width100"
                  format="YYYY-MM-DD"
                  @change="changeValue(item, iindex, gindex)"
                />
                <a-date-picker
                  v-else
                  v-model:value="item.value1"
                  class="width100"
                  format="YYYY-MM-DD"
                  @change="changeValue(item, iindex, gindex)"
                />
              </div>
              <div v-else-if="item.columnType == TypeEnum.DICT" class="left-margin-4">
                <a-select
                  v-model:value="item.value1"
                  show-search
                  option-filter-prop="label"
                  class="width183"
                  mode="multiple"
                  @change="changeValue(item, iindex, gindex)"
                >
                  <a-select-option
                    v-for="(op, oindex) in item.itemDtoList"
                    :key="oindex"
                    :value="op.itemValue"
                    :label="op.itemText"
                  >
                    {{ op.itemText }}
                  </a-select-option>
                </a-select>
              </div>
              <div v-else-if="item.columnType == TypeEnum.TREE" class="left-margin-tree">
                <a-tree-select
                  v-model:value="item.value1"
                  show-search
                  style="width: 100%"
                  :tree-data="item.itemDtoList"
                  :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
                  allow-clear
                  multiple
                  @change="changeValue(item, iindex, gindex)"
                  @search="onTreeSearch"
                  @select="onSelect"
                >
                  <template #title="{ value, title }">
                    {{ title }}
                  </template>
                </a-tree-select>
              </div>
            </div>
            <div v-if="state.conditionGroups[gindex].length < fieldList.length" class="con-adder">
              <span class="con-adder-btn" @click="addCondition(gindex)">
                <PlusCircleOutlined size="20"></PlusCircleOutlined>
                <span>添加条件</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="props.isAddConditionGroup" class="group-adder">
      <div class="group-adder-btn" @click="addConditionGroup">
        <plus-outlined></plus-outlined>
        <span>添加条件组</span>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
  import { reactive, onMounted, computed, ref, nextTick, watch } from 'vue';
  import { MinusCircleOutlined, PlusCircleOutlined, PlusOutlined } from '@ant-design/icons-vue';
  import dayjs from 'dayjs';
  import { isEmpty } from 'lodash-es';
  import { TypeEnum } from '@/enums/queryFieldEnum';
  import dict from '@/utils/dict.js';

  defineOptions({
    name: 'QueryFilter',
    inheritAttrs: false,
  });

  const emits = defineEmits(['change']);

  const props = defineProps({
    visible: {
      type: Boolean,
      default: false,
    },
    fieldList: {
      type: Array,
      default() {
        return [];
      },
    },
    isAddConditionGroup: {
      type: Boolean,
      default: false,
    },
  });

  const conditionTemplate = {
    field: '',
    columnType: TypeEnum.TEXT,
    value1: '',
    value2: '',
    selectCode: [],
    operatorValue: 'NA',
    operatorList: [],
    codeList: [],
    itemDtoList: [],
  };

  const dateFormat = 'YYYY-MM-DD';
  const dateFormat1 = 'YYYY-MM-DD HH:mm:ss';
  // 注意某些类型的不可以用
  // text number dict date  dict只有等于 属于之一
  const operatorText = [
    { code: 'NA', text: '请选择' },
    { code: 'EQ', text: '等于' },
    { code: 'NE', text: '不等于' },
    { code: 'LIKE', text: '包含' },
    { code: 'LEFT_LIKE', text: '左包含' },
    { code: 'RIGHT_LIKE', text: '右包含' },
    { code: 'NOT_LIKE', text: '不包含' },
  ];
  const operatorNumber = [
    { code: 'NA', text: '请选择' },
    { code: 'EQ', text: '等于' },
    { code: 'NE', text: '不等于' },
    { code: 'GT', text: '大于' },
    { code: 'LT', text: '小于' },
    { code: 'GE', text: '大于等于' },
    { code: 'LE', text: '小于等于' },
    { code: 'RANGE', text: '介于' },
  ];
  const operatorDict = [
    { code: 'NA', text: '请选择' },
    { code: 'IN', text: '包含' },
    { code: 'NOT_IN', text: '不包含' },
  ];
  const operatorDate = [
    { code: 'NA', text: '请选择' },
    { code: 'EQ', text: '等于' },
    { code: 'NE', text: '不等于' },
    { code: 'GT', text: '大于' },
    { code: 'GE', text: '大于等于' },
    { code: 'LT', text: '小于' },
    { code: 'LE', text: '小于等于' },
    { code: 'RANGE', text: '介于' },
  ];

  const state = reactive({
    // 已选字段
    selectedFields: [],
    conditionGroups: [],
  });

  const rulesGroupContainer = ref();
  const surplusFields = computed(() => {
    return function (gindex, field) {
      const temps = state.conditionGroups[gindex].map((x) => x.field);
      const list: any = [];
      // 加上当前的field
      const temp = props.fieldList.find((x: any) => x.columnName === field);
      if (temp) {
        list.push(temp);
      }
      props.fieldList.forEach((x: any) => {
        if (!temps.includes(x.columnName)) {
          list.push(x);
        }
      });
      return list;
    };
  });

  onMounted(() => {
    addConditionGroup();
  });

  /**
   * 改变操作符
   */
  const changeOperator = (item) => {
    if (checkItem(item)) {
      const conditions = getConditionResult();
      // console.log(conditions)
      emits('change', conditions);
    }
  };
  /**
   * 改变值
   */
  const changeValue = () => {
    const conditions = getConditionResult();
    if (conditions.length > 0) {
      emits('change', conditions);
    }
  };
  /**
   * 判断是否会触发条件查询
   * @param item
   * @returns {boolean}
   */
  const checkItem = (item) => {
    if (item.operatorValue != 'NA') {
      if (item.columnType === TypeEnum.NUMBER) {
        if (item.value1 != null && item.value1 != undefined && item.value1 != '') {
          return true;
        }
      } else if (item.columnType === TypeEnum.DATE) {
        // console.log('date', item)
        if (item.operatorValue === 'RANGE') {
          item.value1 = '';
          item.value2 = '';
          if (item.selectCode && item.selectCode.length > 1) {
            item.value1 = dayjs(item.selectCode[0], dateFormat1);
            item.value2 = dayjs(item.selectCode[1], dateFormat1);
            return true;
          }
        } else {
          item.selectCode = [];
          item.value2 = '';
          if (item.value1 != undefined && item.value1 != '') {
            return true;
          }
        }
      } else if (item.columnType === TypeEnum.TEXT) {
        if (item.value1 != null && item.value1 != undefined && item.value1.length > 0) {
          return true;
        }
        // } else if (item.columnType === TypeEnum.DICT) {
        //   // console.log('dict', item)
        //   if (item.selectCode.length > 0) {
        //     item.value1 = item.selectCode.join();
        //     return true;
        //   }
      } else if (item.columnType === TypeEnum.DICT || item.columnType === TypeEnum.TREE) {
        // console.log('dict', item)
        if (item.value1) {
          return true;
        }
      }
    }
    return false;
  };

  /**
   *清空条件
   */
  const clearConditionResult = () => {
    state.conditionGroups.forEach((x: any) => {
      x.forEach((y) => {
        y.selectCode = [];
        y.value1 = null;
        y.value2 = null;
      });
    });
  };
  /**
   * 获取条件结果
   * 注意 最外层都是or连接 ，内部都是and连接
   */
  const getConditionResult = () => {
    const result: any = [];

    state.conditionGroups.forEach((x: any) => {
      if (x.length > 0) {
        const temp: any = [];
        x.forEach((y) => {
          if (checkItem(y)) {
            if (
              y.columnType === TypeEnum.DATE &&
              y.operatorValue != 'RANGE' &&
              typeof y.value1 === 'object'
            ) {
              // 判断时间格式
              const dateStr = dayjs(y.value1, dateFormat);
              y.value1 = dateStr;
            }
            temp.push(y);
          }
          if (y.operatorValue != 'RANGE') {
            y.value2 = '';
          }
        });
        if (temp.length > 0) {
          result.push(temp);
        }
      }
    });
    return result;
  };
  const changeField = (idx, gdx) => {
    let field: any = null;
    const item: any = state.conditionGroups[gdx][idx];
    item.codeList = null;
    for (let i = 0; i < props.fieldList.length; i++) {
      if (item.field == props.fieldList[i].columnName) {
        field = props.fieldList[i];
        break;
      }
    }
    if (!field) {
      return false;
    }
    const type = field.columnType;
    let typeValue = 'EQ';
    if (type === TypeEnum.DICT || type === TypeEnum.TREE) {
      typeValue = 'IN';
    }
    item.name = field.name;
    item.cName = field.cName;
    item.codeList = field.codeList;
    item.example = field.example;
    item.columnType = type;
    item.selectCode = [];
    item.operatorValue = typeValue;
    item.value1 = field.deValue1;
    item.value2 = field.deValue2;
    item.dictCode = field.dictCode;
    item.itemDtoList = field.itemDtoList;
  };
  const addConditionGroup = () => {
    const temp: any = JSON.parse(JSON.stringify(conditionTemplate));
    state.conditionGroups.push([temp]);
    scrollToBottom();
  };
  // 添加规则
  const addCondition = (gIndex) => {
    const length = state.conditionGroups[gIndex].length;
    if (length === 0) {
      const temp = JSON.parse(JSON.stringify(conditionTemplate));
      state.conditionGroups[gIndex].push(temp);
    } else {
      const next = getNextField(gIndex);
      state.conditionGroups[gIndex].push(next);
    }
    scrollToBottom();
  };
  // 删除规则
  const delCondition = (gindex, iindex) => {
    state.conditionGroups[gindex].splice(iindex, 1);

    if (state.conditionGroups.length > 1 && state.conditionGroups[gindex].length === 0) {
      state.conditionGroups.splice(gindex, 1);
    }

    if (state.conditionGroups[0].length === 0) {
      const temp = JSON.parse(JSON.stringify(conditionTemplate));
      state.conditionGroups[0].push(temp);
    }
    const conditions = getConditionResult();

    // if (conditions.length > 0) {
    emits('change', conditions);
    // }
  };
  /***
   * 获取下一个字段信息
   * @param gindex
   * @returns {*}
   */
  const getNextField = (gindex) => {
    const group: any = state.conditionGroups.at(gindex);
    if (group && group != undefined) {
      const fields = group.filter((x) => !isEmpty(x.field)).map((x) => x.field);
      const list = props.fieldList.filter((x) => !fields.includes(x.columnName));
      if (list.length > 0) {
        return field2Condition(list[0]);
      }
    }
    return field2Condition(props.fieldList[0]);
  };
  /**
   * 字段转条件
   * @param field
   * @returns {null|{operatorList: [], field: *, value2: string, value1: string, type: *, selectCode: []}}
   */
  const field2Condition = (field) => {
    if (field && field.columnName) {
      const condition: any = {
        field: field.columnName,
        columnType: field.columnType,
        value1: undefined,
        value2: '',
        selectCode: [],
        operatorList: [],
        itemDtoList: field.itemDtoList || [],
      };
      if (field.columnType === TypeEnum.DICT || field.columnType === TypeEnum.TREE) {
        condition.operatorValue = 'IN';
        condition.codeList = field.codeList;
      } else {
        condition.operatorValue = 'EQ';
        condition.codeList = [];
      }
      return condition;
    }
    return null;
  };
  const scrollToBottom = () => {
    nextTick(() => {
      rulesGroupContainer.value.scrollTop = rulesGroupContainer.value.scrollHeight;
    });
  };
  const setConditionGroups = (val) => {
    state.conditionGroups = val;
    // this.$forceUpdate()
  };
  const onTreeSearch = () => {
    console.log(...arguments);
  };
  const onSelect = () => {
    console.log(...arguments);
  };
  const convertFields = (list) => {
    list.forEach((x) => {
      if (x.columnType === TypeEnum.DICT && !isEmpty(x.dictCode)) {
        x.itemDtoList = dict.getItemsByDictCode(x.dictCode);
      }
    });
  };

  /**转换出最终查询条件，外部直接调用*/
  const getQueryCondition = () => {
    const conditions = getConditionResult();
    const query: any = [];
    if (conditions && conditions.length > 0) {
      conditions.forEach((item) => {
        const list: any = [];
        item.forEach((v) => {
          let obj = {};
          let val: any = [];
          if (v.columnType === TypeEnum.DICT || v.columnType === TypeEnum.TREE) {
            val = v.value1;
          } else {
            if (v.value1) {
              if (v.columnType === TypeEnum.DATE) {
                val.push(dayjs(v.value1).format(dateFormat));
              } else if (v.columnType === TypeEnum.DICT) {
                val.push(v.value1);
              } else {
                val.push(v.value1);
              }
            }
            if (v.value2) {
              if (v.columnType === TypeEnum.DATE) {
                val.push(dayjs(v.value2).format(dateFormat));
              } else {
                val.push(v.value2);
              }
            }
          }

          // let values = val;
          // if (v.columnType === TypeEnum.DICT || v.columnType === TypeEnum.TREE) {
          //   values = val[0];
          // }
          obj = {
            columnName: v.field,
            filterType: convertOperatorValue(v.operatorValue),
            columnType: v.columnType,
            values: val,
          };
          list.push(obj);
        });
        query.push(list);
      });
    }
    return query;
  };

  /**转换成后端需要操作付**/
  const convertOperatorValue = (v) => {
    let r = '';
    switch (v) {
      case 'EQ':
        r = '=';
        break;
      case 'GT':
        r = '>';
        break;
      case 'GE':
        r = '≥';
        break;
      case 'LT':
        r = '<';
        break;
      case 'LE':
        r = '≤';
        break;
      case 'NE':
        r = '≠';
        break;
      case 'NOT_IN':
        r = 'NOT IN';
        break;
      default:
        r = v;
        break;
    }
    return r;
  };
  watch(
    () => props.fieldList,
    (v) => {
      if (v.length > 0) {
        // console.log(33222222, v);
        convertFields(v);
      } else {
        state.conditionGroups.length = 0;
        addConditionGroup();
      }
    },
  );
  watch(
    () => props.visible,
    (v) => {
      if (v === false) {
        rulesGroupContainer.value.scrollTop = 0;
      }
    },
  );

  defineExpose({
    getConditionResult,
    getQueryCondition,
    clearConditionResult,
    setConditionGroups,
    delCondition,
  });
</script>
<style lang="less" scoped>
  .rules-container {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
  }
  .rules-group-container {
    margin: 10px 0px;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  // .condition {
  //   width: 50%;
  //   display: inline-block;
  // }
  .rule-item {
    padding: 5px 10px;
    width: 100%;
  }
  .con-adder {
    // padding: 10px 10px;
    margin-left: 10px;
    color: #1890ff;
    .con-adder-btn {
      cursor: pointer;
    }
  }
  .rule-item-field {
    margin: 0px 3px;
    width: 220px;
  }
  .rule-item-op {
    width: 90px;
    margin: 0px 3px;
  }
  .width100 {
    width: 100%;
  }
  .width45 {
    width: 45%;
  }
  .width360 {
    width: 360px;
  }
  .width183 {
    width: 183px;
  }
  .width200 {
    width: 200px;
  }
  .group-adder {
    height: 32px;
    line-height: 32px;
    width: 100%;
    margin-bottom: 10px;
  }
  .range-number {
    .ant-calendar-picker-input {
      display: flex;
      padding: 0;
      .ant-input {
        border: unset;
        text-align: center;
      }
    }
  }
  .group-adder-btn {
    margin: 0 auto;
    text-align: center;
    width: 150px;
    border: 1px solid rgb(243, 240, 240);
    border-radius: 3px;
    cursor: pointer;
  }
  .group-adder-btn:hover {
    background-color: #f2f7fa !important;
    border: 1px solid #cccccc;
    color: #000;
    z-index: 1099;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    .flex-row-rel {
      display: flex;
      align-items: center;
    }
    .row-icon {
      cursor: pointer;
    }
    .rel-op {
      width: 25px;
      text-align: center;
    }
  }
  .sep-line {
    height: 1px;
    border-top: 1px solid #ddd;
    text-align: center;
    margin-bottom: 10px;
  }
  .sep-line span {
    position: relative;
    top: -8px;
    background: #fff;
    padding: 0 20px;
  }
  .check-group {
    background-color: rgb(243, 240, 240);
    padding: 5px 15px;
  }
  .left-margin-4 {
    margin-left: 4px;
  }
  .left-margin-tree {
    width: 183px;
    margin-left: 4px;
  }
  @keyframes slide-down {
    0% {
      transform: scale(1, 0);
    }
    25% {
      transform: scale(1, 1.2);
    }
    50% {
      transform: scale(1, 0.85);
    }
    75% {
      transform: scale(1, 1.05);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .select-open {
    //animation: slide-down 0.5s ease-in;
    //transition: 0.3s ease-in;
    //transform-origin: 50% 0;
    //display: inline-block;
    height: auto;
  }
  .select-close {
    //transform: scaleY(0);
    //transition: transform 0.2s;
    //transform-origin: top center;
    max-height: 50px;
    overflow: hidden;
  }

  .condition-group {
    /deep/.ant-divider-horizontal.ant-divider-with-text {
      margin: 1px 0;
      font-size: 14px;
    }
  }
</style>
