<template>
  <div class="transfer">
    <div class="left-content column-flex">
      <a-input-search
        v-model:value="leftData.searchText"
        allow-clear
        class="padding-bottom-5 search"
        placeholder="请输入姓名查询"
        @press-enter="searchLeftData"
        @search="searchLeftData"
      />
      <a-table
        :row-selection="{
          selectedRowKeys: leftData.selectedRowKeys,
          onChange: leftSelectedChange,
          getCheckboxProps: leftCheckboxProps,
        }"
        :columns="columns"
        :scroll="{ y: 250 }"
        size="small"
        :data-source="leftData.data"
        :pagination="paginationOptions"
        class="transfer-table"
        @change="onPageChange"
      ></a-table>
    </div>
    <div class="middle-content">
      <div class="middle-action column-flex">
        <div class="column-flex-one"></div>
        <LeftOutlined class="margin-bottom-15 operation-btn" @click="toLeft"></LeftOutlined>
        <RightOutlined class="margin-bottom-15 operation-btn" @click="toRight"></RightOutlined>
        <div class="column-flex-one"></div>
      </div>
    </div>
    <div class="right-content column-flex">
      <a-input-search
        v-model:value="rightData.searchText"
        allow-clear
        class="padding-bottom-5 search"
        placeholder="请输入姓名查询"
        @press-enter="searchRightData"
        @search="searchRightData"
      />
      <a-table
        :row-selection="{
          selectedRowKeys: rightData.selectedRowKeys,
          onChange: rightSelctedChange,
        }"
        :columns="columns"
        size="small"
        :pagination="false"
        :scroll="{ y: 250 }"
        :data-source="rightData.displayData"
        class="transfer-table"
      ></a-table>
    </div>
  </div>
</template>
<script lang="ts" setup>
  import { reactive, ref, onMounted, computed, watch } from 'vue';
  import { LeftOutlined, RightOutlined } from '@ant-design/icons-vue';

  defineOptions({
    name: 'Transfer',
    inheritAttrs: false,
  });

  const emits = defineEmits([]);

  const props = defineProps({
    height: {
      type: Number,
      default: 100,
    },
    columns: {
      type: Array,
      default() {
        return [];
      },
    },
    keyColumn: {
      type: String,
      required: true,
    },
    searchColumn: {
      type: String,
      required: true,
    },
    leftDataSource: {
      type: Array,
      defalut() {
        return [];
      },
    },
    rightDataSource: {
      type: Array,
      defalut() {
        return [];
      },
    },
    dataPromise: Function,
  });

  const rightData = reactive({
    searchText: '',
    data: [],
    displayData: [],
    selectedRowKeys: [],
    selectedRows: [],
  });

  const leftData = reactive({
    searchText: '',
    data: [],
    selectedRowKeys: [],
    selectedRows: [],
    pagination: {
      pageSize: 10,
      current: 1,
      total: 0,
    },
  });

  const leftSelectedChange = (selectedRowKeys, selectedRows) => {
    leftData.selectedRows = selectedRows;
    leftData.selectedRowKeys = selectedRowKeys;
  };

  const leftCheckboxProps = (record) => ({
    disabled: checkDisable(record[props.keyColumn]),
  });

  const checkDisable = (data) => {
    const index = rightData.data.findIndex((item) => item[props.keyColumn] == data);
    return index != -1;
  };

  const toRight = () => {
    rightData.data.push(...leftData.selectedRows);
    rightData.displayData = [...rightData.data];
    leftData.selectedRowKeys = [];
    rightData.serchText = '';
  };

  const rightSelctedChange = (selectedRowKeys, selectedRows) => {
    rightData.selectedRows = selectedRows;
    rightData.selectedRowKeys = selectedRowKeys;
  };

  const toLeft = () => {
    const datas = rightData.data.filter((item) => {
      return !rightData.selectedRowKeys.includes(item[props.keyColumn]);
    });

    rightData.data = [...datas];

    const ddatas = rightData.displayData.filter((item) => {
      return !rightData.selectedRowKeys.includes(item[props.keyColumn]);
    });

    rightData.displayData = [...ddatas];

    rightData.selectedRowKeys = [];
  };

  const tableHeight = computed(() => {
    return `${props.height}px`;
  });

  const paginationOptions = computed(() => {
    if (props.dataPromise) {
      return leftData.pagination;
    } else {
      return false;
    }
  });

  const setLeftData = (dataArray) => {
    const data = [];
    dataArray?.forEach((item, index) => {
      const d = { ...item };
      if (props.keyColumn) {
        d.key = item[props.keyColumn];
      } else {
        d.key = index;
      }

      data.push(d);
    });
    leftData.data = data;
  };

  // 静态search  还是动态search
  const searchLeftData = (data) => {
    if (props.dataPromise) {
      searchLeftDataDynamic(data);
    } else {
      searchLeftDataStatic(data);
    }
  };

  const searchLeftDataStatic = (data) => {
    const datas = props.leftData?.filter((item) => item[props.searchColumn] == data);
    setLeftData(datas);
  };

  const searchLeftDataDynamic = (data) => {
    const params = {
      pageSize: leftData.pagination.pageSize,
      pageNum: leftData.pagination.current,
    };

    if (leftData.searchText) {
      params[props.searchColumn] = leftData.searchText;
    }

    props.dataPromise(params).then((res) => {
      // 没数据 回第一页 后端似乎处理了
      if (params.pageNum > 1 && res.rows && res.rows.length == 0) {
        params.pageNum = 1;

        props.dataPromise(params).then((sres) => {
          setLeftData(sres.rows);
          leftData.pagination.total = sres.total;
          leftData.pagination.current = params.pageNum;
          leftData.pagination.pageSize = params.pageSize;
        });
      } else {
        setLeftData(res.rows);
        leftData.pagination.total = res.total;
        leftData.pagination.current = params.pageNum;
        leftData.pagination.pageSize = params.pageSize;
      }
    });
  };

  const searchRightData = (data) => {
    if (data) {
      const datas = rightData.data.filter((item) => `${item[props.searchColumn]}`.startsWith(data));
      rightData.displayData = [...datas];
    } else {
      rightData.displayData = [...rightData.data];
    }
  };

  const onPageChange = (pagination) => {
    if (props.dataPromise) {
      const params = {
        pageSize: pagination.pageSize,
        pageNum: pagination.current,
      };

      if (leftData.searchText) {
        params[props.searchColumn] = leftData.searchText;
      }

      props.dataPromise(params).then((res) => {
        // 没数据 回第一页 后端似乎处理了
        if (pagination.current > 1 && res.rows && res.rows.length == 0) {
          params.pageNum = 1;

          props.dataPromise(params).then((sres) => {
            setLeftData(sres.rows);
            leftData.pagination.total = sres.total;
            leftData.pagination.current = params.pageNum;
            leftData.pagination.pageSize = params.pageSize;
          });
        } else {
          setLeftData(res.rows);
          leftData.pagination.total = res.total;
          leftData.pagination.current = params.pageNum;
          leftData.pagination.pageSize = params.pageSize;
        }
      });
    }
  };

  watch(
    () => props.leftDataSource,
    () => {
      setLeftData(props.leftDataSource);
    },
    { deep: true, immediate: true },
  );

  watch(
    () => props.keyColumn,
    () => {
      setLeftData(props.leftDataSource);
    },
    { deep: true, immediate: true },
  );

  watch(
    () => props.dataPromise,
    () => {
      if (props.dataPromise) {
        const params = {
          pageSize: 10,
          pageNum: 1,
        };

        props.dataPromise(params).then((res) => {
          leftData.pagination.total = res.total;
          setLeftData(res.rows);
        });
      }
    },
    { deep: true, immediate: true },
  );

  watch(
    () => props.rightDataSource,
    () => {
      if (props.rightDataSource) {
        const datas = [...props.rightDataSource];

        const data = [];
        datas?.forEach((item, index) => {
          const d = { ...item };
          if (props.keyColumn) {
            d.key = item[props.keyColumn];
          } else {
            d.key = 1000000 + index;
          }

          data.push(d);
        });

        rightData.data = [...data];
        rightData.displayData = [...data];
      }
    },
    { deep: true, immediate: true },
  );

  const getValues = () => {
    return rightData.data;
  };

  defineExpose({ getValues });
</script>

<style lang="less" scoped>
  .column-flex {
    display: flex;
    flex-direction: column;

    .column-flex-one {
      flex: 1;
    }
  }

  .padding-bottom-5 {
    padding-bottom: 5px;
  }
  .margin-bottom-15 {
    margin-bottom: 15px;
  }
  .operation-btn:hover {
    color: #fff;
    background-color: rgb(63, 137, 185);
  }
  .transfer {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    // border-radius: 5px;
    // border: solid 1px rgb(167, 200, 206);
    .left-content .right-content {
      flex: 1;
      height: 100%;
      margin: 5px;
    }

    .middle-content {
      width: 50px;
      .middle-action {
        height: 100%;
        margin: 0px 15px;
      }
    }

    .search {
      height: 48px;
    }

    .transfer-table {
      // height: calc(100vh - 100px);
    }
  }

  &:deep(.ant-table-body) {
    max-height: v-bind(tableHeight) !important;
  }
  &:deep(.ant-table-body-inner) {
    max-height: v-bind(tableHeight) !important;
  }
</style>
