<template>
  <div>
    <DynamicTable header-title="部门管理" :data-request="loadTableData" :columns="columns">
      <template #toolbar>
        <a-button type="primary" :disabled="!$auth('dept:add')" @click="openDeptModal({})">
          新增
        </a-button>
      </template>
    </DynamicTable>
  </div>
</template>

<script lang="tsx" setup>
  import { ref, reactive } from 'vue';
  import { omit } from 'lodash-es';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { deptSchemas } from './formSchemas';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { getDeptAll, updateDept, createDept, deleteDept } from '@/api/system/dept';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/useFormModal';

  defineOptions({
    name: 'SysDept',
  });

  const state = reactive<State>({
    deptTree: [],
  });

  const [DynamicTable, dynamicTableInstance] = useTable({
    pagination: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
  });
  const [showModal] = useFormModal();
  // params: LoadDataParams 查询入参
  const loadTableData = async (params: LoadDataParams) => {
    if (params.title) {
      params.deptName = params.title;
      params.title = null;
    }
    const data = await getDeptAll({ ...params });

    return { list: data.rows.children };
  };

  const openDeptModal = async (record: Partial<TableListItem>) => {
    await fetchDeptList(); // 加载一下部门获取
    const [formRef] = await showModal({
      modalProps: {
        title: `${record.key ? '编辑' : '新增'}部门`,
        width: 700,
        onFinish: async (values) => {
          console.log('新增/编辑部门', values);
          record.key && (values.deptId = record.key);
          await (record.key ? updateDept : createDept)(values);
          dynamicTableInstance.reload();
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: deptSchemas,
      },
    });

    formRef?.updateSchema([
      {
        field: 'parentId',
        componentProps: {
          treeData: ref([{ value: 0, title: '一级部门', children: state.deptTree }]),
        },
      },
    ]);
    formRef?.setFieldsValue({
      ...record,
      ...omit(['parentId']),
      parentId: record.parentId ? parseInt(record.parentId) : 0,
      deptName: record.title,
    });
  };
  const delRowConfirm = async (record: TableListItem) => {
    await deleteDept([record.key]);
    dynamicTableInstance.reload();
  };

  /**
   * 获取部门列表
   */
  const fetchDeptList = async () => {
    const dept = (await getDeptAll()) as any;

    const deptTree: TreeDataItem[] = [];
    for (let i = 0; i < dept.rows.children.length; i++) {
      deptTree.push(genDeptTreeItem(dept.rows.children[i]));
    }

    state.deptTree = deptTree;
  };

  const genDeptTreeItem = (item, parentId): TreeDataItem => {
    const children: TreeDataItem[] = [];

    if (item.children) {
      for (let i = 0; i < item.children.length; i++) {
        children.push(genDeptTreeItem(item.children[i], item.id));
      }
    }

    return {
      key: parseInt(item.id),
      title: item.title,
      value: parseInt(item.id),
      parentId: parseInt(parentId),
      orderNum: item.orderNum,
      children: children.length ? children : null,
    };
  };

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 160,
      dataIndex: 'ACTION',
      hideInSearch: true,
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => [
        {
          label: '编辑',
          auth: {
            perm: 'dept:update',
            effect: 'disable',
          },
          onClick: () => openDeptModal(record),
        },
        {
          label: '删除',
          auth: 'dept:delete',
          popConfirm: {
            title: '你确定要删除吗？',
            onConfirm: () => delRowConfirm(record),
          },
        },
      ],
    },
  ];
</script>
