<template>
  <div class="page-container">
    <DynamicTable
      row-key="id"
      header-title="角色管理"
      :data-request="loadTableData"
      auto-height
      :columns="columns"
      bordered
      size="small"
      :scroll="{ y: 300 }"
    >
      <template #toolbar>
        <a-button style="margin-left: 10px" type="success" @click="exportExcel">导出Excel</a-button>
        <a-button type="primary" :disabled="!$auth('role:add')" @click="openRoleModal({})">
          新增
        </a-button>
      </template>
    </DynamicTable>
    <DataConfig :is-show="isShow" :row-data="dataList" @close-modal="closeConfigModal"></DataConfig>
  </div>
</template>

<script lang="ts" setup>
  import { ref } from 'vue';
  import { omit } from 'lodash-es';
  import { Modal } from 'ant-design-vue';
  import DataConfig from '../components/DataConfig.vue'; //数据表权限配置
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { roleSchemas } from './formSchemas';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import type { TreeDataItem } from 'ant-design-vue/es/tree/Tree';
  import {
    getRoleListPage,
    updateRole,
    createRole,
    deleteRole,
    getRoleMenus,
    downloadRoleList,
  } from '@/api/system/role';
  import { getMenuAll } from '@/api/system/menu';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/useFormModal';

  defineOptions({
    name: 'SystemPermissionRole',
  });

  const fontColor = '#1890ff';
  const isShow = ref(false);
  const dataList = ref({ Id: '', type: 'role' });
  const [DynamicTable, dynamicTableInstance] = useTable();

  const [showModal] = useFormModal();
  const state = {
    params: {},
  };

  const loadTableData = async (params: LoadDataParams) => {
    state.params = params;
    const data = await getRoleListPage({
      ...params,
    });

    return {
      list: data.rows,
      pagination: { total: data.total, page: params.pageNum, size: params.pageSize },
    };
  };

  const getCheckedKeys = (checkedList: number[], options: TreeDataItem[], total = []) => {
    return options.reduce<number[]>((prev, curr) => {
      if (curr.children?.length) {
        getCheckedKeys(checkedList, curr.children, total);
      } else {
        if (checkedList.includes(curr.id)) {
          prev.push(curr.id);
        }
      }
      return prev;
    }, total);
  };

  const openRoleModal = async (record: Partial<TableListItem>) => {
    const [formRef] = await showModal<API.UpdateRoleParams>({
      modalProps: {
        title: `${record.roleId ? '编辑' : '新增'}角色`,
        width: '50%',
        onFinish: async (values) => {
          record.roleId && (values.roleId = record.roleId);
          const params = {
            ...values,
          };
          console.log('新增/编辑角色', params);
          await (record.roleId ? updateRole : createRole)(params).finally(
            dynamicTableInstance?.reload,
          );
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: roleSchemas,
      },
    });

    const menuData = await getMenuAll();

    // 部分数据要parseInt
    const menuTree = [];
    for (let i = 0; i < menuData.rows.children.length; i++) {
      menuTree.push(genMenuTreeTableItem(menuData.rows.children[i]));
    }

    formRef?.updateSchema([
      {
        field: 'menus',
        componentProps: { treeData: menuTree },
      },
    ]);
    if (record.roleId) {
      // 获取 menuId
      const menuIds = await getRoleMenus({ roleId: record.roleId });
      // console.log('menuIds', record.roleId, menuIds);
      // console.log('checked', getCheckedKeys(menuIds, menuTree));
      formRef?.setFieldsValue({
        ...record,
        name: record.roleName,
        // menus: getCheckedKeys(menuIds, menuTree),
        menus: { checked: menuIds },
      });
      formRef?.updateSchema([
        {
          field: 'name',
          dynamicDisabled: true, //编辑弹框角色置灰
        },
      ]);
    } else {
      formRef?.updateSchema([
        {
          field: 'name',
          dynamicDisabled: false,
        },
      ]);
    }
  };
  const delRowConfirm = async (record: TableListItem) => {
    await deleteRole([record.roleId]);
    dynamicTableInstance?.reload();
  };
  const genMenuTreeTableItem = (item) => {
    const children = [];

    if (item.children) {
      for (let i = 0; i < item.children.length; i++) {
        const child = item.children[i];
        children.push(genMenuTreeTableItem(child));
      }
    }

    return {
      ...omit(item, ['type', 'permission', 'parentId', 'children']),
      type: parseInt(item.type),
      perms: item.permission,
      parentId: parseInt(item.parentId),
      children: children.length ? children : null,
    };
  };
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 160,
      dataIndex: 'ACTION',
      hideInSearch: true,
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => [
        {
          label: '编辑',
          auth: {
            perm: 'role:update',
            effect: 'disable',
          },
          actionType: 'icon',
          icon: 'SettingOutlined',
          style: `color:${fontColor}`,
          onClick: () => openRoleModal(record),
        },
        {
          label: '删除',
          auth: 'role:delete',
          actionType: 'icon',
          icon: 'DeleteOutlined',
          style: `color:${fontColor}`,
          popConfirm: {
            title: '你确定要删除吗？',
            onConfirm: () => delRowConfirm(record),
          },
        },
        {
          label: '数据表配置',
          auth: 'user:dataConfig',
          actionType: 'icon',
          icon: 'DatabaseOutlined',
          style: `color:${fontColor}`,
          onClick: () => openConfigModal(record),
        },
      ],
    },
  ];
  //数据表配置
  const openConfigModal = (record) => {
    //此处仅需要userId，所以不做其他无用数据传值
    dataList.value.Id = record.roleId;
    isShow.value = true;
  };
  const closeConfigModal = () => {
    isShow.value = false;
  };
  const exportExcel = async () => {
    Modal.confirm({
      title: '确定要导出角色管理列表吗?',
      // icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: async () => {
        await downloadRoleList(state.params, '角色管理列表.xlsx');
      },
    });
  };
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
</style>
