<template>
  <Space :size="8">
    <RefreshSetting v-if="showRefreshSetting"/>
    <ColumnSetting v-if="showColumnSetting"/>
    <SizeSetting />
  </Space>
</template>

<script lang="ts" setup>
  import { Space } from 'ant-design-vue';
  import SizeSetting from './size-setting.vue';
  import RefreshSetting from './refresh-setting.vue';
  import ColumnSetting from './column-setting.vue';

  defineProps({
    showColumnSetting: {
      type: Boolean,
      default: true,
    },
    showRefreshSetting: {
      type: Boolean,
      default: true,
    },
  });
</script>
