<template>
  <div class="page-container">
    <div class="header">
      <QueryFilterbtn
        ref="queryFilterbtn"
        :filters="state.filters1"
        @setConditionFilter="setConditionFilter"
      ></QueryFilterbtn>
      <QueryFilter
        ref="conditionFilter"
        :isadd-condition-group="false"
        :visible="queryFiltershow"
        :field-list="state.fields"
        @change="onConditionChange"
      ></QueryFilter>
      <div class="search">
        <a-button type="primary" style="margin-right: 10px" @click="search"> 查询</a-button>
        <a-button class="resetButton" type="danger" style="margin-right: 10px" @click="resetData"
          >重置</a-button
        >
        <a-button type="primary" class="btn" :loading="state.downloading" @click="downLoadFn">
          下载
        </a-button>
      </div>
    </div>

    <!-- <div :style="{ height: `${winHeight}px` }"> -->
    <DynamicTable
      ref="TableInfo"
      :columns="state.columns"
      bordered
      :scroll="{ x: 2000, y: 300 }"
      auto-height
      :search="false"
      :data-source="state.dataSource"
      :pagination="state.pagination"
      :loading="state.loading"
      :row-key="(record) => record.setIds"
      @change="pagingChange"
      @resize-column="handleResizeColumn"
    >
    </DynamicTable>
    <a-modal v-model:visible="state.downloadVisible" :title="null" :footer="null">
      <p>点击确定到数据中心下载文件</p>
      <a-button style="margin-left: 85%" type="primary" @click="handleOkTip"> 确定 </a-button>
    </a-modal>
    <!-- <selectDown
      :visible="state.selectDownShow"
      :field-list="state.fields"
      @close="closeSelectDown"
      @closeInfo="onClose"
    ></selectDown> -->
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, onMounted, onBeforeMount, computed, nextTick, watch } from 'vue';
  import { ExclamationCircleOutlined } from '@ant-design/icons-vue';
  import { useRoute, useRouter } from 'vue-router';
  import { cloneDeep, debounce } from 'lodash-es';
  import { Modal, message as $message } from 'ant-design-vue';
  // import selectDown from './selectDown.vue'; // 按条件下载弹框
  import QueryFilterbtn from './queryFilterbtn.vue';
  import { byDbtwo } from '@/api/supervisionModel';
  // import { QueryFilterNew } from '@/components/business';
  import { QueryFilter } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  import { getDatasetPreview } from '@/api/dataAdministration/dataset';
  import { useSupervisionGovern } from '@/store/modules/supervisionGovern';
  import { useSetManagement } from '@/store/modules/setManagement';
  import { useTable } from '@/components/core/dynamic-table';
  import dict from '@/utils/dict.js';
  import Pubs from '@/utils/pubs';

  defineOptions({
    name: 'SetManagementDatasetInfo',
  });

  const store = useSetManagement();

  const SupervisionGovern = useSupervisionGovern();
  const queryFiltershow = computed(() => SupervisionGovern.queryFiltershow);
  const [DynamicTable, instance] = useTable({
    size: 'large',
    rowKey: 'setIds',
    bordered: true,
  });
  // const QueryFilter = ref();
  const state = reactive({
    show: true,
    canQuery: true,
    saveSerchValue: [],
    fields: [],
    filters: [],
    filters1: [],
    filters2: [],
    params: {},
    columns: [],
    dataSource: [],
    loading: false,
    downloading: false,
    recordId: '',
    selectDownShow: false,
    downloadVisible: false,
    pagination: {
      current: 1,
      pageSize: 20,
    },
  });
  // const emit = defineEmits(['cancel']);
  const route = useRoute();
  const queryFilterbtn = ref(null);
  const conditionFilter = ref();
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      state.filters = conditionFilter.value.getConditionResult();
      state.filters1 = conditionFilter.value.getConditionResult();
      const filtersMap = filterData(state.filters);
      state.filters2 = QueryFieldConvert.setConditionValue(filtersMap)[0] || [];
      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };
  // 可伸缩列表
  const handleResizeColumn = (w, col) => {
    col.width = w;
  };

  const search = async () => {
    let filters = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0] || [];
    state.pagination.current = 1;
    loadData();
  };
  const resetData = () => {
    state.params = {};
    state.pagination.current = 1;
    state.pagination.pageSize = 20;
    resetQ();
    queryFilterbtn.value.resetVal(state.recordId);
    state.filters1 = [];
    state.filters = [];
    loadData();
  };
  const resetQ = () => {
    const arr = [
      [
        {
          field: '',
          type: 'text',
          value1: '',
          selectCode: [],
          operatorValue: 'CT',
          operatorList: [],
          name: '',
          cName: '',
          example: null,
          columnType: '1',
          dictCode: null,
        },
      ],
    ];
    conditionFilter.value.setConditionGroups(arr);
    conditionFilter.value.clearConditionResult();
    state.filters = conditionFilter.value.getConditionResult();
  };
  // 分页操作
  const pagingChange = (selectedRowKeys) => {
    // 分页改变
    state.pagination.current = selectedRowKeys.current;
    state.pagination.pageSize = selectedRowKeys.pageSize;
    loadData();
    // search();
  };
  const filterData = (val) => {
    const filters1 = JSON.parse(JSON.stringify(val || state.filters1));
    const filters = [];
    if (filters1 && filters1.length > 0) {
      // debugger;
      filters1.forEach((item) => {
        const list = [];
        item
          .filter((v) => Object.hasOwn(v, 'field'))
          .forEach((v) => {
            let obj = {};
            let val = [];
            // if (v.value1 && v.columnType == 3) {
            //   v.value1 = dayjs(v.value1).format(dateFormat);
            // }
            // if (v.value2 && v.columnType == 3) {
            //   v.value2 = dayjs(v.value2).format(dateFormat);
            // }
            if (v.value1) {
              if (v.columnType == 1) {
                val = v.value1;
              } else {
                val.push(v.value1);
              }
            }
            if (v.value2) {
              val.push(v.value2);
            }
            obj = {
              columnName: v.field,
              columnType: v.columnType,
              filterType: v.operatorValue,
              values: v.columnType ? val : [val.join()],
            };
            list.push(obj);
          });
        filters.push(list);
      });
    }
    return filters;
  };

  const loadData = () => {
    state.params = {
      id: state.recordId,
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: state.filters,
    };
    const params = state.params;
    state.loading = true;
    getDatasetPreview({ ...params }).then((r) => {
      const columns: Array<any> = [];
      if (r.data) {
        r.data.modelsDetailHeads.forEach((item) => {
          columns.push({
            title: item.columnCname,
            dataIndex: item.columnName,
            key: item.columnName,
            width: 180,
            ellipsis: true,
            resizable: true,
            dictCode: item.dictCode || null,
            customRender: ({ text }) => {
              if (item.dictCode != null) {
                const obj = dict.getValue(item.dictCode, text);
                text = obj == undefined ? text : obj.itemText;
              }
              return text;
            },
          });
        });
        state.columns = columns;
        state.dataSource = r.data.modelList;
        if (state.dataSource) {
          const pagination = { ...state.pagination };
          pagination.total = r.total;
          state.pagination = pagination;
          instance?.value?.updatePagination({
            total: r.total,
            current: r.pageNum,
            pageSize: r.pageSize,
          });
        }
        let fields: Array<any> = [];
        r.data.modelsDetailHeads.forEach((item) => {
          fields.push({
            columnCname: item.columnCname,
            columnName: item.columnName,
            key: item.columnName,
            newType: item.columnType,
            example: item.example,
          });
        });
        fields = QueryFieldConvert.columnFields2QueryFields(fields);
        state.fields = fields;
        state.loading = false;
        nextTick(() => {
          Pubs.publish('autoHeight', {});
        });
      } else {
        state.loading = false;
        instance?.value?.updatePagination({
          total: 0,
          current: 1,
          pageSize: 10,
        });
      }
    });
  };
  const downLoadFn = () => {
    searchSqlFn();
  };

  const setConditionFilter = (val) => {
    conditionFilter.value.setConditionGroups(cloneDeep(val)); //深拷贝
    onConditionChange();
  };
  //页面更改
  // const winHeight = ref(0);
  onBeforeMount(() => {
    // const h = document.documentElement.clientHeight;
    // winHeight.value = h - 220;
  });

  // 下载
  const searchSqlFn = debounce(() => {
    state.downloading = true;
    const params = {
      downloadDataType: 'dataset',
      fileName: store.modelData.tableCname,
      datasetPreviewVo: {
        id: store.modelData.id,
        filters: state.filters,
        sourceName: store.modelData.sourceName,
      },
    };

    try {
      byDbtwo(params).then((r) => {
        state.downloading = false;
        if (r.success) {
          if (state.filters.length != 0) {
            state.downloadVisible = true;
          }
        } else {
          $message.error(r.message);
        }
      });
    } catch (error) {
      state.downloading = false;
      return Promise.reject(error);
    }

    if (state.filters.length == 0) {
      Modal.confirm({
        title: '你要下载全量数据吗?',
        icon: <ExclamationCircleOutlined />,
        centered: true,
        onOk: async () => {
          await handleOkTip();
        },
      });
    }
  }, 500);
  const router = useRouter();
  const handleOkTip = () => {
    state.downloadVisible = false;
    setTimeout(() => {
      router.push({
        path: '/dataAdministration/downloadcenter/DownloadCenter',
      });
    }, 200);
  };
  watch(
    () => route.query,
    (val) => {
      if (val.passValue && val.recordValue) {
        //判断当前路由参数，避免影响其他页面
        store.setModelData(JSON.parse(val.recordValue)); //重新缓存，解决切换页面条件不更新
        sessionStorage.setItem('modelDataInfo', val.recordValue);
      }
    },
    { deep: true },
  );
  onMounted(() => {
    state.recordId = route.query.passValue;
    nextTick(() => {
      queryFilterbtn.value.resetVal();
      loadData();
    });
  });
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
    // padding: 0px 10px 0 10px;
    // /deep/.ant-table-body {
    //   height: var(--winHeight);
    // }
    .page-container-search {
      display: flex;
      justify-content: space-between;
    }
    .search-flex {
      display: flex;
      align-items: center;
      .resetButton {
        margin: 0 10px;
      }
    }
  }
  .header {
    background: #fff;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    .notifyWay {
      display: flex;
      position: absolute;
      top: 10px;
      left: 50px;
    }
    .search {
      margin: 10px;
      position: absolute;
      right: 5px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
</style>
