<template>
  <div class="page-container">
    <DynamicTable
      header-title="看板列表"
      :data-request="loadTableData"
      :columns="columns"
      auto-height
      :scroll="{ x: 2100, y: 300 }"
    >
      <template #toolbar>
        <a-button type="primary" @click="openModal"> 新增</a-button>
      </template>
    </DynamicTable>
  </div>
</template>

<script setup lang="ts">
  import { getCurrentInstance, onBeforeMount, ref } from 'vue';
  import { useRouter } from 'vue-router';
  import { isNil } from 'lodash-es'; // api 接口
  import { message as $message } from 'ant-design-vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { bulletinBoardListSchemas } from './formSchemas';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/index';
  import { getDataSortAll } from '@/api/dataAdministration/datasort';
  import {
    getBoardList,
    saveBoard,
    allRoleUsers,
    copyBoard,
    deleteBoard,
    downloadItem,
  } from '@/api/userAnalyze/kanbanList';
  defineOptions({
    name: 'kanbanList',
  });
  const $router = useRouter();
  const { proxy } = getCurrentInstance();
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'bulletinBoardList',
    bordered: true,
  });
  const dataCategoryData = ref([]);
  const dataCategoryApi = () => {
    getDataSortAll({ type: '20' }).then((data) => {
      dataCategoryData.value = data.data[0].children;
      baseColumns[0].formItemProps.componentProps.options = dataCategoryData.value;
    });
  };
  // 弹窗
  const [showModal] = useFormModal();
  const openModal = async (record: Partial<TableListItem> = {}) => {
    const [formRef] = await showModal<any>({
      modalProps: {
        title: `${record.boardId ? '编辑' : '新增'}看板`,
        // 点击确定执行
        onFinish: async (values) => {
          console.log('values', values);

          const parmas = {
            ...values,
            boardType: '20',
            visitType: '1',
            resourcesType: '2',
            dataCategory: values.categoryCode.join(','),
          };
          parmas.businessObjList = proxy.$dict.getItemValue('businessObject', parmas.businessObjs);
          parmas.businessScenes = proxy.$dict.getItemValue('bizIds', parmas.bizIds);
          if (record.boardId) {
            parmas.boardId = record.boardId;
          }
          const data = await saveBoard(parmas);
          if (data.code !== 'OK') {
            $message.error(data.message);
          } else {
            $message.success(data.message);
          }
          dynamicTableInstance?.reload();
        },
      },
      formProps: {
        labelWidth: 120,
        schemas: bulletinBoardListSchemas,
      },
    });
    const alls = (await allRoleUsers()) as any;
    const allUsers = [] as any;
    for (let i = 0; i < alls.length; i++) {
      if (alls[i].users) {
        for (let j = 0; j < alls[i].users.length; j++) {
          if (allUsers.findIndex((it) => it.value == alls[i].users[j].userId) === -1) {
            allUsers.push({
              value: `${alls[i].users[j].userId}`,
              label: alls[i].users[j].username,
            });
          }
        }
      }
    }
    if (record.boardId) {
      //回显看板分类
      formRef?.setFieldsValue({
        categoryCode: (record.dataCategory && record.dataCategory.split(',')) || [],
      });
    }
    formRef?.updateSchema({
      field: 'userIds',
      componentProps: {
        options: allUsers,
      },
    });
    formRef?.updateSchema({
      field: 'categoryCode',
      componentProps: {
        options: dataCategoryData.value,
      },
    });
    // 王朗：上线需改——后端返回类型number
    if (record.boardId && record.roleIds && record.roleIds.length) {
      record.roleIds = record.roleIds.map((item) => item * 1);
    }
    if (isNil(record.roleIds)) {
      record.roleIds = [];
    }
    if (isNil(record.userIds)) {
      record.userIds = [];
    }

    formRef?.setFieldsValue(record);
  };
  // 表格
  const loadTableData = async (params: LoadDataParams) => {
    if (params.dataCategoryName != undefined) {
      params.dataCategoryName = params.dataCategoryName.join(',');
    }
    if (!params.pageNum) {
      params.pageNum = 1;
      params.pageSize = 10;
    }
    const data = await getBoardList({
      ...params,
      boardType: '20',
    });

    return {
      list: data.data,
      pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
    };
  };

  // 表头
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      width: 80,
      actions: ({ record }) => {
        let actionList = [] as any;
        if (record?.authority == '1') {
          actionList = [
            {
              label: '看板配置',
              actionType: 'icon',
              icon: 'SettingOutlined',
              style: 'color:#1890ff',
              onClick: () => {
                $router.push({
                  path: '/userAnalyze/kanbanConfigTabs',
                  query: {
                    boardId: record.boardId,
                    tabCustomName: record.boardName,
                    boardType: '20', // 首页看板10 模型看板30 普通看板20
                  },
                });
              },
            },
            {
              label: '复制',
              actionType: 'icon',
              icon: 'CopyOutlined',
              style: 'color:#1890ff',
              onClick: () => cloneItem(record),
            },
            {
              label: '编辑',
              actionType: 'icon',
              icon: 'EditOutlined',
              style: 'color:#1890ff',
              onClick: () => openModal(record),
            },
            {
              label: '下载',
              actionType: 'icon',
              icon: 'DownloadOutlined',
              ifShow: record?.layout != null,
              style: 'color:#1890ff',
              onClick: () => downloadData(record),
            },
            {
              label: '下载',
              actionType: 'icon',
              icon: 'DownloadOutlined',
              ifShow: record?.layout == null,
              style: 'color:#ddd;cursor:no-drop !important',
            },
            {
              label: '删除',
              actionType: 'icon',
              icon: 'DeleteOutlined',
              style: 'color:#1890ff',
              popConfirm: {
                title: '你确定要删除吗？',
                placement: 'left', // 因弹出框默认顶部弹出，又在页面边上受到挤压导致，更改弹出方向可解决-弹出框缩到一起
                onConfirm: () => delItem(record),
              },
            },
          ];
        } else {
          actionList = [
            {
              label: '复制',
              actionType: 'icon',
              icon: 'CopyOutlined',
              style: 'color:#1890ff',
              onClick: () => cloneItem(record),
            },
            {
              label: '下载',
              actionType: 'icon',
              icon: 'DownloadOutlined',
              ifShow: record?.layout != null,
              style: 'color:#1890ff',
              onClick: () => downloadData(record),
            },
            {
              label: '下载',
              actionType: 'icon',
              icon: 'DownloadOutlined',
              ifShow: record?.layout == null,
              style: 'color:#ddd;cursor:no-drop !important',
            },
          ];
        }
        return actionList;
      },
    },
  ];
  // 下载
  const downloadData = async (record) => {
    $router.push({
      path: '/dataAdministration/downloadcenter/DownloadCenter',
    });
    await downloadItem({
      downloadDataType: 'dashboard',
      fileName: record.boardName,
      applicationId: record.boardId,
    });
  };
  // 复制
  const cloneItem = async (record) => {
    await copyBoard(record).finally(dynamicTableInstance?.reload);
  };

  // 删除数据
  const delItem = async (record) => {
    const res = await deleteBoard({ boardId: record.boardId });
    dynamicTableInstance?.reload();
    res.success ? $message.success('数据删除成功！') : $message.error(res.message);
  };

  //页面更改
  const winHeight = ref(0);
  onBeforeMount(() => {
    dataCategoryApi();
    const h = document.documentElement.clientHeight;
    winHeight.value = h - 400;
  });
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
    /deep/.ant-table-body {
      height: var(--winHeight);
    }
  }
</style>
