<template>
  <div>
    <DynamicTable
      :columns="columnList"
      :data-request="loadData"
      :scroll="{ x: 2000 }"
      :loading="state.loading"
      show-index
    >
      <template #toolbar>
        <!-- <a-button type="primary" @click="onAdjust">调整</a-button>
          <a-button type="danger" @click="onExamine">数据审核</a-button> -->
      </template>
    </DynamicTable>
    <!-- 调整 -->
    <AdjustModal :visible="state.adjustShow" @close="state.adjustShow = false"></AdjustModal>
    <!-- 审核 -->
    <ExamineModal :visible="state.examineShow" @close="state.examineShow = false"></ExamineModal>
  </div>
</template>

<script setup lang="ts">
  import { ref, reactive, onBeforeMount } from 'vue';
  import { useRoute } from 'vue-router';
  import { baseColumns, type TableColumnItem } from './columns'; //table列
  import AdjustModal from './components/AdjustModal.vue';
  import ExamineModal from './components/ExamineModal.vue';
  import { useTable, type LoadDataParams } from '@/components/core/dynamic-table';
  import { summarizingQuery } from '@/api/perAppraisal/apiList';

  defineOptions({
    name: 'perScoreList',
  });
  const [DynamicTable] = useTable({
    size: 'small',
    rowKey: 'ruleCode',
    bordered: true,
    autoHeight: true,
    pagination: false,
  });
  const route = useRoute();
  const columnList: TableColumnItem[] = [...baseColumns];
  const state = reactive({
    canQuery: true,
    dataSource: [],
    filters: [],
    fields: [],
    show: true,
    adjustShow: false,
    examineShow: false,
  });
  const onAdjust = () => {
    //调整
    state.adjustShow = true;
  };
  const onExamine = () => {
    //数据审核
    state.examineShow = true;
  };
  const loadData = async (params: LoadDataParams) => {
    const param = {
      orgCode: route.query.orgCode,
      ...params,
    };
    const { data } = await summarizingQuery(param);
    state.dataSource = data?.data || [];
    if (data.success) {
      return {
        list: data?.data,
      };
    }
  };
</script>

<style lang="less" scoped></style>
