<template>
  <div ref="barChart" class="chart"></div>
</template>

<script setup lang="ts">
  import { getCurrentInstance, onBeforeUnmount, onMounted, ref, watchEffect } from 'vue';
  import obei from '@/assets/echarts-theme/obei.json';

  defineOptions({
    name: 'polar',
    inheritAttrs: false,
  });

  const props = defineProps({
    echardata: {
      type: Array,
      default() {
        return [];
      },
    },
    echarnumber: {
      type: Array,
      default() {
        return [];
      },
    },
    echarcolor: {
      type: Array,
      default() {
        return [];
      },
    },
    echarunit: {
      type: String,
      default() {
        return '';
      },
    },
  });

  const { proxy } = getCurrentInstance();
  let charts = null;
  const barChart = ref<HTMLElement>();

  const setOption = () => {
    const option = getOption();
    charts && charts.setOption(option, true);
  };

  const getOption = () => {
    return {
      angleAxis: {
        type: 'value',
        min: 0,
        max: 100,
        axisLine: {
          show: false,
        },
        axisTick: {
          show: false,
        },
        splitLine: {
          show: false,
        },
        axisLabel: {
          show: false,
        },
      },
      radiusAxis: {
        type: 'category',
        data: dataprice.value,
        z: 100,
        axisLine: {
          show: false,
        },
        axisTick: {
          show: false,
        },
        axisLabel: {
          show: false,
        },
      },
      polar: {
        center: ['50%', '45%'],
      },
      tooltip: {
        show: true,
        formatter: `{b} : {c}%`,
      },
      series: [
        {
          type: 'bar',
          barWidth: '30%',
          data: [dataprice2.value[0]],
          coordinateSystem: 'polar',
          name: dataprice.value[0] || '易购',
          stack: 'a',
          roundCap: true,
          itemStyle: {
            color: colorprice.value[0] || 'rgba(251, 106, 86, 1)',
            barBorderRadius: 5,
          },
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(234, 234, 234, 1)',
            barBorderRadius: 50,
          },
        },
        {
          type: 'bar',
          data: [0, dataprice2.value[1], 0, 0, 0, 0],
          coordinateSystem: 'polar',
          name: dataprice.value[1] || '商城',
          stack: 'a',
          roundCap: true,
          itemStyle: {
            color: colorprice.value[1] || 'rgba(251, 202, 0, 1)',
          },
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(234, 234, 234, 1)',
          },
        },
        {
          type: 'bar',
          data: [0, 0, dataprice2.value[2], 0, 0, 0],
          coordinateSystem: 'polar',
          name: dataprice.value[2] || '零碳',
          stack: 'a',
          roundCap: true,
          itemStyle: {
            color: colorprice.value[2] || 'rgba(87, 195, 88, 1)',
            barBorderRadius: 5,
          },
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(234, 234, 234, 1)',
          },
        },
        {
          type: 'bar',
          data: [0, 0, 0, dataprice2.value[3], 0, 0],
          coordinateSystem: 'polar',
          name: dataprice.value[3] || '易销',
          stack: 'a',
          roundCap: true,
          itemStyle: {
            color: colorprice.value[3] || 'rgba(90, 162, 255, 1)',
            barBorderRadius: 5,
          },
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(234, 234, 234, 1)',
          },
        },
        {
          type: 'bar',
          data: [0, 0, 0, 0, dataprice2.value[4], 0],
          coordinateSystem: 'polar',
          name: dataprice.value[4] || '云库',
          stack: 'a',
          roundCap: true,
          itemStyle: {
            color: colorprice.value[4] || 'rgba(255, 154, 0, 1)',
            barBorderRadius: 5,
          },
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(234, 234, 234, 1)',
          },
        },
        {
          type: 'bar',
          data: [0, 0, 0, 0, 0, dataprice2.value[5]],
          coordinateSystem: 'polar',
          name: dataprice.value[5] || '云库',
          stack: 'a',
          roundCap: true,
          itemStyle: {
            color: colorprice.value[5] || 'rgba(255, 154, 0, 1)',
            barBorderRadius: 5,
          },
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(234, 234, 234, 1)',
          },
        },
      ],
    };
  };

  onMounted(() => {
    proxy.$echarts.registerTheme('obei', obei);
    charts = proxy.$echarts.init(barChart.value!);
    charts.clear();
    setOption();
    window.addEventListener('resize', () => {
      charts && charts.resize();
    });
  });

  onBeforeUnmount(() => {
    charts && charts.dispose();
    charts = null;
  });

  const dataprice = ref();
  const dataprice2 = ref();
  const colorprice = ref();
  const unitprice = ref('');

  watchEffect(() => {
    dataprice.value = props.echardata;
    dataprice2.value = props.echarnumber;
    colorprice.value = props.echarcolor;
    unitprice.value = props.echarunit;

    setOption();
  });
</script>

<style>
  .chart {
    width: 100%;
    height: 100%;
  }
</style>
