<template>
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 8 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-p2">营业收入</p>
          <div class="OperationTarget-height">
            <SpeedGauge :echarunit="Obmont01.e03" :echardata="Obmont01.CURYEAR_CPLTRATE" />
          </div>
          <p class="OperationTarget-p3">目标：{{ Obmont01.CURYEAR_TARGET }}万元</p>
          <p class="OperationTarget-p3">当前：{{ Obmont01.CURYEAR_PRFM }}万元</p>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-p2">客户总数</p>
          <div class="OperationTarget-height">
            <ScoringRing
              :echarcolor="Obmont02.defcolor"
              :echardata="Obmont02.CURYEAR_CPLTRATE"
              :echarunit="Obmont02.e03"
            />
          </div>
          <p class="OperationTarget-p3">目标：{{ Obmont02.CURYEAR_TARGET }}家</p>
          <p class="OperationTarget-p3">当前累计：{{ Obmont02.CURYEAR_PRFM }}家</p>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-p2">新增客户数</p>
          <div class="OperationTarget-height">
            <ScoringRing
              :echarcolor="Obmont03.defcolor"
              :echardata="Obmont03.CURYEAR_CPLTRATE"
              :echarunit="Obmont03.e03"
            />
          </div>
          <p class="OperationTarget-p3">目标：{{ Obmont03.CURYEAR_TARGET }}家</p>
          <p class="OperationTarget-p3">当前累计：{{ Obmont03.CURYEAR_PRFM }}家</p>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { nextTick, reactive, watch } from 'vue';
  import { SpeedGauge, ScoringRing } from '../../../echartsAssembly';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );
  const InitialCall = () => {
    nextTick(() => {
      query01();
      query02();
      query03();
    });
  };
  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }
  //保留两位有效小数
  function Xiaoshu(text) {
    const data = text[0];
    if (data === '-' || data === '' || data === null || data === undefined) {
      return parseFloat(0).toLocaleString();
    } else {
      const datatext = parseFloat(data).toFixed(2);
      return parseFloat(datatext).toLocaleString();
    }
  }

  const Obmont01 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query01 = () => {
    queryAggregate(parameter(2023042517250073)).then((result) => {
      const data = result.data[2023042517250073].dataMap;
      Obmont01.CURYEAR_CPLTRATE = data.YX_REV_PCT[0];
      Obmont01.CURYEAR_PRFM = Xiaoshu(data.YX_REV);
      Obmont01.CURYEAR_TARGET = Xiaoshu(data.YX_REV_TG);
    });
  };

  const Obmont02 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: '#188df0',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query02 = () => {
    queryAggregate(parameter(2023042517250116)).then((result) => {
      const data = result.data[2023042517250116].dataMap;
      Obmont02.CURYEAR_CPLTRATE = data.YX_CUS_TTL_PCT[0];
      Obmont02.CURYEAR_PRFM = Xiaoshu(data.YX_CUS_TTL);
      Obmont02.CURYEAR_TARGET = Xiaoshu(data.YX_CUS_TTL_TG);
    });
  };

  const Obmont03 = reactive({
    CURYEAR_PRFM: '',
    e03: '%',
    defcolor: '#188df0',
    CURYEAR_TARGET: '',
    CURYEAR_CPLTRATE: '',
  });
  const query03 = () => {
    queryAggregate(parameter(2023042517250119)).then((result) => {
      const data = result.data[2023042517250119].dataMap;
      Obmont03.CURYEAR_CPLTRATE = data.YX_CUS_NEW_PCT[0];
      Obmont03.CURYEAR_PRFM = Xiaoshu(data.YX_CUS_NEW);
      Obmont03.CURYEAR_TARGET = Xiaoshu(data.YX_CUS_NEW_TG);
    });
  };
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
      height: 350px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .OperationTarget-p1 {
      line-height: 30px;
      font-size: 22px;
      font-weight: bold;
    }
    .OperationTarget-p2 {
      line-height: 30px;
      font-size: 20px;
      text-align: center;
    }
    .OperationTarget-p3 {
      line-height: 30px;
      font-size: 20px;
      text-align: center;
      //text-align: justify;
      //text-align-last: justify;
      margin: 0px 10px;
    }
    .OperationTarget-height {
      height: 210px;
    }
    .OperationTarget-height1 {
      height: 180px;
    }
  }
</style>
