<!-- 历史运行记录 -->
<template>
  <div class="historicalOperationRecord">
    <a-table
      :columns="state.columns"
      :data-source="state.data"
      :loading="state.tableLoading"
      :scroll="{ x: true, y: 400 }"
      :pagination="state.pagination"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.dataIndex === 'Look'">
          <a
            v-if="record.executeStatus != 6"
            style="color: #1890ff"
            @click="modalAction(true, '查看日志', record)"
            >查看</a
          >
        </template>
        <template v-else-if="column.dataIndex === 'executeStatus'">
          <a-badge v-if="record.executeStatus === 7" color="#87d068" text="成功"></a-badge>
          <a-badge v-else-if="record.executeStatus === 0" color="#87d068" text="未运行"></a-badge>
          <a-badge v-else-if="record.executeStatus === 1" color="#87d068" text="运行中"></a-badge>
          <a-badge v-else-if="record.executeStatus == 6" color="#f50" text="失败"></a-badge>
        </template>
        <template v-else-if="column.dataIndex === 'download'">
          <a
            v-if="record.executeStatus == 7 && $auth('SuperGovernHistor:download')"
            style="color: #1890ff"
            @click="downloadExcel(record)"
          >
            下载Excel</a
          >
          <a v-else style="color: #1890ff" @click="modalAction(true, '查看失败日志', record)">
            查看</a
          >
        </template>
      </template>
    </a-table>
    <HistoryTabModel
      :title="state.modelTitle"
      :visible="state.modelVisible"
      :data="state.historicalData"
      :model-data="props.modelData"
      @ok="modalAction(false)"
      @cancel="modalAction(false)"
    ></HistoryTabModel>
    <a-modal v-model:visible="state.downloadVisible" @ok="downloadOk">
      <p>点击确定到数据中心下载文件</p>
    </a-modal>
  </div>
</template>

<script setup lang="ts">
  import { reactive, onMounted, nextTick } from 'vue';
  import { useRouter } from 'vue-router';
  import { message } from 'ant-design-vue';
  import HistoryTabModel from './historyTabModel.vue'; // 查看日志弹窗
  import { useSupervisionGovern } from '@/store/modules/supervisionGovern';
  import { getDatamodelSubmitHistory, getSqlApi, postHdfs } from '@/api/supervisionModel';
  defineOptions({
    name: 'executionLog',
    inheritAttrs: false,
  });
  const props = defineProps({
    modelData: { type: Object, default: () => {} },
  });
  const router = useRouter();
  const SupervisionGovern = useSupervisionGovern();
  const state = reactive({
    Sql: '',
    historicalData: {}, // 查看数据
    modelTitle: '', // 弹窗表头
    modelVisible: false, // 弹窗控件
    selectedRowKeys: [],
    selectedRowList: [], // 列表选择的数据
    downloadVisible: false,
    columns: [
      {
        title: '执行时间',
        key: 'execuTime',
        dataIndex: 'execuTime',
        width: 200,
      },
      {
        title: '执行SQL',
        key: 'Look',
        dataIndex: 'Look',
        width: 200,
      },
      {
        title: '执行',
        key: 'executeStatus',
        dataIndex: 'executeStatus',
        width: 200,
      },
      {
        title: '下载日志',
        key: 'download',
        dataIndex: 'download',
        width: 200,
      },
    ],
    data: [],
    tableLoading: false,
    connectedTable: false,
    // 分页配置
    pagination: {
      pageSizeOptions: ['5', '10', '20', '30', '40', '100'],
      defaultCurrent: 1,
      defaultPageSize: 5,
      showQuickJumper: true,
      showSizeChanger: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
  });
  onMounted(() => {
    queryData();
  });
  // 弹窗操作
  const modalAction = (flag, title, data) => {
    state.modelVisible = flag;
    if (title) {
      state.modelTitle = title;
    }
    if (data) {
      state.historicalData = data;
    }
  };
  // 全部结果集
  const queryData = () => {
    state.tableLoading = true;
    const params = {
      dataModelId: props.modelData.id,
      pageNum: '1',
      pageSize: '10',
    };
    getDatamodelSubmitHistory(params).then((res) => {
      if (res.code === 'OK') {
        pagingConfig(res);
        state.data = res.data;
      }
      state.tableLoading = false;
    });
  };

  // 分页配置
  const pagingConfig = (data) => {
    state.pagination.total = data.total || 0;
    state.pagination.defaultPageSize = data.pageSize || 0;
  };

  // 下载Excel
  const downloadExcel = async (data) => {
    getSql(data);
    // state.downloadVisible = true;
  };
  // 获取sql
  const getSql = async (data) => {
    if (props.modelData.showIf) {
      state.connectedTable = true;
    }
    const parms = {
      dataModelId: props.modelData.id,
      pageNum: null,
      pageSize: null,
      queryHistoryTime: data.commitTime,
      queryHistory: '1',
      connectedTable: state.connectedTable,
    };
    getSqlApi(parms).then((res) => {
      if (res.data.code === 'OK') {
        state.Sql = res.data.data;
        const parms = {
          dataSourceId: 145,
          fileName: props.modelData.modelName,
          querySql: state.Sql,
          applicationId: props.modelData.id,
        };
        postHdfs(parms).then((res) => {
          if (res.data.success) {
            state.downloadVisible = true;
            console.log(res);
          } else {
            message.error(res.data.message);
          }
        });
      }
    });
  };
  const downloadOk = (data) => {
    router.push({
      path: '/dataAdministration/downloadcenter/DownloadCenter',
      query: {
        dataModelId: props.modelData.id,
        queryHistoryTime: data.commitTime,
      },
    });
    state.downloadVisible = false;
    SupervisionGovern.setVisible(false);
  };
</script>

<style lang="less" scoped>
  .historicalOperationRecord {
    .nullDataView {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 300px;
    }
  }
</style>
