<template>
  <div class="relevance">
    <a-modal
      v-model:visible="state.modalVisible"
      title="关联配置"
      :mask-closable="false"
      width="45%"
      @ok="handleOk"
      @cancel="cancel"
    >
      <div class="add-conditions">
        <a class="add-btn" style="color: blue" @click="addNodeArr1">
          <plus-circle-outlined style="color: blue" />
          添加
        </a>
      </div>
      <div class="conditions-title">
        <span class="title">下钻字段</span>
        <span class="title">关联看板</span>
        <span class="title">看板关联字段</span>
      </div>
      <div v-for="(item, index) in state.listArr1.links" :key="index" class="conditions">
        <a-select
          v-model:value="item.event"
          style="width: 187px"
          show-search
          option-filter-prop="label"
          @change="(val) => change1(val, index, item)"
        >
          <a-select-option
            v-for="(n, i) in state.modelsDetailHeadsL"
            :key="i"
            :value="n.columnName"
            :label="n.columnCname"
          >
            {{ n.tableId ? `T${n.tableId}.${n.columnCname}` : n.columnCname }}
          </a-select-option>
        </a-select>
        <a-select
          v-model:value="item.targetId"
          style="width: 187px"
          show-search
          option-filter-prop="label"
          @change="(val) => change2(val, index, item)"
        >
          <a-select-option
            v-for="(n, i) in state.boardList"
            :key="i"
            :value="n.boardId"
            :label="n.boardName"
          >
            {{ n.boardName }}
          </a-select-option>
        </a-select>
        <a-select
          v-model:value="item.conditionsCopy"
          style="width: 187px"
          option-filter-prop="label"
          mode="multiple"
          show-search
          @change="(val) => change3(val, index, item)"
        >
          <a-select-option
            v-for="(n, i) in state.modelsDetailHeadsR"
            :key="i"
            :value="n.columnName"
            :label="n.columnCname"
          >
            {{ n.tableId ? `T${n.tableId}.${n.columnCname}` : n.columnCname }}
          </a-select-option>
        </a-select>
        <minus-circle-outlined v-if="index !== 0" @click="onRemoveArr1(index)" />
      </div>
    </a-modal>
  </div>
</template>
<script setup lang="ts">
  import { reactive, watch } from 'vue';
  import { message as $message } from 'ant-design-vue';
  import { BoardList, relation } from '@/api/supervisionModel';
  const emits = defineEmits(['ok', 'cancel']);
  const state = reactive({
    modalVisible: false,
    listArr1: {
      // 内联
      links: [
        {
          linkType: 'provider',
          targetId: '',
          event: '',
          type: 'jumpLink',
          eventName: '',
          conditions: [],
          conditionsCopy: [],
        },
      ],
    },
    fieldList: [],
    boardList: [],
    params: {
      boardId: '',
      layout: {
        links: [
          {
            linkType: 'provider',
            type: 'jumpLink',
            targetId: '', // 2
            event: 'CREDIT_BAL', // 1
            eventName: '授信余额', // 1
            conditions: [
              {
                source: {
                  column: 'CREDIT_BAL',
                  cname: '授信余额',
                  id: 5191,
                  filterType: '=',
                },
                linkTarget: {
                  dimId: 5191,
                  targetAlias: '授信余额',
                },
              },
            ],
          },
        ],
      },
    },
    modelsDetailHeadsR: [],
    modelsDetailHeadsL: [],
  });
  const props = defineProps({
    boardId: { type: [Number, String], default: () => '' },
    links: { type: Array, default: () => [] },
    visible: { type: Boolean, default: () => false },
    modelsDetailHeads: { type: Array, default: () => [] },
  });
  watch(
    () => props.visible,
    (newValue) => {
      if (newValue) {
        getBoardList();
        if (props.links.length === 0) {
          state.listArr1 = {
            links: [
              {
                linkType: 'provider',
                targetId: '',
                event: '',
                type: 'jumpLink',
                eventName: '',
                conditions: [],
                conditionsCopy: [],
              },
            ],
          };
        } else {
          state.listArr1.links = props.links;
        }
      }
      state.modalVisible = newValue;
    },
    { deep: true },
  );
  watch(
    () => props.modelsDetailHeads,
    (newValue) => {
      // state.modelsDetailHeadsR = newValue;
      state.modelsDetailHeadsL = [];
      state.modelsDetailHeadsR = [];
      newValue.forEach((v) => {
        if (v.tableId) {
          state.modelsDetailHeadsL.push(v);
          state.modelsDetailHeadsR.push(v);
        }
      });
      state.modelsDetailHeadsR.forEach((col) => {
        col.value = col.name; // 设置value值，用于checkedgroup
      });
    },
    { deep: true },
  );
  const getBoardList = async () => {
    const params = {
      boardType: '20',
      stauts: '10',
      usePage: false,
    };
    const res = await BoardList(params);
    if (res.data.code === 'OK' && res.data.data) {
      state.boardList = res.data.data;
    }
  };
  const addNodeArr1 = () => {
    state.listArr1.links.push({
      linkType: 'provider',
      targetId: '',
      event: '',
      type: 'jumpLink',
      eventName: '',
      conditions: [],
      conditionsCopy: [],
    });
  };
  const onRemoveArr1 = (index) => {
    state.listArr1.links.splice(index, 1);
  };
  const change1 = (val, index) => {
    const obj = state.modelsDetailHeadsR.find((item) => {
      return item.columnName === val;
    });
    state.listArr1.links[index].event = obj.columnName;
    state.listArr1.links[index].eventName = obj.columnCname;
  };
  const change2 = (val, index) => {
    const obj = state.boardList.find((item) => {
      return item.boardId === val;
    });
    state.listArr1.links[index].targetId = obj.boardId;
  };
  const change3 = (val, index) => {
    state.listArr1.links[index].conditions = [];
    state.modelsDetailHeadsR.forEach((v) => {
      val.forEach((j) => {
        if (v.columnName == j) {
          state.listArr1.links[index].conditions.push({
            source: {
              column: v.columnName,
              cname: v.columnCname,
              id: v.tableColumnId,
              filterType: '=',
            },
            linkTarget: {
              dimId: v.tableColumnId,
              targetAlias: v.columnCname,
            },
          });
        }
      });
    });
  };
  // 确认
  const handleOk = async () => {
    let flag = true;
    state.listArr1.links.forEach((v) => {
      if (v.conditions.length == 0 || v.targetId == '' || v.eventName == '') {
        flag = false;
      }
    });
    if (!flag) {
      $message.error('关联配置不能为空！');
      return;
    }
    const params = {
      boardId: props.boardId,
      layout: {
        links: state.listArr1.links,
      },
    };
    const res = await relation(params);
    if (res.data.code === 'OK') {
      emits('ok');
    } else {
      $message.error(res.data.message);
    }
  };
  // 关闭
  const cancel = () => {
    emits('cancel');
  };
</script>

<style scoped lang="less">
  .select-scroll {
    height: 140px !important;
    overflow-y: scroll !important;
  }
  .conditions-title {
    .title {
      display: inline-block;
      width: 187px;
      text-align: center;
    }
  }
  .add-conditions {
    text-align: right;
    margin-bottom: 15px;
  }
  .conditions {
    margin-top: 10px;
  }
</style>
