<template>
  <div>
    <a-modal
      v-model:visible="visible"
      :body-style="{ padding: '0 16px 16px' }"
      :title="props.rowData.tableCname + '-表授权规则'"
      width="1200px"
      :mask-closable="false"
      destroy-on-close
      :footer="null"
      @cancel="handleCancel"
    >
      <DynamicTable
        row-key="id"
        :data-request="loadTableData"
        :columns="columnList"
        :scroll="{ x: 1000, y: 300 }"
        bordered
        size="small"
      >
        <template #toolbar>
          <a-button type="primary" @click="operateRule('新增规则', '0', null)">
            <PlusOutlined /> 新增
          </a-button>
        </template>
      </DynamicTable>
    </a-modal>
    <RuleConfig
      :title="ruleModalTitle"
      :edit="true"
      :is-show="ruleVisible"
      :type="operateType"
      :row-rule-data="rowRuleData"
      @cancel-rule-modal="cancelRuleModal"
    ></RuleConfig>
  </div>
</template>

<script setup lang="ts">
  import { ref, watch } from 'vue';
  import { message } from 'ant-design-vue';
  import { baseColumns, type TableColumnItem } from './columns'; //table列
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  import RuleConfig from '@/views/system/components/RuleConfig.vue';
  import { queryDataRules, configRule } from '@/api/rule';
  defineOptions({
    name: 'RuleList',
  });
  const [DynamicTable, dynamicTableInstance] = useTable();
  const props = defineProps({
    isShow: { type: Boolean, default: false },
    rowData: {
      type: Object,
      default: () => {
        return {
          id: null,
        };
      },
    },
  });
  const emit = defineEmits(['cancelListModal']);
  const fontColor = '#1890ff';
  const columnList: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 100,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => [
        {
          label: '修改',
          actionType: 'icon',
          icon: 'EditOutlined',
          style: `color:${fontColor}`,
          onClick: () => operateRule('编辑规则', '1', record),
        },
        {
          label: '复制',
          actionType: 'icon',
          icon: 'CopyOutlined',
          style: `color:${fontColor}`,
          onClick: () => operateConfigRule(record, '2'),
        },
        {
          label: '删除',
          actionType: 'icon',
          icon: 'DeleteOutlined',
          style: `color:${fontColor}`,
          popConfirm: {
            title: '你确定要删除吗？',
            onConfirm: () => operateConfigRule(record, '3'),
          },
        },
      ],
    },
  ];
  const loadTableData = async (params: LoadDataParams) => {
    const param = {
      datatableId: props.rowData.id,
      ...params,
    };
    const { tableCname, id } = props.rowData;
    const data = await queryDataRules(param);
    data.data.forEach((_value, index) => {
      data.data[index].tableCname = tableCname;
      data.data[index].datatableId = id;
    });
    return {
      list: data.data,
      pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
    };
  };
  //关闭表授权规则弹框
  const visible = ref<boolean>(false);
  const handleCancel = () => {
    visible.value = false;
    emit('cancelListModal', false);
  };
  //关闭规则配置弹框
  const ruleVisible = ref<boolean>(false);
  const cancelRuleModal = () => {
    ruleVisible.value = false;
    rowRuleData.value = {};
    dynamicTableInstance.reload();
  };
  const rowRuleData = ref();
  const ruleModalTitle = ref<string>('');
  const operateType = ref<string>('0');
  //新增&编辑规则
  const operateRule = (tit, type, record) => {
    ruleModalTitle.value = tit;
    ruleVisible.value = true;
    operateType.value = type;
    const { tableCname, id: datatableId } = props.rowData;
    rowRuleData.value = record ?? { tableCname, datatableId };
  };
  //复制&删除规则
  const operateConfigRule = async (record, type) => {
    const params = {
      id: record.id,
      operate: type,
    };
    const data = await configRule(params);
    if (data.success) {
      message.success(`${data.message}`);
      dynamicTableInstance.reload();
    } else {
      message.error(`${data.message}`);
    }
  };
  watch(
    () => props.isShow,
    (nV) => {
      visible.value = nV;
    },
  );
</script>

<style lang="less" scoped></style>
