<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      title="数据表被使用情况"
      width="90%"
      :footer="null"
      destroy-on-close
      @ok="handleOk"
      @cancel="handleOk"
    >
      <a-form :label-col="{ span: 5 }" :wrapper-col="{ span: 16 }">
        <a-form-item label="数据集名称"> {{ state.tableCname }} </a-form-item>
        <a-form-item label="数据集英文名"> {{ state.tableName }} </a-form-item>
        <a-form-item label="监督模型中被使用次数"
          ><h2 class="tip">{{ state.modelUsedQty }}</h2> 次
        </a-form-item>
        <a-form-item label="自主分析图表中被使用次数"
          ><h2 class="tip">{{ state.chartUsedQty }}</h2> 次
        </a-form-item>
      </a-form>
      <p style="margin-bottom: 20px" />
      <h2 class="title">监督模型中被使用情况</h2>
      <ModelUsedTabel :dataset-ids="state.datasetIds"></ModelUsedTabel>
      <h2 class="title" style="margin-top: 10px">自主分析图表中被使用列表</h2>
      <ChartUsedTabel :dataset-ids="state.datasetIds"></ChartUsedTabel>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, nextTick } from 'vue';
  import ModelUsedTabel from './ModelUsedTabel.vue';
  import ChartUsedTabel from './ChartUsedTabel.vue';
  const dialogFormVisible = ref(false);
  const state = reactive({
    tableCname: '',
    tableName: '',
    modelUsedQty: 0,
    chartUsedQty: 0,
    datasetIds: null,
  });
  const onChangeVisable = (record) => {
    dialogFormVisible.value = true;
    nextTick(() => {
      state.tableCname = record.tableCname;
      state.tableName = record.tableName;
      state.modelUsedQty = record.modelUsedQty;
      state.chartUsedQty = record.chartUsedQty;
      state.datasetIds = record.id;
    });
  };
  const handleOk = () => {
    dialogFormVisible.value = false;
  };
  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .title {
    color: rgb(24, 144, 255);
    background: #fafafa;
    padding: 5px 10px;
    border-bottom: 1px solid #f0f0f0;
  }
  .tip {
    color: #ff4d4f;
    display: inline;
    font-weight: 700;
  }
</style>
