<template>
  <div>
    <!-- 模型管理员处理审核-->
    <a-form
      ref="businessFormRef"
      :model="state.businessForm"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 16 }"
      :rules="rules1"
      :footer="null"
      @finish="onFinish1"
      @finish-failed="onFinishFailed1"
    >
      <div v-if="state.title == '审核问题整改详情'">
        <a-form-item label="审核操作" name="handleOpinion">
          <a-radio-group v-model:value="state.businessForm.handleOpinion">
            <a-radio value="40"> 通过 </a-radio>
            <a-radio value="50"> 驳回 </a-radio>
            <a-radio value="10"> 转交 </a-radio>
          </a-radio-group>
        </a-form-item>
        <a-form-item label="审核说明" name="remark" class="mb-20">
          <a-textarea
            v-model:value="state.businessForm.remark"
            show-count
            :maxlength="500"
            allow-clear
            placeholder="请输入500字符以内"
          />
        </a-form-item>
        <a-form-item label="审核材料">
          <div class="dropbox">
            <a-upload-dragger
              v-model:fileList="state.fileList"
              name="file"
              :action="`${state.BASE_URL}p/clue/dealWithFileUpload`"
              :before-upload="beforeUpload"
              :headers="state.headers"
              accept=".zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png"
              @change="normFile"
              @preview="onPreview"
            >
              <p class="ant-upload-drag-icon">
                <ArrowUpOutlined></ArrowUpOutlined>
              </p>
              <p class="ant-upload-text">点击或将文件拖拽到这里上传</p>
              <p class="ant-upload-hint"
                >支持扩展名：.zip .rar .doc .docx .pdf .xls .xlsx .jpg .jpeg .png</p
              >
            </a-upload-dragger>
          </div>
        </a-form-item>
        <a-form-item
          v-if="
            state.businessForm.handleOpinion == '40' || state.businessForm.handleOpinion == '10'
          "
          :label="
            state.businessForm.handleOpinion == '40'
              ? '验收部门'
              : state.businessForm.handleOpinion == '10'
              ? '问题整改部门'
              : ''
          "
          name="projectDeptCode"
        >
          <a-cascader
            v-model:value="state.businessForm.projectDeptCode"
            placeholder="请选择验收部门"
            allow-clear
            :field-names="{ label: 'text', value: 'code', children: 'children' }"
            :options="state.responsibleDeptData"
            show-search
            style="width: 100%"
            @change="changRresDep"
          >
          </a-cascader>
        </a-form-item>
        <a-form-item
          v-if="
            state.businessForm.handleOpinion == '40' || state.businessForm.handleOpinion == '10'
          "
          :label="
            state.businessForm.handleOpinion == '40'
              ? '验收人员'
              : state.businessForm.handleOpinion == '10'
              ? '问题整改人员'
              : ''
          "
          name="handleUsername"
          :rules="{
            required: true,
            message: '请选择验收人员',
          }"
        >
          <a-select
            v-model:value="state.businessForm.handleUsername"
            :allow-clear="true"
            show-search
            :filter-option="false"
            placeholder="请选择问题责任人"
            :loading="state.allUsers.length == 0"
            @search="handleUserSearch"
            @deselect="getUsersFn(null)"
            @change="(val) => changeUserFn(val, index)"
          >
            <a-select-option
              v-for="x in state.allUsers"
              :key="x.userId"
              :field-names="{ label: 'username', value: 'userId' }"
              :value="`${x.userId}-${x.username}`"
            >
              <span role="img" class="" :aria-label="x.username">{{ x.username }}</span>
              /
              <span class="select-usercode">{{ x.employeeCode }}</span>
            </a-select-option>
          </a-select>
        </a-form-item>
        <div class="sub-btn">
          <a-button
            type="primary"
            style="background: #1890ff; color: #fff"
            :loading="state.loading"
            html-type="submit"
            >保存</a-button
          >
        </div>
      </div>
      <div v-if="state.title == '问题验收'">
        <a-form-item label="验收操作" name="handleOpinion">
          <a-radio-group v-model:value="state.businessForm.handleOpinion">
            <a-radio :value="state.recordHandleOpinion == '50' ? '61' : '70'"> 通过 </a-radio>
            <a-radio :value="state.recordHandleOpinion == '50' ? '62' : '80'"> 驳回 </a-radio>
          </a-radio-group>
        </a-form-item>
        <a-form-item label="验收说明" name="remark" class="mb-20">
          <a-textarea
            v-model:value="state.businessForm.remark"
            show-count
            :maxlength="500"
            allow-clear
            placeholder="请输入500字符以内"
          />
        </a-form-item>
        <a-form-item label="验收材料">
          <div class="dropbox">
            <a-upload-dragger
              v-model:fileList="state.fileList"
              name="file"
              :action="`${state.BASE_URL}p/clue/dealWithFileUpload`"
              :before-upload="beforeUpload"
              :headers="state.headers"
              accept=".zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png"
              @change="normFile"
              @preview="onPreview"
            >
              <p class="ant-upload-drag-icon">
                <ArrowUpOutlined></ArrowUpOutlined>
              </p>
              <p class="ant-upload-text">点击或将文件拖拽到这里上传</p>
              <p class="ant-upload-hint"
                >支持扩展名：.zip .rar .doc .docx .pdf .xls .xlsx .jpg .jpeg .png</p
              >
            </a-upload-dragger>
          </div>
        </a-form-item>
        <a-form-item
          v-if="state.businessForm.handleOpinion == '61' && state.recordHandleOpinion == '50'"
          label="验收部门"
          name="projectDeptCode"
        >
          <a-cascader
            v-model:value="state.businessForm.projectDeptCode"
            placeholder="请选择验收部门"
            allow-clear
            :field-names="{ label: 'text', value: 'code', children: 'children' }"
            :options="state.responsibleDeptData"
            show-search
            style="width: 100%"
            @change="changRresDep"
          >
          </a-cascader>
        </a-form-item>
        <!-- state.status == '10' 表示整改人员提交 人员取上一处理人-->
        <a-form-item
          v-if="state.businessForm.handleOpinion == '61' && state.recordHandleOpinion == '50'"
          label="验收人员"
          name="handleUsername"
          :rules="{
            required: true,
            message: '请选择验收人员',
          }"
        >
          <a-select
            v-model:value="state.businessForm.handleUsername"
            :allow-clear="true"
            show-search
            :filter-option="false"
            :loading="state.allUsers.length == 0"
            @search="handleUserSearch"
            @deselect="getUsersFn(null)"
            @change="(val) => changeUserFn(val)"
          >
            <a-select-option
              v-for="x in state.allUsers"
              :key="x.userId"
              :field-names="{ label: 'username', value: 'userId' }"
              :value="`${x.userId}-${x.username}`"
            >
              <span role="img" class="" :aria-label="x.username">{{ x.username }}</span>
              /
              <span class="select-usercode">{{ x.employeeCode }}</span>
            </a-select-option>
          </a-select>
        </a-form-item>

        <div class="sub-btn">
          <a-button
            type="primary"
            style="background: #1890ff; color: #fff"
            :loading="state.loading"
            html-type="submit"
            >{{ state.businessForm.handleOpinion == '70' ? '保存并结束流程' : '提交' }}</a-button
          >
        </div>
      </div>
    </a-form>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance } from 'vue';
  import { ArrowUpOutlined } from '@ant-design/icons-vue';
  import { message, Upload } from 'ant-design-vue';
  import { downloadJson } from '@/utils/request';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { Storage } from '@/utils/Storage';
  import { getDep } from '@/api/supervisionGovern';
  import { getUsersCode } from '@/api/supervisionModel';
  import { getHandClue } from '@/api/supervisionGovern/questionInventory';
  const emit = defineEmits(['search']);
  const { proxy } = getCurrentInstance();
  const businessFormRef = ref();

  const state = reactive({
    recordHandleOpinion: '',
    projectDeptName: '',
    loading: false,
    temporaryLoading: false,
    businessForm: {
      id: '',
      handType: '40',
      pushType: '10',
      handleOpinion: '',
      remark: '',
      deptCode: '', //审批通过
      deptName: '',
      problemDeptName: '', //审批转交
      problemDeptCode: '',
      handleUsername: '',
      handleUsernameId: '',
      problemCode: '',
      projectCode: '',
      projectDeptCode: [],
    },
    BASE_URL: process.env.VUE_APP_BASE_API, // url
    headers: {}, // 上传头
    fileList: [], // 上传的文件列表
    itemTextList: proxy.$dict.getItemsByDictCode('handlingOpinionsjijian'),
    checkTransferSelect: false,
    todoLinkCode: '',
    rectificationList: [],
    responsibleDeptData: [],
    allUsers: [],
    auditStatus: '',
    beforeUserId: '',
    beforeUser: '',
    title: '',
    flag: null,
  });
  const rules1 = reactive({
    handleUsername: [{ required: true, message: '请选择人员' }],
    handleOpinion: [{ required: true, message: '请选择审核操作' }],
    projectDeptCode: [{ required: true, message: '请选择部门' }],
  });

  // 提交
  const onFinish1 = () => {
    let _params = {};
    if (state.title == '审核问题整改详情') {
      //审核
      state.businessForm.handType = '20';
      if (state.businessForm.handleOpinion == '40') {
        //通过
        state.businessForm.deptCode = state.businessForm.projectDeptCode.join(',');
        state.businessForm.deptName = state.projectDeptName;
      } else if (state.businessForm.handleOpinion == '10') {
        //转交
        state.businessForm.problemDeptCode = state.businessForm.projectDeptCode.join(',');
        state.businessForm.problemDeptName = state.projectDeptName;
      } else if (state.businessForm.handleOpinion == '50') {
        state.businessForm.handleUsername = state.beforeUser;
        state.businessForm.handleUsernameId = state.beforeUserId;
      }
    } else {
      //验收
      if (state.businessForm.handleOpinion == '80') {
        state.businessForm.handleUsername = state.beforeUser;
        state.businessForm.handleUsernameId = state.beforeUserId;
      }
      if (state.businessForm.handleOpinion == '61') {
        state.businessForm.problemDeptCode = state.businessForm.projectDeptCode.join(',');
        state.businessForm.problemDeptName = state.projectDeptName;
      }
      state.businessForm.handType = state.recordHandleOpinion;
    }
    _params = {
      ...state.businessForm,
      handleAttachments: state.fileList
        ? state.fileList.map((item) => {
            return item.response.data;
          })
        : [],
    };
    // console.log('提交参数', _params);
    state.loading = true;
    getHandClue(_params).then((res) => {
      state.loading = false;
      if (res.code == 'OK') {
        message.success('保存成功');
        emit('close');
      } else {
        message.error(res.message);
      }
    });
  };
  const onFinishFailed1 = () => {
    console.log('表单校验未通过');
  };
  const getResponsibleDeptFn = () => {
    getDep().then((res) => {
      if (res.status === 200) {
        state.responsibleDeptData = res.data.rows.children;
      }
    });
  };
  const changRresDep = (val) => {
    if (val != undefined && val.length == 2) {
      const resDepP = state.responsibleDeptData.find((x) => {
        return x.code === val[0];
      });
      const resDepC = resDepP.children.find((y) => {
        return y.code === val[1];
      });
      state.projectDeptName = `${resDepP.text}/${resDepC.text}`;
    } else {
      handleOk();
    }
    getUsersFn(val[1]);
  };
  const changeUserFn = (val) => {
    if (val != undefined) {
      const _p = val.split('-');
      state.businessForm.handleUsername = _p[1];
      state.businessForm.handleUsernameId = _p[0];
    } else {
      state.businessForm.handleUsername = '';
      state.businessForm.handleUsernameId = '';
    }
  };
  const getUsersFn = (val, flag) => {
    //项目责任人-模型管理员列表
    state.allUsers = [];
    let _params = {};
    if (flag == 1) {
      _params = {
        username: val,
        deptCode:
          state.businessForm.projectDeptCode.length == 2 && state.businessForm.projectDeptCode[1],
      };
    } else {
      _params = {
        deptCode: val,
      };
    }

    getUsersCode(_params).then((r) => {
      if (r.data.code == 'OK') {
        state.allUsers = r.data.data;
      }
    });
  };
  const handleUserSearch = (val) => {
    getUsersFn(val, 1);
  };
  const processHandle = (val, title) => {
    // console.log('列表传过来的数据', val);
    state.title = title;
    state.businessForm.id = val.clueId;
    // 验收问题，如果驳回则取上一处理人
    state.beforeUser = val.beforeUser;
    state.beforeUserId = val.beforeUserId;
    state.businessForm.projectCode = val.projectCode;
    state.businessForm.problemCode = val.problemCode;
    state.recordHandleOpinion = val.handleOpinion;

    getResponsibleDeptFn();
  };

  // 文件预览
  const onPreview = (file) => {
    const url = file.response.data;
    // 文件下载
    downloadJson(
      'p/clue/file/downLoad',
      {
        filePathName: url,
      },
      file.name,
    ).then(() => {});
  };
  // 请求拦截
  const beforeUpload = (file, fileList) => {
    let flag = true;
    const config = { Authentication: '' };
    const FileExt = file.name.replace(/.+\./, '');
    if (
      ['jpg', 'jpeg', 'png', 'zip', 'rar', 'pdf', 'doc', 'docx', 'xlsx', 'xls'].indexOf(
        FileExt.toLowerCase(),
      ) === -1
    ) {
      message.warning(
        '请上传后缀名为.zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png的文件！',
      );
      return Upload.LIST_IGNORE;
    }
    // 有 token就带上
    if (Storage.get(ACCESS_TOKEN_KEY)) {
      config.Authentication = Storage.get(ACCESS_TOKEN_KEY);
    } else {
      // 没有就别上传
      flag = false;
    }
    state.headers = JSON.parse(JSON.stringify(config));
    // 上传三次就禁止上传了
    if (fileList.length + state.fileList.length > 3) {
      file.status = 'beforeUploadReject';
      flag = false;
    }
    return flag;
  };
  // 文件改变调用
  const normFile = (e) => {
    if (Array.isArray(e)) {
      return e;
    }
    if (e.fileList.length <= 3) {
      state.fileList = e.fileList;
    }
    // 如果大于3条，只保留前三条
    if (e.fileList.length > 3) {
      e.fileList = e.fileList.splice(3, 1);
      message.error('最多只能上传3个文件');
    }
    // 列表绑定
    return e && e.fileList;
  };
  defineExpose({ processHandle });
</script>

<style lang="less" scoped>
  .sub-btn {
    display: flex;
    justify-content: center;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
</style>
