<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      :title="state.title"
      width="80%"
      :footer="null"
      destroy-on-close
      style="top: 0px"
      @ok="handleOk"
      @cancel="handleOk"
    >
      <div class="top-btn">
        <a-button
          type="primary"
          :disabled="
            state.title == '问题责任人填报' || (state.status != null && state.status != '50')
          "
          @click="onPushFn"
        >
          问题推送</a-button
        >
      </div>
      <!-- 问题信息 -->
      <span class="descriptions-title">项目信息</span>
      <a-divider style="margin: 10px 0" />
      <keyInformation :key-data="state.projectData"></keyInformation>
      <span class="descriptions-title">问题信息</span>
      <a-divider style="margin: 10px 0" />
      <questionInfo :key-data="state.problemData"></questionInfo>
      <span class="descriptions-title">整改信息</span>
      <a-divider style="margin: 10px 0" />
      <RectificationInfo :key-data="state.clueInventoryData"></RectificationInfo>
      <div v-if="props.formFlag">
        <span class="descriptions-title">问题整改</span>
        <a-divider style="margin: 10px 0" />
        <FillingForm
          v-if="state.title == '整改人员填报' || state.title == '问题责任人填报'"
          ref="FillingFormRef"
          @close="close"
        ></FillingForm>
        <ExamineForm
          v-if="state.title == '问题验收' || state.title == '审核问题整改详情'"
          ref="FillingFormRef"
          @close="close"
        ></ExamineForm>
      </div>
      <span class="descriptions-title">处理日志</span>
      <a-divider style="margin: 10px 0" />
      <ProcessingLogs ref="ProcessingLogsRef"></ProcessingLogs>
    </a-modal>
    <!-- 推送 -->
    <pushInventModal ref="pushInventModalRef" @search="handleOk"></pushInventModal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance, nextTick } from 'vue';
  import {
    keyInformation,
    questionInfo,
    pushInventModal,
  } from '../../questionInventory/components';
  import ProcessingLogs from './ProcessingLogs.vue';
  import FillingForm from './FillingForm.vue';
  import ExamineForm from './ExamineForm.vue';
  import RectificationInfo from './RectificationInfo.vue';
  import {
    getProjectByCode,
    getProblemByCode,
    getClueInventory,
  } from '@/api/supervisionGovern/questionInventory';
  const { proxy } = getCurrentInstance();
  const emit = defineEmits(['search']);
  const dialogFormVisible = ref(false);
  const pushInventModalRef = ref();
  const FillingFormRef = ref();
  const ProcessingLogsRef = ref();
  const state = reactive({
    problemTypeList: proxy.$dict.getKeyValueByDictCode('PROBLEM_TYPE'), //问题类型
    imgVisible: false,
    status: null,
    imgUrl: '',
    loading: false,
    allProjectList: [],
    topForm: {
      projectCode: '',
    },
    title: '详情',
    auditForm: {
      inventoryVoList: [
        {
          problemType: '',
          problemPerson: '',
          problemPersonId: '',
          problemAsk: '',
          problemContent: '',
          problemFind: '',
        },
      ],
    },
    allUsers: [],

    rectificationList: [],
    projectData: {},
    problemData: {},
    clueInventoryData: {},
    projectCode: '',
    problemCode: '',
    pagination: {
      pageSizeOptions: ['10', '20', '30', '40'],
      current: 1,
      pageSize: 10,
      total: 0,
      showSizeChanger: true,
      showQuickJumper: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
  });
  const props = defineProps({
    formFlag: {
      type: Boolean,
      default: false,
    },
  });
  const onPushFn = () => {
    //推送
    const _params = {
      projectCode: state.projectCode,
      problemCode: state.problemCode,
    };
    pushInventModalRef.value.onChangeVisable(_params, '推送问题', '20');
  };

  const onChangeVisable = (record, title) => {
    state.title = title;
    state.status = record.status;
    state.problemCode = record.problemCode;
    state.projectCode = record.projectCode;
    getProjectByCodeFn(record.projectCode);
    getProblemByCodeFn(record.problemCode);
    getClueInventoryFn(record.problemCode);
    dialogFormVisible.value = true;

    nextTick(() => {
      if (props.formFlag) {
        FillingFormRef.value.processHandle(record, state.title);
      }
      ProcessingLogsRef.value.getLogList(record);
    });
  };
  const getProjectByCodeFn = (projectCode) => {
    //获取项目信息
    getProjectByCode({ projectCode }).then((res) => {
      if (res.code == 'OK') {
        state.projectData = res.data;
      }
    });
  };
  const getProblemByCodeFn = (problemCode) => {
    //获取项目信息
    getProblemByCode({ problemCode }).then((res) => {
      if (res.code == 'OK') {
        state.problemData = res.data;
      }
    });
  };
  const getClueInventoryFn = (problemCode) => {
    //获取整改信息
    getClueInventory({ problemCode }).then((res) => {
      if (res.code == 'OK') {
        state.clueInventoryData = res.data;
      }
    });
  };
  const close = () => {
    handleOk();
    emit('search');
  };
  const handleOk = () => {
    state.auditForm = {
      inventoryVoList: [
        {
          problemType: '',
          problemPerson: '',
          problemPersonId: '',
          problemAsk: '',
          problemContent: '',
          problemFind: '',
        },
      ],
    };
    state.topForm.projectCode = '';
    state.title = '详情';
    dialogFormVisible.value = false;
  };

  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 18px;
    font-weight: 600;
  }
  .top-btn {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .sub-btn {
    display: flex;
    justify-content: right;
  }
  /deep/.ant-collapse-icon-position-right
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    font-size: 20px;
    position: relative;
    top: -45px;
    left: 889px;
    color: #1890ff;
  }
  .resource-select {
    width: 100%;
  }
  .form-box {
    width: 100%;
    max-height: 800px;
    overflow-y: auto;
  }
  .top-btn {
    display: flex;
    justify-content: right;
  }
</style>
