<template>
  <div>
    <DynamicTable header-title="菜单管理" :data-request="loadTableData" :columns="columns">
      <template #toolbar>
        <a-button type="primary" :disabled="!$auth('menu:add')" @click="openMenuModal({})">
          新增
        </a-button>
      </template>
    </DynamicTable>
  </div>
</template>

<script lang="tsx" setup>
  import { ref } from 'vue';
  import { omit } from 'lodash-es';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { menuSchemas } from './formSchemas';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import type { TreeSelectProps } from 'ant-design-vue';
  import { getMenuAll, updateMenu, createMenu, deleteMenu } from '@/api/system/menu';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/useFormModal';

  defineOptions({
    name: 'SysMenu',
  });

  const menuTree = ref<TreeSelectProps['treeData']>([]);
  const [DynamicTable, dynamicTableInstance] = useTable({
    // search: false,
    pagination: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
    scroll: { x: 2000 },
  });
  const [showModal] = useFormModal();

  const loadTableData = async (params: LoadDataParams) => {
    if (params.title) {
      params.menuName = params.title;
      params.title = null;
    }
    const data = await getMenuAll({ ...params });

    const mtree: TreeDataItem[] = [];
    for (let i = 0; i < data.rows.children.length; i++) {
      mtree.push(genMenuTreeItem(data.rows.children[i]));
    }
    menuTree.value = mtree;

    // console.log('shit1', menuTree.value);

    // 部分数据要parseInt
    const mtabletree = [];
    for (let i = 0; i < data.rows.children.length; i++) {
      mtabletree.push(genMenuTreeTableItem(data.rows.children[i]));
    }

    // console.log('shit2', mtabletree);

    return { list: mtabletree };
  };

  const openMenuModal = async (record: Partial<TableListItem>) => {
    const [formRef] = await showModal({
      modalProps: {
        title: `${record.id ? '编辑' : '新增'}菜单`,
        width: 700,
        onFinish: async (values) => {
          // console.log('新增/编辑菜单', values);
          values.keepAlive = values.keepAlive ? '10' : '00'; //后端接收数字
          values.showInSide = values.showInSide ? '1' : '0'; //后端接收数字
          record.id && (values.menuId = record.id);
          // values.perms = values.perms?.join(',');
          await (record.id ? updateMenu : createMenu)(values);
          dynamicTableInstance.reload();
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: menuSchemas,
      },
    });

    formRef?.updateSchema([
      {
        field: 'parentId',
        componentProps: {
          treeData: ref([{ id: 0, name: '一级菜单', children: menuTree.value }]),
        },
      },
    ]);

    // console.log('perms', record);
    record.keepAlive = record.keepAlive == '10' ? true : false; //后端接收数字-回显
    record.showInSide = record.showInSide == '1' ? true : false; //后端接收数字-编辑回显
    formRef?.setFieldsValue({
      ...record,
      menuName: record.title ?? '',
      icon: record.icon ?? '',
      perms: record.perms?.split(','),
      parentId: record.parentId ?? 0,
    });
  };
  const delRowConfirm = async (record: TableListItem) => {
    await deleteMenu(record.id);
    dynamicTableInstance.reload();
  };

  const genMenuTreeTableItem = (item) => {
    const children = [];

    if (item.children) {
      for (let i = 0; i < item.children.length; i++) {
        const child = item.children[i];
        children.push(genMenuTreeTableItem(child));
      }
    }

    return {
      ...omit(item, ['type', 'permission', 'parentId', 'children']),
      type: parseInt(item.type),
      perms: item.permission,
      parentId: parseInt(item.parentId),
      children: children.length ? children : null,
    };
  };

  const genMenuTreeItem = (item): TreeDataItem => {
    const children: TreeDataItem[] = [];

    if (item.children) {
      for (let i = 0; i < item.children.length; i++) {
        const child = item.children[i];
        child.type == 0 && children.push(genMenuTreeItem(child));
      }
    }

    return {
      name: item.title,
      id: parseInt(item.id),
      children: children.length ? children : null,
    };
  };

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 160,
      dataIndex: 'ACTION',
      hideInSearch: true,
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => [
        {
          label: '编辑',
          auth: {
            perm: 'menu:update',
            effect: 'disable',
          },
          onClick: () => openMenuModal(record),
        },
        {
          label: '删除',
          auth: {
            perm: 'menu:delete',
            effect: 'disable',
          },
          popConfirm: {
            title: '你确定要删除吗？',
            onConfirm: () => delRowConfirm(record),
          },
        },
      ],
    },
  ];
</script>
