<template>
  <div>
    <!-- 整改措施填报-->
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="问题子项编号">
        <span> {{ props.keyData.problemDetailCode || '' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="问题子项内容">
        <span> {{ props.keyData.problemDetail || '' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="2" class="textItem">
      <a-descriptions-item label="被巡察单位">
        <span> {{ props.keyData.projectInspectedUnits || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="被巡察单位联系人">
        <span> {{ props.keyData.projectLiaison || '' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="2" class="textItem">
      <a-descriptions-item label="责任人">
        <span> {{ props.keyData.problemLiabilityPerson || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="责任部门">
        <span> {{ props.keyData.problemLiabilityDept || '' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-form
      ref="businessFormRef"
      :model="state.businessForm"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 16 }"
      :rules="rules1"
      :footer="null"
      @finish="onFinish1"
      @finish-failed="onFinishFailed1"
    >
      <a-form-item label="被巡察单位领导" name="inspectedUnitsLeadership">
        <a-select
          v-model:value="state.businessForm.inspectedUnitsLeadership"
          :allow-clear="true"
          show-search
          :filter-option="false"
          placeholder="被巡察单位领导至少是大区总经理助理"
          @search="handleUserSearch"
          @deselect="getUsersFn(null)"
          @change="changeUserFn"
        >
          <a-select-option
            v-for="item in state.allUsers"
            :key="item.userId"
            :field-names="{ label: 'username', value: 'userId' }"
            :value="`${item.username}/${item.userId}`"
          >
            {{ item.username }}/{{ item.employeeCode }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label="配合部门" name="cooperateDept">
        <a-tree-select
          v-if="state.responsibleDeptData.length > 0"
          v-model:value="state.businessForm.cooperateDept"
          style="width: 80%"
          :tree-data="state.responsibleDeptData"
          show-search
          allow-clear
          :height="250"
          :field-names="{ children: 'children', title: 'label', key: 'value' }"
          placeholder="请选择配合部门"
          tree-node-filter-prop="label"
          class="custom-tree-select"
        />
      </a-form-item>
      <a-form-item label="计划完成时间" name="plannedCompletionDate">
        <a-date-picker
          v-model:value="state.businessForm.plannedCompletionDate"
          format="YYYY-MM-DD"
          value-format="YYYY-MM-DD"
          type="date"
          placeholder="选择时间"
          style="width: 80%"
        />
      </a-form-item>
      <a-form-item label="整改措施" name="rectificationMeasures" class="mb-20">
        <a-textarea
          v-model:value="state.businessForm.rectificationMeasures"
          show-count
          :maxlength="1000"
          allow-clear
          placeholder="请输入1000字符以内"
        />
      </a-form-item>
      <a-form-item label="问题子项备注" name="clueRemark" class="mb-20">
        <a-textarea
          v-model:value="state.businessForm.clueRemark"
          show-count
          allow-clear
          placeholder="请输入100字符以内"
          :maxlength="100"
        />
      </a-form-item>
      <a-form-item label="整改措施说明材料">
        <div class="dropbox">
          <a-upload-dragger
            v-model:fileList="state.fileList"
            name="file"
            :action="`${state.BASE_URL}p/clue/dealWithFileUpload`"
            :before-upload="beforeUpload"
            :headers="state.headers"
            accept=".zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png"
            @change="normFile"
            @preview="onPreview"
          >
            <p class="ant-upload-drag-icon">
              <ArrowUpOutlined></ArrowUpOutlined>
            </p>
            <p class="ant-upload-text">点击或将文件拖拽到这里上传</p>
            <p class="ant-upload-hint"
              >支持扩展名：.zip .rar .doc .docx .pdf .xls .xlsx .jpg .jpeg .png</p
            >
          </a-upload-dragger>
        </div>
      </a-form-item>

      <div class="sub-btn">
        <a-button
          type="primary"
          style="background: #1890ff; color: #fff"
          :loading="state.loading"
          html-type="submit"
          >保存并提交</a-button
        >
      </div>
    </a-form>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance } from 'vue';
  import { ArrowUpOutlined } from '@ant-design/icons-vue';
  import { message, Upload } from 'ant-design-vue';
  import { downloadJson } from '@/utils/request';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { Storage } from '@/utils/Storage';
  import { getUsersCode } from '@/api/supervisionModel';
  import { partyOrganizations, handClue } from '@/api/supervisionGovern/Inspection';
  const emit = defineEmits(['close']);
  const props = defineProps({
    keyData: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const { proxy } = getCurrentInstance();
  const businessFormRef = ref();
  const state = reactive({
    loading: false,
    businessForm: {
      inspectedUnitsLeadership: undefined,
      inspectedUnitsLeadershipId: '',
      cooperateDept: undefined,
      plannedCompletionDate: '',
      rectificationMeasures: '',
      clueRemark: '',
    },
    BASE_URL: process.env.VUE_APP_BASE_API, // url
    headers: {}, // 上传头
    fileList: [], // 上传的文件列表
    itemTextList: proxy.$dict.getItemsByDictCode('handlingOpinionsjijian'),
    checkTransferSelect: false,
    todoLinkCode: '',
    rectificationList: [],
    allUsers: [],
    responsibleDeptData: [],
    title: '',
    todoLink: '',
    clueId: '',
    problemDetailCode: '',
  });
  const rules1 = reactive({
    inspectedUnitsLeadership: [{ required: true, message: '请选择被巡察单位领导' }],
    plannedCompletionDate: [{ required: true, message: '请选择计划完成时间' }],
    rectificationMeasures: [{ required: true, message: '请输入整改措施' }],
  });

  // 提交
  const onFinish1 = () => {
    const _params = {
      todoLink: state.todoLink,
      clueId: state.clueId,
      problemDetailCode: state.problemDetailCode,
      ...state.businessForm,
      handleAttachments: state.fileList
        ? state.fileList.map((item) => {
            return item.response.data;
          })
        : [],
    };

    state.loading = true;
    handClue(_params).then((res) => {
      state.loading = false;
      if (res.code == 'OK') {
        message.success('保存成功');
        emit('close');
      } else {
        message.error(res.message);
      }
    });
  };
  const onFinishFailed1 = () => {
    console.log('表单校验未通过');
  };

  const processHandle = (val) => {
    state.todoLink = val.todoLink;
    state.problemDetailCode = val.problemDetailCode;
    state.clueId = val.clueId;
    getUsersFn('');
    getResponsibleDeptFn();
  };
  const getResponsibleDeptFn = () => {
    partyOrganizations().then((res) => {
      if (res.code === 'OK') {
        state.responsibleDeptData = res.data;
      }
    });
  };
  const changeUserFn = (val) => {
    if (val != undefined) {
      const _p = val.split('/');
      state.businessForm.inspectedUnitsLeadershipId = _p[1];
      state.businessForm.inspectedUnitsLeadership = _p[0];
    } else {
      state.businessForm.inspectedUnitsLeadershipId = '';
      state.businessForm.inspectedUnitsLeadership = '';
    }
  };
  const getUsersFn = (val, flag) => {
    //项目责任人-模型管理员列表
    state.allUsers = [];
    let _params = {};
    if (flag == 1) {
      _params = {
        username: val,
      };
    } else {
      _params = {
        deptCode: val,
      };
    }

    getUsersCode(_params).then((r) => {
      if (r.data.code == 'OK') {
        state.allUsers = r.data.data;
      }
    });
  };
  const handleUserSearch = (val) => {
    getUsersFn(val, 1);
  };
  // 文件预览
  const onPreview = (file) => {
    const url = file.response.data;
    // 文件下载
    downloadJson(
      'p/clue/file/downLoad',
      {
        filePathName: url,
      },
      file.name,
    ).then(() => {});
  };
  // 请求拦截
  const beforeUpload = (file, fileList) => {
    let flag = true;
    const config = { Authentication: '' };
    const FileExt = file.name.replace(/.+\./, '');
    if (
      ['jpg', 'jpeg', 'png', 'zip', 'rar', 'pdf', 'doc', 'docx', 'xlsx', 'xls'].indexOf(
        FileExt.toLowerCase(),
      ) === -1
    ) {
      message.warning(
        '请上传后缀名为.zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png的文件！',
      );
      return Upload.LIST_IGNORE;
    }
    // 有 token就带上
    if (Storage.get(ACCESS_TOKEN_KEY)) {
      config.Authentication = Storage.get(ACCESS_TOKEN_KEY);
    } else {
      // 没有就别上传
      flag = false;
    }
    state.headers = JSON.parse(JSON.stringify(config));
    // 上传三次就禁止上传了
    if (fileList.length + state.fileList.length > 3) {
      file.status = 'beforeUploadReject';
      flag = false;
    }
    return flag;
  };
  // 文件改变调用
  const normFile = (e) => {
    if (Array.isArray(e)) {
      return e;
    }
    if (e.fileList.length <= 3) {
      state.fileList = e.fileList;
    }
    // 如果大于3条，只保留前三条
    if (e.fileList.length > 3) {
      e.fileList = e.fileList.splice(3, 1);
      message.error('最多只能上传3个文件');
    }
    // 列表绑定
    return e && e.fileList;
  };

  defineExpose({ processHandle });
</script>

<style lang="less" scoped>
  .ant-form-explain {
    color: #f5222d;
    font-size: 14px !important;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
</style>
