<template>
  <div>
    <a-descriptions :column="3" class="textItem">
      <a-descriptions-item label="项目编号">
        <span> {{ props.keyData.projectCode || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目名称">
        <span> {{ props.keyData.projectName || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目类别">
        <span> {{ projectCategoryFilter(props.keyData.projectCategory) || '' }}</span>
      </a-descriptions-item>
      <!-- <a-descriptions-item label="项目部门">
        <span> {{ props.keyData.projectDeptName || '' }}</span>
      </a-descriptions-item> -->
      <a-descriptions-item label="被巡察单位">
        <span> {{ props.keyData.inspectedUnits || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目组长">
        <span> {{ props.keyData.projectTeamLeader || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目副组长">
        <span> {{ props.keyData.projectDeputyLeader || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目联络员">
        <span> {{ props.keyData.projectLiaison || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目组员">
        <span> {{ props.keyData.projectMember || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目开始时间">
        <span> {{ props.keyData.projectStartDate || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="项目结束时间">
        <span> {{ props.keyData.projectEndDate || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="备注">
        <span> {{ props.keyData.projectRemark || '' }}</span>
      </a-descriptions-item>
    </a-descriptions>
  </div>
</template>

<script setup lang="tsx">
  import { getCurrentInstance } from 'vue';
  const { proxy } = getCurrentInstance();
  const props = defineProps({
    keyData: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const projectCategoryFilter = (val) => {
    return proxy.$dict.getItemText('PROJECT_CATEGORY', val);
  };
</script>
<style scoped>
  .textItem {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 200px;
  }
</style>
