<template>
  <div>
    <!-- 审核问题 -->
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="问题子项编号">
        <span> {{ props.keyData.problemDetailCode || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="问题子项内容">
        <span> {{ props.keyData.problemDetail || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="2" class="textItem">
      <a-descriptions-item label="被巡察单位领导">
        <span> {{ props.keyData.inspectedUnitsLeadership || '-' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="责任部门">
        <span> {{ props.keyData.problemLiabilityDept || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="2" class="textItem">
      <a-descriptions-item label="配合部门">
        <span> {{ props.keyData.cooperateDept || '-' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="计划完成时间">
        <span> {{ props.keyData.plannedCompletionDate || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="整改措施">
        <span> {{ props.keyData.rectificationMeasures || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="问题子项备注">
        <span> {{ props.keyData.clueRemark || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions
      v-show="props.keyData.todoLink == '50' || props.keyData.todoLink == '60'"
      :column="1"
      class="textItem"
    >
      <a-descriptions-item label="整改工作内容及进展情况：">
        <span> {{ props.keyData.rectificationContent || '-' }}</span>
      </a-descriptions-item>
    </a-descriptions>
  </div>
</template>

<script setup lang="tsx">
  import { getCurrentInstance } from 'vue';
  const { proxy } = getCurrentInstance();
  const props = defineProps({
    keyData: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
</script>
<style scoped>
  .textItem {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 200px;
  }
</style>
