<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      :title="state.title"
      width="80%"
      :footer="null"
      destroy-on-close
      style="top: 0px"
      @ok="handleOk"
      @cancel="handleOk"
    >
      <!-- 问题信息 -->
      <span class="descriptions-title">项目信息</span>
      <a-divider style="margin: 10px 0" />
      <keyInformation :key-data="state.projectData"></keyInformation>
      <span class="descriptions-title">问题详情</span>
      <a-divider style="margin: 10px 0" />
      <questionInfo :key-data="state.projectData"></questionInfo>
      <span class="descriptions-title">问题子项详情</span>
      <!-- <a-divider style="margin: 10px 0" /> -->
      <!-- 问题子项详情和填报，审核一体 -->
      <div>
        <!-- <span class="descriptions-title">问题整改</span> -->
        <a-divider style="margin: 10px 0" />
        <FillingForm
          v-if="state.todoLink == '10' && state.title != '问题详情查看'"
          ref="FillingFormRef"
          :key-data="state.projectData"
          @close="close"
        ></FillingForm>
        <!-- 问题子项详情-->
        <QuestionDetialInfo
          v-if="
            state.title == '问题详情查看' ||
            state.todoLink == '20' ||
            state.todoLink == '30' ||
            state.todoLink == '40' ||
            state.todoLink == '50' ||
            state.todoLink == '60'
          "
          :key-data="state.projectData"
        ></QuestionDetialInfo>

        <ExamineForm
          v-if="
            state.title != '问题详情查看' &&
            (state.todoLink == '20' ||
              state.todoLink == '30' ||
              state.todoLink == '50' ||
              state.todoLink == '60')
          "
          ref="FillingFormRef"
          @close="close"
        ></ExamineForm>
        <!-- 巡察办审批 -->
        <RectificationProgressForm
          v-if="state.todoLink == '40' && state.title != '问题详情查看'"
          ref="FillingFormRef"
          @close="close"
        ></RectificationProgressForm>
      </div>

      <span class="descriptions-title">处理日志</span>
      <a-divider style="margin: 10px 0" />
      <ProcessingLogs ref="ProcessingLogsRef"></ProcessingLogs>
    </a-modal>
    <!-- 推送 -->
    <pushInventModal ref="pushInventModalRef" @search="handleOk"></pushInventModal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance, nextTick } from 'vue';
  import { message } from 'ant-design-vue';
  import {
    ProcessingLogs,
    FillingForm,
    ExamineForm,
    keyInformation,
    questionInfo,
    pushInventModal,
    QuestionDetialInfo,
    RectificationProgressForm,
  } from './index';
  import { inspectionProblemSubkey } from '@/api/supervisionGovern/Inspection';
  const { proxy } = getCurrentInstance();
  const emit = defineEmits(['search']);
  const dialogFormVisible = ref(false);
  const pushInventModalRef = ref();
  const FillingFormRef = ref();
  const ProcessingLogsRef = ref();
  const state = reactive({
    problemTypeList: proxy.$dict.getKeyValueByDictCode('PROBLEM_TYPE'), //问题类型
    imgVisible: false,
    todoLink: null,
    imgUrl: '',
    loading: false,
    allProjectList: [],
    topForm: {
      projectCode: '',
    },
    title: '详情',
    auditForm: {
      inventoryVoList: [
        {
          problemType: '',
          problemPerson: '',
          problemPersonId: '',
          problemAsk: '',
          problemContent: '',
          problemFind: '',
        },
      ],
    },
    allUsers: [],

    rectificationList: [],
    projectData: {},
    problemData: {},
    clueInventoryData: {},
    projectCode: '',
    problemCode: '',
    pagination: {
      pageSizeOptions: ['10', '20', '30', '40'],
      current: 1,
      pageSize: 10,
      total: 0,
      showSizeChanger: true,
      showQuickJumper: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
  });
  const onChangeVisable = (record, title) => {
    state.title = title;
    state.todoLink = record.todoLink;
    dialogFormVisible.value = true;

    getProjectByCodeFn(record.problemDetailCode);
    if (state.title != '问题详情查看') {
      nextTick(() => {
        FillingFormRef.value.processHandle(record);
        ProcessingLogsRef.value.getLogList(record.clueId);
      });
    } else {
      nextTick(() => {
        ProcessingLogsRef.value.getLogList(record.clueId || null);
      });
    }
  };
  const getProjectByCodeFn = (problemDetailCode) => {
    //获取项目信息
    inspectionProblemSubkey(problemDetailCode).then((res) => {
      if (res.code == 'OK') {
        state.projectData = res.data;
      } else {
        message.error('查询失败，请联系管理员');
      }
    });
  };
  const close = () => {
    handleOk();
    emit('search');
  };
  const handleOk = () => {
    state.auditForm = {
      inventoryVoList: [
        {
          problemType: '',
          problemPerson: '',
          problemPersonId: '',
          problemAsk: '',
          problemContent: '',
          problemFind: '',
        },
      ],
    };
    state.topForm.projectCode = '';
    state.title = '详情';
    dialogFormVisible.value = false;
  };

  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 18px;
    font-weight: 600;
  }
  .top-btn {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .sub-btn {
    display: flex;
    justify-content: right;
  }
  /deep/.ant-collapse-icon-position-right
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    font-size: 20px;
    position: relative;
    top: -45px;
    left: 889px;
    color: #1890ff;
  }
  .resource-select {
    width: 100%;
  }
  .form-box {
    width: 100%;
    max-height: 800px;
    overflow-y: auto;
  }
  .top-btn {
    display: flex;
    justify-content: right;
  }
</style>
