<template>
  <a-row :gutter="[16, 10]">
    <a-col v-if="props.conditionalmonth !== '设备品类中心'" :md="{ span: 24 }">
      <div class="blockstyle sbstyle">
        <p class="title"
          >库存情况（单位：万元）<edit-outlined
            clsss="editOut"
            @click="showV(2023042713581113, zj01.columns, props.conditionalmonth)"
        /></p>
        <MergeTable
          :filter="filterData"
          :widget-id="2023042713581113"
          :has-header="false"
          :data-list="zj01.dataSource"
          :column-list="zj01.columns"
          :column-groups="zj01.columnGroups"
          :formatter="tableStyle.formatter"
          @cutomHeaderRow="zj01OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 24 }">
      <div class="blockstyle sbstyle">
        <p class="title"
          >超期欠款排名前十单位（单位：万元）<edit-outlined
            clsss="editOut"
            @click="showV(2023042315463782, zj02.columns, props.conditionalmonth)"
        /></p>
        <MergeTable
          :filter="filterData"
          :widget-id="2023042315463782"
          :has-header="false"
          :data-list="zj02.dataSource"
          :column-list="zj02.columns"
          :column-groups="zj02.columnGroups"
          :formatter="tableStyle.formatter"
          :cell-color="regionalTableStyle.cellColor"
          @cutomHeaderRow="zj02OnClickModal"
        />
      </div>
    </a-col>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </a-row>
</template>

<script setup lang="ts">
  import { reactive, ref, nextTick, defineExpose } from 'vue';
  import { MergeTable } from '@/components/business';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import { queryAggregate, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import regionalTableStyle from '@/views/strategyTracking/modulefile/components/regionalTableStyle';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  import dataType from '@/views/strategyTracking/businesstracking/overviewpage/js/dataType';
  import { useUserStore } from '@/store/modules/user';
  const userStore = useUserStore();
  defineOptions({
    name: 'RegionalcenterZjPage',
    inheritAttrs: false,
  });
  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const filterData = ref({});
  const props = defineProps({
    conditionalmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    month: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const Initialloading = () => {
    nextTick(() => {
      filterData.value.area = props.conditionalmonth;
      zj02dataSource();
      zj01dataSource();
    });
  };
  defineExpose({
    Initialloading,
  });

  const zj01 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '目标',
        children: ['JD_TARGET', 'OG_TARGET'],
      },
      {
        title: '上年年末库存',
        children: ['JD_LASTYEAR_INV_AMT', 'OG_LASTYEAR_INV_AMT'],
      },
      {
        title: '上月库存',
        children: ['JD_LASTMONTH_INV_AMT', 'OG_LASTMONTH_INV_AMT'],
      },
      {
        title: '当月库存',
        children: ['JD_INV_AMT', 'OG_INV_AMT'],
      },
    ],
    columns: [
      { title: '部门', dataIndex: 'BUS_DEPT_NAME', key: 'BUS_DEPT_NAME', ellipsis: false },
      { title: 'OG', dataIndex: 'OG_TARGET', key: 'OG_TARGET', formatter: 'rate5' },
      { title: '基地', dataIndex: 'JD_TARGET', key: 'JD_TARGET', formatter: 'rate5' },
      {
        title: 'OG',
        dataIndex: 'OG_LASTYEAR_INV_AMT',
        key: 'OG_LASTYEAR_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '基地',
        dataIndex: 'JD_LASTYEAR_INV_AMT',
        key: 'JD_LASTYEAR_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: 'OG',
        dataIndex: 'OG_LASTMONTH_INV_AMT',
        key: 'OG_LASTMONTH_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '基地',
        dataIndex: 'JD_LASTMONTH_INV_AMT',
        key: 'JD_LASTMONTH_INV_AMT',
        formatter: 'rate5',
      },
      { title: 'OG', dataIndex: 'OG_INV_AMT', key: 'OG_INV_AMT', formatter: 'rate5' },
      { title: '基地', dataIndex: 'JD_INV_AMT', key: 'JD_INV_AMT', formatter: 'rate5' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      zj01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    zj01.columnKeyList = res2.data;
  };
  const zj01OnClickModal = (callback) => {
    callback('库存情况（单位：万元）');
  };
  const zj01dataSource = async () => {
    await search1(2023042713581113, props.conditionalmonth);
    queryAggregate(
      dataType.parameter2(
        'BIG_ZONE_NAME',
        props.conditionalmonth,
        2023042713581113,
        'YM',
        props.month,
      ),
    ).then((result) => {
      zj01.dataSource = Transformer.toTableData3(
        result.data,
        '2023042713581113',
        zj01.keyColumnNameList,
        zj01.columnKeyList,
      );
    });
  };

  const zj02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '资材备件货款',
        children: ['MONTH_MAT_SPPT_RECEIVABLE_AMT', 'MONTH_MAT_SPPT_EXPIRE_AMT'],
      },
      {
        title: '服务费',
        children: ['MONTH_PLATFORM_SERVICE_RECEIVABLE_AMT', 'MONTH_PLATFORM_SERVICE_EXPIRE_AMT'],
      },
      {
        title: '合计',
        children: ['MONTH_SUM_RECEIVABLE_AMT', 'MONTH_SUM_EXPIRE_AMT', 'MONTH_SUM_EXPIRE_RATIO'],
      },
    ],
    columns: [
      {
        title: '客户名称',
        dataIndex: 'VENDOR_NAME',
        key: 'VENDOR_NAME',
        width: '25%',
        ellipsis: false,
      },
      {
        title: '应收金额',
        dataIndex: 'MONTH_MAT_SPPT_RECEIVABLE_AMT',
        key: 'MONTH_MAT_SPPT_RECEIVABLE_AMT',
        formatter: 'rate5',
      },
      {
        title: '超期金额',
        dataIndex: 'MONTH_MAT_SPPT_EXPIRE_AMT',
        key: 'MONTH_MAT_SPPT_EXPIRE_AMT',
        formatter: 'rate9',
      },
      {
        title: '应收金额',
        dataIndex: 'MONTH_PLATFORM_SERVICE_RECEIVABLE_AMT',
        key: 'MONTH_PLATFORM_SERVICE_RECEIVABLE_AMT',
        formatter: 'rate5',
      },
      {
        title: '超期金额',
        dataIndex: 'MONTH_PLATFORM_SERVICE_EXPIRE_AMT',
        key: 'MONTH_PLATFORM_SERVICE_EXPIRE_AMT',
        formatter: 'rate5',
      },
      {
        title: '应收金额',
        dataIndex: 'MONTH_SUM_RECEIVABLE_AMT',
        key: 'MONTH_SUM_RECEIVABLE_AMT',
        formatter: 'rate5',
      },
      {
        title: '超期金额',
        dataIndex: 'MONTH_SUM_EXPIRE_AMT',
        key: 'MONTH_SUM_EXPIRE_AMT',
        formatter: 'rate9',
      },
      {
        title: '超期占比',
        dataIndex: 'MONTH_SUM_EXPIRE_RATIO',
        key: 'MONTH_SUM_EXPIRE_RATIO',
        emphasisColor: 'colorlj01one',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      zj02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    zj02.columnKeyList = res2.data;
  };
  const zj02OnClickModal = (callback) => {
    callback('超期应收款（单位：万元）');
  };
  const zj02dataSource = async () => {
    await search2(2023042315463782, props.conditionalmonth);
    queryAggregate(
      dataType.parameter2(
        'COST_CENTER_NAME',
        props.conditionalmonth,
        2023042315463782,
        'YM',
        props.month,
      ),
    ).then((result) => {
      zj02.dataSource = Transformer.toTableData3(
        result.data,
        '2023042315463782',
        zj02.keyColumnNameList,
        zj02.columnKeyList,
      );
    });
  };
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
</script>

<style lang="less" scoped>
  .blockstyle {
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
</style>
