<template>
  <div>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 15 }">
        <div class="blockstyle sbstyle" style="height: 500px">
          <p class="title"
            >采购运营指标情况<edit-outlined
              clsss="editOut"
              @click="showV(2022081614245783, hz01.columns, props.conditionalmonth)"
          /></p>
          <MergeTable
            :widget-id="2022081614245783"
            :filter="filterData"
            :has-header="false"
            :data-list="hz01.dataSource"
            :column-list="hz01.columns"
            :formatter="tableStyle.formatter"
            :cell-color="regionalTableStyle.cellColor"
            :scroll="{ y: 380 }"
            @cutomHeaderRow="hz01OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 9 }">
        <div class="blockstyle" style="height: 500px">
          <StackedRadarChart
            ref="echartresize1"
            :legend="echartHZ01.cgyyLegend"
            :title="echartHZ01.radar_title"
            :series="echartHZ01.radar_series_data"
            :indicator="echartHZ01.radar_indicator"
            :color="echartHZ01.cgyycolor"
          />
        </div>
      </a-col>
      <a-col v-if="props.conditionalmonth !== '设备品类中心'" :md="{ span: 14 }">
        <div class="blockstyle sbstyle" style="height: 500px">
          <p class="title"
            >资材备件采购规模<edit-outlined
              clsss="editOut"
              @click="showV(2023042410023101, hz02.columns, props.conditionalmonth)"
          /></p>
          <MergeTable
            :widget-id="2023042410023101"
            :filter="filterData"
            :has-header="false"
            :data-list="hz02.dataSource"
            :column-list="hz02.columns"
            :column-groups="hz02.columnGroups"
            :formatter="tableStyle.formatter"
            :scroll="{ y: 330 }"
            @cellClicked="onhz02Clicked"
            @cutomHeaderRow="hz02OnClickModal"
          />
        </div>
      </a-col>
      <a-col v-if="props.conditionalmonth !== '设备品类中心'" :md="{ span: 10 }">
        <div class="blockstyle" style="height: 500px">
          <p class="title">{{ hz02.BUS_DEPT_NAME }}按到货</p>
          <div style="height: 400px">
            <StackedLineChart
              ref="echartresize2"
              :legendone="echartHZ02.chart"
              :x-axis="echartHZ02.xAxis"
              :y-axis="echartHZ02.yAxis"
              :series="echartHZ02.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>

    <a-row v-if="props.conditionalmonth === '设备品类中心'" :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle" style="height: 500px">
          <p class="title">
            采购规模
            <edit-outlined
              clsss="editOut"
              @click="showV(2023051609203060, hz03.columns, '设备品类中心')"
          /></p>
          <MergeTable
            :widget-id="2023051609203060"
            :filter="filterData"
            :has-header="false"
            :data-list="hz03.dataSource"
            :column-list="hz03.columns"
            :column-groups="hz03.columnGroups"
            :formatter="tableStyle.formatter"
            :scroll="{ y: 330 }"
            @cellClicked="onhz03Clicked"
            @cutomHeaderRow="hz03OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle" style="height: 500px">
          <p class="title">{{ hz03.PROJ_BELONG_RECTANGLE_NAME }}</p>
          <div style="height: 400px">
            <StackedLineChart
              ref="echartresize3"
              :legendone="echartHZ03.chart"
              :x-axis="echartHZ03.xAxis"
              :y-axis="echartHZ03.yAxis"
              :series="echartHZ03.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>

    <a-row v-if="eachreg" :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle" style="height: 500px">
          <p class="title">
            工程设备采购规模
            <edit-outlined
              clsss="editOut"
              @click="showV(2023052412165506, hz04.columns, props.conditionalmonth)"
          /></p>
          <MergeTable
            :widget-id="2023052412165506"
            :filter="filterData"
            :has-header="false"
            :data-list="hz04.dataSource"
            :column-list="hz04.columns"
            :column-groups="hz04.columnGroups"
            :formatter="tableStyle.formatter"
            :scroll="{ y: 330 }"
            @cellClicked="onhz04Clicked"
            @cutomHeaderRow="hz04OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle" style="height: 500px">
          <p class="title">{{ hz04.BUS_DEPT_NAME }}工程设备合同额</p>
          <div style="height: 400px">
            <StackedLineChart
              ref="echartresize4"
              :legendone="echartHZ04.chart"
              :x-axis="echartHZ04.xAxis"
              :y-axis="echartHZ04.yAxis"
              :series="echartHZ04.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </div>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive, ref } from 'vue';
  import { StackedRadarChart, StackedLineChart } from '../echartsmodal';
  import { MergeTable } from '@/components/business';
  import { queryAggregate, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import regionalTableStyle from '@/views/strategyTracking/modulefile/components/regionalTableStyle';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  import dataType from '@/views/strategyTracking/businesstracking/overviewpage/js/dataType';
  import echartsStyle from '@/views/strategyTracking/businesstracking/overviewpage/js/echartsStyle';
  import { useUserStore } from '@/store/modules/user';
  const userStore = useUserStore();
  defineOptions({
    name: 'RegionalcenterPurchase',
    inheritAttrs: false,
  });
  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const filterData = ref({});
  const props = defineProps({
    conditionalmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    month: {
      type: String,
      default: () => {
        return '';
      },
    },
  });

  const eachreg = ref(false);
  const Initialloading = () => {
    nextTick(() => {
      const com = props.conditionalmonth;
      if (com === '资材品类中心' || com === '备件品类中心') {
        hz01.columns[5].emphasisColor = 'colorallyear';
      } else if (com === '华南大区') {
        hz01.columns[5].emphasisColor = 'coloroneyear';
      } else if (com === '设备品类中心') {
        hz01.columns[5].emphasisColor = 'colortwoyear';
      } else if (com === '西北大区' || com === '华北大区') {
        hz01.columns[5].emphasisColor = 'colorfouryear';
      } else {
        hz01.columns[5].emphasisColor = 'colorthreeyear';
      }
      echartHZ01.radar_title = com;
      filterData.value.area = com;
      if (com !== '设备品类中心') {
        getRegionalcenterhz02(com);
      } else {
        getRegionalcenterhz03('设备品类中心');
      }
      eachreg.value = false;
      if (com.length == 4) {
        eachreg.value = true;
        getRegionalcenterhz04(com);
      }
      getRegionalcenterZCPLZX01();
      getRegionalcenterZCPLZX02();
    });
  };

  defineExpose({
    Initialloading,
  });

  const hz01 = reactive({
    dataSource: [],
    columns: [
      {
        title: '指标名称',
        key: 'INDICATOR_SUBITEM_DESC',
        dataIndex: 'INDICATOR_SUBITEM_DESC',
        ellipsis: false,
      },
      { title: '指标单位', key: 'INDICATOR_UOM', dataIndex: 'INDICATOR_UOM', width: '10%' },
      {
        title: '进度目标',
        key: 'INDICATOR_PROGRESS_TARGET',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        width: '15%',
      },
      {
        title: '上月实绩',
        key: 'UP_MONTH_INDICATOR_PRFM',
        dataIndex: 'UP_MONTH_INDICATOR_PRFM',
        width: '15%',
        formatter: 'rate8',
      },
      {
        title: '本月实绩',
        key: 'MONTH_INDICATOR_PRFM',
        dataIndex: 'MONTH_INDICATOR_PRFM',
        width: '15%',
        formatter: 'rate8',
      },
      {
        title: '年累计实绩',
        key: 'YEAR_TOTAL_INDICATOR_PRFM',
        dataIndex: 'YEAR_TOTAL_INDICATOR_PRFM',
        width: '15%',
        formatter: 'rate8',
        mergeColumn: 'NEW_INDICATOR_PROGRESS_TARGET,YEAR_TOTAL_INDICATOR_PRFM',
        emphasisColor: 'colorallyear',
        after: 'YEAR_TOTAL_INDICATOR_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    hz01.keyColumnNameList = [];
    hz01.columnKeyList = [];
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      hz01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    hz01.columnKeyList = res2.data;
  };
  const hz01OnClickModal = (callback) => {
    callback('采购运营指标情况');
  };
  const getRegionalcenterZCPLZX01 = async () => {
    await search1(2022081614245783, props.conditionalmonth);
    queryAggregate(
      dataType.parameter2(
        'PUR_REGION_NAME',
        props.conditionalmonth,
        2022081614245783,
        'YM',
        props.month,
      ),
    ).then((result) => {
      hz01.dataSource = Transformer.toTableData3(
        result.data,
        '2022081614245783',
        hz01.keyColumnNameList,
        hz01.columnKeyList,
      );
    });
  };

  const echartHZ01 = reactive({
    cgyycolor: ['#54af81', '#e30f0f', '#fcfc42'],
    radar_title: '',
    cgyyLegend: ['每个月的KPI要求分值', '每个月的实际分值', '每个月分值指标的80%'],
    radar_series_data: [],
    radar_indicator: [],
  });
  const echartresize1 = ref();
  const getRegionalcenterZCPLZX02 = () => {
    queryAggregate(
      dataType.parameter2(
        'PUR_REGION_NAME',
        props.conditionalmonth,
        2022081614245784,
        'YM',
        props.month,
      ),
    ).then((r) => {
      const data = [];
      const radar_indicator1 = [];
      const result = [];
      const id = 2022081614245784;
      const columnList = r.data[id].columnList;
      const returnData = r.data[id].data;
      for (let i = 0; i < returnData.length; i++) {
        const dtt = {};
        for (let j = 0; j < columnList.length; j++) {
          dtt[columnList[j].name] = returnData[i][j];
        }
        data.push(dtt);
      }
      const obj = {
        name: '',
        type: 'radar',
        data: [
          { value: [], name: '每个月的KPI要求分值' },
          { value: [], areaStyle: { color: '#d0d0d0' }, name: '每个月的实际分值' },
          { value: [], name: '每个月分值指标的80%' },
        ],
      };
      for (let k = 0; k < data.length; k++) {
        radar_indicator1.push({
          name: data[k].INDICATOR_SUBITEM_DESC,
          max: data[k].YEAR_TARGET_RATIO,
        });
        obj.data[0].value.push(data[k].YEAR_TARGET_RATIO);
        obj.data[1].value.push(data[k].YEAR_PRFM_FINISH_RATIO);
        obj.data[2].value.push(data[k].YEAR_ALERT_RATIO);
      }
      result.push(obj);
      echartHZ01.radar_series_data = result;
      echartHZ01.radar_indicator = radar_indicator1;
    });
    echartresize1.value.Refresh();
  };

  const hz02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '按到货（万元）',
        children: [
          'ANNUAL_BDGT_AMT',
          'MONTH_ARRIVAL_AMT',
          'YEAR_ARRIVAL_AMT',
          'ANNUAL_BDGT_FINISH_RATE',
        ],
      },
      {
        title: '按领用（万元）',
        children: ['MONTH_GET_AMT', 'YEAR_GET_AMT'],
      },
    ],
    columns: [
      {
        title: '部门',
        dataIndex: 'BUS_DEPT_NAME',
        key: 'BUS_DEPT_NAME',
        width: '22%',
        ellipsis: false,
      },
      {
        title: '年度预算',
        dataIndex: 'ANNUAL_BDGT_AMT',
        key: 'ANNUAL_BDGT_AMT',
        formatter: 'rate5',
      },
      {
        title: '当月',
        dataIndex: 'MONTH_ARRIVAL_AMT',
        key: 'MONTH_ARRIVAL_AMT',
        formatter: 'rate5',
      },
      { title: '累计', dataIndex: 'YEAR_ARRIVAL_AMT', key: 'YEAR_ARRIVAL_AMT', formatter: 'rate5' },
      {
        title: '执行率',
        dataIndex: 'ANNUAL_BDGT_FINISH_RATE',
        key: 'ANNUAL_BDGT_FINISH_RATE',
        formatter: 'rate3',
      },
      { title: '当月', dataIndex: 'MONTH_GET_AMT', key: 'MONTH_GET_AMT', formatter: 'rate5' },
      {
        title: '累计',
        dataIndex: 'YEAR_GET_AMT',
        key: 'YEAR_GET_AMT',
        formatter: 'rate5',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
    BUS_DEPT_NAME: '',
  });
  const search2 = async (widgetId, name) => {
    hz02.keyColumnNameList = [];
    hz02.columnKeyList = [];
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      hz02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    hz02.columnKeyList = res2.data;
  };
  const hz02OnClickModal = (callback) => {
    callback('采购规模');
  };
  const getRegionalcenterhz02 = async (AREA_NAME) => {
    await search2(2023042410023101, props.conditionalmonth);
    queryAggregate(
      dataType.parameter2('AREA_NAME', AREA_NAME, 2023042410023101, 'YM', props.month),
    ).then((result) => {
      const dataMap = result.data['2023042410023101'].dataMap;
      hz02.dataSource = Transformer.toTableData3(
        result.data,
        '2023042410023101',
        hz02.keyColumnNameList,
        hz02.columnKeyList,
      );
      hz02.BUS_DEPT_NAME = dataMap.BUS_DEPT_NAME[dataMap.BUS_DEPT_NAME.length - 1];
      getechartHZ02();
    });
  };
  const onhz02Clicked = (record) => {
    hz02.BUS_DEPT_NAME = record.BUS_DEPT_NAME;
    getechartHZ02();
  };
  const echartHZ02 = reactive({
    chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const echartresize2 = ref();
  const getechartHZ02 = () => {
    queryAggregate(
      dataType.parameter4(
        'YM',
        props.month,
        2023042414083101,
        'AREA_NAME',
        props.conditionalmonth,
        'BUS_DEPT_NAME',
        hz02.BUS_DEPT_NAME,
      ),
    ).then((result) => {
      const dataMap = result.data['2023042414083101'].dataMap;
      echartHZ02.xAxis = dataMap.YM;
      echartHZ02.series = echartsStyle.echarts04(dataMap.MONTH_ARRIVAL_AMT);
    });
    echartresize2.value.Refresh();
  };
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };

  const hz03 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '按订货（万元）',
        children: ['MONTH_CONTR_AMT', 'YEAR_CONTR_AMT'],
      },
      {
        title: '按到货（万元）',
        children: ['MONTH_ARRIVAL_AMT', 'YEAR_ARRIVAL_AMT'],
      },
    ],
    columns: [
      {
        title: '业务部门',
        key: 'PROJ_BELONG_RECTANGLE_NAME',
        dataIndex: 'PROJ_BELONG_RECTANGLE_NAME',
        width: '25%',
      },
      { title: '当月', key: 'MONTH_CONTR_AMT', dataIndex: 'MONTH_CONTR_AMT', formatter: 'rate5' },
      { title: '累计', key: 'YEAR_CONTR_AMT', dataIndex: 'YEAR_CONTR_AMT', formatter: 'rate5' },
      {
        title: '当月',
        key: 'MONTH_ARRIVAL_AMT',
        dataIndex: 'MONTH_ARRIVAL_AMT',
        formatter: 'rate5',
      },
      { title: '累计', key: 'YEAR_ARRIVAL_AMT', dataIndex: 'YEAR_ARRIVAL_AMT', formatter: 'rate5' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
    PROJ_BELONG_RECTANGLE_NAME: '',
  });
  const hz03OnClickModal = (callback) => {
    callback('采购运营指标情况');
  };
  const search3 = async (widgetId, name) => {
    hz03.keyColumnNameList = [];
    hz03.columnKeyList = [];
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      hz03.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    hz03.columnKeyList = res2.data;
  };
  const getRegionalcenterhz03 = async (PUR_REGION_NAME) => {
    await search3(2023051609203060, '设备品类中心');
    queryAggregate(
      dataType.parameter2('AREA_NAME', PUR_REGION_NAME, 2023051609203060, 'YM', props.month),
    ).then((result) => {
      const dataMap = result.data['2023051609203060'].dataMap;
      hz03.dataSource = Transformer.toTableData3(result.data, '2023051609203060');
      hz03.PROJ_BELONG_RECTANGLE_NAME =
        dataMap.PROJ_BELONG_RECTANGLE_NAME[dataMap.PROJ_BELONG_RECTANGLE_NAME.length - 1];
      getechartHZ03();
    });
  };
  const onhz03Clicked = (record) => {
    hz03.PROJ_BELONG_RECTANGLE_NAME = record.PROJ_BELONG_RECTANGLE_NAME;
    getechartHZ03();
  };

  const echartHZ03 = reactive({
    chart: ['订货', '到货'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const echartresize3 = ref();
  const getechartHZ03 = () => {
    queryAggregate(
      dataType.parameter3(
        'YM',
        props.month,
        2023051609362460,
        'PROJ_BELONG_RECTANGLE_NAME',
        hz03.PROJ_BELONG_RECTANGLE_NAME,
      ),
    ).then((result) => {
      const dataMap = result.data['2023051609362460'].dataMap;
      echartHZ03.xAxis = dataMap.YM;
      echartHZ03.series = echartsStyle.echarts13(
        dataMap.MONTH_CONTR_AMT,
        dataMap.MONTH_ARRIVAL_AMT,
      );
    });
    echartresize3.value.Refresh();
  };

  const hz04 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '按合同（万元）',
        children: ['BDGT_AMT', 'MONTH_CONTR_AMT', 'YEAR_TOTAL_CONTR_AMT', 'MONTH_CONTR_FATE'],
      },
      {
        title: '按到货（万元）',
        children: ['MONTH_ARRIVAL_AMT', 'YEAR_TOTAL_ARRIVAL_AMT'],
      },
    ],
    columns: [
      { title: '部门', key: 'BUS_DEPT_NAME', dataIndex: 'BUS_DEPT_NAME' },
      { title: '年度预算', key: 'BDGT_AMT', dataIndex: 'BDGT_AMT', formatter: 'rate5' },
      { title: '当月', key: 'MONTH_CONTR_AMT', dataIndex: 'MONTH_CONTR_AMT', formatter: 'rate5' },
      {
        title: '年累计',
        key: 'YEAR_TOTAL_CONTR_AMT',
        dataIndex: 'YEAR_TOTAL_CONTR_AMT',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        key: 'MONTH_CONTR_FATE',
        dataIndex: 'MONTH_CONTR_FATE',
        formatter: 'rate3',
      },
      {
        title: '当月',
        key: 'MONTH_ARRIVAL_AMT',
        dataIndex: 'MONTH_ARRIVAL_AMT',
        formatter: 'rate5',
      },
      {
        title: '年累计',
        key: 'YEAR_TOTAL_ARRIVAL_AMT',
        dataIndex: 'YEAR_TOTAL_ARRIVAL_AMT',
        formatter: 'rate5',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
    BUS_DEPT_NAME: '',
  });
  const hz04OnClickModal = (callback) => {
    callback('工程设备采购规模');
  };
  const search4 = async (widgetId, name) => {
    hz04.keyColumnNameList = [];
    hz04.columnKeyList = [];
    const res1 = await searchAllocate({ widgetId, targetName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      hz04.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, targetName: name, ym: userStore.yearDate });
    hz04.columnKeyList = res2.data;
  };
  const getRegionalcenterhz04 = async (PUR_REGION_NAME) => {
    await search4(2023052412165506, PUR_REGION_NAME);
    queryAggregate(
      dataType.parameter2('YM', props.month, 2023052412165506, 'AREA_NAME', PUR_REGION_NAME),
    ).then((result) => {
      const dataMap = result.data['2023052412165506'].dataMap;
      hz04.dataSource = Transformer.toTableData3(result.data, '2023052412165506');
      hz04.BUS_DEPT_NAME = dataMap.BUS_DEPT_NAME[dataMap.BUS_DEPT_NAME.length - 1];
      getechartHZ04();
    });
  };
  const onhz04Clicked = (record) => {
    hz04.BUS_DEPT_NAME = record.BUS_DEPT_NAME;
    getechartHZ04();
  };

  const echartHZ04 = reactive({
    chart: ['订货', '到货'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const echartresize4 = ref();
  const getechartHZ04 = () => {
    queryAggregate(
      dataType.parameter4(
        'YM',
        props.month,
        2023052512165505,
        'AREA_NAME',
        props.conditionalmonth,
        'BUS_DEPT_NAME',
        hz04.BUS_DEPT_NAME,
      ),
    ).then((result) => {
      const dataMap = result.data['2023052512165505'].dataMap;
      echartHZ04.xAxis = dataMap.YM;
      echartHZ04.series = echartsStyle.echarts13(
        dataMap.MONTH_CONTR_AMT,
        dataMap.MONTH_ARRIVAL_AMT,
      );
    });
    echartresize4.value.Refresh();
  };
</script>

<style lang="less" scoped>
  .blockstyle {
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .title {
    font-family: @font-family;
    font-size: 1.3vw;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
</style>
