<!-- 查看线索日志 -->
<template>
  <div class="historyTabModel">
    <a-modal
      :title="title"
      :visible="props.visible"
      :mask-closable="false"
      width="80%"
      @ok="handleOk"
      @cancel="cancel"
    >
      <a-table
        v-if="title === '查看日志'"
        :columns="state.columns"
        :data-source="state.dataSource"
        :loading="state.loading"
        :scroll="{ x: true }"
        :pagination="pagination"
        @change="pagingChange"
      ></a-table>
      <div v-else-if="props.title === '查看失败日志' && state.logData" class="log">
        <div v-for="(item, index) in state.logData" :key="index">
          {{ item }}
        </div>
      </div>
      <a-empty v-else />
    </a-modal>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch } from 'vue';
  import { getdetail, getlogy } from '@/api/supervisionModel';
  defineOptions({
    name: 'historyTabModel',
    inheritAttrs: false,
  });
  const props = defineProps({
    visible: { type: Boolean, default: false },
    title: { type: String, default: '' },
    data: { type: Object, default: () => {} },
    modelData: { type: Object, default: () => {} },
  });
  watch(
    () => props.visible,
    (newVal) => {
      if (newVal) {
        pageConfig();
      }
    },
  );
  const emits = defineEmits(['ok', 'cancel']);
  const state = reactive({
    modalVisible: props.visible,
    columns: [],
    dataSource: [],
    loading: false,
    connectedTable: false,
    // 分页配置
    pagination: {
      pageSizeOptions: [5, 10, 20, 30, 40, 100],
      defaultCurrent: 1,
      defaultPageSize: 5,
      showQuickJumper: true,
      showSizeChanger: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
    logData: '', // 日志
  });
  // 确认
  const handleOk = () => {
    emits('ok');
  };
  // 关闭
  const cancel = () => {
    emits('cancel');
  };
  // 分页面配置
  const pageConfig = () => {
    if (props.title === '查看日志') {
      mysqlLog();
    } else if (props.title === '查看失败日志') {
      seeFailureLog();
    }
  };
  // 分页操作
  const pagingChange = (selectedRowKeys) => {
    const params = {
      pageSize: selectedRowKeys.pageSize,
      pageNum: selectedRowKeys.current,
      total: state.pagination.total,
    };
    state.pagination.defaultPageSize = selectedRowKeys.pageSize;
    // 分页改变
    state.pagination.defaultCurrent = selectedRowKeys.current;
    tmysqlLog(params);
  };
  // 分页配置
  const pagingConfig = (data) => {
    state.pagination.total = data.total ? data.total : 0;
    state.pagination.defaultPageSize = data.pageSize ? data.pageSize : 0;
  };
  // 失败日志
  const seeFailureLog = () => {
    getlogy({
      dsProcessInstanceId: props.data.dsProcessInstanceId,
    }).then((res) => {
      if (res.code === 'OK') {
        state.logData = res.data;
      }
    });
  };
  // mysql日志
  const mysqlLog = (data) => {
    state.loading = true;
    if (props.modelData.showIf) {
      state.connectedTable = true;
    }
    const params = {
      queryHistory: '1',
      dataModelId: props.modelData.id,
      pageSize: state.pagination.defaultPageSize,
      pageNum: state.pagination.defaultCurrent,
      queryHistoryTime: props.data.commitTime,
      connectedTable: state.connectedTable,
    };
    // 判断是否是监督执纪的列表，如果是需要多表联查
    if (props.modelData.showIf) {
      params.connectedTable = true;
      params.connectedTableType = 1;
    }
    if (data) {
      for (const key in data) {
        params[key] = data[key];
      }
    }
    getdetail({
      ...params,
    }).then((res) => {
      state.loading = false;
      if (res.data.code === 'OK') {
        pagingConfig(res);
        const columns = [];
        res.data.data.modelsDetailHeads.forEach((item) => {
          columns.push({
            title: item.columnCname,
            dataIndex: item.columnName,
            key: item.columnName,
            width: 200,
            ellipsis: true,
          });
        });
        // 绑定数据
        state.dataSource = res.data.data.modelList;
        state.columns = columns;
      }
    });
  };
</script>

<style lang="less" scoped>
  /deep/.ant-modal {
    width: 80% !important;
  }

  .log {
    height: 500px;
    overflow: hidden;
    overflow-y: auto;
    color: red;
    > div {
      margin-bottom: 26px;
    }
  }
</style>
