<template>
  <div>
    <div class="tabs">
      <a-tabs v-model:activeKey="state.activeKey" @change="callback">
        <a-tab-pane key="tab1" tab="运行结果">
          <LastResultSetModel ref="tab1" :model-data="modelData"> </LastResultSetModel>
        </a-tab-pane>
        <a-tab-pane key="tab3" tab="历史运行记录">
          <HistoricalOperationRecord ref="tab3" :model-data="modelData"></HistoricalOperationRecord>
        </a-tab-pane>
        <a-tab-pane key="tab5" tab="执行日志">
          <ExecutionLog :model-data="modelData"></ExecutionLog>
        </a-tab-pane>
      </a-tabs>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ref, reactive } from 'vue';
  import LastResultSetModel from './lastResultSetModel.vue'; // 监督模型最近一次结果集
  import ExecutionLog from './executionLog.vue'; // 执行日志
  import HistoricalOperationRecord from './historicalOperationRecord.vue'; // 历史运行记录
  const props = defineProps({
    modelData: { type: Object, default: () => {} },
  });
  const emits = defineEmits(['showTabs']);
  const state = reactive({
    dataLog: [],
    selectedRowKeys: [], // Check here to configure the default column
    visible: false,
    tabKey: 'tab1', // tabkey值
    clueData: {}, // 处理数据
    selectedRowKeysList: [], // 列表选择数据
    dataPushShow: false, // 线索推送
    activeKey: ref('tab1'),
  });
  const callback = (key) => {
    let flag = true;
    state.tabKey = key;
    flag = key == 'tab1' ? true : false;
    emits('showTabs', flag);
  };
</script>
