<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      :title="state.modelGroupData.modelGroupName"
      width="95%"
      :footer="null"
      destroy-on-close
      @ok="handleOk"
      @cancel="handleOk"
    >
      <div class="modelFeatures" style="margin: 0">运行结果</div>
      <div class="header">
        <QueryFilter
          ref="conditionFilter"
          :visible="true"
          :field-list="state.fields"
          :isadd-condition-group="false"
          @change="onConditionChange"
        ></QueryFilter>
        <div class="search">
          <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
          <a-button type="danger" style="margin-left: 5px" @click="onReset">重置</a-button>
        </div>
      </div>
      <DynamicTable
        :data-source="state.dataSource"
        :columns="columns"
        auto-height
        :scroll="{ x: 2000, y: 300 }"
        :row-class-name="addRowColor"
        :loading="state.loading"
        :show-refresh-setting="false"
        :row-selection="{
          selectedRowKeys: state.selectedRowKeys,
          onChange: onSelectChange,
          getCheckboxProps: getCheckboxPropsFn,
          fixed: true,
        }"
        @change="onPageChange"
      >
        <template #toolbar>
          <!-- <a-button type="primary" @click="dataPushFn"> 待办推送 </a-button> -->
          <a-button
            v-show="state.dataSource.length > 0"
            type="primary"
            :disabled="state.modelGroupData.confirmPush == '20'"
            @click="surePushFn"
          >
            待办推送
          </a-button>
          <a-button
            v-show="state.dataSource.length > 0"
            :loading="state.downloadVisible"
            type="primary"
            @click="downLoadFn"
          >
            下载结果
          </a-button>
        </template>
      </DynamicTable>
      <div class="modelFeatures">模型组信息</div>
      <keyInformation :key-data="state.modelGroupData"></keyInformation>
    </a-modal>
    <!-- <ModelGroupDataPush
      ref="pushRef"
      :models-detail-heads="state.modelsDetailHeads"
      :data="state.selectedRowList"
      :model-data="state.modelGroupData"
      @ok="pushFinish('ok')"
      @cancel="pushFinish"
    ></ModelGroupDataPush> -->
    <!-- <a-modal v-model:visible="state.downloadVisible" :title="null" @ok="handleOkTip">
      <p>点击确定到数据中心下载文件</p>
    </a-modal> -->
    <!-- 修改检查员 -->
    <editInspector ref="editInspectorRef" @ok="editDep"></editInspector>
    <!-- 按条件下载 -->
    <selectDown
      :visible="state.selectDownShow"
      :field-list="state.fields"
      :data-model-id="state.dataModelId"
      :model-name="state.modelGroupData.modelGroupName"
      @close="closeSelectDown"
    ></selectDown>
    <!-- 按条件推送 -->
    <selectPush
      :visible="state.selectPushShow"
      :total="state.pagination.total"
      :data-model-id="state.dataModelId"
      :select-total="state.selectedRowList.length"
      :record-keys="state.recordKeys"
      @close="closeSelectPush"
    ></selectPush>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, h } from 'vue';
  import dayjs from 'dayjs';
  import { isNil } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import selectDown from './selectDown.vue';
  import selectPush from './selectPush.vue';
  // import ModelGroupDataPush from './ModelGroupDataPush.vue';
  import editInspector from './EditInspector.vue';
  import { QueryFilter } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  import { useTable } from '@/components/core/dynamic-table';
  import { getModelGroupInfo } from '@/api/modelGroup';
  // import { confirmPush } from '@/api/supervisionModel';
  import dict from '@/utils/dict.js';
  import keyInformation from '@/views/supervisionGovern/modelGroupTodo/components/keyInformation';
  const emit = defineEmits(['search']);
  const dialogFormVisible = ref(false);
  // const pushRef = ref();
  const conditionFilter = ref();
  const editInspectorRef = ref();
  const dateFormat = 'YYYY-MM-DD';
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: '_hoodie_record_key',
    bordered: true,
  });
  const state = reactive({
    selectPushShow: false,
    selectDownShow: false,
    modelGroupData: {},
    canQuery: true,
    loading: false,
    downLoading: false,
    downloadVisible: false,
    dataSource: [],
    filters: [],
    filters1: [],
    fields: [],
    dataModelId: null,
    selectedRowKeys: [] as any[],
    selectedRowList: [] as any[], // 列表选择的数据
    recordKeys: [],
    // 分页配置
    pagination: {
      current: 1,
      pageSize: 20,
      total: 0,
    },
    inspectorData: [],
  });
  // const router = useRouter();
  const columns = ref([]);
  const downLoadFn = () => {
    state.selectDownShow = true;
  };

  // 匹配行加底色
  const addRowColor = (record) => {
    // 单元格背景色添加过滤条件，如果以TTL结尾的行，设置背景色record.notify_status === '已推送'
    if (record.notify_status === 0) {
      return 'cell-class';
    }
    return '';
  };
  const surePushFn = () => {
    state.selectPushShow = true;
  };
  // const dataPushFn = () => {
  //   if (state.selectedRowList.length != 0) {
  //     // 打开推送
  //     pushRef.value.onChangeVisable(true);
  //   } else {
  //     message.error('需要至少选择一条数据！');
  //   }
  // };
  // 列表选择数据
  const onSelectChange = (selectedRowKeys, list) => {
    state.selectedRowList = [];
    state.selectedRowKeys = [];
    state[`selectedRowKeys-${state.pagination.current}`] = selectedRowKeys;
    state[`selectedRowList-${state.pagination.current}`] = list;
    for (const [key, value] of Object.entries(state)) {
      if (key.startsWith('selectedRowKeys-')) {
        state.selectedRowKeys = state.selectedRowKeys.concat(value);
      }
      if (key.startsWith('selectedRowList-')) {
        state.selectedRowList = state.selectedRowList.concat(value);
      }
    }
    state.recordKeys = state.selectedRowList.map((item) => {
      return item._hoodie_record_key;
    });
  };
  const getCheckboxPropsFn = (record) => {
    return {
      disabled: record.notify_status === 0, // 禁选项
      name: `${record.notify_status}`,
    };
  };
  const onSearch = () => {
    let filters: any = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0];
    state.pagination.current = 1;
    localStorage.setItem('listFilters', JSON.stringify(state.filters));
    loadData();
  };
  const filterData = () => {
    const filters: any = [];
    if (!isNil(state.filters)) {
      const filters1 = JSON.parse(JSON.stringify(state.filters1));
      if (filters1 && filters1.length > 0) {
        filters1.forEach((item) => {
          const list: any = [];
          item.forEach((v) => {
            let obj = {};
            const val: any = [];
            if (v.value1 && v.type == 'date') {
              v.value1 = dayjs(v.value1).format(dateFormat);
            }
            if (v.value2 && v.type == 'date') {
              v.value2 = dayjs(v.value2).format(dateFormat);
            }
            if (v.value1) {
              val.push(v.value1);
            }
            if (v.value2) {
              val.push(v.value2);
            }
            let ctype = '';
            if (v.type === 'number') {
              ctype = '2';
            } else if (v.type === 'date') {
              ctype = '4';
            } else if (v.type === 'dict') {
              ctype = '';
            }
            let values = val;
            if (v.type === 'select') {
              values = val[0];
            }
            if (v.type === 'text' && (v.operatorValue == 'CT' || v.operatorValue == 'NCT')) {
              values = val[0];
            }

            obj = {
              columnName: v.field,
              filterType: v.operatorValue,
              columnType: ctype,
              values,
            };
            list.push(obj);
          });
          filters.push(list);
        });
      }
    }

    return filters;
  };
  // const filterData = () => {
  //   const filters1 = JSON.parse(JSON.stringify(state.filters));
  //   const filters = [];
  //   if (filters1 && filters1.length > 0) {
  //     filters1.forEach((item) => {
  //       const list = [];
  //       item
  //         .filter((v) => Object.hasOwn(v, 'field'))
  //         .forEach((v) => {
  //           let obj = {};
  //           let val = [];
  //           // 查询条件子集转化
  //           if (v.dictCode && v.value1) {
  //             val = v.value1;
  //             v.columnType = 1;
  //           }
  //           if (v.value1 && v.columnType == 3) {
  //             v.value1 = dayjs(v.value1).format(dateFormat);
  //           }
  //           if (v.value2 && v.columnType == 3) {
  //             v.value2 = dayjs(v.value2).format(dateFormat);
  //           }
  //           if (v.value1 && v.dictCode == null) {
  //             if (v.columnType == 1) {
  //               val = v.value1;
  //             } else {
  //               val.push(v.value1);
  //             }
  //           }
  //           if (v.value2) {
  //             val.push(v.value2);
  //           }
  //           obj = {
  //             columnName: v.field,
  //             filterType: v.operatorValue,
  //             columnType: v.columnType,
  //             values: val,
  //             queryType: v.queryType,
  //           };
  //           list.push(obj);
  //         });
  //       filters.push(list);
  //     });
  //   }
  //   console.log('filters', filters);
  //   return filters;
  // };
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      const filters = conditionFilter.value.getConditionResult();
      state.filters = filters;
      state.filters1 = filters;
      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };
  const onReset = () => {
    state.selectedRowKeys = [];
    state.selectedRowList = [];
    state.pagination.current = 1;
    state.pagination.pageSize = 20;
    conditionFilter.value.clearConditionResult();
    state.filters = conditionFilter.value.getConditionResult();
    state.filters1 = state.filters;

    conditionFilter.value.delCondition(0, 0);
  };
  const onPageChange = (data) => {
    state.pagination.current = data.current;
    state.pagination.pageSize = data.pageSize;
    loadData();
  };
  const loadData = () => {
    state.loading = true;
    // state.selectedRowList = []; // 刷新数据清空已勾选数据
    // state.selectedRowKeys = []; // 刷新数据取消默认勾选
    // state.recordKeys = []; // 刷新数据取消默认勾选
    const _params = {
      dataModelId: state.dataModelId,
      connectedTable: true,
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: state.filters,
    };
    // 获取详情信息
    getModelGroupInfo(_params).then((r) => {
      state.loading = false;
      if (r.code === 'OK') {
        if (r.data) {
          state.pagination.total = r.total;
          dynamicTableInstance?.updatePagination({
            total: r.total,
            current: r.pageNum,
            pageSize: r.pageSize,
          });
        }
        state.modelsDetailHeads = r.data.modelsDetailHeads;
        state.dataSource = r.data.modelList;
        const columns1: Array<any> = [];
        let fields: Array<any> = [];
        state.modelsDetailHeads.forEach((item) => {
          columns1.push({
            title: item.columnCname,
            dataIndex: item.columnName,
            key: item.columnName,
            width: 200,
            resizable: true,
            dictCode: item.dictCode || null,
            ellipsis: true,
            customRender: ({ text }) => {
              if (item.dictCode != null) {
                //值集转化
                const obj = dict.getValue(item.dictCode, text);
                text = obj == undefined ? text : obj.itemText;
              }
              const child = h('span', {
                innerText: text,
                title: text,
              });
              if (item.columnName == 'MODEL_NAME') {
                const _tagList = text.split(',');
                //所属模型用tag标签展示
                const _tag = h('span', [
                  _tagList.map((x) => {
                    return <a-tag>{x}</a-tag>;
                  }),
                ]);
                return (
                  <a-tooltip title={text} placement="topLeft">
                    {_tag}
                  </a-tooltip>
                );
              }
              if (item.columnName == 'CONCAT_COL') {
                return (
                  <a-tooltip title={text} placement="topLeft">
                    {text}
                  </a-tooltip>
                );
              }

              // if (
              //   item.columnName == 'handle_username' &&
              //   state.modelGroupData.confirmPush != '20'
              // ) {
              //   //  处理人可编辑--动态控制可编辑confirmPush==20-- 10 未确认 20 已确认
              //   const _icon = h('a', {
              //     innerText: text,
              //     style: { color: '#1890ff' },
              //   });
              //   return (
              //     <span onClick={() => editInspectorRefFn(record, index)}>
              //       {_icon}
              //       <form-outlined style="color:#1890ff"></form-outlined>
              //     </span>
              //   );
              // } else { }
              return child;
            },
          });
          fields.push({
            columnCname: item.columnCname,
            columnName: item.columnName,
            key: item.columnName,
            newType: item.columnType,
            example: item.example,
            dictCode: item.dictCode,
            queryType: item.queryType,
          });
        });
        let newArr = columns1;
        fields = QueryFieldConvert.columnFields2QueryFields(fields);
        newArr = newArr.filter((item) => {
          return item.dataIndex != '_hoodie_commit_seqno';
        });
        newArr = newArr.filter((item) => {
          return item.dataIndex != '_hoodie_record_key';
        });
        fields = fields.filter((item) => {
          return item.name != '_hoodie_commit_seqno';
        });
        fields = fields.filter((item) => {
          return item.name != '_hoodie_record_key';
        });
        columns.value = newArr; //变动的值
        state.fields = fields;
      } else {
        message.error(r.message);
        columns.value = [];
        state.fields = [];
      }
    });
  };

  // const editInspectorRefFn = (record, index) => {
  //   editInspectorRef.value.onChangeVisable(record, index, true);
  // };
  const editDep = (index, dept, name) => {
    state.dataSource[index].clue_accept_dept = dept;
    state.dataSource[index].handle_username = name;
  };
  const closeSelectDown = (flag) => {
    if (flag == 'link') {
      handleOk();
    }
    state.selectDownShow = false;
  };
  const closeSelectPush = (type) => {
    state.selectPushShow = false;
    if (type == 'successPush') {
      handleOk();
      emit('search');
    }
  };
  const handleOk = () => {
    state.selectedRowList = [];
    state.selectedRowKeys = [];
    state.filters = [];
    dialogFormVisible.value = false;
  };
  const onChangeVisable = (record) => {
    localStorage.removeItem('listFilters');
    dialogFormVisible.value = true;
    state.modelGroupData = record;
    state.dataModelId = record.id;
    state.dataSource = [];
    loadData();
  };
  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 18px;
    font-weight: 600;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
  .header {
    display: flex;
    position: relative;
    .notifyWay {
      position: absolute;
      top: 10px;
      left: 50px;
    }
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
  .modelFeatures {
    background: #e4e4e4;
    font-size: 16px;
    color: #000;
    padding: 0 15px;
    margin: 20px 0;
  }
  /deep/ .ant-table-tbody .cell-class {
    background-color: rgba(211, 211, 211, 0.3);
  }
</style>
