<template>
  <div class="page-container">
    <DynamicTable
      :data-request="loadData"
      :columns="columns"
      :row-selection="rowSelection"
      auto-height
      :scroll="{ x: 2000, y: 300 }"
      :loading="state.loading"
      :search="true"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.dataIndex === 'seeValue'">
          <span class="seeValue" @click="showSeeModal(record)">查看</span>
        </template>
        <template v-if="column.dataIndex === 'manageFields'">
          <span class="seeValue" @click="showFieldModal(record)">查看</span>
        </template>
      </template>
      <template #toolbar>
        <a-button v-if="$auth('perfor:add')" type="primary" @click="addEdiitModel({})"
          >新增</a-button
        >
        <a-button
          v-if="$auth('perfor:delete')"
          type="primary"
          :disabled="!isCheckRows"
          @click="delRowConfirm(rowSelection.selectedRowKeys)"
          >删除</a-button
        >
      </template>
    </DynamicTable>
    <!-- 新增/编辑 -->
    <addEdiit ref="AddEdit" :check-data="state.colData" @reloadList="reloadList"></addEdiit>
    <!-- 接口返回值查看 -->
    <a-modal
      v-model:visible="visible"
      title="接口返回值"
      :footer="null"
      width="500px"
      @ok="handleOk"
    >
      <a-textarea v-model:value="state.dataSourceDemo" disabled class="see-textarea" />
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, computed } from 'vue';
  import addEdiit from './components/addEdiit.vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { useTable, type LoadDataParams } from '@/components/core/dynamic-table';
  import { getPerformance, deletePerfor } from '@/api/datenBasis/performance';
  defineOptions({
    name: 'performance',
  });
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: 'pkId',
    bordered: true,
  });
  // 是否勾选了表格行
  const isCheckRows = computed(() => rowSelection.value.selectedRowKeys.length);

  const AddEdit = ref();
  const state = reactive({
    colData: {},
    dataSource: [],
    pagination: {
      current: 1,
      pageSize: 10,
    },
    ThreadProcessingLogShow: false,
    checkData: {},
    loading: false,
    dataSourceDemo: '',
  });
  //列表勾选框
  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      rowSelection.value.selectedRowKeys = selectedRowKeys;
    },
  });
  // 刷新
  const reloadList = () => {
    dynamicTableInstance?.reload();
  };
  // 请求列表数据
  const loadData = async (params: LoadDataParams) => {
    state.loading = true;
    const param = {
      ...params,
    };
    const { data } = await getPerformance(param);
    if (data.success) {
      state.dataSource = data.data;
      state.loading = false;
      return {
        list: data.data,
        pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
      };
    }
  };
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 60,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        const actions = [
          {
            label: '编辑',
            auth: 'perfor:edit',
            onClick: () => {
              state.colData = record;
              AddEdit.value.onChangeVisable(true, 'edit');
            },
          },
        ];
        return actions;
      },
    },
  ];
  // 查看接口返回值弹框
  const visible = ref<boolean>(false);
  const showSeeModal = (record) => {
    state.dataSourceDemo = record.dataSourceDemo;
    visible.value = true;
  };
  const handleOk = (e: MouseEvent) => {
    console.log(e);
    visible.value = false;
  };
  // 查看字段管理弹框
  const showFieldModal = (record) => {
    AddEdit.value.onChangeVisable(true, 'seeField');
    state.colData = record;
  };
  const delRowConfirm = async (ids) => {
    const params = { ids };
    await deletePerfor(params);
    dynamicTableInstance?.reload();
  };
  const addEdiitModel = (record) => {
    AddEdit.value.onChangeVisable(true, 'add');
    state.colData = record;
  };
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  .header {
    display: flex;
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
  .seeValue {
    color: #1890ff;
    cursor: pointer; //鼠标变手
  }
  .see-textarea {
    height: 300px;
  }
</style>
