<template>
  <div class="page-container">
    <div class="header">
      <QueryFilterNew
        ref="QueryFilter"
        :visible="state.show"
        :field-list="fields"
        :isadd-condition-group="false"
        :class="state.show ? null : 'showheigh'"
        @change="onConditionChange"
      ></QueryFilterNew>
      <div class="notifyWay">
        <a-checkbox-group v-model:value="state.notifyWay" @change="changeGroup">
          <b> 业务用途：</b>
          <a-checkbox value="1">疑点模型</a-checkbox>
          <a-checkbox value="2">分析模型</a-checkbox>
        </a-checkbox-group>
        <a-checkbox-group
          v-model:value="state.notifyWay2"
          class="notify-Way2"
          @change="changeGroup2"
        >
          <b> 推送状态：</b>
          <a-checkbox value="0">已推送</a-checkbox>
          <a-checkbox value="1">未推送</a-checkbox>
          <a-checkbox value="3">部分推送</a-checkbox>
        </a-checkbox-group>
      </div>
      <div class="search">
        <a-button
          v-if="$auth('SupervisionGovern:exportSelect')"
          type="primary"
          @click="exportSelectExcel"
          >导出当前列表</a-button
        >
        <a-button
          v-if="$auth('SupervisionGovern:export')"
          style="margin-left: 10px"
          type="primary"
          @click="exportExcel"
          >导出Excel</a-button
        >
        <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询</a-button>
        <a-button type="danger" style="marginleft: 5px" @click="onReset">重置</a-button>
      </div>
    </div>
    <DynamicTable
      :data-source="state.dataSource"
      :columns="columns"
      :scroll="{ x: 2000, y: 300 }"
      auto-height
      :loading="state.loading"
      @change="onPageChange"
    >
    </DynamicTable>
    <!--查看模型-->
    <model-view ref="modelViewRef" @ok="handleViewClose"></model-view>
    <!-- 自动推送设置 -->
    <PushRules ref="PushRulesRef"></PushRules>
  </div>
</template>

<script setup lang="tsx">
  import { onMounted, reactive, ref, nextTick } from 'vue';
  import { ExclamationCircleOutlined } from '@ant-design/icons-vue';
  import { useRoute } from 'vue-router';
  import { cloneDeep } from 'lodash-es';
  import dayjs from 'dayjs';
  import { Modal } from 'ant-design-vue';
  import PushRules from './PushRules.vue';
  import { baseColumns } from './columns';
  import queryFields from './query-field.js';
  import ModelView from './modelresultView/index.vue';
  import { useSupervisionGovern } from '@/store/modules/supervisionGovern';
  import { useTable } from '@/components/core/dynamic-table';
  import {
    downloadModelResult,
    getAllRoleUsers,
    getAllUsers,
    getModelResult,
    getUsersAdmin,
    dataSetItem,
  } from '@/api/supervisionModel';
  import { QueryFilterNew } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  defineOptions({
    name: 'supervisionModel',
  });
  const dateFormat = 'YYYY-MM-DD';
  const fields = QueryFieldConvert.columnFields2QueryFields(queryFields.fieldsOne);
  const QueryFilter = ref();
  const modelViewRef = ref();
  const PushRulesRef = ref();
  const SupervisionGovern = useSupervisionGovern();
  const state = reactive<any>({
    modelConfig: [],
    selectDownRadio: null,
    radioStyle: {
      display: 'block',
      height: '40px',
      lineHeight: '30px',
    },
    canQuery: true,
    filters: [],
    filters1: [],
    show: true,
    dataSource: [],
    modelOwners: [],
    pagination: {
      current: 1,
      pageSize: 20,
    },
    downloadVisible: false,
    showIf: true,
    obj: {
      columnName: 'onlineStatus',
      filterType: '=',
      columnType: '',
      values: ['1'],
    },
    loading: false,
    notifyWay: [''],
    notifyWay2: [''],
    notifyfilters: [],
    notifyfilters2: [],
  });
  const route = useRoute();
  const exportSelectExcel = async () => {
    Modal.confirm({
      title: '确定要当前监督模型列表吗?',
      icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: async () => {
        await downloadModelResult(
          {
            filters: getFilters(),
            pageNum: null,
            pageSize: null,
          },
          '当前监督模型列表.xlsx',
        );
      },
    });
  };
  const exportExcel = async () => {
    Modal.confirm({
      title: '确定要导出监督模型列表吗?',
      icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: async () => {
        await downloadModelResult(
          { filters: [state.obj], pageNum: null, pageSize: null },
          '监督模型列表.xlsx',
        );
      },
    });
  };

  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      state.filters = QueryFilter.value.getConditionResult();
      state.filters1 = QueryFilter.value.getConditionResult();
      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };

  const filterData = () => {
    const filters1 = JSON.parse(JSON.stringify(state.filters1));
    const filters = [];
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [];
        if (item.columnName !== 'onlineStatus') {
          item.forEach((v) => {
            let obj = {};
            const val = [];
            if (v.value1 && v.type == 'date') {
              v.value1 = dayjs(v.value1).format(dateFormat);
            }
            if (v.value2 && v.type == 'date') {
              v.value2 = dayjs(v.value2).format(dateFormat);
            }
            if (v.value1) {
              val.push(v.value1);
            }
            if (v.value2) {
              val.push(v.value2);
            }
            let ctype = '';
            if (v.type === 'number') {
              ctype = '2';
            } else if (v.type === 'date') {
              ctype = '4';
            } else if (v.type === 'dict') {
              ctype = '';
            }
            let values = val;
            if (v.type === 'select') {
              values = val[0];
            }
            if (v.type === 'text' && (v.operatorValue == 'CT' || v.operatorValue == 'NCT')) {
              values = val[0];
            }
            obj = {
              columnName: v.field,
              filterType: v.operatorValue,
              columnType: ctype,
              values,
            };
            list.push(obj);
          });
        }
        filters.push(list);
      });
    }
    return filters;
  };

  const onSearch = () => {
    let filters: any = [];
    filters = filterData();
    state.notifyfilters = businessSearch();
    state.notifyfilters2 = pushTagSearch();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0] || [];
    state.filters.push(state.obj);
    loadData();
  };

  const resetQ = () => {
    const arr = [
      [
        {
          field: '',
          type: 'text',
          value1: '',
          selectCode: [],
          operatorValue: 'CT',
          operatorList: [],
          name: '',
          cName: '',
          example: null,
          columnType: '1',
          dictCode: null,
        },
      ],
    ];
    QueryFilter.value.setConditionGroups(arr);
    QueryFilter.value.clearConditionResult();
    state.filters = QueryFilter.value.getConditionResult();
  };
  const onReset = () => {
    resetQ();
    state.filters1 = [];
    state.notifyfilters = undefined;
    state.notifyWay = [''];
    state.notifyfilters2 = undefined;
    state.notifyWay2 = [''];
    state.filters = [state.obj];
    loadData();
  };
  const getFilters = () => {
    const filters = state.filters || [];
    if (state.notifyWay[0]) {
      filters.push(state.notifyfilters[0]);
    }
    if (state.notifyWay2[0]) {
      filters.push(state.notifyfilters2[0]);
    }

    return filters;
  };
  const loadData = () => {
    state.loading = true;
    getModelResult({
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: getFilters(),
    }).then((r) => {
      if (r.data && !r.data.data && state.pagination.current != 1) {
        state.pagination.current = 1;
        loadData(); // 重新获取数据
      }
      if (r && r.data.data) {
        state.dataSource = r.data.data || [];
        dynamicTableInstance?.updatePagination({
          total: r.data.total,
          current: r.data.pageNum,
          pageSize: r.data.pageSize,
        });
        state.loading = false;
      } else {
        state.dataSource = [];
        dynamicTableInstance?.updatePagination({
          total: 0,
          current: 1,
          pageSize: 10,
        });
        state.loading = false;
      }
    });
  };

  const onPageChange = (data) => {
    state.pagination.current = data.current;
    state.pagination.pageSize = data.pageSize;
    onSearch();
  };

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: 'id',
    bordered: true,
  });

  const onRowClicked = async (record, numType) => {
    SupervisionGovern.setNumType(numType);
    SupervisionGovern.setVisible(true);
    SupervisionGovern.setModelData(record);
    const r = await getAllRoleUsers();
    record.showIf = state.showIf;
    record.sends = r.data;
    sessionStorage.setItem('lineOfDefenseType', record.lineOfDefenseType);
    const model = cloneDeep(record);
    if (model.modelConfig != undefined) {
      const config = JSON.parse(model.modelConfig);
      model.modelConfig = config;
    }
    modelViewRef.value.setFormValues(model);
  };
  const handleViewClose = () => {
    SupervisionGovern.setVisible(false);
  };
  // 设置click 事件
  baseColumns[0].customRender = ({ record, value }) => {
    return (
      <span
        onClick={() => {
          onRowClicked(record);
        }}
        style="color:#1890ff;cursor:pointer;"
      >
        <a-tooltip title={value} placement="topLeft">
          {value}
        </a-tooltip>
      </span>
    );
  };
  baseColumns[11].customRender = ({ record, value }) => {
    return (
      <span
        onClick={() => {
          onRowClicked(record, 'tsbj');
        }}
        style="color:#1890ff;cursor:pointer;"
      >
        <a-tooltip title={value} placement="topLeft">
          {value}
        </a-tooltip>
      </span>
    );
  };

  baseColumns[18].customRender = ({ record, value }) => {
    return (
      <span
        onClick={() => {
          onRowClicked(record, 'mxzx');
        }}
        style="color:#1890ff;cursor:pointer;"
      >
        <a-tooltip title={value} placement="topLeft">
          {value}
        </a-tooltip>
      </span>
    );
  };
  baseColumns[19].customRender = ({ record, value }) => {
    return (
      <span
        onClick={() => {
          onRowClicked(record, 'clzt');
        }}
        style="color:#1890ff;cursor:pointer;"
      >
        <a-tooltip title={value} placement="topLeft">
          {value}
        </a-tooltip>
      </span>
    );
  };

  const changeGroup = (val) => {
    state.notifyWay = val;
  };
  const changeGroup2 = (val) => {
    state.notifyWay2 = val;
  };
  // 疑点模型
  const businessSearch = () => {
    const filters = [
      {
        columnName: 'businessPurpose',
        filterType: '=',
        columnType: '',
        values: state.notifyWay,
      },
    ];
    return filters;
  };
  // 推送状态
  const pushTagSearch = () => {
    const filters = [
      {
        columnName: 'pushTag',
        filterType: '=',
        columnType: '',
        values: state.notifyWay2,
      },
    ];

    return filters;
  };
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 80,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        const actions: any = [];
        actions.push({
          label: '自动推送设置',
          actionType: 'icon',
          icon: 'SendOutlined',
          style: 'color:#1890ff;',
          onClick: () => {
            PushRulesRef.value.onChangeVisable(record);
          },
        });
        return actions;
      },
    },
  ];
  const search = async (record) => {
    const res = await dataSetItem({ id: record.id });
    if (res.code === 'OK' && res.data?.filters) {
      const dataJson = JSON.parse(res.data.filters);
      if (dataJson) {
        state.modelConfig = JSON.parse(res.data.filters);
      } else {
        state.modelConfig = [];
      }
    }
  };
  onMounted(() => {
    // 获得所有的用户 用于查询
    getAllUsers().then((r) => {
      const itemList = [];
      r.forEach((v) => {
        const obj = {
          itemText: v.username,
          itemValue: v.userId,
        };
        itemList.push(obj);
      });
      state.modelOwners = [...r];
    });
    getUsersAdmin({}).then((r) => {
      const userDaata = [];
      if (r.data.data) {
        r.data.data.forEach((v) => {
          const obj = {
            itemText: v.username,
            itemValue: v.username,
          };
          userDaata.push(obj);
        });
        fields.forEach((v) => {
          if (v.name === 'targetUsernames') {
            v.itemDtoList = userDaata;
          }
        });
      }
    });

    // 查询数据吧
    onSearch();
    setTimeout(() => {
      if (route.query.id) {
        onRowClicked(route.query);
      }
    }, 300);
  });
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  .header {
    display: flex;
    position: relative;
    .notifyWay {
      display: flex;
      position: absolute;
      top: 10px;
      left: 50px;
    }
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
  .notify-Way2 {
    margin-left: 50px;
  }
  .aspace {
    padding-left: 10px;
  }

  .icon-title {
    margin-right: 10px;
  }

  .icon-items {
    color: #1890ff;
  }
  /deep/.ant-table-fixed-right {
    z-index: 12;
  }
  /deep/ .rules-group-container {
    margin: 40px 0px 10px 0px;
  }
</style>
