<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      :title="`${state.title}问题`"
      width="1000px"
      :footer="null"
      destroy-on-close
      style="top: 0px"
      @ok="handleOk"
      @cancel="handleOk"
    >
      <div>
        <div class="top-btn">
          <div style="width: 60%">
            <a-form
              :model="state.topForm"
              :rules="topRules"
              :label-col="{ span: 4 }"
              :wrapper-col="{ span: 20 }"
            >
              <a-form-item label="项目选择" name="projectCode">
                <a-select
                  v-model:value="state.topForm.projectCode"
                  :allow-clear="true"
                  show-search
                  class="resource-select"
                  @change="changeProject"
                >
                  <a-select-option
                    v-for="(item, index) in state.allProjectList"
                    :key="index"
                    :value="item.projectCode"
                    :disabled="item.isExpired == '1'"
                  >
                    {{ item.projectName }}
                  </a-select-option>
                </a-select></a-form-item
              >
            </a-form>
          </div>
          <a-button
            html-type="submit"
            type="primary"
            style="background: #1890ff; color: #fff"
            :loading="state.loading"
            @click="onFinish1"
          >
            保存</a-button
          >
        </div>
        <span class="descriptions-title">问题信息</span>
        <a-divider style="margin: 10px 0" />
        <div v-show="state.title == '新增'" class="sub-btn">
          <a-button type="primary" size="small" @click="addNodeArr">
            <template #icon>
              <plus-circle-outlined />
            </template>
            添加
          </a-button></div
        >
        <a-form
          ref="auditFormRef"
          :model="state.auditForm"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 16 }"
        >
          <div class="form-box">
            <a-card
              v-for="(item, index) in state.auditForm.inventoryVoList"
              :key="index"
              style="width: 100%; margin-top: 15px"
            >
              <a-form-item
                label="问题类型"
                :name="['inventoryVoList', index, 'problemType']"
                :rules="{
                  required: true,
                  message: '请输入问题类型',
                  trigger: 'change',
                }"
              >
                <a-select
                  v-model:value="item.problemType"
                  :allow-clear="true"
                  show-search
                  class="resource-select"
                >
                  <a-select-option
                    v-for="(x, i) in state.problemTypeList"
                    :key="i"
                    :value="x.value"
                  >
                    {{ x.label }}
                  </a-select-option>
                </a-select>
              </a-form-item>
              <a-form-item
                label="问题责任人"
                :name="['inventoryVoList', index, 'problemPerson']"
                :rules="{
                  required: true,
                  message: '请选择问题责任人',
                }"
              >
                <a-select
                  v-model:value="item.problemPerson"
                  :allow-clear="true"
                  show-search
                  :filter-option="false"
                  placeholder="请选择问题责任人"
                  @search="handleUserSearch"
                  @deselect="getUsersFn(null)"
                  @change="(val) => changeUserFn(val, index)"
                >
                  <a-select-option
                    v-for="x in state.allUsers"
                    :key="x.userId"
                    :field-names="{ label: 'username', value: 'userId' }"
                    :value="`${x.userId}-${x.username}`"
                  >
                    <span role="img" class="" :aria-label="x.username">{{ x.username }}</span>
                    /
                    <span class="select-usercode">{{ x.employeeCode }}</span>
                  </a-select-option>
                </a-select>
              </a-form-item>
              <a-form-item
                label="问题整改要求"
                :name="['inventoryVoList', index, 'problemAsk']"
                :rules="{
                  required: true,
                  message: '请输入问题整改要求',
                  trigger: 'blur',
                }"
                style="margin-bottom: 25px"
              >
                <a-textarea
                  v-model:value="item.problemAsk"
                  :maxlength="500"
                  allow-clear
                  show-count
                  placeholder="请输入500字符以内"
                />
              </a-form-item>

              <a-form-item
                label="检查内容简述"
                :name="['inventoryVoList', index, 'problemContent']"
                :rules="{
                  required: true,
                  message: '请输入检查内容简述',
                  trigger: 'blur',
                }"
                style="margin-bottom: 25px"
              >
                <a-textarea
                  v-model:value="item.problemContent"
                  :maxlength="500"
                  allow-clear
                  show-count
                  placeholder="请输入500字符以内"
                />
              </a-form-item>
              <a-form-item
                label="发现问题简述"
                :name="['inventoryVoList', index, 'problemFind']"
                :rules="{
                  required: true,
                  message: '请输入发现问题简述',
                  trigger: 'blur',
                }"
              >
                <a-textarea
                  v-model:value="item.problemFind"
                  :maxlength="500"
                  allow-clear
                  show-count
                  placeholder="请输入500字符以内"
                /> </a-form-item
              ><div v-show="state.title == '新增'" class="sub-btn">
                <a-button
                  size="small"
                  type="text"
                  :disabled="state.auditForm.inventoryVoList.length == 1"
                  @click="delNodeArr(index)"
                >
                  <template #icon>
                    <MinusCircleOutlined />
                  </template>
                  移除
                </a-button></div
              >
            </a-card></div
          >
        </a-form>

        <a-collapse
          v-model:activeKey="activeKey"
          expand-icon-position="right"
          :bordered="false"
          default-active-key="1"
          style="background: #fff"
        >
          <span class="descriptions-title">项目信息</span>
          <a-divider style="margin: 10px 0" />
          <template #expandIcon="{ isActive }">
            <double-right-outlined
              class="icon"
              style="color: rgb(24, 144, 255); margin-bottom: 5px"
              :rotate="!isActive ? 0 : 90"
            />
          </template>
          <!-- 合并 -->
          <a-collapse-panel key="1" :style="'border: 0;'">
            <keyInformation :key-data="state.projectData"></keyInformation>
          </a-collapse-panel>
        </a-collapse>
      </div>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance, nextTick } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import keyInformation from './keyInformation.vue';
  import {
    getInventoryEdit,
    getInventorySave,
    getProjectList,
  } from '@/api/supervisionGovern/questionInventory';
  import { getUsersCode } from '@/api/supervisionModel';
  const { proxy } = getCurrentInstance();
  const emit = defineEmits(['search']);
  const dialogFormVisible = ref(false);

  const auditFormRef = ref();
  const activeKey = ref([]);
  const state = reactive({
    problemTypeList: proxy.$dict.getKeyValueByDictCode('PROBLEM_TYPE'), //问题类型
    imgVisible: false,
    imgUrl: '',
    loading: false,
    allProjectList: [],
    topForm: {
      projectCode: '',
    },
    title: '新增',
    auditForm: {
      inventoryVoList: [
        {
          problemType: '',
          problemPerson: '',
          problemPersonId: '',
          problemAsk: '',
          problemContent: '',
          problemFind: '',
        },
      ],
    },
    allUsers: [],

    rectificationList: [],
    projectData: {},
    pagination: {
      pageSizeOptions: ['10', '20', '30', '40'],
      current: 1,
      pageSize: 10,
      total: 0,
      showSizeChanger: true,
      showQuickJumper: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
  });

  const topRules = reactive({
    projectCode: [{ required: true, message: '请选择项目' }],
  });
  const changeProject = (val) => {
    nextTick(() => {
      state.projectData =
        state.allProjectList.length && state.allProjectList.find((x) => x.projectCode == val);
    });
  };
  // 添加
  const addNodeArr = () => {
    state.auditForm.inventoryVoList.push({
      problemType: '',
      problemPerson: '',
      problemPersonId: '',
      problemAsk: '',
      problemContent: '',
      problemFind: '',
    });
  };
  // 移除
  const delNodeArr = (index) => {
    state.auditForm.inventoryVoList.splice(index, 1);
  };
  const changeUserFn = (val, index) => {
    const _p = val.split('-');
    state.auditForm.inventoryVoList[index].problemPerson = _p[1];
    state.auditForm.inventoryVoList[index].problemPersonId = _p[0];
  };
  const handleUserSearch = (val) => {
    getUsersFn(val, 1);
  };
  const onChangeVisable = async (flag, record) => {
    state.allProjectList = await loadData();
    getUsersFn();
    dialogFormVisible.value = true;
    if (flag) {
      //编辑
      state.title = '编辑';
      const val = cloneDeep(record);
      state.auditForm.inventoryVoList = [{ ...val }];
      state.topForm.projectCode = val.projectCode;
      changeProject(val.projectCode);
    }
  };
  const loadData = () => {
    let list = [];
    list = getProjectList({
      pageNum: null,
      pageSize: null,
      filters: [],
    }).then((r) => {
      if (r.code == 'OK') {
        return r.data || [];
      }
    });
    return list;
  };
  const getUsersFn = (val, falg) => {
    //项目责任人-模型管理员列表
    let _params = {};
    if (falg == 1) {
      _params = {
        username: val,
      };
    } else if (falg == 2) {
      _params = {
        userId: val,
      };
    } else {
      _params = {};
    }
    getUsersCode(_params).then((r) => {
      if (r.data.code == 'OK') {
        state.allUsers = r.data.data;
      }
    });
  };
  const onFinish1 = () => {
    if (state.topForm.projectCode == '' || state.topForm.projectCode == null) {
      message.warning('请选择项目');
      return false;
    }
    auditFormRef.value
      .validate()
      .then(() => {
        state.loading = true;
        const _params = {
          projectCode: state.topForm.projectCode,
          inventoryVoList: state.auditForm.inventoryVoList,
        };
        console.log(_params);
        if (state.title == '新增') {
          getInventorySave(_params).then((res) => {
            state.loading = false;
            if (res.code === 'OK') {
              emit('search');
              message.success('新增成功');
              handleOk(); //提交则直接关闭弹框
            } else {
              message.error('保存问题信息失败');
            }
          });
        } else {
          //编辑
          getInventoryEdit(_params).then((res) => {
            state.loading = false;
            if (res.code === 'OK') {
              emit('search');
              message.success('编辑成功');
              handleOk(); //提交则直接关闭弹框
            } else {
              message.error('保存问题信息失败');
            }
          });
        }
      })
      .catch((error) => {
        console.log('error', error);
      });
  };

  const handleOk = () => {
    state.auditForm = {
      inventoryVoList: [
        {
          problemType: '',
          problemPerson: '',
          problemPersonId: '',
          problemAsk: '',
          problemContent: '',
          problemFind: '',
        },
      ],
    };
    state.topForm.projectCode = '';
    state.title = '新增';
    activeKey.value = [];
    dialogFormVisible.value = false;
  };

  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 18px;
    font-weight: 600;
  }
  .top-btn {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .sub-btn {
    display: flex;
    justify-content: right;
  }
  /deep/.ant-collapse-icon-position-right
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    font-size: 20px;
    position: relative;
    top: -45px;
    left: 889px;
    color: #1890ff;
  }
  .resource-select {
    width: 100%;
  }
  .form-box {
    width: 100%;
    max-height: 800px;
    overflow-y: auto;
  }
</style>
