<template>
  <div>
    <a-descriptions :column="3" class="textItem">
      <a-descriptions-item label="问题编号">
        <span> {{ props.keyData.problemCode || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="问题类型">
        <span> {{ filterProblemType(props.keyData.problemType) || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="问题负责人">
        <span> {{ props.keyData.problemPerson || '' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="问题整改要求">
        <span> {{ props.keyData.problemAsk || '' }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="问题检查内容">
        <span> {{ props.keyData.problemContent || '' }}</span>
      </a-descriptions-item></a-descriptions
    >
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="发现问题简述">
        <span> {{ props.keyData.problemFind || '' }}</span>
      </a-descriptions-item></a-descriptions
    >
    <a-descriptions :column="3" class="textItem">
      <a-descriptions-item label="创建人">
        <span> {{ props.keyData.createName || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="创建时间">
        <span> {{ props.keyData.createDate || '' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="修改人">
        <span> {{ props.keyData.updateName || '' }}</span>
      </a-descriptions-item>
    </a-descriptions>
  </div>
</template>

<script setup lang="tsx">
  import { getCurrentInstance } from 'vue';
  const { proxy } = getCurrentInstance();
  const props = defineProps({
    keyData: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const filterProblemType = (val) => {
    if (val != null) {
      return proxy.$dict.getItemText('PROBLEM_TYPE', val);
    } else {
      return false;
    }
  };
</script>
<style scoped>
  .textItem {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 200px;
  }
</style>
