<template>
  <div class="page-container">
    <DynamicTable
      row-key="id"
      :data-request="loadTableData"
      :columns="columnList"
      bordered
      auto-height
      size="small"
    >
    </DynamicTable>
    <reportClass
      ref="reportModel"
      :visible="visible"
      :title="state.title"
      @close="closeModal"
    ></reportClass>
  </div>
</template>

<script setup lang="ts">
  import { reactive, ref } from 'vue';
  import { baseColumns, type TableColumnItem } from '../reportList/columns'; //table列
  import reportClass from './nav/reportClass.vue';
  import { useTable, type LoadDataParams } from '@/components/core/dynamic-table';
  import { queryOrgList } from '@/api/perAppraisal/apiList';

  defineOptions({
    name: 'resultList',
  });

  const state = reactive({
    title: '',
  });

  const [DynamicTable] = useTable({
    rowKey: 'ruleCode',
    bordered: true,
    search: false,
  });

  const columnList: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 520,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        return [
          {
            label: '工业品绩效',
            onClick: () => {
              viewBtn(record, '1');
              state.title = '工业品绩效';
            },
          },
          {
            label: '工业品战略任务',
            onClick: () => {
              viewBtn(record, '2');
              state.title = '工业品战略任务';
            },
          },
          {
            label: '部门绩效',
            onClick: () => {
              viewBtn(record, '3');
              state.title = '部门绩效';
            },
          },
          {
            label: '部门重点激励项目',
            onClick: () => {
              viewBtn(record, '4');
              state.title = '部门重点激励项目';
            },
          },
        ];
      },
    },
  ];

  const loadTableData = async (params: LoadDataParams) => {
    const { data } = await queryOrgList(params);
    if (data.success) {
      return {
        list: data.data,
        pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
      };
    }
  };

  const reportModel = ref<any>(null);
  const visible = ref(false);
  const viewBtn = (record, type) => {
    visible.value = true;
    reportModel.value.openModal(record, type);
  };

  const closeModal = () => {
    visible.value = false;
  };
</script>

<style lang="less" scoped>
  /deep/th.text-align {
    text-align: center;
  }
</style>
