<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      :title="`${state.title}问题`"
      width="1000px"
      :footer="null"
      destroy-on-close
      style="top: 0px"
      @ok="handleOk"
      @cancel="handleOk"
    >
      <div>
        <a-form
          :model="state.topForm"
          :rules="topRules"
          :label-col="{ span: 4 }"
          :wrapper-col="{ span: 19 }"
        >
          <div class="top-btn">
            <div style="width: 60%">
              <a-form-item label="所属项目" name="projectCode">
                <a-select
                  v-model:value="state.topForm.projectCode"
                  :allow-clear="true"
                  show-search
                  class="resource-select"
                  :disabled="state.title == '编辑'"
                  @change="changeProject"
                >
                  <a-select-option
                    v-for="(item, index) in state.allProjectList"
                    :key="index"
                    :value="item.projectCode"
                    :disabled="item.isExpired == '1'"
                  >
                    {{ item.projectName }}
                  </a-select-option>
                </a-select></a-form-item
              >
            </div>
            <a-button
              html-type="submit"
              type="primary"
              style="background: #1890ff; color: #fff"
              :loading="state.loading"
              @click="onFinish1"
            >
              保存</a-button
            >
          </div>
          <span class="descriptions-title">问题详情</span>
          <a-divider style="margin: 10px 0" />
          <a-form-item v-if="state.title != '编辑'" label="问题来源" name="sourceType">
            <a-radio-group v-model:value="state.topForm.sourceType" @change="changeSourceType">
              <a-radio value="1">新增问题</a-radio>
              <a-radio value="2">已有问题</a-radio>
            </a-radio-group>
          </a-form-item>
          <div v-if="state.topForm.sourceType == 1 || state.title == '编辑'">
            <a-form-item label="问题大类" name="problemType">
              <a-select
                v-model:value="state.topForm.problemType"
                :allow-clear="true"
                show-search
                placeholder="请选择问题大类"
                class="resource-select"
              >
                <a-select-option v-for="(x, i) in state.questionTypeList" :key="i" :value="x.value">
                  {{ x.label }}
                </a-select-option>
              </a-select>
            </a-form-item>
            <a-form-item label="问题名称" name="problemName">
              <a-input
                v-model:value="state.topForm.problemName"
                :maxlength="100"
                allow-clear
                placeholder="请输入100字符以内,不允许重复"
              />
            </a-form-item>
            <a-form-item label="问题描述" style="margin-bottom: 20px">
              <a-textarea
                v-model:value="state.topForm.problemContent"
                :maxlength="500"
                allow-clear
                show-count
                placeholder="请输入500字符以内"
              />
            </a-form-item>
          </div>
          <div v-if="state.topForm.sourceType == 2">
            <a-form-item label="问题名称" name="problemCode">
              <a-select
                v-model:value="state.topForm.problemCode"
                :allow-clear="true"
                show-search
                placeholder="请选择问题名称"
                class="resource-select"
                @change="changeProblemFn"
              >
                <a-select-option
                  v-for="(x, i) in state.questionList"
                  :key="i"
                  :value="x.problemCode"
                >
                  {{ x.problemName }}
                </a-select-option>
              </a-select>
            </a-form-item>
            <a-form-item label="问题大类" name="problemType">
              {{ state.topForm.problemType || '-' }}
            </a-form-item>
            <a-form-item label="问题描述" name="problemContent">
              {{ state.topForm.problemContent || '-' }}
            </a-form-item>
          </div>
        </a-form>

        <a-card :bordered="false">
          <span class="descriptions-title">问题子项</span>
          <a-divider style="margin: 10px 0" />
          <div v-show="state.title == '新增'" class="sub-btn">
            <a-button type="primary" size="small" @click="addNodeArr">
              <template #icon>
                <plus-circle-outlined />
              </template>
              添加
            </a-button></div
          >
          <a-form
            ref="auditFormRef"
            :model="state.auditForm"
            :label-col="{ span: 4 }"
            :wrapper-col="{ span: 20 }"
          >
            <div class="form-box">
              <a-card
                v-for="(item, index) in state.auditForm.problemDetails"
                :key="index"
                style="width: 100%; margin-top: 15px"
              >
                <a-form-item
                  :label="`问题子项${index + 1}`"
                  :name="['problemDetails', index, 'problemDetail']"
                  :rules="{
                    required: true,
                    message: '请输入问题子项',
                    trigger: 'blur',
                  }"
                  style="margin-bottom: 25px"
                >
                  <a-textarea
                    v-model:value="item.problemDetail"
                    :maxlength="500"
                    allow-clear
                    show-count
                    placeholder="请输入500字符以内"
                  />
                </a-form-item>
                <a-form-item
                  label="被巡察单位"
                  :name="['problemDetails', index, 'inspectedUnits']"
                  :rules="{
                    required: true,
                    message: '请输入问题类型',
                    trigger: 'change',
                  }"
                >
                  <a-tree-select
                    v-if="state.responsibleDeptData.length > 0"
                    v-model:value="item.inspectedUnits"
                    style="width: 80%"
                    :tree-data="state.responsibleDeptData"
                    allow-clear
                    show-search
                    :height="250"
                    :field-names="{ children: 'children', title: 'label', key: 'value' }"
                    placeholder="请选择被巡察单位"
                    tree-node-filter-prop="label"
                    class="custom-tree-select"
                  />
                </a-form-item>
                <a-form-item
                  label="被巡察单位联系人"
                  :name="['problemDetails', index, 'inspectedUnitsPerson']"
                  :rules="{
                    required: true,
                    message: '请选择被巡察单位联系人',
                  }"
                >
                  <a-select
                    v-model:value="item.inspectedUnitsPerson"
                    :allow-clear="true"
                    show-search
                    :filter-option="false"
                    placeholder="请选择被巡察单位联系人"
                    @search="handleUserSearch"
                    @deselect="getUsersFn(null)"
                    @change="(val) => changeUserFn(val, index)"
                  >
                    <a-select-option
                      v-for="x in state.allUsers"
                      :key="x.userId"
                      :field-names="{ label: 'username', value: 'userId' }"
                      :value="`${x.userId}-${x.username}/${x.employeeCode}`"
                    >
                      {{ x.username }}/{{ x.employeeCode }}
                    </a-select-option>
                  </a-select>
                </a-form-item>

                <div v-show="state.title == '新增'" class="sub-btn">
                  <a-button
                    size="small"
                    type="text"
                    :disabled="state.auditForm.problemDetails.length == 1"
                    @click="delNodeArr(index)"
                  >
                    <template #icon>
                      <MinusCircleOutlined />
                    </template>
                    移除
                  </a-button></div
                >
              </a-card></div
            >
          </a-form>
        </a-card>
      </div>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance, nextTick } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import { message } from 'ant-design-vue';
  // import { getInventoryEdit } from '@/api/supervisionGovern/questionInventory';
  import {
    inspectionProjects,
    problemAndSubkey,
    partyOrganizations,
    getInventoryEdit,
  } from '@/api/supervisionGovern/Inspection';
  import { getUsersCode } from '@/api/supervisionModel';
  const { proxy } = getCurrentInstance();
  const emit = defineEmits(['search']);
  const dialogFormVisible = ref(false);

  const auditFormRef = ref();
  const activeKey = ref([]);
  const state = reactive({
    problemTypeList: proxy.$dict.getKeyValueByDictCode('PROBLEM_TYPE'), //问题类型
    questionTypeList: proxy.$dict.getKeyValueByDictCode('ISSUE_LARGE_CATEGORIES'), //问题大类
    imgVisible: false,
    imgUrl: '',
    loading: false,
    allProjectList: [],
    topForm: {
      projectCode: '',
      sourceType: '',
    },
    title: '新增',
    auditForm: {
      problemDetails: [
        {
          problemDetail: '',
          inspectedUnits: '',
          inspectedUnitsPerson: '',
        },
      ],
    },
    allUsers: [],
    questionList: [],
    responsibleDeptData: [],
    rectificationList: [],
    projectData: {},
    pagination: {
      pageSizeOptions: ['10', '20', '30', '40'],
      current: 1,
      pageSize: 10,
      total: 0,
      showSizeChanger: true,
      showQuickJumper: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
  });

  const topRules = reactive({
    projectCode: [{ required: true, message: '请选择项目' }],
    problemCode: [{ required: true, message: '请选择问题' }],
    sourceType: [{ required: true, message: '请选择问题来源' }],
    problemType: [{ required: true, message: '请选择问题大类' }],
    problemName: [{ required: true, message: '请输入问题名称', trigger: 'blur' }],
  });
  const changeProject = (val) => {
    state.topForm.sourceType = '';
    state.topForm.problemType = '';
    state.topForm.problemCode = '';
    state.topForm.problemContent = '';
    state.questionList = [];
    nextTick(() => {
      state.questionList =
        state.allProjectList.find((x) => x.projectCode == val).problemInventorys || [];
    });
  };

  const changeSourceType = () => {
    state.topForm.problemCode = '';
    state.topForm.problemName = '';
    state.topForm.problemType = '';
    state.topForm.problemContent = '';
  };
  const getResponsibleDeptFn = () => {
    partyOrganizations().then((res) => {
      if (res.code === 'OK') {
        state.responsibleDeptData = res.data;
      }
    });
  };
  // 添加
  const addNodeArr = () => {
    state.auditForm.problemDetails.push({
      inspectedUnitsPerson: '',
      inspectedUnitsPersonId: '',
      inspectedUnits: '',
      problemContent: '',
      problemDetail: '',
    });
  };
  // 移除
  const delNodeArr = (index) => {
    state.auditForm.problemDetails.splice(index, 1);
  };
  const changeUserFn = (val, index) => {
    const _p = val.split('-');
    state.auditForm.problemDetails[index].inspectedUnitsPerson = _p[1];
    state.auditForm.problemDetails[index].inspectedUnitsPersonId = _p[0];
  };
  const handleUserSearch = (val) => {
    getUsersFn(val, 1);
  };
  const changeProblemFn = (problemCode) => {
    const item = state.questionList.find((x) => x.problemCode == problemCode);
    state.topForm.problemType =
      (item && proxy.$dict.getItemText('PROBLEM_TYPE', item.problemType)) || '';
    state.topForm.problemContent = (item && item.problemContent) || '';
  };
  const onChangeVisable = async (flag, record) => {
    getResponsibleDeptFn(); //被巡察单位
    state.allProjectList = await loadData();
    getUsersFn();
    dialogFormVisible.value = true;
    if (flag) {
      //编辑
      state.title = '编辑';
      const val = cloneDeep(record);
      state.auditForm.problemDetails = [{ ...val }];
      state.topForm.projectCode = val.projectCode;
      state.topForm.problemType = val.problemType;
      state.topForm.problemName = val.problemName;
      state.topForm.problemContent = val.problemContent;
    }
  };
  const loadData = () => {
    let list = [];
    list = inspectionProjects({
      pageNum: null,
      pageSize: null,
      filters: [],
    }).then((r) => {
      if (r.code == 'OK') {
        return r.data || [];
      }
    });
    return list;
  };
  const getUsersFn = (val, falg) => {
    //项目责任人-模型管理员列表
    let _params = {};
    if (falg == 1) {
      _params = {
        username: val,
      };
    } else if (falg == 2) {
      _params = {
        userId: val,
      };
    } else {
      _params = {};
    }
    getUsersCode(_params).then((r) => {
      if (r.data.code == 'OK') {
        state.allUsers = r.data.data;
      }
    });
  };
  const onFinish1 = () => {
    auditFormRef.value
      .validate()
      .then(() => {
        state.loading = true;
        if (state.title == '新增') {
          const _params = {
            ...state.topForm,
            problemDetails: state.auditForm.problemDetails,
          };
          problemAndSubkey(_params).then((res) => {
            state.loading = false;
            if (res.code === 'OK') {
              emit('search');
              message.success('新增成功');
              handleOk(); //提交则直接关闭弹框
            } else {
              message.error('保存问题信息失败');
            }
          });
        } else {
          //编辑
          const item = state.auditForm.problemDetails[0];
          const _params = {
            ...state.topForm,
            // ...state.auditForm.problemDetails[0],
            problemCode: item.problemCode,
            problemDetailCode: item.problemDetailCode,

            problemDetail: item.problemDetail,
            inspectedUnits: item.inspectedUnits,
            inspectedUnitsPerson: item.inspectedUnitsPerson,
          };
          getInventoryEdit(_params).then((res) => {
            state.loading = false;
            if (res.code === 'OK') {
              emit('search');
              message.success('编辑成功');
              handleOk(); //提交则直接关闭弹框
            } else {
              message.error('保存问题信息失败');
            }
          });
        }
      })
      .catch((error) => {
        console.log('error', error);
      });
  };

  const handleOk = () => {
    state.topForm = {
      problemContent: '',
      problemType: '',
      problemCode: '',
      sourceType: '',
    };
    state.auditForm = {
      problemDetails: [
        {
          inspectedUnitsPerson: '',
          inspectedUnitsPersonId: '',
          inspectedUnits: '',
          problemContent: '',
          problemDetail: '',
        },
      ],
    };
    state.title = '新增';
    activeKey.value = [];
    state.questionList = [];
    dialogFormVisible.value = false;
  };

  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 18px;
    font-weight: 600;
  }
  .top-btn {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .sub-btn {
    display: flex;
    justify-content: right;
  }
  /deep/.ant-collapse-icon-position-right
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    font-size: 20px;
    position: relative;
    top: -45px;
    left: 889px;
    color: #1890ff;
  }
  .resource-select {
    width: 100%;
  }
  .form-box {
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
  }
</style>
