<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      title="推送问题"
      width="100%"
      ok-text="确认"
      destroy-on-close
      @ok="handleOk"
      @cancel="cancel"
    >
      <a-table :pagination="false" :data-source="state.dataSource" :columns="state.columns">
        <template #bodyCell="{ column, record }">
          <template v-if="column.dataIndex == 'problemLiabilityPersonId'">
            <a-cascader
              v-model:value="record.problemLiabilityPersonId"
              placeholder="请选择问题责任部门/问题责任人"
              allow-clear
              :options="state.responsibleDeptData"
              show-search
              style="width: 80%"
              @change="changRresDep"
            >
            </a-cascader></template
        ></template>
      </a-table>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import { problemLiabilityPerson, pushClue } from '@/api/supervisionGovern/Inspection';
  import dict from '@/utils/dict.js';
  const dialogFormVisible = ref(false);
  const emit = defineEmits(['search']);
  const state = reactive({
    dataSource: [],
    columns: [
      {
        title: '待办编号',
        dataIndex: 'name',
        width: 80,
        customRender: ({ index }) => {
          return index + 1;
        },
      },

      {
        title: '问题子项编号',
        dataIndex: 'problemDetailCode',
        width: 100,
        ellipsis: true,
      },

      {
        title: '项目名称',
        dataIndex: 'projectName',
        width: 100,
        ellipsis: true,
      },
      {
        title: '项目类别',
        width: 100,
        ellipsis: true,
        dataIndex: 'projectCategory',
        customRender: ({ record }) => {
          return dict.getItemText('PROJECT_CATEGORY', record.projectCategory);
        },
      },

      {
        title: '问题名称',
        dataIndex: 'problemName',
        width: 100,
        ellipsis: true,
      },
      {
        title: '问题大类',
        width: 100,
        ellipsis: true,
        dataIndex: 'problemType',
        customRender: ({ record }) => {
          return dict.getItemText('ISSUE_LARGE_CATEGORIES', record.problemType);
        },
      },
      {
        title: '问题子项详情',
        dataIndex: 'problemDetail',
        width: 100,
        ellipsis: true,
      },
      {
        width: 200,
        title: '问题责任部门/问题责任人',
        ellipsis: true,
        dataIndex: 'problemLiabilityPersonId',
        // scopedSlots: { customRender: 'problemLiabilityPersonId' },
      },
    ],
    responsibleDeptData: [],
    loading: false,
  });
  const getResponsibleDeptFn = () => {
    problemLiabilityPerson().then((res) => {
      if (res.code === 'OK') {
        state.responsibleDeptData = res.data;
      }
    });
  };
  const changRresDep = (val) => {
    console.log(val, state.dataSource);
  };
  const onChangeVisable = (record) => {
    getResponsibleDeptFn();
    state.dataSource = cloneDeep(record);
    console.log(state.dataSource);
    dialogFormVisible.value = true;
  };
  const handleOk = () => {
    state.dataSource.forEach((x) => {
      x.problemLiabilityPersonId =
        x.problemLiabilityPersonId[x.problemLiabilityPersonId.length - 1];
    });
    pushClue(state.dataSource).then((res) => {
      state.loading = false;
      if (res.code == 'OK') {
        message.success('推送成功');
        state.dataSource = [];
        emit('search');
        cancel();
      }
    });
  };
  const cancel = () => {
    dialogFormVisible.value = false;
  };
  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
