<template>
  <div class="page-container">
    <DynamicTable
      :data-request="loadTableData"
      :columns="columns"
      :row-selection="rowSelection"
      auto-height
      :scroll="{ y: 300 }"
    >
      <template #toolbar>
        <a-button type="danger" :disabled="!isCheckRows" @click="deleteList"> 批量删除</a-button>
        <!-- <a-button type="primary" :disabled="!isCheckRows" @click="AllDownload"> 批量下载</a-button> -->
      </template>
    </DynamicTable>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, computed, onBeforeMount, onMounted, onUnmounted } from 'vue';
  import { ExclamationCircleOutlined } from '@ant-design/icons-vue';
  import { debounce } from 'lodash-es';
  import { Modal } from 'ant-design-vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  import {
    getDatasetList,
    AllDownloadCenter,
    DownloadCenter,
    deleteFile,
  } from '@/api/dataAdministration/downloadcenter';

  defineOptions({
    name: 'DownloadCenter',
    inheritAttrs: false,
  });

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'jobId',
    bordered: true,
  });

  //列表勾选
  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      sourceList.selectedRowsX = selectedRows;
      // selectedRows.forEach((item) => {
      //   if (item.handlerStatus == '20') {
      rowSelection.value.selectedRowKeys = selectedRowKeys;
      //   } else {
      //     rowSelection.value.selectedRowKeys.length = 0;
      //   }
      // });
    },
  });

  // 是否勾选了表格行
  const isCheckRows = computed(() => rowSelection.value.selectedRowKeys.length);

  const sourceList = reactive({
    list: [],
    allList: [], // 批量下载入参
    selectedRowsX: [], //列表选中数据
  });

  //批量下载
  const AllDownload = debounce(() => {
    const record = sourceList.selectedRowsX;
    const allList = [];
    record.forEach((v) => {
      const obj = {
        fileName: v.fileName,
        exportPath: v.exportPath,
      };
      allList.push(obj);
    });
    sourceList.allList = allList;
    Modal.confirm({
      title: '确定要导出所选列表集合吗?',
      icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: async () => {
        await AllDownloadCenter(sourceList.allList, '表集合.zip');
      },
    });
  }, 500);
  //列表下载
  const Download = (record) => {
    const params = {
      fileName: record.fileName,
      exportPath: record.exportPath,
    };
    const split = record.exportPath.split('.');
    const ext = split[split.length - 1];
    // console.log(1111111, ext);
    DownloadCenter(params, `${record.fileName}.${ext}`);
  };
  // 删除
  const deleteList = async () => {
    const pkId = [];
    sourceList.selectedRowsX.forEach((v) => {
      pkId.push(v.pkId);
    });
    // await deleteFile(pkId);
    Modal.confirm({
      title: '确定要删除所选的文件吗?',
      icon: <ExclamationCircleOutlined />,
      centered: true,
      onOk: async () => {
        await deleteFile(pkId).finally(dynamicTableInstance?.reload);
        rowSelection.value.selectedRowKeys = [];
      },
    });
    // dynamicTableInstance?.reload();
  };

  const loadTableData = async (params: LoadDataParams) => {
    const data = await getDatasetList({
      ...params,
    });

    const dsList = data.data.map((item) => {
      return {
        ...item,
      };
    });

    return {
      list: dsList,
      pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
    };
  };

  // const onRowClicked = (record) => {
  //   openDataSetModal(record);
  // };

  // 设置click 事件
  // baseColumns[0].customRender = ({ record }) => {
  //   return (
  //     <a
  //       onClick={(e) => {
  //         onRowClicked(record);
  //       }}
  //       style="color:blue;"
  //     >
  //       {record.fileName}
  //     </a>
  //   );
  // };

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 120,
      dataIndex: 'ACTION',
      align: 'center',
      actions: ({ record }) => {
        if (record.handlerStatus == 20) {
          return [
            {
              label: '下载',
              onClick: () => Download(record),
            },
          ];
        } else {
          return [
            {
              label: '--',
            },
          ];
        }
      },
    },
  ];
  // 三分钟刷新一次数据
  const timer = ref();
  onMounted(() => {
    timer.value = setInterval(() => {
      dynamicTableInstance?.reload();
    }, 180000);
  });

  //在页面销毁之前先销毁定时器
  onUnmounted(() => {
    clearInterval(timer.value);
    timer.value = '';
  });
  //页面更改
  const winHeight = ref(0);
  onBeforeMount(() => {
    const h = document.documentElement.clientHeight;
    winHeight.value = h - 400;
  });
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
    /deep/.ant-table-body {
      height: var(--winHeight);
    }
  }
</style>
