<template>
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]" class="gutter-style">
      <a-col :md="{ span: 16 }">
        <div class="OperationTarget-bg">
          <div class="OperationTarget-first">
            <div v-for="(item, index) in eBay.bay" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <template
                  v-if="
                    item.title == 'GMV' ||
                    item.title == '非集采营业收入' ||
                    item.title == '各项占比'
                  "
                >
                  <TemGauge
                    v-if="item.title == 'GMV'"
                    :echarcolor="state.gmvcolor"
                    :echardata="item.rate"
                  />
                  <PieWebsite
                    v-if="item.title == '各项占比'"
                    :echardata="pie.data"
                    :echarunit="item.unit"
                  />
                  <SpeedGauge
                    v-if="item.title == '非集采营业收入'"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                  />
                </template>
                <template v-else>
                  <ScoringRing
                    :echarcolor="state.defcolor"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                  />
                </template>
              </p>
              <div v-if="item.title == '各项占比'">
                <p>多元产业&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>社会客户&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
                <p>供应商收费&nbsp;:&nbsp;{{ item.other }} {{ item.unit }}</p>
              </div>
              <div v-else class="text-GMV">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">服务结算率</p>
              <p class="gmv-style"
                ><SpeedGauge :echardata="state.YG_SER_PCT" :echarunit="state.e03"
              /></p>
              <div class="text-YX">
                <p>目标：{{ state.YG_SER_TG }} %</p>
                <p>当前： {{ state.YG_SER }} %</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">易购逾期金额</p>
              <p class="gmv-style"
                ><SpeedGauge :echardata="state.ANNUAL_FINISH_RATE" :echarunit="state.e03"
              /></p>
              <div class="text-YX">
                <p>目标：{{ state.CURYEAR_ANNUAL_TARGET_VALUE }} 万元</p>
                <p>当前：{{ state.CURYEAR_PRFM }} 万元</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>

      <a-col :md="{ span: 24 }">
        <div class="OperationTarget-bg">
          <div class="OperationTarget-first">
            <div v-for="(item, index) in Store.mall" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first2">
                <ScoringRing
                  v-if="item.goals == '0' || item.title == '累计采购方数'"
                  :echarcolor="state.greencolor"
                  :echardata="item.current2"
                />
                <ScoringRing
                  v-else
                  :echarcolor="state.greencolor"
                  :echardata="item.rate"
                  :echarunit="state.e03"
                />
              </p>
              <div class="text">
                <p v-if="item.goals != '0' && item.title != '累计采购方数'"
                  >目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p
                >

                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, nextTick, defineExpose } from 'vue';
  import {
    ScoringRing,
    SpeedGauge,
    WaterPolo,
    TemGauge,
    PieWebsite,
  } from '../../../echartsAssembly';
  import { queryAggregate } from '@/api/strategyTracking';
  const state = reactive({
    yearMonth: '',
    defcolor: '#188df0',
    gmvcolor: '#fa4d5b',
    fjcolor: '#98d45b',
    greencolor: '#53c676',
    bluecolor: '#1367ca',
    e01: '0.78',
    e02: '78',
    e03: '%',
    YG_SER_PCT: '',
    YG_SER_TG: '',
    YG_SER: '',
    CURYEAR_ANNUAL_TARGET_VALUE: '',
    ANNUAL_FINISH_RATE: '',
    CURYEAR_PRFM: '',
  });

  //保留两位有效小数
  const Xiaoshu = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext).toLocaleString();
    }
  };
  const Xiaoshus = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext);
    }
  };

  // 易购
  const eBay = reactive({
    bay: [
      { title: 'GMV', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '亿元' },
      { title: '集采+多元', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '亿元' },
      { title: '社会客户', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '亿元' },
      { title: '非集采营业收入', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '万元' },
      {
        title: '各项占比',
        goals: '30 ',
        current: '20 ',
        other: '15 ',
        rate: '78',
        unit: '万元',
      },
    ],
  });
  // 商城
  const Store = reactive({
    mall: [
      {
        title: '新增采购端签约客户数',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '易购新增双非客户数',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '重点客户目标分解',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '家',
      },
      // {
      //   title: '易购新增双非客户数',
      //   goals: '3,000 ',
      //   current: '2,000 ',
      //   rate: '78',
      //   unit: '家',
      // },
      {
        title: '累计客户数',
        goals: '30 ',
        current: '20 ',
        current2: '20 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '新增客户数',
        goals: '30 ',
        current: '20 ',
        current2: '20 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '累计采购方数',
        goals: '0 ',
        current: '5,000 ',
        current2: '5,000 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '累计供应商数  ',
        goals: '3,000 ',
        current: '2,000 ',
        current2: '2,000 ',
        rate: '78',
        unit: '家',
      },
    ],
  });
  //饼图数据
  const pie = reactive({
    data: [
      { value: '30', name: '多元产业 ' },
      { value: '20', name: '社会客户 ' },
      { value: '15', name: '供应商收费 ' },
    ],
  });

  // 图表数据1
  const targetDataBay = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          eBay.bay[index].goals = Xiaoshu(data.YG_GMV_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.YG_GMV[0]);
          eBay.bay[index].rate = data.YG_GMV_PCT[0];
        } else if (index == 1) {
          eBay.bay[index].goals = Xiaoshu(data.BW_GMV_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.BW_GMV[0]);
          eBay.bay[index].rate = data.BW_GMV_PCT[0];
        } else if (index == 2) {
          eBay.bay[index].goals = Xiaoshu(data.SH_GMV_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.SH_GMV[0]);
          eBay.bay[index].rate = data.SH_GMV_PCT[0];
        } else if (index == 3) {
          eBay.bay[index].goals = Xiaoshu(data.YG_REV_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.YG_REV[0]);
          eBay.bay[index].rate = data.YG_REV_PCT[0];
        } else if (index == 4) {
          eBay.bay[index].goals = Xiaoshu(data.DY_SJ[0]);
          eBay.bay[index].current = Xiaoshu(data.SH_SJ[0]);
          eBay.bay[index].other = Xiaoshu(data.GYS_SJ[0]);
          pie.data = [
            { value: Xiaoshus(data.DY_SJ_R[0]), name: '多元产业 ' },
            { value: Xiaoshus(data.SH_SJ_R[0]), name: '社会客户 ' },
            { value: Xiaoshus(data.GYS_SJ_R[0]), name: '供应商收费 ' },
          ];
        } else if (index == 5) {
          state.YG_SER = Xiaoshu(data.YG_SER[0]);
          state.YG_SER_TG = Xiaoshu(data.YG_SER_TG[0]);
          state.YG_SER_PCT = data.YG_SER_PCT[0];
        } else if (index == 6) {
          // CURYEAR_PRFM（当前）,CURYEAR_TARGET（目标）,CURYEAR_CPLTRATE（完成率）  文档指标
          // CURYEAR_ANNUAL_TARGET_VALUE ,CURYEAR_PRFM,ANNUAL_FINISH_RATE    接口返回有出入
          state.CURYEAR_PRFM = Xiaoshu(data.CURYEAR_PRFM[0]);
          state.CURYEAR_ANNUAL_TARGET_VALUE = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
          state.ANNUAL_FINISH_RATE = data.ANNUAL_FINISH_RATE[0];
        }
      });
    });
  };

  // 图表数据2
  const categoryStore = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          Store.mall[index].goals = Xiaoshu(data.YG_PUR_TG[0]);
          Store.mall[index].current = Xiaoshu(data.YG_PUR[0]);
          Store.mall[index].rate = data.YG_PUR_PCT[0];
        } else if (index == 1) {
          Store.mall[index].goals = Xiaoshu(data.YG_NON_PUR_TG[0]);
          Store.mall[index].current = Xiaoshu(data.YG_NON_PUR[0]);
          Store.mall[index].rate = data.YG_NON_PUR_PCT[0];
        } else if (index == 2) {
          Store.mall[index].goals = Xiaoshu(data.YG_VIP_TG[0]);
          Store.mall[index].current = Xiaoshu(data.YG_VIP[0]);
          Store.mall[index].rate = data.YG_VIP_PCT[0];
        } else if (index == 3) {
          // CURYEAR_PRFM（当前）,CURYEAR_TARGET（目标）,CURYEAR_CPLTRATE（完成率）文档指标
          // CURYEAR_PRFM  CURYEAR_ANNUAL_TARGET_VALUE  ANNUAL_FINISH_RATE        接口返回
          Store.mall[index].goals = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
          Store.mall[index].current = Xiaoshu(data.CURYEAR_PRFM[0]);
          Store.mall[index].current2 = data.CURYEAR_PRFM[0];
          Store.mall[index].rate = data.ANNUAL_FINISH_RATE[0];
        } else if (index == 4) {
          Store.mall[index].goals = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
          Store.mall[index].current = Xiaoshu(data.CURYEAR_PRFM[0]);
          Store.mall[index].current2 = data.CURYEAR_PRFM[0];
          Store.mall[index].rate = data.ANNUAL_FINISH_RATE[0];
        } else if (index == 5) {
          // 接口只有当前 YG_TTL_PR
          // Store.mall[index].goals = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
          // Store.mall[index].rate = Xiaoshu(data.ANNUAL_FINISH_RATE[0]);
          Store.mall[index].current = Xiaoshu(data.YG_TTL_PR[0]);
          Store.mall[index].current2 = data.YG_TTL_PR[0];
        } else if (index == 6) {
          Store.mall[index].goals = Xiaoshu(data.CURYEAR_ANNUAL_TARGET_VALUE[0]);
          Store.mall[index].current = Xiaoshu(data.CURYEAR_PRFM[0]);
          Store.mall[index].current2 = data.CURYEAR_PRFM[0];
          // Store.mall[index].rate = data.ANNUAL_FINISH_RATE[0];
        }
      });
    });
  };

  // 品类中心接口
  const categorySearch = () => {
    targetDataBay('2023042517250068', 0);
    targetDataBay('2023042517250069', 1);
    targetDataBay('2023042517250070', 2);
    targetDataBay('2023042517250071', 3);
    // targetDataBay('2023042517250072', 4);
    targetDataBay('2023051110114634', 4);
    targetDataBay('2023042517250089', 5);
    targetDataBay('2023051110114638', 6);

    categoryStore('2023042517250095', 0);
    categoryStore('2023042517250096', 1);
    categoryStore('2023042517250097', 2);
    // categoryStore('2023042517250103', 3);
    categoryStore('2023051110114643', 3);
    categoryStore('2023051110114635', 4);
    categoryStore('2023042517250100', 5);
    categoryStore('2023051110114642', 6);
  };

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  defineExpose({
    categorySearch,
  });
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
      categorySearch();
    },
  );
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .gutter-style {
      margin-bottom: 10px;
    }
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      // border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      min-height: 325px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
    }
    .OperationTarget-first {
      display: flex;
      justify-content: space-between;
    }
    .gmv-first {
      width: 200px;
      height: 180px;
      // border: 2px solid #e5e7eb;
    }
    .gmv-first2 {
      width: 180px;
      height: 180px;
    }
    .text-YX {
      height: 80px;
      margin-left: 22%;
    }
    .OperationTarget-item {
      font-family: PingFangSC-Regular;
      font-size: 18px;
      font-weight: normal;
      .gmv-title {
        text-align: center;
      }
      .gmv-style {
        width: 100%;
        height: 180px;
        // border: 2px solid #e5e7eb;
      }
      .text {
        margin-left: 22%;
      }
      .text-GMV {
        margin-left: 15%;
      }
    }
  }
</style>
