<template>
  <div class="page-container">
    <DynamicTable
      header-title="SQL解析登记"
      :data-request="loadTableData"
      :columns="columns"
      auto-height
      :scroll="{ x: 'auto' }"
      @change="onPageChange"
    >
      <template #toolbar>
        <a-button type="primary" :disabled="!$auth('sys.dict.add')" @click="openDictModal({})">
          <PlusOutlined /> 登记
        </a-button>
      </template>
    </DynamicTable>
    <!-- 登记编辑sql -->
    <dict-modal ref="dictModalRef" :dict-data="state.dictData" @search="searchFn"></dict-modal>
    <!-- 查看sql -->
    <sql-modal ref="sqlModalRef"></sql-modal
  ></div>
</template>

<script setup lang="tsx">
  import { ref, reactive } from 'vue';
  import { PlusOutlined } from '@ant-design/icons-vue';
  import { baseColumns, type TableColumnItem } from './columns';
  // import { dictSchemas } from './formSchemas';
  import { dictModal, sqlModal } from './components';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  import { getSqllist } from '@/api/supervisionModel';
  // import { useFormModal } from '@/hooks/useModal/index';
  defineOptions({
    name: 'SystemDict',
  });

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'dictId',
    bordered: true,
  });
  const state = reactive({
    dictData: {},
    dataSource: [],
    pagination: {
      current: 1,
      pageSize: 10,
    },
  });
  const dictModalRef = ref();
  const sqlModalRef = ref();

  const onPageChange = (data) => {
    state.pagination.current = data.current;
    state.pagination.pageSize = data.pageSize;
  };

  const loadTableData = async (params: LoadDataParams) => {
    const data = await getSqllist({
      ...params,
    });
    return {
      list: data.data.data,
      pagination: { total: data.data.total, page: data.data.pageNum, size: data.data.pageSize },
    };
  };
  const searchFn = () => {
    dynamicTableInstance?.reload();
  };
  const openSql = (record) => {
    sqlModalRef.value.onChangeVisable1(true);
    setTimeout(() => {
      sqlModalRef.value.myCodeRef.clearVal();
      sqlModalRef.value.myCodeRef.setSql(record.registerSql);
    }, 300);
  };
  const openDictModal = (record) => {
    state.dictData = record;
    dictModalRef.value.onChangeVisable();
    setTimeout(() => {
      dictModalRef.value.myCodeRef.setSql(record.registerSql);
    }, 300);
  };
  // 设置click 事件
  baseColumns[1].customRender = ({ record }) => {
    return (
      <a
        onClick={() => {
          openSql(record);
        }}
        style="color:#1890ff;"
      >
        查看
      </a>
    );
  };

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 60,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => [
        {
          label: '编辑',
          auth: {
            perm: 'sys.dict.update',
            effect: 'disable',
          },
          onClick: () => {
            openDictModal(record);
          },
        },
      ],
    },
  ];
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
</style>
