<!-- 线索推送 -->
<template>
  <div class="dataPush">
    <a-modal
      v-model:visible="dialogFormVisible"
      destroy-on-close
      :footer="null"
      title="推送处理"
      :confirm-loading="state.confirmLoading"
      :mask-closable="false"
      width="800px"
      @ok="handleOk"
      @cancel="cancel"
    >
      <a-form
        :model="state.formState"
        name="basic"
        :label-col="{ span: 8 }"
        :wrapper-col="{ span: 16 }"
        autocomplete="off"
        @finish="onFinish"
        @finish-failed="onFinishFailed"
      >
        <a-form-item
          label="疑似问题关键信息"
          name="data"
          :rules="[{ required: true, message: '请配置数据' }]"
        >
          <a-select
            v-model:value="state.dataTitle"
            disabled
            :class="state.dataTitle.length > 5 ? 'select-scroll' : null"
            mode="multiple"
          >
          </a-select>
        </a-form-item>
        <a-form-item
          label="处理方式"
          name="handWay"
          :rules="[{ required: true, message: '请选择处理方式' }]"
        >
          <a-radio-group v-model:value="state.formState.handWay">
            <a-radio :value="'10'"> 直接处理 </a-radio>
            <a-radio :value="'20'"> 业务自查 </a-radio>
            <a-radio :value="'30'"> 无需推送 </a-radio>
          </a-radio-group>
        </a-form-item>
        <a-form-item
          v-if="state.formState.handWay == '10'"
          label="问题确认"
          name="problemConfirm"
          :rules="[{ required: true, message: '请确认问题' }]"
        >
          <a-radio-group v-model:value="state.formState.problemConfirm">
            <a-radio :value="'20'"> 是 </a-radio>
            <a-radio :value="'40'"> 否 </a-radio>
          </a-radio-group>
        </a-form-item>
        <a-form-item
          v-if="state.formState.handWay == '20'"
          label="待办接收人"
          :name="state.formState.handWay == '10' ? 'treeValue' : 'receiver'"
          :rules="[{ required: true, message: '请选择待办接收人' }]"
        >
          <a-select
            v-model:value="state.formState.receiver"
            :allow-clear="true"
            show-search
            class="resource-select"
            @change="handleChange"
          >
            <!-- set-fields-value="receiver" <a-select-opt-group label="业务组"> -->
            <a-select-option
              v-for="(item, index) in state.transferArr['业务人员']"
              :key="index"
              :value="'业务组' + '-' + item"
            >
              {{ item }}
            </a-select-option>
            <!-- </a-select-opt-group> -->
          </a-select>
        </a-form-item>
        <a-form-item
          v-if="state.formState.handWay == '10' && state.formState.problemConfirm == '20'"
          label="待办接收人"
          :name="state.formState.handWay == '10' ? 'treeValue' : 'receiver'"
          :rules="[{ required: true, message: '请选择待办接收人' }]"
        >
          <a-cascader
            v-model:value="state.formState.treeValue"
            set-fields-value="treeValue"
            :options="state.optionsData"
            placeholder="请输入"
            change-on-select
            show-search
            @change="changeTreeValue"
          />
        </a-form-item>

        <a-form-item
          v-if="state.formState.handWay != 30"
          name="notifyWay"
          label="通知方式"
          :rules="[{ required: true, message: '请配置通知方式' }]"
        >
          <a-checkbox-group v-model:value="state.formState.notifyWay">
            <a-checkbox value="0">站内信</a-checkbox>
            <a-checkbox value="1">邮箱</a-checkbox>
          </a-checkbox-group>
        </a-form-item>
        <a-form-item
          v-show="state.formState.handWay != null"
          :label="state.formState.handWay == 30 ? '情况说明' : '推送说明'"
          name="sendInfoContent"
          :rules="[{ max: 200, message: '200字符以内' }]"
        >
          <a-textarea
            v-model:value="state.formState.sendInfoContent"
            placeholder="推送说明填写，200字符以内"
            :rows="4"
          />
        </a-form-item>

        <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
          <a-button style="margin-right: 10px" @click="cancel">取消</a-button>
          <a-button :loading="state.confirmLoading" type="primary" html-type="submit"
            >确定</a-button
          >
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>
<script setup lang="ts">
  import { reactive, watch, computed, getCurrentInstance, ref } from 'vue';
  import { message as $message } from 'ant-design-vue';
  import { getPushSecond, getDeptLead } from '@/api/supervisionModel';
  import { getUsers } from '@/api/supervisionGovern';
  import { useSupervisionGovern } from '@/store/modules/supervisionGovern';
  const SupervisionGovern = useSupervisionGovern();
  // const dshow = computed(() => SupervisionGovern.dataPushshow);
  const dialogFormVisible = ref(false);
  const emits = defineEmits(['ok', 'cancel']);
  const { proxy } = getCurrentInstance();
  const state = reactive({
    form: {},
    optionsData: [],
    dataTitle: [],
    users: [], // 用户
    roles: [], // 角色
    transferArr: [],
    receiverItem: '', // 选择接收人
    receiverTree: '', // 选择接收人2
    userIds: [], // 选择用户
    roleIds: [], // 选中角色
    resource: 1,
    validatorRules: {
      notifyWay: {
        // name与v-decorator中属性对应
        initialValue: ['0', '1'], // 初始化值，也就是默认值
        rules: [
          { required: true, message: '请配置通知方式' }, // 此处开启校验必填
        ],
      },
    },
    // modelsDetailFlter: props.modelsDetailHeads, // 模型详情过滤条件
    confirmLoading: false,
    formState: {
      data: '',
      receiver: '',
      notifyWay: ['0', '1'],
      sendInfoContent: '',
      treeValue: [],
      handWay: null,
      problemConfirm: null,
    },
  });
  const props = defineProps({
    modelData: { type: Object, default: () => {} },
    data: { type: Array, default: () => [] },
    visible: { type: Boolean, default: () => false },
    modelsDetailHeads: { type: Array, default: () => [] },
  });
  watch(
    () => computed(() => SupervisionGovern.dataPushshow),
    (val) => {
      if (val._value) {
        treeData();
      }
    },
    { deep: true },
  );
  watch(
    () => dialogFormVisible.value,
    (newValue) => {
      if (newValue) {
        allRoleUsers();
        queryTitleList();
      }
    },
  );

  // watch(
  //   () => props.data,
  //   (newValue) => {
  //     if (newValue) {
  //       queryTitleList();
  //     }
  //   },
  //   { deep: true },
  // );

  const onChangeVisable = (flag) => {
    dialogFormVisible.value = flag;
  };
  const onFinish = (values: any) => {
    paramsCofig(values);
  };

  const onFinishFailed = (errorInfo: any) => {
    console.log('Failed:', errorInfo);
  };
  const handleChange = (val) => {
    state.receiverItem = val;
  };
  const changeTreeValue = (val) => {
    state.receiverTree = val && val.length == 3 ? val[2] : '';
  };
  // 待办推送
  const dataPush = (params) => {
    state.confirmLoading = true;
    getPushSecond(params)
      .then((res) => {
        state.confirmLoading = false;
        if (res.data.code == 'OK') {
          $message.success(res.data.data);
        } else {
          $message.warning(res.data.message);
        }
        cancel();
        emits('ok');
      })
      .catch(() => {
        state.confirmLoading = false;
      });
  };
  // 入参配置
  const paramsCofig = (data) => {
    let receiverItem = '';
    let result = '';
    let result1 = '';
    if (state.formState.handWay == '20') {
      receiverItem = state.receiverItem.split('-');
      const str1 = receiverItem[1];
      const lastIndex1 = str1.lastIndexOf('/');
      const secondLastIndex1 = str1.lastIndexOf('/', lastIndex1 - 1);
      result1 = str1.substring(secondLastIndex1 + 1);
    }
    if (state.formState.handWay == '10' && state.formState.problemConfirm == '20') {
      const str = state.receiverTree;
      const lastIndex = str && str.lastIndexOf('/');
      const secondLastIndex = str.lastIndexOf('/', lastIndex - 1);
      result = str.substring(secondLastIndex + 1);
    }

    const params = {
      ...data,
      keyAndCodes: state.keyAndCodes,
      modelId: props.modelData.id,
      role: '', //第一道防线用不到-后端唐俊//state.resource == 1 ? receiverItem[0] : '监督联络员', // 后端李鑫
      targetUsernames: JSON.parse(sessionStorage.getItem('modelName')).targetUsernames, //模型管理员名称-唐俊
      lineOfDefenseType: props.modelData.lineOfDefenseType, //sessionStorage.getItem('userLineDefense'), //第几道防线-唐骏
      receiver:
        state.formState.handWay == '10' && state.formState.problemConfirm == '20'
          ? result
          : result1,
    };
    if (
      state.formState.handWay == '30' ||
      (state.formState.handWay == '10' && state.formState.problemConfirm == '40')
    ) {
      params.receiver = params.targetUsernames; //如果选择无需推送，则默认receiver是模型管理员,,选择直接处理+不是问题，则传模型管理员
    }
    if (
      state.formState.handWay == '10' &&
      state.formState.problemConfirm == '20' &&
      state.receiverTree == ''
    ) {
      $message.warning('请选择具体的待办接收人');
    } else {
      // 数据推送
      dataPush(params);
    }
  };
  // 确认
  const handleOk = () => {
    onFinish();
    cancel();
  };
  // 关闭
  const cancel = () => {
    state.formState = {
      receiver: '',
      notifyWay: ['0', '1'],
      sendInfoContent: '',
      handWay: null,
      problemConfirm: null,
    };
    state.receiverTree = '';
    state.receiverItem = '';
    emits('cancel');
  };
  const allRoleUsers = () => {
    getUsers().then((r) => {
      state.transferArr = r.data.data;
    });
  };
  // 获取数据名称加id内容
  const queryTitleList = () => {
    if (Array.isArray(props.data)) {
      state.dataTitle = [];
      state.keyAndCodes = [];
      props.data.forEach((item) => {
        //T1_PROBLEM_TYPE   T1_PROBLEM_TYPE_CODE
        // this.dataTitle.push(item._hoodie_commit_seqno)
        state.dataTitle.push(getHoodieRecordKey(item._hoodie_record_key));
        const staticState = props.modelData.modelType;
        let problemType = '';
        if (staticState === '静态' || staticState === '算法') {
          problemType = item.PROBLEM_TYPE; //静态
        } else if (staticState === '动态') {
          //动态='item.疑似问题'疑似问题可能有可能没有
          problemType = item.hasOwnProperty('疑似问题') ? item.疑似问题 : '';
        }
        state.keyAndCodes.push({
          problemTypeCode: item.PROBLEM_TYPE_CODE || '',
          recordKey: item._hoodie_record_key,
          recordKeyChinese: getHoodieRecordKey(item._hoodie_record_key),
          handleCommitSeqno: item._hoodie_commit_seqno, //_hoodie_record_key,
          problemType,
        });
      });
    } else {
      state.dataTitle = [props.data._hoodie_record_key];
      state.keyAndCodes = [
        {
          problemTypeCode: props.data.PROBLEM_TYPE_CODE,
          recordKey: props.data._hoodie_record_key,
          recordKeyChinese: getHoodieRecordKey(props.data._hoodie_record_key),
          handleCommitSeqno: props.data._hoodie_commit_seqno, //_hoodie_record_key,
          problemType: props.data.PROBLEM_TYPE,
        },
      ];
    }
    state.formState.data = state.dataTitle;
  };
  // 获取_hoodie_record_key中文名
  const getHoodieRecordKey = (data) => {
    const staticState = props.modelData.modelType;
    if (staticState === '静态' || staticState === '算法') {
      const primaryKeyList = props.modelData.modelConfig.tablePrimaryKeyList[0].primaryKeyList;
      // 转化二维数组
      const dataList = data.split(',').map((item) => {
        return item.split(':');
      });
      const cData = [];
      // 进行数据配对
      primaryKeyList.forEach((t) => {
        dataList.forEach((j) => {
          if (t.columnName === j[0]) {
            cData.push([[t.columnCName], [j[1]]]);
          }
        });
      });
      // 转回原由格式
      for (const key in cData) {
        cData[key] = cData[key].join(':');
      }
      return cData.join();
    }
    if (staticState === '动态') {
      const primaryKeyList = props.modelsDetailHeads;
      const dataList = data.split(',').map((item) => {
        return item.split(':');
      });

      const cData = [];
      // 进行数据配对
      primaryKeyList.forEach((t) => {
        dataList.forEach((j) => {
          if (t.columnName === j[0]) {
            cData.push([[t.columnCname], [j[1]]]);
          }
        });
      });
      // 转回原由格式
      for (const key in cData) {
        cData[key] = cData[key].join(':');
      }
      return cData.join();
    }
  };
  // 级联数据
  const treeData = () => {
    //取当前模型的模型管理员名称去查他的所属部门领导
    props.modelData.sendTargetUsers &&
      getDeptLead({ userId: props.modelData.sendTargetUsers }).then((res) => {
        const data = res.data;
        state.optionsData = [];
        data.forEach((item) => {
          if (item) {
            state.optionsData.push(proxy.$dict.toCasaderTree(item));
          }
        });
      });
  };
  defineExpose({ onChangeVisable });
</script>

<style scoped>
  .select-scroll {
    height: 140px !important;
    overflow-y: scroll !important;
  }
  .resource-radio {
    margin-bottom: 20px;
  }
  .resource-radios {
    display: flex;
  }
  .resource-select {
    display: inline-block;
    width: 280px;
  }
</style>
