<template>
  <DraggableModal
    v-model:visible="myVisible"
    :width="900"
    :footer="null"
    destroy-on-close
    @cancel="close"
  >
    <template #title>
      <a-tooltip placement="top">
        <template #title>{{ props.title }}</template>
        <p class="ellipsis">{{ props.title }}</p>
      </a-tooltip>
    </template>
    <Table :records="props.records" :cols="props.cols"></Table>
  </DraggableModal>
</template>

<script lang="ts" setup>
  import { computed, ref, watch } from 'vue';

  import Table from './components/Table.vue';
  import { DraggableModal } from '@/components/core/draggable-modal';

  defineOptions({ name: 'DetailModal' });

  const emit = defineEmits(['close']);

  const props = defineProps({
    visible: Boolean,
    title: {
      required: true,
      type: String,
    },
    records: {
      type: Array,
      default: () => [],
    },
    cols: {
      required: true,
      type: Number,
      default: 3,
    },
  });
  //
  // const myVisible = computed(() => {
  //   return props.visible;
  // });
  const myVisible = ref(false);
  const close = () => {
    emit('close');
  };

  watch(
    () => props.visible,
    (v) => {
      myVisible.value = v;
    },
  );
</script>

<style scoped lang="less">
  .ellipsis {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
