<template>
  <div class="node">
    <Tooltip>
      <template #title>
        {{ state.selectText }}
      </template>
      <Select
        v-model:value="state.id"
        class="label"
        :disabled="state.readonly"
        :options="options"
        @change="handleChange"
      >
      </Select>
    </Tooltip>
    <setting-outlined
      v-if="componentShowState.showSelectFieldButton"
      type="setting"
      class="act"
      title="选择字段"
      @click.stop="modelState.editVisible = true"
    />
    <eye-outlined
      v-if="componentShowState.showPreviewButton"
      type="eye"
      class="act"
      title="预览"
      @click.stop="showDetailDialog"
    />

    <!--    编辑弹框-->
    <Modal
      v-model:visible="modelState.editVisible"
      title="已选择字段"
      :ok-button-props="{ props: { disabled: state.readonly } }"
      width="900px"
      cancel-text="取消"
      ok-text="确定"
      @cancel="onClose"
      @ok="onEditOkClick"
    >
      <Table
        :row-selection="{
          selectedRowKeys: state.selectedEditRowKeys,
          onChange: onEditSelectChange,
        }"
        :columns="columns"
        :pagination="false"
        :scroll="{ x: 800, y: 300 }"
        row-key="id"
        :data-source="state.fields"
      />
    </Modal>

    <!--    查看弹框-->
    <Modal
      v-model:visible="modelState.eyeVisible"
      :title="`预览\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0共计${state.total}条`"
      width="900px"
      cancel-text="取消"
      ok-text="确定"
      @ok="handleOk"
    >
      <Table
        :ok-button-props="{}"
        :columns="state.showColumns"
        :data-source="state.dataSource"
        :loading="state.loading"
        :pagination="false"
        :row-key="
          () => {
            return Math.random() * 10000000;
          }
        "
        :scroll="{ x: 800, y: 300 }"
      ></Table>
    </Modal>
  </div>
</template>

<script setup lang="ts">
  import { reactive, inject, onMounted, watch } from 'vue';
  import { EyeOutlined, SettingOutlined } from '@ant-design/icons-vue';
  import { message as $message, Tooltip, Modal, Table, Select } from 'ant-design-vue';

  import { getDatasetPreview } from '@/api/dataAdministration/dataset';

  defineOptions({
    name: 'DatasetTable',
    inheritAttrs: false,
  });

  // const emits = defineEmits([]);
  // const props = defineProps({});

  const columns = [
    { dataIndex: 'cnName', title: '中文名' },
    { dataIndex: 'name', title: '英文名' },
    { dataIndex: 'type', title: '类型' },
    {
      dataIndex: 'dictId',
      title: '集值映射',
      customRender(text, record) {
        let r = '无';
        if (text && text.length > 0) {
          r = record.dictCode + record.dictName;
        }
        return r;
      },
    },
  ];

  const modelState = reactive({
    editVisible: false,
    eyeVisible: false,
  });

  const componentShowState = reactive({
    showSelectFieldButton: true,
    showPreviewButton: true,
  });

  const state = reactive({
    loading: false,
    readonly: false,
    showColumns: [],
    selectedEditRowKeys: [],
    id: '',
    oldId: '',
    nodes: [],
    selectText: '',
    fields: [],
    defaultSelectFields: [],
    dataSource: [],
    pageIndex: 1,
    total: 0,
  });

  const getNode = inject('getNode');

  const init = () => {
    const node = getNode();
    state.oldId = node.data.id;

    state.nodes = [...node.data.nodes];
    state.id = node.data.id;
    state.fields = [...node.data.fields];

    if (node.data.defaultSelectFields) {
      state.defaultSelectFields = [...node.data.defaultSelectFields];
    }

    // that.type = node.data.type;
    state.selectText = node.data.cnName;
    const ids = [];
    if (state.defaultSelectFields.length > 0) {
      state.defaultSelectFields.forEach((x) => {
        ids.push(x.id);
      });
    } else {
      state.fields.forEach((x) => {
        ids.push(x.id);
      });
    }
    state.selectedEditRowKeys = ids;

    const list = state.defaultSelectFields.length > 0 ? state.defaultSelectFields : state.fields;

    node.setData({ selectFields: list }, { deep: false });

    componentShowState.showSelectFieldButton = node.data.showSelectFieldButton;
    componentShowState.showPreviewButton = node.data.showPreviewButton;

    state.readonly = node.data.readOnly;
  };

  const handleChange = () => {
    const node = getNode();
    if (state.id != state.oldId) {
      const table = node.data.nodes.find((it) => it.id === state.id);
      const newData = JSON.parse(JSON.stringify(node.data));
      newData.name = table.name;
      newData.cnName = table.cnName;
      newData.type = table.type;
      newData.id = table.id;
      newData.schema = table.schema;
      newData.fields = table.fields;
      newData.oldId = state.oldId;
      node.setData(newData);

      state.oldId = state.id;

      state.fields = [...table.fields];
      state.selectedEditRowKeys = [];
      state.selectText = table.cnName;
    }
  };

  const onEditOkClick = () => {
    if (state.selectedEditRowKeys.length === 0) {
      $message.info('请至少选择一项~');
      return;
    }
    modelState.editVisible = false;
    const list = [];

    state.selectedEditRowKeys.forEach((x) => {
      const temp = state.fields.find((y) => x === y.id);
      if (temp) {
        list.push(temp);
      }
    });

    const node = getNode();

    node.setData({ selectFields: list, oldId: state.id }, { deep: false });
  };

  const handleOk = () => {
    modelState.eyeVisible = false;
  };

  // 选择字段编辑按钮
  const onClose = () => {
    modelState.editVisible = false;
    init();
  };

  const onEditSelectChange = (selectedRowKeys) => {
    state.selectedEditRowKeys = [...selectedRowKeys];
  };

  const showDetailDialog = () => {
    modelState.eyeVisible = true;
    const params = {};
    params.id = state.id;
    params.pageSize = '10';
    params.pageNum = state.pageIndex;

    getDatasetPreview({ ...params }).then((r) => {
      const columns: any = [];
      if (r.success) {
        r.data.modelsDetailHeads.forEach((item) => {
          columns.push({
            title: item.columnCname,
            dataIndex: item.columnName,
            key: item.columnName,
            width: 150,
            ellipsis: true,
          });
        });
        state.showColumns = [...columns];

        state.dataSource = [...r.data.modelList];
        state.total = r.total;
      } else {
        $message.error('数据异常！');
      }
    });
  };

  const options = reactive([]);

  watch(
    () => state.nodes,
    () => {
      const tmpOptions = state.nodes.map((t) => {
        return {
          value: t.id,
          label: t.cnName,
        };
      });

      options.length = 0;
      options.push(...tmpOptions);
    },
    { deep: true },
  );

  onMounted(() => {
    init();
  });
</script>
<style lang="less" scoped>
  .node {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #c2c8d5;
    border-left: 4px solid #5f95ff;
    border-radius: 4px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.06);
    z-index: 999;
  }

  .node img {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    margin-left: 3px;
  }

  .node .label {
    display: inline-block;
    flex-shrink: 0;
    width: 120px;
    margin-left: 2px;
    color: #666;
    font-size: 12px;
  }

  .node .act {
    width: 20px;
    height: 20px;
    color: #7c2;
    margin-left: 4px;
    cursor: pointer;
  }

  .x6-node-selected .node {
    border-color: #1890ff;
    border-radius: 2px;
    box-shadow: 0 0 0 4px #d4e8fe;
  }

  .x6-edge:hover {
    stroke: #1890ff;
    stroke-width: 1px;
  }

  .x6-edge-selected {
    stroke: #1890ff;
    stroke-width: 1.5px !important;
  }

  @keyframes running-line {
    to {
      stroke-dashoffset: -1000;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  /deep/ .ant-modal-body {
    height: 400px;
    overflow-y: auto;
  }
</style>
