<template>
  <Modal
    :visible="visible"
    title="关联字段"
    :mask-closable="false"
    @cancel="cancelSelect"
    @ok="confirmSelect"
  >
    <a-form-item>
      <div class="link-content">
        <div class="link-content-item">
          <div class="table-title" :title="leftNode ? leftNode.cnName : ''">
            {{ leftNode ? leftNode.cnName : '' }}
          </div>
          <Select
            v-model:value="state.srcField"
            show-search
            class="select"
            :filter-option="filterOption"
            :options="options.leftOptions"
          >
          </Select>
        </div>
        <div class="split">=</div>
        <div class="link-content-item">
          <div class="table-title" :title="rightNode ? rightNode.cnName : ''">
            {{ rightNode ? rightNode.cnName : '' }}
          </div>
          <Select
            v-model:value="state.dstField"
            show-search
            class="select"
            :filter-option="filterOption"
            :options="options.rightOptions"
          >
          </Select>
        </div>
      </div>
    </a-form-item>
  </Modal>
</template>

<script setup lang="ts">
  import { reactive, watch } from 'vue';
  import { message as $message, Modal, Select } from 'ant-design-vue';

  defineOptions({
    name: 'LinkField',
    inheritAttrs: false,
  });

  const emits = defineEmits(['cancel', 'selected']);

  const props = defineProps({
    leftField: Object,
    rightField: Object,
    leftNode: Object,
    rightNode: Object,
    visible: {
      type: Boolean,
      default: false,
    },
  });

  const state = reactive({
    srcField: '',
    dstField: '',
  });

  const setField = (leftField, rightField) => {
    state.srcField = leftField;
    state.dstField = rightField;
  };
  const filterOption = (input: string, option: any) => {
    return option.label.toLowerCase().indexOf(input.toLowerCase()) >= 0;
  };
  const confirmSelect = () => {
    state.confirmLoading = true;
    const itemLeft = props.leftNode.fields.find((item) => item.id == state.srcField);
    const itemRight = props.rightNode.fields.find((item) => item.id == state.dstField);
    if (itemLeft != null && itemRight != null) {
      if (props.leftNode.id === props.rightNode.id && itemLeft.id === itemRight.id) {
        $message.error('两边字段不能相同');
      } else {
        itemLeft.tableCname = props.leftNode.cnName;
        itemLeft.tableId = props.leftNode.id;
        itemLeft.tableName = props.leftNode.name;
        itemLeft.schema = props.leftNode.schema;
        itemRight.tableCname = props.rightNode.cnName;
        itemRight.tableId = props.rightNode.id;
        itemRight.tableName = props.rightNode.name;
        itemRight.schema = props.rightNode.schema;
        emits('selected', [itemLeft, itemRight]);
      }
    }
  };

  const cancelSelect = () => {
    emits('cancel');
  };
  defineExpose({
    setField,
  });

  const options = reactive({
    leftOptions: [],
    rightOptions: [],
  });

  watch(
    () => props.leftNode,
    (v) => {
      if (v.fields && v.fields.length > 0) {
        const tmpOptions = v.fields.map((t) => {
          return {
            value: t.id,
            label: t.cnName,
          };
        });

        options.leftOptions = tmpOptions;
      }
    },
    { deep: true },
  );

  watch(
    () => props.rightNode,
    (v) => {
      if (v.fields && v.fields.length > 0) {
        const tmpOptions = v.fields.map((t) => {
          return {
            value: t.id,
            label: t.cnName,
          };
        });

        options.rightOptions = tmpOptions;
      }
    },
    { deep: true },
  );
</script>

<style scoped lang="less">
  .select {
    width: 180px;
    height: 30px;
    margin: 0 10px;
  }

  .link-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    .link-content-item {
      display: flex;
      justify-content: center;
      width: 45%;
      flex-direction: column;
    }
    .split {
      flex: 1;
      text-align: center;
    }
    .table-title {
      display: unset;
      height: 40px;
      font-size: 16px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
</style>
