<template>
  <a-drawer
    v-model:visible="visible"
    class="custom-class"
    style="color: red"
    :title="props.widget.widgetName"
    placement="right"
    width="650"
  >
    <div v-show="state.selectedTypeLocal == '5'">
      <!-- 看板接收参数 -->
      <div class="add-conditions">
        <a-button type="primary" size="small" @click="addNodeArr3">
          <template #icon>
            <plus-circle-outlined />
          </template>
          添加
        </a-button>
      </div>
      <div v-for="(item, index) in state.kanBanFilterRelations" :key="index" class="conditions">
        <a-select
          v-model:value="item.leftSelectedValue"
          placeholder="请选择过滤参数"
          style="width: 285px"
          show-search
          :filter-option="filterOption"
        >
          <a-select-option v-for="(n, i) in state.leftOptions" :key="i" :value="n.value">
            {{ n.value }}
          </a-select-option>
        </a-select>
        <div class="conditions-label">映射</div>
        <a-select
          v-model:value="item.rightSelectedValue"
          placeholder="请选择映射参数"
          style="width: 187px"
        >
          <a-select-option v-for="(n, i) in state.fieldList" :key="i" :value="n.columnName">
            {{ n.columnCName || n.columnName }}
          </a-select-option>
        </a-select>
        <minus-circle-outlined @click="onRemoveArr3(index)" />
      </div>
    </div>
    <div class="bottom-btn">
      <a-button style="margin-right: 10px" @click="onClose"> 取消 </a-button>
      <a-button type="primary" @click="onSubmit"> 确定 </a-button>
    </div>
  </a-drawer>
</template>

<script lang="ts" setup>
  import { reactive, watch, ref, nextTick } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import { kanbanConfigStore } from '@/store/modules/kanbanConfig';
  const store = kanbanConfigStore();
  const emit = defineEmits(['kanBanRelationSureFn']);
  const visible = ref<boolean>(false);
  // starting------
  const props = defineProps({
    widgetId: String,
    widgetName: String,
    widget: {
      type: Object,
      default: () => {
        return {};
      },
    },
    boardType: Number,
    selectedType: String,
    queryFilter: Array,
  });
  const state = reactive({
    visible: false,
    activeKey: ['1', '2'],
    boardId: null,
    selectBoardListData: [],
    selectedTypeLocal: '',
    leftOptions: [],
    kanBanFilterRelations: [] as any,
  });
  watch(
    () => visible.value,
    (val) => {
      if (val) {
        getFieldList();
      }
    },
  );
  watch(
    () => props.selectedType,
    (val) => {
      state.selectedTypeLocal = val;
    },
    { deep: true, immediate: true },
  );
  watch(
    () => props.queryFilter,
    (val) => {
      if (val && val.length > 0) {
        state.leftOptions = cloneDeep(val)
          ?.filter((x) => x.field)
          ?.map((x) => {
            return {
              ...x,
              value: x.field,
              label: x.field,
            };
          });
      }
    },
    { deep: true, immediate: true },
  );
  const filterOption = (input, option) => {
    return option.value.toLowerCase().indexOf(input.toLowerCase()) >= 0;
  };
  const getFieldList = () => {
    state.fieldList = [].concat(props.widget.config.data.rows).concat(
      props.widget.config.data.values.map((x) => {
        x.columnName = x.column;
        return x;
      }),
    );
    const pageData = JSON.parse(props.widget.config.data.pageData);
    if (pageData) {
      const filterList = pageData.filterList;
      if (filterList && filterList.length > 0) {
        filterList.forEach((x) => {
          if (x.title == '过滤') {
            x.value.forEach((y) => {
              if (!state.fieldList.find((z) => z.columnName == y.name || z.columnName == y.key)) {
                state.fieldList.push({
                  ...y,
                  columnName: y.columnName,
                  columnCName: y.sourceName,
                  id: y.sourceId,
                  key: y.sourceId,
                });
              }
            });
          }
        });
      }
    }
  };
  const setDefaultArr = (val) => {
    state.kanBanFilterRelations = val;
  };
  const onRemoveArr3 = (index) => {
    state.kanBanFilterRelations.splice(index, 1);
  };
  const addNodeArr3 = () => {
    state.kanBanFilterRelations.push({
      leftSelectedValue: '',
      rightSelectedValue: '',
    });
  };
  const onSubmit = () => {
    if (
      state.kanBanFilterRelations &&
      state.kanBanFilterRelations.find((x) => !x.leftSelectedValue || !x.rightSelectedValue)
    ) {
      message.warning('请完善看板过滤配置');
    } else {
      const index = store.kanbanData.findIndex((x) => x.widgetId == props.widget.widgetId);
      store.kanbanData[index].relations.filterLinks = state.kanBanFilterRelations;
      emit('kanBanRelationSureFn');
      visible.value = false;
    }
  };
  // end-----
  const showDrawer = () => {
    visible.value = true;
  };
  const onClose = () => {
    visible.value = false;
  };
  defineExpose({ showDrawer, setDefaultArr });
</script>

<style lang="less" scoped>
  .radio-btn {
    margin-bottom: 15px;
  }
  .add-conditions {
    text-align: right;
    margin-bottom: 15px;
  }
  .conditions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .bottom-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    left: 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
  }
</style>
