<template>
  <div class="containerPage">
    <a-card>
      <div class="blockstyle">
        <ul>
          <li
            v-for="item in indexNav"
            :key="item.name"
            class="home_navigation"
            style="width: 180px"
            :class="[{ activeTab: active === item.value }]"
            @click="getActive(item.value)"
          >
            <span>{{ item.name }}</span>
          </li>
        </ul>
        <div class="container-month">
          <span class="month">月份：</span>
          <a-date-picker
            v-model:value="valueDate"
            picker="month"
            :allow-clear="false"
            @change="periodChange"
          />
        </div>
      </div>
    </a-card>
    <a-table
      v-if="active == '00'"
      ref="tableRef"
      class="table1"
      :pagination="false"
      :data-source="activeKey1.dataSource"
      :columns="activeKey1.columns"
      :loading="activeKey1.loading"
      :scroll="{ y: activeKey1.scorllYNum }"
      bordered
      :row-class-name="rowClassName"
    />
    <div v-else-if="active == '40'" class="active5">
      <div class="active5-info">
        <div>{{ state.selectYear }}年{{ state.selectMonth }}月工作提示</div>
        <div v-if="userInfo.roleName.indexOf('重点工作管理员') != -1" class="active5-button">
          <a-button
            type="primary"
            style="margin-right: 15px"
            :loading="activeKey5.loading"
            @click="save('0')"
          >
            保存</a-button
          >
          <a-button type="primary" :loading="activeKey5.loading" @click="save('1')">修改</a-button>
        </div>
      </div>
      <a-textarea
        v-model:value="activeKey5.remark"
        :disabled="activeKey5.disabled"
        placeholder="下阶段工作提示"
        :rows="15"
      />
    </div>
    <DynamicTable
      v-show="active == '60' || active == '20' || active == '30'"
      :data-request="loadTableData"
      :columns="active == '60' ? baseColumns60 : baseColumns"
      auto-height
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.dataIndex === 'projectName'">
          <span class="link" @click="openTabel(record)"> {{ record.projectName }}</span>
        </template>
        <template v-if="column.dataIndex === 'taskCode' && record.pkId">
          <span class="link" @click="openTabel(record)"> {{ record.taskCode }}</span>
        </template>
        <template v-if="column.dataIndex === 'taskCode' && !record.pkId">
          <span class="link1" @click="openTabel(record)"> {{ record.taskCode }}</span>
        </template>
      </template>
    </DynamicTable>
    <a-modal
      v-model:visible="state.visible"
      destroy-on-close
      style="top: 30px"
      :footer="null"
      width="95%"
      @cancel="close"
    >
      <template #title>
        <div style="font-size: 18px; color: #037cec; font-weight: bold; text-align: center">{{
          state.dataSource.length > 0 ? state.dataSource[0].projectName : ''
        }}</div>
      </template>
      <div class="model-content">
        <a-table
          ref="table"
          :pagination="false"
          :data-source="state.dataSource"
          :columns="columnModal"
          :loading="state.loading"
          :scroll="{ y: winHeight }"
          bordered
        />
        <div class="model-content-footer">
          <Button @click="lastProject">上一个</Button>
          <Button @click="nextProject">下一个</Button>
        </div></div
      >
    </a-modal>
  </div>
</template>
<script setup lang="ts">
  import { ref, reactive, onMounted, computed, onBeforeMount } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import { isNil, uniq, indexOf, cloneDeep } from 'lodash-es';
  import { message, Button } from 'ant-design-vue';
  import { baseColumns, baseColumns60, columnModal } from './components/columns.tsx';
  import { useTable } from '@/components/core/dynamic-table';
  import {
    queryLevelDept,
    queryProjectStatus,
    overallSituation,
    queryJobTips,
    addOrRemoveJobTips,
  } from '@/api/priorityWork/index';
  import { useUserStore } from '@/store/modules/user';

  defineOptions({
    name: 'homePagekanban',
    inheritAttrs: false,
  });
  const userStore = useUserStore();
  const userInfo = computed(() => userStore.userInfo);
  const tableRef = ref(null);
  const table = ref();
  const state = reactive({
    tableData: [],
    deptList: [],
    selectYear: '',
    selectMonth: '',
    lastProjectCode: '',
    nextProjectCode: '',
    params: {
      pageSize: 10000,
      pageNum: 1,
      taskStatus: '',
      fillMonth: '',
    },
    visible: false,
    dataSource: [],
    loading: false,
  });
  const indexNav = reactive([
    { name: '总体情况', active: true, value: '00' },
    { name: '本月项目情况', active: false, value: '60' },
    { name: '拟关闭项目', active: false, value: '20' },
    { name: '已关闭项目', active: false, value: '30' },
    { name: '下阶段工作提示', active: false, value: '40' },
  ]);
  const valueDate = ref<Dayjs>();
  const active = ref('00');
  const activeKey1 = reactive({
    dataSource: [],
    columns: [
      { title: '类型', dataIndex: 'projectDefMonth', align: 'center' },
      { title: '数量小计', dataIndex: 'quantitySubtotal', align: 'center' },
      {
        title: `${dayjs().month() + 1}月拟闭环数`,
        dataIndex: 'quasiClosedLoopNum',
        align: 'center',
      },
      { title: '累积关闭数', dataIndex: 'cumulativeNumClosures', align: 'center' },
      { title: '持续推进中', dataIndex: 'inProgressNum', align: 'center' },
    ],
    loading: false,
    scorllYNum: 0,
  });
  // 设置表格背景色
  const rowClassName = (record) => {
    if (Number(record.quantitySubtotal) > 0) {
      return 'bgtable1';
    }
  };
  // 获取总体情况信息
  const getData = async () => {
    activeKey1.loading = true;
    const res = await overallSituation({ queryMonth: state.params.fillMonth });
    if (res.code === 'OK' && res.data) {
      const obj = {
        cumulativeNumClosures: 0,
        inProgressNum: 0,
        projectDefMonth: '总计',
        quantitySubtotal: 0,
        quasiClosedLoopNum: 0,
      };
      res.data.forEach((v) => {
        obj.quantitySubtotal += Number(v.quantitySubtotal);
        obj.cumulativeNumClosures += Number(v.cumulativeNumClosures);
        obj.inProgressNum += Number(v.inProgressNum);
        obj.quasiClosedLoopNum += Number(v.quasiClosedLoopNum);
      });
      activeKey1.dataSource = res.data;
      activeKey1.dataSource.push(obj);
    } else {
      activeKey1.dataSource = [];
    }
    activeKey1.loading = false;
  };
  // 获取单位信息
  const getDept = async () => {
    const res = await queryLevelDept();
    res.data.forEach((item) => {
      item.value = item.deptCode;
      item.label = item.deptName;
    });
    state.deptList = res.data;
    baseColumns.forEach((v) => {
      if (v.dataIndex === 'responsibilityDeptCode') {
        v.formItemProps.componentProps.options = state.deptList;
      }
    });
    baseColumns60.forEach((v) => {
      if (v.dataIndex === 'responsibilityDeptCode') {
        v.formItemProps.componentProps.options = state.deptList;
      }
    });
  };
  // 选择月份
  const periodChange = (_date: dayjs | string, dateString: string) => {
    state.selectMonth = dayjs(_date).month() + 1;
    state.selectYear = dayjs(_date).year();
    activeKey1.columns[2].title = `${state.selectMonth}月拟闭环数`;
    state.params.fillMonth = dateString;
    isActive();
  };
  // 选择tab
  const getActive = (data) => {
    active.value = data;
    state.params.taskStatus = data;
    isActive();
  };
  const isActive = async () => {
    if (active.value == '60' || active.value == '20' || active.value == '30') {
      dynamicTableInstance.reload();
    } else if (active.value == '00') {
      getData();
    } else if (active.value == '40') {
      activeKey5.disabled = true;
      activeKey5.queryMonth = dayjs(state.params.fillMonth).format('YYYYMM');
      getRemark();
    }
  };
  const [DynamicTable, dynamicTableInstance] = useTable({
    rowKey: 'taskId',
    pagination: false,
    size: 'small',
    bordered: true,
  });
  // 表格单元格合并
  const combineRow = (key) => {
    const tableData = state.tableData;
    for (let i = 0; i < tableData.length; i++) {
      const item = tableData[i];
      let count = 1;
      for (let j = i + 1; j < tableData.length; j++) {
        // 如果是同一个值，往后递增
        if (item[key] === tableData[j][key]) {
          count++;
          // 往后相同的值都设为空单元格
          tableData[j][`${key}RowSpan`] = 0;
          // 只有同值第一个才设置合并的单元格数
          item[`${key}RowSpan`] = count;
          // 所有都是为同一个值的情况
          // 如果到了尾部，则循环结束
          if (j === tableData.length - 1) {
            return;
          }
        } else {
          // 指针跳转到下一个，从下一排开始
          i = j - 1;
          count = 1;
          tableData[j][`${key}RowSpan`] = 1;
          break;
        }
      }
    }
    state.tableData = tableData;
  };
  const lastProject = () => {
    table.value.$el.querySelector('.ant-table-body').scrollTop = 0; //滚动条默认在顶部
    if (!isNil(state.lastProjectCode)) {
      const record = {
        projectCode: state.lastProjectCode,
      };
      getTable(record);
    } else {
      message.warn('没有更多信息');
    }
  };
  const nextProject = () => {
    table.value.$el.querySelector('.ant-table-body').scrollTop = 0;
    if (!isNil(state.nextProjectCode)) {
      const record = {
        projectCode: state.nextProjectCode,
      };
      getTable(record);
    } else {
      message.warn('没有更多信息');
    }
  };
  const loadTableData = async (params) => {
    if (params.taskStatus) {
      state.params.taskStatus = params.taskStatus;
    } else {
      if (active.value == '60') {
        state.params.taskStatus = '60';
      }
    }
    const data = await queryProjectStatus({ ...params, ...state.params });
    if (data.code === 'OK') {
      if (active.value == '60' || active.value == '20' || active.value == '30') {
        const pkIds = data?.data?.map((x) => x.pkId);
        if (pkIds && pkIds.length > 0) {
          const indexList = [] as any;
          for (const pkId of pkIds) {
            indexList.push(indexOf(pkIds, pkId));
          }
          if (indexList && indexList.length > 0) {
            uniq(indexList)?.forEach((x, index) => {
              const params = cloneDeep(data.data[x + index]);
              delete params.pkId;
              data.data.splice(x + index, 0, {
                ...params,
                taskCode: data.data[x + index]?.projectName,
              });
            });
          }
        }
      }
      state.tableData = data.data;
      combineRow('projectCode');
      // console.log(state.tableData, 'state.tableData');

      return {
        list: data.data,
      };
    } else {
      state.tableData = [];
      return {
        list: [],
      };
    }
  };
  const activeKey5 = reactive({
    remark: '',
    disabled: true,
    queryMonth: '',
    id: '',
    loading: false,
  });
  const getRemark = async () => {
    activeKey5.loading = true;
    const res = await queryJobTips({ queryMonth: activeKey5.queryMonth });
    if (res.data) {
      activeKey5.remark = res.data.remark;
      activeKey5.id = res.data.id;
    } else {
      activeKey5.remark = '';
      activeKey5.id = '';
    }
    activeKey5.loading = false;
  };
  // 保存/修改
  const save = async (flag) => {
    if (flag == 1) {
      activeKey5.disabled = false;
    } else {
      activeKey5.loading = true;
      const params = {
        remark: activeKey5.remark,
        id: activeKey5.id,
        widgetId: activeKey5.queryMonth,
      };
      const res = await addOrRemoveJobTips(params);
      if (res.code === 'OK') {
        message.success('保存成功');
      }
      activeKey5.loading = false;
      activeKey5.disabled = true;
    }
  };
  // 初始月份，年付
  const initMonth = () => {
    valueDate.value = dayjs(new Date());
    state.params.fillMonth = dayjs(new Date()).format('YYYY-MM');
    state.selectYear = dayjs().year();
    state.selectMonth = dayjs().month() + 1;
  };
  // 设置表格高度
  const scorllY = () => {
    const screenHeight = document.body.clientHeight;
    const tableY = tableRef.value.$el.getBoundingClientRect().top;
    activeKey1.scorllYNum = screenHeight - tableY - 70;
  };
  const openTabel = (record) => {
    state.visible = true;
    getTable(record);
  };
  const getTable = async (record) => {
    const params = {
      projectCode: record.projectCode,
      taskStatus: state.params.taskStatus,
    };
    state.loading = true;
    const data = await queryProjectStatus(params);
    if (data.success) {
      let i = 1;
      data.data.forEach((x) => {
        Object.assign(x, { taskIndex: i });
        i++;
      });
      state.dataSource = data.data;
      if (data.data.length > 0) {
        state.lastProjectCode = data.data[0].lastProjectCode;
        state.nextProjectCode = data.data[0].nextProjectCode;
      }
    } else {
      state.dataSource = [];
    }
    state.loading = false;
  };
  const close = () => {
    state.visible = false;
  };
  //页面更改
  const winHeight = ref(0);
  onBeforeMount(() => {
    const h = document.documentElement.clientHeight;
    winHeight.value = h - 220;
  });
  onMounted(() => {
    getDept();
    initMonth();
    getData();
    scorllY();
  });
</script>

<style lang="less" scoped>
  .containerPage {
    height: 100%;
    padding: 0 10px;
    .blockstyle {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      text-align: center;
      position: relative;
      ul {
        display: table;
        margin: 0 auto;
        text-align: center;
        list-style: none;
        padding: 0px;
        height: 65px;
        .home_navigation {
          float: left;
          width: 11%;
          text-align: center;
          line-height: 60px;
          font-family: @font-family;
          font-size: 14px;
          color: @heading-color;
        }
        .activeTab {
          color: #36a6fe;
          border-bottom: 3px solid #36a6fe;
        }
      }
    }
    .container-month {
      position: absolute;
      right: 0;
      top: 17px;
      .month {
        font-weight: 700;
        font-size: 15px;
      }
    }
    .active5 {
      margin-top: 15px;
      font-size: 16px;
      font-weight: bold;
      .active5-info {
        margin-bottom: 20px;
        div {
          display: inline-block;
        }
        .active5-button {
          width: 89%;
          text-align: right;
          display: inline-block;
        }
      }
    }
  }

  .model-content {
    padding-top: 15px;
  }
  .model-content-footer {
    text-align: right;
    padding-top: 5px;
    button {
      margin-left: 5px;
    }
  }
  /deep/ .task-content-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
  }
  /deep/ .task-content-title-1 {
    margin-bottom: 5px;
    font-size: 14px;
  }
  /deep/ .task-content-detail {
    text-align: left;
    font-size: 14px;
  }
  /deep/ .text-center {
    text-align: center;
  }
  /deep/ .task-content,
  /deep/.task-content span {
    font-size: 16px !important;
  }
  /deep/ .table1 .ant-table-thead > tr > th {
    font-size: 18px;
    background: #ed7d31;
    color: #fff;
  }
  /deep/ .table1 .ant-table-tbody {
    background: #e9edf4;
  }
  /deep/ .table1 .bgtable1 {
    font-size: 18px;
    background-color: #d0d8e8 !important;
  }

  .link {
    color: #037cec;
    cursor: pointer;
  }
  .link1 {
    color: #037cec;
    cursor: pointer;
    font-size: 18px;
    ont-weight: bold;
    line-height: 30px;
  }
  /deep/ .ant-table-thead .ant-table-cell {
    text-align: center !important;
    font-weight: bold;
  }
  /deep/ .ant-modal-header .ant-modal-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  /deep/ .ant-card-body {
    padding: 0 24px;
  }
</style>
