<template>
  <div>
    <DraggableModal
      v-model:visible="goalVisible"
      :title="attrs.title"
      :width="760"
      destroy-on-close
      :mask-closable="false"
      @cancel="closeModal(false)"
    >
      <a-form
        ref="formRef"
        :model="formState"
        :rules="rules"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
      >
        <a-row :gutter="24">
          <a-col :span="12">
            <a-form-item label="发言主题" name="dialogueMeetingTheme">
              <a-input
                v-model:value="formState.dialogueMeetingTheme"
                placeholder="请输入100字符以内"
                show-count
                :maxlength="100"
              />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="季度" name="quarter">
              <a-select v-model:value="formState.quarter" placeholder="请选择季度">
                <a-select-option
                  v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_QUARTERLY_TYPE')"
                  :key="index"
                  :value="item.itemValue"
                  >{{ item.itemText }}</a-select-option
                >
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="发言类型" name="dialogueMeetingType">
              <a-select v-model:value="formState.dialogueMeetingType" placeholder="请选择发言类型">
                <a-select-option
                  v-for="(item, index) in dict.getItemsByDictCode('DIALOGUE_MEETING_TYPE')"
                  :key="index"
                  :value="item.itemValue"
                  >{{ item.itemText }}</a-select-option
                >
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="部门" required name="deptCode">
              <a-tree-select
                v-model:value="formState.deptCode"
                :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
                placeholder="请选择部门"
                allow-clear
                :show-checked-strategy="SHOW_ALL"
                tree-default-expand-all
                :tree-data="treeDataSel"
                @change="chooseDept"
              >
                <template #tagRender="{ label, closable, onClose }">
                  <a-tag :closable="closable" @close="onClose">
                    {{ label }}
                  </a-tag>
                </template>
              </a-tree-select>
            </a-form-item>
          </a-col>
          <a-col :span="12" v-if="roleArr.includes(113)">
            <a-form-item label="发言顺序" name="orderNum">
              <a-input-number
                v-model:value="formState.orderNum"
                placeholder="请输入发言顺序"
                style="width: 100%"
                min="0"
                :precision="0"
              />
            </a-form-item>
          </a-col>
          <a-col :span="12" v-if="roleArr.includes(113)">
            <a-form-item label="预计用时" name="expectedTime">
              <a-input-number
                v-model:value="formState.expectedTime"
                placeholder="请输入预计用时"
                addon-after="分"
                min="0"
                :precision="0"
              />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="会议材料">
              <a-upload
                v-model:file-list="state.fileList"
                name="file"
                accept=".pdf"
                :action="`${state.BASE_URL}performance-eval/n/public/batchadd/file?fileType=171`"
                :before-upload="beforeUpload"
                :headers="{
                  'X-Requested-With': null,
                }"
                :max-count="1"
                @change="(info) => handleChange(info, 1)"
              >
                <a-button> <upload-outlined></upload-outlined>文件上传 </a-button>

                <a-popover trigger="hover" class="ml-1x">
                  <template #content>
                    <div class="error"> (支持扩展名：.pdf) </div>
                  </template>
                  <question-circle-outlined class="error" />
                </a-popover>
              </a-upload>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="缩略图">
              <a-upload
                v-model:file-list="state.pictureList"
                name="file"
                accept=".jpg,.jpeg,.png"
                :action="`${state.BASE_URL}performance-eval/n/public/batchadd/file?fileType=171`"
                :before-upload="beforeUpload"
                :headers="{
                  'X-Requested-With': null,
                }"
                list-type="picture"
                :max-count="1"
                @change="(info) => handleChange(info, 2)"
              >
                <a-button> <upload-outlined></upload-outlined>图片上传 </a-button>

                <a-popover trigger="hover" class="ml-1x">
                  <template #content>
                    <div class="error"> (支持扩展名：.jpg,.jpeg,.png) </div>
                  </template>
                  <question-circle-outlined class="error" />
                </a-popover>
              </a-upload>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
      <template #footer>
        <div class="text-c">
          <a-button @click="closeModal(false)">取消</a-button>
          <a-button type="primary" @click="onSubmit" :loading="saveLoading">保存</a-button>
        </div>
      </template>
    </DraggableModal>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, useAttrs, ref, toRaw } from 'vue';
  import { isEmpty } from 'lodash-es';
  import {
    TreeSelect,
    message,
    UploadChangeParam,
    type FormInstance,
    UploadProps,
    Upload,
  } from 'ant-design-vue';
  import type { UnwrapRef } from 'vue';
  import type { Rule } from 'ant-design-vue/es/form';
  import { getDeptAllTwo } from '@/api/system/dept/index';
  import { genDeptTreeItem } from '@/api/system/dept/service';
  import dict from '@/utils/dict.js';
  import { addMeetingItem } from '@/api/meetingList';
  import { DraggableModal } from '@/components/core/draggable-modal';

  defineOptions({
    name: 'addItem',
  });
  const attrs = useAttrs();
  const props = defineProps({
    visible: { type: Boolean },
    record: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });

  const localRole: any = JSON.parse(localStorage.getItem('ACCESS_ROLE_INFO_KEY'));
  const roleArr = localRole.value.map((item) => {
    return item.roleId;
  });
  console.log(localRole, roleArr);

  const SHOW_ALL = TreeSelect.SHOW_ALL;
  const treeDataSel = ref<TreeSelectProps['treeData']>([]);

  const goalVisible = ref(false);
  const formRef = ref();
  const labelCol = { span: 8 };
  const wrapperCol = { span: 16 };
  const formState: UnwrapRef<FormState> = reactive({
    dialogueMeetingTheme: '',
    quarter: undefined,
    dialogueMeetingType: undefined,
    deptCode: undefined,
    deptName: undefined,
    orderNum: '',
    expectedTime: '',
    dialogueMeetingFile: {},
    thumbnail: {},
  });
  const state = reactive({
    BASE_URL: location.origin.endsWith('localhost:8099')
      ? `${location.origin}/proxy/`
      : process.env.VUE_APP_BASE_API,
    fileList: <any>[],
    pictureList: <any>[],
  });

  /**查询相关组织树选择 **/
  const queryDept = async () => {
    const { rows } = (await getDeptAllTwo()) as any;
    const deptTree: API.TreeDataItem[] = [];
    for (let i = 0; i < rows.children.length; i++) {
      const temp = rows.children[i];
      deptTree.push(genDeptTreeItem(temp));
    }
    treeDataSel.value = deptTree;
  };

  const chooseDept = (_value, label, _extra) => {
    formState.deptName = label[0];
  };
  /** 上传文件  开始 **/
  const handleChange = (info: UploadChangeParam, type) => {
    if (info.file.status === 'done' || info.file.status === 'removed') {
      const fileInfo = info.fileList.map((item) => {
        if (item.status == 'done' && item?.response?.success) {
          return item.response.data;
        } else {
          return {
            fileAddress: getCaption(item.url),
            fileName: item.name,
          };
        }
      });
      if (type == 1) {
        formState.dialogueMeetingFile = fileInfo[0];
      } else if (type == 2) {
        formState.thumbnail = fileInfo[0];
      }
      if (info.file.status === 'done') {
        message.success(`${info.file.name} 文件上传成功！`);
      }
    } else if (info.file.status === 'error') {
      message.error(`${info.file.name} 文件上传失败！`);
    }
  };
  //截取等号后的值（接口返回的文件，需要手动处理为需要的格式进行展示）
  const getCaption = (obj) => {
    const index = obj.lastIndexOf('=');
    obj = obj.substring(index + 1, obj.length);
    return obj;
  };
  const beforeUpload = (file: UploadProps['fileList'][number]) => {
    const isLt100M = file.size / 1024 / 1024 < 100;
    if (!isLt100M) {
      message.error('文件最大100M!');
    }
    return isLt100M || Upload.LIST_IGNORE;
  };
  /** 上传文件  结束 **/

  const emits = defineEmits(['close']);
  const closeModal = (flag) => {
    goalVisible.value = false;
    emits('close', flag);
  };

  const rules: Record<string, Rule[]> = {
    dialogueMeetingTheme: [{ required: true, trigger: 'blur' }],
    quarter: [{ required: true, message: '请选择季度', trigger: 'change' }],
    dialogueMeetingType: [{ required: true, message: '请选择发言类型', trigger: 'change' }],
    deptCode: [{ required: true, message: '请选择部门', trigger: 'change' }],
  };
  const onSubmit = () => {
    formRef.value
      .validate()
      .then(() => {
        saveMeeting();
      })
      .catch((error) => {
        console.log('error', error);
      });
  };
  const saveLoading = ref(false);
  const saveMeeting = async () => {
    saveLoading.value = true;
    const params = { ...formState, dialogueMeetingCode: props.record.dialogueMeetingCode };
    const { data } = await addMeetingItem(params);
    if (data.success) {
      message.success(data.message);
      closeModal(true);
    } else {
      message.error(data.message);
    }
    saveLoading.value = false;
  };

  const renderData = (record) => {
    for (const key in formState) {
      formState[key] = record[key];
    }
    const { dialogueMeetingFile, thumbnail } = record;
    state.fileList = !isEmpty(dialogueMeetingFile)
      ? [
          {
            uid: dialogueMeetingFile.fileAddress,
            name: dialogueMeetingFile.fileName,
            status: 'done',
            url: `${state.BASE_URL}basic/n/get/file?key=${dialogueMeetingFile.fileAddress}`,
          },
        ]
      : [];
    state.pictureList = !isEmpty(thumbnail)
      ? [
          {
            uid: thumbnail.fileAddress,
            name: thumbnail.fileName,
            status: 'done',
            url: `${state.BASE_URL}basic/n/get/file?key=${thumbnail.fileAddress}`,
          },
        ]
      : [];
  };

  watch(
    () => props.visible,
    (nV) => {
      if (nV) {
        goalVisible.value = nV;
        renderData(props.record);
        queryDept();
      }
    },
  );
</script>
<style lang="less" scoped>
  /deep/.col-sty .ant-form-item-label {
    max-width: 16%;
  }
</style>
