<template>
  <div class="pdf-preview" @keyup.enter="nextPage">
    <vue-pdf-embed
      :source="state.source"
      class="vue-pdf-embed"
      :page="state.pageNum"
      :style="scale"
    />
    <div class="page-tool">
      <div class="tool-item tool-prev" @click="lastPage" @keydown.left="lastPage"
        ><left-outlined
      /></div>
      <div class="tool-item tool-next" @click="nextPage"><right-outlined /></div>
      <div class="toolbar">
        <div class="page-tool-item">{{ state.pageNum }}/{{ state.numPages }}</div>
        <div class="tool-item2" @click="pageZoomOut"><zoom-in-outlined />&nbsp;放大</div>
        <div class="tool-item2" @click="pageZoomIn"><zoom-out-outlined />&nbsp;缩小</div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { reactive, onMounted, computed, watch } from 'vue';
  import VuePdfEmbed from 'vue-pdf-embed';
  import { createLoadingTask } from 'vue3-pdfjs/esm'; // 获得总页数

  defineOptions({
    name: 'PDFPreview',
  });

  const emits = defineEmits(['toNext']);
  const props = defineProps({
    pdfUrl: {
      type: String,
      required: true,
    },
  });

  const state = reactive<any>({
    source: props.pdfUrl, // 预览pdf文件地址
    pageNum: 1, //当前页面
    scale: 3.67, // 缩放比例
    numPages: 0, // 总页数
  });

  const scale = computed(() => `zoom:${state.scale}`);
  const lastPage = () => {
    if (state.pageNum > 1) {
      state.pageNum -= 1;
    }
  };
  const nextPage = () => {
    if (state.pageNum < state.numPages) {
      state.pageNum += 1;
    }
    if (state.pageNum == state.numPages) {
      emits('toNext');
    }
  };
  const pageZoomOut = () => {
    console.log(state.scale);

    if (state.scale < 5) {
      state.scale += 0.1;
    }
  };
  const pageZoomIn = () => {
    if (state.scale > 1.5) {
      state.scale -= 0.1;
    }
  };
  watch(
    () => props.pdfUrl,
    (newVal, oldVal) => {
      if (newVal) {
        state.source = newVal;
        const loadingTask = createLoadingTask(state.source);
        loadingTask.promise.then((pdf: { numPages: number }) => {
          console.log('pdf=>', pdf);

          state.numPages = pdf.numPages;
        });
      }
    },
  );
  onMounted(() => {
    window.addEventListener('keydown', function (event) {
      if (event.key == 'ArrowRight' || event.key == 'PageDown') {
        nextPage();
      }
      if (event.key == 'ArrowLeft' || event.key == 'PageUp') {
        lastPage();
      }
    });
  });
</script>
<style lang="less" scoped>
  .pdf-preview {
    position: relative;
    box-sizing: border-box;
    // background-color: #e9e9e9;

    .vue-pdf-embed {
      text-align: center;
      width: 515px;
      // border: 1px solid #e5e5e5;
      margin: 0 auto;
      box-sizing: border-box;
      // transform-origin: center top;
    }
    .page-tool {
      font-size: 2.2vh;

      .tool-item {
        cursor: pointer;
        position: fixed;
        font-size: 8vh;
        background: rgba(33, 33, 33, 0);
        border-radius: 50%;
        color: rgba(255, 255, 255, 0);
        top: 50%;
        width: 12vh;
        height: 12vh;
        text-align: center;
        transition: background-color 1s ease, color 1s ease;
        &.tool-prev {
          left: 1vw;
          top: 48%;
        }
        &.tool-next {
          right: 1vw;
        }
        &:hover {
          transition: background-color 1s ease, color 1s ease;
          background: rgba(33, 33, 33, 0.7);
          color: rgba(255, 255, 255, 0.6);
        }
      }

      .toolbar {
        position: fixed;
        left: 1vw;
        bottom: 2vh;
        display: flex;
        background: rgba(33, 33, 33, 0.4);
        border-radius: 20px;
        padding: 0 15px;
        color: rgb(224, 224, 224);
        .page-tool-item {
          padding: 8px 15px;
        }
        .tool-item2 {
          padding: 8px 15px;
          cursor: pointer;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
</style>
