<template>
  <a-form ref="formRef" :model="dynamicValidateForm">
    <a-space
      v-for="(item, index) in dynamicValidateForm.rules"
      :key="item.configComponents[0].id"
      style="display: flex; margin-bottom: 8px"
      align="baseline"
    >
      <a-form-item :class="`type${index}`" :name="['rules', index, 'type']">
        <a-select v-model:value="item.type" :disabled="!attrs.edit" style="width: 60px">
          <a-select-option value="or">或</a-select-option>
          <a-select-option value="and">且</a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item :name="['rules', index, 'configComponents[0].columnName']">
        <a-select
          v-model:value="item.configComponents[0].columnCName"
          :disabled="!attrs.edit"
          show-search
          placeholder="请选择字段"
          style="width: 160px"
          :options="attrs.options"
          :filter-option="filterOption"
          @change="
            (val, opt) => {
              handleChange(val, opt, index);
            }
          "
        ></a-select>
      </a-form-item>
      <a-form-item> = </a-form-item>
      <a-form-item>
        <a-switch
          v-model:checked="item.configComponents[0].checked"
          style="width: 60px"
          checked-children="输入"
          un-checked-children="常量"
          @change="switchHandle($event, index)"
        />
      </a-form-item>
      <a-form-item v-if="item.configComponents[0].checked" :name="['rules', index, 'values']">
        <a-input
          v-model:value="item.configComponents[0].values"
          :disabled="!attrs.edit"
          placeholder="请输入"
        />
      </a-form-item>
      <a-form-item v-else :name="['rules', index, 'values']">
        <a-select ref="select" style="width: 180px" value="1">
          <a-select-option value="1">登录人部门信息</a-select-option>
        </a-select>
      </a-form-item>
      <MinusCircleOutlined v-if="attrs.edit" @click="removeDataRule(item)" />
    </a-space>
    <a-form-item v-if="attrs.edit">
      <a-button type="dashed" block @click="addDataRule">
        <PlusOutlined />
        新增数据规则
      </a-button>
    </a-form-item>
  </a-form>
</template>

<script setup lang="ts">
  import { reactive, ref, useAttrs, watch } from 'vue';
  import { MinusCircleOutlined, PlusOutlined } from '@ant-design/icons-vue';
  import { FormInstance, message } from 'ant-design-vue';
  const attrs = useAttrs();
  //按照后端接口要求，处理数据结构
  interface ruleIn {
    type: string;
    configComponents: ruleIt[];
  }
  interface ruleIt {
    columnName: string;
    columnCName: string;
    id: number;
    filterType: string;
    columnType: string;
    values: string;
    userType: string;
    checked: Boolean;
  }
  const formRef = ref<FormInstance>();
  const dynamicValidateForm = reactive<{ rules: ruleIn[] }>({
    rules: [
      {
        type: 'and',
        configComponents: [
          {
            columnName: '',
            columnCName: '',
            id: Date.now(),
            filterType: '=',
            columnType: '1',
            values: '',
            userType: '',
            checked: true,
          },
        ],
      },
    ],
  });
  const addDataRule = () => {
    if (!dynamicValidateForm.rules) {
      dynamicValidateForm.rules = [];
    }
    for (const item of dynamicValidateForm.rules) {
      const _coms = item.configComponents[0];
      if (!_coms.columnName || (!_coms.values && !_coms.userType)) {
        return message.warning(`以上数据规则存在空值，请填写完整再新增！`);
      }
    }
    dynamicValidateForm.rules.push({
      type: 'or',
      configComponents: [
        {
          columnName: '',
          columnCName: '',
          id: Date.now(),
          filterType: '=',
          columnType: '1',
          values: '',
          userType: '',
          checked: true,
        },
      ],
    });
  };
  const removeDataRule = (item: ruleIn) => {
    const index = dynamicValidateForm.rules.indexOf(item);
    if (index !== -1) {
      dynamicValidateForm.rules.splice(index, 1);
    }
  };
  //过滤
  const filterOption = (input: string, option: any) => {
    return option.label.toLowerCase().indexOf(input.toLowerCase()) >= 0;
  };
  const handleChange = (_value, options, index) => {
    const inVal = dynamicValidateForm.rules[index].configComponents[0];
    const { label, columnName, value } = options;
    inVal.columnCName = label;
    inVal.columnName = columnName;
    inVal.id = value;
  };
  const switchHandle = (checked, index) => {
    dynamicValidateForm.rules[index].configComponents[0].userType = !checked ? '1' : '';
  };
  //此处监听渲染规则数据
  watch(
    () => attrs.filters,
    (nV) => {
      if (nV ?? '' != '') {
        dynamicValidateForm.rules =
          typeof attrs?.filters == 'string' ? JSON.parse(attrs?.filters) : attrs?.filters;
      }
    },
  );
  defineExpose({
    dynamicValidateForm,
  });
</script>
<style lang="less" scoped>
  .type0 {
    visibility: hidden;
  }
</style>
