<template>
  <Popover placement="bottomRight" :overlay-style="{ width: '30%' }" @visibleChange="visibleChange">
    <template #content>
      <div class="infoContent">
        <p @click="goInfoDetails">查看全部 >></p>
      </div>
    </template>
    <template #title>
      <Tabs default-active-key="1" @change="callback">
        <Tabs.TabPane key="1">
          <template #tab>
            <span> 消息通知 </span>
            <span v-if="state.total > 0">({{ state.total }})</span>
          </template>

          <div style="max-height: 400px; overflow-y: auto">
            <a-row v-for="(item, index) in state.dataList" :key="index" class="alist">
              <a-col :span="1"><span v-if="item.readFlag == '10'" class="red-icon"></span></a-col>
              <a-col :span="16" class="ellipsis-1 pointer" @click="handleClickRow(item)">{{
                item.messageTitle
              }}</a-col>
              <a-col :span="7" class="text-r">{{
                moment(item.updateDate).format('MM-DD HH:mm')
              }}</a-col>
            </a-row>
          </div>
        </Tabs.TabPane>
      </Tabs>
    </template>

    <template v-if="state.total > 0"
      ><Badge dot> <BellOutlined /></Badge
    ></template>
    <template v-else>
      <BellOutlined />
    </template>
  </Popover>
</template>

<script lang="ts" setup>
  import { onMounted, reactive, nextTick } from 'vue';
  import { useRouter } from 'vue-router';
  import { BellOutlined } from '@ant-design/icons-vue';
  import { Badge, Popover, Tabs, message } from 'ant-design-vue';
  import { getNoticeList } from '@/api/perAppraisal/apiList';

  defineOptions({
    name: 'Notice',
  });
  const moment = require('moment');
  const router = useRouter();
  const state = reactive<any>({
    countX: 0,
    visible: false,
    dataList: [],
    total: 0,
  });

  const callback = (key) => {
    if (key === '1') {
      getNotReadC();
    }
    // if (key === '2') {
    //   this.getNotReadD()
    // }
  };

  const goInfoDetails = () => {
    router.push('/system/NoticeList');
  };
  // 获取未读线索消息
  const getNotReadC = async () => {
    const res = await getNoticeList();
    if (res.success) {
      state.dataList = res?.data;
      nextTick(() => {
        state.total = res?.data?.total;
      });
    } else {
      state.dataList = [];
      state.total = 0;
      message.error(res.message);
    }
  };

  const handleClickRow = (record) => {
    router.push({
      path: '/system/NoticeList',
      query: { code: record.messageId, readFlag: record.readFlag },
    });
  };

  const visibleChange = (flag) => {
    if (flag) getNotReadC();
  };

  onMounted(() => {
    getNotReadC();
  });
</script>

<style scoped lang="less">
  .ant-popover-title .info-title {
    display: flex;
    padding: 0px 20px 0px 20px;
    cursor: pointer; //鼠标变手

    p {
      width: 33.33%;
    }

    .active {
      color: #2587ff;
    }
  }

  .infoContent {
    display: flex;
    justify-content: flex-end;
  }

  .infoContent p:hover {
    cursor: pointer; //鼠标变手
    color: #409eff; //链接变颜色
  }

  .push-info {
    font-size: 24px;
    vertical-align: middle;
  }

  /deep/.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    color: #43bcff !important;
    cursor: pointer !important; //鼠标变手
  }

  //调整body行属性
  /deep/ .ant-table-tbody > tr > td {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
  }

  a {
    color: #000;
    outline: none;
    text-decoration: none;
  }

  .ant-badge {
    color: unset;
  }
  //新
  .alist {
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 2px;
    .red-icon {
      width: 6px;
      height: 6px;
      background: red;
      border-radius: 50%;
      display: block;
      margin-top: 10px;
    }
  }
</style>
