<template>
  <div class="container" :style="state.bgStyle">
    <div class="content">
      <div class="top">
        <div>
          <img alt="logo" class="logo" :src="state.logoSrc" />
        </div>
        <div class="header">
          <span class="title">{{ systemName }}</span>
        </div>
        <div class="desc"></div>
      </div>
      <div class="login main-content">
        <a-form layout="horizontal" :model="state.formInline" @submit.prevent="handleSubmit">
          <a-form-item>
            <a-input
              v-model:value="state.formInline.account"
              size="large"
              placeholder="请输入账户名/工号"
            >
              <template #prefix><user-outlined type="user" /></template>
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-input
              v-model:value="state.formInline.password"
              size="large"
              type="password"
              placeholder="请输入密码"
              autocomplete="new-password"
            >
              <template #prefix><lock-outlined type="user" /></template>
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-button type="primary" html-type="submit" size="large" :loading="state.loading" block>
              登录
            </a-button>
          </a-form-item>
        </a-form>
      </div>
    </div>
    <div v-show="state.verificationVisible" class="verification-panel">
      <slide-verification
        ref="slideVerificationRef"
        @verify="verificationHandle"
        @change-img="verificationChange"
        @slide-close="verificationClose"
      ></slide-verification
    ></div>

    <div class="footer myfooter">
      <div class="copyright">
        Copyright
        <copyright-circle-outlined />
        <span v-html="copyright"></span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ref, reactive } from 'vue';
  import { UserOutlined, LockOutlined } from '@ant-design/icons-vue';
  import { useRoute, useRouter } from 'vue-router';
  import { message, Modal } from 'ant-design-vue';
  import { useUserStore } from '@/store/modules/user';
  import { configuration } from '@/locales/config';
  import SlideVerification from '@/components/basic/verify/SlideVerification.vue';

  import { to } from '@/utils/awaitTo';

  defineOptions({
    name: 'login',
  });
  const state = reactive<any>({
    logoSrc: !(window as any).__POWERED_BY_QIANKUN__
      ? `${process.env.BASE_URL}/static/images/logo.png`
      : '/web-data-supervision/static/images/logo.png',
    bgStyle: {
      background: !(window as any).__POWERED_BY_QIANKUN__
        ? `#f0f2f5 url(${process.env.BASE_URL}static/images/bg.jpeg) center center / cover no-repeat fixed`
        : `#f0f2f5 url(/web-data-supervision/static/images/bg.jpeg) center center / cover no-repeat fixed`,
    },
    loading: false,
    verificationVisible: false,
    verificationConfig: {},
    formInline: {
      account:
        process.env.NODE_ENV === 'development' || process.env.NODE_ENV === 'testing' ? 'admin' : '',
      password:
        process.env.NODE_ENV === 'development' || process.env.NODE_ENV === 'testing'
          ? '1234qwer'
          : '',
      imageVerificationVo: {},
    },
  });
  const slideVerificationRef = ref();
  const systemName = ref('大数据一键绩效管理平台');
  const copyright = ref(configuration.copyright);

  const route = useRoute();
  const router = useRouter();

  const userStore = useUserStore();

  const handleSubmit = () => {
    const { account, password } = state.formInline;
    if (account.trim() == '' || password.trim() == '') {
      return message.warning('用户名或密码不能为空！');
    }
    state.verificationVisible = true;
    slideVerificationRef.value.changeImg();
  };

  const verificationHandle = (r, verification) => {
    if (r) {
      state.formInline.imageVerificationVo = verification;
      doLogin();
    } else {
      state.formInline.imageVerificationVo = {};
    }
  };
  const verificationChange = (e) => {
    state.verificationConfig = e;
  };
  const verificationClose = () => {
    state.verificationVisible = false;
  };

  const doLogin = async () => {
    const p: any = state.formInline;
    const [err] = await to(userStore.login(p));
    if (err) {
      console.log('hello', err);
      Modal.error({
        title: () => '提示',
        content: () => err.message,
      });
      state.verificationVisible = false;
      slideVerificationRef.value.changeImg();
    } else {
      message.success('登录成功！');
      setTimeout(() => router.replace((route.query.redirect as string) ?? '/'));
    }
    message.loading('登录中...', 0);
    state.loading = true;
    console.log(state.formInline);
    // params.password = md5(password)
    // await handleCheck();
    state.loading = false;
    message.destroy();
  };
</script>

<style lang="less" scoped>
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    max-width: 100%;
    background-attachment: fixed;
    background-size: cover;
    .content {
      padding: 32px 0;
      flex: 1;
      @media (min-width: 768px) {
        padding: 80px 0 10px;
      }
      .top {
        text-align: center;
        .header {
          margin-top: 10px;
          height: 50px;
          line-height: 50px;
          a {
            text-decoration: none;
          }
          .title {
            font-size: 50px;
            color: #fff;
            font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 600;
            position: relative;
            top: 6px;
          }
        }
        .logo {
          height: 40px;
          margin: 0 auto;
        }
        .desc {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.45);
          margin-top: 12px;
          margin-bottom: 70px;
        }
      }
      .main-content {
        width: 368px;
        margin: 0 auto;
        @media screen and (max-width: 576px) {
          width: 95%;
        }
        @media screen and (max-width: 320px) {
          .captcha-button {
            font-size: 14px;
          }
        }
      }
      .login {
        color: #fff;
        .icon {
          font-size: 24px;
          color: #fff;
          margin-left: 16px;
          vertical-align: middle;
          cursor: pointer;
          transition: color 0.3s;

          &:hover {
            color: #1890ff;
          }
        }
      }
    }
    .verification-panel {
      position: absolute;
      top: 150px;
      z-index: 100;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .ant-tabs-tab {
    color: #fff !important;
  }
  .myfooter {
    .copyright {
      color: #fff !important;
    }
  }

  .footer {
    padding: 0 16px;
    margin: 24px 0;
    text-align: center;

    .copyright {
      color: #fff;
      font-size: 14px;
      i {
        font-size: 0.8rem !important;
      }
    }
    .light {
      color: #fff;
    }
    .dark {
      color: rgba(0, 0, 0, 0.45);
    }

    &a {
      text-decoration: none;
    }
  }
</style>
