<template>
  <div>
    <vxe-grid v-bind="gridOptions">
      <template #toolbar_buttons>
        <div>
          季度：
          <a-select
            v-model:value="state.quarterPeriod"
            style="width: 160px"
            placeholder="请选择季度"
            @change="queryANALList()"
          >
            <a-select-option
              v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_QUARTERLY_TYPE')"
              :key="index"
              :value="item.itemValue"
              >{{ item.itemText }}</a-select-option
            >
          </a-select>
        </div>
      </template>
      <template #toolbar_tools>
        <a-tree-select
          v-model:value="state.goal"
          style="width: 300px; margin-left: 6px; margin-right: 6px"
          :max-tag-count="1"
          :tree-data="IndicatorTree"
          tree-checkable
          allow-clear
          placeholder="请选择指标项"
          tree-node-filter-prop="label"
          @blur="queryGoalHeader(state.goalArr)"
          @change="changeIndicator"
        />
      </template>
      <template #dept_header="{ row }">
        <span
          >部门

          <a-select
            v-model:value="state.dept"
            mode="multiple"
            style="width: 220px; margin-left: 6px"
            placeholder="请选择部门"
            :max-tag-count="1"
            :options="deptTreeData"
            allow-clear
            @blur="queryDeptLogic(state.deptArr)"
            @change="changeDept"
          >
          </a-select>
        </span>
      </template>
    </vxe-grid>
  </div>
</template>
<script setup lang="tsx">
  import { onMounted, reactive, ref } from 'vue';
  import { VxeGridProps } from 'vxe-table';
  import dayjs from 'dayjs';
  import { message } from 'ant-design-vue';
  import dict from '@/utils/dict.js';
  import { getDeptOne } from '@/api/system/dept/index';
  import { genGoalTreeItem } from '@/api/system/dept/service';
  import { queryGoalsApi, queryANALApi } from '@/api/home/apiList';

  defineOptions({
    name: 'AnalysisModule',
  });

  const props = defineProps({
    year: {
      type: String,
      default: () => {
        return dayjs(new Date()).format('YYYY');
      },
    },
  });
  const state = reactive<any>({
    quarterPeriod: undefined,
    dept: undefined,
    deptArr: [],
    goal: undefined,
    goalArr: [],
  });

  const gridOptions = reactive<VxeGridProps<RowVO>>({
    size: 'small',
    border: true,
    height: 480,
    align: null,
    toolbarConfig: {
      zoom: true,
      custom: true,
      slots: {
        buttons: 'toolbar_buttons',
        tools: 'toolbar_tools',
      },
    },
    columnConfig: {
      resizable: true,
    },
    columns: [
      {
        field: 'deptName',
        title: '部门',
        width: 280,
        fixed: 'left',
        slots: {
          header: 'dept_header',
        },
      },
    ],
    data: [],
  });

  const deptTreeData = ref<TreeSelectProps['treeData']>([]);
  const queryDept = async () => {
    const rows = (await getDeptOne()) as any;
    //转换数据格式
    deptTreeData.value = rows.map((item, index) => {
      return {
        value: item.deptCode,
        label: item.deptName,
      };
    });
  };

  //查询所有指标
  const IndicatorTree = ref<TreeSelectProps['treeData']>([]);
  const queryIndicator = async () => {
    const res = (await queryGoalsApi(props.year)) as any;
    const deptTree: API.TreeDataItem[] = [];
    for (let i = 0; i < res.data.length; i++) {
      const temp = res.data[i];
      deptTree.push(genGoalTreeItem(temp));
    }
    IndicatorTree.value = deptTree;
  };
  //计算上个月所在季度，此季度为默认值
  const CalculateQuarters = () => {
    const currentDate = new Date();
    const lastMonth = new Date(currentDate);
    lastMonth.setMonth(currentDate.getMonth() - 1);
    const lastMonthMonth = lastMonth.getMonth();
    state.quarterPeriod = (Math.floor(lastMonthMonth / 3) + 1).toString();
  };
  /******************** 部门选择逻辑 ********************/
  const changeDept = (_value, label) => {
    if (state.deptArr.length > label.length) {
      state.deptArr = label || [];
      queryDeptLogic(label);
    }
    state.deptArr = label || [];
    sessionStorage.setItem('dept', JSON.stringify(state.deptArr));
  };

  const queryDeptLogic = (arr) => {
    if (state.goalArr.length > 0 && arr.length > 0) {
      queryANALList();
    } else {
      gridOptions.data = arr.map((item) => {
        return { deptName: item.label };
      });
    }
  };

  /******************** 指标选择逻辑 ********************/
  const findSelectedItems = (key, data) => {
    const selected = [] as any;
    for (const node of data) {
      if (node.key === key) {
        selected.push({
          key: node.key,
          title: node.title,
          value: node.value,
          unit: node.unit ? dict.getItemText('INDICATOR_UNIT', node.unit) : node.unit,
        });
      }
      if (node.children) {
        selected.push(...findSelectedItems(key, node.children));
      }
    }
    return selected;
  };

  const changeIndicator = (_value, label, _extra) => {
    const allSelectedItems = [] as any;
    for (const key of _value) {
      allSelectedItems.push(...findSelectedItems(key, IndicatorTree.value));
    }

    if (state.goalArr.length > label.length) {
      state.goalArr = allSelectedItems || [];
      queryGoalHeader(allSelectedItems);
    }
    state.goalArr = allSelectedItems || [];
    sessionStorage.setItem('goal', JSON.stringify(allSelectedItems));
  };

  //如果只选择了指标，转换仅有指标的表头
  const queryGoalHeader = (arr) => {
    gridOptions.columns.length = 1;
    if (state.deptArr.length > 0 && arr.length > 0) {
      queryANALList();
    } else {
      const goalHeader = arr.map((item) => {
        return { field: item.key, title: `${item.title}(${item.unit})`, width: 180 };
      });
      gridOptions.columns.splice(1, 0, ...goalHeader);
    }
  };

  //渲染数据
  const renderData = () => {
    const deptData = JSON.parse(sessionStorage.getItem('dept') as any) || [];
    const goalData = JSON.parse(sessionStorage.getItem('goal') as any) || [];
    state.deptArr = deptData || [];
    state.goalArr = goalData || [];

    state.dept =
      deptData.length > 0
        ? deptData.map((item) => {
            return item.value;
          })
        : [];
    state.goal =
      goalData.length > 0
        ? goalData.map((item) => {
            return item.key;
          })
        : [];
    if (deptData.length > 0 && goalData.length > 0) {
      queryANALList();
    } else {
      if (deptData.length > 0) {
        queryDeptLogic(deptData);
      } else if (goalData.length > 0) {
        queryGoalHeader(goalData);
      }
    }
  };

  const queryANALList = async () => {
    gridOptions.loading = true;
    const params = {
      depts: state.deptArr.map((item) => {
        return {
          deptCode: item.value,
          deptName: item.label,
        };
      }),
      perfGoals: state.goalArr.map((item) => {
        return {
          perfGCode: item.value,
          perfGName: item.title,
          unit: item.unit,
        };
      }),
      quarter: state.quarterPeriod,
      yearPeriod: props.year,
    };
    const { data } = await queryANALApi(params);

    if (data.success) {
      gridOptions.columns.length = 1;
      const goalHeader = data.data.aggrHeads.map((item) => {
        return {
          field: item.field,
          title: `${item.title}(${item.unit})`,
          width: 180,
          // formatter: ({ cellValue }) => {
          //   if (cellValue?.qActualValue || cellValue?.qGoalValue) {
          //     return `${cellValue?.qActualValue || ''} / ${cellValue?.qGoalValue || ''}`;
          //   }
          // },
          slots: {
            // 使用渲染函数
            default: ({ row, column }) => {
              const field = column.field;
              if (row[field]?.qActualValue || row[field]?.qGoalValue) {
                return [
                  <div>
                    <div style="border-bottom: 1px solid #eee;">
                      {row[field]?.qActualValue || ''}
                    </div>
                    <div>{row[field]?.qGoalValue || ''}</div>
                  </div>,
                ];
              }
            },
          },
        };
      });
      gridOptions.columns.splice(1, 0, ...goalHeader);
      gridOptions.data = data.data.values;
    } else {
      message.error(data.message);
    }
    gridOptions.loading = false;
  };

  onMounted(() => {
    queryDept();
    queryIndicator();
    CalculateQuarters();
    renderData();
  });
</script>
<style lang="less" scoped>
  .ant-select-selection-item,
  .ant-select-selection-placeholder {
    white-space: normal; /* 取消省略 */
    overflow: hidden; /* 防止溢出 */
    text-overflow: ellipsis; /* 显示省略号 */
  }
</style>
